<template>
  <el-dialog class="none-title" width="460px" :visible.sync="showDialog" @close="cancelDialog">
    <div class="finish-content common-content">
      <div v-if="askPici" class="div-form">
        <el-row>
          <span class="title">询价名称</span>
          <span>{{askPici.piciName}}</span>
        </el-row>
        <el-row>
          <span class="title">总共耗时</span>
          <span>{{askPici.expendTime}}</span>
        </el-row>
        <el-row>
          <span class="title">询价材料</span>
          <span>{{askPici.askMatCount || 0}}条</span>
        </el-row>
        <el-row>
          <span class="title">报价总数</span>
          <span>{{askPici.commentCount || 0}}条</span>
        </el-row>
        <el-row>
          <span class="title">实际消耗</span>
          <span>{{askPici.payFee || 0}}条</span>
        </el-row>
        <el-row>
          <span class="title">退回条数</span>
          <span>{{askPici.returnFee || 0}}条</span>
        </el-row>
      </div>
      <span class="tip-span yellow">你确认完成本批次的询价吗？</span>
      <div class="footer-btns mt-10">
        <el-button @click="cancelDialog" class="btn btn3"
          >取消</el-button
        >
        <el-button :loading="loading" class="btn" type="primary" @click="confirmComplete"
          >确定</el-button
        >
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  deductionInformation,
  confirmComplete
} from "@/api/inquiry";

export default {
  name: "InquiryFinishDialog",
  props: ['showFinishDialog', 'piciZjtId', 'askPici'],
  data() {
    return {
      loading: false,
      memberId: "", // 发布账号
      showDialog: false,
    };
  },
  mounted() {
    this.memberId = this.$route.query.memberId;
  },
  watch: {
    piciZjtId: {
      handler: function(id) {
        // if (id) this.deductionInformation();
      }
    },
    showFinishDialog: {
      deep: true,
      handler: function(show) {
        this.showDialog = show;
      }
    }
  },
  methods: {
    // 关闭弹窗
    cancelDialog() {
      this.$emit('update:showFinishDialog', false)
    },
    // 确认询价完成扣费信息展示
    deductionInformation() {
      deductionInformation({
        memberId: this.memberId,
        piciId: this.piciZjtId
      }).then(res => {
        if (res.code == '01') {
          this.askPici = res.body;
        }
      })
    },
    // 确认完成
    confirmComplete() {
      this.loading = true;
      confirmComplete({
        memberId: this.memberId,
        piciId: this.piciZjtId,
        status: 1,
      }).then(res => {
        if (res.code == '01') {
          this.cancelDialog();
          this.$message.success("确认询价完成成功！")
          this.$emit("refreshInfo")
        } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
        this.loading = false;
      }).catch(err => {
        this.$message({
          type: "error",
          message: err.message || "出错了",
        });
        this.loading = false;
      })
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../styles/variables.scss";
.finish-content {
  padding-top: 10px;
  .div-form {
    background: #f7f7f8;
    border-radius: 4px;
    padding-top: 15px;
    .el-row {
      text-align: left;
      padding: 0 22px 10px 22px;
      color: #000;
      .title {
        color: #999999;
        margin-right: 17px;
      }
    }
  }
  .tip-span {
      margin-top: 5px;
  }
}

.none-title {
  &::v-deep .el-dialog {
    border-radius: 4px;
  }

  &::v-deep .el-dialog__header {
    padding: 0;
    .el-dialog__headerbtn {
      top: 10px;
      right: 10px;
      font-size: 18px;
      .el-icon-close:before {
        color: #0b4375;
        font-weight: bold;
      }
    }
  }

  &::v-deep .el-dialog__body {
    border-radius: 4px;
  }

  .common-content {
    text-align: center;

    .btn {
      padding: 0;
      width: 112px;
      height: 34px;
      line-height: 34px;
      color: #ffffff !important;
      border-radius: 5px;
      font-size: 15px;
      font-family: "mainfont";
      font-weight: 500;
      margin: 0 10px;
      &:hover {
        border: 1px solid;
      }
    }
    .btn1 {
      background: $color-primary !important;
    }
    .btn3 {
      color: $color-primary !important;
      border-color: #3699ff !important;
      &:hover {
        background: #ffffff !important;
        box-shadow: 0px 1px 4px 0px #3699ff;
      }
    }
  }

  .red {
    color: #f13a3f;
  }
  .blue {
    color: #0a7dff;
  }
  .yellow {
    color: #ffaa31;
  }
}
</style>
