<template>
  <el-dialog
    class="none-title"
    width="460px"
    :lock-scroll="false"
    :append-to-body="true"
    @close="cancelDialog"
    :visible.sync="showDialog"
  >
    <div class="question-content common-content">
      <div class="div-form">
        <el-row>
          <span class="title">询价材料</span>
          <span>{{ materialName || "" }}</span>
        </el-row>
        <el-row class="row-flex">
          <span class="title">询价追问</span>
          <el-input
            type="textarea"
            :rows="4"
            maxlength="500"
            show-word-limit
            placeholder="输入框限制输入500个字符，超长限制输入"
            v-model="question"
          >
          </el-input>
        </el-row>
      </div>
      <div class="footer-btns mt-10">
        <el-button @click="cancelDialog" class="btn btn3">取消</el-button>
        <el-button
          :loading="loading"
          @click="batchQuotationInquiry"
          class="btn"
          type="primary"
          >确定</el-button
        >
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  batchQuotationInquiry,
} from "@/api/inquiry";
export default {
  name: "QuestioningDialog",
  props: ["showQuestionDialog", "materialName", "offerZjtId"],
  data() {
    return {
      loading: false,
      question: "",
      memberId: "", // 发布账号
      showDialog: false,
    };
  },
  mounted() {
    this.memberId = this.$route.query.memberId;
  },
  watch: {
    showQuestionDialog: {
      handler: function (show) {
        if (show) this.question = "";
        this.showDialog = show;
      }
    },
  },
  methods: {
    cancelDialog() {
      this.$emit("update:showQuestionDialog", false);
    },
    // 追问
    batchQuotationInquiry() {
      if (!this.question) {
        this.$message.warning("请输入需要询问的问题？");
        return;
      }
      this.loading = true;
      batchQuotationInquiry({
        context: this.question,
        memberId: this.memberId,
        offerId: this.offerZjtId,
      })
        .then((res) => {
          if (res.code == "01") {
            this.$message.success("追问成功！");
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
          this.cancelDialog();
          this.$emit("showSuccess");
          this.loading = false;
        })
        .catch((err) => {
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
          this.loading = false;
          this.cancelDialog();
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../../styles/variables.scss";
.question-content {
  padding-top: 10px;
  .div-form {
    // background: #f7f7f8;
    border-radius: 4px;
    padding-top: 15px;
    .row-flex {
      display: flex;
    }
    .el-row {
      text-align: left;
      padding: 0 22px 10px 22px;
      color: #000;
      .title {
        display: inline-block;
        min-width: 60px;
        color: #999999;
        margin-right: 17px;
      }
    }
  }
}
.none-title {
  &::v-deep .el-dialog {
    border-radius: 4px;
  }

  &::v-deep .el-dialog__header {
    padding: 0;
    .el-dialog__headerbtn {
      top: 10px;
      right: 10px;
      font-size: 18px;
      .el-icon-close:before {
        color: #0b4375;
        font-weight: bold;
      }
    }
  }

  &::v-deep .el-dialog__body {
    border-radius: 4px;
  }

  .common-content {
    text-align: center;

    .tip-span {
      font-size: 12px;
      display: inline-block;
      line-height: 30px;
    }
    .btn {
      padding: 0;
      width: 112px;
      height: 34px;
      line-height: 34px;
      color: #ffffff !important;
      border-radius: 5px;
      font-size: 15px;
      font-family: "mainfont";
      font-weight: 500;
      margin: 0 10px;
      &:hover {
        border: 1px solid;
      }
    }
    .btn1 {
      background: $color-primary !important;
    }
    .btn3 {
      color: $color-primary !important;
      border-color: #3699ff !important;
      &:hover {
        background: #ffffff !important;
        box-shadow: 0px 1px 4px 0px #3699ff;
      }
    }
  }

  .red {
    color: #f13a3f;
  }
  .blue {
    color: #0a7dff;
  }
  .yellow {
    color: #ffaa31;
  }
}
</style>