
<template>
  <div class="dashboard-container">
    <img class="top-bg" src="@/assets/img/bgg@2x.png" alt="">
    <div class="platform _flex">
      <div class="platform_item" @click="toCaiPlatform">
        <img src="@/assets/img/p1.png" alt="">
        <img class="shade" src="@/assets/img/sys_2.png" alt="">
        <p class="platform_title"> 材价<span>大数据</span> 平台</p>
      </div>
      <div class="platform_item" @click="toZiPlatform">
        <img src="@/assets/img/p2.png" alt="">
        <img class="shade" src="@/assets/img/sys_1.png" alt="">
        <p class="platform_title"> 房地产<span>成本分析</span> 系统</p>
      </div>
    </div>
  </div>
</template>

<script>
import { loginZiXun } from '@/apiList/LoginApi'
export default {
  data() {
    return {
      redirect: ''
    }
  },
  // watch: {
  //   $route: {
  //     handler: function(route) {
  //       console.log(route, 'cos')
  //       this.redirect = route.query && route.query.redirect
  //     },
  //     immediate: true
  //   }
  // },
  mounted() {
    // if (location.href.indexOf('#reloaded') === -1) {
    //   location.href = location.href + '#reloaded'
    //   location.reload()
    // }
  },
  methods: {
    // 跳转到采算编发系统
    toCaiPlatform() {
      this.$store.commit('user/SET_USER_FLAG', '1')
      sessionStorage.setItem('userFlag', '1')
      this.$router.push('/cs/dashboard')
    },
    // 跳转到咨询公司系统
    toZiPlatform() {
      loginZiXun({
        userAccount: 'superadmin',
        userPwd: '111111',
        verifyCode: 'consult_mpc'
      }).then(res => {
        console.log('xxxxxxxxx', res)
        if (res && res.code == '01') {
          window.location.href =
            'http://172.16.4.3:8020/materialManage/index?token=' +
            // 'http://19.121.250.124:8002/materialManage/index?token=' +
            res.body.token
        }
      })
    }
    //   // 跳转到咨询公司系统
    //   toZiPlatform() {
    //     // resetRouter() // 执行方法
    //     // const routeHistory = history.length - 1
    //     // this.$router.go(-routeHistory)
    //     // const backlen = window.history.length - 2
    //     // window.history.go(-backlen)
    //     // this.$router.replace('/inquiryManage', () => {
    //     //   window.location.reload()
    //     // })
    //     // console.log(history, 'history')
    //     // console.log(this.$route, 'this.$route')
    //     // console.log(this.$router, 'this.$router')
    //     // this.$store.commit('user/SET_ID', '')
    //     // sessionStorage.setItem('CURRENT_ENVORIPOMENT', 1002)
    //     // this.$store.commit('user/SET_USER_MENU', 'zixun')
    //     // sessionStorage.setItem('userMenu', 'zixun')
    //     this.$store.commit('user/SET_USER_FLAG', '2')
    //     sessionStorage.setItem('userFlag', '2')
    //     this.$router.push('/project')
    //   }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-container {
  background: #fff;
  min-height: 679px;
  width: 100%;

  .top-bg {
    width: 100%;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .platform {
    position: absolute;
    z-index: 7;
    left: 50%;
    top: 30%;
    // top: 240px;
    transform: translateX(-50%);

    .platform_item {
      position: relative;
      margin: 0 20px;
      img {
        z-index: 3;
        cursor: pointer;
      }
      &:hover {
        .shade {
          display: inline-block;
        }
      }
      .shade {
        display: none;
        position: absolute;
        bottom: -35px;
        left: -4%;
        z-index: -1;
      }
    }
    .platform_title {
      position: absolute;
      bottom: 33px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #f9f9f9;
      line-height: 30px;
      width: 100%;
      text-align: center;

      span {
        color: #ffdf7d;
        font-size: 24px;
      }
    }
  }
}
</style>
