<template>
  <div class="my-autocomplete">
    <el-autocomplete class="inline-input" ref="autocomplete" v-model="keyword" value-key="name" :fetch-suggestions="querySearchAsync" :placeholder="placeholders" @keyup.enter.native="searchFun"
      @select="handleSelect">
      <i class="el-icon-search" slot="suffix" @click="searchFun"></i>
    </el-autocomplete>
  </div>

</template>

<script>
import { nameSearchDropDownBox } from '@/api/common'
export default {
  name: 'searchs',
  props: {
    placeholders: {
      type: String,
      required: true
    },
    searchData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      keyword: '',
      keywordCopy: '', // 模糊搜索的字段
      accurate: '', // 精确搜索的字段
      restaurants: [],
      timeout: null
    }
  },
  methods: {
    // 搜索
    searchFun() {
      if (!this.accurate) {
        this.keywordCopy = this.keyword
      }
      if (!this.keyword) {
        this.keywordCopy = ''
        this.accurate = ''
      }
      this.$refs.autocomplete.suggestions = []
      this.$emit('searchFun', {
        keyword: this.keywordCopy,
        accurate: this.accurate
      })
    },
    querySearchAsync(queryString, cb) {
      this.accurate = ''
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        const params = {
          name: this.keyword, // 搜索参数
          engType: this.searchData.engType, // 工程类型
          projectType: this.searchData.projectType, // 项目类型
          specialtyType: this.searchData.specialtyType // 专业类型
        }
        nameSearchDropDownBox(params).then(res => {
          if (res.code === '01') {
            this.restaurants = res.body
            cb(res.body)
          }
        })
      }, 500)
    },
    handleSelect(item) {
      this.keywordCopy = ''
      this.accurate = item.name
    }
  }
}
</script>


<style lang="scss" scoped>
.my-autocomplete {
  margin-bottom: 22px;
}
.el-autocomplete {
  width: 281px;
  min-width: 281px;
  height: 36px;
}
/deep/.el-input__inner:focus {
  border: 1px solid rgba(12, 18, 56, 0.15);
}
/deep/.el-input__inner {
  border-radius: 20px;
  box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
}
/deep/.el-input__icon {
  line-height: 36px;
  cursor: pointer;
}
/deep/.el-input__suffix {
  color: #1789f2;
  font-size: 21px;
  cursor: pointer;
  line-height: 40px;
  padding-right: 20px;
}
</style>