<template>
  <el-dialog
      :title="titleText"
      :visible.sync="showDialog"
      width="460px"
      @close="cancelClick"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img v-if="dialogType == 'error'" src="@/assets/img/dialog/error.png" alt="">
      <img v-else src="@/assets/img/dialog/success.png" alt="">
          <p>{{contentText}}</p>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="confirmClick">确定</el-button>
      </span>
    </el-dialog>
</template>

<script>
export default {
    name: 'ComplateDialog',
    data() {
        return {
            showDialog: false,  // 控制弹窗是否显示的开关
        }
    },
    props: {
        isShow: {
            type: Boolean,
            default: false
        },
        titleText: {
            type: String,
            default: "操作提示"
        },
        contentText: {
            type: String,
            default: "操作成功"
        },
        dialogType: {
            type: String,
            default: "success"
        }
    },
    watch: {
        isShow(show) {
            this.showDialog = show;
        }
    },
    methods: {
        // 确认
        confirmClick() {
            this.showDialog = false;
            this.$emit('update:isShow', false);
        },
        // 取消/关闭
        cancelClick() {
            this.showDialog = false;
            this.$emit('update:isShow', false);
        }
    }
}
</script>

<style lang="scss" scoped>

</style>