<template>
  <div class="date-range-piceker flex-c">
    <!-- 日期范围选择器 -->
    <div class="com-time-search">
      <el-date-picker v-model="dateRange[0]" :class="{'hide-icon': dateRange[0]}" v-bind="$attrs" @change="changeValue" />
    </div>
    <span class="com-line" />
    <div class="com-time-search">
      <el-date-picker v-model="dateRange[1]" :class="{'hide-icon': dateRange[1]}" v-bind="$attrs" @change="changeValue" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'DateRangePiceker',
  model: {
    prop: 'dateValue',
    event: 'update:dateValue'
  },
  props: {
    dateValue: {
      type: Array,
      default: () => []
    },
    startDate: {
      type: [String, Object],
      default: null
    },
    endDate: {
      type: [String, Object],
      default: null
    }
  },
  data() {
    return {
      dateRange: []
    }
  },
  created() {
    this.dateRange = this.dateValue
    if (this.startDate) {
      this.dateRange[0] = this.startDate
    }
    if (this.endDate) {
      this.dateRange[1] = this.endDate
    }
  },
  methods: {
    changeValue() {
      if (this.dateRange[0] && this.dateRange[1]) {
        this.dateRange.sort()
      }

      this.$emit('update:dateValue', this.dateRange)
      this.$emit('update:startDate', this.dateRange[0])
      this.$emit('update:endDate', this.dateRange[1])
      this.$emit('change', this.dateRange)
    }
  }
}
</script>

<style lang="scss" scoped>
.com-time-search {
  /deep/.el-input__icon {
    line-height: 36px;
  }
}
.hide-icon {
  &:hover {
    /deep/.el-input__prefix {
      display: none;
    }
  }
}
</style>
