<template>
  <div class="comshare-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input class="search-ipt" placeholder="搜索关键字，如:规格、供应商、品牌" v-model="searchVal" @keyup.enter.native="currentPage=1;getShareMatDetailPageList();" />
          <i class="el-icon-search" @click="currentPage=1;getShareMatDetailPageList();"></i>
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">{{dates}}</li>
          </ul>
        </div>
      </div>
      <!-- 适用地区 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">{{cityName}}</li>
          </ul>
        </div>
      </div> -->
      <!-- 分享材料 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">分享材料</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">{{materialName}}</li>
          </ul>
        </div>
      </div>
      <!-- 国标分类 -->
      <div class="flex-fs norm-type" v-if="mystatus != '2'">
        <span class="com-label-text">国标分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
          <li class="active">{{subcName}}</li>
          </ul>
        </div>
      </div>
      <!-- 分享状态 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">分享状态</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">{{shareStatusNum == 1 ? '待提交' : shareStatusNum == 2 ? '待审核' : shareStatusNum == 3 ? '审核不通过' : '审核通过'}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap inquiry">
        <div class="flex-c" v-if="mystatus != '2'">
          <el-button type="primary" class="flex-cc btn" @click="getMatPricePageList">
            <img src="@/assets/img/table/add.png" alt="" class="el-icon-search">添加材价
          </el-button>
          <el-button class="flex-cc btn btn2" @click="toExamine">
            <img src="@/assets/img/table/sumbit_white.png" alt="" class="el-icon-search">提交审核
          </el-button>
          <!-- <el-button class="flex-cc btn btn3">
            <img src="@/assets/img/table/save.png" alt="" class="el-icon-search">保存
          </el-button> -->
          <el-button class="flex-cc btn btn-del" @click="delSomeMat">
            <img src="@/assets/img/table/del.png" alt="" class="el-icon-search">移除
          </el-button>
        </div>
        <div class="flex-c" v-else>
          <el-button type="primary" class="btn" @click="exportFile">
            <span class="flex-cc" style="width:100%;">
              <img src="@/assets/img/icons/export.png" alt="" class="el-icon-search">导出
            </span>
          </el-button>
          <el-button type="primary" class="btn btn2" @click="exportAllFile">
            <span class="flex-cc" style="width:100%;">
              <img src="@/assets/img/icons/export.png" alt="" class="el-icon-search">全部导出
            </span>
          </el-button>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="loading"
          class="table-main"
          style="width: 100%;"
          @selection-change="multipleSelection = $event">
          <el-table-column
            type="selection"
            width="66px">
          </el-table-column>
          <el-table-column
            label="规格"
            width="166px">
            <template slot-scope="scope">
              <span class="t-color wrap">{{scope.row.spec}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="unit"
            label="单位">
          </el-table-column>
          <el-table-column
            prop="priceType"
            label="价格类型">
          </el-table-column>
          <el-table-column
            label="品牌">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.brand || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="grade"
            label="档次">
          </el-table-column>
          <el-table-column
            label="供应商">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.supplier || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="供应商地区">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.supplierArea || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="price"
            label="材料价格">
          </el-table-column>
          <el-table-column
            label="是否含税">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.taxIncluded ? '是' : '否'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            width="160px"
            label="备注">
            <template slot-scope="scope">
              <span class="t-color r-hide">{{scope.row.remark || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="createTime"
            :label="mystatus == '1' ? '添加时间' : '最新更新时间'"
            width="170px">
          </el-table-column>
          <el-table-column
            label="操作"
            width="160px"
            v-if="mystatus != '2'">
            <template slot-scope="scope">
              <div class="flex-c icon-wrap" @click="delMat(scope.row)">
                <el-tooltip effect="light" content="移除" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="">
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 添加材价弹窗 -->
    <el-dialog
      title="添加材价"
      :visible.sync="showaddPriceDialog"
      :close-on-click-modal="false"
      width="1080px"
      class="com-dialog com-radio-wrap add-dialog my-dialog"
      @close="clearMat">
      <div class="flex-c top" style="padding-top: 10px">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input class="search-ipt" placeholder="搜索关键字，如:规格、供应商、品牌" v-model="searchMatVal" @keyup.enter.native="currentPage2=1;getMatPricePageList()" />
          <i class="el-icon-search" @click="currentPage2=1;getMatPricePageList()"></i>
        </div>
      </div>
      <!-- 材价来源 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">材价来源</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: shareStatus === null}" @click="changeCurSharePlat(null)">全部</li>
            <li
              :class="{active: shareStatus == item.dictCode}"
              v-for="(item, index) in curshareList"
              :key="index"
              @click="changeCurSharePlat(item.dictCode)">
              {{item.dictName}}
            </li>
          </ul>
        </div>
      </div>
      <!-- 材价类型 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">材价类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: typeStatus === null}" @click="changeCurTypePlat(null)">全部</li>
            <li
              :class="{active: typeStatus == item.dictCode}"
              v-for="(item, index) in curtypeList"
              :key="index"
              @click="changeCurTypePlat(item.dictCode)">
              {{item.dictName}}
            </li>
          </ul>
        </div>
      </div>
      <el-table
        ref="multipleTable"
        :data="tableData2"
        tooltip-effect="light"
        v-loading="martableloading"
        class="table-main"
        max-height="400"
        style="width: 100%;"
        @selection-change="multipleSelection2 = $event"
        @filter-change="filterChange">
        <el-table-column
          type="selection"
          width="66px">
        </el-table-column>
        <el-table-column
          label="规格"
          width="166px">
          <template slot-scope="scope">
            <span class="t-color wrap">{{scope.row.spec}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="unit"
          label="单位">
        </el-table-column>
        <el-table-column
          prop="matTypeStr"
          label="价格类型">
        </el-table-column>
        <el-table-column
          label="品牌">
          <template slot-scope="scope">
            <span class="t-color">{{scope.row.brand || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="档次"
          prop="grade"
          :filter-multiple="false"
          column-key="grade"
          :filters="filterStatus"
          label-class-name="labeltip">
        </el-table-column>
        <el-table-column
          label="供应商">
          <template slot-scope="scope">
            <span class="t-color">{{scope.row.supplier || '--'}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="供应商地区"
          width="110px">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.supplierArea || '--'}}</span>
            </template>
        </el-table-column>
        <el-table-column
          width="110px"
          prop="price"
          label="材料价格(元)">
        </el-table-column>
        <el-table-column
          prop="remark"
          label="备注">
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="flex-csb com-pages-wrap">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select v-model="pageSize2" placeholder="请选择" @change="handleCurrentChange2(1)">
              <el-option
                v-for="(item, index) in pageSizeList2"
                :key="index"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{totalCount2}}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination
            background
            @current-change="handleCurrentChange2"
            :current-page.sync="currentPage2"
            :page-size="pageSize2"
            layout="prev, pager, next, jumper"
            :total="totalCount2">
          </el-pagination>
          <div class="com-page-btn">确定</div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showaddPriceDialog = false">取消</el-button>
        <el-button type="primary" :loading="showaddPriceLoading" @click="addMat">添加</el-button>
      </span>
    </el-dialog>
    <!-- 删除材价弹窗 -->
    <el-dialog
      title="移除"
      :visible.sync="showDelDialog"
      width="460px"
      @close="delid = ''"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p>{{delText}}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delloading" @click="confirmDelMat">确定</el-button>
      </span>
    </el-dialog>
    <!-- 提交审核/导出弹窗 -->
    <el-dialog
      :title="showexStatus==1 ? '提交审核':exportStatus==1?'导出':'全部导出'"
      :visible.sync="showexDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p>{{tipText}}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showexDialog = false">取消</el-button>
        <el-button type="primary" :loading="exloading" @click="confirm">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getMatPricePageList,
} from '@/api/material'
import {
  getShareMatDetailPageList,
  addShareMatDetail,
  delShareMatDetail,
  submitAudit,
  getMatShareDetail,
  exportShareDetail,
} from '@/api/share'
import {
  getDictList,
} from '@/api/common'
export default {
  props: ['status'],                                  // 1添加 2详情 3编辑
  data() {
    return {
      item: null,                                     // 分享信息
      cityName: '',
      materialName: '',
      dates: '',
      subcName: '',
      shareStatusNum: '',
      searchVal: '',                                  // 搜索关键字
      currentPage: 1,                                 // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      tableData: [],                                  // 表格数据
      loading: false,                                 // loading
      showaddPriceDialog: false,                      // 显示添加材价弹窗
      tableData2: [],                                 // 添加材价表格数据
      martableloading: false,                         // 添加材价表格加载数据loading
      searchMatVal: '',                               // 材价搜索关键字
      shareStatus: null,                              // 选中的材价来源
      curshareList: [],                               // 分享平台列表(材价来源)
      typeStatus: null,                               // 选中的材价类型
      curtypeList: [],                                // 材价类型列表
      showaddPriceLoading: false,                     // 添加材价调接口loading
      currentPage2: 1,
      pageSize2: 10,
      totalCount2: 0,
      pageSizeList2: [10, 20, 30, 40, 50, 100],
      levelStatus: '',
      filterStatus: [{text: '一般', value: '一般'},{text: '中档', value: '中档'},{text: '中高档', value: '中高档'},{text: '高档', value: '高档'}],
      multipleSelection: [],                          // 已选中的表单项
      multipleSelection2: [],                         // 已选中的表单项（添加材价弹窗）
      showDelDialog: false,                           // 显示删除材价弹窗
      delloading: false,                              // 删除材价弹窗loading
      delid: '',                                      // 删除材价的id（单条）
      delText: '',                                    // 删除弹窗提示文字
      showexDialog: false,                            // 显示提交审核/导出材价弹窗
      tipText: '',                                    // 提示文字
      exloading: false,
      showexStatus: '',                               // 公用弹窗状态 1审核 2导出
      mystatus: this.status,
      ids: [],
      exportStatus: '',                               // 导出类型 1导出 2全部导出
    }
  },

  mounted() {
    try {
      let item = JSON.parse(sessionStorage.getItem('share_item'))
      this.cityName = item.applicableProvince+' '+item.applicableCity
      this.dates = item.applicableDate
      this.materialName = item.materialName
      this.subcName = item.subcName
      this.shareStatusNum = item.shareStatus
      this.item = item
      if(item.mystatus) this.mystatus = item.mystatus
    } catch(err) {
      this.item = {}
    }
    this.getDictList() // 材价来源/类型
    setTimeout(()=>{
      this.getShareMatDetailPageList()
    },500)
  },

  methods: {
    // 获取分享材料详情列表
    getShareMatDetailPageList() {
      let data = {
        shareId: this.item.id,
        pageSize: this.pageSize,
        currentPage: this.currentPage,
        keyword: this.searchVal ? this.searchVal : null
      }
      getShareMatDetailPageList(data).then(res => {
        if (res.code === '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        }
      })
    },

    // 获取(材价)类型列表 来源/类型
    getDictList() {
      let params = {
        dictType: 'MAT_SOURCE_TYPE'
      }
      getDictList(params).then(res => {
        this.curshareList = res.body || []
      })
      let params2 = {
        dictType: 'MAT_TYPE'
      }
      getDictList(params2).then(res => {
        this.curtypeList = res.body
      })
    },

    // 筛选分享平台(材价来源)
    changeCurSharePlat(code) {
      this.shareStatus = code
      this.currentPage2 = 1
      this.getMatPricePageList()
    },

    // 筛选材价类型
    changeCurTypePlat(code) {
      this.typeStatus = code
      this.currentPage2 = 1
      this.getMatPricePageList()
    },

    // 材价列表（添加材价时）
    getMatPricePageList() {
      this.martableloading = true
      this.showaddPriceDialog = true
      var year = this.dates.split('年')[0]
      var month = this.dates.split('年')[1].split('月')[0]
      var applicableDate = new Date(year,month-1)
      var item = this.item
      let data = {
        isYear: this.month ? '0' : '1', // 是否单纯年
        currentPage: this.currentPage2,
        pageSize: this.pageSize2,
        applicableDate: applicableDate, // 适用时间(必填)
        isFormat: true, // 是否标准化数据
        keyword: this.searchMatVal ? this.searchMatVal : null,
        matSourceCode: this.shareStatus ? this.shareStatus : null,  // 材价来源
        matTypeCode: this.typeStatus ? this.typeStatus : null,  // 材价类型
        subcid: item.subcid,
        grade: this.levelStatus ? this.levelStatus : null,
        applicableProvince: item.applicableProvince,
        applicableCity: item.applicableCity,
        materialName: item.materialName

      }
      getMatPricePageList(data).then(res => {
        this.martableloading = false
        if (res.code === '01') {
        this.tableData2 = res.body.list
        this.totalCount2 = res.body.totalCount
        } else {
          this.$message({
            type: 'error',
            message: res.message || '出错了'
          })
        }
      }).catch(err => {
        this.martableloading = false
        this.$message({
          type: 'error',
          message: err.message || '出错了'
        })
      })
    },

    // 提交添加材价接口
    addMat() {
      if (this.multipleSelection2.length == 0) {
        this.openAlert()
        return
      }

      let ids = []
      for (var i = 0; i < this.multipleSelection2.length; i++) {
        ids.push(this.multipleSelection2[i].id)
      }

      let data = {
        matIds: ids,
        shareId: this.item.id
      }
      this.showaddPriceLoading = true
      addShareMatDetail(data).then(res => {
          this.showaddPriceLoading = false
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showaddPriceDialog = false
            this.currentPage = 1
            this.getShareMatDetailPageList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        }).catch(err => {
          this.showaddPriceLoading = false
          this.$message({
            type: 'error',
            message: err.message
          })
        })
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 关闭添加材价弹窗清除信息
    clearMat() {
      this.currentPage2 = 1
      this.searchMatVal = ''
      this.shareStatus = null
      this.typeStatus = null
      this.levelStatus = null
    },

    // 添加材价时筛选表头档次
    filterChange(filters){
      this.levelStatus = filters.grade[0] || null
      this.getMatPricePageList()
    },

    // 切换分页(分享详情)
    handleCurrentChange(val) {
      this.currentPage = val
      this.getShareMatDetailPageList()
    },

    // 切换分页（材价列表）
    handleCurrentChange2(val) {
      this.currentPage2 = val
      this.getMatPricePageList()
    },

    // 移除分享材料详情（单条）
    delMat(item) {
      this.delText = '你确定要移除这条材价吗？'
      this.showDelDialog = true
      this.delid = item.id
    },

    // 移除分享材料详情（批量）
    delSomeMat() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.delText = '你确定要移除勾选的材价吗？'
      this.showDelDialog = true
    },

    // 提交接口 移除分享材料详情
    confirmDelMat() {
      this.delloading = true
      var ids
      if(!this.delid) {
        ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        ids = ids.join(',')
      } else {
        ids = this.delid
      }
      let data = {
        shareDetailIds: ids,
        shareId: this.item.id
      }
      delShareMatDetail(data).then(res => {
        this.delloading = false
        if(res.code === '01') {
          this.$message({
            type: 'success',
            message: res.message || '移除成功！'
          })
          this.currentPage = 1
          setTimeout(() => {
            this.getShareMatDetailPageList()
          },300)
          this.showDelDialog = false
        } else {
          this.$message({
            type: 'error',
            message: res.message || '移除失败！'
          })
        }
      }).catch(err=>{
        this.delloading = false
        this.$message({
          type: 'error',
          message: err.message || '出错了！'
        })
      })
    },

    // 提交审核弹窗
    toExamine() {
      this.tipText = '你确定要提交审核吗？'
      this.showexDialog = true
      this.showexStatus = 1
    },

    // 调接口（提交审核/导出）
    confirm() {
      this.exloading = true
      if(this.showexStatus == 1) {// 提交审核
        let params = {
          shareId: this.item.id
        }
        submitAudit(params).then(res => {
          this.exloading = false
          if(res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message || '提交成功！'
            })
            setTimeout(() => {
              this.getMatShareDetail()
              this.currentPage = 1
              this.getShareMatDetailPageList()
            },300)
            this.showexDialog = false
          } else {
            this.$message({
              type: 'error',
              message: res.message || '提交失败！'
            })
          }
        }).catch(err=>{
          this.exloading = false
          this.$message({
            type: 'error',
            message: err.message || '出错了！'
          })
        })
      } else if(this.showexStatus == 2) {// 导出
        var ids = []
        if(this.exportStatus == 1 ) { // 批量导出
          for (var i = 0; i < this.multipleSelection.length; i++) {
            ids.push(this.multipleSelection[i].id)
          }
        } else if(this.exportStatus == 2 ) { // 全部导出
          ids = null
        }
        let data = {
          shareId: this.item.id,
          ids: ids
        }
        exportShareDetail(data).then(res => {
          this.exloading = false
          this.showexDialog = false
          this.$message({
            type: 'success',
            message: res.message || '导出成功！'
          })
          // ie11文件下载兼容
          if(navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '分享详情.xls')
            return
          }
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {
          }
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement('a');
            let _fileName = sessionStorage.getItem('blob_filename') || '分享详情.xls';
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem('blob_filename')
          }
        }).catch(err => {
          this.exloading = false
          this.$message({
            type: 'error',
            message: err.message || '导出失败！'
          })
        })
      }
    },

    // 查询分享材料详情（刷新顶部信息，改缓存）
    getMatShareDetail() {
      let params = {
        shareId: this.item.id
      }
      getMatShareDetail(params).then(res => {
        if(res.code === '01') {
          let item = res.body
          this.cityName = item.applicableProvince+' '+item.applicableCity
          this.dates = item.applicableDate
          this.materialName = item.materialName
          this.subcName = item.subcName
          this.shareStatusNum = item.shareStatus
          this.mystatus = item.shareStatus == 1 ? 1 : 2
          item.mystatus = this.mystatus
          sessionStorage.setItem('share_item', JSON.stringify(item))
          this.item = item
        }
      })
    },

    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
          this.openAlert()
          return
      }
      this.tipText = '你确定要导出勾选的材价吗？'
      this.showexDialog = true
      this.showexStatus = 2
      this.exportStatus = 1
    },

    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      this.tipText = '你确定要导出全部材价吗？'
      this.showexDialog = true
      this.showexStatus = 2
      this.exportStatus = 2
    },
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/variables.scss';
  .comshare-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F6F6F6;
    .screen{
      padding: 0 21px 5px;
      background: #ffffff;
    }
      .custom-type,
      .norm-type {
        > span {
          margin-right: 15px;
          white-space: nowrap;
        }
        .t-wrap {
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          .no-item {
            margin-bottom: 18px;
            color: $color-minor;
            font-size: 14px;
          }
          ul {
            margin-bottom: 10px;
            &.all-list {
              padding: 5px 12px;
              background: #F3F3F4;
              box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
              border-radius: 5px;
              li {
                padding-top: 8px;
                padding-bottom: 8px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            li {
              padding-bottom: 8px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
        .el-icon-arrow-up {
          font-size: 16px;
          font-weight: bold;
          &.is-rotate {
            transform: rotate(180deg);
          }
        }
        .is-fold {
          height: 50px;
          overflow-y: hidden;
        }
      }
    // 表格
    .detail-table{
      margin-top: 18px;
      padding-bottom: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #ffffff;
      .inquiry{
        background: #FCFCFD;
        .right-btns{
          color: #333333;
          font-size: 16px;
          >div{
            cursor: pointer;
            margin-left: 31px;
            font-family: 'mainfont';
            white-space: nowrap;
            .icons{
              margin-right: 4px;
            }
            .imgs{
              width: 14px;
              height: 14px;
              margin-right: 6px;
              margin-left: 16px;
            }
          }
        }
        .tips{
          width: 23px;
          height: 23px;
          margin: 0 20px 6px 8px;
        }
        .btn{
          width: 112px;
          height: 34px;
          color: #ffffff !important;
          border-radius: 5px;
          font-size: 15px;
          font-family: 'mainfont';
          font-weight: 500;
          &:hover{
            border: 1px solid;
          }
          .el-icon-search{
            margin-right: 5px;
          }
        }
        .btn2{
          background: $color-minor;
          border-color: $color-minor;
          box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        }
        .btn3{
          width: 82px;
          color: $color-primary !important;
          border-color: #3699FF !important;
          &:hover{
            background: #ffffff !important;
            box-shadow: 0px 1px 4px 0px #3699FF;
          }
        }
        .btn-del{
          width: 82px;
          color: #F13A3F !important;
          border-color: #F13A3F;
          &:hover{
            box-shadow: 0px 1px 4px 0px #F13A3F;
            background: #ffffff !important;
          }
        }
      }
      .table-box{
        width: 100%;
        padding-bottom: 30px;
        .mode-name {
            cursor: pointer;
            color: $color-primary;
        }
        .t-color{
          font-weight: 400;
          color: $table-color;
        }
        .yes{
          color: $color-primary;
        }
        .no{
          color: $color-danger;
        }
        .pass{
          color: #1EB645;
        }
        .wrap{
          width: 166px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .mode-name {
            cursor: pointer;
            color: $color-primary;
              text-align: left;
            >div{
              min-width: 100px;
            }
        }
        .faster-img{
          width: 18px;
          height: 18px;
          margin-left: 5px;
        }
        .files{
          max-width: 65%;
          min-width: 380px;
          .file-box{
            width: 100%;
            flex-wrap: wrap;
            .fileitem{
              margin-right: 6px;
              margin-bottom: 4px;
              .file-img{
                width: 21px;
                height: 20px;
              }
              .file-name{
                margin: 0 25px 0 7px;
                width: 81px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
                font-family: 'mainfont';
              }
            }
          }
        }
      }
    }
  }
</style>

<style lang="scss">
  .comshare-container{
    .flex-cw{
      border-bottom: none;
    }
    .add-dialog{
      .el-dialog__header{
        background: #ffffff;
      }
      .el-dialog__body {
        padding: 15px 30px 30px;
      }
      .labeltip{
        // display: flex;
        // align-items: center;
        .el-table__column-filter-trigger{
          line-height: 1;
          .el-icon-arrow-down{
            font-size: 13px;
            margin-left: 2px;
            font-weight: bold;
            transform: scale(1)
          }
        }
      }
    }
    .com-label-text{
      padding: 2px 0;
    }
    .is-fold{
      border-bottom: none;
    }
    .top{
      padding: 20px 0;
      .com-search2{
        width: 420px;
        .el-input__inner{
          width: 380px;
        }
      }
    }
    .inquiry{
      .btn{
        >span{
          display: flex;
          align-items: center;
        }
      }
    }
    .table-box{
      .icon-wrap{
        .icons{
          cursor: pointer;
          margin-right: 15px;
        }
      }
    }
  }
</style>
