<template>
  <div class="material-container">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>材价管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/materialManage/index' }"
            >材价库</el-breadcrumb-item
          >
          <el-breadcrumb-item
            ><span class="active">相同材价</span></el-breadcrumb-item
          ></el-breadcrumb
        >
      </div>
    </div>

    <!-- 顶部筛选 -->
    <div class="screen">
      <p class="flex-c s-title">
        <img class="icons" src="@/assets/img/icons/type.png" alt="" />{{
          cjItem.name
        }}
      </p>
      <div class="desc flex-c">
        <div>
          <span class="left">标准名称:</span
          ><span>{{ cjItem.stdName || "--" }}，</span>
        </div>
        <div>
          <span class="left">标准规格:</span
          ><span>{{ cjItem.features || "--" }}，</span>
        </div>
        <div>
          <span class="left">单位:</span
          ><span>{{ cjItem.unit || "--" }}，</span>
        </div>
        <div>
          <span class="left">编码:</span><span>{{ cjItem.zcode || "--" }}</span>
        </div>
      </div>

      <!-- 数据类型 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">数据类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">
              {{ cjItem.isFormat ? "标准化数据" : "非标准化数据" }}
            </li>
          </ul>
        </div>
      </div>

      <!-- 材价来源 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">材价来源</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: shareStatus === null }"
              @click="changeCurSharePlat(null)"
            >
              全部
            </li>
            <li
              :class="{ active: shareStatus == item.dictCode }"
              v-for="(item, index) in curshareList"
              :key="index"
              @click="changeCurSharePlat(item.dictCode)"
            >
              {{ item.dictName }}
            </li>
          </ul>
        </div>
      </div>
      <!-- 材价类型 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">材价类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: typeStatus === null }"
              @click="changeCurTypePlat(null)"
            >
              全部
            </li>
            <li
              :class="{ active: typeStatus == item.dictCode }"
              v-for="(item, index) in curtypeList"
              :key="index"
              @click="changeCurTypePlat(item.dictCode)"
            >
              {{ item.dictName }}
            </li>
          </ul>
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="s-text com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList.length > 0">
            <li
              :class="{ active: curTime == year }"
              v-for="(year, index) in curTimeList"
              :key="index"
              @click="changeCurTime(year)"
            >
              {{ year }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList.length > 0">
            <li
              :class="{ active: curTimeItem === '' }"
              @click="changeCurTimeItem('')"
            >
              全部
            </li>
            <li
              :class="{ active: curTimeItem == month }"
              v-for="(month, index) in curTimeItemList"
              :key="index"
              @click="changeCurTimeItem(month)"
            >
              {{ month }}月
            </li>
          </ul>
        </div>
      </div>

      <!-- 搜索 -->
      <div class="flex-c top">
        <el-select v-model="searchtype" class="select-remark">
          <el-option
            v-for="item in srarchTypeList"
            :key="item"
            :label="item"
            :value="item"
          >
          </el-option>
        </el-select>
        <div class="com-search2">
          <el-input
            class="search-ipt"
            :placeholder="
              searchtype == '名称规格'
                ? '请输入材料原名称、规格等关键字搜索'
                : '请输入账号、姓名等关键字搜索'
            "
            v-model="searchVal"
            @keyup.enter.native="
              currentPage = 1;
              getMatPricePageList();
            "
          />
          <i
            class="el-icon-search"
            @click="
              currentPage = 1;
              getMatPricePageList();
            "
          ></i>
        </div>
      </div>

      <!-- 返回按钮 -->
      <div class="back-btn flex-cc" @click="back">返回</div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="reStandardAll">
            <img
              src="@/assets/img/table/refresh_white.png"
              alt=""
              class="el-icon-search"
            />重新标准化
          </el-button>

          <!-- czhui -->
          <!-- <el-button class="flex-cc btn btn3" @click="shareSomeMaterial">
            <img
              src="@/assets/img/table/share.png"
              alt=""
              class="el-icon-search"
            />分享材价
          </el-button>
          <el-button class="flex-cc btn btn3" @click="shareAllMaterial">
            <img
              src="@/assets/img/table/share.png"
              alt=""
              class="el-icon-search"
            />全部分享
          </el-button> -->

          <el-button class="flex-cc btn btn-del" @click="delSomeMaterial">
            <img
              src="@/assets/img/table/del.png"
              alt=""
              class="el-icon-search"
            />删除
          </el-button>
        </div>
        <div class="flex-c right-btns">
          <div class="flex-c mr-26" @click="exportFile">
            <img src="@/assets/img/table/export.png" alt="" class="imgs mr-4" />
            <span>导出</span>
          </div>
          <div class="flex-c" @click="exportAllFile">
            <img src="@/assets/img/table/export.png" alt="" class="imgs mr-4" />
            <span>全部导出</span>
          </div>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" width="66px"> </el-table-column>
          <el-table-column prop="brand" label="品牌"> </el-table-column>
          <el-table-column prop="supplier" label="供应商"> </el-table-column>
          <el-table-column label="供应商地区">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.supplierArea || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="数据类型">
            <template slot-scope="scope">
              <span v-if="scope.row.isFormat">标准化数据</span>
              <span v-else>非标准化数据</span>
            </template>
          </el-table-column>
          <el-table-column label="是否含税">
            <template slot-scope="scope">
              <span class="t-color">{{
                scope.row.taxIncluded ? "是" : "否"
              }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="matSourceStr" label="材价来源">
          </el-table-column>
          <el-table-column prop="matTypeStr" label="价格类型">
          </el-table-column>
          <el-table-column prop="price" label="价格（元）"> </el-table-column>
          <el-table-column label="项目">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.projectName || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="150px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <!-- czhui -->
                <!-- <el-tooltip effect="light" content="分享材价" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/shares.png"
                    alt=""
                    @click="shareMaterial(scope.row)"
                  />
                </el-tooltip> -->

                <el-tooltip effect="light" content="编辑材价" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/edits.png"
                    alt=""
                    @click="editMaterial(scope.row)"
                  />
                </el-tooltip>
                <el-tooltip effect="light" content="重新标准化" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/refreshs.png"
                    alt=""
                    @click="reSomeStandard(scope.row)"
                  />
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/dels.png"
                    alt=""
                    @click="delMaterial(scope.row)"
                  />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 分享材价弹窗 -->
    <el-dialog
      title="分享材价"
      :visible.sync="showShareDialog"
      width="460px"
      @close="shareid = ''"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <img src="@/assets/img/dialog/error.png" alt="" v-if="shareStutus == 3" />
      <img
        src="@/assets/img/dialog/success.png"
        alt=""
        v-else-if="shareStutus == 4"
      />
      <img src="@/assets/img/dialog/confirm.png" alt="" v-else />
      <p v-if="shareStutus == 3">{{ shareErr }}</p>
      <p v-else-if="shareStutus == 4">{{ shareSuccess }}</p>
      <p v-else>{{ shareText }}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showShareDialog = false" v-if="shareStutus != 4"
          >取消</el-button
        >
        <el-button @click="$router.push('/shareManage/index')" v-else
          >去查看</el-button
        >
        <el-button
          type="primary"
          :loading="shareloading"
          @click="confirmShareMaterial"
          >确定</el-button
        >
      </span>
    </el-dialog>

    <!-- 删除材价弹窗 -->
    <el-dialog
      title="删除"
      :visible.sync="showDelDialog"
      width="460px"
      @close="delid = ''"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <img src="@/assets/img/dialog/confirm.png" alt="" />
      <p>{{ delText }}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button
          type="primary"
          :loading="delloading"
          @click="confirmDelMaterial"
          >确定</el-button
        >
      </span>
    </el-dialog>

    <!-- 重新标准化询问弹窗 -->
    <el-dialog
      title="重新标准化"
      :visible.sync="showRestandDialog"
      width="668px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <img src="@/assets/img/dialog/restand.png" alt="" />
      <p>你确定要标准化材价吗？</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showRestandDialog = false">取消</el-button>
        <el-button type="primary" :loading="delloading" @click="toRestand"
          >确定</el-button
        >
      </span>
    </el-dialog>

    <!-- 重新标准化弹窗 -->
    <el-dialog
      title="重新标准化"
      :visible.sync="toRestandDialog"
      width="460px"
      class="com-dialog my-dialog redialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="loading-box" v-if="reStandStatus == 1">
        <img src="@/assets/img/dialog/loading1.png" alt="" class="img" />
        <img src="@/assets/img/dialog/loading2.png" alt="" class="img2" />
      </div>
      <p class="blue-tips" v-if="reStandStatus == 1">正在标准化...</p>
      <img
        src="@/assets/img/dialog/success.png"
        alt=""
        v-if="reStandStatus == 2"
      />
      <img
        src="@/assets/img/dialog/error.png"
        alt=""
        v-if="reStandStatus == 3"
      />
      <p v-if="reStandStatus == 2">
        标准化成功<span class="success">{{ successCount }}</span
        >条，失败<span class="error">{{ failCount }}</span> 条
      </p>
      <p v-if="reStandStatus == 3">{{ errmsg }}</p>
      <span slot="footer" class="dialog-footer" v-if="reStandStatus != 1">
        <el-button
          @click="downloadErrorList"
          :loading="downloadKeyLoading"
          v-if="reStandStatus == 2 && failCount > 0"
          >下载失败清单</el-button
        >
        <el-button @click="toRestandDialog = false" v-if="reStandStatus == 3"
          >取消</el-button
        >
        <el-button
          type="primary"
          :loading="delloading"
          @click="toRestandDialog = false"
          >确定</el-button
        >
      </span>
    </el-dialog>

    <!-- 编辑材价弹窗 -->
    <el-dialog
      title="编辑材价"
      :visible.sync="showEditDialog"
      width="460px"
      class="com-dialog remark-dialog editidalog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="com-dialog com-checkbox">
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价名称</span>
          <el-input v-model="materialName" placeholder="请输入材价名称" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价规格</span>
          <el-input v-model="materialSpecs" placeholder="请输入材价规格" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价单位</span>
          <el-input v-model="materialUnit" placeholder="请输入材价单位" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">品牌</span>
          <el-input v-model="materialBrande" placeholder="请输入品牌" />
        </div>
        <div class="flex-c mb-20 grade-area">
          <span class="label-text ipt-text">档次</span>
          <el-select v-model="gradeModel" placeholder="请选择档次">
            <el-option
              v-for="item in gradeList"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">供应商</span>
          <el-input v-model="materialSupplier" placeholder="请输入供应商" />
        </div>
        <div class="flex-c mb-20 ipt-area">
          <span class="label-text ipt-text">供应商地区</span>
          <el-select
            v-model="provinceId"
            placeholder="--- 省 ---"
            @change="changeProvince($event)"
          >
            <el-option
              v-for="item in provinceList"
              :key="item.name"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
          <el-select
            style="margin: 0 10px"
            v-model="cityId"
            placeholder="--- 市 ---"
            @change="changeCity($event)"
          >
            <el-option
              v-for="item in cityList"
              :key="item.name"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </div>
        <!-- <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>适用地区</span>
            <span class="show-text">{{applicableProvince ? applicableProvince + '·' + applicableCity : '--'}}</span>
          </div> -->
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">适用时间</span>
          <span class="show-text">{{ applicableDate }}</span>
        </div>
        <div class="flex-c mb-20 ipt-price">
          <span class="label-text ipt-text">是否含税</span>
          <span>
            <el-radio v-model="taxIncluded" :label="true">含税</el-radio>
            <el-radio v-model="taxIncluded" :label="false">除税</el-radio>
          </span>
        </div>
        <div class="flex-c mb-20 ipt-price">
          <span class="label-text ipt-text"><span>*</span>材料价格</span>
          <el-input
            v-model="materialPrice"
            @input="checkPrice($event)"
            placeholder="请输入材料价格"
          >
            <template slot="append">￥</template>
          </el-input>
        </div>
        <div class="flex-c">
          <span class="ipt-text">备注</span>
          <span>
            <el-input
              type="textarea"
              resize="none"
              rows="10"
              maxlength="300"
              show-word-limit
              v-model="materialRemarks"
            ></el-input>
            <!-- <div class="ta-right">
              <span v-if="materialRemarks">{{ materialRemarks.length }}</span
              ><span v-else>0</span>/300
            </div> -->
          </span>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEditDialog = false">取消</el-button>
        <el-button
          type="primary"
          @click="submitMaterial"
          :loading="submitLoading"
          >确定</el-button
        >
      </span>
    </el-dialog>

    <!-- 添加材价弹窗 -->
    <el-dialog
      :title="isCustomize ? '添加自定义材价' : '添加材价'"
      :visible.sync="showAddMaterial"
      width="460px"
      class="com-dialog remark-dialog editidalog addDialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="com-dialog com-checkbox">
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">项目名称</span>
          <el-input v-model="projectName" placeholder="请输入项目名称" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价类型</span>
          <el-select v-model="curDialogType" placeholder="请选择">
            <el-option
              v-for="item in curtypeList"
              :key="item.dictCode"
              :label="item.dictName"
              :value="item.dictCode"
            >
            </el-option>
          </el-select>
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价来源</span>
          <el-select v-model="curDialogSource" placeholder="请选择">
            <el-option
              v-for="item in curshareList"
              :key="item.dictCode"
              :label="item.dictName"
              :value="item.dictCode"
            >
            </el-option>
          </el-select>
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>适用时间</span>
          <div class="sel-time">
            <el-date-picker
              v-model="validStartDate"
              type="month"
              placeholder="请选择年月"
            >
            </el-date-picker>
          </div>
        </div>
        <div class="flex-c mb-20 ipt-price cj-upload">
          <span class="label-text ipt-text"><span>*</span>材价上传</span>
          <div class="flex-c" style="width: 310px">
            <div class="u-ipt">{{ cjFile.name }}</div>
            <div class="u-btn">
              <img src="@/assets/img/dialog/upload.png" alt="" class="img" />
            </div>
            <input
              ref="fileElem"
              class="u-file"
              type="file"
              @change="uploadCjFile($event)"
            />
          </div>
        </div>
      </div>
      <div class="flex-c">
        <span class="label-text ipt-text">导入模板</span>
        <span
          class="u-mode-btn"
          style="color: #02a7f0; cursor: pointer"
          @click="uploadTemplate"
          >材价导入模板.xlsx</span
        >
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddMaterial = false">取消</el-button>
        <el-button type="primary" @click="newMaterial">确定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑材价/添加自定义材价公用弹窗 -->
    <el-dialog
      :title="matDialogStatus == 1 ? '编辑材价' : '添加自定义材价'"
      :visible.sync="materialDialog"
      width="460px"
      class="com-dialog my-dialog redialog"
      :close-on-click-modal="false"
    >
      <div class="loading-box" v-if="materialStatus == 1">
        <img src="@/assets/img/dialog/loading1.png" alt="" class="img" />
        <img src="@/assets/img/dialog/loading2.png" alt="" class="img2" />
      </div>
      <img
        src="@/assets/img/dialog/success.png"
        alt=""
        v-if="materialStatus == 2 || materialStatus == 4"
      />
      <img
        src="@/assets/img/dialog/error.png"
        alt=""
        v-if="materialStatus == 3"
      />
      <p class="blue-tips" style="color: #333" v-if="materialStatus != 4">
        {{ tipsText }}
      </p>
      <p v-if="materialStatus == 4">
        导入成功<span class="success">{{ successCount }}</span
        >条，失败<span class="error">{{ failCount }}</span> 条
      </p>
      <span slot="footer" class="dialog-footer" v-if="materialStatus != 1">
        <el-button
          @click="downloadErrorList"
          :loading="downloadKeyLoading"
          v-if="failCount > 0 && materialStatus == 4"
          >下载失败清单</el-button
        >
        <el-button type="primary" @click="materialDialog = false"
          >确定</el-button
        >
      </span>
    </el-dialog>

    <!-- 标准化弹窗（添加材价） -->
    <ScanLoading
      :title="'添加材价'"
      :scanState="scanState"
      :failCount="failCount"
      :successCount="successCount"
      :downloadKeyLoading="downloadKeyLoading"
      @confirmScan="confirmScan"
      @downloadErrorList="downloadErrorList"
      v-if="startScan"
      :errMsg="errMsg2"
    />
  </div>
</template>

<script>
import {
  getMatApplicableTime,
  getMatPricePageList,
  delMatPrice,
  exportMatPrice,
  againFormat,
  updateMatPrice,
  importMatPrice,
  getMatImportTemplate,
} from "@/api/material";
import { getDictList, downloadErrorExcel, getAreaTree } from "@/api/common";
import { addShareMatDetail } from "@/api/share";
import ScanLoading from "@/components/ScanLoading";
export default {
  components: { ScanLoading },
  data() {
    return {
      cjItem: null,
      shareStatus: null, // 选中的材价来源
      curshareList: [], // 分享平台列表(材价来源)
      typeStatus: null, // 选中的材价类型
      curtypeList: [], // 材价类型列表
      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: "", // 选择适用时间(年)
      curTimeItem: "", // 选择适用时间(月)
      timeData: [], // 组装的年月数据
      tableData: [], // 表格数据
      tableLoading: false,
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      showShareDialog: false, // 显示分享材价弹窗
      shareloading: false, // 分享材价弹窗loading
      shareid: "", // 分享材价的id（单条）
      shareText: "", // 分享弹窗提示文字
      shareErr: "", // 分享弹窗错误提示
      shareSuccess: "", // 分享弹窗成功提示
      shareStutus: "", // 分享弹窗状态（1单条，2批量,3失败,4成功，5全部）
      showDelDialog: false, // 显示删除材价弹窗
      delloading: false, // 删除材价弹窗loading
      delid: "", // 删除材价的id（单条）
      delText: "", // 删除弹窗提示文字
      showRestandDialog: false, // 显示重新标准化询问弹窗
      toRestandDialog: false, // 显示重新标准化弹窗
      standId: "", // 重新标准化材价id（单条）
      reStandStatus: "", // 重新标准化弹窗状态（1正在标准化 2成功 3失败）
      successCount: 0, // 重新标准化成功数
      failCount: 0, // 重新标准化失败数
      downloadKey: "", // 下载失败清单key
      errmsg: "", // 重新标准化信息
      downloadKeyLoading: false, // 下载失败清单loading
      showEditDialog: false, // 显示编辑材价弹窗
      materialName: "", // 材价名称
      materialSpecs: "", // 材价规格
      materialUnit: "", // 材价单位
      materialBrande: "", // 品牌
      materialSupplier: "", // 供应商
      taxIncluded: true, // 是否含税
      materialPrice: "", // 材价价格
      materialRemarks: "", // 材价备注
      matFormat: false, // 材价数据类型
      applicableProvince: "", // 适用省（回显用）
      applicableCity: "", // 适用市
      applicableDate: "", // 适用时间
      provinceName: "", // 所选省份名称（供应商地区）
      cityName: "", // 所选城市名称（供应商地区）
      provinceList: [], // 省列表
      cityList: [], // 市列表
      provinceId: "", // 选省id
      cityId: "", // 选市id
      id: "", // 编辑的材价id
      gradeModel: "", // 编辑的材价档次
      submitLoading: false, // 提交编辑材价loading
      materialDialog: false, // 显示材价公用弹窗
      matDialogStatus: false, // 显示材价公用弹窗状态 1编辑材价 2新增自定义材价
      materialStatus: "", // 材价公用弹窗状态（1loading 2成功 3失败）
      tipsText: "", // 弹窗提示字眼（正在标准化/安全扫描中/编辑成功失败）
      showAddMaterial: false, // 显示添加材价弹窗
      isCustomize: false, // 添加是否自定义材价
      projectName: "", // 项目名称
      cjFile: {}, // 材价文件
      curDialogType: "", // 选中的材价类型
      curDialogSource: "", // 选中的材价来源
      validStartDate: "", // 适用年月
      startScan: false, // 是否显示标准化弹窗
      scanState: "0", // 0请求进行中，1请求成功，2请求失败
      scanTimer: null, // 标准化定时器
      gradeList: ["请选择档次", "高档", "中高档", "中档", "一般"], // 档次列表
      materialId: "", // 材料id
      errmsg2: "", // 添加材价错误信息
      zcode: "",
      searchVal: "", // 搜索关键字

      searchtype: null,
      srarchTypeList: [],
    };
  },

  created() {
    try {
      this.cjItem = JSON.parse(sessionStorage.getItem("cj_item"));
    } catch (err) {
      this.cjItem = {};
    }
    console.log(this.cjItem);
    this.materialId = this.$route.query.id;
    this.zcode = this.$route.query.zcode;
  },

  mounted() {
    this.getMatApplicableTime(true); // 适用时间
    this.getDictList(); // 材价来源/类型
    this.getAreaTree(); // 获取地区
  },

  methods: {
    // 获取材价适用时间
    getMatApplicableTime(nopass) {
      getMatApplicableTime().then((res) => {
        if (!res.body.endTime) return;
        let startTime = new Date(res.body.startTime);
        let endTime = new Date(res.body.endTime);
        var y = startTime.getFullYear();
        var m = startTime.getMonth() + 1;
        var y2 = endTime.getFullYear();
        var m2 = endTime.getMonth() + 1;
        let time = {}; // {年：[月]}
        let years = [];
        for (let i = y2; i >= y; i--) {
          let timearr = [];
          years.push(i);
          if (i == y) {
            let month = 12;
            if (y == y2) month = m2;
            for (let j = month; j >= m; j--) {
              timearr.push(j);
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j);
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j);
            }
          }
          time[i] = timearr;
        }
        this.timeData = time; // 组装的年月数据
        this.curTimeList = years; // 所有年
        let year = this.cjItem.applicableDate.split("年")[0];
        let month = this.cjItem.applicableDate.split("年")[1].split("月")[0];
        if (nopass) {
          this.curTime = year; // 默认选当前按所选年
          console.log(this.curTime);
          // this.curTimeItem = month // 默认选当前按所选月
          this.curTimeItem = "";
          this.curTimeItemList = time[year]; // 默认显示当前按所选年的月份
        } else {
          this.curTimeItemList = time[this.curTime]; // 保留所选月份只更新月份数组
        }

        setTimeout(() => {
          this.currentPage = 1;
          this.getMatPricePageList();
        }, 0);
      });
    },

    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year; //  选中的年
      this.curTimeItemList = this.timeData[year]; // 月数组
      // this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.curTimeItem = "";
      this.currentPage = 1;
      this.getMatPricePageList();
    },

    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month;
      this.currentPage = 1;
      this.getMatPricePageList();
    },

    // 获取(材价)类型列表 来源/类型
    getDictList() {
      let params = {
        dictType: "MAT_SOURCE_TYPE",
      };
      getDictList(params).then((res) => {
        this.curshareList = res.body || [];
      });
      let params2 = {
        dictType: "MAT_TYPE",
      };
      getDictList(params2).then((res) => {
        this.curtypeList = res.body;
      });
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getMatPricePageList();
    },

    // 筛选分享平台(材价来源)
    changeCurSharePlat(code) {
      this.shareStatus = code;
      this.currentPage = 1;
      this.getMatPricePageList();
    },

    // 筛选材价类型
    changeCurTypePlat(code) {
      this.typeStatus = code;
      this.currentPage = 1;
      this.getMatPricePageList();
    },

    // 获取材价列表
    getMatPricePageList() {
      console.log("xxxx", this.curTime);
      if (!this.curTime) {
        this.tableLoading = false;
        return;
      }
      this.tableLoading = true;

      var applicableDate = this.curTimeItem
        ? new Date(this.curTime, this.curTimeItem - 1)
        : new Date(this.curTime + "");
      var isFormat = this.cjItem.isFormat;
      let data = {
        isYear: this.curTimeItem ? "0" : "1", // 是否单纯年
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        applicableDate: applicableDate, // 适用时间(必填)
        isFormat: isFormat, // 是否标准化数据
        matSourceCode: this.shareStatus ? this.shareStatus : null, // 材价来源
        matTypeCode: this.typeStatus ? this.typeStatus : null, // 材价类型
        // materialName: this.cjItem.name,
        // materialId: this.cjItem.materialId,
        zcode: this.zcode,
        goEmptyName: this.cjItem.goEmptyName,
        goEmptySpec: this.cjItem.goEmptySpec,
        goEmptyUnit: this.cjItem.goEmptyUnit,
        isPage: "X", // 区分是材价库还是相同材价
      };

      this.tableData = [];
      getMatPricePageList(data)
        .then((res) => {
          console.log("res", res);
          this.tableLoading = false;
          if (res.code == "01") {
            this.tableData = res.body.list;
            this.totalCount = res.body.totalCount;
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
        })
        .catch((err) => {
          this.tableLoading = false;
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },

    // 分享材价
    shareMaterial(item) {
      if (!item.isFormat) {
        this.shareErr = "分享失败！自定义材价不允许分享到材价库";
        this.showShareDialog = true;
        this.shareStutus = 3;
        return;
      }
      this.shareStutus = 1;
      this.shareText = "你确定要分享这条材价吗？";
      if (this.isOldMasteril())
        this.shareText =
          "分享的材价中存在适用时间在3个月以前，你确定要分享吗？";
      this.showShareDialog = true;
      this.shareid = item.id;
    },

    // 分享材价(批量)
    shareSomeMaterial() {
      if (this.multipleSelection.length == 0) {
        this.openAlert();
        return;
      }
      let hasNo = false;
      for (let i = 0; i < this.multipleSelection.length; i++) {
        if (!this.multipleSelection[i].isFormat) {
          hasNo = true;
          break;
        }
      }
      if (hasNo) {
        this.shareErr = "分享失败！自定义材价不允许分享到材价库";
        this.showShareDialog = true;
        this.shareStutus = 3;
        return;
      }
      this.shareStutus = 2;
      this.shareText = "你确定要分享勾选的材价吗？";
      if (this.isOldMasteril())
        this.shareText =
          "分享的材价中存在适用时间在3个月以前，你确定要分享吗？";
      this.showShareDialog = true;
    },

    // 分享材价(全部)
    shareAllMaterial() {
      if (this.totalCount == 0) {
        this.openAlert("暂无要分享的数据", "info");
        return;
      }
      let hasNo = false;
      for (let i = 0; i < this.tableData.length; i++) {
        if (!this.tableData[i].isFormat) {
          hasNo = true;
          break;
        }
      }
      if (hasNo) {
        this.shareErr = "分享失败！自定义材价不允许分享到材价库";
        this.showShareDialog = true;
        this.shareStutus = 3;
        return;
      }
      this.shareStutus = 5;
      this.shareText = "你确定要分享全部材价吗？";
      if (this.isOldMasteril())
        this.shareText =
          "分享的材价中存在适用时间在3个月以前，你确定要分享吗？";
      this.showShareDialog = true;
    },

    // 分享材价接口
    confirmShareMaterial() {
      if (this.shareStutus == 4 || this.shareStutus == 3) {
        this.showShareDialog = false;
        return;
      }
      this.shareloading = true;
      var ids = [];
      if (!this.shareid) {
        if (this.shareStutus == 2) {
          for (var i = 0; i < this.multipleSelection.length; i++) {
            ids.push(this.multipleSelection[i].id);
          }
        } else if (this.shareStutus == 5) {
          for (var i = 0; i < this.tableData.length; i++) {
            ids.push(this.tableData[i].id);
          }
        }
      } else {
        ids.push(this.shareid);
      }
      let data = {
        matIds: ids,
      };
      addShareMatDetail(data)
        .then((res) => {
          this.shareloading = false;
          if (res.code === "01") {
            // this.shareStutus = 4
            // this.shareSuccess = res.message || '分享成功！'
            this.showShareDialog = false;
            this.$message({
              type: "success",
              message: res.message || "分享成功！",
            });
            this.$refs.multipleTable.clearSelection();
            this.currentPage = 1;
            this.getMatPricePageList("pass");
          } else {
            this.shareStutus = 3;
            this.shareErr = res.message || "分享失败！";
          }
        })
        .catch((err) => {
          this.shareloading = false;
          this.shareStutus = 3;
          this.shareErr = err.message || "分享失败！";
        });
    },

    // 判断材价适用时间
    isOldMasteril() {
      let now = new Date();
      var nowyear = now.getFullYear();
      var nowmonth = now.getMonth() + 1;
      if (nowyear > this.curTime) {
        return true;
      } else if (
        nowyear == this.curTime &&
        this.curTimeItem &&
        nowmonth - this.curTimeItem >= 3
      ) {
        return true;
      } else {
        return false;
      }
    },

    // 删除材价
    delMaterial(item) {
      this.delText = "你确定要删除这条材价吗？";
      this.showDelDialog = true;
      this.delid = item.id;
    },

    // 删除材价(批量)
    delSomeMaterial() {
      console.log(this.multipleSelection.length);
      if (this.multipleSelection.length == 0) {
        this.openAlert();
        return;
      }
      this.delText = "你确定要删除勾选的材价吗？";
      this.showDelDialog = true;
    },

    // 删除材价接口
    confirmDelMaterial() {
      this.delloading = true;
      var ids;
      if (!this.delid) {
        ids = [];
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id);
        }
        ids = ids.join(",");
      } else {
        ids = this.delid;
      }
      let data = {
        matIds: ids,
      };
      delMatPrice(data)
        .then((res) => {
          this.delloading = false;
          if (res.code === "01") {
            this.$message({
              type: "success",
              message: res.message || "删除成功！",
            });
            this.$refs.multipleTable.clearSelection();
            this.currentPage = 1;
            this.getMatApplicableTime(); // 适用时间
            this.showDelDialog = false;
          } else {
            this.$message({
              type: "error",
              message: res.message || "删除失败！",
            });
          }
        })
        .catch((err) => {
          this.delloading = false;
          this.$message({
            type: "error",
            message: err.message || "出错了！",
          });
        });
    },

    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.openAlert("暂无要导出的数据", "info");
        return;
      }
      var applicableDate = this.curTimeItem
        ? new Date(this.curTime, this.curTimeItem - 1)
        : new Date(this.curTime + "");
      var isFormat = this.cjItem.isFormat;
      var data = {
        isYear: this.curTimeItem ? "0" : "1", // 是否单纯年
        applicableDate: applicableDate,
        isFormat: isFormat,
        matSourceCode: this.shareStatus ? this.shareStatus : null,
        matTypeCode: this.typeStatus ? this.typeStatus : null,
        // materialName: this.cjItem.name,
        // materialId: this.materialId,
        zcode: this.zcode,
        goEmptyName: this.cjItem.goEmptyName,
        goEmptySpec: this.cjItem.goEmptySpec,
        goEmptyUnit: this.cjItem.goEmptyUnit,
        isPage: "X", // 区分是材价库还是相同材价
      };
      this.$confirm("确定导出全部数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        exportMatPrice(data)
          .then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "材价信息.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "材价信息.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
          })
          .catch((err) => {});
      });
    },

    // 导出
    exportFile() {
      var ids = [];
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id);
        }
      } else {
        this.openAlert();
        return;
      }
      var applicableDate = this.curTimeItem
        ? new Date(this.curTime, this.curTimeItem - 1)
        : new Date(this.curTime + "");
      var data = {
        ids: ids,
        applicableDate: applicableDate,
        isYear: this.curTimeItem ? "0" : "1", // 是否单纯年
      };
      this.$confirm("确定导出当前勾选的数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        exportMatPrice(data)
          .then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "材价信息.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "材价信息.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
            this.$refs.multipleTable.clearSelection();
          })
          .catch((err) => {});
      });
    },

    // 重新标准化询问弹窗
    reSomeStandard(item) {
      this.standId = item.id + "";
      this.showRestandDialog = true;
    },

    // 重新标准化询问弹窗(批量)
    reStandardAll() {
      if (this.multipleSelection.length == 0) {
        this.openAlert();
        return;
      }
      var ids = [];
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id);
      }
      this.standId = ids.join(",");
      this.showRestandDialog = true;
    },

    // 重新标准化接口
    toRestand() {
      this.reStandStatus = 1;
      this.showRestandDialog = false;
      this.toRestandDialog = true;
      setTimeout(() => {
        let params = {
          ids: this.standId,
        };
        againFormat(params)
          .then((res) => {
            if (res.code === "01") {
              this.reStandStatus = 2;
              try {
                this.failCount = res.body.failCount;
                this.successCount = res.body.successCount;
                this.downloadKey = res.body.downloadKey;
              } catch (err) {}
              this.$refs.multipleTable.clearSelection();
              this.currentPage = 1;
              this.getMatPricePageList("pass");
            } else {
              this.errmsg = res.message || "重新标准化失败！";
              this.reStandStatus = 3;
            }
          })
          .catch((err) => {
            this.errmsg = err.message || "重新标准化失败！";
            this.reStandStatus = 3;
          });
      }, this.$store.getters.loadingCommon);
    },

    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey,
      };
      this.downloadKeyLoading = true;
      downloadErrorExcel(params)
        .then((res) => {
          this.toRestandDialog = false; // 重新标准化
          this.materialDialog = false; // 编辑材价/添加自定义材价
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement("a");
            let _fileName =
              sessionStorage.getItem("blob_filename") || "失败清单.xls";
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          };
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem("blob_filename");
            this.downloadKeyLoading = false;
          };
        })
        .catch((err) => {
          this.downloadKeyLoading = false;
        });
    },

    // 获取地区（省，市）
    getAreaTree() {
      getAreaTree().then((res) => {
        if (res.code === "01") {
          this.provinceList = res.body;
          this.cityList = this.provinceList[0].sub;
        }
      });
    },

    // 切换省份
    changeProvince(id) {
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].id === id) {
          this.cityList = this.provinceList[i].sub;
          this.provinceName = this.provinceList[i].name;
          this.cityName = this.cityList[0].name;
          this.cityId = this.cityList[0].id;
        }
      }
    },

    // 切换城市
    changeCity(id) {
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].id === id) {
          this.cityName = this.cityList[i].name;
        }
      }
    },

    // 返回材价库
    back() {
      let restore = this.cjItem && this.cjItem.name ? true : false;
      this.$router.push("/materialManage/index?restore=" + restore);
    },

    // 编辑材价
    editMaterial(item) {
      this.id = item.id;
      this.gradeModel = item.grade || "请选择档次";
      // 回显
      this.taxIncluded = item.taxIncluded ? true : false;
      this.materialName = item.name;
      this.materialSpecs = item.spec;
      this.materialUnit = item.unit;
      this.materialBrande = item.brand;
      this.materialSupplier = item.supplier;
      this.materialPrice = item.price;
      this.applicableProvince = item.applicableProvince;
      this.applicableCity = item.applicableCity;
      this.applicableDate = item.applicableDate;
      this.materialRemarks = item.remark || "";
      this.matFormat = item.isFormat;

      // 回填产地省市的名称，id，选择菜单
      this.provinceName = "";
      this.provinceId = "";
      this.cityName = "";
      this.cityId = "";
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].name === item.supplierProvince) {
          this.cityList = this.provinceList[i].sub;
          this.provinceName = item.supplierProvince;
          this.provinceId = this.provinceList[i].id;
        }
      }
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].name === item.supplierCity) {
          this.cityName = item.supplierCity;
          this.cityId = this.cityList[i].id;
        }
      }

      this.showEditDialog = true;
    },

    // 金额输入限制（保留两位小数的数值，且大于0）
    checkPrice(e) {
      // 清除"数字"和"."以外的字符
      this.materialPrice = this.materialPrice.replace(/[^\d.]/g, "");
      // 验证第一个字符是数字而不是字符
      this.materialPrice = this.materialPrice.replace(/^\./g, "");
      // 只保留第一个.清除多余的
      this.materialPrice = this.materialPrice.replace(/\.{2,}/g, ".");
      this.materialPrice = this.materialPrice
        .replace(".", "$#$")
        .replace(/\./g, "")
        .replace("$#$", ".");
      // 只能输入两个小数
      this.materialPrice = this.materialPrice.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        "$1$2.$3"
      );
    },

    // 提交编辑完的材价
    submitMaterial() {
      if (!this.materialName) {
        this.$message({
          type: "error",
          message: "请输入材价名称",
        });
        return;
      } else if (!this.materialSpecs) {
        this.$message({
          type: "error",
          message: "请输入材价规格",
        });
        return;
      } else if (!this.materialUnit) {
        this.$message({
          type: "error",
          message: "请输入材价单位",
        });
        return;
      } else if (!this.materialPrice) {
        this.$message({
          type: "error",
          message: "请输入正确的材料价格",
        });
        return;
      }

      this.submitLoading = true;
      this.showEditDialog = false;
      this.matDialogStatus = 1;
      if (this.matFormat) {
        this.tipsText = "正在标准化...";
        this.materialStatus = 1;
        this.materialDialog = true;
      }
      var data = {
        matPriceId: this.id,
        name: this.materialName,
        price: this.materialPrice,
        unit: this.materialUnit,
        // applicableCity: this.applicableCity,
        // applicableProvince: this.applicableProvince,
        remark: this.materialRemarks || null,
        spec: this.materialSpecs,
        supplier: this.materialSupplier || null,
        brand: this.materialBrande || null,
        grade: this.gradeModel == "请选择档次" ? null : this.gradeModel,
        supplierProvince: this.provinceName || null,
        supplierCity: this.cityName || null,
        taxIncluded: this.taxIncluded,
      };
      setTimeout(() => {
        updateMatPrice(data)
          .then((res) => {
            this.submitLoading = false;
            if (!this.matFormat) {
              this.materialDialog = true;
            }
            if (res.code === "01") {
              // this.materialStatus = 2
              // this.tipsText = '编辑成功'
              this.materialDialog = false;
              this.$message({
                type: "success",
                message: res.message,
              });
              this.currentPage = 1;
              this.getMatPricePageList("pass");
            } else {
              this.materialStatus = 3;
              this.tipsText = "编辑失败";
            }
          })
          .catch((err) => {
            this.materialStatus = 3;
            this.tipsText = "编辑失败";
            this.submitLoading = false;
          });
      }, this.$store.getters.loadingCommon);
    },

    // 1添加材价/2添加自定义材价
    addMaterial(type) {
      if (type == "1") {
        this.isCustomize = false;
      } else if (type == "2") {
        this.isCustomize = true;
        this.matDialogStatus = 2;
      }
      // 初始化
      this.downloadKeyLoading = false;
      this.validStartDate = "";
      this.cjFile = {};
      if (this.$refs.fileElem && this.$refs.fileElem.value)
        this.$refs.fileElem.value = null;
      this.curDialogSource = "";
      this.curDialogType = "";
      this.projectName = "";

      this.showAddMaterial = true;
    },

    // 提交新增的材价
    newMaterial() {
      if (!this.curDialogType) {
        this.$message({
          type: "error",
          message: "请选择材价类型",
        });
        return;
      } else if (!this.curDialogSource) {
        this.$message({
          type: "error",
          message: "请选择材价来源",
        });
        return;
      } else if (!this.validStartDate) {
        this.$message({
          type: "error",
          message: "请选择适用时间",
        });
        return;
      } else if (!this.cjFile || !this.cjFile.size) {
        this.$message({
          type: "error",
          message: "请上传材价文件",
        });
        return;
      }

      this.showAddMaterial = false;

      var formData = new FormData();
      formData.append("applicableDate", this.validStartDate);
      formData.append("matPriceFile", this.cjFile);
      formData.append("matSourceTypeCode", this.curDialogSource);
      formData.append("matTypeCode", this.curDialogType);
      // formData.append('projectId', null)
      formData.append("projectName", this.projectName);
      if (this.isCustomize) {
        // 自定义材价
        this.tipsText = "安全扫描中...";
        this.materialStatus = 1;
        this.materialDialog = true;

        formData.append("isCustomize", true);
        setTimeout(() => {
          importMatPrice(formData)
            .then((res) => {
              if (res.code === "01") {
                this.materialStatus = 4;
                this.tipsText = "添加成功";
                try {
                  this.failCount = res.body.failCount;
                  this.successCount = res.body.successCount;
                  this.downloadKey = res.body.downloadKey;
                } catch (err) {}
                // 等待后端更新数据
                this.getMatApplicableTime(); // 适用时间
              } else {
                this.materialStatus = 3;
                this.tipsText = "添加失败";
              }
            })
            .catch((err) => {
              this.materialStatus = 3;
              this.tipsText = "添加失败";
            });
        }, this.$store.getters.loadingCommon);
      } else {
        // 非自定义材价
        formData.append("isCustomize", false);

        this.startScan = true;
        this.scanState = "0";
        this.scanTimer = setTimeout(() => {
          importMatPrice(formData)
            .then((res) => {
              if (res.code === "01") {
                this.scanState = "1";
                try {
                  this.failCount = res.body.failCount;
                  this.successCount = res.body.successCount;
                  this.downloadKey = res.body.downloadKey;
                } catch (err) {}
                // 等待后端更新数据
                this.getMatApplicableTime(); // 适用时间
              } else {
                this.scanState = "2";
                this.errMsg2 = res.message;
              }
            })
            .catch((err) => {
              this.scanState = "2";
              this.errMsg2 = err.message;
            });
        }, this.$store.getters.loadingCommon);
      }
    },

    // 标准化完成
    confirmScan() {
      this.startScan = false;
      if (this.scanTimer) {
        clearTimeout(this.scanTimer);
      }
    },

    // 下载材价导入模板
    uploadTemplate() {
      getMatImportTemplate()
        .then((res) => {
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement("a");
            let _fileName =
              sessionStorage.getItem("blob_filename") || "材价导入模板.xls";
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          };
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem("blob_filename");
          };
        })
        .catch((err) => {});
    },

    // 上传材价文件
    uploadCjFile(e) {
      var file = e.target.files[0];
      if (file.name.indexOf(".xls") > -1 || file.name.indexOf(".xlsx") > -1) {
        this.cjFile = file;
      } else {
        this.$message({
          type: "error",
          message: "只支持上传xls或xlsx格式的Excel文件",
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.material-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;
  position: relative;

  .screen {
    padding: 1px 0 25px 28px;
    background: #ffffff;
    > div {
      min-height: 39px;
    }
    .back-btn {
      width: 82px;
      height: 34px;
      font-size: 15px;
      border-radius: 5px;
      color: $color-danger;
      border: 1px solid;
      position: absolute;
      top: 50px;
      right: 150px;
      cursor: pointer;
    }
    .top {
      margin-top: 17px;
      padding: 0;
      .com-search2 {
        width: 470px;
        border-radius: 0 20px 20px 0;
        border: 1px solid #dcdfe6;
        .el-input__inner {
          width: 430px;
        }
      }
      .select-remark {
        width: 128px;
        height: 36px;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
      }
      .el-select.select-remark {
        border-radius: 20px 0 0 20px;
        &::v-deep .el-input__inner {
          border-radius: 20px 0 0 20px;
        }
      }
    }
    .icons {
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }
    .s-title {
      margin-bottom: 8px;
    }
    .desc {
      font-family: "mainfont";
      color: #999999;
      margin-bottom: 22px;
      > div {
        line-height: 30px;
      }
      .left {
        display: inline-block;
        margin-right: 5px;
        // width: 75px;
      }
      .big {
        font-weight: bold;
        color: #333;
      }
    }
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
  // 表格
  .detail-table {
    margin-top: 18px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;

    .right-btns {
      > div {
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }
    .table-box {
      padding-bottom: 30px;
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .wrap {
        width: 166px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .mode-name {
        cursor: pointer;
        color: $color-primary;
        text-align: left;
        > div {
          min-width: 100px;
        }
      }
      .faster-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }
      .files {
        max-width: 65%;
        min-width: 380px;
        .file-box {
          width: 100%;
          flex-wrap: wrap;
          .fileitem {
            margin-right: 6px;
            margin-bottom: 4px;
            .file-img {
              width: 21px;
              height: 20px;
            }
            .file-name {
              margin: 0 25px 0 7px;
              width: 81px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              font-family: "mainfont";
            }
          }
        }
      }
    }
  }
  .editidalog,
  .addDialog {
    &::v-deep .el-dialog {
      height: 322px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .el-dialog__body {
        flex: 1;
        overflow-y: scroll;
        padding-top: 4px;
      }
    }
  }
  .editidalog {
    .ipt-text {
      text-align: right;
      min-width: 65px;
      max-width: 80px;
      margin-right: 10px;
      color: #999999;
    }
    .show-text {
      color: #333333;
    }
    .ta-right {
      color: #999999;
    }
  }
  .addDialog {
    .cj-upload {
      width: 100%;
      > div {
        position: relative;
        width: 100%;
      }
      .u-ipt {
        padding-left: 10px;
        width: 100%;
        height: 34px;
        line-height: 34px;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
      }
      .u-btn {
        max-width: 66px;
        min-width: 66px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        border-radius: 0 4px 4px 0;
        border: 1px solid #dcdfe6;
        border-left: none;
      }
      .u-file {
        position: absolute;
        width: 100%;
        opacity: 0;
      }
    }
  }
  .redialog {
    .loading-box {
      width: 90px;
      height: 90px;
      margin: 30px auto;
      position: relative;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .img {
        z-index: 0;
        animation: scanLoading 0.8s linear infinite;
      }
      .img2 {
        z-index: 1;
        animation: scanLoading2 0.8s linear infinite;
      }
      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      @keyframes scanLoading2 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .blue-tips {
      color: #1789f2;
      line-height: 30px;
      margin-bottom: 40px;
    }
    .success {
      color: $color-primary;
    }
    .error {
      color: $color-danger;
    }
  }
}
</style>

<style lang="scss">
@import "../../styles/variables.scss";
.material-container {
  .flex-cw {
    padding: 2px 0;
    border-bottom: 1px solid #f3f3f4;
  }
  .com-label-text {
    padding: 2px 0;
  }
  .inquiry {
    .btn {
      > span {
        display: flex;
        align-items: center;
      }
    }
  }
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
  .screen .select-remark {
    .el-input--suffix {
      height: 36px;
    }
    .el-input__inner {
      height: 36px;
      border-right: none;
      // border-radius: 20px 0 0 20px;
    }
  }
  .editidalog {
    .el-dialog__header {
      background: #ffffff;
    }
    .el-input__inner {
      // width: 310px;
      width: 100%;
      height: 32px;
    }
    .grade-area {
      .el-input--suffix {
        .el-input__suffix {
          top: 5px;
          right: 15px;
        }
      }
      .is-focus {
        .el-input__suffix {
          top: 0px;
        }
      }
      .el-input__inner {
        text-align: center;
      }
    }
    .ipt-area {
      .el-input__inner {
        width: 147px;
        height: 32px;
      }
      .el-input--suffix {
        .el-input__inner {
          text-align: center;
        }
        .el-input__suffix {
          top: 5px;
          right: 15px;
        }
      }
      .is-focus {
        .el-input__suffix {
          top: -1px;
          right: 15px;
        }
      }
    }
    .el-textarea__inner {
      background: #f6f9fe;
      width: 310px;
      height: 98px;
    }
    .ipt-price {
      .el-input-group__append {
        background: #ffffff;
      }
      .el-input-group--append {
        width: 310px;
        .el-input__inner {
          width: 255px;
          color: $color-minor;
        }
      }
    }
  }
  .addDialog {
    .el-input--suffix {
      .el-input__suffix {
        top: 3px !important;
        right: 10px !important;
      }
    }
    .is-focus {
      .el-input__suffix {
        top: -1px !important;
      }
    }
    .sel-time {
      .el-date-editor {
        width: 94%;
      }
      .el-input__icon {
        line-height: 32px;
        color: $color-primary;
      }
    }
  }
}
</style>
