<template>
  <div class="box-content mt-10">
    <div class="content-left mr-10">
      <category-tree ref="categoryTree" @nodeClick="nodeClick" />
    </div>
    <div class="content-right">
      <tab-content ref="tabRef" :engType="engType" :projectType="projectType" :specialtyType="specialtyType" :specialtyCode="specialtyCode" />
    </div>
  </div>
</template>

<script>
import CategoryTree from "@/components/CategoryTree/index.vue";
import TabContent from "@/views/targetSet/components/TabContent.vue";
export default {
  name: "earlyWarning",
  components: {
    CategoryTree,
    TabContent,
  },
  data() {
    return {
      specialtyType: "",  // 专业类型
      projectType: "",  // 项目类型
      engType: "",    // 工程类型
      specialtyCode: "",  // 专业类型编码
    }
  },
  methods: {
    nodeClick(specialtyType, projectType, engType, specialtyCode) {
      this.engType = engType;
      this.projectType = projectType;
      this.specialtyType = specialtyType;
      this.specialtyCode = specialtyCode;

      this.$nextTick(() => {
        this.$refs.tabRef.currentPage = 1;
        this.$refs.tabRef.getTargetPageList();
      })
    }
  }
};
</script>

<style lang="scss" scoped>
.box-content {
  display: flex;
  .content-left {
    width: 200px;
    background: #fff;
    border-radius: 8px;
    padding: 20px 15px;
  }
  .content-right {
    flex: 1;
    border-radius: 8px;
  }
}
</style>
