<template>
  <div class="material-set">
    <div class="com-up-wrap pl-20">
      <div class="c-type">
        <span class="com-label">材价库设置</span>
        <span class="com-label-small">材价来源</span>
        <ul class="flex-cw">
          <li v-for="(item, index) in sourceList" :key="index" class="flex-cc">
            <span v-if="!item.isEdit">{{ item.dictName }}</span>
            <div v-else class="flex-cc c-ipt">
              <el-input v-model="item.dictName" maxlength="10" />
              <el-tooltip effect="light" content="保存" placement="top">
                <img src="@/assets/img/cs/icons/save_icon02.png" alt="" @click="editCjSource(item, index)">
              </el-tooltip>
            </div>
            <div v-if="!item.isEdit" class="flex-cc hover-wrap">
              <el-tooltip effect="light" content="编辑" placement="top">
                <img src="@/assets/img/cs/icons/edit_icon02.png" alt="" @click="openEditCjSource(index)">
              </el-tooltip>
              <el-tooltip effect="light" content="删除" placement="top">
                <img src="@/assets/img/cs/icons/close_icon02.png" alt="" @click="deleteCjSource(item, index)">
              </el-tooltip>
            </div>
          </li>
          <li class="cp flex-cc" @click="addSourceItem">
            <el-tooltip effect="light" content="新增" placement="top">
              <span class="el-icon-plus" />
            </el-tooltip>
          </li>
        </ul>
      </div>
      <div class="edit-custom">
        <span class="com-label com-label-small">材价类型</span>
        <ul class="flex-cw">
          <li v-for="(item, index) in typeList" :key="index">
            <div class="flex-cc pr e-ipt">
              <span v-if="!item.isEdit">{{ item.dictName }}</span>
              <div v-else class="flex-cc c-ipt">
                <el-input v-model="item.dictName" maxlength="10" />
                <el-tooltip effect="light" content="保存" placement="top">
                  <img src="@/assets/img/cs/icons/save_icon02.png" alt="" @click="editCjType(item, index)">
                </el-tooltip>
              </div>

              <div v-if="!item.isEdit" class="flex-cc hover-wrap">
                <el-tooltip effect="light" content="编辑" placement="top">
                  <img src="@/assets/img/cs/icons/edit_icon02.png" alt="" @click="openEditCjType(index)">
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img src="@/assets/img/cs/icons/close_icon02.png" alt="" @click="deleteCjType(item, index)">
                </el-tooltip>
              </div>
            </div>
            <!-- <div class="flex-cc">
              <img class="cp" src="@/assets/img/cs/icons/yes_icon.png" alt="" @click="selectType(item, 0)" v-if="item.dictStatus == 1">
              <img class="cp" src="@/assets/img/cs/icons/yes_icon02.png" alt="" @click="selectType(item, 1)" v-else>
            </div> -->
          </li>
          <li class="cp flex-cc" @click="addTypeItem">
            <el-tooltip effect="light" content="新增" placement="top">
              <span class="el-icon-plus" />
            </el-tooltip>
          </li>
        </ul>
      </div>

      <!-- <div class="api-wrap">
        <span class="com-label-small">第三方接口</span>
        <div class="flex-c a-list">
          <span class="al-text">造价通：<span>是否单位相同</span></span>
          <div class="start-btn">
              <span class="close-text" v-show="!unitIdentical" @click="changeInterface(true, 'unitIdentical')">是</span>
              <span class="open-text" v-show="unitIdentical" @click="changeInterface(false, 'unitIdentical')">否</span>
              <el-switch
                v-model="unitIdentical"
                active-color="#2773FC"
                inactive-color="#C2C2C2"
                @change="changeInterface($event, 'unitIdentical')">
              </el-switch>
          </div>
          <span class="al-text"><span>是否单位转换</span></span>
          <div class="start-btn">
              <span class="close-text" v-show="!unitConvert" @click="changeInterface(true, 'unitConvert')">是</span>
              <span class="open-text" v-show="unitConvert" @click="changeInterface(false, 'unitConvert')">否</span>
              <el-switch
                v-model="unitConvert"
                active-color="#2773FC"
                inactive-color="#C2C2C2"
                @change="changeInterface($event, 'unitConvert')">
              </el-switch>
          </div>
        </div>
      </div> -->

      <div class="cj-type">
        <span class="com-label-small">材价库分类</span>
        <div class="flex-c">
          <span class="al-text"><span>自定义分类</span></span>
        </div>

        <div class="com-tree-wrap custom-wrap">
          <el-tree :data="customType" node-key="id" :expand-on-click-node="false">
            <span slot-scope="{ data }" class="custom-tree-node">
              <span v-if="!data.isEdit">{{ data.name }}</span>
              <el-input v-else v-model="data.name" class="custom-edit-ipt" maxlength="10" placeholder="请输入分类名称" />
              <span>
                <el-tooltip v-if="!(!data.pid && data.children && data.children.length>0)" class="item" effect="light" content="关联国标分类" placement="top">
                  <img style="width:14px;" class="ml-10" src="@/assets/img/cs/icons/gb-relation.png" alt="" @click="relationGb(data.id,data.subcId)">
                </el-tooltip>
                <el-tooltip v-if="!data.isEdit" class="item" effect="light" content="编辑" placement="top">
                  <img class="ml-10" src="@/assets/img/cs/icons/edit_icon03.png" alt="" @click="openEditCustomType(data)">
                </el-tooltip>
                <el-tooltip v-else class="item" effect="light" content="保存" placement="top">
                  <img style="width:14px;height:14px;" class="ml-10" src="@/assets/img/cs/icons/yes_icon.png" alt="" @click="saveEditCustomType(data)">
                </el-tooltip>
                <el-tooltip v-if="!data.pid" class="item" effect="light" content="添加二级分类" placement="top">
                  <img class="ml-10" src="@/assets/img/cs/icons/add_icon.png" alt="" @click="openAddTwoType(data)">
                </el-tooltip>
                <el-tooltip class="item" effect="light" content="删除" placement="top">
                  <img class="ml-10" src="@/assets/img/cs/icons/del_icon.png" alt="" @click="deleteCustomType(data.id)">
                </el-tooltip>
              </span>
            </span>
          </el-tree>

          <div class="com-operate-wrap op-btn">
            <el-button @click="showAddOneTypeDialog = true;curOneType = ''">添加一级分类</el-button>
          </div>
        </div>
      </div>
    </div>

    <!-- 关联国标弹窗 -->
    <el-dialog title="关联国标分类" :visible.sync="showRelationDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width flex-c" @close="closeGbWin">
      <el-select v-model="relationCode" class="flex-c" multiple placeholder="请选择国标分类" style="width:400px;margin:20px auto 50px;">
        <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.code" />
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showRelationDialog = !showRelationDialog">取消</el-button>
        <el-button type="primary" @click="addRelation()">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加一级分类弹窗 -->
    <el-dialog title="添加一级分类" :visible.sync="showAddOneTypeDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="nw label-text">分类名称：</span>
        <el-input v-model="curOneType" maxlength="10" placeholder="请输入一级分类名称" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddOneTypeDialog = !showAddOneTypeDialog">取消</el-button>
        <el-button type="primary" :loading="addOneTypeLoading" @click="addOneType">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加二级分类弹窗 -->
    <el-dialog title="添加二级分类" :visible.sync="showAddTwoTypeDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="nw label-text">分类名称：</span>
        <el-input v-model="curTwoType" maxlength="10" placeholder="请输入二级分类名称" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddTwoTypeDialog = !showAddTwoTypeDialog">取消</el-button>
        <el-button type="primary" :loading="addTwoTypeLoading" @click="addTwoType">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getSysDictList } from '@/api/cs/materialManage'
import {
  delSysDictInfo,
  addOrUpdateSysDict,
  getThirdPartyInterface,
  getCustomizeSort,
  delCustomizeSort,
  getSubcSort,
  configSort,
  addOrUpdateCustomizeSort,
  updatedThirdPartyInterface
} from '@/api/cs/common'

export default {
  name: 'MaterialSet',
  data() {
    return {
      unitIdentical: false, // 是否单位相同
      unitConvert: false, // 是否单位转换
      customType: [], // 自定义分类
      sourceList: [], // 材价来源
      typeList: [], // 材价类型
      showAddOneTypeDialog: false, // 添加一级分类弹窗
      curOneType: '',
      addOneTypeLoading: false,
      showAddTwoTypeDialog: false, // 添加二级分类弹窗
      curTwoType: '',
      curOneTypeId: null,
      addTwoTypeLoading: false,
      options: [], // 国标分类列表
      showRelationDialog: false, // 关联国标弹窗
      relationCode: [], // 选中的国标code
      relationId: '' // 关联国标的自定义分类id
    }
  },
  mounted() {
    this.getCjSource()
    this.getCjType()
    // this.getThirdPartyInterface()
    this.getCustomizeSort()
    this.getGbList()
  },
  methods: {
    // 关闭关联国标弹窗
    closeGbWin() {
      this.relationCode = []
    },
    // 关联国标弹窗(有二级分类的，只有二级能绑定国标)
    relationGb(id, subcId) {
      this.showRelationDialog = true
      this.relationId = id
      if (subcId) this.relationCode = subcId.split(',') // 回显
    },
    // 关联国标提交
    addRelation() {
      // if(this.relationCode.length<1){
      //   this.$message({
      //     type: 'error',
      //     message: '请选择关联国标'
      //   })
      //   return
      // }
      const params = {
        customId: this.relationId,
        subcIds:
          this.relationCode.length > 0 ? this.relationCode.join(',') : '',
        type: 1
      }
      configSort(params).then(res => {
        if (res.code == '01') {
          this.showRelationDialog = false
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCustomizeSort()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 获取国标分类列表
    getGbList() {
      getSubcSort().then(res => {
        if (res.code == '01') {
          this.options = res.body
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 保存自定义分类修改
    saveEditCustomType(data) {
      if (!data.name) {
        this.$message({
          type: 'error',
          message: '请输入分类名称'
        })
        return
      }
      var data = {
        name: data.name,
        id: data.id,
        type: 1
      }
      addOrUpdateCustomizeSort(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCustomizeSort()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 编辑分类名称
    openEditCustomType(data) {
      // pid==0为一级
      if (data.pid != 0) {
        this.customType[data.index].children[data.subIndex]['isEdit'] = true
      } else {
        this.customType[data.index].isEdit = true
      }
    },
    // 添加二级分类
    addTwoType() {
      if (!this.curTwoType) {
        this.$message({
          type: 'error',
          message: '请输入二级分类名称'
        })
        return
      }

      var data = {
        name: this.curTwoType,
        pid: this.curOneTypeId,
        type: 1
      }
      this.addTwoTypeLoading = true
      addOrUpdateCustomizeSort(data)
        .then(res => {
          this.addTwoTypeLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showAddTwoTypeDialog = false
            this.curTwoType = ''
            this.getCustomizeSort()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addTwoTypeLoading = false
        })
    },
    // 添加二级分类弹窗
    openAddTwoType(data) {
      this.showAddTwoTypeDialog = !this.showAddTwoTypeDialog
      this.curOneTypeId = data.id
      this.curTwoType = ''
    },
    // 删除自定义分类
    deleteCustomType(id) {
      this.$confirm('确定删除该自定义分类?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          id
        }
        delCustomizeSort(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.getCustomizeSort()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 添加一级分类
    addOneType() {
      if (!this.curOneType) {
        this.$message({
          type: 'error',
          message: '请输入一级分类名称'
        })
        return
      }
      var data = {
        name: this.curOneType,
        pid: 0,
        type: 1
      }
      this.addOneTypeLoading = true
      addOrUpdateCustomizeSort(data)
        .then(res => {
          this.addOneTypeLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showAddOneTypeDialog = false
            this.curOneType = ''
            this.getCustomizeSort()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addOneTypeLoading = false
        })
    },
    // 获取自定义分类
    getCustomizeSort() {
      getCustomizeSort({ type: 1 }).then(res => {
        if (res.code == '01') {
          this.customType = []
          for (var i = 0; i < res.body.length; i++) {
            var sub = res.body[i].sub
            if (sub && sub.length > 0) {
              for (var j = 0; j < sub.length; j++) {
                sub[j]['isEdit'] = false
                sub[j]['subIndex'] = j
                sub[j]['index'] = i
              }
            }

            this.customType.push({
              id: res.body[i].id,
              name: res.body[i].name,
              pid: res.body[i].pid,
              children: sub,
              isEdit: false,
              index: i,
              subcId: res.body[i].subcId
            })
          }
        }
      })
    },
    // 开启/关闭第三方接口
    changeInterface(val, type) {
      if (type == 'unitConvert') {
        this.unitConvert = val
      } else {
        this.unitIdentical = val
      }
      var data = {
        unitConvert: this.unitConvert ? 'yes' : 'no',
        unitIdentical: this.unitIdentical ? 'yes' : 'no'
      }
      updatedThirdPartyInterface(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 第三方接口
    getThirdPartyInterface() {
      getThirdPartyInterface().then(res => {
        // 是否单位转换
        if (res.body.unitConvert == 'yes') {
          this.unitConvert = true
        } else {
          this.unitConvert = false
        }
        // 是否单位相同
        if (res.body.unitIdentical == 'yes') {
          this.unitIdentical = true
        } else {
          this.unitIdentical = false
        }
      })
    },
    // 勾选材价类型
    selectType(item, state) {
      if (!item.id) {
        this.$message({
          type: 'error',
          message: '请先保存该新增材价类型后再勾选'
        })
        return
      }
      var text = '确定修改该材价类型作为测算对象?'
      if (state == 0) {
        text = '确定取消该材价类型为测算对象?'
      }

      this.$confirm(text, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var data = {
          dictName: item.dictName,
          dictTypeId: 'MAT_TYPE',
          dictStatus: state,
          id: item.id
        }
        addOrUpdateSysDict(data).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getCjType()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 添加材价类型
    addTypeItem() {
      this.typeList.push({
        dictName: '',
        dictTypeId: 'MAT_TYPE',
        dictStatus: 0,
        isEdit: true
      })
    },
    // 编辑材价类型
    editCjType(item, index) {
      if (!item.dictName) {
        this.$message({
          type: 'error',
          message: '请输入材价类型名称'
        })
        return
      }
      var data = {
        dictName: item.dictName ? item.dictName : null,
        dictTypeId: 'MAT_TYPE',
        dictStatus: item.dictStatus,
        id: item.id
      }
      addOrUpdateSysDict(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCjType()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
          this.getCjType()
        }
      })
    },
    openEditCjType(index) {
      this.typeList[index].isEdit = !this.typeList[index].isEdit
      this.typeList = JSON.parse(JSON.stringify(this.typeList))
    },
    // 删除材价类型
    deleteCjType(item, index) {
      var params = {
        dictTypeId: 'MAT_TYPE',
        dictCode: item.dictCode
      }
      this.$confirm('确定删除当前材价类型?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          dictTypeId: 'MAT_TYPE',
          dictCode: item.dictCode
        }
        delSysDictInfo(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.typeList.splice(index, 1)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 获取材价类型
    getCjType() {
      var params = {
        dictTypeId: 'MAT_TYPE'
      }
      getSysDictList(params).then(res => {
        if (res.code == '01') {
          this.typeList = res.body
        }
      })
    },
    // 添加材价来源
    addSourceItem() {
      this.sourceList.push({
        dictName: '',
        dictTypeId: 'MAT_SOURCE_TYPE',
        dictValue: '',
        isEdit: true
      })
    },
    // 编辑材价来源
    editCjSource(item, index) {
      if (!item.dictName) {
        this.$message({
          type: 'error',
          message: '请输入材价来源名称'
        })
        return
      }
      var data = {
        dictName: item.dictName ? item.dictName : null,
        dictTypeId: 'MAT_SOURCE_TYPE',
        // dictValue: item.dictValue ? item.dictValue : null,
        id: item.id
      }
      addOrUpdateSysDict(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCjSource()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
          this.getCjSource()
        }
      })
    },
    openEditCjSource(index) {
      this.sourceList[index].isEdit = !this.sourceList[index].isEdit
      this.sourceList = JSON.parse(JSON.stringify(this.sourceList))
    },
    // 删除材料来源
    deleteCjSource(item, index) {
      var params = {
        dictTypeId: 'MAT_SOURCE_TYPE',
        dictCode: item.dictCode
      }
      this.$confirm('确定删除当前材价来源?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          dictTypeId: 'MAT_SOURCE_TYPE',
          dictCode: item.dictCode ? item.dictCode : null
        }
        delSysDictInfo(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.sourceList.splice(index, 1)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 获取材料来源
    getCjSource() {
      var params = {
        dictTypeId: 'MAT_SOURCE_TYPE'
      }
      getSysDictList(params).then(res => {
        if (res.code == '01') {
          this.sourceList = res.body
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.material-set {
  .com-label {
    display: block;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    span {
      color: #999;
      font-size: 14px;
    }
  }
  .com-label-small {
    display: block;
    margin-bottom: 20px;
    color: #666;
    font-weight: bold;
    font-size: 14px;
  }
  .al-text {
    margin-right: 12px;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    span {
      color: #666;
    }
  }
  .start-btn {
    margin-right: 36px;
    position: relative;
    &.dou-text {
      .open-text {
        left: 5px;
      }
      .close-text {
        right: 5px;
      }
    }
    .open-text,
    .close-text {
      position: absolute;
      z-index: 999;
      left: 12px;
      top: 4px;
      font-size: 10px;
      color: #fff;
      cursor: pointer;
      user-select: none;
    }
    .close-text {
      right: 12px;
      left: 26px;
    }
  }
  .c-type {
    ul {
      li {
        &:hover .hover-wrap {
          display: flex;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          img {
            cursor: pointer;
          }
          img:first-child {
            margin-right: 32px;
          }
        }
      }
    }
  }
  .c-type,
  .edit-custom {
    ul {
      margin-bottom: 30px;
      li {
        position: relative;
        margin: 0 21px 21px 0;
        width: 160px;
        height: 80px;
        border: 1px solid #b9c6dc;
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        .hover-wrap {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }
        .el-icon-plus {
          font-size: 30px;
          font-weight: bold;
          color: #c0c0c0;
        }
      }
    }
  }
  .edit-custom {
    ul {
      li {
        width: 160px;
        height: 80px;
        > div {
          width: 100%;
          height: 50%;
          box-sizing: border-box;
          // &:last-child {
          //   color: #999;
          //   background: #f7f7f7;
          // }
        }
        .e-ipt {
          width: 100%;
          height: 100%;
          &:hover .hover-wrap {
            display: flex;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            img {
              cursor: pointer;
            }
            img:first-child {
              margin-right: 32px;
            }
          }
        }
        .hover-wrap {
          position: absolute;
          top: 0;
          height: 50%;
          display: none;
        }
      }
    }
  }
  .api-wrap {
    margin-bottom: 36px;
  }
  .cj-type {
    margin-bottom: 50px;
  }
  .custom-wrap {
    margin-top: 20px;
    padding: 0 20px;
    width: 700px;
    background: #ffffff;
    border: 1px solid #b9c6dc;
    border-radius: 4px;
  }
  .op-btn {
    padding: 20px;
  }
}
</style>

<style lang="scss">
.material-set {
  .c-ipt {
    .el-input {
      margin-right: 5px;
      width: 115px;
      height: 30px;
      input {
        width: 100%;
        height: 100%;
      }
    }
    img {
      cursor: pointer;
    }
  }
  .el-textarea.is-disabled .el-textarea__inner {
    background: #ededed;
  }
  .el-switch__core {
    width: 50px !important;
    height: 22px;
  }
  .el-switch__core:after {
    top: 2px;
  }
}
</style>

