<template>
  <div class="info-set-container">
    <div class="com-up-wrap pl-20">
      <!-- 自动发布信息价 -->
      <div class="mb-40 auto-issue">
        <span class="m-text">期刊发布设置</span>
        <el-button type="primary mb-10" @click="addPlatforms">新增发布平台</el-button>
        <el-table class="mb-20 mt-20" :data="platformList" tooltip-effect="dark">
          <el-table-column prop="platformName" label="平台名称" />
          <el-table-column prop="url" label="调用地址" />
          <el-table-column prop="key" label="密钥" />
          <el-table-column prop="modDate" label="添加时间" />
          <el-table-column label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span @click="editDialog(scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span>
                <span @click="delDialog(scope.row)">
                  <el-tooltip effect="light" content="删除" placement="top">
                    <img src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-c">
          <span class="com-text">自动发布设置</span>
          <div class="ml-20 com-switch">
            <span v-show="isAuto" class="open-text" @click="toggleAutoState(false)">关闭</span>
            <span v-show="!isAuto" class="close-text" @click="toggleAutoState(true)">启动</span>
            <el-switch v-model="isAuto" active-color="#2773FC" inactive-color="#C2C2C2" @change="toggleAutoState(isAuto)" />
          </div>
        </div>

        <div class="m-day">
          <div class="flex-c mb-15 com-input">
            <span class="mr-15 s-text">期刊启用自动发布后</span>
            <el-input v-model="autoIssueTime" class="w-74" @input="checkValue('autoIssue')" />
            <span class="ml-9 mr-14 s-text">个小时，自动发布该期次期刊</span>
          </div>
          <div class="flex-csb">
            <div class="com-checkbox">
              <el-checkbox-group v-model="checkedList" @change="changePlatform">
                <el-checkbox v-for="(item, index) in platformList" :key="index" :label="item.platformName" />
              </el-checkbox-group>
            </div>
          </div>
          <div v-show="showBtn" class="flex-fe mt-20">
            <el-button @click="cancelIssue">取消</el-button>
            <el-button type="primary" :loading="issueLoading" @click="submitIssue">保存</el-button>
          </div>
        </div>
      </div>
      <!-- 自动发布信息价 end -->

      <!-- 新增/编辑发布平台弹窗 -->
      <el-dialog :title="editstatus==1?'新增发布平台':'删除发布平台'" :visible.sync="showeditDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width" @close="clearInfo">
        <div class="flex-c mb-20">
          <span class="nw label-text"><span style="color:red;">*</span>平台名称：</span>
          <el-input v-model="platformName" type="text" placeholder="请填写平台名称" />
        </div>
        <div class="flex-c mb-20">
          <span class="nw label-text"><span style="color:red;">*</span>调用地址：</span>
          <el-input v-model="url" type="textarea" resize="none" rows="3" maxlength="500" />
        </div>
        <div class="flex-c mb-20">
          <span class="nw label-text">密钥: </span>
          <el-input v-model="key" type="textarea" resize="none" rows="5" maxlength="500" />
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showeditDialog = false">取消</el-button>
          <el-button type="primary" :loading="uploadLoding" @click="confirmEdit">确定</el-button>
        </span>
      </el-dialog>

      <!-- 删除发布平台弹窗 -->
      <el-dialog title="删除发布平台" :visible.sync="showdelDialog" :close-on-click-modal="false" width="491px" class="com-dialog warning-dialog" @close="clearInfo">
        <div class="dialog-content" style="text-align:center;">
          <img src="@/assets/img/cs/icons/war_icon.png" alt="" class="mb-10">
          <p>你确定要删除该平台吗？</p>
          <p class="mt-5" style="font-size:12px;color:#7F7F7F;">注：删除后，接口将失效。</p>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showdelDialog = false">取消</el-button>
          <el-button type="primary" @click="confirmDel">确定</el-button>
        </span>
      </el-dialog>

      <!-- 期刊发布 -->
      <div class="set-wrap">
        <span class="m-text">期刊发布<span class="fw-400"> - 批注说明</span></span>
        <span class="m-text fw-400">表头说明</span>
        <ul class="mb-20">
          <el-input v-model="headerContent" type="textarea" placeholder="请输入表头批注说明" :rows="10" maxlength="500" resize="none" />
          <p class="ta-right c-6 mt-5">{{ headerContent.length }}/500</p>
          <div class="tr-wrap">
            <el-tooltip effect="light" content="清空" placement="top">
              <img src="@/assets/img/cs/icons/close_icon.png" alt="" @click="clearContent('header')">
            </el-tooltip>
            <el-tooltip effect="light" content="保存" placement="top">
              <img src="@/assets/img/cs/icons/save_icon.png" alt="" @click="saveContent(0)">
            </el-tooltip>
          </div>
        </ul>
        <span class="m-text fw-400">表尾说明</span>
        <ul class="mb-20">
          <el-input v-model="footerContent" type="textarea" placeholder="请输入表头批注说明" :rows="10" maxlength="500" resize="none" />
          <p class="ta-right c-6 mt-5">{{ footerContent.length }}/500</p>
          <div class="tr-wrap">
            <el-tooltip effect="light" content="清空" placement="top">
              <img src="@/assets/img/cs/icons/close_icon.png" alt="" @click="clearContent('footer')">
            </el-tooltip>
            <el-tooltip effect="light" content="保存" placement="top">
              <img src="@/assets/img/cs/icons/save_icon.png" alt="" @click="saveContent(1)">
            </el-tooltip>
          </div>
        </ul>
      </div>
      <!-- 期刊发布 end -->

      <!-- 导出附表 -->
      <div class="export-file">
        <span class="m-text">发布导出附表设置<span class="fw-400">（注：以下设置为期刊发布时增设一并导出的附表）</span></span>
        <ul class="flex-cw">
          <li v-for="(item, index) in exportFileList" :key="index" class="mr-30 file-item">
            <div class="ellipsis1 f-div" :title="item.fileName">
              {{ item.fileName }}
            </div>
            <div class="flex-cc f-div ff-div">
              <img v-if="item.isSelected == 1" class="cp" src="@/assets/img/cs/icons/yes_icon.png" alt="" @click="selectFile(item.id, 0)">
              <img v-else class="cp" src="@/assets/img/cs/icons/yes_icon02.png" alt="" @click="selectFile(item.id, 1)">
            </div>
            <div class="tr-wrap">
              <span class="fw-b el-icon-close" @click="deleteFile(item.id)" />
              <span class="fw-b el-icon-download" @click="downloadFile(item.id)" />
            </div>
          </li>
          <li class="flex-cc" @click="openImportDialog">
            <span class="el-icon-plus" />
          </li>
        </ul>
      </div>
      <!-- 导出附表 end -->
    </div>

    <!-- 发布附表导入弹窗 -->
    <el-dialog title="发布附表导入" :visible.sync="showImportDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-select com-input">
      <div class="flex-c com-upload">
        <span class="nw mr-20">附表导入</span>
        <div class="flex-c">
          <div class="w-288 u-ipt">{{ fileObj.name }}</div>
          <div class="u-btn">上传</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" @change="uploadFile($event)">
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog = false">取消</el-button>
        <el-button type="primary" :loading="uploadLoding" @click="confirmUploadFile">确定</el-button>
      </span>
    </el-dialog>
    <!-- 发布附表导入弹窗 end -->
  </div>
</template>

<script>
import {
  getReleaseMsgPriceSett,
  releaseNotationSett,
  releaseMsgPriceSett,
  downloadFile,
  getPlatformList,
  addPlatform,
  updatePlatform,
  deletePlatform
} from '@/api/cs/user'
// import {
//   getReleasePlatformList,
// } from '@/api/infoPriceStock'

export default {
  name: 'InfoSet',
  data() {
    return {
      autoIssueTime: '',
      isAuto: false,
      exportFileList: [], // 发布附表列表
      showImportDialog: false, // 发布附表导入弹窗
      fileObj: {}, // 附表对象
      headerContent: '', // 表头批注
      footerContent: '', // 表尾批注
      platformList: [], // 发布平台
      checkedList: [],
      showIssueDialog: false,
      issueLoading: false,
      showBtn: false,
      uploadLoding: false,
      editstatus: '', // 1新增 2编辑
      showeditDialog: false, // 是否显示新增/编辑平台弹窗
      showdelDialog: false, // 是否显示删除平台弹窗
      platformName: '',
      url: '',
      key: '',
      id: '' // 平台id
    }
  },
  mounted() {
    this.getReleaseMsgPriceSett()
    this.getPlatformList()
  },
  methods: {
    clearInfo() {
      this.platformName = ''
      this.url = ''
      this.key = ''
      this.id = ''
    },
    // 删除发布平台
    delDialog(item) {
      this.showdelDialog = true
      this.delid = item.id
    },

    // 新增发布平台
    addPlatforms() {
      this.showeditDialog = true
      this.editstatus = 1
    },

    // 编辑发布平台
    editDialog(item) {
      this.showeditDialog = true
      this.editstatus = 2
      // 回显
      this.platformName = item.platformName
      this.url = item.url
      this.key = item.key
      this.id = item.id
    },

    // 删除发布平台
    confirmDel() {
      const data = {
        id: this.delid
      }
      deletePlatform(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.showdelDialog = false
          this.getPlatformList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    //  提交平台新增/修改
    confirmEdit() {
      if (!this.platformName) {
        this.$message({
          type: 'error',
          message: '请输入平台名称'
        })
        return
      }
      if (!this.url) {
        this.$message({
          type: 'error',
          message: '请输入调用地址'
        })
        return
      }
      const params = {
        platformName: this.platformName,
        url: this.url,
        key: this.key,
        id: this.id
      }
      this.uploadLoding = true
      if (this.editstatus == 1) {
        // 新增
        addPlatform(params)
          .then(res => {
            this.uploadLoding = false
            if (res.code == '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.showeditDialog = false
              this.getPlatformList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.uploadLoding = false
          })
      } else {
        // 编辑
        updatePlatform(params)
          .then(res => {
            this.uploadLoding = false
            if (res.code == '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.showeditDialog = false
              this.getPlatformList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.uploadLoding = false
          })
      }
    },

    changePlatform() {
      this.showBtn = true
    },
    // 取消
    cancelIssue() {
      this.showBtn = false
      this.getReleaseMsgPriceSett()
    },
    // 发布
    submitIssue() {
      if (this.checkedList.length == 0) {
        this.$message({
          type: 'error',
          message: '请选择发布平台'
        })
        return
      }
      var ids = []
      for (var j = 0; j < this.checkedList.length; j++) {
        for (var i = 0; i < this.platformList.length; i++) {
          if (this.checkedList[j] === this.platformList[i].platformName) {
            ids.push(this.platformList[i].id)
          }
        }
      }

      var formData = new FormData()
      formData.append('isAuto', this.isAuto ? 1 : 0)
      formData.append('releaseTime', this.autoIssueTime)
      formData.append('releaseAddr', ids.join(','))
      this.issueLoading = true
      releaseMsgPriceSett(formData)
        .then(res => {
          this.issueLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showIssueDialog = false
            this.showBtn = false
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.issueLoading = false
        })
    },
    // 获取发布平台
    getPlatformList() {
      getPlatformList().then(res => {
        if (res.code == '01') {
          this.platformList = res.body
        }
      })
    },
    // 发布弹窗
    openIssueDialog(item) {
      this.showIssueDialog = true
    },
    // 保存批注type = 0 表尾，1表头
    saveContent(type) {
      var params = {
        type: type
      }
      if (type == 1) {
        params.releaseTail = this.footerContent
      } else if (type == 0) {
        params.releaseHeader = this.headerContent
      }

      releaseNotationSett(params).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 清空内容
    clearContent(type) {
      if (type == 'header') {
        this.headerContent = ''
      } else {
        this.footerContent = ''
      }
    },
    // 获取信息价发布设置
    getReleaseMsgPriceSett() {
      getReleaseMsgPriceSett().then(res => {
        if (res.code == '01') {
          if (res.body.isAuto == 1) {
            this.isAuto = true
          }
          this.headerContent = res.body.releaseHeader || ''
          this.footerContent = res.body.releaseTail || ''
          this.autoIssueTime = res.body.releaseTime
          this.exportFileList = res.body.scheduleListRes
          this.checkedList = res.body.releaseAddr || []
        }
      })
    },
    // 下载附件
    downloadFile(id) {
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      var params = {
        id
      }
      downloadFile(params)
        .then(res => {
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {
            loading.close()
          }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName = sessionStorage.getItem('blob_filename')
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            loading.close()
          }
        })
        .catch(err => {
          loading.close()
        })
    },
    // 删除附件
    deleteFile(id) {
      this.$confirm('确定删除该附表?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var formData = new FormData()
        formData.append('fileId', id)
        formData.append('isDel', 1)

        releaseMsgPriceSett(formData).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getReleaseMsgPriceSett()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 确定上传文件
    confirmUploadFile() {
      if (!this.fileObj || !this.fileObj.size) {
        this.$message({
          type: 'error',
          message: '请上传附表文件'
        })
        return
      }
      var formData = new FormData()
      formData.append('file', this.fileObj)

      this.uploadLoding = true
      releaseMsgPriceSett(formData)
        .then(res => {
          this.uploadLoding = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showImportDialog = false
            this.getReleaseMsgPriceSett()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.uploadLoding = false
        })
    },
    // 勾选附表
    selectFile(id, isAuto) {
      var formData = new FormData()
      formData.append('fileId', id)
      formData.append('isAuto', isAuto)

      releaseMsgPriceSett(formData).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getReleaseMsgPriceSett()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 上传附表
    uploadFile(e) {
      var file = e.target.files[0]
      var canType = [
        'jpg',
        'jpeg',
        'png',
        'gif',
        'pdf',
        'doc',
        'docx',
        'xls',
        'xlsx',
        'rar',
        'zip'
      ]
      var type = file.name.slice(file.name.lastIndexOf('.') + 1)
      if (canType.indexOf(type) > -1) {
        this.fileObj = file
      } else {
        this.$message({
          type: 'error',
          message:
            '只支持jpg,jpeg,png,gif,pdf,doc,docx,xls,xlsx,rar,zip格式文件'
        })
      }
    },
    // 打开发布附表弹窗
    openImportDialog() {
      this.showImportDialog = true
      this.fileObj = {}
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 修改自动发布信息价
    toggleAutoState(val) {
      this.isAuto = val
      var formData = new FormData()
      formData.append('isAuto', this.isAuto ? 1 : 0)
      formData.append('releaseTime', this.autoIssueTime)

      releaseMsgPriceSett(formData).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 验证输入
    checkValue(type) {
      this.showBtn = true
      switch (type) {
        case 'autoIssue':
          this.autoIssueTime = this.autoIssueTime.replace(/[^\d]/g, '')
          break
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.info-set-container {
  .com-up-wrap {
    border-radius: 6px;
    .m-text {
      margin-bottom: 20px;
      display: block;
      font-size: 14px;
      color: #666;
      font-weight: bold;
    }
    .config-wrap {
      .submit-btn {
        margin: 20px 0 10px 0;
        width: 138px;
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        padding: 0;
      }
    }
    .config-wrap {
      margin-bottom: 20px;
      ul {
        li {
          margin-bottom: 20px;
          .top-li {
            margin-right: 9px;
            color: $color-primary;
            img {
              margin-right: 10px;
              cursor: pointer;
            }
          }
          .bottom-li {
            color: #666;
          }
        }
      }
    }
    .auto-issue {
      .m-day {
        padding: 15px;
        margin-top: 20px;
        width: 650px;
        background: #d4f0fd;
        font-size: 14px;
        color: #666;
      }
      .edit-wrap {
        span {
          cursor: pointer;
          color: $color-primary;
          &:first-child {
            padding-right: 15px;
            border-right: 1px solid #333;
          }
          &:last-child {
            padding-left: 15px;
          }
        }
      }
    }
    .export-file {
      margin-bottom: 30px;
      ul {
        li {
          position: relative;
          margin-bottom: 10px;
          max-width: 190px;
          min-width: 190px;
          height: 80px;
          border: 1px solid #b9c6dc;
          border-radius: 4px;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          box-sizing: border-box;
          &:hover {
            border: 1px solid $color-primary;
            box-shadow: 0 1px 11px #d8d8d8;
            .tr-wrap {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
            }
          }
          .el-icon-plus {
            font-size: 30px;
            font-weight: bold;
            color: #b9c6dc;
          }
          .tr-wrap {
            display: none;
            position: absolute;
            right: -27px;
            top: -1px;
            width: 27px;
            height: 48px;
            border: 1px solid $color-primary;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            box-sizing: border-box;
            img {
              width: 14px;
              height: 14px;
              cursor: pointer;
            }
          }
        }
        .file-item {
          .f-div {
            width: 100%;
            height: 50%;
            box-sizing: border-box;
            &:first-child {
              padding: 0 5px;
              line-height: 40px;
              text-align: center;
            }
            &.ff-div {
              color: #999;
              background: #f7f7f7;
            }
          }
        }
      }
    }
  }
  .com-dialog {
    font-size: 14px;
  }
  .set-wrap {
    ul {
      padding: 10px;
      position: relative;
      width: 398px;
      border: 1px solid #cad6e1;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: 30px;
      box-sizing: border-box;
      &:hover {
        border: 1px solid $color-primary;
        box-shadow: 0 1px 11px #d8d8d8;
        .tr-wrap {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }
      }
      .tr-wrap {
        display: none;
        position: absolute;
        right: -27px;
        top: -1px;
        width: 27px;
        height: 48px;
        border: 1px solid $color-primary;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-sizing: border-box;
        img {
          width: 14px;
          height: 14px;
          cursor: pointer;
        }
      }
      input {
        width: 100%;
      }
    }
  }
  .close-text {
    left: 25px;
  }
}
</style>
