<template>
  <div class="synthesize-set-container">
    <div class="up-wrap com-el-tabs">
      <el-tabs v-model="activeName">
        <el-tab-pane label="测算模型参数设置" name="params">
          <Params v-if="activeName == 'params'" />
        </el-tab-pane>
        <el-tab-pane label="其他设置" name="other">
          <Other v-if="activeName == 'other'" />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import Params from './components/Params'
import Other from './components/Other'
export default {
  name: 'SynthesizeSet',
  data() {
    return {
      activeName: 'params',
    }
  },
  components: {
    Params,
    Other
  }
}
</script>

<style lang="scss" scoped>
.synthesize-set-container {
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
</style>