<template>
  <div class="account-container">
    <!-- 列表 -->
    <div class="com-table table-wrap">
      <div class="flex-c com-operate-wrap op-wrap">
        <el-button type="primary" class="flex-cc w-color" @click="addRole">
          <img src="@/assets/img/table/add.png" alt="" class="el-icon-search va-m">
          <span class="va-m">添加角色</span>
        </el-button>
        <el-button class="flex-cc default-btn" @click="openUpdateDialog('1')">
          <img src="@/assets/img/table/refresh.png" alt="" class="el-icon-search va-m">
          <span class="va-m">启用</span>
        </el-button>
        <el-button class="flex-cc default-btn" @click="openUpdateDialog('0')">
          <img src="@/assets/img/table/refresh.png" alt="" class="el-icon-search va-m">
          <span class="va-m">禁用</span>
        </el-button>
        <el-button class="flex-cc delete-btn" @click="openDelDialog('')">
          <img src="@/assets/img/table/del.png" alt="" class="el-icon-search va-m">
          <span class="va-m">删除</span>
        </el-button>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%;" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" width="66px" />
          <el-table-column prop="roleName" label="角色名称" />
          <el-table-column prop="count" label="成员人数" />
          <el-table-column label="状态">
            <template slot-scope="scope">
              <span v-if="scope.row.status == '1'" class="t-color pass">启用</span>
              <span v-if="scope.row.status == '0'" class="t-color no">禁用</span>
            </template>
          </el-table-column>
          <el-table-column label="说明" width="160px">
            <template slot-scope="scope">
              <span class="t-color r-hide">{{ scope.row.remark || '--' }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="creator" label="创建人" />
          <el-table-column prop="createTime" label="创建时间" />
          <el-table-column label="操作" width="150px">
            <template slot-scope="scope">
              <div v-if="scope.row.status != '2'" class="flex-c icon-wrap">
                <div class="flex-cc" @click="editRole(scope.row)">
                  <el-tooltip effect="light" content="编辑角色" placement="top">
                    <img class="icons" src="@/assets/img/icons/edits.png" alt="">
                  </el-tooltip>
                </div>
                <div class="flex-cc" @click="goUserControl()">
                  <el-tooltip effect="light" content="成员管理" placement="top">
                    <img class="icons" src="@/assets/img/icons/member.png" alt="">
                  </el-tooltip>
                </div>
                <el-tooltip effect="light" content="删除角色" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="openDelDialog(scope.row)">
                </el-tooltip>
              </div>
              <div v-else>--</div>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog my-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/dialog/confirm.png" alt="">
        <p>
          {{ delStatus == 1 ? "你确定要删除[" + delname+ "]这个角色吗？" : '你确定要删除勾选的角色吗？' }}
        </p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" @click="confirmDelete">确定</el-button>
      </span>
    </el-dialog>

    <!-- 启用/禁用弹窗 -->
    <el-dialog :title="title" :visible.sync="showUpdateDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog my-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/dialog/confirm.png" alt="">
        <p>{{ updateText }}</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showUpdateDialog = false">取消</el-button>
        <el-button type="primary" :loading="updateLoading" @click="confirmUpdate">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getRoleList, delRole, updateRoleStatus } from '@/api/user'
export default {
  data() {
    return {
      tableData: [],
      loading: false,
      currentPage: 1,
      pageSize: 1000,
      multipleSelection: [],
      showDelDialog: false, // 显示删除弹窗
      delLoading: false, // 删除角色loading
      delStatus: '', // 删除弹窗的状态 1单个 2批量
      delId: '', // 删除的角色id
      delname: '', // 删除的角色名称
      title: '', // 启用/禁用弹窗title
      showUpdateDialog: false, // 显示启用/禁用弹窗
      updateText: '', // 启用/禁用提示文字
      updateLoading: false // 启用/禁用loading
    }
  },

  mounted() {
    this.getRolePageList()
  },

  methods: {
    // 获取角色列表
    getRolePageList() {
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize
      }
      getRoleList(data).then(res => {
        if (res.code == '01') {
          this.tableData = res.body.list
        }
      })
    },

    // 添加角色
    addRole() {
      this.$router.push({
        path: '/rolePermission/addRole',
        query: {
          roleStatus: this.title == '启用' ? 1 : 0
        }
      })
    },

    // 编辑角色
    editRole(item) {
      this.$router.push({
        path: '/rolePermission/editRole',
        query: {
          id: item.id,
          roleStatus: this.title == '启用' ? 1 : 0
        }
      })
    },

    // 成员管理
    goUserControl() {
      this.$router.push('/userControl/index')
    },

    // 提示弹窗
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    },

    // 删除弹窗
    openDelDialog(item) {
      if (item.id) {
        // 删除单个
        this.delStatus = 1
        this.delId = item.id
        this.showDelDialog = true
        this.delname = item.roleName
      } else {
        // 批量删除
        this.delStatus = 2
        if (this.multipleSelection.length > 0) {
          this.showDelDialog = true
        } else {
          this.openAlert('请至少选择一个要删除的角色')
          return
        }
      }
    },

    // 启用/禁用弹窗弹窗
    openUpdateDialog(type) {
      const txt = type == '1' ? '启用' : '禁用'
      if (this.multipleSelection.length != 1) {
        this.openAlert('请仅选择一个要' + txt + '的角色')
        return
      }
      if (this.multipleSelection[0].status == type) {
        this.openAlert('该角色已是' + txt + '状态')
        return
      }
      if (type == '1') {
        // 启用
        this.title = '启用'
        this.updateText =
          '您确定启用[' + this.multipleSelection[0].roleName + ']角色吗？'
      } else {
        // 禁用
        this.title = '禁用'
        this.updateText =
          '您确定禁用[' + this.multipleSelection[0].roleName + ']角色吗？'
      }
      this.showUpdateDialog = true
    },

    // 删除角色接口
    confirmDelete() {
      let ids
      if (this.delStatus == 1) {
        ids = this.delId
      } else if (this.delStatus == 2) {
        ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        ids = ids.join(',')
      }
      var params = {
        roleIds: ids
      }
      this.delLoading = true
      delRole(params)
        .then(res => {
          this.delLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showDelDialog = false
            this.$refs.multipleTable.clearSelection()
            this.currentPage = 1
            this.getRolePageList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.delLoading = false
        })
    },

    // 启用/禁用角色接口
    confirmUpdate() {
      const roleStatus = this.title == '启用' ? 1 : 0
      var params = {
        roleStatus: roleStatus,
        id: this.multipleSelection[0].id
      }
      this.updateLoading = true
      updateRoleStatus(params)
        .then(res => {
          this.updateLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showUpdateDialog = false
            this.$refs.multipleTable.clearSelection()
            this.currentPage = 1
            this.getRolePageList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.updateLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.account-container {
  width: 100%;
  height: 100%;
  .search-wrap {
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  }
  .table-wrap {
    .op-wrap {
      padding: 24px 0;
    }
    .el-icon-search {
      margin-right: 4px;
    }
  }
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
    .pass {
      color: #1eb645;
    }
    .no {
      color: $color-danger;
    }
  }
}
</style>

<style lang="scss">
</style>
