<template>
  <div class="hamburger-container" @click="toggleClick">
    <!-- <img class="hamburger" :class="{'is-active':isActive}" src="@/assets/img/home/collect_bar.png" alt=""> -->
    <span class="el-icon-s-unfold hamburger" :class="{'is-active':isActive}"></span>
  </div>
</template>

<script>
export default {
  name: 'Hamburger',
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleClick() {
      this.$emit('toggleClick')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.hamburger-container {
  padding: 0 15px;
  background: $menuBg;
  cursor: pointer;
  color: $menuText;
}
.hamburger {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  // width: 24px;
  // height: 24px;
}

.hamburger.is-active {
  transform: rotate(180deg);
}
</style>
