<template>
  <div class="index-container">
    <el-dialog
      title="设置公司名称"
      :visible.sync="showSysWin"
      :close-on-click-modal="false"
      width="390px"
      class="com-dialog my-dialog">
      <el-input placeholder="请输入公司名称" v-model="comName" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSet">取消</el-button>
        <el-button type="primary" @click="confirmSet">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  configSysName
} from '@/api/user'
export default {
  data() {
    return {
      comName: '',
      showSysWin: false,
    }
  },

  created() {
    this.$router.push('/materialManage') // czhui
  },

  mounted() {
    // 设置系统名称
    let sysInfo = this.$route.query.sysInfo
    if(sysInfo === '2') {
      this.showSysWin = true
    }
  },

  methods: {
    cancelSet() {
      this.showSysWin = false
      this.comName = ''
    },

    confirmSet() {
      let sysName = this.comName
      if(!sysName) {
        this.$message({
          type: 'error',
          message: '请输入公司名称'
        })
        return
      }
      let data = {
        sysName
      }
      configSysName(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.showSysWin = false
          this.comName = ''
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {})
    }
  },
}
</script>

<style lang="scss" scoped>
  .demo, .iconfont {
    background-image:-webkit-linear-gradient(right bottom,red,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 16px;
  }
  .iconfont2 {
    background-image:-webkit-linear-gradient(right bottom,#F9A147,#FFD2A3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: bold;
  }
</style>

<style lang="scss">

</style>
