<template>
  <div class="branch">
    <div class="b-content">
      <div class="flex-csb">
        <div class="flex-c">
          <div class="flex-c com-select">
            <el-select v-model="curSegId" placeholder="请选择分部工程" @change="getProjectDeptItemDetailPriceView">
              <el-option
                v-for="item in segList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="flex-c export-btn">
          <span class="cp s-export" @click="exportDetailFile('some')">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>导出</span>
          </span>
          <span class="cp" @click="exportDetailFile('all')">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>全部导出</span>
          </span>
        </div>
      </div>
      <div class="detail-table expand-table">
        <el-table
          ref="multipleTable"
          :data="detailTable"
          tooltip-effect="dark"
          style="width: 100%"
          key="id"
          :row-key="getRowKeys"
          :expand-row-keys="expandRowKeys"
          @expand-change="expandChange"
          @selection-change="multipleSelection = $event">
          <el-table-column
            type="selection"
            width="66">
          </el-table-column>
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table
                :row-key="getSubRowKeys"
                :expand-row-keys="subExpandRowKeys"
                @expand-change="subExpandChange"
                :data="scope.row.projectDeptItemListRespList"
                style="width: 100%"
                class="sub-expand-table">
                <el-table-column
                  label=""
                  width="66px">
                </el-table-column>
                <el-table-column type="expand" width="48px">
                  <template slot-scope="subScope">
                    <el-table
                      :data="list"
                      style="width: 100%"
                      class="sub-expand-table">
                      <el-table-column
                        label=""
                        width="114px">
                      </el-table-column>
                      <el-table-column
                        label="">
                        <template slot-scope="otherScope">
                          <span>{{scope.$index + 1}}.{{subScope.$index + 1}}.{{otherScope.$index + 1}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="name"
                        label="名称">
                      </el-table-column>
                      <el-table-column
                        label="特征描述">
                        <template slot-scope="otherScope">
                          <p class="ellipsis2" :title="otherScope.row.features">{{otherScope.row.features}}</p>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="unit"
                        label="单位">
                      </el-table-column>
                      <el-table-column
                        label="工程量">
                        <template slot-scope="otherScope">
                          <span>{{formatNumber(otherScope.row.count)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="综合单价（元）">
                        <template slot-scope="otherScope">
                          <span class="va-m">{{formatNumber(otherScope.row.integratedUnit)}}</span>
                          <img class="va-m ml-5 cp" src="@/assets/img/icons/project_stock/rate.png" alt="" @click="skipList(otherScope.row)">
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="totalPrice"
                        label="合价（元）">
                        <template slot-scope="otherScope">
                        <span>{{formatNumber(otherScope.row.totalPrice)}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="经济指标">
                        <template slot-scope="otherScope">
                          <span :class="'cp '+(otherScope.row.indicatorWarningRes.warningResult ? 'rightCol' : 'warnCol')" v-if="bindWarn(otherScope.row)" @click="warnInfo(otherScope.row)">{{formatNumber(otherScope.row.econStd, true)}}</span>
                          <span v-else>{{formatNumber(otherScope.row.econStd, true) || '--/--'}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="造价占比(占项目造价的%）">
                        <template slot-scope="otherScope">
                          <span v-if="otherScope.row.pct">{{(otherScope.row.pct * 100).toFixed(2)}}%</span>
                          <span v-else>0%</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="操作">
                        <template slot-scope="otherScope">
                          <img class="cp" src="@/assets/img/icons/edits.png" alt="" @click="editListDialog(otherScope.row)">
                        </template>
                      </el-table-column>
                    </el-table>
                  </template>
                </el-table-column>
                <el-table-column
                  label="">
                  <template slot-scope="subScope">
                    <span>{{scope.$index + 1}}.{{subScope.$index + 1}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="name"
                  label="名称">
                </el-table-column>
                <el-table-column
                  label="特征描述">
                  <template slot-scope="subScope">
                    <p class="ellipsis2" :title="subScope.row.features">{{subScope.row.featrueDesc}}</p>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="unit"
                  label="单位">
                </el-table-column>
                <el-table-column
                  label="工程量">
                  <template slot-scope="subScope">
                    <span>{{formatNumber(subScope.row.count)}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="综合单价（元）">
                  <template slot-scope="subScope">
                    <span class="c-minor">{{formatNumber(subScope.row.integratedUnit)}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="合价（元）">
                  <template slot-scope="subScope">
                    <span>{{formatNumber(subScope.row.totalPrice)}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="经济指标">
                  <template slot-scope="subScope">
                    <span :class="'cp '+(subScope.row.indicatorWarningRes.warningResult ? 'rightCol' : 'warnCol')" v-if="bindWarn(subScope.row)" @click="warnInfo(subScope.row)">{{formatNumber(subScope.row.econStd, true)}}</span>
                    <span v-else>{{formatNumber(subScope.row.econStd, true) || '--/--'}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="造价占比(占项目造价的%）">
                  <template slot-scope="subScope">
                    <span v-if="scope.row.pct">{{(subScope.row.pct * 100).toFixed(2)}}%</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="操作">
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column
            label="序号">
            <template slot-scope="scope">
              <span>{{scope.$index + 1}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            label="名称">
          </el-table-column>
          <el-table-column
            label="特征描述">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.featrueDesc">{{scope.row.featrueDesc}}</p>
            </template>
          </el-table-column>
          <el-table-column
            prop="unit"
            label="单位">
          </el-table-column>
          <el-table-column
            label="工程量">
            <template slot-scope="scope">
              <span>{{formatNumber(scope.row.count)}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="综合单价（元）">
            <template slot-scope="scope">
              <span class="c-minor">{{formatNumber(scope.row.integratedUnit)}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="合价（元）">
            <template slot-scope="scope">
              <span>{{formatNumber(scope.row.totalPrice)}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="经济指标">
            <template slot-scope="scope">
              <span :class="'cp '+(scope.row.indicatorWarningRes.warningResult ? 'rightCol' : 'warnCol')" v-if="bindWarn(scope.row)" @click="warnInfo(scope.row)">{{formatNumber(scope.row.econStd, true)}}</span>
              <span v-else>{{formatNumber(scope.row.econStd, true) || '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="造价占比(占项目造价的%）">
            <template slot-scope="scope">
              <span v-if="scope.row.pct">{{(scope.row.pct * 100).toFixed(2)}}%</span>
            </template>
          </el-table-column>
          <el-table-column
            label="操作">
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 修改清单 -->
    <el-dialog
      :visible.sync="showEditListDialog"
      :close-on-click-modal="false"
      title="修改清单"
      width="60%"
      class="com-dialog com-dialog2 com-dialog3 com-input quote-dialog">
      <el-table
        :data="curListItem"
        style="width: 100%"
        border>
        <el-table-column
          label="清单编码"
          width="155px">
          <template slot-scope="scope">
            <span>{{scope.row.code}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="清单名称"
          width="138px">
          <template slot-scope="scope">
            <span>{{scope.row.name}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="特征"
          width="173px">
          <template slot-scope="scope">
            <el-input
              resize="none"
              type="textarea"
              :rows="6"
              placeholder="请填写特征"
              v-model="scope.row.features">
            </el-input>
          </template>
        </el-table-column>
        <el-table-column
          label="单位"
          width="100px">
          <template slot-scope="scope">
            <el-autocomplete
              v-model="scope.row.unit"
              value-key="unit"
              :fetch-suggestions="iptUnit"
              placeholder="单位"
            ></el-autocomplete>
          </template>
        </el-table-column>
        <el-table-column
          label="工程量"
          width="140px">
          <template slot-scope="scope">
            <el-input v-model="scope.row.count"></el-input>
          </template>
        </el-table-column>
        <el-table-column
          label="单价（元）">
          <template slot-scope="scope">
            <el-input v-model="scope.row.integratedUnit"></el-input>
          </template>
        </el-table-column>
        <el-table-column
          label="合价（元）"
          width="120px">
          <template slot-scope="scope">
            <span>{{scope.row.totalPrice}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="操作">
          <template>
            <img class="cp" src="@/assets/img/icons/project_stock/save_02.png" alt="" @click="saveEditList">
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>

    <!-- 清单偏差过大提示弹窗 -->
    <el-dialog
      title="操作提示"
      :visible.sync="listTipsDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p class="wth">修改数据后计算的合价与原数据相差过大，请重新调整至合理范围（偏差不得超过<span class="org">±10%</span> ）</p>
      <p class="left org">注：直接保存将修改造价数据，请慎重选择</p>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="loading" @click="listTipsDialog = false">取消</el-button>
        <el-button type="primary" @click="updateInvInfo">确定</el-button>
      </span>
    </el-dialog>

    <!-- 数据错误弹窗 -->
    <el-dialog
      title="操作提示"
      :visible.sync="dataErrDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p class="wth">您修改清单数据后，已造成数据错误，是否去进行定额修正？</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dataErrDialog = false">暂不调整</el-button>
        <el-button type="primary" @click="skipList">去修正</el-button>
      </span>
    </el-dialog>

    <!-- 预警弹窗 -->
    <WarnDialog :tableWarnData="tableWarnData" :showWarnDialog="showWarnDialog" @closeDialog="showWarnDialog=false" />
  </div>
</template>

<script>
import WarnDialog from "../../components/warnDialog";
import {
  updateInvInfo,
} from '@/api/newProject'
import {
  getProjectDeptItemDetailPriceView,
  queryNormEngList,
  getProjectDetailTable,
  getProjectItemInventoryDetailPriceView,
  getUnitProjectCount,
  exportProjectItemInventoryDetailPriceView,
} from '@/api/project'
export default {
  props: ['projectStageDetail', 'curUnitId'],
  components: {
    WarnDialog,
  },
  data() {
    return {
      expandRowKeys: [],
      getRowKeys(row) {
        return row.id
      },
      subExpandRowKeys: [],
      getSubRowKeys(row) {
        return row.id
      },
      list: [], // 清单
      segList: [],  // 分部工程列表
      curSegId: 0,
      detailTable: [],
      projectStageId: null,
      loading: false,
      showEditListDialog: false,
      listTipsDialog: false,
      dataErrDialog: false,
      curListItem: [],
      unitList: [{unit:'m'},{unit:'㎡'},{unit:'m³'},{unit:'台'},{unit:'t'},{unit:'km'},{unit:'个'},{unit:'根'},{unit:'站'},{unit:'正线公里'},{unit:'延长米'}],
      multipleSelection: [],
      oldintegratedUnit: 0,  // 修改清单前原单价
      tableWarnData: '', // 预警弹窗数据
      showWarnDialog: false, // 是否显示预警弹窗
    }
  },
  mounted() {
    this.projectStageId = this.projectStageDetail.proStageBaseInfo.projectStageId
    this.getProjectDeptItemDetailPriceView()
    this.getUnitProjectCount()
  },
  methods: {
    bindWarn(item) {
       return item.indicatorWarningRes && item.indicatorWarningRes.warningResult !== null ? true : false
    },

    // 查看预警弹窗
    warnInfo(item) {
      let res = item.indicatorWarningRes
      this.showWarnDialog = true
      res.econStd = item.econStd
      res.caliberUnit = item.caliberUnit
      this.tableWarnData = res
    },

    // 单位辅助输入
    iptUnit(queryString, cb) {
      cb(this.unitList)
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 分部分项清单工程费用导出
    exportDetailFile(type) {
      let ids = []
      if(type == 'all') {
        if (this.detailTable.length == 0) {
          this.openAlert('暂无要导出的数据', 'info')
          return
        }
        ids = null
      } else {
        if (this.multipleSelection.length > 0) {
          for (var i = 0; i < this.multipleSelection.length; i++) {
            ids.push(this.multipleSelection[i].id)
          }
        } else {
          this.openAlert()
          return
        }
      }
      let params = {
        unitId: this.curUnitId || null,
        itemId: ids && ids.length>0 ?ids.join() : null,
        projectStageId: this.projectStageId,
      }
      exportProjectItemInventoryDetailPriceView(params).then(res => {
          // ie11文件下载兼容
          if(navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '分部分项清单工程费用.xls')
            return
          }
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {

          }
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement('a');
            let _fileName = sessionStorage.getItem('blob_filename') || '分部分项清单工程费用.xls';
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem('blob_filename')
          }
        })
    },
    // 跳转清单
    skipList(e) {
      this.$emit('skipList',this.curListItem.length>0 && this.curListItem[0].name || e.name)
    },
    // 修改清单弹窗
    editListDialog(row) {
      this.oldintegratedUnit = row.integratedUnit // 原单价
      this.showEditListDialog = true
      this.curListItem = []
      this.curListItem.push(JSON.parse(JSON.stringify(row)))
    },
    // 提交清单修改
    saveEditList() {
      let row = this.curListItem[0]
      let totalPrice = row.totalPrice || 0
      let curPrice = row.count * row.integratedUnit
      // 偏差不得超过±10%
      if (curPrice > (totalPrice + totalPrice * 0.1) || curPrice < (totalPrice - totalPrice * 0.1)) {
        this.listTipsDialog = true
        return
      }

      this.updateInvInfo()
    },
    updateInvInfo() {
      let row = this.curListItem[0]
      let data = {
        feature: row.features,
        count: row.count,
        invId: row.id,
        price: row.integratedUnit,
        unit: row.unit,
        updateProjectDetail: true,    // 是否是分部分项明细或清单汇总修改清单
      }
      this.loading = true
      updateInvInfo(data).then(res => {
        this.loading = false
        if (res.code == '01') {
          this.$message({
            type:'success',
            message: res.message
          })
          this.showEditListDialog = false
          this.listTipsDialog = false
          this.getProjectItemInventoryDetailPriceView()
          // 单价相差10%警告弹窗
          // if(row.integratedUnit > this.oldintegratedUnit * 1.1 || row.integratedUnit < this.oldintegratedUnit * 0.9) {
          //   this.dataErrDialog = true
          // }
        } else {
          this.$message({
            type:'error',
            message: res.message
          })
        }
      })
    },
    // 展开分部
    expandChange(row, expandRows) {
      this.expandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.expandRowKeys.push(row.id) // 每次push进去的是每行的ID
        }
      }
    },
    // 展开分项
    subExpandChange(row, expandRows) {
      this.subExpandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.subExpandRowKeys.push(row.id) // 每次push进去的是每行的ID
          this.getProjectItemInventoryDetailPriceView()
        }
      }
    },
    // 获取清单
    getProjectItemInventoryDetailPriceView() {
      let data = {
        currentPage: 1,
        pageSize: null,
        deptId: this.expandRowKeys[0],
        unitId: this.curUnitId,
        projectStageId: this.projectStageId,
        itemId: this.subExpandRowKeys[0]
      }
      getProjectItemInventoryDetailPriceView(data).then(res => {
        if (res.code === '01') {
          this.list = res.body.list || []
        }
      })
    },
    // 获取分部工程
    getUnitProjectCount() {
      let params = {
        unitId: this.curUnitId,
        projectStageId: this.projectStageId
      }
      getUnitProjectCount(params).then(res => {
        if (res.code === '01') {
          this.segList = res.body || []
          this.segList.unshift({
            id: 0,
            name: '全部'
          })
        }
      })
    },
    getProjectDeptItemDetailPriceView() {
      let params = {
        projectStageId: this.projectStageId,
        unitId: this.curUnitId || null,
        itemId: this.curSegId || null
      }
      getProjectDeptItemDetailPriceView(params).then(res => {
        if (res.code === '01') {
          this.detailTable = res.body || []
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.branch {
  width: 100%;
  min-height: 300px;
  border-left: 7px solid #F6F6F6;
  background: #fff;
  .warnCol {
    color: $color-danger;
  }
  .rightCol {
    color: #00CC00;
  }
  .com-select {
    width: 281px;
  }
  .com-pages-wrap {
    padding: 0;
  }
  .b-content {
    width: 100%;
    padding: 39px 15px 100px 20px;
    .export-btn {
      padding-right: 16px;
      color: #333;
      font-size: 16px;
      .s-export {
        margin-right: 36px;
      }
      img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
    .detail-table {
      padding-bottom: 57px;
      margin-top: 24px;
      width: 100%;
      box-shadow: 0px 1px 8px 0px #EFF0F3;
      border-radius: 8px;
      .bottom-wrap {
        padding: 0 34px 0 31px;
        width: 100%;
        height: 65px;
        border-radius: 1px;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        box-sizing: border-box;
        .l-text {
          margin-right: 5px;
          color: #999;
        }
      }
    }
  }
}
</style>
<style lang="scss">
.branch {
  .com-select {
    margin: 0 19px 0 0 !important;
    .el-input__inner {
      height: 36px;
      line-height: 36px;
      border: 0;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
    .el-icon-arrow-up {
      margin-top: 4px;
    }
    .el-icon-arrow-up.is-reverse {
      margin-top: 0;
    }
  }
  .com-search2 {
    border: 0;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    input {
      border: 0;
    }
  }
  .el-table th.is-leaf, .el-table td {
    border-bottom: 1px solid #F3F3F4;
  }

  .el-table th:first-child > .cell,
  .el-table td:first-child > .cell {
    padding-left: 27px;
  }
}
</style>
