<template>
  <div class="branch">
    <div class="b-content">
      <div class="flex-csb">
        <div class="flex-c">
          <div class="com-search2">
            <el-input
              placeholder="请输入清单名称查找"
              v-model="keyword"
              @keyup.enter.native="searchFun"
            />
            <i class="el-icon-search" @click="searchFun"></i>
          </div>
          <div class="flex-c com-select">
            <span class="nw">选择单位工程：</span>
            <el-select
              v-model="curUnit"
              placeholder="请选择单位工程"
              @change="selectUnit"
            >
              <el-option
                v-for="item in unitProject"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </div>
          <div class="flex-c com-select">
            <span class="nw">选择分部工程：</span>
            <el-select
              v-model="curSeg"
              placeholder="请选择分部工程"
              @change="selectSeg"
            >
              <el-option
                v-for="item in segList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="flex-c export-btn">
          <span class="cp s-export" @click="exportDetailFile('some')">
            <img src="@/assets/img/icons/project_stock/export.png" alt="" />
            <span>导出</span>
          </span>
          <span class="cp" @click="exportDetailFile('all')">
            <img src="@/assets/img/icons/project_stock/export.png" alt="" />
            <span>全部导出</span>
          </span>
        </div>
      </div>
      <div class="detail-table">
        <el-table
          ref="multipleTable"
          :data="listTable"
          tooltip-effect="dark"
          style="width: 100%"
          class="expand-table"
          key="id"
          :row-key="getRowKeys"
          :expand-row-keys="expandRowKeys"
          @expand-change="expandChange"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" width="66px"></el-table-column>
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table
                :data="curExpandData"
                style="width: 100%"
                class="sub-expand-table"
              >
                <el-table-column label="" width="114px"> </el-table-column>
                <el-table-column label="序号" width="50px">
                  <template slot-scope="subScope">
                    <span
                      >{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span
                    >
                  </template>
                </el-table-column>
                <el-table-column prop="code" label="编码"> </el-table-column>
                <el-table-column label="类别" min-width="50px">
                  <template>
                    <span>定额</span>
                  </template>
                </el-table-column>
                <el-table-column prop="name" label="名称"> </el-table-column>
                <el-table-column prop="unit" label="单位" min-width="50px"> </el-table-column>
                <el-table-column label="工程量" min-width="70px">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.count) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="综合单价（元）">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="合价（元）" align="center">
                  <!-- <template slot-scope="subScope">
                    <span>{{formatNumber(subScope.row.totalPrice)}}</span>
                  </template> -->
                </el-table-column>
                <!-- <el-table-column label="合价"> -->
                <el-table-column label="人工费">
                  <template slot-scope="subScope">
                    <span>{{
                      formatNumber(subScope.row.totalManualPrice)
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="材料费">
                  <template slot-scope="subScope">
                    <span>{{
                      formatNumber(subScope.row.totalMaterialPrice)
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="机械费">
                  <template slot-scope="subScope">
                    <span>{{
                      formatNumber(subScope.row.totalMechanicPrice)
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="管理费和利润" width="110px">
                  <template slot-scope="subScope">
                    <span>{{
                      formatNumber(subScope.row.totalExtraPrice)
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="规费">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalFeesPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="税金">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalTaxPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="风险费">
                  <template slot-scope="subScope">
                    <span>{{
                      formatNumber(subScope.row.totalRiskPrice) || 0
                    }}</span>
                  </template>
                </el-table-column>
                <!-- </el-table-column> -->
                <el-table-column label="经济指标">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.econStd, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="subScope">
                    <!-- <img class="cp mr-20" src="@/assets/img/icons/edits.png" alt="" @click="editQuoteDialog(subScope.row, scope.row.totalPrice, scope.row.id)" v-if="subScope.row.updatePriceTag"> -->
                    <img
                      class="cp"
                      src="@/assets/img/icons/project_stock/constitute.png"
                      alt=""
                      @click="unitPriceGroupDialog(subScope.row)"
                    />
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column label="序号" width="50px">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="code" label="编码"> </el-table-column>
          <el-table-column label="类别" min-width="50px">
            <template>
              <span>清单</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="名称"> </el-table-column>
          <el-table-column prop="unit" label="单位" min-width="50px"> </el-table-column>
          <el-table-column label="工程量" min-width="70px">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.count) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="综合单价（元）">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.unitPrice) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="合价（元）" align="center">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.totalPrice) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="合价" align="center" width="100%">
            <el-table-column label="人工费">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.manualPrice) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="材料费">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.materialPrice) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="机械费">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.mechanicPrice) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="管理费和利润" width="110px">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.extraPrice) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="规费">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.feesPrice) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="税金">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.taxPrice) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="风险费">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.riskPrice) || 0 }}</span>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column label="经济指标">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.econStd, true) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <img
                class="cp mr-20"
                src="@/assets/img/icons/edits.png"
                alt=""
                @click="editListDialog(scope.row)"
              />
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 修改清单 -->
    <el-dialog
      :visible.sync="showEditListDialog"
      :close-on-click-modal="false"
      title="修改清单"
      width="60%"
      class="com-dialog com-dialog2 com-dialog3 com-input quote-dialog"
    >
      <el-table :data="curListItem" style="width: 100%" border>
        <el-table-column label="清单编码" width="155px">
          <template slot-scope="scope">
            <span>{{ scope.row.code }}</span>
          </template>
        </el-table-column>
        <el-table-column label="清单名称" width="138px">
          <template slot-scope="scope">
            <span>{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column label="特征" width="173px">
          <template slot-scope="scope">
            <el-input
              resize="none"
              type="textarea"
              :rows="6"
              placeholder="请填写特征"
              v-model="scope.row.features"
            >
            </el-input>
          </template>
        </el-table-column>
        <el-table-column label="单位" width="100px">
          <template slot-scope="scope">
            <el-autocomplete
              v-model="scope.row.unit"
              value-key="unit"
              :fetch-suggestions="iptUnit"
              placeholder="单位"
            ></el-autocomplete>
          </template>
        </el-table-column>
        <el-table-column label="工程量" width="140px">
          <template slot-scope="scope">
            <el-input v-model="scope.row.count"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="单价（元）">
          <template slot-scope="scope">
            <el-input v-model="scope.row.unitPrice"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="合价（元）" width="120px">
          <template slot-scope="scope">
            <span>{{ scope.row.totalPrice }}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <img
            class="cp"
            src="@/assets/img/icons/project_stock/save_02.png"
            alt=""
            @click="saveEditList"
          />
        </el-table-column>
      </el-table>
    </el-dialog>

    <!-- 修改定额 -->
    <el-dialog
      :visible.sync="showEditQuoteDialog"
      :close-on-click-modal="false"
      title="修改定额"
      width="60%"
      class="com-dialog com-dialog2 com-dialog3 com-input"
    >
      <el-table :data="curListItem" style="width: 100%" border>
        <el-table-column label="定额编码" prop="code"> </el-table-column>
        <el-table-column label="定额名称" prop="name" width="138px">
        </el-table-column>
        <el-table-column label="定额单位" prop="unit"> </el-table-column>
        <el-table-column label="数量">
          <template slot-scope="scope">
            <el-input v-model="scope.row.count"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="人工费（元）单价">
          <template slot-scope="scope">
            <el-input v-model="scope.row.totalManualPrice"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="材料费（元）单价">
          <template slot-scope="scope">
            <el-input v-model="scope.row.totalMaterialPrice"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="机械费（元）单价">
          <template slot-scope="scope">
            <el-input v-model="scope.row.totalMechanicPrice"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="管理费和利润（元）单价">
          <template slot-scope="scope">
            <el-input v-model="scope.row.totalExtraPrice"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <img
            class="cp"
            src="@/assets/img/icons/project_stock/save_02.png"
            alt=""
            @click="saveEditQuota"
          />
        </el-table-column>
      </el-table>
    </el-dialog>

    <!-- 单价构成 -->
    <el-dialog
      :visible.sync="showUnitPriceGroupDialog"
      :close-on-click-modal="false"
      title="单价构成"
      width="65%"
      class="com-dialog com-dialog2 com-dialog3"
    >
      <el-table :data="unitPriceGroup" style="width: 100%" border>
        <el-table-column label="定额编码" prop="code"> </el-table-column>
        <el-table-column label="定额名称" prop="name"> </el-table-column>
        <el-table-column label="定额单位" prop="unit"> </el-table-column>
        <el-table-column label="数量" prop="count"> </el-table-column>
        <el-table-column label="单价" align="center">
          <el-table-column label="人工费" prop="manualPrice"> </el-table-column>
          <el-table-column label="材料费价" prop="materialPrice">
          </el-table-column>
          <el-table-column label="机械费" prop="mechanicPrice">
          </el-table-column>
          <el-table-column label="管理费和利润" prop="extraPrice">
          </el-table-column>
          <el-table-column label="规费" prop="feesPrice"> </el-table-column>
          <el-table-column label="税金" prop="taxPrice"> </el-table-column>
          <el-table-column label="风险费">
            <template slot-scope="scope">
              <span>{{ scope.row.riskPrice || 0 }}</span>
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>
    </el-dialog>

    <!-- 清单偏差过大提示弹窗 -->
    <el-dialog
      title="操作提示"
      :visible.sync="listTipsDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <img src="@/assets/img/dialog/confirm.png" alt="" />
      <p class="wth">
        修改数据后计算的合价与原数据相差过大，请重新调整至合理范围（偏差不得超过<span
          class="org"
          >±10%</span
        >
        ）
      </p>
      <p class="left org">注：直接保存将修改造价数据，请慎重选择</p>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="loading" @click="listTipsDialog = false"
          >取消</el-button
        >
        <el-button type="primary" @click="updateInvInfo">确定</el-button>
      </span>
    </el-dialog>

    <!-- 定额异常弹窗 -->
    <el-dialog
      title="操作提示"
      :visible.sync="quotaTipsDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <img src="@/assets/img/dialog/confirm.png" alt="" />
      <p class="wth">
        修正的定额综合单价数据之和与当前清单综合合价数据相差过大，请重新调整定额数据
      </p>
      <span slot="footer" class="dialog-footer">
        <el-button class="ml-30" @click="quotaTipsDialog = false"
          >确定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getProjectDetailTable,
  queryNormEngList,
  getProjectDetailQuota,
  getUnitProjectCount,
  exportProjectDetailTable,
} from "@/api/project";
import {
  updateInvInfo,
  getProjectUnitEngList,
  updateInvQuotaInfo,
} from "@/api/newProject";
export default {
  props: ["projectStageDetail", "curListName"],
  data() {
    return {
      showUnitPriceGroupDialog: false,
      unitPriceGroup: [], // 单价构成
      quotaTipsDialog: false, // 定额提示弹窗
      listTipsDialog: false, // 清单提示弹窗
      expandRowKeys: [],
      getRowKeys(row) {
        return row.id;
      },
      curExpandData: [], // 当前展开项列表
      projectStageId: null,
      unitProject: [], // 单位工程列表
      curUnit: 0,
      segList: [], // 分部工程
      curSeg: null,
      keyword: "",
      listTable: [],
      multipleSelection: [],
      totalCount: 0,
      currentPage: 1,
      pageSize: 10,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showEditListDialog: false, // 修改清单弹窗
      showEditQuoteDialog: false, // 修改定额弹窗
      curListItem: [], // 清单项
      unitList: [
        { unit: "m" },
        { unit: "㎡" },
        { unit: "m³" },
        { unit: "台" },
        { unit: "t" },
        { unit: "km" },
        { unit: "个" },
        { unit: "根" },
        { unit: "站" },
        { unit: "正线公里" },
        { unit: "延长米" },
      ],
      loading: false,
    };
  },
  mounted() {
    this.projectStageId =
      this.projectStageDetail.proStageBaseInfo.projectStageId;
    this.getProjectUnitEngList();
    // 分部分项明细跳转时携带的name，若有name则清单汇总表通过name筛选
    if (this.curListName) {
      this.keyword = this.curListName;
      this.searchFun();
    } else {
      this.keyword = "";
      this.getProjectDetailTable();
    }
  },
  methods: {
    // 单位辅助输入
    iptUnit(queryString, cb) {
      cb(this.unitList);
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },

    // 清单定额导出
    exportDetailFile(type) {
      let params = {
        currentPage: null,
        pageSize: null,
        branchId: this.curSeg || null,
        unitId: this.curUnit || null,
        keyword: this.keyword,
        projectStageId: this.projectStageId,
      };
      if (type == "all") {
        if (this.listTable.length == 0) {
          this.openAlert("暂无要导出的数据", "info");
          return;
        }
      } else {
        if (this.multipleSelection.length == 0) {
          this.openAlert();
          return;
        }
        let ids = [];
        for (let i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id);
        }
        params.ids = ids;
      }

      exportProjectDetailTable(params).then((res) => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: "text/csv;charset=utf-8;" }),
            sessionStorage.getItem("blob_filename") || "清单定额.xls"
          );
          return;
        }
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement("a");
          let _fileName =
            sessionStorage.getItem("blob_filename") || "清单定额.xls";
          a.download = _fileName;
          a.href = event.target.result;
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        };
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem("blob_filename");
        };
      });
    },
    // 单价构成弹窗
    unitPriceGroupDialog(row) {
      this.showUnitPriceGroupDialog = true;
      this.unitPriceGroup = [];
      this.unitPriceGroup.push(JSON.parse(JSON.stringify(row)));
    },
    // 修改定额
    updateInvQuotaInfo() {
      let row = this.curListItem[0];
      let data = {
        count: row.count,
        id: row.id,
        totalExtraPrice: row.totalExtraPrice,
        totalManualPrice: row.totalManualPrice,
        totalMaterialPrice: row.totalMaterialPrice,
        totalMechanicPrice: row.totalMechanicPrice,
      };

      updateInvQuotaInfo(data).then((res) => {
        if (res.code == "01") {
          this.$message({
            type: "success",
            message: res.message,
          });
          this.showEditQuoteDialog = false;
          this.getProjectDetailQuota(row.parId);
        } else {
          this.$message({
            type: "error",
            message: res.message,
          });
        }
      });
    },
    // 提交定额修改
    saveEditQuota() {
      let row = this.curListItem[0];
      let count = Number(row.count || 0);
      let totalManualPrice = Number(row.totalManualPrice || 0);
      let totalMaterialPrice = Number(row.totalMaterialPrice || 0);
      let totalMechanicPrice = Number(row.totalMechanicPrice || 0);
      let totalExtraPrice = Number(row.totalExtraPrice || 0);
      let totalPrice = Number(row.parTotalPrice || 0);
      // 定额综合单价
      let quotaUnitPrice =
        count *
        (totalManualPrice +
          totalMaterialPrice +
          totalMechanicPrice +
          totalExtraPrice);

      // if (quotaUnitPrice > (totalPrice + totalPrice * 0.1) || quotaUnitPrice < (totalPrice - totalPrice * 0.1)) {
      //   this.quotaTipsDialog = true
      //   return
      // }
      this.updateInvQuotaInfo();
    },
    // 提交清单修改
    saveEditList() {
      let row = this.curListItem[0];
      let totalPrice = row.totalPrice || 0;
      let curPrice = row.count * row.unitPrice;
      // 偏差不得超过±10%
      if (
        curPrice > totalPrice + totalPrice * 0.1 ||
        curPrice < totalPrice - totalPrice * 0.1
      ) {
        this.listTipsDialog = true;
        return;
      }

      this.updateInvInfo();
    },
    // 修改清单
    updateInvInfo() {
      let row = this.curListItem[0];
      let data = {
        feature: row.features,
        count: row.count,
        invId: row.id,
        price: row.unitPrice,
        unit: row.unit,
        updateProjectDetail: true, // 是否是分部分项明细或清单汇总修改清单
      };

      this.loading = true;
      updateInvInfo(data).then((res) => {
        this.loading = false;
        if (res.code == "01") {
          this.$message({
            type: "success",
            message: res.message,
          });
          this.showEditListDialog = false;
          this.listTipsDialog = false;
          this.getProjectDetailTable();
          this.getProjectDetailQuota(row.id);
        } else {
          this.$message({
            type: "error",
            message: res.message,
          });
        }
      });
    },
    // 修改清单弹窗
    editListDialog(row) {
      this.showEditListDialog = true;
      this.curListItem = [];
      this.curListItem.push(JSON.parse(JSON.stringify(row)));
    },
    // 修改定额弹窗
    editQuoteDialog(row, totalPrice, pid) {
      this.showEditQuoteDialog = true;
      row["parTotalPrice"] = totalPrice;
      row["parId"] = pid;
      this.curListItem = [];
      this.curListItem.push(JSON.parse(JSON.stringify(row)));
    },
    // 展开行
    expandChange(row, expandRows) {
      if (expandRows.length) {
        this.expandRowKeys = [];
        if (row) {
          this.getProjectDetailQuota(row.id);
          this.expandRowKeys.push(row.id); // 每次push进去的是每行的ID
        }
      } else {
        this.expandRowKeys = []; // 默认不展开
      }
    },
    // 清单汇总-定额
    getProjectDetailQuota(id) {
      let params = {
        inventoryId: id,
      };
      getProjectDetailQuota(params).then((res) => {
        if (res.code == "01") {
          this.curExpandData = res.body;
        }
      });
    },
    // 清单汇总
    getProjectDetailTable() {
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        branchId: this.curSeg || null,
        keyword: this.keyword,
        projectStageId: this.projectStageId,
        unitId: this.curUnit || null,
      };
      getProjectDetailTable(data).then((res) => {
        if (res.code === "01") {
          this.listTable = res.body.list || [];
          this.totalCount = res.body.totalCount;
        }
      });
    },
    // 切换分部工程
    selectSeg() {
      this.currentPage = 1;
      this.getProjectDetailTable();
    },
    // 切换单位工程
    selectUnit() {
      this.currentPage = 1;
      this.curSeg = null;
      this.getProjectDetailTable();
      let pid = null;
      for (let i = 0; i < this.unitProject.length; i++) {
        if (this.curUnit == this.unitProject[i].id) {
          pid = this.unitProject[i].id;
        }
      }

      this.segList = [];
      let params = {
        unitId: pid,
        projectStageId: this.projectStageId,
      };
      getUnitProjectCount(params).then((res) => {
        if (res.code === "01") {
          this.curSeg = 0;
          this.segList = res.body || [];
          this.segList.unshift({
            id: 0,
            name: "全部",
          });
        }
      });
    },
    // 单位工程列表
    getProjectUnitEngList() {
      let params = {
        projectStageId: this.projectStageId,
      };
      getProjectUnitEngList(params).then((res) => {
        if (res.code === "01") {
          this.unitProject = res.body || [];
          this.unitProject.unshift({
            id: 0,
            name: "全部",
          });
        }
      });
    },
    // 搜索
    searchFun() {
      this.currentPage = 1;
      this.getProjectDetailTable();
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getProjectDetailTable();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.branch {
  width: 100%;
  min-height: 300px;
  border-left: 7px solid #f6f6f6;
  background: #fff;
  .com-select {
    width: 281px;
  }
  .com-pages-wrap {
    padding: 0;
  }
  .b-content {
    width: 100%;
    padding: 39px 15px 100px 20px;
    .export-btn {
      padding-right: 16px;
      color: #333;
      font-size: 16px;
      .s-export {
        margin-right: 36px;
      }
      img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
    .detail-table {
      padding: 0 0 57px;
      margin-top: 24px;
      width: 100%;
      box-shadow: 0px 1px 8px 0px #eff0f3;
      border-radius: 8px;
      .bottom-wrap {
        padding: 0 34px 0 31px;
        width: 100%;
        height: 65px;
        border-radius: 1px;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        box-sizing: border-box;
        .l-text {
          margin-right: 5px;
          color: #999;
        }
      }

      .sub-expand-table.el-table--scrollable-x::v-deep .el-table__body-wrapper {
        overflow-x: hidden;
      }
    }
  }
}
</style>
<style lang="scss">
@import "@/styles/variables.scss";
.branch {
  .com-select {
    margin: 0 19px;
    .el-input__inner {
      height: 36px;
      line-height: 36px;
      border: 0;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
    .el-icon-arrow-up {
      margin-top: 4px;
    }
    .el-icon-arrow-up.is-reverse {
      margin-top: 0;
    }
  }
  .com-search2 {
    border: 0;
    margin-right: 19px !important;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    input {
      border: 0;
    }
  }
  .el-table th.is-leaf,
  .el-table td {
    border-bottom: 1px solid #f3f3f4;
  }

  .el-table th:first-child > .cell,
  .el-table td:first-child > .cell {
    padding-left: 27px;
  }
  .quote-dialog {
    .el-input__suffix {
      right: 0;
    }
  }
  .my-dialog {
    .el-dialog .el-dialog__body {
      .org {
        color: $color-minor;
      }
      .wth {
        width: 73%;
        margin: 0 auto 10px;
      }
      .left {
        width: 83%;
        margin: 0 auto;
        text-align: center;
      }
      .line-h {
        line-height: 20px !important;
      }
    }
    .dialog-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      .big {
        width: 140px;
      }
    }
  }
}
</style>
