<template>
  <div class="unit-project">
    <!-- 单位工程汇总表 -->
    <div class="flex-csb">
      <p class="b-label" v-if="proStageBaseInfo.stageId != 1">单位工程汇总表</p>
      <p class="b-label" v-else>估算费用汇总表</p>
      <div class="flex-c">
        <p class="b-save" @click="exportDetailFile">
          <img src="@/assets/img/icons/project_stock/export_a.png" alt="">
          <span>导出</span>
        </p>
      </div>
    </div>
    <!-- 非估算阶段显示单位工程汇总表 -->
    <div class="table-wrap expand-table">
      <template v-if="proStageBaseInfo.stageId != 1">
      <el-table
        :data="projectUnitEngResList"
        style="width: 100%"
        border>
        <el-table-column type="expand" width="48px">
          <template slot-scope="scope">
          <el-table
            :data="scope.row.projectUnitEngModelList"
            style="width: 100%"
            class="sub-expand-table">
            <el-table-column
              label=""
              width="48px">
            </el-table-column>
            <el-table-column
              label="">
              <template slot-scope="subScope">
                <span>{{scope.$index + 1}}.{{subScope.$index + 1}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label=""
              prop="name">
            </el-table-column>
            <el-table-column
              label="">
              <template slot-scope="subScope">
                <span>{{formatNumber(subScope.row.totalPrice)}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="">
              <template slot-scope="subScope">
                <span>{{formatNumber(subScope.row.caliber,true)}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="">
              <template slot-scope="subScope">
                <span :class="'cp '+(subScope.row.indicatorWarningRes.warningResult ? 'rightCol' : 'warnCol')" v-if="bindWarn(subScope.row)" @click="warnInfo(subScope.row)">{{formatNumber(subScope.row.econStd, true)}}</span>
                <span v-else>{{formatNumber(subScope.row.econStd, true) || '--/--'}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="">
              <template slot-scope="subScope">
                <span>{{(subScope.row.pct * 100).toFixed(2)}}%</span>
              </template>
            </el-table-column>
          </el-table>
          </template>
        </el-table-column>
        <el-table-column
          label="序号">
          <template slot-scope="scope">
            <span>{{scope.$index + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="name"
          label="名称">
        </el-table-column>
        <el-table-column
          label="总造价">
          <template slot-scope="scope">
            <span>{{formatNumber(scope.row.totalPrice)}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="计算口径">
          <template slot-scope="scope">
            <span>{{formatNumber(scope.row.caliber, true)}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="经济指标">
          <template slot-scope="scope">
            <span :class="'cp '+(scope.row.indicatorWarningRes.warningResult ? 'rightCol' : 'warnCol')" v-if="bindWarn(scope.row)" @click="warnInfo(scope.row)">{{formatNumber(scope.row.econStd, true)}}</span>
            <span v-else>{{formatNumber(scope.row.econStd, true) || '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="造价占比">
           <template slot-scope="scope">
            <span>{{(scope.row.pct * 100).toFixed(2)}}%</span>
          </template>
        </el-table-column>
      </el-table>
      <div class="flex-csb bottom-wrap">
        <span>合计</span>
        <div class="flex-c">
          <p>
            <span class="l-text">总造价</span>
            <span>{{formatNumber(projectUnitEngCollectTotalPrice)}}元</span>
          </p>
          <!-- <p>
            <span class="l-text">总造价占比</span>
            <span>{{unitPctTotal}}%</span>
          </p> -->
        </div>
      </div>
      </template>
    </div>

    <!-- 估算阶段显示估算汇总表 -->
    <div class="table-wrap">
      <template v-if="proStageBaseInfo.stageId && proStageBaseInfo.stageId == 1">
      <el-table
        :data="estInfoList"
        style="width: 100%"
        border>
        <el-table-column
          label="序号">
          <template slot-scope="scope">
            <span>{{scope.$index + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="name"
          label="名称">
        </el-table-column>
        <el-table-column
          label="总造价">
          <template slot-scope="scope">
            <span>{{formatNumber(scope.row.totalPrice)}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="计算口径">
          <template slot-scope="scope">
            <span>{{formatNumber(scope.row.caliber, true)}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="经济指标">
          <template slot-scope="scope">
            <span :class="'cp '+(scope.row.indicatorWarningRes.warningResult ? 'rightCol' : 'warnCol')" v-if="bindWarn(scope.row)" @click="warnInfo(scope.row)">{{formatNumber(scope.row.econStd, true)}}</span>
            <span v-else>{{formatNumber(scope.row.econStd, true) || '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column
          label="造价占比">
           <template slot-scope="scope">
            <span v-if="scope.row.pct">{{(scope.row.pct * 100).toFixed(2)}}%</span>
          </template>
        </el-table-column>
      </el-table>
      <div class="flex-csb bottom-wrap">
        <span></span>
        <div class="flex-c">
          <p>
            <span class="l-text">合计</span>
            <span>{{formatNumber(estInfoTotalPrice)}}元</span>
          </p>
          <!-- <p>
            <span class="l-text">总造价占比</span>
            <span>{{estPctTotal}}%</span>
          </p> -->
        </div>
      </div>
      </template>
    </div>

    <!-- 建设其他费用 -->
    <div class="mt-29 flex-csb" v-if="proStageBaseInfo.stageId && (proStageBaseInfo.stageId == 1 || proStageBaseInfo.stageId == 2) && (buildOtherRes && buildOtherRes.length > 0)">
      <p class="b-label">建设其他费用</p>
    </div>
    <div class="table-wrap" v-if="proStageBaseInfo.stageId && (proStageBaseInfo.stageId == 1 || proStageBaseInfo.stageId == 2) && (buildOtherRes && buildOtherRes.length > 0)">
      <el-table
        :data="buildOtherRes"
        style="width: 100%"
        border>
        <el-table-column
          label="序号">
          <template slot-scope="scope">
            <span>{{scope.$index + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="name"
          label="名称">
        </el-table-column>
        <el-table-column
          label="总造价">
          <template slot-scope="scope">
            <span>{{formatNumber(scope.row.price)}}</span>
          </template>
        </el-table-column>
      </el-table>
      <div class="flex-csb bottom-wrap">
        <span></span>
        <div class="flex-c">
          <p>
            <span class="l-text">合计</span>
            <span>{{formatNumber(projectOtherCostEntitiesTotalPrice)}}元</span>
          </p>
        </div>
      </div>
    </div>
    <!-- 建设其他费用 end -->

    <!-- 预警弹窗 -->
    <WarnDialog :tableWarnData="tableWarnData" :showWarnDialog="showWarnDialog" @closeDialog="showWarnDialog=false" />
  </div>
</template>

<script>
import WarnDialog from "../../components/warnDialog";
import {
  getProjectEngDetailPriceView,
  exporttEngDetailPrice,
  exportEstInfo,
} from '@/api/project'

export default {
  props: ['projectStageDetail'],
  components: {
    WarnDialog,
  },
  data() {
    return {
      proStageBaseInfo: {},
      projectUnitEngResList: [],  // 单位工程汇总表
      projectUnitEngCollectTotalPrice: 0,  // 单位工程总造价
      buildOtherRes: [],          // 建设其他费用
      projectOtherCostEntitiesTotalPrice: 0,  // 建设其他费用总造价
      estInfoList: [],            // 估算费用汇总表
      estInfoTotalPrice: 0,       // 估算费用总造价
      projectStageId: null,
      unitPctTotal: 0,  // 单位工程总造价占比
      estPctTotal: 0,  // 估算费用总造价占比
      tableWarnData: '', // 预警弹窗数据
      showWarnDialog: false, // 是否显示预警弹窗
    }
  },
  mounted() {
    this.proStageBaseInfo = JSON.parse(JSON.stringify(this.projectStageDetail.proStageBaseInfo))
    this.projectStageId = this.projectStageDetail.proStageBaseInfo.projectStageId
    this.getProjectEngDetailPriceView()
  },
  methods: {
    bindWarn(item) {
       return item.indicatorWarningRes && item.indicatorWarningRes.warningResult !== null ? true : false
    },

    // 查看预警弹窗
    warnInfo(item) {
      let res = item.indicatorWarningRes
      this.showWarnDialog = true
      res.econStd = item.econStd
      res.caliberUnit = item.caliberUnit
      this.tableWarnData = res
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 分部分项清单工程费用导出
    exportDetailFile() {
      let params = {
        unitId: null,
        projectStageId: this.projectStageId,
      }
      if(this.proStageBaseInfo.stageId == 1) { // 估算
        if (this.estInfoList.length == 0) {
          this.openAlert('暂无要导出的数据', 'info')
          return
        }
        exportEstInfo(params).then(res => {
          // ie11文件下载兼容
          if(navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '估算费用明细.xls')
            return
          }
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {

          }
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement('a');
            let _fileName = sessionStorage.getItem('blob_filename') || '估算费用明细.xls';
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem('blob_filename')
          }
        })
      } else { // 非估算
        if (this.projectUnitEngResList.length == 0) {
          this.openAlert('暂无要导出的数据', 'info')
          return
        }
        exporttEngDetailPrice(params).then(res => {
          // ie11文件下载兼容
          if(navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '各单位工程费用明细.xls')
            return
          }
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {

          }
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement('a');
            let _fileName = sessionStorage.getItem('blob_filename') || '各单位工程费用明细.xls';
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem('blob_filename')
          }
        })
      }
    },
    getProjectEngDetailPriceView() {
      let params = {
        projectStageId: this.projectStageId,
        warning: 1, // 预警参数,仅此处加
      }
      getProjectEngDetailPriceView(params).then(res => {
        if (res.code === '01') {
          this.projectUnitEngResList = res.body.projectUnitEngResList
          this.projectUnitEngCollectTotalPrice = res.body.projectUnitEngCollectTotalPrice || 0
          this.buildOtherRes = res.body.buildOtherRes
          this.projectOtherCostEntitiesTotalPrice = res.body.projectOtherCostEntitiesTotalPrice || 0
          this.estInfoList = res.body.estInfoList
          this.estInfoTotalPrice = res.body.estInfoTotalPrice || 0
          if(this.projectUnitEngResList){
            for (let i = 0; i < this.projectUnitEngResList.length; i++) {
              let pct = this.projectUnitEngResList[i].pct || 0
              this.unitPctTotal += pct
            }
          }
          if(this.estInfoList) {
            for (let i = 0; i < this.estInfoList.length; i++) {
              let pct = this.estInfoList[i].pct || 0
              this.estPctTotal += pct
            }
          }
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>
@import '../../../../styles/variables.scss';
.unit-project {
  padding: 25px 36px 66px 14px;
  .table-wrap {
    .bottom-wrap {
      padding: 0 34px 0 23px;
      width: 100%;
      height: 44px;
      background: #EFF2F7;
      border-radius: 1px;
      border: 1px solid #E6E6E6;
      border-top: 0;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      box-sizing: border-box;
      .l-text {
        margin-right: 5px;
        color: #999;
      }
    }
    .warnCol {
      color: $color-danger;
    }
    .rightCol {
      color: #00CC00;
    }
  }
}
</style>
