<template>
  <div class="upload-cj-container com-input">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：名称、提交人" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">删除时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate('start')" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate('end')" />
          </div>
        </div>
      </div>

      <div class="com-table table-wrap">
        <div class="com-operate-wrap">
          <!-- <el-button v-has="$roles.fun_comprice_recycle_del" class="delete-btn" @click="openDelDialog('', 'batch')">彻底删除</el-button>-->
          <el-button class="delete-btn" @click="openDelDialog('', 'batch')">彻底删除</el-button>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%;" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="96px" />
          <el-table-column label="信息价名称">
            <template slot-scope="scope">
              <div class="com-edit-wrap">
                <span class="p-color" @click="skipDetail(scope.row)">{{ scope.row.name }}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="howPeriod" label="适用周期" />
          <el-table-column prop="matCount" label="材料数量" />
          <el-table-column label="删除时间">
            <template slot-scope="scope">
              <span>{{ scope.row.updateOn | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span @click="skipDetail(scope.row)">
                  <el-tooltip effect="light" content="详情" placement="top">
                    <img src="@/assets/img/cs/icons/details.png" alt="">
                  </el-tooltip>
                </span>
                <!-- <span v-has="$roles.fun_comprice_recycle_restore" @click="restoreItem(scope.row)">
                  <el-tooltip effect="light" content="还原" placement="top">
                    <img src="@/assets/img/cs/icons/refreshs.png" alt="">
                  </el-tooltip>
                </span> -->
                <span @click="restoreItem(scope.row)">
                  <el-tooltip effect="light" content="还原" placement="top">
                    <img src="@/assets/img/cs/icons/refreshs.png" alt="">
                  </el-tooltip>
                </span>
                <!-- <span v-has="$roles.fun_comprice_recycle_del" @click="openDelDialog(scope.row, '')">
                  <el-tooltip effect="light" content="彻底删除" placement="top">
                    <img src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>-->
                <span @click="openDelDialog(scope.row, '')">
                  <el-tooltip effect="light" content="彻底删除" placement="top">
                    <img src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/del_icon02.png" alt="">
        <p class="fw-b mb-15">确认要从回收站中彻底删除选中的信息价吗</p>
        <p class="tip-text">注：此处删除无法恢复</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" @click="deleteItem">确定</el-button>
      </span>
    </el-dialog>
    <!-- 删除弹窗 end-->

    <!-- 还原弹窗 -->
    <el-dialog title="还原" :visible.sync="checkDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b mb-5">信息价库中该期次存在信息价内容，</p>
        <p class="fw-b">是否覆盖内容</p>
      </div>
      <span slot="footer" class="btn-wrap">
        <span class="p-color cp" @click="skipInfoPriceDetail">去查看</span>
        <el-button class="ml-20 mr-10" @click="checkDialog = false">取消</el-button>
        <el-button type="primary" :loading="checkLoading" @click="confirmRestore">确定</el-button>
      </span>
    </el-dialog>
    <!-- 还原弹窗 end-->
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import {
  getRecycleListPage,
  restoreMsgPrice,
  thoroughDelMsgPrice,
  checkMsgPriceExists
} from '@/api/cs/infoPriceStock'
export default {
  name: 'RecycleBin',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  data() {
    return {
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null,
      endDate: null,
      loading: false,
      showDelDialog: false, // 删除弹窗
      curDelId: null,
      delLoading: false,
      checkDialog: false,
      checkLoading: false,
      detailObj: {}, // 查看详情参数
      curItem: null // 当前的还原项
    }
  },
  mounted() {
    this.getDataList()
  },
  methods: {
    // 根据初始化配置起始日期，设置日期默认范围
    initSetDate() {
      const startDate = this.$store.getters.initStartDate
      if (startDate && formatDate(startDate)) {
        const curDate = new Date().getTime()
        const curStartDate = new Date(startDate).getTime()
        // 若当前时间 < 初始化配置时间
        if (curDate < curStartDate) {
          this.startDate = formatDate(curDate)
          this.endDate = formatDate(startDate)
        } else {
          this.endDate = formatDate(curDate)
          this.startDate = formatDate(startDate)
        }
      }
    },
    // 去查看
    skipInfoPriceDetail() {
      this.$router.push({
        path: '/synthesizeManager/infoPriceDetail/index',
        query: {
          id: this.detailObj.id,
          tempName: this.detailObj.name
        }
      })
    },
    // 确定还原
    confirmRestore() {
      var params = {
        id: this.curItem.id
      }
      this.checkLoading = true
      restoreMsgPrice(params)
        .then(res => {
          this.checkLoading = false
          if (res.code == '01') {
            this.checkDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })

            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.checkLoading = false
        })
    },
    // 详情
    skipDetail(item) {
      this.$router.push({
        path: '/synthesizeManager/recycleBinDetail/index',
        query: {
          id: item.id,
          tempName: item.name
        }
      })
    },
    // 删除
    deleteItem() {
      var ids = []
      // batch为批量删除
      if (this.curDelType == 'batch') {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        ids.push(this.curDelId)
      }
      var params = {
        ids: ids.join(',')
      }
      this.delLoading = true
      thoroughDelMsgPrice(params).then(res => {
        this.delLoading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.showDelDialog = false
          this.currentPage = 1
          this.getDataList()
        } else {
          this.delLoading = false
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 删除弹窗
    openDelDialog(item, type) {
      if (type == 'batch' && this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.curDelId = item.id
      this.curDelType = type
      this.showDelDialog = true
    },
    // 还原
    restoreItem(item) {
      var params = {
        periodId: item.periodId
      }
      this.curItem = item
      var loading = this.$loading({
        text: '加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      checkMsgPriceExists(params)
        .then(res => {
          loading.close()
          if (res.code == '8020') {
            this.checkDialog = true
            this.detailObj = res.body
          } else if (res.code == '01') {
            this.$confirm('是否还原选中的的信息价?', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              var params = {
                id: item.id
              }
              restoreMsgPrice(params).then(res => {
                if (res.code == '01') {
                  this.$message({
                    type: 'success',
                    message: res.message
                  })

                  this.getDataList()
                } else {
                  this.$message({
                    type: 'error',
                    message: res.message
                  })
                }
              })
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          loading.close()
        })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 切换日期
    toggleDate(type) {
      if (type == 'start' && this.startDate) {
        this.startDate = formatDate(this.startDate)
        const beginTime = new Date(this.startDate).getTime()
        this.endDate = formatDate(+beginTime + 3600 * 1000 * 24 * 365)
      }
      if (type == 'end' && this.endDate) {
        this.endDate = formatDate(this.endDate)
      }

      this.currentPage = 1
      this.getDataList()
    },
    // 获取列表
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        startDate: this.startDate,
        endDate: this.endDate,
        keyCode: this.searchKeyword
      }

      this.loading = true
      getRecycleListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .then(err => {
          this.loading = false
        })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条记录'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-top: 5px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
</style>
