<template>
  <section class="app-main">
    <div class="bread-wrap">
      <!-- 面包屑 -->
      <Breadcrumb />
    </div>
    <!-- vue提供了⼀个过渡动画的标签transition -->
    <transition name="fade-transform" mode="out-in">
      <router-view :key="key" />
    </transition>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb'

export default {
  name: 'AppMain',
  components: {
    Breadcrumb
  },
  computed: {
    key() {
      return this.$route.path
    }
  }
}
</script>

<style scoped>
.app-main {
  /*60 = navbar  */
  min-height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 19px 25px;
  background-color: #f6f6f6;
}

.app-main.np {
  padding: 0;
  height: 100vh;
  background: none;
}

.fixed-header + .app-main {
  /* padding-top: 62px; */
  padding-top: 73px;
}

.bread-wrap {
  border-radius: 6px 6px 0px 0px;
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
</style>
