<template>
  <div>
    <!-- 确认清单弹窗 -->
    <el-dialog
      class="none-title"
      width="460px"
      :visible.sync="showDialog"
      @close="cancelDialog"
    >
      <div class="confirm-content common-content">
        <p>
          本次批次询价清单共 <span class="blue">{{matCount}}</span> 条材料，
          <span class="blue">{{commentCount}}</span> 条报价数，
        </p>
        <p>
          一共需要消耗 <span class="blue">{{payFee}}</span> 条询价条数，您的可用条数为
          <span class="red">{{hasFee}}</span> 条
        </p>

        <div class="div-radios">
          <el-radio v-model="confirm" label="1">确认通过该清单</el-radio>
          <el-radio class="fail-radio" v-model="confirm" label="2"
            >不通过该清单</el-radio
          >
        </div>
        <el-input
          v-if="confirm == 2"
          type="textarea"
          :rows="3"
          placeholder="请输入相关疑问"
          v-model="failReason"
        >
        </el-input>

        <p class="tip-p">
          根据本批次材料的类型及数量，本次询价预计完成时间为
          <span class="yellow">{{expectTime}}</span>
        </p>

        <p class="red mt-10 cp" v-if="confirmErr">{{confirmErr}} <span class="buyplan" @click="$router.push('/setting/buyCombo/index')"> [套餐购买] </span></p>
        <div class="footer-btns mt-10">
          <el-button @click="cancelDialog" class="btn btn3">取消</el-button>
          <el-button :loading="loading" class="btn" type="primary" @click="confirmation">提交</el-button
          >
        </div>
      </div>
    </el-dialog>

    <!-- 审核提示弹窗 -->
    <el-dialog
      :show-close="false"
      title="确认询价清单"
      :visible.sync="showSubmitDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/restand.png" alt="">
      <p>您好，您提交的询价条数达到审核<br />门槛，需要申请上级审核批准</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSubmitDialog = false">取消</el-button>
        <el-button type="primary" @click="confirmAjax">确定提交</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  confirmation,
  deduction,
  getUpperLimit,
} from '@/api/inquirySetting'
export default {
  name: "ConfirmListDialog",
  props: ["showConfirmDialog","memberId","piciId","id","inquiryType","proName","piciName"],
  data() {
    return {
      loading: false,
      confirm: "1",
      failReason: "",
      showDialog: false,
      matCount: '',
      commentCount: '',
      payFee: '',
      hasFee: '',
      expectTime: '',
      isAudit: false,          // 是否需要审核
      showSubmitDialog: false, // 是否显示审核提示弹窗
      ajaxData: null,          // 请求参数
      confirmErr: '',
    };
  },
  watch: {
    showConfirmDialog: {
      deep: true,
      handler: function (show) {
        this.showDialog = show;
        if(show) {
          this.getDeduction() // 回显
        }
      },
    },
  },
  methods: {
    getDeduction() {
      let data = {
        piciId: this.piciId,
        memberId: this.memberId,
      }
      deduction(data).then(res=>{
        this.matCount = res.body.matCount
        this.commentCount = res.body.commentCount
        this.payFee = res.body.payFee
        this.hasFee = res.body.hasFee
        this.expectTime = res.body.replayDtime
        this.getUpperLimit() // 判断是否需要审核
      })
    },

    getUpperLimit() {
      getUpperLimit().then(res=>{
        if(res.code == '01') {
          if(res.body.powerSwitch == 1 && (res.body.amount < this.payFee)) {
            this.isAudit = true
          }
        }
      })
    },

    cancelDialog() {
      this.confirmErr = ''
      this.$emit("update:showConfirmDialog", false);
    },

    // 确认询价清单
    confirmation() {
      let data = {
        piciId: this.piciId,
        memberId: this.memberId,
        status: this.confirm == '1' ? '1' : '0',
        context: this.confirm == '2' ? this.failReason : ''
      }
      console.log(this.isAudit);
      if(this.isAudit && this.confirm == '1') {
        data.id =this.id
        data.isAudit = 1
        this.ajaxData = data
        this.showSubmitDialog = true
      } else {
        data.isAudit = 0
        this.ajaxData = data
        this.confirmAjax()
      }
    },

    // 确认接口
    confirmAjax() {
      let data = this.ajaxData
      confirmation(data).then(res=>{
        if(res.code == '01') {
          this.showSubmitDialog = false
          this.cancelDialog()
          this.$message.success("操作成功！")
          this.$emit("refreshInfo")
          if(data.isAudit == 1) { // 需审核,跳审核询价批次详情
            setTimeout(()=>{
              this.$router.push({
                path: '/inquiryManage/examinePend',
                query: {
                  status: 1, // 待审核
                  id: this.id,
                  piciName: this.piciName,
                  proName: this.proName,
                  inquiryType: this.inquiryType,
                }
              })
            },1500)
          }
        } else if (res.code == '5000') {
          this.confirmErr = res.message
        }
      })
    }
  },
};
</script>

<style lang="scss" scoped>
@import "../../../styles/variables.scss";
.confirm-content {
  padding-top: 20px;
  p {
    line-height: 22px;
  }
  .tip-p {
    margin-top: 35px;
    font-size: 12px;
  }
  .red {
    color: #f13a3f;
  }
  .buyplan {
    color: $color-primary;
  }
  .div-radios {
    background: #f7f7f8;
    border-radius: 4px;
    color: #999999;
    height: 51px;
    line-height: 51px;
    margin-top: 15px;
    margin-bottom: 5px;

    .fail-radio {
      &::v-deep .el-radio__input.is-checked .el-radio__inner {
        border-color: #f13a3f;
        background: #f13a3f;
      }
      &::v-deep .el-radio__input.is-checked + .el-radio__label {
        color: #f13a3f;
      }
    }
  }
}
.none-title {
  &::v-deep .el-dialog {
    border-radius: 4px;
  }

  &::v-deep .el-dialog__header {
    padding: 0;
    .el-dialog__headerbtn {
      top: 10px;
      right: 10px;
      font-size: 18px;
      .el-icon-close:before {
        color: #0b4375;
        font-weight: bold;
      }
    }
  }

  &::v-deep .el-dialog__body {
    border-radius: 4px;
  }

  .common-content {
    text-align: center;

    .btn {
      padding: 0;
      width: 112px;
      height: 34px;
      line-height: 34px;
      color: #ffffff !important;
      border-radius: 5px;
      font-size: 15px;
      font-family: "mainfont";
      font-weight: 500;
      margin: 0 10px;
      &:hover {
        border: 1px solid;
      }
    }
    .btn1 {
      background: $color-primary !important;
    }
    .btn3 {
      color: $color-primary !important;
      border-color: #3699ff !important;
      &:hover {
        background: #ffffff !important;
        box-shadow: 0px 1px 4px 0px #3699ff;
      }
    }
  }

  .red {
    color: #f13a3f;
  }
  .blue {
    color: #0a7dff;
  }
  .yellow {
    color: #ffaa31;
  }
}
</style>
