<template>
  <el-dialog
    class="none-title"
    width="668px"
    :visible.sync="showDialog"
    @close="cancelDialog"
    :close-on-click-modal="false"
    :destroy-on-close="true"
  >
    <div v-if="engineerInfo" class="enginner-form">
      <div class="engineer-row">
        <img class="tou" src="@/assets/img/dialog/default_png.png" />
        <div class="engineer-item">
          <span>{{engineerInfo.name}}</span>
          <p>{{engineerInfo.mobile}}</p>
        </div>
      </div>
      <div class="engineer-row">
        <span
          class="zan-span"
          @mouseenter="isActive = 1"
          @mouseleave="isActive = null"
          @click="selectComment(1)"
        >
          <template v-if="isFabulous == 1 || isActive == 1">
            <img src="@/assets/img/dialog/high.png" />
            <span class="active">好评</span>
          </template>
          <template v-else>
            <img src="@/assets/img/dialog/high_gray.png" />
            好评
          </template>
        </span>
        <span
          class="zan-span"
          @mouseenter="isActive = 2"
          @mouseleave="isActive = null"
          @click="selectComment(2)"
        >
          <template v-if="isFabulous == 2 || isActive == 2">
            <img src="@/assets/img/dialog/medium.png" />
            <span class="active">中评</span>
          </template>
          <template v-else>
            <img src="@/assets/img/dialog/medium_gray.png" />
            中评
          </template>
        </span>
        <span
          class="zan-span"
          @mouseenter="isActive = 3"
          @mouseleave="isActive = null"
          @click="selectComment(3)"
        >
          <template v-if="isFabulous == 3 || isActive == 3">
            <img src="@/assets/img/dialog/bad.png" />
            <span class="active">差评</span>
          </template>
          <template v-else>
            <img src="@/assets/img/dialog/bad_gray.png" />
            差评
          </template>
        </span>
      </div>
      <div class="engineer-row">
        <el-input
          type="textarea"
          placeholder="请输入您对询价工程师的评价，建议或者看法"
          v-model="evaluate"
          rows="4"
          resize="none"
        ></el-input>
      </div>
      <div class="engineer-row row-bottom">
        <span class="row-title"><span class="red">*</span>工程师印象</span>
      </div>
      <div class="engineer-row">
        <div v-show="isFabulous == 1">
          <el-tag size="medium" @click="checkedTag(it.id)" :type="itType(it.id)?'info':''" v-for="it in excellent" :key="it.id"> {{it.name}} </el-tag>
        </div>
        <div v-show="isFabulous == 2">
          <el-tag size="medium" @click="checkedTag(it.id)" :type="itType(it.id)?'info':''" v-for="it in good" :key="it.id"> {{it.name}} </el-tag>
        </div>
        <div v-show="isFabulous == 3">
          <el-tag size="medium" @click="checkedTag(it.id)" :type="itType(it.id)?'info':''" v-for="it in bad" :key="it.id"> {{it.name}} </el-tag>
        </div>
      </div>
      <div class="engineer-row">
        <span class="row-title">询价评分</span>
      </div>
      <el-row class="rate-row">
        <el-col>
          <span>准时程度：</span>
          <el-rate v-model="ontime"></el-rate>
        </el-col>
        <el-col>
          <span>准确程度：</span>
          <el-rate v-model="accuracy"></el-rate>
        </el-col>
      </el-row>
      <el-row class="rate-row">
        <el-col>
          <span>沟通程度：</span>
          <el-rate v-model="communicate"></el-rate>
        </el-col>
      </el-row>
      <div class="form-footer common-content">
        <el-checkbox v-model="anonymous">匿名评价</el-checkbox>
        <el-row class="row-btn">
          <el-button class="btn btn3" @click="cancelDialog">取消</el-button>
          <el-button class="btn" :loading="loading" type="primary" @click="evaluateEngineer">确定</el-button>
        </el-row>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  getEngineerInfo,
  evaluate,
  commentTag
} from "@/api/inquiry";
export default {
  name: "EngineerEvaluationDialgo",
  props: ["showEngineerEvaluation", "engineerInfo", 'piciZjtId', "evaluateInfo", "isEvaluateType"],
  data() {
    return {
      evaluate: "", // 工程师评价
      ontime: 5, // 准时程度
      accuracy: 5, // 准确程度
      communicate: 5, // 沟通程度
      anonymous: false, // 匿名评价
      isFabulous: 1, // 当前好评程度
      isActive: null, // 评价工程师-当前选中
      excellent: [],
      good: [],
      bad: [],
      impression: [],
      memberId: "", // 发布账号
      showDialog: false,
      loading: false
    };
  },
  mounted() {
    this.memberId = this.$route.query.memberId;
    this.commentTag();
  },
  watch: {
    engineerInfo: {
      deep: true,
      handler: function(info) {
        // if (info) console.log('工程师', info)
      }
    },
    showEngineerEvaluation: {
      deep: true,
      handler: function(show) {
        console.log('evaluateInfo',this.evaluateInfo);
        if (this.isEvaluateType == 'edit' && this.evaluateInfo) {
          this.evaluate = this.evaluateInfo.context;
          this.isFabulous = this.evaluateInfo.grade;
          this.ontime = this.evaluateInfo.ontimeScore;
          this.communicate = this.evaluateInfo.mannerScore;
          this.accuracy = this.evaluateInfo.accurateScore;
          this.anonymous = this.evaluateInfo.cryptonym == 0 ? true : false;
          console.log(this.impression);
          this.impression = this.evaluateInfo.commentTagIds.split(';');
        }
        this.showDialog = show;
      }
    }
  },
  methods: {
    cancelDialog() {
      this.$emit("update:showEngineerEvaluation", false);
    },
    selectComment(type) {
      this.isFabulous = type;
      this.impression = []
    },
    // 选中标签
    checkedTag(it) {
      let isHash = false;
      let index = 0;
      if (this.impression.length > 0) {
        this.impression.forEach((item, indx) => {
          if (it == item) {
            isHash = true;
            index = indx;
            return;
          }
        })
      }

      if (!isHash) this.impression.push(it);
      else this.impression.splice(index, 1);
    },
    itType(it) {
      let isInfo = true;
      if (this.impression.length > 0) {
        this.impression.forEach(item => {
          if (it == item) isInfo = false;
        })
      }
      return isInfo
    },
    // 获取工程师信息
    getEngineerInfo() {
      // getEngineerInfo().then(res => {

      // })
    },
    // 评价工程师
    evaluateEngineer() {
      // 校验必填
      if (!this.evaluate) {
        this.$message.warning("请输入您对询价工程师的评价，建议或者看法");
        return;
      } else if (!this.impression.length) {
        this.$message.warning("请选择您对工程师的印象！");
        return;
      } else if (!this.ontime) {
        this.$message.warning("请选择您对工程师的印象！");
        return;
      }

      let params = {
        memberId: this.memberId,
        piciId: this.piciZjtId,
        accurateScore: this.accuracy,
        context: this.evaluate,
        cryptonym: this.anonymous ? 0 : 1,
        ontimeScore: this.ontime,
        mannerScore: this.communicate,
        grade: this.isFabulous,
        piciCommentTagIds: this.impression.join(';')
      }

      if (this.isEvaluateType == 'edit') {
        params.status = 0;  // 0修改 1新增
        params.id = this.evaluateInfo.id;
      } else {
        params.status = 1;
      }

      this.loading = true;
      evaluate(params).then(res => {
        if (res.code == '01') {
          this.$emit("refreshInfo")
          this.$message.success("评价成功！")
        } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
        }
        this.loading = false;
        this.cancelDialog();
      }).catch(err => {
        this.$message({
          type: "error",
          message: err.message || "出错了",
        });
        this.loading = false;
        this.cancelDialog();
      })
    },
    // 获取评价印象标签列表
    commentTag() {
      commentTag({grade: 1}).then(res => {
        // console.log('印象标签', res)
        this.excellent = res.body;
      })
      commentTag({grade: 2}).then(res => {
        // console.log('印象标签', res)
        this.good = res.body;
      })
      commentTag({grade: 3}).then(res => {
        // console.log('印象标签', res)
        this.bad = res.body;
      })
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../../styles/variables.scss";
.none-title {
  &::v-deep .el-dialog {
    border-radius: 4px;
  }

  &::v-deep .el-dialog__header {
    padding: 0;
    .el-dialog__headerbtn {
      top: 10px;
      right: 10px;
      font-size: 18px;
      .el-icon-close:before {
        color: #0b4375;
        font-weight: bold;
      }
    }
  }

  &::v-deep .el-dialog__body {
    border-radius: 4px;
  }

  .common-content {
    text-align: center;

    .tip-span {
      font-size: 12px;
      display: inline-block;
      line-height: 30px;
    }
    .btn {
      padding: 0;
      width: 112px;
      height: 34px;
      line-height: 34px;
      color: #ffffff !important;
      border-radius: 5px;
      font-size: 15px;
      font-family: "mainfont";
      font-weight: 500;
      margin: 0 10px;
      &:hover {
        border: 1px solid;
      }
    }
    .btn1 {
      background: $color-primary !important;
    }
    .btn3 {
      color: $color-primary !important;
      border-color: #3699ff !important;
      &:hover {
        background: #ffffff !important;
        box-shadow: 0px 1px 4px 0px #3699ff;
      }
    }
  }

  .red {
    color: #f13a3f;
  }
  .blue {
    color: #0a7dff;
  }
  .yellow {
    color: #ffaa31;
  }
}

.enginner-form {
  margin: 0 40px;

  .rate-row {
    display: flex;
    .el-col {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #999;
    }
  }

  .form-footer {
    text-align: center;
    margin-top: 20px;
    .row-btn {
      margin-top: 20px;
    }
  }
}
.engineer-row {
  display: flex;
  align-items: center;

  .tou {
    width: 48px;
    height: 48px;
  }
  .engineer-item {
    margin-left: 15px;
    span {
      font-weight: bold;
      font-size: 16px;
      display: inline-block;
      margin-bottom: 8px;
    }
    p {
      font-size: 12px;
      color: #999999;
    }
  }
  .zan-span {
    display: flex;
    align-items: center;
    margin: 30px 30px 10px 10px;
    cursor: pointer;
    .active {
      color: #f8a047;
    }
  }
  .el-textarea {
    margin-top: 10px;
  }
  .row-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .el-tag {
    margin: 15px 10px 0 0;
    cursor: pointer;
  }
}
</style>
