<template>
  <div class="detailed-container">
    <div class="table-wrap">
      <!-- 表头 -->
      <div class="flex-csb pt-20">
        <div class="b-title">材料信息</div>
      </div>
      <!-- 删除按钮 -->
      <el-button class="flex-cc btn-del" @click="delSomeMaterial">
        <img src="@/assets/img/table/del.png" alt="" class="el-icon-search">删除
      </el-button>
      <!-- 表格 -->
      <el-table
        :data="tableData"
        ref="table"
        tooltip-effect="dark"
        v-loading="tableLoading"
        style="width: 100%;max-height:780px;overflow-y:scroll;"
        class="com-operate-wrap detailed-table"
        :row-class-name="tableRowClassName"
        @selection-change="multipleSelection = $event">
        <el-table-column
          type="selection"
          width="66px">
        </el-table-column>
        <el-table-column
          label="序号"
          align="center"
          width="66px">
          <template slot-scope="scope">{{scope.$index+1}}</template>
        </el-table-column>
        <el-table-column>
          <template slot="header">
            <span class="tips">*</span> 材料名称
          </template>
          <template slot-scope="scope">
            <div class="input-box-b">
              <el-input placeholder="请输材料名称" size="mini" v-model="scope.row.name" maxlength="300"></el-input>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          label="规格型号">
          <template slot="header">
            <span class="tips">*</span> 规格型号
          </template>
          <template slot-scope="scope">
            <div class="input-box-b spec-img">
              <el-tooltip effect="light" placement="bottom-start" popper-class="spec-tooltip">
                <img src="@/assets/img/icons/symbol.png" alt="">
                <div slot="content">
                  <template v-for="item in symbolList">
                    <div class="item flex-cc" :key="item" @click="iptSymbol(item,scope.$index)">{{item}}</div>
                  </template>
                </div>
              </el-tooltip>
              <el-input placeholder="请输材料规格" size="mini" v-model="scope.row.spec" maxlength="300"></el-input>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          label="需求量"
          width="100px"
          align="center">
          <template slot="header">
            <span class="tips">*</span> 需求量
          </template>
          <template slot-scope="scope">
            <div class="input-box-s">
              <el-input size="mini" @input="checkInput($event,'xuqiunum',scope.$index)" v-model="scope.row.amount" maxlength="6"></el-input>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          label="单位"
          width="100px"
          align="center">
          <template slot="header">
            <span class="tips">*</span> 单位
          </template>
          <template slot-scope="scope">
            <div class="input-box-s">
              <el-input size="mini" v-model="scope.row.unit" maxlength="6"></el-input>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          label="档次"
          width="134px">
          <template slot-scope="scope">
            <el-select placeholder="请选择" class="input-box-m" v-model="scope.row.grade">
              <el-option
                v-for="item in gradeList"
                :key="item"
                :label="item"
                :value="item">
              </el-option>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          label="品牌">
          <template slot-scope="scope">
            <el-input size="mini" class="input-box-b" v-model="scope.row.brand"></el-input>
          </template>
        </el-table-column>
        <el-table-column
          align="center">
          <template slot="header">
            <span class="tips">*</span> 报价数
          </template>
          <template slot-scope="scope">
            <div class="input-box-s">
              <el-input size="mini" @input="checkInput($event,'baojianum',scope.$index)" v-model="scope.row.maxRecommendNum" maxlength="5"></el-input>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          width="120px"
          label="费用说明">
          <template slot-scope="scope">
            <div class="flex-ccw checklists2">
              <el-checkbox label="含税费" :value="scope.row.tax ? true : false" @change="toggleAutoState($event, scope.$index, 'tax')"></el-checkbox>
              <el-checkbox label="含运费" :value="scope.row.carriage ? true : false" @change="toggleAutoState($event, scope.$index, 'carriage')"></el-checkbox>
            </div>
          </template>
        </el-table-column>
        <el-table-column
          prop="remark"
          label="备注"
          align="center">
          <template slot-scope="scope">
            <el-input size="mini" class="input-box-b" v-model="scope.row.remark" maxlength="300"></el-input>
          </template>
        </el-table-column>
        <el-table-column
          label="附件">
          <template slot="header">
            <span class="tip-box ml-20">
              附件
              <el-tooltip effect="light" content="只能上传5个附件，单个文件不能超过10M。" placement="top-start">
                <img src="@/assets/img/icons/tips.png" alt="" class="tip-img">
              </el-tooltip>
            </span>
          </template>
          <template slot-scope="scope">
            <el-tooltip effect="light" placement="bottom" :open-delay="300" popper-class="show-files" :disabled="scope.row.uploadFileVos && scope.row.uploadFileVos.length == 0">
              <div slot="content">
                <div class="flex-csb files-item" v-for="(item,index) in scope.row.uploadFileVos" :key="index">
                  <img src="@/assets/img/icons/file.png" alt="" class="tip-img">
                  <div class="flex-cc info">
                    <span>{{item.fileName}}</span>
                    <span>{{item.size | filterSize}}</span>
                  </div>
                  <span class="red" @click="delFile(scope.$index,index)">删除</span>
                </div>
              </div>
              <div class="flex-c upload addFile">
                <div class="u-btn flex-cc">添加附件</div>
                <input ref="fileElemFile" class="u-file" type="file" @change="addFile($event,scope.row,scope.$index)" />
                <span class="flex-cc num" v-if="scope.row.uploadFileVos && scope.row.uploadFileVos.length > 0">{{scope.row.uploadFileVos.length}}</span>
              </div>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column
          label="操作">
          <template slot-scope="scope">
              <div v-if="tableData.length == 1">--</div>
              <div class="icon-wrap" @click="delMaterial(scope.$index)" v-else>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="">
                </el-tooltip>
              </div>
          </template>
        </el-table-column>
      </el-table>
      <!-- 添加材料 -->
      <div class="flex-cc addFileBox">
        <div class="flex-cc" @click="addMaterial">
          <img src="@/assets/img/add_file.png" alt="" class="add_icon">
          <span>添加材料</span>
        </div>
      </div>

      <!-- 询价功能 -->
      <div class="inquiry-fun">
        <div class="flex-c top">
          <el-button class="flex-c btn btn3" @click="showUploadDialog = true">+ 批量导入</el-button>
          <div class="download-temp" @click="downloadTempFile">批量导入模板下载 > ></div>
          <img src="@/assets/img/icons/tips_gray.png" alt="" class="img">
          <p class="text">小提示：若想获得100%的材料识别成功率，请按照模板格式上传材料清单</p>
        </div>
        <div class="flex-c bottom">
          <div class="title"><span>*</span>询价账号：</div>
           <el-select :value="accountId" placeholder="请选择" class="sel" @change="$emit('selAccount',$event)">
            <el-option
              v-for="item in accountList"
              :key="item.id"
              :label="item.account"
              :value="item.account">
            </el-option>
          </el-select>
          <div class="balance">账号剩余条数<span class="red">{{residueInquiryCount}}</span>条</div>
          <el-button class="flex-cc btns btn1" @click="$emit('bindAccount')">绑定造价通账号</el-button>
          <el-button class="flex-cc btns btn1" @click="$emit('toBugPlans')">套餐购买</el-button>
        </div>
      </div>
    </div>

    <!-- 批量导入材料弹窗 -->
    <el-dialog
      title="批量导入材料"
      :visible.sync="showUploadDialog"
      width="460px"
      class="com-dialog uploadwin ipt-price my-dialog"
      :close-on-click-modal="false">
      <div class="box">
        <img src="@/assets/img/upload.png" alt="" class="img">
        <p>若想获得100%的材料识别成功率<br />请按照模板格式上传材料清单</p>
        <div class="flex-c mb-20  cj-upload">
          <span class="label-text ipt-text">询价清单</span>
          <div class="flex-c" style="width:310px;">
            <div class="u-ipt ellipsis1">{{batchFileName}}</div>
            <div class="u-btn"> ... </div>
            <input ref="batchFiles" class="u-file" type="file" @change="changeFile($event)" />
          </div>
        </div>
      </div>
      <!-- 底部 -->
      <span slot="footer" class="flex-cc dialog-footer">
        <el-button @click="showUploadDialog = false">取消</el-button>
        <el-button type="primary" @click="uploadFile">上传文件</el-button>
      </span>
    </el-dialog>

    <!-- 添加附件弹窗 -->
    <el-dialog
      title="添加附件"
      :visible.sync="showAddFileDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
        <i class="el-icon-loading loading-icon" alt="" v-if="addStatus == 1 || addStatus == 4"></i>
        <img src="@/assets/img/dialog/success.png" alt="" v-if="addStatus == 2">
        <img src="@/assets/img/dialog/error.png" alt="" v-if="addStatus == 3">
        <p v-if="addStatus == 1">安全扫描中，请耐心等候...</p>
        <p v-if="addStatus == 4">正在上传，请耐心等候...</p>
        <p v-if="addStatus == 2">附件上传成功</p>
        <p v-if="addStatus == 3">附件上传失败</p>
        <span slot="footer" class="dialog-footer" v-if="addStatus == 2 || addStatus == 3">
          <el-button type="primary" @click="showAddFileDialog = false">确定</el-button>
        </span>
    </el-dialog>

    <!-- 标准化弹窗 -->
    <Scan :title="'批量导入'" :failCount="failCount" :successCount="successCount" :downloadKeyLoading="downloadKeyLoading" :scanState="scanState" @downloadErrorList="downloadErrorList" @confirmScan="confirmScan" v-if="startScan" :errMsg="errMsg2" />
  </div>
</template>

<script>
import {
  downloadErrorExcel
} from '@/api/common'
import {
  inquiryUploadAnnex,
  importDetailInquiry,
  downloadTempFile,
} from '@/api/inquirySetting'
import Rule from './rule'
import Scan from './scan'
export default {
  components: { Rule , Scan },
  props: ['residueInquiryCount', 'accountList', 'accountId', 'tableData',],
  data() {
    return {
      tableLoading: false,
      gradeList: ['中档','中高档','高档'],                 // 档次下拉选项
      showAddFileDialog: false,                           // 是否显示添加附件弹窗
      addStatus: '',                                      // 附件弹窗状态
      batchFileName: '',                                  // 批量导入的文件名
      fileData: '',                                       // 批量导入的文件名
      showUploadDialog: false,                            // 是否显示批量导入材料弹窗
      startScan: false,                                   // 是否显示标准化弹窗
      scanState: '',                                      // 0请求进行中，1请求成功，2请求失败
      downloadKeyLoading: false,                          // 失败key
      scanTimer: null,                                    // 标准化定时器
      downloadKey: '',                                    // 下载key
      successCount: 0,                                    // 标准化成功数
      failCount: 0,                                       // 标准化失败数
      errmsg2: '',                                        // 批量导入错误信息
      multipleSelection: [],                              // 已选中的表单项
      symbolList: ['Ф' ,'δ' ,'°' ,'×' ,'#' ,'Ⅱ' ,'Ⅲ' ,'½' ,'¼'],
    }
  },

  filters: {
    filterSize(val) {
      val = val / 1024 // k
      if (val > 1024) val = '(' + (val/1024).toFixed(2) + ')m'
      else val = '(' + val.toFixed(2) + ')k'
      return val
    }
  },

  mounted() {
    setTimeout(() => {
      this.$nextTick(() => {
        // this.$refs.table.doLayout()
      })
    }, 100)
  },

  methods: {
    // 数值校验
    checkInput(val,type,index) {
      if (type == 'xuqiunum') {
        // 需求量只能输入正整数
        let amount = this.tableData[index].amount
        this.tableData[index].amount =  amount.replace(/[^\d]/g, "")
        if(amount == 0) this.tableData[index].amount = ''
      } else if (type == 'baojianum'){
        // 报价数只能输入正整数
        let maxRecommendNum = this.tableData[index].maxRecommendNum
        this.tableData[index].maxRecommendNum =  maxRecommendNum.replace(/[^\d]/g, "")
        if(maxRecommendNum == 0) this.tableData[index].maxRecommendNum = ''
      }
    },

    // 规格辅助输入
    iptSymbol(e,idx) {
      this.tableData[idx].spec += e
    },

    // 标记下标
    tableRowClassName(row, index) {
      row.row.index = row.rowIndex
    },

    // 表格多选框
    toggleAutoState(val, index, type) {
      this.$emit('toggleAutoState',val, index, type)
    },

    // 批量删除材料
    delSomeMaterial() {
      if (this.multipleSelection.length == 0) {
        this.openAlert();
        return;
      }
      let delArr = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        delArr.push(this.multipleSelection[i].index)
      }
      this.$emit('delSomeMaterial',delArr)
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },

    // 删除附件
    delFile(index, idx) {
      this.tableData[index].uploadFileVos.splice(idx,1)
    },

    // 添加附件
    addFile(e, item, index) {
      if(item.uploadFileVos && item.uploadFileVos.length == 5) {
        this.$message({
          type: 'error',
          message: '单个材料最多只能上传5个文件!'
        })
        return
      }

      var file = e.target.files[0]
      if (file && file.size > 1024*1000*10) {
        this.$message({
          type: 'error',
          message: '上传文件大小不得超过10M!'
        })
        return
      }

      if (file.name.indexOf('.pdf') > -1 || file.name.indexOf('.dwg') > -1 || file.name.indexOf('.jpg') > -1 || file.name.indexOf('.jpeg') > -1 || file.name.indexOf('.png') > -1 || file.name.indexOf('.bmp') > -1 ) {
        this.addStatus = 1
        setTimeout(()=>{
          this.addStatus = 4
        },1000)
        this.showAddFileDialog = true
        var formData = new FormData()
        formData.append('file', file)
        formData.append('type', 0)
        formData.append('memberId', this.accountId)
        setTimeout(()=>{
          inquiryUploadAnnex(formData).then(res=>{
            if(res.code == '01'){
                this.addStatus = 2
                console.log(this.tableData[index]);
                this.tableData[index].uploadFileVos.push({
                  fileName: file.name,
                  size: res.body.size || file.size,
                  file: res.body
                })
            } else {
              this.addStatus = 3
            }
            this.$refs.fileElemFile.value = null
          }).catch(err=>{
            console.log(err);
            this.addStatus = 3
            this.$refs.fileElemFile.value = null
          })
        },2000)
      } else {
        this.$message({
          type: 'error',
          message: '上传文件格式错误!'
        })
      }
    },

    // 添加材料
    addMaterial() {
      if(this.tableData.length == 1000) {
        this.$message({
          type: 'error',
          message: '一个批次最多支持1000条材料!'
        })
        return
      }
      this.tableData.push({
        name: '',
        spec: '',
        amount: '1',
        unit: 'm³',
        grade: '中档',
        brand: '',
        maxRecommendNum: '1',
        carriage: false,
        tax: false,
        remark: '',
        uploadFileVos: [],
      })
    },

    // 删除材料
    delMaterial(index) {
      this.tableData.splice(index,1)
    },

    // 批量上传询价清单(选择文件)
    changeFile(e) {
      var file = e.target.files[0]
      this.fileData = file
      this.batchFileName = file.name
    },

    // 批量上传询价清单(调用接口)
    uploadFile() {
      if(!this.fileData) {
        this.$message({
          type: 'error',
          message: '请先选择文件'
        })
        return
      }
      var formData = new FormData()
      formData.append('file', this.fileData)
      this.failCount = 0
      this.successCount = 0
      this.downloadKey = ''
      this.scanState = '0'
      this.startScan = true
      this.scanTimer = setTimeout(() => {
        importDetailInquiry(formData).then(res=>{
          if(res.code == '01'){
            this.fileData = null
            this.batchFileName = ''
            this.$refs.batchFiles.value = null
            this.scanState = '1'
            this.showUploadDialog = false
            try {
              this.failCount = res.body.failCount
              this.successCount = res.body.successCount
              this.downloadKey = res.body.downloadKey
            } catch(err) {}
            if((this.tableData.length + res.body.list.length) > 1000) {
              this.scanState = '2'
              this.errMsg2 = '一个批次最多支持1000条材料!'
              return
            }
            res.body.list.forEach(item=>{
              item.tax == '是' ? true : false
              item.carriage == '是' ? true : false
              item.uploadFileVos = []
              this.tableData.push(item)
            })
          } else {
            this.scanState = '2'
            this.errMsg2 = res.message || '出错了'
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
        }).catch(err=>{
          this.scanState = '2'
          this.errMsg2 = err.message || '出错了'
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
      },2000)
    },

    // 下载询价模板
    downloadTempFile() {
      downloadTempFile().then(res => {
        // ie11文件下载兼容
        if(navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '询价导入模板.xls')
          return
        }
        let blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement('a')
          let _fileName = sessionStorage.getItem('blob_filename') || '询价导入模板.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem('blob_filename')
        }
      }).catch(err => {})
    },

    // 下载失败清单
    downloadErrorList() {
      var params = {
          downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params).then(res => {
        this.startScan = false
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = (event) => {
        let a = document.createElement('a');
        let _fileName = sessionStorage.getItem('blob_filename') || '失败清单.xls';
        a.download = _fileName;
        a.href = event.target.result;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
        sessionStorage.removeItem('blob_filename')
        this.downloadKeyLoading = false
        }
      }).catch(err => {
          this.downloadKeyLoading = false
      })
    },

    // 完成
    confirmScan() {
      this.startScan = false
      this.showUploadDialog = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
    },
  }
}
</script>

<style lang="scss" scoped>
@import "../../../styles/variables.scss";
.detailed-container {
  .table-wrap {
    .com-operate-wrap {
      padding: 23px  31px 28px 31px;
    }
  }
  .loading-icon {
    font-size: 46px;
    color: $color-primary;
    margin: 20px 0 40px;
  }
  .btn-del {
    width: 82px;
    height: 34px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "mainfont";
    font-weight: 500;
    color: #f13a3f !important;
    border-color: #f13a3f;
    margin-top: 20px;
    margin-left: 31px;
    .el-icon-search {
      margin-right: 5px;
    }
    &:hover {
      box-shadow: 0px 1px 4px 0px #f13a3f;
      background: #ffffff !important;
    }
  }
  // 表格
  .detailed-table {
    &::before {
      display: none;
    }
    .tips {
      color: red;
    }
    .tip-box {
      position: relative;
      .tip-img {
        width: 18px;
        height: 18px;
        position: absolute;
        right: -22px;
        bottom: 5px;
      }
    }
    .upload {
      width: 100px;
      cursor: pointer !important;
      > div {
        position: relative;
        width: 100%;
      }
      .u-btn {
        height: 34px;
      }
      .u-file {
        position: absolute;
        width: 100%;
        opacity: 0;
        height: 34px;
        cursor: pointer;
      }
    }
    .addFile {
      color: $color-primary;
      position: relative;
      .num {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #f9cd47;
        font-size: 12px;
        font-family: "mainfont";
        color: #ffffff;
        position: absolute;
        bottom: 22px;
        right: 8px;
      }
    }
  }
  // 添加附件
  .addFileBox {
    padding-bottom: 22px;
    border-bottom: 1px solid #f3f3f4;
    font-size: 18px;
    font-family: "mainfont";
    font-weight: bold;
    color: #1789f2;
    > div {
      cursor: pointer;
    }
    .add_icon {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
  }
  .inquiry-fun {
    margin: 0 31px;
  }
  // 批量导入料弹窗
  .uploadwin {
    .box {
      width: 358px;
      background: #f6f9fe;
      border: 1px solid #bfd7ff;
      border-radius: 4px;
      padding: 24px 16px 11px;
      text-align: center;
      margin: 0 auto;
      .img {
        width: 50px;
        height: 30px;
      }
      p {
        width: 178px;
        font-size: 12px;
        font-weight: 400;
        color: #adadad;
        line-height: 20px;
        margin: 10px auto 20px;
      }
    }
    .uploadbtn {
      width: 82px;
      height: 26px;
      color: $color-primary !important;
      border-color: $color-primary !important;
      border-radius: 5px;
      font-weight: 400;
      margin: 0 auto;
    }
  }
}
</style>

<style lang="scss">
@import "../../../styles/variables.scss";
.el-tooltip__popper {
  // border: none !important;
  > div {
    display: flex;
    align-items: center;
  }
  .item {
    width: 18px;
    height: 18px;
    margin: 0 3px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}
.detailed-table {
  .is-leaf {
    height: 59px !important;
  }
  .cell {
    overflow: visible !important;
  }
  .spec-img {
    position: relative;
    background: none !important;
    img {
      width: 17px;
      height: 17px;
      position: absolute;
      top: 6px;
      left: 5px;
      cursor: pointer;
      z-index: 999;
    }
  }
}
.checklists2 {
  width: 120px !important;
  flex-direction: column;
  .el-checkbox {
    margin-right: 0;
    .el-checkbox__inner {
      border-radius: 0 !important;
    }
  }
}
.sel {
  .el-input__inner {
    height: 34px !important;
  }
  .el-input__suffix {
    top: 4px !important;
  }
  .is-focus {
    .el-input__suffix {
      top: -2px !important;
    }
  }
}
.show-files {
  width: 268px;
  padding: 10px;
  border: none !important;
  background: #ffffff !important;
  font-size: 14px;
  color: $table-color;
  font-family: "mainfont";
  .files-item {
    height: 55px;
    width: 250px;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
  }
  .tip-img {
    width: 20px;
    height: 20px;
  }
  .info {
    & span:first-child {
      display: inline-block;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .red {
    color: #f97547;
    cursor: pointer;
  }
}
.uploadwin,
.rulewin {
  .el-dialog__header {
    background: none;
  }
}
.uploadwin {
  .ipt-price {
    .el-input-group__append {
      background: #ffffff;
    }
    .el-input-group--append {
      width: 310px;
      .el-input__inner {
        width: 255px;
        color: $color-minor;
      }
    }
  }
  .cj-upload {
    width: 100%;
    > div {
      position: relative;
      width: 100%;
    }
    .u-ipt {
      padding-left: 10px;
      width: 168px;
      height: 34px;
      line-height: 34px;
      border: 1px solid #dcdfe6;
      border-radius: 4px;
    }
    .u-btn {
      max-width: 66px;
      min-width: 66px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      border-radius: 0 4px 4px 0;
      border: 1px solid #dcdfe6;
      border-left: none;
    }
    .u-file {
      position: absolute;
      width: 100%;
      opacity: 0;
    }
  }
  .fileipt {
    .el-input__inner {
      width: 268px !important;
      height: 28px !important;
      margin-right: 0 !important;
    }
    .el-input-group__append {
      cursor: pointer;
    }
  }
  .u-file {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 34px;
    cursor: pointer;
  }
}
.rulewin {
  .box {
    > p {
      text-align: center !important;
      color: #333333;
      margin-bottom: 28px;
      font-weight: bold;
    }
  }
}
</style>