<template>
  <div class="enclosure-container">
    <div class="table-wrap">
      <div class="flex-csb pt-20">
        <div class="b-title">材料信息</div>
      </div>
      <!-- 上传附件 -->
      <div class="upload-box form inquiry-fun">
        <div class="flex-ccw file-list">
          <img src="@/assets/img/upload.png" alt="" class="upload-img">
          <p>单个附件支持CAD、PDF和图片格式，批量文件请压缩成zip、rar文件后再上传，最多上传5个附件，每个附件最大容量50M</p>
          <div class="flex-c upload addFile">
            <div class="u-btn flex-cc" :class="{gray: uploadFileList2.length == 5}">上传</div>
            <input ref="annexElem" :disabled="uploadFileList2.length == 5" class="u-file cp" type="file" @change="addFile" />
          </div>
          <div v-if="uploadFileList2.length > 0" class="flex-c file-box">
            <div v-for="(item,index) in uploadFileList2" :key="index" class="flex-csb fileitem">
              <img src="@/assets/img/icons/file.png" alt="" class="file-img">
              <p class="file-name" :title="item.oldFileName">{{item.oldFileName}}</p>
              <i class="el-icon-close del-file" @click="delFile(index)"></i>
            </div>
          </div>
          <div v-else style="height:26px"></div>
        </div>
        <div class="flex-c b-input mt-20">
          <span class="remark">备注说明：</span>
          <el-input :value="explain" @input="iptExplain" placeholder="您可以输入材料需要询价的报价数，报价是否含税、含运费等要求" />
        </div>
        <div class="flex-c bottom">
          <div class="title"><span>*</span>询价账号：</div>
           <el-select :value="accountId" placeholder="请选择" class="sel" @change="$emit('selAccount',$event)">
            <el-option
              v-for="item in accountList"
              :key="item.id"
              :label="item.account"
              :value="item.account">
            </el-option>
          </el-select>
          <div class="balance">账号剩余条数<span class="red">{{residueInquiryCount}}</span>条</div>
          <el-button class="flex-cc btns btn1" @click="$emit('bindAccount')">绑定造价通账号</el-button>
          <el-button class="flex-cc btns btn1" @click="$emit('toBugPlans')">套餐购买</el-button>
        </div>
      </div>
    </div>

    <!-- 添加附件弹窗 -->
    <el-dialog
      title="添加附件"
      :visible.sync="showAddFileDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <i class="el-icon-loading loading-icon" alt="" v-if="addStatus == 1 || addStatus == 4"></i>
      <img src="@/assets/img/dialog/success.png" alt="" v-if="addStatus == 2">
      <img src="@/assets/img/dialog/error.png" alt="" v-if="addStatus == 3">
      <p v-if="addStatus == 1">安全扫描中，请耐心等候...</p>
      <p v-if="addStatus == 4">正在上传，请耐心等候...</p>
      <p v-if="addStatus == 2">附件上传成功</p>
      <p v-if="addStatus == 3">附件上传失败</p>
      <span slot="footer" class="dialog-footer" v-if="addStatus == 2 || addStatus == 3">
        <el-button type="primary" @click="showAddFileDialog = false">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  inquiryUploadAnnex,
} from '@/api/inquirySetting'
export default {
  props: ['residueInquiryCount', 'accountList', 'accountId', 'uploadFileList2', 'explain'],
  data() {
    return {
      addStatus: '',                                      // 附件弹窗状态
      showAddFileDialog: false,                           // 是否显示添加附件弹窗
    }
  },

  methods: {
    // 编辑备注
    iptExplain(e) {
      this.$emit('iptExplain',e)
    },
    // 添加附件
    addFile(e) {
      var file = e.target.files[0]
      if (file && file.size > 1024*1000*50) {
        this.$message({
          type: 'error',
          message: '每个附件最大容量50M'
        })
        return
      }

      if (file.name.indexOf('.pdf') > -1 || file.name.indexOf('.dwg') > -1 || file.name.indexOf('.jpg') > -1 || file.name.indexOf('.jpeg') > -1 || file.name.indexOf('.png') > -1 || file.name.indexOf('.rar') > -1 || file.name.indexOf('.zip') > -1 ) {
        this.addStatus = 1
        setTimeout(()=>{
          this.addStatus = 4
        },1000)
        this.showAddFileDialog = true
        setTimeout(()=>{
          var formData = new FormData()
          formData.append('file', file)
          formData.append('type', 1)
          formData.append('memberId', this.accountId)
          inquiryUploadAnnex(formData).then(res=>{
            if(res.code == '01'){
              this.addStatus = 2
              this.$emit('addfile',res.body)
            } else {
              this.addStatus = 3
            }
            this.$refs.annexElem.value = null
          }).catch(err=>{
            console.log(err);
            this.addStatus = 3
            this.$refs.annexElem.value = null
          })
        },2000)
      } else {
        this.$message({
          type: 'error',
          message: '上传附件格式错误!'
        })
      }
    },

    // 删除附件
    delFile(index) {
      this.$emit('delFile',index)
    },
  },
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/variables.scss';
  .enclosure-container{
    border-radius: 6px;
    .loading-icon {
      font-size: 46px;
      color: $color-primary;
      margin: 20px 0 40px;
    }
    .upload-box{
      width: 785px;
      margin-left: 31px;
      padding-top: 17px;
      padding-bottom: 50px;
      .upload {
        width: 100px;
        cursor: pointer !important;
        > div {
          position: relative;
          width: 100%;
        }
        .u-btn {
          height: 34px;
        }
        .u-file {
          position: absolute;
          width: 100%;
          opacity: 0;
          height: 34px;
        }
      }
      .addFile{
        background-color: $color-primary;
        position: relative;
        height: 34px;
        color: #ffffff;
        margin: 9px 0 11px;
        font-size: 16px;
        border-radius: 4px;
        .num{
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background: #F9CD47;
          font-size: 12px;
          font-family: 'mainfont';
          color: #FFFFFF;
          position: absolute;
          bottom: 22px;
          right: 8px;
        }
      }
      .file-list{
        flex-direction: column;
        border: 1px dashed #CECECE;
        border-radius: 10px;
        .upload-img{
          width: 95px;
          height: 58px;
          margin: 38px 0 8px 0;
        }
        p{
          font-size: 12px;
          font-family: 'mainfont';
          font-weight: 500;
          color: #767676;
        }
        .btn{
          width: 112px;
          height: 37px;
          margin: 9px 0 11px;
          font-family: 'mainfont';
          font-size: 16px;
          font-weight: 500;
        }
        .file-box{
          width: 100%;
          margin-bottom: 6px;
          padding: 0 13px;
          .fileitem{
            border-right: 1px solid #E1E3E5;
            height: 18px;
            margin-right: 6px;
            max-width: 19%;
            min-width: 19%;
            &:nth-child(5){
              margin-right: 0;
            }
            .file-img{
              width: 21px;
              height: 20px;
            }
            .file-name{
              margin: 0 25px 0 7px;
              width: 81px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              font-family: 'mainfont';
            }
            .del-file{
              font-size: 7px;
              color: $table-color;
              margin-right: 10px;
            }
          }
        }
        .gray{
          background: #E1E3E5;
          pointer-events: none;
          cursor: none;
        }
      }
    }
  }
</style>