<template>
  <div class="file-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="com-search2 mb-20">
        <el-input
          placeholder="请输入文件或文件夹名搜索"
          v-model="keyword"
          @keyup.enter.native="searchFun"
        />
        <i class="el-icon-search" @click="searchFun"></i>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="s-text com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList.length > 0">
            <li
              :class="{ active: curTime == year }"
              v-for="(year, index) in curTimeList"
              :key="index"
              @click="changeCurTime(year)"
            >
              {{ year }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList.length > 0">
            <li
              :class="{ active: curTimeItem === '' }"
              @click="changeCurTimeItem('')"
            >
              全部
            </li>
            <li
              :class="{ active: curTimeItem == month }"
              v-for="(month, index) in curTimeItemList"
              :key="index"
              @click="changeCurTimeItem(month)"
            >
              {{ month }}月
            </li>
          </ul>
        </div>
      </div>
      <!-- 文件类型 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">文件类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curType === null }"
              @click="changeCurType(null)"
            >
              全部
            </li>
            <li
              v-for="it in fileTypes"
              :key="it.id"
              :class="{ active: curType === it.id }"
              @click="changeCurType(it.id)"
            >
              {{ it.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="addFolder">
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />新建文件夹
          </el-button>
          <el-button
            type="primary"
            class="flex-cc btn btn2"
            @click="uploadFolder"
          >
            <img
              src="@/assets/img/v2.0/icons/导出.png"
              alt=""
              class="el-icon-search"
            />上传
          </el-button>
          <el-button
            type="primary"
            class="flex-cc btn btn2"
            @click="downloadFolder"
          >
            <img
              src="@/assets/img/v2.0/icons/导入2.png"
              alt=""
              class="el-icon-search"
            />下载
          </el-button>
          <el-button class="flex-cc btn btn-del" @click="delFolder(0)">
            <img
              src="@/assets/img/table/del.png"
              alt=""
              class="el-icon-search"
            />删除
          </el-button>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" min-width="66px"> </el-table-column>
          <el-table-column label="名称" min-width="160px">
            <template slot-scope="scope">
              <span
                v-if="scope.row.type == '文件夹'"
                class="t-color b-color cp"
                @click="toFileDetail(scope.row)"
                >{{ scope.row.name }}</span
              >
              <span v-else class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" min-width="100px" label="文档大小">
          </el-table-column>
          <el-table-column prop="type" min-width="100px" label="文档类型">
            <template slot-scope="scope">
              <img
                :title="scope.row.type"
                :src="require(`@/assets/img/v2.0/icons/${scope.row.type}.png`)"
                alt=""
              />
            </template>
          </el-table-column>
          <el-table-column label="文档来源" min-width="100px">
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="操作人" min-width="100px">
          </el-table-column>
          <el-table-column prop="name" label="操作时间" min-width="110px">
          </el-table-column>
          <el-table-column label="操作" width="130px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip effect="light" content="下载" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/v2.0/icons/download2.png"
                    alt=""
                    @click="downFolder(scope.row)"
                  />
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/dels.png"
                    alt=""
                    @click="delFolder(scope.row)"
                  />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 添加文件夹弹窗 -->
    <el-dialog
      title="添加文件夹"
      :visible.sync="showAddFolder"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="com-dialog com-checkbox">
        <div class="flex-c">
          <span class="label-text ipt-text"><span>*</span>文件夹</span>
          <el-input
            placeholder="请输入文件夹名称"
            v-model="fileName"
          ></el-input>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddFolder = false">取消</el-button>
        <el-button type="primary" @click="submitFolder">保存</el-button>
      </span>
    </el-dialog>

    <!-- 上传文件 -->
    <el-dialog
      title="上传文件"
      :visible.sync="showUploadFolder"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <el-upload
        class="upload-demo"
        action="https://jsonplaceholder.typicode.com/posts/"
        :on-change="handleChange"
        :file-list="fileList"
      >
        <el-button size="small" type="primary">点击上传</el-button>
      </el-upload>
    </el-dialog>
  </div>
</template>

<script>
import { getMatApplicableTime } from "@/api/material";
export default {
  name: "businessDetail",
  data() {
    return {
      keyword: "",
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 1,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableData: [
        { name: "测试", type: "文件夹" },
        { name: "测试", type: "Word" },
      ], // 表格数据
      tableLoading: false, // 表格loading

      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: "", // 选择适用时间(年)
      curTimeItem: "", // 选择适用时间(月)
      timeData: [], // 组装的年月数据
      applicableDate: "", // 适用时间

      fileTypes: [
        // 文件类型
        {
          id: 1,
          name: "文件夹",
        },
        {
          id: 2,
          name: "Word",
        },
        {
          id: 3,
          name: "Excel",
        },
        {
          id: 4,
          name: "PDF",
        },
        {
          id: 5,
          name: "JPG",
        },
        {
          id: 6,
          name: "DWG",
        },
        {
          id: 7,
          name: "RAR",
        },
        {
          id: 8,
          name: "ZIP",
        },
      ],
      curType: null, // 选中文件类型
      showAddFolder: false,
      fileName: "",
      showUploadFolder: false,

      fileList: [
        {
          name: "food.jpeg",
          url: "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
        },
        {
          name: "food2.jpeg",
          url: "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
        },
      ],
    };
  },
  mounted() {
    this.getMatApplicableTime(true, true); // 适用时间
  },
  methods: {
    // 新建文件夹
    addFolder() {
      this.showAddFolder = true;
    },
    // 提交文件夹
    submitFolder() {},
    // 下载文件夹
    downFolder() {},
    // 删除文件夹
    delFolder(row) {
      if (!row) {
        console.log(true);
        if (this.multipleSelection.length > 0) {
        } else {
          this.openAlert();
        }
      }
    },
    // 下载
    downloadFolder() {
      if (this.multipleSelection.length > 0) {
      } else {
        this.openAlert();
      }
    },
    // 上传
    uploadFolder() {
      this.showUploadFolder = true;
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getFilePageList();
    },
    searchFun() {},
    getFilePageList() {},

    // 适用时间 -- 占位占位占位
    // 获取材价适用时间
    getMatApplicableTime(nopass, callback) {
      getMatApplicableTime().then((res) => {
        if (!res || !res.body.endTime) return;
        let startTime = new Date(res.body.startTime);
        let endTime = new Date(res.body.endTime);
        var y = startTime.getFullYear();
        var m = startTime.getMonth() + 1;
        var y2 = endTime.getFullYear();
        var m2 = endTime.getMonth() + 1;
        let time = {}; // {年：[月]}
        let years = [];
        for (let i = y2; i >= y; i--) {
          let timearr = [];
          years.push(i);
          if (i == y) {
            let month = 12;
            if (y == y2) month = m2;
            for (let j = month; j >= m; j--) {
              timearr.push(j);
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j);
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j);
            }
          }
          time[i] = timearr;
        }
        this.timeData = time; // 组装的年月数据
        this.curTimeList = years; // 所有年
        if (nopass) {
          this.curTime = y2; // 默认选最新一年
          // this.curTimeItem = time[y2][0] // 默认选最新一月
          this.curTimeItem = "";
          this.curTimeItemList = time[y2]; // 默认显示第一年的月份
        } else {
          this.curTimeItemList = time[this.curTime]; // 保留所选月份只更新月份数组
        }

        if (callback) this.getFilePageList(); // 文件列表数据
      });
    },
    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year; //  选中的年
      this.curTimeItemList = this.timeData[year]; // 月数组
      // this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.curTimeItem = "";
      this.currentPage = 1;
      this.getFilePageList();
    },
    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month;
      this.currentPage = 1;
      this.getFilePageList();
    },

    // 筛选文件类型
    changeCurType(type) {
      this.curType = type;
      this.currentPage = 1;
      this.getFilePageList();
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
    // 去文件夹详情
    toFileDetail() {},

    handleChange(file, fileList) {
      this.fileList = fileList.slice(-3);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.file-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;
  .com-search2::v-deep .el-input__inner {
    border: 0;
  }
  .screen {
    padding: 20px 20px 5px 20px;
    background: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    .norm-type {
      margin-top: 10px;
      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }
      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 6px;
        .el-icon-arrow-right {
          font-size: 12px;
        }
      }
      .is-fold {
        max-height: 48px;
        overflow-y: hidden;
      }
    }
  }
  .sup-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
  }
  .my-dialog ::v-deep .el-dialog__body {
    text-align: left;
    padding: 20px 30px;
  }
}
</style>

<style lang="scss">
.file-container {
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}
</style>