<template>
  <div class="roles-manager com-input">
    <div class="com-up-wrap pl-20">
      <div class="flex-c mb-20 com-operate-wrap role-name">
        <span class="nw com-s-text mr-10">角色名称</span>
        <el-input v-model="roleName" class="mr-15" maxlength="10" />
        <el-button :loading="saveLoading" @click="updateRolesConfig">保存</el-button>
      </div>
      <p class="fw-b mb-20 com-s-text">功能权限</p>
      <div class="flex-c cp us-n mb-20">
        <img v-if="isAll" src="@/assets/img/cs/icons/checked_icon.png" alt="" @click="checkedAll(false)">
        <img v-else src="@/assets/img/cs/icons/check_icon.png" alt="" @click="checkedAll(true)">
        <span class="ml-10 com-s-text">全部权限</span>
      </div>
      <div class="flex-fs">
        <ul class="permission-wrap">
          <li v-for="(item, index) in permissionList" :key="index" class="flex-csb cp" @click="selectItem(item.childPermissionList, 0, item.id)">
            <div class="flex-c">
              <div v-if="checkedId.indexOf(item.id) > -1">
                <img src="@/assets/img/cs/icons/checked_icon.png" alt="" @click.stop="checkedItem(item, false)">
              </div>
              <div v-else>
                <img src="@/assets/img/cs/icons/check_icon.png" alt="" @click.stop="checkedItem(item, true, 0)">
              </div>
              <span class="ml-20">{{ item.menuName }}</span>
            </div>
            <span v-if="item.childPermissionList && item.childPermissionList.length > 0" class="el-icon el-icon-arrow-right" />
          </li>
        </ul>
        <ul v-for="(item, index) in subList" :key="index" class="permission-wrap">
          <li v-for="(subItem, subIndex) in item" :key="subIndex" class="flex-csb cp" @click="selectItem(subItem.childPermissionList, index + 1, subItem.id)">
            <div class="flex-c">
              <div v-if="checkedId.indexOf(subItem.id) > -1">
                <img src="@/assets/img/cs/icons/checked_icon.png" alt="" @click.stop="checkedItem(subItem, false)">
              </div>
              <div v-else>
                <!-- 动态绑定的class，及这串参数逻辑限制用户必须勾选主页面，才能点击勾选详情页 -->
                <!-- indexOf中的id为主页面id -->
                <img src="@/assets/img/cs/icons/check_icon.png" alt="" :class="{
                    'not-allowed':
                      subItem.menuName == '模板详情' && (checkedId.indexOf(4) == -1) ||
                      subItem.menuName == '综合价评审详情' && (checkedId.indexOf(20) == -1) ||
                      subItem.menuName == '信息价库信息价详情' && (checkedId.indexOf(27) == -1) ||
                      subItem.menuName == '历史信息价库信息价详情' && (checkedId.indexOf(35) == -1) ||
                      subItem.menuName == '发布记录信息价详' && (checkedId.indexOf(41) == -1) ||
                      subItem.menuName == '回收站信息价详情' && (checkedId.indexOf(45) == -1) ||
                      subItem.menuName == '材价汇总详情' && (checkedId.indexOf(57) == -1) ||
                      subItem.menuName == '材价上报详情' && (checkedId.indexOf(59) == -1) ||
                      subItem.menuName == '期刊详情' && (checkedId.indexOf(81) == -1)
                  }" @click.stop="checkedItem(
                    subItem,
                    true,
                    index + 1,
                    (subItem.menuName == '模板详情' && (checkedId.indexOf(4) == -1) ||
                      subItem.menuName == '综合价评审详情' && (checkedId.indexOf(20) == -1) ||
                      subItem.menuName == '信息价库信息价详情' && (checkedId.indexOf(27) == -1) ||
                      subItem.menuName == '历史信息价库信息价详情' && (checkedId.indexOf(35) == -1) ||
                      subItem.menuName == '发布记录信息价详' && (checkedId.indexOf(41) == -1) ||
                      subItem.menuName == '回收站信息价详情' && (checkedId.indexOf(45) == -1) ||
                      subItem.menuName == '材价汇总详情' && (checkedId.indexOf(57) == -1) ||
                      subItem.menuName == '材价上报详情' && (checkedId.indexOf(59) == -1) ||
                      subItem.menuName == '期刊详情' && (checkedId.indexOf(81) == -1)) ? 'notAllowed' : ''
                  )">
              </div>
              <span class="ml-20">{{ subItem.menuName }}</span>
            </div>
            <span v-if="subItem.childPermissionList && subItem.childPermissionList.length > 0" class="el-icon el-icon-arrow-right" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getListDate,
  allMenu,
  addPermission,
  editPermission
} from '@/api/cs/user'
export default {
  name: 'RolesManager',
  data() {
    return {
      saveLoading: false,
      roleId: null, // 当前角色id
      roleName: null, // 当前角色名
      checkedId: [], // 选中的配置id
      allMenuId: [], // 全部权限id
      isAll: false, // 是否拥有全部权限
      permissionList: [], // 一级权限列表
      subList: [], // 子集权限列表，格式[[], []], 0为所有页面，1为页面下功能，目前子集最多出现两层
      curOneId: '', // 当前第一层展开项的id
      curTwoId: '' // 当前第二层展开项的id
    }
  },
  mounted() {
    this.roleId = this.$route.query.id
    this.roleName = this.$route.query.name
    this.getAllMenuId()
  },
  methods: {
    // 编辑角色
    editRoles() {
      var params = {
        ids: this.checkedId.join(','),
        roleId: this.roleId,
        roleName: this.roleName
      }
      this.saveLoading = true
      editPermission(params)
        .then(res => {
          this.saveLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            // 返回权限管理
            this.$router.push('/setting/permissionSet')
            sessionStorage.setItem('r_mark', true)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.saveLoading = false
        })
    },
    // 新增角色
    addRoles() {
      var params = {
        ids: this.checkedId.join(','),
        roleId: this.roleId,
        roleName: this.roleName
      }
      this.saveLoading = true
      addPermission(params)
        .then(res => {
          this.saveLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            // 返回权限管理
            this.$router.push('/setting/permissionSet')
            sessionStorage.setItem('r_mark', true)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.saveLoading = false
        })
    },
    // 更新角色
    updateRolesConfig() {
      if (!this.roleName) {
        this.$message({
          type: 'error',
          message: '请输入角色名称'
        })
        return
      }
      if (this.roleName.length > 20) {
        this.$message({
          type: 'error',
          message: '角色名称不能超过20个字符'
        })
        return
      }
      if (this.checkedId.length == 0) {
        this.$message({
          type: 'error',
          message: '请勾选角色权限'
        })
        return
      }

      // 存在roleId为新增，反之为修改
      if (this.roleId) {
        this.editRoles()
      } else {
        this.addRoles()
      }
    },
    // 全部权限id
    getAllMenuId() {
      allMenu().then(res => {
        if (res.code == '01') {
          this.allMenuId = res.body
          this.getRolesConfig()
        }
      })
    },
    // 获取角色配置
    getRolesConfig() {
      var params = {
        roleId: this.roleId
      }
      getListDate(params).then(res => {
        if (res.code == '01') {
          var permissionList = res.body.permissionVOs
          // 采集员管理
          var userItem = permissionList[3]
          // 设置中心
          var setItem = permissionList[2]
          permissionList.splice(2, 2)
          permissionList = JSON.parse(JSON.stringify(permissionList))
          permissionList.push(userItem)
          permissionList.push(setItem)
          this.permissionList = JSON.parse(JSON.stringify(permissionList))
          if (res.body.RoleMenuVO && res.body.RoleMenuVO.length > 0) {
            for (var i = 0; i < res.body.RoleMenuVO.length; i++) {
              this.checkedId.push(res.body.RoleMenuVO[i].menuId)
            }
          }

          this.hasAllPermission()
        }
      })
    },
    // 展开子列表
    selectItem(item, cur, id) {
      if (cur == 0) {
        this.curOneId = id
      } else if (cur == 1) {
        this.curTwoId = id
      }
      if (item.length == 0) {
        return
      }
      // cur为列表层级
      this.subList.splice(cur, this.subList.length)
      this.subList[cur] = item
      this.subList = JSON.parse(JSON.stringify(this.subList))
    },
    // 递归勾选/反选所有子集项
    addOrDelItem(item, status) {
      if (status) {
        if (item.childPermissionList && item.childPermissionList.length > 0) {
          for (var i = 0; i < item.childPermissionList.length; i++) {
            this.checkedId.push(item.childPermissionList[i].id)
            this.addOrDelItem(item.childPermissionList[i], status)
          }
        }
      } else {
        if (item.childPermissionList && item.childPermissionList.length > 0) {
          for (var i = 0; i < item.childPermissionList.length; i++) {
            const id = item.childPermissionList[i].id
            this.checkedId.splice(this.checkedId.indexOf(id), 1)
            this.addOrDelItem(item.childPermissionList[i], status)
          }
        }
      }
    },
    // 勾选权限项
    checkedItem(item, status, index, notAllowed) {
      if (notAllowed == 'notAllowed') {
        return
      }
      // status为true勾选，反之不勾选
      if (status) {
        this.checkedId.push(item.id)
        // 勾选上改项的父级
        if (index == 1 && this.checkedId.indexOf(this.curOneId) == -1) {
          this.checkedId.unshift(this.curOneId)
        } else if (index == 2) {
          if (this.checkedId.indexOf(this.curOneId) == -1) {
            this.checkedId.unshift(this.curOneId)
          }
          if (this.checkedId.indexOf(this.curTwoId) == -1) {
            this.checkedId.unshift(this.curTwoId)
          }
        }
        // 递归勾选所有子集项
        this.addOrDelItem(item, status)
      } else {
        // 删除该id
        if (this.checkedId.indexOf(item.id) > -1) {
          this.checkedId.splice(this.checkedId.indexOf(item.id), 1)
        }
        // 递归反选所有子集项
        this.addOrDelItem(item, status)
      }

      this.hasAllPermission()
    },
    // 判断是否拥有全部权限
    hasAllPermission() {
      if (this.allMenuId.length > this.checkedId.length) {
        this.isAll = false
        return
      }
      for (var i = 0; i < this.allMenuId.length; i++) {
        if (this.checkedId.indexOf(this.allMenuId[i]) == -1) {
          this.isAll = false
          return
        }
      }

      this.isAll = true
    },
    // 选择/反选全部权限
    checkedAll(bool) {
      this.isAll = bool
      if (this.isAll) {
        this.checkedId = this.allMenuId.slice(0)
      } else {
        this.checkedId = []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.roles-manager {
  .role-name {
    padding: 0;
    width: 350px;
    button {
      margin-bottom: 0;
      min-width: 100px;
      max-width: 100px;
    }
  }
  .permission-wrap {
    width: 300px;
    border: 1px solid #efefef;
    li {
      padding: 0 18px;
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      font-size: 14px;
      color: #666;
      font-weight: bold;
      border-bottom: 1px solid #efefef;
      &:hover {
        background: #f8f8f8;
        color: #2773fc;
      }
      &:last-child {
        border-bottom: 0;
      }
      .el-icon {
        color: #cfcfcf;
      }
    }
  }
  .not-allowed {
    cursor: not-allowed;
  }
}
</style>

