<template>
  <div class="material-container">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>材价管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/materialManage/checkMaterial' }"
            >造价通查价</el-breadcrumb-item
          >
          <el-breadcrumb-item
            ><span class="active">查价结果</span></el-breadcrumb-item
          ></el-breadcrumb
        >
      </div>
    </div>

    <!-- 顶部筛选 -->
    <div v-if="metailInfo" class="screen _flex">
      <div class="screen-left">
        <p class="flex-c s-title">
          <img class="icons" src="@/assets/img/icons/type.png" alt="" />
          <template v-if="checkType != 2">
            {{ metailInfo.name }}
          </template>
          <template v-else>
            {{ fileName }}
          </template>

          <span class="s-tag"
            >(共<span class="blue"> {{ metailInfo.searchCount || 0 }}</span>
            条材料，<span class="orange"
              >{{ metailInfo.resultCount || 0 }} </span
            >条材价)</span
          >
        </p>
        <div class="desc flex-c">
          <div v-if="checkType != 2">
            <span class="left">材料规格:</span
            ><span>{{ metailInfo.spec }}</span>
          </div>
          <div v-if="checkType != 2">
            <span class="left">适用时间:</span
            ><span>{{ metailInfo.applicationDate }}</span>
          </div>
          <div>
            <span class="left">查价时间:</span
            ><span>{{ formatDate(metailInfo.searchTime, "1") }}</span>
          </div>
        </div>

        <div class="com-search2 mt-10 mb-20">
          <el-tooltip
            effect="light"
            placement="bottom-start"
            popper-class="spec-tooltip"
          >
            <img class="spec-img" src="@/assets/img/icons/symbol.png" alt="" />
            <div slot="content">
              <template v-for="item in symbolList">
                <div class="item flex-cc" :key="item" @click="iptSymbol(item)">
                  {{ item }}
                </div>
              </template>
            </div>
          </el-tooltip>
          <el-input
            placeholder="请输入名称、规格，示例：圆钢φ10"
            v-model="keyword"
            @keyup.enter.native="searchFun"
          />

          <i class="el-icon-search" @click="searchFun"></i>
        </div>

        <!-- 适用地区 -->
        <div class="flex-fs norm-type mb-10">
          <span class="com-label-text">适用地区</span>
          <div class="t-wrap">
            <ul class="flex-cw" v-if="curproList && curproList.length > 0">
              <!-- <li
                :class="{ active: curPro === null }"
                @click="changeCurPro(null)"
              >
                全部
              </li> -->
              <li
                v-show="index <= 7 || morePro"
                :class="{ active: curPro == pro }"
                v-for="(pro, index) in curproList"
                :key="index"
                @click="changeCurPro(pro)"
              >
                {{ pro }}
              </li>
              <span
                class="more mb-10"
                v-if="curproList && curproList.length > 8"
                @click="morePro = !morePro"
              >
                {{ morePro ? "收起" : "更多" }}
                <span
                  class="cp el-icon-arrow-right"
                  :class="{ 'is-rotate': morePro }"
                ></span>
              </span>
            </ul>
            <ul
              class="flex-cw all-list"
              v-if="curCityList && curCityList.length > 0 && curPro != null"
            >
              <!-- <li
                :class="{ active: curCity === null }"
                @click="changeCurCity(null)"
              >
                全部
              </li> -->
              <li
                v-show="index <= 7 || moreCity"
                :class="{ active: curCity == item }"
                v-for="(item, index) in curCityList"
                :key="item"
                @click="changeCurCity(item)"
              >
                {{ item }}
              </li>
              <span
                class="more"
                v-if="curCityList && curCityList.length > 8"
                @click="moreCity = !moreCity"
              >
                {{ moreCity ? "收起" : "更多" }}
                <span
                  class="cp el-icon-arrow-right"
                  :class="{ 'is-rotate': moreCity }"
                ></span>
              </span>
            </ul>
          </div>
        </div>
      </div>
      <span class="mt-10 cp mr-30 blue" @click="backPage">
        返回查价
        <img
          class="ml-5 mb-2"
          src="@/assets/img/v2.0/icons/01 拷贝.png"
          alt=""
        />
      </span>
    </div>
    <!-- 按钮/表格 -->
    <div class="result-tabs">
      <div class="flex-csb com-menu-wrap">
        <div class="flex-c">
          <div
            class="cp m-item"
            :class="{ active: curMenu === '市场价' }"
            @click="changeMenu('市场价', 1)"
          >
            <span class="m-span"
              >市场价 <span class="circle">{{ marketCount }}</span>
            </span>
            <div class="t-line"></div>
          </div>
          <div
            class="cp m-item"
            :class="{ active: curMenu === '信息价' }"
            @click="changeMenu('信息价', 2)"
          >
            <span class="m-span"
              >信息价 <span class="circle">{{ infoCount }}</span>
            </span>
            <div class="t-line"></div>
          </div>
          <div
            class="cp m-item"
            :class="{ active: curMenu === '综合价' }"
            @click="changeMenu('综合价', 3)"
          >
            <span class="m-span"
              >综合价 <span class="circle">{{ syntheCount }}</span>
            </span>
            <div class="t-line"></div>
          </div>
        </div>

        <span class="flex-c cp mr-10" @click="exportAllFile">
          <img
            class="mr-5"
            src="@/assets/img/v2.0/icons/导出 拷贝 2.png"
            alt=""
          />
          一键导出
        </span>
      </div>

      <div class="tab-content">
        <!-- 表内容 -->
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          max-height="520"
        >
          <el-table-column min-width="120px" label="名称" prop="name">
            <template slot-scope="scope">
              <span class="cp">
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column min-width="110px" label="规格" prop="spec">
          </el-table-column>
          <el-table-column min-width="80px" label="单位" prop="unit">
          </el-table-column>
          <el-table-column min-width="120px" label="标准名称" prop="stdName">
          </el-table-column>
          <el-table-column min-width="130px" label="标准规格" prop="stdSpec">
          </el-table-column>
          <el-table-column min-width="100px" label="适用地区">
            <template slot-scope="scope">
              <span>
                {{ scope.row.province }}
                <template v-if="scope.row.city"
                  >- {{ scope.row.city }}</template
                >
              </span>
            </template>
          </el-table-column>
          <el-table-column
            min-width="100px"
            label="适用时间"
            prop="applicationDate"
          >
          </el-table-column>
          <template v-if="type == 1">
            <el-table-column
              min-width="80px"
              label="除税价(元)"
              prop="noTaxPrice"
            >
            </el-table-column>
            <el-table-column
              min-width="80px"
              label="含税价(元)"
              prop="taxPrice"
            >
            </el-table-column>
            <el-table-column min-width="80px" label="税率" prop="taxRate">
            </el-table-column>
            <el-table-column min-width="100px" label="品牌" prop="brand">
            </el-table-column>
            <el-table-column
              min-width="100px"
              label="报价日期"
              prop="issueDate"
            >
            </el-table-column>
            <el-table-column min-width="120px" label="供应商名称" prop="ename">
            </el-table-column>
            <el-table-column
              min-width="100px"
              label="供应商联系人"
              prop="linkman"
            >
              <template slot-scope="scope">
                <span>
                  {{ scope.row.linkman }} <br />
                  {{ scope.row.linkway }}
                </span>
              </template>
            </el-table-column>
          </template>
          <template v-else-if="type == 2">
            <el-table-column
              min-width="90px"
              label="除税价(元)"
              prop="noTaxPrice"
            >
            </el-table-column>
            <el-table-column
              min-width="90px"
              label="含税价(元)"
              prop="taxPrice"
            >
            </el-table-column>
            <el-table-column min-width="80px" label="税率" prop="taxRate">
            </el-table-column>
            <el-table-column min-width="80px" label="营改增"> </el-table-column>
            <el-table-column min-width="100px" label="品牌" prop="brand">
            </el-table-column>
            <el-table-column
              min-width="100px"
              label="发布日期"
              prop="issueDate"
            >
            </el-table-column>
            <el-table-column min-width="100px" label="发布单位">
            </el-table-column>
            <el-table-column min-width="120px" label="信息价期刊名称">
            </el-table-column>
          </template>
          <template v-else-if="type == 3">
            <el-table-column min-width="100px" label="综合价(元)">
            </el-table-column>
            <el-table-column min-width="100px" label="品牌" prop="brand">
            </el-table-column>
            <el-table-column
              min-width="100px"
              label="发布日期"
              prop="issueDate"
            >
            </el-table-column>
            <el-table-column min-width="100px" label="来源"> </el-table-column>
          </template>
        </el-table>
      </div>

      <!-- 分页 -->
      <!-- <div class="flex-csb com-pages-wrap mb-20">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select
              v-model="pageSize"
              placeholder="请选择"
              @change="handleCurrentChange(1)"
            >
              <el-option
                v-for="(item, index) in pageSizeList"
                :key="index"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-size="pageSize"
            layout="prev, pager, next, jumper"
            :total="totalCount"
          >
          </el-pagination>
          <div class="com-page-btn">确定</div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import { exportMatPriceResult, getResultPageList } from "@/api/material";
import { getAreaTree } from "@/api/common";
import { formatDate } from "@/utils/common";
export default {
  data() {
    return {
      formatDate: formatDate,
      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市
      keyword: "", // 关键字
      symbolList: ["Ф", "δ", "°", "×", "#", "Ⅱ", "Ⅲ", "½", "¼"],
      curMenu: "市场价",

      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],

      type: 1, // 1、市场价 2、信息价 3、综合价
      marketCount: 0, // 市场价条数
      infoCount: 0, // 信息价条数
      syntheCount: 0, // 综合价条数

      metailInfo: null, // 材价信息

      marketPriceList: [], // 市场价
      infoPriceList: [], // 信息价
      synthePriceList: [], // 综合价

      matProvinceCityList: [], // 当前适用城市列表
    };
  },

  computed: {
    historyId() {
      // 历史查价id
      return this.$route.query.historyId;
    },
    province() {
      // 省份
      return this.$route.query.province;
    },
    city() {
      // 城市
      return this.$route.query.city;
    },
    checkType() {
      // 当前跳转类型  1、单条查价 2、多条查价 3、查价历史
      return this.$route.query.checkType;
    },
    fileName() { // 多条查价-导入模板名称
      return this.$route.query.fileName;
    },
    backCurrent() {  // 历史查价列表的当前页
      return this.$route.query.currentPage;
    }
  },
  watch: {
    matProvinceCityList: {
      deep: true,
      handler: function (list) {
        this.setAreaTree(list);
      },
    },
  },
  created() {
    // this.getAreaTree(); // 获取地区
  },

  mounted() {
    setTimeout(() => {
      this.getResultPageList();
    }, 100);
  },

  methods: {
    searchFun() {
      this.currentPage = 1;
      this.getResultPageList();
    },
    // 规格辅助输入
    iptSymbol(e) {
      this.keyword += e;
    },
    changeMenu(item, type) {
      this.curMenu = item;
      this.type = type;
      this.currentPage = 1;
      this.getResultPageList();
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getResultPageList();
    },
    // 获取查价结果列表
    getResultPageList() {
      let data = {
        // currentPage: this.currentPage,
        // pageSize: this.pageSize,
        historyId: this.historyId,
        province: this.province,
        city: this.curCity,
        keyword: this.keyword,
      };
      getResultPageList(data).then((res) => {
        if (res && res.code == "01") {
          // 市场价
          this.marketPriceList =
            res.body.matFacResult.priceSearchResultList || [];
          this.marketCount = res.body.matFacResult.totalCount || 0;

          // 信息价
          this.infoPriceList =
            res.body.matGovResult.priceSearchResultList || [];
          this.infoCount = res.body.matGovResult.totalCount || 0;

          // 综合价
          this.synthePriceList =
            res.body.matRefResult.priceSearchResultList || [];
          this.syntheCount = res.body.matRefResult.totalCount || 0;

          console.log(this.type);
          switch (this.type) {
            case 1:
              this.totalCount = this.marketCount;
              this.tableData = this.marketPriceList;
              console.log(this.marketPriceList);
              break;
            case 2:
              this.totalCount = this.infoCount;
              this.tableData = this.infoPriceList;
              break;
            case 3:
              this.totalCount = this.syntheCount;
              this.tableData = this.synthePriceList;
          }

          console.log(this.tableData);
          this.metailInfo = res.body.priceSearchHistoty || null;
          this.matProvinceCityList = res.body.matProvinceCityList || [];
          console.log(this.matProvinceCityList);
        }
      });
    },

    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.openAlert("暂无要导出的数据", "info");
        return;
      }

      var data = {
        historyId: this.historyId,
        type: this.type,
      };
      this.$confirm("确定导出全部数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        exportMatPriceResult(data)
          .then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "材价信息.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "材价信息.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
          })
          .catch((err) => {});
      });
    },

    // 联动省份城市
    setAreaTree(tree) {
      if (tree && tree.length) {
        let proList = [];
        tree.forEach((item) => {
          proList.push(item.province);
        });
        this.curproList = proList;
        this.curPro = this.province ? this.province : this.curproList[0];
        console.log(this.province, this.city);
        this.curCity = this.city ? this.city : null;
        this.curCityList = this.curPro.cityList;

        // 如果当前只选中了省份需要筛选城市时
        // if (this.city) {
        //   this.curCity = this.city;

        //   for (let i = 0, l = tree.length; i < l; i++) {
        //     if (tree[i].province.indexOf(this.curPro) != -1) {
        //       this.curCityList = tree[i].cityList;
        //     }
        //   }
        // }
        // else {
        //   this.curCity = null;
        //   console.log(this.areaData, this.province);
        //   this.curCityList = this.areaData[this.province];
        // }
      }
    },

    // 获取地区（省，市）
    getAreaTree() {
      getAreaTree().then((res) => {
        if (res && res.code === "01") {
          this.commonAreaList = res.body;

          let areaData = []; //  [{省：[{市：[区]}]}]
          res.body.forEach((item) => {
            let cityarr = [];
            if (item.sub)
              item.sub.forEach((city) => {
                cityarr.push(city.name);
              });
            areaData[item.name] = cityarr;
          });
          this.areaData = areaData;

          console.log(this.areaData);

          // let proList = [];
          // res.body.forEach((item) => {
          //   proList.push(item.name);
          // });
          // this.curproList = proList;

          // this.curPro = this.province;
          // if (this.curPro) {
          //   for (let i = 0, l = this.commonAreaList.length; i < l; i++) {
          //     if (this.commonAreaList[i].name.indexOf(this.curPro) != -1) {
          //       this.curCityList = this.commonAreaList[i].sub;
          //     }
          //   }
          //   this.curCity = this.city ? this.city : null;
          // }
        }
      });
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro;
      this.curCityList = this.areaData[pro];
      this.curCity = null;
      this.currentPage = 1;
      this.getResultPageList();
    },

    // 适用地区（改市）
    changeCurCity(city) {
      this.curCity = city;
      console.log(city, this.curCityList);
      this.currentPage = 1;
      this.getResultPageList();
    },

    // 返回上一页
    backPage() {
      this.$router.push({
        name: "CheckHistory",
        query: {
          backCurrent: this.backCurrent,
        },
      });
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
  },

  destroyed() {
    sessionStorage.setItem("CHECK_RESULT_PARAMS", null);
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.material-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;
  position: relative;

  .screen {
    padding: 1px 0 5px 28px;
    background: #ffffff;
    > div {
      min-height: 39px;
    }
    .screen-left {
      flex: 1;
    }
    .com-search2 {
      width: 346px;
      min-height: 32px;
      &::v-deep .el-input__inner {
        border: none;
        padding-left: 8px;
      }
    }
    .icons {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    .s-title {
      margin-bottom: 10px;
      .s-tag {
        font-size: 12px;
        margin-left: 10px;
        margin-top: 5px;
      }
    }
    .spec-img {
      width: 18px;
      height: 18px;
      margin-left: 20px;
      cursor: pointer;
      z-index: 999;
    }
    .desc {
      font-family: "mainfont";
      color: #999999;
      > div {
        line-height: 30px;
        margin-right: 10px;
      }
      .left {
        display: inline-block;
        margin-right: 5px;
        // width: 75px;
      }
      .big {
        font-weight: bold;
        color: #333;
      }
    }
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        width: 80%;
        max-width: 100%;
        min-height: 31px;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            margin-bottom: 0;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .flex-cw {
        padding: 2px 0;
        border-bottom: 1px solid #f3f3f4;
      }
    }
  }

  .result-tabs {
    margin-top: 10px;
    min-height: 650px;
    background: #fff;

    .com-menu-wrap .m-item {
      width: 235px;
      .t-line {
        width: 235px;
      }
    }

    .tab-content {
      background: #fff;
      padding: 20px;
    }

    .circle {
      width: 28px;
      height: 28px;
      line-height: 28px;
      display: inline-block;
      border-radius: 50%;
      background: #cfcfcf;

      font-size: 12px;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #ffffff;
    }

    .com-menu-wrap .active {
      .circle {
        background: #1f87e6;
      }
    }
  }
}
</style>
