<template>
  <div class="periodical-container com-input">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：名称、提交人" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate('start')" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate('end')" />
          </div>
        </div>
      </div>

      <div class="com-table table-wrap">
        <div class="com-operate-wrap">
          <!-- <el-button v-has="$roles.fun_per_library_add" class="has-primary-btn" @click="openAddPeriodicalDialog('add')">添加期刊</el-button> -->
          <el-button class="has-primary-btn" @click="openAddPeriodicalDialog('add')">添加期刊</el-button>
        </div>

        <el-table v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column label="期刊名称">
            <template slot-scope="scope">
              <div class="com-edit-wrap">
                <span class="p-color" @click="skipDetail(scope.row)">{{
                  scope.row.name
                }}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="applyDate" label="适用时间" />
          <el-table-column prop="priceCount" label="信息价数量" />
          <el-table-column label="期刊生成时间">
            <template slot-scope="scope">
              <span>{{ scope.row.createOn | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="releaseAddr" label="平台发布状态" />
          <el-table-column label="发布记录">
            <template slot-scope="scope">
              <span class="cp p-color" @click="openIssueRecordDialog(scope.row)">查看记录</span>
            </template>
          </el-table-column>
          <el-table-column width="150px" label="是否显示含税价">
            <template slot-scope="scope">
              <span>{{ scope.row.isTaxPrice | filterTaxPrice }}</span>
            </template>
          </el-table-column>
          <el-table-column width="150px" label="自动发布">
            <template slot-scope="scope">
              <div class="com-switch switch-wrap">
                <span v-show="scope.row.release" class="open-text" @click="toggleAutoState(false, scope.row, scope.$index)">开启</span>
                <span v-show="!scope.row.release" class="close-text" @click="toggleAutoState(true, scope.row, scope.$index)">关闭</span>
                <el-switch v-model="scope.row.release" active-color="#2773FC" inactive-color="#C2C2C2" @change="toggleAutoState($event, scope.row, scope.$index)" />
              </div>
            </template>
          </el-table-column>
          <el-table-column width="175px" label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <!-- <span v-if="!scope.row.releaseAddr" v-has="$roles.fun_per_library_edit" @click="openAddPeriodicalDialog('edit', scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span> -->
                <span v-if="!scope.row.releaseAddr" @click="openAddPeriodicalDialog('edit', scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span>
                <!-- <span v-has="$roles.fun_per_library_release" @click="openIssueDialog(scope.row)">
                  <el-tooltip effect="light" content="发布" placement="top">
                    <img src="@/assets/img/cs/icons/sends.png" alt="">
                  </el-tooltip>
                </span> -->
                <span @click="openIssueDialog(scope.row)">
                  <el-tooltip effect="light" content="发布" placement="top">
                    <img src="@/assets/img/cs/icons/sends.png" alt="">
                  </el-tooltip>
                </span>
                <span class="p-color" @click="skipDetail(scope.row)">
                  <el-tooltip effect="light" content="详情" placement="top">
                    <img src="@/assets/img/cs/icons/details.png" alt="">
                  </el-tooltip>
                </span>
                <!-- <span v-has="$roles.fun_per_library_delete" @click="openDelDialog(scope.row)">
                  <el-tooltip effect="light" content="删除" placement="top">
                    <img src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>-->
                <span @click="openDelDialog(scope.row)">
                  <el-tooltip effect="light" content="删除" placement="top">
                    <img src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 添加/编辑期刊弹窗 -->
    <el-dialog :title="periodicalLabel" :visible.sync="showAddPeriodicalDialog" width="414px" class="com-dialog" :close-on-click-modal="false">
      <div class="com-input mb-20">
        <span>期刊名称：</span>
        <el-input v-model="periodicalName" class="mt-10 com-radius-input" maxlength="30" placeholder="请输入期刊名称" />
      </div>
      <div class="com-input mb-20">
        <span>适用时间：</span>
        <div class="flex-c mt-10">
          <div class="com-time-search">
            <el-date-picker v-model="periodicalStartDate" type="date" placeholder="年/月/日" @change="togglePeriodicalDate('start')" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="periodicalEndDate" type="date" placeholder="年/月/日" @change="togglePeriodicalDate('end')" />
          </div>
        </div>
      </div>
      <div class="special-switch">
        <span>是否显示含税价：</span>
        <div class="com-switch mt-10">
          <span v-show="isTaxPrice" class="open-text" @click="isShowTaxPrice(false)">是</span>
          <span v-show="!isTaxPrice" class="close-text" @click="isShowTaxPrice(true)">否</span>
          <el-switch v-model="isTaxPrice" active-color="#2773FC" inactive-color="#C2C2C2" @change="isShowTaxPrice($event)" />
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddPeriodicalDialog = false">取消</el-button>
        <el-button type="primary" :loading="addPeriodicalLoading" @click="confirmUpdPeriodical">确定</el-button>
      </span>
    </el-dialog>
    <!-- 添加/编辑期刊弹窗 end -->

    <!-- 发布记录弹窗 -->
    <el-dialog title="发布记录" :visible.sync="showIssueRecordDialog" :close-on-click-modal="false" width="521px" class="com-dialog">
      <el-table ref="multipleTable" :data="issueRecordList" tooltip-effect="dark" border style="width: 100%">
        <el-table-column prop="releaseAdr" label="发布平台" />
        <el-table-column prop="createBy" label="发布人" />
        <el-table-column label="发布时间">
          <template slot-scope="scope">
            <span>{{ scope.row.createOn | filterDate }}</span>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showIssueRecordDialog = false">取消</el-button>
        <el-button type="primary" @click="showIssueRecordDialog = false">确定</el-button>
      </span>
    </el-dialog>
    <!-- 发布记录弹窗 end-->

    <!-- 发布弹窗 -->
    <el-dialog title="发布" :visible.sync="showIssueDialog" :close-on-click-modal="false" width="491px" class="com-dialog">
      <div class="com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in platformList" :key="index" class="checkboxs" :disabled="disabledCheckedList.indexOf(item.platformName) > -1" :label="item.platformName" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showIssueDialog = false">取消</el-button>
        <el-button type="primary" :loading="issueLoading" @click="submitIssue">确定</el-button>
      </span>
    </el-dialog>
    <!-- 发布弹窗 end -->

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div v-if="!isWarning" class="dialog-content">
        <img src="@/assets/img/cs/icons/del_icon02.png" alt="">
        <p class="fw-b mb-10">是否删除期刊？</p>
      </div>
      <div v-else class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b">期刊已发布至其他平台</p>
        <p class="fw-b mt-5 mb-5">确认要删除吗？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" :disabled="isWarning && timeNum > 0" @click="deleteItem">
          <span>确定</span>
          <span v-if="isWarning && timeNum > 0">({{ timeNum }})</span>
        </el-button>
      </span>
    </el-dialog>
    <!-- 删除弹窗 end-->

    <!-- 期刊已发布警告弹窗 -->
    <el-dialog title="警告" :visible.sync="showEditDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b">期刊已发布，修改信息将同步到已发布的平台</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEditDialog = false">取消</el-button>
        <el-button type="primary" :disabled="timeNum > 0" @click="editItem">
          <span>确定</span>
          <span v-if="timeNum > 0">({{ timeNum }})</span>
        </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import {
  getJournalListPage,
  addJournal,
  updJournal,
  // getReleasePlatformList,
  releaseJournal,
  delJournal,
  getReleaseRecordListById
} from '@/api/cs/infoPriceStock'
import { getPlatformList } from '@/api/cs/user'
export default {
  name: 'Periodical',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    },
    filterTaxPrice(val) {
      const res = val ? '是' : '否'
      return res
    }
  },
  data() {
    return {
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null,
      endDate: null,
      loading: false,

      showAddPeriodicalDialog: false, // 添加期刊弹窗
      addPeriodicalLoading: false,
      periodicalLabel: '添加期刊',
      periodicalStartDate: null, // 周期开始时间
      periodicalEndDate: null, // 周期结束时间
      periodicalName: null, // 期刊名称
      curPeriodicalId: null, // 当前期刊id

      showIssueRecordDialog: false, // 查看记录弹窗
      issueRecordList: [], // 发布记录

      showIssueDialog: false, // 发布弹窗
      issueLoading: false,
      platformList: [], // 发布平台
      checkedList: [],
      disabledCheckedList: [],

      showDelDialog: false, // 删除弹窗
      delLoading: false,
      isWarning: false, // 是否已发布至其他平台
      timer: null, // 删除倒计时定时器
      timeNum: 5, // 倒计时5s

      showEditDialog: false, //  编辑警告弹窗
      editItemInfo: null,
      releaseName: '',
      isTaxPrice: null // 是否显示含税价
    }
  },
  mounted() {
    this.getDataList()
    this.getPlatformList()
  },
  methods: {
    // 删除
    deleteItem() {
      var formData = new FormData()
      formData.append('id', this.curPeriodicalId)
      formData.append('releaseName', this.releaseName)
      this.delLoading = true
      delJournal(formData)
        .then(res => {
          if (res.code == '01') {
            this.delLoading = false
            this.showDelDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.delLoading = false
        })
    },
    // 发布
    submitIssue() {
      if (this.checkedList.length == 0) {
        this.$message({
          type: 'error',
          message: '请选择发布平台'
        })
        return
      }

      var ids = []
      var releaseName = []
      for (var j = 0; j < this.checkedList.length; j++) {
        for (var i = 0; i < this.platformList.length; i++) {
          if (this.checkedList[j] === this.platformList[i].platformName) {
            ids.push(this.platformList[i].id)
            releaseName.push(this.platformList[i].platformName)
          }
        }
      }
      var params = {
        id: this.curPeriodicalId,
        releasePlatform: ids.join(','),
        releaseName: releaseName.join(','),
        releaseFlag: 1 // 发布类型：1- 期刊库 2-历史库
      }
      this.issueLoading = true
      releaseJournal(params)
        .then(res => {
          this.issueLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showIssueDialog = false
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.issueLoading = false
        })
    },
    // 发布弹窗
    openIssueDialog(item) {
      this.showIssueDialog = true
      this.curPeriodicalId = item.id
      try {
        this.checkedList = item.releaseAddr.split(',')
        this.disabledCheckedList = item.releaseAddr.split(',')
      } catch (err) {
        this.disabledCheckedList = []
        this.checkedList = []
      }
    },
    // 获取发布平台
    getPlatformList() {
      getPlatformList().then(res => {
        if (res.code == '01') {
          this.platformList = res.body
        }
      })
    },
    // 编辑期刊
    editPeriodical() {
      console.log('编辑', this.isTaxPrice)
      var data = {
        name: this.periodicalName,
        startDate: this.periodicalStartDate,
        endDate: this.periodicalEndDate,
        id: this.curPeriodicalId,
        releaseName: this.releaseName,
        isTaxPrice: this.isTaxPrice ? 1 : 0
      }
      this.addPeriodicalLoading = true
      updJournal(data)
        .then(res => {
          this.addPeriodicalLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showAddPeriodicalDialog = false
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addPeriodicalLoading = false
        })
    },
    // 添加期刊
    addPeriodical() {
      var data = {
        name: this.periodicalName,
        startDate: this.periodicalStartDate,
        endDate: this.periodicalEndDate,
        isTaxPrice: this.isTaxPrice ? 1 : 0
      }
      this.addPeriodicalLoading = true
      addJournal(data)
        .then(res => {
          this.addPeriodicalLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showAddPeriodicalDialog = false
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addPeriodicalLoading = false
        })
    },
    // 确定添加/编辑期刊
    confirmUpdPeriodical() {
      if (!this.periodicalName) {
        this.$message({
          type: 'error',
          message: '请输入期刊名称'
        })
        return
      } else if (!this.periodicalStartDate) {
        this.$message({
          type: 'error',
          message: '请选择开始时间'
        })
        return
      } else if (!this.periodicalEndDate) {
        this.$message({
          type: 'error',
          message: '请选择结束时间'
        })
        return
      } else if (
        new Date(this.periodicalEndDate).getTime() <
        new Date(this.periodicalStartDate).getTime()
      ) {
        this.$message({
          type: 'error',
          message: '开始时间不能大于结束时间'
        })
        return
      }

      if (this.periodicalLabel == '添加期刊') {
        this.addPeriodical()
      } else {
        this.editPeriodical()
      }
    },
    // 删除弹窗
    openDelDialog(item) {
      this.showDelDialog = true
      this.curPeriodicalId = item.id
      this.isWarning = !!item.releaseAddr
      this.releaseName = item.releaseAddr
      if (this.isWarning) {
        // 倒计时2s后可删除
        this.timeNum = 2
        if (this.timer) {
          clearInterval(this.timer)
        }
        this.timer = setInterval(() => {
          this.timeNum--
          if (this.timeNum == 0) {
            clearInterval(this.timer)
          }
        }, 1000)
      }
    },
    // 查看记录
    openIssueRecordDialog(item) {
      this.showIssueRecordDialog = true
      var params = {
        journalId: item.id
      }
      getReleaseRecordListById(params).then(res => {
        if (res.code == '01') {
          this.issueRecordList = res.body
        }
      })
    },
    // 切换期刊适用日期
    togglePeriodicalDate(type) {
      if (type == 'start' && this.periodicalStartDate) {
        this.periodicalStartDate = formatDate(this.periodicalStartDate, '2')
      }
      if (type == 'end' && this.periodicalEndDate) {
        this.periodicalEndDate = formatDate(this.periodicalEndDate, '2')
      }
    },

    // 确定编辑
    editItem() {
      const item = this.editItemInfo
      console.log(item)
      this.periodicalLabel = '编辑期刊'
      this.periodicalName = item.name
      this.curPeriodicalId = item.id
      this.releaseName = item.releaseAddr
      console.log(this.editItemInfo)
      if (item.applyDate) {
        this.periodicalStartDate = item.applyDate.split(' 到 ')[0]
        this.periodicalEndDate = item.applyDate.split(' 到 ')[1]
      } else {
        this.periodicalStartDate = null
        this.periodicalEndDate = null
      }
      this.showEditDialog = false
      this.showAddPeriodicalDialog = true
    },

    // 编辑警告弹窗
    openEditDialog(item) {
      this.editItemInfo = item
      this.showEditDialog = true
      // 倒计时2s后可编辑
      this.timeNum = 2
      if (this.timer) {
        clearInterval(this.timer)
      }
      this.timer = setInterval(() => {
        this.timeNum--
        if (this.timeNum == 0) {
          clearInterval(this.timer)
        }
      }, 1000)
    },
    // 添加期刊
    openAddPeriodicalDialog(type, item) {
      if (type == 'add') {
        this.periodicalLabel = '添加期刊'
        this.periodicalName = null
        this.periodicalStartDate = null
        this.periodicalEndDate = null
        this.releaseName = null
        this.isTaxPrice = false // 默认不显示含税价
      } else {
        // 警告弹窗
        if (item.releaseAddr) {
          this.openEditDialog(item)
          return
        }
        this.periodicalLabel = '编辑期刊'
        this.periodicalName = item.name
        this.curPeriodicalId = item.id
        this.isTaxPrice = !!item.isTaxPrice
        if (item.applyDate) {
          this.periodicalStartDate = item.applyDate.split(' 到 ')[0]
          this.periodicalEndDate = item.applyDate.split(' 到 ')[1]
        } else {
          this.periodicalStartDate = null
          this.periodicalEndDate = null
        }
      }
      this.showAddPeriodicalDialog = true
    },
    // 是否显示含税价
    isShowTaxPrice(val) {
      this.isTaxPrice = val
    },
    // 自动发布
    toggleAutoState(val, item, index) {
      this.tableData[index].release = val
      var data = {
        id: item.id,
        name: item.name,
        isRelease: val ? 1 : 0
      }
      updJournal(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
          // 失败则复原开关
          this.tableData[index].release = false
        }
      })
    },
    // 详情
    skipDetail(item) {
      this.$router.push({
        path: '/cs/releaseManagement/PeriodicalDetail',
        query: {
          id: item.id,
          name: item.name,
          releaseName: item.releaseAddr,
          isIssue: !!item.releaseAddr
        }
      })
    },
    // 切换日期
    toggleDate(type) {
      if (type == 'start' && this.startDate) {
        this.startDate = formatDate(this.startDate, '1')
        const beginTime = new Date(this.startDate).getTime()
        this.endDate = formatDate(+beginTime + 3600 * 1000 * 24 * 365, '1')
      }
      if (type == 'end' && this.endDate) {
        this.endDate = formatDate(this.endDate, '1')
      }

      this.currentPage = 1
      this.getDataList()
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 获取期刊列表
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyCode: this.searchKeyword,
        startDate: formatDate(this.startDate),
        endDate: formatDate(this.endDate)
      }
      getJournalListPage(data).then(res => {
        if (res.code == '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        }
      })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    }
  }
}
</script>

<style lang="scss" scoped>
.periodical-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .com-checkbox {
    .checkboxs {
      width: auto !important;
      min-width: 30%;
    }
  }
  .up-wrap {
    padding-top: 5px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }

  .special-switch {
    .open-text {
      left: 14px;
    }
    .close-text {
      left: 32px;
    }
  }
}
.icons {
  width: 15px;
  height: 15px;
}
</style>
<style lang="scss">
.periodical-container {
  .switch-wrap {
    .close-text {
      right: 40px;
      top: 4px;
    }
    .open-text {
      top: 4px;
    }
  }
}
</style>
