<template>
  <div class="material-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-c top">
        <el-select v-model="searchtype" class="select-remark">
          <el-option v-for="item in srarchTypeList" :key="item" :label="item" :value="item">
          </el-option>
        </el-select>
        <!-- 搜索 -->
        <div class="com-search2 mt-20 mb-20">
          <el-input class="search-ipt" :placeholder="
            searchtype == '名称规格'
              ? '请输入材料名称、规格、标准名称、标准规格编码等关键字搜索'
              : '请输入账号、姓名关键字搜索'
          " v-model="searchVal" @keyup.enter.native="
  currentPage = 1;
getMatPricePageList();
" />
          <i class="el-icon-search" @click="
  currentPage = 1;
getMatPricePageList();
          "></i>
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList.length > 0">
            <li :class="{ active: curTime == year }" v-for="(year, index) in curTimeList" :key="index"
              @click="changeCurTime(year)">
              {{ year }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList.length > 0">
            <li :class="{ active: curTimeItem === '' }" @click="changeCurTimeItem('')">
              全部
            </li>
            <li :class="{ active: curTimeItem == month }" v-for="(month, index) in curTimeItemList" :key="index"
              @click="changeCurTimeItem(month)">
              {{ month }}月
            </li>
          </ul>
        </div>
      </div>
      <!-- 适用地区 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: applyProvince === '' }" @click="changeApplyProvince('', '')">
              全部
            </li>
            <li v-show="index <= 7 || morePro" :class="{ active: applyProvince == item.name }"
              v-for="(item, index) in applyProvinceList" :key="item.id" @click="changeApplyProvince(index, item.name)">
              {{ item.name }}
            </li>
            <span class="more mb-10" v-if="applyProvinceList && applyProvinceList.length > 8"
              @click="morePro = !morePro">
              {{ morePro ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': morePro }"></span>
            </span>
          </ul>
          <ul class="flex-cw all-list" v-if="applyCityList && applyCityList.length > 0">
            <li :class="{ active: applyCityName == '' }" @click="changeApplyCity('', '')">
              全部
            </li>
            <li v-show="index <= 7 || moreCity" :class="{ active: applyCityName == item.name }"
              v-for="(item, index) in applyCityList" :key="item.id" @click="changeApplyCity(index, item.name)">
              {{ item.name }}
            </li>
            <span class="more" v-if="applyCityList && applyCityList.length > 8" @click="moreCity = !moreCity">
              {{ moreCity ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': moreCity }"></span>
            </span>
          </ul>
        </div>
      </div>
      <!-- 数据类型 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">数据类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: standStatus === null }" @click="standFilter(null)">
              全部
            </li>
            <li :class="{ active: standStatus === 1 }" @click="standFilter(1)">
              标准化数据
            </li>
            <li :class="{ active: standStatus === 2 }" @click="standFilter(2)">
              非标准化数据
            </li>
          </ul>
        </div>
      </div>
      <!-- 材价来源 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">材价来源</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: shareStatus === null}" @click="changeCurSharePlat(null)">全部</li>
            <li
              :class="{active: shareStatus == item.dictCode}"
              v-for="(item, index) in curshareList"
              :key="index"
              @click="changeCurSharePlat(item.dictCode)">
              {{item.dictName}}
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 材价类型 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">材价类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: typeStatus === null}" @click="changeCurTypePlat(null)">全部</li>
            <li
              :class="{active: typeStatus == item.dictCode}"
              v-for="(item, index) in curtypeList"
              :key="index"
              @click="changeCurTypePlat(item.dictCode)">
              {{item.dictName}}
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 自定义分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">自定义分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curMytype == '' }" @click="changeCurMyType('', '')">
              全部
            </li>
            <li :class="{ active: curMytype == item.id }" v-for="(item, index) in customType" :key="index"
              @click="changeCurMyType(index, item.id)">
              {{ item.name }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="customTypeItem && customTypeItem.length > 0">
            <li :class="{ active: curMytypeItem == '' }" @click="changeCurMyTypeItem('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li :class="{ active: curMytypeItem == item.name }" v-for="(item, index) in customTypeItem" :key="index"
              @click="changeCurMyTypeItem(item.name, item.id)">
              {{ item.name }}
            </li>
          </ul>
          <ul>
            <li class="no-item">
              <span @click="$router.push('/setting/materialSetting')">设置分类</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 国标分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">国标分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" :class="{ 'is-fold': isFold }">
            <li :class="{ active: curNormType == '' }" @click="changeNormType('', '')">
              全部
            </li>
            <li :class="{ active: curNormType == item.code }" v-for="(item, index) in normType" :key="index"
              @click="changeNormType(index, item.code)">
              {{ item.name }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="normTypeItem && normTypeItem.length > 0">
            <li :class="{ active: curNormTypeItem == '' }" @click="changeNormTypeItem('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li :class="{ active: curNormTypeItem == item.name }" v-for="(item, index) in normTypeItem" :key="index"
              @click="changeNormTypeItem(item.name, item.code)">
              {{ item.name }}
            </li>
          </ul>
        </div>
        <span class="cp el-icon-arrow-up" :class="{ 'is-rotate': isFold }" @click="isFold = !isFold"
          v-if="normType && normType.length > 0"></span>
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap inquiry">
        <div class="flex-c">
          <el-popover placement="bottom" popper-class="popper-class" :visible-arrow="false" trigger="click" width="112">
            <el-button type="primary" class="flex-cc btn" slot="reference">
              <img src="@/assets/img/table/add.png" alt="" class="el-icon-search" />添加材价
            </el-button>
            <div class="flex-ccw">
              <el-button type="primary" @click="addMaterial('1')">单条添加</el-button>
              <el-button style="margin-left: 0" @click="addMaterial('2')">批量添加</el-button>
            </div>
          </el-popover>
          <el-tooltip class="item" effect="light" content="添加统称性材料如：水、电，油等。" placement="top-start">
            <img src="@/assets/img/table/tip.png" alt="" class="tips" />
          </el-tooltip>
          <!-- czhui -->
          <!-- <el-button class="flex-cc btn btn3" @click="shareSomeMaterial">
            <img
              src="@/assets/img/table/share.png"
              alt=""
              class="el-icon-search"
            />分享材价
          </el-button> -->

          <!-- <el-button class="flex-cc btn btn3" @click="$router.push('/inquiryManage/toInquiry')">
            <img src="@/assets/img/table/sumbit.png" alt="" class="el-icon-search">发起询价
          </el-button> -->
          <el-button class="flex-cc btn btn-del" @click="delSomeMaterial">
            <img src="@/assets/img/table/del.png" alt="" class="el-icon-search" />删除
          </el-button>

          <!-- <el-button type="primary" class="flex-cc btn" @click="addMaterial('1')">
            <img src="@/assets/img/table/add.png" alt="" class="el-icon-search">添加材价
          </el-button> -->
          <!-- <el-button type="primary" class="flex-cc btn btn2" @click="addMaterial('2')">
            <img src="@/assets/img/table/add.png" alt="" class="el-icon-search">添加自定义材价
          </el-button> -->
          <!-- <el-button class="flex-cc btn btn3" @click="reStandardAll">
            <img src="@/assets/img/table/refresh.png" alt="" class="el-icon-search">重新标准化
          </el-button> -->
        </div>
        <div class="flex-c right-btns">
          <div class="flex-c" @click="exportFile">
            <img src="@/assets/img/table/export.png" alt="" class="imgs" />
            <span>导出</span>
          </div>
          <div class="flex-c" @click="exportAllFile">
            <img src="@/assets/img/table/export.png" alt="" class="imgs" />
            <span>全部导出</span>
          </div>
          <div class="flex-c" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting icons"></span>
            <span>列表设置</span>
          </div>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" v-loading="tableLoading"
          class="table-main" style="width: 100%" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" width="66px"> </el-table-column>
          <el-table-column label="材料名称" width="180" v-if="checkedList.indexOf('材料名称') != -1">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column label="规格" width="188px" v-if="checkedList.indexOf('规格') != -1">
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.spec }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="stdName" width="95px" label="标准名称" v-if="checkedList.indexOf('标准名称') != -1">
          </el-table-column>
          <el-table-column label="标准规格" width="166px" v-if="checkedList.indexOf('标准规格') != -1">
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.features }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="zcode" label="编码" width="168px" v-if="checkedList.indexOf('编码') != -1">
          </el-table-column>
          <el-table-column prop="unit" label="单位" width="80px" v-if="checkedList.indexOf('单位') != -1">
          </el-table-column>
          <el-table-column label="国标分类" align="center" v-if="checkedList.indexOf('国标分类') != -1">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.subcName || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="自定义分类" align="center" width="110px" v-if="checkedList.indexOf('自定义分类') != -1">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.custcName || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="price" label="价格区间（元）" v-if="checkedList.indexOf('价格区间') != -1">
            <template slot-scope="scope">
              <span class="t-color">{{
                  scope.row.minPrice && scope.row.minPrice != scope.row.maxPrice
                    ? scope.row.minPrice + " - " + scope.row.maxPrice
                    : scope.row.minPrice
              }}</span>
            </template>
          </el-table-column>
          <el-table-column align="center" width="144px" label="报价条数" v-if="checkedList.indexOf('报价条数') != -1">
            <template slot-scope="scope">
              <span class="mode-name" @click="skipDetail(scope.row)">{{ scope.row.sameCount }}条</span>
            </template>
          </el-table-column>
          <el-table-column label="数据类型" width="110px" v-if="checkedList.indexOf('数据类型') != -1">
            <template slot-scope="scope">
              <span v-if="scope.row.isFormat">标准化数据</span>
              <span v-else>非标准化数据</span>
            </template>
          </el-table-column>
          <el-table-column prop="applicableDate" label="适用时间" width="110px" v-if="checkedList.indexOf('适用时间') != -1">
          </el-table-column>
          <el-table-column label="适用地区" v-if="checkedList.indexOf('适用地区') != -1">
            <template slot-scope="scope">
              <span v-if="scope.row.applicableArea">{{
                  scope.row.applicableArea
              }}</span>
              <span v-else>--</span>
            </template>
          </el-table-column>
          <el-table-column prop="userAccount" label="上传账号" width="110px" v-if="checkedList.indexOf('上传账号') != -1">
          </el-table-column>
          <el-table-column label="操作" width="150px" v-if="checkedList.indexOf('操作') != -1">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <!-- czhui -->
                <!-- <el-tooltip effect="light" content="分享材价" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/shares.png"
                    alt=""
                    @click="shareMaterial(scope.row)"
                  />
                </el-tooltip> -->

                <!-- <el-tooltip effect="light" content="编辑材价" placement="top">
                    <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="editMaterial(scope.row)">
                  </el-tooltip> -->
                <!-- <el-tooltip effect="light" content="重新标准化" placement="top">
                    <img class="icons" src="@/assets/img/icons/refreshs.png" alt="" @click="reSomeStandard(scope.row)">
                  </el-tooltip> -->
                <el-tooltip effect="light" content="删除" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="delMaterial(scope.row)" />
                </el-tooltip>
                <el-tooltip effect="light" content="调整分类" placement="top" v-if="!scope.row.isFormat">
                  <img class="icons" src="@/assets/img/icons/trim.png" alt="" @click="
  sortItem = scope.row;
changeSortDialog = true;
                  " />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
          <!-- <el-table-column
            prop="brand"
            label="品牌"
            v-if="checkedList.indexOf('品牌') != -1">
          </el-table-column> -->
          <!-- <el-table-column
            prop="grade"
            label="档次"
            v-if="checkedList.indexOf('档次') != -1">
          </el-table-column> -->
          <!-- <el-table-column
            prop="supplier"
            label="供应商"
            v-if="checkedList.indexOf('供应商') != -1">
          </el-table-column> -->
          <!-- <el-table-column
            label="供应商地区"
            min-width="90"
            v-if="checkedList.indexOf('供应商地区') != -1">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.supplierArea || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="是否含税"
            v-if="checkedList.indexOf('是否含税') != -1">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.taxIncluded ? '是' : '否'}}</span>
            </template>
          </el-table-column> -->
          <!-- <el-table-column
            prop="matSourceStr"
            label="材价来源"
            v-if="checkedList.indexOf('材价来源') != -1">
          </el-table-column> -->
          <!-- <el-table-column
            prop="matTypeStr"
            label="价格类型"
            v-if="checkedList.indexOf('价格类型') != -1">
          </el-table-column>
          <el-table-column
            prop="origin"
            label="产地"
            v-if="checkedList.indexOf('产地') != -1">
          </el-table-column>
          <el-table-column
            align="center"
            label="项目名称"
            v-if="checkedList.indexOf('项目名称') != -1">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.projectName || '--'}}</span>
            </template>
          </el-table-column> -->
          <!-- <el-table-column
            label="备注信息"
            align="center"
            width="160px"
            v-if="checkedList.indexOf('备注信息') != -1">
            <template slot-scope="scope">
              <span class="t-color r-hide">{{scope.row.remark || '--'}}</span>
            </template>
          </el-table-column> -->
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background @current-change="handleCurrentChange" :current-page.sync="currentPage"
              :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>

      <!-- 列表设置弹窗 -->
      <el-dialog title="选择要显示的列表内容" :visible.sync="showSetListDialog" width="450px" class="com-dialog set-list"
        @close="setCheckedList" :close-on-click-modal="false">
        <div class="select-list com-checkbox">
          <el-checkbox-group v-model="checkedList">
            <el-checkbox :label="item" v-for="(item, index) in checkList" :key="index"></el-checkbox>
          </el-checkbox-group>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="showSetListDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 分享材价弹窗 -->
      <el-dialog :visible.sync="showShareDialog" width="460px" title="分享材价" @close="shareid = ''"
        class="com-dialog my-dialog" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/error.png" alt="" v-if="shareStutus == 3" />
        <img src="@/assets/img/dialog/success.png" alt="" v-else-if="shareStutus == 4" />
        <img src="@/assets/img/dialog/confirm.png" alt="" v-else />
        <p v-if="shareStutus == 3">{{ shareErr }}</p>
        <p v-else-if="shareStutus == 4">{{ shareSuccess }}</p>
        <p v-else>{{ shareText }}</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showShareDialog = false" v-if="shareStutus != 4">取消</el-button>
          <el-button @click="toSharePage" v-else>去查看</el-button>
          <el-button type="primary" :loading="shareloading" @click="confirmShareMaterial">确定</el-button>
        </span>
      </el-dialog>

      <!-- 删除材价弹窗 -->
      <el-dialog title="删除" :visible.sync="showDelDialog" width="460px" @close="delid = ''" class="com-dialog my-dialog"
        :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" />
        <p>{{ delText }}</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showDelDialog = false">取消</el-button>
          <el-button type="primary" :loading="delloading" @click="confirmDelMaterial">确定</el-button>
        </span>
      </el-dialog>

      <!-- 重新标准化询问弹窗 -->
      <el-dialog title="重新标准化" :visible.sync="showRestandDialog" width="668px" class="com-dialog my-dialog"
        :close-on-click-modal="false">
        <img src="@/assets/img/dialog/restand.png" alt="" />
        <p>你确定要标准化材价吗？</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showRestandDialog = false">取消</el-button>
          <el-button type="primary" :loading="delloading" @click="toRestand">确定</el-button>
        </span>
      </el-dialog>

      <!-- 重新标准化弹窗 -->
      <el-dialog title="重新标准化" :visible.sync="toRestandDialog" width="460px" class="com-dialog redialog my-dialog"
        :close-on-click-modal="false">
        <div class="loading-box" v-if="reStandStatus == 1">
          <img src="@/assets/img/dialog/loading1.png" alt="" class="img" />
          <img src="@/assets/img/dialog/loading2.png" alt="" class="img2" />
        </div>
        <p class="blue-tips" v-if="reStandStatus == 1">正在标准化...</p>
        <img src="@/assets/img/dialog/success.png" alt="" v-if="reStandStatus == 2" />
        <img src="@/assets/img/dialog/error.png" alt="" v-if="reStandStatus == 3" />
        <p v-if="reStandStatus == 2">
          标准化成功<span class="success">{{ successCount }}</span>条，失败<span class="error">{{ failCount }}</span> 条
        </p>
        <p v-if="reStandStatus == 3">{{ errmsg }}</p>
        <span slot="footer" class="dialog-footer" v-if="reStandStatus != 1">
          <el-button @click="downloadErrorList" :loading="downloadKeyLoading"
            v-if="reStandStatus == 2 && failCount > 0">下载失败清单</el-button>
          <el-button @click="toRestandDialog = false" v-if="reStandStatus == 3">取消</el-button>
          <el-button type="primary" :loading="delloading" @click="toRestandDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑材价弹窗 -->
      <el-dialog title="编辑材价" :visible.sync="showEditDialog" width="460px"
        class="com-dialog remark-dialog editidalog my-dialog" :close-on-click-modal="false">
        <div class="com-dialog com-checkbox">
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价名称</span>
            <el-input v-model="materialName" placeholder="请输入材价名称" />
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价规格</span>
            <el-input v-model="materialSpecs" placeholder="请输入材价规格" />
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价单位</span>
            <el-input v-model="materialUnit" placeholder="请输入材价单位" />
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text">品牌</span>
            <el-input v-model="materialBrande" placeholder="请输入品牌" />
          </div>
          <div class="flex-c mb-20 grade-area">
            <span class="label-text ipt-text">档次</span>
            <el-select v-model="gradeModel" placeholder="请选择档次">
              <el-option v-for="item in gradeList" :key="item" :label="item" :value="item">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text">供应商</span>
            <el-input v-model="materialSupplier" placeholder="请输入供应商" />
          </div>
          <div class="flex-c mb-20 ipt-area">
            <span class="label-text ipt-text">供应商地区</span>
            <el-select v-model="provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
              <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
            <el-select style="margin: 0 10px" v-model="cityId" placeholder="--- 市 ---" @change="changeCity($event)">
              <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <!-- <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>适用地区</span>
            <span class="show-text">{{applicableProvince ? applicableProvince + '·' + applicableCity : '--'}}</span>
          </div> -->
          <div class="flex-c mb-20">
            <span class="label-text ipt-text">适用时间</span>
            <span class="show-text">{{ applicableDate }}</span>
          </div>
          <div class="flex-c mb-20 ipt-price">
            <span class="label-text ipt-text">是否含税</span>
            <span>
              <el-radio v-model="taxIncluded" :label="true">含税</el-radio>
              <el-radio v-model="taxIncluded" :label="false">除税</el-radio>
            </span>
          </div>
          <div class="flex-c mb-20 ipt-price">
            <span class="label-text ipt-text"><span>*</span>材料价格</span>
            <el-input v-model="materialPrice" @input="checkPrice($event)" placeholder="请输入材料价格">
              <template slot="append">￥</template>
            </el-input>
          </div>
          <div class="flex-c">
            <span class="ipt-text">备注</span>
            <el-input type="textarea" resize="none" rows="10" maxlength="300" show-word-limit v-model="materialRemarks">
            </el-input>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showEditDialog = false">取消</el-button>
          <el-button type="primary" @click="submitMaterial" :loading="submitLoading">确定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑材价 -->
      <el-dialog :title="matDialogStatus == 1 ? '编辑材价' : '添加自定义材价'" :visible.sync="editlDialog" width="460px"
        class="com-dialog my-dialog redialog" :close-on-click-modal="false">
        <div class="loading-box" v-if="materialStatus == 1">
          <img src="@/assets/img/dialog/loading1.png" alt="" class="img" />
          <img src="@/assets/img/dialog/loading2.png" alt="" class="img2" />
        </div>
        <img src="@/assets/img/dialog/success.png" alt="" v-if="materialStatus == 2 || materialStatus == 4" />
        <img src="@/assets/img/dialog/error.png" alt="" v-if="materialStatus == 3" />
        <p class="blue-tips" style="color: #333" v-if="materialStatus != 4">
          {{ tipsText }}
        </p>
        <p v-if="materialStatus == 4">
          导入成功<span class="success">{{ successCount }}</span>条，失败<span class="error">{{ failCount }}</span> 条
        </p>
        <span slot="footer" class="dialog-footer" v-if="materialStatus != 1">
          <el-button @click="downloadErrorList" :loading="downloadKeyLoading"
            v-if="failCount > 0 && materialStatus == 4">下载失败清单</el-button>
          <el-button type="primary" @click="editlDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 批量添加材价弹窗 -->
      <el-dialog title="添加材价" :visible.sync="showAddMaterial" width="460px"
        class="com-dialog remark-dialog editidalog addDialog scrollMR" :destroy-on-close="true"
        :close-on-click-modal="false">
        <div class="com-dialog com-checkbox">
          <div class="flex-c mb-20 ipt-area">
            <span class="label-text ipt-text"><span>*</span>适用地区</span>
            <el-select v-model="provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
              <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
            <el-select style="margin: 0 10px" v-model="cityId" placeholder="--- 市 ---" @change="changeCity($event)">
              <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20 times">
            <span class="label-text ipt-text"><span>*</span>适用时间</span>
            <div class="sel-time">
              <el-date-picker v-model="validStartDate" type="month" placeholder="请选择年月">
              </el-date-picker>
            </div>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价类型</span>
            <el-select v-model="curDialogType" placeholder="请选择">
              <el-option v-for="item in curtypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价来源</span>
            <el-select v-model="curDialogSource" placeholder="请选择">
              <el-option v-for="item in curshareList" :key="item.dictCode" :label="item.dictName"
                :value="item.dictCode">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20 times">
            <span class="label-text ipt-text"><span>*</span>是否含税</span>
            <div class="sel-time">
              <el-radio v-model="curtax" :label="true">含税</el-radio>
              <el-radio v-model="curtax" :label="false">除税</el-radio>
            </div>
          </div>
          <div class="flex-c mb-20 ipt-price cj-upload">
            <span class="label-text ipt-text"><span>*</span>材价上传</span>
            <div class="flex-c" style="width: 310px">
              <div class="u-ipt ellipsis1">{{ cjFile.name }}</div>
              <div class="u-btn">
                <img src="@/assets/img/dialog/upload.png" alt="" class="img" />
              </div>
              <input ref="fileElem" class="u-file" type="file" @change="uploadCjFile($event)" />
            </div>
          </div>
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">导入模板</span>
          <span class="u-mode-btn" style="color: #02a7f0; cursor: pointer" @click="uploadTemplate">材价导入模板.xlsx</span>
        </div>
        <div class="flex-c">
          <span class="label-text ipt-text">关联项目</span>
          <el-autocomplete v-model="projectName" :fetch-suggestions="getProject" value-key="name"
            placeholder="请输入对应项目的名称" class="search-name"></el-autocomplete>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showAddMaterial = false">取消</el-button>
          <el-button type="primary" @click="newMaterial">确定</el-button>
        </span>
      </el-dialog>

      <!-- 单条添加材价弹窗 -->
      <el-dialog title="添加材价" :visible.sync="showAddOneMaterial" width="460px"
        class="com-dialog remark-dialog editidalog addDialog scrollMR" :destroy-on-close="true"
        :close-on-click-modal="false">
        <div class="com-dialog com-checkbox">
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材料名称</span>
            <el-input v-model="materialName" placeholder="请输入材料名称" />
          </div>
          <div class="flex-c mb-20 spec-img">
            <span class="label-text ipt-text">材料规格</span>
            <el-input v-model="materialSpecs" placeholder="请输入材料规格" />
            <el-tooltip effect="light" placement="bottom-start" popper-class="tip-popper-class">
              <img src="@/assets/img/icons/symbol.png" alt="" />
              <div slot="content">
                <div class="item flex-cc" :key="item" v-for="item in symbolList" @click="iptSymbol(item)">
                  {{ item }}
                </div>
              </div>
            </el-tooltip>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价类型</span>
            <el-select v-model="curDialogType" placeholder="请选择">
              <el-option v-for="item in curtypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价来源</span>
            <el-select v-model="curDialogSource" placeholder="请选择">
              <el-option v-for="item in curshareList" :key="item.dictCode" :label="item.dictName"
                :value="item.dictCode">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20 ipt-area">
            <span class="label-text ipt-text"><span>*</span>适用地区</span>
            <el-select v-model="provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
              <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
            <el-select style="margin: 0 10px" v-model="cityId" placeholder="--- 市 ---" @change="changeCity($event)">
              <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20 times">
            <span class="label-text ipt-text"><span>*</span>适用时间</span>
            <div class="sel-time">
              <el-date-picker v-model="validStartDate" type="month" placeholder="请选择年月">
              </el-date-picker>
            </div>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>单位</span>
            <el-autocomplete v-model="materialUnit" value-key="unit" :fetch-suggestions="iptUnit" placeholder="请输入单位">
            </el-autocomplete>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>价格</span>
            <el-input v-model="materialPrice" placeholder="请输入价格" />
          </div>
          <div class="flex-c mb-20 times">
            <span class="label-text ipt-text"><span>*</span>是否含税</span>
            <div class="sel-time">
              <el-radio v-model="curtax" :label="true">含税</el-radio>
              <el-radio v-model="curtax" :label="false">除税</el-radio>
            </div>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text">供应商</span>
            <el-input v-model="materialSupplier" placeholder="请输入供应商" />
          </div>
          <div class="flex-c mb-20 ipt-area">
            <span class="label-text ipt-text">供应商地区</span>
            <el-select v-model="provinceId2" placeholder="--- 省 ---" @change="changeProvince2($event)">
              <el-option v-for="item in provinceList2" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
            <el-select style="margin: 0 10px" v-model="cityId2" placeholder="--- 市 ---" @change="changeCity2($event)">
              <el-option v-for="item in cityList2" :key="item.name" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text">品牌</span>
            <el-input v-model="materialBrande" placeholder="请输入品牌" />
          </div>
          <div class="flex-c mb-20 grade-area">
            <span class="label-text ipt-text">档次</span>
            <el-select v-model="gradeModel" placeholder="请选择档次">
              <el-option v-for="item in gradeList" :key="item" :label="item" :value="item">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">关联项目</span>
          <el-autocomplete v-model="projectName" :fetch-suggestions="getProject" value-key="name"
            placeholder="请输入对应项目的名称" class="search-name"></el-autocomplete>
        </div>
        <div class="flex-c">
          <span class="ipt-text">备注</span>
          <el-input type="textarea" resize="none" rows="10" maxlength="300" show-word-limit v-model="materialRemarks">
          </el-input>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showAddOneMaterial = false">取消</el-button>
          <el-button type="primary" @click="newOneMaterial">确定</el-button>
        </span>
      </el-dialog>

      <!-- 单条添加材价loading弹窗 -->
      <el-dialog title="添加材价" :visible.sync="materialDialog" width="460px" class="com-dialog my-dialog redialog"
        :close-on-click-modal="false">
        <div class="loading-box" v-if="materialStatus == 1">
          <img src="@/assets/img/dialog/loading1.png" alt="" class="img" />
          <img src="@/assets/img/dialog/loading2.png" alt="" class="img2" />
        </div>
        <img src="@/assets/img/dialog/success.png" alt="" v-if="materialStatus == 2" />
        <img src="@/assets/img/dialog/error.png" alt="" v-if="materialStatus == 3 || materialStatus == 4" />
        <p class="blue-tips" style="color: #333">{{ tipsText }}</p>
        <span slot="footer" class="dialog-footer" v-if="materialStatus != 1">
          <el-button @click="
  materialDialog = false;
showAddOneMaterial = true;
          " v-if="materialStatus == 3 || materialStatus == 4">重新编辑</el-button>
          <el-button type="primary" @click="agreeAdd">确定</el-button>
        </span>
      </el-dialog>

      <!-- 调整分类弹窗 -->
      <el-dialog title="调整分类" :visible.sync="changeSortDialog" width="460px" class="com-dialog my-dialog sort-dialog"
        :close-on-click-modal="false" @close="curNormItemDialog = ''">
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>国标分类</span>
          <el-select v-model="curNormDialog" placeholder="请选择" @change="selectNorm">
            <el-option v-for="item in normType" :key="item.code" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </div>
        <div class="flex-c">
          <span class="label-text ipt-text"></span>
          <el-select v-model="curNormItemDialog" placeholder="请选择">
            <el-option v-for="item in normTypeItem2" :key="item.code" :label="item.name" :value="item.code">
            </el-option>
          </el-select>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="changeSortDialog = false">取消</el-button>
          <el-button type="primary" @click="changeNorm">确定</el-button>
        </span>
      </el-dialog>

      <!-- 标准化弹窗（添加材价） -->
      <ScanLoading :title="'添加材价'" :bzhFailList="bzhFailList" :scanState="scanState" :failCount="failCount"
        :successCount="successCount" :downloadKeyLoading="downloadKeyLoading" @confirmScan="confirmScan"
        @downloadErrorList="downloadErrorList" v-if="startScan" :errMsg="errMsg2" />
    </div>
  </div>
</template>

<script>
import {
  getMatApplicableTime,
  getMatSubClassify,
  getMatPricePageList,
  delMatPrice,
  exportMatPrice,
  againFormat,
  updateMatPrice,
  importMatPrice,
  getMatImportTemplate,
  addFailMaterialPrice,
  addMaterialPrice,
  adjustClassificatione
} from '@/api/material'
import {
  getDictList,
  getCustomClassify,
  downloadErrorExcel,
  getAreaTree
} from '@/api/common'
import { addShareMatDetail } from '@/api/share'
import { getProjectPageList } from '@/api/newProject'
import ScanLoading from '@/components/ScanLoading'
export default {
  components: { ScanLoading },
  data() {
    return {
      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: '', // 选择适用时间(年)
      curTimeItem: '', // 选择适用时间(月)
      timeData: [], // 组装的年月数据
      standStatus: null, // 数据类型筛选 1标准 2非标准
      searchVal: '', // 搜索关键字
      shareStatus: null, // 选中的材价来源
      curshareList: [], // 分享平台列表(材价来源)
      typeStatus: null, // 选中的材价类型
      curtypeList: [], // 材价类型列表
      customType: [], // 自定义分类列表
      customTypeItem: [], // 自定义分类列表（子项）
      curMytype: '', // 选中的自定义分类
      curMytypeItem: '', // 选中的自定义分类(子项)
      custypeId: '', // 自定义分类id（调接口用）
      curNormType: '', // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      normTypeItem2: [], // 国标分类列表（子项,调整分类用）
      curNormTypeItem: '', // 选中的国标分类（子项）
      normCode: '', // 国标分类id（调接口用）
      isFold: true, // 折叠
      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      checkedList: [
        '材料名称',
        '规格',
        '单位',
        '国标分类',
        '价格区间',
        '报价条数',
        '数据类型',
        '适用时间',
        '适用地区',
        '操作'
      ], // 表头列表（所有项)
      checkList: [
        '材料名称',
        '规格',
        '标准名称',
        '标准规格',
        '编码',
        '单位',
        '国标分类',
        '自定义分类',
        '价格区间',
        '报价条数',
        '数据类型',
        '适用时间',
        '适用地区',
        '上传账号',
        '操作'
      ], // 列表选中的设置项（默认显示项）
      showSetListDialog: false, // 显示列表设置弹窗
      showShareDialog: false, // 显示分享材价弹窗
      shareloading: false, // 分享材价弹窗loading
      shareid: '', // 分享材价的id（单条）
      shareText: '', // 分享弹窗提示文字
      shareErr: '', // 分享弹窗错误提示
      shareSuccess: '', // 分享弹窗成功提示
      shareStutus: '', // 分享弹窗状态（1单条，2批量,3失败,4成功）
      showDelDialog: false, // 显示删除材价弹窗
      delloading: false, // 删除材价弹窗loading
      delid: '', // 删除材价的id（单条）
      delText: '', // 删除弹窗提示文字
      showRestandDialog: false, // 显示重新标准化询问弹窗
      toRestandDialog: false, // 显示重新标准化弹窗
      standId: '', // 重新标准化材价id（单条）
      reStandStatus: '', // 重新标准化弹窗状态（1正在标准化 2成功 3失败）
      successCount: 0, // 重新标准化成功数
      failCount: 0, // 重新标准化失败数
      downloadKey: '', // 下载失败清单key
      bzhFailList: [], // 失败材价保存(批量)
      bzhFailList2: [], // 失败材价保存(单条)
      errmsg: '', // 重新标准化信息
      downloadKeyLoading: false, // 下载失败清单loading
      showEditDialog: false, // 显示编辑材价弹窗
      materialName: '', // 材价名称
      materialSpecs: '', // 材价规格
      materialUnit: '', // 材价单位
      materialBrande: '', // 品牌
      materialSupplier: '', // 供应商
      taxIncluded: true, // 是否含税
      materialPrice: '', // 材价价格
      materialRemarks: '', // 材价备注
      matFormat: false, // 材价数据类型
      applicableProvince: '', // 适用省（回显用）
      applicableCity: '', // 适用市
      applicableDate: '', // 适用时间
      provinceName: '', // 所选省份名称
      cityName2: '', // 所选城市名称
      provinceName2: '', // 所选省份名称（供应商地区）
      cityName: '', // 所选城市名称（供应商地区）
      provinceList: [], // 省列表
      cityList: [], // 市列表
      provinceList2: [], // 省列表（供应商地区）
      cityList2: [], // 市列表（供应商地区）
      provinceId: '', // 选省id
      cityId: '', // 选市id
      provinceId2: '', // 选省id（供应商地区）
      cityId2: '', // 选市id（供应商地区）
      id: '', // 编辑的材价id
      submitLoading: false, // 提交编辑材价loading
      materialDialog: false, // 显示单条添加材价弹窗
      matDialogStatus: false, // 显示材价公用弹窗状态 1编辑材价 2新增自定义材价
      materialStatus: '', // 材价公用弹窗状态（1loading 2成功 3失败）
      tipsText: '', // 弹窗提示字眼（正在标准化/安全扫描中/编辑成功失败）
      showAddMaterial: false, // 显示批量添加材价弹窗
      showAddOneMaterial: false, // 显示单条添加材价弹窗
      projectName: '', // 项目名称
      cjFile: {}, // 材价文件
      curDialogType: '', // 选中的材价类型
      curDialogSource: '', // 选中的材价来源
      curtax: true, // 是否含税
      validStartDate: '', // 适用年月
      startScan: false, // 是否显示标准化弹窗
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      scanTimer: null, // 标准化定时器
      gradeList: ['请选择档次', '高档', '中高档', '中档', '一般'], // 档次列表
      gradeModel: '', // 编辑材价选中的档次
      errmsg2: '', // 添加材价错误信息
      timeout: null, // 项目查询输入框定时器
      ProjectPageList: [], // 可选项目名称列表
      editlDialog: false,
      srarchTypeList: ['名称规格', '账号姓名'],
      searchtype: '名称规格',
      applyProvinceList: [], // 适用省数组
      applyProvince: '', // 适用地区(省)
      applyCityList: [], // 适用城市数组
      applyCityName: '', // 适用地区(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市
      symbolList: ['Ф', 'δ', '°', '×', '#', 'Ⅱ', 'Ⅲ', '½', '¼'],
      unitList: [
        { unit: '㎡' },
        { unit: '株' },
        { unit: '台' },
        { unit: '个' },
        { unit: '套' }
      ],
      sortItem: null,
      changeSortDialog: false,
      curNormItemDialog: '', // 调整分类code
      curNormDialog: ''
    }
  },
  created() {
    // 缓存的列表设置
    if (this.userId) {
      const localList = localStorage.getItem('material' + this.userId) || null
      if (localList) this.checkedList = JSON.parse(localList)
    }
  },
  mounted() {
    this.getMatApplicableTime(true, true) // 适用时间
    this.getDictList() // 材价来源/类型
    this.getCustomClassify() // 自定义分类
    this.getAreaTree() // 获取地区
    this.getProjectPageList() // 获取项目
  },
  computed: {
    userId() {
      return this.$store.getters.userId
    }
  },
  methods: {
    // 保存列表设置
    setCheckedList() {
      localStorage.setItem(
        'material' + this.userId,
        JSON.stringify(this.checkedList)
      )
    },
    // 获取项目列表
    getProjectPageList() {
      const data = {
        currentPage: 1,
        pageSize: 1000
      }
      getProjectPageList(data).then(res => {
        if (res && res.code == '01') {
          this.ProjectPageList = res.body.list
        }
      })
    },

    // 输入搜索项目名称
    getProject(queryString, cb) {
      var restaurants = this.ProjectPageList
      var results = queryString
        ? restaurants.filter(this.createStateFilter(queryString))
        : restaurants
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        cb(results)
      }, 300)
    },

    // 筛选项目名称
    createStateFilter(queryString) {
      return state => {
        return state.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
      }
    },

    // 获取材价适用时间
    getMatApplicableTime(nopass, callback) {
      getMatApplicableTime().then(res => {
        if (!res || !res.body.endTime) return
        const startTime = new Date(res.body.startTime)
        const endTime = new Date(res.body.endTime)
        var y = startTime.getFullYear()
        var m = startTime.getMonth() + 1
        var y2 = endTime.getFullYear()
        var m2 = endTime.getMonth() + 1
        const time = {} // {年：[月]}
        const years = []
        for (let i = y2; i >= y; i--) {
          const timearr = []
          years.push(i)
          if (i == y) {
            let month = 12
            if (y == y2) month = m2
            for (let j = month; j >= m; j--) {
              timearr.push(j)
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j)
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j)
            }
          }
          time[i] = timearr
        }
        this.timeData = time // 组装的年月数据
        this.curTimeList = years // 所有年
        if (nopass) {
          this.curTime = y2 // 默认选最新一年
          // this.curTimeItem = time[y2][0] // 默认选最新一月
          this.curTimeItem = ''
          this.curTimeItemList = time[y2] // 默认显示第一年的月份
        } else {
          this.curTimeItemList = time[this.curTime] // 保留所选月份只更新月份数组
        }

        if (callback) {
          this.getMatPricePageList() // 材价列表数据
        }
      })
    },

    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year //  选中的年
      this.curTimeItemList = this.timeData[year] // 月数组
      // this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.curTimeItem = ''
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 筛选数据类型
    standFilter(type) {
      this.standStatus = type
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 获取(材价)类型列表 来源/类型
    getDictList() {
      const params = {
        dictType: 'MAT_SOURCE_TYPE'
      }
      getDictList(params).then(res => {
        this.curshareList = res.body || []
      })
      const params2 = {
        dictType: 'MAT_TYPE'
      }
      getDictList(params2).then(res => {
        this.curtypeList = res.body
      })
    },

    // 筛选分享平台(材价来源)
    changeCurSharePlat(code) {
      this.shareStatus = code
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 筛选材价类型
    changeCurTypePlat(code) {
      this.typeStatus = code
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 获取(材价)自定义分类
    getCustomClassify() {
      getCustomClassify({ type: 1 }).then(res => {
        this.customType = res.body
      })
    },

    // 筛选自定义分类(父项)
    changeCurMyType(index, id) {
      this.customTypeItem = []
      this.curMytype = id
      this.curMytypeItem = ''
      this.custypeId = id
      if (index !== '') {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub
        }
      }
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 筛选自定义分类(子项)
    changeCurMyTypeItem(name, id) {
      this.curMytypeItem = name
      if (id !== '') {
        this.custypeId = id
      } else {
        this.custypeId = this.curMytype
      }
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 选择分类
    selectNorm() {
      this.normType.forEach(item => {
        if (item.code == this.curNormDialog) this.normTypeItem2 = item.sub
      })
    },

    // 调整分类
    changeNorm() {
      if (!this.curNormItemDialog) {
        this.$message({
          type: 'error',
          message: '请选择国标分类'
        })
        return
      }
      let subcName
      this.normTypeItem2.forEach(item => {
        if (item.code == this.curNormItemDialog) subcName = item.name
      })
      const data = {
        goEmptyName: this.sortItem.goEmptyName,
        goEmptySpec: this.sortItem.goEmptySpec,
        goEmptyUnit: this.sortItem.goEmptyUnit,
        subcid: this.curNormItemDialog,
        subcName: subcName
      }
      adjustClassificatione(data).then(res => {
        if (res && res.code == '01') {
          this.changeSortDialog = false
          this.currentPage = 1
          this.getMatPricePageList('pass')
          this.$message({
            type: 'success',
            message: res.message || '调整成功'
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message || '调整失败'
          })
        }
      })
    },

    // 获取(材价)国标分类
    getMatSubClassify(data) {
      return new Promise((resolve, reject) => {
        getMatSubClassify(data).then(res => {
          this.curNormType = ''
          this.curNormTypeItem = ''
          this.normCode = ''
          this.normTypeItem = []
          this.normTypeItem2 = []
          this.normType = res.body
          resolve()
        })
      })
    },

    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      this.normCode = code
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }
      this.currentPage = 1
      this.getMatPricePageList('pass')
    },

    // 切换国标分类（子项）
    changeNormTypeItem(name, code) {
      this.curNormTypeItem = name
      if (code !== '') {
        this.normCode = code
      } else {
        this.normCode = this.curNormType
      }
      this.currentPage = 1
      this.getMatPricePageList('pass')
    },

    // 获取材价列表
    async getMatPricePageList(pass) {
      if (!this.curTime) {
        this.tableLoading = false
        return
      }
      this.tableLoading = true

      var applicableDate = this.curTimeItem
        ? new Date(this.curTime, this.curTimeItem - 1)
        : new Date(this.curTime + '')
      var isFormat = this.standStatus === null ? null : this.standStatus == 1
      const data = {
        isYear: this.curTimeItem ? '0' : '1', // 是否单纯年
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        applicableDate: applicableDate, // 适用时间(必填)
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        keyword:
          this.searchtype == '名称规格' && this.searchVal
            ? this.searchVal
            : null,
        keyword2:
          this.searchtype != '名称规格' && this.searchVal
            ? this.searchVal
            : null,
        // matSourceCode: this.shareStatus ? this.shareStatus : null,  // 材价来源
        // matTypeCode: this.typeStatus ? this.typeStatus : null,  // 材价类型
        // isGroup: 'Y',
        isPage: 'C', // 区分是材价库还是相同材价
        applicableProvince: this.applyProvince,
        applicableCity: this.applyCityName
      }

      let {subcid, ...obj} = {...data};

      console.log('国标分类', subcid);

      // 国标分类
      // if (!pass) await this.getMatSubClassify(data)
      if (!pass) this.getMatSubClassify(obj);

      this.tableData = []
      data.isGetCount = true // 仅此处需加此参数
      data.subcid = this.normCode ? this.normCode : null // 国标分类id
      getMatPricePageList(data)
        .then(res => {
          this.tableLoading = false
          if (res && res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
        })
        .catch(err => {
          this.tableLoading = false
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getMatPricePageList('pass')
    },

    // 分享材价
    shareMaterial(item) {
      if (!item.isFormat) {
        this.shareErr = '分享失败！自定义材价不允许分享到材价库'
        this.showShareDialog = true
        this.shareStutus = 3
        return
      }
      this.shareStutus = 1
      this.shareText = '你确定要分享这条材价吗？'
      if (this.isOldMasteril()) {
        this.shareText = '分享的材价中存在适用时间在3个月以前，你确定要分享吗？'
      }
      this.showShareDialog = true
      this.shareid = item.id
    },

    // 分享材价(批量)
    shareSomeMaterial() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      let hasNo = false
      for (let i = 0; i < this.multipleSelection.length; i++) {
        if (!this.multipleSelection[i].isFormat) {
          hasNo = true
          break
        }
      }
      if (hasNo) {
        this.shareErr = '分享失败！自定义材价不允许分享到材价库'
        this.showShareDialog = true
        this.shareStutus = 3
        return
      }
      this.shareStutus = 2
      this.shareText = '你确定要分享勾选的材价吗？'
      if (this.isOldMasteril()) {
        this.shareText = '分享的材价中存在适用时间在3个月以前，你确定要分享吗？'
      }
      this.showShareDialog = true
    },

    // 分享材价接口
    confirmShareMaterial() {
      if (this.shareStutus == 4 || this.shareStutus == 3) {
        this.showShareDialog = false
        return
      }
      this.shareloading = true
      var ids = []
      if (!this.shareid) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        ids.push(this.shareid)
      }
      const data = {
        matIds: ids
      }
      addShareMatDetail(data)
        .then(res => {
          this.shareloading = false
          if (res.code === '01') {
            // this.shareStutus = 4
            // this.shareSuccess = res.message || '分享成功！'
            this.showShareDialog = false
            this.$message({
              type: 'success',
              message: res.message || '分享成功！'
            })
            this.currentPage = 1
            this.getMatPricePageList('pass')
          } else {
            this.shareStutus = 3
            this.shareErr = res.message || '分享失败！'
          }
        })
        .catch(err => {
          this.shareloading = false
          this.shareStutus = 3
          this.shareErr = err.message || '分享失败！'
        })
    },

    // 判断材价适用时间
    isOldMasteril() {
      const now = new Date()
      var nowyear = now.getFullYear()
      var nowmonth = now.getMonth() + 1
      if (nowyear > this.curTime) {
        return true
      } else if (
        nowyear == this.curTime &&
        this.curTimeItem &&
        nowmonth - this.curTimeItem >= 3
      ) {
        return true
      } else {
        return false
      }
    },

    // 删除材价
    delMaterial(item) {
      this.delText = '你确定要删除这条材价吗？'
      this.showDelDialog = true
      this.delid = item.id
    },

    // 删除材价(批量)
    delSomeMaterial() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.delText = '你确定要删除勾选的材价吗？'
      this.showDelDialog = true
    },

    // 删除材价接口
    confirmDelMaterial() {
      this.delloading = true
      var ids
      if (!this.delid) {
        ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        ids = ids.join(',')
      } else {
        ids = this.delid
      }
      const data = {
        matIds: ids
      }
      delMatPrice(data)
        .then(res => {
          this.delloading = false
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message || '删除成功！'
            })
            this.currentPage = 1
            this.getMatApplicableTime() // 适用时间
            setTimeout(() => {
              this.getMatPricePageList()
            }, 800)
            this.showDelDialog = false
          } else {
            this.$message({
              type: 'error',
              message: res.message || '删除失败！'
            })
          }
        })
        .catch(err => {
          this.delloading = false
          this.$message({
            type: 'error',
            message: err.message || '出错了！'
          })
        })
    },

    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      var applicableDate = this.curTimeItem
        ? new Date(this.curTime, this.curTimeItem - 1)
        : new Date(this.curTime + '')
      var isFormat = this.standStatus === null ? null : this.standStatus == 1
      var data = {
        isYear: this.curTimeItem ? '0' : '1', // 是否单纯年
        applicableDate: applicableDate,
        custcId: this.custypeId ? this.custypeId : null,
        isFormat: isFormat,
        keyword: this.searchVal ? this.searchVal : null,
        matSourceCode: this.shareStatus ? this.shareStatus : null,
        matTypeCode: this.typeStatus ? this.typeStatus : null,
        subcid: this.normCode ? this.normCode : null
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        exportMatPrice(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              )
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) { }
            // 读取文件成功
            fileReader.onload = event => {
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => { })
      })
    },

    // 导出
    exportFile() {
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        this.openAlert()
        return
      }
      var applicableDate = this.curTimeItem
        ? new Date(this.curTime, this.curTimeItem - 1)
        : new Date(this.curTime + '')
      var data = {
        ids: ids,
        applicableDate: applicableDate,
        isYear: this.curTimeItem ? '0' : '1' // 是否单纯年
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        exportMatPrice(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              )
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) { }
            // 读取文件成功
            fileReader.onload = event => {
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => { })
      })
    },

    // 重新标准化询问弹窗
    reSomeStandard(item) {
      this.standId = item.id + ''
      this.showRestandDialog = true
    },

    // 重新标准化询问弹窗(批量)
    reStandardAll() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      this.standId = ids.join(',')
      this.showRestandDialog = true
    },

    // 重新标准化接口
    toRestand() {
      this.reStandStatus = 1
      this.showRestandDialog = false
      this.toRestandDialog = true
      setTimeout(() => {
        const params = {
          ids: this.standId
        }
        againFormat(params)
          .then(res => {
            if (res.code === '01') {
              this.reStandStatus = 2
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.successCount
                this.downloadKey = res.body.downloadKey
              } catch (err) { }
              this.currentPage = 1
              this.getMatPricePageList('pass')
            } else {
              this.errmsg = res.message || '重新标准化失败！'
              this.reStandStatus = 3
            }
          })
          .catch(err => {
            this.errmsg = err.message || '重新标准化失败！'
            this.reStandStatus = 3
          })
      }, this.$store.getters.loadingCommon)
    },

    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.toRestandDialog = false // 重新标准化
          this.materialDialog = false // 编辑材价/添加自定义材价
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) { }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 获取地区（省，市）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.provinceList = res.body
          this.provinceList2 = res.body
          this.applyProvinceList = res.body
          this.cityList = this.provinceList[0].sub
          this.cityList2 = this.provinceList2[0].sub
          // this.applyCityList = this.provinceList[0].sub
        }
      })
    },

    // 切换省份
    changeProvince(id) {
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].id === id) {
          this.cityList = this.provinceList[i].sub
          this.provinceName = this.provinceList[i].name
          this.cityName = this.cityList[0].name
          this.cityId = this.cityList[0].id
        }
      }
    },

    // 切换城市
    changeCity(id) {
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].id === id) {
          this.cityName = this.cityList[i].name
        }
      }
    },

    // 切换省份(供应商)
    changeProvince2(id) {
      for (var i = 0; i < this.provinceList2.length; i++) {
        if (this.provinceList2[i].id === id) {
          this.cityList2 = this.provinceList2[i].sub
          this.provinceName2 = this.provinceList2[i].name
          this.cityName2 = this.cityList2[0].name
          this.cityId2 = this.cityList2[0].id
        }
      }
    },

    // 切换城市(供应商)
    changeCity2(id) {
      for (var i = 0; i < this.cityList2.length; i++) {
        if (this.cityList2[i].id === id) {
          this.cityName2 = this.cityList2[i].name
        }
      }
    },

    // 切换适用省份
    changeApplyProvince(index, name) {
      if (index === '') {
        this.applyProvince = ''
        this.applyCityName = ''
        this.applyCityList = []
      } else {
        for (var i = 0; i < this.applyProvinceList.length; i++) {
          if (this.applyProvinceList[i].name == name) {
            this.applyProvince = this.applyProvinceList[i].name
            this.applyCityList = this.applyProvinceList[i].sub
            this.applyCityName = ''
          }
        }
      }
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 切换适用城市
    changeApplyCity(index, name) {
      if (index === '') {
        this.applyCityName = ''
      } else {
        for (var i = 0; i < this.applyCityList.length; i++) {
          if (this.applyCityList[i].name == name) {
            this.applyCityName = this.applyCityList[i].name
          }
        }
      }
      this.currentPage = 1
      this.getMatPricePageList()
    },

    // 编辑材价
    editMaterial(item) {
      this.id = item.id
      this.gradeModel = item.grade || '请选择档次'
      // 回显
      this.taxIncluded = !!item.taxIncluded
      this.materialName = item.name
      this.materialSpecs = item.spec
      this.materialUnit = item.unit
      this.materialBrande = item.brand
      this.materialSupplier = item.supplier
      this.materialPrice = item.price
      this.applicableProvince = item.applicableProvince
      this.applicableCity = item.applicableCity
      this.applicableDate = item.applicableDate
      this.materialRemarks = item.remark || ''
      this.matFormat = item.isFormat

      // 回填产地省市的名称，id，选择菜单
      this.provinceName = ''
      this.provinceId = ''
      this.cityName = ''
      this.cityId = ''
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].name === item.supplierProvince) {
          this.cityList = this.provinceList[i].sub
          this.provinceName = item.supplierProvince
          this.provinceId = this.provinceList[i].id
        }
      }
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].name === item.supplierCity) {
          this.cityName = item.supplierCity
          this.cityId = this.cityList[i].id
        }
      }

      this.showEditDialog = true
    },

    // 金额输入限制（保留两位小数的数值，且大于0）
    checkPrice(e) {
      // 清除"数字"和"."以外的字符
      this.materialPrice = this.materialPrice.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.materialPrice = this.materialPrice.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.materialPrice = this.materialPrice.replace(/\.{2,}/g, '.')
      this.materialPrice = this.materialPrice
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.materialPrice = this.materialPrice.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },

    // 提交编辑完的材价
    submitMaterial() {
      if (!this.materialName) {
        this.$message({
          type: 'error',
          message: '请输入材价名称'
        })
        return
      } else if (!this.materialSpecs) {
        this.$message({
          type: 'error',
          message: '请输入材价规格'
        })
        return
      } else if (!this.materialUnit) {
        this.$message({
          type: 'error',
          message: '请输入材价单位'
        })
        return
      } else if (!this.materialPrice) {
        this.$message({
          type: 'error',
          message: '请输入正确的材料价格'
        })
        return
      }

      this.submitLoading = true
      this.showEditDialog = false
      this.matDialogStatus = 1
      if (this.matFormat) {
        this.tipsText = '正在标准化...'
        this.materialStatus = 1
        this.materialDialog = true
      }
      var data = {
        matPriceId: this.id,
        name: this.materialName,
        price: this.materialPrice,
        unit: this.materialUnit,
        // applicableCity: this.applicableCity,
        // applicableProvince: this.applicableProvince,
        remark: this.materialRemarks || null,
        spec: this.materialSpecs,
        supplier: this.materialSupplier || null,
        brand: this.materialBrande || null,
        grade: this.gradeModel == '请选择档次' ? null : this.gradeModel,
        supplierProvince: this.provinceName || null,
        supplierCity: this.cityName || null,
        taxIncluded: this.taxIncluded
      }
      setTimeout(() => {
        updateMatPrice(data)
          .then(res => {
            this.submitLoading = false
            if (!this.matFormat) {
              this.materialDialog = true
            }
            if (res.code === '01') {
              // this.materialStatus = 2
              // this.tipsText = '编辑成功'
              this.materialDialog = false
              this.$message({
                type: 'success',
                message: res.message
              })
              this.currentPage = 1
              this.getMatPricePageList('pass')
            } else {
              this.materialStatus = 3
              this.tipsText = '编辑失败'
            }
          })
          .catch(err => {
            this.materialStatus = 3
            this.tipsText = '编辑失败'
            this.submitLoading = false
          })
      }, this.$store.getters.loadingCommon)
    },

    // 1单条添加/2批量添加
    addMaterial(type) {
      if (type == '1') {
        // 置空
        this.materialName = ''
        this.materialSpecs = ''
        this.materialBrande = ''
        this.gradeModel = ''
        this.materialPrice = ''
        this.materialRemarks = ''
        this.materialSupplier = ''
        this.materialUnit = ''

        this.showAddOneMaterial = true
      } else if (type == '2') {
        this.showAddMaterial = true
      }
      // 初始化
      this.downloadKeyLoading = false
      if (this.curTime) {
        this.validStartDate = this.curTimeItem
          ? new Date(this.curTime, this.curTimeItem - 1)
          : new Date(this.curTime + '')
      }

      this.cjFile = {}
      if (this.$refs.fileElem && this.$refs.fileElem.value) {
        this.$refs.fileElem.value = null
      }
      this.curDialogSource = ''
      this.curDialogType = ''
      this.projectName = ''
      this.curtax = true
    },

    // 规格辅助输入
    iptSymbol(e) {
      this.materialSpecs += e
    },

    // 单位辅助输入
    iptUnit(queryString, cb) {
      cb(this.unitList)
    },

    // 提交新增的材价(批量)
    newMaterial() {
      if (!this.cityId) {
        this.$message({
          type: 'error',
          message: '请选择适用地区'
        })
        return
      } else if (!this.curDialogType) {
        this.$message({
          type: 'error',
          message: '请选择材价类型'
        })
        return
      } else if (!this.curDialogSource) {
        this.$message({
          type: 'error',
          message: '请选择材价来源'
        })
        return
      } else if (!this.validStartDate) {
        this.$message({
          type: 'error',
          message: '请选择适用时间'
        })
        return
      } else if (!this.cjFile || !this.cjFile.size) {
        this.$message({
          type: 'error',
          message: '请上传材价文件'
        })
        return
      }

      this.showAddMaterial = false

      var formData = new FormData()
      formData.append('applicableDate', this.validStartDate)
      formData.append('matPriceFile', this.cjFile)
      formData.append('matSourceTypeCode', this.curDialogSource)
      formData.append('matTypeCode', this.curDialogType)
      formData.append('taxIncluded', this.curtax)
      formData.append('applicableProvince', this.provinceName)
      formData.append('applicableCity', this.cityName)
      let projectId
      this.ProjectPageList.forEach(item => {
        if (item.name == this.projectName) projectId = item.projectId
      })
      formData.append('isCustomize', false)
      formData.append('projectId', projectId || null)

      this.startScan = true
      this.scanState = '0'
      this.scanTimer = setTimeout(() => {
        importMatPrice(formData)
          .then(res => {
            if (res.code === '01') {
              this.scanState = '1'
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.successCount
                this.downloadKey = res.body.downloadKey
                this.bzhFailList = res.body.bzhFailList
              } catch (err) { }
              // 等待后端更新数据
              this.getMatApplicableTime() // 适用时间
              setTimeout(() => {
                this.currentPage = 1
                this.getMatPricePageList()
              }, 800)
            } else {
              this.scanState = '2'
              this.errMsg2 = res.message || '添加失败'
            }
          })
          .catch(err => {
            this.scanState = '2'
            this.errMsg2 = err.message || '添加失败'
          })
      }, this.$store.getters.loadingCommon)
    },

    // 提交新增的材价(单条)
    newOneMaterial() {
      if (!this.materialName) {
        this.$message({
          type: 'error',
          message: '请输入材料名称'
        })
        return
      } else if (!this.curDialogType) {
        this.$message({
          type: 'error',
          message: '请选择材价类型'
        })
        return
      } else if (!this.curDialogSource) {
        this.$message({
          type: 'error',
          message: '请选择材价来源'
        })
        return
      } else if (!this.cityId) {
        this.$message({
          type: 'error',
          message: '请选择适用地区'
        })
        return
      } else if (!this.validStartDate) {
        this.$message({
          type: 'error',
          message: '请选择适用时间'
        })
        return
      } else if (!this.materialUnit) {
        this.$message({
          type: 'error',
          message: '请输入单位'
        })
        return
      } else if (!this.materialPrice) {
        this.$message({
          type: 'error',
          message: '请输入价格'
        })
        return
      }

      this.showAddOneMaterial = false

      const data = {
        applicableProvince: this.provinceName,
        applicableCity: this.cityName,
        applicableDate: this.validStartDate,
        brand: this.materialBrande,
        grade: this.gradeModel,
        matSourceTypeCode: this.curDialogSource,
        matTypeCode: this.curDialogType,
        name: this.materialName,
        priceStr: this.materialPrice,
        remark: this.materialRemarks,
        spec: this.materialSpecs,
        supplier: this.materialSupplier,
        supplierArea: this.provinceName2 + this.cityName2,
        taxIncluded: this.curtax,
        unit: this.materialUnit,
        isCustomize: false
      }
      let projectId
      this.ProjectPageList.forEach(item => {
        if (item.name == this.projectName) projectId = item.projectId
      })
      data.projectId = projectId

      this.tipsText = '正在标准化...'
      this.materialStatus = 1
      this.materialDialog = true
      this.scanTimer = setTimeout(() => {
        addMaterialPrice(data)
          .then(res => {
            if (res.code === '01') {
              this.tipsText = '标准化成功!'
              this.materialStatus = 2
              // 等待后端更新数据
              this.getMatApplicableTime() // 适用时间
              setTimeout(() => {
                this.currentPage = 1
                this.getMatPricePageList()
              }, 800)
            } else if (res.code === '610') {
              // 标准化失败,可编辑可保存
              this.materialStatus = 3
              this.tipsText =
                '标准化失败！' + res.message + '是否保存为非标准化材价？'
              this.bzhFailList2 = res.body || []
            } else if (res.code === '611') {
              // 不可保存,可编辑
              this.materialStatus = 4
              this.tipsText = err.message || '标准化失败!'
            }
          })
          .catch(err => { })
      }, this.$store.getters.loadingCommon)
    },

    // 单条材价添加确定
    agreeAdd() {
      this.materialDialog = false
      if (
        this.materialStatus == 3 &&
        this.bzhFailList2 &&
        this.bzhFailList2.length > 0
      ) {
        // 保存标准化失败材价
        var data = {
          matPriceInfoEntities: this.bzhFailList2
        }
        addFailMaterialPrice(data).then(res => {
          this.getMatApplicableTime() // 适用时间
          // 等待后端更新数据
          setTimeout(() => {
            this.currentPage = 1
            this.getMatPricePageList()
          }, 800)
        })
      }
    },

    // 标准化完成
    confirmScan(ajax) {
      this.startScan = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
      // 保存标准化失败材价
      if (ajax && this.bzhFailList && this.bzhFailList.length > 0) {
        var data = {
          matPriceInfoEntities: this.bzhFailList
        }
        addFailMaterialPrice(data).then(res => { })
      }
    },

    // 下载材价导入模板
    uploadTemplate() {
      getMatImportTemplate()
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '材价导入模板.xls'
            )
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) { }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '材价导入模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => { })
    },

    // 上传材价文件
    uploadCjFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.cjFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },

    // 相同材料报价条数
    skipDetail(item) {
      sessionStorage.setItem('cj_item', JSON.stringify(item))
      this.$router.push({
        path: '/materialManage/sameMaterial',
        query: {
          id: item.materialId,
          zcode: item.zcode
        }
      })
    },

    // 分享后跳转分享库查看
    toSharePage() {
      this.$router.push({
        path: '/shareManage/index',
        query: {
          year: this.curTime,
          month: this.curTimeItem
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';

.material-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;

  .screen {
    padding: 0 21px 5px;
    background: #ffffff;
    border-top: 1px solid #f6f6f6;

    .select-remark {
      width: 128px;
      height: 36px;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
      border-radius: 20px 0 0 20px;

      .el-input__inner {
        width: auto;
      }
    }

    .el-select.select-remark {
      &::v-deep .el-input__inner {
        border-radius: 20px 0 0 20px;
      }
    }

    >div {
      min-height: 39px;
    }

    .top {
      // border-top: 1px solid #f6f6f6;
    }

    .cycle-wrap {
      padding: 20px;

      >span {
        text-align: right;
        margin-right: 10px;
        min-width: 70px;
        font-weight: 400;
        white-space: nowrap;
      }

      .el-select {
        input {
          width: 281px;
          height: 36px;
        }
      }
    }

    .top {
      .com-search2 {
        border-radius: 0 20px 20px 0;
        border: 1px solid #dcdfe6;
      }
    }

    .custom-type,
    .norm-type {
      >span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }

      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
      }

      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }

        ul {
          margin-bottom: 10px;

          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;

            li {
              padding-top: 8px;
              padding-bottom: 8px;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;

            &.active {
              color: $color-minor;
            }

            &:hover {
              color: $color-minor;
            }
          }
        }
      }

      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .is-fold {
        max-height: 50px;
        overflow-y: hidden;
      }
    }
  }

  // 表格
  .detail-table {
    margin-top: 18px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;

    .inquiry {
      background: #fcfcfd;

      .right-btns {
        >div {
          cursor: pointer;
          margin-left: 26px;
          font-family: 'mainfont';
          white-space: nowrap;

          .icons {
            margin-right: 4px;
            font-size: 18px;
          }

          .imgs {
            width: 14px;
            height: 14px;
            margin-right: 4px;
            // margin-left: 16px;
          }
        }
      }

      .tips {
        width: 23px;
        height: 23px;
        margin: 0 20px 6px 0;
      }

      .btn {
        width: 112px;
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-size: 15px;
        font-family: 'mainfont';
        font-weight: 500;

        &:hover {
          border: 1px solid;
        }

        .el-icon-search {
          margin-right: 5px;
        }
      }

      .btn2 {
        width: 154px;
        background: $color-minor;
        border-color: $color-minor;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
      }

      .btn3 {
        color: $color-primary !important;
        border-color: #3699ff !important;

        &:hover {
          background: #ffffff !important;
          box-shadow: 0px 1px 4px 0px #3699ff;
        }
      }

      .btn-del {
        width: 82px;
        color: #f13a3f !important;
        border-color: #f13a3f;

        &:hover {
          box-shadow: 0px 1px 4px 0px #f13a3f;
          background: #ffffff !important;
        }
      }
    }

    .table-box {
      padding-bottom: 30px;

      .t-color {
        font-weight: 400;
        color: $table-color;
      }

      .wrap {
        width: 166px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      .mode-name {
        cursor: pointer;
        color: $color-primary;
        text-align: left;

        >div {
          min-width: 100px;
        }
      }

      .faster-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }

      .files {
        max-width: 65%;
        min-width: 380px;

        .file-box {
          width: 100%;
          flex-wrap: wrap;

          .fileitem {
            margin-right: 6px;
            margin-bottom: 4px;

            .file-img {
              width: 21px;
              height: 20px;
            }

            .file-name {
              margin: 0 25px 0 7px;
              width: 81px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              font-family: 'mainfont';
            }
          }
        }
      }
    }
  }

  .editidalog {
    .show-text {
      color: #333333;
    }

    .ta-right {
      color: #999999;
    }
  }

  .addDialog {
    &::v-deep .el-dialog {
      // height: 322px;
      height: 500px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .el-dialog__body {
        flex: 1;
        overflow-y: scroll;
        padding-top: 4px;
      }
    }

    .spec-img {
      position: relative;
      background: none !important;

      img {
        width: 17px;
        height: 17px;
        position: absolute;
        top: 8px;
        right: -20px;
        cursor: pointer;
        z-index: 999;
      }
    }

    .cj-upload {
      width: 100%;

      >div {
        position: relative;
        width: 100%;
      }

      .u-ipt {
        padding-left: 10px;
        width: 100%;
        height: 34px;
        line-height: 34px;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
      }

      .u-btn {
        max-width: 66px;
        min-width: 66px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        border-radius: 0 4px 4px 0;
        border: 1px solid #dcdfe6;
        border-left: none;
      }

      .u-file {
        position: absolute;
        width: 100%;
        opacity: 0;
      }
    }
  }

  .scrollMR {
    &::v-deep .el-dialog__body {
      margin-right: 18px;
    }
  }

  .el-dialog {
    .ipt-text {
      text-align: right;
      min-width: 65px;
      max-width: 80px;
      margin-right: 10px;
      color: #999999;
    }
  }

  .el-select,
  .sel-time {
    width: 100%;
  }

  .redialog {
    .loading-box {
      width: 90px;
      height: 90px;
      margin: 30px auto;
      position: relative;

      >img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .img {
        z-index: 0;
        animation: scanLoading 0.8s linear infinite;
      }

      .img2 {
        z-index: 1;
        animation: scanLoading2 0.8s linear infinite;
      }

      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }

      @keyframes scanLoading2 {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    .blue-tips {
      color: #1789f2;
      line-height: 30px;
      margin-bottom: 40px;
    }

    .success {
      color: $color-primary;
    }

    .error {
      color: $color-danger;
    }
  }
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';

.sort-dialog {
  .el-dialog__body {
    padding-top: 4px;
  }

  .el-select {
    width: 100%;
  }
}

.tip-popper-class {
  border: none !important;

  >div {
    display: flex;
    align-items: center;
  }

  .item {
    width: 18px;
    height: 18px;
    margin: 0 3px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}

.popper-class {
  padding: 0 !important;
  min-width: 60px;
  margin-top: 0 !important;

  button {
    width: 100%;
  }
}

.material-container {
  .com-dialog .el-checkbox {
    display: flex;
  }

  .flex-cw {
    padding: 2px 0;
    border-bottom: 1px solid #f3f3f4;
  }

  .com-label-text {
    padding: 2px 0;
  }

  .is-fold {
    border-bottom: none;
  }

  .screen .cycle-wrap>span {
    min-width: auto !important;
  }

  .screen .select-remark {
    .el-input--suffix {
      height: 36px;
    }

    .el-input__inner {
      height: 36px;
      border-right: none;
      // border-radius: 20px 0 0 20px;
    }
  }

  .top {
    .com-search2 {
      width: 470px;

      .el-input__inner {
        width: 430px;
      }
    }
  }

  .inquiry {
    .btn {
      >span {
        display: flex;
        align-items: center;
      }
    }
  }

  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }

    .has-gutter {
      font-size: 14px;
    }

    .el-table {
      color: #5f5f5f;
      font-size: 13px;
      font-weight: 400;
    }
  }

  .set-list {
    .el-checkbox .el-checkbox__label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100px;
    }

    .el-dialog__header {
      background-color: #ffffff;
      text-align: center;
      padding-top: 16px;

      .el-dialog__title {
        font-size: 12px;
        color: #333333;
        opacity: 0.3;
        position: relative;

        &::before {
          position: absolute;
          display: block;
          content: '';
          width: 50px;
          height: 1px;
          background: #333333;
          left: -58px;
          opacity: 0.3;
          top: 6px;
        }

        &::after {
          position: absolute;
          display: block;
          content: '';
          width: 50px;
          height: 1px;
          background: #333333;
          right: -58px;
          opacity: 0.3;
          top: 6px;
        }
      }
    }
  }

  .editidalog {
    .el-dialog__header {
      background: #ffffff;
    }

    .el-input__inner {
      // width: 310px;
      width: 100%;
      height: 32px;
    }

    .grade-area {
      .el-input--suffix {
        .el-input__suffix {
          top: 5px;
          right: 15px;
        }
      }

      .is-focus {
        .el-input__suffix {
          top: 0px;
        }
      }

      .el-input__inner {
        // text-align: center;
      }
    }

    .ipt-area {
      .el-input__inner {
        width: 141px;
        height: 32px;
      }

      .el-input--suffix {
        .el-input__inner {
          // text-align: center;
        }

        .el-input__suffix {
          top: 5px;
          right: 15px;
        }
      }

      .is-focus {
        .el-input__suffix {
          top: -1px;
          right: 15px;
        }
      }
    }

    .el-textarea__inner {
      height: 98px;
    }

    .ipt-price {
      .el-input-group__append {
        background: #ffffff;
      }

      .el-input-group--append {
        width: 310px;

        .el-input__inner {
          width: 255px;
          color: $color-minor;
        }
      }
    }
  }

  .addDialog {
    .el-autocomplete {
      width: 100%;
    }

    .el-input--suffix {
      .el-input__suffix {
        top: 3px !important;
        right: 10px !important;
      }
    }

    .times {
      .el-input__suffix {
        top: 1px !important;
        right: 30px !important;
      }
    }

    .is-focus {
      .el-input__suffix {
        top: -1px !important;
      }
    }

    .sel-time {
      .el-date-editor {
        width: 100%;

        &.el-input--prefix .el-input__inner {
          padding-left: 15px;
        }
      }

      .el-input__icon {
        line-height: 32px;
        color: $color-primary;
      }
    }
  }

  .custom-type {
    .more {
      .el-icon-arrow-right:before {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
</style>
