@font-face {
  font-family: "iconfont"; /* Project id 2658476 */
  src: url('iconfont.woff2?t=1649757219916') format('woff2'),
       url('iconfont.woff?t=1649757219916') format('woff'),
       url('iconfont.ttf?t=1649757219916') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-2111:before {
  content: "\e65a";
}

.icon-zhibiaoyingyong:before {
  content: "\e659";
}

.icon-wendangku1:before {
  content: "\e658";
}

.icon-zhibiaokushezhi:before {
  content: "\e64e";
}

.icon-zbk1:before {
  content: "\e64d";
}

.icon-zhibiaoku11:before {
  content: "\e64b";
}

.icon-a-22:before {
  content: "\e649";
}

.icon-sy:before {
  content: "\e63d";
}

.icon-xunjiaguanli:before {
  content: "\e63e";
}

.icon-shezhi:before {
  content: "\e63f";
}

.icon-fenxiangguanli:before {
  content: "\e640";
}

.icon-caijiaguanli12:before {
  content: "\e641";
}

.icon-ger1:before {
  content: "\e643";
}

.icon-000:before {
  content: "\e644";
}

