<template>
  <div class="upload-cj-container">
    <div class="up-wrap">
      <h1>{{ tempName }}</h1>
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：名称、提交人" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>

      <div class="search-type">
        <div class="flex-fs norm-type">
          <span class="com-label-text"><span class="com-alt">占位符</span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.code}" @click="changeNormTypeItem(item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
        </div>
      </div>

      <div class="com-table">
        <div class="flex-csb com-operate-wrap">
          <div>
            <template v-if="isZjtcnData != '1'">
              <el-popover placement="bottom" trigger="click">
                <div class="special-operate-wrap">
                  <el-button @click="addInfoDialog(3)">添加单条</el-button>
                  <el-button @click="addInfoDialog(1)">批量添加</el-button>
                </div>
                <el-button slot="reference" class="has-primary-btn">添加标准化信息价</el-button>
              </el-popover>
              <!-- <span v-has="$roles.fun_comprice_zdy_cl" class="mytemp">-->
                <span class="mytemp">
                <el-popover placement="bottom" trigger="click">
                  <div class="special-operate-wrap">
                    <el-button @click="addInfoDialog(4)">添加单条</el-button>
                    <el-button @click="addInfoDialog(2)">批量添加</el-button>
                  </div>
                  <el-button slot="reference" class="has-minor-btn">添加自定义信息价</el-button>
                </el-popover>
                <el-tooltip class="item" effect="light" content="可添加统称性材料名称的材价，如：水、电、油等" placement="top-start">
                  <img src="@/assets/img/cs/icons/tips.png" alt="" class="tips">
                </el-tooltip>
              </span>
            </template>

            <!-- <el-button v-has="$roles.fun_comprice_historydetail_export" class="has-primary-btn" :loading="exportLoading" @click="exportFile">导出</el-button>-->
            <el-button class="has-primary-btn" :loading="exportLoading" @click="exportFile">导出</el-button>
          </div>
          <div class="flex-c set-wrap" @click="showSetListDialog = true">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="96px" />
          <el-table-column v-if="checkedList.indexOf('序号') != -1" prop="sortNo" label="序号" width="100" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" prop="name" label="材料名称" />
          <el-table-column v-if="checkedList.indexOf('标准名称') != -1" prop="stdName" label="标准名称" />
          <el-table-column v-if="checkedList.indexOf('编码') != -1" prop="zcode" label="编码" />
          <el-table-column v-if="checkedList.indexOf('规格') != -1" prop="spec" label="规格" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" prop="unit" label="单位" />
          <el-table-column v-if="checkedList.indexOf('信息价（含税）') != -1" prop="taxMsgPrice" label="信息价（含税）" />
          <el-table-column v-if="checkedList.indexOf('信息价（除税）') != -1" prop="messagePrice" label="信息价（除税）" />
          <el-table-column v-if="checkedList.indexOf('税率') != -1" label="税率">
            <template slot-scope="scope">
              <span>{{ scope.row.taxPoint | filterTaxPoint }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" />
          <!-- <el-table-column
            label="信息价趋势"
            v-if="checkedList.indexOf('信息价趋势') != -1">
            <template slot-scope="scope">
              <img class="cp trend-icon" src="@/assets/img/cs/icons/trend_icon.png" alt="" @click="openTrendDialog(scope.row)">
            </template>
          </el-table-column> -->

          <el-table-column v-if="checkedList.indexOf('操作') != -1" align="left" label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span @click="editInfoPrice(scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span>
                <span @click="delInfoPrice(scope.row)">
                  <el-tooltip effect="light" content="删除" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="400px" class="com-dialog" :close-on-click-modal="false">
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = !showSetListDialog">确定</el-button>
      </span>
    </el-dialog>
    <!-- 列表设置弹窗 end -->

    <!-- 添加历史信息价弹窗 -->
    <el-dialog :title="infoType == 1 ? '添加标准化信息价': '添加自定义信息价'" :visible.sync="showImportDialog" :close-on-click-modal="false" width="491px" class="com-dialog">
      <div class="flex-c mb-20 com-upload">
        <span class="nw mr-20 label-text"><span>*</span>信息价上传：</span>
        <div class="flex-c">
          <div class="u-ipt com-radius-input">{{ curCustomFile.name }}</div>
          <div class="u-btn">上传</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" placeholder="请选择" @change="uploadCustomFile($event)">
        </div>
      </div>
      <div class="flex-c">
        <span class="nw mr-20 label-text">模板下载</span>
        <span class="cp p-color" @click="uploadTemp">{{ infoType == 1 ? '历史': '自定义历史' }}信息价上传模板.xlsx</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog = false">取消</el-button>
        <el-button type="primary" @click="issueTemp">发布</el-button>
      </span>
    </el-dialog>
    <!-- 添加历史信息价弹窗 end -->

    <!-- 添加单条信息价弹窗 -->
    <el-dialog :title="infoTypeToTitle" :visible.sync="showSingleDialog" :close-on-click-modal="false" width="560px" class="com-dialog remark-dialog">
      <div v-if="infoType == 4 || infoType == 5" class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>国标分类：</span>
        <div class="special-div">
          <el-select v-model="normTypeItem1" clearable placeholder="请选择国标一级分类" value-key="code" @change="changeNormItem1($event)">
            <el-option v-for="item in normType" :key="item.name" :label="item.name" :value="item" />
          </el-select>
          <el-select v-model="infoParams.classificationCode" style="margin-left: 10px" clearable placeholder="请选择国标二级分类" @change="changeNormItem2">
            <el-option v-for="item in actNormType2" :key="item.name" :label="item.name" :value="item.code" />
          </el-select>
        </div>
      </div>
      <div class="flex-c mb-20 special-c">
        <span class="label-text special-text">序号：</span>
        <el-input v-model="infoParams.serialNumber" placeholder="请输入序号" @input="checkInput" />
        <span class="special-tip">注意：请输入除0以外，且本周期不存在序号，不填序号将自动排序</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>材料名称：</span>
        <el-input v-model="infoParams.name" placeholder="请输入材料名称" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text">材料规格：</span>
        <el-input v-model="infoParams.spec" placeholder="请输入材料规格" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>材料单位：</span>
        <el-input v-model="infoParams.unit" placeholder="请输入材料单位" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>价格：</span>
        <el-input v-model="infoParams.msgPrice" placeholder="请输入价格" @input="checkNumber" />
      </div>
      <div>
        <p class="r-label">备注</p>
        <el-input v-model="infoParams.remark" type="textarea" resize="none" rows="10" maxlength="300" placeholder="请输入备注" />
        <div class="ta-right">
          <span v-if="infoParams.remark">{{ infoParams.remark.length }}</span><span v-else>0</span>/300
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSingleDialog = false">取消</el-button>
        <el-button type="primary" @click="addInfoPrice">确认</el-button>
      </span>
    </el-dialog>

    <!-- 添加自定义材料结果弹窗 -->
    <el-dialog title="添加自定义材料" :visible.sync="showResDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div v-if="resStatus==3" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/reStandard2.png" alt="" style="margin-bottom:30px;">
        <p>正在安全扫描...</p>
      </div>
      <div v-if="resStatus==1" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/success_img.png" alt="" class="img2">
        <p>导入成功<span class="suc-num2">{{ successCount2 }}</span>条，失败<span class="err-num2">{{ failCount2 }}</span>条</p>
      </div>
      <div v-if="resStatus==2" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/error_img.png" alt="" class="img2">
        <p v-if="errMsg">{{ errMsg }}</p>
        <p v-else>上传失败，请重试</p>
      </div>
      <span v-if="resStatus!=3" slot="footer" class="dialog-footer">
        <el-button v-if="resStatus==1 && failCount2 > 0" style="border:1px solid #2773FC;" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="showResDialog=false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加信息价失败弹窗 -->
    <el-dialog title="添加信息价" :visible.sync="showErrorDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/error_img.png" alt="">
        <p class="mt-20">{{ errorMes }}</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="reAddInfoPrice">重新编辑</el-button>
      </span>
    </el-dialog>

    <!-- 正在标准化弹窗 -->
    <el-dialog :title="standardTitle" :visible.sync="showStandard" :close-on-click-modal="false" width="400px" class="com-dialog com-select re-standard">
      <div class="dialog-content">
        <img src="@/assets/img/cs/reStandard2.png" alt="">
        <p>正在标准化...</p>
      </div>
    </el-dialog>

    <!-- 标准化弹窗 -->
    <ScanLoading v-if="startScan" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading" @confirmScan="confirmScan"
      @downloadErrorList="downloadErrorList" />
  </div>
</template>

<script>
import { getTempCustomType } from '@/api/cs/collectTemplate'
import { getCjType } from '@/api/cs/materialManage'
import {
  getMessagePriceDetailHistoryListPage,
  exportMessagePriceHistoryFile,
  pipUploadTemp,
  costUploadTemp,
  infoImportFile,
  addSingleInfoPrice,
  delInfoPrice,
  editInfoPrice
} from '@/api/cs/infoPriceStock'
import { downloadErrorExcel } from '@/api/common'

import ScanLoading from '@/components/ScanLoading'
import { checkNumber } from '@/utils/common'
export default {
  name: 'InfoPriceDetail',
  components: {
    ScanLoading
  },
  filters: {
    filterTaxPoint(val) {
      return val * 100 + '%'
    }
  },
  data() {
    return {
      id: '',
      isZjtcnData: '',
      searchKeyword: '',
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '序号',
        '标准名称',
        '材料名称',
        '编码',
        '规格',
        '单位',
        '信息价（含税）',
        '信息价（除税）',
        '税率',
        '备注',
        '操作'
      ],
      checkedList: [
        // 列表选中的设置项
        '序号',
        '材料名称',
        '规格',
        '单位',
        '信息价（含税）',
        '信息价（除税）',
        '税率',
        '备注',
        '操作'
      ],
      isFold: true,
      exportLoading: false,
      showImportDialog: false,
      curCustomFile: {}, // 当前上传的自定义文件
      importLoading: false,
      infoType: 1,
      scanTimer: null, // 标准化定时器
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      startScan: false, // 开始标准化
      successCount: 0, // 标准化成功数
      failCount: 0, // 标准化失败数
      successCount2: 0, // 添加自定义材料成功数
      failCount2: 0, // 添加自定义材料失败数
      successCount3: 0, // 重新标准化成功数
      failCount3: 0, // 重新标准化失败数
      showResDialog: false, // 自定义信息价导入结果弹窗
      resStatus: '', // 上传自定义文件结果 1成功 2失败
      downloadKeyLoading: false,
      showSingleDialog: false,
      infoParams: {
        classificationCode: '', // 国标分类
        serialNumber: '', // 序号
        name: '', // 材料名称
        spec: '', // 材料规格
        unit: '', // 材料单位
        msgPrice: '', // 价格（除税价）
        remark: '' // 备注
      },
      editInfoZcode: '',
      editInfoId: '',
      standardTitle: '',
      showStandard: false,
      normTypeItem1: '', // 添加自定义信息价-选中国标一级分类
      actNormType2: '', // 添加自定义信息价-选中国标二级分类列表
      downloadKey: '',
      showErrorDialog: false, // 显示添加失败弹窗
      errorMes: '操作失败',
      tempName: ''
    }
  },
  computed: {
    infoTypeToTitle() {
      let res = ''
      switch (this.infoType) {
        case 3:
          res = '添加标准化信息价'
          break
        case 4:
          res = '添加自定义信息价'
          break
        case 5:
          res = '编辑信息价'
      }
      return res
    }
  },
  mounted() {
    this.id = this.$route.query.id
    this.isZjtcnData = this.$route.query.isZjtcnData
    this.tempName = this.$route.query.tempName
    this.getData()
    this.getDetailList()
  },
  methods: {
    // 输入限制
    checkNumber() {
      this.infoParams.msgPrice = checkNumber(this.infoParams.msgPrice)
    },
    // 上传
    uploadCustomFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.curCustomFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 下载文件
    uploadTemp() {
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      if (this.infoType == 1) {
        pipUploadTemp()
          .then(res => {
            // 标准化信息价模板
            this.commUpload(res, loading)
          })
          .catch(err => {
            loading.close()
          })
      } else {
        costUploadTemp()
          .then(res => {
            // 自定义信息价模板
            this.commUpload(res, loading)
          })
          .catch(err => {
            loading.close()
          })
      }
    },
    commUpload(res, loading) {
      // ie11文件下载兼容
      if (navigator.msSaveOrOpenBlob) {
        navigator.msSaveBlob(
          new Blob([res], { type: 'text/csv;charset=utf-8;' }),
          sessionStorage.getItem('blob_filename') || '信息价上传模板.xls'
        )
        loading.close()
        return
      }
      const blob = res
      // 导出excel
      const fileReader = new FileReader()
      try {
        fileReader.readAsDataURL(blob)
      } catch (err) {
        loading.close()
      }
      // 读取文件成功
      fileReader.onload = event => {
        const a = document.createElement('a')
        const _fileName =
          sessionStorage.getItem('blob_filename') || '信息价上传模板.xls'
        a.download = _fileName
        a.href = event.target.result
        document.body.appendChild(a)
        a.click()
        document.body.removeChild(a)
      }
      // 读取完成（成功/失败）
      fileReader.onloadend = event => {
        sessionStorage.removeItem('blob_filename')
        loading.close()
      }
    },
    // 发布
    issueTemp() {
      var formData = new FormData()
      formData.append('historyId', this.id)
      formData.append('isCustomize', this.infoType != 1)

      if (!this.curCustomFile || !this.curCustomFile.size) {
        this.$message({
          type: 'error',
          message: '请上传材料文件'
        })
        return
      }
      formData.append('materialFile', this.curCustomFile)
      this.importFile(formData)
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.showResDialog = false
          this.startScan = false
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            )
            this.downloadKeyLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 标准化完成
    confirmScan() {
      this.startScan = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
    },
    // 导入材料
    importFile(formData) {
      if (this.infoType == 1) {
        // 接口请求开始标准化效果
        this.startScan = true
        this.scanState = '0'
        this.scanTimer = setTimeout(() => {
          infoImportFile(formData)
            .then(res => {
              if (res.code == '01') {
                this.showImportDialog = false
                this.scanState = '1'
                try {
                  this.failCount = res.body.failCount
                  this.successCount = res.body.successCount
                  this.downloadKey = res.body.downloadKey
                } catch (err) {}
                this.currentPage = 1
                setTimeout(() => {
                  this.currentPage = 1
                  this.getDetailList()
                  this.getData()
                }, 2500)
              } else {
                this.scanState = '2'
              }
            })
            .catch(err => {
              this.scanState = '2'
            })
        }, this.$store.getters.loadingTime4)
      } else if (this.infoType == 2) {
        this.showImportDialog = false
        this.resStatus = 3
        this.showResDialog = true
        infoImportFile(formData)
          .then(res => {
            if (res.code == '01') {
              const that = this
              setTimeout(function() {
                that.resStatus = 1
              }, 2500)
              try {
                this.failCount2 = res.body.failCount
                this.successCount2 = res.body.successCount
                this.downloadKey = res.body.downloadKey
              } catch (err) {}

              this.currentPage = 1
              this.getTempDetailList()
            } else {
              this.resStatus = 2
              this.errMsg = res.message
            }
          })
          .catch(err => {})
      }
    },
    // 添加信息价
    addInfoDialog(type) {
      this.infoType = type
      if (type == 1 || type == 2) {
        // 批量添加
        this.curCustomFile = {}
        if (this.$refs.fileElem && this.$refs.fileElem.value) {
          // 清空input的值
          this.$refs.fileElem.value = ''
        }
        this.showImportDialog = true
      } else {
        this.normTypeItem1 = ''
        this.infoParams = {
          classificationCode: '', // 国标分类
          serialNumber: '', // 序号
          name: '', // 材料名称
          spec: '', // 材料规格
          unit: '', // 材料单位
          msgPrice: '', // 价格（除税价）
          remark: '' // 备注
        }
        this.showSingleDialog = true
      }
    },
    // 添加单条信心价（标准化/自定义）
    addInfoPrice() {
      if (this.infoType == 4 && !this.normTypeItem1) {
        this.$message({
          type: 'error',
          message: '请选择国标分类'
        })
        return
      } else if (this.infoType == 4 && !this.infoParams.classificationCode) {
        this.$message({
          type: 'error',
          message: '请选择国标二级分类'
        })
        return
      } else if (!this.infoParams.name) {
        this.$message({
          type: 'error',
          message: '请输入材料名称'
        })
        return
      } else if (!this.infoParams.unit) {
        this.$message({
          type: 'error',
          message: '请输入材料单位'
        })
        return
      } else if (!this.infoParams.msgPrice) {
        this.$message({
          type: 'error',
          message: '请输入材料价格'
        })
        return
      } else if (this.infoType == 5) {
        let isCustomize = false
        this.standardTitle = '编辑信息价'
        if (!this.editInfoZcode) {
          isCustomize = true
        }

        this.showStandard = true
        this.showSingleDialog = false

        const parms = { ...this.infoParams, id: this.editInfoId }

        editInfoPrice(parms, {
          isCustomize
        }).then(res => {
          const that = this
          setTimeout(function() {
            that.showStandard = false
            if (res.code == '01') {
              that.$message({
                type: 'success',
                message: res.message
              })
              that.currentPage = 1
              that.getDetailList()
            } else {
              that.showErrorDialog = true
              that.errorMes = res.body || res.message
            }
          }, 2500)
        })
      } else {
        let isCustomize = false
        if (this.infoType === 3) {
          // 添加单条信息价
          this.standardTitle = '添加标准化信息价'
          this.showStandard = true
          this.showSingleDialog = false
        } else {
          // 添加单条自定义信息价
          this.standardTitle = '添加自定义信息价'
          isCustomize = true
        }

        addSingleInfoPrice(this.infoParams, {
          historyId: this.id,
          isCustomize
        }).then(res => {
          this.showStandard = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.currentPage = 1
            this.getDetailList()
          } else {
            this.showErrorDialog = true
            this.errorMes = res.body || res.message
          }
          this.showSingleDialog = false
        })
      }
    },
    // 编辑信息价
    editInfoPrice(row) {
      this.infoType = 5
      this.infoParams.classificationCode = row.subcId
      const midCode = row.subcId.slice(0, 2)
      for (let i = 0, l = this.normType.length; i < l; i++) {
        if (this.normType[i].code == midCode) {
          this.normTypeItem1 = this.normType[i]
          this.actNormType2 = this.normTypeItem1.sub
          console.log(this.normType[i])
          break
        }
      }
      this.infoParams.serialNumber = row.sortNo
      this.infoParams.name = row.name
      this.infoParams.spec = row.spec
      this.infoParams.unit = row.unit
      this.infoParams.msgPrice = row.messagePrice
      this.infoParams.remark = row.remark
      this.editInfoZcode = row.zcode
      this.editInfoId = row.id
      this.showSingleDialog = true
    },
    // 删除信息价
    delInfoPrice(row) {
      console.log(row)
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          delInfoPrice({
            ids: row.id
          }).then(res => {
            if (res.code == '01') {
              this.getDetailList()
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
            } else {
              this.$message({
                type: 'error',
                message: res.body || res.message
              })
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    // 新增信息价失败-重新编辑
    reAddInfoPrice() {
      this.showErrorDialog = false
      this.showSingleDialog = true
    },
    // 全部导出
    exportAllFile() {
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem
      var data = {
        subcId: subcId || null,
        historyId: this.id
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMessagePriceHistoryFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '历史信息价库.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '历史信息价库.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
        this.exportAllFile()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }

      var data = {
        historyId: this.id,
        ids: ids.join(',')
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMessagePriceHistoryFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '历史信息价库.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '历史信息价库.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDetailList()
    },
    // 详情列表
    getDetailList() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem
      if (customTypeId === '0') {
        customTypeId = null
      }
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        historyId: this.id,
        // customTypeId: customTypeId ? customTypeId : null,
        subcId: subcId || null,
        keyCode: this.searchKeyword ? this.searchKeyword : null
      }
      this.loading = true
      getMessagePriceDetailHistoryListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      Promise.all([getTempCustomType(), getCjType()]).then(res => {
        // 自定义材料分类
        var data01 = res[0]
        if (data01.code == '01') {
          this.customType = data01.body
        }

        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }
      })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }
      this.currentPage = 1
      this.getDetailList()
    },
    changeNormTypeItem(code) {
      this.curNormTypeItem = code
      this.currentPage = 1
      this.getDetailList()
    },
    // 添加自定义信息价-选中国标一级分类时
    changeNormItem1(e) {
      console.log(e)
      this.actNormType2 = e.sub
      if (this.infoParams.classificationCode) {
        this.infoParams.classificationCode = ''
      }
    },
    // 添加自定义信息价-选中国标二级分类时
    changeNormItem2(e) {},
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.curCustomTypeItem = id
      this.currentPage = 1
      this.getDetailList()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      this.curCustomTypeItem = ''
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
        } else {
          this.customTypeItem = this.customType[index].sub
          this.curCustomType = this.customType[index].id
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
      }
      this.currentPage = 1
      this.getDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDetailList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    },
    // 数值校验
    checkInput() {
      // 只能输入英文、数字
      this.infoParams.serialNumber = this.infoParams.serialNumber.replace(
        /[^0-9]/g,
        ''
      )
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h1 {
      padding: 30px 20px;
      color: #333;
      font-size: 26px;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .trend-icon {
    width: 24px;
    height: 24px;
  }
  .trend-dialog {
    .info-wrap {
      width: 100%;
      height: 338px;
      box-sizing: border-box;
    }
  }

  .re-standard {
    padding: 20px;
    color: #333333;
    .suc-num3 {
      color: #8cc929;
    }
    .err-num3 {
      color: $color-danger;
    }
    img {
      margin-bottom: 20px;
    }
    .dialog-content {
      text-align: center;
    }
  }
  .com-dialog {
    .redtips {
      color: $color-danger;
      margin-left: 20px;
    }
    .label-text {
      margin-right: 10px;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      display: block;
      min-width: 90px;
      max-width: 90px;
    }
    .special-text {
      text-align: left;
      min-width: 0;
      width: 80px;
      // margin-right:10px;
    }
    .set-type-wrap {
      .r-color {
        margin-right: 5px;
        font-size: 16px;
      }
      > div {
        text-align: center;
        margin-bottom: 15px;
        > span {
          margin-right: 8px;
          white-space: nowrap;
        }
      }
    }
  }
}

.resultdialog {
  .scan-success2 {
    flex-direction: column;
    padding: 48px 0 20px 0;
    font-size: 14px;
    color: #333;
    .img2 {
      width: 56px;
      height: 56px;
      margin-bottom: 30px;
    }
    .suc-num2 {
      color: #8cc929;
    }
    .err-num2 {
      color: $color-danger;
    }
  }
}
.remark-dialog {
  p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
  }
  .el-select ::v-deep .el-input__suffix {
    right: 12px;
  }
}

.mytemp {
  padding-right: 20px;
  position: relative;
  .tips {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    bottom: -2px;
  }
}

.special-div {
  display: flex;
  width: 100%;
  align-items: center;
  .el-select {
    flex: 1;
  }
}
.special-c {
  position: relative;
  .special-input {
    &::before {
      content: '%';
      position: absolute;
      right: 5px;
      top: 50%;
      font-size: 16px;
      transform: translateY(-50%);
    }
  }
  .special-tip {
    position: absolute;
    bottom: -16px;
    left: 80px;
    font-size: 12px;
  }
  img {
    cursor: pointer;
  }
}

.special-operate-wrap {
  button {
    display: block;
    padding: 0;
    margin-right: 0 !important;
    margin-left: 3px;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }
}
</style>
