<template>
  <div class="real-container box-content mt-10">
    <!-- 行业树 -->
    <div class="content-left mr-10">
      <category-tree @nodeClick="nodeClick" :placeholder="'输入所属行业搜索'" />
    </div>
    <div class="content-right">
      <div class="top tab-content pb-0">
        <!-- 切换标签 -->
        <div class="flex-c com-menu-wrap">
          <div class="cp m-item" :class="{ active: activeTab === '经济指标' }" @click="changeMenu('经济指标')">
            <span>经济指标</span>
            <div class="t-line"></div>
          </div>
          <div class="cp m-item" :class="{ active: activeTab === '技术指标' }" @click="changeMenu('技术指标')">
            <span>技术指标</span>
            <div class="t-line"></div>
          </div>
        </div>
        <!-- 工程类型 -->
        <!-- <div class="flex-fs custom-type screen">
          <category-condition ref="categoryRef" :curMenu="activeTab" @refreshData="refreshData" :specialtyType="specialtyType" :projectType="projectType" :engType="engType" />
        </div> -->
        <!-- 适用地区 -->
        <div v-if="activeTab === '经济指标'" class="flex-fs custom-type ml-20 pt-20">
          <span class="com-label-text">适用地区</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <!-- <li :class="{ active: applyProvince === '' }" @click="changeApplyProvince('', '')">
                全部
              </li> -->
              <li v-show="index <= 7 || morePro" :class="{ active: applyProvince == item.name }" v-for="(item, index) in applyProvinceList" :key="item.id"
                @click="changeApplyProvince(index, item.name)">
                {{ item.name }}
              </li>
              <span class="more mb-10" v-if="applyProvinceList && applyProvinceList.length > 8" @click="morePro = !morePro">
                {{ morePro ? "收起" : "更多" }}
                <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': morePro }"></span>
              </span>
            </ul>
            <ul class="flex-cw all-list" v-if="applyCityList && applyCityList.length > 0">
              <!-- <li :class="{ active: applyCityName == '' }" @click="changeApplyCity('', '')">
                全部
              </li> -->
              <li v-show="index <= 7 || moreCity" :class="{ active: applyCityName == item.name }" v-for="(item, index) in applyCityList" :key="item.id" @click="changeApplyCity(index, item.name)">
                {{ item.name }}
              </li>
              <span class="more" v-if="applyCityList && applyCityList.length > 8" @click="moreCity = !moreCity">
                {{ moreCity ? "收起" : "更多" }}
                <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': moreCity }"></span>
              </span>
            </ul>
          </div>
        </div>
      </div>
      <!-- 功能按钮/表格/分页 -->
      <div class="main">
        <div class="com-table table-wrap bottom">
          <div class="title">
            <div class="b-title">常用综合指标</div>
          </div>
          <div class="flex-csb main-tab">
            <el-tabs type="border-card" v-model="activeStage">
              <template v-for="item in stateList">
                <el-tab-pane :label="item.useName" :name="item.useName" :key="item.id" v-if="!(activeTab == '技术指标' && item.useName == '估算')"></el-tab-pane>
              </template>
            </el-tabs>
            <div class="flex-csb">
              <div class="flex-cc cp mr-20" @click="setTarget">
                <img src="@/assets/img/v2.0/icons/setting.png" alt="" />
                <span class="ml-5">设置实时指标</span>
              </div>
              <div class="flex-cc cp" @click="downloadTarget">
                <img src="@/assets/img/v2.0/icons/download.png" alt="" />
                <span class="ml-5">下载指标</span>
              </div>
            </div>
          </div>
          <div class="flex-c center">
            <!-- 搜索 -->
            <div class="com-search2 mt-20 mb-20">
              <el-input class="search-ipt" placeholder="请输入指标名搜索" v-model="searchVal" @keyup.enter.native="
                  currentPage = 1;
                  getTableList();
                " />
              <i class="el-icon-search" @click="
                  currentPage = 1;
                  getTableList();
                "></i>
            </div>
          </div>
          <div class="top tab-content">
            <div class="flex-fs custom-type screen">
              <category-condition ref="categoryRef" :curMenu="activeTab" @refreshData="refreshData" :specialtyType="specialtyType" :projectType="projectType" :engType="engType" />
            </div>
          </div>
          <!-- 表内容 -->
          <div class="table-box com-table-wrap">
            <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" v-loading="tableLoading" class="table-main" style="width: 100%" border highlight-current-row
              @current-change="changeRow">
              <el-table-column label="序号" min-width="65" align="center">
                <template slot-scope="scope">
                  <span class="t-color">{{ scope.$index + 1 }}</span>
                </template>
              </el-table-column>
              <el-table-column label="指标名称">
                <template slot-scope="scope">
                  <span class="p-color cp" @click.stop="toDetail(scope.row)">
                    {{ scope.row.name }}
                  </span>
                </template>
              </el-table-column>
              <el-table-column label="阶段" min-width="65" prop="stageConfigName"></el-table-column>
              <el-table-column label="指标分类" prop="type" min-width="105"></el-table-column>
              <el-table-column :label="activeTab === '经济指标' ? '经济指标' : '技术指标'">
                <template slot-scope="scope">
                  <span class="t-color">{{
                    formatNumber(scope.row.econStd, true)
                  }}</span>
                </template>
              </el-table-column>
              <!-- <el-table-column label="所属单位工程" min-width="95">
                <template slot-scope="scope">
                  <span class="t-color">{{
                    scope.row.stdName || "--/--"
                  }}</span>
                </template>
              </el-table-column> -->
              <template v-if="activeTab === '经济指标'">
                <el-table-column label="适用地区" prop="projectSVenue"></el-table-column>
                <el-table-column label="适用时间" prop="applicableDate" min-width="90"></el-table-column>
              </template>
            </el-table>
            <!-- 分页 -->
            <div class="flex-csb com-pages-wrap">
              <div class="flex-c left-page">
                <span>当前显示</span>
                <div class="flex-cc cur-page">
                  <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                    <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item">
                    </el-option>
                  </el-select>
                </div>
                <span>条</span>
                <span class="total-num">共{{ totalCount }}条数据</span>
              </div>
              <div class="flex-c right-page">
                <el-pagination background @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount">
                </el-pagination>
                <div class="com-page-btn">确定</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 右侧面板 -->
        <div class="com-table table-wrap right-info">
          <div class="tab-info">
            <div class="title flex-csb mr-20">
              <div class="b-title">已选特征</div>
              <div class="target flex-c">
                <el-button class="btn btn3" @click="filterDialog = true">特征筛选
                </el-button>
                <el-button class="btn btn3" @click="sampleDialog = true">查看样本
                </el-button>
              </div>
            </div>
            <div class="line flex-c" v-for="(item, key) in featureList" :key="key" v-show="item.featureChecked.length">
              <div class="mr-20" style="min-width: 60px">{{ item.name }}</div>
              <div class="com-label-text">
                {{ item.featureChecked.join(",") }}
              </div>
            </div>
          </div>
          <div class="title">
            <div class="b-title">重新计算综合指标配置</div>
          </div>
          <div class="retime-list">
            <div class="flex-c mt-4">
              <span class="label-text">样本时间范围：</span>
              <div class="com-time-search">
                <el-date-picker v-model="startDate" type="month" placeholder="选择日期" value-format="yyyy-MM" :picker-options="pickerOptions1">
                </el-date-picker>
              </div>
              <span class="com-line"></span>
              <div class="com-time-search">
                <el-date-picker v-model="endDate" type="month" placeholder="选择日期" value-format="yyyy-MM" :picker-options="pickerOptions2">
                </el-date-picker>
              </div>
              <!-- <div v-if="!startDate && !endDate" class="ml-10">
                <el-tooltip effect="light" placement="top">
                  <img
                    src="@/assets/img/v2.0/icons/red_tip.png"
                    alt=""
                    class="mr-5"
                  />
                  <div slot="content" class="r-color">请选择时间范围</div>
                </el-tooltip>
              </div> -->
            </div>
            <div class="flex-c mt-20">
              <span class="label-text">选择算法：</span>
              <div class="select-way">
                <el-select v-model="curWay" placeholder="请选择">
                  <el-option v-for="item in wayList" :key="item" :label="item" :value="item">
                  </el-option>
                </el-select>
              </div>
            </div>
            <template v-if="activeTab == '经济指标'">
              <div class="flex-c mt-20 unify-time">
                <span class="label-text">统一换算时间：</span>
                <el-date-picker v-model="scalerDate" type="month" placeholder="选择日期" value-format="yyyy-MM" :picker-options="pickerOptions">
                </el-date-picker>
              </div>
            </template>
          </div>
          <div class="addup-again cp flex-c" @click="addUp" :style="proCode ? '' : 'pointer-events: none;background: #ccc;'">重新计算</div>
          <div class="table-box com-table-wrap" v-if="showTable">
            <el-table :data="tableData2" tooltip-effect="dark" v-loading="tableLoading2" class="table-main" style="width: 100%">
              <el-table-column label="指标名称" prop="name"> </el-table-column>
              <el-table-column :label="
                  this.activeTab == '经济指标' ? '综合经济指标' : '综合技术指标'
                ">
                <template slot-scope="scope">
                  <div>
                    {{ formatNumber(scope.row.target, true) || "--/--" }}
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>

    <!-- 样本数据弹窗 -->
    <el-dialog :visible.sync="sampleDialog" :show-close="false" width="560px" class="com-dialog sampleDialog" :close-on-click-modal="false">
      <div class="table-box">
        <div class="title flex-csb mb-10">
          <div class="b-title">
            样本数据({{ (tableData3 && tableData3.length) || 0 }}个)
          </div>
          <div class="back cp" @click="sampleDialog = false">返回</div>
        </div>
        <div class="pl-10 mb-10">指标名称: {{ proName }}</div>
        <el-table :data="tableData3" tooltip-effect="dark" class="table-main" height="400" style="width: 100%">
          <el-table-column label="所属项目名称" width="150px">
            <template slot-scope="scope">
              <div class="ellipsis1" :title="scope.row.projectName">
                {{ scope.row.projectName }}
              </div>
            </template>
          </el-table-column>
          <template v-if="activeTab === '经济指标'">
            <el-table-column label="造价金额(元)">
              <template slot-scope="scope">
                <div>{{ formatNumber(scope.row.totalPrice) }}</div>
              </template>
            </el-table-column>
            <el-table-column label="经济指标" align="center">
              <template slot-scope="scope">
                <div class="p-color cp" @click="toTargetDetail(scope.row)">{{ formatNumber(scope.row.econStd, true) }}</div>
              </template>
            </el-table-column>
          </template>
          <template v-else>
            <el-table-column label="总含量">
              <template slot-scope="scope">
                <div>{{ formatNumber(scope.row.price, true) }}</div>
              </template>
            </el-table-column>
            <el-table-column label="技术指标" align="center">
              <template slot-scope="scope">
                <div class="p-color cp" @click="toTargetDetail(scope.row)">{{ formatNumber(scope.row.econStd, true) }}</div>
              </template>
            </el-table-column>
          </template>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <div class="switch">
                <el-switch v-model="scope.row.isQualified" active-color="#2773FC" inactive-color="#C2C2C2">
                </el-switch>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="addAgainDialog = true" :disabled="!tableData3.length">重新计算</el-button>
      </span>
    </el-dialog>

    <!-- 重新计算提示弹窗 -->
    <el-dialog title="操作提示" :visible.sync="addAgainDialog" width="420px" align="center" class="com-dialog add-again" :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="" class="mt-20 mb-20" />
      <p class="ml-20">重新计算,则按当前所选样本进行计算!</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addAgainDialog = false">取消</el-button>
        <el-button type="primary" @click="addupAgain">确定</el-button>
      </span>
    </el-dialog>

    <!-- 特征筛选提示弹窗 -->
    <el-dialog title="特征筛选" :visible.sync="filterDialog" width="1180px" class="add-again filterDialog" :close-on-click-modal="false" :show-close="false">
      <div v-for="(item, key) in featureList" :key="key" class="flex-c div-row mb-20">
        <span class="label-text">{{ item.name }}：</span>
        <div class="div-spans">
          <el-checkbox :indeterminate="featureList[key].indeterminates" v-model="featureList[key].featureAll" @change="conditionCheckAllChange($event, key)" class="all">
            全部
          </el-checkbox>
          <el-checkbox-group v-model="featureList[key].featureChecked" @change="conditionCheckedFeaturesChange($event, key)">
            <el-checkbox v-for="(it, idx) in featureItem(item.defaultValues)" :label="it" :key="item.name + idx + it">
              {{ it }}
            </el-checkbox>
          </el-checkbox-group>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="filterFeature">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  consultListPage,
  consultExport,
  featureInfo,
  consultAgainCalculation,
  consultCalculation
} from '@/api/target'
import { getTecFeature } from '@/api/targetApplication'
import { getAreaTree } from '@/api/common'

import CategoryTree from '@/components/CategoryTree/index.vue'
import CategoryCondition from '../target/components/CategoryCondition.vue'

export default {
  name: 'TargetReal',
  components: {
    CategoryTree,
    CategoryCondition
  },

  data() {
    return {
      activeTab: '经济指标', // 指标类型
      specialtyType: '', // 专业类型
      projectType: '', // 项目类型
      engType: '', // 工程类型
      specialtyCode: '', // 工程code(树)
      code: '', // 工程类型code
      proTypeName: '', // 工程类型name
      activeStage: '概算', // 阶段类型
      stageId: '', // 阶段id
      searchVal: '', // 搜索关键字
      featureList: [], // 技术特征

      applyProvinceList: [], // 适用省数组
      applyProvince: '', // 适用地区(省)
      applyCityList: [], // 适用城市数组
      applyCityName: '', // 适用地区(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市

      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      tableLoading: false, // 表格loading
      tableData: [], // 表格数据(常用指标)
      tableData3: [], // 样本数据

      sampleDialog: false, // 是否显示样本数据弹窗
      addAgainDialog: false, // 是否显示重新计算提示弹窗
      filterDialog: false, // 是否显示特征筛选弹窗
      featureChecked: {}, // 选中的技术特征
      featureAll: {}, // 全选
      indeterminates: {}, // 不确定状态

      startDate: null, // 开始时间
      endDate: null, // 结束时间
      scalerDate: null, // 换算时间
      pickerOptions: {
        // 换算时间限制（不可选未来时间）
        disabledDate: time => {
          return time.getTime() > Date.now()
        }
      },
      pickerOptions1: {
        // 开始时间不可大于结束时间
        disabledDate: time => {
          if (this.endDate) {
            const end = this.endDate
            return time.getTime() > new Date(end)
          }
        }
      },
      pickerOptions2: {
        // 结束时间不可小于开始时间
        disabledDate: time => {
          if (this.startDate) {
            const start = this.startDate
            return time.getTime() < new Date(start)
          }
        }
      },
      wayList: ['算术平均', '正态分布', '中位数'], // 计算算法
      curWay: '正态分布', // 所选算法
      proCode: '', // 选中综合指标的code
      proName: '', // 选中综合指标的name
      proConfigName: '', // 选中综合指标的阶段
      proProvince: '', // 选中综合指标的省份
      proCity: '', // 选中综合指标的城市

      showTable: false, // 初始不显示表格
      tableData2: [], // 表格数据(常用指标)
      tableLoading2: false, // 表格loading
      ids: [], // 样本指标id数组
      unids: [] // 样本指标id数组(不参与计算)
    }
  },

  created() {
    this.getAreaTree() // 获取适用地区
    // 默认条件
    this.morePro = true
    this.applyProvince = '广东省'
    this.applyCityName = '广州市'
  },

  mounted() {
    this.getTecFeature() // 获取技术特征
  },

  computed: {
    // 造价阶段列表
    stateList() {
      return this.$store.state.project.stageList
    }
  },

  watch: {
    // 切换指标阶段
    activeStage() {
      this.currentPage = 1
      this.getTableList()
    }
  },

  methods: {
    // 跳转到指标详情
    toTargetDetail(item) {
      this.$router.push({
        path: '/target/detail',
        query: {
          id: item.id,
          type: this.activeTab == '经济指标' ? 1 : 2,
          projectName: item.projectName
        }
      })
    },

    // 筛选所属行业
    nodeClick(specialtyType, projectType, engType, specialtyCode) {
      this.engType = engType
      this.projectType = projectType
      this.specialtyType = specialtyType
      this.specialtyCode = specialtyCode

      console.log('工程类型点击', this.specialtyType)

      this.$nextTick(() => {
        this.getTecFeature()
        this.currentPage = 1
        this.getTableList()
        // 刷新工程类型
        this.$refs.categoryRef.getProjectType(this.activeTab)
      })
    },

    // 切换tab
    changeMenu(item) {
      this.showTable = false
      this.activeTab = item
      if (this.activeTab == '技术指标' && this.activeStage == '估算') {
        this.activeStage = '概算'
      }
      this.$refs.categoryRef.changeCurFirst(null)
    },

    // 工程类型刷新数据
    refreshData(res) {
      this.code = res.code
      this.proTypeName = res.name
      this.currentPage = 1
      this.getTableList()
    },

    // 切换工程类型
    updateScreen() {},

    // 获取适用地区（省，市）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.applyProvinceList = res.body
          // 初始选中省市
          for (var i = 0; i < this.applyProvinceList.length; i++) {
            if (this.applyProvinceList[i].name == '广东省') {
              this.applyCityList = this.applyProvinceList[i].sub
            }
          }
        }
      })
    },

    // 切换适用省份
    changeApplyProvince(index, name) {
      if (index === '') {
        this.applyProvince = ''
        this.applyCityName = ''
        this.applyCityList = []
      } else {
        for (var i = 0; i < this.applyProvinceList.length; i++) {
          if (this.applyProvinceList[i].name == name) {
            this.applyProvince = this.applyProvinceList[i].name
            this.applyCityList = this.applyProvinceList[i].sub
            this.applyCityName = ''
          }
        }
      }
      this.currentPage = 1
      this.getTableList()
    },

    // 切换适用城市
    changeApplyCity(index, name) {
      if (index === '') {
        this.applyCityName = ''
      } else {
        for (var i = 0; i < this.applyCityList.length; i++) {
          if (this.applyCityList[i].name == name) {
            this.applyCityName = this.applyCityList[i].name
          }
        }
      }
      this.currentPage = 1
      this.getTableList()
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTableList()
    },

    // 设置常用指标
    setTarget() {
      if (this.activeTab == '经济指标') {
        this.$router.push('/targetSet/economicTarget')
      } else this.$router.push('/targetSet/technologyTarget')
    },

    // 获取表格数据
    getTableList() {
      this.stateList.forEach(item => {
        if (this.activeStage == item.useName) this.stageId = item.id
      })
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchVal,
        specialtyType: this.specialtyType,
        projectType: this.projectType,
        engType: this.engType,
        stageConfigId: this.stageId,
        code: this.code
      }

      if (this.activeTab == '经济指标') {
        data.type = 1
        data.province = this.applyProvince
        data.city = this.applyCityName
      } else {
        data.type = 2
      }

      this.tableLoading = true
      consultListPage(data)
        .then(res => {
          this.tableLoading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
            if (this.tableData.length) {
              setTimeout(() => {
                // 默认选中第一条
                this.$refs.multipleTable.setCurrentRow(res.body.list[0])

                // this.proCode = res.body.list[0].code;
                // this.proName = res.body.list[0].name;
                // this.getDeature(this.tableData[0].pluralConfigId); // 初始回显特征
                // this.tableData3 = this.tableData[0].calculationModels; // 初始样本数据

                // if (this.tableData3 && this.tableData3.length) {
                //   let ids = [],
                //     unids = [];
                //   this.tableData3.forEach((item) => {
                //     if (item.isQualified) {
                //       ids.push(item.id);
                //     } else {
                //       unids.push(item.id);
                //     }
                //   });
                //   this.ids = ids;
                //   this.unids = unids;
                // }
              }, 0)
            } else {
              this.proCode = ''
              this.proName = ''
              this.proConfigName = ''
              this.proProvince = ''
              this.proCity = ''
              this.tableData3 = []
            }
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.tableLoading = false
        })
    },

    // 切换指标(改变特征,样本,code)
    changeRow(newRow) {
      if (newRow && newRow.pluralConfigId) {
        this.proCode = newRow.code
        this.proName = newRow.name
        this.proConfigName = newRow.stageConfigName
        this.proProvince = newRow.province
        this.proCity = newRow.city
        this.tableData3 = newRow.calculationModels // 样本数据
        this.getDeature(newRow.pluralConfigId) // 回选特征
      }
    },

    //
    toDetail(item) {
      let selectIds = []
      if(item.calculationModels && item.calculationModels.length) {
        item.calculationModels.forEach(it=>{
          selectIds.push(it.id)
        })
      }
      const routeData = this.$router.resolve({
        path: '/target/calculate',
        query: {
          ids: selectIds.join(','),
          type: this.activeTab == '经济指标' ? 1 : 2 // 1.经济 2.技术
        }
      })
      window.open(routeData.href, '_blank')
    },

    // 下载指标
    downloadTarget() {
      if (this.tableData.length == 0) {
        this.$message({
          type: 'error',
          message: '暂无可下载指标'
        })
        return
      }
      this.stateList.forEach(item => {
        if (this.activeStage == item.useName) this.stageId = item.id
      })
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchVal,
        specialtyType: this.specialtyType,
        projectType: this.projectType,
        engType: this.engType,
        type: this.activeTab == '经济指标' ? 1 : 2,
        province: this.applyProvince,
        city: this.applyCityName,
        stageConfigId: this.stageId,
        code: this.code,
        engTypeName: this.proTypeName
      }
      consultExport(data).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '指标.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {
          console.log(err)
        }
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '指标.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },

    // 字符串转数组
    featureItem(str) {
      let arr = []
      if (str) arr = str.split(',')
      return arr
    },

    // 技术特征复选-全选
    conditionCheckAllChange(val, key) {
      const featureArr = val ? this.featureList[key].featureArr : []
      this.$set(this.featureList[key], 'featureChecked', featureArr)
      this.featureList[key].indeterminates = false
    },
    conditionCheckedFeaturesChange(value, key) {
      this.$emit('change', this.featureList[key].featureChecked)
      const checkedCount = this.featureList[key].featureChecked.length
      const featuresLen = this.featureList[key].featureArr.length
      this.featureList[key].featureAll = checkedCount === featuresLen
      this.featureList[key].indeterminates =
        checkedCount > 0 && checkedCount < featuresLen
    },

    // 获取所有技术特征
    getTecFeature() {
      getTecFeature({ code: this.specialtyCode }).then(res => {
        if (res && res.code == '01') {
          this.featureList = res.body

          if (this.featureList && this.featureList.length) {
            for (let i = 0, l = this.featureList.length; i < l; i++) {
              const arr = this.featureList[i].defaultValues.split(',')
              this.$set(this.featureList[i], 'featureArr', arr)
              // $set实现双向绑定，实时更新视图
              this.$set(this.featureList[i], 'featureAll', false)
              this.$set(this.featureList[i], 'indeterminates', false)
              this.$set(this.featureList[i], 'featureChecked', [])
            }
          }
        }
      })
    },

    // 回显技术特征
    getDeature(id) {
      const params = { id }
      featureInfo(params).then(res => {
        if (res && res.code == '01') {
          const featureList = this.featureList
          const list = res.body.tecEntityList
          if (list && list.length) {
            list.forEach(item => {
              featureList.forEach((it, idx) => {
                if (item.tecFeatureId == it.tecFeatureId) {
                  this.featureList[idx].featureChecked = item.value.split(',')
                  this.conditionCheckedFeaturesChange(null, idx)
                }
              })
            })
          }
        }
      })
    },

    // 筛选特征
    filterFeature() {
      // 参数设置验证
      // let hasFeature = false;
      // for(const key in this.featureList) {
      //   if(this.featureList[key].featureChecked.length > 0) {
      //     hasFeature = true
      //     break;
      //   }
      // }
      // if (!hasFeature) {
      //   this.$message({
      //     type: "error",
      //     message: "请选择技术特征",
      //   });
      //   return;
      // }
      this.filterDialog = false
    },

    // 开始计算
    addUp() {
      // if (!this.startDate || !this.endDate) {
      //   this.$message({
      //     type: "error",
      //     message: "请先选择样本时间范围",
      //   });
      //   return;
      // }
      if (!this.proCode) return
      let stageId = ''
      this.stateList.forEach(item => {
        if (this.proConfigName == item.useName) stageId = item.id
      })
      this.tableLoading2 = true
      const data = {
        calType:
          this.curWay == '算术平均'
            ? 'AM'
            : this.curWay == '正态分布'
              ? 'PN'
              : 'MN',
        type: this.activeTab == '经济指标' ? 1 : 2,
        city: this.proCity,
        province: this.proProvince,
        date: this.scalerDate,
        endDate: this.endDate,
        startDate: this.startDate,
        engType: this.engType,
        projectType: this.projectType,
        specialtyType: this.specialtyType,
        stageConfigId: stageId,
        code: this.proCode,
        portType: 1
      }
      // 技术特征匹配
      if (this.featureList.length) {
        const arr = []
        for (let i = 0, l = this.featureList.length; i < l; i++) {
          if (this.featureList[i].featureChecked.length) {
            const obj = {
              id: this.featureList[i].tecFeatureId,
              featureValue: this.featureList[i].featureChecked.join(',')
            }
            arr.push(obj)
          }
        }
        data.tecFeatureMapReqs = arr
      }
      consultCalculation(data).then(res => {
        this.tableLoading2 = false
        if (res && res.code == '01') {
          if (res.body) {
            this.showTable = true
            this.tableData2 = [res.body]
            this.tableData3 = res.body.list
          } else {
            this.showTable = true
            this.tableData2 = []
            this.tableData3 = []
            this.$message({
              type: 'error',
              message: '样本数量低于2,无法计算'
            })
          }
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 重新计算
    addupAgain() {
      this.ids = []
      this.unids = []
      if (this.tableData3 && this.tableData3.length) {
        const ids = []
        const unids = []
        this.tableData3.forEach(item => {
          if (item.isQualified) {
            ids.push(item.id)
          } else {
            unids.push(item.id)
          }
        })
        this.ids = ids
        this.unids = unids
      }
      if(this.ids.length < 2) {
        this.$message({
          type: 'error',
          message: '样本数量低于2,无法计算'
        })
        return
      }

      const data = {
        calType:
          this.curWay == '算术平均'
            ? 'AM'
            : this.curWay == '正态分布'
              ? 'PN'
              : 'MN',
        coef: this.curWay == '正态分布' ? 1.5 : 1,
        type: this.activeTab == '经济指标' ? 1 : 2,
        conversionTime: this.scalerDate,
        removeIds: this.unids,
        ids: this.ids,
        proportion: 90
        // forcibly
      }
      consultAgainCalculation(data).then(res => {
        if (res && res.code == '01') {
          if (res.body) {
            this.showTable = true
            this.tableData2 = [res.body]
            this.tableData3 = res.body.list
          }
          this.sampleDialog = false
          this.addAgainDialog = false
          this.$message({
            type: 'success',
            message: res.message || '计算成功'
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 勾选样本数据
    switchStatus(e, id) {
      if (!e) {
        this.ids.splice(this.ids.indexOf(id), 1)
        this.unids.push(id)
      } else {
        this.unids.splice(this.ids.indexOf(id), 1)
        this.ids.push(id)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
@import '../target/components/css/target-content.scss';
.real-container {
  display: flex;
  .div-spans {
    flex: 1;
    display: flex;
    color: #999999;
    span {
      margin-right: 10px;
      line-height: 25px;
    }
    .all {
      margin-right: 28px !important;
    }
  }
  .sampleDialog {
    .back {
      color: $color-danger;
      border: 1px solid;
      padding: 5px 25px;
      border-radius: 4px;
    }
  }
  .com-label-text .com-label-text {
    padding: 2px 0;
  }
  .content-left {
    width: 200px;
    background: #fff;
    border-radius: 8px;
    padding: 20px 15px;
  }
  .content-right {
    // flex: 1;
    width: calc(100% - 210px);
    .com-time-search {
      .el-date-editor.el-input {
        box-shadow: none;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
        height: 32px;
      }
      &::v-deep .el-date-editor .el-input__inner {
        border-radius: 0;
        height: 32px;
      }
    }
    .custom-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }
      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
      }
      .el-icon-arrow-up,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        max-height: 50px;
        overflow-y: hidden;
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
    }
    .top {
      padding: 1px 0 16px 0;
      border-radius: 4px;
      background: #ffffff;
      .title {
        padding: 16px 0;
        margin-left: -8px;
      }
    }
    .center {
      padding: 0 15px 0 17px;
      margin-bottom: 11px;
    }
    .main {
      display: flex;
      margin-top: 10px;
      width: 100%;
      > div {
        border-radius: 8px;
        background: #fff;
        // min-height: 618px;
      }
      .main-tab {
        margin: 20px 15px 0 17px;
      }
      .right-info {
        width: 545px;
        margin-left: 8px;
        padding-bottom: 20px;
        .title {
          padding: 20px 0;
          .b-title {
            margin-left: 0;
          }
        }
        .tab-info {
          border-radius: 0px 8px 8px 8px;
          .line {
            // color: #999999;
            font-weight: bold;
            font-size: 14px;
            padding: 0 25px 21px;
            .com-label-text {
              font-size: 14px;
              color: #f9a147;
            }
          }
        }
        .label-text {
          min-width: 96px;
          text-align: right;
          margin-right: 10px;
        }
        .select-way {
          .el-select {
            width: 354px;
          }
          &::v-deep .el-input__inner {
            height: 32px;
          }
          &::v-deep .el-input__suffix {
            top: 6px;
            right: 16px;
          }
          &::v-deep .is-focus {
            .el-input__suffix {
              top: -2px;
            }
          }
        }
        .retime-list {
          padding: 0 20px;

          .unify-time {
            .el-date-editor.el-input {
              width: 354px;
            }
            &::v-deep .el-input--prefix .el-input__inner {
              height: 32px;
            }
            &::v-deep .el-date-editor .el-input__prefix {
              top: -3px;
            }
          }
        }
        .addup-again {
          width: 280px;
          height: 36px;
          background: #1789f2;
          border-radius: 4px;
          margin: 28px auto 20px;
          color: #ffffff;
          justify-content: center;
        }
      }

      .table-box {
        padding-bottom: 30px;
        margin: 0 15px 0 17px;
        .t-color {
          font-weight: 400;
          color: $table-color;
          .typetip {
            color: #999;
            font-size: 13px;
          }
        }
      }
    }
    .bottom {
      // flex: 1;
      width: calc(100% - 553px);
      padding-top: 20px;
      .b-title {
        margin-left: 0;
      }
      .inquiry {
        background: #fcfcfd;
        .btn {
          width: 160px;
          height: 34px;
          color: #ffffff !important;
          border-radius: 5px;
          font-size: 15px;
          font-family: 'mainfont';
          font-weight: 500;
          &:hover {
            border: 1px solid;
          }
          .el-icon-search {
            margin-right: 5px;
          }
        }
        .btn-del {
          width: 82px;
          color: #f13a3f !important;
          border-color: #f13a3f;
          &:hover {
            box-shadow: 0px 1px 4px 0px #f13a3f;
            background: #ffffff !important;
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';
.real-container {
  .sampleDialog .el-dialog__header {
    background: #ffffff;
    .switch {
      width: 200px;
    }
  }
  .bottom .el-tabs--border-card {
    box-shadow: none;
    border-radius: 2px;
    .el-tabs__content {
      display: none;
    }
  }
  .top .el-tabs--border-card {
    border: none !important;
    box-shadow: none !important;
    > .el-tabs__header {
      border-bottom: none;
      // background-color: #ffffff !important;
    }
    .el-tabs__item {
      width: 222px;
      height: 57px;
      line-height: 57px;
      text-align: center;
      border-top: 4px solid #cfcfcf;
      margin-right: 4px;
      background: #f1f1f1;
      padding: 0;
      border-radius: 6px;
      font-size: 15px;
      color: #999999;
      font-weight: bold;
    }
    .is-active {
      color: #333333 !important;
      border-right: none;
      border-top-color: $color-primary;
      background: #ffffff;
    }
    .el-tabs__content {
      display: none;
    }
  }
  .t-wrap {
    .flex-cw {
      padding: 2px 0;
      border-bottom: 1px solid #f3f3f4;
    }
  }
  .deldialog {
    .el-dialog__body {
      text-align: center;
    }
  }
  .target .el-button {
    display: flex;
    align-items: center;
  }
}
</style>
