<template>
  <!-- <div style=" height:11rem ; "> -->
  <div class="dashboard-container">

    <!-- echarts map地图的areaColor背景图 -->
    <img id="mapBg" class="map-bg" src="@/assets/img/cs/home/map_bg.png" alt="">
    <!-- 导航下拉框 -->
    <!-- <div class="quitmeun">
        <el-dropdown class="flex-c avatar-container" trigger="hover">
          <span class="flex-c el-dropdown-link">
            <i class="el-icon-caret-bottom" />
          </span>
          <el-dropdown-menu slot="dropdown" class="user-dropdown">
            <el-dropdown-item @click.native="skipPage('/userinfo')">
              <span class="el-icon el-icon-user" />
              <span>个人信息</span>
            </el-dropdown-item>
            <el-dropdown-item @click.native="skipPage('/userinfo?to=pwd')">
              <span class="el-icon el-icon-unlock" />
              <span>修改密码</span>
            </el-dropdown-item>
            <el-dropdown-item @click.native="logout">
              <span class="el-icon el-icon-switch-button" />
              <span>退出登录</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div> -->
    <!-- 背景图 -->
    <div class="home-bg-color" />

    <!-- 主体 -->
    <div style="height:100%;">
      <!-- 中部 -->
      <div class="flex-fsb" style="padding: 1rem 1.07rem 0px 1.13rem;">
        <!-- 材料清单列表 -->
        <ul class="mat-list">
          <img v-for="(item, index) in 4" :key="index + 99" class="block-img" :class="'block-img' + (index + 1)" src="@/assets/img/cs/home/block_icon.png" alt="">
          <li class="flex-cc titles">
            <span class="name ellipsis1">材料名称</span>
            <span class="util">单位<span class="com-alt">占位</span></span>
            <span class="spec ellipsis1">规格</span>
          </li>
          <li v-for="(item, index) in matList" :key="index" class="flex-cc cp" :class="{'active': zcode == item.detailId}" @click="changeMat(item)">
            <span class="doc" :style="zcode == item.detailId ? 'background-color:#F9A147;':''" />
            <span class="name ellipsis1" :title="item.name">{{ item.name }}</span>
            <span class="util util-v">{{ item.unit }}<span class="com-alt">占位</span></span>
            <span class="spec spec-v ellipsis1" :title="item.spec">{{ item.spec }}</span>
            <img v-if="zcode == item.detailId" class="active-icon" src="@/assets/img/cs/home/r_icon.png" alt="">
          </li>
        </ul>
        <!-- 材料清单列表 end -->

        <!-- 地图 -->
        <div class="map-wrap">
          <div class="flex-ccw mat-count">
            <div class="flex-c">
              <span style="min-width:1.1875rem;letter-spacing:.025rem;word-break:keep-all;font-size:.25rem;font-family:'Source Han Sans CN';font-weight: 500;">材价总数:</span>
              <ul class="flex-c">
                <li v-for="(item, index) in currMatCount" :key="index" class="flex-c">
                  <div class="flex-cc num-wrap" :style="currMatCount&&currMatCount.length>7?'width:0.8rem;height:0.8rem;':''">
                    <span>{{ item }}</span>
                    <img src="@/assets/img/cs/home/num_bg.png" alt="">
                  </div>
                  <span v-if="((index + 1) % 3 === 0) && (index < currMatCount.length - 1)" class="dot">,</span>
                </li>
              </ul>
            </div>
            <div class="flex-c">
              <span style="min-width:1.1rem;letter-spacing:.025rem;">比上月多</span>
              <span class="more-text">{{ moreLastMonth }}</span>
              <img src="@/assets/img/cs/home/top_icon.png" alt="" :style="moreLastMonth < 0 ? 'transform: rotate(180deg);' : ''">
            </div>
          </div>
          <div class="b-s-count">
            <span>品牌: {{ brand }}</span>
            <span>供应商: {{ supplier }}</span>
          </div>
          <div class="box">
            <div class="bling" />
            <div id="mapChart" class="map-chart" />
          </div>
        </div>
        <!-- 地图 end -->

        <!-- 趋势 -->
        <div class="trend-wrap">
          <!-- 信息价趋势 -->
          <div class="info-wrap">
            <div class="c-wrap">
              <div class="flex-csb c-title">
                <p>{{ curMatName }}信息价趋势</p>
                <el-popover v-model="trendVisible" placement="bottom-end" :offset="-12" trigger="click">
                  <div slot="reference" class="icon-box">
                    <span class="icon iconfont icon-zhanghaoshezhi" />
                  </div>

                  <div :class="$style.search">
                    <div class="flex-c">
                      <!-- <span class="fw-b" :class="$style['s-text']">时间</span> -->
                      <!-- <div class="com-time-search">
                        <el-date-picker v-model="searchQuery.startTrendDate" type="month" value-format="yyyy-MM" placeholder="选择月" @change="sortDate('startTrendDate', 'endTrendDate')" />
                      </div>
                      <span class="com-line" />
                      <div class="com-time-search">
                        <el-date-picker v-model="searchQuery.endTrendDate" type="month" value-format="yyyy-MM" placeholder="选择月" @change="sortDate('startTrendDate', 'endTrendDate')" />
                      </div> -->
                      <DateRangePiceker v-model="trendDateRange" type="month" value-format="yyyy-MM" placeholder="选择月" />
                    </div>
                    <div :class="$style['btn-box']">
                      <el-button size="medium" type="primary" @click="getMsgPriceData">确定</el-button>
                    </div>
                  </div>
                </el-popover>
              </div>

              <div v-show="msgPriceTrends && msgPriceTrends.length > 0" id="infoPriceChart" class="info-price-chart" />
              <div v-show="!msgPriceTrends || msgPriceTrends.length == 0" class="info-price-chart flex-cc no-data">暂无数据</div>
            </div>
          </div>
          <el-dialog :title="`${curMatName}信息价趋势`" :visible.sync="showInfoDialog" :close-on-click-modal="false" width="80%" class="com-dialog home-edit-dialog">
            <div v-show="msgPriceTrends && msgPriceTrends.length > 0" id="infoPriceChart" class="info-price-chart-all" />
            <div v-show="!msgPriceTrends || msgPriceTrends.length == 0" class="info-price-chart-all flex-cc no-data">暂无数据</div>
          </el-dialog>
          <!-- 信息价趋势 end-->
          <!-- <div>{{ (latestAroundCityPrices[0].city === ' ' && priorAroundCityPrices[0].city === ' ') }}</div> -->
          <!-- 周边城市 -->
          <div class="city-wrap">
            <div class="c-wrap">
              <div class="flex-csb c-title">
                <p>周边城市信息价对比</p>
                <el-popover v-model="aroudVisible" placement="bottom-end" :offset="-12" trigger="click">
                  <div slot="reference" class="icon-box">
                    <span class="icon iconfont icon-zhanghaoshezhi" />
                  </div>

                  <div :class="$style.search">
                    <div v-for="item in cityList" :key="item" :class="[$style['city-item'], cityActive.includes(item) ? $style['active'] : '']" @click="selectCity(item)">{{ item }}</div>
                    <!-- <div class="flex-c">
                      <DateRangePiceker v-model="aroudDateRange" type="month" value-format="yyyy-MM" placeholder="选择月" />
                    </div>
                    <div :class="$style['btn-box']">
                      <el-button size="medium" type="primary" @click="getAroundCityData">确定</el-button>
                    </div> -->
                  </div>
                </el-popover>
              </div>

              <div
                v-show="
                  (latestAroundCityPrices && latestAroundCityPrices.length > 0 ) || (priorAroundCityPrices && priorAroundCityPrices.length > 0 )"
                id="cityChartBg"
                class="city-chart"
                style="position: absolute;width: 100%"
              />
              <div v-show="(latestAroundCityPrices && latestAroundCityPrices.length > 0 ) || (priorAroundCityPrices && priorAroundCityPrices.length > 0 )" id="cityChart" class="city-chart" />

              <!-- <div
                v-show="(latestAroundCityPrices && latestAroundCityPrices.length > 0) || (priorAroundCityPrices && priorAroundCityPrices.length > 0)"
                id="cityChartBg"
                class="city-chart"
                style="position: absolute;width: 100%"
              />
              <div v-show="(latestAroundCityPrices && latestAroundCityPrices.length > 0) || (priorAroundCityPrices && priorAroundCityPrices.length > 0)" id="cityChart" class="city-chart" /> -->
              <div v-show="(!latestAroundCityPrices && !priorAroundCityPrices) || (latestAroundCityPrices.length == 0 && priorAroundCityPrices.length == 0)" class="city-chart flex-cc no-data">暂无数据
              </div>
            </div>
          </div>
          <!-- 周边城市 end-->
        </div>
        <!-- 趋势 end -->
      </div>

      <!-- 全国城市对比 -->
      <div class="equal-wrap">
        <img v-for="(item, index) in 4" :key="index" class="block-img" :class="'block-img' + (index + 1)" src="@/assets/img/cs/home/block_icon.png" alt="">
        <div class="c-wrap" style="width: 100%;">
          <div class="flex-cc c-title">
            <img src="@/assets/img/cs/home/left_icon.png" alt="">
            <p>全国城市对比</p>
            <img src="@/assets/img/cs/home/right_icon.png" alt="">
            <el-popover v-model="allVisible" placement="bottom-end" :offset="-12" trigger="click">
              <div slot="reference" class="icon-box icon-box2">
                <span class="icon iconfont icon-zhanghaoshezhi" />
              </div>

              <div :class="$style.search">
                <div class="flex-c">
                  <DateRangePiceker v-model="allDateRange" type="month" value-format="yyyy-MM" placeholder="选择月" />
                </div>
                <div :class="$style['btn-box']">
                  <el-button size="medium" type="primary" @click="getNationwideCityPrice">确定</el-button>
                </div>
              </div>
            </el-popover>
          </div>

          <div v-show="countryList && countryList.length > 0" id="cityEqualChart" class="city-equal-chart" />
          <div v-show="!countryList || countryList.length == 0" class="city-equal-chart flex-cc no-data">暂无数据</div>
        </div>
      </div>
      <!-- 全国城市对比 end -->
    </div>

  </div>
  <!-- </div> -->
</template>

<script>
import * as echarts from 'echarts'
// import mapJson from '@/assets/440000_full.json'
import DateRangePiceker from '@/components/DateRangePicker'
import { getMainMaterialList } from '@/api/cs/user'
import {
  getHomePage,
  getBrandAndSpplierAmount,
  getNationwideCityPrice
} from '@/api/cs/home'
import { getDefaultCity } from '@/api/cs/common'
import { debounce } from '@/utils/optimization'

export default {
  name: 'Dashboard',
  components: {
    DateRangePiceker
  },
  data() {
    return {
      showInfoDialog: false,
      infoPriceChartOption: null,
      cityChartBgOption: null,
      cityChartOption: null,
      cityEqualOption: null,
      echartTimer: null, // echart重绘定时器
      mapChart: null,
      infoPriceChart: null,
      cityEqualChart: null,
      cityChartBg: null,
      cityChart: null,
      zcode: null,
      cityList: [
        '广州',
        '东莞',
        '深圳',
        '佛山',
        '清远',
        '江门',
        '中山',
        '肇庆',
        '珠海'
      ],
      cityActive: [
        '广州',
        '东莞',
        '深圳',
        '佛山',
        '清远',
        '江门',
        '中山',
        '肇庆',
        '珠海'
      ],
      // searchQuery: {
      //   startTrendDate: undefined,
      //   endTrendDate: undefined,
      //   startAroudDate: undefined,
      //   endAroudDate: undefined,
      //   startAllDate: undefined,
      //   endAllDate: undefined
      // },
      trendVisible: false,
      trendDateRange: [], // 信息价趋势时间范围
      aroudVisible: false,
      aroudDateRange: [], // 周边城市时间范围
      allVisible: false,
      allDateRange: [], // 全国城市时间范围
      curMatName: null,
      matList: [],
      currMatCount: [],
      moreLastMonth: 0,
      brand: null,
      supplier: null,
      countryList: [], // 全国数据
      priorAroundCityPrices: [], // 周边城市上期信息价
      latestAroundCityPrices: [], // 周边城市最新信息价
      msgPriceTrends: [], // 信息价趋势
      regionName: '', // 默认省份
      regionCode: '', // 省份编码
      mapJson: '' // 地图json数据
    }
  },
  computed: {
    opened() {
      return this.$store.state.app.sidebar.opened
    }
  },
  watch: {
    opened: function() {
      if (this.echartTimer) {
        clearTimeout(this.echartTimer)
      }
      this.echartTimer = setTimeout(() => {
        if (this.mapChart) this.mapChart.resize()
        if (this.infoPriceChart) {
          this.infoPriceChart.resize()
          this.infoPriceChart.clear()
          this.infoPriceChart.setOption(this.infoPriceChartOption)
        }
        if (this.cityEqualChart) {
          this.cityEqualChart.resize()
          this.cityEqualChart.clear()
          this.cityEqualChart.setOption(this.cityEqualOption)
        }
        if (this.cityChart) {
          this.cityChart.resize()
          this.cityChart.clear()
          this.cityChart.setOption(this.cityChartOption)
        }
        // if (this.cityChartBg) {
        //   this.cityChartBg.resize()
        //   this.cityChartBg.clear()
        //   this.cityChartBg.setOption(this.cityChartBgOption)
        // }
        clearTimeout(this.echartTimer)
      }, 200)
    }
  },
  created() {
    this.getCity()
  },
  mounted() {
    document.querySelector('.app-main').style.padding = '17px 0 0 0'

    this.getMainMaterialList()
    this.getNationwideCityPrice()
  },
  beforeDestroy() {
    document.querySelector('.app-main').style.padding = ''
  },
  methods: {
    // sortDate(startDateField, endDateField) {
    //   if (
    //     this.searchQuery[startDateField] &&
    //     this.searchQuery[endDateField] &&
    //     this.searchQuery[startDateField] > this.searchQuery[endDateField]
    //   ) {
    //     const temp = this.searchQuery[startDateField]
    //     this.searchQuery[startDateField] = this.searchQuery[endDateField]
    //     this.searchQuery[endDateField] = temp
    //   }
    // },
    // 获取默认城市和省份
    getCity() {
      getDefaultCity().then(res => {
        // debugger
        if (res.code == '01') {
          sessionStorage.setItem('init_default_city', res.body.defaultCity)
          this.$store.commit('user/SET_DEFAULT_CITY', res.body.defaultCity)
          this.regionName = res.body.region.name
          this.regionCode = res.body.region.regionCode
          this.mapJson = require(`@/assets/province/${this.regionCode}.json`)
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 右上角navbar
    // skipPage(path) {
    //   this.$router.push(path)
    // },
    // toggleSideBar() {
    //   this.$store.dispatch('app/toggleSideBar')
    // },
    // async logout() {
    //   await this.$store.dispatch('user/logout')
    //   this.$router.push('/login')
    // },
    // 切换材料
    changeMat(item) {
      if (this.zcode != item.detailId) {
        this.zcode = item.detailId
        this.curMatName = item.name
        this.getHomePage()
      }
    },
    // 全国城市信息价数据
    getNationwideCityPrice() {
      const params = {
        startDate: this.allDateRange[0],
        endDate: this.allDateRange[1]
      }
      var loading = this.$loading({
        text: '数据加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      getNationwideCityPrice(params)
        .then(res => {
          loading.close()
          this.allVisible = false
          if (res.code == '01') {
            var currMatCount = res.body.currMatCount || 0
            if (currMatCount) {
              this.currMatCount = (currMatCount + '').split('')
            } else {
              this.currMatCount = [0]
            }
            this.moreLastMonth = res.body.moreLastMonth || 0
            this.countryList = res.body.nationWideCityPrices || []
            this.$nextTick(() => {
              this.initEqualChart()
            })
          }
        })
        .catch(err => {
          loading.close()
          this.allVisible = false
        })
    },
    // 首页数据
    getHomePage() {
      var params = {
        tempDetailId: this.zcode
      }
      var loading = this.$loading({
        text: '数据加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      this.priorAroundCityPrices = []
      this.latestAroundCityPrices = []
      this.msgPriceTrends = []
      getHomePage(params)
        .then(res => {
          loading.close()
          if (res.code === '01') {
            try {
              // this.priorAroundCityPrices = res.body.priorAroundCityPrices || []
              // this.latestAroundCityPrices =
              //   res.body.latestAroundCityPrices || []
              this.msgPriceTrends = res.body.msgPriceTrends || []

              this.priorAroundCityPrices = [
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '广州市',
                  price: 2056
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '深圳市',
                  price: 1896
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '珠海市',
                  price: 1530
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '汕头市',
                  price: 836
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '佛山市',
                  price: 509
                }
              ]
              this.latestAroundCityPrices = [
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '广州市',
                  price: 2556
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '深圳市',
                  price: 1726
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '珠海市',
                  price: 1630
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '汕头市',
                  price: 896
                },
                {
                  id: null,
                  name: null,
                  code: null,
                  city: '佛山市',
                  price: 509
                }
              ]
              // this.msgPriceTrends = [
              //   {
              //     howPeriod: '1月',
              //     messagePrice: '1532'
              //   },
              //   {
              //     howPeriod: '2月',
              //     messagePrice: '2532'
              //   },
              //   {
              //     howPeriod: '3月',
              //     messagePrice: '4832'
              //   },
              //   {
              //     howPeriod: '4月',
              //     messagePrice: '3532'
              //   },
              //   {
              //     howPeriod: '信息价自定义',
              //     messagePrice: '5532'
              //   }
              // ]
              this.$nextTick(() => {
                this.initInfoPriceChart()
                this.initCityChart()
                this.initMapChart()
              })
            } catch (err) {}
          } else {
            console.log(res.code)
          }
        })
        .catch(err => {
          loading.close()
        })

      getBrandAndSpplierAmount().then(res => {
        if (res.code === '01') {
          try {
            this.brand = res.body.brand || 0
            this.supplier = res.body.supplier || 0
          } catch (error) {}
        }
      })
    },
    // 获取主材清单
    getMainMaterialList() {
      getMainMaterialList().then(res => {
        if (res.code == '01') {
          this.matList = res.body
          if (this.matList && this.matList.length > 0) {
            this.zcode = this.matList[0].detailId
            this.curMatName = this.matList[0].name
            this.getHomePage()
          } else {
            this.initMapChart()
          }
        }
      })
    },
    // 信息价趋势数据
    getMsgPriceData() {
      const params = {
        tempDetailId: this.zcode,
        startTrendDate: this.trendDateRange[0],
        endTrendDate: this.trendDateRange[1]
      }
      var loading = this.$loading({
        text: '数据加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      getHomePage(params)
        .then(res => {
          loading.close()
          this.trendVisible = false
          if (res.code === '01') {
            try {
              this.msgPriceTrends = res.body.msgPriceTrends || []
            } catch (error) {}
            this.$nextTick(() => {
              this.initInfoPriceChart()
            })
          }
        })
        .catch(err => {
          loading.close()
          this.trendVisible = false
        })
    },
    // 周边城市数据
    getAroundCityData() {
      const params = {
        tempDetailId: this.zcode,
        startAroudDate: this.aroudDateRange[0],
        endAroudDate: this.aroudDateRange[1]
      }
      var loading = this.$loading({
        text: '数据加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      getHomePage(params)
        .then(res => {
          loading.close()
          this.aroudVisible = false
          if (res.code === '01') {
            try {
              this.priorAroundCityPrices = res.body.priorAroundCityPrices || []
              this.latestAroundCityPrices =
                res.body.latestAroundCityPrices || []
            } catch (error) {}
            this.$nextTick(() => {
              this.initCityChart()
            })
          }
        })
        .catch(err => {
          loading.close()
          this.aroudVisible = false
        })
    },
    // 初始化地图
    initMapChart() {
      const latestAroundCityPrices = this.latestAroundCityPrices
      if (!this.mapChart) {
        this.mapChart = echarts.init(document.getElementById('mapChart'))
      }
      const myChart = this.mapChart
      echarts.registerMap(this.regionName, this.mapJson)
      let mapColors = ['#A6EDFF', '#18E4EC', '#F1CC3C']
      const mapData = []
      // 最大值
      let max = 0
      // 城市数据
      for (let i = 0; i < latestAroundCityPrices.length; i++) {
        mapData.push({
          name: latestAroundCityPrices[i].city,
          value: latestAroundCityPrices[i].price
        })
      }

      for (let j = 0; j < mapData.length; j++) {
        if (mapData[j].value > max) {
          max = mapData[j].value
        }
      }
      // 没有地图数据
      if (mapData.length === 0) {
        mapColors = ['rgba(173, 223, 248, 1)']
      }

      const option = {
        tooltip: {
          formatter: function(params) {
            return params.name + ': ' + (params.value || 0)
          }
        },
        geo: [
          {
            map: this.regionName,
            aspectScale: 0.75, // 长宽比
            zoom: 1.05,
            roam: false, //  是否开启鼠标缩放和平移漫游
            layoutCenter: ['50.7%', '53%'], // 52,51
            layoutSize: '94%', // 95
            itemStyle: {
              borderWidth: 0,
              borderColor: 'rgba(0,0,0,0)',
              areaColor: {
                image: document.getElementById('mapBg'),
                repeat: 'repeat'
              }
            },
            silent: true
          }
        ],
        series: [
          {
            type: 'map',
            // roam: true,
            silent: false, // 关闭鼠标悬浮事件
            zoom: 1.15,
            // roam: false,
            map: this.regionName,
            selectedMode: false,
            label: {
              normal: {
                show: true,
                formatter: function(params) {
                  return params.name + '\n' + (params.value || '')
                },
                textStyle: {
                  color: 'rgba(16, 95, 176, 1)' //  城市名颜色
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  color: '#2f9b9f'
                }
              }
            },

            itemStyle: {
              normal: {
                show: true,
                borderWidth: 1,
                borderColor: 'rgba(50, 178, 237, 1)', //    地图分隔颜色
                // 径向渐变，前三个参数分别是圆心 x, y 和半径，取值同线性渐变
                areaColor: {
                  type: 'radial',
                  // x: 0.5,
                  // y: 0.5,
                  // r: 1,
                  x: 320,
                  y: 170,
                  r: 300,
                  colorStops: [
                    {
                      offset: 0,
                      // color: 'rgba(218, 241, 252, 1)' // 0% 处的颜色
                      color: '#E5F5FC'
                    },
                    {
                      offset: 0.7,
                      // color: 'rgba(141, 212, 245, 1)' // 100% 处的颜色
                      color: '#6AC3F1'
                    }
                  ],
                  global: true // 缺省为 false
                }
              },
              emphasis: {
                areaColor: '#98f0f3' // hover颜色
              }
            },
            emphasis: {
              show: true,
              textStyle: {
                color: '#fff'
              }
            },
            data: mapData
          }
        ],
        visualMap: {
          show: false,
          min: 1,
          max: max,
          left: 'right',
          top: 'bottom',
          text: [max, 0], // 文本，默认为数值文本
          calculable: false,
          inRange: {
            color: mapColors
          },
          textStyle: {
            color: '#02B6FF'
          }
        }
      }
      myChart.setOption(option)
      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(function() {
          myChart.resize()
        }, 200)
      )
    },
    // 初始化信息价趋势
    initInfoPriceChart() {
      const msgPriceTrends = this.msgPriceTrends
      if (!this.infoPriceChart) {
        this.infoPriceChart = echarts.init(
          document.getElementById('infoPriceChart')
        )
      }
      const myChart = this.infoPriceChart
      const xData = []
      const yData = []
      for (let i = 0; i < msgPriceTrends.length; i++) {
        xData.push(msgPriceTrends[i].howPeriod)
        yData.push(msgPriceTrends[i].messagePrice)
      }

      const option = {
        tooltip: {
          trigger: 'axis',
          formatter: function(params) {
            let html = ''
            params.forEach(v => {
              html += `
                      <div>
                        <p style="font-size: 14px;color:#89EAFF;"><span style="color: #fff;">材价：</span>${v.value}</p>
                        <p style="font-size: 12px;color:#6685A6;">系统周期：${v.name}</p>
                      </div>
                    `
            })
            return html
          },
          extraCssText:
            'background: #000; border-radius: 5px;border: none;padding: 16px 20px;'
        },
        grid: {
          top: '22%',
          left: '5%',
          // right: '10%',
          bottom: '10%',
          containLabel: true
        },
        xAxis: [
          {
            // name: '信息价',
            // nameTextStyle: {
            //   color: "#46D6FE",
            //   fontSize: 12
            // },
            type: 'category',
            axisLine: {
              show: false,
              lineStyle: {
                color: '#023B78'
              }
            },
            axisLabel: {
              textStyle: {
                color: '#fff',
                fontSize: 10
              },
              margin: 12
            },
            splitArea: {
              color: '#f00',
              lineStyle: {
                color: '#f00'
              }
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: '#023B78'
              }
            },
            boundaryGap: false,
            data: xData
            // data: ['揭阳','汕头','潮州','北京','上海'],
          }
        ],
        yAxis: [
          {
            name: '单位（元）',
            nameTextStyle: {
              color: '#89EAFF',
              fontSize: 12,
              padding: [0, 32, 0, 0]
            },
            type: 'value',
            splitLine: {
              show: true,
              lineStyle: {
                color: '#023B78'
              }
            },
            axisLine: {
              show: false
            },
            axisLabel: {
              show: true,
              margin: 11,
              textStyle: {
                // color: '#B1B3BC',
                color: '#fff',
                fontSize: 14
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        series: [
          {
            type: 'line',
            data: yData,
            // data: [1800,600,800,1500,2100],
            smooth: true,
            lineStyle: {
              width: 2,
              color: '#6BF9FF'
            },
            // 设置拐点
            symbol: 'circle',
            // 拐点大小
            symbolSize: 6,
            // 开始不显示拐点， 鼠标经过显示
            showSymbol: false,
            itemStyle: {
              color: '#6BF9FF',
              borderColor: 'rgba(68, 240, 255, .2)',
              borderWidth: 25
            },
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: 'rgba(68, 240, 255, .6)'
                    },
                    {
                      offset: 1,
                      color: 'rgba(2, 17, 50, .1)'
                    }
                  ],
                  false
                )
              }
            }
          }
        ]
      }
      this.infoPriceChartOption = option
      myChart.setOption(option)
      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(function() {
          myChart.resize()
          myChart.clear()
          myChart.setOption(option)
        }, 200)
      )
    },
    // 初始化全国城市对比
    initEqualChart() {
      var countryList = this.countryList
      var xData = [] // 城市
      var tData = []
      var legend = [] // 材料
      var colorArr = [
        {
          start: 'rgba(12,120,243,1)',
          end: 'rgba(5,29,85,1)'
        },
        {
          start: 'rgba(12,184,250,1)',
          end: 'rgba(6,32,82,1)'
        },
        {
          start: 'rgba(27,240,254,1)',
          end: 'rgba(8,40,84,1)'
        },
        {
          start: 'rgba(44,250,138,1)',
          end: 'rgba(10,41,70,1)'
        },
        {
          start: 'rgba(251,238,35,1)',
          end: 'rgba(32,37,57,1)'
        }
      ]

      // 取到第一个城市的材料顺序
      const sortName = []
      if (countryList && countryList.length > 0) {
        for (var i = 0; i < countryList[0].length; i++) {
          sortName.push(countryList[0][i].name)
        }
      }
      // 将第一个城市后面的每个城市数组中的材料，按第一个城市的材料顺序排序
      for (let i = 1; i < countryList.length; i++) {
        for (let j = 0; j < countryList[i].length; j++) {
          for (let k = 0; k < sortName.length; k++) {
            if (sortName[k] == countryList[i][j].name && k !== j) {
              const tObj = countryList[i][j]
              countryList[i][j] = countryList[i][k]
              countryList[i][k] = tObj
            }
          }
        }
      }

      // 城市数据拼接
      for (let i = 0; i < countryList.length; i++) {
        let city = ''
        for (let j = 0; j < countryList[i].length; j++) {
          city = countryList[i][j].city
        }
        xData.push(city)
      }
      // 各材料价格
      for (let i = 0; i < countryList.length; i++) {
        for (let j = 0; j < countryList[i].length; j++) {
          if (i == 0) {
            tData.push([countryList[i][j].price])
          } else {
            tData[j].push(countryList[i][j].price)
          }
        }
      }
      try {
        var tCity = countryList[0]
        // 材料名称列表
        for (let k = 0; k < tCity.length; k++) {
          legend.push(tCity[k].name)
        }
      } catch (err) {}
      const seriesData = []
      tData.forEach((item, index) => {
        var obj1 = {}
        obj1 = {
          name: legend[index],
          type: 'bar',
          stack: legend[index],
          data: item,
          barWidth: '20',
          itemStyle: {
            normal: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0.2,
                    color: colorArr[index].start
                  },
                  {
                    offset: 1,
                    color: colorArr[index].end
                  }
                ],
                globalCoord: false
              }
            }
          },
          barGap: '60%'
        }
        seriesData.push(obj1)
      })
      if (!this.cityEqualChart) {
        this.cityEqualChart = echarts.init(
          document.getElementById('cityEqualChart')
        )
      }
      const myChart = this.cityEqualChart
      const option = {
        // backgroundColor: 'rgba(16, 42, 54, 1)',
        grid: {
          left: '3%',
          top: '16%',
          right: '3%',
          bottom: '3%',
          containLabel: true
        },
        legend: {
          show: true,
          icon: 'rect',
          itemWidth: 12,
          itemHeight: 11,
          right: '40px',
          top: '0px',
          textStyle: {
            color: '#fff'
          },
          data: legend
        },
        tooltip: {
          trigger: 'axis',
          formatter: function(params) {
            var str = ''
            for (var i = 0; i < params.length; i++) {
              if (params[i].seriesName !== '') {
                str += `
                            <div>
                              <p style="font-size: 12px;color:#16C0FF;">
                                <span style="color: #fff;display:inline-block;width: 6em;text-align:right;vertical-align: middle;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">${params[i].seriesName}</span>
                                <span style="color: #fff;">：</span><span style="vertical-align: middle;">${params[i].value}</span>
                              </p>
                            </div>
                          `
              }
            }
            return str
          },
          extraCssText:
            'background: rgba(0,0,0,.6); border-radius: 5px;border: none;'
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            axisPointer: {
              type: 'shadow'
            },
            axisLabel: {
              margin: 16,
              textStyle: {
                // color: '#B1B3BC',
                color: '#fff',
                fontSize: 14
              }
            },
            axisLine: {
              lineStyle: {
                color: '#112349'
              }
            },
            splitLine: {
              show: true,
              lineStyle: {
                type: 'solid',
                width: 2,
                color: '#112349'
              }
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '单位（元）',
            nameTextStyle: {
              padding: [0, 30, 0, 0],
              // color: '#89EAFF',
              color: '#46D6FE',
              fontSize: 12
            },
            // "min": 0,
            // "max": 50,
            axisLabel: {
              formatter: '{value}',
              textStyle: {
                // color: '#B1B3BC',
                color: '#fff',
                fontSize: 14
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                type: 'solid',
                width: 2,
                color: '#112349'
              }
            }
          }
        ],
        series: seriesData
      }
      this.cityEqualOption = option
      myChart.setOption(option)

      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(function() {
          myChart.resize()
          myChart.clear()
          myChart.setOption(option)
        }, 200)
      )
    },
    selectCity(cityItem) {
      const i = this.cityActive.indexOf(cityItem)
      if (i !== -1) {
        this.cityActive.splice(i, 1)
      } else {
        this.cityActive.push(cityItem)
      }

      this.$nextTick(() => {
        this.cityChart.clear()
        this.initCityChart()
      })
    },
    // 周边城市折线图
    initCityChart() {
      // const priorAroundCityPrices = this.priorAroundCityPrices
      // const latestAroundCityPrices = this.latestAroundCityPrices
      // const aroundCityPrices = []
      const cityList = this.cityActive
      const series = []
      for (let i = 0; i < cityList.length; i++) {
        series.push({
          name: cityList[i],
          data: [
            1150 + i * 550,
            3230 + i * 350,
            3224 + i * 850,
            4218 + i * 150,
            3135 + i * 550,
            7147 + i * 550
          ],
          type: 'line'
        })
      }
      console.log(series)

      if (!this.cityChart) {
        this.cityChart = echarts.init(document.getElementById('cityChart'))
      }
      const myChart = this.cityChart
      const option = {
        legend: {
          icon: 'rect',
          itemWidth: 12,
          itemHeight: 11,
          left: '30%',
          right: '5%',
          top: '5%',
          textStyle: {
            color: '#fff'
          },
          data: cityList
        },
        grid: {
          // left: '10%',
          // right: '10%',
          // bottom: '8%',
          // containLabel: true
          top: '25%',
          left: '5%',
          // right: '10%',
          bottom: '10%',
          containLabel: true
        },
        tooltip: {
          trigger: 'axis',
          extraCssText:
            'background: #000; border-radius: 5px;border: none;padding: 16px 20px;'
        },
        xAxis: {
          type: 'category',
          data: ['第3期', '第4期', '第5期', '第6期', '第7期', '第8期'],
          axisLine: {
            show: false,
            lineStyle: {
              color: '#023B78'
            }
          },
          axisLabel: {
            textStyle: {
              color: '#fff',
              fontSize: 10
            },
            margin: 12
          },
          splitArea: {
            color: '#f00',
            lineStyle: {
              color: '#f00'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#023B78'
            }
          },
          boundaryGap: false
        },
        yAxis: {
          name: '单位（元）',
          nameTextStyle: {
            color: '#89EAFF',
            fontSize: 12,
            padding: [0, 32, 0, 0]
          },
          type: 'value',
          splitLine: {
            show: true,
            lineStyle: {
              color: '#023B78'
            }
          },
          axisLine: {
            show: false
          },
          axisLabel: {
            show: true,
            margin: 11,
            textStyle: {
              // color: '#B1B3BC',
              color: '#fff',
              fontSize: 14
            }
          },
          axisTick: {
            show: false
          }
        },
        series: series
      }
      this.cityChartOption = option
      myChart.setOption(option)
      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(function() {
          myChart.resize()
          myChart.clear()
          myChart.setOption(option)
        }, 200)
      )
    },
    // 周边城市
    initCityChart_old() {
      this.initCityChartBarBackGround()
      const priorAroundCityPrices = this.priorAroundCityPrices
      const latestAroundCityPrices = this.latestAroundCityPrices

      const dom = 400
      const barWidth = dom / 20
      const colors1 = [
        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#3752B9' },
            { offset: 0.5, color: '#3752B9' },
            { offset: 0.5, color: '#4079FD' },
            { offset: 1, color: '#4079FD' }
          ]
        },
        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#376CBA' },
            { offset: 0.5, color: '#376CBA' },
            { offset: 0.5, color: '#4997FE' },
            { offset: 1, color: '#4997FE' }
          ]
        },

        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#3882BB' },
            { offset: 0.5, color: '#3882BB' },
            { offset: 0.5, color: '#49B7FD' },
            { offset: 1, color: '#49B7FD' }
          ]
        },

        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#38ABA6' },
            { offset: 0.5, color: '#38ABA6' },
            { offset: 0.5, color: '#49EBDF' },
            { offset: 1, color: '#49EBDF' }
          ]
        },

        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#39AB68' },
            { offset: 0.5, color: '#39AB68' },
            { offset: 0.5, color: '#56EA7B' },
            { offset: 1, color: '#56EA7B' }
          ]
        }
      ]
      const colors2 = [
        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#952C36' }, // #9B2B35
            { offset: 0.5, color: '#952C36' },
            { offset: 0.5, color: '#C5553F' }, // #BD4F3F
            { offset: 1, color: '#C5553F' }
          ]
        },
        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#A28A2F' }, // #9E872F
            { offset: 0.5, color: '#A28A2F' },
            { offset: 0.5, color: '#C3C640' },
            { offset: 1, color: '#C3C640' }
          ]
        }
      ]
      const colors3 = [
        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#CB522F' },
            { offset: 0.5, color: '#CB522F' },
            { offset: 0.5, color: '#CF613F' },
            { offset: 1, color: '#CF613F' }
          ]
        },
        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: '#CDDC2F' },
            { offset: 0.5, color: '#CDDC2F' },
            { offset: 0.5, color: '#D1EB3F' },
            { offset: 1, color: '#D1EB3F' }
          ]
        }
      ]
      const xData = []
      // 第一层柱子数据
      const yData1 = []
      // 第二层柱子数据Z
      const yData2 = []
      // 第二层柱子上的四边形
      const yData3 = []
      // 顶层四边形
      // let yData4 = []
      // 同比上期增加的项的index值
      const isAddIndexList = []

      for (let i = 0; i < latestAroundCityPrices.length; i++) {
        xData.push(latestAroundCityPrices[i].city)
        yData1.push(latestAroundCityPrices[i].price)
      }
      for (let j = 0; j < priorAroundCityPrices.length; j++) {
        if (yData1[j] - priorAroundCityPrices[j].price >= 0) {
          isAddIndexList.push(j)
        }
        try {
          yData2.push(
            Math.abs((yData1[j] - priorAroundCityPrices[j].price).toFixed(2))
          )
        } catch (err) {}
        try {
          yData3.push(
            yData1[j] +
              Math.abs((yData1[j] - priorAroundCityPrices[j].price).toFixed(2))
          )
        } catch (err) {}
      }
      if (!this.cityChart) {
        this.cityChart = echarts.init(document.getElementById('cityChart'))
      }
      const myChart = this.cityChart
      const option = {
        background: '#102A36',
        color: ['#3398DB'],
        grid: {
          left: '10%',
          right: '10%',
          bottom: '8%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            offset: 4,
            axisTick: {
              alignWithLabel: true,
              show: false
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: 'rgba(255,255,255,0.2)'
              },
              onZero: false
            },
            axisLabel: {
              margin: 12,
              rotate: 0,
              textStyle: {
                fontSize: 10,
                color: '#fff'
              }
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisLine: {
              show: false
            },
            splitLine: {
              // 分割线配置
              show: false,
              lineStyle: {
                color: '#EBEEF2'
              }
            },
            axisTick: {
              alignWithLabel: true,
              show: false
            },
            axisLabel: {
              show: false
            }
          }
        ],
        series: [
          // 底部柱子转角
          {
            z: 1,
            type: 'pictorialBar',
            data: [1, 1, 1, 1, 1],
            symbol: 'diamond',
            symbolOffset: [0, '50%'],
            symbolSize: [barWidth, barWidth * 0.5],
            itemStyle: {
              normal: {
                borderWidth: 0,
                color: function(params) {
                  return colors1[params.dataIndex]
                }
              }
            }
          },
          // 信息价标签，为了信息价数值可以显示在堆叠柱子上面
          {
            name: '最新信息价+和上次的信息价的差值',
            type: 'line',
            lineStyle: {
              opacity: 0
            },
            symbolSize: 0,
            label: {
              show: true,
              position: 'top',
              color: '#15FEFE',
              fontSize: 14
            },
            data: yData3
          },
          // 底部柱子
          {
            name: '信息价',
            type: 'bar',
            stack: '总量',
            // label: {
            //   show: true,
            //   position: [barWidth / 2, -(barWidth + -30)],
            //   color: '#15FEFE',
            //   fontSize: 14,
            //   align: 'center',
            //   formatter: function(params) {
            //     // 标签内容
            //     return yData1[params.dataIndex]
            //   }
            // },
            // showBackground: true,
            barWidth: barWidth,
            itemStyle: {
              normal: {
                show: true,
                textStyle: {
                  fontSize: 16
                },
                color: function(params) {
                  return colors1[params.dataIndex]
                }
              }
            },
            data: yData1
          },
          // 底部柱子和顶部柱子连接处的转角
          {
            z: 3,
            type: 'pictorialBar',
            data: yData1,
            symbolPosition: 'end',
            symbol: 'diamond',
            symbolOffset: [0, '-50%'],
            symbolSize: [barWidth, barWidth * 0.5],
            itemStyle: {
              normal: {
                borderWidth: 0,
                color: function(params) {
                  if (isAddIndexList.indexOf(params.dataIndex) > -1) {
                    return colors2[1]
                  } else {
                    return colors2[0]
                  }
                }
              }
            }
          },
          // 顶部柱子
          {
            name: '增减量',
            type: 'bar',
            barWidth: barWidth,
            stack: '总量',
            label: {
              show: true,
              position: [barWidth + 2, -(barWidth - 16)],
              color: '#DE0000',
              fontSize: 10,
              fontWeight: 'bold',
              align: 'left',
              formatter: function(params) {
                // 标签内容
                // b为增多了，a为减少了
                if (isAddIndexList.indexOf(params.dataIndex) > -1) {
                  return '{b|' + '+' + yData2[params.dataIndex] + '}'
                } else {
                  return '{a|' + -yData2[params.dataIndex] + '}'
                }
              },
              rich: {
                a: {
                  color: '#DE0000'
                },
                b: {
                  color: '#FFBD1F'
                }
              }
            },
            itemStyle: {
              normal: {
                show: true,
                textStyle: {
                  fontSize: 16
                },
                color: function(params) {
                  if (isAddIndexList.indexOf(params.dataIndex) > -1) {
                    return colors2[1]
                  } else {
                    return colors2[0]
                  }
                }
              }
            },
            data: yData2
          },
          // 顶部柱子的底面（上面）
          {
            z: 4,
            type: 'pictorialBar',
            data: yData3,
            symbol: 'diamond',
            symbolOffset: [0, '-50%'],
            symbolPosition: 'end',
            symbolSize: [barWidth, barWidth * 0.5],
            itemStyle: {
              normal: {
                borderWidth: 0,
                color: function(params) {
                  if (isAddIndexList.indexOf(params.dataIndex) > -1) {
                    // const arr = colors2[1].colorStops
                    // const color = arr[arr.length - 1].color
                    // const color2 =
                    //   '#' + (color.replace('#', '0x') - '0x50f10').toString(16)
                    // return {
                    //   type: 'linear',
                    //   x: 0,
                    //   x2: 1,
                    //   y: 0,
                    //   y2: 0,
                    //   colorStops: [
                    //     { offset: 0, color: color2 },
                    //     { offset: 0.5, color: color2 },
                    //     { offset: 0.5, color },
                    //     { offset: 1, color }
                    //   ]
                    // }
                    return colors3[1]
                  } else {
                    return colors3[0]
                    // const arr = colors2[0].colorStops
                    // return arr[arr.length - 1].color
                  }
                }
              }
            }
          }
        ]
      }

      myChart.setOption(option)
      this.cityChartOption = option
      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(function() {
          myChart.resize()
          myChart.clear()
          myChart.setOption(option)
        }, 200)
      )
    },
    // 周边城市图表背景柱子
    initCityChartBarBackGround() {
      const xData = ['占位置', '', '', '', '']
      const yData = [6000, 6000, 6000, 6000, 6000]
      const dom = 400
      const barWidth = dom / 20
      if (!this.cityChartBg) {
        this.cityChartBg = echarts.init(document.getElementById('cityChartBg'))
      }
      const myChart = this.cityChartBg
      const colors1 = [
        {
          type: 'linear',
          x: 0,
          x2: 1,
          y: 0,
          y2: 0,
          colorStops: [
            { offset: 0, color: 'RGBA(15, 44, 82, 1)' },
            { offset: 0.5, color: 'RGBA(15, 44, 82, 1)' },
            { offset: 0.5, color: 'RGBA(20, 60, 98, 1)' },
            { offset: 1, color: 'RGBA(20, 60, 98, 1)' }
          ]
        }
      ]

      const option = {
        grid: {
          top: '10%',
          left: '10%',
          right: '10%',
          bottom: '8%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            offset: 4,
            axisTick: {
              alignWithLabel: true,
              show: false
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: 'rgba(255,255,255,0)'
              },
              onZero: false
            },
            axisLabel: {
              margin: 12,
              rotate: 0,
              textStyle: {
                fontSize: 10,
                color: 'rgba(0,0,0,0)'
              }
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisLine: {
              show: false
            },
            splitLine: {
              // 分割线配置
              show: false,
              lineStyle: {
                color: '#EBEEF2'
              }
            },
            axisTick: {
              alignWithLabel: true,
              show: false
            },
            axisLabel: {
              show: false
            }
          }
        ],
        series: [
          {
            name: '背景柱',
            type: 'bar',
            // stack: '总量',
            barWidth: barWidth,
            itemStyle: {
              normal: {
                show: false,
                // textStyle: {
                //   fontSize: 16
                // },
                color: function(params) {
                  return colors1[0]
                }
              }
            },
            data: yData
          },
          // 背景柱的底面（上面）
          {
            z: 4,
            type: 'pictorialBar',
            data: yData,
            symbol: 'diamond',
            symbolOffset: [0, '-50%'],
            symbolPosition: 'end',
            symbolSize: [barWidth, barWidth * 0.5],
            itemStyle: {
              normal: {
                borderWidth: 0,
                color: function(params) {
                  return colors1[0].colorStops[3].color
                }
              }
            }
          }
        ]
      }

      myChart.setOption(option)
      this.cityChartBgOption = option
      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(function() {
          myChart.resize()
          myChart.clear()
          myChart.setOption(option)
        }, 200)
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-container {
  // position: absolute;

  // top: 0;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  // padding: 1.0125rem 0 0 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  // min-width: 1680px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('~@/assets/img/cs/home/bg.png');
  .map-bg {
    position: absolute;
    top: 9999px;
    left: 9999px;
    opacity: 0;
  }
  // .quitmeun {
  //   position: fixed;
  //   right: 35px;
  //   top: 5px;
  //   .avatar-container {
  //     height: 60px;
  //     line-height: 60px;
  //     > span {
  //       color: #333;
  //       font-weight: bold;
  //       font-size: 22px;
  //       i {
  //         margin-left: 5px;
  //         color: #333;
  //       }
  //     }
  //   }
  // }
  .no-data {
    color: #0efcff;
    font-size: 0.175rem;
  }
  .home-bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background: #050723;
  }
  .mat-list {
    position: relative;
    width: 25%;
    height: 7.075rem;
    padding-top: 0.06rem;
    background-size: 100% 100%;
    background-image: url('~@/assets/img/cs/home/left_bg.png');
    .block-img {
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
    }
    .block-img1 {
      // top: -2px;
      // left: -2px;
      top: -0.04rem;
      left: -0.04rem;
    }
    .block-img2 {
      // top: -2px;
      // right: -2px;
      top: -0.04rem;
      right: -0.03rem;
    }
    .block-img3 {
      // bottom: -2px;
      // left: -2px;
      bottom: -0.04rem;
      left: -0.04rem;
    }
    .block-img4 {
      // bottom: -2px;
      // right: -2px;
      bottom: -0.04rem;
      right: -0.03rem;
    }
    .titles {
      // color: #ffffa6;
      color: #f9a147;
      font-size: 0.175rem;
    }
    li {
      position: relative;
      margin-bottom: 9px;
      justify-content: space-between;
      padding: 0 0.125rem 0 0.4rem;
      width: 98%;
      left: 1%;
      height: 0.5rem;
      color: #fff;
      font-size: 0.175rem;
      box-sizing: border-box;
      &.active {
        background-image: url('~@/assets/img/cs/home/act_img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      &:hover:not(li:first-child) {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: rgba(22, 132, 234, 0.2);
      }
      &:first-child {
        padding: 0 0.625rem 0 0.3625rem;
        height: 0.48rem;
        border: none;
        .spec {
          text-align: right;
          box-sizing: border-box;
        }
      }
      .doc {
        width: 0.1rem;
        height: 0.1rem;
        border-radius: 50%;
        background-color: #73ffff;
        position: absolute;
        left: 0.18rem;
      }
      .name,
      .spec {
        display: block;
        min-width: 125px;
        max-width: 125px;
        &.spec-v {
          color: #7fe2ff;
        }
      }
      .name {
        text-align: left;
      }
      .spec {
        text-align: center;
      }
      .util {
        display: block;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        &.util-v {
          width: 0.75rem;
          color: #ffbe0f;
        }
      }
      .active-icon {
        position: absolute;
        right: -0.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .map-wrap {
    flex: 1;
    margin: 0.1rem 0.5rem 0 0.625rem;
    position: relative;
    .mat-count {
      color: #89eaff;
      font-size: 0.25rem;
      // flex-wrap: nowrap;
      .more-text {
        color: #ffc513;
        letter-spacing: 0.025rem;
        font-size: 0.225rem;
      }
      .num-wrap {
        position: relative;
        width: 0.9625rem;
        height: 0.975rem;
        font-size: 0.825rem;
        color: #89eaff;
        font-weight: bold;
        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          // z-index: 99;
          font-size: 0.7rem;
        }
        > img {
          position: absolute;
          top: 0;
          left: 0;
          // z-index: 98;
          z-index: 1;
          width: 100%;
          height: 100%;
        }
      }
      .dot {
        margin-top: 0.35rem;
        font-size: 40px;
        font-weight: bold;
      }
    }
    .b-s-count {
      // position: absolute;
      // top: 1.1rem;
      // left: 50%;
      // transform: translateX(-50%);
      // z-index: 99999999;
      color: #89eaff;
      // font-weight: bold;
      font-size: 0.25rem;
      text-align: center;
      span:nth-child(n + 2) {
        margin-left: 0.5rem;
      }
    }
    .box {
      width: 100%;
      // height: 6.25rem;
      height: 5.7rem;
      position: relative;
      .map-chart {
        width: 100%;
        height: 5.7rem;
        position: absolute;
        top: 0;
        left: 0;
      }
      .bling {
        width: 100%;
        height: 5.6rem;
        position: absolute;
        bottom: -18%;
        left: 50%;
        transform: translate(-50%);
        background: url('~@/assets/img/cs/home/bling.png');
        background-size: 100% 100%;
        opacity: 0.9;
      }
    }
  }
  .trend-wrap {
    width: 26%;
    height: 7.075rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info-wrap,
    .city-wrap {
      position: relative;
      // width: 5.4125rem;
      // height: 3.8875rem;
      // height: 3.4375rem;
      height: 3.55rem;
      box-sizing: border-box;
      background-size: 100% 100%;
      background-image: url('~@/assets/img/cs/home/trend_bg.png');
      .c-title {
        // height: 0.45rem;
        padding-top: 0.13rem;
        p {
          text-align: left;
          // margin: 8px 0 0 0;
          padding: 0 0.45rem;
          font-weight: bold;
          font-size: 0.2rem;
          color: #f9a147;
          width: 100%;
          line-height: 0.45rem;
          // margin-top: 0.13rem;
        }
        .icon-box {
          color: #fff;
          padding-right: 0.25rem;
          .icon-zhanghaoshezhi {
            cursor: pointer;
          }
        }
      }
    }
    .info-wrap {
      // margin-bottom: 0.275rem;
      margin-top: -0.04rem;
      // background-image: url('../../assets/img/home/trend_bg2.png');
    }
  }
  .info-price-chart,
  .city-chart {
    // width: 5.4125rem;
    // height: 3.2875rem;
    // height: 2.8375rem;
    height: 2.95rem;
  }
  //底部城市
  .equal-wrap {
    // margin: 0.1rem auto 0;
    margin: 0.26rem 1.15rem 0.26rem 1.17rem;
    position: relative;
    // overflow: hidden;
    // width: calc(100% - 2.3rem);
    height: 3.1625rem;
    border: 2px solid #077da5;
    // background-size: 100% 100%;
    // background-image: url('../../assets/img/home/bottom_city_bg.png');
    .block-img {
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
    }
    .block-img1 {
      // top: -8px;
      // left: -8px;
      top: -0.12rem;
      left: -0.11rem;
    }
    .block-img2 {
      // top: -8px;
      // right: -8px;
      top: -0.12rem;
      right: -0.11rem;
    }
    .block-img3 {
      // bottom: -8px;
      // left: -8px;
      bottom: -0.115rem;
      left: -0.11rem;
    }
    .block-img4 {
      // bottom: -8px;
      // right: -8px;
      bottom: -0.115rem;
      right: -0.11rem;
    }
    .c-title {
      height: 0.45rem;
      border-radius: 0.125rem;
      position: relative;
      p {
        padding: 0 0.1875rem;
        font-weight: bold;
        font-size: 0.2rem;
        color: #f9a147;
      }
      & > span {
        position: absolute;
        right: -8px;
      }
      .icon-box {
        color: #fff;
        padding-right: 0.25rem;

        .icon-zhanghaoshezhi {
          cursor: pointer;
        }
      }
    }
    .city-equal-chart {
      width: 100%;
      height: 2.6rem;
    }
  }
}
</style>

<style lang="scss" module>
.search {
  display: flex;
  flex-wrap: wrap;
  .city-item {
    margin: 0 12px 8px 0;
    cursor: pointer;
    &.active {
      color: #6cc6f7;
    }
  }
  .s-text {
    margin-right: 15px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
  }
  .btn-box {
    margin-top: 8px;
    text-align: right;
  }
}
</style>
