<template>
  <div class="div-tree">
    <!-- <el-input placeholder="输入关键字进行过滤" size="medium" v-model="filterText"> </el-input> -->
    <div class="com-search2">
      <el-input
        class="search-ipt"
        :placeholder="placeholder"
        v-model="filterText"
        @keyup.enter.native="search"
      />
      <i class="el-icon-search" @click="search"></i>
    </div>

    <el-tree
      class="filter-tree mt-10"
      :data="projectOptions"
      node-key="id"
      :default-expanded-keys="defaultExpand"
      :props="defaultProps"
      accordion
      :filter-node-method="filterNode"
      @node-click="nodeClickHandle"
      ref="tree"
      highlight-current
    >
    </el-tree>
  </div>
</template>

<script>
import { queryProjectTypeTree } from "@/api/newProject";
export default {
  name: "CategoryTree",
  data() {
    return {
      projectOptions: [], // 项目分类
      filterText: "", // 筛选关键字
      defaultProps: {
        // 树字段配置
        children: "subs",
        label: "name",
      },
      defaultExpand: [],
      lastId: 0,

      specialtyType: "", // 专业类型
      projectType: "", // 项目类型
      engType: "", // 工程类型
      specialtyCode: "", // 专业类型编码
    };
  },
  props: {
    placeholder: {
      type: String,
      default: "请输入指标所属行业",
    },
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
  computed: {
    // 已选条件
    selectedCondition() {
      return this.$store.getters.selectedCondition;
    },
  },
  mounted() {
    let specialty = this.$route.query.specialtyType;
    let project = this.$route.query.projectType;
    let eng = this.$route.query.engType;
    if (specialty) this.specialtyType = specialty;
    if (project) this.projectType = project;
    if (eng) this.engType = eng;

    this.ProjectTypeTreeList();
  },
  methods: {
    // 递归找最子级
    recursionFun(arr) {
      if (arr && arr.length) {
        this.lastId = arr[0].id;
        this.defaultExpand.push(arr[0].id);

        if (arr[0].pid == 0) {
          // 专业类型
          this.specialtyType = arr[0].name;
          this.specialtyCode = arr[0].code;
        } else if (!arr[0].subs) {
          // 工程类型
          this.engType = arr[0].name;
        } else {
          // 项目类型
          this.projectType = arr[0].name;
        }

        if (arr[0].subs && arr[0].subs.length) {
          this.recursionFun(arr[0].subs);
        } else {
          // 设置默认筛选条件
          this.$emit(
            "nodeClick",
            this.specialtyType,
            this.projectType,
            this.engType,
            this.specialtyCode
          );
          let resultObj = Object.assign(this.selectedCondition, {
            category: this.engType,
          });
          this.$store.commit("SET_SELECTED_CONDITION", resultObj);
        }
      }
    },
    // 回显
    echoFun(arr) {
      for (let i = 0, l = arr.length; i < l; i++) {
        // 专业类型
        if (arr[i].pid == 0 && arr[i].name == this.specialtyType) {
          this.defaultExpand.push(arr[i].id);
          this.specialtyCode = arr[i].code;
        } else if (!arr[i].subs && arr[i].name == this.engType) {
          // 工程类型
          this.defaultExpand.push(arr[i].id);
          this.lastId = arr[i].id;

          // 设置默认筛选条件
          this.$emit(
            "nodeClick",
            this.specialtyType,
            this.projectType,
            this.engType,
            this.specialtyCode
          );
          let resultObj = Object.assign(this.selectedCondition, {
            category: this.engType,
          });
          this.$store.commit("SET_SELECTED_CONDITION", resultObj);
          break;
        } else if (arr[i].name == this.projectType) {
          // 项目类型
          this.defaultExpand.push(arr[i].id);
        }

        if (arr[i].subs && arr[i].subs.length) {
          this.echoFun(arr[i].subs);
        }
      }
    },
    filterNode(value, data, node) {
      if (!value) {
        node.expanded = false;
        return true;
      }
      return this.checkBelongToChooseNode(value, data, node);
    },
    search() {},
    // 节点被点击时的回调
    nodeClickHandle(it, node, obj) {
      if (node.level == 3) {
        // 只有工程类型级能切换
        this.lastId = it.id;
        // 使树筛选时选中的节点高亮显示
        this.$refs.tree.setCurrentKey(it.id);
        this.engType = it.name;
        this.projectType = node.parent.data.name;
        this.specialtyType = node.parent.parent.data.name;
        this.specialtyCode = node.parent.parent.data.code;
        this.$emit(
          "nodeClick",
          this.specialtyType,
          this.projectType,
          this.engType,
          this.specialtyCode
        );
        // 更新筛选条件
        let resultObj = Object.assign(this.selectedCondition, {
          category: this.engType,
        });
        this.$store.commit("SET_SELECTED_CONDITION", resultObj);
      } else {
        this.$refs.tree.setCurrentKey(this.lastId);
      }
    },
    // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData();
      formData.append("type", 1);
      queryProjectTypeTree(formData).then((res) => {
        this.defaultExpand = [];
        if (res && res.code == "01") {
          this.projectOptions = res.body;
          if (this.projectOptions && this.projectOptions.length) {
            if (this.specialtyType) {
              // 回显
              this.echoFun(this.projectOptions);
            } else {
              // 默认展开第一级
              this.recursionFun(this.projectOptions);
            }

            this.isShowHighlight = true;
            // 设置默认选中第一级的最子级
            this.$nextTick(function () {
              this.$refs.tree.setCurrentKey(this.lastId);
              // this.$emit("nodeClick", this.specialtyType, this.projectType, this.engType, this.specialtyCode);
            });
          }
        }
      });
    },
    // 判断传入的节点是不是选中节点的子节点
    checkBelongToChooseNode(value, data, node) {
      if (data.name.indexOf(value) !== -1) {
        return true;
      }
      const level = node.level;
      // 如果传入的节点本身就是一级节点就不用校验了
      if (level === 1) {
        return false;
      }
      // 先取当前节点的父节点
      let parentData = node.parent;
      // 遍历当前节点的父节点
      let index = 0;
      while (index < level - 1) {
        // 如果匹配到直接返回
        if (parentData.data.name.indexOf(value) != -1) {
          return true;
        }
        // 否则的话再往上一层做匹配
        parentData = parentData.parent;
        index++;
      }
      // 没匹配到返回false
      return false;
    },
    // 清除选中
    clearChecked() {
      this.defaultExpand = [];
      this.engType = null;
      this.projectType = null;
      this.specialtyType = null;
      this.specialtyCode = null;
      this.$emit("nodeClick", null, null, null, null);
      this.$nextTick(() => {
        this.$refs.tree.setCurrentKey(null);
        let nodes = this.$refs.tree.store.nodesMap;
        for (let i in nodes) {
          if (nodes[i].expanded) nodes[i].expanded = false;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.box-content .com-search2 {
  width: auto;
  min-width: 150px;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #eaeaea;

  &::v-deep .el-input__inner::-webkit-input-placeholder {
    /* placeholder字体大小  */
    font-size: 12px;
  }
}

.div-tree {
  .el-tree {
    color: #333;
    &::v-deep.el-tree--highlight-current
      .el-tree-node.is-current
      > .el-tree-node__content {
      color: #f9a147;
      background: transparent;
    }

    &::v-deep .el-tree-node__content {
      &:hover {
        color: #f9a147;
        background: transparent;
      }
    }

    &::v-deep .el-tree-node__children {
      color: #999999;
    }
  }
}
</style>
