<template>
  <!-- 添加弹窗 -->
  <el-dialog title="编辑主材" :visible.sync="showEditDialog" :close-on-click-modal="false" :before-close="closeDialog" width="80%" class="com-dialog home-edit-dialog">
    <div class="upload-cj-container">
      <div class="up-wrap">
        <div class="flex-c com-input com-select cycle-wrap">
          <span class="com-label-text">周期数据</span>
          <el-select v-model="curCycle" :disabled="disabledSel" placeholder="请选择周期" @change="changeCycle">
            <el-option v-for="(item, index) in cycleList" :key="index" :label="item.name" :value="item.value" />
          </el-select>
        </div>
        <div class="com-search">
          <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如：名称、提交人" @keyup.enter.native="searchFunc" />
          <i class="el-icon-search" @click="searchFunc" />
        </div>
        <div class="search-type">
          <div class="flex-fs custom-type">
            <span class="com-label-text">自定义材料分类</span>
            <div class="t-wrap">
              <ul v-if="customType && customType.length > 0" class="flex-c">
                <li :class="{active: curCustomType === ''}" @click="toggleCustomType('')">全部</li>
                <li v-for="(item, index) in customType" :key="index" :class="{active: curCustomType == item.id}" @click="toggleCustomType(index)">
                  {{ item.name }}
                </li>
              </ul>
              <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-c">
                <li :class="{active: curCustomTypeItem === ''}" @click="toggleCustomTypeItem('')">
                  全部
                </li>
                <li v-for="(item, index) in customTypeItem" :key="index" :class="{active: curCustomTypeItem == item.id}" @click="toggleCustomTypeItem(item.id)">
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
          <div class="flex-fs norm-type">
            <span class="com-label-text"><span class="com-alt">占位符</span>国标分类</span>
            <div class="t-wrap">
              <ul class="flex-cw" :class="{'is-fold': isFold}">
                <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
                <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                  {{ item.name }}
                </li>
              </ul>
              <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
                <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
                <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.code}" @click="changeNormTypeItem(item.code)">
                  {{ item.name }}
                </li>
              </ul>
            </div>
            <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
          </div>
        </div>

        <p class="tip-label">已设主材（{{ multipleSelection.length }}/10）</p>
        <div class="table-wrap">
          <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" row-key="id" style="width: 100%" @selection-change="handleSelectionChange">
            <el-table-column type="selection" :reserve-selection="true" width="96px" class-name="ta-center" />
            <el-table-column prop="sortNo" label="序号" />
            <el-table-column prop="name" label="材料名称" />
            <el-table-column prop="stdName" label="标准名称" />
            <el-table-column prop="zcode" label="编码" />
            <el-table-column prop="spec" label="规格" />
            <el-table-column prop="unit" label="单位" />
            <el-table-column prop="remark" label="备注" />
          </el-table>

          <div class="flex-csb com-pages-wrap">
            <div class="flex-c left-page">
              <span>当前显示</span>
              <div class="flex-cc cur-page">
                <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                  <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
                </el-select>
              </div>
              <span>条</span>
              <span class="total-num">共{{ totalPage }}条数据</span>
            </div>
            <div class="flex-c right-page">
              <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalPage" @current-change="handleCurrentChange" />
              <div class="com-page-btn">确定</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取消</el-button>
      <el-button type="primary" :loading="submitLoading" @click="setMainMaterial">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import {
  getTempCustomType,
  getNewTemplateDetailListPage,
  getCycleInfo
} from '@/api/cs/collectTemplate'
import { getCjType } from '@/api/cs/materialManage'
import { setMainMaterial } from '@/api/cs/user'

export default {
  name: 'ModeDetail',
  props: ['showEditDialog', 'matList', 'isCurrent'],
  data() {
    return {
      searchVal: '',
      currentPage: 1,
      pageSize: 10,
      totalPage: 0,
      tableData: [],
      multipleSelection: [],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      isFold: true,
      submitLoading: false,
      isFirst: true,
      cycleList: [
        {
          name: '当前周期',
          value: 0
        },
        {
          name: '上一周期',
          value: 1
        }
      ],
      curCycle: 0,
      disabledSel: false
    }
  },
  mounted() {
    // console.log(this.isCurrent);// 1无材料 2本周期 3上周期
    // if(this.isCurrent==2){
    //   this.curCycle = 0
    //   this.disabledSel = true
    // }else if(this.isCurrent==3){
    //   this.curCycle = 1
    //   this.disabledSel = true
    // }
    this.isFirst = true
    this.getCycleInfo()
    this.getData()
    this.getTempDetailList()
  },
  methods: {
    // 获取所有周期信息
    getCycleInfo() {
      getCycleInfo().then(res => {
        if (res.code == '01') {
          const dateArr = res.body || []
          try {
            const curDate = new Date().getTime()
            for (let i = 0; i < dateArr.length; i++) {
              const startDate = dateArr[i].startDate
              const endDate = dateArr[i].endDate
              if (
                new Date(startDate).getTime() <= curDate &&
                curDate <= new Date(endDate).getTime()
              ) {
                this.cycleList[0].name =
                  (dateArr[i].howPeriod || '') + ' 当前周期'
                this.cycleList[1].name =
                  (dateArr[i + 1].howPeriod || '') + ' 上一周期'
              }
            }
          } catch (err) {}
        }
      })
    },
    // 切换期次
    changeCycle() {
      this.currentPage = 1
      this.getTempDetailList()
    },
    // 回填已勾选数据
    initCheckedData() {
      for (var i = 0; i < this.matList.length; i++) {
        if (this.matList[i].id) {
          this.multipleSelection.push(this.matList[i])
        }
      }

      if (this.multipleSelection) {
        this.multipleSelection.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      }

      this.isFirst = false
    },
    // 设置主材
    setMainMaterial() {
      console.log(this.multipleSelection)
      if (this.multipleSelection.length == 0) {
        this.$message({
          type: 'error',
          message: '请选择要设置的主材'
        })
        return
      }
      if (this.multipleSelection.length > 10) {
        this.$message({
          type: 'error',
          message: '最多只能设置10条主材'
        })
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var params = {
        ids: ids.join(',')
      }
      this.submitLoading = true
      setMainMaterial(params)
        .then(res => {
          this.submitLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.$emit('closeDialog', 'refresh')
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.submitLoading = false
        })
    },
    // 关闭弹窗
    closeDialog() {
      this.$emit('closeDialog')
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getTempDetailList()
    },
    // 详情列表
    getTempDetailList() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        tempId: this.id,
        customTypeId: customTypeId || null,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId || null,
        isCurrent: this.curCycle
      }
      this.loading = true
      getNewTemplateDetailListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalPage = res.body.totalCount
            if (this.isFirst) {
              this.initCheckedData()
            }
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      Promise.all([getTempCustomType(), getCjType()]).then(res => {
        // 自定义材料分类
        var data01 = res[0]
        if (data01.code == '01') {
          this.customType = data01.body
        }

        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }
      })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getTempDetailList()
    },
    changeNormTypeItem(code) {
      this.curNormTypeItem = code

      this.getTempDetailList()
    },
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.curCustomTypeItem = id

      this.getTempDetailList()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      this.curCustomTypeItem = ''
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
        } else {
          this.customTypeItem = this.customType[index].sub
          this.curCustomType = this.customType[index].id
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
      }

      this.getTempDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTempDetailList()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../../styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .top-search {
      padding-left: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .search-ipt {
        width: 315px;
        height: 34px;
        border-radius: 5px 0px 0px 5px;
      }
      .search-btn {
        width: 86px;
        height: 34px;
        text-align: center;
        background: $color-primary;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        border-radius: 0px 5px 5px 0px;
        color: #fff;
      }
    }
    .cycle-wrap {
      padding: 20px;
      > span {
        margin-right: 19px;
      }
      .el-select {
        width: 350px;
      }
    }
  }
  .search-type {
    margin-bottom: 30px;
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .tip-label {
    margin: 0 0 20px 20px;
    color: #333;
    font-size: 14px;
  }
}
</style>
<style lang="scss">
.home-edit-dialog {
  .el-dialog {
    margin-top: 0 !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
  }
  .el-dialog__body {
    padding: 20px 0 0 0;
    height: 85%;
    overflow: auto;
  }
  .el-dialog__footer {
    text-align: right;
  }
  .el-checkbox {
    margin-bottom: 0;
    width: unset;
  }
}
</style>
