<template>
  <div class="params-container">
    <!-- 样本筛选设置 -->
    <div class="filter-set">
      <div class="flex-c">
        <span class="mr-10 b-text">样本筛选设置</span>
        <div class="ml-10 mr-10 com-switch">
          <span v-show="!sampleFilter" class="close-text" @click="changeSampleFilter(true)">开</span>
          <span v-show="sampleFilter" class="open-text" @click="changeSampleFilter(false)">关</span>
          <el-switch v-model="sampleFilter" active-color="#2773FC" inactive-color="#C2C2C2" @change="changeSampleFilter" />
        </div>
        <span class="s-text">设定全部材价样本中用来参与测算的样本范围，当材价≥12条时才会启动样本筛选</span>
      </div>
      <div class="flex-c mt-20 com-input">
        <span class="s-text">系数λ</span>
        <el-popover placement="bottom" width="210" trigger="hover" content="注意：λ是自定义设置的系数，值越大，样本取值的区间范围越大，且0≤λ≤1，最多2位小数点。">
          <img slot="reference" class="ml-5 mt--20" src="@/assets/img/cs/icons/what_icon.png" alt="">
        </el-popover>
        <span class="ml-10 mr-10">=</span>
        <el-input v-model="coefficientValue" class="w-114" @input="checkCoefficientValue" @blur="changeCoefficientValue" />
      </div>
      <div class="mb-20 mt-20 tip-text">
        <p>建议（需要人工判断，请慎重选择）</p>
        <p>①当材价质量较好，建议λ取值0-0.3；</p>
        <p>②当材价质量一般，建议λ取值0.3-0.6；</p>
        <p>③当材价质量较差，建议λ取值0.6-1；</p>
      </div>
    </div>
    <!-- 样本筛选设置 end -->

    <!-- 测算设置 -->
    <div class="mb-50 calculate-set">
      <span class="b-text">测算设置</span>
      <p class="s-text">测算模型<span>（注：勾选时综合价测算页面将启动相应模型）</span></p>
      <ul class="flex-cw">
        <li v-for="(item, index) in typeList" :key="index" class="pr">
          <div class="flex-cc">
            <span>{{ item.dictName }}</span>
          </div>
          <div class="flex-cc g-wrap">
            <img v-if="item.dictStatus == 0" class="cp" src="@/assets/img/cs/icons/yes_icon02.png" alt="" @click="selectType(item, 1)">
            <img v-else class="cp" src="@/assets/img/cs/icons/yes_icon.png" alt="" @click="selectType(item, 0)">
          </div>
          <div class="setting-wrap" @click="toggleType(item)">
            <span class="el-icon-setting" />
          </div>
        </li>
      </ul>
    </div>
    <!-- 测算设置 end -->

    <!-- 正态分布 -->
    <div v-if="curType === 'PN'" class="normal-set">
      <span class="b-text">{{ curTypeName }}</span>
      <p class="s-text">该模型适用于采集到的材价数量比较多、报价质量一般（价格偏离比较大）的情形。</p>
      <div class="normal-content">
        <div class="flex-c top-ipt">
          <div>
            <p>正态分布模型-区间合理系数</p>
            <div class="flex-c">
              <span class="nw mr-8 s-text">区间合理系数</span>
              <el-input v-model="intervalCoefficient" @input="checkIntervalCoefficient" />
              <span class="ml-5">%</span>
            </div>
          </div>
          <div>
            <p>正态分布模型-区间占比</p>
            <div class="flex-c">
              <span class="nw mr-8 s-text">区间占比</span>
              <el-input v-model="proportion" @input="checkProportion" />
              <span class="ml-5">%</span>
            </div>
          </div>
        </div>
        <div class="com-operate-wrap bottom-btn">
          <el-button @click="cancelEdit">取消</el-button>
          <el-button type="primary" class="save-btn" :loading="loading" @click="saveNormalValue">保存</el-button>
        </div>
      </div>
    </div>
    <!-- 正态分布 end -->
    <!-- 权重回归 -->
    <div v-if="curType === 'PWR'" class="weight-wrap">
      <span class="b-text">{{ curTypeName }}</span>
      <p class="mt-20 mb-5 s-text wh">加权平均值即将各数值乘以相应的权数，然后加总求和得到总体值，再除以总的单位数。</p>
      <p class="mb-20 s-text wh">该模型适用于有多个材价数据来源、不同来源的报价水平有比较明显差异的情形（需要判断不同来源报价水平的可参考性）。</p>
      <div class="table-wrap">
        <el-table ref="multipleTable" :data="weightList" tooltip-effect="dark" border center style="width: 500px">
          <el-table-column prop="name" label="材价来源" />
          <el-table-column label="权重占比">
            <template slot-scope="scope">
              <div class="flex-cc">
                <el-input v-model="scope.row.weights" class="mr-10" @input="checkWeight(scope.$index)" />
                <span>%</span>
              </div>
            </template>
          </el-table-column>
          <!-- <el-table-column>
            <template slot="header">
              <div class="flex-cc">
                <span class="mr-10">剩余权重0%</span>
                <img src="@/assets/img/cs/icons/weight_icon.png" alt="">
              </div>
            </template>
            <template slot-scope="scope">
              <div class="flex-cc">
                <el-input class="mr-10" v-model="scope.row.remainRatio"></el-input>
                <span>%</span>
              </div>
            </template>
          </el-table-column> -->
        </el-table>

        <div class="com-operate-wrap bottom-btn">
          <el-button @click="cancelEdit">取消</el-button>
          <el-button type="primary" class="save-btn" :loading="weightLoading" @click="saveWeightConfig">保存</el-button>
        </div>
      </div>
    </div>
    <!-- 权重回归 end -->
    <!-- 算术平均 -->
    <div v-if="curType === 'AM'">
      <span class="b-text">{{ curTypeName }}</span>
      <p class="mt-20 s-text">
        算术平均法是求出一定观察期内预测目标的时间数列的算术平均数作为下期预测值的一种最简单的时序预测法。</p>
      <p class="mt-20 s-text">该模型适用于采集到的材价数量特别多、报价质量比较高的情形。</p>
    </div>
    <!-- 算术平均 end -->
  </div>
</template>

<script>
import { getSysDictList, getSysDict } from '@/api/cs/materialManage'
import { addOrUpdateSysDict } from '@/api/cs/user'
export default {
  data() {
    return {
      sampleFilter: true, // 样本筛选
      coefficientId: null,
      coefficientValue: null, // 系数值
      typeList: [], // 测算设置
      curType: '',
      curTypeName: '',
      intervalCoefficient: '', // 区间合理系数
      intervalCoefficientId: '',
      proportion: '', // 区间占比例
      loading: false,
      weightList: [],
      weightId: '',
      weightLoading: false
    }
  },
  mounted() {
    this.getCoefficientValueConfig()
    this.getPNModelConfig()
    this.getCalSet()
    this.getWeightConfig()
  },
  methods: {
    // 保存权重配置
    saveWeightConfig() {
      var total = 0
      for (var i = 0; i < this.weightList.length; i++) {
        if (this.weightList[i].weights === '') {
          this.$message({
            type: 'error',
            message: '请输入权重占比'
          })
          return
        }
        total += Number(this.weightList[i].weights)
      }
      if (total > 100) {
        this.$message({
          type: 'error',
          message: '权重占比和不能大于100'
        })
        return
      }
      if (total <= 0) {
        this.$message({
          type: 'error',
          message: '权重相加总和必须大于0'
        })
        return
      }

      var params = {
        id: this.weightId,
        dictValue: JSON.stringify(this.weightList)
      }
      this.weightLoading = true
      addOrUpdateSysDict(params)
        .then(res => {
          this.weightLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.weightLoading = false
        })
    },
    // 权重数值校验
    checkWeight(type) {
      if (this.weightList[type].weights === '00') {
        this.weightList[type].weights = 0
        return
      }
      if (this.weightList[type].weights > 100) {
        this.weightList[type].weights = 100
        return
      }
      // 清除"数字"和"."以外的字符
      this.weightList[type].weights = this.weightList[type].weights.replace(
        /[^\d.]/g,
        ''
      )
      // 验证第一个字符是数字而不是字符
      this.weightList[type].weights = this.weightList[type].weights.replace(
        /^\./g,
        ''
      )
      // 只保留第一个.清除多余的
      this.weightList[type].weights = this.weightList[type].weights.replace(
        /\.{2,}/g,
        '.'
      )
      this.weightList[type].weights = this.weightList[type].weights
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.weightList[type].weights = this.weightList[type].weights.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },
    // 获取权重配置
    getWeightConfig() {
      var params = {
        dictCode: 'PWR',
        dictTypeId: 'CAL_MAT_MODEL'
      }
      getSysDict(params).then(res => {
        if (res.code == '01') {
          this.weightId = res.body.id
          this.weightList = res.body.dictValue
        }
      })
    },
    // 算法开/关
    selectType(item, status) {
      var params = {
        id: item.id,
        dictStatus: status
      }
      addOrUpdateSysDict(params).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCalSet()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 获取测算设置
    getCalSet() {
      var params = {
        dictTypeId: 'CAL_MAT_MODEL'
      }
      getSysDictList(params).then(res => {
        if (res.code == '01') {
          this.typeList = res.body
        }
      })
    },
    // 正太分布保存
    saveNormalValue() {
      if (
        this.intervalCoefficient === '' ||
        this.intervalCoefficient === null
      ) {
        this.$message({
          type: 'error',
          message: '请输入区间合理系数'
        })
        return
      }
      if (this.proportion === '' || this.proportion === null) {
        this.$message({
          type: 'error',
          message: '请输入区间占比'
        })
        return
      }
      if (this.proportion <= 0) {
        this.$message({
          type: 'error',
          message: '区间占比必须大于0'
        })
        return
      }
      var dictStatus = ''
      for (var i = 0; i < this.typeList.length; i++) {
        if (this.typeList[i].dictCode == 'PN') {
          dictStatus = this.typeList[i].dictStatus
        }
      }
      var params = {
        id: this.intervalCoefficientId,
        dictStatus: dictStatus,
        dictValue: JSON.stringify({
          intervalCoefficient: this.intervalCoefficient,
          proportion: this.proportion
        })
      }
      addOrUpdateSysDict(params).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 区间合理系数校验
    checkIntervalCoefficient() {
      if (this.intervalCoefficient === '00') {
        this.intervalCoefficient = 0
        return
      }
      if (this.intervalCoefficient > 100) {
        this.intervalCoefficient = 100
        return
      }
      // 清除"数字"和"."以外的字符
      this.intervalCoefficient = this.intervalCoefficient.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.intervalCoefficient = this.intervalCoefficient.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.intervalCoefficient = this.intervalCoefficient.replace(
        /\.{2,}/g,
        '.'
      )
      this.intervalCoefficient = this.intervalCoefficient
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.intervalCoefficient = this.intervalCoefficient.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },
    // 区间占比校验
    checkProportion() {
      if (this.proportion === '00') {
        this.proportion = 0
        return
      }
      if (this.proportion > 100) {
        this.proportion = 100
        return
      }
      // 清除"数字"和"."以外的字符
      this.proportion = this.proportion.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.proportion = this.proportion.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.proportion = this.proportion.replace(/\.{2,}/g, '.')
      this.proportion = this.proportion
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.proportion = this.proportion.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },
    // 获取正态分布模型设置
    getPNModelConfig() {
      var params = {
        dictCode: 'PN',
        dictTypeId: 'CAL_MAT_MODEL'
      }
      getSysDict(params).then(res => {
        if (res.code == '01') {
          this.intervalCoefficientId = res.body.id
          this.intervalCoefficient = res.body.dictValue.intervalCoefficient
          this.proportion = res.body.dictValue.proportion
        }
      })
    },
    // 修改系数值
    changeCoefficientValue() {
      this.coefficientValueConfig()
    },
    // 系数值校验
    checkCoefficientValue() {
      if (this.coefficientValue === '00') {
        this.coefficientValue = 0
        return
      }
      if (this.coefficientValue > 1) {
        this.coefficientValue = 1
        return
      }
      // 清除"数字"和"."以外的字符
      this.coefficientValue = this.coefficientValue.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.coefficientValue = this.coefficientValue.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.coefficientValue = this.coefficientValue.replace(/\.{2,}/g, '.')
      this.coefficientValue = this.coefficientValue
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.coefficientValue = this.coefficientValue.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },
    // 获取样本筛选设置
    getCoefficientValueConfig() {
      var params = {
        // dictCode: 'coefficientValue',
        dictTypeId: 'DISCRETE_CAL_COEFFICIENT'
      }
      getSysDict(params).then(res => {
        if (res.code == '01') {
          this.coefficientId = res.body.id
          this.coefficientValue = res.body.dictValue
          this.sampleFilter = res.body.dictStatus == 1
        }
      })
    },
    // 样本筛选设置
    coefficientValueConfig() {
      var params = {
        id: this.coefficientId,
        dictValue: this.coefficientValue,
        dictStatus: this.sampleFilter ? 1 : 0
      }
      addOrUpdateSysDict(params).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    changeSampleFilter(val) {
      this.sampleFilter = val
      this.coefficientValueConfig()
    },
    cancelEdit() {
      this.curType = ''
    },
    toggleType(item) {
      this.curType = item.dictCode
      this.curTypeName = item.dictName
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../../styles/cs/variables.scss';
.params-container {
  padding: 5px 20px 0 20px;
  .b-text {
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  .s-text {
    color: #666;
    font-size: 14px;
  }
  .bottom-btn {
    text-align: center;
    .save-btn {
      color: #fff;
      border: 0px;
      background: $color-primary;
    }
  }
  .filter-set {
    .tip-text {
      line-height: 24px;
      color: #999;
      font-size: 12px;
    }
  }
  .calculate-set {
    p {
      margin: 20px 0;
      font-weight: bold;
      > span {
        font-weight: 400;
      }
    }
    ul {
      li {
        margin-right: 50px;
        width: 160px;
        height: 120px;
        border: 1px solid #b9c6dc;
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        &:hover {
          .setting-wrap {
            visibility: inherit;
          }
        }
        > div {
          width: 100%;
          height: 50%;
          box-sizing: border-box;
          &.g-wrap {
            color: #999;
            background: #f7f7f7;
          }
        }
        .setting-wrap {
          visibility: hidden;
          position: absolute;
          right: -30px;
          top: -1px;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border: 1px solid #b9c6dc;
          cursor: pointer;
        }
      }
    }
  }
  .normal-set {
    p {
      margin: 20px 0;
      font-size: 12px;
    }
    .normal-content {
      width: 520px;
      height: 241px;
      background: #fff;
      border: 1px solid #b9c6dc;
      border-radius: 4px;
      .top-ipt {
        margin-top: 20px;
        padding: 0 20px 46px 20px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #efefef;
        > div:first-child {
          margin-right: 82px;
        }
        span {
          font-weight: 400;
        }
      }
    }
  }
  .weight-wrap {
    .table-wrap {
      width: 500px;
      border: 1px solid #b9c6dc;
    }
  }
  .com-switch .open-text {
    left: 16px;
  }
  .com-switch .close-text {
    right: 16px;
    left: 32px;
  }
}
</style>
<style lang="scss">
.params-container {
  .normal-content {
    .el-input,
    .el-input__inner {
      width: 100px;
      height: 34px;
    }
  }
  .weight-wrap {
    .el-table {
      th,
      td {
        text-align: center;
      }
    }
    .el-input,
    .el-input__inner {
      width: 100px;
      height: 40px;
    }
  }
}
</style>
