<template>
  <div class="footer-container" :class="{page404}">
      <p>中华人民共和国国家标准《建设工程人工材料设备机械数据标准》参编单位和数据提供方</p>
      <p>&copy;2020 广东中建普联科技股份有限公司 版权所有 技术支持：造价通 400-888-9639</p>
  </div>
</template>

<script>
export default {
    props: ['from'],
    name: 'MFooter',
    data() {
        return {
            page404: ''
        }
    },
    mounted() {
        // 部分组件引入时，特殊布局处理
        this.page404 = this.from
    }
}
</script>

<style lang="scss" scoped>
.footer-container {
    margin-top: 30px;
    width: 100%;
    height: 90px;
    color: #a0abbf;
    text-align: center;
    font-size: 12px;
    &.page404 {
        position: absolute;
        bottom: 0;
    }
}
</style>