<template>
  <div>
    <!-- 绑定账号弹窗 -->
    <el-dialog
      title="绑定造价通账号"
      :visible.sync="showBindDialog"
      width="460px"
      class="com-dialog bindwin my-dialog"
      :close-on-click-modal="false"
      :before-close="cancelBind"
    >
      <div class="box">
        <el-tabs v-model="activeName" @tab-click="bindmodel">
          <!-- 账号绑定 -->
          <el-tab-pane label="账号登录绑定" name="account">
            <div class="name">
              <el-input placeholder="请输入账号或账号名称" v-model="bindName">
                <template slot="prepend">
                  <img src="@/assets/img/dialog/account.png" alt="" />
                </template>
              </el-input>
            </div>
            <div class="password">
              <el-input
                auto-complete="new-password"
                placeholder="请输入密码"
                type="password"
                v-model="bindPassword"
              >
                <template slot="prepend">
                  <img src="@/assets/img/dialog/password.png" alt="" />
                </template>
              </el-input>
            </div>
            <div class="flex-csb code">
              <el-input placeholder="请输入验证码" v-model="bindCode"></el-input>
              <img class="code-img" :src="codeImg" alt="" @click="getCodeImg" />
            </div>
          </el-tab-pane>
          <!-- 手机绑定 -->
          <el-tab-pane label="手机登录绑定" name="phone">
            <div class="name">
              <el-input
                placeholder="请输入手机号码"
                @input="phoneChange"
                v-model="bindPhone"
              >
                <template slot="prepend">
                  <img src="@/assets/img/dialog/phone.png" alt="" />
                </template>
              </el-input>
            </div>
            <div class="flex-csb code">
              <el-input
                placeholder="请输入验证码"
                v-model="bindphoneCode"
              ></el-input>
              <div
                v-if="!sending"
                class="flex-cc sendcode"
                @click="sendVerificationCode"
              >
                {{ sendText }}
              </div>
              <div v-else class="flex-cc graycode">
                发送验证码（{{ timeCount }}s）
              </div>
            </div>
            <p v-if="sending">短信已发送至 {{ bindPhone }}</p>
          </el-tab-pane>
        </el-tabs>
        <div v-if="binderror" class="tips">{{ binderror }}</div>
        <div v-else class="tips"></div>
        <!-- 底部 -->
        <span slot="footer" class="flex-cc dialog-footer">
          <el-button @click="cancelBind">取消</el-button>
          <el-button :loading="bindloading" type="primary" @click="bindAccount"
            >确定</el-button
          >
        </span>
        <span slot="footer" class="dialog-footer flex-csb another">
          <div class="flex-c left">
            <span>其它绑定登录</span>
            <!-- <img
              :src="qqsrc"
              alt=""
              @mouseover="qqMouseout(1)"
              @mouseout="qqMouseout(2)"
            /> -->
            <img
              :src="wechatsrc"
              alt=""
              @click="showWechatScan"
              class="wechat"
              @mouseover="wechatMouseout(1)"
              @mouseout="wechatMouseout(2)"
            />
          </div>
          <div @click="toRegister" class="right">去注册></div>
        </span>
      </div>
    </el-dialog>

    <!-- 微信扫码弹窗 -->
    <el-dialog
      title="绑定造价通账号"
      :visible.sync="showScanDialog"
      width="460px"
      class="com-dialog my-dialog scanwin"
      :close-on-click-modal="false"
      @close="closeWXDialog">
      <div class="box">
        <div class="scanimg flex-cc">
          <span v-if="wechatError" style="position: absolute">
            {{ wechatError }}
            <img src="@/assets/img/icons/tip-icon.png" alt="" class="tip-img" />
          </span>
          <img v-else :src="wechatImg" alt="" />
          <div class="tipimg">
            <img src="@/assets/img/dialog/scan.png" alt="" />
          </div>
        </div>
        <p v-if="wechatError" @click="getTempORCodeInMem" class="tips reobtain">
          重新获取二维码
        </p>
        <p v-else class="tips">使用微信扫一扫，轻松登录造价通</p>
        <div class="flex-csb icons">
          <div class="item">
            <img src="@/assets/img/dialog/you1.png" alt="" />
            <span>免输入</span>
          </div>
          <div class="item">
            <img src="@/assets/img/dialog/you2.png" alt="" />
            <span>更快捷</span>
          </div>
          <div class="item">
            <img src="@/assets/img/dialog/you3.png" alt="" />
            <span>更安全</span>
          </div>
        </div>
      </div>
      <!-- 底部 -->
      <span slot="footer" class="flex-cc dialog-footer">
        <el-button @click="showScanDialog = false">取消</el-button>
        <el-button
          type="primary"
          :loading="scanloading"
          @click="showScanDialog = false"
          >确定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  authImg,
  accountPswBind,
  mobileCodeBind,
  getMobileCode,
  getTempORCodeInMem,
  qrLoginCheck,
} from "@/api/inquirySetting";
export default {
  name: "BindAccount",
  data() {
    return {
      activeName: "account", // 绑定账号方式
      bindName: "", // 绑定账号名称
      bindPassword: "", // 绑定账号密码
      bindCode: "", // 绑定账号验证码
      bindPhone: "", // 绑定手机号码
      bindphoneCode: "", // 绑定手机验证码
      binderror: "", // 提交绑定错误信息
      bindloading: false, // 绑定造价通按钮loading
      codeImg: "", // 图形验证码
      sending: false, // 发送验证码中
      sendText: "发送验证码", // 发送验证码按钮文字
      timeCount: "", // 验证码倒计时
      timer: null, // 验证码计时器
      qqsrc: require("/static/qq.png"),
      wechatsrc: require("/static/wechat.png"),
      qqactive: false,
      wechatactive: false,
      wechatImg: "",    // 微信二维码
      wechatError: "",    // 微信报错信息
      scanloading: false, // 微信扫描loading
      showScanDialog: false, // 微信扫码弹窗
      wxTimer: null,
    };
  },
  props: {
    showBindDialog: {
      // 绑定账号弹窗
      default: false,
    },
  },
  mounted() {
    this.getCodeImg();
  },
  methods: {
    // 切换绑定账号模式
    bindmodel(tab) {
      this.activeName = tab.name;
    },
    // 获取图形验证码
    getCodeImg() {
      authImg().then((res) => {
        // 后台返回二进制流，转换成base64渲染
        this.codeImg =
          "data:image/png;base64," +
          btoa(
            new Uint8Array(res).reduce(
              (res, byte) => res + String.fromCharCode(byte),
              ""
            )
          );
      });
    },
    // 手机登录绑定-修改手机号码触发
    phoneChange(e) {
      if (this.sendText != "发送验证码") this.sendText = "发送验证码";
    },
    // 发送验证码
    sendVerificationCode() {
      if (!this.bindPhone) {
        this.$message({
          type: "error",
          message: "请输入手机号",
        });
        return;
      }

      getMobileCode({
        mobile: this.bindPhone,
      }).then((res) => {
        if (res.code === "01") {
          this.$message({
            type: "success",
            message: "短信已发至您的手机！",
          });

          const TIME_COUNT = 60;
          if (!this.timer) {
            this.timeCount = TIME_COUNT;
            this.sending = true;
            this.timer = setInterval(() => {
              if (this.timeCount > 0 && this.timeCount <= TIME_COUNT) {
                this.timeCount--;
              } else {
                this.sending = false;
                clearInterval(this.timer);
                this.timer = null;
                this.sendText = "重新发送";
              }
            }, 1000);
          }
        } else {
          this.$message({
            type: "error",
            message: res.message || "出错了",
          });
        }
      });
    },
    // 取消绑定账号
    cancelBind() {
      if (this.bindName) this.bindName = "";
      if (this.bindPassword) this.bindPassword = "";
      if (this.bindCode) this.bindCode = "";
      if (this.bindPhone) this.bindPhone = "";
      if (this.timer) {
        clearInterval(this.timer);
        this.timer = null;
      }
      this.$emit("hideDialog");
    },
    // 账号密码绑定账号
    bindAccount() {
      // 账号登录绑定
      if (this.activeName == "account") {
        console.log("账号登录绑定");
        if (!this.bindName) {
          this.$message({
            type: "error",
            message: "请输入账号或手机号",
          });
          return;
        } else if (!this.bindPassword) {
          this.$message({
            type: "error",
            message: "请输入密码",
          });
          return;
        } else if (!this.bindCode) {
          this.$message({
            type: "error",
            message: "请输入验证码",
          });
          return;
        }

        this.bindloading = true;
        accountPswBind({
          accountOrMobile: this.bindName,
          verifyCode: this.bindCode,
          psw: this.bindPassword,
        }).then((res) => {
          if (res.code === "01") {
            this.$message({
              type: "success",
              message: "绑定账号成功",
            });
            // 刷新列表
            this.$emit("search");
            // 清空数据
            this.cancelBind();
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });

            // 刷新验证码
            this.getCodeImg();
          }
          this.bindloading = false;
        });
      } else if (this.activeName == "phone") {
        // 手机登录绑定
        console.log("手机登录绑定");
        var regMoblie = /^1[345678]\d{9}$/;

        if (!this.bindPhone) {
          this.$message({
            type: "error",
            message: "请输入手机号",
          });
          return;
        } else if (!regMoblie.test(this.bindPhone)) {
          this.$message({
            type: "error",
            message: "该手机号格式错误",
          });
          return;
        } else if (!this.bindphoneCode) {
          this.$message({
            type: "error",
            message: "请输入验证码",
          });
          return;
        }

        this.bindloading = true;
        mobileCodeBind({
          mobile: this.bindPhone,
          verifyCode: this.bindphoneCode,
        }).then((res) => {
          if (res.code === "01") {
            this.$message({
              type: "success",
              message: "绑定账号成功",
            });

            // 刷新列表
            this.$emit("search");
            // 清空数据
            this.cancelBind();
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
            // 刷新验证码
            this.getCodeImg();
          }

          this.bindloading = false;
        });
      }
    },
    // qq图标输入移入移出样式
    qqMouseout(type) {
      if (type == 1) {
        this.qqsrc = require("/static/qq_active.png");
      } else {
        this.qqsrc = require("/static/qq.png");
      }
    },
    // 微信图标输入移入移出样式
    wechatMouseout(type) {
      if (type == 1) {
        this.wechatsrc = require("/static/wechat_active.png");
      } else {
        this.wechatsrc = require("/static/wechat.png");
      }
    },
    // 显示微信绑定
    showWechatScan() {
      this.showScanDialog = true;
      // 获取微信二维码
      this.getTempORCodeInMem();
    },
    // 获取微信二维码
    getTempORCodeInMem() {
      this.scanloading = true
      getTempORCodeInMem().then((res) => {
        this.scanloading = false
        this.wechatError = "";
        if (res.code == "01") {
          this.wechatImg = res.body

          // 轮询查看登录结果
          clearTimeout(this.wxTimer);
          this.wxTimer = setInterval(() => {
            this.qrLoginCheck();
          }, 3000);
        } else {
          this.wechatError = res.message;
        }
      });
    },
    // 微信扫码登录接口(轮询)
    qrLoginCheck() {
      let params = {
        rand: this.wechatImg
      }
      qrLoginCheck(params).then(res=>{
        if(res.code == '01') {
          this.$message({
            type: "success",
            message: "绑定账号成功",
          });
          this.showScanDialog = false
          this.getCodeImg();
          // 刷新列表
          this.$emit("search");
          this.$emit("hideDialog");
        }
      })
    },
    closeWXDialog() {
      if (this.wxTimer) clearTimeout(this.wxTimer);
    },
    toRegister() {
      // window.location.href = "https://member.zjtcn.com/common/reg_sel.html";
      window.open("https://member.zjtcn.com/common/reg_sel.html", "blank");
    },
  },
  beforeDestroy() {
    if (this.wxTimer) clearTimeout(this.wxTimer);
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.bindwin {
  .box {
    padding: 0 40px;
    .name {
      margin-bottom: 19px;
    }
    .password {
      margin-bottom: 19px;
    }
    .code {
      height: 36px;
      margin-bottom: 9px;
      > img {
        width: 178px;
        height: 100%;
      }
      .sendcode {
        width: 120px;
        height: 36px;
        color: #ffffff;
        background: #1789f2;
        border-radius: 4px;
        font-weight: 400;
        cursor: pointer;
      }
      .graycode {
        width: 120px;
        height: 36px;
        color: #ffffff;
        background: #b5b3b4;
        border-radius: 4px;
        font-weight: 400;
      }
    }
    .tips {
      min-height: 13px;
      width: 100%;
      font-size: 12px;
      font-family: "mainfont";
      color: #ff1f1f;
      margin: 0 0 15px 5px;
    }
    .another {
      margin-top: 21px;
      font-size: 12px;
      font-family: "mainfont";
      .left {
        > span {
          color: #999999;
        }
        > img {
          width: 16px;
          height: 16px;
          cursor: pointer;
          margin-left: 6px;
        }
        .wechat {
          width: 18px;
          height: 18px;
        }
      }
      .right {
        color: $color-primary;
        cursor: pointer;
      }
    }
  }
}
  .scanwin {
    .box {
      width: 210px;
      margin: 10px auto 20px;
      text-align: center;
      .scanimg {
        position: relative;
        margin: 0 auto;
        width: 132px;
        height: 132px;
        background: #ffffff;
        box-shadow: 0px 2px 18px 0px rgba(6, 41, 73, 0.14);
        border-radius: 12px;
        // transition: opacity 0.8s ease;
        > img {
          width: 104px;
          height: 104px;
        }
        .tip-img {
          margin-top: 5px;
          width: 25px;
        }
        .tipimg {
          display: none;
          opacity: 0;
          width: 185px;
          height: 250px;
          position: absolute;
          right: -200px;
          top: -10px;
          z-index: 2002;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        &:hover {
          .tipimg {
            display: block;
            opacity: 1;
          }
        }
      }
      .tips {
        font-weight: 400;
        line-height: 71px;
        color: #333333;
      }
      .reobtain {
        cursor: pointer;
        color: #1789f2;
      }
      .icons {
        .item {
          font-size: 12px;
          font-weight: 300;
          color: #cdcdcd;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          > img {
            width: 22px;
            height: 22px;
            margin-bottom: 7px;
          }
        }
      }
    }
  }
</style>
