<template>
  <div class="add-role">
    <div class="r-top">
      <div class="r-name">
        <span class="r-label"><span class="r-color">*</span>角色名称</span>
        <el-input v-model="roleName" placeholder="请输入"></el-input>
      </div>
      <div class="flex-fs r-mark">
        <span class="mt-8 r-label"><span class="com-alt">*</span>角色备注</span>
        <el-input
          type="textarea"
          :rows="3"
          placeholder="请输入备注内容"
          v-model="roleRemark">
        </el-input>
      </div>
    </div>

    <div class="r-wrap">
      <p class="s-label">功能权限</p>
      <div class="is-all">
        <el-checkbox v-model="isAll" @change="checkedAll"></el-checkbox>
        <span class="ml-10">全部权限</span>
      </div>
      <div class="s-content">
        <el-table
          :border="true"
          :data="permissionList"
          style="width: 100%">
          <el-table-column
            label="一级"
            width="193">
            <template slot-scope="scope">
              <ul class="s-item">
                <li v-for="(item, index) in scope.row.one" :key="index">
                  <el-checkbox v-model="item.checked" @change="checkedItem(scope.$index,0,$event,index)"></el-checkbox>
                  <span class="text-14 c-3">{{item.menuName}}</span>
                </li>
              </ul>
            </template>
          </el-table-column>
          <el-table-column
            label="二级"
            width="214">
            <template slot-scope="scope">
              <ul class="s-item">
                <li v-for="(item, index) in scope.row.two" :key="index">
                  <el-checkbox v-model="item.checked" @change="checkedItem(scope.$index,1,$event,index)"></el-checkbox>
                  <span class="text-14 c-ora">{{item.menuName}}</span>
                </li>
              </ul>
            </template>
          </el-table-column>
          <el-table-column
            label="功能">
            <template slot-scope="scope">
              <ul class="flex-cw fun-wrap" v-for="(item, index) in scope.row.three" :key="index">
                <li class="flex-c" v-for="(item2, index2) in item" :key="index2">
                  <el-checkbox v-model="item2.checked" @change="checkedItem(scope.$index,2,$event,index,index2)"></el-checkbox>
                  <span class="nw text-14 c-9">{{item2.menuName}}</span>
                </li>
              </ul>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div class="dialog-footer save-btn flex-cc">
      <el-button class="mt-20" type="primary" @click="updateRolesConfig">保存</el-button>
    </div>
  </div>
</template>

<script>
import {
  getMenuTree,
  getRoleInfo,
  addOrUpdateRole,
} from '@/api/user'
export default {
  name: 'addRole',
  data() {
    return {
      roleId: '',                       // 角色id
      roleName: '',                     // 当前角色名
      roleRemark: '',                   // 角色备注
      allMenuId: [],                    // 全部权限id
      permissionList: [],               // 一级权限列表
      checkedId: [],                    // 选中的配置id
      isAll: false,                     // 是否拥有全部权限
      saveLoading: false,
      roleStatus: '',                   // 角色1启用/0禁用
    }
  },

  mounted() {
    this.roleId = this.$route.query.id || ''
    this.roleStatus = this.$route.query.roleStatus
    this.getRolesConfig()
  },

  methods: {
    // 权限列表
    getAllMenuTree() {
      getMenuTree().then(res => {
        if (res.code == '01') {
          if(res.body && res.body.length > 0){
            this.addId(res.body)
            // 组装数据
            let tableData = []
            for(var i = 0; i < res.body.length; i++) {
              let data = {
                one: [],
                two: [],
                three: []
              }
              res.body[i].checked = this.checkedId.indexOf(res.body[i].id)>-1 ? true : false
              data.one.push(res.body[i])
              let item = res.body[i]
              if(item.subList) {
                for(var j = 0; j < item.subList.length; j++) {
                  item.subList[j].checked = this.checkedId.indexOf(item.subList[j].id)>-1 ? true : false
                  data.two.push(item.subList[j])
                  let subitem = item.subList[j]
                  let arr = []
                  if(subitem.subList) {
                    for(var k = 0; k < subitem.subList.length; k++) {
                      subitem.subList[k].checked = this.checkedId.indexOf(subitem.subList[k].id)>-1 ? true : false
                      arr.push(subitem.subList[k])
                    }
                  }
                  data.three.push(arr)
                }
              }
              tableData.push(data)
            }
            this.permissionList = tableData
          }

          this.hasAllPermission()
        }
      })
    },

    // 全部权限id
    addId(item) {
      for (var i = 0; i < item.length; i++) {
        this.allMenuId.push(+item[i].id)
        if(item[i].subList) this.addId(item[i].subList)
      }
    },

    // 获取角色配置
    getRolesConfig() {
      var params = {
        roleId: this.roleId
      }
      getRoleInfo(params).then(res => {
        if (res.code == '01') {
          try{
            this.roleName = res.body.roleName || ''
            this.roleRemark = res.body.roleRemark || ''
            this.checkedId = res.body.menuIds.split(',').map(Number) || []
          } catch(err) {}
        }
        this.getAllMenuTree()
      })
    },

    // 判断是否拥有全部权限
    hasAllPermission() {
      console.log(this.allMenuId);
      console.log(this.checkedId);
      if (this.allMenuId.length > this.checkedId.length || this.allMenuId.length == 0) {
        this.isAll = false
        return
      }
      for (var i = 0; i < this.allMenuId.length; i++) {
        if(this.checkedId.indexOf(this.allMenuId[i]) == -1) {
          this.isAll = false
          return
        }
      }
      this.isAll = true
    },

    // 选择/反选全部权限
    checkedAll(e) {
      for(let i=0; i < this.permissionList.length; i++) {
        this.checkedItem(i, 0, e)
      }
      if(e) {
          this.checkedId = this.allMenuId.slice(0)
      } else {
        this.checkedId = []
      }
    },

    // 勾选权限项
    checkedItem(row, col, status, index, index2) {
      // row行0开始 col列0开始 item项信息 status是否勾选 index单元格里第几行 index2针对功能列单元格里某行的第几个
      let curOne = this.permissionList[row].one[0]    // 一级项
      let curTwo = this.permissionList[row].two       // 二级项
      let curThree = this.permissionList[row].three   // 三级项
      if (status) { // 选中
        // 勾选上改项的父级
        if(this.checkedId.indexOf(curOne.id) == -1) {
          this.checkedId.unshift(curOne.id)
          curOne.checked = true
        }
        if (col != 0) {
          if (this.checkedId.indexOf(curTwo[index].id) == -1) {
            this.checkedId.unshift(curTwo[index].id)
            curTwo[index].checked = true
          }
        }
        if(col == 2) {
          if (this.checkedId.indexOf(curThree[index][index2].id) == -1) {
            this.checkedId.unshift(curThree[index][index2].id)
            curThree[index][index2].checked = true
          }
        }
        // 勾选所有子集项
        if(col == 0) {
          if(curTwo && curTwo.length>0) {
            for(let i = 0; i < curTwo.length; i++) {
              if(this.checkedId.indexOf(curTwo[i].id) == -1) {
                this.checkedId.push(curTwo[i].id)
                curTwo[i].checked = true
              }
            }
          }
          if(curThree && curThree.length>0) {
            for(let i = 0; i < curThree.length; i++) {
              for(let j = 0; j < curThree[i].length; j++) {
                if(this.checkedId.indexOf(curThree[i][j].id) == -1) {
                  this.checkedId.push(curThree[i][j].id)
                  curThree[i][j].checked = true
                }
              }
            }
          }
        } else if(col == 1) {
          if(curThree[index] && curThree[index].length>0) {
            for(let i = 0; i < curThree[index].length; i++) {
              if(this.checkedId.indexOf(curThree[index][i].id) == -1) {
                this.checkedId.push(curThree[index][i].id)
                curThree[index][i].checked = true
              }
            }
          }
        }
      } else { // 不勾选
        if(col == 0){
          if (this.checkedId.indexOf(curOne.id) > -1) {
            this.checkedId.splice(this.checkedId.indexOf(curOne.id), 1)
            curOne.checked = false
          }
          if(curTwo && curTwo.length>0) {
            for(let i = 0; i < curTwo.length; i++) {
              if(this.checkedId.indexOf(curTwo[i].id) > -1) {
                this.checkedId.splice(this.checkedId.indexOf(curTwo[i].id), 1)
                curTwo[i].checked = false
              }
            }
          }
          if(curThree && curThree.length>0) {
            for(let i = 0; i < curThree.length; i++) {
              for(let j = 0; j < curThree[i].length; j++) {
                if(this.checkedId.indexOf(curThree[i][j].id) > -1) {
                  this.checkedId.splice(this.checkedId.indexOf(curThree[i][j].id), 1)
                  curThree[i][j].checked = false
                }
              }
            }
          }
        } else if(col == 1){
          if (this.checkedId.indexOf(curTwo[index].id) > -1) {
            this.checkedId.splice(this.checkedId.indexOf(curTwo[index].id), 1)
            curTwo[index].checked = false
          }
          if(curThree[index] && curThree[index].length>0) {
            for(let i = 0; i < curThree[index].length; i++) {
              if (this.checkedId.indexOf(curThree[index][i].id) > -1) {
                this.checkedId.splice(this.checkedId.indexOf(curThree[index][i].id), 1)
                curThree[index][i].checked = false
              }
            }
          }
        } else if(col == 2){
          if (this.checkedId.indexOf(curThree[index][index2].id) > -1) {
            this.checkedId.splice(this.checkedId.indexOf(curThree[index][index2].id), 1)
            curThree[index][index2].checked = false
          }
        }
        // 下属项都取消，该项也取消
        if(curThree[index] && curThree[index].length>0){
          let allthreeblur = curThree[index].every( item => {
              return !item.checked
          })
          if(allthreeblur) {
            if (this.checkedId.indexOf(curTwo[index].id) > -1) {
              this.checkedId.splice(this.checkedId.indexOf(curTwo[index].id), 1)
              curTwo[index].checked = false
            }
          }
        }
        if(curTwo && curTwo.length>0){
          let alltwoblur = curTwo.every( item => {
              return !item.checked
          })
          if(alltwoblur) {
            if (this.checkedId.indexOf(curOne.id) > -1) {
              this.checkedId.splice(this.checkedId.indexOf(curOne.id), 1)
              curOne.checked = false
            }
          }
        }
      }
      this.hasAllPermission()
    },

    // 新增或更新角色
    updateRolesConfig() {
      if (!this.roleName) {
        this.$message({
          type: 'error',
          message: '请输入角色名称'
        })
        return
      }
      if (this.roleName.length > 20) {
        this.$message({
          type: 'error',
          message: '角色名称不能超过20个字符'
        })
        return
      }
      if (this.checkedId.length == 0) {
        this.$message({
          type: 'error',
          message: '请勾选角色权限'
        })
        return
      }

      let data = {
        roleName:this.roleName,
        remark:this.roleRemark,
        menuIds:this.checkedId.join(','),
        roleStatus: this.roleStatus
      }
      if(this.roleId) data.id = this.roleId,
      this.saveLoading = true
      addOrUpdateRole(data).then(res=>{
        this.saveLoading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          // 返回权限管理
          setTimeout(()=>{
            this.$router.push({
              path: '/setting/permission',
              query: {
                permission: true
              }
            })
          },1500)
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {
        this.saveLoading = false
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.add-role {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  .r-top {
    padding: 30px 21px;
    width: 100%;
    background: #fff;
    .r-label {
      margin-right: 12px;
      color: #333;
      font-size: 14px;
      white-space: nowrap;
    }
    .r-name {
      margin-bottom: 20px;
    }
  }
  .r-wrap {
    padding: 28px 22px;
    background: #fff;
    .s-label {
      margin-bottom: 38px;
      color: #333;
      font-size: 14px;
      font-weight: bold;
    }
    .is-all {
      color: #333;
      font-size: 14px;
    }
    .s-content {
      margin-top: 16px;
      padding: 3px 20px 20px 20px;
      background: #F4F4F4;
      .el-table__body-wrapper {
        ul {
          line-height: 36px;
          &.s-item li {
            margin-left: 42px;
          }
        }
        .fun-wrap {
          padding-left: 30px;
          box-sizing: content-box;
          li {
            margin-right: 10px;
            width: 140px;
          }
        }
      }
    }
  }
}
</style>
<style lang="scss">
@import '@/styles/variables.scss';
.add-role {
  .r-name {
    .el-input {
      width: 100px;
      height: 34px;
    }
    .el-input__inner {
      height: 34px;
      line-height: 34px;
      border: 1px solid #B9C6DC;
      &:focus {
        border-color: $color-primary;
      }
    }
  }
  .r-mark {
    .el-textarea__inner {
      resize: none;
      width: 450px;
      border: 1px solid #B9C6DC;
      &:focus {
        border-color: $color-primary;
      }
    }
  }
  .is-all {
    .el-checkbox__inner {
      border-radius: 4px;
      background: #F4F4F4;
      border: 0;
      width: 18px;
      height: 18px;
      &:after {
        border: 2px solid $color-primary;
        border-left: 0;
        border-top: 0;
        top: 3px;
        left: 6px;
      }
    }
  }
  .s-content {
    .el-table__header .has-gutter th {
      background: #F4F4F4;
      color: #999;
      border: none;
      &.el-table_1_column_3 .cell {
        margin-left: 50px;
        border: 1px solid #F0F0F0;
      }
    }
    .el-table th>.cell {
      margin-left: 42px;
    }
    .el-table .el-checkbox__inner {
      border-radius: 4px;
      background: #F4F4F4;
      border: 0;
    }
    .el-table .el-checkbox__inner::after {
      border: 2px solid $color-primary;
      border-left: 0;
      border-top: 0;
    }
    .el-checkbox {
      margin-right: 8px;
    }
    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background: #fff !important;
    }
  }
}
</style>
