<template>
  <div style="padding: 0 15px;" @click="toggleClick">
    <span class="el-icon-s-unfold hamburger" :class="{'is-active':isActive}"></span>
  </div>
</template>

<script>
export default {
  name: 'Hamburger',
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleClick() {
      this.$emit('toggleClick')
    }
  }
}
</script>

<style scoped>
.hamburger {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.hamburger.is-active {
  transform: rotate(180deg);
}
</style>
