<template>
  <div class="upload-cj-container">
    <!-- <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/publicModule/materialManage/index' }">材价管理</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">信息均价详情</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div> -->
    <div class="up-wrap">
      <h1 class="title_h1">
        <span>{{ tempName }}信息均价</span>
        <!-- 返回按钮 -->
        <div class="back-btn flex-cc" @click="back">返回</div>
      </h1>
      <div class="com-search">
        <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如：材料名称、规格、编码" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-fs custom-type">
          <span class="com-label-text">自定义材料分类</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li :class="{active: curCustomType === ''}" @click="toggleCustomType('')">全部</li>
              <li v-for="(item, index) in customType" :key="index" :class="{active: curCustomType == item.parentCategory}" @click="toggleCustomType(index)">
                {{ item.parentCategory }}
              </li>
              <!-- <li :class="{active: curCustomType === '0'}" @click="toggleCustomType('0')">未分类</li> -->
            </ul>
            <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-c">
              <li :class="{active: curCustomTypeItem === ''}" @click="toggleCustomTypeItem('')">
                全部
              </li>
              <li v-for="(item, index) in customTypeItem" :key="index" :class="{active: curCustomTypeItem == item.subCategory}" @click="toggleCustomTypeItem(item.subCategory)">
                {{ item.subCategory }}
              </li>
            </ul>
            <!-- <ul>
              <li class="minor-color" @click="$router.push('/cs/setting/modeSet')">前往设置分类</li>
            </ul> -->
          </div>
        </div>
        <div class="flex-fs norm-type">
          <span class="com-label-text"><span class="com-alt">占位符</span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.code}" @click="changeNormTypeItem(item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
        </div>
      </div>

      <div class="table-wrap">
        <div class="flex-csb com-operate-wrap">
          <div>
            <span>
              <el-button :loading="exportLoading" @click="exportAllAvgMessagePriceDetailFile">全部导出</el-button>
            </span>
            <span>
              <el-button :loading="exportLoading" @click="exportAvgMessagePriceDetailFile">导出</el-button>
            </span>
          </div>
          <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="66px" />
          <el-table-column v-if="checkedList.indexOf('序号') != -1" width="66px" prop="sortNo" label="序号" />
          <el-table-column v-if="checkedList.indexOf('编码') != -1" prop="zcode" label="编码" />
          <el-table-column v-if="checkedList.indexOf('标准化名称') != -1" prop="stdName" label="标准化名称" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" prop="name" label="材料名称" />
          <el-table-column v-if="checkedList.indexOf('规格') != -1" align="center" prop="spec" label="规格" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" width="66px" align="center" prop="unit" label="单位" />
          <el-table-column v-if="checkedList.indexOf('信息价（除税价）') != -1" align="center" prop="messagePrice" label="信息价（除税价）" />
          <el-table-column v-if="checkedList.indexOf('信息价（含税价）') != -1" align="center" prop="taxPrice" label="信息价（含税价）" />
          <el-table-column v-if="checkedList.indexOf('税率') != -1" align="center" prop="taxPoint" label="税率" />
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalPage }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalPage" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>

    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="450px" class="com-dialog" :close-on-click-modal="false">
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = false">确定</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import {
  getAvgMessagePriceDetailListPage,
  getCustomTypeList,
  getMaterialSort,
  exportAvgMessagePriceDetailFile
} from '@/api/cs/materialManage'

export default {
  // name: 'ModeDetail',
  data() {
    return {
      tempName: '',
      searchVal: '',
      currentPage: 1,
      pageSize: 10,
      totalPage: 0,
      tableData: [],
      multipleSelection: [],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '序号',
        '编码',
        '标准化名称',
        '材料名称',
        '规格',
        '单位',
        '信息价（除税价）',
        '信息价（含税价）',
        '税率'
      ],
      checkedList: [
        // 列表选中的设置项
        '序号',
        '编码',
        '标准化名称',
        '材料名称',
        '规格',
        '单位',
        '信息价（除税价）',
        '信息价（含税价）',
        '税率'
      ],
      disabledCheckedList: [
        // 禁止设置项
      ],
      exportLoading: false,
      isFold: true,
      downloadKeyLoading: false,
      period: null,
      pageSizeList: [10, 20, 30, 40, 50, 100]
    }
  },
  mounted() {
    this.tempName = this.$route.query.name
    this.getData()
    this.getAvgMessagePriceDetailListPage()
  },
  methods: {
    // 返回
    back() {
      const restore = '信息均价'
      sessionStorage.setItem('stateMenu', restore)
      this.$router.push('/publicModule/materialManage/index')
      // this.$router.push('/publicModule/materialManage/index?restore=' + restore)
    },
    // 全部导出
    exportAllAvgMessagePriceDetailFile() {
      // var customTypeId =
      //   this.curCustomTypeItem === ''
      //     ? this.curCustomType
      //     : this.curCustomTypeItem
      // var subcId =
      //   this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        avgCycle: this.tempName,
        ids: ''
        // tempId: this.id,
        // customTypeId: customTypeId || null,
        // keyCode: this.searchVal ? this.searchVal : null,
        // subcId: subcId || null
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportAvgMessagePriceDetailFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '信息均价库详情.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '信息均价库详情.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportAvgMessagePriceDetailFile() {
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        this.openAlert()
        return
      }
      var data = {
        ids: ids.join(','),
        avgCycle: null
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportAvgMessagePriceDetailFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '信息均价库详情.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '信息均价库详情.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getAvgMessagePriceDetailListPage()
    },
    // 详情列表
    getAvgMessagePriceDetailListPage() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        ids: '',
        msgId: '',
        parentCategory: this.curCustomType,
        subCategory: this.curCustomTypeItem,
        subcId: subcId || null,
        keyCode: this.searchVal ? this.searchVal : null,
        avgCycle: this.tempName,
        mainPage: '0',
        avgType: this.curCompanyTypeCode,
        currentPage: this.currentPage,
        pageSize: this.pageSize
      }
      this.loading = true
      getAvgMessagePriceDetailListPage(data)
        .then(res => {
          this.loading = false
          if (res.code === '01') {
            this.tableData = res.body.list
            this.totalPage = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      Promise.all([getCustomTypeList({ type: '1' }), getMaterialSort()]).then(
        res => {
          // 自定义材料分类
          var data01 = res[0]
          if (data01.code === '01') {
            this.customType = data01.body
          }

          // 国标分类
          var data02 = res[1]
          if (data02.code === '01') {
            this.normType = data02.body.subcTypes
          }
        }
      )
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.currentPage = 1
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getAvgMessagePriceDetailListPage()
    },
    changeNormTypeItem(code) {
      this.currentPage = 1
      this.curNormTypeItem = code

      this.getAvgMessagePriceDetailListPage()
    },
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.currentPage = 1
      this.curCustomTypeItem = id
      this.getAvgMessagePriceDetailListPage()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      this.currentPage = 1
      this.curCustomTypeItem = ''
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
        } else {
          this.customTypeItem = this.customType[index].sub
          this.curCustomType = this.customType[index].id
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
      }

      this.getAvgMessagePriceDetailListPage()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getAvgMessagePriceDetailListPage()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
    // // 数值校验
    // checkInput() {
    //   // 只能输入英文、数字
    //   this.materiaParams.serialNumber = this.materiaParams.serialNumber.replace(
    //     /[^0-9]/g,
    //     ''
    //   )
    // }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  .com-bg {
    top: -55px;
  }
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h1 {
      padding: 30px 20px;
      color: #333;
      font-size: 26px;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 49px;
        overflow-y: hidden;
      }
    }
  }
  .table-wrap {
    .mytemp {
      padding-right: 20px;
      position: relative;
      .tips {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 2px;
        bottom: -6px;
      }
    }
    .edit-wrap {
      span {
        cursor: pointer;
        color: $color-primary;
        padding-right: 30px;
      }
    }
  }
  .remark-dialog {
    p {
      margin-bottom: 10px;
      font-size: 14px;
      color: #333;
    }
    .el-select ::v-deep .el-input__suffix {
      right: 12px;
    }
  }
  .resultdialog {
    .scan-success2 {
      flex-direction: column;
      padding: 48px 0 20px 0;
      font-size: 14px;
      color: #333;
      .img2 {
        width: 56px;
        height: 56px;
        margin-bottom: 30px;
      }
      .suc-num2 {
        color: #8cc929;
      }
      .err-num2 {
        color: $color-danger;
      }
    }
  }
  .re-standard {
    padding: 20px;
    color: #333333;
    .suc-num3 {
      color: #8cc929;
    }
    .err-num3 {
      color: $color-danger;
    }
    img {
      margin-bottom: 20px;
    }
    .dialog-content {
      text-align: center;
    }
  }
  .com-dialog {
    .redtips {
      color: $color-danger;
      margin-left: 20px;
    }
    .label-text {
      margin-right: 10px;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      display: block;
      text-align: right;
      min-width: 90px;
      max-width: 90px;
    }
    .special-text {
      text-align: left;
      min-width: 0;
      width: 80px;
      // margin-right:10px;
    }
    .set-type-wrap {
      .r-color {
        margin-right: 5px;
        font-size: 16px;
      }
      > div {
        text-align: center;
        margin-bottom: 15px;
        > span {
          margin-right: 8px;
          white-space: nowrap;
        }
      }
    }
  }
  .export-wrap {
    .u-dot {
      right: 100px;
    }
    > div {
      margin-bottom: 15px;
      width: 100%;
      > span {
        margin-right: 8px;
        white-space: nowrap;
      }
    }
    .u-mode-btn {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

.special-div {
  display: flex;
  width: 100%;
  align-items: center;
  .el-select {
    flex: 1;
  }
}
.special-c {
  position: relative;
  .special-input {
    &::before {
      content: '%';
      position: absolute;
      right: 5px;
      top: 50%;
      font-size: 16px;
      transform: translateY(-50%);
    }
  }
  .special-tip {
    position: absolute;
    bottom: -16px;
    left: 80px;
    font-size: 12px;
  }
  img {
    cursor: pointer;
  }
}

.special-operate-wrap {
  button {
    display: block;
    padding: 0;
    margin-right: 0 !important;
    margin-left: 3px;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }
}
.title_h1 {
  position: relative;
  .back-btn {
    width: 82px;
    height: 34px;
    font-size: 15px;
    border-radius: 5px;
    color: $color-danger;
    border: 1px solid;
    position: absolute;
    top: 30px;
    right: 150px;
    cursor: pointer;
  }
}
</style>
<style lang="scss">
.labeltip {
  .el-table__column-filter-trigger {
    line-height: 1;
    .el-icon-arrow-down {
      font-size: 20px;
      font-weight: bold;
      // color: #2773FC;
      transform: scale(1);
    }
  }
}
.upload-cj-container {
  .search-ipt {
    input {
      width: 100%;
      height: 100%;
    }
  }
  .search-btn {
    padding: 0;
  }
  .el-table td,
  .el-table th {
    &:first-child {
      text-align: center;
    }
  }
  .export-wrap {
    .el-select {
      width: 100%;
    }
    .el-radio {
      margin-right: 10px;
    }
    .el-radio__label {
      display: none;
    }
  }
  .his-select {
    .el-input--suffix .el-input__inner {
      padding-right: 80px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
</style>
