<template>
  <div class="check-material mt-10">
    <div class="flex-c com-menu-wrap">
      <div class="cp m-item" :class="{ active: curMenu === '项目材价' }" @click="changeMenu('项目材价')">
        <span>项目材价</span>
        <div class="t-line" />
      </div>
      <div class="cp m-item" :class="{ active: curMenu === '信息价' }" @click="changeMenu('信息价')">
        <span>信息价</span>
        <div class="t-line" />
      </div>
      <div class="cp m-item" :class="{ active: curMenu === '信息均价' }" @click="changeMenu('信息均价')">
        <span>信息均价</span>
        <div class="t-line" />
      </div>
      <div class="cp m-item" :class="{ active: curMenu === '市场材价' }" @click="changeMenu('市场材价')">
        <span>市场材价</span>
        <div class="t-line" />
      </div>
    </div>
    <div class="check-form pt-20">
      <template v-if="curMenu === '项目材价'">
        <project-wood-price />
      </template>
      <template v-if="curMenu === '信息价'">
        <information-prices />
      </template>
      <template v-if="curMenu === '信息均价'">
        <average-price />
      </template>
      <template v-if="curMenu === '市场材价'">
        <market-price />
      </template>
    </div>

  </div>
</template>

<script>
import projectWoodPrice from '@/views/publicModule/materialManage/components/projectWoodPrice.vue'
import informationPrices from '@/views/publicModule/materialManage/components/informationPrices.vue'
import averagePrice from '@/views/publicModule/materialManage/components/averagePrice.vue'
import marketPrice from '@/views/publicModule/materialManage/components/marketPrice.vue'
export default {
  name: 'Index',
  components: {
    projectWoodPrice,
    informationPrices,
    averagePrice,
    marketPrice
  },
  data() {
    return {
      curMenu: '项目材价'
    }
  },
  mounted() {
    if (sessionStorage.getItem('stateMenu')) {
      this.curMenu = sessionStorage.getItem('stateMenu')
      sessionStorage.removeItem('stateMenu')
    }
  },
  methods: {
    // 切换tab
    changeMenu(item) {
      this.curMenu = item
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.check-material {
  width: 100%;
  min-height: 700px;

  border-radius: 0px 8px 8px 8px;

  .check-form {
    background: #fff;
    min-height: 645px;
  }
}
</style>

