<template>
  <div>
    <div class="flex-cc scan-item">
      <div class="s-item">
        <img src="@/assets/img/dialog/scan_act_01.png" alt="" v-if="curActive >= 1">
        <img src="@/assets/img/dialog/scan_01.png" alt="" v-else>
        <p>上传文档成功</p>
      </div>
      <div class="s-item">
        <img src="@/assets/img/dialog/scan_act_02.png" alt="" v-if="curActive >= 2">
        <img src="@/assets/img/dialog/scan_02.png" alt="" v-else>
        <p>智能识别文档成功</p>
      </div>
      <div class="s-item">
        <img src="@/assets/img/dialog/scan_act_03.png" alt="" v-if="curActive >= 3">
        <img src="@/assets/img/dialog/scan_03.png" alt="" v-else>
        <p>自动清洗数据成功</p>
      </div>
      <div class="s-item">
        <img src="@/assets/img/dialog/scan_act_04.png" alt="" v-if="curActive == 4">
        <img src="@/assets/img/dialog/scan_04.png" alt="" v-else>
        <p>正在批量标准化</p>
      </div>
    </div>
    <div class="flex-cc scan-content" v-if="!isScan">
      <div class="loading-img">
        <img src="@/assets/img/dialog/scan_loading.png" alt="">
        <span>{{curActive}}<span>项</span></span>
      </div>
      <span class="tip-label">正在拼命为您导入，请耐心等候...</span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: ['scanState'],
  data () {
    return {
      curActive:0,           // 当前进度
      isScan: false,
      timer1: null,
      timer2: null,
      timer3: null,
      timer4: null,
      timer5: null,
      timer6: null,
    }
  },
  mounted() {
    clearTimeout(this.timer1)
    clearTimeout(this.timer2)
    clearTimeout(this.timer3)
    clearTimeout(this.timer5)
    clearTimeout(this.timer6)
    clearInterval(this.timer4)
    this.initLoading()
  },
  watch: {
    // 监听标准化状态：scanState（0待开始，1成功，失败）
    scanState() {
      clearTimeout(this.timer1)
      clearTimeout(this.timer2)
      clearTimeout(this.timer3)
      clearTimeout(this.timer5)
      clearInterval(this.timer4)
      this.isScan = true

      if (this.scanState == '1') {
        this.curActive = 4
      } else if (this.scanState == '2') {
        this.curActive = 3
      }
    }
  },
  computed: {
    ...mapGetters([
      'loadingTime1',
      'loadingTime2',
      'loadingTime3',
    ])
  },
  methods: {
    // 初始化
    initLoading() {
      this.timer1 = setTimeout(() => {
        this.curActive ++
      }, this.loadingTime1)
      this.timer2 = setTimeout(() => {
        this.curActive ++
      }, this.loadingTime2)
      this.timer3 = setTimeout(() => {
        this.curActive ++
      }, this.loadingTime3)
      this.timer4 = setInterval(() => {
        if (this.scanState == '2') {
          this.curActive ++
          this.timer5 = setTimeout(() => {
            console.log('初始化完成');
          }, 500)
        }
      }, 1000)
    },
    closeScan() {
      clearTimeout(this.timer1)
      clearTimeout(this.timer2)
      clearTimeout(this.timer3)
      clearInterval(this.timer4)
      clearTimeout(this.timer5)
    },
  },
}
</script>

<style lang="scss">
  @import '../../../styles/variables.scss';
  // 安全扫描样式
  .com-scan-dialog {
    .scan-item {
      margin: 0 auto;
      width: 438px;
      text-align: center;
      .s-item {
        margin-right: 29px;
        &:last-child {
          margin-right: 0;
        }
        p {
          margin-top: 10px;
          font-size: 10px;
          color: #999;
        }
      }
    }
  }
  .scan-content {
    padding-top: 68px;
    .loading-img {
      position: relative;
      margin-right: 22px;
      img {
        animation: scanLoading .5s linear infinite;
      }
      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #2773FC;
        font-size: 30px;
        font-weight: bold;
        > span {
          color: #2773FC;
          font-size: 12px;
        }
      }
    }
    .tip-label {
      font-size: #333;
      color: #333;
    }
  }
  .scan-item {
    margin: 26px auto 0 auto;
    width: 438px;
    text-align: center;
    .s-item {
      margin-right: 29px;
      &:last-child {
        margin-right: 0;
      }
      p {
        margin-top: 10px;
        font-size: 10px;
        color: #999;
      }
    }
  }
</style>
