<template>
  <div class="upload-cj-container">
    <div class="up-wrap">
      <h1>
        <span>{{tempName}}</span>
        <span v-if="status === '1'">（已删除）</span>
      </h1>
      <div class="com-search">
        <el-input class="search-ipt" placeholder="搜索关键字，如：材料名称" v-model="searchVal" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc"></i>
      </div>
      <div class="search-type">
        <div class="flex-fs custom-type" v-if="customType && customType.length > 0">
          <span class="com-label-text">自定义材料分类</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li :class="{active: curCustomType === ''}" @click="toggleCustomType('')">全部</li>
              <li :class="{active: curCustomType == item.parentCategory}" v-for="(item, index) in customType" :key="index" @click="toggleCustomType(index)">
                {{item.parentCategory}}
              </li>
              <!-- <li :class="{active: curCustomType === '0'}" @click="toggleCustomType('0')">未分类</li> -->
            </ul>
            <ul class="flex-c" v-if="customTypeItem && customTypeItem.length > 0">
              <li :class="{active: curCustomTypeItem === ''}" @click="toggleCustomTypeItem('')">
                全部
              </li>
              <li :class="{active: curCustomTypeItem == item.subCategory}" v-for="(item, index) in customTypeItem" :key="index" @click="toggleCustomTypeItem(item.subCategory)">
                {{item.subCategory}}
              </li>
            </ul>
            <!-- <ul>
              <li class="p-color" @click="$router.push('/setting/modeSet')">前往设置分类</li>
            </ul> -->
          </div>
        </div>
        <div class="flex-fs norm-type">
          <span class="com-label-text"><span class="com-alt">占位符</span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li :class="{active: curNormType == item.code}" v-for="(item, index) in normType" :key="index" @click="changeNormType(index, item.code)">
                {{item.name}}
              </li>
            </ul>
            <ul class="flex-cw all-list" v-if="normTypeItem.length > 0">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li :class="{active: curNormTypeItem == item.code}" v-for="(item, index) in normTypeItem" :key="index" @click="changeNormTypeItem(item.code)">
                {{item.name}}
              </li>
            </ul>
          </div>
          <span class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" v-if="normType && normType.length > 0"></span>
        </div>
      </div>

      <div class="com-table">
        <div class="flex-csb com-operate-wrap">
          <div></div>
          <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting"></span>
            <span>列表设置</span>
          </div>
        </div>

        <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" v-loading="loading" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column prop="sortNo" label="序号" v-if="checkedList.indexOf('序号') != -1">
          </el-table-column>
          <el-table-column prop="name" label="材料名称" v-if="checkedList.indexOf('材料名称') != -1">
          </el-table-column>
          <el-table-column prop="stdName" label="标准名称" v-if="checkedList.indexOf('标准名称') != -1">
          </el-table-column>
          <el-table-column prop="zcode" label="编码" v-if="checkedList.indexOf('编码') != -1">
          </el-table-column>
          <el-table-column prop="spec" label="规格" v-if="checkedList.indexOf('规格') != -1">
          </el-table-column>
          <el-table-column prop="unit" label="单位" v-if="checkedList.indexOf('单位') != -1">
          </el-table-column>
          <el-table-column prop="msgName" label="信息价" v-if="checkedList.indexOf('信息价') != -1">
          </el-table-column>
          <el-table-column prop="messagePrice" label="信息价（除税价）" v-if="checkedList.indexOf('信息价（除税价）') != -1">
          </el-table-column>
          <el-table-column label="信息价（含税价）" v-if="checkedList.indexOf('信息价（含税价）') != -1">
            <template slot-scope="scope">
              <span v-if="scope.row.taxPrice">{{scope.row.taxPrice}}（税率：{{scope.row.taxPoint}}）</span>
            </template>
          </el-table-column>
          <el-table-column prop="remark" label="备注" v-if="checkedList.indexOf('备注') != -1">
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="450px" class="com-dialog" :close-on-click-modal="false">
      <div class="com-select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox :label="item" v-for="(item, index) in checkList" :key="index"></el-checkbox>
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = !showSetListDialog">确定</el-button>
      </span>
    </el-dialog>
    <!-- 列表设置弹窗 end -->
  </div>
</template>

<script>
// import {
//   getTempCustomType,
// } from '@/api/cs/collectTemplate'
import { getCjType } from '@/api/cs/materialManage'
import {
  getReleaseRecordDetailListPage,
  getTempCustomType
} from '@/api/cs/infoPriceStock'
export default {
  name: 'HistoryPriceDetail',
  data() {
    return {
      status: '',
      tempName: '',
      id: '',
      searchVal: '',
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '序号',
        '标准名称',
        '材料名称',
        '编码',
        '规格',
        '单位',
        '信息价',
        '信息价（除税价）',
        '信息价（含税价）',
        '备注'
      ],
      checkedList: [
        // 列表选中的设置项
        '序号',
        '材料名称',
        '规格',
        '单位',
        '信息价',
        '信息价（除税价）',
        '信息价（含税价）',
        '备注'
      ],
      isFold: true
    }
  },
  mounted() {
    this.id = this.$route.query.id
    this.tempName = this.$route.query.name
    this.status = this.$route.query.status
    this.getData()
    this.getDetailList()
  },
  methods: {
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDetailList()
    },
    // 详情列表
    getDetailList() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        recordId: this.id,
        customTypeId: customTypeId || null,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId || null
      }
      this.loading = true
      getReleaseRecordDetailListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      Promise.all([getTempCustomType({ type: 1 }), getCjType()]).then(res => {
        // 自定义材料分类
        var data01 = res[0]
        if (data01.code == '01') {
          this.customType = data01.body
        }

        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }
      })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.currentPage = 1
      this.getDetailList()
    },
    changeNormTypeItem(code) {
      this.curNormTypeItem = code
      this.currentPage = 1
      this.getDetailList()
    },
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.curCustomTypeItem = id
      this.currentPage = 1
      this.getDetailList()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
        } else {
          this.customTypeItem = this.customType[index].sub
          this.curCustomType = this.customType[index].parentCategory
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
      }
      this.curCustomTypeItem = ''
      this.currentPage = 1
      this.getDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDetailList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h1 {
      padding: 30px 20px;
      color: #333;
      font-size: 26px;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .com-dialog {
    .label-text {
      margin-right: 10px;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      display: block;
      text-align: right;
      min-width: 90px;
      max-width: 90px;
    }
  }
}
</style>
