<template>
  <div class="upload-cj-container com-input">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：名称、提交人" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">信息价生成时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate('start')" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate('end')" />
          </div>
        </div>
      </div>

      <div class="com-table table-wrap">
        <div class="com-operate-wrap" />

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%;" @selection-change="handleSelectionChange">
          <el-table-column width="250px" label="信息价名称">
            <template slot-scope="scope">
              <div class="flex-csb info-wrap" style="padding-left:30px;">
                <el-input v-if="scope.row.isEdit" v-model="scope.row.name" class="mr-20" maxlength="20" />
                <span v-else class="mr-20">
                  <span class="p-color cp" @click="skipDetail(scope.row)">{{ scope.row.name }}</span>
                  <span v-if="scope.row.taxIncluded === 1" class="point-text">税</span>
                </span>
                <!-- <span class="flex-cc" v-has="$roles.fun_comprice_messagepool_edit">
                  <img class="cp" src="@/assets/img/cs/icons/save_icon02.png" alt="" v-if="scope.row.isEdit" @click="updateItem(scope.$index, scope.row)">
                  <img class="cp" src="@/assets/img/cs/icons/edit_icon04.png" alt="" @click="toggleEdit(scope.$index)" v-else>
                </span> -->
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="howPeriod" label="系统周期" />
          <el-table-column prop="matCount" label="材料数量" />
          <el-table-column label="信息价生成时间">
            <template slot-scope="scope">
              <span>{{ scope.row.createOn | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="200px">
            <template slot-scope="scope">
              <div class="edit-wrap">
                <span v-if="scope.row.imgUrl" class="uploadimgs">
                  <img :src="scope.row.imgUrl" alt="">
                  <i class="el-icon-error" @click="delImg(scope.row)" />
                </span>
                <span v-else @click="openUploadDialog(scope.row)">
                  <el-tooltip effect="light" content="上传附件" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/img_up.png" alt="">
                  </el-tooltip>
                </span>
                <span @click="skipDetail(scope.row)">
                  <el-tooltip effect="light" content="详情" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/details.png" alt="">
                  </el-tooltip>
                </span>
                <!-- <span v-has="$roles.fun_comprice_messagepool_del" @click="openDelDialog(scope.row)">
                  <el-tooltip effect="light" content="删除" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span> -->
                <span @click="openDelDialog(scope.row)">
                  <el-tooltip effect="light" content="删除" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 上传附件弹窗 -->
    <el-dialog title="上传附件" :visible.sync="showUploadDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="flex-c mb-20 com-upload">
        <span class="nw mr-10"><span class="asterisk">*</span>上传附件:</span>
        <div class="flex-c">
          <div class="w-298 u-ipt">{{ feedbackFile.name }}</div>
          <div class="u-btn">添加</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" type="file" class="u-file" accept="image/jpeg,image/png,image/jpg,image/bmp" @change="uploadFeedbackFile($event)">
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showUploadDialog = false">取消</el-button>
        <el-button type="primary" :loading="uploadLoading" @click="uploadImg">确定</el-button>
      </span>
    </el-dialog>
    <!-- 上传附件弹窗 end-->

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div v-if="!isWarning" class="dialog-content">
        <img src="@/assets/img/cs/icons/del_icon02.png" alt="">
        <p class="fw-b mb-10">是否删除选中的信息价？</p>
        <p class="tip-text">注：删除的信息价可在回收站还原</p>
      </div>
      <div v-else class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b">勾选的信息价已发布至其他平台，</p>
        <p class="fw-b mt-5 mb-5">确认要删除吗？</p>
        <p class="tip-text">注：删除的信息价可在回收站还原</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" :disabled="isWarning && timeNum > 0" @click="deleteItem">
          <span>确定</span>
          <span v-if="isWarning && timeNum > 0">({{ timeNum }})</span>
        </el-button>
      </span>
    </el-dialog>
    <!-- 删除弹窗 end-->

    <!-- 导出弹窗 -->
    <el-dialog title="导出" :visible.sync="showExportDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b">是否导出勾选的信息价？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showExportDialog = false">取消</el-button>
        <el-button type="primary" :loading="exportLoading" @click="exportFile">确定</el-button>
      </span>
    </el-dialog>
    <!-- 导出弹窗 end -->

  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import {
  getMessagePriceListPage,
  exportMessagePriceFile,
  updMsgPrice,
  delMessagePrice,
  uploadImg,
  deleteUploadImg
} from '@/api/cs/infoPriceStock'
export default {
  name: 'InfoPrice',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  data() {
    return {
      feedbackFile: {},
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null,
      endDate: null,
      loading: false,
      exportLoading: false,
      showDelDialog: false, // 删除弹窗
      showUploadDialog: false, // 上传附件弹窗
      delLoading: false,
      uploadLoading: false,
      curId: null, // 当前的id
      id: '',
      msgPriceName: null, // 当前名称
      isWarning: false, // 是否已发布至其他平台
      timer: null, // 删除倒计时定时器
      timeNum: 5, // 倒计时5s
      showExportDialog: false // 导出弹窗
    }
  },
  mounted() {
    this.getDataList()
  },
  methods: {
    // 根据初始化配置起始日期，设置日期默认范围
    initSetDate() {
      const startDate = this.$store.getters.initStartDate
      if (startDate && formatDate(startDate)) {
        const curDate = new Date().getTime()
        const curStartDate = new Date(startDate).getTime()
        // 若当前时间 < 初始化配置时间
        if (curDate < curStartDate) {
          this.startDate = formatDate(curDate)
          this.endDate = formatDate(startDate)
        } else {
          this.endDate = formatDate(curDate)
          this.startDate = formatDate(startDate)
        }
      }
    },
    // 详情
    skipDetail(item) {
      this.$router.push({
        path: '/cs/Information/infoPriceDetail',
        query: {
          id: item.id,
          tempName: item.name
        }
      })
    },
    // 导出
    exportFile() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var data = {
        ids: ids.join(',')
      }
      this.exportLoading = true
      exportMessagePriceFile(data).then(res => {
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {
          this.exportLoading = false
        }
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '信息价库.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
          this.showExportDialog = false
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          this.exportLoading = false
          sessionStorage.removeItem('blob_filename')
        }
      })
    },
    // 导出弹窗
    openExportDialog() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }

      this.showExportDialog = true
    },
    // 删除
    deleteItem() {
      var data = {
        id: this.curId,
        status: 2
      }
      this.delLoading = true
      delMessagePrice(data)
        .then(res => {
          if (res.code == '01') {
            this.delLoading = false
            this.showDelDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.delLoading = false
        })
    },
    // 上传附件弹窗
    openUploadDialog(item) {
      this.showUploadDialog = true
      this.feedbackFile = false
      this.id = item.id
    },
    // 上传附件
    uploadFeedbackFile(e) {
      const file = e.target.files[0]
      const hasType = ['image/jpeg', 'image/png', 'image/jpg', 'image/bmp']
      if (hasType.indexOf(file.type) === -1) {
        this.$message({
          type: 'error',
          message: '请上传正确格式的图片'
        })
        return
      }
      if (e.target.files[0].size > 500 * 1024) {
        // 限制文件上传大小
        this.$message({
          type: 'error',
          message: '上传单个文件大小不能超过 500kb!'
        })
        return
      }
      this.feedbackFile = file
    },
    uploadImg() {
      if (!this.feedbackFile) {
        this.$message({
          type: 'error',
          message: '请上传附件'
        })
        return
      }
      const formData = new FormData()
      formData.append('matPriceFile', this.feedbackFile)
      formData.append('id', this.id)
      this.uploadLoading = true
      uploadImg(formData).then(res => {
        if (res.code === '01') {
          this.uploadLoading = false
          this.showUploadDialog = false
          this.getDataList()
        }
      })
    },
    delImg(item) {
      const params = {
        id: item.id + '',
        url: item.imgUrl
      }
      deleteUploadImg(params).then(res => {
        if (res.code === '01') {
          this.getDataList()
        }
      })
    },
    // 删除弹窗
    openDelDialog(item) {
      this.showDelDialog = true
      this.curId = item.id
      this.isWarning = item.status === '1'
      if (this.isWarning) {
        // 倒计时2s后可删除
        this.timeNum = 2
        if (this.timer) {
          clearInterval(this.timer)
        }
        this.timer = setInterval(() => {
          this.timeNum--
          if (this.timeNum == 0) {
            clearInterval(this.timer)
          }
        }, 1000)
      }
    },
    // 保存修改
    updateItem(index, item) {
      if (!item.name) {
        this.$message({
          type: 'error',
          message: '请输入信息价名称'
        })
        return
      }
      var data = {
        id: item.id,
        msgPriceName: item.name
      }
      updMsgPrice(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.toggleEdit(index)
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 切换编辑
    toggleEdit(index) {
      this.tableData[index]['isEdit'] = !this.tableData[index]['isEdit']
      this.tableData = JSON.parse(JSON.stringify(this.tableData))
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 切换日期
    toggleDate(type) {
      if (type == 'start' && this.startDate) {
        this.startDate = formatDate(this.startDate, '1')
        const beginTime = new Date(this.startDate).getTime()
        this.endDate = formatDate(+beginTime + 3600 * 1000 * 24 * 365)
      }
      if (type == 'end' && this.endDate) {
        this.endDate = formatDate(this.endDate, '1')
      }

      this.currentPage = 1
      this.getDataList()
    },
    // 获取列表
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        startDate: this.startDate,
        endDate: this.endDate,
        keyCode: this.searchKeyword
      }

      this.loading = true
      getMessagePriceListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .then(err => {
          this.loading = false
        })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条记录'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-top: 5px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }
  .com-dialog .el-checkbox {
    margin-bottom: 20px;
  }
  .point-text {
    margin-left: 5px;
    padding: 3px;
    border: 1px solid $color-primary;
    border-radius: 50%;
    color: $color-primary;
    font-size: 12px;
  }
  .edit-wrap {
    span {
      padding-right: 15px;
      cursor: pointer;
    }
  }
}
.asterisk {
  color: red;
}
.uploadimgs {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
  img {
    width: 60px;
    height: 60px;
  }
  &:hover {
    .el-icon-error {
      display: block;
    }
  }
  .el-icon-error {
    position: absolute;
    display: none;
    font-size: 20px;
    top: 0px;
    right: -14px;
    z-index: 2;
  }
}
.w-298 {
  max-width: 288px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
