<template>
  <div class="tab-content">
    <div class="screen-top mb-10">
      <span class="com-tag-span gray">技术指标生成配置</span>
      <!-- 项目类别 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">项目类别</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="firstList && firstList.length > 0">
            <li
              :class="{ active: curFirst === null }"
              @click="changeCurFirst(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreFirst"
              :class="{ active: curFirst == first.name }"
              v-for="(first, index) in firstList"
              :key="index"
              @click="changeCurFirst(first)"
            >
              {{ first.name }}
            </li>
            <span
              class="more mb-10"
              v-if="firstList && firstList.length > 8"
              @click="moreFirst = !moreFirst"
            >
              {{ moreFirst ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreFirst }"
              ></span>
            </span>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="secondList && secondList.length > 0 && curFirst != null"
          >
            <li
              :class="{ active: curSecond === null }"
              @click="changeCurSecond(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreSecond"
              :class="{ active: curSecond == item.name }"
              v-for="(item, index) in secondList"
              :key="item.id"
              @click="changeCurSecond(item)"
            >
              {{ item.name }}
            </li>
            <span
              class="more"
              v-if="secondList && secondList.length > 8"
              @click="moreSecond = !moreSecond"
            >
              {{ moreSecond ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreSecond }"
              ></span>
            </span>
          </ul>
          <ul
            class="flex-cw all-list ml-10"
            v-if="thirdList && thirdList.length > 0 && curSecond != null"
          >
            <li
              :class="{ active: curThird === null }"
              @click="changeCurThird(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreThird"
              :class="{ active: curThird == third.name }"
              v-for="(third, index) in thirdList"
              :key="third.id"
              @click="changeCurThird(third)"
            >
              {{ third.name }}
            </li>
            <span
              class="more"
              v-if="thirdList && thirdList.length > 8"
              @click="moreThird = !moreThird"
            >
              {{ moreThird ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreThird }"
              ></span>
            </span>
          </ul>
        </div>
      </div>
    </div>

    <div class="screen top-radius">
      <div class="flex-fs custom-type">
        <span class="com-label-text">指标属性</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curWarnMode === null }">全部</li>
            <li>系统均值</li>
            <li>典型工程</li>
            <li>自定义</li>
          </ul>
        </div>
      </div>
      <div class="flex-fs custom-type">
        <span class="com-label-text">前端显示</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curCalculateMethod === null }">全部</li>
            <li>是</li>
            <li>否</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap inquiry">
        <div class="flex-c">
          <el-button
            type="primary"
            class="flex-cc btn"
            @click="showToFront(true)"
            >前端显示
          </el-button>
          <el-button
            type="primary"
            class="flex-cc btn btn2"
            @click="showToFront(true)"
            >前端不显示
          </el-button>
        </div>
      </div>

      <!-- 表内容 -->
      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        v-loading="tableLoading"
        class="table-main"
        style="width: 100%"
        @selection-change="multipleSelection = $event"
      >
        <el-table-column type="selection" width="66px"> </el-table-column>
        <el-table-column min-width="140px" label="编码" prop="name">
          <template slot-scope="scope">
            <span class="cp" @click="toTargetDetail">
              {{ scope.row.name }}
            </span>
          </template>
        </el-table-column>
        <el-table-column width="200px" label="指标名称" prop="name">
        </el-table-column>
        <el-table-column label="指标类型" min-width="150px" prop="name">
        </el-table-column>
        <el-table-column min-width="150px" label="指标分类" prop="name">
        </el-table-column>
        <el-table-column min-width="140px" label="计算方式" prop="name">
        </el-table-column>
        <el-table-column min-width="150px" label="前端显示" prop="name">
          <template slot-scope="scope">
            <span :class="[{ green: scope.row.switchValue }, 'mr-10']">{{
              scope.row.switchValue ? "是" : "否"
            }}</span>
            <el-switch
              v-if="scope"
              @change="switchChange($event, scope.row)"
              v-model="scope.row.switchValue"
            >
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column min-width="150px" label="适用阶段" prop="name">
        </el-table-column>

        <el-table-column width="150px" label="操作">
          <template>
            <div class="icon-wrap">
              <el-tooltip effect="light" content="编辑" placement="top">
                <img
                  class="mr-10"
                  @click="targetDialog = true"
                  src="@/assets/img/icons/edits.png"
                  alt=""
                />
              </el-tooltip>
            </div>
          </template>
        </el-table-column>
      </el-table>

      <!-- 分页 -->
      <div class="flex-csb com-pages-wrap mb-20">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select
              v-model="pageSize"
              placeholder="请选择"
              @change="handleCurrentChange(1)"
            >
              <el-option
                v-for="(item, index) in pageSizeList"
                :key="index"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-size="pageSize"
            layout="prev, pager, next, jumper"
            :total="totalCount"
          >
          </el-pagination>
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>

    <!-- 删除确认弹窗 -->
    <confirm-dialog
      @confirmClick="confirmDelete"
      :isShow.sync="showDeleteDialog"
      :contentText="deleteContent"
    />

    <!-- 编辑指标弹窗 -->
    <el-dialog
      :visible.sync="targetDialog"
      :close-on-click-modal="false"
      title="编辑指标"
      width="460px"
      class="com-dialog com-dialog2 com-input com-radio-wrap"
    >
      <div class="flex-c mb-18">
        <span class="label-text w-80">指标编码</span>
        <span class="d-content">FW0101-j-RG</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80">指标名称</span>
        <span class="d-content">住宅</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80">指标类型</span>
        <span class="d-content">技术</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80">指标分类</span>
        <span class="d-content">单项工程级</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80"><span>*</span>计算方式</span>
        <el-radio v-model="calculateType" :label="1">项目计算口径</el-radio>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80"><span>*</span>前端显示</span>
        <el-radio v-model="isShowFront" :label="1">是</el-radio>
        <el-radio v-model="isShowFront" :label="0">否</el-radio>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80">适用阶段</span>
        <el-checkbox-group v-model="checkPhaseList">
          <el-checkbox label="估算"></el-checkbox>
          <el-checkbox label="概算"></el-checkbox>
          <el-checkbox label="预算"></el-checkbox>
          <el-checkbox label="结算"></el-checkbox>
        </el-checkbox-group>
      </div>
      <div class="is-edit">
        <p class="mb-7">
          <span>最后修改人</span>
          <span class="ml-20">{{updator}}</span>
        </p>
        <p>
          <span>更新时间</span>
          <span class="ml-33">{{formatDate(updateTime, '1')}}</span>
        </p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="targetDialog = false">取消</el-button>
        <el-button type="primary" :loading="btnLoading" @click="editTargetConfig">保存</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { queryProjectTypeTree } from "@/api/newProject";
import { formatDate } from '@/utils/common'
export default {
  name: "TabContent",
  data() {
    return {
      formatDate: formatDate,
      firstList: [], // 第一级
      secondList: [], // 第二级
      thirdList: [], // 第三级
      curFirst: null,
      curSecond: null,
      curThird: null,
      moreFirst: false, // 展开第一级
      moreSecond: false, // 展开第二级
      moreThird: false, // 展开第三级

      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: "", // 选择适用时间(年)
      curTimeItem: "", // 选择适用时间(月)
      timeData: [], // 组装的年月数据

      tableLoading: false, // 表格loading
      tableData: [{ name: "指标名称", switchValue: true }], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项

      curWarnMode: null, // 预警模式
      curCalculateMethod: null, // 计算方式
      curCurrentState: null, // 当前状态

      showDeleteDialog: false, // 确认是否删除弹窗
      targetDialog: false, // 编辑指标弹窗
      calculateType: 1, // 计算方式
      isShowFront: 1, // 前端显示
      checkPhaseList: ["估算", "概算"], // 适用阶段
      updator: "超级管理员",  // 最后修改人
      updateTime: "2022-01-09T07:38:07.000+00:00",  // 更新时间
      btnLoading: false,  // 编辑loading
    };
  },
  mounted() {
    this.ProjectTypeTreeList(); // 获取项目类型树
  },
  computed: {
    // 删除提示
    deleteContent() {
      return "确定要删除该地区预警配置吗？";
    },
  },
  methods: {
    // 获取指标列表
    getTargetPageList() {},
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getTargetPageList();
    },
    showToFront() {
      if (this.multipleSelection.length > 0) {
      } else {
        this.openAlert();
      }
    },
    // 指标显示、不显示在前端
    switchChange(value, row) {
      let text = value ? "显示" : "不显示";
      this.$confirm(`确定指标${text}在前端吗？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {})
        .catch(() => {
          row.switchValue = !value;
        });
    },
    // 删除指标
    deleteModel(id) {
      this.showDeleteDialog = true;
    },
    // 确定删除
    confirmDelete() {},
    // 编辑指标
    editTargetConfig() {},

    // 工程类型（第一级）
    changeCurFirst(first) {
      if (first) {
        this.curFirst = first.name;
        this.secondList = first.subs;
      } else {
        this.curFirst = null;
        this.secondList = [];
      }
      this.curSecond = null;
      this.curThird = null;

      this.currentPage = 1;
      this.getTargetPageList();
    },
    // 工程类型（第二级）
    changeCurSecond(second) {
      if (second) {
        this.curSecond = second.name;
        this.thirdList = second.subs;
      } else {
        this.curSecond = null;
        this.thirdList = [];
      }
      this.curThird = null;

      this.currentPage = 1;
      this.getTargetPageList();
    },
    // 工程类型（第三级）
    changeCurThird(third) {
      if (third) {
        this.curThird = third.name;
      } else {
        this.curThird = null;
      }

      this.currentPage = 1;
      this.getTargetPageList();
    },
    // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData();
      formData.append("type", 1);
      queryProjectTypeTree(formData).then((res) => {
        if (res.code == "01") {
          this.firstList = res.body;
        }
      });
    },

    // 新增预警设置
    addEarlyWarn() {
      this.$router.push({
        path: "/targetSet/addWarn",
      });
    },
    // 跳转到指标详情
    toTargetDetail(id) {
      this.$router.push({
        path: "/target/detail",
        // query: {
        //   id,
        // },
      });
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.tab-content {
  .com-search2::v-deep .el-input__inner {
    border: 0;
  }

  .top-radius {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .screen,
  .screen-top {
    // padding: 0 21px 5px;
    padding: 20px 20px 5px 20px;
    background: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    > div {
      min-height: 39px;
    }
    .top {
      border-top: 1px solid #f6f6f6;
    }
    .more-sort {
      // margin-top: 30px;
    }
    .show-more {
      margin-top: 10px;
      text-align: center;
      > span {
        cursor: pointer;
      }
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
    }
    .cycle-wrap {
      padding: 20px;
      > span {
        text-align: right;
        margin-right: 10px;
        min-width: 70px;
        font-weight: 400;
        white-space: nowrap;
      }
      .el-select {
        input {
          width: 281px;
          height: 36px;
        }
      }
    }
    .custom-type,
    .norm-type {
      .price-ipt {
        &:hover {
          color: #666 !important;
        }
      }
      .ipttext {
        text-align: center;
        min-width: 40px;
      }
      .subnum {
        min-width: 30px;
        color: $color-primary;
      }
      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
      }
      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        max-height: 50px;
        overflow-y: hidden;
      }
    }

    .flex-cw {
      padding: 2px 0;
      border-bottom: 1px solid #f3f3f4;
    }
  }

  .screen-top {
    padding: 10px 0;
    .norm-type {
      margin: 10px 20px 0 20px;
    }
  }

  .tag-p {
    font-size: 16px;
    color: #999999;
    position: relative;

    &::before {
      content: "";
      width: 3px;
      height: 16px;
      background: #1789f2;
      border-radius: 0px 1px 1px 0px;
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }

    .tags {
      font-size: 12px;
      color: #333;
    }
  }
  .screen-tag {
    padding: 6px 12px;
    background: #ffeddb;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 8px;

    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #f9a147;
  }

  // 表格
  .detail-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    .inquiry {
      background: #fcfcfd;
      .right-btns {
        color: #333333;
        font-size: 16px;
        > div {
          cursor: pointer;
          margin-left: 31px;
          font-family: "mainfont";
          white-space: nowrap;
          .icons {
            margin-right: 4px;
          }
          .imgs {
            width: 14px;
            height: 14px;
            margin-right: 6px;
            margin-left: 16px;
          }
        }
      }
      .tips {
        width: 23px;
        height: 23px;
        margin: 0 20px 6px 8px;
      }
    }
    .table-box {
      .no-data {
        text-align: center;
        padding: 30px;
        > span {
          color: $color-danger;
        }
      }
      padding-bottom: 30px;
      position: relative;
      .project-name {
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .wrap {
        width: 166px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .mode-name {
        cursor: pointer;
        color: $color-primary;
        text-align: left;
        > div {
          min-width: 100px;
        }
      }
      .faster-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }
      .files {
        max-width: 65%;
        min-width: 380px;
        .file-box {
          width: 100%;
          flex-wrap: wrap;
          .fileitem {
            margin-right: 6px;
            margin-bottom: 4px;
            .file-img {
              width: 21px;
              height: 20px;
            }
            .file-name {
              margin: 0 25px 0 7px;
              width: 81px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              font-family: "mainfont";
            }
          }
        }
      }
    }
  }

  .com-dialog {
    .label-text {
      margin-right: 20px;
    }
    .el-checkbox {
      width: 80px;
    }
  }
}
</style>