<template>
  <div class="profile">
    <!-- 项目基本信息 -->
    <div class="flex-csb">
      <p class="b-label">项目基本信息</p>
      <p class="b-save" v-show="baseState === 0" @click="changeBaseState(1)">
        <img src="@/assets/img/icons/edit.png" alt="" />
        <span>修改</span>
      </p>
      <p class="b-save" v-show="baseState === 1" @click="changeBaseState(0)">
        <img src="@/assets/img/icons/project_stock/save.png" alt="" />
        <span>保存</span>
      </p>
    </div>
    <el-form :model="baseInfo" :rules="baseInfoRules" ref="baseInfo" class="base-ruleForm custom-input">
      <div class="flex-cw">
        <el-form-item class="row-wrap" prop="name">
          <div class="br flex-c">
            <div class="pl-14 nw form-label">
              <span class="required">*</span><span>项目名称</span>
            </div>
            <el-input v-model="baseInfo.name" placeholder="请输入单项工程名称" v-show="baseState === 1"></el-input>
            <div class="pl-14 ellipsis1" v-show="baseState === 0">
              <span v-if="baseInfo.name" :title="baseInfo.name">{{
                baseInfo.name
              }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap" prop="province">
          <div class="br flex-c">
            <div class="pl-14 nw form-label">
              <span class="required">*</span><span>项目地点</span>
            </div>
            <div class="pr address-wrap">
              <img src="@/assets/img/icons/project_stock/address.png" alt="" />
              <el-cascader v-model="baseInfo.projectArea" @change="changeAddress" :options="projectAreaOptions" :props="projectAreaProps" separator=" " v-show="baseState === 1"></el-cascader>
              <div class="pl-36 ellipsis1" :title="
                  baseInfo.province + ' ' + baseInfo.city + ' ' + baseInfo.area
                " v-show="baseState === 0">
                <span v-if="baseInfo.province">{{ baseInfo.province }} </span>
                <span v-if="baseInfo.city">{{ baseInfo.city }} </span>
                <span v-if="baseInfo.area">{{ baseInfo.area }}</span>
                <span v-if="!baseInfo.province && !baseInfo.city && !baseInfo.area">--</span>
              </div>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap" prop="specialtyType">
          <div class="flex-c">
            <div class="pl-14 nw form-label">
              <span class="required">*</span><span>项目分类</span>
            </div>
            <el-cascader v-model="baseInfo.projectTypeValue" @change="changeProtype" :options="projectTypeOptions" :props="projectTypeProps" separator="-" v-show="baseState === 1"></el-cascader>
            <div class="pl-14 ellipsis1" :title="
                baseInfo.specialtyType +
                '-' +
                baseInfo.projectType +
                '-' +
                baseInfo.engType
              " v-show="baseState === 0">
              <span v-if="baseInfo.specialtyType">{{ baseInfo.specialtyType }}-</span>
              <span v-if="baseInfo.projectType">{{ baseInfo.projectType }}-</span>
              <span v-if="baseInfo.engType">{{ baseInfo.engType }}</span>
              <span v-if="
                  !baseInfo.specialtyType &&
                  !baseInfo.engType &&
                  !baseInfo.projectType
                ">--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap">
          <div class="br flex-c">
            <div class="pl-14 nw form-label"><span>项目编码</span></div>
            <el-input v-model="baseInfo.code" placeholder="请输入项目编码" v-show="baseState === 1"></el-input>
            <div class="pl-14" v-show="baseState === 0">
              <span v-if="baseInfo.code">{{ baseInfo.code }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap">
          <div class="br flex-c">
            <div class="pl-25 nw form-label"><span>业主单位</span></div>
            <el-input v-model="baseInfo.owner" placeholder="请输入业主单位" v-show="baseState === 1"></el-input>
            <div class="pl-14" v-show="baseState === 0">
              <span v-if="baseInfo.owner">{{ baseInfo.owner }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap">
          <div class="br flex-c">
            <div class="pl-25 nw form-label"><span>开工-竣工</span></div>
            <el-date-picker v-model="baseInfo.startTime" type="date" placeholder="请选择开工时间" v-show="baseState === 1">
            </el-date-picker>
            <span class="form-line" v-show="baseState === 1">_</span>
            <el-date-picker v-model="baseInfo.endTime" type="date" placeholder="请选择竣工时间" v-show="baseState === 1">
            </el-date-picker>
            <div class="pl-14 ellipsis1" :title="
                formatDate(baseInfo.startTime, '3') +
                '-' +
                formatDate(baseInfo.endTime, '3')
              " v-show="baseState === 0">
              <span v-if="baseInfo.startTime || baseInfo.endTime">{{ baseInfo.startTime | filtersDate(3) }}-{{
                  baseInfo.endTime | filtersDate(3)
                }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
      </div>
    </el-form>
    <!-- 项目基本信息 end -->
    <!-- 技术特征信息 -->
    <div class="mt-29 flex-csb" v-if="projectFeatureList && projectFeatureList.length > 0">
      <p class="b-label">技术特征信息</p>
      <p class="b-save" v-show="featureState === 0" @click="changeFeatureState(1)">
        <img src="@/assets/img/icons/edit.png" alt="" />
        <span>修改</span>
      </p>
      <p class="b-save" v-show="featureState === 1" @click="changeFeatureState(0)">
        <img src="@/assets/img/icons/project_stock/save.png" alt="" />
        <span>保存</span>
      </p>
    </div>
    <el-form class="flex-cw base-ruleForm custom-input">
      <template v-for="(item, index) in projectFeatureList">
        <el-form-item class="row-wrap" :key="index" v-if="!(featureState === 1 && item.disabled)">
          <div class="br flex-c">
            <div class="pl-10 nw form-label form-ver">
              <img src="@/assets/img/icons/project_stock/info.png" alt="" v-show="featureState === 0 && item.tips" />
              <el-tooltip class="com-tooltip" effect="light" :content="'不选择' + item.tips + '将影响造价指标分析'" placement="top">
                <img src="@/assets/img/icons/project_stock/info_a.png" alt="" v-show="featureState === 1 && item.tips" />
              </el-tooltip>
              <span :title="item.name">{{ item.name }}</span>
            </div>
            <el-select v-model="item.featureValue" placeholder="请选择" v-show="featureState === 1 && item.enterManner == 2">
              <el-option v-for="(subItem, subIndex) in item.defaultValuesArr" :key="subIndex" :label="subItem" :value="subItem">
              </el-option>
            </el-select>
            <el-input v-model="item.featureValue" placeholder="请输入" v-show="featureState === 1 && item.enterManner == 1"></el-input>
            <div class="pl-14" v-show="featureState === 0">
              <span v-if="item.featureValue">{{ item.featureValue }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
      </template>

      <div class="el-form-item add-item" @click="showAddFeatureDialog" v-if="featureState === 1">
        + 添加特征参数
      </div>
    </el-form>
    <!-- 技术特征信息 end -->

    <!-- 阶段信息 -->
    <div class="mt-29 flex-csb" v-if="proStageBaseInfo.stageId">
      <p class="b-label">阶段信息</p>
      <p class="b-save" v-show="stageState === 0" @click="changeStageState(1)">
        <img src="@/assets/img/icons/edit.png" alt="" />
        <span>修改</span>
      </p>
      <p class="b-save" v-show="stageState === 1" @click="changeStageState(0)">
        <img src="@/assets/img/icons/project_stock/save.png" alt="" />
        <span>保存</span>
      </p>
    </div>
    <el-form :model="proStageBaseInfo" :rules="proStageBaseInfoRules" ref="proStageBaseInfoRuleForm" class="base-ruleForm custom-input" v-if="proStageBaseInfo.stageId">
      <div class="flex-cw">
        <el-form-item class="row-wrap" prop="stageId">
          <div class="br flex-c">
            <div class="pl-14 nw form-label">
              <span class="required">*</span><span>造价阶段</span>
            </div>
            <el-select v-model="proStageBaseInfo.stageId" placeholder="请选择造价阶段" v-show="stageState === 1">
              <el-option v-for="(item, index) in stageList" :key="index" :label="item.stdName" :value="item.id">
              </el-option>
            </el-select>
            <div class="pl-14" v-show="stageState === 0">
              <span v-if="proStageBaseInfo.stageName">{{
                proStageBaseInfo.stageName
              }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap" prop="applicableDate">
          <div class="br flex-c">
            <div class="pl-14 nw form-label">
              <span class="required">*</span><span>价格取定期</span>
            </div>
            <el-date-picker v-model="proStageBaseInfo.applicableDate" type="month" placeholder="请选择价格取定期" v-show="stageState === 1">
            </el-date-picker>
            <div class="pl-14" v-show="stageState === 0">
              <span v-if="proStageBaseInfo.applicableDate">{{
                proStageBaseInfo.applicableDate | filtersDate(4)
              }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap" prop="taxManner">
          <div class="br flex-c">
            <div class="pl-14 nw form-label">
              <span class="required">*</span><span>计税方式</span>
            </div>
            <el-select v-model="proStageBaseInfo.taxManner" placeholder="请选择计税方式" v-show="stageState === 1">
              <el-option v-for="(item, index) in taxList" :key="index" :label="item.name" :value="item.value">
              </el-option>
            </el-select>
            <div class="pl-14 ellipsis1" :title="proStageBaseInfo.taxName" v-show="stageState === 0">
              <span v-if="proStageBaseInfo.taxName">{{
                proStageBaseInfo.taxName
              }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap" prop="invComputeNorm" v-if="proStageBaseInfo.stageId != 1">
          <div class="br flex-c">
            <div class="pl-14 nw form-label">
              <span class="required">*</span><span>计价依据</span>
            </div>
            <el-select v-model="proStageBaseInfo.invComputeNorm" no-data-text="请先选择项目地点" v-show="stageState === 1" placeholder="请选择">
              <el-option @click.native="changeStandard(item.listingName)" v-for="item in listPriceOptions" :key="item.name" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
            <!-- <el-cascader v-model="proStageBaseInfo.listPrice" :options="listPriceOptions" :props="listPriceProps" v-show="stageState === 1"></el-cascader> -->
            <div class="pl-14 ellipsis1" :title="
                proStageBaseInfo.invComputeNorm +
                '- ' +
                setQuotaTitle(baseInfo.quotaList)
              " v-show="stageState === 0">
              <span v-if="proStageBaseInfo.invComputeNorm">{{
                proStageBaseInfo.invComputeNorm
              }}</span>

              <!-- <el-tooltip placement="top" effect="light" v-if="baseInfo.quotaList && baseInfo.quotaList.length">
                <ul slot="content">
                  <li v-for="it in baseInfo.quotaList" :key="it.quotaId"> {{it.quotaName}} </li>
                </ul>
                <span class="cp" title="">...</span>
              </el-tooltip> -->

              <!-- <span v-if="proStageBaseInfo.quotaComputeNorm">{{proStageBaseInfo.quotaComputeNorm}}</span>
              <span v-if="!proStageBaseInfo.invComputeNorm && !proStageBaseInfo.quotaComputeNorm">--</span> -->
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap">
          <div class="br flex-c">
            <div class="pl-14 nw form-label"><span>编制时间</span></div>
            <el-date-picker v-model="proStageBaseInfo.plaitTime" type="month" placeholder="请选择编制时间" v-show="stageState === 1">
            </el-date-picker>
            <div class="pl-14" v-show="stageState === 0">
              <span v-if="proStageBaseInfo.plaitTime">{{
                proStageBaseInfo.plaitTime | filtersDate(4)
              }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap">
          <div class="br flex-c">
            <div class="pl-14 nw form-label"><span>总造价</span></div>
            <div class="pl-14">
              <span v-if="proStageBaseInfo.totalPrice">{{
                formatNumber(proStageBaseInfo.totalPrice)
              }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap">
          <div class="br flex-c">
            <div class="pl-14 nw form-label"><span>经济指标</span></div>
            <div class="pl-14">
              <span v-if="proStageBaseInfo.econStd">{{
                formatNumber(proStageBaseInfo.econStd, true)
              }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
        <el-form-item class="row-wrap">
          <div class="br flex-c">
            <div class="pl-12 nw form-label form-var">
              <img src="@/assets/img/icons/project_stock/info.png" alt="" class="mr-2" />
              <span>计算口径</span>
            </div>
            <el-input v-model="proStageBaseInfo.caliber" placeholder="请输入计算口径" v-show="stageState === 1" @input="checkNumber('caliber')"></el-input>
            <el-select class="form-unit" v-model="proStageBaseInfo.caliberUnit" placeholder="单位" v-show="stageState === 1">
              <el-option v-for="(item, index) in unitList" :key="index" :label="item" :value="item">
              </el-option>
            </el-select>
            <div class="pl-14" v-show="stageState === 0">
              <span v-if="proStageBaseInfo.caliber">{{ formatNumber(proStageBaseInfo.caliber, true)
                }}{{ proStageBaseInfo.caliberUnit }}</span>
              <span v-else>--</span>
            </div>
          </div>
        </el-form-item>
      </div>
    </el-form>
    <!-- 阶段信息 end -->

    <!-- 项目关联工程 -->
    <div class="mt-29 flex-csb" v-if="proStageBaseInfo.stageId">
      <p class="b-label">项目关联工程</p>
      <div class="flex-c">
        <p class="mr-20 b-save" @click="skipImportProject('reset')">
          <img src="@/assets/img/icons/project_stock/refresh.png" alt="" />
          <span>重新校验标准化</span>
          <span v-if="baseInfo.status > 0" class="red-point"></span>
        </p>
        <p class="b-save" @click="skipImportProject">
          <img src="@/assets/img/icons/project_stock/add.png" alt="" />
          <span>添加单位工程</span>
        </p>
      </div>
    </div>
    <div class="com-input table-wrap" v-if="proStageBaseInfo.stageId">
      <el-table :data="projectData" style="width: 100%" border v-if="projectData && projectData.length > 0">
        <el-table-column label="序号">
          <template slot-scope="scope">
            <span>{{ scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column label="名称">
          <template slot-scope="scope">
            <span>{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column label="总造价">
          <template slot-scope="scope">
            <span>{{ formatNumber(scope.row.totalPrice) }}</span>
          </template>
        </el-table-column>
        <el-table-column label="经济指标">
          <template slot-scope="scope">
            <span>{{ formatNumber(scope.row.econStd, true) }}</span>
          </template>
        </el-table-column>
        <el-table-column label="造价占比">
          <template slot-scope="scope">
            <span v-if="scope.row.pct">{{ (scope.row.pct * 100).toFixed(2) }}%</span>
          </template>
        </el-table-column>
      </el-table>

      <div class="ta-center" v-else>
        <img src="@/assets/img/nodata.png" alt="" />
        <p class="nodata-text">暂无数据</p>
      </div>
    </div>
    <!-- 项目关联工程 end -->

    <!-- 建设其他费用 -->
    <div class="mt-29 flex-csb" v-if="
        proStageBaseInfo.stageId &&
        (proStageBaseInfo.stageId == 1 || proStageBaseInfo.stageId == 2)
      ">
      <p class="b-label">建设其他费用</p>
      <div class="flex-c">
        <p class="b-save" @click="addOtherBuildPrice">
          <img src="@/assets/img/icons/project_stock/add.png" alt="" />
          <span> 添加其它建设费用</span>
        </p>
      </div>
    </div>
    <div class="com-input table-wrap" v-if="
        proStageBaseInfo.stageId &&
        (proStageBaseInfo.stageId == 1 || proStageBaseInfo.stageId == 2)
      ">
      <el-table :data="otherBuildPrice" style="width: 100%" border v-if="otherBuildPrice && otherBuildPrice.length > 0">
        <el-table-column label="名称">
          <template slot-scope="scope">
            <span v-if="!scope.row.isAdd">{{ scope.row.name }}</span>
            <el-input v-model="scope.row.name" placeholder="请输入名称" v-else></el-input>
          </template>
        </el-table-column>
        <el-table-column label="金额（元）">
          <template slot-scope="scope">
            <span v-if="!scope.row.isAdd">{{
              Number(scope.row.price).toFixed(2)
            }}</span>
            <el-input v-model="scope.row.price" placeholder="请输入金额" @input="checkNumber('建设其他费用', scope.$index)" v-else></el-input>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <img class="cp mr-44 va-m" src="@/assets/img/icons/project_stock/save_02.png" alt="" @click="saveOtherBuildPrice(scope.$index, scope.row)" v-if="scope.row.isAdd" />
            <img class="cp mr-44" src="@/assets/img/icons/edits.png" alt="" @click="editOtherBuildPrice(scope.$index)" v-else />
            <img class="cp" src="@/assets/img/icons/dels.png" alt="" @click="delOtherBuildPrice(scope.$index, scope.row)" />
          </template>
        </el-table-column>
      </el-table>

      <div class="ta-center" v-else>
        <img src="@/assets/img/nodata.png" alt="" />
        <p class="nodata-text">暂无数据</p>
      </div>
    </div>
    <!-- 建设其他费用 end -->
    <!-- 项目备注 -->
    <div class="mt-29 flex-csb" v-if="proStageBaseInfo.stageId">
      <p class="b-label">项目备注</p>
      <div class="flex-c">
        <p class="b-save" @click="showAddRemarkDialog('')">
          <img src="@/assets/img/icons/project_stock/add.png" alt="" />
          <span> 新增备注</span>
        </p>
      </div>
    </div>
    <div class="table-wrap" v-if="proStageBaseInfo.stageId">
      <el-table v-if="remarkList && remarkList.length > 0" :data="remarkList" style="width: 100%" border>
        <el-table-column label="序号">
          <template slot-scope="scope">
            <span>{{ scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="remarkBy" label="备注人"> </el-table-column>
        <el-table-column prop="remark" label="备注内容"> </el-table-column>
        <el-table-column label="备注时间">
          <template slot-scope="scope">
            <span>{{ scope.row.remarkTime | filtersDate("1") }}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <img class="cp mr-44" src="@/assets/img/icons/edits.png" alt="" @click="
                showAddRemarkDialog(scope.row.remark, scope.row, scope.$index)
              " />
            <img class="cp" src="@/assets/img/icons/dels.png" alt="" @click="delProRemark(scope.row, scope.$index)" />
          </template>
        </el-table-column>
      </el-table>

      <div class="ta-center" v-else>
        <img src="@/assets/img/nodata.png" alt="" />
        <p class="nodata-text">暂无数据</p>
      </div>
    </div>
    <!-- 项目备注 end -->

    <!-- 修改日志 -->
    <div class="mt-29 flex-csb" v-if="proStageBaseInfo.stageId">
      <p class="b-label">修改日志</p>
    </div>
    <div class="table-wrap" v-if="proStageBaseInfo.stageId">
      <el-table :data="amendLogList" style="width: 100%" border v-if="amendLogList && amendLogList.length > 0">
        <el-table-column label="序号" width="100" align='center'>
          <template slot-scope="scope">
            <span>{{ scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column label="修改类型" width="180" align='center'>
          <template slot-scope="scope">
            <span v-if="scope.row.type=='1'">清单修改</span>
            <span v-if="scope.row.type=='2'">阶段信息修改</span>
            <span v-if="scope.row.type=='3'">建设其他费用修改</span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="操作人" width="180" align='center'> </el-table-column>
        <el-table-column prop="content" label="修改内容" align='center'> </el-table-column>
        <el-table-column label="修改时间" width="180" align='center'>
          <template slot-scope="scope">
            <span>{{ scope.row.updateTime | filtersDate("1") }}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="180" align='center'>
          <template slot-scope="scope">
            <img class="cp" src="@/assets/img/icons/details.png" alt="" @click="lookSummary(scope.row, scope.$index)" />
          </template>
        </el-table-column>
      </el-table>

      <div class="ta-center" v-else>
        <img src="@/assets/img/nodata.png" alt="" />
        <p class="nodata-text">暂无数据</p>
      </div>
    </div>
    <!-- 修改日志 end -->

    <!-- 添加特征参数弹窗 -->
    <el-dialog :visible.sync="addFeatureDialog" :close-on-click-modal="false" title="添加技术特征" width="520px" class="com-dialog com-dialog2 feature-dialog">
      <div class="com-checkbox com-checkbox2">
        <el-checkbox-group v-model="checkedList">
          <template v-for="(item, index) in checkList">
            <el-checkbox :label="item.tecFeatureId" :key="index" v-if="!item.isMain && !item.disabled">{{ item.name }}</el-checkbox>
          </template>
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addFeatureDialog = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="addFeatureParams">确定</el-button>
      </span>
    </el-dialog>
    <!-- 添加特征参数弹窗 end -->

    <!-- 新增备注弹窗 -->
    <el-dialog :visible.sync="addRemarkDialog" :close-on-click-modal="false" :title="curRemarkStatus == 1 ? '新增备注' : '编辑备注'" width="460px" class="com-dialog com-dialog2">
      <el-input type="textarea" :rows="3" placeholder="请输入备注内容" resize="none" v-model="curRemark">
      </el-input>
      <p class="nums">字数：{{ curRemark.length }}/1000</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addRemarkDialog = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="addOrEditRemark">确定</el-button>
      </span>
    </el-dialog>
    <!-- 新增备注弹窗 end -->

    <!-- 选择定额规范弹窗 -->
    <el-dialog :visible.sync="normListDialog" :close-on-click-modal="false" :show-close="false" title="请选择定额规范" width="1460px" class="com-dialog set-list norm-list">
      <div v-if="addupOptionsNew && addupOptionsNew.length > 0" class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedNormList">
          <el-checkbox :label="item.id" v-for="(item, index) in addupOptionsNew" :key="index">{{ item.specName }}</el-checkbox>
        </el-checkbox-group>
      </div>
      <div class="ta-center" v-else>
        <img src="@/assets/img/nodata.png" alt="" />
        <p class="nodata-text">暂无数据</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeNorm">取消</el-button>
        <el-button type="primary" @click="comfirmNorm">确定</el-button>
      </span>
    </el-dialog>
    <!-- 添加特征参数弹窗 end -->

    <!-- 提示去标准化弹窗 -->
    <el-dialog :visible.sync="toStandDialog" :close-on-click-modal="false" title="温馨提示" width="460px" class="com-dialog my-dialog">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <div>当前工程有清单异常，需重新校验清单，请及时处理，否则系统无法正常计算项目造价各级费用和指标。</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="toStandDialog = false">取消</el-button>
        <el-button type="primary" @click="skipImportProject('reset')">去校验</el-button>
      </span>
    </el-dialog>
    <!-- 提示去标准化弹窗 end -->
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import { getAreaTree } from '@/api/common'
import { getProjectLog } from '@/api/project'
import {
  queryProjectTypeTree,
  createOrUpdateProject,
  addOrUpdateTecFeature,
  addOrUpdateProStage,
  addOrUpdateOtherCost,
  delOtherCost,
  addOrUpdateProRemark,
  delProRemark,
  getCityQuotaConfigList
} from '@/api/newProject'
export default {
  props: [
    'isEnable',
    'baseInfoParams',
    'projectFeatureListParams',
    'stageList',
    'projectStageDetail',
    'stageId'
  ],
  data() {
    return {
      normListDialog: false, // 显示定额规范弹窗
      baseInfo: {}, // 项目基本信息
      baseInfoRules: {
        name: [
          { required: true, message: ' ', trigger: 'blur' },
          { required: true, message: ' ', trigger: 'change' }
        ],
        province: [
          { required: true, message: ' ', trigger: 'blur' },
          { required: true, message: ' ', trigger: 'change' }
        ],
        specialtyType: [
          { required: true, message: ' ', trigger: 'blur' },
          { required: true, message: ' ', trigger: 'change' }
        ]
      },
      proStageBaseInfo: {}, // 阶段信息
      proStageBaseInfoRules: {
        invComputeNorm: [
          { required: true, message: ' ', trigger: 'blur' },
          { required: true, message: ' ', trigger: 'change' }
        ],
        stageId: [
          { required: true, message: ' ', trigger: 'blur' },
          { required: true, message: ' ', trigger: 'change' }
        ],
        applicableDate: [
          { required: true, message: ' ', trigger: 'blur' },
          { required: true, message: ' ', trigger: 'change' }
        ],
        taxManner: [
          { required: true, message: ' ', trigger: 'blur' },
          { required: true, message: ' ', trigger: 'change' }
        ]
      },
      curStage: '', // 当前造价阶段
      curTax: '', // 当前计税方式
      taxList: [
        { name: '增值税（一般计税方法）', value: 1 },
        { name: '增值税（简易计税方法）', value: 2 },
        { name: '增值税（营业税计税方法）', value: 3 }
      ], // 计税方式列表
      featureState: 0, // 特征信息：0显示修改，1显示保存
      baseState: 0, // 基本信息：0显示修改，1显示保存
      stageState: 0, // 阶段信息：0显示修改，1显示保存
      addRemarkDialog: false, // 添加备注弹窗
      curRemark: '', // 备注内容
      remarkList: [], // 项目备注
      projectData: [], // 项目关联工程
      otherBuildPrice: [], // 其它建设费用
      amendLogList: [], // 修改日志
      unitList: [
        'm',
        '㎡',
        'm³',
        '台',
        't',
        'km',
        '个',
        '根',
        '站',
        '正线公里',
        '延长米'
      ], // 计算口径列表（目前没有接口获取，前端固定）
      listPriceProps: {
        label: 'name',
        value: 'name',
        children: 'subs'
      },
      listPriceOptions: [], // 清单计价
      projectTypeProps: {
        label: 'name',
        value: 'name',
        children: 'subs'
      },
      projectTypeOptions: [], // 项目分类
      projectAreaProps: {
        label: 'name',
        value: 'name',
        children: 'sub'
      },
      projectAreaOptions: [], // 项目地点
      checkList: [], // 添加特征参数列表
      checkedList: [], // 已添加特征参数
      addFeatureDialog: false,
      loading: false,
      curRemarkItem: null, // 当前修改的备注项
      projectFeatureList: [],
      oldProjectTypeValue: [], // 旧的项目分类
      oldTaxManner: null, // 旧的计税方式
      addupOptionsNew: [],
      checkedNormList: [], // 选中定额规范列表
      checkMidList: [], // 原数据
      midInvComputeNorm: '', // 原数据
      curRemarkStatus: '', // 1新增 2编辑
      toStandDialog: false, // 是否显示去标准化提示弹窗
    }
  },
  filters: {
    filtersDate(val, type) {
      return formatDate(val, type)
    }
  },
  watch: {
    baseInfoParams: {
      deep: true,
      immediate: true,
      handler: function(obj) {
        this.baseInfo = JSON.parse(JSON.stringify(obj))
      }
    }
  },
  mounted() {
    this.oldProjectTypeValue = JSON.parse(
      JSON.stringify(this.baseInfo.projectTypeValue)
    )
    if (this.stageId) {
      this.otherBuildPrice = this.projectStageDetail.buildOtherResList || []
      this.projectData = this.projectStageDetail.projectEngList || []
      this.remarkList = this.projectStageDetail.remarkRespList || []
      this.proStageBaseInfo = this.projectStageDetail.proStageBaseInfo || {}
      this.oldTaxManner = this.proStageBaseInfo.taxManner || null
    } else {
      this.otherBuildPrice = []
      this.projectData = []
      this.remarkList = []
      this.proStageBaseInfo = {}
    }
    // 特征参数显示列表
    this.projectFeatureList = this.projectFeatureListParams.filter(item => {
      return item.isMain || item.checked || item.disabled
    })
    // 添加特征参数弹窗列表
    this.checkList = JSON.parse(JSON.stringify(this.projectFeatureListParams))
    // 已选列表
    if (this.checkList && this.checkList.length > 0) {
      for (let i = 0; i < this.checkList.length; i++) {
        if (this.checkList[i].checked) {
          this.checkedList.push(this.checkList[i].tecFeatureId)
        }
      }
    }

    // 已选中定额规范
    // if (this.proStageBaseInfo.quotaList) {
    //   console.log('已选中定额规范', this.proStageBaseInfo.quotaList)
    //   for (let i = 0; i < this.proStageBaseInfo.quotaList.length; i++) {
    //     if (this.proStageBaseInfo.quotaList[i].quotaId) {
    //       this.checkedNormList.push(this.proStageBaseInfo.quotaList[i].quotaId);
    //       this.checkMidList.push(this.proStageBaseInfo.quotaList[i].quotaId);
    //     }
    //   }
    // }
    if (this.baseInfo.quotaList) {
      for (let i = 0; i < this.baseInfo.quotaList.length; i++) {
        if (this.baseInfo.quotaList[i].quotaId) {
          this.checkedNormList.push(this.baseInfo.quotaList[i].quotaId)
          this.checkMidList.push(this.baseInfo.quotaList[i].quotaId)
        }
      }
    }

    this.midInvComputeNorm = this.proStageBaseInfo.invComputeNorm

    this.getAreaTree()
    this.ProjectTypeTreeList()
    this.getCityQuotaConfigList()
    this.getProjectLog()

    if (this.$route.query.changeFea) this.changeFeatureState(1)
    if(this.baseInfo && this.baseInfo.status > 0) {
      this.toStandDialog = true
    }
  },
  methods: {
    // 数值校验
    checkNumber(type, index) {
      if (type === '建设其他费用') {
        // 清除"数字"和"."以外的字符
        this.otherBuildPrice[index].price = this.otherBuildPrice[
          index
        ].price.replace(/[^\d.]/g, '')
        // 验证第一个字符是数字而不是字符
        this.otherBuildPrice[index].price = this.otherBuildPrice[
          index
        ].price.replace(/^\./g, '')
        // 只保留第一个.清除多余的
        this.otherBuildPrice[index].price = this.otherBuildPrice[
          index
        ].price.replace(/\.{2,}/g, '.')
        this.otherBuildPrice[index].price = this.otherBuildPrice[index].price
          .replace('.', '$#$')
          .replace(/\./g, '')
          .replace('$#$', '.')
        // 只能输入两个小数
        this.otherBuildPrice[index].price = this.otherBuildPrice[
          index
        ].price.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
      } else {
        // 清除"数字"和"."以外的字符
        this.proStageBaseInfo[type] = this.proStageBaseInfo[type].replace(
          /[^\d.]/g,
          ''
        )
        // 验证第一个字符是数字而不是字符
        this.proStageBaseInfo[type] = this.proStageBaseInfo[type].replace(
          /^\./g,
          ''
        )
        // 只保留第一个.清除多余的
        this.proStageBaseInfo[type] = this.proStageBaseInfo[type].replace(
          /\.{2,}/g,
          '.'
        )
        this.proStageBaseInfo[type] = this.proStageBaseInfo[type]
          .replace('.', '$#$')
          .replace(/\./g, '')
          .replace('$#$', '.')
        // 只能输入两个小数
        this.proStageBaseInfo[type] = this.proStageBaseInfo[type].replace(
          /^(\-)*(\d+)\.(\d\d).*$/,
          '$1$2.$3'
        )
      }
    },
    // 获取项目分类与清单计价
    ProjectTypeTreeList() {
      var formData = new FormData()
      formData.append('type', 1)
      queryProjectTypeTree(formData).then(res => {
        if (res.code == '01') {
          this.projectTypeOptions = res.body
        }
      })
      var formData2 = new FormData()
      formData2.append('type', 2)
      queryProjectTypeTree(formData2).then(res => {
        if (res.code == '01') {
          this.listPriceOptions = res.body
        }
      })
    },
    // 获取地区（省，市，区） 屏蔽 台湾省、香港、澳门
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          let data = res.body
          data = data.filter(item => {
            return (
              item.name != '台湾省' &&
              item.name != '香港' &&
              item.name != '澳门'
            )
          })
          this.projectAreaOptions = data
        }
      })
    },
    // 删除其它建设费用
    delOtherBuildPrice(index, row) {
      if (!row.id) {
        this.otherBuildPrice.splice(index, 1)
        return
      }
      this.$confirm('确定删除该项吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {
          id: row.id
        }
        delOtherCost(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.otherBuildPrice.splice(index, 1)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 保存其它建设费用
    saveOtherBuildPrice(index, row) {
      if (!row.name) {
        this.$message({
          type: 'error',
          message: '请输入名称'
        })
        return
      } else if (!row.price) {
        this.$message({
          type: 'error',
          message: '请输入金额'
        })
        return
      }
      const data = {
        id: row.id,
        name: row.name,
        price: Number(row.price),
        projectStageId: this.proStageBaseInfo.projectStageId
      }
      this.loading = true
      addOrUpdateOtherCost(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.otherBuildPrice[index].isAdd = false
            this.otherBuildPrice[index].id = res.body
            this.otherBuildPrice = JSON.parse(
              JSON.stringify(this.otherBuildPrice)
            )
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 编辑其它建设费用
    editOtherBuildPrice(index) {
      this.otherBuildPrice[index].isAdd = true
      this.otherBuildPrice = JSON.parse(JSON.stringify(this.otherBuildPrice))
    },
    // 添加其它建设费用
    addOtherBuildPrice() {
      this.otherBuildPrice.push({
        name: '',
        isAdd: true
      })
    },
    // 重新标准化/添加单项工程
    skipImportProject(type) {
      let query = {}
      if (type === 'reset') {
        // 重新标准化
        query = {
          projectId: this.baseInfo.id,
          projectStageId: this.proStageBaseInfo.projectStageId,
          stageId: this.stageId,
          types: 1,
          impType: 1,
        }
      } else {
        // 添加单项工程
        let stageName = ''
        this.stageList.forEach(item => {
          if (item.id == this.stageId) stageName = item.useName
        })
        query = {
          projectId: this.baseInfo.id,
          stageId: this.stageId,
          stageName: stageName,
          projectStageId: this.proStageBaseInfo.projectStageId,
          taxManner: this.proStageBaseInfo.taxManner,
          plaitTime: this.proStageBaseInfo.plaitTime || null,
          applicableDate: this.proStageBaseInfo.applicableDate || null,
          types: 2
          // bore: this.proStageBaseInfo.caliber,
          // unit: this.proStageBaseInfo.caliberUnit,
          // projectStatus: this.baseInfo.specialtyType + '-' + this.baseInfo.projectType + '-' + this.baseInfo.engType,
        }
      }

      this.$router.push({
        path: '/project/importProject',
        query
      })
    },
    // 新增备注弹窗
    showAddRemarkDialog(value, item, index) {
      this.addRemarkDialog = true
      this.curRemark = value
      this.curRemarkItem = null
      this.curRemarkIndex = null
      // value不为'', 则为编辑
      if (value !== '') {
        this.curRemarkStatus = 2
        this.curRemarkItem = item
        this.curRemarkIndex = index
      } else {
        this.curRemarkStatus = 1
      }
    },
    // 删除备注
    delProRemark(row, index) {
      this.$confirm('确定删除该项吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const params = {
          id: row.id
        }
        delProRemark(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.remarkList.splice(index, 1)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 添加/编辑备注
    addOrEditRemark() {
      if (!this.curRemark) {
        this.$message({
          type: 'error',
          message: '请输入备注'
        })
        return
      }

      const data = {
        remark: this.curRemark,
        projectStageId: this.proStageBaseInfo.projectStageId
      }
      if (this.curRemarkItem) {
        data['id'] = this.curRemarkItem.id
      }

      this.loading = true
      addOrUpdateProRemark(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.addRemarkDialog = false
            if (this.curRemarkItem) {
              this.remarkList.splice(this.curRemarkIndex, 1, {
                id: res.body.id,
                remark: res.body.remark,
                remarkBy: this.$store.getters.userName,
                remarkTime: this.curRemarkItem.remarkTime
              })
            } else {
              this.remarkList.push({
                id: res.body.id,
                remark: res.body.remark,
                remarkBy: this.$store.getters.userName,
                remarkTime: res.body.createTime
              })
            }
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 添加特征弹窗
    showAddFeatureDialog() {
      this.addFeatureDialog = true
    },
    // 基本信息修改
    changeBaseState(state) {
      if (state === 0) {
        this.$refs['baseInfo'].validate(valid => {
          if (valid) {
            if (!this.baseInfo.startTime && this.baseInfo.endTime) {
              this.$message({
                type: 'error',
                message: '请选择开工日期'
              })
              return
            }
            if (this.baseInfo.startTime && !this.baseInfo.endTime) {
              this.$message({
                type: 'error',
                message: '请选择竣工日期'
              })
              return
            }
            if (
              new Date(this.baseInfo.startTime).getTime() >
              new Date(this.baseInfo.endTime).getTime()
            ) {
              this.$message({
                type: 'error',
                message: '竣工日期必须大于开工日期'
              })
              return
            }

            const projectTypeValueStr = this.baseInfo.projectTypeValue.join('')
            const oldProjectTypeValueStr = this.oldProjectTypeValue.join('')
            if (oldProjectTypeValueStr !== projectTypeValueStr) {
              this.$confirm(
                '您修改了项目分类，会导致技术特征信息重置',
                '提示',
                {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
                }
              ).then(() => {
                this.oldProjectTypeValue = JSON.parse(
                  JSON.stringify(this.baseInfo.projectTypeValue)
                )
                this.baseState = state
                this.saveBaseInfo()
              })
              return
            }

            this.baseState = state
            this.saveBaseInfo()
          }
        })
      } else {
        this.baseState = state
      }
    },
    // 修改基本信息
    saveBaseInfo() {
      // 项目地点
      this.baseInfo.area = this.baseInfo.projectArea[2]
      this.baseInfo.city = this.baseInfo.projectArea[1]
      this.baseInfo.province = this.baseInfo.projectArea[0]
      // 项目分类
      this.baseInfo.specialtyType = this.baseInfo.projectTypeValue[0]
      this.baseInfo.projectType = this.baseInfo.projectTypeValue[1]
      this.baseInfo.engType = this.baseInfo.projectTypeValue[2]
      // 清单计价
      // this.baseInfo.invComputeNorm = this.baseInfo.invComputeNorm
      // this.baseInfo.quotaComputeNorm = this.checkedNormList.toString()

      // this.baseInfo.invComputeNorm = this.baseInfo.listPrice[0]
      // this.baseInfo.quotaComputeNorm = this.baseInfo.listPrice[1]

      const data = {
        area: this.baseInfo.area,
        city: this.baseInfo.city,
        projectName: this.baseInfo.name,
        province: this.baseInfo.province,
        // invComputeNorm: this.baseInfo.invComputeNorm,
        // quotaComputeNorm: this.baseInfo.quotaComputeNorm,
        // caliber: this.baseInfo.caliber,
        // caliberUnit: this.baseInfo.caliberUnit,
        code: this.baseInfo.code,
        endTime: this.baseInfo.endTime ? new Date(this.baseInfo.endTime) : null,
        engType: this.baseInfo.engType,
        owner: this.baseInfo.owner,
        projectId: this.baseInfo.id,
        projectType: this.baseInfo.projectType,
        specialtyType: this.baseInfo.specialtyType,
        startTime: this.baseInfo.startTime
          ? new Date(this.baseInfo.startTime)
          : null,
        tecFeatureList: null
      }
      createOrUpdateProject(data).then(res => {
        if (res.code == '01') {
          // 刷新一下修改基本信息
          this.$parent.getProjectBaseInfo()
          this.$parent.getTecFeatureByProject()
          this.$message({
            type: 'success',
            message: res.message
          })

          // this.$emit("updateInitData");
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 添加特征参数
    addFeatureParams() {
      const list = []
      for (let i = 0; i < this.checkedList.length; i++) {
        for (let j = 0; j < this.checkList.length; j++) {
          if (
            this.checkedList[i] === this.checkList[j].tecFeatureId &&
            !this.checkList[j].isMain
          ) {
            list.push({
              tecFeatureId: this.checkList[j].tecFeatureId,
              value: this.checkList[j].featureValue || null
            })
          }
        }
      }
      const isMainList = []
      for (let k = 0; k < this.projectFeatureList.length; k++) {
        if (this.projectFeatureList[k].isMain) {
          isMainList.push({
            tecFeatureId: this.projectFeatureList[k].tecFeatureId,
            value: this.projectFeatureList[k].featureValue || null
          })
        }
      }

      this.saveFeature('add', list.concat(isMainList))
    },
    // 特征信息修改
    changeFeatureState(state) {
      this.featureState = state
      if (state === 0) {
        this.saveFeature()
      }
    },
    saveFeature(type, _list) {
      let list = []
      if (type === 'add') {
        list = _list
      } else {
        for (let i = 0; i < this.projectFeatureList.length; i++) {
          if (!this.projectFeatureList[i].disabled) {
            list.push({
              tecFeatureId: this.projectFeatureList[i].tecFeatureId,
              value: this.projectFeatureList[i].featureValue
            })
          }
        }
      }
      const data = {
        list,
        projectId: this.baseInfo.id
      }

      this.loading = true
      addOrUpdateTecFeature(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            // 刷新一下修改技术特征
            this.$parent.getTecFeatureByProject()

            // 拼接添加成功后的技术特征信息列表
            this.projectFeatureList = []
            const projectFeatureListParams = JSON.parse(
              JSON.stringify(this.projectFeatureListParams)
            )
            for (let i = 0; i < projectFeatureListParams.length; i++) {
              for (let j = 0; j < list.length; j++) {
                if (
                  list[j].tecFeatureId ===
                  projectFeatureListParams[i].tecFeatureId
                ) {
                  projectFeatureListParams[i].value = list[j].value
                  projectFeatureListParams[i].featureValue = list[j].value
                  this.projectFeatureList.push(projectFeatureListParams[i])
                }
              }
            }
            this.addFeatureDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 阶段信息修改
    changeStageState(state) {
      if (state === 0) {
        this.$refs['proStageBaseInfoRuleForm'].validate(valid => {
          if (valid) {
            const currentTime = new Date().getTime()
            const applicableDate = this.proStageBaseInfo.applicableDate
            if (
              applicableDate &&
              new Date(applicableDate).getTime() > currentTime
            ) {
              this.$message({
                type: 'error',
                message: '价格取定期应在当前日期之前'
              })
              return
            }
            const plaitTime = this.proStageBaseInfo.plaitTime
            if (plaitTime && new Date(plaitTime).getTime() > currentTime) {
              this.$message({
                type: 'error',
                message: '编制时间应在当前日期之前'
              })
              return
            }

            if (this.oldTaxManner !== this.proStageBaseInfo.taxManner) {
              this.$confirm(
                '您修改了计税方式，会导致项目所含材价的含税属性重置',
                '提示',
                {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
                }
              ).then(() => {
                this.oldTaxManner = this.proStageBaseInfo.taxManner
                this.stageState = state
                this.saveStage()
              })

              return
            }
            if (
              !this.proStageBaseInfo.caliber ||
              !this.proStageBaseInfo.caliberUnit
            ) {
              this.$confirm(
                '不输入计算口径将无法生成指标，确定保存吗?',
                '提示',
                {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
                }
              ).then(() => {
                this.stageState = state
                this.saveStage()
              })
              return
            }

            this.stageState = state
            this.saveStage()
          }
        })
      } else {
        this.stageState = state
      }
    },
    // 修改阶段信息
    saveStage() {
      // 清单计价
      this.proStageBaseInfo.invComputeNorm = this.proStageBaseInfo.invComputeNorm
      this.proStageBaseInfo.quotaComputeNorm = this.checkedNormList.toString()
      const data = {
        applicableDate: new Date(this.proStageBaseInfo.applicableDate),
        projectId: this.baseInfo.id,
        stageId: this.proStageBaseInfo.stageId,
        taxManner: this.proStageBaseInfo.taxManner,
        plaitTime: this.proStageBaseInfo.plaitTime
          ? new Date(this.proStageBaseInfo.plaitTime)
          : new Date(),
        projectStageId: this.proStageBaseInfo.projectStageId,
        invComputeNorm: this.proStageBaseInfo.invComputeNorm,
        quotaComputeNorm: this.proStageBaseInfo.quotaComputeNorm,
        caliber: this.proStageBaseInfo.caliber,
        caliberUnit: this.proStageBaseInfo.caliberUnit
      }

      addOrUpdateProStage(data)
        .then(res => {
          if (res.code == '01') {
            // 刷新一下修改阶段信息
            this.$parent.getProStageInfo()
            this.$parent.getProjectBaseInfo()

            setTimeout(() => {
              if (this.stageId) {
                this.otherBuildPrice =
                  this.projectStageDetail.buildOtherResList || []
                this.projectData = this.projectStageDetail.projectEngList || []
                this.remarkList = this.projectStageDetail.remarkRespList || []
                this.proStageBaseInfo =
                  this.projectStageDetail.proStageBaseInfo || {}
                this.oldTaxManner = this.proStageBaseInfo.taxManner || null
              } else {
                this.otherBuildPrice = []
                this.projectData = []
                this.remarkList = []
                this.proStageBaseInfo = {}
              }

              this.$message({
                type: 'success',
                message: res.message
              })

              for (let i = 0; i < this.stageList.length; i++) {
                if (this.stageList[i].id === this.proStageBaseInfo.stageId) {
                  this.proStageBaseInfo.stageName = this.stageList[i].stdName
                  continue
                }
              }
              const projectVisible = this.$store.state.project.projectVisible
              projectVisible.projectStageList[0].stageId = this.proStageBaseInfo.stageId
              this.$store.commit('SET_PROJECT_VISIBLE', projectVisible)
            }, 800)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: '服务器异常'
          })
        })
    },
    formatDate(val, type) {
      return formatDate(val, type)
    },
    // 选中清单计价规范  2013/2008
    changeStandard(name) {
      this.getCityQuotaConfigList()
      setTimeout(() => {
        this.normListDialog = true
      }, 0)
    },
    // 根据城市获取造价定额标准配置列表
    getCityQuotaConfigList() {
      const list =
        this.proStageBaseInfo.invComputeNorm ==
        '建设工程工程量清单计价规范（GB50500-2013）'
          ? 1
          : 2
      getCityQuotaConfigList({
        province: this.baseInfo.projectArea[0],
        city: this.baseInfo.projectArea[1],
        listing: list,
        isCity: 'Y'
      }).then(res => {
        if (res.code == '01') {
          this.addupOptionsNew = res.body.list
        }
      })
    },
    // 选中项目地点
    changeAddress() {
      const arr = this.stageList.filter(it => {
        return it.isExisted
      })
      if (arr.length == 1 && arr[0].stdName == '估算') {
        // 只有一个估算阶段的时候可以不提示
        this.getCityQuotaConfigList()
        this.baseInfo.invComputeNorm = ''
      } else {
        this.$confirm(
          '当前项目的所有阶段信息的计价依据会被置空, 是否继续?',
          '提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }
        ).then(() => {
          this.getCityQuotaConfigList()
          this.baseInfo.invComputeNorm = ''
        })
      }
    },
    // 选中项目分类
    changeProtype(e) {
      this.baseInfo.specialtyType = e
    },
    // 关闭选择清单计价规范弹窗
    closeNorm() {
      this.checkedNormList = this.checkMidList
      this.baseInfo.invComputeNorm = this.midInvComputeNorm
      this.normListDialog = false
      if (this.checkedNormList.length <= 0) {
        this.baseInfo.invComputeNorm = ''
      }
    },
    // 选中定额规范-确定
    comfirmNorm() {
      if (
        this.checkMidList.length > 0 &&
        this.midInvComputeNorm != this.baseInfo.invComputeNorm
      ) {
        for (let i = 0, l = this.checkMidList.length; i < l; i++) {
          for (let j = 0, l2 = this.checkedNormList.length; j < l2; j++) {
            if (this.checkMidList[i] == this.checkedNormList[j]) {
              this.checkedNormList.splice(j, 1)
              j = j - 1
            }
          }
        }
      }
      this.checkMidList = this.checkedNormList
      this.midInvComputeNorm = this.baseInfo.invComputeNorm

      if (this.checkedNormList.length <= 0) {
        this.$message.warning('请选择计价依据！')
        return
      }
      this.normListDialog = false
    },
    // 计价依据名字拼接
    setQuotaTitle(list) {
      let res = ''
      if (list && list.length) {
        list.forEach((it, idx) => {
          if (idx != 0) {
            res += '、' + it.quotaName
          } else {
            res += it.quotaName
          }
        })
      }
      return res
    },
    getProjectLog() {
      const params = {
        projectStageId: this.proStageBaseInfo.projectStageId
      }
      if(!params.projectStageId) return
      getProjectLog(params).then(res => {
        if (res.code === '01') {
          this.amendLogList = res.body
        }
      })
    },
    // 进入清单汇总一览表
    lookSummary(row) {
      this.$emit('lookSummary', {
        curMenu: '清单汇总一览表',
        stageFinish: true,
        projectStageId: row.projectStageId,
        projectBeauId: row.projectBeauId
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.profile {
  padding: 25px 36px 66px 14px;
  .b-save {
    position: relative;
    .red-point {
      position: absolute;
      right: 5px;
      top: -5px;
      width: 7px;
      height: 7px;
      background-color: red;
      border-radius: 50%;
    }
  }
  .base-ruleForm {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    .row-wrap {
      border-bottom: 1px solid #e6e6e6;
      &:last-child {
        border-bottom: 0;
      }
      .form-unit {
        width: 45%;
        .el-input {
          margin-left: 0;
        }
      }
      .form-line {
        margin-top: -6px;
        color: #999;
      }
      .address-wrap {
        width: 76%;
        img {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          z-index: 1;
        }
      }
      .form-ver {
        img {
          margin-right: 3px;
        }
        span,
        img {
          vertical-align: middle;
        }
      }
    }
    .add-item {
      text-align: center;
      height: 48px;
      line-height: 48px;
      border-right: 1px solid #e6e6e6;
      color: $color-minor;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
    }
    .form-label {
      min-width: 110px;
      max-width: 110px;
      height: 48px;
      line-height: 48px;
      // text-align: center;
      background: #eff2f7;
      color: #aaa;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .required {
        margin-right: 3px;
        color: #f13e43;
        font-size: 14px;
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
  .add-custom {
    color: $color-primary;
  }
  .nums {
    margin-top: 10px;
    text-align: right;
    color: #999;
  }

  .com-dialog .el-checkbox-group {
    justify-content: space-between;
  }
  .norm-list {
    &::v-deep .el-checkbox {
      width: 460px;
      margin-bottom: 15px;
    }
    &::v-deep .el-checkbox__label {
      width: 450px;
    }
  }
}
</style>

<style lang="scss">
.profile {
  .table-wrap {
    .has-gutter th {
      color: #aaa !important;
      font-weight: normal !important;
    }
  }
  .el-table {
    color: #aaa !important;
    font-weight: normal !important;
    font-family: 'mainFont';
    tr {
      font-size: 14px !important;
      color: #333 !important;
      font-weight: normal !important;
    }
  }
  .el-cascader {
    width: 100%;
  }
  .address-wrap {
    .el-input input {
      text-indent: 12px;
    }
  }
  .el-date-editor {
    .el-input__prefix {
      right: 15px;
    }
    .el-input__suffix {
      right: 32px;
    }
  }
  .feature-dialog {
    .el-dialog__body {
      margin: 0 auto;
      width: 430px;
      padding: 20px 40px 20px 0px;
    }
  }
}
</style>
