<template>
  <div class="pend-container">
    <CommentExamine />
  </div>
</template>

<script>
import CommentExamine from './components/commentExamine'
export default {
  data() {
    return {
      status: '',       // 审核状态
      inquiryId: '',  // 批次id
      piciName: '',  // 批次名称
      proName: '',   // 项目名称
    }
  },

  components: {
    CommentExamine
  },

  mounted() {
    // this.status = this.$route.query.status
    // this.inquiryId = this.$route.query.id
    // this.piciName = this.$route.query.piciName;
    // this.proName = this.$route.query.proName;
  },

  methods: {

  },
}
</script>

<style lang="scss" scoped>
  .pend-container{

  }
</style>
