<template>
  <div class="inquiry-index-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如:项目、批次" @keyup.enter.native="currentPage=1;getInquireList();" />
          <i class="el-icon-search" @click="currentPage=1;getInquireList();" />
        </div>
        <!-- 时间 -->
        <div class="search-type time">
          <div class="flex-c">
            <span class="com-label-text" style="font-weight:400;min-width:60px;white-space:nowrap;">询价时间：</span>
            <div class="com-time-search">
              <el-date-picker v-model="startDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :picker-options="pickerOptions1" @change="currentPage=1;getInquireList();" />
            </div>
            <span class="com-line" />
            <div class="com-time-search">
              <el-date-picker v-model="endDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :picker-options="pickerOptions2" @change="currentPage=1;getInquireList();" />
            </div>
          </div>
        </div>
      </div>
      <!-- 筛选 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text"><span class="com-alt">占</span>询价类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: curRegion == ''}" @click="changeType('')">
              全部
            </li>
            <li v-for="(item, index) in regionList" :key="index" :class="{active: curRegion == item.val}" @click="changeType(item.val)">
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-fs custom-type">
        <span class="com-label-text"><span class="com-alt">占</span>询价加急</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: curUrgent == ''}" @click="changeUrgent('')">
              全部
            </li>
            <li v-for="(item, index) in urgentList" :key="index" :class="{active: curUrgent == item.val}" @click="changeUrgent(item.val)">
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-fs custom-type">
        <span class="com-label-text"><span class="com-alt">占</span>批次状态</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: curBatch == ''}" @click="changeBatch('')">
              全部
            </li>
            <li v-for="(item, index) in batchList" :key="index" :class="{active: curBatch == item.code}" @click="changeBatch(item.code)">
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="com-table table-wrap inquiry-table">
      <div class="flex-csb com-operate-wrap inquiry">
        <el-button type="primary" class="flex-cc btn" @click="toInquiry"><i class="el-icon-search" />询价</el-button>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table v-loading="tableLoading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%;" @selection-change="multipleSelection = $event">
          <el-table-column width="240px" label="批次名称">
            <template slot-scope="scope">
              <div class="flex-c mode-name" @click="skipDetail(scope.row)">
                <span>{{ scope.row.piciName }}</span>
                <img v-if="scope.row.isUrgent == 1" src="@/assets/img/icons/faster.png" alt="" class="faster-img">
              </div>
            </template>
          </el-table-column>
          <el-table-column width="220px" label="项目名称">
            <template slot-scope="scope">
              <span class="t-color wrap">{{ scope.row.proName }}</span>
            </template>
          </el-table-column>
          <el-table-column label="询价类型">
            <template slot-scope="scope">
              <span v-if="scope.row.type==0" class="t-color">清单询价</span>
              <span v-else class="t-color">附件询价</span>
            </template>
          </el-table-column>
          <el-table-column align="center" label="材料数量">
            <template slot-scope="scope">
              <span>{{ scope.row.materialCount || '--' }}</span>
            </template>
          </el-table-column>
          <el-table-column label="报价数">
            <template slot-scope="scope">
              <span v-if="scope.row.state == '已退回'">0/0</span>
              <span v-else>{{ (scope.row.recommendNum || '--') + ' / ' + (scope.row.needCount || '--') }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="engineer" label="批次联系人" />
          <el-table-column prop="state" label="询价状态" />
          <el-table-column prop="memberId" label="询价账号" />
          <el-table-column label="询价提交时间">
            <template slot-scope="scope">
              <span>{{ formatDate(scope.row.submitTime,'1') }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getInquireList, getBatchStatusList } from '@/api/inquirySetting'
import { formatDate } from '@/utils/common'
export default {
  name: 'Inquiry',
  data() {
    return {
      formatDate: formatDate,
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      searchVal: '', // 搜索关键字
      startDate: null, // 开始时间
      endDate: null, // 结束时间
      regionList: [
        { name: '清单询价', val: '0' },
        { name: '附件询价', val: '1' }
      ], // 询价类型列表
      curRegion: '', // 选中的询价类型
      urgentList: [
        { name: '是', val: '1' },
        { name: '否', val: '0' }
      ], // 询价加急列表
      curUrgent: '', // 选中的加急类型
      batchList: [], // 批次状态列表
      curBatch: '', // 当前选中的批次
      tableData: [], // 表格数据
      tableLoading: false, // 表格loading
      pickerOptions1: {
        // 开始时间不可大于结束时间
        disabledDate: time => {
          if (this.endDate) {
            const end = this.endDate + ' 23:59:59' // 日期详细才能选中当天
            return time.getTime() > new Date(end)
          }
        }
      },
      pickerOptions2: {
        // 结束时间不可小于开始时间
        disabledDate: time => {
          if (this.startDate) {
            const start = this.startDate + ' 00:00:00'
            return time.getTime() < new Date(start)
          }
        }
      }
    }
  },
  // created() {
  //   this.$store.commit('user/SET_ID', '')
  //   this.$store.commit('user/SET_USER_MENU', 'zixun')
  //   sessionStorage.setItem('userMenu', 'zixun')
  //   this.$router.replace('/inquiryManage')
  // },
  mounted() {
    this.getInquireList() // 列表数据
    this.getBatchStatusList() // 批次
    // this.$store.commit('user/SET_ID', '')

    // this.$store.commit('user/SET_USER_MENU', 'zixun')
    // sessionStorage.setItem('userMenu', 'zixun')
  },

  methods: {
    // 获取询价库列表
    getInquireList() {
      const data = {
        startDate: this.startDate ? this.startDate + ' 00:00:00' : '',
        endDate: this.endDate ? this.endDate + ' 23:59:59' : '',
        type: this.curRegion || null,
        isUrgent: this.curUrgent || null,
        flowStatue: this.curBatch || null,
        keyword: this.searchVal,
        currentPage: this.currentPage,
        pageSize: this.pageSize
      }
      this.tableLoading = true
      getInquireList(data).then(res => {
        this.tableLoading = false
        if (res.code == '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        }
      })
    },

    // 获取批次状态列表
    getBatchStatusList() {
      getBatchStatusList().then(res => {
        if (res.code == '01') {
          this.batchList = res.body
        }
      })
    },

    // 筛选询价类型
    changeType(type) {
      this.curRegion = type
      this.currentPage = 1
      this.getInquireList()
    },

    // 筛选是否加急
    changeUrgent(type) {
      this.curUrgent = type
      this.currentPage = 1
      this.getInquireList()
    },

    // 筛选批次状态
    changeBatch(type) {
      this.curBatch = type
      this.currentPage = 1
      this.getInquireList()
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getInquireList()
    },

    // 去询价页
    toInquiry() {
      this.$router.push({
        path: '/inquiryManage/toInquiry'
      })
    },

    // 去询价详情
    skipDetail(item) {
      this.$router.push({
        path: '/inquiryManage/inquiryDetails',
        query: {
          piciId: item.id,
          piciName: item.piciName,
          proName: item.proName,
          memberId: item.memberId
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.inquiry-index-container {
  .screen {
    border-radius: 0 0 6px 6px;
    .time {
      padding: 20px;
    }
    .custom-type {
      > span {
        margin-right: 15px;
        color: #333;
        font-size: 14px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        flex: 1;
        margin-right: 20px;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          border-bottom: 1px solid #f3f3f4;
          margin-bottom: 12px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 12px;
              padding-bottom: 12px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 12px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .inquiry-table {
    margin-top: 18px;
    border-radius: 6px;
    overflow: hidden;
    .inquiry {
      background: #fcfcfd;
      .btn {
        width: 112px;
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-weight: 400;
        .el-icon-search {
          margin-right: 5px;
        }
      }
    }
    .table-box {
      background: #ffffff;
      padding-bottom: 30px;
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .faster-img {
        width: 44px;
        height: 19px;
        margin-left: 5px;
      }
      .wrap {
        width: 214px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .mode-name {
        padding-left: 40px;
        cursor: pointer;
        color: $color-primary;
      }
    }
  }
}
</style>

<style lang="scss">
.inquiry-index-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;
  .screen {
    padding: 0 21px 5px;
    background: #ffffff;
    .cycle-wrap {
      padding: 20px;
      > span {
        margin-right: 10px;
        min-width: 60px;
        font-weight: 400;
        white-space: nowrap;
      }
      .el-select {
        input {
          width: 281px;
          height: 36px;
        }
      }
    }
  }
  .table-box {
    .has-gutter {
      font-size: 14px;
    }
    .el-table {
      color: #5f5f5f;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
</style>
