<template>
  <div class="inquiry-index-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input class="search-ipt" placeholder="搜索关键字，如:项目、批次" v-model="searchVal" @keyup.enter.native="currentPage=1;getInquireDraftBoxList();" />
          <i class="el-icon-search" @click="currentPage=1;getInquireDraftBoxList();"></i>
        </div>
        <!-- 时间 -->
        <div class="search-type ml-20">
          <div class="flex-c">
            <span class="com-label-text" style="font-weight:400;min-width:60px;white-space:nowrap;">询价时间：</span>
            <div class="com-time-search">
                <el-date-picker
                    v-model="startDate"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    :picker-options="pickerOptions1"
                    @change="currentPage=1;getInquireDraftBoxList();">
                </el-date-picker>
            </div>
            <span class="com-line"></span>
            <div class="com-time-search">
                <el-date-picker
                    v-model="endDate"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    :picker-options="pickerOptions2"
                    @change="currentPage=1;getInquireDraftBoxList();">
                </el-date-picker>
            </div>
          </div>
        </div>
      </div>
      <!-- 筛选 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text"><span class="com-alt">占</span>询价类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{active: curRegion == ''}"
              @click="changeType('')">
              全部
            </li>
            <li
              :class="{active: curRegion == item.val}"
              v-for="(item, index) in regionList"
              :key="index"
              @click="changeType(item.val)">
              {{item.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="com-table table-wrap inquiry-table">
      <div class="flex-csb com-operate-wrap inquiry">
        <el-button type="primary" class="flex-cc btn" @click="delItem(null)">删除</el-button>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%;"
          @selection-change="multipleSelection = $event">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-table-column
            width="220px"
            label="批次名称">
            <template slot-scope="scope">
              <div class="flex-c mode-name" @click="skipDetail(scope.row)">
                <div>{{scope.row.piciName}}</div>
                <!-- <img src="@/assets/img/icons/faster.png" alt="" class="faster-img" v-if="scope.row.is_urgent == 1"> -->
              </div>
            </template>
          </el-table-column>
          <el-table-column
            width="220px"
            label="项目名称">
            <template slot-scope="scope">
              <span class="t-color wrap">{{scope.row.proName}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="询价类型">
            <template slot-scope="scope">
              <span class="t-color" v-if="scope.row.type==0">清单询价</span>
              <span class="t-color" v-else>附件询价</span>
            </template>
          </el-table-column>
          <el-table-column
            align="center"
            label="材料数量">
            <template slot-scope="scope">
              <span>{{scope.row.materialCount || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="报价数">
            <template slot-scope="scope">
              <span>{{scope.row.needCount || '--'}}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column
            prop="engineer"
            label="批次联系人">
          </el-table-column>
          <el-table-column
            prop="memberId"
            label="询价账号">
          </el-table-column> -->
          <el-table-column
            label="保存时间">
            <template slot-scope="scope">
              <span>{{formatDate(scope.row.submitTime,'1')}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="来源及原因">
            <template slot-scope="scope">
              <span>{{scope.row.reason}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span class="t-color" @click="delItem(scope.row)">
                  <el-tooltip effect="light" content="删除" placement="top">
                      <img src="@/assets/img/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
                <span class="t-color" @click="skipDetail(scope.row)">
                  <el-tooltip effect="light" content="重新发布" placement="top">
                      <img src="@/assets/img/icons/sends.png" alt="">
                  </el-tooltip>
                </span>
              </div>
              <div class="icon-wrap">
              </div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 删除草稿弹窗 -->
    <el-dialog
      title="删除"
      :visible.sync="showDelDialog"
      width="460px"
      @close="delid = ''"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p>{{delText}}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" @click="confirmDel">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getInquireDraftBoxList,
  deleteDrafts,
} from '@/api/inquirySetting'
import { formatDate } from '@/utils/common'
export default {
  name: 'Inquiry',
  data() {
    return {
      formatDate: formatDate,
      currentPage: 1,                                                                         // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      searchVal: '',                                                                         // 搜索关键字
      startDate: null,                                                                       // 开始时间
      endDate: null,                                                                         // 结束时间
      curRegion: '',                                                                         // 选中的询价类型
      regionList: [{name:'清单询价',val:'0'},{name:'附件询价',val:'1'}],                      // 询价类型列表
      tableData: [],                                                                        // 表格数据
      tableLoading: false,                                                                  // 表格loading
      pickerOptions1: {                                                                     // 开始时间不可大于结束时间
        disabledDate: (time) => {
          if(this.endDate) {
            let end = this.endDate + " 23:59:59"
            return time.getTime() > new Date(end)
          }
        }
      },
      pickerOptions2: {                                                                     // 结束时间不可小于开始时间
        disabledDate: (time) => {
          if(this.startDate) {
            let start = this.startDate + " 00:00:00"
            return time.getTime() < new Date(start)
          }
        }
      },
      multipleSelection: [],                                                                // 已选中的表单项
      showDelDialog: false,                                                                 // 显示删除草稿弹窗
      delid: '',                                                                            // 删除草稿的id
      delText: '',                                                                          // 删除弹窗提示文字
    }
  },

  mounted() {
    this.getInquireDraftBoxList(); // 列表数据
    // document.getElementsByClassName("el-pagination__jump")[0].childNodes[0].nodeValue = "前往" // 修改分页组件
  },

  methods: {
    // 筛选询价类型
    changeType(type) {
      this.curRegion = type
      this.currentPage = 1
      this.getInquireDraftBoxList()
    },

    // 获取询价库列表
    getInquireDraftBoxList() {
      let data = {
        drafts: 1, // 草稿箱
        startDate: this.startDate? (this.startDate + " 00:00:00"): "",
        endDate: this.endDate ? (this.endDate + " 23:59:59"): "",
        type: this.curRegion || null,
        flowStatue: null,
        keyword: this.searchVal,
        currentPage: this.currentPage,
        pageSize: this.pageSize,
      }
      this.tableLoading = true
      getInquireDraftBoxList(data).then(res=>{
        this.tableLoading = false
        if (res.code == '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        }
      })
    },

    // 刪除草稿
    delItem(item) {
      let delid
      if(item) { // 删除单个
        delid = item.id
        this.delText = '你确定要删除这条询价草稿吗？'
      } else { // 批量删除
        if (this.multipleSelection.length == 0) {
          this.openAlert()
          return
        }
        let ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        delid = ids.join(',')
        this.delText = '你确定要删除勾选的询价草稿吗？'
      }
      this.delid = delid
      this.showDelDialog = true
    },

    // 删除草稿接口
    confirmDel() {
      let params = {
        id: this.delid
      }
      deleteDrafts(params).then(res => {
        if(res.code === '01') {
          this.$message({
            type: 'success',
            message: res.message || '删除成功！'
          })
          this.currentPage = 1
          this.getInquireDraftBoxList()
          this.showDelDialog = false
        } else {
          this.$message({
            type: 'error',
            message: res.message || '删除失败！'
          })
        }
      }).catch(err=>{
        this.$message({
          type: 'error',
          message: err.message || '出错了！'
        })
      })
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条草稿'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 去询价（草稿详情）
    skipDetail(item){
      this.$router.push({
        // path: '/inquiryManage/toInquiry',
        path: '/inquiryManage/toInquiryDrafts',
        query: {
          piciId: item.id,   // id
          type: item.type,   // 询价类型 0清单询价 1附件询价
          decide: 1,         // 1草稿回显 0审核回显
        }
      })
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getInquireDraftBoxList()
    }
  },
}
</script>

<style lang="scss" scoped>
  @import '../../styles/variables.scss';
  .inquiry-index-container{
    .screen{
      border-radius: 0 0 6px 6px;
      .top{
        padding: 20px 0;
      }
      .custom-type{
        > span {
          margin-right: 15px;
          color: #333;
          font-size: 14px;
          white-space: nowrap;
        }
        .t-wrap {
          max-width: 100%;
          flex: 1;
          margin-right: 20px;
          box-sizing: border-box;
          .no-item {
            margin-bottom: 18px;
            color: $color-minor;
            font-size: 14px;
          }
          ul {
            border-bottom: 1px solid #F3F3F4;
            margin-bottom: 12px;
            &.all-list {
              padding: 5px 12px;
              background: #fff;
              box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
              border-radius: 5px;
              li {
                padding-top: 12px;
                padding-bottom: 12px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            li {
              padding-bottom: 12px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
        .el-icon-arrow-up {
          font-size: 16px;
          font-weight: bold;
          &.is-rotate {
            transform: rotate(180deg);
          }
        }
        .is-fold {
          height: 50px;
          overflow-y: hidden;
        }
      }
    }
    .inquiry-table{
      margin-top: 18px;
      border-radius: 6px;
      overflow: hidden;
      .inquiry{
        background: #FCFCFD;
        .btn{
          width: 112px;
          height: 34px;
          color: #ffffff !important;
          border-radius: 5px;
          font-weight: 400;
          background: $color-danger;
          border-color: $color-danger;
          .el-icon-search{
            margin-right: 5px;
          }
        }
      }
      .table-box{
        background: #ffffff;
        padding-bottom: 30px;
        .t-color{
          font-weight: 400;
          color: $table-color;
        }
        .faster-img{
          width: 44px;
          height: 19px;
          margin-left: 5px;
        }
        .wrap{
          width: 214px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .mode-name {
          cursor: pointer;
          color: $color-primary;
        }
      }
    }
  }

</style>

<style lang="scss">
  .inquiry-index-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F6F6F6;
    .screen{
      padding: 0 21px 5px;
      background: #ffffff;
    }
    .table-box{
      .has-gutter{
        font-size: 14px;
      }
      .el-table{
        color: #5f5f5f;
        font-size:13px;
        font-weight: 400;
      }
    }
  }
</style>
