<template>
  <div class="div-tree">
    <!-- <el-input placeholder="输入关键字进行过滤" size="medium" v-model="filterText"> </el-input> -->
    <div class="com-search2">
      <el-input
        class="search-ipt"
        :placeholder="placeholder"
        v-model="filterText"
        @keyup.enter.native="search"
      />
      <i class="el-icon-search" @click="search"></i>
    </div>

    <el-tree
      class="filter-tree mt-10"
      :data="treeData"
      node-key="id"
      :default-expanded-keys="defaultExpand"
      :props="defaultProps"
      accordion
      :filter-node-method="filterNode"
      @node-click="nodeClickHandle"
      ref="tree"
      highlight-current
    >
      <span class="span-ellipsis" slot-scope="{ node }">
        <span :title="node.label">{{ node.label }}</span>
      </span>
    </el-tree>
  </div>
</template>

<script>
import { queryProjectTypeTree } from "@/api/newProject";
import { getIndicatorTree } from "@/api/project2.0";

import { projectType } from "@/utils/datas/staticData";
export default {
  name: "CategoryTree",
  data() {
    return {
      projectOptions: [], // 项目分类
      filterText: "", // 筛选关键字
      defaultProps: {
        // 树字段配置
        children: "sub",
        label: "name",
      },
      defaultExpand: [],
      lastId: 0,

      treeData: [],
    };
  },
  props: {
    placeholder: {
      type: String,
      default: "请输入指标所属行业",
    },
    projectStageId: {
      type: Number,
      default: null,
    },
    curMenu: {
      type: String,
      default: "",
    },
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    },
  },
  mounted() {
    // this.ProjectTypeTreeList();
    this.recursionFun(this.projectType);
    // 设置默认选中第一级的最子级
    this.$nextTick(function () {
      this.$refs.tree.setCurrentKey(this.lastId);
    });

    this.getIndicatorTree();
  },
  computed: {
    projectType() {
      return projectType;
    },
    targetType() {
      if (this.curMenu == "技术指标") {
        return 2;
      } else {
        return 1;
      }
    },
  },
  methods: {
    // 递归找最子级
    recursionFun(arr) {
      if (arr && arr.length) {
        this.lastId = arr[0].id;
        this.defaultExpand.push(arr[0].id);

        if (arr[0].subs && arr[0].subs.length) {
          this.recursionFun(arr[0].subs);
        }
      }
    },
    filterNode(value, data, node) {
      // if (!value) return true;
      // return data.name.indexOf(value) !== -1;

      if (!value) {
        node.expanded = false;
        return true;
      }
      return this.checkBelongToChooseNode(value, data, node);
    },
    search() {},
    // 节点被点击时的回调
    nodeClickHandle(it, node, obj) {
      this.$emit("nodeClick", it, node, obj);
    },
    // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData();
      formData.append("type", 1);
      queryProjectTypeTree(formData).then((res) => {
        this.defaultExpand = [];
        if (res.code == "01") {
          this.projectOptions = res.body;
          if (this.projectOptions && this.projectOptions.length) {
            // 默认展开第一级
            this.recursionFun(this.projectOptions);
            // 设置默认选中第一级的最子级
            this.$nextTick(function () {
              this.$refs.tree.setCurrentKey(this.lastId);
            });
          }
        }
      });
    },
    // 判断传入的节点是不是选中节点的子节点
    checkBelongToChooseNode(value, data, node) {
      if (data.name.indexOf(value) !== -1) {
        return true;
      }
      const level = node.level;
      // 如果传入的节点本身就是一级节点就不用校验了
      if (level === 1) {
        return false;
      }
      // 先取当前节点的父节点
      let parentData = node.parent;
      // 遍历当前节点的父节点
      let index = 0;
      while (index < level - 1) {
        // 如果匹配到直接返回
        if (parentData.data.name.indexOf(value) != -1) {
          return true;
        }
        // 否则的话再往上一层做匹配
        parentData = parentData.parent;
        index++;
      }
      // 没匹配到返回false
      return false;
    },
    // 指标树状图
    getIndicatorTree() {
      console.log(this.targetType);
      getIndicatorTree({
        projectStageId: this.projectStageId,
        type: this.targetType,
      }).then((res) => {
        if (res.code == "01") {
          this.treeData = res.body;
        }
      });
    },
    // 清除选中
    clearChecked() {
      this.defaultExpand = [];
      this.$nextTick(() => {
        this.$refs.tree.setCurrentKey(null);
        let nodes = this.$refs.tree.store.nodesMap;
        for ( let i in nodes) {
          if(nodes[i].expanded) nodes[i].expanded = false;
        }
      })
    },
  },
};
</script>

<style lang="scss" scoped>
.div-tree .com-search2 {
  width: auto;
  min-width: 150px;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #eaeaea;

  &::v-deep .el-input__inner::-webkit-input-placeholder {
    /* placeholder字体大小  */
    font-size: 12px;
  }
}

.div-tree {
  .el-tree {
    color: #333;
    &::v-deep.el-tree--highlight-current
      .el-tree-node.is-current
      > .el-tree-node__content {
      color: #f9a147;
      background: transparent;
    }

    &::v-deep .el-tree-node__content {
      &:hover {
        color: #f9a147;
        background: transparent;
      }
    }

    &::v-deep .el-tree-node__children {
      color: #999999;
    }

    .span-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
</style>
