<template>
  <div class="not-found">
    <Navbar />
    <div class="img-404">
      <img src="@/assets/404_img/404.png" alt="">
      <div>
        <el-button type="primary" @click="$router.push('/')">返回首页</el-button>
      </div>
    </div>
    <MFooter :from="404" />
  </div>
</template>

<script>
import MFooter from '@/components/MFooter'
import { Navbar } from '@/layout/components'
export default {
  name: 'Page404',
  components: {
    MFooter,
    Navbar
  }
}
</script>

<style lang="scss" scoped>
.not-found {
  min-height: calc(100vh - 60px);
  width: 100%;
  overflow: hidden;
  background: #fff;
  .img-404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    > div {
      margin-top: 30px;
    }
  }
}
</style>
