<template>
  <div class="step-container">
    <template v-if="!loading">
      <!-- 步骤 -->
      <Step :curActive="curActive" />

      <!-- 步骤1 -->
      <div class="step1" v-if="curActive == 1">
        <div class="title">
          <div class="b-title">请选择快速检测的模式</div>
        </div>
        <div class="choice flex-cc mt-30">
          <div class="left mr-26 flex-cc cp" @click="toStep2(1)">
            <img src="@/assets/img/v2.0/mode1.png" alt="" class="mr-26">
            <div>
              <div class="title mb-13">项目整体造价快速检测</div>
              <div class="m-text">快速对项目整体造价进行指标预警检测</div>
            </div>
          </div>
          <div class="right flex-cc cp" @click="toStep2(2)">
            <img src="@/assets/img/v2.0/mode2.png" alt="" class="mr-26">
            <div>
              <div class="title mb-13">单位工程造价快速检测</div>
              <div class="m-text">快速对单位工程造价进行指标预警检测</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 步骤2 -->
      <div class="step2 engine-info" v-if="curActive == 2">
        <div class="title">
          <div class="b-title">造价快速检测</div>
        </div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
          <div class="form-ipt flex-cw">
            <el-form-item prop="projectStatus">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">项目类型</span>
                </div>
                <div class="right">
                  <el-cascader @change="changeAddressOrStatus" v-model="ruleForm.projectStatus" :options="projectOptions" :props="optionProps" separator=" "></el-cascader>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="projectArea">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">项目地点</span>
                </div>
                <div class="right">
                  <el-cascader @change="changeAddressOrStatus" v-model="ruleForm.projectArea" :options="areaOptions" :props="optionProp" separator=" "></el-cascader>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="stageStatus">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">阶段</span>
                </div>
                <div class="right right-arrow flex-c">
                  <el-select @change="changeAddressOrStatus" v-model="ruleForm.stageStatus" placeholder="请选择" class="select">
                    <el-option
                      :disabled="hasFile && ruleForm.stageStatus !== '' && (item.useName == '估算' && ruleForm.stageStatus != 1 || item.useName != '估算' && ruleForm.stageStatus == 1)"
                      v-for="item in stateList"
                      :key="item.id"
                      :label="item.useName"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="projectDate" class="project-date">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">价格取定期</span>
                </div>
                <div class="right">
                  <div class="sel-time">
                    <el-date-picker
                      :clearable="false"
                      v-model="ruleForm.projectDate"
                      value-format="yyyy-MM"
                      type="month"
                      :picker-options="pickerOptionsDate"
                      placeholder="年/月">
                    </el-date-picker>
                  </div>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="addupMode">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">计税依据</span>
                </div>
                <div class="right">
                  <el-select v-model="ruleForm.addupMode" :title="ruleForm.addupMode" no-data-text="请先选择项目地点" placeholder="请选择">
                    <el-option
                      v-for="item in addupOptions"
                      @click.native="changeStandard(item.listingName)"
                      :key="item.name"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="modeStatus">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">计税方式</span>
                </div>
                <div class="right right-arrow">
                  <el-select v-model="ruleForm.modeStatus" placeholder="请选择" class="select">
                    <el-option
                      v-for="item in modeList"
                      :key="item.value"
                      :label="item.name"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="bore">
              <div class="ipt-item flex-csb">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">总建设规模</span>
                </div>
                <div class="flex-csb" style="width:100%;">
                  <el-input class="koujing" v-model="ruleForm.bore" placeholder="请输入单项工程建设规模" @input="iptkoujin"></el-input>
                  <el-select class="form-unit" v-model="ruleForm.unit" placeholder="单位">
                    <el-option
                      v-for="item in unitList2"
                      :key="item"
                      :label="item"
                      :value="item">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
          </div>
        </el-form>
        <div class="title">
          <div class="b-title">请选择需要检测的造价文件</div>
        </div>
        <div class="tips">
          <div class="top">
            <img src="@/assets/img/icons/tip-icon.png" alt="" class="tip-img">
            <span>导入须知</span>
          </div>
          <p>1.导入文件：请将每个单位工程报表存储在以专业命名的文件夹中；<br />
              例：土建工程的所有报表，均存储在命名“土建”的文件夹中；多个单位工程，请建立多个专业编码文件夹；<br />
              注：报表格式只支持Excel格式或Xml格式；Excel报表请以“2013国标清单计价报表“为规范，否则上传后会造成识别错误；<br />
              每个报表内应包含：“单位工程**汇总表”、“分部分项工程和单价措施项目清单与计价表”、“综合单价分析表“、“单位工程人材机汇总表”；</p>
          <p>2.按单项工程单个导入时，请将第1条中按专业的多个文件夹（例：土建工程文件夹+通用安装工程文件夹）一起打包并命名（某某工程）再上传；<br />
              系统会根据文件夹的命名对造价数据解析；</p>
          <p>3.按单项工程批量导入时，请将第2条中的多个单项工程文件夹一起打包后上传；系统会根据文件夹命名对各个单项工程进行造价数据解析；</p>
        </div>
        <div class="flex-fsb">
          <div style="width:32%;">
            <div class="import-box flex-cw">
              <div class="import-item flex-c">
                <img src="@/assets/img/file_gu.png" alt="" class="img">
                <div class="right flex-fd-c">
                  <div class="title">选择文件上传</div>
                  <div class="flex-c upload">
                    <div class="u-ipt">{{File && File.name || '请上传（文件会同步储存到文档库）'}}</div>
                    <div class="u-btn flex-cc">导入</div>
                    <input ref="fileElem" class="u-file" type="file" @change="uploadFile($event)" id="reckonFile" :style="File && File.name ? 'width:344px;' : 'width:384px;'" />
                  </div>
                  <div class="flex-c">
                    <p class="tip-text">注：目前导入文件仅支持Excel和XML格式（支持压缩包）</p>
                    <span class="download-file" @click="exportFile2" v-if="ruleForm.stageStatus == 1">下载模板>></span>
                  </div>
                </div>
                <el-tooltip class="com-tooltip" effect="light" content="因各地的造价文件格式有细微区别，若发现文件导入失败，可联系客服" placement="top">
                  <img src="@/assets/img/icons/project_stock/info_a.png" alt="" class="mr-5 ml-5 mt-10">
                </el-tooltip>
              </div>
            </div>
          </div>
          <!-- 文件列表 -->
          <div class="file-list" v-if="hasFile">
            <div class="flex-csb mb-20 pb-20" style="border-bottom:1px solid #ededed;">
              <span class="title">已上传文件</span>
            </div>
            <template v-if="fileList && fileList.length > 0">
              <div class="item-box">
                <div v-for="(item,index) in fileList" :key="index">
                  <div class="flex-csb file-item">
                    <div class="file-name">{{item.name}}</div>
                    <img src="@/assets/img/icons/cancel.png" alt="" class="cp" @click="clearFile(item.projectId,index)">
                  </div>
                </div>
              </div>
              <div class="cp delbtn flex-cc" @click="clearFile(null,null)">全部删除</div>
            </template>
            <div class="nodata-pic" v-else>
              <img src="@/assets/img/nodata.png" alt="" class="img mb-20" />
              <div class="nodata-text">暂无数据</div>
            </div>
          </div>
        </div>
        <div class="btns flex-cc">
          <el-button style="width:80px;">返回</el-button>
          <el-button type="primary" :style="fileList && fileList.length > 0 ? '' : 'pointer-events: none;background: #ccc;'">下一步</el-button>
        </div>
      </div>
      <!-- 步骤3 -->
      <div class="step3 edit-info" v-if="curActive == 3">
        <div class="com-operate-wrap" style="margin-left:-30px;">
          <div class="b-title">工程标准化</div>
        </div>
        <div class="concent">
          <!-- 左选项卡 -->
          <div class="left-box">
            <div class="left-tab">
              <div v-for="(item,index) in projectSingleList" :key="item.projectName+index" class="check-item flex-cc cp" :class="{'item-active': curSingleSort == index}" @click="changeSingleSort(index)">
                <div class="item-text ellipsis2">{{item.projectName}}</div>
                <span class="red-point" v-if="item.status > 0"></span>
              </div>
            </div>
          </div>
          <!-- 右侧内容 -->
          <div class="right-box">
            <div class="top mb-10">
              <!-- 筛选项 -->
              <el-form :model="ruleForm3" ref="ruleForm3" class="right-form flex-c">
                <el-form-item prop="projectStatus">
                  <div class="ipt-item flex-c mr-44">
                    <div class="left flex-cc">
                      <span class="red">*</span>
                      <span class="title">选择工程分类:</span>
                    </div>
                    <div class="right ml-20">
                      <el-cascader v-model="ruleForm3.projectStatus" :options="projectOptions" :props="optionProps" :placeholder="'请选择工程分类'"></el-cascader>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item prop="bore">
                  <div class="ipt-item flex-c">
                    <div class="left flex-cc">
                      <el-tooltip class="com-tooltip" effect="light" content="不输入计算口径将无法生成指标" placement="top">
                        <img src="@/assets/img/icons/project_stock/info_a.png" alt="" class="mr-5">
                      </el-tooltip>
                      <span class="title">计算口径:</span>
                    </div>
                    <div class="flex-cc">
                      <el-input class="koujing" v-model="ruleForm3.bore" placeholder="请输入计算口径" @input="iptkoujin"></el-input>
                      <el-select class="form-unit" v-model="ruleForm3.unit" placeholder="单位">
                        <el-option
                          v-for="item in unitList2"
                          :key="item"
                          :label="item"
                          :value="item">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </el-form-item>
              </el-form>
              <div class="item-group flex-cw">
                <div v-for="(item,index) in projectSortList" :key="item.name" class="check-item flex-cc" :class="{'item-active': curSort == index}" @click="changeCurSort(index)">
                  {{item.name}}
                </div>
              </div>
            </div>
            <!-- 表内容 -->
            <div class="table-box">
              <el-table
                border
                :data="tableData3"
                tooltip-effect="dark"
                v-loading="tableLoading3"
                class="table-main"
                style="width: 100%;">
                <el-table-column
                align="center"
                  width="66px"
                  label="序号">
                  <template slot-scope="scope">
                    <span>{{scope.$index+1}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="清单编码"
                  prop="projectNum">
                </el-table-column>
                <el-table-column
                  label="清单原名称">
                  <template slot-scope="scope">
                    <span class="title-link" @click="checkItem(scope.row)">{{scope.row.name}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  width="324px"
                  label="选择归属分部工程">
                  <template slot-scope="scope">
                    <div v-if="scope.row.edit" class="edit-item flex-cc">
                      <div class="flex-cc">
                        <el-select v-model="projectType[scope.$index]" placeholder="工程分级" @change="changeProjectType($event,scope.$index)">
                          <el-option
                            v-for="item in projectList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.code">
                          </el-option>
                        </el-select>
                        <el-select style="margin: 0 10px;" v-model="projectTypeItem[scope.$index]" placeholder="工程名称">
                          <el-option
                            v-for="item in projectItemList[scope.$index]"
                            :key="item.id"
                            :label="item.name"
                            :value="item.code">
                          </el-option>
                        </el-select>
                      </div>
                      <img class="icons" src="@/assets/img/table/save.png" alt="" @click="saveProjectItem(scope.row,scope.$index)">
                    </div>
                    <div class="flex-csb pl-10 pr-12" v-else>
                      <span v-if="scope.row.belongNorm">{{scope.row.belongNorm}}</span>
                      <div class="flex-cc" v-else>--</div>
                      <img class="icons" src="@/assets/img/table/edit.png" alt="" @click="editProjectItem(scope.$index,scope.row)">
                    </div>
                  </template>
                </el-table-column>
                <el-table-column
                  label="合价（元）">
                  <template slot-scope="scope">
                    {{formatNumber(scope.row.totalPrice)}}
                  </template>
                </el-table-column>
                <el-table-column
                  label="状态">
                  <template slot-scope="scope">
                    <span v-if="scope.row.status == 1" class="green">正常</span>
                    <span v-if="scope.row.status == 2" class="gray">已处理</span>
                    <span v-if="scope.row.status == 0" class="red">
                      <img class="icons" src="@/assets/img/icons/warn.png" alt="">
                      <span>异常</span>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="原因"
                  width="240px">
                  <template slot-scope="scope">
                    <p class="orange r-hide">{{scope.row.errorMsg}}</p>
                  </template>
                </el-table-column>
                <el-table-column
                  label="操作"
                  width="160px">
                  <template slot-scope="scope">
                    <div class="icon-wrap">
                      <el-tooltip effect="light" content="查看" placement="top">
                        <img class="icons" src="@/assets/img/icons/details.png" alt="" @click="checkItem(scope.row)">
                      </el-tooltip>
                      <el-tooltip effect="light" content="修改" placement="top">
                        <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="editItem(scope.row)">
                      </el-tooltip>
                      <el-tooltip effect="light" content="删除" placement="top">
                        <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="delItem(scope.row)">
                      </el-tooltip>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
              <!-- 分页 -->
              <div class="flex-csb com-pages-wrap">
                <div class="flex-c left-page">
                  <span>当前显示</span>
                  <div class="flex-cc cur-page">
                    <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                      <el-option
                        v-for="(item, index) in pageSizeList"
                        :key="index"
                        :label="item"
                        :value="item">
                      </el-option>
                    </el-select>
                  </div>
                  <span>条</span>
                  <span class="total-num">共{{totalCount}}条数据</span>
                </div>
                <div class="flex-c right-page">
                  <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    :current-page.sync="currentPage[curSort]"
                    :page-size="pageSize"
                    layout="prev, pager, next, jumper"
                    :total="totalCount">
                  </el-pagination>
                  <div class="com-page-btn">确定</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 按钮组 -->
        <div class="btns flex-cc">
          <el-button class="mr-10">返回</el-button>
          <el-button type="primary">开始快速检测</el-button>
        </div>
      </div>
      <!-- 步骤4 -->
      <div class="step4" v-if="curActive == 4">
        <p>造价指标快速检测（预算）报告</p>
        <div class="title flex-csb">
          <div class="b-title">指标预警</div>
          <el-button type="primary" class="mr-30">下载报告</el-button>
        </div>
        <!-- 表内容 -->
        <div class="table-box mt-30">
          <el-table
            ref="multipleTable"
            :data="tableData"
            tooltip-effect="dark"
            v-loading="tableLoading"
            class="table-main"
            style="width: 100%;">
            <el-table-column
              label="序号"
              width="80px"
              align="center">
              <template slot-scope="scope">
                <div>{{scope.$index+1}}</div>
              </template>
            </el-table-column>
            <el-table-column
              label="指标名称">
              <template slot-scope="scope">
                <div class="t-color">{{scope.row.name}}</div>
              </template>
            </el-table-column>
            <el-table-column
              label="指标分类">
              <template slot-scope="scope">
                <div class="t-color">{{scope.row.curTarget}}</div>
              </template>
            </el-table-column>
            <el-table-column
              label="造价金额（元）">
              <template slot-scope="scope">
                <span class="t-color">{{formatNumber(scope.row.price)}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="计算口径">
              <template slot-scope="scope">
                <span class="t-color">{{formatNumber(scope.row.koujing,true)}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="经济指标">
              <template slot-scope="scope">
                <span class="t-color red" v-if="scope.row.warnRes > 50">{{formatNumber(scope.row.target,true)}}</span>
                <span class="t-color green" v-else>{{formatNumber(scope.row.target,true)}}</span>
              </template>

            </el-table-column>
            <el-table-column
              label="预警指标(系统均值)">
              <template slot-scope="scope">
                <span class="t-color">{{formatNumber(scope.row.warn,true)}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="预警范围">
              <template slot-scope="scope">
                <span class="t-color">{{scope.row.range}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="预警结果">
              <template slot-scope="scope">
                <span class="t-color" v-if="scope.row.warnRes > 50">差异率<span class="cp red">{{scope.row.warnRes}}</span>%,指标异常</span>
                <span class="t-color" v-else>差异率<span class="cp green">{{scope.row.warnRes}}</span>%,指标正常</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <!-- 预警弹窗 -->
      <el-dialog
        title="预警弹窗"
        :visible.sync="warnDialog"
        width="885px"
        class="com-dialog warn-dialog"
        :close-on-click-modal="false">
        <div class="flex-c">
          <span>预警模型:</span>
          <div class="tag flex-cc ml-10 mr-26">系统均值</div>
          <span>预警指标：建安工程总造价</span>
        </div>
        <div class="banner mt-16 mb-28 flex-csb">
          <div>
            <div>当前指标</div>
            <div class="price">{{formatNumber('2588.66元/㎡',true)}}</div>
          </div>
          <div>
            <div>预警指标</div>
            <div class="price">{{formatNumber('2588.66元/㎡',true)}}</div>
          </div>
          <div>
            <div>预警范围</div>
            <div class="price">-20%-90%</div>
          </div>
          <div class="res" v-if="false">
            <div>预警结果</div>
            <div class="price">2.08%</div>
          </div>
          <div class="warn" v-else>
            <div>预警结果</div>
            <div class="price">8.08%</div>
          </div>
        </div>
        <p class="gray mb-12">
          <span class="mr-20">时间范围：2016-2021</span>
          <span class="mr-20">计算方式：正态分布</span>
          <span class="mr-20">样本数量：90</span>
        </p>
        <!-- 表内容 -->
        <div class="table-box">
          <el-table
            ref="multipleTable"
            :data="tableWarnData"
            height="400px"
            tooltip-effect="dark"
            v-loading="tableWarnLoading"
            class="table-main"
            style="width: 100%;">
            <el-table-column
              label="指标名称">
              <template slot-scope="scope">
                <div class="t-color">{{scope.row.targetName}}</div>
              </template>
            </el-table-column>
            <el-table-column
              label="经济指标">
              <template slot-scope="scope">
                <div class="t-color">{{formatNumber(scope.row.target,true)}}</div>
              </template>
            </el-table-column>
            <el-table-column
              label="阶段">
              <template slot-scope="scope">
                <span class="t-color">{{scope.row.stage}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="项目名">
              <template slot-scope="scope">
                <span class="t-color">{{scope.row.proName}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="特征">
              <template slot-scope="scope">
                <span class="t-color">{{scope.row.feature}}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="warnDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 查看清单 -->
      <el-dialog
        title="查看清单"
        :visible.sync="showItemListDialog"
        width="1460px"
        class="com-dialog my-dialog"
        :close-on-click-modal="false">
        <div class="dialog-box">
          <el-table
            border
            :data="itemDetail"
            tooltip-effect="dark"
            class="table-main"
            style="width: 100%;">
            <el-table-column
              label="清单编码"
              prop="projectNum">
            </el-table-column>
            <el-table-column
              label="清单名称"
              prop="name">
            </el-table-column>
            <el-table-column
              width="280px"
              label="特征">
              <template slot-scope="scope">
              <div>
                <span v-if="itemDetail[0].isEdit">
                  <el-input
                    resize="none"
                    type="textarea"
                    :rows="6"
                    placeholder="请填写特征"
                    v-model="itemDetail[0].features">
                  </el-input>
                </span>
                <span v-else>{{scope.row.features}}</span>
              </div>
              </template>
            </el-table-column>
            <el-table-column
              label="单位"
              prop="unit">
              <template slot-scope="scope">
                <div>
                  <span v-if="itemDetail[0].isEdit">
                    <el-select v-model="itemDetail[0].unit" placeholder="请选择单位">
                      <el-option
                        v-for="item in unitList"
                        :key="item"
                        :label="item"
                        :value="item">
                      </el-option>
                    </el-select>
                  </span>
                  <span v-else>{{scope.row.unit}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              label="工程量">
              <template slot-scope="scope">
                <div>
                  <span v-if="itemDetail[0].isEdit">
                    <el-input type="text" v-model="itemDetail[0].count" placeholder="请填写工程量" @input="iptgcl"></el-input>
                  </span>
                  <span v-else>{{scope.row.count}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              label="单价（元）">
              <template slot-scope="scope">
                <div>
                  <span v-if="itemDetail[0].isEdit">
                    <el-input type="text" v-model="itemDetail[0].price" placeholder="请填写单价" @input="iptdanjia"></el-input>
                  </span>
                  <span v-else>{{scope.row.price}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column
              label="合价（元）">
              <template slot-scope="scope">
                {{formatNumber(scope.row.totalPrice)}}
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-dialog>

      <!-- 无预警方案提示弹窗 -->
      <el-dialog
        title="操作提示"
        :visible.sync="showPlanTip"
        width="420px"
        align="center"
        class="com-dialog add-again"
        :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" class="mt-20 mb-20" />
        <p class="ml-20">该建筑业态此地点下，暂无指标预警方案，<br />无法进行指标快速检测；</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showPlanTip = false">取消</el-button>
          <el-button type="primary" style="">去设置</el-button>
        </span>
      </el-dialog>
    </template>

    <!-- 检测中 -->
    <template v-else>
      <div class="loading">
        <div class="top flex-c">
          <div class="loading-box">
            <img src="@/assets/img/dialog/loading1.png" alt="" class="img">
            <img src="@/assets/img/dialog/loading2.png" alt="" class="img2">
          </div>
          <p>造价指标预警快速检测......</p>
        </div>
        <div class="ing-list">
          <div class="list-item">
            <img src="@/assets/img/v2.0/yujing.png" alt="" />
            <h4 class="blue">指标预警</h4>
            <p class="describe-p gray">全方位对指标进行预警</p>
            <div class="item-box">
              <p class="tag-p"> 预警指标 <span class="blue">100</span> 项</p>
              <div>
                其中：
                <div class="mt-10"><span class="red">13</span>项指标高于均值</div>
                <div class="mt-10"><span class="red">2</span>项指标低于均值</div>
                <div class="mt-10"><span class="red">85</span>项指标在合理范围内</div>
              </div>
            </div>
          </div>
        </div>
        <el-button type="primary" @click="testReport" class="report-btn">查看检测报告</el-button>
      </div>
    </template>
  </div>
</template>

<script>
import {

 } from '@/api/target'
import {
  getAreaTree,
} from '@/api/common'
import {
  queryProjectTypeTree,
 } from "@/api/newProject";
import Step from './components/step'

export default {
  name: 'targetTest',
  components: {
    Step
  },

  data() {
    // 校验计算口径
    const valTwo = (rule,value,callback) => {
      if(value === '' || value === null) {
        callback(new Error('不输入计算口径将无法生成指标，检测将无法进行指标预警'))
      } else if(this.ruleForm.unit === '' || this.ruleForm.unit === null) {
        callback(new Error())
      } else {
        callback()
      }
    }

    return {
      curActive: 2,                                   // 步骤 czhui
      modelType: 1,                                   // 检测模式 1项目 2工程
      loading: false,                                 // 是否在检测页面

      // step2
      projectOptions: [],                             // 项目类型列表
      areaOptions: [],                                // 项目地点列表

      addupOptions: [],                               // 计价依据列表
      ruleForm: {                                     // 项目基本信息
        projectStatus: '',                            // 所选项目类型
        projectArea: '',                              // 所选项目地点
        stageStatus: '',                              // 所选造价阶段
        projectDate: '',                              // 价格取定期
        addupMode: '',                                // 计税依据
        modeStatus: 1,                                // 计税方式
        bore: '',                                     // 计算口径
        unit: '㎡',                                   // 单位
      },
      optionProps: {
        label: 'name',
        value: 'name',
        children: 'subs'
      },                                                                                // 级联选择器配置
      optionProp: {
        label: 'name',
        value: 'name',
        children: 'sub'
      },
      modeList: [                                     // 计税方式列表
        {name:'增值税（一般计税方法）',value:1},
        {name:'增值税（简易计税方法）',value:2},
        {name:'增值税（营业税计税法）',value:3},
      ],
      unitList2: ['m','㎡','m³','台','t','km','个','根','站','正线公里','延长米'], // 单位列表
      pickerOptionsDate: {                            // 时间限制（不可选未来时间）
         disabledDate: (time) => {
          return time.getTime() > Date.now()
         }
      },
      rules: {                                        // 提交校验规则
          projectStatus: [
            { required: true, message: ' ', trigger: 'change' }
          ],
          projectArea: [
            { required: true, message: ' ', trigger: 'change' }
          ],
          stageStatus: [
            { required: true, message: ' ', trigger: 'change' }
          ],
          projectDate: [
            { required: true, message: ' ', trigger: 'change' }
          ],
          addupMode: [
            { required: true, message: ' ', trigger: 'change' }
          ],
          modeStatus: [
            { required: true, message: ' ', trigger: 'change' }
          ],
          bore: [
            { required: false, validator: valTwo, message: ' ', trigger: 'change' }
          ],
      },
      changeing: true,
      File: null,
      hasFile: false,
      fileList: [],                                   // 文件列表
      showPlanTip: false,                             // 是否显示提示弹窗

      // step3
      tableData3: [],
      tableLoading3: false,
      currentPage: [],                                // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      curSort: 0,
      curSingleSort: 0,
      itemDetail: [],                                 // 清单内容
      showItemListDialog: false,                      // 查看清单内容
      projectSortList: [],                            // 工程类目列表
      projectType: [],                                // 选中的工程分级
      projectTypeItem: [],                            // 选中的工程名称
      projectList: [],                                // 工程分级列表
      projectItemList: [],
      projectSingleList: [
        {
          projectName: '项目1'
        },
        {
          projectName: '项目2'
        },
      ],                          // 单项工程列表
      ruleForm3: {
        bore: '',                                      // 计算口径
        unit: '㎡',                                    // 单位
        projectStatus: '',                             // 工程分类
      },

      // step4
      tableData: [],                                  // 表格数据
      tableLoading: false,                            // 表格loading
      warnDialog: false,                              // 预警弹窗
      tableWarnData: [],
      tableWarnLoading: false,

    }
  },

  computed: {
    stateList() {  // 阶段列表
      return this.$store.state.project.stageList;
    }
  },

  watch: {
    // 监听步骤切换
    curActive: function (newVal) {
      if(newVal == 2) {

      }
    },

    // 项目类型改变
  　'ruleForm.projectStatus' (val) {

　　}
  },

  mounted() {
    this.ProjectTypeTreeList()
    this.getAreaTree()

    this.getReportData()
    this.getSortList()
    this.getWarnData()
    this.getTableData3()
  },

  methods: {
    // 选择模式跳转步骤二
    toStep2(type) {
      this.curActive = 2
      this.modelType = type
    },

     // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData()
      formData.append('type', 1)
      queryProjectTypeTree(formData).then(res => {
        if(res.code == '01') {
          this.projectOptions = res.body
        }
      })
    },

    // 获取项目地点
    getAreaTree() {
      getAreaTree().then((res) => {
        if (res.code === "01") {
          this.areaOptions = res.body
        }
      })
    },

    // 切换项目地点/项目类型/阶段,校验是否存在预警
    changeAddressOrStatus() {
      let ruleForm = this.ruleForm
      if(!ruleForm.projectStatus || !ruleForm.projectArea || !ruleForm.stageStatus) return
        let data = {
          specialtyType: ruleForm.projectStatus[0],
          projectType: ruleForm.projectStatus[1],
          engType: ruleForm.projectStatus[2],
          province: ruleForm.projectArea[0],
          city: ruleForm.projectArea[1],
          area: ruleForm.projectArea[2],
          applicableDate: ruleForm.projectDate,
          stageId: ruleForm.stageStatus,
          caliber: ruleForm.bore,
          caliberUnit: ruleForm.unit,
          importMethod: this.modelType == 1 ? true : false,

          invComputeNorm: ruleForm.applicableDate,
          quotaComputeNorm: ruleForm.applicableDate,
          taxManner: ruleForm.applicableDate,
          detect: ruleForm.applicableDate,
          projectId: ruleForm.applicableDate,
          projectName: ruleForm.applicableDate,
          projectStageId: ruleForm.applicableDate,
        }
        console.log(data);
        return
        presenceWarning(data).then(res=>{
          if (res && res.code == "01") {

          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        // 接口查询有无预警方案,若无
        this.showPlanTip = true
    },

    // 计算口径输入限制（非负数值）
    iptkoujin(e){
      // 清除"数字"和"."以外的字符
      this.ruleForm.bore = this.ruleForm.bore.replace(/[^\d.]/g, "")
      // 验证第一个字符是数字而不是字符
      this.ruleForm.bore = this.ruleForm.bore.replace(/^\./g, "")
      // 只保留第一个.清除多余的
      this.ruleForm.bore = this.ruleForm.bore.replace(/\.{2,}/g, ".")
      this.ruleForm.bore = this.ruleForm.bore.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".")
    },

    // 选中清单计价规范  2013/2008
    changeStandard() {
      this.getCityQuotaConfigList();
    },

    // 根据城市获取造价定额标准配置列表
    getCityQuotaConfigList() {

    },

    // 上传文件
    uploadFile(e) {
      // 校验
      this.$refs['ruleForm'].validate((valid) => {
        if (!valid) {
          this.$message({
            type: 'error',
            message: '请先完善项目信息'
          })
          return
        } else {
          var file = e.target.files[0]
          if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1 || file.name.indexOf('.XLS') > -1 || file.name.indexOf('.XLSX') > -1 || file.name.indexOf('.zip') > -1 || file.name.indexOf('.rar') > -1 || file.name.indexOf('.xml') > -1 || file.name.indexOf('.XML') > -1 ) {
            this.importInvFile(file).then(res=>{
              if(res.code == '01') {
                this.File = file // 文件已上传
                if(!(res.body && res.body.length > 0)) return
                this.addToArr(res.body)
              }
              this.$refs.fileElem.value = null
            }).catch(err=>{
              console.log(err);
              this.$refs.fileElem.value = null
            })
          } else {
            this.$message({
              type: 'error',
              message: '系统检测到上传文件格式错误，请检查文件是否有误'
            })
          }
        }
      })
    },

    // 文件列表添加新文件
    addToArr(newArr) {
      if(!newArr || newArr.length == 0) return
      if(this.fileList.length != 0) {
        for(let i = 0;i < this.fileList.length;i++) {
          for(let j = 0;j < newArr.length;j++) {
            if(this.fileList[i].projectId == newArr[j].projectId) {
              this.fileList.splice(i,1,newArr[j])
              newArr.splice(j,1)
              break;
            }
          }
        }
      }
      this.fileList = this.fileList.concat(newArr)
    },

    // 调用文件上传接口
    importInvFile(file) {
      return new Promise((resolve,reject) => {
        this.showSubmitDialog = true
        this.disaScanBtn = true
        this.submitStatus = 1
        var formData = new FormData()
        let type = this.ruleForm2.stageStatus == 1 ? 'EST' : 'ENG'
        if(this.$route.query.types == 2) { // 添加单位工程的参数
          formData.append('type',type)
          formData.append('file',file)
          formData.append('taxManner',this.ruleForm2.modeStatus)
          // formData.append('engType',this.curDataType == '单项工程' ? true : false)
        } else {
          formData.append('type',type)
          formData.append('file',file)
          formData.append('province',this.ruleForm.projectArea[0])
          formData.append('city',this.ruleForm.projectArea[1])
          formData.append('area',this.ruleForm.projectArea[2])
          formData.append('projectName',this.ruleForm.projectName)
          formData.append('stageId',this.ruleForm2.stageStatus)
          formData.append('taxManner',this.ruleForm2.modeStatus)
          formData.append('applicableDate',this.ruleForm2.projectDate)
          formData.append('invComputeNorm',this.ruleForm2.addupMode)
          formData.append('quotaComputeNorm',this.checkedNormList.toString() || '')
          // formData.append('engType',this.curDataType == '单项工程' ? true : false)
        }
        if(this.engData && this.engData.id) formData.append('projectId',this.engData.id)
        if(this.engData && this.engData.stageId && this.$route.query.types != 3) formData.append('projectStageId',this.engData.stageId)
        setTimeout(()=>{
          importProjectFile(formData).then(res=>{
            this.disaScanBtn = false
            this.submitStatus = 2
            if(res.code == '01') {
              this.hasFile = true //  标记上传过文件
              this.successMsg = res.message
              this.submitStatus = 3
              resolve(res)
            } else {
              this.submitStatus = 4
              this.errorMsg = res.message
            }
            try{
              this.$refs.fileElem.value = null
            }catch{}
          }).catch(err=>{
            this.submitStatus = 4
            this.errorMsg = err.message
            this.$refs.fileElem.value = null
          })
        },2000)
      })
    },

    // 下载模板(估算)
    exportFile2() {
      downloadEstTemplate().then(res => {
        // ie11文件下载兼容
        if(navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '估算费用表.xls')
          return
        }
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {

        }
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement('a');
          let _fileName = sessionStorage.getItem('blob_filename') || '估算费用表.xls';
          a.download = _fileName;
          a.href = event.target.result;
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem('blob_filename')
        }
      }).catch(err => {
        console.log(err);
      })
    },

    // 清除文件数据
    clearFile(id,index) {
      if(id) {
        this.delCode = id
        this.delIdx = index
        this.delfilestatus = 1
      } else {
        this.delfilestatus = 2
      }
      this.delSecond = 3
      this.disableBtn = true
      this.delFileDialog = true
      this.delTimer = setInterval(()=>{
        this.delSecond--
        if(this.delSecond==0) {
          clearInterval(this.delTimer)
          this.disableBtn = false
        }
      },1000)
    },

    // 查看检测报告
    testReport() {

    },

    // 获取工程类目列表
    getSortList() {
      this.projectSortList = [
        {name: '土建工程'},
        {name: '安装工程'},
      ]
    },

    // 切换分页
    handleCurrentChange(val) {
      this.$set(this.currentPage, this.curSort, val)
      this.getTableData()
    },

    // 查看按钮
    checkItem(item) {
      item.isEdit = false
      let arr = [] // 新数组可重置表格数据
      arr.push(item)
      this.itemDetail = arr
      console.log(arr);
      this.showItemListDialog = true
    },

    // 编辑归属分部
    editProjectItem(index,item) {
      this.projectType[index] = item.deptCode
      this.projectList.forEach(items=>{
        if(items.code == item.deptCode) this.projectItemList[index] = items.sub
      })
      this.projectTypeItem[index] = item.itemCode
      this.tableData[index].edit = !this.tableData[index].edit
    },

    // 获取标准化表格数据
    getTableData3() {
      this.tableData3 = [
        {
          belongNorm: "土石方-土方工程",
          code: "010101001",
          count: 1334.2,
          deptCode: "0101",
          econStd: null,
          engCode: "01",
          engItemId: 41913,
          errorMsg: null,
          features: "1.土石类别:综合考虑\n2.弃土运距:综合考虑\n3.取土运距:综合考虑",
          id: 228649,
          itemCode: "010101",
          name: "平整场地",
          normCode: "010101001",
          price: 1.37,
          projectNum: "010101001",
          status: 1,
          totalPrice: 1827.85,
          unit: "m2",
          isEdit: false,
        },
        {
          belongNorm: "土石方-土方工程",
          code: "010101001",
          count: 1334.2,
          deptCode: "0101",
          econStd: null,
          engCode: "01",
          engItemId: 41913,
          errorMsg: null,
          features: "1.土石类别:综合考虑\n2.弃土运距:综合考虑\n3.取土运距:综合考虑",
          id: 228649,
          itemCode: "010101",
          name: "平整场地",
          normCode: "010101001",
          price: 1.37,
          projectNum: "010101001",
          status: 1,
          totalPrice: 1827.85,
          unit: "m2",
          isEdit: false,
        },
      ]
      this.itemDetail = this.tableData3[0]
    },

    // 获取报告表格数据
    getReportData() {
      this.tableData = [
        {name:'土建工程',curTarget:'单项工程级',price:'1500000000',koujing:'1000㎡',target:'150000元/㎡',warn:'150000元/㎡',range:'-80%-80%',warnRes:'51.00'},
        {name:'土建工程',curTarget:'单项工程级',price:'1500000000',koujing:'1000㎡',target:'150000元/㎡',warn:'150000元/㎡',range:'-80%-80%',warnRes:'5.88'},
      ]
    },

    // 获取预警表格数据
    getWarnData() {
      this.tableWarnData = [
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
        {targetName:'住宅',target:'3605.75元/㎡',stage:'估算',proName:'项目名1',feature:'特征1'},
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
  @import '../../styles/variables.scss';
  .loading {
    background: #ffffff;
    text-align: center;
    .report-btn {
      margin: 0 auto 30px;
    }
    .top {
      height: 196px;
      padding: 0 54px;
      background: #EAEFFB;
      // border-bottom: 2px solid #3699FF;
      p {
        font-size: 18px;
        font-weight: bold;
      }
      .loading-box{
        width: 90px;
        height: 90px;
        margin: 30px 26px 30px 0;
        position: relative;
        >img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .img{
          z-index: 0;
          animation: scanLoading .8s linear infinite;
        }
        .img2{
          z-index: 1;
          animation: scanLoading2 .8s linear infinite;
        }
        @keyframes scanLoading {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(-360deg);
          }
        }
        @keyframes scanLoading2 {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
    .ing-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 50px 0;
      text-align: center;
      background: #ffffff;
      .list-item {
        position: relative;
        h4 {
          margin: 0;
          padding: 15px 0;
        }
        .describe-p {
          font-size: 12px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          margin-bottom: 20px;
        }
        .item-box {
          width: 15.6vw;
          height: 194px;
          background: #ffffff;
          border: 1px solid #eeeeee;
          box-shadow: 0px 2px 8px 0px rgba(241, 242, 247, 0.82);
          border-radius: 3px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          .tag-p {
            padding: 20px 0;
          }
        }
      }

      .span-arrow {
        position: absolute;
        right: -6vw;
        top: 10%;
        &::before {
          content: "";
          width: 6vw;
          height: 1px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-top: 1px dashed #DCDCDC;
        }
        &::after {
          content: "";
          width: 6vw;
          height: 1px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border-top: 1px dashed #DCDCDC;
        }
      }
    }
  }
  .step-container {
    .warn-dialog {
      .tag {
        color: #F13A3F;
        width: 60px;
        height: 22px;
        background: #FFD3D5;
        border-radius: 2px;
      }
      .banner {
        color: #ffffff;
        >div {
          width: 196px;
          height: 54px;
          border-radius: 4px;
          padding: 8px 12px;
        }
        .price {
          font-size: 18px;
          margin-top: 3px;
        }
        .gray {
          color: #999999;
        }
        &>div:nth-child(1) {
          background: #36CFC9;
        }
        &>div:nth-child(2) {
          background: $color-minor;
        }
        &>div:nth-child(3) {
          background: #0FACD5;
        }
        .res {
          background: $color-primary;
        }
        .warn {
          background: $color-danger;
        }
      }
    }
    .step1,.step2,.step3,.step4 {
      padding: 20px 0;
      margin-top: 10px;
      border-radius: 8px;
      background: #ffffff;
    }
    .step1 {
      padding-bottom: 120px;
      .choice {
        & > div {
          width: 648px;
          height: 230px;
          background: #FFFFFF;
          box-shadow: 0px 2px 8px 0px #E7E7E9;
          border-radius: 8px;
          padding: 6px 26px 6px 0;
        }
        .title {
          font-size: 24px;
          font-weight: bold;
        }
        .m-text {
          font-size: 14px;
          opacity: .6;
        }
      }
    }

    // step2
    .engine-info {
      margin-top: 7px;
      background: #ffffff;
      padding: 0 17px 35px;
      border-radius: 6px;
      >.title {
        padding: 30px 0;
        .b-title {
          margin-left: -16px;
        }
      }
      .form-line {
        margin-top: -8px;
        color: #999;
        padding: 0 8px;
      }
      .save-btn {
        border-radius: 6px;
        width: 118px;
        height: 44px;
        line-height: 40px;
        text-align: center;
        margin: 20px auto;
        color: $gray-color;
        border: 1px solid;
        font-size: 15px;
      }
      .edit-stage {
        cursor: pointer;
        color: $color-primary;
      }
      .form-ipt {
        border-radius: 2px;
        margin-bottom: 18px;
        border-left: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        .ipt-item {
          // width: 533px;
          width: 100%;
          height: 45px;
          border-right: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;
          .left {
            min-width: 110px;
            height: 100%;
            background: #EFF2F7;
            .red {
              margin-right: 2px;
              margin-top: 6px;
              color: $color-danger;
              font-weight: bold;
            }
            .title {
              font-size: 12px;
              color: $gray-color;
            }
          }
          .right {
            padding: 6px 7px;
            width: 100%;
          }
          .el-select {
            width: 100%;
          }
        }
      }
      .tips {
        height: 155px;
        background: rgba($color: #EDEDED, $alpha: .5);
        border-radius: 4px;
        font-size: 12px;
        color: $color-minor;
        padding: 9px 17px;
        margin-bottom: 18px;
        p {
          line-height: 15px;
        }
        .top {
          font-size: 14px;
          display: flex;
          align-items: center;
          margin-bottom: 4px;
          .tip-img {
            width: 25px;
          }
        }
      }
      .others {
        margin-top: 60px;
        .other-title {
          color: #999999;
          margin-bottom: 16px;
        }
        .other-box {
          width: 32%;
          margin: 0 26px 26px 0;
          .import-item {
            width: 100%;
            margin: 0;
          }
        }
      }
      .file-list {
        margin: 0 30px 0;
        padding: 13px 17px;
        width: 32%;
        text-align: center;
        border: 1px solid #ededed;
        border-radius: 4px;
        .nodata-pic {
          text-align: center;
          padding-bottom: 20px;
        }
        .nodata-text {
          color:#cccccc;
        }
        .title {
          font-size: 16px;
        }
        .cp {
          color: $color-danger;
        }
        .delbtn {
          height: 36px;
          padding-top: 10px;
          margin-top: 10px;
          border-top: 1px solid #ededed;
        }
        .item-box {
          height: 300px;
          overflow: auto;
          .file-item {
            height: 34px;
            padding: 0 25px;
            &:hover {
              background: rgba(186, 216, 248, .2);
              border-radius: 4px;
            }
            img {
              width: 12px;
            }
          }
        }
      }
      .import-box {
        min-width: 1600px;
        .red {
          color: $color-danger !important;
        }
        .clear-file {
          width: 48px;
          color: $color-primary;
        }
        .download-file {
          color: $color-minor;
          cursor: pointer;
          font-size: 12px;
        }
        .import-item {
          width: 32%;
          height: 120px;
          background: #ffffff;
          border: 1px solid #ededed;
          border-radius: 4px;
          margin: 0 26px 26px 0;
          padding: 16px;
          box-sizing: border-box;
          &:nth-child(3n) {
            margin-right: 0;
          }
          .img {
            width: 65px;
            height: 86px;
            margin-right: 24px;
          }
          .right {
            width: 100%;
            height: 86px;
            .title {
              font-weight: bold;
              line-height: 30px;
            }
            .upload {
              width: 384px;
              cursor: pointer !important;
              > div {
                position: relative;
                width: 100%;
              }
              .u-ipt {
                padding-left: 10px;
                width: 100%;
                height: 34px;
                line-height: 34px;
                border: 1px solid #B9C6DC;
                border-radius: 4px;
                border-right: none;
                color: #999999;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .u-btn {
                height: 34px;
                width: 100px;
                line-height: 34px;
                text-align: center;
                // color: #fff;
                margin: 4px 0 4px -2px;
                border-radius: 0 4px 4px 0;
                border: 1px solid #B9C6DC;
                .imgs {
                  width: 10px;
                  height: 10px;
                }
              }
              .u-file {
                position: absolute;
                width: 100%;
                opacity: 0;
                width: 344px;
                height: 42px;
                cursor: pointer;
              }
            }
            .upload2 {
              .u-file {
                width: 384px;
              }
            }
            .upload3 {
              // width: 300px;
              width: 290px;
              .u-file {
                // width: 246px;
                width: 290px;
              }
              .u-ipt{
                // width: 176px;
                width: 290px;
              }
              .u-btn{
                // width: 70px;
                width: 88px;
              }
            }
            .select-remark {
              width: 88px;
              margin-right: 5px;
              height: 34px;
            }
            .tip-text {
              font-size: 12px;
              color: #cccccc;
              line-height: 30px;
            }
          }
        }
      }
    }

    // step3
    .edit-info {
      padding: 25px 36px 66px 14px;
      margin-top: 7px;
      background: #ffffff;
      border-radius: 6px;
      .concent {
        display: flex;
        .red-point {
          position: absolute;
          right: 8px;
          top: 5px;
          width: 7px;
          height: 7px;
          background-color: red;
          border-radius: 50%;
        }
        .left-box {
          width: 180px;
          border-radius: 2px;
          margin-right: 8px;
          background: #ffffff;
          min-width: 180px;
          .left-tab {
            display: flex;
            flex-direction: column;
            align-items: center;
            .check-item {
              height: 44px;
              color: #999;
              width: 100%;
              border-bottom: 1px solid rgba(229, 229, 229, .5);
              position: relative;
              padding: 0 14px;
            }
            .item-active {
              color: #fff;
              background: $color-minor;
              position: relative;
              border-radius: 2px;
              &::after {
                display: block;
                content: '';
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-left: 8px solid $color-minor;
                border-bottom: 8px solid transparent;
                position: absolute;
                right: -8px;
                top: 50%;
                margin-top: -8px;
              }
            }
          }
        }
        .right-box {
          flex: 1;
          border-radius: 2px;
          padding-bottom: 66px;
          background: #fff;
          .top {
            background: #fff;
            .right-form {
              padding: 20px 0 0 20px;
              .koujing {
                width: 192px;
                margin-left: 16px;
                margin-right: -2px;
              }
              .form-unit {
                width: 128px;
                padding-right: 7px;
              }
              .ipt-item {

              }
            }
          }
          .table-box {
            padding-bottom: 18px;
            .green {
              color: #1EB645;
            }
            .gray {
              color: #999999;
            }
            .red {
              color: #F13A3F;
            }
            .orange {
              color: #F9A147;
            }
            .icons {
              cursor: pointer;
            }
            .title-link {
              color: $color-primary;
              cursor: pointer;
            }
          }
          .item-group {
            margin-bottom: 10px;
            border-bottom: 1px solid $color-minor;
            box-shadow: 0px 1px 0px 0px rgba(249, 161, 71, 0.3);
            .check-item {
              width: 140px;
              height: 32px;
              color: #BFBFBF;
              font-weight: 500;
              font-size: 12px;
              cursor: pointer;
              &:hover {
                color: $color-minor;
              }
            }
            .item-active {
              color: #ffffff;
              background-image: url('../../assets/img/icons/item_bg.png');
              background-size: 140px 32px;
              box-shadow: 0px 2px 0px 0px rgba(249, 161, 71, 0.3);
              border-radius: 1px;
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .step4 {
      >p {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
      }
      .b-title {
        margin-left: 0;
      }
      .table-box {
        .red {
          color: $color-danger;
        }
        .green {
          color: #00CC00;
        }
      }
    }
  }
</style>

<style lang="scss">
  @import '../../styles/variables.scss';
  .step-container {
    .warn-dialog {
      .el-dialog__header {
        background: #ffffff;
      }
      .el-dialog__body {
        border-top: 1px solid #EFEFEF;
      }
    }
    .edit-info {
      .el-input__inner {
        border: 1px solid #B9C6DC !important;
      }
      .el-cascader {
        .el-input__inner {
          border-radius: 20px;
          width: 280px;
        }
      }
      .koujing {
        .el-input__inner {
          border-right: none !important;
          border-radius: 20px 0 0 20px;
        }
      }
      .form-unit {
        .el-input__inner {
          border-radius: 0 20px 20px 0;
        }
      }
      .table-box {
        .has-gutter {
          th {
            background: #EFF2F7 !important;
          }
          .cell {
            font-size: 12px;
            color: #999999 !important;
          }
        }
        .icon-wrap{
          .icons{
            cursor: pointer;
            margin-right: 15px;
          }
        }
        .edit-item {
          .el-select {
            .el-input__inner {
              width: 135px;
              height: 34px;
            }
            .el-input__suffix {
              top: 4px !important;
              right: 4px !important;
            }
            .is-focus {
              .el-input__suffix {
                top: 0 !important;
              }
            }
          }
        }
      }
      .btns {
        .el-button--primary {
          padding: 12px 15px;
          width: 143px !important;
        }
      }
      .my-dialog {
        .el-dialog .el-dialog__body {
          .org {
            color: $color-minor;
          }
          .wth {
            width: 73%;
            margin: 0 auto 10px;
          }
          .left {
            width: 83%;
            margin: 0 auto;
            text-align: left;
          }
          .line-h {
            line-height: 20px !important;
          }
          .red {
            color: $color-danger;
            font-size: 12px;
            margin-top: 5px;
          }
        }
      }
    }
    .engine-info {
      .el-input__inner {
        border: 1px solid #B9C6DC;
      }
      .form-label {
        min-width: 110px;
        height: 48px;
        line-height: 48px;
        background: #EFF2F7;
        color: #AAA;
        text-align: center;
        font-size: 12px;
        .required {
          margin-right: 3px;
          color: #F13E43;
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
        }
      }
      .form-ver {
        img {
          margin-right: 3px;
        }
        span, img {
          vertical-align: middle;
        }
      }
      .right {
        width: 100%;
        .el-cascader {
          width: 100%;
        }
        .el-input input {
          // width: 406px;
          width: 100%;
          height: 34px;
        }
        .el-date-editor {
          .el-input__inner {
            // width: 160px;
            height: 34px;
          }
        }
        .el-input__suffix {
          right: 4px !important;
        }
        .el-input--suffix {
          width: 100%;
          .el-input__prefix {
            right: 4px !important;
            color: #2491F6;
          }
          .el-input__suffix {
            right: 5px !important;
          }
        }
      }
      .koujing {
        min-width: 290px;
        width: 70%;
        padding-left: 7px;
        padding-right: 7px;
      }
      .form-unit {
        width: 128px;
        padding-right: 7px;
      }
      .right-arrow {
        .el-input__suffix {
          top: 4px !important;
        }
        .is-focus{
          .el-input__suffix{
            top: 2px !important;
          }
        }
      }
      .el-form-item {
        margin-bottom: 0 !important;
        width: 33.33%;
      }
      .project-date {
        .right {
          .el-input__suffix {
            right: 25px !important;
          }
        }
      }
      .custom-input {
        .el-input {
          margin: 0 8px;
          height: 34px;
          input {
            height: 34px;
            line-height: 34px;
          }
        }
        .form-unit {
          .el-input {
            margin-left: 0;
          }
        }
        .el-form-item {
          margin-bottom: 0;
          width: 100%;
        }
        .address-wrap {
          .el-select {
            width: 100%;
            input {
              text-indent: 12px;
            }
          }
        }
        .el-select {
          width: 76%;
          .el-input__suffix {
            top: 7px;
          }
        }
        .el-date-editor.el-input, .el-date-editor.el-input__inner {
          width: 100%;
        }
        .el-icon-date {
          color: $color-primary;
        }
        .el-form-item {
          width: 33.3333%;
        }
        .el-input__suffix {
          top: 5px !important;
          right: 4px !important;
        }
        .is-focus {
          .el-input__suffix {
            top: 0 !important;
            right: 25px !important;
          }
        }
      }
      .base-ruleForm {
        border-top: 1px solid #E6E6E6;
        border-radius: 2px;
        .row-wrap {
          flex-wrap: wrap;
          .formbox {
            border-bottom: 1px solid #E6E6E6;
            width: 33.33%;
            .el-form-item {
              width: 100%;
            }
          }
          &:last-child {
            border-bottom: 0;
          }
          .form-unit {
            margin-right: 8px;
            width: 45%;
            .el-input {
              margin-left: 0;
            }
          }
          .address-wrap {
            width: 73%;
            img {
              position: absolute;
              top: 50%;
              left: 20px;
              transform: translateY(-50%);
              z-index: 99;
            }
          }
          .form-ver {
            img {
              margin-right: 3px;
            }
            span, img {
              vertical-align: middle;
            }
          }
          .bt {
            border-top: 1px solid #E6E6E6;
          }
        }
        .wrap-box {
          flex-wrap: wrap;
          border-bottom: none;
          >div {
            width: 33.33%;
            border-bottom: 1px solid #E6E6E6;
            border-right: 1px solid #E6E6E6;
          }
          &>div:nth-child(3n) {
            // border-right: none;
          }
        }
        .add-item {
          text-align: center;
          color: $color-minor;
          font-size: 12px;
          font-weight: 600;
          width: 200px;
          >span {
            cursor: pointer;
          }
        }
        .form-label {
          min-width: 110px;
          height: 48px;
          line-height: 48px;
          background: #EFF2F7;
          color: #AAA;
          font-size: 12px;
          .required {
            margin-right: 3px;
            color: #F13E43;
            font-size: 14px;
            font-weight: bold;
            vertical-align: middle;
          }
        }
      }
    }
  }
</style>
