<template>
  <div class="buy-combo-container">
    <div class="flex-fsb">
      <div class="flex-fs b-left">
        <div style="min-width:274px;">
          <img v-if="isPackage && isPackage.thumbnailUrl_Big" :src="isPackage.thumbnailUrl_Big" alt="" />
          <img v-else src="@/assets/img/buy_img.png" alt="" />
        </div>
        <div class="b-content">
          <p class="b-label">{{ isPackage.packageName }}</p>
          <div class="flex-c b-price">
            <span class="c-9 text-12">价格:</span>
            <span class="r-color text-22">¥{{ isPackage.cashSalePrice / 100 * total || 0}}</span>
            <!-- <span class="minor-color">平台会员购买更优惠</span>
            <img src="@/assets/img/icons/like_icon.png" alt="" /> -->
          </div>
          <div class="flex-c p-num">
            <span class="c-9 text-12">套餐:</span>
            <ul
              class="flex-cc flex-ul"
              v-if="packageData && packageData.length > 0"
            >
              <li
                :class="{ active: isPackage.packageName === item.packageName }"
                v-for="(item, index) in packageData"
                :key="index"
                @click="selectPackage(item)"
              >
                {{ item.packageName }}
              </li>
            </ul>
          </div>
          <div class="flex-c p-count">
            <span class="c-9 text-12">数量:</span>
            <el-input-number
              v-model="total"
              @change="changeTotal"
              :min="1"
            ></el-input-number>
          </div>
          <el-button @click="purchasePackage" class="minor-btn"
            >购买套餐</el-button
          >
        </div>
      </div>
      <div class="flex-c b-right">
        <span class="r-label">账号充值：</span>
        <div class="flex-fd-c r-input">
          <el-select
            value-key="id"
            v-model="curLimt"
            @change="curChange"
            placeholder="请选择"
          >
            <el-option
              v-for="(item, index) in limtList"
              :key="index"
              :label="item.account"
              :value="item"
            >
            </el-option>
          </el-select>
          <span class="r-balance"
            >账号剩余条数<span>{{ curCount }}</span
            >条</span
          >
        </div>
        <el-button class="bind-btn">
          <img src="@/assets/img/icons/open_account.png" alt="" />
          <span @click="showBindDialog = true">绑定造价通账号</span>
        </el-button>
      </div>
    </div>
    <p class="tips">
      套餐详情：1.询价速度快、询价价格准确、 服务态度很棒、询价进度可视化；2.
      询价服务从购买之日起有效期为1年，不支持查价
    </p>

    <bind-account
      :showBindDialog="showBindDialog"
      @hideDialog="showBindDialog = false"
      @search="getBindAccountList"
    ></bind-account>
  </div>
</template>

<script>
import { packageList, getBindAccountList } from "@/api/inquirySetting";
import BindAccount from "./components/BindAccount.vue";
export default {
  components: {
    BindAccount,
  },
  name: "buyCombo",
  data() {
    return {
      isPackage: {}, // 当前选中套餐信息
      total: 0, // 数量
      limtList: [], // 账号列表
      curLimt: null,
      curCount: 0, // 账号剩余条数
      ptypeName: "",
      packageData: [], // 套餐列表
      showBindDialog: false, // 绑定账号弹窗
    };
  },
  mounted() {
    this.packageList();
    this.getBindAccountList();
  },
  methods: {
    // 数量
    changeTotal(val) {
      console.log(val);
    },
    // 选择套餐
    selectPackage(item) {
      this.isPackage = item;
    },
    // 获取套餐列表
    packageList() {
      packageList({}).then((res) => {
        console.log("套餐列表", res);
        if (res.code == "01") {
          this.ptypeName = res.body.ptypeName;
          this.packageData = res.body.packages;
          if (this.packageData.length > 0) {
            this.isPackage = this.packageData[0];
          }
        }
      });
    },
    // 获取绑定账号列表
    getBindAccountList() {
      getBindAccountList().then((res) => {
        console.log(res);
        if (res && res.code == "01") {
          this.limtList = res.body;

          if (this.limtList.length > 0) {
            this.limtList.forEach(item=>{ // 默认询价账号
              if(item.isDefault == 1) {
                this.curLimt = item
                this.curCount = item.residueInquiryCount
              }
            })
            if(!this.curLimt) {
              this.curLimt = this.limtList[0];
              this.curCount = this.curLimt.residueInquiryCount;
            }
          }
        }
      });
    },
    // 选中要充值的账号
    curChange(val) {
      this.curCount = val.residueInquiryCount;
    },
    // 显示微信弹窗
    showWechatScan() {},
    // 购买套餐
    purchasePackage() {
      if (JSON.stringify(this.isPackage) == "{}") {
        this.$message.warning("请先选中套餐！")
        return;
      }
      if (JSON.stringify(this.curLimt) == "{}") {
        this.$message.warning("请先选中充值账号！")
        return;
      }
      this.$router.push({
        path: "/setting/orderDetail/buyCombo/index",
        query: { packageId: this.isPackage.packageId, count: this.total, amount: this.curLimt.account },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.buy-combo-container {
  padding: 30px 20px 30px 32px;
  margin-top: 9px;
  width: 100%;
  min-height: 700px;
  background: #fff;
  .b-left {
    img {
      margin-right: 14px;
      width: 260px;
      height: 228px;
    }
    .b-content {
      .b-label {
        color: #333;
        font-size: 18px;
        .num {
          color: $color-minor;
        }
      }
      .b-price {
        margin: 11px 0;
        padding: 0 12px;
        width: 482px;
        height: 54px;
        background: #f3f3f3;
        span {
          margin-right: 10px;
          &.price {
            text-decoration: line-through;
          }
        }
        img {
          width: 10px;
          height: 10px;
        }
      }
      .p-num {
        > span {
          margin-right: 13px;
          width: 62px;
        }
        ul {
          flex-wrap: wrap;
          justify-content: start;
          li {
            margin-right: 13px;
            margin-bottom: 10px;
            padding: 0 10px;
            // width: 56px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            background: #f2f8fe;
            border: 1px solid #ededed;
            border-radius: 4px;
            color: #333;
            font-size: 12px;
            cursor: pointer;
            &.active {
              background: $color-primary;
              color: #fff;
              font-size: 12px;
            }
          }
        }
      }
      .p-count {
        margin: 16px 0 23px 0;
        > span {
          margin-right: 28px;
        }
      }
    }
  }
  .b-right {
    margin-top: -20px;
    min-width: 430px;
    .r-label {
      color: #333;
      font-size: 14px;
    }
    .r-input {
      margin: 0 10px;
      margin-top: 10px;
      .el-select {
        margin: 20px 0 7px 0;
      }
      .r-balance {
        margin-top: 7px;
        font-size: 14px;
        color: $color-minor;
        span {
          color: $color-danger;
        }
      }
    }
    .bind-btn {
      font-size: 14px;
      color: $color-primary;
      background: #e7f3fe;
      img {
        margin-right: 4px;
      }
    }
  }
  .tips {
    margin-top: 15px;
    color: #999;
    font-size: 12px;
  }

  .el-tabs__nav {
    width: 100%;
    .el-tabs__item {
      width: 50%;
      text-align: center;
    }
  }
}
</style>

<style lang="scss">
@import "@/styles/variables.scss";
.buy-combo-container {
  .p-count {
    .el-input-number {
      width: 90px;
      height: 24px;
      border: none;
    }
    .el-input {
      margin-top: 1px;
      margin-left: 20px;
      width: 48px;
      height: 24px;
      line-height: 24px;
    }
    .el-input__inner {
      padding: 0;
      text-align: center;
      width: 48px;
      height: 24px;
      line-height: 24px;
      background: #f2f8fe;
      color: #999;
    }
    .el-input-number__decrease,
    .el-input-number__increase {
      width: 24px;
      height: 24px;
      line-height: 24px;
      background: #fff;
      border: 1px solid #dadada;
      border-radius: 4px;
      font-size: 14px;
    }
  }
  .minor-btn {
    background: $color-minor;
    border: 1px solid $color-minor;
    color: #fff;
    width: 100px;
    height: 34px;
    line-height: 34px;
    padding: 0;
  }
  .bind-btn {
    padding: 0;
    width: 133px;
    height: 30px;
    line-height: 30px;
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .b-right {
    .el-select .el-input__inner {
      height: 34px;
      line-height: 34px;
    }
    .el-input__icon {
      line-height: 34px;
    }
  }

  .el-tabs__nav {
    width: 100%;
    .el-tabs__item {
      width: 50%;
      text-align: center;
    }
  }
}
</style>

