<template>
  <div class="permission-container">
    <div class="flex-c menu-wrap">
      <div class="cp m-item" :class="{active: curMenu === 'account'}" @click="changeMenu('account')">
        <span>账号管理</span>
        <div class="t-line"></div>
      </div>
      <div class="cp m-item" :class="{active: curMenu === 'permission'}" @click="changeMenu('permission')">
        <span>权限管理</span>
        <div class="t-line"></div>
      </div>
    </div>

    <div class="p-content" v-if="curMenu === 'account'">
      <Account />
    </div>
    <div class="p-content" v-if="curMenu === 'permission'">
      <Power />
    </div>
  </div>
</template>

<script>
import Account from './components/Account';
import Power from './components/Power';
export default {
  name: 'permission',
  data() {
    return {
      curMenu: 'account'
    }
  },
  methods: {
    // 菜单切换
    changeMenu(type) {
      this.curMenu = type;
    }
  },
  mounted() {
    if(this.$route.query.permission) this.curMenu = 'permission'
  },
  components: {
    Account,
    Power
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.permission-container {
  margin-top: 17px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .menu-wrap {
    width: 100%;
    .m-item {
      position: relative;
      margin-right: 5px;
      width: 332px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #8D8C8C;
      background: #F1F1F1;
      &.active {
        background: #fff;
        color: #333;
        .t-line {
          background: $color-primary;
        }
      }
      .t-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 332px;
        height: 4px;
        border-radius: 4px 4px 0px 0px;
        background: #E0E0E0;
      }
    }
  }
  .p-content {
    padding: 35px 25px;
    width: 100%;
    background: #fff;
  }
}
</style>
