<template>
  <div class="brand-detail">
    <!-- 顶部筛选 -->
    <div class="screen">
      <p class="title-p mb-20">
        <img class="icons mr-10" src="@/assets/img/icons/type.png" alt="" />
        <span class="s-title mr-20">{{ brandName || "--" }}</span>
        <span class="gray">档次：{{ brandGrade || "--" }}</span>
      </p>

      <div>
        <div class="brand-div">
          <span v-for="(it, idx) in supplierNames" :key="idx">
            <img
              class="cp"
              src="@/assets/img/v2.0/icons/Paperclip 拷贝 3.png"
              alt=""
            />
            {{ it }}</span
          >
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="s-text com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList.length > 0">
            <li
              :class="{ active: curTime == year }"
              v-for="(year, index) in curTimeList"
              :key="index"
              @click="changeCurTime(year)"
            >
              {{ year }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList.length > 0">
            <li
              :class="{ active: curTimeItem === '' }"
              @click="changeCurTimeItem('')"
            >
              全部
            </li>
            <li
              :class="{ active: curTimeItem == month }"
              v-for="(month, index) in curTimeItemList"
              :key="index"
              @click="changeCurTimeItem(month)"
            >
              {{ month }}月
            </li>
          </ul>
        </div>
      </div>
      <!-- 适用地区 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curproList && curproList.length > 0">
            <li
              :class="{ active: curPro === null }"
              @click="changeCurPro(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || morePro"
              :class="{ active: curPro == pro }"
              v-for="(pro, index) in curproList"
              :key="index"
              @click="changeCurPro(pro)"
            >
              {{ pro }}
            </li>
            <span
              class="more"
              v-if="curproList && curproList.length > 8"
              @click="morePro = !morePro"
            >
              {{ morePro ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': morePro }"
              ></span>
            </span>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="curCityList && curCityList.length > 0 && curPro != null"
          >
            <li
              :class="{ active: curCity === null }"
              @click="changeCurCity(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreCity"
              :class="{ active: curCity == item.name }"
              v-for="(item, index) in curCityList"
              :key="item.name"
              @click="changeCurCity(item.name)"
            >
              {{ item.name }}
            </li>
            <span
              class="more"
              v-if="curCityList && curCityList.length > 8"
              @click="moreCity = !moreCity"
            >
              {{ moreCity ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreCity }"
              ></span>
            </span>
          </ul>
        </div>
      </div>
      <!-- 数据类型 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">数据类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: standStatus === null }"
              @click="standFilter(null)"
            >
              全部
            </li>
            <li :class="{ active: standStatus === 1 }" @click="standFilter(1)">
              标准化数据
            </li>
            <li :class="{ active: standStatus === 2 }" @click="standFilter(2)">
              非标准化数据
            </li>
          </ul>
        </div>
      </div>
      <!-- 自定义分类 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">自定义分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curMytype == '' }"
              @click="changeCurMyType('', '')"
            >
              全部
            </li>
            <li
              :class="{ active: curMytype == item.id }"
              v-for="(item, index) in customType"
              :key="index"
              @click="changeCurMyType(index, item.id)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="customTypeItem && customTypeItem.length > 0"
          >
            <li
              :class="{ active: curMytypeItem == '' }"
              @click="changeCurMyTypeItem('', '')"
            >
              <span class="com-alt">占位符</span>全部
            </li>
            <li
              :class="{ active: curMytypeItem == item.name }"
              v-for="(item, index) in customTypeItem"
              :key="index"
              @click="changeCurMyTypeItem(item.name, item.id)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul>
            <li class="no-item">
              <span @click="$router.push('/setting/materialSetting')"
                >设置分类</span
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- 国标分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">国标分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" :class="{ 'is-fold': isMore }">
            <li
              :class="{ active: curNormType == '' }"
              @click="changeNormType('', '')"
            >
              全部
            </li>
            <li
              :class="{ active: curNormType == item.code }"
              v-for="(item, index) in normType"
              :key="index"
              @click="changeNormType(index, item.code)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="normTypeItem && normTypeItem.length > 0"
          >
            <li
              :class="{ active: curNormTypeItem == '' }"
              @click="changeNormTypeItem('', '')"
            >
              <span class="com-alt">占位符</span>全部
            </li>
            <li
              :class="{ active: curNormTypeItem == item.name }"
              v-for="(item, index) in normTypeItem"
              :key="index"
              @click="changeNormTypeItem(item.name, item.code)"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
        <span
          class="cp el-icon-arrow-up"
          :class="{ 'is-rotate': isMore }"
          @click="isMore = !isMore"
          v-if="normType && normType.length > 0"
        ></span>
      </div>
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input
            class="search-ipt"
            placeholder="请输入材料名称、规格、标准名称、标准规格、编码等关键字搜索"
            v-model="searchVal"
            @keyup.enter.native="searchFun"
          />
          <i class="el-icon-search" @click="searchFun"></i>
        </div>
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button class="flex-cc btn btn3" @click="exportFile">
            <img
              src="@/assets/img/table/exports.png"
              alt=""
              class="el-icon-search"
            />导出
          </el-button>
          <el-button class="flex-cc btn btn-del" @click="allDeleteMaterial">
            <img
              src="@/assets/img/table/del.png"
              alt=""
              class="el-icon-search"
            />删除
          </el-button>
        </div>
        <div class="flex-c right-btns">
          <div @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting icons"></span>
            <span>列表设置</span>
          </div>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" min-width="66px"> </el-table-column>
          <el-table-column
            label="材料名称"
            min-width="120px"
            v-if="checkedList.indexOf('材料名称') != -1"
          >
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            min-width="100px"
            label="规格型号"
            v-if="checkedList.indexOf('规格型号') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            min-width="100px"
            label="标准名称"
            v-if="checkedList.indexOf('标准名称') != -1"
          >
          </el-table-column>
          <el-table-column
            label="标准规格型号"
            min-width="140px"
            v-if="checkedList.indexOf('标准规格型号') != -1"
          >
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            label="单位"
            min-width="120px"
            v-if="checkedList.indexOf('单位') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="数据类型"
            min-width="90px"
            v-if="checkedList.indexOf('数据类型') != -1"
          >
          </el-table-column>
          <el-table-column
            label="国际分类"
            prop="name"
            min-width="110px"
            v-if="checkedList.indexOf('国际分类') != -1"
          >
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.subcName || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            label="自定义分类"
            min-width="100px"
            v-if="checkedList.indexOf('自定义分类') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="是否含税"
            min-width="80px"
            v-if="checkedList.indexOf('是否含税') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="价格(元)"
            min-width="90px"
            v-if="checkedList.indexOf('价格(元)') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="适用地区"
            min-width="100px"
            v-if="checkedList.indexOf('适用地区') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="适用时间"
            min-width="100px"
            v-if="checkedList.indexOf('适用时间') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="供应商"
            min-width="90px"
            v-if="checkedList.indexOf('供应商') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="供应商地区"
            min-width="100px"
            v-if="checkedList.indexOf('供应商地区') != -1"
          >
          </el-table-column>
          <el-table-column
            prop="name"
            label="备注"
            min-width="100px"
            v-if="checkedList.indexOf('备注') != -1"
          >
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog
      title="选择要显示的列表内容"
      :visible.sync="showSetListDialog"
      width="450px"
      class="com-dialog set-list"
      :close-on-click-modal="false"
    >
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox
            class="flex-c"
            :label="item"
            v-for="(item, index) in checkList"
            :key="index"
          ></el-checkbox>
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showSetListDialog = false"
          >确定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getMatApplicableTime } from "@/api/material";
import {
  getSupplierCondition,
  getMatPricePage,
  exportSupplierOrBrandMat,
  deleteMatSupplier,
} from "@/api/supplier";
export default {
  name: "brandDetail",
  data() {
    return {
      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: "", // 选择适用时间(年)
      curTimeItem: "", // 选择适用时间(月)
      timeData: [], // 组装的年月数据
      applicableDate: "", // 适用时间

      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市

      standStatus: null, // 数据类型筛选 1标准 2非标准

      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 1,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableData: [], // 表格数据
      tableLoading: false, // 表格loading

      customType: [], // 自定义分类列表
      customTypeItem: [], // 自定义分类列表（子项）
      curMytype: "", // 选中的自定义分类
      curMytypeItem: "", // 选中的自定义分类(子项)
      custypeId: "", // 自定义分类id（调接口用）

      curNormType: "", // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      normTypeItem2: [], // 国标分类列表（子项,调整分类用）
      curNormTypeItem: "", // 选中的国标分类（子项）
      normCode: "", // 国标分类id（调接口用）
      isMore: true, // 展开更多国际分类
      searchVal: "", // 搜索关键字

      showSetListDialog: false,

      checkedList: [
        "材料名称",
        "规格型号",
        "单位",
        "数据类型",
        "国际分类",
        "是否含税",
        "价格(元)",
        "适用地区",
        "适用时间",
        "供应商",
        "供应商地区",
        "备注",
      ], // 列表选中的设置项（默认显示项）
      checkList: [
        "材料名称",
        "规格型号",
        "标准名称",
        "标准规格型号",
        "单位",
        "数据类型",
        "国际分类",
        "自定义分类",
        "是否含税",
        "价格(元)",
        "适用地区",
        "适用时间",
        "供应商",
        "供应商地区",
        "备注",
      ], // 表头列表（所有项)
    };
  },
  computed: {
    brandId() {
      // 品牌id
      return this.$route.query.brandId;
    },
    brandName() {
      // 品牌名称
      return this.$route.query.brandName;
    },
    brandGrade() {
      // 品牌档次
      return this.$route.query.grade;
    },
    supplierNames() {
      // 品牌关联供应商
      let names = this.$route.query.supplierNames;
      if (names) {
        let list = names.split(",");
        return list;
      }
    },
  },
  mounted() {
    this.getSupplierCondition(); // 获取国标分类和自定义分类和城市

    this.getMatApplicableTime(true, true); // 适用时间
  },
  methods: {
    // 添加品牌
    addBrand() {},
    // 批量删除材价
    allDeleteMaterial() {
      if (this.multipleSelection.length > 0) {
        this.showDeleteDialog = true;
      } else {
        this.openAlert();
      }
    },
    // 确定删除
    confirmDelete() {
      let data = {
        matIds: this.isId,
      };
      let arr = this.multipleSelection.map((it) => {
        return it.id;
      });
      data.matIds = arr.join(",");

      deleteMatSupplier(data).then((res) => {
        if (res && res.code == "01") {
          this.getMatPricePage();
          this.$message({
            type: "success",
            message: "删除该材价成功！",
          });
        }
      });
    },
    // 导出材价列表
    exportFile() {
      if (this.totalCount == 0) {
        this.openAlert("暂无要导出的数据", "info");
        return;
      }

      let text = "全部";

      var applicableDate = this.curTimeItem
        ? this.curTime +
          "-" +
          this.curTimeItem.toString().padStart(2, "0") +
          "-01"
        : this.curTime + "-01-01";

      var isFormat =
        this.standStatus === null ? null : this.standStatus == 1 ? true : false;

      let data = {
        isYear: this.curTimeItem ? false : true, // 是否单纯年
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchVal,
        applicableDate: applicableDate, // 适用时间
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        subcid: this.normCode ? this.normCode : null, // 国标分类id
        brandId: this.brandId, // 品牌
        applicableProvince: this.curPro, // 省
        applicableCity: this.curCity, // 市
      };

      if (this.multipleSelection.length > 0) {
        let arr = this.multipleSelection.map((it) => {
          return it.id;
        });

        data.currentPage = this.currentPage;
        data.pageSize = this.pageSize;
        data.ids = arr;
        text = "当前选中";
      }

      this.$confirm(`确定导出${text}数据吗?`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then((res) => {
          exportSupplierOrBrandMat(data).then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "材价.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "材价.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
          });
        })
        .catch((err) => {});
    },

    // 查询所绑定材价信息
    getMatPricePage() {
      console.log("查询");
      if (!this.curTime) {
        this.tableLoading = false;
        return;
      }

      console.log("xxxx");
      this.tableLoading = true;

      var applicableDate = this.curTimeItem
        ? this.curTime +
          "-" +
          this.curTimeItem.toString().padStart(2, "0") +
          "-01"
        : this.curTime + "-01-01";

      var isFormat =
        this.standStatus === null ? null : this.standStatus == 1 ? true : false;

      let data = {
        isYear: this.curTimeItem ? false : true, // 是否单纯年
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchVal,
        applicableDate: applicableDate, // 适用时间
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        subcid: this.normCode ? this.normCode : null, // 国标分类id
        brandId: this.brandId, // 品牌
        applicableProvince: this.curPro, // 省
        applicableCity: this.curCity, // 市
      };
      getMatPricePage(data)
        .then((res) => {
          if (res && res.code == "01") {
            console.log("材价列表", res);
            this.tableData = res.body.list;
            this.totalCount = res.body.totalCount;
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
          this.tableLoading = false;
        })
        .catch((err) => {
          this.tableLoading = false;
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },

    // 搜索
    searchFun() {
      this.currentPage = 1;
      this.getMatPricePage();
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getMatPricePage();
    },

    // 适用时间 -- 占位占位占位
    // 获取材价适用时间
    getMatApplicableTime(nopass, callback) {
      getMatApplicableTime().then((res) => {
        if (!res || !res.body.endTime) return;
        let startTime = new Date(res.body.startTime);
        let endTime = new Date(res.body.endTime);
        var y = startTime.getFullYear();
        var m = startTime.getMonth() + 1;
        var y2 = endTime.getFullYear();
        var m2 = endTime.getMonth() + 1;
        let time = {}; // {年：[月]}
        let years = [];
        for (let i = y2; i >= y; i--) {
          let timearr = [];
          years.push(i);
          if (i == y) {
            let month = 12;
            if (y == y2) month = m2;
            for (let j = month; j >= m; j--) {
              timearr.push(j);
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j);
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j);
            }
          }
          time[i] = timearr;
        }
        this.timeData = time; // 组装的年月数据
        this.curTimeList = years; // 所有年
        if (nopass) {
          this.curTime = y2; // 默认选最新一年
          // this.curTimeItem = time[y2][0] // 默认选最新一月
          this.curTimeItem = "";
          this.curTimeItemList = time[y2]; // 默认显示第一年的月份
        } else {
          this.curTimeItemList = time[this.curTime]; // 保留所选月份只更新月份数组
        }

        if (callback) this.getMatPricePage(); // 材价列表数据
      });
    },

    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year; //  选中的年
      this.curTimeItemList = this.timeData[year]; // 月数组
      // this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.curTimeItem = "";
      this.searchFun();
    },
    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month;
      this.searchFun();
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro;
      this.curCityList = this.areaData[pro];
      this.curCity = null;
      this.searchFun();
    },
    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city;
      this.searchFun();
    },

    // 筛选数据类型
    standFilter(type) {
      this.standStatus = type;
      this.searchFun();
    },

    // 获取国标分类和自定义分类和城市
    getSupplierCondition() {
      getSupplierCondition().then((res) => {
        console.log("全部", res);
        if (res && res.code == "01") {
          this.customType = res.body.customClassifyList;
          this.normType = res.body.subClassifyList;

          this.commonAreaList = res.body.areaList;
          let areaData = []; //  [{省：[{市：[区]}]}]
          let proList = [];
          this.commonAreaList.forEach((item) => {
            proList.push(item.name);
            let cityarr = [];
            if (item.sub)
              item.sub.forEach((city) => {
                let areaarr = [];
                if (city.sub)
                  city.sub.forEach((area) => {
                    areaarr.push(area.name);
                  });
                let obj = {};
                obj.name = city.name;
                obj.sub = areaarr;
                cityarr.push(obj);
              });
            areaData[item.name] = cityarr;
          });
          this.curproList = proList;
          this.areaData = areaData;
        }
      });
    },

    // 筛选自定义分类(父项)
    changeCurMyType(index, id) {
      this.customTypeItem = [];
      this.curMytype = id;
      this.curMytypeItem = "";
      this.custypeId = id;
      if (index !== "") {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub;
        }
      }
      this.searchFun();
    },
    // 筛选自定义分类(子项)
    changeCurMyTypeItem(name, id) {
      this.curMytypeItem = name;
      if (id !== "") {
        this.custypeId = id;
      } else {
        this.custypeId = this.curMytype;
      }
      this.searchFun();
    },

    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code;
      this.curNormTypeItem = "";
      this.normCode = code;
      if (index !== "") {
        this.normTypeItem = this.normType[index].sub;
      } else {
        this.normTypeItem = [];
      }
      this.currentPage = 1;
      this.getBrandPageList("pass");
    },
    // 切换国标分类（子项）
    changeNormTypeItem(name, code) {
      this.curNormTypeItem = name;
      if (code !== "") {
        this.normCode = code;
      } else {
        this.normCode = this.curNormType;
      }
      this.searchFun();
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.brand-detail {
  border-top: 1px solid #f3f3f4;
  .screen {
    padding: 27px 0 15px 28px;
    background: #ffffff;

    .top {
      padding-bottom: 10px;
      .com-search2 {
        width: 484px;
      }
    }
    .title-p {
      display: flex;
      align-items: flex-end;
    }
    .s-title {
      margin: 0;
      line-height: 1;
    }

    .brand-div {
      span {
        background: #1685ec1a;
        border-radius: 2px;
        color: #188efb;
        padding: 4px 10px;
        display: inline-block;
        margin-right: 10px;
      }
    }

    .norm-type {
      margin-top: 10px;
      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }
      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 6px;
        .el-icon-arrow-right {
          font-size: 12px;
        }
      }
      .is-fold {
        max-height: 48px;
        overflow-y: hidden;
      }
    }
  }

  .sup-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;

    .right-btns {
      color: #333333;
      font-size: 16px;
      > div {
        cursor: pointer;
        margin-left: 31px;
        font-family: "mainfont";
        white-space: nowrap;
        .icons {
          margin-right: 4px;
        }
        .imgs {
          width: 14px;
          height: 14px;
          margin-right: 6px;
          margin-left: 16px;
        }
      }
    }
  }
}
</style>