<template>
  <div class="supplier-detail">
    <div class="top-content">
      <div class="bg">
        <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>供应商管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/supplier/index' }">供应商库</el-breadcrumb-item>
            <el-breadcrumb-item><span class="active">供应商详情</span></el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <img src="@/assets/img/icons/project_stock/bg.png" alt="">
      </div>
      <div v-if="supplierInfo" class="info flex-c">
        <img class="seize" src="@/assets/img/v2.0/hetong2.png" alt="">
        <div class="text-box">
          <p class="top-title">{{ supplierInfo.supplierName }}</p>
          <ul v-if="topContack" class="flex-c top-ul">
            <li>
              <span>联系人：{{ topContack.name }}</span>
            </li>
            <li>
              <span>手机号：{{ topContack.phone }}</span>
            </li>
            <li>
              <span>微信号：{{ topContack.wechat || "--" }}</span>
            </li>
            <li>
              <span>QQ号：{{ topContack.qq || "--" }}</span>
            </li>
            <li>
              <span>邮箱：{{ topContack.email || "--" }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- 展开更多 -->
      <div class="show-more" @click="isFold = !isFold">
        <span class="mr-5">{{ isFold ? "收起" : "更多详细信息" }}</span>
        <span class="cp el-icon-arrow-down" :class="{ 'is-rotate': isFold }" />

        <div v-if="isFold" class="hidden-div">
          <div class="hidden-content">
            <ul v-if="supplierInfo" class="hidden-ul">
              <li class="li-row">
                <span>所在地区：{{ supplierInfo.province }}·{{
                  supplierInfo.city
                }}</span>
                <span>分类：{{ supplierInfo.category }}</span>
                <span>法人代表：{{ supplierInfo.legalPerson }}</span>
                <span>注册资金：{{ supplierInfo.registerCapital }}万元</span>
              </li>
              <li>
                <span class="title">主营类目：</span>
                <p>{{ supplierInfo.mainBusiness }}</p>
              </li>
              <li>
                <span class="title">经营范围：</span>
                <p>
                  {{ supplierInfo.businessScope }}
                </p>
              </li>
              <li class="mb-0">
                <span class="title">品牌：</span>
                <p v-if="supplierInfo.brandNames">
                  <span v-for="(it, idx) in topBrands" :key="idx" class="brand-span" :style="reColorStyle(idx)">
                    {{ it }}</span>
                </p>
              </li>
            </ul>

            <div v-if="supplierInfo && supplierInfo.contactList.length" class="persons mt-20 flex-csb">
              <div v-for="it in supplierInfo.contactList" :key="it.id" class="person-card flex-c">
                <span class="card-left">{{ it.name }}</span>
                <ul class="card-right">
                  <li>手机号：{{ it.phone }}</li>
                  <li v-if="it.wechat">微信号：{{ it.wechat }}</li>
                  <li v-if="it.qq">QQ号：{{ it.qq }}</li>
                  <li v-if="it.email">邮箱：{{ it.email }}</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 收起 -->
          <div class="show-more hidden-more">
            <span class="mr-5">{{ isFold ? "收起" : "更多详细信息" }}</span>
            <span class="cp el-icon-arrow-down" :class="{ 'is-rotate': isFold }" />
          </div>
        </div>
      </div>
    </div>

    <!-- 顶部筛选 -->
    <div class="screen mt-10">
      <span class="com-tag-span gray">供应商产品</span>
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input v-model="searchVal" class="search-ipt" placeholder="请输入材料名称、规格、标准名称、规格型号、编码等关键字搜索" @keyup.enter.native="searchFun" />
          <i class="el-icon-search" @click="searchFun" />
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul v-if="curTimeList.length > 0" class="flex-cw">
            <li v-for="(year, index) in curTimeList" :key="index" :class="{ active: curTime == year }" @click="changeCurTime(year)">
              {{ year }}
            </li>
          </ul>
          <ul v-if="curTimeItemList.length > 0" class="flex-cw all-list">
            <li :class="{ active: curTimeItem === '' }" @click="changeCurTimeItem('')">
              全部
            </li>
            <li v-for="(month, index) in curTimeItemList" :key="index" :class="{ active: curTimeItem == month }" @click="changeCurTimeItem(month)">
              {{ month }}月
            </li>
          </ul>
        </div>
      </div>
      <!-- 适用地区 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul v-if="curproList && curproList.length > 0" class="flex-cw">
            <li :class="{ active: curPro === null }" @click="changeCurPro(null)">
              全部
            </li>
            <li v-for="(pro, index) in curproList" v-show="index <= 7 || morePro" :key="index" :class="{ active: curPro == pro }" @click="changeCurPro(pro)">
              {{ pro }}
            </li>
            <span v-if="curproList && curproList.length > 8" class="more" @click="morePro = !morePro">
              {{ morePro ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': morePro }" />
            </span>
          </ul>
          <ul v-if="curCityList && curCityList.length > 0 && curPro != null" class="flex-cw all-list">
            <li :class="{ active: curCity === null }" @click="changeCurCity(null)">
              全部
            </li>
            <li v-for="(item, index) in curCityList" v-show="index <= 7 || moreCity" :key="item.name" :class="{ active: curCity == item.name }" @click="changeCurCity(item.name)">
              {{ item.name }}
            </li>
            <span v-if="curCityList && curCityList.length > 8" class="more" @click="moreCity = !moreCity">
              {{ moreCity ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': moreCity }" />
            </span>
          </ul>
        </div>
      </div>
      <!-- 数据类型 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">数据类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: standStatus === null }" @click="standFilter(null)">
              全部
            </li>
            <li :class="{ active: standStatus === 1 }" @click="standFilter(1)">
              标准化数据
            </li>
            <li :class="{ active: standStatus === 2 }" @click="standFilter(2)">
              非标准化数据
            </li>
          </ul>
        </div>
      </div>
      <template v-if="moreScreen">
        <!-- 品牌 -->
        <div class="flex-fs norm-type mt-10">
          <span class="com-label-text">品牌</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{ active: curBrand === null }" @click="changeCurBrand(null)">
                全部
              </li>
              <li v-for="it in brands" :key="it.id" :class="{ active: curBrand === it.id }" @click="changeCurBrand(it.id)">
                {{ it.name }}
              </li>
            </ul>
          </div>
        </div>
        <!-- 档次 -->
        <div class="flex-fs norm-type mt-10">
          <span class="com-label-text">档次</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{ active: curGrade === null }" @click="changeCurGrade(null)">
                全部
              </li>
              <li v-for="it in grades" :key="it.id" :class="{ active: curGrade === it.id }" @click="changeCurGrade(it.id)">
                {{ it.name }}
              </li>
            </ul>
          </div>
        </div>
        <!-- 自定义分类 -->
        <div class="flex-fs norm-type mt-10">
          <span class="com-label-text">自定义分类</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{ active: curMytype == '' }" @click="changeCurMyType('', '')">
                全部
              </li>
              <li v-for="(item, index) in customType" :key="index" :class="{ active: curMytype == item.id }" @click="changeCurMyType(index, item.id)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{ active: curMytypeItem == '' }" @click="changeCurMyTypeItem('', '')">
                <span class="com-alt">占位符</span>全部
              </li>
              <li v-for="(item, index) in customTypeItem" :key="index" :class="{ active: curMytypeItem == item.name }" @click="changeCurMyTypeItem(item.name, item.id)">
                {{ item.name }}
              </li>
            </ul>
            <ul>
              <li class="no-item">
                <span @click="$router.push('/setting/materialSetting')">设置分类</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- 国标分类 -->
        <div class="flex-fs norm-type">
          <span class="com-label-text">国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{ 'is-fold': isMore }">
              <li :class="{ active: curNormType == '' }" @click="changeNormType('', '')">
                全部
              </li>
              <li v-for="(item, index) in normType" :key="index" :class="{ active: curNormType == item.code }" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem && normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{ active: curNormTypeItem == '' }" @click="changeNormTypeItem('', '')">
                <span class="com-alt">占位符</span>全部
              </li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{ active: curNormTypeItem == item.name }" @click="changeNormTypeItem(item.name, item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{ 'is-rotate': isMore }" @click="isMore = !isMore" />
        </div>
      </template>

      <!-- 展开更多 -->
      <div class="show-more" @click="moreScreen = !moreScreen">
        <span class="mr-5">{{ moreScreen ? "收起" : "展开" }}</span>
        <span class="cp el-icon-arrow-down" :class="{ 'is-rotate': moreScreen }" />
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-popover placement="bottom" trigger="click">
            <div class="special-operate-wrap">
              <el-button @click="addMaterial(1)">添加单条</el-button>
              <el-button @click="addMaterial(2)">批量添加</el-button>
            </div>
            <el-button slot="reference" type="primary" class="flex-cc btn">
              <img src="@/assets/img/table/add.png" alt="" class="el-icon-search">添加材价
            </el-button>
          </el-popover>

          <!-- <el-button type="primary" class="flex-cc btn" @click="addMaterial">
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />添加材价
          </el-button> -->
          <el-button class="flex-cc btn btn-del" @click="allDeleteMaterial">
            <img src="@/assets/img/table/del.png" alt="" class="el-icon-search">删除
          </el-button>
        </div>
        <div class="flex-c cp" @click="exportFile">
          <img src="@/assets/img/table/export.png" alt="" class="imgs mr-5">
          <span>导出</span>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" min-width="66px" />
          <el-table-column label="材料名称" min-width="140px">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="spec" min-width="100px" label="规格型号" />
          <el-table-column prop="stdName" min-width="90px" label="标准名称" />
          <el-table-column prop="features" min-width="120px" label="标准规格型号" />
          <el-table-column prop="unit" min-width="70px" label="单位" />
          <el-table-column prop="isForMat" min-width="100px" label="数据类型" />
          <el-table-column prop="subcName" min-width="110px" label="国标分类" />
          <el-table-column prop="custName" min-width="100px" label="自定义分类" />
          <el-table-column prop="taxIncluded" min-width="80px" label="是否含税" />
          <el-table-column prop="price" label="价格(元)" min-width="80px" />
          <el-table-column prop="grade" label="档次" min-width="80px" />
          <el-table-column prop="brandName" label="品牌" min-width="90px" />
          <el-table-column min-width="110px" label="适用地区">
            <template slot-scope="scope">
              {{ scope.row.applicableArea }}
            </template>
          </el-table-column>
          <el-table-column prop="applicableDate" label="适用时间" min-width="95px" />
          <el-table-column label="备注" prop="remark" min-width="100px" />
          <el-table-column label="操作" width="100px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip effect="light" content="编辑" placement="top">
                  <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="editMaterial(scope.row)">
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="deleteMaterial(scope.row.matId)">
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 编辑材价弹窗 -->
    <el-dialog title="编辑材价" :visible.sync="showEditDialog" width="460px" class="com-dialog remark-dialog editidalog addDialog my-dialog" :close-on-click-modal="false">
      <div class="com-dialog com-checkbox">
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价名称</span>
          <el-input v-model="materialName" placeholder="请输入材价名称" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价规格</span>
          <el-input v-model="materialSpecs" placeholder="请输入材价规格" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材价单位</span>
          <el-input v-model="materialUnit" placeholder="请输入材价单位" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">品牌</span>
          <el-input v-model="materialBrande" placeholder="请输入品牌" />
        </div>
        <!-- <div class="flex-c mb-20 grade-area">
          <span class="label-text ipt-text">档次</span>
          <el-select v-model="gradeModel" placeholder="请选择档次">
            <el-option v-for="item in gradeList" :key="item" :label="item" :value="item">
            </el-option>
          </el-select>
        </div> -->
        <!-- <div class="flex-c mb-20">
          <span class="label-text ipt-text">供应商</span>
          <el-input v-model="materialSupplier" placeholder="请输入供应商" />
        </div>
        <div class="flex-c mb-20 ipt-area">
          <span class="label-text ipt-text">供应商地区</span>
          <el-select v-model="provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
            <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
          <el-select style="margin: 0 10px" v-model="cityId" placeholder="--- 市 ---" @change="changeCity($event)">
            <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </div> -->
        <!-- <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>适用地区</span>
            <span class="show-text">{{applicableProvince ? applicableProvince + '·' + applicableCity : '--'}}</span>
          </div> -->
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">适用时间</span>
          <span class="show-text">{{ applicableDate }}</span>
        </div>
        <div class="flex-c mb-20 ipt-price">
          <span class="label-text ipt-text">是否含税</span>
          <span>
            <el-radio v-model="taxIncluded" :label="true">含税</el-radio>
            <el-radio v-model="taxIncluded" :label="false">除税</el-radio>
          </span>
        </div>
        <div class="flex-c mb-20 ipt-price">
          <span class="label-text ipt-text"><span>*</span>材料价格</span>
          <el-input v-model="materialPrice" placeholder="请输入材料价格" @input="checkPrice($event)">
            <template slot="append">￥</template>
          </el-input>
        </div>
        <div class="flex-c">
          <span class="ipt-text">备注</span>
          <el-input v-model="materialRemarks" type="textarea" resize="none" rows="10" maxlength="300" show-word-limit />
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEditDialog = false">取消</el-button>
        <el-button type="primary" :loading="submitLoading" @click="submitMaterial">确定</el-button>
      </span>
    </el-dialog>

    <!-- 批量添加材价弹窗 -->
    <el-dialog title="添加材价" :visible.sync="showAddMaterial" width="460px" class="com-dialog remark-dialog editidalog addDialog scrollMR" :destroy-on-close="true" :close-on-click-modal="false">
      <div class="com-dialog com-checkbox">
        <div class="flex-c mb-20 ipt-area max-area">
          <span class="label-text ipt-text"><span>*</span>适用地区</span>
          <el-select v-model="provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
            <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
          <el-select v-model="cityId" style="margin: 0 10px" placeholder="--- 市 ---" @change="changeCity($event)">
            <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
        </div>
        <div class="flex-c mb-20 times">
          <span class="label-text ipt-text"><span>*</span>适用时间</span>
          <div class="sel-time">
            <el-date-picker v-model="validStartDate" type="month" placeholder="请选择年月" />
          </div>
        </div>
        <div class="flex-csb mb-20">
          <div class="flex-c">
            <span class="label-text ipt-text"><span>*</span>材价类型</span>
            <span>市场价</span>
            <!-- <el-select v-model="curDialogType" placeholder="请选择">
            <el-option v-for="item in curtypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode">
            </el-option>
          </el-select> -->
          </div>
          <div class="flex-c ">
            <span class="label-text ipt-text"><span>*</span>材价来源</span>
            <span>供应商</span>
            <!-- <el-select v-model="curDialogSource" disabled placeholder="请选择">
            <el-option v-for="item in curshareList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode">
            </el-option>
          </el-select> -->
          </div>
        </div>

        <div class="flex-c mb-20 times">
          <span class="label-text ipt-text"><span>*</span>是否含税</span>
          <div class="sel-time">
            <el-radio v-model="curtax" :label="true">含税</el-radio>
            <el-radio v-model="curtax" :label="false">除税</el-radio>
          </div>
        </div>
        <div class="flex-c mb-20 ipt-price cj-upload">
          <span class="label-text ipt-text"><span>*</span>材价上传</span>
          <div class="flex-c" style="width: 310px">
            <div class="u-ipt ellipsis1">{{ cjFile.name }}</div>
            <div class="u-btn">
              <img src="@/assets/img/dialog/upload.png" alt="" class="img">
            </div>
            <input ref="fileElem" class="u-file" type="file" @change="uploadCjFile($event)">
          </div>
        </div>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text ipt-text">导入模板</span>
        <span class="u-mode-btn" style="color: #02a7f0; cursor: pointer" @click="uploadTemplate">材价导入模板.xlsx</span>
      </div>
      <!-- <div class="flex-c">
        <span class="label-text ipt-text">关联项目</span>
        <el-autocomplete v-model="projectName" :fetch-suggestions="getProject" value-key="name" placeholder="请输入对应项目的名称"
          class="search-name"></el-autocomplete>
      </div> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddMaterial = false">取消</el-button>
        <el-button type="primary" @click="newMaterial">确定</el-button>
      </span>
    </el-dialog>

    <!-- 单条添加材价弹窗 -->
    <el-dialog title="添加材价" :visible.sync="showAddOneMaterial" width="460px" class="com-dialog remark-dialog editidalog addDialog scrollMR" :destroy-on-close="true" :close-on-click-modal="false">
      <div class="com-dialog com-checkbox">
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>材料名称</span>
          <el-input v-model="materialName" placeholder="请输入材料名称" />
        </div>
        <div class="flex-c mb-20 spec-img">
          <span class="label-text ipt-text">材料规格</span>
          <el-input v-model="materialSpecs" placeholder="请输入材料规格" />
          <el-tooltip effect="light" placement="bottom-start" popper-class="tip-popper-class">
            <img src="@/assets/img/icons/symbol.png" alt="">
            <div slot="content">
              <div v-for="item in symbolList" :key="item" class="item flex-cc" @click="iptSymbol(item)">
                {{ item }}
              </div>
            </div>
          </el-tooltip>
        </div>
        <div class="flex-csb mb-20">
          <div class="flex-c">
            <span class="label-text ipt-text"><span>*</span>材价类型</span>
            <span>市场价</span>
            <!-- <el-select v-model="curDialogType" placeholder="请选择">
            <el-option v-for="item in curtypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode">
            </el-option>
          </el-select> -->
          </div>
          <div class="flex-c">
            <span class="label-text ipt-text"><span>*</span>材价来源</span>
            <span>供应商</span>
            <!-- <el-select v-model="curDialogSource" disabled placeholder="请选择">
            <el-option v-for="item in curshareList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode">
            </el-option>
          </el-select> -->
          </div>
        </div>

        <div class="flex-c mb-20 ipt-area">
          <span class="label-text ipt-text"><span>*</span>适用地区</span>
          <el-select v-model="provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
            <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
          <el-select v-model="cityId" style="margin: 0 10px" placeholder="--- 市 ---" @change="changeCity($event)">
            <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
        </div>
        <div class="flex-c mb-20 times">
          <span class="label-text ipt-text"><span>*</span>适用时间</span>
          <div class="sel-time">
            <el-date-picker v-model="validStartDate" type="month" placeholder="请选择年月" />
          </div>
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>单位</span>
          <el-autocomplete v-model="materialUnit" value-key="unit" :fetch-suggestions="iptUnit" placeholder="请输入单位" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>价格</span>
          <el-input v-model="materialPrice" placeholder="请输入价格" />
        </div>
        <div class="flex-c mb-20 times">
          <span class="label-text ipt-text"><span>*</span>是否含税</span>
          <div class="sel-time">
            <el-radio v-model="curtax" :label="true">含税</el-radio>
            <el-radio v-model="curtax" :label="false">除税</el-radio>
          </div>
        </div>
        <!-- <div class="flex-c mb-20">
          <span class="label-text ipt-text">供应商</span>
          <el-input v-model="materialSupplier" placeholder="请输入供应商" />
        </div>
        <div class="flex-c mb-20 ipt-area">
          <span class="label-text ipt-text">供应商地区</span>
          <el-select v-model="provinceId2" placeholder="--- 省 ---" @change="changeProvince2($event)">
            <el-option v-for="item in provinceList2" :key="item.name" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
          <el-select style="margin: 0 10px" v-model="cityId2" placeholder="--- 市 ---" @change="changeCity2($event)">
            <el-option v-for="item in cityList2" :key="item.name" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </div> -->
        <div class="flex-c mb-20">
          <span class="label-text ipt-text">品牌</span>
          <el-input v-model="materialBrande" placeholder="请输入品牌" />
        </div>
        <!-- <div class="flex-c mb-20 grade-area">
          <span class="label-text ipt-text">档次</span>
          <el-select v-model="gradeModel" placeholder="请选择档次">
            <el-option v-for="item in gradeList" :key="item" :label="item" :value="item">
            </el-option>
          </el-select>
        </div> -->
      </div>
      <!-- <div class="flex-c mb-20">
        <span class="label-text ipt-text">关联项目</span>
        <el-autocomplete v-model="projectName" :fetch-suggestions="getProject" value-key="name" placeholder="请输入对应项目的名称"
          class="search-name"></el-autocomplete>
      </div> -->
      <div class="flex-c">
        <span class="ipt-text">备注</span>
        <el-input v-model="materialRemarks" type="textarea" resize="none" rows="10" maxlength="300" show-word-limit />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddOneMaterial = false">取消</el-button>
        <el-button type="primary" @click="newOneMaterial">确定</el-button>
      </span>
    </el-dialog>

    <!-- 单条添加材价loading弹窗 -->
    <el-dialog title="添加材价" :visible.sync="materialDialog" width="460px" class="com-dialog my-dialog redialog" :close-on-click-modal="false">
      <div v-if="materialStatus == 1" class="loading-box">
        <img src="@/assets/img/dialog/loading1.png" alt="" class="img">
        <img src="@/assets/img/dialog/loading2.png" alt="" class="img2">
      </div>
      <img v-if="materialStatus == 2" src="@/assets/img/dialog/success.png" alt="">
      <img v-if="materialStatus == 3 || materialStatus == 4" src="@/assets/img/dialog/error.png" alt="">
      <p class="blue-tips" style="color: #333">{{ tipsText }}</p>
      <span v-if="materialStatus != 1" slot="footer" class="dialog-footer">
        <el-button v-if="materialStatus == 3 || materialStatus == 4" @click="
            materialDialog = false;
            showEditDialog = true;
          ">重新编辑</el-button>
        <el-button type="primary" @click="agreeAdd">确定</el-button>
      </span>
    </el-dialog>

    <!-- 标准化弹窗（添加材价） -->
    <ScanLoading v-if="startScan" :title="'添加材价'" :bzh-fail-list="bzhFailList" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading"
      :err-msg="errMsg" @confirmScan="confirmScan" @downloadErrorList="downloadErrorList" />

    <confirm-dialog :is-show.sync="showDeleteDialog" content-text="确定要删除该材价吗？" @confirmClick="confirmDelete" />
  </div>
</template>

<script>
import {
  getMatApplicableTime,
  getMatSubClassify,
  addFailMaterialPrice,
  addMaterialPrice,
  updateMatPrice
} from '@/api/material'
import {
  getSupplierInfo,
  getSupplierCondition,
  getMatPricePage,
  deleteMatSupplier,
  exportSupplierOrBrandMat,
  importMatPriceForSupplier,
  getMatImportTemplate
} from '@/api/supplier'
import { getAreaTree, getDictList } from '@/api/common'
import ScanLoading from '@/components/ScanLoading'
export default {
  name: 'SupplierDetail',
  components: { ScanLoading },
  data() {
    return {
      isFold: false, // 折叠更多信息
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 1,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableData: [], // 表格数据
      tableLoading: false, // 表格loading
      searchVal: '', // 搜索关键字

      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: '', // 选择适用时间(年)
      curTimeItem: '', // 选择适用时间(月)
      timeData: [], // 组装的年月数据

      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市

      standStatus: null, // 数据类型筛选 1标准 2非标准

      customType: [], // 自定义分类列表
      customTypeItem: [], // 自定义分类列表（子项）
      curMytype: '', // 选中的自定义分类
      curMytypeItem: '', // 选中的自定义分类(子项)
      custypeId: '', // 自定义分类id（调接口用）

      curNormType: '', // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      normTypeItem2: [], // 国标分类列表（子项,调整分类用）
      curNormTypeItem: '', // 选中的国标分类（子项）
      normCode: '', // 国标分类id（调接口用）
      isMore: true, // 展开更多国际分类

      brands: [
        // 品牌
        {
          id: 1,
          name: '欧时力'
        },
        {
          id: 2,
          name: '西门子'
        }
      ],
      curBrand: null, // 选中品牌
      grades: [
        // 档次
        {
          id: 1,
          name: '高档'
        },
        {
          id: 2,
          name: '中高档'
        },
        {
          id: 3,
          name: '中档'
        },
        {
          id: 4,
          name: '一般'
        }
      ],
      curGrade: null, // 选中档次
      colors: ['#037DFF', '#F9A147', '#19ca3b', '#F13A3F', '#909399'],

      moreScreen: false, // 展开更多筛选项

      supplierInfo: null, // 供应商详情信息

      showDeleteDialog: false, // 删除弹窗
      isId: null, // 当前行id
      delType: 1, // 1、单条 2、多条

      showAddMaterial: false, // 显示批量添加材价弹窗
      showAddOneMaterial: false, // 显示单条添加材价弹窗
      provinceList: [], // 省列表
      cityList: [], // 市列表
      provinceId: '', // 选省id
      cityId: '', // 选市id
      validStartDate: '', // 适用年月
      curtypeList: [], // 材价类型列表
      curDialogType: '', // 选中的材价类型
      curshareList: [], // 分享平台列表(材价来源)
      curDialogSource: '', // 选中的材价来源
      cjFile: {}, // 材价文件
      projectName: '', // 项目名称
      materialName: '', // 材价名称
      materialSpecs: '', // 材价规格
      materialUnit: '', // 材价单位
      materialPrice: '', // 材价价格
      curtax: true, // 是否含税
      symbolList: ['Ф', 'δ', '°', '×', '#', 'Ⅱ', 'Ⅲ', '½', '¼'],
      materialSupplier: '', // 供应商
      provinceId2: '', // 选省id（供应商地区）
      provinceList2: [], // 省列表（供应商地区）
      cityId2: '', // 选市id（供应商地区）
      cityList2: [], // 市列表（供应商地区）
      materialBrande: '', // 品牌
      gradeModel: '', // 编辑材价选中的档次
      gradeList: ['请选择档次', '高档', '中高档', '中档', '一般'], // 档次列表
      materialRemarks: '', // 材价备注
      materialDialog: false, // 显示单条添加材价弹窗
      materialStatus: '', // 材价公用弹窗状态（1loading 2成功 3失败）
      tipsText: '', // 弹窗提示字眼（正在标准化/安全扫描中/编辑成功失败）
      unitList: [
        { unit: '㎡' },
        { unit: '株' },
        { unit: '台' },
        { unit: '个' },
        { unit: '套' }
      ],

      startScan: false, // 是否显示标准化弹窗
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      scanTimer: null, // 标准化定时器
      successCount: 0, // 重新标准化成功数
      failCount: 0, // 重新标准化失败数
      downloadKey: '', // 下载失败清单key
      bzhFailList: [], // 失败材价保存(批量)
      bzhFailList2: [], // 失败材价保存(单条)
      errmsg: '', // 添加材价错误信息

      showEditDialog: false, // 显示编辑材价弹窗
      submitLoading: false, // 提交编辑材价loading
      applicableDate: '', // 适用时间
      taxIncluded: true // 是否含税
    }
  },
  computed: {
    supplierId() {
      // 供应商id
      return this.$route.query.supplierId
    },
    topContack() {
      // 优先显示的联系人信息
      if (this.supplierInfo && this.supplierInfo.contactList.length) {
        const list = this.supplierInfo.contactList
        let obj = null
        for (let i = 0, l = list.length; i < l; i++) {
          if (list[i].isTop) {
            obj = list[i]
            break
          }
        }
        return obj
      }
    },
    topBrands() {
      // 品牌列表回显
      if (this.supplierInfo && this.supplierInfo.brandNames) {
        const list = this.supplierInfo.brandNames.split(',')
        return list
      }
    }
  },
  mounted() {
    this.getSupplierCondition() // 获取国标分类和自定义分类和城市
    this.getMatApplicableTime(true, true) // 获取适用时间
    this.getDictList() // 材价来源/类型
    this.getAreaTree() // 获取地区

    this.getSupplierInfo() // 获取供应商详情信息
  },
  methods: {
    // 1单条添加/2批量添加
    addMaterial(type) {
      if (type == '1') {
        // 置空
        this.materialName = ''
        this.materialSpecs = ''
        this.materialBrande = ''
        this.gradeModel = ''
        this.materialPrice = ''
        this.materialRemarks = ''
        this.materialSupplier = ''
        this.materialUnit = ''

        this.showAddOneMaterial = true
      } else if (type == '2') {
        this.showAddMaterial = true
      }
      // 初始化
      this.downloadKeyLoading = false
      if (this.curTime) {
        this.validStartDate = this.curTimeItem
          ? new Date(this.curTime, this.curTimeItem - 1)
          : new Date(this.curTime + '')
      }

      this.cjFile = {}
      if (this.$refs.fileElem && this.$refs.fileElem.value) {
        this.$refs.fileElem.value = null
      }
      // this.curDialogSource = ''
      // this.curDialogType = ''
      this.projectName = ''
      this.curtax = true
    },
    // 批量删除材价
    allDeleteMaterial() {
      this.delType = 2
      if (this.multipleSelection.length > 0) {
        this.showDeleteDialog = true
      } else {
        this.openAlert()
      }
    },
    // 删除当前材价
    deleteMaterial(id) {
      console.log(id)
      this.delType = 1
      this.isId = id
      this.showDeleteDialog = true
    },
    // 确定删除
    confirmDelete() {
      const data = {
        matIds: this.isId
      }
      if (this.delType == 2) {
        const arr = this.multipleSelection.map(it => {
          return it.id
        })
        data.matIds = arr.join(',')
      }

      deleteMatSupplier(data).then(res => {
        if (res && res.code == '01') {
          this.getMatPricePage()
          this.$message({
            type: 'success',
            message: '删除该材价成功！'
          })
        }
      })
    },
    // 导出材价列表
    exportFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }

      let text = '全部'

      var applicableDate = this.curTimeItem
        ? this.curTime +
          '-' +
          this.curTimeItem.toString().padStart(2, '0') +
          '-01'
        : this.curTime + '-01-01'

      var isFormat = this.standStatus === null ? null : this.standStatus == 1

      const data = {
        isYear: !this.curTimeItem, // 是否单纯年
        supplierId: this.supplierId,
        keyword: this.searchVal,
        applicableDate: applicableDate, // 适用时间
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        subcid: this.normCode ? this.normCode : null, // 国标分类id
        brandId: this.curBrand, // 品牌
        applicableProvince: this.curPro, // 省
        applicableCity: this.curCity // 市
      }

      if (this.multipleSelection.length > 0) {
        const arr = this.multipleSelection.map(it => {
          return it.id
        })

        data.currentPage = this.currentPage
        data.pageSize = this.pageSize
        data.ids = arr
        text = '当前选中'
      }

      this.$confirm(`确定导出${text}数据吗?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(res => {
          exportSupplierOrBrandMat(data).then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价.xls'
              )
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = event => {
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              sessionStorage.removeItem('blob_filename')
            }
          })
        })
        .catch(err => {})
    },
    // 搜索
    searchFun() {
      this.currentPage = 1
      this.getMatPricePage()
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getMatPricePage()
    },
    // 获取供应商详情信息
    getSupplierInfo() {
      getSupplierInfo({ supplierId: this.supplierId }).then(res => {
        if (res && res.code == '01') {
          console.log('详情', res)
          this.supplierInfo = res.body
        }
      })
    },

    // 查询所绑定材价信息
    getMatPricePage() {
      if (!this.curTime) {
        this.tableLoading = false
        return
      }
      this.tableLoading = true

      // var applicableDate = this.curTimeItem
      //   ? new Date(this.curTime, this.curTimeItem - 1)
      //   : new Date(this.curTime + "");

      var applicableDate = this.curTimeItem
        ? this.curTime +
          '-' +
          this.curTimeItem.toString().padStart(2, '0') +
          '-01'
        : this.curTime + '-01-01'

      var isFormat = this.standStatus === null ? null : this.standStatus == 1

      const data = {
        isYear: !this.curTimeItem, // 是否单纯年
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        supplierId: this.supplierId,
        keyword: this.searchVal,
        applicableDate: applicableDate, // 适用时间
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        subcid: this.normCode ? this.normCode : null, // 国标分类id
        brandId: this.curBrand, // 品牌
        applicableProvince: this.curPro, // 省
        applicableCity: this.curCity // 市
      }
      getMatPricePage(data)
        .then(res => {
          if (res && res.code == '01') {
            console.log('材价列表', res)
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
          this.tableLoading = false
        })
        .catch(err => {
          this.tableLoading = false
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },

    // 适用时间 -- 占位占位占位
    // 获取材价适用时间
    getMatApplicableTime(nopass, callback) {
      getMatApplicableTime().then(res => {
        if (!res || !res.body.endTime) return
        const startTime = new Date(res.body.startTime)
        const endTime = new Date(res.body.endTime)
        var y = startTime.getFullYear()
        var m = startTime.getMonth() + 1
        var y2 = endTime.getFullYear()
        var m2 = endTime.getMonth() + 1
        const time = {} // {年：[月]}
        const years = []
        for (let i = y2; i >= y; i--) {
          const timearr = []
          years.push(i)
          if (i == y) {
            let month = 12
            if (y == y2) month = m2
            for (let j = month; j >= m; j--) {
              timearr.push(j)
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j)
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j)
            }
          }
          time[i] = timearr
        }
        this.timeData = time // 组装的年月数据
        this.curTimeList = years // 所有年
        if (nopass) {
          this.curTime = y2 // 默认选最新一年
          // this.curTimeItem = time[y2][0] // 默认选最新一月
          this.curTimeItem = ''
          this.curTimeItemList = time[y2] // 默认显示第一年的月份
        } else {
          this.curTimeItemList = time[this.curTime] // 保留所选月份只更新月份数组
        }

        if (callback) this.getMatPricePage() // 材价列表数据
      })
    },
    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year //  选中的年
      this.curTimeItemList = this.timeData[year] // 月数组
      // this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.curTimeItem = ''
      this.searchFun()
    },
    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month
      this.searchFun()
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.searchFun()
    },
    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.searchFun()
    },

    // 筛选数据类型
    standFilter(type) {
      this.standStatus = type
      this.searchFun()
    },
    // 筛选品牌
    changeCurBrand(brand) {
      this.curBrand = brand
      this.searchFun()
    },
    // 筛选档次
    changeCurGrade(grade) {
      this.curGrade = grade
      this.searchFun()
    },

    // 获取国标分类和自定义分类和城市
    getSupplierCondition() {
      getSupplierCondition().then(res => {
        console.log('全部', res)
        if (res && res.code == '01') {
          this.customType = res.body.customClassifyList
          this.normType = res.body.subClassifyList

          this.commonAreaList = res.body.areaList
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          this.commonAreaList.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },

    // 筛选自定义分类(父项)
    changeCurMyType(index, id) {
      this.customTypeItem = []
      this.curMytype = id
      this.curMytypeItem = ''
      this.custypeId = id
      if (index !== '') {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub
        }
      }
      this.searchFun()
    },
    // 筛选自定义分类(子项)
    changeCurMyTypeItem(name, id) {
      this.curMytypeItem = name
      if (id !== '') {
        this.custypeId = id
      } else {
        this.custypeId = this.curMytype
      }
      this.searchFun()
    },

    // 获取(材价)国标分类
    getMatSubClassify(data) {
      return new Promise((resolve, reject) => {
        getMatSubClassify(data).then(res => {
          this.curNormType = ''
          this.curNormTypeItem = ''
          this.normCode = ''
          this.normTypeItem = []
          this.normTypeItem2 = []
          this.normType = res.body
          resolve()
        })
      })
    },
    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      this.normCode = code
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }
      this.searchFun()
    },
    // 切换国标分类（子项）
    changeNormTypeItem(name, code) {
      this.curNormTypeItem = name
      if (code !== '') {
        this.normCode = code
      } else {
        this.normCode = this.curNormType
      }
      this.searchFun()
    },

    // 上传材价文件
    uploadCjFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.cjFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 下载材价导入模板
    uploadTemplate() {
      getMatImportTemplate()
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '材价导入模板.xls'
            )
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '材价导入模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => {})
    },
    // 提交新增的材价(批量)
    newMaterial() {
      if (!this.cityId) {
        this.$message({
          type: 'error',
          message: '请选择适用地区'
        })
        return
      } else if (!this.curDialogType) {
        this.$message({
          type: 'error',
          message: '请选择材价类型'
        })
        return
      }
      // else if (!this.curDialogSource) {
      //   this.$message({
      //     type: 'error',
      //     message: '请选择材价来源'
      //   })
      //   return
      // }
      else if (!this.validStartDate) {
        this.$message({
          type: 'error',
          message: '请选择适用时间'
        })
        return
      } else if (!this.cjFile || !this.cjFile.size) {
        this.$message({
          type: 'error',
          message: '请上传材价文件'
        })
        return
      }

      this.showAddMaterial = false

      var formData = new FormData()
      formData.append('applicableDate', this.validStartDate)
      formData.append('matPriceFile', this.cjFile)
      // formData.append('matSourceTypeCode', this.curDialogSource)
      // formData.append('matTypeCode', this.curDialogType)
      formData.append('taxIncluded', this.curtax)
      formData.append('applicableProvince', this.provinceName)
      formData.append('applicableCity', this.cityName)
      formData.append('supplierId', this.supplierId)

      // let projectId
      // this.ProjectPageList.forEach(item => {
      //   if (item.name == this.projectName) projectId = item.projectId
      // })
      // formData.append('isCustomize', false)
      // formData.append('projectId', projectId || null)

      this.startScan = true
      this.scanState = '0'
      this.scanTimer = setTimeout(() => {
        importMatPriceForSupplier(formData)
          .then(res => {
            if (res.code === '01') {
              this.scanState = '1'
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.successCount
                this.downloadKey = res.body.downloadKey
                this.bzhFailList = res.body.bzhFailList
              } catch (err) {}
              // 等待后端更新数据
              this.getMatApplicableTime() // 适用时间
              setTimeout(() => {
                this.searchFun()
              }, 800)
            } else {
              // debugger
              this.errMsg = res.message || '添加失败'
              this.scanState = '2'
            }
          })
          .catch(err => {
            // debugger
            this.errMsg = err.message || '添加失败'
            this.scanState = '2'
          })
      }, this.$store.getters.loadingCommon)
    },
    // 标准化完成
    confirmScan(ajax) {
      this.startScan = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
      // 保存标准化失败材价
      if (ajax && this.bzhFailList && this.bzhFailList.length > 0) {
        var data = {
          matPriceInfoEntities: this.bzhFailList
        }
        addFailMaterialPrice(data).then(res => {})
      }
    },
    // 获取地区（省，市）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.provinceList = res.body
          this.provinceList2 = res.body
          this.applyProvinceList = res.body
          this.cityList = this.provinceList[0].sub
          this.cityList2 = this.provinceList2[0].sub
        }
      })
    },
    // 切换省份
    changeProvince(id) {
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].id === id) {
          this.cityList = this.provinceList[i].sub
          this.provinceName = this.provinceList[i].name
          this.cityName = this.cityList[0].name
          this.cityId = this.cityList[0].id
        }
      }
    },
    // 切换城市
    changeCity(id) {
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].id === id) {
          this.cityName = this.cityList[i].name
        }
      }
    },
    // 规格辅助输入
    iptSymbol(e) {
      this.materialSpecs += e
    },
    // 单位辅助输入
    iptUnit(queryString, cb) {
      cb(this.unitList)
    },
    // 切换省份(供应商)
    changeProvince2(id) {
      for (var i = 0; i < this.provinceList2.length; i++) {
        if (this.provinceList2[i].id === id) {
          this.cityList2 = this.provinceList2[i].sub
          this.provinceName2 = this.provinceList2[i].name
          this.cityName2 = this.cityList2[0].name
          this.cityId2 = this.cityList2[0].id
        }
      }
    },
    // 切换城市(供应商)
    changeCity2(id) {
      for (var i = 0; i < this.cityList2.length; i++) {
        if (this.cityList2[i].id === id) {
          this.cityName2 = this.cityList2[i].name
        }
      }
    },
    // 输入搜索项目名称
    getProject(queryString, cb) {
      var restaurants = this.ProjectPageList
      var results = queryString
        ? restaurants.filter(this.createStateFilter(queryString))
        : restaurants
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        cb(results)
      }, 300)
    },
    // 筛选项目名称
    createStateFilter(queryString) {
      return state => {
        return state.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
      }
    },
    // 提交新增的材价(单条)
    newOneMaterial() {
      if (!this.materialName) {
        this.$message({
          type: 'error',
          message: '请输入材料名称'
        })
        return
      } else if (!this.curDialogType) {
        this.$message({
          type: 'error',
          message: '请选择材价类型'
        })
        return
      }
      // else if (!this.curDialogSource) {
      //   this.$message({
      //     type: 'error',
      //     message: '请选择材价来源'
      //   })
      //   return
      // }
      else if (!this.cityId) {
        this.$message({
          type: 'error',
          message: '请选择适用地区'
        })
        return
      } else if (!this.validStartDate) {
        this.$message({
          type: 'error',
          message: '请选择适用时间'
        })
        return
      } else if (!this.materialUnit) {
        this.$message({
          type: 'error',
          message: '请输入单位'
        })
        return
      } else if (!this.materialPrice) {
        this.$message({
          type: 'error',
          message: '请输入价格'
        })
        return
      }

      this.showAddOneMaterial = false

      const data = {
        applicableProvince: this.provinceName,
        applicableCity: this.cityName,
        applicableDate: this.validStartDate,
        brand: this.materialBrande,
        // grade: this.gradeModel,
        matSourceTypeCode: this.curDialogSource,
        matTypeCode: this.curDialogType,
        name: this.materialName,
        priceStr: this.materialPrice,
        remark: this.materialRemarks,
        spec: this.materialSpecs,
        supplierId: this.supplierId, // 当前供应商id
        // supplier: this.materialSupplier,
        // supplierArea: this.provinceName2 + this.cityName2,
        taxIncluded: this.curtax,
        unit: this.materialUnit,
        isCustomize: false
      }

      // 关联项目
      // let projectId
      // this.ProjectPageList.forEach(item => {
      //   if (item.name == this.projectName) projectId = item.projectId
      // })
      // data.projectId = projectId

      this.tipsText = '正在标准化...'
      this.materialStatus = 1
      this.materialDialog = true
      this.scanTimer = setTimeout(() => {
        addMaterialPrice(data)
          .then(res => {
            if (res.code === '01') {
              this.tipsText = '标准化成功!'
              this.materialStatus = 2
              // 等待后端更新数据
              this.getMatApplicableTime() // 适用时间
              setTimeout(() => {
                this.searchFun()
              }, 800)
            } else if (res.code === '610') {
              // 标准化失败,可编辑可保存
              this.materialStatus = 3
              this.tipsText =
                '标准化失败！' + res.message + '是否保存为非标准化材价？'
              this.bzhFailList2 = res.body || []
            } else if (res.code === '611') {
              // 不可保存,可编辑
              this.materialStatus = 4
              this.tipsText = err.message || '标准化失败!'
            }
          })
          .catch(err => {})
      }, this.$store.getters.loadingCommon)
    },
    // 单条材价添加确定
    agreeAdd() {
      this.materialDialog = false
      if (
        this.materialStatus == 3 &&
        this.bzhFailList2 &&
        this.bzhFailList2.length > 0
      ) {
        // 保存标准化失败材价
        var data = {
          matPriceInfoEntities: this.bzhFailList2
        }
        addFailMaterialPrice(data).then(res => {
          this.getMatApplicableTime() // 适用时间
          // 等待后端更新数据
          setTimeout(() => {
            this.searchFun()
          }, 800)
        })
      }
    },
    // 获取(材价)类型列表 来源/类型
    getDictList() {
      const params = {
        dictType: 'MAT_SOURCE_TYPE'
      }
      getDictList(params).then(res => {
        this.curshareList = res.body || []
        if (this.curshareList.length) {
          for (let i = 0, l = this.curshareList.length; i < l; i++) {
            if (this.curshareList[i].dictName == '供应商') {
              this.curDialogSource = this.curshareList[i].dictCode
              console.log('供应商', this.curDialogSource)
              break
            }
          }
        }
      })
      const params2 = {
        dictType: 'MAT_TYPE'
      }
      getDictList(params2).then(res => {
        this.curtypeList = res.body
        if (this.curtypeList.length) {
          for (let i = 0, l = this.curtypeList.length; i < l; i++) {
            if (this.curtypeList[i].dictName == '市场价') {
              this.curDialogType = this.curtypeList[i].dictCode
              console.log('材价类型', this.curDialogType)
              break
            }
          }
        }
      })
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.toRestandDialog = false // 重新标准化
          this.materialDialog = false // 编辑材价/添加自定义材价
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 金额输入限制（保留两位小数的数值，且大于0）
    checkPrice(e) {
      // 清除"数字"和"."以外的字符
      this.materialPrice = this.materialPrice.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.materialPrice = this.materialPrice.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.materialPrice = this.materialPrice.replace(/\.{2,}/g, '.')
      this.materialPrice = this.materialPrice
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.materialPrice = this.materialPrice.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },
    // 编辑材价
    editMaterial(item) {
      this.isId = item.matId
      this.gradeModel = item.grade || '请选择档次'
      // 回显
      this.taxIncluded = !!item.taxIncluded
      this.materialName = item.name
      this.materialSpecs = item.spec
      this.materialUnit = item.unit
      this.materialBrande = item.brand
      this.materialSupplier = item.supplier
      this.materialPrice = item.price
      this.applicableProvince = item.applicableProvince
      this.applicableCity = item.applicableCity
      this.applicableDate = item.applicableDate
      this.materialRemarks = item.remark || ''
      this.matFormat = item.isFormat

      // 回填产地省市的名称，id，选择菜单
      this.provinceName = ''
      this.provinceId = ''
      this.cityName = ''
      this.cityId = ''
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].name === item.supplierProvince) {
          this.cityList = this.provinceList[i].sub
          this.provinceName = item.supplierProvince
          this.provinceId = this.provinceList[i].id
        }
      }
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].name === item.supplierCity) {
          this.cityName = item.supplierCity
          this.cityId = this.cityList[i].id
        }
      }

      this.showEditDialog = true
    },
    // 提交编辑完的材价
    submitMaterial() {
      if (!this.materialName) {
        this.$message({
          type: 'error',
          message: '请输入材价名称'
        })
        return
      } else if (!this.materialSpecs) {
        this.$message({
          type: 'error',
          message: '请输入材价规格'
        })
        return
      } else if (!this.materialUnit) {
        this.$message({
          type: 'error',
          message: '请输入材价单位'
        })
        return
      } else if (!this.materialPrice) {
        this.$message({
          type: 'error',
          message: '请输入正确的材料价格'
        })
        return
      }

      this.submitLoading = true
      this.showEditDialog = false
      this.matDialogStatus = 1
      if (this.matFormat) {
        this.tipsText = '正在标准化...'
        this.materialStatus = 1
        this.materialDialog = true
      }
      var data = {
        // goEmptyName: this.materialName,
        // goEmptySpec: this.materialSpecs,
        // goEmptyUnit: this.materialUnit,

        matPriceId: this.isId,
        name: this.materialName,
        price: this.materialPrice,
        unit: this.materialUnit,
        // applicableCity: this.applicableCity,
        // applicableProvince: this.applicableProvince,
        remark: this.materialRemarks || null,
        spec: this.materialSpecs,
        // supplier: this.materialSupplier || null,
        supplierId: this.supplierId,
        // brand: this.materialBrande || null,
        // grade: this.gradeModel == '请选择档次' ? null : this.gradeModel,
        // supplierProvince: this.provinceName || null,
        // supplierCity: this.cityName || null,
        taxIncluded: this.taxIncluded
      }
      setTimeout(() => {
        updateMatPrice(data)
          .then(res => {
            this.submitLoading = false
            if (!this.matFormat) {
              this.materialDialog = true
            }
            if (res.code === '01') {
              // this.materialStatus = 2
              // this.tipsText = '编辑成功'
              this.materialDialog = false
              this.$message({
                type: 'success',
                message: res.message
              })
              this.currentPage = 1
              this.getMatPricePageList('pass')
            } else {
              this.materialStatus = 3
              this.tipsText = '编辑失败'
            }
          })
          .catch(err => {
            this.materialStatus = 3
            this.tipsText = '编辑失败'
            this.submitLoading = false
          })
      }, this.$store.getters.loadingCommon)
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据操作'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },
    // 不同颜色
    reColorStyle(index) {
      const idx = index % 5
      const color = this.colors[idx]
      return {
        border: `1px solid ${color}`,
        color
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.supplier-detail {
  position: relative;

  .top-content {
    margin-top: -37px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
    padding-bottom: 15px;

    .bg {
      position: relative;
      width: 100%;
      height: 36px;
      border-radius: 6px 6px 0 0;
      background: linear-gradient(0deg, #ffffff, #dff5fe);

      .bread {
        position: absolute;
        top: 13px;
        left: 20px;
        color: #303133;

        .el-breadcrumb {
          font-size: 13px;
        }

        .cp:hover {
          color: $color-primary;
        }

        .el-icon {
          margin: 0 10px 0 15px;
          font-weight: bold;
          color: #777;
        }

        .active {
          color: $color-primary;
        }
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 273px;
        height: 200px;
      }
    }

    .info {
      height: 140px;
      background: #fff;
      padding: 0 340px 0 35px;
      border-radius: 0 0 6px 6px;
      border-bottom: 1px solid #f3f3f4;

      .text-box {
        margin-left: 22px;

        .top-title {
          font-size: 22px;
          font-family: Source Han Sans CN;
          font-weight: bold;
          color: #333333;
          line-height: 36px;
          background: url('~@/assets/img/tiao.png') 0 100% no-repeat;
        }

        .top-ul {
          margin-top: 10px;

          li {
            font-family: Source Han Sans CN;
            font-weight: 400;
            background: #f2f9fe;
            padding: 20px;

            span {
              position: relative;

              &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 24px;
                background: #ebebeb;
                border-radius: 1px;
                top: 50%;
                transform: translateY(-50%);
                right: -13px;
              }
            }
          }

          li:last-child {
            span {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }

    .show-more {
      color: #1789f2;
      position: relative;
    }

    .hidden-div {
      position: absolute;
      top: -15px;
      width: 100%;
      z-index: 99;
      background: #fff;
      color: #333;
      text-align: left;

      box-shadow: 0px 15px 20px -15px rgb(170, 167, 167);
      border-radius: 6px 6px 0px 0px;

      .hidden-content {
        padding: 27px 103px 20px 145px;
        border-bottom: 1px solid #f3f3f4;
      }

      .hidden-ul {
        background: #f2f9fe;
        padding: 20px;

        li {
          margin-bottom: 27px;
          display: flex;

          .title {
            min-width: 70px;
          }
        }

        .mb-0 {
          margin-bottom: 0;
        }

        .li-row {
          span {
            margin-right: 114px;
          }

          p {
            display: inline-block;
          }
        }
      }

      .hidden-more {
        margin-top: 20px;
        padding-bottom: 18px;
      }
    }

    .persons {
      flex-wrap: wrap;

      .person-card {
        border: 1px solid #e7e7e7;
        border-top: 4px solid #1688f2;
        border-radius: 4px;
        // width: 340px;
        width: 24.5%;
        height: 170px;
        margin-bottom: 15px;

        .card-left {
          font-size: 20px;
          font-family: Microsoft YaHei;
          font-weight: bold;
          padding: 0 20px;

          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 105px;
            background: #a6a6a6;
            opacity: 0.3;
            border-radius: 1px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
        }

        .card-right {
          padding: 0 20px;

          li {
            padding: 8px 0;
          }
        }
      }
    }
  }

  .show-more {
    margin-top: 15px;
    text-align: center;

    > span {
      cursor: pointer;
    }

    .el-icon-arrow-down,
    .el-icon-arrow-right {
      font-size: 14px;
      font-weight: bold;
      text-align: center;

      &.is-rotate {
        transform: rotate(180deg);
      }
    }
  }

  .screen {
    padding: 20px 0;
    background: #ffffff;
    border-top: 1px solid #f6f6f6;
    border-radius: 8px;

    .top {
      padding: 20px;

      .com-search2 {
        width: 484px;
      }
    }

    .norm-type {
      padding: 0 20px;

      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }

      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }

        ul {
          margin-bottom: 10px;

          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;

            li {
              padding-top: 8px;
              padding-bottom: 8px;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;

            &.active {
              color: $color-minor;
            }

            &:hover {
              color: $color-minor;
            }
          }
        }
      }

      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 6px;

        .el-icon-arrow-right {
          font-size: 12px;
        }
      }

      .is-fold {
        max-height: 48px;
        overflow-y: hidden;
      }
    }
  }

  .sup-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
  }

  .brand-span {
    padding: 7px 28px;
    display: inline-block;
    border: 1px solid #037dff;
    color: #037dff;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
  }

  .editidalog {
    .show-text {
      color: #333333;
    }

    .ta-right {
      color: #999999;
    }
  }

  .addDialog {
    &::v-deep .el-dialog {
      // height: 322px;
      max-height: 500px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .el-dialog__body {
        flex: 1;
        overflow-y: auto;
        padding-top: 4px;
      }
    }

    .spec-img {
      position: relative;
      background: none !important;

      img {
        width: 17px;
        height: 17px;
        position: absolute;
        top: 8px;
        right: -20px;
        cursor: pointer;
        z-index: 999;
      }
    }

    .cj-upload {
      width: 100%;

      > div {
        position: relative;
        width: 100%;
      }

      .u-ipt {
        padding-left: 10px;
        width: 100%;
        height: 34px;
        line-height: 34px;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
      }

      .u-btn {
        max-width: 66px;
        min-width: 66px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        border-radius: 0 4px 4px 0;
        border: 1px solid #dcdfe6;
        border-left: none;
      }

      .u-file {
        position: absolute;
        width: 100%;
        opacity: 0;
      }
    }
  }

  .scrollMR {
    &::v-deep .el-dialog__body {
      margin-right: 18px;
    }
  }

  .el-dialog {
    .ipt-text {
      text-align: right;
      min-width: 65px;
      max-width: 80px;
      margin-right: 10px;
      color: #999999;
    }
  }

  .el-select,
  .sel-time {
    width: 100%;
  }

  .redialog {
    .loading-box {
      width: 90px;
      height: 90px;
      margin: 30px auto;
      position: relative;

      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .img {
        z-index: 0;
        animation: scanLoading 0.8s linear infinite;
      }

      .img2 {
        z-index: 1;
        animation: scanLoading2 0.8s linear infinite;
      }

      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }

      @keyframes scanLoading2 {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    .blue-tips {
      color: #1789f2;
      line-height: 30px;
      margin-bottom: 40px;
    }

    .success {
      color: $color-primary;
    }

    .error {
      color: $color-danger;
    }
  }
}
</style>

<style lang="scss">
@import '@/styles/variables.scss';

.supplier-detail {
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }

  .com-dialog .el-checkbox {
    display: flex;
  }

  .com-label-text {
    padding: 2px 0;
  }

  .editidalog {
    .el-dialog__header {
      background: #ffffff;
    }

    .el-input__inner {
      width: 100%;
      height: 32px;
    }

    .grade-area {
      .el-input--suffix {
        .el-input__suffix {
          top: 5px;
          right: 15px;
        }
      }

      .is-focus {
        .el-input__suffix {
          top: 0px;
        }
      }
    }

    .ipt-area {
      .el-input__inner {
        width: 141px;

        height: 32px;
      }

      .is-focus {
        .el-input__suffix {
          top: -1px;
          right: 15px;
        }
      }
    }

    .max-area {
      .el-input__inner {
        width: 143px;
      }
    }

    .el-textarea__inner {
      height: 98px;
    }

    .ipt-price {
      .el-input-group__append {
        background: #ffffff;
      }

      .el-input-group--append {
        width: 310px;

        .el-input__inner {
          width: 255px;
          color: $color-minor;
        }
      }
    }
  }

  .addDialog {
    .el-autocomplete {
      width: 100%;
    }

    .el-input--suffix {
      .el-input__suffix {
        top: 3px !important;
        right: 10px !important;
      }
    }

    .times {
      .el-input__suffix {
        top: 1px !important;
        right: 30px !important;
      }
    }

    .is-focus {
      .el-input__suffix {
        top: -1px !important;
      }
    }

    .sel-time {
      .el-date-editor {
        width: 100%;

        &.el-input--prefix .el-input__inner {
          padding-left: 15px;
        }
      }

      .el-input__icon {
        line-height: 32px;
        color: $color-primary;
      }
    }
  }

  .custom-type {
    .more {
      .el-icon-arrow-right:before {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.special-operate-wrap {
  button {
    display: block;
    padding: 0;
    margin-right: 0 !important;
    margin-left: 3px;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;

    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }

  .el-button + .el-button {
    margin-left: 3px;
  }
}

.tip-popper-class {
  border: none !important;

  > div {
    display: flex;
    align-items: center;
  }

  .item {
    width: 18px;
    height: 18px;
    margin: 0 3px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}
</style>
