@import './variables.scss';
// @import './element-variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './sidebar.scss';
@import './common.scss';
@import './ie_css.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

p, h1, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

// main-container global css
.app-container {
  padding: 20px;
}

// 自定义滚动条
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}
// 滚动条轨道
::-webkit-scrollbar-track {
  // 滚动条里面轨道
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}
// 滚动条滑块
::-webkit-scrollbar-thumb {
  // 滚动条里面小方块
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}
// 两个滚动条的交汇处
::-webkit-scrollbar-corner {
  background: transparent;
}
