<template>
  <div class="personal">
    <div class="flex-c com-menu-wrap">
      <div class="cp m-item" :class="{active: curMenu === 'userInfo'}" @click="changeMenu('userInfo')">
        <span>个人信息</span>
        <div class="t-line"></div>
      </div>
      <div class="cp m-item" :class="{active: curMenu === 'changePassword'}" @click="changeMenu('changePassword')">
        <span>修改密码</span>
        <div class="t-line"></div>
      </div>
    </div>

    <div class="p-content" v-if="curMenu === 'userInfo'">
      <UserInfo />
    </div>
    <div class="p-content" v-if="curMenu === 'changePassword'">
      <ChangePassword />
    </div>
  </div>
</template>

<script>
import UserInfo from './components/UserInfo'
import ChangePassword from './components/ChangePwd'
export default {
  name: 'personal',
  data() {
    return {
      curMenu: 'userInfo'
    }
  },
  mounted() {
    if (this.$route.query.to == 'changePassword') {
      this.curMenu = 'changePassword'
    }
  },
  methods: {
    // 菜单切换
    changeMenu(type) {
      this.curMenu = type;
    }
  },
  components: {
    UserInfo,
    ChangePassword
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.personal {
  margin-top: 17px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .p-content {
    padding: 35px 25px;
    width: 100%;
    background: #fff;
  }
}
</style>
