<template>
  <div class="login-container">
    <!-- 背景图 -->
    <img class="login-bg" src="@/assets/img/home/login_bg.png" alt="">
    <div class="whole-div">
      <p class="login-title">建设工程造价大数据管理-采集平台</p>
      <!-- 登录 -->
      <div class="login-wrap">
        <!-- 左侧欢迎语 -->
        <div class="left-welcome">
          <img src="@/assets/img/home/btn_bg2.png" alt="">
        </div>
        <!-- 右侧表单 -->
        <div class="login-form">
          <el-form :model="loginForm" class="form" auto-complete="on" label-position="left">
            <div class="tip">登录</div>
            <div class="common"><span>* </span>账号</div>
            <el-form-item prop="username" :class="{'is-focus': isFocus == 'f-u'}">
              <el-input v-model="loginForm.userId" placeholder="请输入账号" type="text" tabindex="1" auto-complete="on" @focus="focusEvent('f-u')" @blur="blurEvent()" />
            </el-form-item>

            <div class="common"><span>* </span>密码</div>
            <el-form-item prop="password" :class="{'is-focus': isFocus == 'f-p'}">
              <el-input v-model="loginForm.userPwd" placeholder="请输入密码" type="password" tabindex="2" auto-complete="on" @focus="focusEvent('f-p')" @blur="blurEvent()"
                @keyup.enter.native="handleLogin" />
            </el-form-item>

            <div class="common"><span>* </span>验证码</div>
            <el-form-item class="code-item" prop="code">
              <div class="left-code" :class="{'is-focus': isFocus == 'f-c'}">
                <el-input v-model="loginForm.verifyCode" placeholder="请输入验证码" type="text" tabindex="3" maxlength="4" auto-complete="on" class="code-input" @focus="focusEvent('f-c')"
                  @blur="blurEvent()" @keyup.enter.native="handleLogin" />
              </div>
              <img class="code-img" :src="codeImg" alt="" @click="getCodeImg">
            </el-form-item>

            <el-button :loading="loading" type="primary" class="login-btn" @click.native.prevent="handleLogin">登录</el-button>

          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { authImg } from '@/api/user'
import store from '@/store'
export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        userId: '',
        userPwd: '',
        verifyCode: ''
      },
      isFocus: '',
      codeImg: '',
      loading: false
    }
  },
  mounted() {
    this.getCodeImg()
  },

  methods: {
    // 获取图形验证码
    getCodeImg() {
      authImg().then((res) => {
        // 后台返回二进制流，转换成base64渲染
        this.codeImg =
          'data:image/png;base64,' +
          btoa(
            new Uint8Array(res).reduce(
              (res, byte) => res + String.fromCharCode(byte),
              ''
            )
          )
      })
    },

    // input框聚焦
    focusEvent(type) {
      this.isFocus = type
    },
    blurEvent() {
      this.isFocus = ''
    },
    // 登录
    handleLogin() {
      if (!this.loginForm.userId) {
        this.$message({
          type: 'error',
          message: '请输入账号'
        })
        return
      } else if (!this.loginForm.userPwd) {
        this.$message({
          type: 'error',
          message: '请输入密码'
        })
        return
      } else if (!this.loginForm.verifyCode) {
        this.$message({
          type: 'error',
          message: '请输入验证码'
        })
        return
      }
      if (this.loading) {
        return
      }

      this.loading = true
      this.$store
        .dispatch('user/login', this.loginForm)
        .then((res) => {
          this.loading = false
          this.$router.push({ path: '/' })
        })
        .catch((err) => {
          this.loading = false
          this.getCodeImg()
          this.$message({
            type: 'error',
            message: err.message || '服务器异常'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.login-container {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  .login-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .is-focus {
    border: 2px solid #2773fc !important;
  }

  .whole-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .login-title {
      z-index: 5;
      color: #9ad1c5;
      font-size: 38px;
      margin: 20px 0;
    }
  }
  .login-wrap {
    display: flex;
    width: 800px;
    height: 480px;
    box-shadow: 0px 5px 15px 0px rgba(0, 9, 101, 0.3);
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('~@/assets/img/home/btn_bg.png');
    background-size: 100% 100%;
    .left-welcome {
      position: relative;
      width: 458px;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .left-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        margin-left: 7%;
        .l-w {
          font-size: 52px;
          font-family: Helvetica;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: -2px;
        }
        .l-t {
          font-size: 26px;
          color: #ffffff;
          margin-top: 10px;
        }
      }
    }
  }

  .login-form {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding-top: 26px;
    .form {
      position: relative;
      width: 80%;
      left: 10%;
      .tip {
        font-size: 20px;
        padding-bottom: 8px;
        margin-bottom: 41px;
        border-bottom: 1px solid #eaedf2;
      }
      .login-btn {
        font-weight: 500;
        color: #ffffff;
        width: 100%;
        height: 40px;
        font-size: 18px;
        background: #f39839;
        border: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.common {
  font-size: 14px;
  color: #323333;
  padding-bottom: 6px;
  span {
    color: #e72620;
  }
}
</style>

<style lang="scss">
$cursor: #333333;
@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 40px;
    display: flex;
    // width: 85%;

    .el-input-group__prepend {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f3f9fe;
      width: 54px;
      border-right: 2px solid #e2e2e2;
    }

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 8px 5px 8px 15px;
      height: 40px;
      caret-color: $cursor;

      &:-webkit-autofill {
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 2px solid #e2e2e2;
    border-radius: 5px;
    box-sizing: border-box;

    &.code-item {
      border: 0 none !important;
      margin-bottom: 39px;
      .el-form-item__content {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        &::before {
          display: none;
        }
      }
      .code-img {
        height: 46px;
      }
      .left-code {
        border: 2px solid #e2e2e2;
        width: 168px;
        height: 40px;
        border-radius: 5px;
        box-sizing: content-box;
      }
    }
  }
}
</style>
