<template>
  <div class="material-container">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>材价管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/materialManage/checkMaterial' }"
            >造价通查价</el-breadcrumb-item
          >
          <el-breadcrumb-item
            ><span class="active">查价历史</span></el-breadcrumb-item
          ></el-breadcrumb
        >
      </div>
    </div>

    <!-- 顶部筛选 -->
    <div class="screen flex-csb">
      <div class="flex-c">
        <div class="com-search2 mt-20 mb-20 mr-30">
          <el-tooltip
            effect="light"
            placement="bottom-start"
            popper-class="spec-tooltip"
          >
            <img class="spec-img" src="@/assets/img/icons/symbol.png" alt="" />
            <div slot="content">
              <template v-for="item in symbolList">
                <div class="item flex-cc" :key="item" @click="iptSymbol(item)">
                  {{ item }}
                </div>
              </template>
            </div>
          </el-tooltip>
          <el-input
            placeholder="请输入名称、规格，示例：圆钢φ10"
            v-model="keyword"
            @keyup.enter.native="searchFun"
          />

          <i class="el-icon-search" @click="searchFun"></i>
        </div>

        <!-- 时间 -->
        <div class="search-type time">
          <div class="flex-c">
            <span
              class="com-label-text"
              style="font-weight: 400; min-width: 60px; white-space: nowrap"
              >查价时间：</span
            >
            <div class="com-time-search">
              <el-date-picker
                v-model="startDate"
                type="date"
                placeholder="选择日期"
                value-format="yyyy-MM-dd"
                :picker-options="pickerOptions1"
                @change="searchFun"
              >
              </el-date-picker>
            </div>
            <span class="com-line"></span>
            <div class="com-time-search">
              <el-date-picker
                v-model="endDate"
                type="date"
                placeholder="选择日期"
                value-format="yyyy-MM-dd"
                :picker-options="pickerOptions2"
                @change="searchFun"
              >
              </el-date-picker>
            </div>
          </div>
        </div>
      </div>
      <span class="flex-c cp mr-30 blue" @click="backPage">
        返回查价
        <img
          class="ml-5 mb-2"
          src="@/assets/img/v2.0/icons/01 拷贝.png"
          alt=""
        />
      </span>
    </div>
    <!-- 按钮/表格 -->
    <div class="result-tabs">
      <div class="tab-content">
        <!-- 表内容 -->
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
        >
          <el-table-column min-width="130px" label="名称" prop="name">
            <template slot-scope="scope">
              <span class="p-color cp" @click="toCheckDetail(scope.row)">
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            min-width="100px"
            label="材料条数"
            prop="searchCount"
          >
          </el-table-column>
          <el-table-column min-width="95px" label="报价条数" prop="resultCount">
          </el-table-column>
          <el-table-column min-width="120px" label="查价时间" prop="searchTime">
            <template slot-scope="scope">
              {{ formatDate(scope.row.searchTime, "1") }}
            </template>
          </el-table-column>
          <el-table-column
            min-width="110px"
            label="操作人账户"
            prop="operatorAccount"
          >
          </el-table-column>
          <el-table-column
            min-width="110px"
            label="操作人姓名"
            prop="operatorName"
          >
          </el-table-column>
          <el-table-column width="200px" label="操作" prop="name">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span @click="toCheckDetail(scope.row)" class="cp">
                  <el-tooltip effect="light" content="查看详情" placement="top">
                    <img
                      class="icons"
                      src="@/assets/img/icons/details.png"
                      alt=""
                    />
                  </el-tooltip>
                </span>
                <span class="cp" @click="exportFile(scope.row)">
                  <el-tooltip effect="light" content="导出材价" placement="top">
                    <img
                      class="icons"
                      src="@/assets/img/v2.0/icons/导入.png"
                      alt=""
                    />
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>

      <!-- 分页 -->
      <div class="flex-csb com-pages-wrap mb-20">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select
              v-model="pageSize"
              placeholder="请选择"
              @change="handleCurrentChange(1)"
            >
              <el-option
                v-for="(item, index) in pageSizeList"
                :key="index"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-size="pageSize"
            layout="prev, pager, next, jumper"
            :total="totalCount"
            :key="pagKey"
          >
          </el-pagination>
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getHistoryPageList, exportMatPriceResult } from "@/api/material";
import { formatDate } from "@/utils/common";
export default {
  data() {
    return {
      formatDate: formatDate,
      keyword: "", // 关键字
      symbolList: ["Ф", "δ", "°", "×", "#", "Ⅱ", "Ⅲ", "½", "¼"],

      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null, // 开始时间
      endDate: null, // 结束时间
      pickerOptions1: {
        // 开始时间不可大于结束时间
        disabledDate: (time) => {
          if (this.endDate) {
            let end = this.endDate + " 23:59:59"; // 日期详细才能选中当天
            return time.getTime() > new Date(end);
          }
        },
      },
      pickerOptions2: {
        // 结束时间不可小于开始时间
        disabledDate: (time) => {
          if (this.startDate) {
            let start = this.startDate + " 00:00:00";
            return time.getTime() < new Date(start);
          }
        },
      },
      pagKey: 0,  // 分页key
    };
  },
  computed: {
    backCurrent() {
      // 历史查价详情返回的当前页
      return Number(this.$route.query.backCurrent);
    },
  },
  mounted() {
    if (this.backCurrent) {
      this.handleCurrentChange(this.backCurrent);
      this.pagKey++;
    } else {
      this.getHistoryPageList();
    }
  },
  methods: {
    searchFun() {
      this.currentPage = 1;
      this.getHistoryPageList();
    },
    // 规格辅助输入
    iptSymbol(e) {
      this.keyword += e;
    },
    // 或者查价历史列表
    getHistoryPageList() {
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.keyword,
        startDate: this.startDate ? this.startDate : "",
        endDate: this.endDate ? this.endDate : "",
        // startDate: this.startDate? (this.startDate + " 00:00:00"): "",
        // endDate: this.endDate ? (this.endDate + " 23:59:59"): "",
      };
      getHistoryPageList(data).then((res) => {
        if (res && res.code == "01") {
          this.tableData = res.body.list;
          this.totalCount = res.body.totalCount;
        }
      });
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getHistoryPageList();
    },

    // 导出
    exportFile(row) {
      var data = {
        historyId: row.id,
      };
      this.$confirm("确定导出当前材价?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        exportMatPriceResult(data)
          .then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "材价信息.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "材价信息.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
          })
          .catch((err) => {});
      });
    },

    // 查看详情
    toCheckDetail(row) {
      console.log(row);
      this.$router.push({
        name: "CheckResult",
        query: {
          historyId: row.id,
          province: row.province,
          city: row.city,
          checkType: 3, // 1、单条查价 2、多条查价 3、查价历史
          currentPage: this.currentPage,
        },
      });
    },
    // 返回上一页
    backPage() {
      this.$router.back();
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.material-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;
  position: relative;

  .screen {
    padding: 1px 0 5px 28px;
    background: #ffffff;
    > div {
      min-height: 39px;
    }
    .com-search2 {
      width: 346px;
      min-height: 32px;
      &::v-deep .el-input__inner {
        border: none;
        padding-left: 8px;
      }
    }
    .icons {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    .s-title {
      margin-bottom: 10px;
      .s-tag {
        font-size: 12px;
        margin-left: 10px;
        margin-top: 5px;
      }
    }
    .spec-img {
      width: 18px;
      height: 18px;
      margin-left: 20px;
      cursor: pointer;
      z-index: 999;
    }
    .desc {
      font-family: "mainfont";
      color: #999999;
      > div {
        line-height: 30px;
        margin-right: 10px;
      }
      .left {
        display: inline-block;
        margin-right: 5px;
        // width: 75px;
      }
      .big {
        font-weight: bold;
        color: #333;
      }
    }
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
    }
  }

  .result-tabs {
    margin-top: 10px;
    min-height: 650px;
    background: #fff;

    .com-menu-wrap .m-item {
      width: 235px;
      .t-line {
        width: 235px;
      }
    }

    .tab-content {
      background: #fff;
      padding: 20px;
    }

    .circle {
      width: 28px;
      height: 28px;
      line-height: 28px;
      display: inline-block;
      border-radius: 50%;
      background: #cfcfcf;

      font-size: 12px;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #ffffff;
    }

    .com-menu-wrap .active {
      .circle {
        background: #1f87e6;
      }
    }

    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}
</style>
