<template>
  <div class="test-report">
    <div class="com-bg">
        <div class="bread">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>项目管理</el-breadcrumb-item>
              <el-breadcrumb-item :to="{ path: '/project/index' }">项目库</el-breadcrumb-item>
              <el-breadcrumb-item :to="{ path: '/project/detail' }">{{details.name}}</el-breadcrumb-item>
              <el-breadcrumb-item><span class="active">体检报告</span></el-breadcrumb-item>
            </el-breadcrumb>
        </div>
    </div>
    <div class="top flex-csb">
      <div class="top-content">
        <img src="@/assets/img/v2.0/hetong.png" alt="" />
        <p class="top-tips">{{details.name}}体检报告</p>
      </div>
      <div class="down-btn cp" @click="downloadReport">下载报告</div>
    </div>
    <div class="test-tabs">
      <div class="flex-c com-menu-wrap">
        <div
          class="cp m-item"
          :class="{ active: curMenu === '检测汇总' }"
          @click="changeMenu('检测汇总')"
        >
          <span>检测汇总</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '数据检查' }"
          @click="changeMenu('数据检查')"
        >
          <span>数据检查</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '信息检测' }"
          @click="changeMenu('信息检测')"
        >
          <span>信息检测</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '指标预警' }"
          @click="changeMenu('指标预警')"
        >
          <span>指标预警</span>
          <div class="t-line"></div>
        </div>
      </div>
      <div class="tab-content">
        <!-- 表1 -->
        <div v-if="curMenu === '检测汇总'" class="com-table-wrap">
          <el-table
            ref="multipleTable"
            :data="totalTable1"
            tooltip-effect="dark"
            style="width: 100%"
            key="id1"
          >
            <el-table-column width="200" prop="name" label="检测项">
            </el-table-column>
            <el-table-column prop="result" label="检测结果"> </el-table-column>
          </el-table>
        </div>
        <!-- 表2 -->
        <div v-else-if="curMenu === '数据检查'" class="com-table-wrap">
          <DataCheck :totalTable="totalTable2" ref="datacheckRef" :totalCount="totalCount" @getData="dataCheck" />
        </div>
        <!-- 表3 -->
        <div v-else-if="curMenu === '信息检测'" class="com-table-wrap">
          <el-table
            ref="multipleTable"
            :data="totalTable3"
            tooltip-effect="dark"
            style="width: 100%"
            key="id3">
            <el-table-column width="100" type="index" label="序号">
            </el-table-column>
            <el-table-column width="250" prop="name" label="信息名称">
            </el-table-column>
            <el-table-column label="特征内容">
              <template slot-scope="scope">
                <span>{{scope.row.value || '--/--'}}</span>
              </template>
            </el-table-column>
            <el-table-column label="检测结果">
              <template slot-scope="scope">
                <div>
                  <div v-if="scope.row.testResults != '正常'" class="red">
                    <span>{{scope.row.testResults}}</span>
                    <span class="ml-10 cp" @click="toDetail">立即完善</span>
                  </div>
                  <div v-else> 正常 </div>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 表4 -->
        <div v-else class="com-table-wrap expand-table">
          <el-table
            v-if="totalTable4[0] && totalTable4[0].reveal"
            ref="multipleTable"
            :data="totalTable4"
            tooltip-effect="dark"
            style="width: 100%"
            key="id4"
            border>
            <!-- 子项start -->
            <el-table-column type="expand" width="48px">
              <template slot-scope="scope">
                <el-table
                  :data="scope.row.warningIndicatorResList"
                  style="width: 100%"
                  class="sub-expand-table">
                  <!-- 子子项start -->
                  <el-table-column type="expand" width="48px">
                    <template slot-scope="scope">
                      <el-table
                        :data="scope.row.warningIndicatorResList"
                        style="width: 100%"
                        class="sub-expand-table">
                        <!-- 子子子项start -->
                        <el-table-column type="expand" width="48px">
                          <template slot-scope="scope">
                            <el-table
                              :data="scope.row.warningIndicatorResList"
                              style="width: 100%"
                              class="sub-expand-table">
                              <el-table-column
                                label=""
                                width="48px">
                              </el-table-column>
                              <el-table-column
                                label="序号">
                                <template slot-scope="subScope">
                                  <span>{{subScope.row.seqId}}</span>
                                </template>
                              </el-table-column>
                              <el-table-column prop="name" label="指标名称"> </el-table-column>
                              <el-table-column prop="typeName" label="指标分类">
                              </el-table-column>
                              <el-table-column label="造价金额（元）">
                                <template slot-scope="subScope">
                                  <span>{{formatNumber(subScope.row.totalPrice)}}</span>
                                </template>
                              </el-table-column>
                              <el-table-column label="计算口径">
                                <template slot-scope="subScope">
                                  <span>{{subScope.row.caliber ? formatNumber(subScope.row.caliber)+subScope.row.caliberUnit : ''}}</span>
                                </template>
                              </el-table-column>
                              <el-table-column label="经济指标">
                                <template slot-scope="subScope">
                                  <div>
                                    <span :class="(subScope.row.warningResult ? 'green' : 'red')" v-if="bindWarnRes(subScope.row)">{{formatNumber(subScope.row.econStd,true) || ''}}</span>
                                    <span v-else>{{formatNumber(subScope.row.econStd,true) || '--/--'}}</span>
                                  </div>
                                </template>
                              </el-table-column>
                              <el-table-column label="预警指标（系统均值）">
                                <template slot-scope="subScope">
                                  <span v-if="subScope.row.calPrice">{{formatNumber(subScope.row.calPrice) + subScope.row.unit+'/'+subScope.row.caliberUnit}}</span>
                                </template>
                              </el-table-column>
                              <el-table-column label="预警范围">
                                <template slot-scope="subScope">
                                  <span v-if="subScope.row.startV">{{subScope.row.startV}}% ~ {{subScope.row.endV}}%</span>
                                </template>
                              </el-table-column>
                              <el-table-column width="160" label="预警结果">
                                <template slot-scope="subScope">
                                  <div v-if="subScope.row.warning" @click="warnInfo(subScope.row)">
                                    差异率<span :class="'cp '+(subScope.row.warningResult ? 'green' : 'red')">{{subScope.row.warning}}%,</span>指标{{subScope.row.warningResult ? '正常' : '异常'}}
                                  </div>
                                </template>
                              </el-table-column>
                              <el-table-column label="备注">
                                <template slot-scope="subScope">
                                  <div v-if="!subScope.row.warningResult">
                                    <span v-if="subScope.row.notes" @click="addRemark(subScope.row)">查看说明</span>
                                    <span v-else class="cp orange" @click="addRemark(subScope.row)">+异常说明</span>
                                  </div>
                                </template>
                              </el-table-column>
                            </el-table>
                          </template>
                        </el-table-column>
                        <!-- 子子子项end -->
                        <el-table-column
                          label="序号">
                          <template slot-scope="subScope">
                            <span>{{subScope.row.seqId}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column prop="name" label="指标名称"> </el-table-column>
                        <el-table-column prop="typeName" label="指标分类">
                        </el-table-column>
                        <el-table-column label="造价金额（元）">
                          <template slot-scope="subScope">
                            <span>{{formatNumber(subScope.row.totalPrice)}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column label="计算口径">
                          <template slot-scope="subScope">
                            <span>{{subScope.row.caliber ? formatNumber(subScope.row.caliber)+subScope.row.caliberUnit : ''}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column label="经济指标">
                          <template slot-scope="subScope">
                            <div>
                              <span :class="(subScope.row.warningResult ? 'green' : 'red')" v-if="bindWarnRes(subScope.row)">{{formatNumber(subScope.row.econStd,true) || ''}}</span>
                              <span v-else>{{formatNumber(subScope.row.econStd,true) || '--/--'}}</span>
                            </div>
                          </template>
                        </el-table-column>
                        <el-table-column label="预警指标（系统均值）">
                          <template slot-scope="subScope">
                            <span v-if="subScope.row.calPrice">{{formatNumber(subScope.row.calPrice) + subScope.row.unit+'/'+subScope.row.caliberUnit}}</span>
                          </template>
                        </el-table-column>
                        <el-table-column label="预警范围">
                          <template slot-scope="subScope">
                            <span v-if="subScope.row.startV">{{subScope.row.startV}}% ~ {{subScope.row.endV}}%</span>
                          </template>
                        </el-table-column>
                        <el-table-column width="160" label="预警结果">
                          <template slot-scope="subScope">
                            <div v-if="subScope.row.warning" @click="warnInfo(subScope.row)">
                              差异率<span :class="'cp '+(subScope.row.warningResult ? 'green' : 'red')">{{subScope.row.warning}}%,</span>指标{{subScope.row.warningResult ? '正常' : '异常'}}
                            </div>
                          </template>
                        </el-table-column>
                        <el-table-column label="备注">
                          <template slot-scope="subScope">
                            <div v-if="!subScope.row.warningResult">
                              <span v-if="subScope.row.notes" @click="addRemark(subScope.row)">查看说明</span>
                              <span v-else class="cp orange" @click="addRemark(subScope.row)">+异常说明</span>
                            </div>
                          </template>
                        </el-table-column>
                      </el-table>
                    </template>
                  </el-table-column>
                  <!-- 子子项end -->
                  <el-table-column
                     label="序号">
                    <template slot-scope="subScope">
                      <span>{{subScope.row.seqId}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column prop="name" label="指标名称"> </el-table-column>
                  <el-table-column prop="typeName" label="指标分类">
                  </el-table-column>
                  <el-table-column label="造价金额（元）">
                    <template slot-scope="subScope">
                      <span>{{formatNumber(subScope.row.totalPrice)}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="计算口径">
                    <template slot-scope="subScope">
                      <span>{{subScope.row.caliber ? formatNumber(subScope.row.caliber)+subScope.row.caliberUnit : ''}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="经济指标">
                    <template slot-scope="subScope">
                      <div>
                        <span :class="(subScope.row.warningResult ? 'green' : 'red')" v-if="bindWarnRes(subScope.row)">{{formatNumber(subScope.row.econStd,true) || ''}}</span>
                        <span v-else>{{formatNumber(subScope.row.econStd,true) || '--/--'}}</span>
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column label="预警指标（系统均值）">
                    <template slot-scope="subScope">
                      <span v-if="subScope.row.calPrice">{{formatNumber(subScope.row.calPrice) + subScope.row.unit+'/'+subScope.row.caliberUnit}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="预警范围">
                    <template slot-scope="subScope">
                      <span v-if="subScope.row.startV">{{subScope.row.startV}}% ~ {{subScope.row.endV}}%</span>
                    </template>
                  </el-table-column>
                  <el-table-column width="160" label="预警结果">
                    <template slot-scope="subScope">
                      <div v-if="subScope.row.warning" @click="warnInfo(subScope.row)">
                        差异率<span :class="'cp '+(subScope.row.warningResult ? 'green' : 'red')">{{subScope.row.warning}}%,</span>指标{{subScope.row.warningResult ? '正常' : '异常'}}
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column label="备注">
                    <template slot-scope="subScope">
                      <div v-if="!subScope.row.warningResult">
                        <span v-if="subScope.row.notes" @click="addRemark(subScope.row)">查看说明</span>
                        <span v-else class="cp orange" @click="addRemark(subScope.row)">+异常说明</span>
                      </div>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-table-column>
            <!-- 子项end -->
            <el-table-column
              label="序号">
              <template slot-scope="scope">
                <span>{{scope.row.seqId}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="指标名称"> </el-table-column>
            <el-table-column prop="typeName" label="指标分类">
            </el-table-column>
            <el-table-column label="造价金额（元）">
              <template slot-scope="scope">
                <span>{{formatNumber(scope.row.totalPrice)}}</span>
              </template>
            </el-table-column>
            <el-table-column label="计算口径">
              <template slot-scope="scope">
                <span>{{scope.row.caliber ? formatNumber(scope.row.caliber)+scope.row.caliberUnit : ''}}</span>
              </template>
            </el-table-column>
            <el-table-column label="经济指标">
              <template slot-scope="scope">
                <div>
                  <span :class="(scope.row.warningResult ? 'green' : 'red')" v-if="bindWarnRes(scope.row)">{{formatNumber(scope.row.econStd,true) || ''}}</span>
                  <span v-else>{{formatNumber(scope.row.econStd,true) || '--/--'}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="预警指标（系统均值）">
              <template slot-scope="scope">
                <span v-if="scope.row.calPrice">{{formatNumber(scope.row.calPrice) + scope.row.unit+'/'+scope.row.caliberUnit}}</span>
              </template>
            </el-table-column>
            <el-table-column label="预警范围">
              <template slot-scope="scope">
                <span v-if="scope.row.startV">{{scope.row.startV}}% ~ {{scope.row.endV}}%</span>
              </template>
            </el-table-column>
            <el-table-column width="160" label="预警结果">
              <template slot-scope="scope">
                <div v-if="scope.row.warning" @click="warnInfo(scope.row)">
                  差异率<span :class="'cp '+(scope.row.warningResult ? 'green' : 'red')">{{scope.row.warning}}%,</span>指标{{scope.row.warningResult ? '正常' : '异常'}}
                </div>
              </template>
            </el-table-column>
            <el-table-column label="备注">
              <template slot-scope="scope">
                <div v-if="!scope.row.warningResult">
                  <span v-if="scope.row.notes" @click="addRemark(scope.row)">查看说明</span>
                  <span v-else class="cp orange" @click="addRemark(scope.row)">+异常说明</span>
                </div>
              </template>
            </el-table-column>
          </el-table>
          <div class="flex-cc mt-20" v-else>
            当前建设分类暂无指标预警设置方案，
            <span class="cp" style="font-weight:bold;" @click="$router.push('/targetSet/earlyWarn')">现在去设置>></span>
          </div>
        </div>
        <!-- 预警弹窗 -->
        <WarnDialog :tableWarnData="tableWarnData" :showWarnDialog="showWarnDialog" @closeDialog="showWarnDialog=false" />
        <!-- 异常说明弹窗 -->
        <el-dialog
          title="异常说明"
          :visible.sync="showRemarkDialog"
          width="460px"
          class="com-dialog my-dialog"
          :close-on-click-modal="false">
          <el-input
            type="textarea"
            resize="none"
            rows="7"
            placeholder="请输入"
            maxlength="1000"
            show-word-limit
            v-model="notes"
          ></el-input>
          <span slot="footer" class="dialog-footer">
            <el-button @click="showRemarkDialog = false">取消</el-button>
            <el-button type="primary" @click="saveRemark">保存</el-button>
          </span>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import DataCheck from "./components/DataCheck.vue";
import WarnDialog from "../components/warnDialog";
import {
  medicalReport,
  dataCheck,
  informationDetection,
  indicatorWarning,
  downloadReport,
  indicatorWarningNotes,
} from '@/api/project2.0'
export default {
  name: "testReport",
  components: { DataCheck, WarnDialog, },
  data() {
    return {
      curMenu: "检测汇总",
      totalTable1: [],
      totalTable2: [],
      totalTable3: [],
      totalTable4: [],
      details: {},       // 详情数据
      projectStageId: '',
      tableWarnData: '', // 预警弹窗数据
      showWarnDialog: false, // 是否显示预警弹窗
      showRemarkDialog: false, // 是否异常说明弹窗
      notes: '',
      setId: '',
      totalCount: 0,
    };
  },
  mounted() {
    this.projectStageId = this.$route.query.projectStageId
    this.details = this.$store.state.project.projectVisible || {}

    this.medicalReport()
    this.informationDetection()
    this.indicatorWarning()
  },
  methods: {
    bindWarnRes(item) {
       return item.warningResult !== null ? true : false
    },

    // 查看预警弹窗
    warnInfo(item) {
      let res = item && item.list ? item : ''
      if(!res) return
      console.log(res);
      this.showWarnDialog = true
      this.tableWarnData = res
    },

    // 切换tab
    changeMenu(item) {
      this.curMenu = item;
      if(item == '数据检查') {
        this.$nextTick(()=>{
          this.dataCheck()
        })
      }
    },

    // 跳转
    toDetail() {
      this.$router.push({
        path: '/project/detail',
        query: {
          changeFea: true
        }
      })
    },

    // 添加异常说明'
    addRemark(item) {
      this.showRemarkDialog = true
      this.notes = item.notes || ''
      this.setId = item.id
    },

    // 提交异常说明'
    saveRemark() {
      if(!this.notes) {
        this.$message({
          type: 'error',
          message: '请输入异常说明'
        })
        return
      }
      let params = {
        id: this.setId,
        notes: this.notes,
      }
      indicatorWarningNotes(params).then(res=>{
        if(res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message || '保存成功'
          })
          this.showRemarkDialog = false
          this.indicatorWarning()
        } else {
          this.$message({
            type: 'error',
            message: res.message || '保存失败'
          })
        }
      })
    },

    // 下载报告
    downloadReport() {
      let data = {
        projectStageId: this.projectStageId,
        pageSize: 10000,
        currentPage: 1,
        type: '',
      }
      downloadReport(data).then(res=>{
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: "text/csv;charset=utf-8;" }),
            sessionStorage.getItem("blob_filename") || "体检报告.xls"
          );
          return;
        }
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement("a");
          let _fileName =
            sessionStorage.getItem("blob_filename") || "体检报告.xls";
          a.download = _fileName;
          a.href = event.target.result;
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        };
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem("blob_filename");
        };
      })
    },

    medicalReport() {
      let data = {
        projectStageId: this.projectStageId,
        pageSize: 1000,
        currentPage: 1,
      }
      medicalReport(data).then(res=>{
        if(res.code == '01') {
          let resData = res.body
          this.totalTable1 = [
            {
              name: '数据检查',
              result: resData.dataCheck,
            },
            {
              name: '信息检测',
              result: resData.featureDetection,
            },
            {
              name: '指标预警',
              result: resData.warning,
            },
          ]
        }
      })
    },

    dataCheck() {
      let data = {
        type: this.$refs.datacheckRef.curMenu == '清单数据' ? 0 : 1,
        projectStageId: this.projectStageId,
        pageSize: this.$refs.datacheckRef.pageSize,
        currentPage: this.$refs.datacheckRef.currentPage,
      }
      dataCheck(data).then(res=>{
        if(res.code == '01') {
          this.totalTable2 = res.body.list
          this.totalCount = res.body.totalCount
        }
      })
    },

    informationDetection() {
      let data = {
        projectStageId: this.projectStageId,
        pageSize: 1000,
        currentPage: 1,
      }
      informationDetection(data).then(res=>{
        if(res.code == '01') {
          this.totalTable3 = res.body
        }
      })
    },

    indicatorWarning() {
      let data = {
        projectStageId: this.projectStageId,
        pageSize: 1000,
        currentPage: 1,
      }
      indicatorWarning(data).then(res=>{
        if(res.code == '01') {
          this.totalTable4 = [res.body]
        }
      })
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.test-report {
  min-height: calc(100vh - 54px);
  position: relative;
  .com-bg {
    top: -46px;
  }
  .top {
    width: 100%;
    margin-top: 10px;
    height: 160px;
    background: #fff;
    .img {
      margin-top: -37px;
      width: 100%;
      height: 73px;
      border-radius: 8px;
      .bg {
        position: absolute;
        top: -44px;
        left: 0px;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#DFF5FE));
        background: linear-gradient(0deg, #FFFFFF, #DFF5FE);
        display: flex;
        align-items: center;
        padding-left: 20px;
        .bread {
          color: #303133;
        }
        .el-icon {
          margin: 0 10px 0 15px;
          font-weight: bold;
          color: #777;
        }
        .active {
          color: $color-primary;
        }
      }
    }
    .top-content {
      display: flex;
      align-items: center;
      padding-left: 54px;
      .top-tips {
        margin-left: 30px;
        font-size: 22px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #333333;
        line-height: 36px;
        background: url("~@/assets/img/v2.0/tiao.png") 10% 100% repeat-x;
      }
    }
    .down-btn {
      margin-right: 20px;
      padding: 5px 10px;
      border-radius: 6px;
      color: $color-danger;
      border: 1px solid $color-danger;
    }
  }
  .test-tabs {
    margin-top: 10px;

    .com-menu-wrap .m-item {
      width: 235px;
      .t-line {
        width: 235px;
      }
    }
    .tab-content {
      padding: 0 20px 20px 20px;
      background: #fff;
      min-height: 60vh;
      .com-table-wrap {
        padding: 36px 20px;
      }
      .red {
        color: $color-danger;
      }
      .orange {
        color: $color-minor;
      }
    }
  }
}
</style>
<style lang="scss">

</style>
