<template>
  <div class="login-container">
    <!-- 背景图 -->
    <img class="login-bg" src="@/assets/img/home/login_bg.png" alt="">
    <!-- 登录 -->
    <div class="login-wrap">
      <!-- 左侧欢迎语 -->
      <div class="left-welcome">
        <div class="left-content">
          <p class="l-w">WELCOME!</p>
          <p class="l-t">造价信息管理系统与共享平台</p>
        </div>
      </div>
      <!-- 右侧表单 -->
      <div class="login-form">
        <el-form :model="loginForm" class="form" auto-complete="on" label-position="left">
          <div class="tip">登录</div>
          <el-form-item prop="username" :class="{'is-focus': isFocus == 'f-u'}">
            <el-input
              @focus="focusEvent('f-u')"
              @blur="blurEvent()"
              v-model="loginForm.userAccount"
              placeholder="请输入账号或账号名称"
              type="text"
              tabindex="1"
              auto-complete="on"
            >
              <template slot="prepend">
                <img class="icon-img" src="@/assets/img/home/account.png" alt="">
              </template>
            </el-input>
          </el-form-item>

          <el-form-item prop="password" :class="{'is-focus': isFocus == 'f-p'}">
            <el-input
              @focus="focusEvent('f-p')"
              @blur="blurEvent()"
              v-model="loginForm.userPwd"
              placeholder="请输入密码"
              type="password"
              tabindex="2"
              auto-complete="on"
              @keyup.enter.native="handleLogin"
            >
              <template slot="prepend">
                <img class="icon-img" src="@/assets/img/home/password.png" alt="">
              </template>
            </el-input>
          </el-form-item>

          <el-form-item class="code-item" prop="code">
            <div class="left-code" :class="{'is-focus': isFocus == 'f-c'}">
              <el-input
                @focus="focusEvent('f-c')"
                @blur="blurEvent()"
                v-model="loginForm.verifyCode"
                placeholder="请输入验证码"
                type="text"
                tabindex="3"
                maxlength="4"
                auto-complete="on"
                @keyup.enter.native="handleLogin"
                class="code-input"
              />
            </div>

            <img class="code-img" :src="codeImg" alt="" @click="getCodeImg">
          </el-form-item>

          <el-button :loading="loading" type="primary" class="login-btn" @click.native.prevent="handleLogin">登录</el-button>

        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import {
  authImg,
  getSysInfo,
} from '@/api/user'
import store from '@/store'
// 加密, 创建一个加密对象 使用该对象需要先引入jsencrypt.js文件,获取公钥publickey
// import  jsencrypt from '@/utils/jsencrypt.min.js';
// var encryptor = new JSEncrypt();
// encryptor.setPublicKey(publickey)
// encryptor.encrypt(password)
export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        userAccount: '',
        userPwd: '',
        verifyCode: ''
      },
      isFocus: '',
      codeImg: '',
      loading: false,
      redirect: undefined
    }
  },

  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },

  mounted() {
    this.getCodeImg()
  },

  methods: {
    // 获取图形验证码
    getCodeImg() {
      authImg().then(res => {
        // 后台返回二进制流，转换成base64渲染
        this.codeImg = "data:image/png;base64," + btoa(
          new Uint8Array(res).reduce(
            (res, byte) => res + String.fromCharCode(byte), ""
          )
        )
      })
    },

    // input框聚焦
    focusEvent(type) {
      this.isFocus = type
    },
    blurEvent() {
      this.isFocus = ''
    },

    // 登录
    handleLogin() {
      if (!this.loginForm.userAccount) {
        this.$message({
          type: 'error',
          message: '请输入账号'
        })
        return
      } else if (!this.loginForm.userPwd) {
        this.$message({
          type: 'error',
          message: '请输入密码'
        })
        return
      } else if (!this.loginForm.verifyCode) {
        this.$message({
          type: 'error',
          message: '请输入验证码'
        })
        return
      }
      if(this.loading) {
        return
      }
      this.loading = true

      this.$store.dispatch('user/login', this.loginForm).then((res) => {
        // 查询系统信息
        getSysInfo().then(res => {
          this.loading = false
          if (res.code == '01') {
            try{
              sessionStorage.setItem('belong_company', res.body.belongCompany)
              store.commit('user/SET_BELONG_COMPANY', res.body.belongCompany)
              sessionStorage.setItem('sys_name', res.body.sysName)
              store.commit('user/SET_SYS_NAME', res.body.sysName)
              sessionStorage.setItem('sys_uuid', res.body.sysUuid)
              store.commit('user/SET_SYS_UUID', res.body.sysUuid)
              sessionStorage.setItem('version', res.body.version)
              store.commit('user/SET_VERSION', res.body.version)
              sessionStorage.setItem('technical_support', res.body.technicalSupport)
              store.commit('user/SET_TECHNICAL_SUPPORT', res.body.technicalSupport)
              sessionStorage.setItem('update_time', res.body.updateTime)
              store.commit('user/SET_UPDATE_TIME', res.body.updateTime)
            }catch(err){

            }
            let sysInfo = res.body ? '1' : '2'
            this.$router.push({
              path: this.redirect || '/' ,
              query: {
                sysInfo: sysInfo
              }
            })
          } else {
            this.getCodeImg()
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        }).catch(err => {
          this.loading = false
          this.getCodeImg()
        })
      }).catch((err) => {
        this.getCodeImg()
        this.loading = false
        // 不触发全局err拦截，需手动设置
        this.$message({
          type: 'error',
          message: err.message
        })
      })
    }
  },
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.login-container {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  .login-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .is-focus {
    border: 2px solid #2773fc !important;
  }
  .login-wrap {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 480px;
    box-shadow: 0px 5px 15px 0px rgba(0, 9, 101, 0.3);
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('../../assets/img/home/btn_bg.png');
    background-size: 100% 100%;
    .left-welcome {
      position: relative;
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      .left-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        margin-left: 7%;
        .l-w {
          font-size: 52px;
          font-family: Helvetica;
          font-weight: bold;
          color: #FFFFFF;
          letter-spacing: -2px;
        }
        .l-t {
          font-size: 26px;
          color: #ffffff;
          margin-top: 10px;
        }
      }
    }
  }

  .login-form {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding-top: 90px;
    .form{
      position: relative;
      width: 80%;
      left: 10%;
      .tip{
        font-size: 20px;
        padding-bottom: 8px;
        margin-bottom: 25px;
        border-bottom: 1px solid #EAEDF2;
      }
      .login-btn{
        font-weight: 500;
        color: #ffffff;
        width: 100%;
        height: 50px;
        font-size: 20px;
        background: #354F7C;
        border-radius: 5px;
      }
    }
  }
}
</style>

<style lang="scss">

$cursor: #333333;
@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 40px;
    display: flex;
    // width: 85%;

    .el-input-group__prepend{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F3F9FE;
      width: 54px;
      border-right: 2px solid #E2E2E2
    }

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 8px 5px 8px 15px;
      height: 40px;
      caret-color: $cursor;

      &:-webkit-autofill {
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 2px solid #E2E2E2;
    border-radius: 5px;
    box-sizing: border-box;

    &.code-item {
      border: 0 none !important;
      margin-bottom: 39px;
      .el-form-item__content{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        &::before{
          display: none;
        }
      }
      .code-img{
        height: 46px;
      }
      .left-code {
        border: 2px solid #E2E2E2;
        width: 168px;
        height: 40px;
        border-radius: 5px;
        box-sizing: content-box;
      }
    }
  }
}
</style>
