<template>
  <div class="info-set-container">
    <div class="com-up-wrap pd-50">
      <!-- 配置周期 -->
      <div class="config-wrap">
        <span class="c-text">您好，欢迎使用，在开始前，我们需要您配置如下内容</span>
        <span class="c1-text">后续若有改动可前往设置中心修改</span>
        <div class="flex-cw config-ipt config-bg pd-20">
          <ul>
            <li class="set-period">配置周期</li>
            <li class="flex-c">
              <div class="flex-c top-li">
                <img v-if="curCycle === '0'" src="@/assets/img/icons/checked_icon.png" alt="">
                <img v-else src="@/assets/img/icons/check_icon.png" alt="" @click="changeCycle('0')">
                <span>按<span>天</span>配置</span><span class="com-alt">占</span>
              </div>
              <div class="flex-cc bottom-li">
                <span>以</span>
                <el-input v-model="day" :disabled="curCycle !== '0'" @input="checkValue('day')" />
                <span>天为一个信息价周期</span>
              </div>
              <div v-if="curCycle === '0' && day === ''" class="tips">请输入大于等于1小于等于365的整数</div>
            </li>
            <li class="flex-c">
              <div class="flex-c top-li">
                <img v-if="curCycle == '1'" src="@/assets/img/icons/checked_icon.png" alt="">
                <img v-else src="@/assets/img/icons/check_icon.png" alt="" @click="changeCycle('1')">
                <span>按<span>周</span>配置</span><span class="com-alt">占</span>
              </div>
              <div class="flex-cc bottom-li">
                <span>以</span>
                <el-input v-model="week" :disabled="curCycle != '1'" @input="checkValue('week')" />
                <span>周为一个信息价周期</span>
              </div>
              <div v-if="curCycle === '1' && week === ''" class="tips">请输入大于等于1小于等于52的整数</div>
            </li>
            <li class="flex-c">
              <div class="flex-c top-li">
                <img v-if="curCycle == '2'" src="@/assets/img/icons/checked_icon.png" alt="">
                <img v-else src="@/assets/img/icons/check_icon.png" alt="" @click="changeCycle('2')">
                <span>按<span>月</span>配置</span><span class="com-alt">占</span>
              </div>
              <div class="flex-cc bottom-li">
                <span>以</span>
                <el-input v-model="month" :disabled="curCycle != '2'" @input="checkValue('month')" />
                <span>月为一个信息价周期</span>
              </div>
              <div v-if="curCycle === '2' && month === ''" class="tips">请输入大于等于1小于等于12的整数</div>
            </li>
            <li class="flex-c">
              <div class="flex-c top-li">
                <img v-if="curCycle == '3'" src="@/assets/img/icons/checked_icon.png" alt="">
                <img v-else src="@/assets/img/icons/check_icon.png" alt="" @click="changeCycle('3')">
                <span>按<span>季度</span>配置</span>
              </div>
              <div class="flex-cc bottom-li">
                <span>以</span>
                <el-input v-model="season" :disabled="curCycle != '3'" @input="checkValue('season')" />
                <span>季度为一个信息价周期</span>
              </div>
              <div v-if="curCycle === '3' && season === ''" class="tips">请输入大于等于1小于等于4的整数</div>
            </li>
            <li class="flex-c">
              <div class="flex-c top-li">
                <img v-if="curCycle == '4'" src="@/assets/img/icons/checked_icon.png" alt="">
                <img v-else src="@/assets/img/icons/check_icon.png" alt="" @click="changeCycle('4')">
                <span>按<span>年</span>配置</span><span class="com-alt">占</span>
              </div>
              <div class="flex-cc bottom-li">
                <span>以</span>
                <el-input v-model="year" disabled @input="checkValue('year')" />
                <span>年为一个信息价周期</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- 配置周期 end -->

      <div class="config-wrap config-bg pd-20">
        <span class="m-text">配置周期开始时间</span>
        <div class="com-time-search com-blue-icon">
          <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="changeDate" />
        </div>
      </div>
      <el-button :disabled="isUpdate" class="btn" type="primary" :loading="submitLoading" @click="submitSet">提交设置</el-button>
    </div>

    <!-- 提交设置弹窗 -->
    <el-dialog title="提交设置" :visible.sync="confirmSubDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/icons/war_icon.png" alt="">
        <p class="fw-b mb-5 w-260 m-auto">{{ errMsg }}</p>
      </div>
      <span slot="footer" class="btn-wrap">
        <span class="p-color cp mr-10" @click="skipMatPriceDetail">去查看</span>
        <el-button type="primary" :loading="confirmLoading" @click="confirmSubmit">确认变更</el-button>
      </span>
    </el-dialog>
    <!-- 提交设置弹窗 end-->

    <!-- 清除周期 -->
    <el-dialog title="清除周期" :visible.sync="showResetCycleDialog" :close-on-click-modal="false" width="391px" class="com-dialog">
      <div class="mb-20 com-radio-wrap com-input reset-period">
        <div class="mb-20 com-text">是否清除历史遗留空白周期</div>
        <div class="flex-c mb-20">
          <el-radio v-model="resetRadio" label="不清除周期" />
        </div>
        <div class="flex-c mb-10">
          <el-radio v-model="resetRadio" label="选择开始清除的周期" />
        </div>
        <el-select v-model="curPeriod" :disabled="resetRadio == '不清除周期'">
          <el-option v-for="item in periodList" :key="item.period" :label="item.howPeriod" :value="item.period" />
        </el-select>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="showResetCycleDialog = false">取消</el-button>
        <el-button type="primary" :loading="submitLoading" @click="confirmReset">确定</el-button>
      </span>
    </el-dialog>
    <!-- 清除周期 end -->
  </div>
</template>

<script>
// import {
//   getInitializationSettById,
//   updInitializationSett,
//   delPeriodPrice
// } from '@/api/user'
// import { getCycleInfo } from '@/api/collectTemplate'
import { formatDate } from '@/utils/common'

export default {
  name: 'InfoSet',
  data() {
    return {
      id: '',
      day: '', // 天
      week: '', // 周
      month: '', // 月
      season: '', // 季
      year: '', // 年
      curCycle: '', // 0:天,1:周,2:月,3:季度,4:年
      modeRadio: '', // 是否设置统一模板(0:否 ,1:是)
      startDate: '', // 开始时间
      modeDays: '',
      modeHours: '',
      curOption: '',
      submitLoading: false,
      confirmSubDialog: false,
      confirmLoading: false,
      errMsg: '',
      showResetCycleDialog: false,
      resetRadio: '不清除周期',
      periodList: [],
      curPeriod: '',
      oldStartDate: '',
      isUpdate: true
    }
  },
  mounted() {
    this.getInitInfo()
  },
  methods: {
    changeDate() {
      this.isUpdate = false
    },
    // 确认变更
    confirmSubmit() {
      var num = ''
      if (this.curCycle == '0') {
        num = this.day
      } else if (this.curCycle == '1') {
        num = this.week
      } else if (this.curCycle == '2') {
        num = this.month
      } else if (this.curCycle == '3') {
        num = this.season
      } else if (this.curCycle == '4') {
        num = this.year
      }
      var data = {
        id: this.id,
        num: num,
        startDate: formatDate(this.startDate),
        type: this.curCycle
      }

      this.confirmLoading = true
      delPeriodPrice(data)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.confirmSubDialog = false
            this.showResetCycleDialog = false
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.confirmLoading = false
        })
    },
    skipMatPriceDetail() {
      this.$router.push('/materialManage/index')
    },
    // 清空内容
    clearContent(type) {
      if (type == 'header') {
        this.headerContent = ''
      } else {
        this.footerContent = ''
      }
    },
    // 验证输入
    checkValue(type) {
      switch (type) {
        case 'day':
          // 清除"数字"以外的字符
          this.day = this.day.replace(/[^\d]/g, '')
          if (this.day == '') {
            this.isUpdate = true
            return
          }
          if (this.day < 1) {
            this.day = 1
          }
          if (this.day > 365) {
            this.day = 365
          }
          break
        case 'week':
          this.week = this.week.replace(/[^\d]/g, '')
          if (this.week == '') {
            this.isUpdate = true
            return
          }
          if (this.week < 1) {
            this.week = 1
          }
          if (this.week > 52) {
            this.week = 52
          }
          break
        case 'month':
          this.month = this.month.replace(/[^\d]/g, '')
          if (this.month == '') {
            this.isUpdate = true
            return
          }
          if (this.month < 1) {
            this.month = 1
          }
          if (this.month > 11) {
            this.month = 11
          }
          break
        case 'season':
          this.season = this.season.replace(/[^\d]/g, '')
          if (this.season == '') {
            this.isUpdate = true
            return
          }
          if (this.season < 1) {
            this.season = 1
          }
          if (this.season > 3) {
            this.season = 3
          }
          break
        case 'year':
          this.year = this.year.replace(/[^\d]/g, '')
          if (this.year == '') {
            this.isUpdate = true
            return
          }
          if (this.year < 1) {
            this.year = 1
          }
          if (this.year > 1) {
            this.year = 1
          }
          break
        case 'modeDays':
          this.modeDays = this.modeDays.replace(/[^\d]/g, '')
          break
      }
      this.isUpdate = false
    },
    // 更新初始化信息
    updateInit(data) {
      this.submitLoading = true
      updInitializationSett(data)
        .then(res => {
          this.submitLoading = false
          if (res.code == '01') {
            sessionStorage.setItem('init_start_date', this.startDate)
            this.$store.commit('user/SET_INIT_START_DATE', this.startDate)
            this.showResetCycleDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
          } else if (res.code == '8020') {
            this.errMsg = res.message
            this.confirmSubDialog = true
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.submitLoading = false
        })
    },
    // 是否清楚周期
    confirmReset() {
      var num = ''
      if (this.curCycle == '0') {
        num = this.day
      } else if (this.curCycle == '1') {
        num = this.week
      } else if (this.curCycle == '2') {
        num = this.month
      } else if (this.curCycle == '3') {
        num = this.season
      } else if (this.curCycle == '4') {
        num = this.year
      }
      var isRemove = this.resetRadio == '不清除周期' ? 0 : 1
      var data = {
        id: this.id,
        num: num,
        startDate: formatDate(this.startDate),
        type: this.curCycle,
        isRemove: isRemove
      }
      if (isRemove === 1) {
        if (!this.curPeriod) {
          this.$message({
            type: 'error',
            message: '请选择开始清除的周期'
          })
          return
        }

        data.removePeriod = this.curPeriod
      }

      this.updateInit(data)
    },
    // 提交设置
    submitSet() {
      if (!this.curCycle) {
        this.$message({
          type: 'error',
          message: '请配置周期'
        })
        return
      } else if (!this.startDate) {
        this.$message({
          type: 'error',
          message: '请配置周期启动时间'
        })
        return
      }

      this.resetRadio = '不清除周期'
      this.curPeriod = ''
      this.showResetCycleDialog = true
      // let params = {
      //     endDate: formatDate(this.startDate),
      //     startDate: formatDate(this.oldStartDate)
      // }
      getCycleInfo().then(res => {
        if (res.code == '01') {
          this.periodList = res.body || []
        }
      })
    },
    // 查询初始化信息
    getInitInfo() {
      getInitializationSettById().then(res => {
        if (res.code == '01') {
          this.id = res.body.id
          this.startDate = formatDate(res.body.startDate)
          this.oldStartDate = formatDate(res.body.startDate)
          this.curCycle = res.body.type
          var num = res.body.num
          if (this.curCycle == '0') {
            this.day = num
          } else if (this.curCycle == '1') {
            this.week = num
          } else if (this.curCycle == '2') {
            this.month = num
          } else if (this.curCycle == '3') {
            this.season = num
          } else if (this.curCycle == '4') {
            this.year = num
          }
        }
      })
    },
    // 修改配置周期
    changeCycle(type) {
      if (this.curCycle != type) {
        this.isUpdate = false
      }
      this.curCycle = type
      if (this.curCycle == '0') {
        this.day = 10
      } else if (this.curCycle == '1') {
        this.week = 2
      } else if (this.curCycle == '2') {
        this.month = 1
      } else if (this.curCycle == '3') {
        this.season = 1
      } else if (this.curCycle == '4') {
        this.year = 1
      }
    },
    // 修改统一模板
    changeMode(type) {
      this.modeRadio = type
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.info-set-container {
  .pd-50 {
    padding: 50px;
  }
  .com-up-wrap {
    border-radius: 6px;
    .c-text {
      margin-bottom: 20px;
      display: block;
      font-weight: bold;
      font-size: 32px;
      font-family: Microsoft YaHei;
      font-weight: bold;
      color: #121e2c;
      span {
        margin-left: 11px;
        color: #666;
        font-weight: 400;
        font-size: 18px;
      }
    }
    .c1-text {
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #121e2c;
    }
    .m-text {
      margin-bottom: 20px;
      display: block;
      font-size: 14px;
      color: #666;
      font-weight: bold;
    }
    .config-wrap {
      .submit-btn {
        margin: 20px 0 10px 0;
        width: 138px;
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        padding: 0;
      }
    }
    .config-wrap {
      margin-bottom: 20px;
      ul {
        .set-period {
          font-size: 16px;
          font-family: Microsoft YaHei;
          font-weight: bold;
          color: #333333;
        }
        li {
          margin-bottom: 20px;
          position: relative;
          font-size: 14px;
          .top-li {
            margin-right: 9px;
            color: $color-primary;
            img {
              margin-right: 10px;
              cursor: pointer;
            }
          }
          .bottom-li {
            color: #666;
          }
          .tips {
            color: $color-danger;
            font-size: 14px;
            position: absolute;
            left: 30px;
            bottom: -20px;
          }
        }
      }
    }
    .auto-issue {
      .m-day {
        padding: 0 20px;
        margin-top: 20px;
        width: 100%;
        height: 54px;
        background: #f8fbff;
        font-size: 14px;
        color: #666;
      }
    }
    .export-file {
      margin-bottom: 30px;
      ul {
        li {
          position: relative;
          margin-bottom: 10px;
          max-width: 190px;
          min-width: 190px;
          height: 80px;
          border: 1px solid #b9c6dc;
          border-radius: 4px;
          font-size: 14px;
          color: #333;
          cursor: pointer;
          box-sizing: border-box;
          &:hover {
            border: 1px solid $color-primary;
            box-shadow: 0 1px 11px #d8d8d8;
            .tr-wrap {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
            }
          }
          .el-icon-plus {
            font-size: 30px;
            font-weight: bold;
            color: #b9c6dc;
          }
          .tr-wrap {
            display: none;
            position: absolute;
            right: -27px;
            top: -1px;
            width: 27px;
            height: 48px;
            border: 1px solid $color-primary;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            box-sizing: border-box;
            img {
              width: 14px;
              height: 14px;
              cursor: pointer;
            }
          }
        }
        .file-item {
          .f-div {
            width: 100%;
            height: 50%;
            box-sizing: border-box;
            &:first-child {
              padding: 0 5px;
              line-height: 40px;
              text-align: center;
            }
            &.ff-div {
              color: #999;
              background: #f7f7f7;
            }
          }
        }
      }
    }
  }
  .com-dialog {
    font-size: 14px;
  }
  .set-wrap {
    ul {
      padding: 10px;
      position: relative;
      width: 398px;
      border: 1px solid #cad6e1;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: 30px;
      box-sizing: border-box;
      &:hover {
        border: 1px solid $color-primary;
        box-shadow: 0 1px 11px #d8d8d8;
        .tr-wrap {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }
      }
      .tr-wrap {
        display: none;
        position: absolute;
        right: -27px;
        top: -1px;
        width: 27px;
        height: 48px;
        border: 1px solid $color-primary;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-sizing: border-box;
        img {
          width: 14px;
          height: 14px;
          cursor: pointer;
        }
      }
      input {
        width: 100%;
      }
    }
  }
  .close-text {
    left: 25px;
  }
  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.config-bg {
  width: 984px;
  background: rgba(0, 144, 212, 0.05);
  border-radius: 4px;
}
.btn {
  width: 110px;
  height: 42px;
  background: #0090d4;
  border-radius: 4px;
}
</style>

<style lang="scss">
.info-set-container {
  .config-ipt,
  .m-day {
    .el-input {
      margin: 0 8px;
      width: 60px;
      height: 34px;
      border-radius: 3px;
      .el-input__inner {
        width: 100%;
        height: 100%;
      }
    }
  }
  .config-ipt {
    padding-left: 30px;
  }
  .m-day {
    .el-input {
      width: 56px;
      height: 28px;
      border-radius: 5px;
    }
  }
}
</style>

<style lang="scss">
.info-set-container {
  .reset-period {
    .el-select {
      width: 268px;
    }
    .el-input--suffix .el-input__inner {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .el-input__suffix {
      right: 5px;
    }
  }
}
</style>
