<template>
  <section class="app-main">
    <div class="bread-wrap" v-show="$route.name !== 'Dashboard'">
      <Breadcrumb />
    </div>

    <transition name="fade-transform" mode="out-in">
      <router-view :key="key" />
    </transition>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb'
import MFooter from '@/components/MFooter'

export default {
  name: 'AppMain',
  components: {
    Breadcrumb,
    MFooter
  },
  computed: {
    key() {
      return this.$route.path
    }
  }
}
</script>

<style lang="scss" scoped>
.app-main {
  /*60 = navbar  */
  min-height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #E5F1FF;
  .bread-wrap { 
    margin-left: 20px;
  }
}
.fixed-header+.app-main {
  padding-top: 50px;
}
</style>

<style lang="scss">
// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}
</style>
