.m-color {
  color: #6cc6f7;
}
.suc-color {
  color: #8cc929;
}
.g-color {
  color: #19ca3b;
}
.c-minor {
  color: $color-minor;
}
.r-color {
  color: $color-danger !important;
}
.p-color {
  color: $color-primary !important;
}
.w-color {
  color: #fff !important;
}
.b-color {
  color: #006493;
}
.minor-color {
  color: $color-minor !important;
}
.red {
  color: #f13a3f !important;
}
.blue {
  color: #0a7dff;
}
.yellow {
  color: #ffaa31;
}
.orange {
  color: #ff7800;
}
.gray {
  color: #999999;
}
.green {
  color: #28de2c;
}
.red-btn {
  cursor: pointer;
  color: $color-danger !important;
}
.blue-btn {
  cursor: pointer;
  color: $color-primary;
}
.c-3 {
  color: $table-color;
}
.c-6 {
  color: #666 !important;
}
.c-8 {
  color: #888;
}
.c-9 {
  color: #999;
}
.c-ora {
  color: #f9a147;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-3 {
  padding-top: 3px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-3 {
  padding-bottom: 3px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pr-11 {
  padding-right: 11px;
}
.pr-12 {
  padding-right: 12px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-28 {
  padding-right: 28px;
}
.pl-0 {
  padding-left: 0 !important;
}
.pl-20 {
  padding-left: 20px;
}
.pl-33 {
  padding-left: 33px;
}
.pd-20 {
  padding: 20px;
}
.p-0 {
  padding: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-13 {
  margin-bottom: 13px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-11 {
  margin-top: 11px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-29 {
  margin-top: 29px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-46 {
  margin-top: 46px;
}
.mt-48 {
  margin-top: 48px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-33 {
  margin-left: 33px;
}
.ml-22 {
  margin-left: 22px;
}
.ml-26 {
  margin-left: 26px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-5 {
  margin-left: 5px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-9 {
  margin-left: 9px;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mr-2 {
  margin-right: 2px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-11 {
  margin-right: 11px !important;
}
.mr-13 {
  margin-right: 13px;
}
.mr-14 {
  margin-right: 14px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-26 {
  margin-right: 26px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-44 {
  margin-right: 44px;
}
.mr-75 {
  margin-right: 75px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-12 {
  padding-left: 12px;
}
.pl-14 {
  padding-left: 14px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-17 {
  padding-left: 17px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-36 {
  padding-left: 36px;
}
.pl-40 {
  padding-left: 40px;
}
.td-u {
  text-decoration: underline;
}
.nw {
  white-space: nowrap;
}
.va-m {
  vertical-align: middle;
}
.ellipsis1 {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cp {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }
}
.c-na {
  cursor: not-allowed;
}
.b0 {
  border: 0 !important;
}
.br {
  border-right: 1px solid #e6e6e6;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center !important;
}
.d-block {
  display: block;
}
.pr {
  position: relative;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-b {
  font-weight: 700 !important;
}
.text-22 {
  font-size: 22px !important;
}
.text-16 {
  font-size: 16px !important;
}
.text-14 {
  font-size: 14px !important;
}
.text-12 {
  font-size: 12px !important;
}
.us-n {
  user-select: none;
}
.w-54 {
  width: 54px;
}
.w-60 {
  width: 60px;
}
.w-68 {
  width: 68px;
}
.w-74 {
  width: 74px;
}
.w-80 {
  width: 80px;
}
.w-114 {
  width: 114px;
}
.w-260 {
  width: 260px !important;
}
.w-274 {
  width: 274px !important;
}
.w-277 {
  width: 277px !important;
}
.w-288 {
  width: 288px !important;
}
.w-394 {
  width: 394px;
}
.h-28 {
  height: 28px;
}
.m-auto {
  margin: 0 auto !important;
}
// 全局flex布局样式
._flex {
  display: flex;
}
.flex-c {
  display: flex;
  align-items: center;
}
.flex-cc,
.flex-cc > span,
.flex-c > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-ccw {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-csb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-fsb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-fsc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.flex-cw {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-fs {
  display: flex;
  align-items: flex-start;
}
.flex-cwsb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-fe {
  display: flex;
  justify-content: flex-end;
}
.flex-fd-c {
  display: flex;
  flex-direction: column;
}
.flex-fd-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// 全局自定义element-ui样式
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: none;
  border: 1px solid #b9c6dc;
  border-radius: 5px;
}
.com-page-btn {
  margin-left: 12px;
  width: 50px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  background: $color-primary;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: $color-primary;
  border: none;
}

// 表格样式自定义
.el-table .has-gutter th,
.el-table .has-gutter tr {
  // background: #F7F7F7;
  color: $table-color;
  font-weight: bold;
  font-family: "mainfont";
}
.el-table .el-checkbox__inner {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.el-table .el-checkbox__inner::after {
  height: 6px;
  left: 6px;
  top: 3px;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
}
.el-table .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  height: 3px;
  top: 6px;
}

.el-input__prefix {
  right: 5px;
  left: unset;
}
.el-input__suffix {
  right: 22px;
}
.el-input--prefix .el-input__inner {
  padding-left: 12px;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-primary;
  border-color: $color-primary;
}

.el-button--primary {
  background: $color-primary;
  border: 0px;
}
.el-message-box__btns .el-button--primary {
  background: $color-primary;
}

.com-radio-wrap {
  .el-radio__input.is-checked .el-radio__inner {
    background: #fff;
  }
  .el-radio__inner::after {
    width: 8px;
    height: 8px;
    background: $color-primary;
  }
}

.com-time-search {
  .el-date-editor.el-input {
    // box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 5px;
  }
  .el-date-editor.el-input,
  .el-date-editor .el-input__inner {
    width: 161px;
    height: 36px;
    border-radius: $input-border-radius;

    // border: 1px solid #DCDFE6;

    border: none;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  }
  .el-input__icon {
    line-height: 32px;
  }
}

.com-blue-icon {
  .el-input__icon {
    font-weight: bold;
    color: $color-primary;
  }
}

// el-dialog弹窗自定义样式
.com-dialog {
  .label-text {
    margin-right: 10px;
    white-space: nowrap;
    color: $table-color;
    font-size: 14px;
    display: block;
    text-align: right;
    min-width: 80px;
    max-width: 80px;
    > span {
      color: red;
    }
  }
  .el-dialog__body {
    padding: 30px;
  }
  .el-dialog__footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #efefef;
  }
  .el-dialog__header {
    padding: 10px;
    background: #efefef;
    font-size: 16px;
    color: $table-color;
    font-weight: bold;
    .el-dialog__title {
      font-size: 16px;
      color: $table-color;
      font-weight: bold;
    }
  }
  .el-dialog__headerbtn {
    top: 10px;
  }
  .el-dialog__headerbtn .el-dialog__close {
    font-size: 18px;
    color: $table-color;
    font-weight: bold;
  }

  .el-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: "";
      width: 100px;
    }
  }
  .el-checkbox {
    margin-bottom: 10px;
    margin-right: 0;
    width: 100px;
  }

  .dialog-footer {
    button {
      padding: 0;
      width: 122px;
      height: 34px;
      line-height: 34px;
      border-radius: 22px;
      font-size: 16px;
      &.el-button--default {
        margin-right: 30px;
      }
    }
    button.b-btn {
      width: unset;
      padding: 0 8px;
    }
  }
}
.com-dialog2 {
  .is-edit {
    padding: 12px 20px;
    margin: 0 auto;
    width: 93%;
    height: 62px;
    background: rgba(205, 205, 205, 0.3);
    border-radius: 4px;
    p {
      span {
        color: #999;
        font-size: 12px;
        &:last-child {
          color: #333;
        }
      }
    }
  }
  .label-text {
    max-width: 100px;
    min-width: 100px;
    color: #999;
    font-size: 14px;
    &.w-80 {
      max-width: 80px;
      min-width: 80px;
    }
  }
  .el-select {
    width: 100%;
  }
  &.w-125 .label-text {
    max-width: 125px;
    min-width: 125px;
  }
  .d-content {
    font-size: 14px;
    color: #333;
  }
  .el-dialog__header {
    background: #fff;
    .el-dialog__title {
      font-size: 14px;
      font-weight: bold;
      color: #333;
    }
    .el-dialog__close {
      color: #164b7b;
    }
  }
  .el-dialog__body {
    padding: 20px 18px;
  }
  .el-dialog__footer {
    border-top: 0;
  }
  .dialog-footer {
    button {
      &:first-child {
        color: $color-primary;
      }
      padding: 0;
      width: 112px;
      height: 34px;
      line-height: 34px;
      border-radius: 4px;
      border: 1px solid $color-primary;
    }
  }
  .el-checkbox {
    margin-bottom: 0;
  }
}

.com-dialog3 {
  .el-table .has-gutter th {
    background: #eff2f7 !important;
    color: #999;
    font-size: 12px;
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background: none !important;
  }
  .el-input__suffix {
    right: -5px;
  }
}

.com-checkbox {
  .el-checkbox__inner {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background: #ccc;
  }
  .el-checkbox__inner::after {
    height: 6px;
    left: 7px;
    top: 4px;
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    height: 3px;
    top: 6px;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $table-color;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background: #666;
  }
}
.com-checkbox2 {
  .el-checkbox {
    margin-bottom: 27px;
  }
  .el-checkbox__inner {
    border: 1px solid #d8dfec;
    background: #fff;
    &::after {
      left: 6px;
      top: 3px;
    }
  }
}

.com-input {
  input {
    height: 34px;
  }
  .el-input__icon {
    height: 34px;
    line-height: 34px;
  }
}
.com-s-input {
  input {
    height: 24px;
  }
}

.com-small-input {
  margin: 20px 0px;
  border-radius: 5px;
  font-size: 14px;
  .el-input {
    margin: 0 8px;
    width: 60px;
    height: 32px;
    .el-input__inner {
      width: 100%;
      height: 100%;
    }
  }
  .el-input__icon {
    line-height: 22px;
  }
  .el-input__suffix {
    right: 4px;
  }
  .el-icon-arrow-up:before {
    content: "\e78f";
  }
}

// 自定义el-select样式
.com-select {
  .el-select {
    width: 100%;
  }
  .el-input__suffix {
    position: absolute;
    right: 0;
    width: 66px;
  }
  .el-select .el-input .el-select__caret::before {
    content: "\e78f";
    color: $color-primary;
  }
  .el-input__inner {
    border-radius: $input-border-radius;
    // border: 1px solid #DCDFE6;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  }
}

// 自定义el-tree
.com-tree-wrap {
  .el-tree-node__content {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
  }
  .custom-tree-node {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .custom-edit-ipt {
    width: 30%;
    input {
      height: 32px;
    }
  }
}

.com-search {
  padding: 0 20px 0 0;
  margin: 0 0 20px 20px;
  display: flex;
  align-items: center;
  width: 335px;
  height: 34px;
  border-radius: $input-border-radius;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  overflow: hidden;
  .search-ipt {
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .search-btn {
    padding: 0;
    width: 86px;
    height: 34px;
    text-align: center;
    background: $color-primary;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 0px 5px 5px 0px;
    color: #fff;
  }
  > i {
    color: $color-primary;
    font-size: 21px;
    cursor: pointer;
  }
}

// 表格选取单元格样式
.com-table {
  .el-table td,
  .el-table th {
    &:first-child {
      text-align: center;
    }
  }
}

// 分页样式
.com-pages-wrap {
  padding: 0 24px;
  margin-top: 36px;
  .left-page {
    font-size: 14px;
    color: $table-color;
    .cur-page {
      margin: 0 8px;
      width: 78px;
      height: 28px;
      border-radius: 5px;
      .el-icon-caret-bottom {
        margin-left: 7px;
        font-size: 14px;
        color: #888;
      }
      .el-select {
        input {
          height: 28px;
          padding: 0 0 0 10px;
        }
        .el-input__suffix {
          right: 2px;
        }
        .el-input__icon {
          height: 28px;
          line-height: 28px;
        }
        .el-icon-arrow-up:before {
          content: "\e78f";
        }
      }
    }
    .total-num {
      margin-left: 14px;
    }
  }
}

// 占位文字样式
.com-alt {
  opacity: 0;
  visibility: hidden;
}
.com-up-wrap {
  padding: 20px 70px;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.com-up-wrap.pl-20 {
  padding: 20px;
  margin-bottom: 50px;
}

// 表格按钮样式
.com-operate-wrap {
  padding: 20px;
  button {
    // padding: 0;
    // margin-right: 15px;
    margin-right: 10px;
    margin-left: 0 !important;
    margin-bottom: 6px;
    // width: 112px;
    width: auto;
    padding: 2px 15px;
    height: 34px;
    // line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }

    // &.btn2 {
    //   background: $color-minor;
    //   border-color: $color-minor;
    //   border: 1px solid $color-minor;
    //   box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    //   &:hover {
    //     background: $color-minor;
    //     border: 1px solid;
    //   }
    // }
  }
  .btn2 {
    background: $color-minor;
    border-color: $color-minor;
    border: 1px solid $color-minor;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    &:hover {
      background: $color-minor;
      border: 1px solid;
    }
  }
  .b-btn {
    width: 128px;
  }
  .c-btn {
    width: 114px;
    height: 28px;
    line-height: 28px;
    color: #fff;
  }
  .delete-btn {
    color: $color-danger;
    border: 1px solid $color-danger;
    &:hover {
      color: $color-danger;
      border: 1px solid $color-danger;
      box-shadow: 0px 1px 4px 0px $color-danger;
      background: #ffffff !important;
    }
  }
  .minor-btn {
    background: $color-minor;
    border: 1px solid $color-minor;
    &:hover {
      background: $color-minor;
    }
  }
  .default-btn {
    &:hover {
      color: $color-primary;
      border: 1px solid $color-primary;
      background: #ffffff !important;
      box-shadow: 0px 1px 4px 0px $color-primary;
    }
  }
  .has-primary-btn {
    background: $color-primary;
    color: $text-color;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: $text-color;
    }
  }
  .has-minor-btn {
    background: $color-minor;
    color: $text-color;
    border: 1px solid $color-minor;
    &:hover {
      background: $color-minor;
      border: 1px solid;
      color: $text-color;
    }
  }
  .set-wrap {
    color: $color-primary;
    font-size: 16px;
    cursor: pointer;
    .el-icon-setting {
      margin-right: 3px;
    }
    span {
      white-space: nowrap;
    }
  }
  .w-btn {
    width: 128px;
    font-size: 14px;
  }
  .s-btn {
    width: 82px;
  }
}

// 默认按钮样式
.btn {
  width: auto;
  padding: 2px 15px;
  height: 34px;
  color: #ffffff !important;
  border-radius: 5px;
  font-size: 15px;
  font-family: "mainfont";
  font-weight: 500;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid;
    opacity: 0.9;
  }
  .el-icon-search {
    margin-right: 5px;
  }
}
.btn2 {
  background: $color-minor;
  border-color: $color-minor;
  border: 1px solid $color-minor;
  box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  &:hover {
    background: $color-minor;
  }
}
.btn3 {
  color: $color-primary !important;
  border-color: #3699ff !important;
  &:hover {
    background: #ffffff !important;
    box-shadow: 0px 1px 4px 0px #3699ff;
  }
}
.btn4 {
  background: $color-danger;
  border-color: $color-danger !important;
  border: 1px solid $color-danger;
  box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  &:hover {
    background: $color-danger;
  }
}
.btn-del {
  color: $color-danger !important;
  border-color: $color-danger !important;
  &:hover {
    background: #ffffff !important;
    box-shadow: 0px 1px 4px 0px $color-danger;
  }
}

.com-el-tabs {
  .el-tabs__nav {
    margin-left: 50px;
    padding: 10px 0;
  }
  .el-tabs__active-bar {
    width: 63px;
    height: 3px;
    background: $color-primary;
  }
  .el-tabs__item,
  .el-tabs__item.is-active {
    font-size: 16px;
    font-weight: bold;
  }
  .el-tabs__item.is-active {
    color: $table-color;
  }
  .el-tabs__item {
    padding: 0;
    color: #999;
  }
  .el-tabs__nav-wrap::after {
    background: #efefef;
    height: 1px;
  }
}

.com-text {
  color: $table-color;
  font-size: 16px;
  font-weight: bold;
}
.com-s-text {
  color: $table-color;
  font-size: 14px;
  font-weight: 400;
}

.com-switch {
  margin-right: 36px;
  position: relative;
  .open-text,
  .close-text {
    position: absolute;
    z-index: 999;
    left: 8px;
    top: 7px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    user-select: none;
  }
  .close-text {
    right: 8px;
    left: unset;
  }

  .el-switch {
    height: 30px;
  }
  .el-switch__core {
    width: 62px !important;
    height: 30px;
    border-radius: 15px;
  }
  .el-switch__core:after {
    left: 6px;
    top: 6px;
  }
  .el-switch.is-checked .el-switch__core::after {
    margin-left: -22px;
  }
}

.com-upload {
  width: 100%;
  .label-text {
    margin-right: 10px;
    white-space: nowrap;
    color: $table-color;
    font-size: 14px;
    display: block;
    text-align: right;
    min-width: 80px;
    max-width: 80px;
    > span {
      color: red;
    }
  }
  > div {
    position: relative;
    width: 100%;
  }
  .u-ipt {
    padding: 0 46px 0 10px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .u-btn {
    max-width: 66px;
    min-width: 66px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: $color-primary;
    border-radius: 0 4px 4px 0;
  }
  .u-file {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  .u-dot {
    position: absolute;
    top: 1px;
    right: 66px;
    width: 36px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    background: #edeff3;
    color: $table-color;
    font-size: 14px;
    font-weight: bold;
  }
}

.com-line {
  margin: 0 10px;
  width: 10px;
  height: 1px;
  background: #8b99bf;
}

.com-del-dialog {
  .dialog-content {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: $table-color;
    img {
      margin-bottom: 15px;
    }
    .label-text {
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .tip-text {
      margin-bottom: 5px;
      color: #999;
      font-size: 12px;
    }
  }
}

.com-edit-wrap {
  span {
    padding: 0 5px;
    color: $color-primary;
    border-right: 1px solid $table-color;
    cursor: pointer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: 0;
      color: $color-danger;
    }
  }
}

.icon-wrap {
  cursor: pointer;
  span {
    padding-right: 15px;
  }
  img {
    outline: none;
  }
}

.com-upload {
  width: 100%;
  > div {
    position: relative;
    width: 100%;
  }
  .u-ipt {
    padding: 0 46px 0 10px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .u-btn {
    max-width: 66px;
    min-width: 66px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: $color-primary;
    border-radius: 0 4px 4px 0;
  }
  .u-file {
    position: absolute;
    width: 100%;
    opacity: 0;
  }
  .u-dot {
    position: absolute;
    top: 1px;
    right: 66px;
    width: 36px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    background: #edeff3;
    color: $table-color;
    font-size: 14px;
    font-weight: bold;
  }
}

.com-init-time-picker {
  width: 68px;
  .el-input__inner {
    padding-right: 0;
  }
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  background: #c0c4cc;
  color: #fff;
  border: 0;
}

.el-tooltip__popper {
  max-width: 400px;
}

.com-select-list {
  .el-checkbox-group {
    justify-content: flex-start;
  }
  .el-checkbox {
    margin-right: 40px;
    &:nth-child(3n - 2) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.com-radius-input {
  .el-input__inner {
    border-radius: $input-border-radius;
  }
}

.com-label-text {
  font-size: 14px;
  color: $table-color;
  font-weight: bold;
}

// title蓝色标题(带背景色)
.b-title {
  height: 18px;
  line-height: 18px;
  padding-left: 9px;
  margin-left: 9px;
  border-radius: 0px 1px 1px 0px;
  border-left: 4px solid $color-primary;
  font-family: "mainfont";
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  .little {
    font-size: 12px;
  }
}

// 黑色粗标题
.s-title {
  font-size: 22px;
  font-weight: bold;
  color: $table-color;
  margin: 19px 0;
}

// title橙色标题(带图标)
.o-title {
  font-size: 18px;
  font-family: "mainfont";
  color: $color-minor;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  > img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
}

// 表格输入框/下拉框
.input-box-b {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  border-radius: 17px;
  background: url("../assets/img/icons/input.png") 8px 8px no-repeat;
  background-size: 14px 14px;
  background-color: #ffffff;
  .el-input--mini {
    width: 140px;
    padding-left: 22px;
    height: 100% !important;
    .el-input__inner {
      padding-left: 2px;
    }
  }
  input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 17px;
    outline: none;
    border: none;
  }
}

.input-box-m {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  border-radius: 17px;
  width: 88px;
  margin: 0 auto;
  .el-input {
    height: 100% !important;
    input {
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: 1px solid #e5e5e5;
      border-radius: 17px;
      outline: none;
      border: none;
    }
    .el-input__suffix {
      right: 0 !important;
      top: 10px !important;
    }
  }
  .is-focus {
    .el-input__suffix {
      top: -8px !important;
    }
  }
}

.input-box-s {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  border-radius: 17px;
  width: 75px;
  margin: 0 auto;
  .el-input--mini {
    width: 75px;
    height: 100% !important;
  }
  input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 17px;
    outline: none;
    border: none;
  }
}

// 表单title
.form {
  .label-text {
    margin-right: 15px;
    white-space: nowrap;
    color: $table-color;
    font-size: 14px;
    display: block;
    text-align: right;
    min-width: 80px;
    max-width: 80px;
    font-size: 14px;
    font-family: "mainfont";
    font-weight: 400;
    box-sizing: border-box;
    > span {
      color: red;
    }
  }
  .b-input input {
    width: 440px;
    height: 34px;
  }
  .s-input .input-box {
    display: flex;
    input {
      margin-right: 20px;
      width: 153px;
      height: 34px;
    }
  }
  .s-select {
    input {
      width: 110px;
      height: 34px;
    }
    .el-input__suffix {
      right: 5px !important;
      top: 4px !important;
    }
    .is-focus {
      .el-input__suffix {
        top: -2px !important;
      }
    }
  }
}

.screen {
  .el-input__suffix {
    top: 2px !important;
  }
  .is-focus {
    .el-input__suffix {
      top: 0 !important;
    }
  }
}

// 搜索2
.com-search2 {
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
  width: 281px;
  min-width: 281px;
  height: 36px;
  border-radius: $input-border-radius;
  // border: 1px solid #DCDFE6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  .search-ipt {
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .search-btn {
    padding: 0;
    width: 86px;
    height: 36px;
    text-align: center;
    background: $color-primary;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 0px 5px 5px 0px;
    color: #fff;
  }
  > i {
    color: $color-primary;
    font-size: 21px;
    cursor: pointer;
  }
}

.com-search3 {
  border: 0;
  box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  input {
    border: 0;
  }
}

// 表格无数据时
.nodata {
  padding: 156px 0;
  > img {
    width: 290px;
    height: 157px;
  }
}

// 全局常用弹窗（成功/失败/询问等）
.my-dialog {
  .el-dialog__header {
    background: #ffffff !important;
  }
  .el-dialog__body {
    color: #333333;
    text-align: center;
    > img {
      margin: 20px 0 26px;
    }
    .gray_tips {
      font-size: 12px;
      font-weight: 400;
      color: #999999;
      margin-top: 8px;
    }
  }
}

// 表格备注等溢出处理
.r-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

// 个人中心顶部菜单样式
.com-menu-wrap {
  width: 100%;
  .m-item {
    position: relative;
    margin-right: 5px;
    width: 332px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #8d8c8c;
    background: #f1f1f1;
    &.active {
      background: #fff;
      color: #333;
      .t-line {
        background: $color-primary;
      }
    }
    .t-line {
      position: absolute;
      top: 0;
      left: 0;
      width: 332px;
      height: 4px;
      border-radius: 4px 4px 0px 0px;
      background: #e0e0e0;
    }
  }
}

.nodata-text {
  font-size: 12px;
  color: #ccc;
}

.com-table-wrap {
  .el-table .has-gutter th {
    color: #999;
    background: #eff2f7;
  }
  // 修改表格border颜色
  .el-table--border:after,
  .el-table--group:after,
  .el-table:before {
    background-color: #e6e6e6;
  }
  .el-table--border,
  .el-table--group {
    border-color: #e6e6e6;
  }
  .el-table td,
  .el-table th.is-leaf {
    border-bottom: 1px solid #e6e6e6;
  }
  .el-table--border th,
  .el-table--border th.gutter:last-of-type {
    border-bottom: 1px solid #e6e6e6;
  }
  .el-table--border td,
  .el-table--border th {
    border-right: 1px solid #e6e6e6;
  }

  .el-table--border th:last-child {
    border-right: none;
  }

  .el-table .has-gutter th {
    font-size: 14px;
    font-weight: bold;
    color: #999;
  }
  .el-table th,
  .el-table tr {
    font-size: 13px;
    // font-weight: bold;
    color: #333;
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background: #e0f0ff;
  }

  .el-table--border th .cell,
  .el-table--border td .cell {
    padding-left: 25px;
  }
}

.com-table-label {
  .b-label {
    margin-bottom: 16px;
    color: #999;
    font-size: 16px;
    vertical-align: middle;
    &:before {
      margin-right: 8px;
      margin-top: -3px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 3px;
      height: 16px;
      background: $color-primary;
    }
  }
  .b-btn {
    padding-right: 12px;
    color: $color-primary;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    img {
      margin-right: 5px;
    }
    img,
    span {
      vertical-align: middle;
    }
  }
}

.expand-table {
  .el-table__expanded-cell[class*="cell"] {
    padding: 0;
  }
  .sub-expand-table {
    .el-table__header-wrapper {
      display: none;
    }
  }
}

// 时间选择器
.el-date-editor .el-icon-date {
  color: $color-primary !important;
}

// 蓝条标题
.com-tag-span {
  font-size: 16px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 30px;
  position: relative;
  padding: 0 20px;
  margin-right: 25px;

  &::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 16px;
    background: #1789f2;
    border-radius: 0px 1px 1px 0px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

// 重写面包屑
.com-bg {
  position: absolute;
  top: -37px;
  left: 0px;
  width: 100%;
  height: 37px;
  border-radius: 6px 6px 0px 0px;
  box-shadow: 0px 1px 0px 0px rgba(96, 96, 96, 0.06);
  padding: 12px 20px;
  background: #ffffff;
  display: flex;
  align-items: center;
  .bread {
    color: #303133;
    .el-breadcrumb {
      font-size: 13px;
    }
  }
  .el-icon {
    margin: 0 10px 0 15px;
    font-weight: bold;
    color: #777;
  }
  .active {
    color: $color-primary;
  }
}
