<template>
  <div class="user-info">
    <div class="info-wrap com-input">
      <!-- 旧密码 -->
      <div class="flex-c mb-20">
        <span class="label-text"><span class="r-color">*</span>旧密码</span>
        <el-input placeholder="请输入旧密码" type="password" v-model="password" />
      </div>
      <!-- 旧密码 end -->
      <!-- 新密码 -->
      <div class="flex-c mb-20">
        <span class="label-text"><span class="r-color">*</span>新密码</span>
        <el-input placeholder="请输入新密码" type="password" v-model="newPwd" />
      </div>
      <!-- 新密码 end -->
      <!-- 确认密码 -->
      <div class="flex-c mb-20">
        <span class="label-text"><span class="r-color">*</span>确认密码</span>
        <el-input placeholder="请输入确认密码" type="password" v-model="confirmPwd" />
      </div>
      <!-- 确认密码 end -->
    </div>
    <div class="dialog-footer mt-46 save-btn">
      <el-button class="mt-20" type="primary" :loading="loading" @click="updatePwd">保存</el-button>
    </div>
  </div>
</template>

<script>
import {
  clearStorage
} from '@/utils/clearStorage'
import {
  updatePwd
} from '@/api/user'
export default {
  data() {
    return {
      password: '',
      newPwd: '',
      confirmPwd: '',
      loading: false,
    }
  },
  methods: {
    updatePwd() {
      if (!this.password) {
        this.$message({
          type: 'error',
          message: '请输入旧密码'
        })
        return
      } else if (!this.newPwd) {
        this.$message({
          type: 'error',
          message: '请输入新密码'
        })
        return
      } else if (!this.confirmPwd) {
        this.$message({
          type: 'error',
          message: '请输入确认密码'
        })
        return
      } else if (this.confirmPwd !== this.newPwd) {
        this.$message({
          type: 'error',
          message: '确认密码和新密码不一致'
        })
        return
      }
      var params = {
        newPassword: this.newPwd,
        oldPassword: this.password
      }
      this.loading = true
      updatePwd(params).then(res => {
        this.loading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: '修改成功，请使用新密码重新登录'
          })
          clearStorage()
          this.$router.push('/login')
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {
        this.loading = false
      })

    }
  }
}
</script>

<style lang="scss" scoped>
  .user-info {
    .info-wrap {
      margin: 50px auto 0 auto;
      width: 394px;
    }
    .label-text {
      margin-right: 30px;
      display: inline-block;
      text-align: right;
      min-width: 65px;
      max-width: 65px;
      white-space: nowrap;
      color: #999;
    }
    .save-btn {
      width: 100%;
      text-align: center;
      ::v-deep .el-button {
        width: 112px;
        height: 34px;
        line-height: 34px;
        padding: 0;
      }
    }
  }
</style>
