<template>
  <div class="user-info">
    <div class="info-wrap com-input">
      <!-- 头像 -->
      <div class="flex-fsc mb-30 head-wrap">
        <div class="mr-20 ml-20 flex-cc upload-wrap">
          <img :src="userHead" alt="" v-if="userHead">
          <img src="@/assets/img/default_head.png" alt="" v-else>
          <div class="upload-edit">
            <img src="@/assets/img/upload_avatar.png" alt="" class="">
            <span>上传头像</span>
            <input
            ref="fileElem"
            type="file"
            class="u-btn"
            @change="uploadHead"
            accept="image/jpeg,image/png,image/jpg,image/bmp" />
          </div>
        </div>
      </div>
      <!-- 头像 end -->
      <!-- 姓名 -->
      <div class="flex-c mb-30">
        <span class="label-text"><span class="r-color">*</span>姓名</span>
        <el-input placeholder="请输入姓名" v-model="userName" />
      </div>
      <!-- 姓名 end -->
      <!-- 角色 -->
      <div class="flex-c mb-30">
        <span class="label-text">账号</span>
        <span class="c-3">{{userAccount}}</span>
      </div>
      <!-- 角色 end -->
      <!-- 建号日期 -->
      <!-- <div class="flex-c mb-30">
        <span class="label-text">建号日期</span>
        <span class="c-3">{{updateTime}}</span>
      </div> -->
      <!-- 建号日期 end -->
      <!-- 所在部门 -->
      <div class="flex-c mb-30">
        <span class="label-text">部门</span>
        <span class="c-3">{{department}}</span>
      </div>
      <!-- 所在部门 end -->
      <div class="flex-c mb-30">
        <span class="label-text">职位</span>
        <span class="c-3">{{position}}</span>
      </div>
      <!-- 手机号 -->
      <div class="flex-c mb-30">
        <span class="label-text">手机号码</span>
        <el-input placeholder="请输入手机号" maxlength="11" v-model="phone" />
      </div>
      <!-- 手机号 end -->
      <!-- QQ -->
      <div class="flex-c mb-30">
        <span class="label-text">QQ</span>
        <el-input placeholder="请输入QQ" v-model="qq" />
      </div>
      <!-- QQ end -->
    </div>
    <div class="dialog-footer mt-46 save-btn">
      <el-button class="mt-20" type="primary" :loading="loading" @click="saveUserInfo">保存</el-button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import {
  validPhone
} from '@/utils/common'
import {
  updateInfo,
  uploadUserImg,
} from '@/api/user'
export default {
  name: 'UserInfo',
  data() {
    return {
      userName: '',
      phone: '',
      userHead: '',
      qq: '',
      loading: false
    }
  },

  computed: {
    ...mapGetters([
      'department',
      'userAccount',
      'updateTime',
      'position',
    ])
  },

  mounted() {
    this.userName = this.$store.getters.userName
    this.phone = this.$store.getters.phone
    this.userHead = this.$store.getters.userHead
    this.qq = this.$store.getters.qq
  },

  methods: {
    // 上传头像
    uploadHead(e) {
      let file = e.target.files[0]
      let hasType = ['image/jpeg', 'image/png', 'image/jpg', 'image/bmp']
      if (hasType.indexOf(file.type) == -1) {
        this.$message({
          type: 'error',
          message: '请上传正确格式的图片'
        })
        return
      }

      let formData = new FormData()
      formData.append('matPriceFile', file)
      console.log(formData);
      uploadUserImg(formData).then(res => {
        if (res.code == '01') {
          this.userHead = res.body
          sessionStorage.setItem('user_head', res.body)
          this.$store.commit('user/SET_USER_HEAD', res.body)
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {

      })
    },
    // 保存修改
    saveUserInfo() {
      if (!this.userName) {
        this.$message({
          type: 'error',
          message: '请输入姓名'
        })
        return
      }
      else if (this.phone && !validPhone(this.phone)) {
        this.$message({
          type: 'error',
          message: '手机号格式错误'
        })
        return
      }
      var params = {
        qq: this.qq,
        name: this.userName,
        phone: this.phone,
        avatarUrl: this.userHead
      }
      this.loading = true
      updateInfo(params).then(res => {
        this.loading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          sessionStorage.setItem('user_name', this.userName)
          this.$store.commit('user/SET_NAME', this.userName)
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {
        this.loading = false
      })
    },
  },
}
</script>

<style lang="scss" scoped>
  .user-info {
    .info-wrap {
      margin: 0 auto;
      width: 394px;
    }
    .head-wrap {
      .upload-wrap {
        width: 113px;
        height: 113px;
        border: 1px solid #F2F2F2;
        border-radius: 50%;
        font-size: 88px;
        color: #E5E5E5;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover{
          .upload-edit{
            display: flex;
          }
        }
        .upload-edit{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: RGBA(54, 62, 72, .5);
          z-index: 1;
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .u-btn{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0;
          }
          img{
            width: 36px;
            height: 27px;
          }
          span{
            font-size: 14px;
            color: #F3F2F9;
            line-height: 30px;
          }
        }
      }
      .head-btn {
        position: relative;
      }
      .u-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
    }
    .label-text {
      margin-right: 30px;
      display: inline-block;
      text-align: right;
      min-width: 65px;
      max-width: 65px;
      white-space: nowrap;
      color: #999;
    }
    .save-btn {
      width: 100%;
      text-align: center;
      ::v-deep .el-button {
        width: 112px;
        height: 34px;
        line-height: 34px;
        padding: 0;
      }
    }
  }
</style>
