<template>
  <div class="upload-cj-container com-input">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如:名称、编制人" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>

      <div class="search-type">
        <div class="flex-c">
          <span class="s-text fw-b">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate2" />
          </div>
        </div>
      </div>

      <div class="com-table table-wrap">
        <div class="com-operate-wrap">
          <!--
            <el-button v-has="$roles.fun_comprice_add_template" class="has-primary-btn" @click="addTempWin">添加模板</el-button>
          <el-button v-has="$roles.fun_comprice_delete_template" class="delete-btn" @click="deleteTemp">删除模板</el-button>
           -->
          <el-button class="has-primary-btn" @click="addTempWin">添加模板</el-button>
          <el-button class="delete-btn" @click="deleteTemp">删除模板</el-button>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="modeList" tooltip-effect="dark" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="96px" />
          <el-table-column label="模板">
            <template slot-scope="scope">
              <div class="mode-name" @click="skipDetail(scope.row)">{{ scope.row.tempName }}</div>
            </template>
          </el-table-column>
          <el-table-column prop="howPeriod" label="适用周期" />
          <el-table-column prop="matCount" label="材料数量" />
          <el-table-column prop="createBy" label="编制人" />
          <el-table-column label="修改时间">
            <template slot-scope="scope">
              <span>{{ scope.row.updateOn | formatTime }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <!-- <span v-has="$roles.fun_comprice_edit_template" @click="editDialog(scope.row)"> -->
                <span @click="editDialog(scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span>
                <!-- <span v-has="$roles.fun_comprice_remark_template" @click="openRemarkDialog(scope.row)">-->
                <span @click="openRemarkDialog(scope.row)">
                  <el-tooltip effect="light" content="备注" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/remarks.png" alt="">
                  </el-tooltip>
                </span>
                <span class="sys_feedBack" @click="openSysFeedBack(scope.row.id)">

                  <el-tooltip effect="light" content="反馈信息" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/details.png" alt="">
                  </el-tooltip>
                  <i v-if="scope.row.isFeedback" class="iconfont icon-hit" />
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalPage }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalPage" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div v-if="!isWarning" class="dialog-content">
        <img src="@/assets/img/cs/icons/del_icon02.png" alt="">
        <p>你确定要删除该材料模板吗？</p>
      </div>
      <div v-else class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p>该周期模板存在材料</p>
        <p class="mt-5 mb-10">你确定要删除该材料模板吗？</p>
        <p class="tip-text">注意：采集员可能已下载模板或者已</p>
        <p class="tip-text">完成报价，请提醒采集员重新填报。</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="deleteLoading" :disabled="isWarning && timeNum > 0" @click="submitDelete">
          <span>确定</span>
          <span v-if="isWarning && timeNum > 0">({{ timeNum }})</span>
        </el-button>
      </span>
    </el-dialog>

    <!-- 备注弹窗 -->
    <el-dialog title="备注" :visible.sync="showRemarkDialog" :close-on-click-modal="false" width="491px" class="com-dialog remark-dialog">
      <div>
        <p class="r-label">备注内容</p>
        <el-input v-model="ramarkValue" type="textarea" resize="none" rows="10" maxlength="500" />
        <div class="ta-right">
          <span v-if="ramarkValue">{{ ramarkValue.length }}</span><span v-else>0</span>/500
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showRemarkDialog = !showRemarkDialog">取消</el-button>
        <el-button type="primary" :loading="remarkLoading" @click="tempRemark">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加模板弹窗 -->
    <el-dialog title="添加模板" :visible.sync="showAddModeDialog" :close-on-click-modal="false" width="460px" class="com-dialog com-select">
      <div class="flex-c">
        <span class="wid" style="width: 74px">地区：</span>
        <span class="city-item">{{ city }}</span>
      </div>

      <div class="flex-c mode-wrap">
        <span class="nw wid">周期：</span>
        <el-select v-model="curCycle" class="com-radius-input" placeholder="请选择">
          <el-option v-for="(item, index) in cycleList" :key="index" :label="item.howPeriod" :value="item.id" />
        </el-select>
      </div>
      <div class="flex-c mode-wrap">
        <span class="nw wid">复用材料：</span>
        <el-select v-model="reuseTempId" placeholder="不复用">
          <el-option v-for="(item, index) in reuseList" :key="index" :label="item.tempName" :value="item.id" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelTem">取消</el-button>
        <el-button type="primary" @click="addTemp">确定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑模板弹窗 -->
    <el-dialog title="编辑模板" :visible.sync="showEditModeDialog" :close-on-click-modal="false" width="460px" class="com-dialog com-select">
      <div>
        <span>地区：</span>
        <span class="city-item">{{ city }}</span>
      </div>

      <div class="flex-c mode-wrap">
        <span class="nw">周期：</span>
        <el-select v-model="curEditCycle" class="com-radius-input" placeholder="请选择">
          <el-option v-for="(item, index) in cycleList" :key="index" :label="item.howPeriod" :value="item.id" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEditModeDialog = !showEditModeDialog">取消</el-button>
        <el-button type="primary" @click="editTemp">确定</el-button>
      </span>
    </el-dialog>

    <!-- 反馈信息弹窗 -->
    <el-dialog title="反馈信息" :visible.sync="showSysfeedBackDialog" :close-on-click-modal="false" width="850px" class="com-diacurrentPagegetCollectTemplateListPagelog com-select">
      <el-table ref="multipleTable" v-loading="noticeLoading" :data="feedbackList" tooltip-effect="dark" style="width: 100%" :header-cell-style="{background:'#E6E6E6'}">
        <el-table-column prop="feedbackContent" label="反馈内容">
          <template slot-scope="scope">
            <span :class="{content_over: isContent==='1'} ">
              {{ scope.row.feedbackContent }}
            </span>
            <span v-if="scope.row.feedbackContent.length>18 && isContent === '1'" class="p-color cp" @click="showAll('all')">显示全部</span>
            <span v-if="scope.row.feedbackContent.length>18 && isContent === '2'" class="p-color cp" @click="showAll()">折叠</span>
          </template>
        </el-table-column>
        <el-table-column prop="createBy" label="反馈人" />
        <el-table-column label="反馈时间">
          <template slot-scope="scope">
            <span>{{ scope.row.createOn | formatTime }}</span>
          </template>
        </el-table-column>
      </el-table>
      <div v-if="noticeParams.total > 0" class="flex-csb mt-20 com-pages-wrap">
        <div class="left-page" />
        <div class="flex-c right-page">
          <el-pagination background :current-page.sync="noticeParams.currentPage" :page-size="noticeParams.pageSize" layout="prev, pager, next, jumper" :total="noticeParams.total"
            @current-change="toggleNoticePage" />
          <div class="com-page-btn" @click="showRecordDialog = false">确定</div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getTempList,
  checkTemp,
  deleteTemp,
  getPeriodSettByCreateOn,
  addOrUpdateTemp,
  getHistoryTemplateList,
  tempRemark,
  updCollectTemplate,
  addCollectTemplate,
  getBackfeed
} from '@/api/cs/collectTemplate'
import { formatDate } from '@/utils/common'

export default {
  name: 'ModeList',
  filters: {
    formatTime(val) {
      return formatDate(val, '1')
    }
  },
  data() {
    return {
      formatDate: formatDate,
      timer: null,
      timeNum: 5,
      noticeParams: {
        currentPage: 1,
        pageSize: 5,
        tempId: '',
        total: 0
      },
      noticeLoading: false,
      showSysfeedBackDialog: false,
      showEditModeDialog: false,
      showAddModeDialog: false,
      remarkLoading: false,
      curTempDetailId: '',
      ramarkValue: '', // 备注
      showRemarkDialog: false, // 编辑弹窗
      deleteLoading: false, // 删除请求时loading
      showDelDialog: false, // 删除弹窗
      isWarning: false, // 是否存在材料
      searchKeyword: '', // 关键词
      currentPage: 1,
      pageSize: 10,
      totalPage: 0,
      modeList: [],
      feedbackList: [],
      multipleSelection: [],
      loading: false,
      cycleList: [], // 周期列表
      curCycle: '', // 当前添加周期
      addLoading: false,
      curEditCycle: '', // 当前编辑周期
      curTempId: '', // 当前编辑模板id
      period: '', //
      reuseTempId: '', // 复用模板id
      reuseList: [], // 复用模板列表
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null,
      endDate: null,
      isContent: '1'
    }
  },
  computed: {
    city() {
      return this.$store.getters.city
    }
  },
  mounted() {
    this.getTempList()
    this.getPeriodSettByCreateOn()
  },
  methods: {
    showAll(str) {
      if (str === 'all') {
        this.isContent = '2'
      } else {
        this.isContent = '1'
      }
    },
    // 根据初始化配置起始日期，设置日期默认范围
    initSetDate() {
      const startDate = this.$store.getters.initStartDate
      if (startDate && formatDate(startDate)) {
        const curDate = new Date().getTime()
        const curStartDate = new Date(startDate).getTime()
        // 若当前时间 < 初始化配置时间
        if (curDate < curStartDate) {
          this.startDate = formatDate(curDate)
          this.endDate = formatDate(startDate)
        } else {
          this.endDate = formatDate(curDate)
          this.startDate = formatDate(startDate)
        }
      }
    },
    // 选择开始时间
    toggleDate(val) {
      if (val) {
        const beginTime = new Date(val).getTime()
        const endTime = +beginTime + 3600 * 1000 * 24 * 365
        this.endDate = endTime
      }
      this.currentPage = 1
      this.getTempList()
    },
    // 选择结束时间
    toggleDate2() {
      this.currentPage = 1
      this.getTempList()
    },
    // 提交备注
    tempRemark() {
      var data = {
        id: this.curTempDetailId,
        remark: this.ramarkValue ? this.ramarkValue : null,
        type: '1'
      }
      this.remarkLoading = true
      tempRemark(data)
        .then(res => {
          this.remarkLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showRemarkDialog = false
            this.getTempList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.remarkLoading = false
        })
    },
    // 打开备注弹窗
    openRemarkDialog(item) {
      this.curTempDetailId = item.id
      this.ramarkValue = item.remark
      this.showRemarkDialog = !this.showRemarkDialog
    },
    // 打开系统消息
    openSysFeedBack(id) {
      this.showSysfeedBackDialog = true
      this.noticeParams.tempId = id
      this.getBackfeed()
    },
    // 跳转详情
    skipDetail(item) {
      this.$router.push({
        path: '/cs/modeManagement/modeDetail',
        query: {
          id: item.id,
          name: item.tempName,
          period: item.period,
          auditStatus: item.auditStatus
        }
      })
    },
    // 编辑弹窗
    editDialog(item) {
      this.showEditModeDialog = !this.showEditModeDialog
      this.curTempId = item.id
      this.curEditCycle = null
    },
    // 编辑模板
    editTemp() {
      if (!this.curEditCycle) {
        this.$message({
          type: 'error',
          message: '请选择周期'
        })
        return
      }
      var params = {
        areaName: this.city,
        periodId: this.curEditCycle,
        id: this.curTempId
      }
      this.addLoading = true
      updCollectTemplate(params)
        .then(res => {
          this.addLoading = false
          if (res.code == '01') {
            this.showEditModeDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getTempList()
            this.getPeriodSettByCreateOn()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addLoading = false
        })
    },
    // 取消添加模板
    cancelTem() {
      this.showAddModeDialog = !this.showAddModeDialog
      this.reuseTempId = ''
    },
    // 添加模板
    addTemp() {
      if (!this.curCycle) {
        this.$message({
          type: 'error',
          message: '请选择周期'
        })
        return
      }
      var params = {
        areaName: this.city,
        periodId: this.curCycle,
        reuseTempId: this.reuseTempId
      }
      this.addLoading = true
      addCollectTemplate(params)
        .then(res => {
          this.addLoading = false
          if (res.code === '01') {
            this.showAddModeDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            // 添加成功，跳转详情页
            if (res.body.result && res.body.result.id) {
              // debugger
              this.skipDetail(res.body.result)
            }
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addLoading = false
        })
    },
    // 获取周期信息
    getPeriodSettByCreateOn() {
      var params = {}
      getPeriodSettByCreateOn(params).then(res => {
        if (res.code == '01') {
          this.cycleList = res.body
        }
      })
    },
    // (复用)历史模板列表
    getHistoryTemplateList() {
      var params = {
        howPeriod: ''
      }
      getHistoryTemplateList(params).then(res => {
        if (res.code == '01') {
          this.reuseList = res.body
        }
      })
    },
    // 提交删除
    submitDelete() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var params = {
        ids: ids.join(',')
      }
      this.deleteLoading = true
      deleteTemp(params)
        .then(res => {
          // debugger
          this.deleteLoading = false
          if (res.code == '01') {
            this.showDelDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getTempList()
            this.getPeriodSettByCreateOn()
          } else {
            this.$message({
              type: 'error',
              message: res.body
            })
          }
        })
        .catch(err => {
          this.deleteLoading = false
        })
    },
    // 添加模板弹窗
    addTempWin() {
      this.getHistoryTemplateList()
      this.showAddModeDialog = true
    },
    // 删除模板弹窗
    deleteTemp() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }

      // 检查模板下是否存在材料
      var params = {
        ids: ids.join(',')
      }
      checkTemp(params).then(res => {
        this.showDelDialog = true
        if (res.code === 'CJ8009') {
          this.isWarning = true
          // 倒计时2s后可删除
          this.timeNum = 2
          if (this.timer) {
            clearInterval(this.timer)
          }
          this.timer = setInterval(() => {
            this.timeNum--
            if (this.timeNum == 0) {
              clearInterval(this.timer)
            }
          }, 1000)
        } else {
          this.isWarning = false
        }
      })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getTempList()
    },
    // 获取模板列表
    getTempList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyCode: this.searchKeyword,
        startDate: formatDate(this.startDate),
        endDate: formatDate(this.endDate)
      }
      this.loading = true
      getTempList(data)
        .then(res => {
          this.loading = false
          if (res.code === '01') {
            this.modeList = res.body.list
            this.totalPage = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTempList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条模板记录'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    },
    // 获取反馈信息列表
    getBackfeed() {
      const data = {
        currentPage: this.noticeParams.currentPage,
        pageSize: this.noticeParams.pageSize,
        tempId: this.noticeParams.tempId
      }
      getBackfeed(data).then(res => {
        if (res.code === '01') {
          this.feedbackList = res.body.list
          this.noticeParams.total = res.body.totalCount
        }
      })
    },
    toggleNoticePage(currentPage) {
      this.noticeParams.currentPage = currentPage
      this.getBackfeed()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .s-text {
      margin-right: 15px;
      color: #333;
      font-size: 14px;
      white-space: nowrap;
    }
  }
  .table-wrap {
    .mode-name {
      cursor: pointer;
      color: $color-primary;
    }
    .edit-wrap {
      span {
        cursor: pointer;
        padding-right: 15px;
      }
    }
  }
  .remark-dialog {
    p {
      margin-bottom: 10px;
      font-size: 14px;
      color: #333;
    }
  }
  .com-select {
    font-size: 14px;
    .city-item {
      margin-left: 10px;
      color: $color-primary;
    }
    .mode-wrap {
      margin-top: 20px;
    }
    .wid {
      display: inline-block;
      width: 90px;
      text-align: right;
    }
  }
}
.icon-wrap img {
  vertical-align: top;
}
.sys_feedBack {
  font-size: 14px;
  font-weight: 400;
  color: #1789f2;
}
.icon-hit {
  color: red;
}
.content_over {
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
</style>
