<template>
  <div class="common-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <!-- 搜索 -->
      <div class="flex-c top">
        <el-select v-model="searchtype" class="select-remark">
          <el-option
            v-for="item in srarchTypeList"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          >
          </el-option>
        </el-select>
        <div class="com-search2 mt-20 mb-20">
          <el-input
            class="search-ipt"
            placeholder="请输入名称搜索"
            v-model="searchVal"
            @keyup.enter.native="
              currentPage = 1;
              getSupplierPageList();
            "
          />
          <i
            class="el-icon-search"
            @click="
              currentPage = 1;
              getSupplierPageList();
            "
          ></i>
        </div>
      </div>
      <!-- 适用地区 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curproList && curproList.length > 0">
            <li
              :class="{ active: curPro === null }"
              @click="changeCurPro(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || morePro"
              :class="{ active: curPro == pro }"
              v-for="(pro, index) in curproList"
              :key="index"
              @click="changeCurPro(pro)"
            >
              {{ pro }}
            </li>
            <span
              class="more mb-10"
              v-if="curproList && curproList.length > 8"
              @click="morePro = !morePro"
            >
              {{ morePro ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': morePro }"
              ></span>
            </span>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="curCityList && curCityList.length > 0 && curPro != null"
          >
            <li
              :class="{ active: curCity === null }"
              @click="changeCurCity(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreCity"
              :class="{ active: curCity == item.name }"
              v-for="(item, index) in curCityList"
              :key="item.name"
              @click="changeCurCity(item.name)"
            >
              {{ item.name }}
            </li>
            <span
              class="more"
              v-if="curCityList && curCityList.length > 8"
              @click="moreCity = !moreCity"
            >
              {{ moreCity ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreCity }"
              ></span>
            </span>
          </ul>
        </div>
      </div>
      <!-- 来源 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">来源</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curSource === null }"
              @click="changeSource(null)"
            >
              全部
            </li>
            <li
              :class="{ active: curSource == item }"
              v-for="(item, index) in sourceList"
              :key="index"
              @click="changeSource(item)"
            >
              {{ item }}
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 分类 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curType === null }" @click="changeType(null)">
              全部
            </li>
            <li
              :class="{ active: curType == item }"
              v-for="(item, index) in typeList"
              :key="index"
              @click="changeType(item)"
            >
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      <!-- 国标分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">主营类目</span>
        <div class="t-wrap">
          <ul class="flex-cw" :class="{ 'is-fold': isMore }">
            <li
              :class="{ active: curNormType == '' }"
              @click="changeNormType('', '')"
            >
              全部
            </li>
            <li
              :class="{ active: curNormType == item.code }"
              v-for="(item, index) in normType"
              :key="index"
              @click="changeNormType(index, item.code)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="normTypeItem && normTypeItem.length > 0"
          >
            <li
              :class="{ active: curNormTypeItem == '' }"
              @click="changeNormTypeItem('', '')"
            >
              <span class="com-alt">占位符</span>全部
            </li>
            <li
              :class="{ active: curNormTypeItem == item.name }"
              v-for="(item, index) in normTypeItem"
              :key="index"
              @click="changeNormTypeItem(item.name, item.code)"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
        <span
          class="cp el-icon-arrow-up"
          :class="{ 'is-rotate': isMore }"
          @click="isMore = !isMore"
          v-if="normType && normType.length > 0"
        ></span>
      </div>
      <!-- 自定义分类 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">自定义分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curMytype == '' }"
              @click="changeCurMyType('', '')"
            >
              全部
            </li>
            <li
              :class="{ active: curMytype == item.id }"
              v-for="(item, index) in customType"
              :key="index"
              @click="changeCurMyType(index, item.id)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="customTypeItem && customTypeItem.length > 0"
          >
            <li
              :class="{ active: curMytypeItem == '' }"
              @click="changeCurMyTypeItem('', '')"
            >
              <span class="com-alt">占位符</span>全部
            </li>
            <li
              :class="{ active: curMytypeItem == item.name }"
              v-for="(item, index) in customTypeItem"
              :key="index"
              @click="changeCurMyTypeItem(item.name, item.id)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul></ul>
        </div>
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="addSupplier">
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />添加供应商
          </el-button>
          <el-button class="flex-cc btn btn-del" @click="allDeleteSuppliler">
            <img
              src="@/assets/img/table/del.png"
              alt=""
              class="el-icon-search"
            />删除
          </el-button>
        </div>
        <div class="flex-c cp" @click="exportFile">
          <img src="@/assets/img/table/export.png" alt="" class="imgs" />
          <span>导出</span>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" min-width="66px"> </el-table-column>
          <el-table-column label="供应商名称" min-width="160px">
            <template slot-scope="scope">
              <span
                class="t-color b-color cp"
                @click="toSupplierDetail(scope.row)"
                >{{ scope.row.supplierName }}</span
              >
            </template>
          </el-table-column>
          <el-table-column prop="supplierArea" min-width="100px" label="地区">
          </el-table-column>
          <el-table-column prop="category" min-width="100px" label="分类">
          </el-table-column>
          <el-table-column label="主营类目" min-width="160px">
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.subcNames }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="brandNames" label="关联品牌" min-width="150px">
          </el-table-column>
          <el-table-column prop="matCount" label="产品数量" min-width="90px">
          </el-table-column>
          <el-table-column label="联系方式" prop="phone" min-width="110px">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.phone || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="130px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip effect="light" content="编辑" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/edits.png"
                    alt=""
                    @click="addSupplier(scope.row)"
                  />
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/dels.png"
                    alt=""
                    @click="deleteSuppliler(scope.row.id)"
                  />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <confirm-dialog
      @confirmClick="confirmDelete"
      :isShow.sync="showDeleteDialog"
      contentText="确定要删除该供应商吗？"
    />
  </div>
</template>

<script>
import {
  getSupplierPageList,
  getSupplierCondition,
  exportSupplier,
  deleteSupplier,
} from "@/api/supplier";
export default {
  name: "supplierIndex",
  data() {
    return {
      srarchTypeList: [
        {
          id: 3,
          name: "供应商",
        },
        {
          id: 2,
          name: "产品",
        },
        {
          id: 1,
          name: "品牌",
        },
      ],
      searchtype: 3,
      searchVal: "", // 搜索关键字

      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市

      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项

      sourceList: ["系统添加", "造价通", "建信联"],
      curSource: null, // 选中的来源

      typeList: ["生产厂家", "经销批发", "商业服务", "招标代理", "其它"],
      curType: null, // 选中的分类

      customType: [], // 自定义分类列表
      customTypeItem: [], // 自定义分类列表（子项）
      curMytype: "", // 选中的自定义分类
      curMytypeItem: "", // 选中的自定义分类(子项)
      custypeId: "", // 自定义分类id（调接口用）

      curNormType: "", // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      normTypeItem2: [], // 国标分类列表（子项,调整分类用）
      curNormTypeItem: "", // 选中的国标分类（子项）
      normCode: "", // 国标分类id（调接口用）
      isMore: true, // 展开更多国际分类

      showDeleteDialog: false,
      isId: null,
      delType: 1, // 1、单条 2、多条
    };
  },
  mounted() {
    this.getSupplierCondition(); // 获取国标分类和自定义分类和城市

    this.getSupplierPageList(); // 获取供应商列表
  },
  methods: {
    // 添加供应商
    addSupplier(row) {
      let id = "";
      if (row) id = row.id;
      this.$router.push({
        path: "/supplier/addSupplier",
        query: {
          supplierId: id
        }
      });
    },
    // 批量删除供应商
    allDeleteSuppliler() {
      this.delType = 2;
      if (this.multipleSelection.length > 0) {
        this.showDeleteDialog = true;
      } else {
        this.openAlert();
      }
    },
    // 删除当前供应商
    deleteSuppliler(id) {
      this.delType = 1;
      this.isId = id;
      this.showDeleteDialog = true;
    },
    // 确定删除
    confirmDelete() {
      // let data = {
      //   supplierId: [this.isId],
      // };
      // if (this.delType == 2) {
      //   let arr = this.multipleSelection.map((it) => {
      //     return it.id;
      //   });
      //   data.supplierId = arr;
      // }

      deleteSupplier({supplierId: this.isId}).then((res) => {
        if (res && res.code == "01") {
          this.getSupplierPageList();
          this.$message({
            type: "success",
            message: '删除该供应商成功！',
          });
        }
      });
    },
    // 导出供应商
    exportFile() {
      if (this.totalCount == 0) {
        this.openAlert("暂无要导出的数据", "info");
        return;
      }

      let text = "全部";

      let data = {
        // currentPage: this.currentPage,
        // pageSize: this.pageSize,
        queryType: this.searchtype, // 查询类型(1、品牌，2、产品，3、供应商)
        name: this.searchVal,
        province: this.curPro,
        city: this.curCity,
        category: this.curType,
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        subcid: this.normCode ? this.normCode : null, // 国标分类id
      };

      if (this.multipleSelection.length > 0) {
        let arr = this.multipleSelection.map((it) => {
          return it.id;
        });

        data.currentPage = this.currentPage;
        data.pageSize = this.pageSize;
        data.ids = arr;
        text = "当前选中";
      }

      this.$confirm(`确定导出${text}数据吗?`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then((res) => {
          exportSupplier(data).then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "供应商.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "供应商.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
          });
        })
        .catch((err) => {});
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getSupplierPageList();
    },
    // 获取供应商列表
    getSupplierPageList() {
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        queryType: this.searchtype, // 查询类型(1、品牌，2、产品，3、供应商)
        name: this.searchVal,
        province: this.curPro,
        city: this.curCity,
        category: this.curType,
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        subcid: this.normCode ? this.normCode : null, // 国标分类id
      };
      getSupplierPageList(data).then((res) => {
        if (res && res.code == "01") {
          console.log(res);
          this.tableData = res.body.list;
          this.totalCount = res.body.totalCount;
        }
      });
    },
    // 筛选来源
    changeSource(name) {
      this.curSource = name;
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 筛选分类
    changeType(name) {
      this.curType = name;
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro;
      this.curCityList = this.areaData[pro];
      this.curCity = null;
      this.currentPage = 1;
      this.getSupplierPageList();

      // 筛选条件-适用地区-省份
      //   this.updateScreen("address", pro);
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city;
      this.currentPage = 1;
      this.getSupplierPageList();

      // 筛选条件-适用地区-城市
      //   let reCity = city ? this.curPro + "-" + city : null;
      //   this.updateScreen("address", reCity, this.curPro);
    },

    // 获取国标分类和自定义分类和城市
    getSupplierCondition() {
      getSupplierCondition().then((res) => {
        console.log("全部", res);
        if (res && res.code == "01") {
          this.customType = res.body.customClassifyList;
          this.normType = res.body.subClassifyList;

          this.commonAreaList = res.body.areaList;
          let areaData = []; //  [{省：[{市：[区]}]}]
          let proList = [];
          this.commonAreaList.forEach((item) => {
            proList.push(item.name);
            let cityarr = [];
            if (item.sub)
              item.sub.forEach((city) => {
                let areaarr = [];
                if (city.sub)
                  city.sub.forEach((area) => {
                    areaarr.push(area.name);
                  });
                let obj = {};
                obj.name = city.name;
                obj.sub = areaarr;
                cityarr.push(obj);
              });
            areaData[item.name] = cityarr;
          });
          this.curproList = proList;
          this.areaData = areaData;
        }
      });
    },

    // 筛选自定义分类(父项)
    changeCurMyType(index, id) {
      this.customTypeItem = [];
      this.curMytype = id;
      this.curMytypeItem = "";
      this.custypeId = id;
      if (index !== "") {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub;
        }
      }
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 筛选自定义分类(子项)
    changeCurMyTypeItem(name, id) {
      this.curMytypeItem = name;
      if (id !== "") {
        this.custypeId = id;
      } else {
        this.custypeId = this.curMytype;
      }
      this.currentPage = 1;
      this.getSupplierPageList();
    },

    // 获取(材价)国标分类
    getMatSubClassify(data) {
      return new Promise((resolve, reject) => {
        getMatSubClassify(data).then((res) => {
          this.curNormType = "";
          this.curNormTypeItem = "";
          this.normCode = "";
          this.normTypeItem = [];
          this.normTypeItem2 = [];
          this.normType = res.body;
          resolve();
        });
      });
    },
    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code;
      this.curNormTypeItem = "";
      this.normCode = code;
      if (index !== "") {
        this.normTypeItem = this.normType[index].sub;
      } else {
        this.normTypeItem = [];
      }
      this.currentPage = 1;
      this.getSupplierPageList("pass");
    },
    // 切换国标分类（子项）
    changeNormTypeItem(name, code) {
      this.curNormTypeItem = name;
      if (code !== "") {
        this.normCode = code;
      } else {
        this.normCode = this.curNormType;
      }
      this.currentPage = 1;
      this.getSupplierPageList("pass");
    },

    // 跳转到详情
    toSupplierDetail(row) {
      this.$router.push({
        path: "/supplier/detail",
      });
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/busScopePage.scss";
</style>
<style lang="scss">
@import "../../styles/busCommPage.scss";
</style>