<template>
  <div class="other-container">
    <div class="material-count">
      <div class="mb-14 flex-c">
        <span class="s-label text-16">发布价编制</span>
        <div class="ml-5 com-switch">
          <span v-show="isSendCompilePrice" class="open-text" @click="changeSendCompilePrice(false)">关闭</span>
          <span v-show="!isSendCompilePrice" class="close-text" @click="changeSendCompilePrice(true)">启动</span>
          <el-switch v-model="isSendCompilePrice" active-color="#2773FC" inactive-color="#C2C2C2" @change="changeSendCompilePrice" />
        </div>
      </div>
      <p class="ss-text mb-10">注：开启时将可编制测算价格，关闭时将无法编制发布价格，测算价格直接成为编制价格</p>
      <div class="mt-20 mb-14 flex-c">
        <span class="s-label text-16">综合价双审</span>
        <div class="ml-5 com-switch ">
          <!-- class="ml-5 com-switch custom-switch" -->
          <!-- <span v-show="isReview" class="open-text" @click="changeReview(false)">双审</span>
          <span v-show="!isReview" class="close-text" @click="changeReview(true)">单审</span> -->
          <span v-show="isReview" class="open-text" @click="changeReview(false)">关闭</span>
          <span v-show="!isReview" class="close-text" @click="changeReview(true)">启动</span>
          <el-switch v-model="isReview" active-color="#2773FC" inactive-color="#C2C2C2" @change="changeReview" />
        </div>
      </div>
      <p class="ss-text mb-10">注：开启后，综合价需要进行审核与审批两个评审</p>
      <!-- <p class="ss-text mb-10">注：单审--综合价只需要审核</p>
      <p class="ss-text"><span class="com-alt">注：</span>双审--综合价需要审核+审批</p> -->
      <div class="mt-20 mb-14 flex-c">
        <span class="s-label text-16">自动测算</span>
        <div class="ml-5 com-switch">
          <span v-show="isAuto" class="open-text" @click="changeAutoCal(false)">关闭</span>
          <span v-show="!isAuto" class="close-text" @click="changeAutoCal(true)">启动</span>
          <el-switch v-model="isAuto" active-color="#2773FC" inactive-color="#C2C2C2" @change="changeAutoCal(isAuto)" />
        </div>
      </div>
      <p class="ss-text">注：自动测算开始后，将关闭该期材价上传功能。</p>
      <div class="flex-c m-cycle m-ipt">
        <span class="ml-9 mr-15 s-text">在该周期结束时间的</span>
        <el-select v-model="curCycleOption" class="mr-10" placeholder="" @change="changeParams">
          <el-option v-for="item in cycleOptions" :key="item.value" :label="item.label" :value="item.value" />
        </el-select>
        <el-input v-model="cycleDay" @input="checkInput" />
        <span class="ml-9 mr-14 s-text">天</span>
        <el-time-picker v-model="cycleTime" format="HH:mm" value-format="HH:mm" prefix-icon="hide-icon" @change="changeParams" />
        <span class="ml-10 s-text">启动自动测算，直到该期综合价测算完成。</span>
        <el-button v-show="showBtn" class="ml-10" type="primary" :loading="saveLoading" @click="setAutoCalParams">保存</el-button>
      </div>
      <!-- <div class="mt-20 mb-14 flex-c">
        <span class="s-label">延迟报价</span>
        <div class="ml-5 com-switch">
          <span class="open-text" v-show="isDelay" @click="changeDelay(false)">关闭</span>
          <span class="close-text" v-show="!isDelay" @click="changeDelay(true)">启动</span>
          <el-switch
            v-model="isDelay"
            active-color="#2773FC"
            inactive-color="#C2C2C2"
            @change="changeDelay">
          </el-switch>
        </div>
      </div>
      <p class="mb-5 ss-text">注：延迟报价开启后，所有报价参与测算</p>
      <p class="ss-text">关闭后：在自动测算时间之后的报价不参与测算</p> -->
    </div>
  </div>
</template>

<script>
import { getSysDict } from '@/api/cs/materialManage'
import { addOrUpdateSysDict, autoPriceCalConfig } from '@/api/cs/user'

export default {
  data() {
    return {
      isRelease: false, // 造价通综合价发布
      isReview: true, // 综合价双审
      reviewId: null,
      isAuto: false, // 自动测算
      autoId: null,
      cycleOptions: [
        {
          value: '0',
          label: '前'
        },
        {
          value: '1',
          label: '后'
        }
      ],
      curCycleOption: '0',
      cycleDay: null,
      cycleTime: null,
      isDelay: false, // 延迟报价
      delayId: null,
      saveLoading: false,
      showBtn: false,
      isSendCompilePrice: false,
      sendCompilePriceId: null
    }
  },
  mounted() {
    this.getSysAudit()
    // this.getDelayReport()
    this.getAutoCal()
    this.getSendCompilePrice()
  },
  methods: {
    // 设置延迟报价
    setSendCompilePrice() {
      var params = {
        id: this.sendCompilePriceId,
        dictStatus: this.isSendCompilePrice ? 1 : 0
      }
      addOrUpdateSysDict(params).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 切换发布编制价
    changeSendCompilePrice(val) {
      this.isSendCompilePrice = val
      this.setSendCompilePrice()
    },
    // 获取发布编制价
    getSendCompilePrice() {
      var params = {
        dictTypeId: 'ENABLE_COMP'
      }
      getSysDict(params).then(res => {
        if (res.code == '01') {
          this.isSendCompilePrice = res.body.dictStatus == 1
          this.sendCompilePriceId = res.body.id
        }
      })
    },
    changeParams() {
      this.showBtn = true
    },
    // 数值校验
    checkInput() {
      this.showBtn = true
      this.cycleDay = this.cycleDay.replace(/[^0-9]/g, '')
      try {
        if (this.cycleDay.length > 1 && this.cycleDay.slice(0, 1) == 0) {
          this.cycleDay = this.cycleDay.slice(1)
        }
      } catch (err) {}
    },
    // 获取自动测算
    getAutoCal() {
      var params = {
        dictTypeId: 'AUTO_MAT_PRICE'
      }
      getSysDict(params).then(res => {
        if (res.code == '01') {
          this.isAuto = res.body.dictStatus == 1
          this.autoId = res.body.id
          if (res.body.dictValue?.date) {
            this.curCycleOption =
              res.body.dictValue?.date === 'before' ? '0' : '1'
          }
          this.cycleDay = res.body.dictValue?.day || '1'
          this.cycleTime =
            (res.body.dictValue?.hour || '00') +
            ':' +
            (res.body.dictValue?.minute || '00')
        }
      })
    },
    // 获取延迟报价
    getDelayReport() {
      var params = {
        dictTypeId: 'DELAY_REPORT'
      }
      getSysDict(params).then(res => {
        if (res.code == '01') {
          this.isDelay = res.body.dictStatus == 1
          this.delayId = res.body.id
        }
      })
    },
    // 获取综合价双审
    getSysAudit() {
      var params = {
        dictTypeId: 'REVIEW_TYPE'
      }
      getSysDict(params).then(res => {
        if (res.code == '01') {
          this.isReview = res.body.dictStatus == 1
          this.reviewId = res.body.id
        }
      })
    },
    // 设置延迟报价
    setDelay() {
      var params = {
        id: this.delayId,
        dictStatus: this.isDelay ? 1 : 0
      }
      addOrUpdateSysDict(params).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 切换延迟报价
    changeDelay(val) {
      this.isDelay = val
      this.setDelay()
    },
    // 设置综合价双审
    setReview() {
      var params = {
        id: this.reviewId,
        dictStatus: this.isReview ? 1 : 0
      }
      addOrUpdateSysDict(params).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 切换造价通综合价发布
    changeRelease(val) {
      this.isRelease = val
    },
    // 切换综合价双审
    changeReview(val) {
      this.isReview = val
      this.setReview()
    },
    // 设置自动测算参数
    setAutoCalParams() {
      if (!this.cycleDay) {
        this.$message({
          type: 'error',
          message: '请输入天数'
        })
        return
      }
      if (!this.cycleTime) {
        this.$message({
          type: 'error',
          message: '请选择时间'
        })
        return
      }
      var dictValue = {}
      let date = 'before'
      if (this.curCycleOption === '1') {
        date = 'after'
      }
      dictValue.date = date
      dictValue.day = this.cycleDay
      dictValue.hour = this.cycleTime.split(':')[0]
      dictValue.minute = this.cycleTime.split(':')[1]

      var params = {
        id: this.autoId,
        autoInfo: dictValue,
        dictStatus: this.isAuto ? 1 : 0
      }
      this.saveLoading = true
      autoPriceCalConfig(params)
        .then(res => {
          this.saveLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showBtn = false
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.saveLoading = false
        })
    },
    // 设置自动测算
    setAutoCal() {
      var dictValue = null
      if (this.cycleDay && this.cycleTime) {
        dictValue = {}
        let date = 'before'
        if (this.curCycleOption == '1') {
          date = 'after'
        }
        dictValue.date = date
        dictValue.day = this.cycleDay
        dictValue.hour = this.cycleTime.split(':')[0]
        dictValue.minute = this.cycleTime.split(':')[1]
      }

      var data = {
        id: this.autoId,
        autoInfo: dictValue || null,
        dictStatus: this.isAuto ? 1 : 0
      }
      autoPriceCalConfig(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 切换自动测算
    changeAutoCal(val) {
      if (val) {
        if (!this.cycleDay) {
          this.$message({
            type: 'error',
            message: '请输入天数'
          })
          this.isAuto = false
          return
        }
        if (!this.cycleTime) {
          this.$message({
            type: 'error',
            message: '请选择时间'
          })
          this.isAuto = false
          return
        }
      }

      this.isAuto = val
      this.setAutoCal()
    }
  }
}
</script>

<style lang="scss" scoped>
.other-container {
  padding: 0 20px;
  .s-label {
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  .s-text {
    color: #666;
    font-size: 14px;
  }
  .ss-text {
    color: #666;
    font-size: 12px;
  }
  .material-count {
    .m-cycle {
      padding: 0 20px;
      margin-top: 20px;
      width: 100%;
      height: 54px;
      background: #f8fbff;
    }
  }
  .warning-warp {
    margin-top: 40px;
  }
  .close-text {
    left: 25px;
  }
}
</style>

<style lang="scss">
@import '../../../../styles/cs/variables.scss';
.other-container {
  .m-ipt {
    input,
    .el-input {
      padding: 0;
      width: 60px;
      height: 34px;
    }
    .el-date-editor {
      width: 70px;
      input {
        width: 70px;
      }
      .el-input__suffix {
        right: -2px;
        top: -3px;
      }
    }
    input {
      text-indent: 10px;
    }
    .el-input__suffix {
      display: none;
      right: 0px;
      top: 4px;
    }
  }
  .custom-switch {
    .el-switch__core {
      border-color: $color-primary !important;
      background-color: $color-primary !important;
    }
  }
}
</style>
