<template>
  <div class="index-calculate">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>指标设置</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/targetSet/earlyWarn' }">预警设置</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">{{ targetId ? "查看" : "新增" }}预警配置</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="tab-content mt-10">
      <div class="content-left">
        <div class="left-top flex-fd-c pt-10">
          <p class="bold-p">{{engType}}指标预警设置</p>
          <ul class="ul-form top-form">
            <li class="flex-c">
              <span class="label-text width-96">选择预警模型：</span>
              <div class="flex-c com-select cycle-wrap">
                <el-select class="com-radius-input" v-model="curModel" placeholder="请选择" size="medium">
                  <el-option v-for="item in modelList" :key="item.value" :label="item.name" :value="item.value">
                  </el-option>
                </el-select>

                <img v-if="curModel == 2" class="flag-img" title="典型工程设置" src="@/assets/img/v2.0/icons/flag.png" alt="" />
              </div>

              <span class="label-text text-right width-96"><span class="red">*</span>地区：</span>
              <div class="flex-c com-select cycle-wrap ml-10">
                <el-select class="com-radius-input" v-model="curProvince" placeholder="请选择省份" @change="provinceChange" size="medium" value-key="name">
                  <el-option v-for="item in provinceList" :key="item.id" :label="item.name" :value="item">
                  </el-option>
                </el-select>
              </div>
              <div class="flex-c com-select cycle-wrap ml-10">
                <el-select class="com-radius-input" v-model="curCity" placeholder="请选择城市" @change="cityChange" size="medium" value-key="name">
                  <el-option v-for="item in cityList" :key="item.id" :label="item.name" :value="item">
                  </el-option>
                </el-select>
              </div>
              <p class="red ml-20" style="font-size: 14px" v-if="addressWarn">
                {{ addressWarn }}
              </p>
            </li>
          </ul>
        </div>
        <template v-if="curModel != 3">
          <div class="left-top flex-fd-c mt-10">
            <span class="com-tag-span gray"><span class="red">*</span>预警维度</span>
            <ul class="ul-form top-form">
              <li class="flex-c">
                <span class="label-text">指标阶段：</span>
                <div class="div-spans">
                  <el-checkbox :indeterminate="isIndeterminate" v-model="stageAll" @change="handleCheckAllChange" class="mr-30">全部</el-checkbox>
                  <el-checkbox-group v-model="checkedStages" @change="handleCheckedStagesChange">
                    <el-checkbox v-for="stage in stages" :label="stage.id" :key="stage.id" :disabled="!stage.isEnable">{{ stage.enableCustom? stage.customName: stage.stdName }}</el-checkbox>
                  </el-checkbox-group>
                </div>
              </li>
              <li class="flex-c">
                <span class="label-text">指标分类：</span>
                <div class="div-spans">
                  <el-checkbox :indeterminate="isIndeterminate2" v-model="typeAll" @change="handleCheckAllChange2" class="mr-30">全部</el-checkbox>
                  <el-checkbox-group v-model="checkedTypes" @change="handleCheckedTypesChange">
                    <el-checkbox v-for="type in types" :label="type.dictValue" :key="type.id">{{ type.dictName }}</el-checkbox>
                  </el-checkbox-group>
                </div>
              </li>
            </ul>
          </div>
          <div class="left-bottom mt-10">
            <span class="com-tag-span gray">筛选样本</span>
            <ul class="ul-form top-form">
              <li class="flex-c boder-li">
                <span class="label-text"><span class="red">*</span>时间范围：</span>
                <div class="com-time-search">
                  <el-date-picker v-model="startDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :picker-options="pickerOptions1">
                  </el-date-picker>
                </div>
                <span class="com-line"></span>
                <div class="com-time-search">
                  <el-date-picker v-model="endDate" disabled type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :picker-options="pickerOptions2">
                  </el-date-picker>
                </div>
              </li>
              <li class="boder-li">
                <p class="tag-p mb-10"><span class="red">*</span>指标来源</p>
                <el-radio class="source-check" v-model="checkedSource" :label="0">原项目造价指标数据</el-radio>
                <el-radio class="source-check" v-model="checkedSource" :label="1">公有云共享指标</el-radio>
              </li>
              <li class="boder-li" style="padding-bottom: 8px">
                <p class="tag-p mb-15">
                  <span class="red">*</span>技术特征匹配
                  <el-popover placement="right" width="200" trigger="hover">
                    <p class="orange text-12">
                      设置预警指标计算样本需要的主技术特征
                    </p>
                    <img slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="" />
                  </el-popover>
                </p>
                <div v-for="(item, key) in featureList" :key="key" class="div-row mb-10" v-show="key <= 6 || isFold">
                  <span class="label-text width-96">{{ item.name }}：</span>
                  <div class="div-spans">
                    <el-checkbox :indeterminate="featureList[key].indeterminates" v-model="featureList[key].featureAll" @change="conditionCheckAllChange($event, key)" class="mr-30 all">
                      全部
                    </el-checkbox>
                    <el-checkbox-group v-model="featureList[key].featureChecked" @change="conditionCheckedFeaturesChange($event, key)">
                      <el-checkbox v-show="idx <= 7 || item.isShow" v-for="(it, idx) in featureItem(item.defaultValues)" :label="it" :key="item.name + idx + it">{{ it }}</el-checkbox>
                      <span class="more p-color" @click="setMoreType(item)" v-if="featureItem(item.defaultValues) && featureItem(item.defaultValues).length > 8">
                        {{ item.isShow ? "收起" : "更多" }}
                        <span class="cp  p-color el-icon-arrow-right" :class="{ 'is-rotate': item.isShow}"></span>
                      </span>
                    </el-checkbox-group>
                  </div>
                </div>
                <!-- 展开更多 -->
                <div class="show-more" @click="isFold = !isFold">
                  <span>{{isFold?'收起':'展开'}}</span>
                  <span class="cp el-icon-arrow-down" :class="{'is-rotate': isFold}"></span>
                </div>
              </li>
              <li class="boder-li">
                <p class="tag-p mb-5">计算方式</p>

                <ul class="ul-form div-calculate">
                  <li class="flex-c">
                    <span class="label-text"><span class="red">*</span>算法选择</span>
                    <el-radio-group @change="algorithmChange" v-model="algorithm">
                      <el-radio :label="1">算术平均</el-radio>
                      <el-radio :label="2">正态分布</el-radio>
                      <el-radio :label="3">中位数 </el-radio>
                    </el-radio-group>
                  </li>
                  <li v-show="algorithm != 3" class="flex-c">
                    <span class="label-text">区间合理系数</span>
                    <el-input-number size="medium" class="max-120" placeholder="请输入合理系数" v-model="curCoef" auto-complete="off" :max="100" :min="0" :controls="false"></el-input-number>
                    <template v-if="algorithm == 2">
                      <span class="label-text width-50">占比</span>
                      <el-input-number size="medium" class="max-120" placeholder="请输入占比" v-model="curRatio" auto-complete="off" :max="100" :min="0" :controls="false"></el-input-number>
                    </template>
                  </li>
                  <li class="flex-c">
                    <span class="label-text"><span class="red">*</span>换算时间</span>
                    <div class="flex-c com-select cycle-wrap w-260">
                      <el-select class="com-radius-input" v-model="curTime" placeholder="请选择" size="medium">
                        <el-option label="自动换算为预警对象时间" :value="1">
                        </el-option>
                        <el-option label="不进行时间换算" :value="2">
                        </el-option>
                      </el-select>
                    </div>
                  </li>
                  <!-- <li class="flex-c">
                    <span class="label-text">新旧定额修正</span>
                    <el-radio-group v-model="radio">
                      <el-radio :label="3">否</el-radio>
                      <el-radio :label="6">是</el-radio>
                    </el-radio-group>
                  </li> -->
                  <li class="flex-c">
                    <span class="label-text"><span class="red">*</span>预警范围计算</span>
                    <el-radio-group v-model="warnRange">
                      <el-radio :label="1">平均偏差
                        <el-popover placement="right" width="200" trigger="hover">
                          <p class="orange text-12 pop-p">
                            注：平均偏差是数列中各项数值与其算术平均数的离差绝对值的算术平均数，<a href="#" class="blue">查看示例</a>
                          </p>
                          <img slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="" />
                        </el-popover>
                      </el-radio>
                      <el-radio :label="2">自定义</el-radio>
                      <template v-if="warnRange == 2">
                        <el-input-number size="medium" class="max-120" placeholder="请输入占比 %" v-model="warnMin" auto-complete="off" @blur="checkWarnMin" :controls="false"></el-input-number>
                        <span class="ml-10 mr-10">~</span>
                        <el-input-number size="medium" class="max-120" placeholder="请输入占比 %" v-model="warnMax" auto-complete="off" @blur="checkWarnMax" :controls="false"></el-input-number>
                        <!-- <span style="color: #f13a3f"
                        >（注：用户按自己实际需求设定预警范围，如-15%~15%）</span
                      > -->
                        <el-popover placement="right" width="200" trigger="hover">
                          <p class="orange text-12 pop-p">
                            注：请按自己实际需求设定预警范围，如-15%~15%
                          </p>
                          <img class="ml-10" slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="" />
                        </el-popover>
                      </template>
                    </el-radio-group>
                  </li>
                </ul>
              </li>
              <li class="boder-li pb-0">
                <p class="tag-p mb-5">其它设置</p>
                <ul class="ul-form div-calculate">
                  <li class="flex-c">
                    <span class="label-text"><span class="red">*</span>预警对象</span>
                    <el-radio-group v-model="warnProject">
                      <el-radio :label="1">参与计算</el-radio>
                      <el-radio :label="2">不参与计算
                        <el-popover placement="right" width="200" trigger="hover">
                          <p class="orange text-12">
                            预警对象设置说明：设定被预警对象是否参与预警指标计算。
                          </p>
                          <img slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="" />
                        </el-popover>
                      </el-radio>
                    </el-radio-group>
                  </li>
                  <li class="flex-c">
                    <span class="label-text"><span class="red">*</span>筛选无样本</span>
                    <el-radio-group v-model="warnSample">
                      <el-radio :label="1">全样本计算</el-radio>
                      <el-radio :label="2">不预警
                        <el-popover placement="right" width="200" trigger="hover">
                          <p class="orange text-12">
                            筛选无样本设置说明：当选完匹配条件，而样本数量小于等于1时，设置当前指标是采用系统全样本还是暂时不预警。
                          </p>
                          <img slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="" />
                        </el-popover>
                      </el-radio>
                    </el-radio-group>
                  </li>
                </ul>
              </li>
              <li class="boder-li">
                <ul class="ul-form div-calculate">
                  <li class="flex-c">
                    <span class="label-text">预警开关</span>
                    <el-radio-group v-model="warnSwitch">
                      <el-radio :label="1">开启预警</el-radio>
                      <el-radio :label="0">关闭预警</el-radio>
                    </el-radio-group>
                  </li>
                  <li class="flex-c">
                    <span class="label-text">无平均偏差预警范围</span>
                    <el-input-number size="medium" class="max-120" placeholder="请输入占比 %" v-model="unbiasedMin" auto-complete="off" :controls="false" @input="checkunMinBlur"></el-input-number>
                    <span class="ml-10 mr-10">~</span>
                    <el-input-number size="medium" class="max-120" placeholder="请输入占比 %" v-model="unbiasedMax" auto-complete="off" :controls="false" @input="checkunMaxBlur"></el-input-number>
                    <el-popover placement="right" width="200" trigger="hover">
                      <p class="orange text-12 pop-p">
                        合理范围值无法通过系统计算得到时，采用该设置合理范围进行预警。例：样本数量小于4
                      </p>
                      <img class="ml-10" slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="" />
                    </el-popover>
                    <!-- <el-radio-group v-model="radio">
                    <el-radio :label="3">只对新入库目的指标预警</el-radio>
                    <el-radio :label="6">对所有项目目的指标预警</el-radio>
                  </el-radio-group> -->
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </template>
        <template v-else>
          <div class="flex-c com-menu-wrap mt-10">
            <div class="cp m-item" :class="{ active: curMenu === '估算' }" @click="changeMenu('估算')">
              <span>估算</span>
              <div class="t-line"></div>
            </div>
            <div class="cp m-item" :class="{ active: curMenu === '概算' }" @click="changeMenu('概算')">
              <span>概算</span>
              <div class="t-line"></div>
            </div>
            <div class="cp m-item" :class="{ active: curMenu === '预算' }" @click="changeMenu('预算')">
              <span>预算</span>
              <div class="t-line"></div>
            </div>
            <div class="cp m-item" :class="{ active: curMenu === '结算' }" @click="changeMenu('结算')">
              <span>结算</span>
              <div class="t-line"></div>
            </div>
          </div>

          <ul class="ul-form top-form div-calculate div-custom">
            <li class="flex-c">
              <span class="label-text"><span class="red">*</span>建安工程总造价：</span>
              <el-input-number size="medium" class="max-120" placeholder="请输入总造价" v-model="costPrice" auto-complete="off" :controls="false"></el-input-number>
              <span class="ml-10 mr-5">元/</span>
              <el-select v-model="costUnit" class="max-80" size="medium" placeholder="单位">
                <el-option v-for="item in unitList" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>

              <el-button type="primary" class="flex-cc btn btn2 ml-20" @click="toCalculate">去测算
              </el-button>
            </li>
            <li class="flex-c">
              <span class="label-text"><span class="red">*</span>预警范围：</span>
              <el-input-number size="medium" class="max-120" placeholder="请输入占比 %" v-model="customMin" auto-complete="off" @blur="checkCustomMin" :controls="false"></el-input-number>
              <span class="ml-10 mr-10">~</span>
              <el-input-number size="medium" class="max-120" placeholder="请输入占比 %" v-model="customMax" auto-complete="off" @blur="checkCustomMax" :controls="false"></el-input-number>
              <el-popover placement="right" width="200" trigger="hover">
                <p class="orange text-12 pop-p">
                  设置自定义预警范围值如-15%~15%
                </p>
                <img class="ml-10" slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="" />
              </el-popover>
            </li>
            <li class="flex-c">
              <span class="label-text">预警开关</span>
              <el-radio-group v-model="warnSwitch">
                <el-radio :label="1">开启预警</el-radio>
                <el-radio :label="0">关闭预警</el-radio>
              </el-radio-group>
            </li>
          </ul>

          <template v-if="curMenu != '估算'">
            <div class="div-edit">
              <div class="ul-form">
                <span class="label-text">单位工程：</span>
                <el-select v-model="stdCode" size="medium" placeholder="单位工程" @change="getCustomProject">
                  <el-option v-for="item in units" :key="item.code" :label="item.stdName" :value="item.code">
                  </el-option>
                </el-select>
              </div>

              <div class="sample-table com-table-wrap mt-20">
                <!-- 表内容 -->
                <el-table ref="multipleTable" :data="configureList" tooltip-effect="dark" v-loading="tableLoading" border class="table-main" style="width: 100%">
                  <el-table-column min-width="250px" label="指标名称" prop="name"></el-table-column>
                  <el-table-column min-width="140px" label="指标分类" prop="typeName">
                  </el-table-column>
                  <el-table-column min-width="200px" :label="'预警指标（元/' + (costUnit || ' - ') + '）'" prop="price">
                    <template slot-scope="scope">
                      <el-input v-model="scope.row.price" @input="checkPriceNumber(scope.row.price, scope.$index)" placeholder="请输入预警指标">
                      </el-input>
                    </template>
                  </el-table-column>
                  <el-table-column min-width="270px" label="预警范围">
                    <template slot-scope="scope">
                      <div class="flex-c">
                        <el-input v-model="scope.row.calculateSectionMin" @input="
                            checkMinNumber(
                              scope.row.calculateSectionMin,
                              scope.$index
                            )
                          " @blur="
                            checkMinBlur(
                              scope.row.calculateSectionMin,
                              scope.$index
                            )
                          " placeholder="请输入最小范围 %">
                        </el-input>
                        <span class="ml-10 mr-10">~</span>
                        <el-input v-model="scope.row.calculateSectionMax" @input="
                            checkMaxNumber(
                              scope.row.calculateSectionMax,
                              scope.$index
                            )
                          " @blur="
                            checkMaxBlur(
                              scope.row.calculateSectionMax,
                              scope.$index
                            )
                          " placeholder="请输入最大范围 %">
                        </el-input>
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column min-width="150px" label="操作">
                    <template slot-scope="scope">
                      <span class="red-btn" @click="toCalculate(scope.row)">去测算</span>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </div>
          </template>
        </template>

        <div class="left-footer flex-cc">
          <el-button @click="editTarget" v-loading="btLoading" type="primary" class="flex-cc btn">
            保存
          </el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAreaTree } from '@/api/common'
import {
  verifyCity,
  dictionary,
  getTecFeature,
  addIndicator,
  lookIndicator,
  updateIndicator,
  editCustomInfo,
  getCustomInfo,
  getCustomProject
} from '@/api/targetApplication'
import { queryNormEngList } from '@/api/project'

import { formatDate } from '@/utils/common'
import merge from 'webpack-merge'
export default {
  name: 'addEarlyWarn',
  data() {
    return {
      isFold: false, // 折叠更多筛选
      curModel: 1, // 选中预警模型
      modelList: [
        {
          value: 1,
          name: '系统均值'
        },
        {
          value: 2,
          name: '典型工程'
        },
        {
          value: 3,
          name: '自定义预警'
        }
      ], // 预警模型列表

      curProvince: null, // 选中省份
      provinceList: [], // 省份列表
      curCity: null, // 选中城市
      cityList: [], // 城市列表

      // 指标阶段
      stageAll: false,
      checkedStages: [],
      isIndeterminate: false,
      // 指标分类
      typeAll: false,
      checkedTypes: [],
      types: [],
      isIndeterminate2: false,
      // 指标来源
      checkedSource: 0,

      radio: 3, // 算法选择

      startDate: null, // 开始时间
      endDate: new Date(), // 结束时间
      pickerOptions1: {
        // 开始时间不可大于结束时间
        disabledDate: time => {
          // if (this.endDate) {
          //   let end = this.endDate + " 23:59:59"; // 日期详细才能选中当天
          //   return time.getTime() > new Date(end);
          // }
          return time.getTime() > Date.now()
        }
      },
      pickerOptions2: {
        // 结束时间不可小于开始时间
        disabledDate: time => {
          if (this.startDate) {
            const start = this.startDate + ' 00:00:00'
            return time.getTime() < new Date(start)
          }
        }
      },

      warnRange: 1, // 无偏差预警范围：1、平均偏差 2、自定义
      algorithm: 1, // 算法选择：1、算术平均 2、正态分布 3、中位数
      curMenu: '估算',
      costPrice: undefined, // 建安工程总造价
      costUnit: '㎡', // 总造价单位
      customMin: undefined, // 自定义 预警范围 小
      customMax: undefined, // 自定义 预警范围 大
      unitList: [
        'm',
        '㎡',
        'm³',
        '台',
        't',
        'km',
        '个',
        '根',
        '站',
        '正线公里',
        '延长米'
      ], // 计算口径列表（目前没有接口获取，前端固定）
      configureList: [], // 单位工程表格
      tableLoading: false,
      addressWarn: '', // 地区校验提示
      stageOptions: [], // 指标阶段
      typeOptions: [], // 指标分类
      featureList: [], // 技术特征
      curTime: 1, // 换算时间  1-自动换算为预警对象时间 2-不进行时间换算
      warnMin: -15, // 预警范围 - 小
      warnMax: 15, // 预警范围 - 大
      warnProject: 2, // 预警对象 1-参与计算 2-不参与计算
      warnSample: 1, // 筛选无样本 1-全样本计算 2-不预警
      warnSwitch: 1, // 预警开关  0-关闭 1-开启
      unbiasedMin: -10, // 无平均偏差预警范围 - 小
      unbiasedMax: 10, // 无平均偏差预警范围 - 大
      curCoef: 1, // 区间合理系数
      curRatio: 90, // 占比
      btLoading: false,

      units: [], // 单位工程
      stdCode: '', // 选中单位工程code
      costomId: '' // 自定义 - 预警id
    }
  },
  mounted() {
    // 当前预警模型
    const model = this.$route.query.warnModel
    if (model) this.curModel = Number(model)

    this.getTecFeature() // 技术特征
    this.getAreaTreeList() // 获取省市区
    this.dictionary() // 指标分类
    this.queryNormEngList() // 单项工程

    console.log('阶段列表', this.stages)

    setTimeout(() => {
      // 查看
      if (this.targetId && model != 3) {
        this.lookIndicator()
      } else if (this.targetId && model == 3) {
        this.getCustomInfo()
      }

      this.stageOptions = this.stages.map(res => {
        return res.id
      })
    }, 200)
  },
  computed: {
    specialtyType() {
      return this.$route.query.specialtyType
    },
    projectType() {
      return this.$route.query.projectType
    },
    engType() {
      return this.$route.query.engType
    },
    specialtyCode() {
      return this.$route.query.specialtyCode
    },
    targetId() {
      return this.$route.query.id
    },
    stages() {
      // 阶段列表
      return this.$store.state.project.stageList
    },
    stageConfigId() {
      // 当前阶段id
      let stageConfigId = ''
      const stages = this.$store.state.project.stageList
      console.log(stages)
      if (stages && stages.length) {
        for (let i = 0, l = stages.length; i < l; i++) {
          if (this.curMenu == stages[i].stdName) {
            stageConfigId = stages[i].id
            break
          }
        }
      }
      return stageConfigId
    }
  },
  methods: {
    setMoreType(item) {
      if (!item.isShow) {
        this.$set(item, 'isShow', false)
        item.isShow = !item.isShow
      } else {
        item.isShow = !item.isShow
      }
    },
    // 自定义预警-tab切换
    changeMenu(item) {
      this.curMenu = item
      if (item != '估算') this.getCustomProject()

      if (this.targetId) this.getCustomInfo()
    },
    // 指标阶段
    handleCheckAllChange(val) {
      this.checkedStages = val ? this.stageOptions : []
      this.isIndeterminate = false
    },
    handleCheckedStagesChange(value) {
      const checkedCount = value.length
      this.stageAll = checkedCount === this.stages.length
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.stages.length
    },
    // 指标分类
    handleCheckAllChange2(val) {
      this.checkedTypes = val ? this.typeOptions : []
      this.isIndeterminate2 = false
    },
    handleCheckedTypesChange(value) {
      const checkedCount = value.length
      this.typeAll = checkedCount === this.types.length
      this.isIndeterminate2 =
        checkedCount > 0 && checkedCount < this.types.length
    },
    // 技术特征复选-全选
    conditionCheckAllChange(val, key) {
      const featureArr = val ? this.featureList[key].featureArr : []
      this.$set(this.featureList[key], 'featureChecked', featureArr) // $set实现双向绑定，实时更新视图
      this.featureList[key].indeterminates = false
    },
    conditionCheckedFeaturesChange(value, key) {
      this.$emit('change', this.featureList[key].featureChecked)
      const checkedCount = this.featureList[key].featureChecked.length
      const featuresLen = this.featureList[key].featureArr.length
      this.featureList[key].featureAll = checkedCount === featuresLen
      this.featureList[key].indeterminates =
        checkedCount > 0 && checkedCount < featuresLen
    },
    // 选中省份
    provinceChange(pro) {
      this.cityList = pro.sub || []
      this.curCity = this.cityList[0]
      this.verifyCity()
    },
    // 选中城市
    cityChange() {
      this.verifyCity()
    },
    // 获取地区（省，市，区）
    getAreaTreeList() {
      getAreaTree().then(res => {
        if (res && res.code === '01') {
          this.provinceList = res.body
        }
      })
    },
    // 去测算
    toCalculate(row) {
      console.log('表格', row)

      const query = {
        specialtyType: this.specialtyType,
        projectType: this.projectType,
        engType: this.engType,
        stageConfigId: this.stageConfigId,
        province: this.curProvince,
        city: this.curCity
      }

      if (row) query.protypeCode = row.indicatorCode

      const routeData = this.$router.resolve({
        name: 'Targets',
        query
      })
      window.open(routeData.href, '_blank')
    },
    // 编辑表格-失去焦点
    loseFcous(index, row) {
      row.seen = false
    },
    // 编辑表格-点击
    cellClick(row, column) {
      row.seen = true
    },
    // 地区校验
    verifyCity() {
      const data = {
        projectType: this.projectType,
        specialtyType: this.specialtyType,
        engType: this.engType,
        province: this.curProvince.name,
        city: this.curCity.name,
        id: null
      }
      verifyCity(data).then(res => {
        if (res && res.code == '1201') {
          this.addressWarn = res.message
        } else {
          this.addressWarn = ''
        }
      })
    },
    // 获取字典值
    dictionary() {
      dictionary({ dictType: 'INDICATOR_ECON_WARN_TYPE' }).then(res => {
        if (res && res.code == '01') {
          this.types = res.body
          this.typeOptions = this.types.map(res => {
            return res.dictValue
          })
        }
      })
    },
    // 获取匹配的技术特征
    getTecFeature() {
      getTecFeature({ code: this.specialtyCode }).then(res => {
        if (res && res.code == '01') {
          this.featureList = res.body

          if (this.featureList && this.featureList.length) {
            for (let i = 0, l = this.featureList.length; i < l; i++) {
              const arr = this.featureList[i].defaultValues.split(',')
              this.$set(this.featureList[i], 'featureArr', arr)
              // $set实现双向绑定，实时更新视图
              this.$set(this.featureList[i], 'featureAll', false)
              this.$set(this.featureList[i], 'indeterminates', false)
              this.$set(this.featureList[i], 'featureChecked', [])
            }
          }
        }
      })
    },
    // 字符串转数组
    featureItem(str) {
      let arr = []
      if (str) arr = str.split(',')
      return arr
    },
    // 表单校验
    checkForm() {
      if (this.addressWarn) {
        this.openMessage('该地区已有该预警!')
        return
      }

      if (!this.curProvince) {
        this.openMessage('请选择预警适用地区!')
        return
      }

      if (this.curModel != 3) {
        if (!this.checkedStages.length) {
          this.openMessage('请选择指标阶段!')
          return
        }

        if (!this.checkedTypes.length) {
          this.openMessage('请选择指标分类!')
          return
        }

        if (!this.startDate) {
          this.openMessage('请选择指筛选样本的时间范围!')
          return
        }

        if (this.algorithm == 1) {
          if (!this.curCoef && this.curCoef != 0) {
            this.openMessage('请填写区间合理系数!')
            return
          }
        } else if (this.algorithm == 2) {
          if (!this.curCoef && this.curCoef != 0) {
            this.openMessage('请填写区间合理系数!')
            return
          }

          if (!this.curRatio && this.curRatio != 0) {
            this.openMessage('请填写区间合理占比!')
            return
          }
        }

        if (this.featureList.length) {
          for (let i = 0, l = this.featureList.length; i < l; i++) {
            if (this.featureList[i].featureChecked.length) return true
          }
          this.openMessage('请选择技术特征匹配!')
          return
        }
      } else {
        if (!this.costPrice) {
          this.openMessage('请填写建安工程总造价!')
          return
        }

        if (!this.costUnit) {
          this.openMessage('请选择造价单位!')
          return
        }

        if (!this.customMin || !this.customMax) {
          this.openMessage('请填写完善预警范围!')
          return
        }
      }

      return true
    },
    // 新增/编辑保存预警指标
    editTarget() {
      if (!this.checkForm()) return

      this.btLoading = true
      if (this.curModel != 3) {
        const data = {
          specialtyType: this.specialtyType,
          projectType: this.projectType,
          engType: this.engType,
          warnModel: this.curModel,
          province: this.curProvince.name,
          city: this.curCity.name,
          calculateStartTime: formatDate(this.startDate, 2),
          calculateEndTime: formatDate(this.endDate, 2),
          indicatorSource: this.checkedSource,
          calculateWay: this.algorithm,
          matrixingTimeType: this.curTime,
          scopeCalculateType: this.warnRange,
          warnProject: this.warnProject,
          screenSampleType: this.warnSample,
          warnSwitch: this.warnSwitch,
          warnSectionMin: this.unbiasedMin || null,
          warnSectionMax: this.unbiasedMax || null
        }

        // 指标阶段
        if (this.checkedStages) {
          data.stageConfigIds = this.checkedStages.join(',')
        }

        // 指标分类
        if (this.checkedTypes) data.indicatorTypes = this.checkedTypes.join(',')

        // 区间合理系数
        if (this.algorithm != 3) data.sectionCoef = this.curCoef

        // 占比
        if (this.algorithm == 2) data.proportion = this.curRatio

        // 预警范围计算
        if (this.warnRange == 2) {
          data.calculateSectionMin = this.warnMin
          data.calculateSectionMax = this.warnMax
        }

        // 技术特征匹配
        if (this.featureList.length) {
          const arr = []
          for (let i = 0, l = this.featureList.length; i < l; i++) {
            if (this.featureList[i].featureChecked.length) {
              const obj = {
                indicatorId: null,
                tecFeatureId: this.featureList[i].tecFeatureId,
                relevance: 1,
                featureValue: this.featureList[i].featureChecked.join(',')
              }
              arr.push(obj)
            }
          }
          data.tecFeatureMapReqs = arr
        }

        if (this.targetId) {
          data.id = this.targetId
          updateIndicator(data).then(res => {
            if (res && res.code == '01') {
              this.openMessage('编辑预警配置成功！', 'success')
              this.$router.push({
                path: '/targetSet/earlyWarn',
                query: {
                  specialtyType: this.specialtyType,
                  projectType: this.projectType,
                  engType: this.engType
                }
              })
            }
            this.btLoading = false
          })
        } else {
          addIndicator(data).then(res => {
            if (res && res.code == '01') {
              this.openMessage('新增预警配置成功！', 'success')
              this.$router.push({
                path: '/targetSet/earlyWarn',
                query: {
                  specialtyType: this.specialtyType,
                  projectType: this.projectType,
                  engType: this.engType
                }
              })
            }
            this.btLoading = false
          })
        }
      } else {
        const data = {
          customEnginPrice: this.costPrice || null,
          customEnginUnit: this.costUnit,
          calculateSectionMin: this.customMin || null,
          calculateSectionMax: this.customMax || null,
          id: this.targetId,
          province: this.curProvince.name,
          city: this.curCity.name,
          specialtyType: this.specialtyType,
          projectType: this.projectType,
          engType: this.engType,
          stageConfigId: this.stageConfigId,
          warnModel: this.curModel,
          warnSwitch: this.warnSwitch
        }
        if (this.curMenu != '估算') {
          data.econScopeWarnMapRes = this.configureList
        }
        editCustomInfo(data).then(res => {
          if (res && res.code == '01') {
            if (this.targetId) {
              this.openMessage('编辑自定义配置成功', 'success')
            } else {
              this.openMessage('新增自定义配置成功', 'success')
              this.$router.push({
                query: merge(this.$route.query, { id: res.body, warnModel: 3 })
              })
            }
          }

          this.btLoading = false
        })
      }
    },
    // 切换计算方式的算法
    algorithmChange(val) {
      if (val == 1) this.curCoef = 1
      else if (val == 2) this.curCoef = 1.5
    },
    // 提示
    openMessage(message, type) {
      var message = message || '操作成功！'
      var type = type || 'warning'
      this.$message({
        type,
        message
      })
    },
    // 获取经济指标预警详情数据
    lookIndicator() {
      lookIndicator({ id: this.targetId }).then(res => {
        console.log(res)
        if (res && res.code == '01') {
          const targetDetail = res.body
          this.curProvince = targetDetail.province
          this.curCity = targetDetail.city

          // 后台返回的时间差了8个小时，所以要加上
          let start = targetDetail.calculateStartTime
          if (start) {
            start = new Date(start)
            start.setHours(start.getHours() + 8)
          }
          this.startDate = start

          this.algorithm = targetDetail.calculateWay
          this.curCoef = targetDetail.sectionCoef
          this.curTime = targetDetail.matrixingTimeType
          this.warnRange = targetDetail.scopeCalculateType
          this.warnSample = targetDetail.screenSampleType
          this.warnSwitch = targetDetail.warnSwitch
          this.unbiasedMin = targetDetail.warnSectionMin || undefined
          this.unbiasedMax = targetDetail.warnSectionMax || undefined

          // 占比
          if (targetDetail.calculateWay == 2) {
            this.curRatio = targetDetail.proportion
          }

          // 筛选样本 - 结束时间
          // if (targetDetail.calculateEndTime)
          //   this.endDate = targetDetail.calculateEndTime;

          this.checkedSource = targetDetail.indicatorSource

          // 指标阶段
          if (targetDetail.stageConfigIds) {
            let arr = targetDetail.stageConfigIds.split(',')
            arr = arr.map(Number)
            this.checkedStages = arr
            this.handleCheckedStagesChange(arr)
          }

          // 指标分类
          if (targetDetail.indicatorTypes) {
            const arr = targetDetail.indicatorTypes.split(',')
            this.checkedTypes = arr
            this.handleCheckedTypesChange(arr)
          }

          // 预警范围计算
          if (this.warnRange == 2) {
            this.warnMin = targetDetail.calculateSectionMin
            this.warnMax = targetDetail.calculateSectionMax
          }

          // 技术特征
          const l = targetDetail.tecEntityList.length
          if (l) {
            for (let i = 0; i < l; i++) {
              for (let j = 0, l2 = this.featureList.length; j < l2; j++) {
                if (
                  targetDetail.tecEntityList[i].tecFeatureId ==
                  this.featureList[j].tecFeatureId
                ) {
                  const detailArr = targetDetail.tecEntityList[i].value
                    ? targetDetail.tecEntityList[i].value.split(',')
                    : []
                  const featureArr = this.featureList[j].defaultValues.split(
                    ','
                  )
                  const featureAll = detailArr.length == featureArr.length
                  // $set实现双向绑定，实时更新视图
                  this.$set(this.featureList[j], 'featureAll', featureAll)
                  this.$set(this.featureList[j], 'indeterminates', featureAll)
                  this.$set(this.featureList[j], 'featureChecked', detailArr)
                }
              }
            }
          }
        }
      })
    },
    // 获取经济指标自定义预警详细数据
    getCustomInfo() {
      getCustomInfo({
        id: this.targetId,
        stageConfigId: this.stageConfigId
      }).then(res => {
        console.log('自定义详情', res)
        if (res && res.code == '01') {
          const targetDetail = res.body
          this.curProvince = targetDetail.province
          this.curCity = targetDetail.city
          this.costPrice = targetDetail.customEnginPrice
            ? targetDetail.customEnginPrice
            : undefined
          this.costUnit = targetDetail.customEnginUnit
            ? targetDetail.customEnginUnit
            : '㎡'
          this.customMin = targetDetail.calculateSectionMin
            ? targetDetail.calculateSectionMin
            : undefined
          this.customMax = targetDetail.calculateSectionMax
            ? targetDetail.calculateSectionMax
            : undefined
          this.warnSwitch = targetDetail.warnSwitch
        }
      })
    },
    // 自定义预警 - 获取单位工程
    getCustomProject() {
      const params = {
        stageConfigId: this.stageConfigId,
        stdCode: this.stdCode,
        econWarnId: this.targetId || ''
      }
      getCustomProject(params).then(res => {
        if (res && res.code == '01') {
          this.configureList = res.body
        }
      })
    },
    // 获取单位工程
    queryNormEngList() {
      const data = {
        currentPage: 1,
        pageSize: 99,
        pid: 0,
        type: 1 // 1.单位工程 2.分部工程 3.分项工程 4.清单
      }
      queryNormEngList(data).then(res => {
        if (res && res.code == '01') {
          this.units = res.body.list
          this.stdCode = this.units[0].code
        }
      })
    },

    /**
     * 清除"数字"、"-"和"."以外的字符
     */
    // 数值校验 - 预警指标
    checkPriceNumber(val, index) {
      this.configureList[index].price = val.replace(/[^\d.-]/g, '')
    },
    // 数值校验 - 表格预警范围 - 小
    checkMinNumber(val, index) {
      this.configureList[index].calculateSectionMin = val.replace(
        /[^\d.-]/g,
        ''
      )
    },
    // 数值校验 - 表格预警范围 - 大
    checkMaxNumber(val, index) {
      this.configureList[index].calculateSectionMax = val.replace(
        /[^\d.-]/g,
        ''
      )
    },
    // 失去焦点 - 表格预警范围 - 小
    checkMinBlur(val, index) {
      const max = this.configureList[index].calculateSectionMax
      if (max && val >= max) {
        this.openMessage('预警范围的起始不能大于或等于结束！')
        this.configureList[index].calculateSectionMin = null
      }
    },
    // 失去焦点 - 表格预警范围 - 大
    checkMaxBlur(val, index) {
      const min = this.configureList[index].calculateSectionMin
      if (min && val <= min) {
        this.openMessage('预警范围的起始不能小于或等于结束！')
        this.configureList[index].calculateSectionMax = null
      }
    },
    // 失去焦点 - 无平均偏差 - 小
    checkunMinBlur() {
      if (this.unbiasedMin > 0) {
        this.openMessage('预警范围的起始范围只能是负数或0！')
        this.unbiasedMin = `-${this.unbiasedMin}`
        return
      }
      const max = this.unbiasedMax
      if (max && this.unbiasedMin >= max) {
        this.openMessage('预警范围的起始不能大于或等于结束！')
        this.unbiasedMin = undefined
      }
    },
    // 失去焦点 - 无平均偏差 - 大
    checkunMaxBlur() {
      if (this.unbiasedMax < 0) {
        this.openMessage('预警范围的结束范围只能是正数！')
        this.unbiasedMax = Math.abs(this.unbiasedMax)
        return
      }
      const min = this.unbiasedMin
      if (min && this.unbiasedMax <= min) {
        this.openMessage('预警范围的起始不能小于或等于结束！')
        this.unbiasedMax = undefined
      }
    },
    // 失去焦点 - 预警范围 - 小
    checkCustomMin() {
      const max = this.customMax
      if (max && this.customMin >= max) {
        this.openMessage('预警范围的起始不能大于或等于结束！')
        this.customMin = undefined
      }
    },
    // 失去焦点 - 预警范围 - 大
    checkCustomMax() {
      const min = this.customMin
      if (min && this.customMax <= min) {
        this.openMessage('预警范围的起始不能小于或等于结束！')
        this.customMax = undefined
      }
    },
    // 失去焦点 - 自定义预警范围 - 小
    checkWarnMin() {
      if (this.warnMin > 0) {
        this.openMessage('自定义预警范围的起始范围只能是负数或0！')
        this.warnMin = `-${this.warnMin}`
        return
      }

      const max = this.warnMax
      if ((max || max == 0) && this.warnMin >= max) {
        this.openMessage('预警范围的起始不能大于或等于结束！')
        this.warnMin = undefined
      }
    },
    // 失去焦点 - 自定义预警范围 - 大
    checkWarnMax() {
      if (this.warnMax < 0) {
        this.openMessage('自定义预警范围的结束范围只能是正数！')
        this.warnMax = Math.abs(this.warnMax)
        return
      }

      const min = this.warnMin
      if ((min || min == 0) && this.warnMax <= min) {
        this.openMessage('预警范围的起始不能小于或等于结束！')
        this.warnMax = undefined
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/target.scss';
.index-calculate {
  position: relative;
  .com-bg {
    top: -46px;
  }
  .tab-content {
    .content-left {
      .left-top,
      .left-bottom {
        background: #fff;

        .com-tag-span {
          margin-top: 20px;
          display: inline-block;

          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: #999999;
        }
      }
      .bold-p {
        font-weight: bold;
        font-size: 18px;
        // padding: 0 20px 10px;
        padding: 5px 20px 15px;
        border-bottom: 1px solid #f6f6f6;
      }

      .left-footer {
        background: #fff;
        padding-top: 20px;
        padding-bottom: 40px;

        .btn {
          width: 110px;
          background: #1789f2;
          border-radius: 5px;
        }
      }

      .com-menu-wrap {
        span {
          line-height: 56px;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          color: #8d8c8c;
          font-family: mainFont, 'Microsoft YaHei', Helvetica Neue, Helvetica,
            PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
        }
        .active {
          span {
            color: #333;
          }
        }
      }

      .top-form {
        padding: 10px 23px 10px 23px;
        .label-text {
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: #333333;
          line-height: normal;
          // margin-bottom: 12px;
        }
        .text-right {
          margin-right: 10px;
        }
        .boder-li {
          padding-bottom: 20px;
          border-bottom: 1px solid #f3f3f4;
        }
        .tag-p {
          line-height: 30px;
        }
        .mr-30 {
          margin-right: 30px;
        }

        .div-row {
          // padding: 0 10px;
          display: flex;
          .el-checkbox {
            margin-bottom: 5px;
          }

          .label-text,
          &::v-deep .el-checkbox__label {
            color: #999999;
          }
          .label-text {
            font-size: 14px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #333333;
          }

          .all,
          .is-checked {
            &::v-deep .el-checkbox__label {
              color: #333;
              font-size: 14px;
            }
          }
        }

        .source-check.is-checked {
          &::v-deep .el-radio__label {
            color: #ffac0c;
          }
        }

        .com-select {
          position: relative;
          .flag-img {
            position: absolute;
            right: -30px;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      .div-custom {
        padding-top: 20px;
      }

      .div-calculate {
        background: #fff;
        .label-text {
          font-size: 12px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #999999;
          min-width: 96px;
        }
        .el-input {
          max-width: 310px;
        }
        .max-120 {
          max-width: 120px;
        }
        .max-80 {
          max-width: 80px;
          ::v-deep .el-input__suffix {
            right: 10px;
          }
        }
        .width-50 {
          width: 50px;
        }
      }

      .div-edit {
        background: #fff;
        padding: 0 20px;

        .edit-table {
          border: 1px solid green;
        }
      }
    }

    .ul-form .width-96 {
      width: 96px;
    }
  }

  img {
    vertical-align: middle;
  }
  .com-menu-wrap .m-item {
    .t-line {
      width: 235px;
    }
    width: 235px;
  }
}

.pop-p a:hover {
  color: $color-primary;
  opacity: 0.9;
  text-decoration: underline;
}

.more {
  padding-left: 10px;
  color: $color-primary;
  cursor: pointer;
  font-size: 12px;
}
.show-more {
  margin-top: 10px;
  text-align: center;
  > span {
    font-size: 14px !important;
    color: #333 !important;
    cursor: pointer;
  }
}
.el-icon-arrow-down,
.el-icon-arrow-right {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  &.is-rotate {
    transform: rotate(180deg);
  }
}
</style>
