<template>
  <div class="compare-container">
    <div class="bg">
      <div class="bread">
        <span class="cp" @click="$router.push('/project/index')">项目库</span>
        <span role="presentation" class="el-icon-arrow-right"></span>
        <span class="cp" @click="$router.push('/project/detail')">{{stageCompare.projectName}}</span>
        <span role="presentation" class="el-icon-arrow-right"></span>
        <!-- <span class="el-icon el-icon-arrow-right"></span> -->
        <span class="active">阶段对比详情</span>
      </div>
    </div>
    <div class="top-content">
      <div class="com-operate-wrap" style="margin-left:-25px;">
        <div class="b-title">{{stageCompare.projectName}}项目阶段对比</div>
      </div>
      <div class="flex-c ml-22">
        <div
          class="box box1"
          :class="{
            'box1': item.name === '估算',
            'box2': item.name === '概算',
            'box3': item.name === '预算',
            'box4': item.name === '结算',
          }"
          v-for="(item, index) in stageDetail"
          :key="index">
            <span>{{item.name}}</span>
            <div><span class="big">{{(item.price / 10000).toFixed(2)}}</span> 万元
          </div>
        </div>
      </div>
    </div>
    <div class="top-content">
      <div class="flex-csb">
        <div class="flex-c">
          <div class="com-operate-wrap" style="margin-left:-25px;">
            <div class="b-title">阶段对比图标示例</div>
          </div>
          <el-button class="btn btn1" @click="changeProjectDialog">
            <img class="icons" src="@/assets/img/table/change-project.png" alt="">
            <span>切换项目</span>
          </el-button>
        </div>
        <div class="flex-c">
          <div class="com-select">
            <el-select v-model="curItemCode" placeholder="请选择">
              <el-option
                v-for="(item, index) in unitItemList"
                :key="item.id"
                :label="item.name"
                :value="item.code"
                @click.native="changeUnitItem(index)">
              </el-option>
            </el-select>
          </div>
          <div class="com-select">
            <el-select v-model="curSubItemCode" placeholder="请选择">
              <el-option
                v-for="item in subItem"
                :key="item.id"
                :label="item.name"
                :value="item.code"
                @click.native="changeSubItem(item.type)">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <!-- 图表 -->
      <div id="myEcharts" style="width:100%;height:400px;"></div>
    </div>
    <div class="top-content">
      <div class="com-operate-wrap" style="margin-left:-25px;">
        <div class="b-title">工程总造价</div>
      </div>
      <div class="table-box">
        <el-table
          border
          :data="stageDetail"
          tooltip-effect="dark"
          class="table-main"
          style="width: 100%;">
          <el-table-column
            prop="name"
            label="阶段"
            align="center"
            width="88px">
          </el-table-column>
          <el-table-column
            label="金额（元）">
            <template slot-scope="scope">
              <span v-if="scope.row.price">{{(scope.row.price/10000).toFixed(2)}}万元</span>
              <span v-else>--</span>
            </template>
          </el-table-column>
          <el-table-column
            label="经济指标">
            <template slot-scope="scope">
              <span v-if="scope.row.econStd">{{formatNumber(scope.row.econStd,true)}}</span>
              <span v-else>--</span>
            </template>
          </el-table-column>
          <el-table-column>
            <template slot="header">
              <span class="mr-5">下浮率</span>
              <el-tooltip effect="light" content="下浮率=(下一阶段金额-上一阶段金额)/上一阶段金额" placement="top">
                <img class="icons" src="@/assets/img/icons/red-tips.png" alt="">
              </el-tooltip>
            </template>
            <template slot-scope="scope">
              <span>{{scope.row.ratio || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column>
            <template slot="header">
              <span class="mr-5">管控金额(元)</span>
              <el-tooltip effect="light" content="管控金额=(下一阶段金额-上一阶段金额)" placement="top">
                <img class="icons" src="@/assets/img/icons/red-tips.png" alt="">
              </el-tooltip>
            </template>
            <template slot-scope="scope">
              <span>{{formatNumber(scope.row.controlPrice) || '--'}}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 阶段对比弹窗 -->
    <el-dialog
      :visible.sync="compareDialog"
      :close-on-click-modal="false"
      title="选择项目阶段对比"
      width="885px"
      class="com-dialog">
      <div class="dialog-container">
        <div class="flex-c">
          <div class="com-search2">
            <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="keyword" @keyup.enter.native="getPhaseCompProList" />
            <i class="el-icon-search" @click="getPhaseCompProList"></i>
          </div>
          <!-- <p class="mr-20 ml-20 flex-c com-select">
            <div>计税：</div>
            <el-select v-model="modeStatus" placeholder="请选择" class="select" @change="selectModeStatus">
              <el-option
                v-for="item in modeList"
                :key="item.value"
                :label="item.name"
                :value="item.value">
              </el-option>
            </el-select>
          </p> -->
        <!-- </div>
        <div class="flex-c mt-10"> -->
          <p class="flex-c com-select">
            <span class="dialog-label">项目分类：</span>
            <el-cascader v-model="projectStatus" :options="projectOptions" :props="optionProp" @change="changeProstatus"></el-cascader>
          </p>
          <div class="flex-c com-select">
            <div class="dialog-label">项目地点：</div>
            <el-select v-model="curPro2" placeholder="请选择省" class="mr-10" @change="changeProvince($event)">
              <el-option :value="null">请选择</el-option>
              <el-option
                v-for="item in commonAreaList"
                :key="item.id"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
            <el-select v-model="curCity2" placeholder="请选择市" class="mr-10" @change="changeCity()">
              <el-option :value="null">请选择</el-option>
              <el-option
                v-for="item in commonAreaListItem"
                :key="item.id"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
        <!-- 弹窗表格 -->
        <div class="table-box" style="margin-bottom:110px;">
          <el-table
            ref="multipleTable"
            :data="compareDialogList"
            tooltip-effect="dark"
            v-loading="compareDialogLoading"
            class="table-main"
            height="250px"
            style="width: 100%;">
            <el-table-column
              prop="name">
              <template slot="header">
                <span class="cp flex-c">
                  <span>项目名称</span>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              prop="totalPrice"
              label="总造价(元)"
              sortable>
              <template slot-scope="scope">
                {{formatNumber(scope.row.totalPrice)}}
              </template>
            </el-table-column>
            <el-table-column
              prop="caliber"
              label="计算口径">
              <template slot-scope="scope">
               <span> {{formatNumber(scope.row.caliber,true)}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="经济指标">
              <template slot-scope="scope">
               <span> {{scope.row.econStd ? (scope.row.econStd.split('元')[0]*1).toFixed(2)+scope.row.econStd.split('元')[1] : ''}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="操作">
              <template slot-scope="scope">
                <span class="red" @click="addOrDelCompare('del', scope.row)" v-if="addedList.length>0 && scope.row.name == addedList[0].name">取消对比</span>
                <span class="blue" @click="addOrDelCompare('add', scope.row)" v-else>+加入对比</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 底部分页与操作 -->
        <div class="dialog-bottom">
          <!-- 操作 -->
          <div class="flex-csb">
            <div class="added flex-c">
              <div style="width:104px;height:29px;">已加入项目：</div>
              <div class="addedItem-box flex-cw">
                <div v-for="(item, index) in addedList" :key="index" class="addedItem flex-csb mr-6 mb-5">
                  <p class="nowrap">{{item.name}}</p>
                  <img src="@/assets/img/table/del_gray.png" alt="" class="cp" @click="delCompare">
                </div>
              </div>
            </div>
            <div class="clear" @click="delCompare">
              <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="">
              <span>清空数据</span>
            </div>
          </div>

          <div class="btn-wrap">
            <el-button type="primary" v-loading="submitCompareLoading" @click="submitCompare">确定</el-button>
            <el-button @click="compareDialog = false">取消</el-button>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import {
  getProjectStageView,
  getPhaseCompProList,
} from '@/api/newProject'
import {
  getProjectUnitItemList,
} from '@/api/project'
import {
  getAreaTree,
} from '@/api/common'
import {
  queryProjectTypeTree,
} from '@/api/newProject'
export default {
  name: 'compareProject',
  data() {
    return {
      stageCompare: {},             // 阶段对比参数
      stageDetail: [],              // 阶段对比详情
      unitItemList: [],             // 单位工程列表
      curItemCode: null,
      subItem: [],                  // 单位工程子项
      curSubItemCode: null,
      curSubType: null,
      echartsData: [],              // 图表数据
      projectOptions: [],           // 项目分类列表
      projectStatus: '',            // 项目分类
      modeStatus: '',               // 所选计税方式
      modeList: [{name:'增值税（一般计税方法）',value:1},{name:'增值税（简易计税方法）',value:2}],// 计税方式列表
      province: null,
      city: null,
      keyword: null,                // 阶段对比弹窗搜索关键字
      optionProp: {
        label: 'name',
        value: 'name',
        children: 'subs'
      },
      compareDialogLoading: false,
      compareDialog: false,         // 阶段对比弹窗
      compareDialogList: [],        // 阶段对比表格数据
      addedList: [],                // 已添加的对比项目
      submitCompareLoading: false,
      unit: '',
      commonAreaList: [],                             // 省列表
      commonAreaListItem: [],                         // 市列表
      curPro2: '',                                    // 选择的省
      curCity2: '',                                   // 选择的市
    }
  },

  mounted() {
    this.stageCompare = this.$store.state.project.stageCompare
    try{
      this.modeStatus = this.stageCompare.taxManner
      this.projectStatus = this.stageCompare.projectStatus
    }catch(err){
      console.log(err);
    }
    this.getProjectStageView()
    this.getProjectUnitItemList()
    this.getAreaTree()
    this.ProjectTypeTreeList()
  },

  methods: {
    // 阶段对比详情（初次请求）
    getProjectStageView() {
      let data = {
        projectId: this.stageCompare.projectId,
      }
      getProjectStageView(data).then(res => {
        if (res.code == '01') {
          this.stageDetail = res.body
        }
      })
    },

    // 阶段对比下拉框数据
    getProjectUnitItemList() {
      let data = {
        projectId: this.stageCompare.projectId,
      }
      getProjectUnitItemList(data).then(res => {
        if (res.code === '01') {
          this.unitItemList = res.body
          this.subItem = this.unitItemList[0].sonList
          this.getChartData()
        }
      })
    },

    // 切换单位工程
    changeUnitItem(index) {
      this.subItem = this.unitItemList[index].sonList
      this.curSubItem = null
      this.curSubType = null
      this.curSubItemCode = null
      this.getChartData()
    },

    // 切换二级列表
    changeSubItem(type) {
      this.curSubType = type
      this.getChartData()
    },

    // 获取地区（省，市，区）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.commonAreaList = res.body
          let areaData = [] //  [{省：[{市：[区]}]}]
          let proList = []
          res.body.forEach(item=>{
            proList.push(item.name)
            let cityarr = []
            if(item.sub)item.sub.forEach(city=>{
              let areaarr = []
              if(city.sub)city.sub.forEach(area=>{
                areaarr.push(area.name)
              })
              let obj = {}
              obj.name = city.name
              obj.sub = areaarr
              cityarr.push(obj)
            })
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },

    // echarts数据
    getChartData(type) {
      let data = {
        projectId: this.stageCompare.projectId,
        paramCode: this.curSubItemCode,
        paramType: this.curSubType,
        unitNormCode: this.curItemCode
      }
      getProjectStageView(data).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }
        if (res.code == '01') {
          // this.stageDetail = res.body // 不联动
          this.echartsData = res.body
          this.$nextTick(() => {
            this.initEcharts()
          })
          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },

    // 初始化图表
    initEcharts() {
      var myChart = echarts.init(document.getElementById('myEcharts'))
      var xData = []
      var seriesTotalData = []
      var seriesEconoData = []
      for (let i = 0; i < this.echartsData.length; i++) {
        xData.push(this.echartsData[i].name)
        seriesTotalData.push(this.echartsData[i].price || 0)
        seriesEconoData.push(this.echartsData[i].econStd ? this.echartsData[i].econStd.split('元')[0] : 0)
      }
      let unit = ''
      try{
        unit = this.echartsData[0].econStd.split('/')[1]
      }catch{}
      this.unit = unit
      var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#fff',
                },
            },
            textStyle: {
                color: '#fff'
            },
            backgroundColor: 'rgba(13, 78, 137, 1)',
            formatter: (params)=>{
              return `${params[0].name} <br /> 总造价：${((params[0].value/10000).toFixed(2))}万元 ${params[1] && params[1].value ? '<br /> 经济指标：'+ (params[1].value/10000).toFixed(2)+'万元'+this.unit : ''}`
            },
        },
        legend: {
            data: ['总造价','经济指标']
        },
        xAxis: [
            {
                type: 'category',
                data: xData,
                axisLabel: {
                  lineStyle: {
                      color: 'rgba(153, 153, 153, 1)'
                  }
                },
                axisTick: {
                    show: false
                },
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '金额：万元',
                axisLabel: {
                    formatter: function(params) {
                      return (params/10000).toFixed(2)
                    }
                },
                boundaryGap: ['60%', '60%'],
                min: 0
            },
            {
                type: 'value',
                name: '经济指标-万元/'+unit,
                axisLabel: {
                    formatter: function(params) {
                      return (params/10000).toFixed(2)
                    }
                },
                min: 0
            }
        ],
        series: [
            {
                name: '总造价',
                type: 'bar',
                data: seriesTotalData,
                barWidth: '42',
                itemStyle: {
                    normal: {
              color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                offset: 0,
                color: "RGBA(53, 135, 213, 1)"
              }, {
                offset: 1,
                color: "RGBA(13, 78, 137, 1)"
              }], false)
            }
                },
            },
            {
                name: '经济指标',
                type: 'line',
                yAxisIndex: 1,
                smooth:true,
                data: seriesEconoData,
                itemStyle: {
                    color: 'rgba(255, 135, 54, 1)'
                },
                areaStyle: {
                    color: {
                        type: 'linear',
                        x: 0,
                        y: 0,
                        x2: 0,
                        y2: 1,
                        colorStops: [{
                            offset: 0, color: 'RGBA(255, 135, 54, .3)' // 0% 处的颜色
                        }, {
                            offset: 1, color: 'RGBA(255, 244, 236, .5)' // 100% 处的颜色
                        }],
                        global: false // 缺省为 false
                    }
                },
            }
        ]
    };
      myChart.setOption(option)
    },

     // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData()
      formData.append('type', 1)
      queryProjectTypeTree(formData).then(res => {
        if(res.code == '01') {
          this.projectOptions = res.body
        }
      })
    },

    // 项目分类筛选
    changeProstatus(val) {
      this.projectStatus = val
      this.getPhaseCompProList()
    },

    // 计税方式筛选
    selectModeStatus(val) {
      this.modeStatus = val
      this.getPhaseCompProList()
    },

    // 切换阶段对比弹窗
    changeProjectDialog() {
      // 重置
      this.keyword = null
      this.curPro2 = null
      this.curCity2 = null

      this.compareDialog = true
      this.getPhaseCompProList()
    },

    // 获取项目阶段列表
    getPhaseCompProList() {
      let data = {
        engType: this.projectStatus && this.projectStatus[2] || null,
        projectType: this.projectStatus && this.projectStatus[1] || null,
        specialtyType: this.projectStatus && this.projectStatus[0] || null,
        province: this.curPro2,
        city: this.curCity2,
        keyword: this.keyword,
      }
      this.compareDialogLoading = true
      getPhaseCompProList(data).then(res => {
        this.compareDialogLoading = false
        if (res && res.code === '01') {
          this.addedList = []
          this.compareDialogList = res.body
          this.compareDialogList.forEach(item=>{
            if(item.name == this.stageCompare.projectName) this.addedList.push(item)
          })
        }
      })
    },

    // 切换省份
    changeProvince(name) {
      if(name === null) {
        this.curPro2 = ''
        this.curCity2 = ''
        this.commonAreaListItem = []
        this.currentPage2 = 1
        this.getPhaseCompProList()
        return
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub
          this.curCity2 = this.commonAreaListItem[0].name
          this.currentPage2 = 1
          this.getPhaseCompProList()
        }
      }
    },

    // 切换城市
    changeCity() {
      this.currentPage2 = 1
      this.getPhaseCompProList()
    },

    // 删除阶段对比
    delCompare() {
      this.addedList = []
    },

    // 加入阶段对比
    addOrDelCompare(type, item) {
      let projectParams = this.stageCompare.projectParams
      if (type === 'add') {
        if (this.addedList.length === 1) {
          this.$message({
            type: 'error',
            message: '只能选取一个项目进行阶段对比'
          })
          return
        }
        this.addedList.push(item)
      } else {
        this.addedList = []
      }
    },

    // 确认对比
    submitCompare() {
      if (this.addedList.length != 1) {
        this.$message({
          type: 'error',
          message: '请选择项目进行阶段对比'
        })
        return
      }
      console.log(this.addedList[0].id);
      this.stageCompare.projectId = this.addedList[0].id
      console.log(this.stageCompare);
      this.stageCompare.projectName = this.addedList[0].name
      this.submitCompareLoading = true
      this.getProjectUnitItemList()
      this.getProjectStageView()
      this.getChartData('submitCompare')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.compare-container {
  position: relative;
  .bg {
    position: absolute;
    top: -44px;
    left: 0px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#DFF5FE));
    background: linear-gradient(0deg, #FFFFFF, #DFF5FE);
    display: flex;
    align-items: center;
    padding-left: 20px;
    .bread {
      color: #303133;
    }
    .el-icon {
      margin: 0 10px 0 15px;
      font-weight: bold;
      color: #777;
    }
    .active {
      color: $color-primary;
    }
  }
  .top-content {
    margin-top: 7px;
    background: #FFFFFF;
    border-radius: 8px;
    padding-bottom: 25px;
    .box {
      width: 224px;
      height: 62px;
      border-radius: 4px;
      color: #FBFBFB;
      opacity: 0.8;
      padding: 10px 13px;
      margin-right: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .big {
        font-size: 21px;
      }
    }
    .btn {
      width: 112px;
      height: 34px;
      background: $color-primary;
      border-radius: 5px;
    }
    .box1 { background: #36CFC9; }
    .box2 { background: $color-minor; }
    .box3 { background: #0FACD5; }
    .box4 { background: #3699FF; }
    .change-correct {
      margin-right: 10px;
      color: rgba(51, 51, 51, 1);
    }
  }

  .dialog-container {
    .dialog-bottom {
      position: absolute;
      left: 0;
      bottom: 65px;
      width: 100%;
      height: 60px;
      width: 825px;
      margin: 0 30px;
      .added {
        width: 740px;
        font-size: 12px;
        color: #333333;
        .addedItem-box {
          .addedItem {
            width: 128px;
            height: 24px;
            color: #999999;
            background: #EBEBEB;
            border-radius: 12px;
            padding: 7px 9px;
            .nowrap {
              width: 95px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .clear {
        cursor: pointer;
        color: #999999;
        font-size: 12px;
      }
      .btn-wrap {
        margin-top: 12px;
        text-align: right;
      }
    }
  }
}
</style>

<style lang="scss">
  @import '../../styles/variables.scss';
  .top-content {
    .el-select {
      input{
        width: 218px;
        height: 37px;
        background: #FFFFFF;
        border-radius: 20px;
        margin-right: 10px;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
      }
    }
    .btn1 {
      color: #ffffff !important;
      background: $color-primary !important;
    }
    .el-button {
      padding: 0 18px;
      & > span {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .dialog-container {
    .com-search2 {
      width: 200px;
      min-width: 200px;
    }
    .el-select {
      .el-input__inner {
        border-radius: 20px;
      }
    }
    .dialog-label {
      margin: 20px 6px 20px 16px;
      white-space: nowrap;
    }
    .red {
      cursor: pointer;
      color: $color-danger;
      font-size: 10px;
    }
    .blue {
      cursor: pointer;
      color: $color-primary;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner {
      width: 244px;
    }
    .el-cascader {
      width: 184px !important;
    }
  }
</style>
