<template>
  <div class="compare-container">
    <div class="com-bg">
      <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>项目管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/project/index' }">项目库</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/project/detail' }">{{details.name}}</el-breadcrumb-item>
            <el-breadcrumb-item><span class="active">项目对比详情</span></el-breadcrumb-item>
          </el-breadcrumb>
      </div>
    </div>
    <div class="top-content test-tabs">
      <div class="flex-c com-menu-wrap mt-10">
        <div
          class="cp m-item"
          :class="{ active: curMenu === '工程概况对比' }"
          @click="changeMenu('工程概况对比')"
        >
          <span>工程概况对比</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '单位工程对比' }"
          @click="changeMenu('单位工程对比')"
        >
          <span>单位工程对比</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '分部分项对比' }"
          @click="changeMenu('分部分项对比')"
        >
          <span>分部分项对比</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '工料机对比' }"
          @click="changeMenu('工料机对比')"
        >
          <span>工料机对比</span>
          <div class="t-line"></div>
        </div>
      </div>
      <div v-show="curMenu === '工程概况对比'">
        <div class="div-part">
          <div class="flex-c">
            <div class="com-operate-wrap" style="margin-left: -25px">
              <div class="b-title">基本信息</div>
            </div>
            <el-button class="btn" @click="addProjectDialog">
              <img class="icons mr-5" src="@/assets/img/table/add.png" alt="" />
              <span>添加项目</span>
            </el-button>
          </div>
          <div class="com-table-wrap">
            <el-table
              border
              :data="tableData"
              tooltip-effect="dark"
              class="table-main"
              style="width: 100%"
            >
              <el-table-column
                v-for="item in tHeaderData"
                :key="item.prop"
                :prop="item.prop"
                :label="item.label"
              >
                <template slot="header">
                  <span> {{ item.label }} </span>
                  <i
                    v-if="item.prop != 'fieldName'"
                    class="el-icon-error cp red"
                  ></i>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">技术特征</div>
          </div>
          <div class="com-table-wrap">
            <el-table
              border
              :data="tableData2"
              tooltip-effect="dark"
              class="table-main"
              style="width: 100%"
              :show-header="false"
            >
              <el-table-column
                v-for="item in tHeaderData2"
                :key="item.prop"
                :prop="item.prop"
                :label="item.label"
              >
                <template slot="header">
                  <span> {{ item.label }} </span>
                  <i
                    v-if="item.prop != 'fieldName'"
                    class="el-icon-error cp red"
                  ></i>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">阶段信息</div>
          </div>
          <div class="com-table-wrap">
            <el-table
              border
              :data="tableData3"
              tooltip-effect="dark"
              class="table-main"
              style="width: 100%"
              :show-header="false"
            >
              <el-table-column
                v-for="item in tHeaderData3"
                :key="item.prop"
                :prop="item.prop"
                :label="item.label"
              >
                <template slot="header">
                  <span> {{ item.label }} </span>
                  <i
                    v-if="item.prop != 'fieldName'"
                    class="el-icon-error cp red"
                  ></i>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div
        v-show="curMenu == '单位工程对比' || curMenu == '工料机对比'"
        class="div-part com-table-wrap expand-table mt-30"
      >
        <el-table
          :data="tableUnit"
          style="width: 100%; margin-bottom: 20px"
          row-key="id"
          border
          default-expand-all
          :tree-props="{ children: 'subs' }"
        >
          <el-table-column prop="name" label="对比项目"> </el-table-column>
          <el-table-column
            v-for="(it, idx) in tHeaderUnit"
            :label="it"
            :key="it"
            align="center"
          >
            <template slot="header">
              <span> {{ it }} </span>
              <i class="el-icon-error cp red"></i>
            </template>
            <el-table-column :prop="`cost${idx + 1}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${idx + 1}`" label="经济指标">
            </el-table-column>
          </el-table-column>
        </el-table>
      </div>
      <div
        v-show="curMenu == '分部分项对比'"
        class="div-part com-table-wrap expand-table mt-30"
      >
        <el-table
          :data="tableSub"
          style="width: 100%; margin-bottom: 20px"
          row-key="id"
          border
          default-expand-all
          :tree-props="{ children: 'subs' }"
        >
          <el-table-column prop="name" label="对比项目">
            <template slot-scope="scope">
              <span
                class="cp"
                @click="quotaTableVisible = true"
                v-if="scope.row.grade3"
              >
                {{ scope.row.name }}
                <img
                  class="img-echart"
                  src="@/assets/img/table/census.png"
                  alt=""
                />
              </span>
              <span v-else>
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            v-for="(it, idx) in tHeaderSub"
            :label="it"
            :key="it"
            align="center"
          >
            <template slot="header">
              <span> {{ it }} </span>
              <i class="el-icon-error cp red"></i>
            </template>
            <el-table-column :prop="`cost${idx + 1}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${idx + 1}`" label="经济指标">
            </el-table-column>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 项目对比弹窗 -->
    <el-dialog
      :visible.sync="compareDialog"
      :close-on-click-modal="false"
      title="添加项目对比"
      width="885px"
      class="com-dialog"
    >
      <div class="dialog-container">
        <div class="flex-c">
          <div class="com-search2">
            <el-input
              class="search-ipt"
              placeholder="请输入项目名称搜索"
              v-model="keyword"
              @keyup.enter.native="getProjectStageList"
            />
            <i class="el-icon-search" @click="getProjectStageList"></i>
          </div>
          <div class="flex-c com-select">
            <div class="dialog-label">价格取定期</div>
            <div class="sel-time sel-time2">
              <el-date-picker
                v-model="applicableDate"
                type="month"
                placeholder="年/月"
                @change="changeDate"
              >
              </el-date-picker>
            </div>
          </div>
          <div class="flex-c com-select small-select">
            <div class="dialog-label">项目地点</div>
            <el-select
              v-model="curPro2"
              placeholder="请选择省"
              class="mr-10"
              @change="changeProvince($event)"
            >
              <el-option :value="null">请选择</el-option>
              <el-option
                v-for="item in commonAreaList"
                :key="item.id"
                :label="item.name"
                :value="item.name"
              >
              </el-option>
            </el-select>
            <el-select
              v-model="curCity2"
              placeholder="请选择市"
              class="mr-10"
              @change="changeCity()"
            >
              <el-option :value="null">请选择</el-option>
              <el-option
                v-for="item in commonAreaListItem"
                :key="item.id"
                :label="item.name"
                :value="item.name"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="flex-c mt-20 mb-15">
          <p class="mr-40">
            <span>项目分类：</span>
            <span>{{ projectCompare.specialtyType }}</span>
          </p>
          <p class="mr-40">
            <span>阶段：</span>
            <span>{{ projectCompare.stageUseName }}</span>
          </p>
          <p class="mr-40">
            <span>计税：</span>
            <span v-if="projectCompare.taxManner == 1"
              >增值税（一般计税方法）</span
            >
            <span v-else>简易计税方法</span>
          </p>
        </div>
        <!-- 弹窗表格 -->
        <div class="table-box" style="margin-bottom: 110px">
          <el-table
            ref="multipleTable"
            :data="compareDialogList"
            tooltip-effect="dark"
            v-loading="compareDialogLoading"
            class="table-main"
            height="250px"
            style="width: 100%"
          >
            <el-table-column prop="name">
              <template slot="header">
                <span class="cp flex-c">
                  <span>项目名称</span>
                </span>
              </template>
            </el-table-column>
            <el-table-column
              label="总造价"
              :sort-method="sortAllprice2"
              sortable
            >
              <template slot-scope="scope">
                {{ formatNumber(scope.row.totalPrice) }}
              </template>
            </el-table-column>
            <el-table-column prop="computeCaliber" label="计算口径">
              <template slot-scope="scope">
                <span> {{ formatNumber(scope.row.computeCaliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="econStd" label="经济指标"> </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <span
                  class="red-btn"
                  @click="
                    addOrDelCompare('del', scope.row, scope.row.projectStageId)
                  "
                  v-if="
                    echartsProjectStageId.indexOf(scope.row.projectStageId) > -1
                  "
                  >取消对比</span
                >
                <span
                  class="blue-btn"
                  @click="
                    addOrDelCompare('add', scope.row, scope.row.projectStageId)
                  "
                  v-else
                  >+加入对比</span
                >
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 底部分页与操作 -->
        <div class="dialog-bottom">
          <!-- 操作 -->
          <div class="flex-csb">
            <div class="added flex-c">
              <div style="width: 104px">已加入项目：</div>
              <div class="addedItem-box flex-cw">
                <div
                  v-for="(item, index) in projectCompare.projectParams"
                  :key="index"
                  class="addedItem flex-csb mr-6 mb-5"
                >
                  <p class="nowrap">{{ item.name }}</p>
                  <img
                    src="@/assets/img/table/del_gray.png"
                    alt=""
                    class="cp"
                    @click="delCompare(index)"
                  />
                </div>
              </div>
            </div>
            <div class="clear" @click="delCompare('all')">
              <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="" />
              <span>清空数据</span>
            </div>
          </div>

          <div class="btn-wrap">
            <el-button
              type="primary"
              v-loading="submitCompareLoading"
              @click="submitCompare"
              >确定</el-button
            >
            <el-button @click="compareDialog = false">取消</el-button>
          </div>
        </div>
      </div>
    </el-dialog>

    <el-dialog
      title="清单（定额）详情对比"
      :visible.sync="quotaTableVisible"
      width="885px"
      class="com-dialog com-dialog2"
    >
      <div class="com-table-wrap">
        <el-table
          border
          :data="quotaList"
          tooltip-effect="dark"
          class="table-main"
          style="width: 100%"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <div class="detail-table">
                <span>定额信息</span>
                <el-table border :data="props.row.subs" style="width: 100%">
                  <el-table-column prop="itCode" label="定额编码">
                  </el-table-column>
                  <el-table-column prop="itName" label="定额名称">
                  </el-table-column>
                  <el-table-column prop="itUnit" label="定额单位">
                  </el-table-column>
                  <el-table-column min-width="70px" prop="itNum" label="数量">
                  </el-table-column>
                  <el-table-column prop="itNum" label="人工单价">
                  </el-table-column>
                  <el-table-column prop="itNum" label="材料单价">
                  </el-table-column>
                  <el-table-column prop="itNum" label="机械单价">
                  </el-table-column>
                  <el-table-column
                    min-width="136px"
                    prop="itNum"
                    label="管理费和利润(单价)"
                  >
                  </el-table-column>
                </el-table>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            prop="projectName"
            label="项目名称"
            min-width="120px"
          >
          </el-table-column>
          <el-table-column prop="code" min-width="100px" label="编码">
          </el-table-column>
          <el-table-column prop="name" min-width="90px" label="名称">
          </el-table-column>
          <el-table-column prop="unit" min-width="65px" label="单位">
          </el-table-column>
          <el-table-column prop="num" min-width="80px" label="工程量">
          </el-table-column>
          <el-table-column prop="num" min-width="120px" label="综合单价(元)">
          </el-table-column>
          <el-table-column prop="num" min-width="100px" label="合价(元)">
          </el-table-column>
          <el-table-column prop="num" min-width="100px" label="经济指标">
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from "echarts";
import {
  getProjectCompareView,
  getProjectUnitItemList,
  getProjectStageList,
} from "@/api/project";
import { getAreaTree } from "@/api/common";

import {
  contrastData,
  contrastFeature,
  contrastStage,
  contrastUnit,
  contrastSub,
} from "@/utils/datas/staticData";
export default {
  name: "compareProject",
  data() {
    return {
      projectCompare: {}, // 项目对比参数
      correct: false,
      stageUseName: null, // 阶段名
      stageId: null, // 项目阶段id
      projectStageId: [],
      echartsProjectStageId: [],
      stageDetail: [], // 项目对比详情
      echartsData: [], // 图表数据
      unitItemList: [], // 单位工程列表
      curItemCode: null,
      subItem: [], // 单位工程子项
      curSubItemCode: null,
      curSubType: null,
      showSetListDialog: false, // 显示列表设置弹窗
      compareDialog: false, // 项目对比弹窗
      keyword: null, // 项目对比弹窗搜索关键字
      applicableDate: null, // 价格取定期
      compareDialogList: [], // 项目对比表格数据
      compareDialogLoading: false,
      addedList: [], // 已添加的对比项目
      province: null,
      city: null,
      submitCompareLoading: false,
      econStd: "",
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      curPro2: "", // 选择的省
      curCity2: "", // 选择的市

      curMenu: "工程概况对比",
      tableData: [],
      tHeaderData: [],
      tableData2: [],
      tHeaderData2: [],
      tableData3: [],
      tHeaderData3: [],

      tHeaderUnit: [],
      tableUnit: [], // 单位工程
      tHeaderSub: [],
      tableSub: [], // 分部分项
      quotaTableVisible: false,
      quotaList: [
        {
          projectName: "广州市第九医院整体迁建承包",
          code: "010445211",
          name: "砌砖块",
          unit: "t",
          num: "66",
          subs: [
            {
              itCode: "A3-010",
              itName: "定额名称",
              itUnit: "m²",
              itNum: "888",
            },
          ],
        },
      ],
      details: {},       // 详情数据
    };
  },

  mounted() {
    this.details = this.$store.state.project.projectVisible || {}
    this.projectCompare = this.$store.state.project.projectCompare;
    let projectParams = this.projectCompare.projectParams || [];
    for (let i = 0; i < projectParams.length; i++) {
      this.projectStageId.push(projectParams[i].projectStageId);
      this.echartsProjectStageId.push(projectParams[i].projectStageId);
    }
    this.stageId = this.projectCompare.stageId;
    this.stageUseName = this.projectCompare.stageUseName;
    // this.getProjectCompareView();
    // this.getProjectUnitItemList();
    // this.getAreaTree();
  },
  computed: {
    // 基本信息
    contrastData() {
      return contrastData;
    },
    // 技术特征
    contrastFeature() {
      return contrastFeature;
    },
    // 阶段信息
    contrastStage() {
      return contrastStage;
    },
    // 单位工程
    contrastUnit() {
      return contrastUnit.project;
    },
    // 分部分项对比
    contrastSub() {
      return contrastSub.project;
    },
  },
  watch: {
    // 基本信息
    contrastData: {
      immediate: true,
      deep: true,
      handler: function (data) {
        let num = 0;
        if (data && data.dataList.length) {
          this.tHeaderData = [{ label: "对比项目", prop: "fieldName" }];
          for (let i = 0; i < data.tHeaderList.length; i++) {
            if (data.tHeaderList[i].disable) continue;
            num++;
            let obj = {};
            obj.fieldName = data.tHeaderList[i].label;

            let keyName = data.tHeaderList[i].prop;
            for (let j = 0, l = data.dataList.length; j < l; j++) {
              if (num == 1) {
                this.tHeaderData.push({
                  label: data.dataList[j].projectName,
                  prop: "porject" + j,
                });
              }
              obj["porject" + j] = data.dataList[j][keyName];
            }

            this.tableData.push(obj);
          }
        }
      },
    },
    // 技术特征
    contrastFeature: {
      immediate: true,
      deep: true,
      handler: function (data) {
        let num = 0;
        if (data && data.dataList.length) {
          this.tHeaderData2 = [{ label: "工程类别", prop: "fieldName" }];
          for (let i = 0; i < data.tHeaderList.length; i++) {
            if (data.tHeaderList[i].disable) continue;
            num++;
            let obj = {};
            obj.fieldName = data.tHeaderList[i].label;

            let keyName = data.tHeaderList[i].prop;
            for (let j = 0, l = data.dataList.length; j < l; j++) {
              if (num == 1) {
                this.tHeaderData2.push({
                  label: data.dataList[j].projectName,
                  prop: "porject" + j,
                });
              }
              obj["porject" + j] = data.dataList[j][keyName];
            }

            this.tableData2.push(obj);
          }
        }
      },
    },
    // 阶段信息
    contrastStage: {
      immediate: true,
      deep: true,
      handler: function (data) {
        let num = 0;
        if (data && data.dataList.length) {
          this.tHeaderData3 = [{ label: "工程类别", prop: "fieldName" }];
          for (let i = 0; i < data.tHeaderList.length; i++) {
            if (data.tHeaderList[i].disable) continue;
            num++;
            let obj = {};
            obj.fieldName = data.tHeaderList[i].label;

            let keyName = data.tHeaderList[i].prop;
            for (let j = 0, l = data.dataList.length; j < l; j++) {
              if (num == 1) {
                this.tHeaderData3.push({
                  label: data.dataList[j].projectName,
                  prop: "porject" + j,
                });
              }
              obj["porject" + j] = data.dataList[j][keyName];
            }

            this.tableData3.push(obj);
          }
        }
      },
    },
    // 单位工程
    contrastUnit: {
      immediate: true,
      deep: true,
      handler: function (data) {
        this.setTreeTable();
      },
    },
    // 分部分项
    contrastSub: {
      immediate: true,
      deep: true,
      handler: function (data) {
        this.setTreeSubTable();
      },
    },
  },
  methods: {
    // tab切换
    changeMenu(item) {
      this.curMenu = item;
    },
    // 总造价排序(对比弹窗)
    sortAllprice2(a, b) {
      return a.totalPrice - b.totalPrice;
    },
    // 表格数据格式转换-单位工程
    setTreeTable() {
      this.tHeaderUnit = [];
      let twoObj = {};
      for (let i = 0, l = this.contrastUnit.length; i < l; i++) {
        this.tHeaderUnit.push(this.contrastUnit[i].name);

        let two = this.contrastUnit[i].project;
        if (two && two.length) {
          for (let j = 0, l2 = two.length; j < l2; j++) {
            let cost = `cost${i + 1}`;
            let target = `target${i + 1}`;
            let obj = {};
            obj[cost] = two[j].price;
            obj[target] = two[j].econStd;

            let name = two[j].name;
            if (!twoObj[name]) {
              twoObj[name] = obj;
            } else {
              twoObj[name] = { ...twoObj[name], ...obj };
            }

            let three = two[j].project;
            if (three && three.length) {
              for (let k = 0, l3 = three.length; k < l3; k++) {
                let cost = `cost${i + 1}`;
                let target = `target${i + 1}`;
                let obj = {};
                obj[cost] = three[k].price;
                obj[target] = three[k].econStd;

                if (!twoObj[name].subs) {
                  twoObj[name].subs = {};
                  twoObj[name].subs[three[k].name] = obj;
                } else {
                  twoObj[name].subs[three[k].name] = {
                    ...twoObj[name].subs[three[k].name],
                    ...obj,
                  };
                }
              }
            }
          }
        }
      }

      let resultArr = [];
      let num = 0;
      for (const key in twoObj) {
        if (Object.hasOwnProperty.call(twoObj, key)) {
          const element = twoObj[key];
          num++;
          element.id = num;
          element.name = key;

          let subObj = element.subs;
          let children = [];
          if (subObj && JSON.stringify(subObj) != "{}") {
            for (const k in subObj) {
              if (Object.hasOwnProperty.call(subObj, k)) {
                const el = subObj[k];
                num++;
                el.id = num;
                el.name = k;

                children.push(el);
              }
            }
          }
          element.subs = children;
          resultArr.push(element);

          this.tableUnit = resultArr;
        }
      }
    },
    // 表格数据格式转换-分部分项
    setTreeSubTable() {
      this.tHeaderSub = [];
      let twoObj = {};
      for (let i = 0, l = this.contrastSub.length; i < l; i++) {
        this.tHeaderSub.push(this.contrastSub[i].name);

        let two = this.contrastSub[i].project;
        if (two && two.length) {
          for (let j = 0, l2 = two.length; j < l2; j++) {
            let cost = `cost${i + 1}`;
            let target = `target${i + 1}`;
            let obj = {};
            obj[cost] = two[j].price;
            obj[target] = two[j].econStd;

            let name = two[j].name;
            if (!twoObj[name]) {
              twoObj[name] = obj;
            } else {
              twoObj[name] = { ...twoObj[name], ...obj };
            }

            let three = two[j].project;
            if (three && three.length) {
              for (let k = 0, l3 = three.length; k < l3; k++) {
                let cost = `cost${i + 1}`;
                let target = `target${i + 1}`;
                let obj = {};
                obj[cost] = three[k].price;
                obj[target] = three[k].econStd;

                if (!twoObj[name].subs) {
                  twoObj[name].subs = {};
                  twoObj[name].subs[three[k].name] = obj;
                } else {
                  twoObj[name].subs[three[k].name] = {
                    ...twoObj[name].subs[three[k].name],
                    ...obj,
                  };
                }

                let four = three[k].project;
                if (four && four.length) {
                  for (let n = 0, l4 = four.length; n < l4; n++) {
                    let cost = `cost${i + 1}`;
                    let target = `target${i + 1}`;
                    let obj = {};
                    obj[cost] = four[n].price;
                    obj[target] = four[n].econStd;

                    if (!twoObj[name].subs[three[k].name].subs) {
                      twoObj[name].subs[three[k].name].subs = {};
                      twoObj[name].subs[three[k].name].subs[four[n].name] = obj;
                    } else {
                      twoObj[name].subs[three[k].name].subs[four[n].name] = {
                        ...twoObj[name].subs[three[k].name].subs[four[n].name],
                        ...obj,
                      };
                    }
                  }
                }
              }
            }
          }
        }
      }

      let resultArr = [];
      let num = 0;
      for (const key in twoObj) {
        if (Object.hasOwnProperty.call(twoObj, key)) {
          const element = twoObj[key];
          num++;
          element.id = num;
          element.name = key;

          let subObj = element.subs;
          let children = [];
          if (subObj && JSON.stringify(subObj) != "{}") {
            for (const k in subObj) {
              if (Object.hasOwnProperty.call(subObj, k)) {
                const el = subObj[k];
                num++;
                el.id = num;
                el.name = k;

                let lastObj = el.subs;
                let childs = [];
                if (lastObj && JSON.stringify(lastObj) != "{}") {
                  for (const k2 in lastObj) {
                    if (Object.hasOwnProperty.call(lastObj, k2)) {
                      const el2 = lastObj[k2];
                      num++;
                      el2.id = num;
                      el2.name = k2;
                      el2.grade3 = true;

                      childs.push(el2);
                    }
                  }

                  el.subs = childs;
                }

                children.push(el);
              }
            }
          }
          element.subs = children;
          resultArr.push(element);
        }
      }
      this.tableSub = resultArr;
    },

    // 确认对比
    submitCompare() {
      if (this.projectCompare.projectParams.length < 2) {
        this.$message({
          type: "error",
          message: "最少选择2个对比项目",
        });
        return;
      }
      if (this.projectCompare.projectParams.length > 6) {
        this.$message({
          type: "error",
          message: "项目对比的数目最多6个",
        });
        return;
      }
      this.submitCompareLoading = true;
      this.getChartData("submitCompare");
    },
    // 加入项目对比
    addOrDelCompare(type, item, id) {
      let projectParams = this.projectCompare.projectParams;
      if (type === "add") {
        if (this.projectCompare.projectParams.length === 6) {
          this.$message({
            type: "error",
            message: "项目对比的数目最多6个",
          });
          return;
        }
        if (
          projectParams.length > 0 &&
          projectParams[0].computeCaliber.replace(/[\d.,]/g, "") !=
            item.computeCaliber.replace(/[\d.,]/g, "")
        ) {
          this.$message({
            type: "error",
            message: "请选择相同的计算口径单位对比",
          });
          return;
        }
        this.echartsProjectStageId.push(id);
        projectParams.push(item);
      } else {
        for (let i = 0; i < this.echartsProjectStageId.length; i++) {
          if (id == this.echartsProjectStageId[i]) {
            this.echartsProjectStageId.splice(i, 1);
          }
        }
        for (let j = 0; j < projectParams.length; j++) {
          if (id == projectParams[j].projectStageId) {
            projectParams.splice(j, 1);
          }
        }
      }
    },
    // 删除项目对比
    delCompare(index) {
      this.echartsProjectStageId = [];
      if (index === "all") {
        this.projectCompare.projectParams = [];
      } else {
        this.projectCompare.projectParams.splice(index, 1);
        for (let i = 0; i < this.projectCompare.projectParams.length; i++) {
          this.echartsProjectStageId.push(
            this.projectCompare.projectParams[i].projectStageId
          );
        }
      }
    },
    // 项目日期筛选
    changeDate(val) {
      this.applicableDate = val ? new Date(val) : null;
      this.getProjectStageList();
    },
    // 添加项目对比弹窗
    addProjectDialog() {
      // 重置
      this.keyword = null;
      this.curPro2 = null;
      this.curCity2 = null;
      this.applicableDate = null;

      this.compareDialog = true;
      this.getProjectStageList();
    },
    // 获取项目阶段列表
    getProjectStageList() {
      let data = {
        currentPage: null,
        pageSize: null,
        applicableDate: this.applicableDate,
        province: this.curPro2 || null,
        city: this.curCity2 || null,
        specialtyType: this.projectCompare.specialtyType,
        projectType: this.projectCompare.projectType,
        engType: this.projectCompare.engType,
        keyword: this.keyword,
        stageId: this.projectCompare.stageId,
        taxManner: this.projectCompare.taxManner,
        timeUnit: this.applicableDate ? "day" : null,
      };
      this.compareDialogLoading = true;
      getProjectStageList(data).then((res) => {
        this.compareDialogLoading = false;
        if (res.code === "01") {
          this.compareDialogList = res.body.list;
        }
      });
    },
    // 获取地区（省，市，区）
    getAreaTree() {
      getAreaTree().then((res) => {
        if (res.code === "01") {
          this.commonAreaList = res.body;
          let areaData = []; //  [{省：[{市：[区]}]}]
          let proList = [];
          res.body.forEach((item) => {
            proList.push(item.name);
            let cityarr = [];
            if (item.sub)
              item.sub.forEach((city) => {
                let areaarr = [];
                if (city.sub)
                  city.sub.forEach((area) => {
                    areaarr.push(area.name);
                  });
                let obj = {};
                obj.name = city.name;
                obj.sub = areaarr;
                cityarr.push(obj);
              });
            areaData[item.name] = cityarr;
          });
          this.curproList = proList;
          this.areaData = areaData;
        }
      });
    },

    // 切换省份
    changeProvince(name) {
      if (name === null) {
        this.curPro2 = "";
        this.curCity2 = "";
        this.commonAreaListItem = [];
        this.currentPage2 = 1;
        this.getProjectStageList();
        return;
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub;
          this.curCity2 = this.commonAreaListItem[0].name;
          this.currentPage2 = 1;
          this.getProjectStageList();
        }
      }
    },

    // 切换城市
    changeCity() {
      this.currentPage2 = 1;
      this.getProjectStageList();
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro;
      this.curCityList = this.areaData[pro];
      this.curCity = null;
      this.curArea = null;
      this.currentPage = 1;
      this.getProjectStageList();
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city;
      this.curCityList.forEach((item) => {
        if (item.name == city) this.curAreaList = item.sub;
      });
      this.curArea = null;
      this.currentPage = 1;
      this.getProjectStageList();
    },
    // echarts数据
    getChartData(type) {
      let data = {
        projectStageIdList: this.echartsProjectStageId,
        paramCode: this.curSubItemCode,
        paramType: this.curSubType,
        unitNormCode: this.curItemCode,
      };
      getProjectCompareView(data).then((res) => {
        if (type === "submitCompare") {
          this.submitCompareLoading = false;
        }
        if (res.code == "01") {
          this.stageDetail = res.body; // 不联动
          this.echartsData = res.body;
          // this.$nextTick(() => {
          //   this.initEcharts();
          // });
          if (type === "submitCompare") {
            this.compareDialog = false;
          }
        }
      });
    },
    // 切换二级列表
    changeSubItem(type) {
      this.curSubType = type;
      this.getChartData();
    },
    // 切换单位工程
    changeUnitItem(index) {
      this.subItem = this.unitItemList[index].sonList;
      this.curSubItem = null;
      this.curSubType = null;
      this.curSubItemCode = null;
      this.getChartData();
    },
    // 项目对比下拉框数据
    getProjectUnitItemList() {
      let data = {
        projectStageIdList: this.projectStageId,
      };
      getProjectUnitItemList(data).then((res) => {
        if (res.code === "01") {
          this.unitItemList = res.body;
          this.subItem = this.unitItemList[0].sonList;
          this.getChartData();
        }
      });
    },
    // 项目对比详情
    getProjectCompareView() {
      if (!this.projectStageId) this.projectStageId = [5, 8, 11, 66, 75, 89];
      let data = {
        projectStageIdList: this.projectStageId,
      };
      getProjectCompareView(data).then((res) => {
        if (res.code == "01") {
          this.stageDetail = res.body;
        }
      });
    },
    // 初始化图表
    initEcharts() {
      var myChart = echarts.init(document.getElementById("myEcharts"));
      var xData = [];
      var seriesTotalData = [];
      var seriesEconoData = [];
      try {
        for (let i = 0; i < this.echartsData.length; i++) {
          xData.push(this.echartsData[i].name);
          seriesTotalData.push(this.echartsData[i].totalPrice || 0);
          seriesEconoData.push(
            this.echartsData[i].econStd
              ? this.echartsData[i].econStd.split("元")[0]
              : 0
          );
        }
        this.econStd =
          (this.echartsData[0].econStd &&
            this.echartsData[0].econStd.split("元")[1]) ||
          "";
      } catch (err) {}
      var option = {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            crossStyle: {
              color: "#fff",
            },
          },
          textStyle: {
            color: "#fff",
          },
          backgroundColor: "rgba(13, 78, 137, 1)",
          formatter: (params) => {
            return `${params[0].name} <br /> 总造价：${(
              params[0].value / 10000
            ).toFixed(2)}万元 ${
              params[1] && params[1].value
                ? "<br /> 经济指标：" +
                  (params[1].value / 10000).toFixed(2) +
                  "万元" +
                  this.econStd
                : ""
            }`;
          },
        },
        legend: {
          data: ["总造价", "经济指标"],
        },
        xAxis: [
          {
            type: "category",
            data: xData,
            axisLabel: {
              lineStyle: {
                color: "rgba(153, 153, 153, 1)",
              },
            },
            axisTick: {
              show: false,
            },
          },
        ],
        yAxis: [
          {
            type: "value",
            name: "金额：万元",
            axisLabel: {
              formatter: function (params) {
                return (params / 10000).toFixed(2);
              },
            },
            boundaryGap: ["60%", "60%"],
            min: 0,
          },
          {
            type: "value",
            name: "经济指标-万元" + this.econStd,
            axisLabel: {
              formatter: function (params) {
                return (params / 10000).toFixed(2);
              },
            },
            min: 0,
          },
        ],
        series: [
          {
            name: "总造价",
            type: "bar",
            data: seriesTotalData,
            barWidth: "42",
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  1,
                  0,
                  0,
                  [
                    {
                      offset: 0,
                      color: "RGBA(53, 135, 213, 1)",
                    },
                    {
                      offset: 1,
                      color: "RGBA(13, 78, 137, 1)",
                    },
                  ],
                  false
                ),
              },
            },
          },
          {
            name: "经济指标",
            type: "line",
            smooth: true,
            yAxisIndex: 1,
            data: seriesEconoData,
            itemStyle: {
              color: "rgba(255, 135, 54, 1)",
            },
            areaStyle: {
              color: {
                type: "linear",
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: "RGBA(255, 135, 54, .3)", // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: "RGBA(255, 244, 236, .5)", // 100% 处的颜色
                  },
                ],
                global: false, // 缺省为 false
              },
            },
          },
        ],
      };
      myChart.setOption(option);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.compare-container {
  position: relative;

  .com-bg {
    top: -46px;
  }
  .top-content {
    margin-top: 7px;
    background: #ffffff;
    border-radius: 8px;
    padding-bottom: 25px;
    .box {
      width: 224px;
      height: 62px;
      border-radius: 4px;
      color: #fbfbfb;
      opacity: 0.8;
      padding: 10px 13px;
      margin-right: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .big {
        font-size: 21px;
      }
    }
    .btn {
      width: 112px;
      height: 34px;
      background: $color-primary;
      border-radius: 5px;
    }
    .box1 {
      background: #36cfc9;
    }
    .box2 {
      background: $color-minor;
    }
    .box3 {
      background: #0facd5;
    }
    .box4 {
      background: #3699ff;
    }
    .change-correct {
      margin-right: 10px;
      color: rgba(51, 51, 51, 1);
    }
  }

  .test-tabs {
    .div-part {
      padding-left: 20px;
      padding-right: 20px;
    }

    .com-menu-wrap .m-item {
      .t-line {
        width: 235px;
      }
      width: 235px;
    }
  }

  .dialog-container {
    .dialog-bottom {
      position: absolute;
      left: 0;
      bottom: 65px;
      width: 100%;
      height: 60px;
      width: 825px;
      margin: 0 30px;
      .added {
        width: 740px;
        font-size: 12px;
        color: #333333;
        .addedItem-box {
          .addedItem {
            width: 128px;
            height: 24px;
            color: #999999;
            background: #ebebeb;
            border-radius: 12px;
            padding: 7px 9px;
            .nowrap {
              width: 95px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .clear {
        cursor: pointer;
        color: #999999;
        font-size: 12px;
      }
      .btn-wrap {
        margin-top: 12px;
        text-align: right;
      }
    }
  }

  .el-table__header-wrapper {
    .red {
      font-size: 14px;
    }
  }
}
</style>

<style lang="scss">
@import "../../styles/variables.scss";
.top-content {
  .el-select {
    input {
      width: 218px;
      height: 37px;
      background: #ffffff;
      border-radius: 20px;
      margin-right: 10px;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
  }
  .project-name {
    .el-table--border td:first-child .cell,
    .el-table--border th:first-child .cell {
      padding-left: 50px;
    }
  }
  .btn1 {
    color: #ffffff !important;
    background: $color-minor !important;
  }
  .el-button {
    padding: 0 18px;
    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.dialog-container {
  .com-search2 {
    width: 200px;
    min-width: 200px;
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .small-select {
    .el-input--suffix input {
      width: 130px;
    }
  }
  .sel-time2 {
    width: 160px !important;
    .el-date-editor {
      width: 160px;
      .el-input__inner {
        width: 160px;
      }
    }
    .el-input__icon {
      line-height: 32px;
      color: $color-primary;
    }
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .red-btn {
    font-size: 10px;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 160px;
  }
}
</style>
