<template>
  <div class="compare-container">
    <!-- <div class="bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/project/index' }"
            ><span class="cp">项目库</span></el-breadcrumb-item
          >
          <el-breadcrumb-item :to="{ path: '/project/detail' }"
            ><span class="cp">{{
              stageCompare.projectName
            }}</span></el-breadcrumb-item
          >
          <el-breadcrumb-item
            ><span class="active">全过程对比</span></el-breadcrumb-item
          >
        </el-breadcrumb>
      </div>
    </div> -->
    <div class="com-bg">
      <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>项目管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/project/index' }">项目库</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/project/detail' }">{{details.name}}</el-breadcrumb-item>
            <el-breadcrumb-item><span class="active">全过程对比</span></el-breadcrumb-item>
          </el-breadcrumb>
      </div>
    </div>
    <div class="top-content flex-c top-div">
      <img
        class="seize"
        src="@/assets/img/icons/project_stock/company.png"
        alt=""
      />
      <div>
        <p class="top-title">{{ stageCompare.projectName }}</p>
        <ul class="flex-c mt-5 top-ul">
          <li>
            <img src="@/assets/img/v2.0/icons/Maps.png" class="mr-5" alt="" />
            <span>{{ address }}</span>
          </li>
          <li>
            <span>分类：{{ projectVisible.projectType }}</span>
          </li>
          <li><span>清单计价：G003-2012</span></li>
        </ul>
      </div>
    </div>
    <div class="top-content test-tabs">
      <div class="flex-c com-menu-wrap mt-10">
        <div
          class="cp m-item"
          :class="{ active: curMenu === '工程概况对比' }"
          @click="changeMenu('工程概况对比')"
        >
          <span>工程概况对比</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '单位工程对比' }"
          @click="changeMenu('单位工程对比')"
        >
          <span>单位工程对比</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '分部分项对比' }"
          @click="changeMenu('分部分项对比')"
        >
          <span>分部分项对比</span>
          <div class="t-line"></div>
        </div>
        <div
          class="cp m-item"
          :class="{ active: curMenu === '工料机对比' }"
          @click="changeMenu('工料机对比')"
        >
          <span>工料机对比</span>
          <div class="t-line"></div>
        </div>
      </div>
      <template v-if="curMenu == '工程概况对比'">
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title flex-c">
              <span class="mr-30">技术特征</span>
            </div>
          </div>
          <div class="com-table-wrap">
            <el-table
              border
              :data="featureList"
              tooltip-effect="dark"
              class="table-main"
              style="width: 100%"
            >
              <el-table-column
                prop="fieldName"
                label="对比阶段"
                align="center"
                width="140px"
              >
              </el-table-column>
              <el-table-column prop="predict" label="估算"> </el-table-column>
              <el-table-column prop="probably" label="概算"> </el-table-column>
              <el-table-column prop="budget" label="预算"> </el-table-column>
              <el-table-column prop="settle" label="结算"> </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">阶段信息</div>
          </div>
          <div class="com-table-wrap">
            <el-table
              border
              :data="stageList"
              tooltip-effect="dark"
              class="table-main"
              style="width: 100%"
            >
              <el-table-column
                prop="fieldName"
                label="对比阶段"
                align="center"
                width="140px"
              >
              </el-table-column>
              <el-table-column prop="predict" label="估算"> </el-table-column>
              <el-table-column prop="probably" label="概算"> </el-table-column>
              <el-table-column prop="budget" label="预算"> </el-table-column>
              <el-table-column prop="settle" label="结算"> </el-table-column>
            </el-table>
          </div>
        </div>
      </template>
      <template v-if="curMenu != '工程概况对比'">
        <div class="div-part flex-c mt-20">
          <span class="label-text">选择单位工程：</span>
          <div class="flex-c com-select cycle-wrap ml-10">
            <el-select
              class="com-radius-input"
              v-model="curUnitProject"
              placeholder="请选择"
              size="medium"
            >
              <el-option
                v-for="item in unitProject"
                :key="item"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
          </div>
        </div>
      </template>
      <div
        v-show="curMenu == '单位工程对比'"
        class="div-part com-table-wrap expand-table mt-30"
      >
        <el-table :data="projectUnitEngResList" style="width: 100%" border>
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table
                :data="scope.row.projectUnitEngModelList"
                style="width: 100%"
                class="sub-expand-table"
              >
                <el-table-column label="" width="48px"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span
                      >{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span
                    >
                  </template>
                </el-table-column>
                <el-table-column label="" prop="name"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.caliber, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.econStd, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ (subScope.row.pct * 100).toFixed(2) }}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column label="对比阶段">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column label="估算">
            <el-table-column prop="name" label="名称"> </el-table-column>
            <el-table-column label="总造价">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.totalPrice) }}</span>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column label="概算">
            <el-table-column label="计算口径">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.caliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="经济指标">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.econStd, true) }}</span>
              </template>
            </el-table-column>
          </el-table-column>

          <el-table-column label="造价占比">
            <template slot-scope="scope">
              <span>{{ (scope.row.pct * 100).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div
        v-show="curMenu == '分部分项对比'"
        class="div-part com-table-wrap expand-table mt-30"
      >
        <el-table
          :data="subItemList"
          style="width: 100%"
          row-key="id"
          border
          default-expand-all
          :tree-props="{ children: 'childs', hasChildren: 'hasChildren' }"
        >
          <el-table-column prop="name" width="200" label="对比阶段">
            <template slot-scope="scope">
              <span
                class="cp"
                @click="quotaTableVisible = true"
                v-if="scope.row.grade3"
              >
                {{ scope.row.name }}
                <img
                  class="img-echart"
                  src="@/assets/img/table/census.png"
                  alt=""
                />
              </span>
              <span v-else>
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column label="估算">
            <el-table-column
              prop="estimateCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="estimateTarget"
              label="经济指标"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="概算">
            <el-table-column
              prop="probablyCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="probablyTarget"
              label="经济指标"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="预算">
            <el-table-column
              prop="budgetCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="budgetTarget"
              label="经济指标"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="结算">
            <el-table-column
              prop="settleCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="settleTarget"
              label="经济指标"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="决算">
            <el-table-column
              prop="finalCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="finalTarget"
              label="经济指标"
            ></el-table-column>
          </el-table-column>
        </el-table>
      </div>
      <div
        v-show="curMenu == '工料机对比'"
        class="div-part com-table-wrap expand-table mt-30"
      >
        <el-table :data="projectUnitEngResList" style="width: 100%" border>
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table
                :data="scope.row.projectUnitEngModelList"
                style="width: 100%"
                class="sub-expand-table"
              >
                <el-table-column label="" width="48px"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span
                      >{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span
                    >
                  </template>
                </el-table-column>
                <el-table-column label="" prop="name"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.caliber, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.econStd, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ (subScope.row.pct * 100).toFixed(2) }}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column label="对比阶段">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column label="估算">
            <el-table-column prop="name" label="名称"> </el-table-column>
            <el-table-column label="总造价">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.totalPrice) }}</span>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column label="概算">
            <el-table-column label="计算口径">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.caliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="经济指标">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.econStd, true) }}</span>
              </template>
            </el-table-column>
          </el-table-column>

          <el-table-column label="造价占比">
            <template slot-scope="scope">
              <span>{{ (scope.row.pct * 100).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <el-dialog
      title="清单（定额）详情对比"
      :visible.sync="quotaTableVisible"
      width="885px"
      class="com-dialog com-dialog2"
    >
      <div class="com-table-wrap">
        <el-table
          border
          :data="quotaList"
          tooltip-effect="dark"
          class="table-main"
          style="width: 100%"
        >
          <el-table-column type="expand">
            <template slot-scope="props">
              <div class="detail-table">
                <span>定额信息</span>
                <el-table border :data="props.row.subs" style="width: 100%">
                  <el-table-column prop="itCode" label="定额编码">
                  </el-table-column>
                  <el-table-column prop="itName" label="定额名称">
                  </el-table-column>
                  <el-table-column prop="itUnit" label="定额单位">
                  </el-table-column>
                  <el-table-column min-width="70px" prop="itNum" label="数量">
                  </el-table-column>
                  <el-table-column prop="itNum" label="人工单价">
                  </el-table-column>
                  <el-table-column prop="itNum" label="材料单价">
                  </el-table-column>
                  <el-table-column prop="itNum" label="机械单价">
                  </el-table-column>
                  <el-table-column
                    min-width="136px"
                    prop="itNum"
                    label="管理费和利润(单价)"
                  >
                  </el-table-column>
                </el-table>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            prop="projectName"
            label="项目名称"
            min-width="120px"
          >
          </el-table-column>
          <el-table-column prop="code" min-width="100px" label="编码">
          </el-table-column>
          <el-table-column prop="name" min-width="90px" label="名称">
          </el-table-column>
          <el-table-column prop="unit" min-width="65px" label="单位">
          </el-table-column>
          <el-table-column prop="num" min-width="80px" label="工程量">
          </el-table-column>
          <el-table-column prop="num" min-width="120px" label="综合单价(元)">
          </el-table-column>
          <el-table-column prop="num" min-width="100px" label="合价(元)">
          </el-table-column>
          <el-table-column prop="num" min-width="100px" label="经济指标">
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getProjectEngDetailPriceView } from "@/api/project";

import {
  featureList,
  stageList,
  unitProject,
  subItemList,
} from "@/utils/datas/staticData";
export default {
  name: "compareProject",
  data() {
    return {
      stageCompare: {}, // 阶段对比参数
      curMenu: "工程概况对比",
      curUnitProject: "",
      projectStageId: 474,
      projectUnitEngResList: [], // 单位工程汇总表

      quotaTableVisible: false, // 清单（定额）详情弹窗
      quotaList: [
        {
          projectName: "广州市第九医院整体迁建承包",
          code: "010445211",
          name: "砌砖块",
          unit: "t",
          num: "66",
          subs: [
            {
              itCode: "A3-010",
              itName: "定额名称",
              itUnit: "m²",
              itNum: "888",
            },
          ],
        },
      ],
      details: {},       // 详情数据
    };
  },
  computed: {
    // 技术特征
    featureList() {
      return featureList;
    },
    // 阶段信息
    stageList() {
      return stageList;
    },
    // 工程基础信息
    projectVisible() {
      return this.$store.state.project.projectVisible;
    },
    address() {
      let res = this.projectVisible.province;
      if (this.projectVisible.city) res += " " + this.projectVisible.city;
      if (this.projectVisible.area) res += " " + this.projectVisible.area;
      return res;
    },
    // 单位工程
    unitProject() {
      return unitProject;
    },
    // 分部分项数据
    subItemList() {
      return subItemList;
    },
  },
  mounted() {
    this.details = this.$store.state.project.projectVisible || {}
    this.stageCompare = this.$store.state.project.stageCompare;

    this.getProjectEngDetailPriceView();
  },
  methods: {
    // tab切换
    changeMenu(item) {
      this.curMenu = item;
    },
    getProjectEngDetailPriceView() {
      let params = {
        projectStageId: this.projectStageId,
      };
      getProjectEngDetailPriceView(params).then((res) => {
        if (res.code === "01") {
          this.projectUnitEngResList = res.body.projectUnitEngResList;
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.compare-container {
  position: relative;
  .bg {
    position: absolute;
    top: -47px;
    left: 0px;
    width: 100%;
    height: 37px;
    border-radius: 8px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ffffff),
      to(#dff5fe)
    );
    background: linear-gradient(0deg, #ffffff, #dff5fe);
    display: flex;
    align-items: center;
    padding-left: 20px;
    .bread {
      color: #303133;
    }
    .el-icon {
      margin: 0 10px 0 15px;
      font-weight: bold;
      color: #777;
    }
    .active {
      color: $color-primary;
    }
  }
  .top-content {
    margin-top: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding-bottom: 25px;
    .seize {
      width: 90px;
      height: 90px;
      margin-right: 17px;
    }
    .top-title {
      font-size: 22px;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: #333333;
      line-height: 36px;
      background: url("~@/assets/img/v2.0/tiao.png") 10% 100% repeat-x;
    }
    .top-ul {
      li {
        margin-right: 20px;
        font-size: 12px;
        line-height: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #333333;
        opacity: 0.6;
      }
    }
  }
  .test-tabs {
    .com-operate-wrap {
      padding: 16px 20px;
      .m-item {
        width: 235px;
        .t-line {
          width: 235px;
        }
      }
    }

    .div-part {
      padding-left: 20px;
      padding-right: 20px;
    }

    .img-echart {
      vertical-align: middle;
    }

    .com-menu-wrap .m-item {
      .t-line {
        width: 235px;
      }
      width: 235px;
    }
  }
  .top-div {
    padding: 23px 17px 22px 17px;
  }

  .com-dialog2 {
    ::v-deep .el-dialog__header {
      padding-left: 20px;
    }
    ::v-deep .el-dialog__body {
      padding: 5px 20px 20px 20px;
    }
  }
  .com-table-wrap {
    // &::v-deep .el-table__expanded-cell[class*="cell"] {
    //   padding: 20px;
    // }
    .detail-table {
      span {
        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: #333333;
        opacity: 0.6;
        display: inline-block;
        margin-bottom: 15px;
      }
    }
  }
}
</style>

<style lang="scss">
@import "../../styles/variables.scss";
.top-content {
  .el-select {
    input {
      width: 218px;
      height: 37px;
      background: #ffffff;
      border-radius: 20px;
      margin-right: 10px;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
  }
  .btn1 {
    color: #ffffff !important;
    background: $color-primary !important;
  }
  .el-button {
    padding: 0 18px;
    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
</style>
