<template>
  <div class="project-detail">
    <div class="top">
      <div class="img">
        <div class="bg">
          <!-- <div class="bread">
            <span class="cp" @click="$router.push('/project/index')">项目库</span>
            <span role="presentation" class="el-breadcrumb__separator">></span>
            <span class="active">{{baseInfo.name}}</span>
          </div> -->
          <div class="bread">
            <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item>项目管理</el-breadcrumb-item>
              <el-breadcrumb-item :to="{ path: '/project/index' }">项目库</el-breadcrumb-item>
              <el-breadcrumb-item><span class="active">{{baseInfo.name}}</span></el-breadcrumb-item>
            </el-breadcrumb>
          </div>

          <img src="@/assets/img/icons/project_stock/bg.png" alt="">
        </div>
      </div>
      <div class="top-content">
        <div class="flex-cc">
          <div class="t-name">
            <el-tooltip effect="light" content="典型" placement="top" v-if="details && details.isTypical">
              <img src="@/assets/img/icons/project_stock/flag.png" alt="">
            </el-tooltip>
            <span>{{baseInfo.name}}</span>
          </div>
          <span class="cp ml-10" @click="skipVisible">
            <img src="@/assets/img/icons/project_stock/visual.png" alt="" style="width:18px;">
            <span class="mr-0 ml-5 va text-12 orgtxt">可视化展示</span>
          </span>
        </div>
        <div class="flex-cc t-info">
          <p>
            <span>创建人：<span>{{baseInfo.creator}}</span></span>
            <!-- <span v-if="baseInfo.">创建部门：<span>{{baseInfo.}}</span></span> -->
            <span class="va">文档：<img class="cp" src="@/assets/img/icons/project_stock/file.png" alt=""></span>
            <span>更新时间：<span>{{baseInfo.updateTime | formatDate}}</span></span>
          </p>
          <p class="t-right">
            <!-- <el-dropdown>
              <span class="cp el-dropdown-link">
                <img src="@/assets/img/icons/project_stock/compare.png" alt="">
                <span class="mr-0 va">项目对比</span>
                <i class="el-icon-arrow-down el-icon-caret-bottom"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="projectCompare">项目对比</el-dropdown-item>
                <el-dropdown-item @click.native="stageCompare">阶段对比</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown> -->
            <!-- <span class="cp" @click="projectTest">
              <img src="@/assets/img/v2.0/icons/体检.png" alt="">
              <span class="va">项目体检</span>
            </span> -->
            <span class="cp" @click="testReport">
              <img src="@/assets/img/v2.0/icons/体检.png" alt="">
               <!-- red-circle -->
              <span class="va">体检报告</span>
            </span>

            <span class="cp" @click="stageCompare">
              <img src="@/assets/img/icons/project_stock/compare_new.png" alt="">
              <span class="va">全过程对比</span>
            </span>
            <span class="cp" @click="projectCompare">
              <img src="@/assets/img/icons/project_stock/compare_new.png" alt="">
              <span class="va">项目对比</span>
            </span>
            <span class="cp" @click="skipImportPage">
              <img src="@/assets/img/icons/project_stock/import_new.png" alt="">
              <span class="va">导入新阶段</span>
            </span>
            <span class="cp export" @click="exportFile">
              <img src="@/assets/img/icons/project_stock/export_new.png" alt="">
              <span class="va">导出成果</span>
            </span>
            <!-- <span class="cp export" @click="setProjectCheck">
              <img src="@/assets/img/v2.0/icons/设置 拷贝.png" alt="">
              <span class="va">设置项目体检</span>
            </span> -->
          </p>
        </div>

        <div class="process">
          <div class="p-line"></div>
          <div class="flex-csb p-content">
            <span v-for="(item, index) in stageList" :key="index">
              <img class="cp" src="@/assets/img/icons/project_stock/01.png" alt="" @click="checkStage(item.id)" v-if="item.id == 1 && item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/01_no.png" alt="" v-if="item.id == 1 && !item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/01_a.png" alt="" v-if="item.id == 1 && stageId == item.id">
              <img class="cp" src="@/assets/img/icons/project_stock/02.png" alt="" @click="checkStage(item.id)" v-if="item.id == 2 && item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/02_no.png" alt="" v-if="item.id == 2 && !item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/02_a.png" alt="" v-if="item.id == 2 && stageId == item.id">
              <img class="cp" src="@/assets/img/icons/project_stock/03.png" alt="" @click="checkStage(item.id)" v-if="item.id == 3 && item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/03_no.png" alt="" v-if="item.id == 3 && !item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/03_a.png" alt="" v-if="item.id == 3 && stageId == item.id">
              <img class="cp" src="@/assets/img/icons/project_stock/04.png" alt="" @click="checkStage(item.id)" v-if="item.id == 4 && item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/04_no.png" alt="" v-if="item.id == 4 && !item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/04_a.png" alt="" v-if="item.id == 4 && stageId == item.id">
              <img class="cp" src="@/assets/img/icons/project_stock/05.png" alt="" @click="checkStage(item.id)" v-if="item.id > 4 && item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/05_no.png" alt="" v-if="item.id > 4 && !item.isExisted && stageId != item.id">
              <img src="@/assets/img/icons/project_stock/05_a.png" alt="" v-if="item.id > 4 && stageId == item.id">
              <p class="ta-center stage-name" :class="{'active': item.isExisted}">{{item.useName}}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-fs bottom">
      <div class="b-left">
        <p class="cp b-one">项目概况信息</p>
        <template v-for="(item, index) in menu">
          <p
          class="cp b-two"
          :class="{'active': curMenu === item && item !== '分部分项明细' || curMenu === item && item === '分部分项明细' && !curUnitId}"
          :key="index"
          @click="changeMenu(item)"
          v-if="!(item != '项目概况' && !stageId) && !((item != '项目概况' && item != '单位工程汇总表') && stageId == 1)">
          <i v-if="item == '分部分项明细'" :class="{'arrowDown': curMenu === '分部分项明细', 'arrowRight': curMenu != '分部分项明细' }" class="el-icon-caret-right"></i>
          <span>{{item}}</span>
          <ul v-if="curMenu === '分部分项明细' && item === curMenu">
            <li
              :class="{'active': curMenu === item && subItem.id === curUnitId}"
              v-for="(subItem, subIndex) in unitProject"
              :key="subIndex"
              @click="changeSubMenu(subItem.id)">
              <span>{{subItem.name}}</span>
            </li>
          </ul>
        </p>
        </template>

      </div>
      <div class="b-right">
        <Profile :isEnable="isEnable" :projectFeatureListParams="projectFeatureList" :projectStageDetail="projectStageDetail" :stageList="stageList" :baseInfoParams="baseInfo" :stageId="stageId" v-if="curMenu === '项目概况' && stageFinish && featureFinish" @updateInitData="updateInitData" />
        <UnitProject :projectStageDetail="projectStageDetail" v-if="curMenu === '单位工程汇总表' && stageFinish" />
        <Branch ref="changebranch" @skipList="skipList" :curUnitId="curUnitId" :projectStageDetail="projectStageDetail" v-if="curMenu === '分部分项明细' && stageFinish" />
        <List :curListName="curListName" :projectStageDetail="projectStageDetail" v-if="curMenu === '清单汇总一览表' && stageFinish" />
        <QuantityMachine :projectStageDetail="projectStageDetail" :baseInfoParams="baseInfo" v-if="curMenu === '工料机汇总一览表' && stageFinish" />
        <Kpi ref="kpi" v-if="curMenu === '指标汇总一览表'" :baseInfoParams="baseInfo" :projectStageId="projectStageDetail.proStageBaseInfo.projectStageId" />
      </div>
    </div>

    <!-- 项目对比弹窗 -->
    <ProjectCompareDialog @closeDialog="closeDialog" :details="details" v-if="showProjectCompareDialog" />
  </div>
</template>

<script>
import { exportProjectBaseInfo } from "@/api/project";
import Profile from "./components/Profile";
import UnitProject from "./components/UnitProject";
import Branch from "./components/Branch";
import List from "./components/List";
import QuantityMachine from "./components/QuantityMachine";
import Kpi from "./components/Kpi";
import ProjectCompareDialog from "./components/projectCompareDialog.vue";
import {
  getProStageInfo,
  getProjectBaseInfo,
  getTecFeatureByProject,
} from "@/api/project";
import {
  getOldStageListByProject,
  getProjectUnitEngList,
} from "@/api/newProject";
import { formatDate } from "@/utils/common";
export default {
  data() {
    return {
      curUnitId: null, // 单位工程项id
      menu: [
        "项目概况",
        "单位工程汇总表",
        "分部分项明细",
        "清单汇总一览表",
        "工料机汇总一览表",
        "指标汇总一览表",
      ],
      curMenu: "项目概况",
      details: {},
      projectId: null,
      isEnable: true, // 阶段是否启用
      stageId: null, // 当前阶段id
      baseInfo: {}, // 项目基础信息
      stageList: [], // 阶段列表
      projectStageDetail: {}, // 项目阶段详细
      stageFinish: false,
      featureFinish: false,
      projectFeatureList: [], // 技术特征信息
      unitProject: [], // 单位工程列表
      showProjectCompareDialog: false,
      curListName: null,
    };
  },
  filters: {
    formatDate(val) {
      return formatDate(val, "2");
    },
  },
  mounted() {
    this.details = this.$store.state.project.projectVisible || {};
    this.projectId = this.details.projectId;
    try {
      this.stageId = this.details.stageId;
    } catch (err) {
      this.stageId = null;
    }
    if (!this.projectId) {
      this.$router.push("/project/index");
      return;
    }
    this.getOldStageListByProject();
    if (this.stageId) {
      this.getProStageInfo();
    }

    if(this.$route.query.changeList) this.changeMenu('清单汇总一览表')
    if(this.$route.query.changeMachine) this.changeMenu('工料机汇总一览表')
  },
  methods: {
    // 导出项目基础信息
    exportFile() {
      let params = {
        projectId: this.projectId,
        stageId: this.stageId,
      };
      exportProjectBaseInfo(params).then((res) => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: "text/csv;charset=utf-8;" }),
            sessionStorage.getItem("blob_filename") || "项目基础信息.xls"
          );
          return;
        }
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement("a");
          let _fileName =
            sessionStorage.getItem("blob_filename") || "项目基础信息.xls";
          a.download = _fileName;
          a.href = event.target.result;
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        };
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem("blob_filename");
        };
      });
    },

    // 修改基础信息后刷新阶段信息
    updateInitData() {
      this.stageFinish = false;
      if (this.stageId) {
        this.getProStageInfo();
      }
    },
    // 阶段对比
    stageCompare() {
      let projectStageList = this.details.projectStageList;
      if (projectStageList && projectStageList.length >= 2) {
        let projectStatus = [
          this.baseInfo.specialtyType,
          this.baseInfo.projectType,
          this.baseInfo.engType,
        ];
        let areaStatus = [
          this.baseInfo.province,
          this.baseInfo.city,
          this.baseInfo.area,
        ];
        let params = {
          projectName: this.details.name,
          projectId: this.projectId,
          projectStageId:
            this.projectStageDetail.proStageBaseInfo.projectStageId,
          stageId: this.stageId,
          taxManner: this.projectStageDetail.proStageBaseInfo.taxManner,
          projectStatus,
          areaStatus,
        };
        this.$store.commit("SET_STAGE_COMPARE", params);
        this.$router.push({
          path: "/project/compareStage",
        });
      } else {
        this.$alert("项目阶段少于2个，无法进行阶段对比", "提示", {
          confirmButtonText: "确定",
          type: "warning",
        });
      }
    },
    // 关闭项目对比弹窗
    closeDialog() {
      this.showProjectCompareDialog = false;
    },
    // 项目对比
    projectCompare() {
      this.showProjectCompareDialog = true;
    },
    // 跳转清单汇总
    skipList(name) {
      this.curMenu = "清单汇总一览表";
      // 分部分项明细跳转时携带的name，若有name则清单汇总表通过name筛选
      this.curListName = name;
      this.getProStageInfo();
    },
    // 单位工程列表
    getProjectUnitEngList() {
      let proStageBaseInfo = this.projectStageDetail.proStageBaseInfo;
      let params = {
        projectStageId: proStageBaseInfo.projectStageId,
      };
      getProjectUnitEngList(params).then((res) => {
        if (res.code === "01") {
          this.unitProject = res.body || [];
          if (this.unitProject.length > 0) {
            this.curUnitId = this.unitProject[0].id;
          }
        }
      });
    },
    // 切换阶段
    checkStage(id) {
      this.stageId = id;
      this.stageFinish = false;
      // 获取该阶段是否启用状态
      for (let i = 0; i < this.stageList.length; i++) {
        if (this.stageId === this.stageList[i].id) {
          this.isEnable = this.stageList[i].isEnable;
          break;
        }
      }

      // 若在非项目概况或分部分项明细，切换至估算阶段，默认展示项目概况
      if (
        this.curMenu != "项目概况" &&
        this.curMenu != "分部分项明细" &&
        this.stageId == 1
      ) {
        this.curMenu = "项目概况";
      }

      this.curListName = "";

      this.getProStageInfo();

      if (this.curMenu == "指标汇总一览表") {
        setTimeout(() => {
          this.$refs.kpi.changeMenu();
        }, 500);
      }
    },
    // 查询项目可选造价阶段
    getOldStageListByProject() {
      let params = {
        projectId: this.projectId,
      };
      getOldStageListByProject(params).then((res) => {
        if (res.code === "01") {
          this.stageList = res.body;
          // 获取该阶段是否启用状态
          for (let i = 0; i < this.stageList.length; i++) {
            if (this.stageId === this.stageList[i].id) {
              this.isEnable = this.stageList[i].isEnable;
              break;
            }
          }
        }
      });
    },
    // 获取项目阶段详细
    getProStageInfo() {
      let params = {
        projectId: this.projectId,
        stageId: this.stageId,
      };
      getProStageInfo(params)
        .then((res) => {
          this.stageFinish = true;
          if (res.code === "01") {
            this.projectStageDetail = res.body || {};
            let proStageBaseInfo = this.projectStageDetail.proStageBaseInfo;
            if (proStageBaseInfo && proStageBaseInfo.taxManner === 1) {
              this.projectStageDetail.proStageBaseInfo["taxName"] =
                "增值税（一般计税方法）";
            } else if (proStageBaseInfo && proStageBaseInfo.taxManner === 2) {
              this.projectStageDetail.proStageBaseInfo["taxName"] =
                "增值税（简易计税方法）";
            } else if (proStageBaseInfo && proStageBaseInfo.taxManner === 3) {
              this.projectStageDetail.proStageBaseInfo["taxName"] =
                "增值税（营业税计税方法）";
            }

            this.getProjectUnitEngList();
            this.getProjectBaseInfo();
          }
        })
        .catch((err) => {
          this.stageFinish = true;
        });
    },
    // 获取项目基础信息
    getProjectBaseInfo() {
      let params = {
        projectId: this.projectId,
        projectStageId: this.projectStageDetail.proStageBaseInfo.projectStageId,
      };
      getProjectBaseInfo(params).then((res) => {
        if (res.code === "01") {
          this.baseInfo = res.body;

          let projectArea = [];
          projectArea[0] = this.baseInfo.province;
          projectArea[1] = this.baseInfo.city;
          projectArea[2] = this.baseInfo.area;
          this.baseInfo["projectArea"] = projectArea;

          let projectTypeValue = [];
          projectTypeValue[0] = this.baseInfo.specialtyType;
          projectTypeValue[1] = this.baseInfo.projectType;
          projectTypeValue[2] = this.baseInfo.engType;
          this.baseInfo["projectTypeValue"] = projectTypeValue;

          let listPrice = [];
          listPrice[0] = this.baseInfo.invComputeNorm;
          listPrice[1] = this.baseInfo.quotaComputeNorm;
          this.baseInfo["listPrice"] = listPrice;

          this.getTecFeatureByProject();
        }
      });
    },
    // 查询可配置项目特征列表
    getTecFeatureByProject() {
      let params = {
        projectId: this.projectId,
      };
      getTecFeatureByProject(params)
        .then((res) => {
          this.featureFinish = true;
          if (!this.stageId) {
            this.stageFinish = true;
          }
          if (res.code == "01") {
            let projectFeatureList = res.body;
            let tecList = this.baseInfo.tecList;
            // tecList中所有项的tecFeatureId
            let tecListId = [];
            // projectFeatureList中所有项的tecFeatureId
            let projectFeatureListId = [];
            for (let i = 0; i < projectFeatureList.length; i++) {
              projectFeatureListId.push(projectFeatureList[i].tecFeatureId);
              // 主特征显示黄色感叹号
              if (projectFeatureList[i].isMain) {
                projectFeatureList[i].tips = projectFeatureList[i].name;
              }

              // 下拉框列表数据
              if (projectFeatureList[i].defaultValues) {
                projectFeatureList[i].defaultValuesArr =
                  projectFeatureList[i].defaultValues.split(",");
              } else {
                projectFeatureList[i].defaultValuesArr = [];
              }
              // 特征value写入列表数组
              for (let j = 0; j < tecList.length; j++) {
                tecListId.push(tecList[j].tecFeatureId);
                if (
                  projectFeatureList[i].tecFeatureId === tecList[j].tecFeatureId
                ) {
                  projectFeatureList[i].featureValue = tecList[j].value;
                  projectFeatureList[i]["checked"] = true;
                }
              }
            }

            // 该段逻辑与业务需求有关
            // tecListId中的id，若不存在projectFeatureListId中，则代表该id对应的项技术特征配置被删除了，当成历史数据处理，仅显示，且第一次保存操作后就被删除
            let disabledId = [];
            for (let k = 0; k < tecListId.length; k++) {
              if (projectFeatureListId.indexOf(tecListId[k]) === -1) {
                disabledId.push(tecListId[k]);
              }
            }
            disabledId = [...new Set(disabledId)];
            if (disabledId && disabledId.length > 0) {
              for (let m = 0; m < tecList.length; m++) {
                if (disabledId.indexOf(tecList[m].tecFeatureId) > -1) {
                  let item = tecList[m];
                  item["featureValue"] = tecList[m].value;
                  item["disabled"] = true;
                  if (tecList[m].isMain) {
                    item["tips"] = tecList[m].name;
                  }
                  projectFeatureList.push(item);
                }
              }
            }

            this.projectFeatureList = projectFeatureList;
          }
        })
        .catch((err) => {
          this.featureFinish = true;
        });
    },
    // 跳转可视化
    skipVisible() {
      let projectVisible = this.$store.state.project.projectVisible;
      let stageList = projectVisible.projectStageList;
      let idx = 0;
      if (stageList && stageList.length > 1) {
        stageList.forEach((item, index) => {
          if (item.stageId == this.stageId) idx = index;
        });
      }
      if (!stageList || stageList[idx].schedule != 4) {
        this.$message({
          type: "error",
          message: "当前项目未经过标准化,无法可视化！",
        });
        return;
      }
      projectVisible.stageId = this.stageId;
      this.$store.commit("SET_PROJECT_VISIBLE", projectVisible);
      this.$router.push("/project/projectVisible");
    },
    // 导入新阶段
    skipImportPage() {
      this.$router.push({
        path: "/project/importProject",
        query: {
          projectId: this.projectId,
          projectStageId: this.projectStageDetail.proStageBaseInfo.projectStageId,
          types: 3,
        },
      });
    },
    // 项目体检
    projectTest() {
      this.$router.push({
        path: "/project/testing",
        query: {
          projectId: this.projectId,
        },
      });
    },
    // 体检报告
    testReport() {
      this.$router.push({
        path: "/project/report",
        query: {
          projectStageId: this.projectStageDetail.proStageBaseInfo.projectStageId
        },
      });
    },
    // 设置项目体检
    setProjectCheck() {},
    // 菜单栏切换
    changeMenu(item) {
      this.curMenu = item;
      if (this.curMenu != "清单汇总一览表") this.curListName = "";
    },
    // 切换子菜单
    changeSubMenu(id) {
      this.curUnitId = null;
      this.curUnitId = id;
      setTimeout(() => {
        this.$refs.changebranch.getProjectDeptItemDetailPriceView();
        this.$refs.changebranch.getUnitProjectCount();
      }, 100);
    },
  },
  components: {
    Profile,
    UnitProject,
    Branch,
    List,
    QuantityMachine,
    Kpi,
    ProjectCompareDialog,
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.project-detail {
  .top {
    width: 100%;
    height: 267px;
    background: #fff;
    .img {
      margin-top: -37px;
      width: 100%;
      height: 73px;
      border-radius: 8px;
      .bg {
        position: relative;
        width: 100%;
        height: 73px;
        border-radius: 8px;
        background: linear-gradient(0deg, #ffffff, #dff5fe);
        .bread {
          position: absolute;
          top: 13px;
          left: 20px;
          color: #303133;
          .el-breadcrumb {
            font-size: 13px;
          }
          .cp:hover {
            color: $color-primary;
          }
          .el-icon {
            margin: 0 10px 0 15px;
            font-weight: bold;
            color: #777;
          }
          .active {
            color: $color-primary;
          }
        }
        img {
          position: absolute;
          top: 0;
          right: 0;
          width: 273px;
          height: 238px;
          pointer-events: none;
        }
      }
    }
  }
  .top-content {
    padding: 0 20px;
    .cp {
      color: #555;
    }
    .t-name {
      color: #333;
      font-size: 22px;
      font-weight: bold;
      max-width: 700px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      img {
        margin-right: 7px;
        width: 20px;
      }
      img,
      span {
        vertical-align: middle;
      }
    }
    .t-info {
      margin-top: 20px;
      // width: 92%;

      span {
        &::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 14px;
          background: #ebebeb;
          border-radius: 1px;
          top: 50%;
          transform: translateY(-50%);
          right: -13px;
        }
      }

      p {
        span {
          margin-right: 26px;
          font-size: 12px;
          color: #999;
          position: relative;

          span {
            // color: #333;
            // font-weight: bold;
            margin-right: 0;
          }
        }

        .va,
        img {
          vertical-align: middle;
        }
      }
      .t-right {
        font-size: 12px;
        img {
          width: 14px;
          height: 14px;
          margin-right: 4px;
        }
        .cp {
          span {
            color: #3699ff !important;
            margin-right: 0 !important;
          }
          margin-right: 26px !important;
        }
        .export {
          span {
            color: #333 !important;
          }
          cursor: pointer !important;
        }

        span:last-child {
          &::after {
            content: none;
          }
        }

        .red-circle {
          position: relative;
          &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: red;
            position: absolute;
            top: -6px;
            right: -5px;
          }
        }
      }
    }
    .process {
      margin: 60px auto 0 auto;
      width: 82%;
      .p-line {
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background: $color-minor;
      }
      .p-content {
        margin: -30px auto 0 auto;
        width: 575px;
        .stage-name {
          color: #a4a4a4;
          &.active {
            color: $color-minor;
          }
        }
      }
    }
  }
  .bottom {
    margin-top: 12px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    .b-left,
    .b-right {
      overflow: hidden;
    }
    .b-left {
      margin-right: 1px;
      min-width: 186px;
      max-width: 186px;
      .b-one {
        margin: 26px 0 22px 38px;
        color: #333;
        font-size: 14px;
        font-weight: 600;
      }
      .b-two {
        margin: 0 0 20px 52px;
        color: #999;
        font-size: 14px;
        font-weight: 500;
        &.active {
          color: $color-minor;
        }
      }
    }
    .b-right {
      width: 100%;
      border-left: 1px solid #f6f6f6;
    }
    ul {
      li {
        padding-top: 15px;
        padding-left: 13px;
        font-size: 12px;
        &.active {
          color: $color-minor;
        }
      }
    }
  }

  .orgtxt {
    font-size: 12px;
    color: #f9a147;
  }

  .el-icon-caret-right {
    margin-left: -16px;
    margin-right: 2px;
  }

  .arrowRight {
    transition: 0.2s;
    transform-origin: center;
    transform: rotateZ(0deg);
  }

  .arrowDown {
    transition: 0.2s;
    transform-origin: center;
    transform: rotateZ(90deg);
  }
}
</style>
<style lang="scss">
@import "@/styles/variables.scss";
.project-detail {
  .b-label {
    margin-bottom: 16px;
    color: #999;
    font-size: 16px;
    vertical-align: middle;
    &:before {
      margin-right: 8px;
      margin-top: -3px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 3px;
      height: 16px;
      background: $color-primary;
    }
  }
  .b-save {
    padding-right: 12px;
    color: $color-primary;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    img {
      margin-right: 5px;
    }
    img,
    span {
      vertical-align: middle;
    }
  }
}
</style>
<style lang="scss">
@import "@/styles/variables.scss";
.project-detail {
  .custom-input {
    .el-input {
      padding: 0 8px;
      height: 34px;
      input {
        height: 34px;
        line-height: 34px;
      }
    }
    .form-unit {
      .el-input {
        margin-left: 0;
      }
    }
    .el-form-item {
      margin-bottom: 0;
      width: 100%;
    }
    .address-wrap {
      .el-select {
        width: 100%;
        input {
          text-indent: 12px;
        }
      }
    }
    .el-select {
      width: 77%;
      .el-input__suffix {
        top: 7px;
      }
    }
    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
      width: 100%;
    }
    .el-icon-date {
      color: $color-primary;
    }
    .el-form-item {
      width: 33.3333%;
    }
    .el-form-item.row-item {
      width: 100%;
    }
  }
  .table-wrap {
    .el-table .has-gutter th {
      color: #999;
      background: #eff2f7;
    }
    // 修改表格border颜色
    .el-table--border:after,
    .el-table--group:after,
    .el-table:before {
      background-color: #e6e6e6;
    }
    .el-table--border,
    .el-table--group {
      border-color: #e6e6e6;
    }
    .el-table td,
    .el-table th.is-leaf {
      border-bottom: 1px solid #e6e6e6;
    }
    .el-table--border th,
    .el-table--border th.gutter:last-of-type {
      border-bottom: 1px solid #e6e6e6;
    }
    .el-table--border td,
    .el-table--border th {
      border-right: 1px solid #e6e6e6;
    }
  }

  .el-table .has-gutter th {
    font-size: 14px;
    font-weight: bold;
  }
  .el-table th,
  .el-table tr {
    font-size: 13px;
    // font-weight: bold;
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background: #e0f0ff;
  }
}
</style>
