<template>
  <div class="navbar flex-csb">
    <!-- <hamburger :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" /> -->

    <!-- <breadcrumb class="breadcrumb-container" /> -->
    <div class="flex-c">
      <img src="@/assets/img/home/logo.png" class="logo-img">
      <p class="t-title">造价信息管理系统与共享平台</p>
    </div>

    <div class="right-menu">
      <!-- 消息 -->
      <div class="flex-cc msg">
        <div class="msg-box">
          <div class="dot"></div>
          <img src="@/assets/img/icons/msg_tips.png" class="msg-img">
        </div>
      </div>
      <el-dropdown class="flex-c avatar-container" trigger="hover">
        <span class="flex-c el-dropdown-link">
          <img :src="userHead" class="user-avatar u-head" v-if="userHead">
          <img src="@/assets/img/home/user_icon.png" class="user-avatar" v-else>
          <span class="user-name">{{userName}}</span>
          <i class="el-icon-caret-bottom"></i>
        </span>
        <el-dropdown-menu slot="dropdown" class="user-dropdown">
          <el-dropdown-item @click.native="skipPage('/personal')">
            <span class="el-icon el-icon-user"></span>
            <span>个人信息</span>
          </el-dropdown-item>
          <el-dropdown-item @click.native="skipPage('/personal?to=changePassword')">
            <span class="el-icon el-icon-unlock"></span>
            <span>修改密码</span>
          </el-dropdown-item>
          <el-dropdown-item @click.native="logout">
            <span class="el-icon el-icon-switch-button"></span>
            <span>退出登录</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'

export default {
  components: {
    Breadcrumb,
    Hamburger
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'userName',
      'userHead'
    ])
  },
  methods: {
    skipPage(path) {
      this.$router.push(path)
    },
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    async logout() {
      await this.$store.dispatch('user/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 54px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  // padding-left: 54px;
  .logo-img {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 25px;
  }
  .hamburger-container {
    line-height: 54px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;
    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }
  .breadcrumb-container {
    float: left;
  }
  .t-title{
    font-size: 20px;
    color: #333333;
    line-height: 36px;
    font-family: 'mainFont';
    margin: 0;
    line-height: 54px;
    display: inline-block;
  }
  .right-menu {
    height: 100%;
    display: flex;
    &:focus {
      outline: none;
    }
    .msg{
      margin-right: 38px;
      width: 80px;
      height: 100%;
      cursor: pointer;
      &:hover{
        background: #F3F9FE;
      }
      .msg-box{
        position: relative;
        .dot{
          position: absolute;
          top: -2px;
          right: -2px;
          background: #FC2727;
          width: 6px;
          height: 6px;
          border-radius: 3px;
        }
        .msg-img{
          width: 18px;
          height: 22px;
        }
      }
    }
    .avatar-container {
      margin-right: 25px;
      height: 100%;
      cursor: pointer;
      > span {
        color: #333;
        font-weight: bold;
        font-size: 18px;
        i {
          margin-left: 5px;
          color: #333;
        }
      }
      .user-avatar {
        width: 36px;
        height: 36px;
        border-radius: 20px;
        overflow: hidden;
      }
      .user-name{
        font-size: 14px;
        font-family: 'mainfont';
        color: #434343;
        margin: 0 8px 0 11px;
      }
    }
  }
}
</style>

<style lang="scss">
  .user-dropdown {
    margin-top: 0;
    left: unset!important;
    right: 10px!important;
    top: 48px!important;
    padding: 0;
    width: 208px;
    height: 180px;
    box-shadow: 0px 3px 4px 0px rgba(12, 18, 56, 0.25);
    .popper__arrow,
    .popper__arrow::after,
    .el-dropdown-menu__item--divided:before {
      display: none!important;
    }
    .el-dropdown-menu__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      line-height: 0;
      padding: 0;
      border-top: none;
      color: #000;
      &:hover {
        background: none;
        color: #000;
      }
      &:nth-child(3){
        background: #FF8181;
        color: #fff;
      }
    }
    .el-icon {
      margin-right: 10px;
      font-size: 16px;
    }
  }
</style>
