<template>
  <div>
    <!-- czhui -->
    <p>中华人民共和国国家标准《建设工程人工材料设备机械数据标准》参编单位和数据提供方</p>
    <p>©2021 经营决策大数据管理分析平台 版权所有 技术支持：造价通 400-888-9639</p>

    <!-- <p>技术支持：海迈科技 0592-5070808</p> -->
  </div>
</template>

<script>
export default {
  name: 'MyFooter',
  data(){
    return {}
  },
  computed: {},
  methods: {},
}
</script>

<style lang="scss" scoped>

</style>

