<template>
  <div>
    <!-- 标准化弹窗 -->
    <el-dialog title="添加材料" :visible.sync="showScanDialog" :before-close="closeScan" :close-on-click-modal="false" width="600px" class="com-dialog com-scan-dialog">
      <div>
        <el-steps class="scan-step" :active="curActive" align-center>
          <el-step title="完善信息" icon="el-icon-check" />
          <el-step title="安全扫描" icon="el-icon-check" />
          <el-step class="label-3" title="智能标准化" icon="el-icon-check" />
          <el-step class="label-4" title="完成" icon="el-icon-check" />
        </el-steps>
        <div v-if="!isScan" class="flex-cc scan-content">
          <div class="loading-img">
            <img src="@/assets/img/scan_loading.png" alt="">
            <span>{{ curActive }}<span>项</span></span>
          </div>
          <span class="tip-label">正在拼命为您批量标准化，请耐心等候...</span>
        </div>
        <div v-if="!isScan" class="flex-cc scan-item">
          <div class="s-item">
            <img v-if="curActive >= 1" src="@/assets/img/scan_act_01.png" alt="">
            <img v-else src="@/assets/img/scan_01.png" alt="">
            <p>上传文档成功</p>
          </div>
          <div class="s-item">
            <img v-if="curActive >= 2" src="@/assets/img/scan_act_02.png" alt="">
            <img v-else src="@/assets/img/scan_02.png" alt="">
            <p>智能识别文档成功</p>
          </div>
          <div class="s-item">
            <img v-if="curActive >= 3" src="@/assets/img/scan_act_03.png" alt="">
            <img v-else src="@/assets/img/scan_03.png" alt="">
            <p>自动清洗数据成功</p>
          </div>
          <div class="s-item">
            <img v-if="curActive == 4" src="@/assets/img/scan_act_04.png" alt="">
            <img v-else src="@/assets/img/scan_04.png" alt="">
            <p>正在批量标准化</p>
          </div>
        </div>

        <div v-if="isScan && curActive > 3" class="flex-cc scan-content scan-success">
          <img src="@/assets/img/success_img.png" alt="">
          <p>材料导入成功<span class="suc-num">{{ successCount }}</span>条，失败<span class="err-num">{{ failCount }}</span>条</p>
        </div>
        <div v-if="isScan && curActive <= 3" class="flex-cc scan-content scan-success">
          <img src="@/assets/img/error_img.png" alt="">
          <p>{{ errMsg }}</p>
        </div>
      </div>

      <span v-if="isScan" slot="footer" class="dialog-footer">
        <el-button v-if="curActive > 3 && failCount > 0" style="border:1px solid #2773FC;" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="confirmScan">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  // props: ['scanState', 'failCount', 'successCount', 'downloadKeyLoading'],
  props: {
    scanState: [String, Number],
    failCount: [String, Number],
    successCount: [String, Number],
    downloadKeyLoading: Boolean,
    errMsg: {
      type: String,
      default: '上传失败，请重试'
    }
  },
  data() {
    return {
      curActive: 0, // 当前进度
      isScan: false, // 是否扫描完毕
      showScanDialog: true, // 显示标准化弹窗
      timer1: null,
      timer2: null,
      timer3: null,
      timer4: null,
      timer5: null,
      timer6: null
    }
  },
  watch: {
    // 监听标准化状态：scanState（0待开始，1成功，失败）
    scanState() {
      clearTimeout(this.timer1)
      clearTimeout(this.timer2)
      clearTimeout(this.timer3)
      clearTimeout(this.timer5)
      clearInterval(this.timer4)
      this.isScan = true

      if (this.scanState == '1') {
        this.curActive = 4
      } else if (this.scanState == '2') {
        this.curActive = 3
      }
    }
  },
  mounted() {
    clearTimeout(this.timer1)
    clearTimeout(this.timer2)
    clearTimeout(this.timer3)
    clearTimeout(this.timer5)
    clearTimeout(this.timer6)
    clearInterval(this.timer4)
    this.initLoading()
  },
  computed: {
    ...mapGetters(['loadingTime1', 'loadingTime2', 'loadingTime3'])
  },
  methods: {
    // 初始化
    initLoading() {
      this.isScan = false
      this.curActive = 0
      this.timer1 = setTimeout(() => {
        this.curActive++
      }, this.loadingTime1)
      this.timer2 = setTimeout(() => {
        this.curActive++
      }, this.loadingTime2)
      this.timer3 = setTimeout(() => {
        this.curActive++
      }, this.loadingTime3)
      this.timer4 = setInterval(() => {
        if (this.scanState == '2') {
          this.curActive++
          this.timer5 = setTimeout(() => {
            this.isScan = true
          }, 500)
        }
      }, 1000)
    },
    // 关闭扫描
    closeScan(done) {
      if (!this.isScan) {
        this.$confirm('正在标准化，确认关闭?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          if (!this.isScan) {
            this.$emit('confirmScan')
            clearTimeout(this.timer1)
            clearTimeout(this.timer2)
            clearTimeout(this.timer3)
            clearTimeout(this.timer5)
            clearInterval(this.timer4)
          }
        })
      } else {
        done()
        this.$emit('confirmScan')
      }
    },
    // 通知父组件结束标准化效果
    confirmScan() {
      this.$emit('confirmScan')
      clearTimeout(this.timer1)
      clearTimeout(this.timer2)
      clearTimeout(this.timer3)
      clearTimeout(this.timer5)
      clearInterval(this.timer4)
    },
    // 下载失败清单
    downloadErrorList() {
      this.$emit('downloadErrorList')
      this.confirmScan()
    }
  }
}
</script>

<style lang="scss">
// 安全扫描样式
.com-scan-dialog {
  .scan-step {
    .el-step__head {
      position: absolute;
      top: 20px;
      left: 0;
      &.is-finish {
        .el-step__icon {
          background: #2773fc;
        }
        .el-icon-check {
          display: block;
        }
      }
      .el-icon-check {
        display: none;
      }
      .el-step__icon-inner {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
      }
      .el-step__icon {
        width: 21px;
        height: 21px;
        background: #ccc;
        border-radius: 50%;
      }
    }
    .el-step__main {
      position: absolute;
      top: -15px;
      left: 26px;
    }
    .el-step.label-3 {
      .el-step__main {
        left: 19px;
      }
    }
    .el-step.label-4 {
      .el-step__main {
        left: 40px;
      }
    }
    .el-step__title.is-finish {
      color: #2773fc;
    }
    .el-step__title {
      color: #999;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .scan-content {
    padding-top: 68px;
    .loading-img {
      position: relative;
      margin-right: 22px;
      img {
        animation: scanLoading 0.5s linear infinite;
      }
      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #2773fc;
        font-size: 30px;
        font-weight: bold;
        > span {
          color: #2773fc;
          font-size: 12px;
        }
      }
    }
    .tip-label {
      font-size: #333;
      color: #333;
    }
  }
  .scan-item {
    margin: 26px auto 0 auto;
    width: 438px;
    text-align: center;
    .s-item {
      margin-right: 29px;
      &:last-child {
        margin-right: 0;
      }
      p {
        margin-top: 10px;
        font-size: 10px;
        color: #999;
      }
    }
  }
  .scan-success {
    padding: 78px 0 20px 0;
    font-size: 14px;
    color: #333;
    img {
      margin-right: 23px;
      width: 56px;
      height: 56px;
    }
    .suc-num {
      color: #8cc929;
    }
    .err-num {
      color: #ff3c3c;
    }
  }
}
</style>
