<template>
  <div class="user-info com-dialog">
    <div class="info-wrap com-input">
      <!-- 旧密码 -->
      <div class="flex-c mb-20">
        <span class="mr-20 label-text"><span class="r-color">*</span>旧密码</span>
        <el-input v-model="password" placeholder="请输入旧密码" type="password" />
      </div>
      <!-- 旧密码 end -->
      <!-- 新密码 -->
      <div class="flex-c mb-20">
        <span class="mr-20 label-text"><span class="r-color">*</span>新密码</span>
        <el-input v-model="newPwd" placeholder="请输入8~20位含字母大小写和数字" type="password" />
      </div>
      <!-- 新密码 end -->
      <!-- 确认密码 -->
      <div class="flex-c mb-20">
        <span class="mr-20 label-text"><span class="r-color">*</span>确认密码</span>
        <el-input v-model="confirmPwd" placeholder="请输入确认密码" type="password" />
      </div>
      <!-- 确认密码 end -->
    </div>
    <div class="dialog-footer mt-46 save-btn">
      <el-button class="mt-20" type="primary" :loading="loading" @click="updatePwd">保存</el-button>
    </div>
  </div>
</template>

<script>
import { clearStorage } from '@/utils/clearStorage'
import { updatePwd } from '@/api/user'
export default {
  data() {
    return {
      password: '',
      newPwd: '',
      confirmPwd: '',
      loading: false
    }
  },
  methods: {
    updatePwd() {
      var reg = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$/
      if (!reg.test(this.newPwd)) {
        this.$message({
          type: 'error',
          message: '请输入8~20位含字母大小写和数字 '
        })
        return false
      }
      if (!this.password) {
        this.$message({
          type: 'error',
          message: '请输入旧密码'
        })
        return
      } else if (!this.newPwd) {
        this.$message({
          type: 'error',
          message: '请输入新密码'
        })
        return
      } else if (!this.confirmPwd) {
        this.$message({
          type: 'error',
          message: '请输入确认密码'
        })
        return
      } else if (this.confirmPwd !== this.newPwd) {
        this.$message({
          type: 'error',
          message: '确认密码和新密码不一致'
        })
        return
      }
      var params = {
        newPassword: this.newPwd,
        oldPassword: this.password
      }
      this.loading = true
      updatePwd(params)
        .then((res) => {
          this.loading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: '修改成功，请使用新密码重新登录'
            })
            clearStorage()
            this.$router.push('/login')
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch((err) => {
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.user-info {
  .info-wrap {
    margin: 50px auto 0 auto;
    width: 394px;
  }
  .save-btn {
    width: 100%;
    border-top: 1px solid #efefef;
    text-align: center;
  }
}
</style>
