<template>
  <div class="company-info-container">
    <div class="up-wrap">
      <span class="big-label">单位信息</span>
      <div class="info-container">
        <span class="small-label">完善单位信息</span>
        <div class="com-input info-wrap">
          <div class="info-wrap com-input">
            <!-- 头像 -->
            <div class="flex-fsc  head-wrap">
              <div class=" flex-cc upload-wrap">
                <img v-if="userHead" :src="userHead" alt="">
                <img v-else src="@/assets/img/default_head1.png" alt="">
                <div class="upload-edit">
                  <img src="@/assets/img/upload_avatar.png" alt="" class="">
                  <span>上传头像</span>
                  <input ref="fileElem" type="file" class="u-btn" accept="image/jpeg,image/png,image/jpg,image/bmp" @change="uploadHead">
                </div>
              </div>
            </div>
            <!-- 头像 end -->
            <!-- 单位名称 -->
            <div class="flex-c mb-20">
              <span class="nw label-text"><span>*</span>单位名称：</span>
              <el-input v-model="companyInfo.unitName" maxlength="100" placeholder="请输入单位名称" />
            </div>
            <!-- 单位名称 end -->
            <!-- 企业类型 -->
            <div class="flex-c mb-20">
              <span class="label-text"><span>*</span>企业类型：</span>
              <el-select v-model="companyInfo.enterpriseTypeCode" style="width: 100%;" placeholder="请选择企业类型">
                <el-option v-for="item in companyInfo.enterpriseTypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode" />
              </el-select>
            </div>
            <!-- 企业类型 end -->
            <!-- 上报类型 -->
            <!-- <div class="flex-fs mb-20">
            <span class="label-text"><span></span><span>*</span>上报类型：</span>
            <div>
              <el-checkbox-group v-model="checkedList" @change="changeCheckedQuoteType($event)">
                <el-checkbox
                  :label="item.name"
                  :key="index"
                  v-for="(item, index) in companyInfo.quoteTypeList"></el-checkbox>
              </el-checkbox-group>
            </div>
          </div> -->
            <!-- 上报类型 end -->
            <!-- 地区 -->
            <div class="flex-c mb-20 region-wrap">
              <span class="label-text"><span /><span>*</span>地区：</span>
              <el-select v-model="companyInfo.province" v-loading="regionLoading" placeholder="---省---" @change="changeProvince($event)">
                <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.name" />
              </el-select>
              <el-select v-model="companyInfo.city" v-loading="regionLoading" style="margin: 0 10px;" placeholder="---市---" @change="changeCity($event)">
                <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.name" />
              </el-select>
              <el-select v-model="companyInfo.region" v-loading="regionLoading" placeholder="---区---">
                <el-option v-for="item in regionList" :key="item.name" :label="item.name" :value="item.name" />
              </el-select>
            </div>
            <!-- 地区 end -->
            <!-- 详细地址 -->
            <div class="flex-c mb-20">
              <span class="nw label-text">详细地址：</span>
              <el-input v-model="companyInfo.address" maxlength="500" placeholder="请输入详细地址" />
            </div>
            <!-- 详细地址 end -->
            <!-- 办公电话 -->
            <div class="flex-c mb-20">
              <span class="nw label-text">办公电话：</span>
              <el-input v-model="companyInfo.officePhone" maxlength="15" placeholder="请输入办公电话" />
            </div>
            <!-- 办公电话 end -->
            <!-- 姓名 -->
            <div class="flex-c mb-20">
              <span class="nw label-text"><span>*</span>负责人姓名：</span>
              <el-input v-model="companyInfo.linkman" maxlength="10" placeholder="请输入姓名" />
            </div>
            <!-- 姓名 end -->
            <!-- 手机号码 -->
            <div class="flex-c mb-20">
              <span class="nw label-text"><span>*</span>负责人手机：</span>
              <el-input v-model="companyInfo.phone" maxlength="11" placeholder="请输入手机号码" />
            </div>
            <!-- 手机号码 end -->
            <!-- 负责人微信 -->
            <div class="flex-c mb-20">
              <span class="nw label-text">负责人微信：</span>
              <el-input v-model="companyInfo.weChat" maxlength="15" placeholder="请输入微信" />
            </div>
            <!-- 负责人微信 end -->
            <!-- QQ -->
            <div class="flex-c mb-20">
              <span class="nw label-text">负责人QQ：</span>
              <el-input v-model="companyInfo.qq" maxlength="13" placeholder="请输入QQ" />
            </div>
            <!-- QQ end -->
            <!-- 邮箱 -->
            <div class="flex-c mb-20">
              <span class="nw label-text">负责人邮箱：</span>
              <el-input v-model="companyInfo.email" maxlength="20" placeholder="请输入邮箱" />
            </div>
            <!-- 邮箱 end -->
            <!-- 营业执照 -->
            <div class="flex-c mb-20">
              <span class="nw label-text">营业执照：</span>
              <div class="head-wrap1">
                <div v-if="companyInfo.businessLicense" class="upload-wrap1">
                  <el-image class="img1" :src="companyInfo.businessLicense" :preview-src-list="srcList" />
                  <!-- <img class="img1" :src="companyInfo.businessLicense" alt=""> -->
                  <div class="upload-edit">
                    <div class="delete" @click="deleteImg">
                      <i class="el-icon-error" />
                    </div>
                  </div>
                </div>
                <div v-else class="upload-input">
                  <img src="@/assets/img/logo_default.png" alt="">
                  <input ref="fileElems" type="file" class="u-btnss" accept="image/jpeg,image/png,image/jpg,image/bmp" @change="uploadBusinessLicense">
                </div>
              </div>
            </div>
            <!-- 营业执照 end -->
            <div class="btn-wrap">
              <el-button type="primary" :loading="loading" @click="submitInfo">修改</el-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { validPhone, validEmail } from '@/utils/common'
import {
  getCompanyInfo,
  getRegion,
  updateCollectMessagerInfo,
  uploadUserImg,
  uploadBusinessLicenseImg
} from '@/api/user'
export default {
  name: 'CompanyInfo',
  data() {
    return {
      srcList: [],
      companyInfo: {}, // 企业信息
      // checkedList: [],      // 已选中的上报类型
      checkedIdList: [], // 已选中的上报类型id
      provinceList: [], // 省份列表
      cityList: [], // 城市列表
      regionList: [], // 区域列表
      loading: false,
      regionLoading: false,
      uploadLoading: false
    }
  },
  computed: {
    ...mapGetters(['userHead'])
  },
  mounted() {
    this.getCompanyInfo()
  },
  methods: {
    deleteImg() {
      this.companyInfo.businessLicense = null
    },
    // 上传头像
    uploadHead(e) {
      const file = e.target.files[0]
      const hasType = ['image/jpeg', 'image/png', 'image/jpg', 'image/bmp']
      if (hasType.indexOf(file.type) == -1) {
        this.$message({
          type: 'error',
          message: '请上传正确格式的图片'
        })
        return
      }

      const formData = new FormData()
      formData.append('matPriceFile', file)
      this.uploadLoading = true
      uploadUserImg(formData)
        .then((res) => {
          this.uploadLoading = false
          if (res.code == '01') {
            sessionStorage.setItem('user_head', res.body)
            this.$store.commit('user/SET_USER_HEAD', res.body)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch((err) => {
          this.uploadLoading = false
        })
    },
    // 上传营业执照
    uploadBusinessLicense(e) {
      const file = e.target.files[0]
      const hasType = ['image/jpeg', 'image/png', 'image/jpg', 'image/bmp']
      if (hasType.indexOf(file.type) == -1) {
        this.$message({
          type: 'error',
          message: '请上传正确格式的图片'
        })
        return
      }

      const formData = new FormData()
      formData.append('matPriceFile', file)
      this.uploadLoading = true
      uploadBusinessLicenseImg(formData)
        .then((res) => {
          this.uploadLoading = false
          if (res.code === '01') {
            this.companyInfo.businessLicense = res.body.show_src
            this.srcList = []
            this.srcList.push(this.companyInfo.businessLicense)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch((err) => {
          this.uploadLoading = false
        })
    },
    // 提交修改
    submitInfo() {
      if (!this.companyInfo.unitName) {
        this.$message({
          type: 'error',
          message: '请输入单位名称'
        })
        return
      } else if (!this.companyInfo.enterpriseTypeCode) {
        this.$message({
          type: 'error',
          message: '请选择企业类型'
        })
        return
      } else if (!this.companyInfo.province) {
        this.$message({
          type: 'error',
          message: '请选择省'
        })
        return
      } else if (!this.companyInfo.city) {
        this.$message({
          type: 'error',
          message: '请选择市'
        })
        return
      } else if (!this.companyInfo.region) {
        this.$message({
          type: 'error',
          message: '请选择区'
        })
        return
      } else if (!this.companyInfo.linkman) {
        this.$message({
          type: 'error',
          message: '请输入姓名'
        })
        return
      } else if (!this.companyInfo.phone) {
        this.$message({
          type: 'error',
          message: '请输入手机号'
        })
        return
      } else if (!validPhone(this.companyInfo.phone)) {
        this.$message({
          type: 'error',
          message: '请输入有效的手机号'
        })
        return
        // } else if (!this.companyInfo.email) {
        //   this.$message({
        //     type: 'error',
        //     message: '请输入邮箱'
        //   })
        //   return
      } else if (
        !validEmail(this.companyInfo.email) &&
        this.companyInfo.email
      ) {
        this.$message({
          type: 'error',
          message: '输入的邮箱格式不正确'
        })
        return
      }

      // var quoteTypeCodes = []
      // if (this.checkedIdList.length > 0) {
      //   quoteTypeCodes = this.checkedIdList.join(',')
      // }
      var data = {
        unitName: this.companyInfo.unitName,
        enterpriseTypeCode: this.companyInfo.enterpriseTypeCode,
        province: this.companyInfo.province,
        city: this.companyInfo.city,
        region: this.companyInfo.region,
        address: this.companyInfo.address || null,
        linkman: this.companyInfo.linkman,
        officePhone: this.companyInfo.officePhone || null,
        phone: this.companyInfo.phone,
        weChat: this.companyInfo.weChat || null,
        qq: this.companyInfo.qq || null,
        email: this.companyInfo.email,
        messagerInfoId: this.companyInfo.messagerInfoId,
        accountId: this.companyInfo.accountId,
        avatarUrl: this.userHead,
        businessLicense: this.companyInfo.businessLicense
      }

      this.loading = true
      updateCollectMessagerInfo(data)
        .then((res) => {
          this.loading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            sessionStorage.setItem('user_name', this.companyInfo.linkman)
            this.$store.commit('user/SET_NAME', this.companyInfo.linkman)
          } else {
            this.loading = false
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch((err) => {
          this.loading = false
        })
    },
    // 选择企业类型
    changeCheckedQuoteType(e) {
      this.checkedIdList = []
      for (var i = 0; i < e.length; i++) {
        for (var j = 0; j < this.companyInfo.quoteTypeList.length; j++) {
          if (e[i] === this.companyInfo.quoteTypeList[j].name) {
            this.checkedIdList.push(this.companyInfo.quoteTypeList[j].code)
          }
        }
      }
    },
    // 切换省份
    changeProvince(name) {
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].name === name) {
          this.cityList = this.provinceList[i].subList
          this.companyInfo.city = ''
          this.companyInfo.region = ''
        }
      }
    },
    // 切换城市
    changeCity(name) {
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].name === name) {
          this.regionList = this.cityList[i].subList
          this.companyInfo.region = ''
        }
      }
    },
    // 获取地区（省、市、区）
    getRegion() {
      getRegion().then((res) => {
        this.regionLoading = false
        if (res.code === '01') {
          this.provinceList = res.body
          this.cityList = this.provinceList[0].subList
          if (this.cityList && this.cityList.length > 0) {
            this.regionList = this.cityList[0].subList
          }

          for (var i = 0; i < this.provinceList.length; i++) {
            if (this.provinceList[i].name === this.companyInfo.province) {
              this.cityList = this.provinceList[i].subList
            }
          }

          for (var i = 0; i < this.cityList.length; i++) {
            if (this.cityList[i].name === this.companyInfo.city) {
              this.regionList = this.cityList[i].subList
            }
          }
        }
      })
    },
    // 获取企业信息
    getCompanyInfo() {
      this.regionLoading = true
      getCompanyInfo().then((res) => {
        if (res.code == '01') {
          this.companyInfo = res.body
          this.srcList = []
          this.srcList.push(res.body.businessLicense)
          // this.checkedList = []
          // 回显上报类型
          // var quoteTypeCodes = []
          // if (res.body.quoteTypeCodes) {
          //   quoteTypeCodes = res.body.quoteTypeCodes.split(',')
          // }
          // var quoteTypeList = res.body.quoteTypeList
          // for (var i = 0; i < quoteTypeCodes.length; i++) {
          //   for (var j = 0; j < quoteTypeList.length; j++) {
          //     if (quoteTypeCodes[i] == quoteTypeList[j].code) {
          //       this.checkedList.push(quoteTypeList[j].name)
          //       this.checkedIdList.push(quoteTypeList[j].code)
          //       continue
          //     }
          //   }
          // }

          this.getRegion()
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.company-info-container {
  padding: 0px 20px 10px 20px;
  .up-wrap {
    padding: 20px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 6px;
    .big-label {
      font-size: 16px;
      color: #666;
      font-weight: bold;
      padding-left: 6px;
      border-left: 4px solid #666;
    }
    .small-label {
      display: block;
      padding: 10px;
      font-size: 14px;
      font-weight: bold;
      color: #666;
    }
  }
  .info-container {
    margin-top: 10px;
    width: 100%;
    background: #e5f1ff;
    border-radius: 6px;
    overflow: auto;
  }
  .info-wrap {
    margin: 0 auto;
    width: 600px;
    height: 700px;
    box-sizing: border-box;
    .label-text {
      margin-right: 10px;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      display: block;
      text-align: right;
      min-width: 100px;
      max-width: 100px;
      > span {
        color: red;
      }
    }
    .btn-wrap {
      text-align: center;
    }
  }
  .head-wrap {
    .s-head {
      width: 108px;
      height: 108px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .upload-wrap {
      width: 113px;
      height: 113px;
      border: 1px solid #f2f2f2;
      border-radius: 50%;
      font-size: 88px;
      color: #e5e5e5;
      overflow: hidden;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .head-btn {
      position: relative;
    }
    .u-head {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
    }
  }
}
.head-wrap {
  .upload-wrap {
    width: 113px;
    height: 113px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    font-size: 88px;
    color: #e5e5e5;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      .upload-edit {
        display: flex;
      }
    }
    .upload-edit {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: RGBA(54, 62, 72, 0.5);
      z-index: 1;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .u-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
      }
      img {
        width: 36px;
        height: 27px;
      }
      span {
        font-size: 14px;
        color: #f3f2f9;
        line-height: 30px;
      }
    }
  }
  .head-btn {
    position: relative;
  }
  .u-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
}
.head-wrap1 {
  .upload-wrap1 {
    display: flex;
    position: relative;
    .img1 {
      width: 224px;
      height: 132px;
    }
    &:hover {
      .upload-edit {
        display: flex;
      }
    }
    .upload-edit {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 1;
      display: none;
      // color: #f4f4f4;
      font-size: 24px;
    }
  }
  .upload-input {
    display: flex;
    width: 200px;
    height: 60px;
    position: relative;
    .u-btnss {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
    }
  }
}
</style>
