/* element-ui color */
$--color-primary: $color-primary;
$--color-danger: $color-danger;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";