#app {
  .menu-bg {
    position: fixed;
    top: 525px;
    left: 0;
    z-index: 99;
    pointer-events: none;
  }

  .link {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 220px;
    height: 72px;
    font-size: 18px;
    color: #f3f2f9;
    background: RGBA(10, 73, 131, 0.8);
    cursor: pointer;
    transition: width 0.28s;
    user-select: none;
    img {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    padding-top: 24px;
    padding-bottom: 72px;
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    .el-menu-item,
    .el-submenu__title {
      height: 72px !important;
      line-height: 72px !important;
    }

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      span {
        font-size: 16px;
        font-family: "mainfont";
        color: #ffffff;
      }
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
      color: $menuText;
    }

    .el-submenu__icon-arrow {
      margin-top: -5px !important;
      font-weight: bold;
      color: #fff;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      // padding: 0 20px 0 50px !important;
      font-size: 16px;
      &:hover {
        background-color: $menuHover !important;
      }
      &.is-active {
        background: $menuActive;
        border-right: 5px solid $color-minor;
        > i {
          // 字体图标渐变
          // background-image: -webkit-linear-gradient(right bottom,$color-minor,#FFD2A3);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          // font-size: 16px;
          // font-weight: bold;

          color: #f7a047;
        }
        > svg {
          color: $color-minor;
        }
      }
      > i {
        // display: inline-block;
      }
    }

    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
      > i {
        // 字体图标渐变
        // background-image: -webkit-linear-gradient(right bottom,$color-minor,#FFD2A3);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // font-size: 16px;
        // font-weight: bold;

        color: #f7a047;
      }
      > svg {
        color: $color-minor;
      }
      span {
        font-size: 16px !important;
        font-family: "mainfont" !important;
      }
    }

    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      // padding-left: 54px !important;
      height: 72px !important;
      line-height: 72px !important;
      background-color: $subMenuBg !important;
      span {
        padding-left: 10px;
        font-size: 14px !important;
        font-family: "mainfont" !important;
        color: #ffffff !important;
      }
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
      &:hover {
        background-color: $subMenuHover !important;
      }
      &.is-active {
        background: $menuActive;
        border-right: 5px solid $color-minor;
        // padding-left: 76px !important;
      }
    }
  }

  .hideSidebar {
    .link {
      width: 0;
    }
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
      .el-menu-item {
        .el-submenu__title {
          height: 72px !important;
          line-height: 72px !important;
        }
        &.is-active {
          border-left: 0;
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  // .mobile {
  //   .main-container {
  //     margin-left: 0px;
  //   }

  //   .sidebar-container {
  //     transition: transform .28s;
  //     width: $sideBarWidth !important;
  //   }

  //   &.hideSidebar {
  //     .sidebar-container {
  //       pointer-events: none;
  //       transition-duration: 0.3s;
  //       transform: translate3d(-$sideBarWidth, 0, 0);
  //     }
  //   }
  // }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }
    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu > .el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
      span {
        font-size: 16px !important;
        font-family: "mainfont" !important;
        // color: #FFFFFF !important;
      }
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
