<template>
  <div class="buy-combo-detail">
    <p>订单信息</p>
    <div class="back-div">
      <span>返回</span>
    </div>
    <!-- 表内容 -->
    <div class="table-box">
      <el-table
        :data="tableData"
        tooltip-effect="dark"
        v-loading="loading"
        class="table-main"
        :header-cell-style="{ background: '#EFF2F7' }"
        style="width: 100%"
      >
        <el-table-column prop="applyDate" label="套餐">
          <template>
            <div class="package-name">
              <img class="buy-img" src="@/assets/img/buy_img.png" alt="" />
              <span class="t-color">套餐名称</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="applyDate" label="规格" width="210px">
          <template>
            <span class="t-color wrap"
              >规格型号规格型号规格型号规格型号规格型号规格型号规格型号规格型号</span
            >
          </template>
        </el-table-column>
        <el-table-column prop="applyDate" label="单价" width="160px">
          <template slot-scope="scope"> ￥{{ scope.row.applyDate }} </template>
        </el-table-column>
        <el-table-column
          prop="applyDate"
          label="数量"
          width="180px"
        ></el-table-column>
        <el-table-column label="商家优惠">
          <template slot-scope="scope">
            <span class="yellow">￥{{ scope.row.applyDate }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="applyDate" label="小计" width="200px">
          <template slot-scope="scope">
            <span class="yellow">￥{{ scope.row.applyDate }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <p class="title-p">支付方式</p>
    <div class="payment-method">
      <span :class="{active : isPayType == 1}" @click="isPayType = 1">
        <img src="@/assets/img/icons/pay_money.png" alt="" /> 线上支付
        <img class="checked-img" src="@/assets/img/icons/checked.png" alt="">
      </span>
      <span :class="{active : isPayType == 2}"  @click="isPayType = 2">
        <img src="@/assets/img/icons/pay_tcoin.png" alt="" />通宝支付
        <img class="checked-img" src="@/assets/img/icons/checked.png" alt="">
        </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "buyComDetail",
  data() {
    return {
      tableData: [{ applyDate: 1000 }, { applyDate: 1000 }], // 表格数据
      loading: false,
      isPayType: null
    };
  },
};
</script>

<style lang="scss" scoped>
.buy-combo-detail {
  padding: 20px 25px;
  margin-top: 9px;
  width: 100%;
  min-height: 700px;
  background: #fff;
  p {
    font-size: 18px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #333333;
    line-height: 30px;
  }
  .title-p {
    margin: 20px 0;
  }
  .back-div {
    margin-top: 10px;
    color: #1789f2;
    text-align: right;
    span {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .table-box {
    margin-top: 10px;

    .package-name {
      display: flex;
      align-items: center;
      .buy-img {
        width: 72px;
        height: 72px;
        margin-right: 10px;
      }
    }
  }
  .payment-method {
    display: flex;
    align-items: center;
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 46px;
      background: #ffffff;
      box-shadow: 0px 4px 10px 0px rgba(214, 214, 214, 0.44);
      border-radius: 4px;
      margin-right: 30px;
      cursor: pointer;
      position: relative;

      img {
        margin-right: 5px;
      }
      &:hover {
        border: 1px solid red;
      }
      &.active {
        border: 1px solid red;
      }
      &.active .checked-img{
        display: flex;
      }
      &:hover .checked-img {
        display: flex;
      }
      .checked-img {
        display: none;
        position: absolute;
        right: -6px;
        bottom: 0;
      }
    }
  }

  .yellow {
    color: #f9a147;
  }
}
</style>
