<template>
  <div class="system-container">
    <!-- 系统信息 -->
    <div class="setting">
      <div class="com-operate-wrap">
        <div class="b-title">系统信息</div>
      </div>
      <div class="top-table">
        <div class="rows flex-c">
          <div class="items flex-c">
            <div class="key">系统名称：</div>
            <div class="val">{{ systemName }}</div>
          </div>
          <div class="items flex-c">
            <div class="key">版本信息：</div>
            <div class="val">{{ version }}</div>
          </div>
          <div class="items flex-c">
            <div class="key">系统ID：</div>
            <div class="val">{{ systemId }}</div>
          </div>
        </div>
        <div class="rows flex-c">
          <div class="items flex-c ipt-company">
            <div class="key">所属企业：</div>
            <div v-if="edit" class="flex-c">
              <el-input v-model="company" />
              <img src="@/assets/img/table/save.png" alt="" class="ml-10" @click="saveCompany">
            </div>
            <div v-else class="flex-c">
              <div class="val">{{ company }}</div>
              <img src="@/assets/img/icons/edit.png" alt="" class="ml-10" @click="edit = true">
            </div>
          </div>
          <div class="items flex-c">
            <div class="key">技术支持：</div>
            <div class="val">{{ support }}</div>
          </div>
          <div class="items flex-c">
            <div class="key">联系方式：</div>
            <div class="val">400-888-9639</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { configSysName } from '@/api/user'
import store from '@/store'
export default {
  data() {
    return {
      systemName: '',
      version: '',
      systemId: '',
      support: '',
      company: '',
      edit: false // 编辑所属企业
    }
  },

  mounted() {
    this.company = this.$store.state.user.belongCompany
    this.systemName = this.$store.state.user.sysName
    this.version = this.$store.state.user.version
    this.systemId = this.$store.state.user.sysUuid
    this.support = this.$store.state.user.technicalSupport
  },
  methods: {
    // 配置系统名称
    saveCompany() {
      if (!this.company) {
        this.$message({
          type: 'error',
          message: '请输入系统名称'
        })
        return
      }
      const data = {
        sysName: this.company
      }
      configSysName(data)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.edit = false
            sessionStorage.setItem('belong_company', this.company)
            store.commit('user/SET_BELONG_COMPANY', this.company)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {})
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.system-container {
  .setting {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 0 25px 70px;
    .top-table {
      border: 1px solid #f3f3f4;
      border-right: none;
      .rows {
        .ipt-company {
          img {
            cursor: pointer;
          }
        }
        .items {
          flex: 1;
          font-size: 14px;
          padding: 25px 29px;
          min-width: 416px;
          max-width: 33%;
          max-height: 81px;
          border-right: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;
          .key {
            font-weight: 400;
            color: $gray-color;
            line-height: 30px;
            min-width: 85px;
            max-width: 85px;
            color: #aaaaaa;
          }
          .val {
            font-family: 'mainfont';
            font-weight: bold;
            color: $table-color;
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';
.system-container {
  .bindAccHis {
    .el-dialog {
      width: 38%;
    }
  }
  .com-operate-wrap {
    padding-left: 0 !important;
    margin-left: -25px !important;
  }
}
</style>
