<template>
  <div class="material-setting">
    <!-- 材价库设置 -->
    <div class="set-wrap">
      <span class="s-label">材价库设置</span>
      <div class="set-source">
        <div class="flex-c set-label">
          <img src="@/assets/img/icons/s_source.png" alt="">
          <span>材价来源</span>
        </div>
        <ul class="flex-cw itembox">
          <li v-for="(item, index) in sourceList" :key="index">
            <span>{{item.dictName}}</span>
            <div class="flex-cc s-edit" v-if="item.isEdit">
              <div class="flex-cc">
                <el-input v-model="item.dictName" placeholder="请输入"></el-input>
                <img src="@/assets/img/setting/yes.png" alt="" @click="editCjSource(item,index)">
              </div>
            </div>
            <div class="s-mode" :style="item.isDefault ? 'display:none;' : ''" v-else>
              <div @click="openEditCjSource(index)">
                <img src="@/assets/img/setting/edit_icon02.png" alt="">
                <span>編輯</span>
              </div>
              <div @click="deleteCjSource(item, index)">
                <img src="@/assets/img/setting/del_icon02.png" alt="">
                <span>删除</span>
              </div>
            </div>
          </li>
          <li class="add-item" @click="addSourceItem">
            <el-tooltip effect="light" content="添加" placement="top">
              <span>+</span>
            </el-tooltip>
          </li>
        </ul>
      </div>

      <div class="set-type">
        <div class="flex-c set-label">
          <img src="@/assets/img/icons/s_type.png" alt="">
          <span>材价类型</span>
        </div>
        <ul class="flex-cw itembox">
          <li v-for="(item, index) in typeList" :key="index">
            <span>{{item.dictName}}</span>
            <div class="flex-cc s-edit" v-if="item.isEdit">
              <div class="flex-cc">
                <el-input v-model="item.dictName" placeholder="请输入"></el-input>
                <img src="@/assets/img/setting/yes.png" alt="" @click="editCjType(item,index)">
              </div>
            </div>
            <div class="s-mode" :style="item.isDefault ? 'display:none;' : ''" v-else>
              <div @click="openEditCjType(index)">
                <img src="@/assets/img/setting/edit_icon02.png" alt="">
                <span>編輯</span>
              </div>
              <div @click="deleteCjType(item, index)">
                <img src="@/assets/img/setting/del_icon02.png" alt="">
                <span>删除</span>
              </div>
            </div>
          </li>
          <li class="add-item" @click="addTypeItem">
            <el-tooltip effect="light" content="添加" placement="top">
              <span>+</span>
            </el-tooltip>
          </li>
        </ul>
      </div>
    </div>

    <!-- 材价库分类 -->
    <div class="set-classify">
      <span class="s-label">材价库分类</span>
      <div class="s-content" :class="{'null': customType.length == 0}">
        <template></template>
        <el-tree
          :data="customType"
          node-key="id"
          :expand-on-click-node="false"
          :default-expanded-keys="idArr"
          @node-expand="nodeExpand"
          @node-collapse="nodeCollapse"
          v-show="customType.length > 0">
          <span class="custom-tree" slot-scope="{ data }">
            <span v-if="!data.isEdit">{{data.name}}</span>
            <el-input class="custom-edit-ipt" maxlength="10" v-model="data.name" placeholder="请输入分类名称" v-else />
            <span>
              <el-tooltip effect="light" content="关联国标分类" placement="top" class="ml-10" v-if="!(!data.pid && data.children && data.children.length>0)">
                <img src="@/assets/img/setting/link_icon.png" alt="" @click="relationGb(data.id,data.subcid)">
              </el-tooltip>
              <el-tooltip effect="light" content="编辑" placement="top" v-if="!data.isEdit">
                <img src="@/assets/img/setting/edit_icon.png" alt="" @click="openEditCustomType(data)">
              </el-tooltip>
              <el-tooltip effect="light" content="保存" placement="top" class="ml-10" v-else>
                <img src="@/assets/img/setting/yes.png" alt="" @click="saveEditCustomType(data)">
              </el-tooltip>
              <el-tooltip effect="light" content="添加二级分类" placement="top" v-if="!data.pid">
                <img src="@/assets/img/setting/add_icon02.png" alt="" @click="openAddTwoType(data)">
              </el-tooltip>
              <el-tooltip effect="light" content="删除" placement="top">
                <img src="@/assets/img/setting/del_icon.png" alt="" @click="deleteCustomType(data.id)">
              </el-tooltip>
              </span>
          </span>
        </el-tree>
        <!-- 无数据 -->
        <div class="null-img" v-if="customType.length == 0">
          <img src="@/assets/img/setting/null_img.png" alt="">
        </div>
        <!-- 添加按钮 -->
        <div class="flex-c s-operate" @click="showAddOneTypeDialog = true;curOneType = ''">
          <img src="@/assets/img/setting/add_icon.png" alt="">
          <span>添加一级分类</span>
        </div>
      </div>
    </div>

    <!-- 关联国标弹窗 -->
    <el-dialog
      title="关联国标分类"
      :visible.sync="showRelationDialog"
      :close-on-click-modal="false"
      width="490px"
      @close="closeGbWin"
      class="com-dialog com-input-width flex-c my-dialog">
      <el-select class="flex-c" v-model="relationCode" multiple placeholder="请选择国标分类" style="width:400px;margin:20px auto 50px;">
        <el-option
          v-for="item in options"
          :key="item.id"
          :label="item.name"
          :value="item.code">
        </el-option>
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showRelationDialog = !showRelationDialog">取消</el-button>
        <el-button type="primary" @click="addRelation()">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加一级分类弹窗 -->
    <el-dialog
      title="添加一级分类"
      :visible.sync="showAddOneTypeDialog"
      :close-on-click-modal="false"
      width="490px"
      class="com-dialog com-input-width my-dialog">
      <div class="flex-c mb-20">
        <span class="nw label-text">分类名称：</span>
        <el-input v-model="curOneType" maxlength="10" placeholder="请输入一级分类名称" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddOneTypeDialog = !showAddOneTypeDialog">取消</el-button>
        <el-button type="primary" :loading="addOneTypeLoading" @click="addOneType">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加二级分类弹窗 -->
    <el-dialog
      title="添加二级分类"
      :visible.sync="showAddTwoTypeDialog"
      :close-on-click-modal="false"
      width="490px"
      class="com-dialog com-input-width my-dialog">
      <div class="flex-c mb-20">
        <span class="nw label-text">分类名称：</span>
        <el-input v-model="curTwoType" maxlength="10" placeholder="请输入二级分类名称" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddTwoTypeDialog = !showAddTwoTypeDialog">取消</el-button>
        <el-button type="primary" :loading="addTwoTypeLoading" @click="addTwoType">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getCustomClassify,
  getDictList,
  getSuperiorSubcList,
  updateDict,
  addDict,
  delDict,
  addOrUpdateCustomClassify,
  delCustomClassify,
  typeAssociate,
 } from '@/api/common'
export default {
  name: 'materialSetting',
  data() {
    return {
      customType: [],                 // 自定义分类列表
      typeList: [],                   // 材价类型列表
      sourceList: [],                 // 材价来源列表
      options: [],                    // 一级国标分类列表
      showAddOneTypeDialog: false,    // 显示添加一级分类弹窗
      curOneType: '',                 // 一级分类名称
      addOneTypeLoading: false,       // 添加一级分类loading
      showAddTwoTypeDialog: false,    // 显示添加二级分类弹窗
      curTwoType: '',                 // 二级分类名称
      curOneTypeId: null,             // 添加二级分类时一级分类的id
      addTwoTypeLoading: false,       // 添加二级分类loading
      showRelationDialog: false,      // 显示关联国标弹窗
      relationCode: [],               // 选中的国标code
      relationId: '',                 // 关联国标的自定义分类id
      idArr: [],                      // 保存树的展开项
    }
  },

  mounted() {
    this.getCustomClassify()                          // 自定义分类
    this.getCjSource()                                // 材价来源
    this.getCjType()                                  // 材价类型
    this.getGbList()                                  // 一级国标分类
  },

  methods: {
    // 刷新后保留树展开项状态
    nodeExpand(data) {
      this.idArr.push(data.id); // 在节点展开是添加到默认展开数组
    },
    nodeCollapse(data) {
      this.idArr.splice(this.idArr.indexOf(data.id), 1); // 收起时删除数组里对应选项
    },

    // 获取材价来源
    getCjSource() {
      var params = {
        dictType: 'MAT_SOURCE_TYPE'
      }
      getDictList(params).then(res => {
        if (res.code == '01') {
          this.sourceList = res.body
        }
      })
    },

    // 获取材价类型
    getCjType() {
      var params = {
        dictType: 'MAT_TYPE'
      }
      getDictList(params).then(res => {
        if (res.code == '01') {
          this.typeList = res.body
        }
      })
    },

    // 获取一级国标分类列表
    getGbList(){
      getSuperiorSubcList().then(res => {
        if (res.code == '01') {
          this.options = res.body
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 点击编辑（材价来源）
    openEditCjSource(index) {
      this.sourceList[index].isEdit = !this.sourceList[index].isEdit
      this.sourceList = JSON.parse(JSON.stringify(this.sourceList))
    },

    // 添加材价来源
    addSourceItem() {
      let editing = this.sourceList.some(item=>{
        return item.isEdit
      })
      if(editing) {
        this.$message({
          type: 'error',
          message: '请先保存其他编辑中的选项'
        })
        return
      }
      this.sourceList.push({
        dictName: '',
        dictValue: '',
        dictId: '',
        isEdit: true
      })
    },

    // 编辑/新增材价来源接口
    editCjSource(item, index) {
      if (!item.dictName) {
        this.$message({
          type: 'error',
          message: '请输入材价来源名称'
        })
        return
      }
      if(item.id){ // 编辑
        var data = {
          dictName: item.dictName,
          dictValue: item.dictValue,
          dictId: item.id
        }
        updateDict(data).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
          this.getCjSource()
        })
      }else{ // 新增
        var data = {
          dictName: item.dictName,
          dictValue: null,
          dictType: 'MAT_SOURCE_TYPE'
        }
        addDict(data).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
          this.getCjSource()
        })
      }
    },

    // 删除材料来源
    deleteCjSource(item, index) {
      this.$confirm('确定删除当前材价来源?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          dictId: item.id,
        }
        delDict(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.sourceList.splice(index, 1)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      }).catch(()=>{})
    },

    // 点击编辑（材价类型）
    openEditCjType(index) {
      this.typeList[index].isEdit = !this.typeList[index].isEdit
      this.typeList = JSON.parse(JSON.stringify(this.typeList))
    },

    // 添加材价类型
    addTypeItem() {
      let editing = this.typeList.some(item=>{
        return item.isEdit
      })
      if(editing) {
        this.$message({
          type: 'error',
          message: '请先保存其他编辑中的选项'
        })
        return
      }
      this.typeList.push({
        dictName: '',
        dictValue: '',
        dictId: '',
        isEdit: true
      })
    },

    // 编辑/新增材价类型接口
    editCjType(item, index) {
      if (!item.dictName) {
        this.$message({
          type: 'error',
          message: '请输入材价类型'
        })
        return
      }
      if(item.id){ // 编辑
        var data = {
          dictName: item.dictName,
          dictValue: item.dictValue,
          dictId: item.id
        }
        updateDict(data).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
          this.getCjType()
        })
      }else{ // 新增
        var data = {
          dictName: item.dictName,
          dictValue: null,
          dictType: 'MAT_TYPE'
        }
        addDict(data).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
          this.getCjType()
        })
      }
    },

    // 删除材料类型
    deleteCjType(item, index) {
      this.$confirm('确定删除当前材价类型?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          dictId: item.id,
        }
        delDict(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.typeList.splice(index, 1)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      }).catch(()=>{})
    },

    // 获取(材价)自定义分类
    getCustomClassify() {
      getCustomClassify({type:1}).then(res => {
        if (res.code == '01') {
          this.customType = []
          for (var i = 0; i < res.body.length; i++) {
            var sub = res.body[i].sub
            if (sub && sub.length > 0) {
              for (var j = 0; j < sub.length; j++) {
                sub[j]['isEdit'] = false
                sub[j]['subIndex'] = j
                sub[j]['index'] = i
              }
            }

            this.customType.push({
              id: res.body[i].id,
              name: res.body[i].name,
              pid: res.body[i].pid,
              children: sub,
              isEdit: false,
              index: i,
              subcid: res.body[i].subcid
            })
          }
        }
      })
    },

    // 关闭关联国标弹窗
    closeGbWin(){
      this.relationCode = []
    },

    // 关联国标弹窗(有二级分类的，只有二级能绑定国标)
    relationGb(id,subcid){
      console.log(id,subcid);
      this.showRelationDialog = true
      this.relationId = id
      if(subcid) this.relationCode = subcid.split(',') // 回显
    },

    // 关联国标提交
    addRelation(){
      let params = {
        customId: this.relationId,
        subcIds: this.relationCode.length>0 ? this.relationCode.join(',') : '',
        type: 1
      }
      typeAssociate(params).then(res => {
        if (res.code == '01') {
          this.showRelationDialog = false
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCustomClassify()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 保存自定义分类修改
    saveEditCustomType(data) {
      if (!data.name) {
        this.$message({
          type: 'error',
          message: '请输入分类名称'
        })
        return
      }
      var data = {
        name: data.name,
        id: data.id,
        type: 1
      }
      addOrUpdateCustomClassify(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCustomClassify()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 编辑分类名称
    openEditCustomType(data) {
      // pid==0为一级
      if (data.pid!=0) {
        this.customType[data.index].children[data.subIndex]['isEdit'] = true
      } else {
        this.customType[data.index].isEdit = true
      }
    },

    // 添加二级分类
    addTwoType() {
      if (!this.curTwoType) {
        this.$message({
          type: 'error',
          message: '请输入二级分类名称'
        })
        return
      }

      var data = {
        name: this.curTwoType,
        pid: this.curOneTypeId,
        type: 1
      }
      this.addTwoTypeLoading = true
      addOrUpdateCustomClassify(data).then(res => {
        this.addTwoTypeLoading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.showAddTwoTypeDialog = false
          this.curTwoType = ''
          this.getCustomClassify()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {
        this.addTwoTypeLoading = false
      })
    },

    // 添加二级分类弹窗
    openAddTwoType(data) {
      this.showAddTwoTypeDialog = !this.showAddTwoTypeDialog
      this.curOneTypeId = data.id
      this.curTwoType = ''
    },

    // 删除自定义分类
    deleteCustomType(id) {
      this.$confirm('确定删除该自定义分类?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          id
        }
        delCustomClassify(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.getCustomClassify()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      }).catch(()=>{})
    },
    // 添加一级分类
    addOneType() {
      if (!this.curOneType) {
        this.$message({
          type: 'error',
          message: '请输入一级分类名称'
        })
        return
      }
      var data = {
        name: this.curOneType,
        pid: 0,
        type: 1
      }
      this.addOneTypeLoading = true
      addOrUpdateCustomClassify(data).then(res => {
        this.addOneTypeLoading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.showAddOneTypeDialog = false
          this.curOneType = ''
          this.getCustomClassify()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {
        this.addOneTypeLoading = false
      })
    },
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.material-setting {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  .s-label {
    position: relative;
    display: block;
    padding-left: 11px;
    margin-bottom: 27px;
    color: $color-primary;
    font-size: 18px;
    font-weight: bold;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 18px;
      border-radius: 1px;
      background: $color-primary;
    }
  }
  .set-wrap,
  .set-classify {
    padding: 20px 14px 30px 14px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 0px 0px rgba(96, 96, 96, 0.06);
  }
  .set-wrap {
    .set-source,
    .set-type {
      padding: 0 41px;
      .set-label {
        span {
          margin-left: 7px;
          color: #333;
          font-size: 16px;
          font-weight: 500;
        }
      }
      ul {
        margin-top: 29px;
        li {
          margin-bottom: 21px;
          position: relative;
          margin-right: 38px;
          width: 180px;
          height: 66px;
          line-height: 66px;
          text-align: center;
          color: #333;
          font-size: 14px;
          border: 1px solid #EDEDED;
          border-radius: 5px;
          background-image: url('../../assets/img/setting/source_bg.png');
          background-size: 180px 66px;
          &.add-item {
            font-size: 36px;
            font-weight: bold;
            background: none;
            cursor: pointer;
            > span {
              color: #333;
              opacity: .5;
            }
          }
        }
      }
    }
    .set-source,
    .set-type {
      ul {
        li {
          .s-mode {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 180px;
            height: 66px;
            background: #ADADAD;
            font-size: 12px;
            color: #fff;
            > div {
              cursor: pointer;
              &:first-child {
                margin-right: 40px;
              }
            }
            img {
              margin: 0 auto;
              width: 18px;
              height: 18px;
            }
          }
          .s-edit {
            position: absolute;
            top: 0;
            left: 0;
            width: 180px;
            height: 66px;
            background: #ADADAD;
            font-size: 12px;
            color: #fff;
            > div {
              width: 158px;
              height: 28px;
              background: #fff;
              border: 1px solid #EDEDED;
              border-radius: 4px;
              img {
                padding: 0 6px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .set-source {
      ul {
        li {
          &:hover {
            .s-mode {
              display: flex;
              align-items: center;
              justify-content: center;
              > div {
                display: flex;
                flex-direction: column;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
    .set-type {
      margin-top: 50px;
      ul {
        li {
          position: relative;
          background-image: url('../../assets/img/setting/type_bg.png');
          &:hover {
            .s-mode {
              display: flex;
              align-items: center;
              justify-content: center;
              > div {
                display: flex;
                flex-direction: column;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
  .set-classify {
    margin-top: 10px;
    .s-content {
      margin-left: 27px;
      padding: 24px 0;
      max-width: 1000px;
      border: 1px solid #EDEDED;
      border-radius: 5px;
      &.null {
        .s-operate {
          justify-content: center;
        }
        .null-img {
          margin-bottom: 94px;
          text-align: center;
        }
      }
      .s-operate {
        margin: 28px 0 0 30px;
        color: $color-primary;
        font-size: 18px;
        font-weight: bold;
        img{
          margin-right: 9px;
          cursor: pointer;
          width: 30px;
          height: 30px;
        }
        span {
          margin-right: 9px;
          cursor: pointer;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.material-setting {
  .el-tree-node__content {
    height: 60px;
    border-bottom: 1px solid #F3F3F4;
  }
  .el-tree-node__expand-icon {
    margin-left: 30px!important;
  }
  .el-tree-node__content:hover,
  .el-tree-node:focus>.el-tree-node__content {
    background-color: #E0F0FF;
  }
  .custom-tree {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img {
      margin-right: 22px;
    }
  }
  .s-edit {
    .el-input {
      height: 28px;
      line-height: 28px;
    }
    .el-input__inner {
      height: 28px;
      line-height: 28px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      outline: 0;
      box-sizing: border-box;
      &:focus,
      &:hover {
        border: none;
        border-right: 1px solid #DCDFE6;
      }
    }
  }
}
</style>
