<template>
  <div class="detail-container">
    <div class="title">订单信息</div>
    <!-- 表内容 -->
    <div class="table-box">
      <div @click="$router.go(-1)" class="flex-csb backs">
        <span>返回</span>
        <img src="@/assets/img/icons/backs.png" alt="" />
      </div>
      <el-table
        :data="tableData"
        tooltip-effect="dark"
        v-loading="loading"
        class="table-main"
        style="width: 100%"
      >
        <el-table-column prop="applyDate" label="套餐" width="330px">
          <template slot-scope="scope">
            <div class="flex-c">
              <img
                v-if="scope.row.thumbnailUrl_Mid"
                class="buy-img"
                :src="scope.row.thumbnailUrl_Mid"
                alt=""
              />
              <img
                v-else
                class="buy-img"
                src="@/assets/img/buy_img.png"
                alt=""
              />
              <span>{{ scope.row.packageName }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="服务详情">
          <template
            v-if="scope.row.packageDescribe.length > 0"
            slot-scope="scope"
          >
            <span
              v-for="(item, index) in scope.row.packageDescribe"
              :key="index"
            >
              {{ index + 1 }}、{{ item }}
            </span>
          </template>
        </el-table-column>
        <el-table-column width="160px" label="单价">
          <span>￥{{ cashSalePrice}}</span>
        </el-table-column>
        <el-table-column width="250px" label="数量">
          <template>
            <span
              ><el-input-number
                size="small"
                v-model="num"
                controls-position="right"
                :min="1"
                :disabled="!!payWay"
              ></el-input-number
            ></span>
          </template>
        </el-table-column>
        <!-- <el-table-column prop="applyDate" label="商家优惠">
          <template slot-scope="scope">
            <span class="light">￥{{ scope.row.status }}</span>
          </template>
        </el-table-column> -->
        <el-table-column width="180px" label="小计">
          <template slot-scope="scope">
            <span class="light">￥{{ (scope.row.cashSalePrice/100 * num).toFixed(2) }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="title">支付方式</div>
    <div class="flex-c check">
      <div
        class="flex-cc item"
        :class="{ active: activePay == 'money' }"
        @click="chosePay('money')"
        v-if="!payWay || payWay == 1"
      >
        <img src="@/assets/img/icons/pay_money.png" alt="" />
        <span>微信支付</span>
      </div>
      <div
        class="flex-cc item"
        :class="{ active: activePay == 'coin' }"
        @click="chosePay('coin')"
        v-if="!payWay || payWay == 4"
      >
        <img src="@/assets/img/icons/pay_tcoin.png" alt="" />
        <span>通宝支付</span>
      </div>
    </div>
    <div style="height: 88px"></div>
    <div class="info" v-if="!payWay">
      <div class="billbox">
        <template  v-if="activePay == 'money'">
          <div class="flex-fd-c" style="padding:8px 0 7px;" v-if="tableData && tableData[0] && cashSalePrice * num > 100">
            <div class="flex-c">
              <el-checkbox class="bill" @change="needChange" v-model="needBill">需要发票</el-checkbox>
              <el-select v-model="invoiceType" placeholder="请选择" class="sel mr-20" @change="changeType">
                <el-option
                  v-for="item in invoiceList"
                  :key="item.label"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
              <div @click="showEditInvoice = true;editing = true;showNewBtn=false;" class="new cp" v-if="!contacts && showNewBtn">新增企业发票信息</div>
            </div>

            <!-- 发票内容 -->
            <div class="com-dialog com-checkbox offer-info mt-20" v-if="showEditInvoice">
              <!-- <div class="flex-c mb-20 times">
                <span class="label-text ipt-text">发票抬头</span>
                <div class="sel-time">
                  <el-radio v-model="invoiceType" :label="0">个人</el-radio>
                  <el-radio v-model="invoiceType" :label="1">公司</el-radio>
                </div>
              </div> -->
              <template v-if="invoiceType == 1">
                <div class="flex-c mb-20 times">
                  <span class="label-text ipt-text">单位:</span>
                  <!-- <el-select
                    filterable
                    allow-create
                    default-first-option
                    class="invoice-select"
                    v-model="InvoiceTitle"
                    placeholder="请输入单位">
                  </el-select> -->
                  <el-autocomplete
                    v-model="InvoiceTitle"
                    value-key="invoiceTitle"
                    :fetch-suggestions="iptOrder"
                    placeholder="请输入单位"
                    v-if="editing"
                    @select="changeOrder"
                  ></el-autocomplete>
                  <span v-else>{{InvoiceTitle}}</span>
                </div>
                <div class="flex-c mb-20">
                  <span class="label-text ipt-text">纳税人识别号:</span>
                  <el-input v-model="taxpayer" placeholder="请输入纳税人识别号" v-if="editing" />
                  <span v-else>{{taxpayer}}</span>
                </div>
              </template>
              <div class="flex-c mb-20">
                <span class="label-text ipt-text">联系人:</span>
                <el-input v-model="contacts" placeholder="请输入联系人名称" v-if="editing" />
                  <span v-else>{{contacts}}</span>
              </div>
              <div class="flex-c mb-20">
                <span class="label-text ipt-text">收票人手机:</span>
                <el-input v-model="phone" placeholder="请输入收票人手机号码" v-if="editing" />
                  <span v-else>{{phone}}</span>
              </div>
              <div class="flex-c mb-20">
                <span class="label-text ipt-text">收票人邮箱:</span>
                <el-input v-model="email" placeholder="请输入收票人邮箱地址" v-if="editing" />
                  <span v-else>{{email}}</span>
              </div>
              <div class="flex-c mb-20">
                <span class="label-text ipt-text">发票类型:</span>
                <span>电子发票</span>
              </div>
              <div class="flex-c mb-20">
                <span class="label-text ipt-text">发票内容:</span>
                <span>信息技术服务费</span>
              </div>
              <!-- 保存 -->
              <div class="edit-btn">
                <span class="save" @click="editing = true" v-if="!editing">修改</span>
                <span class="save2" @click="saveEditInvoice" v-else>保存</span>
              </div>
            </div>
          </div>
          <div v-else><div style="height: 34px"></div></div>
        </template>
        <template v-else>
          <div class="wallet">
            您的账户余额：
            <span v-if="amountInfo" class="num">{{ amountInfo.tbalance }}</span>
            <span v-else>0</span> 通宝
          </div>
        </template>
      </div>
    </div>
    <div @click="showSubmit" class="flex-cc submit">{{!payWay ? '提交订单' : '立即支付'}}</div>

    <!-- 提交订单 -->
    <el-dialog
      :visible.sync="showOrderDialog"
      @close="closeOrderDialog"
      class="order-dialog none-title"
      width="668px"
    >
      <div
        v-if="tableData && tableData.length > 0"
        class="order-content common-content"
      >
        <p>订单提交成功，请您尽快支付！</p>
        <div class="div-row">订单号：{{ tableData[0].packageId }}</div>
        <div class="div-row row-border">
          <span>
            <span>套餐总金额：</span>
            <span class="yellow" style="font-size: 14px">￥{{ totalNum }}</span>
          </span>
          <span>
            <span>应付金额：</span>
            <span class="red bold-font">￥{{ totalNum }}</span>
          </span>
        </div>
        <template v-if="activePay == 'money'">
          <div class="div-money">
            <!-- <img class="active" src="@/assets/img/dialog/alipay.png" alt="" />
            <img src="@/assets/img/dialog/wechat.png" alt="" />
            <img src="@/assets/img/dialog/yinhang.png" alt="" /> -->

            <!-- <span :class="{ active: isPayType == 1 }" @click="showAliPay">
              <img class="pay" src="@/assets/img/dialog/alipay.png" alt="" />
              <img
                class="checked-img"
                src="@/assets/img/icons/checked.png"
                alt=""
              />
            </span> -->
            <!-- <span :class="{ active: isPayType == 2 }" @click="showWxCodeImg">
              <img class="pay" src="@/assets/img/dialog/wechat.png" alt="" />
              <img
                class="checked-img"
                src="@/assets/img/icons/checked.png"
                alt=""
              />
            </span> -->

            <!-- 银联支付 -->
            <!-- <span :class="{ active: isPayType == 3 }" @click="isPayType = 3">
              <img class="pay" src="@/assets/img/dialog/yinhang.png" alt="" />
              <img
                class="checked-img"
                src="@/assets/img/icons/checked.png"
                alt=""
              />
            </span> -->
          </div>
          <template v-if="isPayType == 2">
            <div :loading="wxloading" class="em">
              <img class="wxcode-img" :src="wxCodeImg" alt="" />
            </div>
          </template>

          <div v-html="paymentHtml"></div>
        </template>
        <template v-else>
          <p class="p-row">
            <span
              >您的账户余额：<span class="yellow bold-font">
                <template v-if="amountInfo">
                  {{ amountInfo.tbalance }}
                </template>
                <template v-else>0</template>
              </span>
              通宝</span
            >
          </p>
          <p v-if="!amountInfo || amountInfo.tbalance < totalNum" class="p-row">
            <span>余额不足，<span @click="toRegister" class="blue">去充值>></span></span>
          </p>
        </template>
        <div v-if="activePay != 'coin'" class="div-tip">
          <span>
            <img src="@/assets/img/dialog/info.png" alt="" />
            温馨提示：请您在7天内完成支付，否则订单会被自动取消</span
          >
        </div>
        <div class="form-footer common-content">
          <el-row class="row-btn">
            <el-button class="btn btn3" @click="showOrderDialog = false"
              >取消</el-button
            >
            <el-button
              v-if="!(isPayType == 2 && activePay == 'money')"
              @click="immediatePayment"
              :loading="purchaseloading"
              class="btn"
              type="primary"
              >立即支付</el-button
            >
          </el-row>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  packageDetails,
  getTingInformation,
  getInvoice,
  wechatPay,
  refreshInformation,
  submitOrders,
  packagePurchase,
} from "@/api/inquirySetting";
import { validPhone, validEmail } from "@/utils/common"; // 手机号、邮箱校验
export default {
  data() {
    return {
      num: 1,
      activePay: "money",
      needBill: false,
      tableData: [],
      loading: false,
      packageId: "",
      amount: "", // 充值账号
      InvoiceTitle: "", // 发票抬头
      invoiceType: 0, // 发票类型 个人 0 企业 1
      taxpayer: "", // 纳税人识别号
      contacts: "", // 联系人
      phone: "", // 收票人手机
      email: "", // 收票人邮箱
      showOrderDialog: false, // 提交订单弹窗
      isPayType: 2, // 支付方式  1、支付宝 2、微信
      amountInfo: null, // 当前充值账号信息
      totalNum: 0, // 总金额
      purchaseloading: false, // 支付loading
      paymentHtml: "",
      wxCodeImg: "", // 微信支付二维码
      wxloading: false,
      wxOrderId: "", // 微信二维码支付订单id
      wxOrderNo: "", // 微信二维码支付订单No
      wxTimer: null,
      id: '',  // 订单id
      showEditInvoice: false, // 是否显示发票信息
      invoiceList: [{value:0,label:'个人'},{value:1,label:'公司'}],
      invoiceInfoList: [],  //  发票信息
      orderTimer: null,
      editing: false,
      showNewBtn: true,
      payWay: '',
    };
  },
  mounted() {
    this.packageId = this.$route.query.packageId;
    this.num = this.$route.query.count;
    this.amount = this.$route.query.amount;
    this.id = this.$route.query.id;
    this.payWay = this.$route.query.payWay;
    this.activePay = this.payWay == 1 ? 'money' : 'coin'

    setTimeout(() => {
      this.packageDetails();
      this.getTingInformation();
      this.getInvoice()
    }, 0);
  },
  computed: {
    // 套餐单价-后端返回以分为单位-需除100转为元
    cashSalePrice() {
      if (this.tableData[0] && this.tableData[0].cashSalePrice) {
        return (this.tableData[0].cashSalePrice/100).toFixed(2)
      } else {
        return 0
      }
    }
  },
  methods: {
    chosePay(type) {
      this.activePay = type;
    },
    // 获取套餐详情
    packageDetails() {
      packageDetails({ packageId: this.packageId }).then((res) => {
        console.log("套餐详情", res);
        if (res && res.code == "01") {
          this.tableData = [];
          this.tableData.push(res.body);
        }
      });
    },
    // 获取账号信息
    getTingInformation() {
      getTingInformation({ memberId: this.amount }).then((res) => {
        console.log("账号信息", res);
        if (res && res.code == "01") {
          this.amountInfo = res.body;
        }
      });
    },
    // 获取账号使用的发票数据
    getInvoice() {
      let params = {
        memberId: this.amount
      }
      getInvoice(params).then(res=>{
        this.invoiceInfoList = res.body && res.body.invoiceInfo || []
        if(this.invoiceInfoList.length > 0) {
          let data = this.invoiceInfoList[0]
          this.InvoiceTitle = data.invoiceTitle
          this.taxpayer = data.taxNumber
          this.contacts = data.linkMan
          this.phone = data.phone
          this.email = data.email
          this.invoiceType = data.titleType*1

          this.showEditInvoice = true
          this.editing = false
        }
      })
    },

    // 输入单位名查询发票抬头
    iptOrder(queryString, cb) {
      clearTimeout(this.orderTimer)
      this.orderTimer = setTimeout(()=>{
        cb(this.invoiceInfoList)
      },1000)
    },

    // 选择单位回显信息
    changeOrder(item) {
      this.InvoiceTitle = item.invoiceTitle
      this.taxpayer = item.taxNumber
      this.contacts = item.linkMan
      this.phone = item.phone
      this.email = item.email
      this.invoiceType = item.titleType*1
    },

    // 显示微信二维码
    showWxCodeImg() {
      this.isPayType = 2;
      this.wxloading = true;
      this.packagePurchase("wxpay").then((res) => {
        this.wxOrderId = res.body.orderId;
        this.wxOrderNo = res.body.customOrderNo;
        let code = res.body.qrCode;
        this.wxCodeImg = "data:image/png;base64," + code;
        this.wxloading = false;

        clearInterval(this.wxTimer);
        this.wxTimer = setInterval(() => {
          this.wechatPay();
        }, 3000);
      });
    },
    // 显示提交订单弹窗
    showSubmit() {
      this.totalAmount();

      // if (this.activePay == "money") {
      //   let type = "";
      //   if (this.isPayType == 1) {
      //     type = "alipay";
      //   } else if (this.isPayType == 2) {
      //     type = "wxpay";
      //   }

      //   this.packagePurchase(type).then((res) => {
      //     console.log("支付二维码", res);
      //     this.paymentHtml = res.body.htmlFrom;
      //   });
      // }

      //payWay 支付方式（0：T币支付 1：现金支付（包含微信、支付宝、银行卡……）

      // 现金
      if (this.activePay == "money") {
        console.log(this.id);
        // 微信
        if (this.isPayType == 2) {
          if(!this.id) { // 调创建订单接口
            let data = {
              memberId: this.amount,
              packageId: this.packageId,
              payType: 'wxpay',
              quantity: this.num,
              price: this.cashSalePrice,
              totalPrice: this.totalNum,
              payWay: '1'
            }
            submitOrders(data).then(res=>{
              if(res.code == '01') {
                this.id = res.body
                this.wxloading = true;
                this.packagePurchase("wxpay").then((res) => { // 获取支付二维码
                  this.wxOrderId = res.body.orderId;
                  this.wxOrderNo = res.body.customOrderNo;
                  let code = res.body.qrCode;
                  this.wxCodeImg = "data:image/png;base64," + code;
                  this.wxloading = false;
                  this.showOrderDialog = true;
                  clearTimeout(this.wxTimer);
                  this.wxTimer = setInterval(() => {
                    this.wechatPay();
                  }, 3000);
                });
              } else {
                 this.$message({
                  type: "error",
                  message: res.message || "出错了",
                })
              }
            })
          } else {
            this.wxloading = true;
            this.packagePurchase("wxpay").then((res) => { // 获取支付二维码
              if(res.code == '01') {
                this.wxOrderId = res.body.orderId;
                this.wxOrderNo = res.body.customOrderNo;
                let code = res.body.qrCode;
                this.wxCodeImg = "data:image/png;base64," + code;
                this.wxloading = false;
                this.showOrderDialog = true;
                clearTimeout(this.wxTimer);
                this.wxTimer = setInterval(() => {
                  this.wechatPay();
                }, 3000);
              } else {
                this.$message({
                  type: "error",
                  message: res.message || "出错了",
                })
              }
            }).catch(err=>{
              this.$message({
                type: "error",
                message: err.message || "出错了",
              })
            })
          }
        }
      }
      // 通宝
      else {
        if(!this.id) { // 调创建订单接口
          let data = {
            memberId: this.amount,
            packageId: this.packageId,
            payType: 'tbpay',
            quantity: this.num,
            price: this.cashSalePrice,
            totalPrice: this.totalNum,
            payWay: '0'
          }
          submitOrders(data).then(res=>{
            if(res.code == '01') {
              this.id = res.body
              this.showOrderDialog = true;
            } else {
                this.$message({
                type: "error",
                message: res.message || "出错了",
              })
            }
          })
        } else {
          this.showOrderDialog = true;
        }
      }
    },
    // 保存编辑发票
    saveEditInvoice() {
      if (this.invoiceType == 1) {
        // taxpayer
        if (!this.InvoiceTitle) {
          this.$message.warning("请输入发票抬头！");
          return;
        }
        if (!this.taxpayer) {
          this.$message.warning("请输入纳税人识别号！");
          return;
        }
      }

      if (!this.contacts) {
        this.$message.warning("请输入联系人！");
        return;
      }
      if (!this.phone) {
        this.$message.warning("请输入收票人手机号！");
        return;
      }
      if (!validPhone(this.phone)) {
        this.$message.error("手机号码格式错误！");
        return;
      }
      if (!this.email) {
        this.$message.warning("请输入收票人邮箱！");
        return;
      }
      if (!validEmail(this.email)) {
        this.$message.error("邮箱地址格式错误！");
        return;
      }
      this.editing = false
      console.log("提交编辑发票");
    },
    // 总金额
    totalAmount() {
      if (this.tableData && this.tableData.length > 0)
        this.totalNum = (this.cashSalePrice * this.num).toFixed(2);
    },
    // 立即支付
    immediatePayment() {
      if (this.activePay == "money") {
        if (this.isPayType == 1) {
          this.packagePurchase("alipay").then((res) => {
            console.log("支付宝", res);
            this.paymentHtml = res.body.htmlFrom;
            setTimeout(() => {
              document.getElementById("alipaysubmit").submit();
            }, 0);
          });
        }

        return;
      } else {
        this.purchaseloading = true;
        this.packagePurchase("tbpay")
          .then((res) => {
            this.$message({
              type: "success",
              message: "支付成功！",
            });
            this.$router.push("/setting/order/index");
            this.purchaseloading = false;
          })
          .catch((err) => {
            this.purchaseloading = false;
            this.$message({
              type: "error",
              message: err.message || "出错了",
            });
          });
      }
    },
    // 购买套餐
    packagePurchase(type) {
      return new Promise((resolve, reject) => {
        packagePurchase({
          memberId: this.amount, // 下单人id
          packageId: this.packageId, // 套餐编号
          payType: type,
          // payType: "tbpay", // 支付方式 （wxpay：微信 alipay：支付宝 tbpay：T币）
          price: this.cashSalePrice, // 单价
          quantity: this.num, // 购买数量
          totalPrice: this.totalNum,
          invoiceStatus: this.needBill ? 0 : -1,
          invoiceTitle: this.InvoiceTitle,
          taxNumber: this.taxpayer,
          titleType: this.invoiceType,
          contactPerson: this.contacts,
          email: this.email,
          phone: this.phone,
          orderNo: this.id,
        })
          .then((res) => {
            if (res.code == "01") {
              resolve(res);
            } else {
              reject(res);
            }
          })
          .catch((err) => {
            reject(err);
          });
      });

      // packagePurchase({
      //   memberId: this.amount, // 下单人id
      //   packageId: this.packageId, // 套餐编号
      //   payType: type,
      //   // payType: "tbpay", // 支付方式 （wxpay：微信 alipay：支付宝 tbpay：T币）
      //   price: this.cashSalePrice, // 单价
      //   quantity: this.num, // 购买数量
      //   totalPrice: this.totalNum,
      // })
      //   .then((res) => {
      //     console.log("购买套餐", res);
      //     if (res.code == "01") {
      //       this.$message({
      //         type: "success",
      //         message: "支付成功！",
      //       });
      //       this.$router.push("/setting/order/index");
      //     } else {
      //       this.$message({
      //         type: "error",
      //         message: res.message || "出错了",
      //       });
      //     }
      //     this.purchaseloading = false;
      //   })
      //   .catch((err) => {
      //     this.purchaseloading = false;
      //     this.$message({
      //       type: "error",
      //       message: err.message || "出错了",
      //     });
      //   });
    },
    // 查询微信支付是否成功
    wechatPay() {
      wechatPay({ customOrderNo: this.wxOrderNo, orderId: this.wxOrderId }).then((res) => {
        if (res.code == "01" && res.body == "success") {
          this.$message({
            type: "success",
            message: "支付成功！",
          });
          this.refreshInformation();
          this.$router.push("/setting/order/index");
        }
      });
    },
    // 选中支付宝支付
    showAliPay() {
      this.isPayType = 1;
      if (this.wxTimer) clearTimeout(this.wxTimer);
    },
    closeOrderDialog() {
      if (this.wxTimer) clearTimeout(this.wxTimer);
      if(!this.payWay) this.$router.push('/setting/order/index')
    },
    // 刷新绑定账号信息
    refreshInformation() {
      refreshInformation({ memberIds: this.amount }).then((res) => {});
    },
    // 切换发票类型
    changeType() {
      if(this.needBill && !this.invoiceCheck()) {
        this.$message.warning("发票必需未填完或填写信息格式错误！");
        this.needBill = false;
      }
    },
    // 需要发票
    needChange(e) {
      if (e) {
        if (!this.invoiceCheck()) {
          this.$message.warning("发票必需未填完或填写信息格式错误！");
          this.needBill = false;
        }
        if (this.editing) {
          this.$message.warning("请先保存发票信息");
          this.needBill = false;
        }
      }
    },
    // 发票表单校验
    invoiceCheck() {
      if (this.invoiceType == 1) {
        // taxpayer
        if (!this.InvoiceTitle) {
          return false;
        }
        if (!this.taxpayer) {
          return false;
        }
      }

      if (!this.contacts) {
        return false;
      }
      if (!this.phone) {
        return false;
      }
      if (!validPhone(this.phone)) {
        return false;
      }
      if (!this.email) {
        return false;
      }
      if (!validEmail(this.email)) {
        return false;
      }
      return true;
    },
    // 去登录
    toRegister() {
      // window.location.href = "https://member.zjtcn.com/common/reg_sel.html";
      window.open('https://member.zjtcn.com/common/login.html','blank');
    }
  },
  beforeDestroy() {
    if (this.wxTimer) clearTimeout(this.wxTimer);
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.detail-container {
  box-shadow: 0px 1px 0px 0px rgba(96, 96, 96, 0.06);
  border-radius: 6px;
  background: #ffffff;
  padding: 21px 202px 152px 25px;
  margin-top: 8px;
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 23px;
  }
  .light {
    color: $color-minor;
  }
  .table-box {
    margin-bottom: 45px;
    position: relative;
    .backs {
      width: 56px;
      position: absolute;
      top: -30px;
      right: 10px;
      z-index: 1;
      color: $color-primary;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      > img {
        width: 16px;
        height: 16px;
      }
    }
    .buy-img {
      width: 72px;
      height: 72px;
      margin-right: 10px;
    }
  }
  .check {
    .item {
      width: 180px;
      height: 46px;
      background: #ffffff;
      box-shadow: 0px 4px 10px 0px rgba(214, 214, 214, 0.44);
      border-radius: 4px;
      color: #3a3a3a;
      margin-right: 31px;
      cursor: pointer;
      > img {
        margin-right: 5px;
      }
    }
    .active {
      border: 1px solid $color-danger;
      background: url("../../assets/img/icons/checked.png") 152px 18px no-repeat;
      background-size: 27px 27px;
    }
  }
  .wallet {
    color: #3a3a3a;
    padding: 3px 0;
    padding-left: 20px;
    // margin: 18px 0 21px;
    .num {
      font-size: 24px;
      font-weight: bold;
      color: $color-minor;
    }
  }
  .info {
    padding: 18px 0 21px;
    border-top: 1px dashed #bfbfbf;
    border-bottom: 1px dashed #bfbfbf;
    margin-bottom: 30px;
    .titles {
      font-size: 16px;
      color: #3a3a3a;
      opacity: 0.7;
    }
    .infobox {
      font-size: 12px;
      font-weight: bold;
      // margin: 33px 0 29px;
      margin-top: 33px;
      .items {
        margin-right: 36px;
      }
    }
    .billbox {
      margin-top: 10px;
      .new {
        color: $color-primary;
        font-size: 16px;
      }
      .offer-info {
        width: 460px;
        border: 1px solid #ccc;
        padding: 40px 60px;
        border-radius: 6px;
        position: relative;
        .edit-btn {
          position: absolute;
          right: 20px;
          top: 20px;
          font-size: 15px;
          cursor: pointer;
          .save {
            color: $color-danger;
          }
          .save2 {
            color: $color-primary;
          }
        }
      }
      .bill {
        color: #2773fc;
        margin-right: 20px;
        font-size: 16px !important;
      }
      .btn {
        width: 112px;
        height: 34px;
        border: 1px solid #1789f2;
        border-radius: 5px;
        font-size: 16px;
        font-family: "mainfont";
        font-weight: 500;
        color: #ffffff;
      }
    }
  }
  .submit {
    // margin-left: 168px;
    width: 124px;
    height: 44px;
    background: $color-danger;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .invoice-select {
    width: 100%;
  }

  .order-dialog {
    .order-content {
      img {
        margin-right: 60px;
      }
      p {
        color: #333;
        font-weight: bold;
      }
      .tip-span {
        font-size: 12px;
        display: inline-block;
        line-height: 30px;
      }
      .p-row {
        margin: 10px 0;
      }
      .div-row {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        color: #b2b2b2;
        font-size: 12px;

        &.row-border {
          padding-bottom: 20px;
          border-bottom: 1px solid #eeeeee;
        }
      }
      .div-tip {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        img {
          margin-right: 5px;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
    }

    a {
      margin-top: 20px;
      display: inline-block;
      font-size: 12px;
      padding: 3px;
      &:hover {
        text-decoration: underline;
      }
    }

    .form-footer {
      text-align: center;
      margin-top: 20px;
      .row-btn {
        margin-top: 20px;
      }
    }
    .div-money {
      margin-top: 20px;

      // img {
      //   margin-right: 20px;
      //   border-radius: 6px;
      //   border: 1px solid transparent;
      //   cursor: pointer;

      //   &:hover {
      //     border: 1px solid $color-danger;
      //   }
      // }
      // .active {
      //   border: 1px solid $color-danger;
      //   background: url("../../assets/img/icons/checked.png") 152px 18px
      //     no-repeat;
      //   background-size: 27px 27px;
      // }

      span {
        display: inline-block;
        position: relative;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 6px;

        &:hover .pay {
          border: 1px solid red;
        }
        &.active .pay {
          border: 1px solid red;
        }
        &.active .checked-img {
          display: flex;
        }
        &:hover .checked-img {
          display: flex;
        }
        .checked-img {
          display: none;
          position: absolute;
          right: 0;
          bottom: 3px;
        }
      }
      img {
        margin-right: 0;
        border: 1px solid transparent;
        border-radius: 6px;
      }
    }
  }

  .none-title {
    &::v-deep .el-dialog {
      border-radius: 4px;
    }

    &::v-deep .el-dialog__header {
      padding: 0;
      .el-dialog__headerbtn {
        top: 10px;
        right: 10px;
        font-size: 18px;
        .el-icon-close:before {
          color: #0b4375;
          font-weight: bold;
        }
      }
    }

    &::v-deep .el-dialog__body {
      border-radius: 4px;
    }

    .common-content {
      .btn {
        padding: 0;
        width: 112px;
        height: 34px;
        line-height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-size: 15px;
        font-family: "mainfont";
        font-weight: 500;
        margin: 0 10px;
        &:hover {
          border: 1px solid;
        }
      }
      .btn1 {
        background: $color-primary !important;
      }
      .btn3 {
        color: $color-primary !important;
        border-color: #3699ff !important;
        &:hover {
          background: #ffffff !important;
          box-shadow: 0px 1px 4px 0px #3699ff;
        }
      }
    }

    .bold-font {
      font-size: 22px;
      font-family: Source Han Sans CN;
      font-weight: 800;
    }
    .red {
      color: #f03a3f;
    }
    .blue {
      color: #0a7dff;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .yellow {
      color: #ffaa31;
    }
  }

  .em {
    width: 270px;
    height: 270px;
    margin: 30px auto;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: -20px;

    .wxcode-img {
      width: 210px;
      height: 210px;
      margin: 30px;
    }
  }
}
</style>

<style lang="scss">
.detail-container {
  .bill {
    .el-checkbox__inner {
      border-radius: 50% !important;
    }
    .el-checkbox__label {
      font-size: 16px !important;
    }
    .is-checked + .el-checkbox__label {
      font-size: 16px !important;
      color: #2773fc !important;
    }
  }
}
</style>
