<template>
  <CommPage :source-channel="1" />
</template>

<script>
import CommPage from '../components/CommPage.vue'
export default {
  name: 'ProjectDetail',
  components: {
    CommPage
  }
}
</script>

<style lang="scss" scoped>
</style>
