<template>
  <div class="cost-stage">
    <div class="flex-csb com-table-label">
      <p class="b-label">造价阶段标准配置</p>
      <div class="flex-c">
        <p class="flex-c b-btn" @click="addOrEditCostStageDialog('新增')">
          <img src="@/assets/img/icons/project_stock/add.png" alt="" />
          <span>新增造价阶段</span>
        </p>
      </div>
    </div>
    <div class="com-table-wrap">
      <el-table :data="projectData" style="width: 100%" border>
        <el-table-column type="index" label="序号" width="150">
        </el-table-column>
        <el-table-column prop="stdName" label="标准化阶段名称">
        </el-table-column>
        <el-table-column label="自定义阶段名称">
          <template slot-scope="scope">
            <div v-if="scope.row.customName" class="flex-csb">
              <span>{{ scope.row.customName }}</span>
              <el-switch
                class="mr-11"
                v-model="scope.row.enableCustom"
                @change="customChange(scope.$index, scope.row)"
              >
              </el-switch>
            </div>
            <!-- <div v-else class="cel-div">---</div> -->
          </template>
        </el-table-column>
        <el-table-column prop="updator" label="操作人"> </el-table-column>
        <el-table-column prop="updateTime" label="更新时间"> </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-tooltip effect="light" content="编辑" placement="top">
              <img
                class="cp mr-26"
                src="@/assets/img/icons/edits.png"
                alt=""
                @click="addOrEditCostStageDialog('编辑', scope.row)"
              />
            </el-tooltip>

            <el-tooltip
              v-if="!scope.row.isEnable"
              effect="light"
              content="启用"
              placement="top"
            >
              <img
                class="cp mr-26"
                src="@/assets/img/icons/project_stock/enable.png"
                alt=""
                @click="showAbleStage(scope.row, 1, scope.$index)"
              />
            </el-tooltip>
            <el-tooltip v-else effect="light" content="禁用" placement="top">
              <img
                class="cp mr-26"
                src="@/assets/img/icons/project_stock/disabled.png"
                alt=""
                @click="showAbleStage(scope.row, 0, scope.$index)"
              />
            </el-tooltip>

            <el-tooltip
              effect="light"
              content="删除"
              placement="top"
              v-if="initStage.indexOf(scope.row.id) === -1"
            >
              <img
                class="cp"
                src="@/assets/img/icons/dels.png"
                alt=""
                @click="delStageConfig(scope.row, 2)"
              />
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <!-- 新增/编辑造价阶段弹窗 -->
    <el-dialog
      :visible.sync="costStageDialog"
      :close-on-click-modal="false"
      :title="curLabel + '造价阶段'"
      width="460px"
      class="com-dialog com-dialog2 com-input com-radio-wrap"
    >
      <div class="flex-c mb-18">
        <span class="label-text"><span>*</span>标准化名称</span>
        <el-input
          v-model="stdName"
          placeholder="请输入标准化名称"
          v-if="curLabel === '新增'"
        />
        <span class="d-content" v-else>{{ stdName }}</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text">自定义名称</span>
        <el-input v-model="customName" placeholder="请输入自定义名称" />
      </div>
      <div class="flex-c mb-18">
        <span class="label-text">使用自定义名称</span>
        <el-radio v-model="enableCustom" :label="true">打开</el-radio>
        <el-radio v-model="enableCustom" :label="false">关闭</el-radio>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text">启用造价阶段</span>
        <el-radio v-model="isEnable" :label="true">启用</el-radio>
        <el-radio v-model="isEnable" :label="false">禁用</el-radio>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="costStageDialog = false">取消</el-button>
        <el-button
          @click="addOrEditCostStage"
          :loading="btloading"
          type="primary"
          >确定</el-button
        >
      </span>
    </el-dialog>
    <!-- 新增/编辑造价阶段弹窗 end -->

    <!-- 项目阶段删除提示弹窗 -->
    <el-dialog
      title="添加一级分类"
      :visible.sync="showTipsDialog"
      :close-on-click-modal="false"
      width="490px"
      class="com-dialog com-input-width my-dialog"
    >
      <img src="@/assets/img/dialog/confirm.png" alt="" />
      <p>
        此项目阶段，前端已有造价数据，删除阶段的同时，<br />会同步删除该阶段挂关联所有数据，请谨慎操作;
      </p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showTipsDialog = false">取消</el-button>
        <el-button
          type="primary"
          @click="delAjax"
          :style="disableBtn ? 'pointer-events: none;opacity:.6' : ''"
          >确定<span v-if="delSecond > 0">({{ delSecond }})</span></el-button
        >
      </span>
    </el-dialog>

    <confirm-dialog
      @confirmClick="confirmModify"
      @cancelClick="cancelModify"
      :isShow.sync="showModifyDialog"
      :contentText="modifyText"
      :contentTip="modifyTip"
      :titleText="titleText"
    />
  </div>
</template>

<script>
import {
  queryStageList,
  addStageConfig,
  updateStageConfig,
  stageCustomSwitchConfig,
  delStageConfig,
  getDelStageConfig,
} from "@/api/project";

export default {
  data() {
    return {
      initStage: [1, 2, 3, 4], // 初始的阶段不能删除
      projectData: [],
      costStageDialog: false,
      curLabel: "新增",
      stdName: "", // 标准化名称
      customName: "", // 自定义名称
      enableCustom: false, // 自定义名称开关
      isEnable: true, // 造价阶段开关
      isId: null, // 当前id
      btloading: false, // 按钮loading
      delid: "",
      showTipsDialog: false, // 是否显示删除提示弹窗
      delSecond: 0, // 倒计时秒数
      disableBtn: true, // 禁用按钮
      delTimer: null, //  删除倒计时定时器

      showModifyDialog: false, // 确认弹窗
      isType: 1, // 0：禁用 1：启用 2、删除 3、关闭自定义名称 4、关闭自定义名称
      isIndex: 0, // 当前行索引
      isStdName: "", // 标准名称
      titleText: "删除"
    };
  },
  computed: {
    modifyText() {
      // 确认文案
      if (this.isType == 3 || this.isType == 4) {
        return `确定${this.titleText}该自定义名称吗？`;
      } 

      return `确定${this.titleText}该造价阶段吗？`;
    },
    modifyTip() {
      // 确认提示
      if (this.isType == 3) {
        return "注：关闭状态下，阶段停用自定义名称，显示标准化名称";
      } else if (this.isType === 0) {
        return "注：禁用状态下，项目将无法导入该阶段数据";
      } else {
        return "";
      }
    },
  },
  mounted() {
    this.getStageList();
  },
  methods: {
    // 删除
    delStageConfig(row, type) {
      this.isType = type;
      this.delid = row.id;
      this.isId = row.id;
      this.titleText = "删除";
      this.showModifyDialog = true;

      // this.$confirm("确定删除该造价阶段吗?", "提示", {
      //   confirmButtonText: "确定",
      //   cancelButtonText: "取消",
      //   type: "warning",
      // }).then(() => {
      //   this.delid = row.id;
      //   let params = {
      //     id: row.id,
      //   };
      //   getDelStageConfig(params).then((res) => {
      //     if (res.code === "01") {
      //       this.delAjax();
      //     } else if (res.code === "611") {
      //       this.showTipsDialog = true;
      //       this.delSecond = 3;
      //       this.disableBtn = true;
      //       clearInterval(this.delTimer);
      //       this.delTimer = setInterval(() => {
      //         this.delSecond--;
      //         if (this.delSecond == 0) {
      //           clearInterval(this.delTimer);
      //           this.disableBtn = false;
      //         }
      //       }, 1000);
      //     }
      //   });
      // });
    },
    // 删除接口
    delAjax() {
      let params = {
        ids: this.isId,
      };
      delStageConfig(params).then((res) => {
        if (res.code === "01") {
          this.$message({
            type: "success",
            message: res.message,
          });
          this.showTipsDialog = false;
          this.getStageList();

          // 更新全局造价阶段列表
          this.$store.dispatch("getStageList");
        } else {
          this.$message({
            type: "error",
            message: res.message,
          });
        }
      });
    },
    // 造价阶段弹窗
    addOrEditCostStageDialog(type, row) {
      this.curLabel = type;
      this.costStageDialog = true;

      if (type == "新增") {
        this.stdName = "";
        this.customName = "";
        this.enableCustom = false;
        this.isEnable = true;
        this.isId = null;
      } else {
        this.stdName = row.stdName;
        this.customName = row.customName;
        this.enableCustom = row.enableCustom;
        this.isEnable = row.isEnable;
        this.isId = row.id;
      }
    },
    // 新增/编辑造价阶段
    addOrEditCostStage() {
      if (!this.stdName) {
        this.$message({
          type: "error",
          message: "请填写标准化名称",
        });
        return;
      } else {
        let data = {
          customName: this.customName,
          enableCustom: this.enableCustom,
          isEnable: this.isEnable,
          stdName: this.stdName,
        };

        this.btloading = true;

        if (this.curLabel == "新增") {
          addStageConfig(data).then((res) => {
            console.log("添加造价阶段成功", res);
            if (res && res.code == "01") {
              this.costStageDialog = false;
              this.$message({
                type: "success",
                message: "添加造价阶段成功",
              });
              this.getStageList();

              // 更新全局造价阶段列表
              this.$store.dispatch("getStageList");
            }

            this.btloading = false;
          });
        } else {
          data.id = this.isId;
          updateStageConfig(data).then((res) => {
            console.log("编辑造价阶段成功", res);
            if (res && res.code == "01") {
              this.costStageDialog = false;
              this.$message({
                type: "success",
                message: "编辑造价阶段成功",
              });
              this.getStageList();

              // 更新全局造价阶段列表
              this.$store.dispatch("getStageList");
            } else {
              this.$message({
                type: "error",
                message: res.message || "编辑失败",
              });
            }

            this.btloading = false;
          });
        }
      }
    },
    // 禁用、启用、删除、关闭造价阶段
    confirmModify() {
      if (this.isType === 0 || this.isType == 1) {
        // 禁用、启用
        updateStageConfig({
          isEnable: this.isType ? true : false,
          stdName: this.isStdName,
          id: this.isId,
        }).then((res) => {
          console.log(res);
          if (res && res.code == "01") {
            let message = "";
            if (!this.isType) {
              this.projectData[this.isIndex].isEnable = false;
              message = "禁用成功";
            } else {
              this.projectData[this.isIndex].isEnable = true;
              message = "启用成功";
            }
            // 逻辑操作
            this.$message({
              type: "success",
              message,
            });

            // 更新全局造价阶段列表
            this.$store.dispatch("getStageList");
          }
        });
      } else if (this.isType == 2) {
        // 删除
        getDelStageConfig({
          id: this.isId,
        }).then((res) => {
          if (res.code === "01") {
            this.delAjax();
          } else if (res.code === "611") {
            this.showTipsDialog = true;
            this.delSecond = 3;
            this.disableBtn = true;
            clearInterval(this.delTimer);
            this.delTimer = setInterval(() => {
              this.delSecond--;
              if (this.delSecond == 0) {
                clearInterval(this.delTimer);
                this.disableBtn = false;
              }
            }, 1000);
          }
        });
      } else if (this.isType == 3 || this.isType == 4) {
        // 关闭
        stageCustomSwitchConfig({
          enableCustom: this.isType == 3 ? false: true ,
          id: this.isId,
        }).then((res) => {
          if (res && res.code == "01") {
            let message = "";
            if (this.isType == 4) {
              this.projectData[this.isIndex].enableCustom = true;
              message = "开启成功";
            } else {
              this.projectData[this.isIndex].enableCustom = false;
              message = "关闭成功";
            }
            // 逻辑操作
            this.$message({
              type: "success",
              message,
            });

            // 更新全局造价阶段列表
            this.$store.dispatch("getStageList");
          }
        });
      }
    },
    // 禁用/启用造价阶段
    showAbleStage(row, type, index) {
      this.isType = type;
      this.isId = row.id;
      this.isIndex = index;
      this.isStdName = row.stdName;
      this.titleText = type? '启用': '禁用';
      this.showModifyDialog = true;

      // let value = row.isEnable;
      // let text = value ? "禁用" : "启用";
      // this.$confirm(`确定${text}该造价阶段吗？`, "提示", {
      //   confirmButtonText: "确定",
      //   cancelButtonText: "取消",
      //   type: "warning",
      // })
      //   .then(async () => {
      //     updateStageConfig({
      //       isEnable: !value,
      //       stdName: row.stdName,
      //       id: row.id,
      //     }).then((res) => {
      //       console.log(res);
      //       if (res && res.code == "01") {
      //         let message = "";
      //         if (value) {
      //           row.isEnable = false;
      //           message = "禁用成功";
      //         } else {
      //           row.isEnable = true;
      //           message = "启用成功";
      //         }
      //         // 逻辑操作
      //         this.$message({
      //           type: "success",
      //           message,
      //         });

      //         // 更新全局造价阶段列表
      //         this.$store.dispatch("getStageList");
      //       }
      //     });
      //   })
      //   .catch(() => {
      //     row.enableCustom = !value;
      //   });
    },
    // 取消操作
    cancelModify() {
      if (this.isType == 3) {
        let custom = this.projectData[this.isIndex].enableCustom;

        this.projectData[this.isIndex].enableCustom = !custom;
        console.log("xxxxx", custom, this.projectData);
      }
    },
    // 开启/关闭自定义阶段名称
    customChange(index, row) {
      let type = row.enableCustom;
      this.isType = type ? 4: 3;
      this.isId = row.id;
      this.isIndex = index;
       this.titleText = type ? '开启': '关闭';
      this.showModifyDialog = true;

      // console.log(value);
      // let text = value ? "使用" : "关闭";
      // this.$confirm(`确定${text}自定义名称吗？`, "提示", {
      //   confirmButtonText: "确定",
      //   cancelButtonText: "取消",
      //   type: "warning",
      // })
      //   .then(async () => {
      //     stageCustomSwitchConfig({
      //       enableCustom: value,
      //       id: row.id,
      //     }).then((res) => {
      //       if (res && res.code == "01") {
      //         let message = "";
      //         if (value) {
      //           row.enableCustom = true;
      //           message = "开启成功";
      //         } else {
      //           row.enableCustom = false;
      //           message = "关闭成功";
      //         }
      //         // 逻辑操作
      //         this.$message({
      //           type: "success",
      //           message,
      //         });

      //         // 更新全局造价阶段列表
      //         this.$store.dispatch("getStageList");
      //       }
      //     });
      //   })
      //   .catch(() => {
      //     row.enableCustom = !value;
      //   });
    },
    // 查询造价阶段列表
    getStageList() {
      queryStageList().then((res) => {
        if (res && res.code == "01") {
          console.log("造价阶段列表", res);
          this.projectData = res.body;
        } else {
          this.$message({
            type: "error",
            message: res.message || "查询失败！",
          });
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.cost-stage {
  margin-top: 7px;
  padding: 22px 24px;
  width: 100%;
  min-height: 700px;
  background: #fff;
  border-radius: 0px 8px 8px 8px;

  .cel-div {
    text-align: center;
  }
}
</style>
