<template>
  <div class="material-container">
    <div class="com-bg">
      <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>分享管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/shareManage/shareExamine' }">分享审核</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active"> {{$route.meta.title}} </span></el-breadcrumb-item></el-breadcrumb>
      </div>
    </div>


    <!-- 顶部筛选 -->
    <div class="screen">
      <!-- 审核 -->
      <div class="flex-c btns" v-if="mystatus == '1'">
        <el-button type="primary" class="flex-cc btn" @click="audit(true)">审核通过</el-button>
        <el-button type="primary" class="flex-cc btn btn3" @click="audit(false)">审核不通过</el-button>
      </div>
      <div class="flex-csb top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input class="search-ipt" placeholder="搜索关键字，如:规格、供应商、品牌" v-model="searchVal" @keyup.enter.native="currentPage=1;getShareMatDetailPageList();" />
          <i class="el-icon-search" @click="currentPage=1;getShareMatDetailPageList();"></i>
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">{{dates}}</li>
          </ul>
        </div>
      </div>
      <!-- 适用地区 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">{{cityName}}</li>
          </ul>
        </div>
      </div> -->
      <!-- 分享材料 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">分享材料</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li class="active">{{materialName}}</li>
          </ul>
        </div>
      </div>
      <!-- 审核状态图标 -->
      <div class="status-box" v-if="mystatus == '2'">
        <img src="@/assets/img/examine_yes.png" alt="">
      </div>
      <div class="status-box" v-if="mystatus == '3'">
        <img src="@/assets/img/examine_no.png" alt="">
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-c com-operate-wrap inquiry">
        <div class="flex-c">
          <el-button type="primary" class="btn" @click="exportFile">
            <span class="flex-cc" style="width:100%;">
              <img src="@/assets/img/icons/export.png" alt="" class="el-icon-search">导出
            </span>
          </el-button>
          <el-button type="primary" class="btn btn2" @click="exportAllFile">
            <span class="flex-cc" style="width:100%;">
              <img src="@/assets/img/icons/export.png" alt="" class="el-icon-search">全部导出
            </span>
          </el-button>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="loading"
          class="table-main"
          style="width: 100%;"
          @selection-change="multipleSelection = $event">
          <el-table-column
            type="selection"
            width="66px">
          </el-table-column>
          <el-table-column
            label="规格"
            width="166px">
            <template slot-scope="scope">
              <span class="t-color wrap">{{scope.row.spec}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="unit"
            label="单位">
          </el-table-column>
          <el-table-column
            prop="priceType"
            label="价格类型">
          </el-table-column>
          <el-table-column
            label="品牌">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.brand || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="档次">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.grade || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="供应商">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.supplier || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="供应商地区">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.supplierArea || '--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="price"
            label="材料价格">
          </el-table-column>
          <el-table-column
            label="是否含税">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.taxIncluded ? '是' : '否'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            width="160px"
            label="备注">
            <template slot-scope="scope">
              <span class="t-color r-hide">{{scope.row.remark || '--'}}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 导出弹窗 -->
    <el-dialog
      :title="exportStatus==1 ? '导出' : '全部导出'"
      :visible.sync="showexDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p>{{tipText}}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showexDialog = false">取消</el-button>
        <el-button type="primary" :loading="exloading" @click="confirm">确定</el-button>
      </span>
    </el-dialog>
    <!-- 审核弹窗 -->
    <el-dialog
      title="分享审核"
      :visible.sync="showExamineDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
      @close="remark = ''">
      <img src="@/assets/img/dialog/confirm.png" alt="" v-if="examineStatus == 1">
      <p v-if="examineStatus == 1">确定审核通过？</p>
      <p v-if="examineStatus == 2" style="margin-bottom:20px;text-align:left;padding-left:4px;">确定审核不通过？</p>
      <el-input type="textarea" resize="none" rows="7" placeholder="请输入审核批注（选填）" maxlength="300" v-model="remark" v-if="examineStatus == 2"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showExamineDialog = false">取消</el-button>
        <el-button type="primary" :loading="exloading" @click="submitAudit">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getShareMatDetailPageList,
  exportShareDetail,
  getMatShareDetail,
  audit,
} from '@/api/share'
export default {
  data() {
    return {
      mystatus: '',                                       // 1待审核 2审核通过 3审核不通过
      item: null,                                         // 分享信息
      searchVal: '',                                      // 搜索关键字
      cityName: '',
      materialName: '',
      dates: '',
      currentPage: 1,                                     // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      tableData: [],                                      // 表格数据
      loading: false,
      exportStatus: '',                                   // 导出类型 1导出 2全部导出
      showexDialog: false,                                // 导出材价弹窗
      tipText: '',                                        // 提示文字
      exloading: false,
      multipleSelection: [],                              // 已选中的表单项
      remark: '',                                         // 审核批注
      showExamineDialog: false,                           // 显示审核弹窗
      examineStatus: '',                                  // 审核弹窗状态 1通过 2不通过
    }
  },

  mounted() {
    this.mystatus = this.$route.query.status
    try {
      let item = JSON.parse(sessionStorage.getItem('examine_item'))
      this.cityName = item.applicableProvince+' '+item.applicableCity
      this.dates = item.applicableDate
      this.materialName = item.materialName
      this.item = item
      if(item.mystatus) this.mystatus = item.mystatus
    } catch(err) {
      this.item = {}
    }
    setTimeout(()=>{
      this.getShareMatDetailPageList()
    },500)
  },

  methods: {
    // 获取分享材料详情列表
    getShareMatDetailPageList() {
      let data = {
        shareId: this.item.id,
        pageSize: this.pageSize,
        currentPage: this.currentPage,
        keyword: this.searchVal ? this.searchVal : null
      }
      getShareMatDetailPageList(data).then(res => {
        if (res.code === '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        }
      })
    },

    // 导出接口
    confirm() {
      this.exloading = true
      var ids = []
      if(this.exportStatus == 1 ) { // 批量导出
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else if(this.exportStatus == 2 ) { // 全部导出
        ids = null
      }
      let data = {
        shareId: this.item.id,
        ids: ids
      }
      exportShareDetail(data).then(res => {
        this.exloading = false
        this.showexDialog = false
        // ie11文件下载兼容
        if(navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '分享详情.xls')
          return
        }
        this.$message({
          type: 'success',
          message: res.message || '导出成功！'
        })
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {
        }
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement('a');
          let _fileName = sessionStorage.getItem('blob_filename') || '分享详情.xls';
          a.download = _fileName;
          a.href = event.target.result;
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem('blob_filename')
        }
      }).catch(err => {
        this.exloading = false
        this.$message({
          type: 'error',
          message: err.message || '导出失败！'
        })
      })
    },

    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
          this.openAlert()
          return
      }
      this.tipText = '你确定要导出勾选的材价吗？'
      this.showexDialog = true
      this.exportStatus = 1
    },

    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      this.tipText = '你确定要导出全部材价吗？'
      this.showexDialog = true
      this.exportStatus = 2
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 切换分页(分享详情)
    handleCurrentChange(val) {
      this.currentPage = val
      this.getShareMatDetailPageList()
    },

    // 审核
    audit(type) {
      this.examineStatus = type ? 1 : 2
      this.showExamineDialog = true
    },

    // 提交审核
    submitAudit() {
      let data = {
        shareId: this.item.id,
        shareStatus: this.examineStatus == 1 ? 4 : 3,
      }
      if (this.examineStatus == 2) data.remark = this.remark
      audit(data).then(res => {
        this.showExamineDialog = false
        if(res.code === '01') {
          this.$message({
            type: 'success',
            message: res.message || '审核成功！'
          })
          setTimeout(() => {
            this.getMatShareDetail()
            this.currentPage = 1
            this.getShareMatDetailPageList()
          },300)
        } else {
          this.$message({
            type: 'error',
            message: res.message || '审核失败！'
          })
        }
      }).catch(err => {
        this.showExamineDialog = false
        this.$message({
          type: 'error',
          message: err.message || '出错了'
        })
      })
    },

    // 查询分享材料详情（刷新顶部信息，改缓存）
    getMatShareDetail() {
      let params = {
        shareId: this.item.id
      }
      getMatShareDetail(params).then(res => {
        if(res.code === '01') {
          let item = res.body
          this.cityName = item.applicableProvince+' '+item.applicableCity
          this.dates = item.applicableDate
          this.materialName = item.materialName
          this.mystatus = item.shareStatus == 2 ? 1 : item.shareStatus == 3 ? 3 : 2//mystatus 1待审核 2审核通过 3审核不通过
          item.mystatus = this.mystatus
          sessionStorage.setItem('examine_item', JSON.stringify(item))
          this.item = item
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/variables.scss';
  .material-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F6F6F6;
    position: relative;
    .screen{
      padding: 0 21px 5px;
      background: #ffffff;
      position: relative;
      border-radius: 0 0 6px 6px;
      border-top: 1px solid #F6F6F6;
      .btns{
        position: absolute;
        right: 29px;
        bottom: 23px;
        .btn3{
          color: #fff !important;
          border: none !important;
          margin-left: 14px;
          &:hover{
            opacity: .8;
          }
          background: $color-danger !important;
          border-color: $color-danger !important;
        }
      }
      .status-box{
        position: absolute;
        top: 14px;
        right: 34px;
        .status-img{
          width: 190px;
          height: 190px;
        }
      }
      .top{
        // border-top: 1px solid #F6F6F6;
        .time{
          padding: 20px;
        }
      }
      .custom-type,
      .norm-type {
        > span {
          margin-right: 15px;
          white-space: nowrap;
        }
        .t-wrap {
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          .no-item {
            margin-bottom: 18px;
            color: $color-minor;
            font-size: 14px;
          }
          ul {
            margin-bottom: 10px;
            &.all-list {
              padding: 5px 12px;
              background: #F3F3F4;
              box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
              border-radius: 5px;
              li {
                padding-top: 8px;
                padding-bottom: 8px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            li {
              padding-bottom: 8px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
        .el-icon-arrow-up {
          font-size: 16px;
          font-weight: bold;
          &.is-rotate {
            transform: rotate(180deg);
          }
        }
        .is-fold {
          height: 50px;
          overflow-y: hidden;
        }
      }
    }
    // 表格
    .detail-table{
      padding-top: 6px;
      margin-top: 12px;
      padding-bottom: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #ffffff;
      .inquiry{
        background: #FCFCFD;
        .tips{
          width: 23px;
          height: 23px;
          margin: 0 20px 6px 8px;
        }
        .btn{
          width: 112px;
          height: 34px;
          color: #ffffff !important;
          border-radius: 5px;
          font-size: 15px;
          font-family: 'mainfont';
          font-weight: 500;
          &:hover{
            border: 1px solid;
          }
          .el-icon-search{
            margin-right: 5px;
          }
        }
        .btn2{
          background: $color-minor;
          border-color: $color-minor;
          box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        }
      }
      .table-box{
        padding-bottom: 30px;
        .mode-name {
            cursor: pointer;
            color: $color-primary;
        }
        .t-color{
          font-weight: 400;
          color: $table-color;
        }
        .yes{
          color: $color-primary;
        }
        .no{
          color: $color-danger;
        }
        .pass{
          color: #1EB645;
        }
        .wrap{
          width: 166px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .mode-name {
            cursor: pointer;
            color: $color-primary;
              text-align: left;
            >div{
              min-width: 100px;
            }
        }
        .faster-img{
          width: 18px;
          height: 18px;
          margin-left: 5px;
        }
        .files{
          max-width: 65%;
          min-width: 380px;
          .file-box{
            width: 100%;
            flex-wrap: wrap;
            .fileitem{
              margin-right: 6px;
              margin-bottom: 4px;
              .file-img{
                width: 21px;
                height: 20px;
              }
              .file-name{
                margin: 0 25px 0 7px;
                width: 81px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
                font-family: 'mainfont';
              }
            }
          }
        }
      }
    }
  }
</style>

<style lang="scss">
  .material-container{
    .screen {
      .btns {
        .el-button {
          width: 112px;
          height: 34px;
        }
      }
    }
    .add-dialog{
      .labeltip{
        // display: flex;
        // align-items: center;
        .el-table__column-filter-trigger{
          line-height: 1;
          .el-icon-arrow-down{
            font-size: 20px;
            font-weight: bold;
            transform: scale(1)
          }
        }
      }
    }
    .com-label-text{
      padding: 2px 0;
    }
    .is-fold{
      border-bottom: none;
    }
    .top{
      padding: 20px 0;
      .com-search2{
        width: 420px;
        .el-input__inner{
          width: 380px;
        }
      }
    }
    .inquiry{
      .btn{
        >span{
          display: flex;
          align-items: center;
        }
      }
    }
    .table-box{
      .icon-wrap{
        .icons{
          cursor: pointer;
          margin-right: 15px;
        }
      }
    }
  }
</style>
