<template>
  <div class="add-container">
    <CommentShare :status="status" />
  </div>
</template>

<script>
import CommentShare from './components/commentShare'
export default {
  data() {
    return {
      status: 3,
    }
  },

  components: {
    CommentShare
  }
}
</script>

<style lang="scss" scoped>

</style>
