<template>
  <div class="data-check">
    <div class="flex-c mb-20 tab">
      <span
        :class="{ active: curMenu == '清单数据' }"
        @click="changeMenu('清单数据')"
        >清单数据</span
      >
      <span
        :class="{ active: curMenu == '材料数据' }"
        @click="changeMenu('材料数据')"
        >材料数据</span
      >
    </div>

    <template v-if="curMenu == '清单数据'">
      <el-table
        ref="multipleTable"
        :data="totalTable"
        tooltip-effect="dark"
        style="width: 100%"
        key="id2-1">
        <el-table-column width="66" type="index" label="序号"></el-table-column>
        <el-table-column prop="code" label="编码">
        </el-table-column>
        <el-table-column prop="name" label="名称">
        </el-table-column>
        <el-table-column min-width="266" prop="features" label="特征描述">
        </el-table-column>
        <el-table-column label="计量单位">
          <template slot-scope="scope">
            <span>{{scope.row.unit || '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="工程量">
          <template slot-scope="scope">
            <span>{{scope.row.count || '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="单价（元）">
          <template slot-scope="scope">
            <span>{{scope.row.price ? formatNumber(scope.row.price) : '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="合价（元）">
          <template slot-scope="scope">
            <span>{{scope.row.totalPrice ? formatNumber(scope.row.totalPrice) : '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="经济指标">
          <template slot-scope="scope">
            <span>{{scope.row.econStd ? formatNumber(scope.row.econStd,true) : '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="检测结果">
          <template slot-scope="scope">
            <div>
              <div v-if="scope.row.testResults != '正常'" class="redText">
                <span>{{scope.row.testResults}}</span>
                <span class="ml-10 cp" @click="toDetail(1)">立即完善</span>
              </div>
              <div v-else> 正常 </div>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </template>
    <template v-else>
      <el-table
        ref="multipleTable"
        :data="totalTable"
        tooltip-effect="dark"
        style="width: 100%"
        key="id2-2">
        <el-table-column width="66" type="index" label="序号"></el-table-column>
        <el-table-column prop="name" label="名称">
        </el-table-column>
        <el-table-column prop="spec" label="规格型号">
        </el-table-column>
        <el-table-column label="单位">
          <template slot-scope="scope">
            <span>{{scope.row.unit || '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="数量">
          <template slot-scope="scope">
            <span>{{scope.row.count || '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="单价（元）">
          <template slot-scope="scope">
            <span>{{scope.row.price ? formatNumber(scope.row.price) : '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="合价（元）">
          <template slot-scope="scope">
            <span>{{scope.row.totalPrice ? formatNumber(scope.row.totalPrice) : '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="经济指标">
          <template slot-scope="scope">
            <span>{{scope.row.econStd ? formatNumber(scope.row.econStd,true) : '--/--'}}</span>
          </template>
        </el-table-column>
        <el-table-column label="检测结果">
          <template slot-scope="scope">
            <div>
              <div v-if="scope.row.testResults != '正常'" class="redText">
                <span>{{scope.row.testResults}}</span>
                <span class="ml-10 cp" @click="toDetail(2)">立即完善</span>
              </div>
              <div v-else> 正常 </div>
            </div>
          </template>
        </el-table-column>
      </el-table>
    </template>
    <!-- 分页 -->
    <div class="flex-csb com-pages-wrap mb-20">
      <div class="flex-c left-page">
        <span>当前显示</span>
        <div class="flex-cc cur-page">
          <el-select
            v-model="pageSize"
            placeholder="请选择"
            @change="handleCurrentChange(1)"
          >
            <el-option
              v-for="(item, index) in pageSizeList"
              :key="index"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </div>
        <span>条</span>
        <span class="total-num">共{{ totalCount }}条数据</span>
      </div>
      <div class="flex-c right-page">
        <el-pagination
          background
          @current-change="handleCurrentChange"
          :current-page.sync="currentPage"
          :page-size="pageSize"
          layout="prev, pager, next, jumper"
          :total="totalCount"
        >
        </el-pagination>
        <div class="com-page-btn">确定</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DataCheck",
  props: ['totalCount', 'totalTable'],
  data() {
    return {
      curMenu: "清单数据",
      currentPage: 1, // 分页相关
      pageSize: 10,
      pageSizeList: [10, 20, 30, 40, 50, 100],
    };
  },
  methods: {
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getData();
    },

    // 切换tab
    changeMenu(item) {
      this.curMenu = item
      this.currentPage = 1;
      this.getData();
    },

    // 跳转
    toDetail(type) {
      if(type == 1) {
        this.$router.push({
          path: '/project/detail',
          query: {
            changeList: true
          }
        })
      } else {
        this.$router.push({
          path: '/project/detail',
          query: {
            changeMachine: true
          }
        })
      }
    },

    // 获取table数据
    getData() {
      this.$emit('getData');
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../styles/variables.scss';
.data-check {
  .tab {
    span {
      width: 110px;
      height: 32px;
      margin-right: 10px;
      font-family: Source Han Sans CN;
      font-weight: 500;
      color: #999999;
      cursor: pointer;

      &:hover {
        background: #3699ff;
        color: #fff;
        box-shadow: 0px 2px 0px 0px rgba(54, 153, 255, 0.3);
        border-radius: 3px;
      }
    }
    span.active {
      background: #3699ff;
      box-shadow: 0px 2px 0px 0px rgba(54, 153, 255, 0.3);
      border-radius: 3px;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .redText{
    color: $color-danger !important;
  }
}
</style>
