<template>
  <div class="material-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input
            class="search-ipt"
            placeholder="搜索关键字，如:材料名称"
            v-model="searchVal"
            @keyup.enter.native="
              currentPage = 1;
              getMatSharePageList();
            "
          />
          <i
            class="el-icon-search"
            @click="
              currentPage = 1;
              getMatSharePageList();
            "
          ></i>
        </div>
        <!-- 分享时间 -->
        <div class="search-type time">
          <div class="flex-c">
            <span class="com-label-text share-time">分享时间：</span>
            <div class="com-time-search">
              <el-date-picker
                v-model="startDate"
                type="date"
                placeholder="选择日期"
                @change="
                  currentPage = 1;
                  getMatSharePageList();
                "
              >
              </el-date-picker>
            </div>
            <span class="com-line"></span>
            <div class="com-time-search">
              <el-date-picker
                v-model="endDate"
                type="date"
                placeholder="选择日期"
                @change="
                  currentPage = 1;
                  getMatSharePageList();
                "
              >
              </el-date-picker>
            </div>
          </div>
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList.length > 0">
            <li
              :class="{ active: curTime == year }"
              v-for="(year, index) in curTimeList"
              :key="index"
              @click="changeCurTime(year)"
            >
              {{ year }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList.length > 0">
            <li
              :class="{ active: curTimeItem == month }"
              v-for="(month, index) in curTimeItemList"
              :key="index"
              @click="changeCurTimeItem(month)"
            >
              {{ month }}月
            </li>
          </ul>
        </div>
      </div>
      <!-- 适用地区 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: provinceName === ''}" @click="changeProvince('','')">全部</li>
            <li
              :class="{active: provinceName == item.name}"
              v-for="(item,index) in provinceList"
              :key="item.id"
              @click="changeProvince(index,item.name)">
              {{item.name}}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="cityList && cityList.length > 0">
            <li :class="{active: cityName == ''}" @click="changeCity('','')">全部</li>
            <li
              :class="{active: cityName == item.name}"
              v-for="(item,index) in cityList"
              :key="item.id"
              @click="changeCity(index,item.name)">
              {{item.name}}
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 分享状态 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">分享状态</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: shareStatus === null }"
              @click="changeCurSharePlat(null)"
            >
              全部
            </li>
            <li
              :class="{ active: shareStatus === 1 }"
              @click="changeCurSharePlat(1)"
            >
              已分享
            </li>
            <li
              :class="{ active: shareStatus === 2 }"
              @click="changeCurSharePlat(2)"
            >
              待提交
            </li>
            <li
              :class="{ active: shareStatus === 3 }"
              @click="changeCurSharePlat(3)"
            >
              审核不通过
            </li>
            <li
              :class="{ active: shareStatus === 4 }"
              @click="changeCurSharePlat(4)"
            >
              待审核
            </li>
          </ul>
        </div>
      </div>
      <!-- 国标分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">国标分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" :class="{ 'is-fold': isFold }">
            <li
              :class="{ active: curNormType == '' }"
              @click="changeNormType('', '')"
            >
              全部
            </li>
            <li
              :class="{ active: curNormType == item.code }"
              v-for="(item, index) in normType"
              :key="index"
              @click="changeNormType(index, item.code)"
            >
              {{ item.name }}
            </li>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="normTypeItem && normTypeItem.length > 0"
          >
            <li
              :class="{ active: curNormTypeItem == '' }"
              @click="changeNormTypeItem('', '')"
            >
              <span class="com-alt">占位符</span>全部
            </li>
            <li
              :class="{ active: curNormTypeItem == item.name }"
              v-for="(item, index) in normTypeItem"
              :key="index"
              @click="changeNormTypeItem(item.name, item.code)"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
        <!-- <span
          class="cp el-icon-arrow-up"
          :class="{ 'is-rotate': isFold }"
          @click="isFold = !isFold"
          v-if="normType && normType.length > 0"
        ></span> -->
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap inquiry">
        <div class="flex-c">
          <el-button
            type="primary"
            class="flex-cc btn"
            @click="showAddShare = true"
          >
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />添加分享
          </el-button>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
        >
          <el-table-column label="材料名称" width="180px">
            <template slot-scope="scope">
              <span
                class="t-color mode-name"
                @click="toShareDetail(scope.row)"
                >{{ scope.row.materialName }}</span
              >
            </template>
          </el-table-column>
          <el-table-column label="材价数量">
            <template slot-scope="scope">
              <span>{{ scope.row.materialCount }}条</span>
            </template>
          </el-table-column>
          <el-table-column prop="applicableDate" label="适用时间">
          </el-table-column>
          <!-- <el-table-column
            label="适用地区">
            <template slot-scope="scope">
              <span v-if="scope.row.applicableProvince">{{scope.row.applicableProvince+' '+scope.row.applicableCity}}</span>
              <span v-else>--</span>
            </template>
          </el-table-column> -->
          <el-table-column prop="subcName" label="国标分类"> </el-table-column>
          <el-table-column label="分享状态">
            <template slot-scope="scope">
              <span class="t-color" v-if="scope.row.shareStatus == '1'"
                >待提交</span
              >
              <span class="t-color" v-if="scope.row.shareStatus == '2'"
                >待审核</span
              >
              <span class="t-color no" v-if="scope.row.shareStatus == '3'"
                >审核不通过</span
              >
              <span class="t-color pass" v-if="scope.row.shareStatus == '4'"
                >已分享</span
              >
            </template>
          </el-table-column>
          <el-table-column label="分享时间" width="280px">
            <template slot-scope="scope">
              <span v-if="scope.row.shareStatus == '4'">{{
                scope.row.shareTime
              }}</span>
              <span v-else>--</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="150px">
            <template slot-scope="scope">
              <div class="flex-c icon-wrap" v-if="scope.row.shareStatus != '2'">
                <el-tooltip
                  effect="light"
                  content="编辑详情"
                  placement="top"
                  v-if="scope.row.shareStatus != '4'"
                >
                  <img
                    class="icons"
                    src="@/assets/img/icons/edits.png"
                    alt=""
                    @click="toShareEdit(scope.row)"
                  />
                </el-tooltip>
                <el-tooltip
                  effect="light"
                  content="删除"
                  placement="top"
                  v-if="scope.row.shareStatus != '4'"
                >
                  <img
                    class="icons"
                    src="@/assets/img/icons/dels.png"
                    alt=""
                    @click="delShare(scope.row.id)"
                  />
                </el-tooltip>
                <el-tooltip
                  effect="light"
                  content="撤回分享"
                  placement="top"
                  v-if="scope.row.shareStatus == '4'"
                >
                  <img
                    class="icons"
                    src="@/assets/img/icons/backs.png"
                    alt=""
                    @click="recallShare(scope.row.id)"
                  />
                </el-tooltip>
                <el-tooltip
                  effect="light"
                  content="审核记录"
                  placement="top"
                  v-if="scope.row.shareStatus != '1'"
                >
                  <img
                    class="icons"
                    src="@/assets/img/icons/examine_icon.png"
                    alt=""
                    @click="shareRecord(scope.row.id)"
                  />
                </el-tooltip>
              </div>
              <div v-else>--</div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>

      <!-- 添加分享弹窗 -->
      <el-dialog
        title="添加分享"
        :visible.sync="showAddShare"
        width="460px"
        class="com-dialog addDialog my-dialog"
        @close="clearinfo"
        :close-on-click-modal="false"
      >
        <div class="com-dialog com-checkbox">
          <div class="flex-c mb-20 times">
            <span class="label-text ipt-text"><span>*</span>适用时间</span>
            <div class="sel-time">
              <el-date-picker
                v-model="shareTime"
                type="month"
                placeholder="请选择年月"
                @change="getMaterialNameList()"
              >
              </el-date-picker>
            </div>
          </div>
          <!-- <div class="flex-c mb-20 ipt-area">
            <span class="label-text ipt-text"><span>*</span>适用地区</span>
            <el-select v-model="shareprovinceName" placeholder="--- 省 ---" @change="changeShareProvince($event)">
              <el-option
                v-for="item in shareprovinceList"
                :key="item.id"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
            <el-select style="margin: 0 10px;" v-model="sharecityName" placeholder="--- 市 ---" @change="getMaterialNameList()">
              <el-option
                v-for="item in sharecityList"
                :key="item.id"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select>
          </div> -->
          <div class="flex-c mb-20 ipt-norm">
            <span class="label-text ipt-text"><span>*</span>材价分类</span>
            <el-select
              v-model="shareType"
              placeholder="请选择"
              @change="changeShareType($event)"
            >
              <el-option
                v-for="item in shareTypeList"
                :key="item.id"
                :label="item.name"
                :value="item.code"
              >
              </el-option>
            </el-select>
            <el-select
              style="margin: 0 10px"
              v-model="shareNormItem"
              placeholder="请选择"
              @change="changeShareTypeItem($event)"
            >
              <el-option
                v-for="item in shareTypeItemList"
                :key="item.id"
                :label="item.name"
                :value="item.code"
              >
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text"><span>*</span>材价名称</span>
            <!-- <el-input v-model="materialName" placeholder="请输入材价名称" /> -->
            <el-select v-model="materialName" filterable placeholder="请选择">
              <el-option
                v-for="(item, index) in matNameList"
                :key="index"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showAddShare = false">取消</el-button>
          <el-button type="primary" @click="submitShare">保存</el-button>
        </span>
      </el-dialog>

      <!-- 删除分享/撤回分享公用弹窗 -->
      <el-dialog
        :title="shareWinType == 1 ? '删除分享' : '撤回分享'"
        :visible.sync="shareDialog"
        width="460px"
        class="com-dialog my-dialog"
        :close-on-click-modal="false"
      >
        <img
          src="@/assets/img/dialog/error.png"
          alt=""
          v-if="shareStutus == 3"
        />
        <img
          src="@/assets/img/dialog/success.png"
          alt=""
          v-if="shareStutus == 2"
        />
        <img
          src="@/assets/img/dialog/confirm.png"
          alt=""
          v-if="shareStutus == 1"
        />
        <p>{{ shareText }}</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="shareDialog = false">取消</el-button>
          <el-button
            type="primary"
            :loading="shareloading"
            @click="confirmShare"
            >确定</el-button
          >
        </span>
      </el-dialog>

      <!-- 审核记录弹窗 -->
      <el-dialog
        title="审核记录"
        :visible.sync="recordDialog"
        width="668px"
        class="com-dialog my-dialog recordDialog"
        :close-on-click-modal="false"
      >
        <div class="box">
          <el-table
            :data="tableRecord"
            tooltip-effect="dark"
            class="table-main"
            style="width: 100%"
            :row-class-name="getRowClassName"
          >
            <el-table-column label="流程操作">
              <template slot-scope="scope">
                <img
                  class="imgs"
                  src="@/assets/img/examine_yes2.png"
                  alt=""
                  v-if="scope.row.auditStatus == 4"
                />
                <img
                  class="imgs"
                  src="@/assets/img/examine_no2.png"
                  alt=""
                  v-if="scope.row.auditStatus == 3"
                />
                <img
                  class="imgs"
                  src="@/assets/img/examine_pend2.png"
                  alt=""
                  v-if="scope.row.auditStatus == 2"
                />
              </template>
            </el-table-column>
            <el-table-column label="操作时间" prop="createTime">
            </el-table-column>
            <el-table-column label="操作员" prop="creator"> </el-table-column>
            <el-table-column type="expand">
              <template slot-scope="scope">
                <div style="120px">
                  <p style="color: #999; text-align: left">审核批注:</p>
                  <p>{{ scope.row.remark }}</p>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="recordDialog = false"
            >确定</el-button
          >
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import {
  getMatSharePageList,
  getMatSubClassify,
  getShareApplicableTime,
  addShareMat,
  delShareMat,
  revokeShareMat,
  getAuditRecord,
} from "@/api/share";
import { getAreaTree, getSubClassifyTree } from "@/api/common";
import { getMaterialNameList } from "@/api/material";
import { formatDate } from "@/utils/common";
export default {
  data() {
    return {
      searchVal: "", // 搜索关键字
      startDate: null, // 分享时间（开始）
      endDate: null, // 分享时间（结束）
      curTimeList: [], // 适用时间列表（年）
      curTimeItemList: [], // 适用时间列表（月）
      curTime: "", // 选择适用时间（年）
      curTimeItem: "", // 选择适用时间（月）
      timeData: [], // 组装的年月数据
      provinceName: "", // 选中的适用地区（省）
      cityName: "", // 选中的适用地区（市）
      provinceList: [], // 省列表（适用地区）
      cityList: [], // 市列表（适用地区）
      shareStatus: null, // 选中的分享状态
      curNormType: "", // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      curNormTypeItem: "", // 选中的国标分类（子项）
      normCode: "", // 国标分类id（调接口用）
      isFold: true, // 国标折叠
      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showAddShare: false, // 显示添加分享弹窗
      shareprovinceList: [], // 添加分享的省列表
      sharecityList: [], // 添加分享的市列表
      matNameList: [], // 添加分享的材料名称列表
      shareprovinceName: "", // 添加分享的省名称
      sharecityName: "", // 添加分享的市名称
      shareTime: "", // 添加分享的适用时间
      materialName: "", // 添加分享的材价名称
      subcid: "", // 添加分享的（二级）国标分类code
      shareType: "", // 选中的国标分类（父项）添加分享
      shareNormItem: "", // 选中的国标分类（子项）
      shareTypeList: [], // 国标分类列表（父项）
      shareTypeItemList: [], // 国标分类列表（子项）
      subcname: "", // 选中的国标分类（父子）名称
      shareDialog: false, // 显示分享公用弹窗
      shareText: "", // 分享公用弹窗文字
      shareStutus: "", // 分享公用弹窗状态（1询问 2成功 3失败）
      shareWinType: "", // 分享公用弹窗类型（1删除 2撤回）
      shareid: "", // 分享id（删除/撤回）
      shareloading: false, // 分享loading（删除/撤回）
      tableRecord: [], // 审核记录表格数据
      recordDialog: false, // 显示审核弹窗
    };
  },

  mounted() {
    this.getMatApplicableTime(); // 适用时间
    this.getAreaTree(); // 获取地区
    setTimeout(() => {
      this.getShareMatList(); // 国标分类（公用接口）
      this.getMatSharePageList(); // 分享材价列表数据
    }, 500);

  },
  methods: {
    // 获取（分享）材价适用时间
    getMatApplicableTime() {
      getShareApplicableTime().then((res) => {
        if (!res.body.endTime) return;
        let startTime = new Date(res.body.startTime);
        let endTime = new Date(res.body.endTime);
        var y = startTime.getFullYear();
        var m = startTime.getMonth() + 1;
        var y2 = endTime.getFullYear();
        var m2 = endTime.getMonth() + 1;
        let time = {}; // {年：[月]}
        let years = [];
        for (let i = y2; i >= y; i--) {
          let timearr = [];
          years.push(i);
          if (i == y) {
            let month = 12;
            if (y == y2) month = m2;
            for (let j = month; j >= m; j--) {
              timearr.push(j);
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j);
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j);
            }
          }
          time[i] = timearr;
        }
        this.timeData = time; // 组装的年月数据
        this.curTimeList = years; // 所有年
        let year = this.$route.query.year || "";
        let month = this.$route.query.month || "";
        if (year && month) {
          // 分享材价后直接跳转本页，显示所带年月
          this.curTime = year;
          this.curTimeItem = month;
          this.curTimeItemList = time[year];
        } else {
          this.curTime = y2; // 默认选最新一年
          this.curTimeItem = time[y2][0]; // 默认选最新一月
          this.curTimeItemList = time[y2]; // 默认显示第一年的月份
        }
      });
    },

    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year; //  选中的年
      this.curTimeItemList = this.timeData[year]; // 月数组
      this.curTimeItem = this.curTimeItemList[0]; //  默认选第一个月
      this.currentPage = 1;
      this.getMatSharePageList();
    },

    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month;
      this.currentPage = 1;
      this.getMatSharePageList();
    },

    // 切换（适用地区）省份
    changeProvince(index, name) {
      if (index === "") {
        this.provinceName = "";
        this.cityName = "";
        this.cityList = [];
      } else {
        for (var i = 0; i < this.provinceList.length; i++) {
          if (this.provinceList[i].name == name) {
            this.provinceName = this.provinceList[i].name;
            this.cityList = this.provinceList[i].sub;
            this.cityName = "";
          }
        }
      }
      this.currentPage = 1;
      this.getMatSharePageList();
    },

    // 切换（适用地区）城市
    changeCity(index, name) {
      if (index === "") {
        this.cityName = "";
      } else {
        for (var i = 0; i < this.cityList.length; i++) {
          if (this.cityList[i].name == name) {
            this.cityName = this.cityList[i].name;
          }
        }
      }
      this.currentPage = 1;
      this.getMatSharePageList();
    },

    // 筛选分享状态
    changeCurSharePlat(type) {
      this.shareStatus = type;
      this.currentPage = 1;
      this.getMatSharePageList();
    },

    // 获取(分享)国标分类
    getMatSubClassify(data) {
      return new Promise((resolve, reject) => {
        getMatSubClassify(data).then((res) => {
          this.curNormType = "";
          this.curNormTypeItem = "";
          this.normCode = "";
          this.normTypeItem = [];
          this.normType = res.body;
          resolve();
        });
      });
    },

    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code;
      this.curNormTypeItem = "";
      this.normCode = code;
      if (index !== "") {
        this.normTypeItem = this.normType[index].sub;
      } else {
        this.normTypeItem = [];
      }
      this.currentPage = 1;
      this.getMatSharePageList("pass");
    },

    // 切换国标分类（子项）
    changeNormTypeItem(name, code) {
      this.curNormTypeItem = name;
      if (code !== "") {
        this.normCode = code;
      } else {
        this.normCode = this.curNormType;
      }
      this.currentPage = 1;
      this.getMatSharePageList("pass");
    },

    // 获取分享列表
    async getMatSharePageList(pass) {
      if (!this.curTime) {
        this.tableLoading = false;
        return;
      }
      this.tableLoading = true;

      var applicableDate = new Date(this.curTime, this.curTimeItem - 1);
      var shareStatus =
        this.shareStatus === null
          ? null
          : this.shareStatus == 1
          ? 4
          : this.shareStatus == 2
          ? 1
          : this.shareStatus == 3
          ? 3
          : 2;
      // （1:待提交，2:待审核,3:审核不通过,4:审核通过）
      var data = {
        isAudit: false, // 是否审核页面
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        applicableDate: applicableDate, // 适用时间(必填)
        applicableProvince: this.provinceName || null,
        applicableCity: this.cityName || null,
        keyword: this.searchVal ? this.searchVal : null,
        shareStartTime: formatDate(this.startDate, "2"),
        shareEndTime: formatDate(this.endDate, "2"),
        shareStatus: shareStatus,
      };

      // 国标分类
      if (!pass) await this.getMatSubClassify(data);

      this.tableData = [];
      data.subcid = this.normCode ? this.normCode : null; // 国标分类id
      getMatSharePageList(data)
        .then((res) => {
          this.tableLoading = false;
          if (res.code == "01") {
            this.tableData = res.body.list;
            this.totalCount = res.body.totalCount;
          } else {
            this.tableLoading = false;
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
        })
        .catch((err) => {
          this.tableLoading = false;
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getMatSharePageList("pass");
    },

    // 获取地区（省，市）
    getAreaTree() {
      getAreaTree().then((res) => {
        if (res.code === "01") {
          this.provinceList = res.body;
          this.shareprovinceList = res.body;
          this.sharecityList = res.body[0].sub;
          this.shareprovinceName = this.shareprovinceList[0].name;
          this.sharecityName = this.sharecityList[0].name;
        }
      });
    },

    // 获取添加分享国标分类
    getShareMatList() {
      getSubClassifyTree().then((res) => {
        try {
          this.shareTypeList = res.body;
          this.shareTypeItemList = res.body[0].sub;
          this.shareType = this.shareTypeList[0].code;
          this.shareNormItem = this.shareTypeItemList[0].code;
          this.subcid = this.shareNormItem;
          this.subcname =
            this.shareTypeList[0].name + ">" + this.shareTypeItemList[0].name;
        } catch (error) {}
      });
    },

    // 获取添加分享材价名称
    getMaterialNameList() {
      this.materialName = "";
      let data = {
        applicableCity: this.sharecityName,
        applicableDate: this.shareTime,
        applicableProvince: this.shareprovinceName,
        subcid: this.subcid,
      };
      getMaterialNameList(data).then((res) => {
        if (res.code === "01") {
          this.matNameList = res.body || [];
        }
      });
    },

    // 添加分享（适用地区）切换省份
    changeShareProvince(name) {
      for (var i = 0; i < this.shareprovinceList.length; i++) {
        if (this.shareprovinceList[i].name == name) {
          this.sharecityList = this.shareprovinceList[i].sub;
          this.sharecityName = this.sharecityList[0].name;
          this.getMaterialNameList(); // 分享材价名称与此联动
        }
      }
    },

    // 添加分享切换国标分类（父项）
    changeShareType(code) {
      for (var i = 0; i < this.shareTypeList.length; i++) {
        if (this.shareTypeList[i].code == code) {
          console.log(111);
          this.shareTypeItemList = this.shareTypeList[i].sub;
          this.shareNormItem = this.shareTypeItemList[0].code;
          this.subcid = this.shareNormItem;
          this.subcname =
            this.shareTypeList[i].name + ">" + this.shareTypeItemList[0].name;
          this.getMaterialNameList(); // 分享材价名称与此联动
        }
      }
    },

    // 添加分享切换国标分类（子项）
    changeShareTypeItem(code) {
      this.shareNormItem = code;
      this.subcid = this.shareNormItem;
      for (var i = 0; i < this.shareTypeItemList.length; i++) {
        if (this.shareTypeItemList[i].code == code) {
          this.subcname =
            this.subcname.split(">")[0] + ">" + this.shareTypeItemList[i].name;
          this.getMaterialNameList(); // 分享材价名称与此联动
        }
      }
    },

    // 关闭分享弹窗清除信息
    clearinfo() {
      // this.sharecityName = ''
      // this.shareprovinceName = ''
      this.shareTime = "";
      this.materialName = "";
      // this.subcid = ''
      this.subcname = "";
    },

    // 提交添加分享
    submitShare() {
      // 校验
      if (!this.shareTime) {
        this.$message({
          type: "error",
          message: "请选择适用时间",
        });
        return;
      }
      //  else if (!this.sharecityName || !this.shareprovinceName ) {
      //   this.$message({
      //     type: 'error',
      //     message: '请选择适用地区'
      //   })
      //   return
      // }
      else if (!this.subcid) {
        this.$message({
          type: "error",
          message: "请选择材价分类",
        });
        return;
      } else if (!this.materialName) {
        this.$message({
          type: "error",
          message: "请选择材料名称",
        });
        return;
      }

      let data = {
        // applicableCity: this.sharecityName,
        applicableDate: this.shareTime,
        // applicableProvince: this.shareprovinceName,
        isFormat: true,
        materialName: this.materialName,
        subcid: this.subcid,
      };
      addShareMat(data).then((res) => {
        if (res.code === "01") {
          this.$message({
            type: "success",
            message: res.message,
          });
          this.showAddShare = false;
          sessionStorage.setItem("share_item", JSON.stringify(res.body));
          setTimeout(() => {
            this.$router.push({
              path: "./shareAdd",
            });
          }, 1000);
        } else {
          this.$message({
            type: "error",
            message: res.message,
          });
        }
      });
    },

    // 分享详情
    toShareDetail(item) {
      sessionStorage.setItem("share_item", JSON.stringify(item));
      this.$router.push({
        path: "/shareManage/shareDetail",
      });
    },

    // 编辑分享
    toShareEdit(item) {
      sessionStorage.setItem("share_item", JSON.stringify(item));
      this.$router.push({
        path: "/shareManage/shareEdit",
      });
    },

    // 删除分享
    delShare(id) {
      this.shareStutus = 1;
      this.shareWinType = 1;
      this.shareid = id || "";
      this.shareText = "你确定要删除分享吗？";
      this.shareDialog = true;
    },

    // 撤回分享
    recallShare(id) {
      this.shareStutus = 1;
      this.shareWinType = 2;
      this.shareid = id || "";
      this.shareText = "你确定要撤回分享吗？";
      this.shareDialog = true;
    },

    // 提交删除/撤回分享
    confirmShare() {
      if (this.shareStutus == 2 || this.shareStutus == 3) {
        this.shareDialog = false;
        return;
      }
      this.shareloading = true;
      let params = {
        shareId: this.shareid,
      };
      if (this.shareWinType == 1) {
        //删除
        delShareMat(params)
          .then((res) => {
            this.shareloading = false;
            if (res.code === "01") {
              // this.shareStutus = 2
              // this.shareText = res.message || '删除成功！'
              this.shareDialog = false;
              this.$message({
                type: "success",
                message: res.message || "删除成功！",
              });
              this.currentPage = 1;
              // this.getMatApplicableTime() // 适用时间
              setTimeout(() => {
                this.getMatSharePageList();
              }, 800);
            } else {
              this.shareStutus = 3;
              this.shareText = res.message || "删除失败！";
            }
          })
          .catch((err) => {
            this.shareloading = false;
            this.shareStutus = 3;
            this.shareText = err.message || "删除失败！";
          });
      } else if (this.shareWinType == 2) {
        // 撤回
        revokeShareMat(params)
          .then((res) => {
            this.shareloading = false;
            if (res.code === "01") {
              // this.shareStutus = 2
              // this.shareText = res.message || '撤回成功！'
              this.shareDialog = false;
              this.$message({
                type: "success",
                message: res.message || "撤回成功！",
              });
              this.currentPage = 1;
              this.getMatSharePageList("pass");
            } else {
              this.shareStutus = 3;
              this.shareText = res.message || "撤回失败！";
            }
          })
          .catch((err) => {
            this.shareloading = false;
            this.shareStutus = 3;
            this.shareText = err.message || "撤回失败！";
          });
      }
    },

    // 控制展开审核批注样式
    getRowClassName({ row, rowIndex }) {
      if (!row.remark) {
        return "row-expand-cover";
      }
    },

    // 审核记录
    shareRecord(id) {
      getAuditRecord({ shareId: id })
        .then((res) => {
          if (res.code === "01") {
            this.tableRecord = res.body;
            this.recordDialog = true;
          } else {
            this.$message({
              type: "error",
              message: res.message,
            });
          }
        })
        .catch((err) => {
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.material-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;
  .screen {
    padding: 0 21px 5px;
    background: #ffffff;
    border-top: 1px solid #f6f6f6;
    .top {
      padding: 0;
      // border-top: 1px solid #f6f6f6;
      .time {
        padding: 20px;
        .share-time {
          font-weight: 400;
          min-width: 60px;
          white-space: nowrap;
        }
      }
    }
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        max-height: 50px;
        overflow-y: hidden;
      }
    }
  }
  // 表格
  .detail-table {
    margin-top: 18px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    .inquiry {
      background: #fcfcfd;
      .right-btns {
        color: #333333;
        font-size: 16px;
        > div {
          cursor: pointer;
          margin-left: 31px;
          font-family: "mainfont";
          white-space: nowrap;
          .icons {
            margin-right: 4px;
          }
          .imgs {
            width: 14px;
            height: 14px;
            margin-right: 6px;
            margin-left: 16px;
          }
        }
      }
      .tips {
        width: 23px;
        height: 23px;
        margin: 0 20px 6px 8px;
      }
      .btn {
        width: 112px;
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-size: 15px;
        font-family: "mainfont";
        font-weight: 500;
        &:hover {
          border: 1px solid;
        }
        .el-icon-search {
          margin-right: 5px;
        }
      }
    }
    .table-box {
      padding-bottom: 30px;
      .mode-name {
        cursor: pointer;
        color: $color-primary;
      }
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .yes {
        color: $color-primary;
      }
      .no {
        color: $color-danger;
      }
      .pass {
        color: #1eb645;
      }
      .wrap {
        width: 166px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .mode-name {
        cursor: pointer;
        color: $color-primary;
        text-align: left;
        > div {
          min-width: 100px;
        }
      }
      .faster-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }
      .files {
        max-width: 65%;
        min-width: 380px;
        .file-box {
          width: 100%;
          flex-wrap: wrap;
          .fileitem {
            margin-right: 6px;
            margin-bottom: 4px;
            .file-img {
              width: 21px;
              height: 20px;
            }
            .file-name {
              margin: 0 25px 0 7px;
              width: 81px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              font-family: "mainfont";
            }
          }
        }
      }
    }
    .recordDialog {
      &::v-deep .el-dialog {
        height: 460px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .el-dialog__body {
          flex: 1;
          overflow-y: auto;
          padding-top: 4px;
        }
      }
      .imgs {
        width: 58px;
      }
    }
  }
}
</style>

<style lang="scss">
.material-container {
  .flex-cw {
    padding: 2px 0;
    border-bottom: 1px solid #f3f3f4;
  }
  .com-label-text {
    padding: 2px 0;
  }
  .is-fold {
    border-bottom: none;
  }
  .top {
    padding: 0;
    .com-search2 {
      // width: 420px;
      border-radius: 20px;
      .el-input__inner {
        // width: 380px;
      }
    }
  }
  .inquiry {
    .btn {
      > span {
        display: flex;
        align-items: center;
      }
    }
  }
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
  .addDialog {
    .el-dialog__header {
      background: #ffffff;
    }
    .el-dialog__body {
      padding: 4px 20px 0;
    }
    .ipt-norm {
      .el-input__inner {
        width: 147px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .el-input__suffix {
      right: 5px !important;
    }
  }
  .el-dialog {
    .ipt-text {
      text-align: right;
      min-width: 65px;
      max-width: 80px;
      margin-right: 10px;
      color: #999999;
    }
  }
  .times {
    .el-input__suffix {
      top: 1px !important;
      right: 30px !important;
    }
  }
}
.row-expand-cover .el-table__expand-icon {
  visibility: hidden;
}
</style>
