<template>
  <div class="add-role">
    <div class="r-top pb-0">
      <div class="add-role-item">添加角色</div>
      <div class="r-name">
        <span class="r-label "><span class="r-color">*</span>角色名称</span>
        <el-input v-model="roleName" placeholder="请输入角色名称" />
      </div>
      <div class="r-name">
        <span class="r-label"><span class="com-alt">*</span>角色状态</span>
        <el-radio v-model="roleStatus" label="1">启用</el-radio>
        <el-radio v-model="roleStatus" label="0">禁用</el-radio>
      </div>
      <div class="flex-fs r-mark">
        <span class="mt-8 r-label"><span class="com-alt">*</span>角色说明</span>
        <el-input v-model="roleRemark" type="textarea" :rows="3" placeholder="请输入备注说明" />
      </div>
    </div>

    <div class="r-wrap">
      <span class="r-label gray"><span class="r-color">*</span>功能权限</span>
      <!-- <el-tabs v-model="activeName" @tab-click="handleClick"> -->
      <el-tabs v-model="activeName">
        <el-tab-pane label="材价大数据" name="first" />
        <el-tab-pane label="房地产分析系统" name="second" />
        <el-tab-pane label="通用功能" name="third" />
      </el-tabs>
      <!-- 材价大数据 -->
      <!-- <template v-if="activeName==='first'"> -->
      <div v-show="activeName==='first'">
        <div class="is-all ml-30">
          <el-checkbox v-model="isAllmpc" @change="checkedAll1" />
          <span class="ml-10">全部权限</span>
        </div>
        <div class="s-content">
          <el-tree ref="treeMpc" :data="mpcMenuList" show-checkbox default-expand-all node-key="id" :expand-on-click-node="false" :props="defaultProps" @check="handleCheckChange1" />
        </div>
      </div>
      <!-- </template> -->
      <!-- 房地产分析系统 -->
      <!-- <template v-if="activeName==='second'"> -->
      <div v-show="activeName==='second'">
        <div class="is-all ml-30">
          <el-checkbox v-model="isAllpermission" @change="checkedAll2" />
          <span class="ml-10">全部权限</span>
        </div>
        <div class="s-content">
          <el-tree ref="treePermission" :data="permissionList" show-checkbox default-expand-all node-key="id" :expand-on-click-node="false" :props="defaultProps" @check="handleCheckChange2" />
        </div>
      </div>
      <!-- </template> -->
      <!-- 通用功能 -->
      <!-- <template v-if="activeName==='third'"> -->
      <div v-show="activeName==='third'">
        <div class="is-all ml-30">
          <el-checkbox v-model="isAllcommon" @change="checkedAll3" />
          <span class="ml-10">全部权限</span>
        </div>
        <div class="s-content">
          <el-tree ref="treeCommon" :data="commonMenuList" show-checkbox default-expand-all node-key="id" :expand-on-click-node="false" :props="defaultProps" @check="handleCheckChange3" />
        </div>
      </div>
      <!-- </template> -->

    </div>
    <div class="dialog-footer save-btn flex-cc">
      <el-button class="mt-20" type="primary" @click="updateRolesConfig">保存</el-button>
    </div>
  </div>
</template>

<script>
import { getRoleInfo, addOrUpdateRole } from '@/api/user'
import { getMenuTree, getMpcMenuTree, getCommonMenuTree } from '@/api/menu'
export default {
  name: 'AddRole',
  data() {
    return {
      activeName: 'first',
      radio: '1',
      roleId: '', // 角色id
      roleName: '', // 当前角色名
      roleRemark: '', // 角色备注
      // allMenuId: [], // 全部权限id
      mpcAllMenuId: [],
      permissionAllMenuId: [],
      commonAllMenuId: [],
      mpcMenuList: [], // 材价大数据
      permissionList: [], // 房地产分析系统
      commonMenuList: [], // 通用功能
      isAllmpc: false,
      isAllpermission: false,
      isAllcommon: false,
      checkedIdmpc: [], // 选中的配置id
      checkedIdpermission: [],
      checkedIdcommon: [],
      saveLoading: false,
      roleStatus: '1', // 角色1启用/0禁用
      defaultProps: {
        children: 'subList',
        label: 'menuName'
      },
      defaultProps2: {
        children: 'subList',
        label: 'menuName'
      },

      checkedId3: [],
      isAll: false // 是否拥有全部权限房地产分析系统
    }
  },

  mounted() {
    this.roleId = this.$route.query.id || ''
    this.getRolesConfig()
    this.getMpcMenuTree()
    this.getMenuTree()
    this.getCommonMenuTree()
  },

  methods: {
    getMpcMenuTree() {
      getMpcMenuTree().then(res => {
        if (res.code === '01') {
          if (res.body && res.body.length > 0) {
            this.mpcAllMenuId = []
            this.addId1(res.body)
            // this.addIdCopy(res.body, 'mpc')
            this.mpcMenuList = res.body
            this.$nextTick(() => {
              const nodes = []
              this.checkedIdmpc.forEach(item => {
                const node = this.$refs.treeMpc.getNode(item)
                if (node?.isLeaf) {
                  // 关键，过滤掉不是叶子节点的
                  nodes.push(item)
                }
              })
              this.$refs.treeMpc.setCheckedKeys(nodes, true)
            })
          }
          this.hasAllPermission1()
        }
      })
    },
    // 权限列表
    getMenuTree() {
      getMenuTree().then(res => {
        if (res.code === '01') {
          if (res.body && res.body.length > 0) {
            this.permissionAllMenuId = []
            this.addId2(res.body)
            // this.addIdCopy(res.body, 'permission')
            this.permissionList = res.body
            this.$nextTick(() => {
              const nodes = []
              this.checkedIdpermission.forEach(item => {
                const node = this.$refs.treePermission.getNode(item)
                if (node?.isLeaf) {
                  // 关键，过滤掉不是叶子节点的
                  nodes.push(item)
                }
              })
              this.$refs.treePermission.setCheckedKeys(nodes, true)
            })
          }
          this.hasAllPermission2()
        }
      })
    },
    getCommonMenuTree() {
      getCommonMenuTree().then(res => {
        if (res.code === '01') {
          if (res.body && res.body.length > 0) {
            this.commonAllMenuId = []
            this.addId3(res.body)
            // this.addIdCopy(res.body, 'common')
            this.commonMenuList = res.body
            this.$nextTick(() => {
              const nodes = []
              this.checkedIdcommon.forEach(item => {
                const node = this.$refs.treeCommon.getNode(item)
                if (node?.isLeaf) {
                  // 关键，过滤掉不是叶子节点的
                  nodes.push(item)
                }
              })
              this.$refs.treeCommon.setCheckedKeys(nodes, true)
            })
          }
          this.hasAllPermission3()
        }
      })
    },

    handleCheckChange1() {
      this.checkedIdmpc = this.$refs.treeMpc.getCheckedKeys()
      this.hasAllPermission1()
      // this.hasAllPermission(this.checkedIdmpc, this.mpcAllMenuId)
    },
    handleCheckChange2() {
      this.checkedIdpermission = this.$refs.treePermission.getCheckedKeys()
      // this.hasAllPermission(this.checkedIdpermission, this.permissionAllMenuId)
      this.hasAllPermission2()
    },
    handleCheckChange3() {
      this.checkedIdcommon = this.$refs.treeCommon.getCheckedKeys()
      // this.hasAllPermission(this.checkedIdcommon, this.commonAllMenuId)
      this.hasAllPermission3()
    },
    // // 全部权限id
    // addIdCopy(item, type) {
    //   this.allMenuId = []
    //   this.addId(item, type)
    //   if (type === 'mpc') {
    //     this.mpcAllMenuId = this.allMenuId
    //   } else if (type === 'permission') {
    //     this.permissionAllMenuId = this.allMenuId
    //   } else {
    //     this.commonAllMenuId = this.allMenuId
    //   }
    //   this.allMenuId = []
    // },
    // addId(item, type) {
    //   for (var i = 0; i < item.length; i++) {
    //     this.allMenuId.push(+item[i].id)
    //     if (item[i].subList) this.addId(item[i].subList)
    //   }
    // },
    // 全部权限id
    addId1(item) {
      for (var i = 0; i < item.length; i++) {
        this.mpcAllMenuId.push(+item[i].id)
        if (item[i].subList) this.addId1(item[i].subList)
      }
    },
    // 全部权限id
    addId2(item) {
      for (var i = 0; i < item.length; i++) {
        this.permissionAllMenuId.push(+item[i].id)
        if (item[i].subList) this.addId2(item[i].subList)
      }
    },
    // 全部权限id
    addId3(item) {
      for (var i = 0; i < item.length; i++) {
        this.commonAllMenuId.push(+item[i].id)
        if (item[i].subList) this.addId3(item[i].subList)
      }
    },

    // 获取角色配置
    getRolesConfig() {
      var params = {
        roleId: this.roleId
      }
      getRoleInfo(params).then(res => {
        if (res.code === '01') {
          // try {
          this.roleName = res.body.roleName || ''
          this.roleRemark = res.body.roleRemark || ''
          this.roleStatus = res.body.roleStatus + '' || '1'
          this.checkedIdpermission = res.body.menuIds
            ? res.body.menuIds.split(',').map(Number)
            : []
          this.checkedIdmpc = res.body.mpcMenuIds
            ? res.body.mpcMenuIds.split(',').map(Number)
            : []
          this.checkedIdcommon = res.body.commonMenuIds
            ? res.body.commonMenuIds.split(',').map(Number)
            : []
          // } catch (err) {}
        }
        this.getMpcMenuTree()
      })
    },

    // 判断是否拥有全部权限
    hasAllPermission1() {
      if (
        this.mpcAllMenuId.length > this.checkedIdmpc.length ||
        this.mpcAllMenuId.length === 0
      ) {
        this.isAllmpc = false
        return
      }
      for (var i = 0; i < this.mpcAllMenuId.length; i++) {
        if (this.checkedIdmpc.indexOf(this.mpcAllMenuId[i]) === -1) {
          this.isAllmpc = false
          return
        }
      }
      this.isAllmpc = true
    },

    // 判断是否拥有全部权限
    hasAllPermission2() {
      if (
        this.permissionAllMenuId.length > this.checkedIdpermission.length ||
        this.permissionAllMenuId.length === 0
      ) {
        this.isAllpermission = false
        return
      }
      for (var i = 0; i < this.permissionAllMenuId.length; i++) {
        if (
          this.checkedIdpermission.indexOf(this.permissionAllMenuId[i]) === -1
        ) {
          this.isAllpermission = false
          return
        }
      }
      this.isAllpermission = true
    },
    // 判断是否拥有全部权限
    hasAllPermission3() {
      if (
        this.commonAllMenuId.length > this.checkedIdcommon.length ||
        this.commonAllMenuId.length === 0
      ) {
        this.isAllcommon = false
        return
      }
      for (var i = 0; i < this.commonAllMenuId.length; i++) {
        if (this.checkedIdcommon.indexOf(this.commonAllMenuId[i]) === -1) {
          this.isAllcommon = false
          return
        }
      }
      this.isAllcommon = true
    },

    // 选择/反选全部权限
    checkedAll1(e) {
      if (e) {
        // 全选
        this.$nextTick(() => {
          this.$refs.treeMpc.setCheckedNodes(this.mpcMenuList)
        })
      } else {
        // 取消选中
        this.$nextTick(() => {
          this.$refs.treeMpc.setCheckedKeys([])
        })
      }
    },
    // 选择/反选全部权限
    checkedAll2(e) {
      if (e) {
        // 全选
        this.$nextTick(() => {
          this.$refs.treePermission.setCheckedNodes(this.permissionList)
        })
      } else {
        // 取消选中
        this.$nextTick(() => {
          this.$refs.treePermission.setCheckedKeys([])
        })
      }
    },
    // 选择/反选全部权限
    checkedAll3(e) {
      if (e) {
        // 全选
        this.$nextTick(() => {
          this.$refs.treeCommon.setCheckedNodes(this.commonMenuList)
        })
      } else {
        // 取消选中
        this.$nextTick(() => {
          this.$refs.treeCommon.setCheckedKeys([])
        })
      }
    },
    // 新增或更新角色
    updateRolesConfig() {
      if (this.activeName === 'first') {
        this.checkedIdmpc = this.$refs.treeMpc
          .getCheckedKeys()
          .concat(this.$refs.treeMpc.getHalfCheckedKeys())
      }
      if (this.activeName === 'second') {
        this.checkedIdpermission = this.$refs.treePermission
          .getCheckedKeys()
          .concat(this.$refs.treePermission.getHalfCheckedKeys())
      }
      if (this.activeName === 'third') {
        this.checkedIdcommon = this.$refs.treeCommon
          .getCheckedKeys()
          .concat(this.$refs.treeCommon.getHalfCheckedKeys())
      }

      if (!this.roleName) {
        this.$message({
          type: 'error',
          message: '请输入角色名称'
        })
        return
      }
      if (this.roleName.length > 20) {
        this.$message({
          type: 'error',
          message: '角色名称不能超过20个字符'
        })
        return
      }
      if (
        this.checkedIdcommon.length === 0 &&
        this.checkedIdpermission.length === 0 &&
        this.checkedIdmpc.length === 0
      ) {
        this.$message({
          type: 'error',
          message: '请勾选角色权限'
        })
        return
      }

      const data = {
        roleName: this.roleName,
        remark: this.roleRemark,
        commonMenuIds: this.checkedIdcommon.join(','),
        mpcMenuIds: this.checkedIdmpc.join(','),
        menuIds: this.checkedIdpermission.join(','),
        roleStatus: this.roleStatus
      }
      if (this.roleId) {
        (data.id = this.roleId), (this.saveLoading = true)
      }
      addOrUpdateRole(data)
        .then(res => {
          this.saveLoading = false
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            // 返回权限管理
            setTimeout(() => {
              this.$router.push({
                path: '/rolePermission/index',
                query: {
                  permission: true
                }
              })
            }, 1500)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.saveLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.add-role {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  .r-top {
    padding: 30px 21px;
    width: 100%;
    background: #fff;
    .r-label {
      margin-right: 12px;
      color: #999999;
      font-size: 14px;
      white-space: nowrap;
    }
    .r-name {
      padding-left: 7px;
      margin-bottom: 20px;
      /deep/ .el-input__inner {
        width: 310px;
        height: 32px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
      }
    }
  }
  .r-wrap {
    padding: 28px 22px;
    background: #fff;
    .s-label {
      margin-bottom: 38px;
      color: #333;
      font-size: 14px;
      font-weight: bold;
    }
    .is-all {
      color: #333;
      font-size: 14px;
    }
    .s-content {
      margin-top: 10px;
      border: 1px solid #d9e4e9;
      border-bottom: 0px;
      .el-table__body-wrapper {
        ul {
          line-height: 36px;
          &.s-item li {
            margin-left: 42px;
          }
        }
        .fun-wrap {
          padding-left: 30px;
          box-sizing: content-box;
          li {
            margin-right: 10px;
            width: 140px;
          }
        }
      }
    }
  }
}
.add-role-item {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #333333;
}
/deep/.el-tabs__nav {
  margin-left: 36px;
  .el-tabs__item {
    padding: 0 40px;
  }
}

/deep/.el-tree-node__content {
  width: 220px !important;
  float: left !important;
  padding-left: 20px !important;
  // margin-left: 10px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.el-tree > div {
  margin: 30px 0 !important;
}

.el-tree-node.is-current > .el-tree-node__content:hover {
  background: #fff !important;
}

.el-tree-node__content:hover {
  /* background: #fff !important; */
}

/deep/.el-tree-node__expand-icon.is-leaf {
  display: none;
}

/deep/.el-tree-node__expand-icon.expanded {
  display: none;
}

.el-tree > div {
  margin: 10px 0 !important;
  background: #fff !important;
}

.el-tree-node.is-current > .el-tree-node__content:hover {
  background: #fff !important;
}

/deep/.el-tree > div {
  // padding: 5px 0 !important;
  height: auto;
  overflow: hidden;
  background: RGBA(250, 251, 252, 1) !important;
  border-bottom: #d9e4e9 solid 1px;
}

/* .el-tree-node.is-current>.el-tree-node__content:hover {
    background: #fff !important;
  } */

/deep/.el-tree-node__children {
  border-left: #d9e4e9 solid 1px;
}

/deep/.el-tree-node:hover {
  background: #f5f7fa !important;
}
/deep/.el-tree-node {
  display: flex;
}
</style>
<style lang="scss">
@import '@/styles/variables.scss';
.add-role {
  .r-name {
    .el-input {
      width: 100px;
      height: 34px;
    }
    .el-input__inner {
      height: 34px;
      line-height: 34px;
      border: 1px solid #b9c6dc;
      &:focus {
        border-color: $color-primary;
      }
    }
  }
  .r-mark {
    padding-left: 7px;
    .el-textarea__inner {
      resize: none;
      width: 310px;
      border: 1px solid #b9c6dc;
      &:focus {
        border-color: $color-primary;
      }
    }
  }
  .is-all {
    .el-checkbox__inner {
      border-radius: 4px;
      background: #f4f4f4;
      border: 0;
      width: 18px;
      height: 18px;
      &:after {
        border: 2px solid $color-primary;
        border-left: 0;
        border-top: 0;
        top: 3px;
        left: 6px;
      }
    }
  }
  .s-content {
    .el-table__header .has-gutter th {
      background: #f4f4f4;
      color: #999;
      border: none;
      &.el-table_1_column_3 .cell {
        margin-left: 50px;
        border: 1px solid #f0f0f0;
      }
    }
    .el-table th > .cell {
      margin-left: 42px;
    }
    .el-table .el-checkbox__inner {
      border-radius: 4px;
      background: #f4f4f4;
      border: 0;
    }
    .el-table .el-checkbox__inner::after {
      border: 2px solid $color-primary;
      border-left: 0;
      border-top: 0;
    }
    .el-checkbox {
      margin-right: 8px;
    }
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background: #fff !important;
    }
  }
}
</style>
