<template>
  <div class="dashboard-container">
    <!-- 头部标题 -->
    <header class="dashboard-header">
      <i class="dashboard-header-l-iocn-i">
        <img  class="dashboard-header-l-iocn" src="@/assets/img/icons/dashboard-header-l-iocn.png">
      </i>
      <title class="dashboard-header-title">材价上报平台</title>
      <i class="dashboard-header-r-iocn-i">
        <img class="dashboard-header-r-iocn" src="@/assets/img/icons/dashboard-header-r-iocn.png">
      </i>
    </header>
    <!-- 头部标题 end-->
    <!--内容-->
    <div class="dashboard-main">
      <div class="dashboard-function-box">
        <div class="dashboard-function-box-list">
          <!-- 企业信息 -->
          <div class="dashboard-function-box-item enterprise-information">
            <img  class="dashboard-function-box-item-iocn enterprise-information-iocn" src="@/assets/img/icons/dashboard-header-l-iocn.png">
            <title class="dashboard-function-box-item-title">企业信息</title>
            <i class="dashboard-function-box-item-line"></i>
            <el-button class="dashboard-function-box-item-button" type="primary" @click="skipPage('/uploadMaterial/index')">点击进入</el-button>
          </div>
          <!-- 企业信息 end-->

          <!-- 上传材价 -->
          <div class="dashboard-function-box-item upload-material-price">
            <img  class="dashboard-function-box-item-iocn upload-material-price-iocn" src="@/assets/img/icons/dashboard-header-l-iocn.png">
            <title class="dashboard-function-box-item-title" >上传材价 </title>
            <i class="dashboard-function-box-item-line"></i>
            <el-button class="dashboard-function-box-item-button" type="primary" @click="skipPage('/uploadMaterial/index')">点击进入</el-button>
          </div>
          <!-- 上传材价 end-->

          <!-- 上传记录 -->
          <div class="dashboard-function-box-item upload-record">
            <img  class="dashboard-function-box-item-iocn upload-record-iocn" src="@/assets/img/icons/dashboard-header-l-iocn.png">
            <title class="dashboard-function-box-item-title">上传材价 </title>
            <i class="dashboard-function-box-item-line"></i>
            <el-button class="dashboard-function-box-item-button" type="primary" @click="skipPage('/uploadRecord/index')">点击进入</el-button>
          </div>
           <!-- 上传记录 end-->
        </div>
        <!-- dashboard-function-box-list end-->
      </div>
      <!-- dashboard-function-box end-->
    </div>
    <!-- dashboard-main end-->
    <!--内容 end-->
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  methods: {
    skipPage(path) {
      this.$router.push(path)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-container{
  .dashboard-header{  
    display:flex;
    align-items:center;
    justify-content:center;
    height:36px;
    margin:49px 0 60px 0;
    .dashboard-header-title{   
      display: block;
      height: 36px;
      line-height:36px;
      font-size:36px;
      font-family: YouSheBiaoTiHei;
      font-weight: 600;
      color: #333333;
      margin: 0 9px;
    }
    .dashboard-header-l-iocn-i{
      width:37px;
      height:34px;
      .dashboard-header-l-iocn{
        width: 100%;
        height:100%;
      }
    }
    .dashboard-header-r-iocn-i{
      width:37px;
      height:34px;
      .dashboard-header-r-iocn{
        width: 100%;
        height:100%;
      }
    }
  }
  .dashboard-main{
    padding: 0 30px 0;
    .dashboard-function-box{
      .dashboard-function-box-list{
        display: flex;
        align-items:center;
        .dashboard-function-box-item{
          width: 32.65%;
          margin-left:1%;
          display:flex;
          align-items:center;
          justify-content:center;
          flex-direction:column;
          color: #ffff;

          background: linear-gradient(40deg, #459FD8 0%, #33C7F2 100%);
          box-shadow: 0px 12px 20px 0px rgba(9, 0, 48, 0.3);
          border-radius: 10px;       
        }
        .dashboard-function-box-item:first-child{
          margin-left:0%;
          background: linear-gradient(40deg, #3FB7C5 0%, #2DD2C4 100%);
          box-shadow: 0px 12px 20px 0px rgba(9, 0, 48, 0.3);  
        }
        .dashboard-function-box-item-title{
          display: block;
          height: 38px;
          font-size: 38px;
          font-family: YouSheBiaoTiHei;
          font-weight: 600;
          color: #FFFFFF;
          line-height:38px;
          text-shadow: 0px 5px 7px rgba(9, 0, 48, 0.3);
        }
        .dashboard-function-box-item-line{
          width: 46px;
          height: 6px;
          margin-top: 9px;
          background: #FFFFFF;
        }
        .dashboard-function-box-item-iocn{
          /* margin-top:100px;
          margin-bottom: 95px; */
          
        }
        .enterprise-information-iocn{
          width: 272px;
          height: 249px;
          margin-top:99px;
          margin-bottom: 92px;
        }
        .upload-material-price-iocn{
          width: 271px;
          height: 239px;
          margin-top:104px;
          margin-bottom: 98px;
        }
        .upload-record-iocn{
          width: 274px;
          height: 259px;
          margin-top:94px;
          margin-bottom: 87px;
        }
        .dashboard-function-box-item-button{
          width: 172px;
          height: 46px;     
          font-size: 16px;
          margin: 50px 0 68px 0;
          font-family: Microsoft YaHei;
          background: rgba(255, 255, 255, 0);
          border: 1px solid #FFFFFF;
          box-shadow: 0px 5px 10px 0px rgba(9, 0, 48, 0.2);
          border-radius: 5px;
        }
      }
    }
  }
}
</style>
