<template>
  <div class="dashboard-container">
    <!-- 头部标题 -->
    <header class="dashboard-header">
      <i class="dashboard-header-l-iocn-i">
        <img class="dashboard-header-l-iocn" src="@/assets/img/icons/dashboard-header-l-iocn.png">
      </i>
      <title class="dashboard-header-title">材价上报平台</title>
      <!-- <title class="dashboard-header-title">采集员平台</title> -->
      <i class="dashboard-header-r-iocn-i">
        <img class="dashboard-header-r-iocn" src="@/assets/img/icons/dashboard-header-r-iocn.png">
      </i>
    </header>
    <!-- 头部标题 end-->
    <!--内容-->
    <div class="dashboard-main">
      <div class="dashboard-function-box">
        <div class="dashboard-function-box-list">
          <!-- 企业信息 -->
          <div class="dashboard-function-box-item " @click="skipPage('/companyInfo/index')">
            <!-- <img class="dashboard-function-box-item-iocn enterprise-information-iocn" src="@/assets/img/icons/enterprise-information-iocn.png"> -->
            <img class="dashboard-function-box-item-iocn " src="@/assets/img/icons/enterprise_information.png">
            <img class="shade" src="@/assets/img/icons/enterprise_information_click.png">
            <!-- <el-button class="dashboard-function-box-item-button" type="primary" @click="skipPage('/companyInfo/index')">点击进入</el-button> -->
          </div>
          <!-- 企业信息 end-->

          <!-- 上传材价 -->
          <div class="dashboard-function-box-item" @click="skipPage('/uploadMaterial/index')">
            <!-- <img class="dashboard-function-box-item-iocn upload-material-price-iocn" src="@/assets/img/icons/upload-material-price-iocn.png"> -->
            <img class="dashboard-function-box-item-iocn " src="@/assets/img/icons/uploading_price.png">
            <img class="shade" src="@/assets/img/icons/uploading_price_click.png">
            <!-- <el-button class="dashboard-function-box-item-button" type="primary" @click="skipPage('/uploadMaterial/index')">点击进入</el-button> -->
          </div>
          <!-- 上传材价 end-->

          <!-- 上传记录 -->
          <!-- <div class="dashboard-function-box-item upload-record">
            <img  class="dashboard-function-box-item-iocn upload-record-iocn" src="@/assets/img/icons/upload-record-iocn.png">
            <el-button class="dashboard-function-box-item-button" type="primary" @click="skipPage('/uploadRecord/index')">点击进入</el-button>
          </div> -->
          <!-- 上传记录 end-->
        </div>
        <!-- dashboard-function-box-list end-->
      </div>
      <!-- dashboard-function-box end-->
    </div>
    <!-- dashboard-main end-->

    <!--内容 end-->
    <!-- 尾部 -->
    <footer class="dashboard-footer">
      <div>中华人民共和国国家标准《建设工程人工材料设备机械数据标准》参编单位和数据提供方</div>
      <div>2020广东中建普联科技股份有限公司 版权所有 技术支持：造价通 400-888-9639</div>
    </footer>
    <!-- 尾部 end-->
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  methods: {
    skipPage(path) {
      this.$router.push(path)
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-container {
  margin: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  border-radius: 6px;
  .dashboard-header {
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    // padding: 49px 0 55px 0;
    .dashboard-header-title {
      display: block;
      height: 36px;
      line-height: 36px;
      font-size: 36px;
      font-family: YouSheBiaoTiHei;
      font-weight: 600;
      color: #333333;
      margin: 0 9px;
    }
    .dashboard-header-l-iocn-i {
      width: 37px;
      height: 34px;
      .dashboard-header-l-iocn {
        width: 100%;
        height: 100%;
      }
    }
    .dashboard-header-r-iocn-i {
      width: 37px;
      height: 34px;
      .dashboard-header-r-iocn {
        width: 100%;
        height: 100%;
      }
    }
  }
  .dashboard-main {
    padding: 10% 1%;
    padding-top: 4%;
    .dashboard-function-box {
      .dashboard-function-box-list {
        display: flex;
        align-items: center;
        justify-content: center;
        .dashboard-function-box-item {
          position: relative;
          /* width: 32.65%; */
          // width: 33.33%;
          margin-right: 2%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #ffff;
          /* background: linear-gradient(40deg, #459FD8 0%, #33C7F2 100%);
          box-shadow: 0px 12px 20px 0px rgba(9, 0, 48, 0.3); */
          border-radius: 10px;

          img {
            z-index: 3;
            cursor: pointer;
          }
          &:hover {
            .shade {
              display: inline-block;
            }
          }
          .shade {
            display: none;
            position: absolute;
            bottom: -50px;
            opacity: 0.5;
          }
        }
        .dashboard-function-box-item:first-child {
          margin-left: 0%;
          /* background: linear-gradient(40deg, #3FB7C5 0%, #2DD2C4 100%);
          box-shadow: 0px 12px 20px 0px rgba(9, 0, 48, 0.3);   */
        }
        .dashboard-function-box-item-iocn {
          position: relative;
          width: 100%;
          height: auto;
        }
        .dashboard-function-box-item-button {
          position: absolute;
          width: 28.55%;
          height: auto;
          font-size: 16px;
          bottom: 13.5%;
          /* margin: 50px 0 68px 0; */
          font-family: Microsoft YaHei;
          background: rgba(255, 255, 255, 0);
          border: 1px solid #ffffff;
          box-shadow: 0px 5px 10px 0px rgba(9, 0, 48, 0.2);
          border-radius: 5px;
        }
      }
    }
  }
  .dashboard-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 36px;
    padding: 70px 0 52px 0;
    font-size: 12px;
    font-family: Microsoft YaHei;
    color: #96a5bd;
    line-height: 23px;
  }
}
</style>
