<template>
  <div class="material-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input class="search-ipt" placeholder="搜索关键字，如:规格" v-model="searchVal" @keyup.enter.native="currentPage=1;getMatSharePageList();" />
          <i class="el-icon-search" @click="currentPage=1;getMatSharePageList();"></i>
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList.length > 0">
            <li
              :class="{active: curTime == year}"
              v-for="(year, index) in curTimeList"
              :key="index"
              @click="changeCurTime(year)">
              {{year}}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList.length > 0">
            <li
              :class="{active: curTimeItem == month}"
              v-for="(month, index) in curTimeItemList"
              :key="index"
              @click="changeCurTimeItem(month)">
              {{month}}月
            </li>
          </ul>
        </div>
      </div>
      <!-- 审核状态 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">审核状态</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: examineStatus === null}" @click="changeCurSharePlat(null)">全部</li>
            <li :class="{active: examineStatus === 2}" @click="changeCurSharePlat(2)">待审核</li>
            <li :class="{active: examineStatus === 4}" @click="changeCurSharePlat(4)">审核通过</li>
          </ul>
        </div>
      </div>
      <!-- 材价地区 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">材价地区</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: provinceName === ''}" @click="changeProvince('','')">全部</li>
            <li
              :class="{active: provinceName == item.name}"
              v-for="(item,index) in provinceList"
              :key="item.id"
              @click="changeProvince(index,item.name)">
              {{item.name}}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="cityList && cityList.length > 0">
            <li :class="{active: cityName == ''}" @click="changeCity('','')">全部</li>
            <li
              :class="{active: cityName == item.name}"
              v-for="(item,index) in cityList"
              :key="item.id"
              @click="changeCity(index,item.name)">
              {{item.name}}
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 国标分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">国标分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" :class="{'is-fold': isFold}">
            <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
            <li
              :class="{active: curNormType == item.code}"
              v-for="(item, index) in normType"
              :key="index"
              @click="changeNormType(index, item.code)">
              {{item.name}}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="normTypeItem && normTypeItem.length > 0">
            <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('','')"><span class="com-alt">占位符</span>全部</li>
            <li
              :class="{active: curNormTypeItem == item.name}"
              v-for="(item, index) in normTypeItem"
              :key="index"
              @click="changeNormTypeItem(item.name,item.code)">
              {{item.name}}
            </li>
          </ul>
        </div>
        <!-- <span class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" v-if="normType && normType.length > 0"></span> -->
      </div>
    </div>
    <!-- 表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%;">
          <el-table-column
            label="材料名称">
            <template slot-scope="scope">
              <span class="t-color mode-name" @click="toExamineDetail(scope.row)">{{scope.row.materialName}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="材价数量">
            <template slot-scope="scope">
              <span>{{scope.row.materialCount}}条</span>
            </template>
          </el-table-column>
          <!-- <el-table-column
            label="适用地区">
            <template slot-scope="scope">
              <span v-if="scope.row.applicableProvince">{{scope.row.applicableProvince+' '+scope.row.applicableCity}}</span>
              <span v-else>--</span>
            </template>
          </el-table-column> -->
          <el-table-column
            label="适用时间">
            <template slot-scope="scope">
              <span v-if="scope.row.applicableDate">{{scope.row.applicableDate}}</span>
              <span v-else>--</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="subcName"
            label="国标分类">
          </el-table-column>
          <el-table-column
            label="提交审核时间">
            <template slot-scope="scope">
              <span>{{formatDate(scope.row.subAuditTime,'1')}}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="applyDate"
            label="审核状态">
            <template slot-scope="scope">
              <span class="t-color" v-if="scope.row.shareStatus == '2'">待审核</span>
              <span class="t-color pass" v-if="scope.row.shareStatus == '4'">审核通过</span>
            </template>
          </el-table-column>
          <el-table-column
            label="操作">
            <template slot-scope="scope">
                <div class="flex-c icon-wrap">
                  <el-tooltip effect="light" content="去审核" placement="top" v-if="scope.row.shareStatus == '2'">
                    <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="toExamineDetail(scope.row)">
                    </el-tooltip>
                  <el-tooltip effect="light" content="审核记录" placement="top">
                    <img class="icons" src="@/assets/img/icons/examine_icon.png" alt="" @click="shareRecord(scope.row.id)">
                  </el-tooltip>
                </div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 审核记录弹窗 -->
    <el-dialog
      title="审核记录"
      :visible.sync="recordDialog"
      width="668px"
      class="com-dialog my-dialog recordDialog"
      :close-on-click-modal="false">
      <el-table
          :data="tableRecord"
          tooltip-effect="dark"
          class="table-main"
          style="width: 100%;"
          :row-class-name="getRowClassName">
          <el-table-column
            label="流程操作">
            <template slot-scope="scope">
              <img class="imgs" src="@/assets/img/examine_yes2.png" alt="" v-if="scope.row.auditStatus == 4">
              <img class="imgs" src="@/assets/img/examine_no2.png" alt="" v-if="scope.row.auditStatus == 3">
              <img class="imgs" src="@/assets/img/examine_pend2.png" alt="" v-if="scope.row.auditStatus == 2">
            </template>
          </el-table-column>
          <el-table-column
            label="操作时间"
            prop="createTime">
          </el-table-column>
          <el-table-column
            label="操作员"
            prop="creator">
          </el-table-column>
          <el-table-column
            type="expand">
            <template slot-scope="scope">
              <div style="120px">
                <p style="color:#999;text-align:left;">审核批注: </p>
                <p>{{scope.row.remark}}</p>
              </div>
            </template>
          </el-table-column>
        </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="recordDialog = false">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getMatSharePageList,
  getMatSubClassify,
  getShareApplicableTime,
  getAuditRecord,
} from '@/api/share'
import {
  getAreaTree,
} from '@/api/common'
import { formatDate } from '@/utils/common'
export default {
  props: ['status'],                                        // 1添加 2详情 3编辑
  data() {
    return {
      searchVal: '',                                        // 搜索关键字
      curTimeList: [],                                      // 适用时间列表（年）
      curTimeItemList: [],                                  // 适用时间列表（月）
      curTime: '',                                          // 选择适用时间（年）
      curTimeItem: '',                                      // 选择适用时间（月）
      timeData: [],                                         // 组装的年月数据
      examineStatus: null,                                  // 选中的审核状态（null全部，2待审核，4审核通过）
      provinceName: '',                                     // 选中的适用地区（省）
      cityName: '',                                         // 选中的适用地区（市）
      provinceList: [],                                     // 省列表（适用地区）
      cityList: [],                                         // 市列表（适用地区）
      provinceList: [],                                     // 省列表（适用地区）
      curNormType: '',                                      // 选中的国标分类（父项）
      normType: [],                                         // 国标分类列表（父项）
      normTypeItem: [],                                     // 国标分类列表（子项）
      curNormTypeItem: '',                                  // 选中的国标分类（子项）
      normCode: '',                                         // 国标分类id（调接口用）
      isFold: true,                                         // 国标折叠
      tableLoading: false,                                  // 表格loading
      tableData: [],                                        // 表格数据
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      formatDate: formatDate,
      tableRecord: [],                                      // 审核记录表格数据
      recordDialog: false,                                  // 显示审核弹窗
    }
  },

  mounted() {
    this.getMatApplicableTime()                             // 适用时间
    this.getAreaTree()                                      // 获取地区
    setTimeout(()=>{
      this.getMatSharePageList()                            // 分享材价列表数据
    },500)
  },

  methods: {
    // 获取分享列表
    async getMatSharePageList(pass) {
      if(!this.curTime) {
        this.tableLoading = false
        return
      }
      this.tableLoading = true

      var applicableDate = new Date(this.curTime,this.curTimeItem-1)
      var data = {
        isAudit: true, // 是否审核页面
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        applicableDate: applicableDate, // 适用时间(必填)
        applicableProvince: this.provinceName || null,
        applicableCity: this.cityName || null,
        keyword: this.searchVal ? this.searchVal : null,
        shareStatus: this.examineStatus,
      }

      // 国标分类
      if(!pass) await this.getMatSubClassify(data)

      this.tableData = []
      data.subcid = this.normCode ? this.normCode : null // 国标分类id
      getMatSharePageList(data).then(res => {
        this.tableLoading = false
        if (res.code == '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        }else{
          this.tableLoading = false
          this.$message({
            type: 'error',
            message: res.message || '出错了'
          })
        }
      }).catch(err => {
        this.tableLoading = false
        this.$message({
          type: 'error',
          message: err.message || '出错了'
        })
      })
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getMatSharePageList('pass')
    },

    // 获取（分享）材价适用时间
    getMatApplicableTime() {
      getShareApplicableTime().then(res => {
        if(!res.body.endTime) return
        let startTime =  new Date(res.body.startTime)
        let endTime =  new Date(res.body.endTime)
        var y = startTime.getFullYear()
        var m = startTime.getMonth() + 1
        var y2 = endTime.getFullYear()
        var m2 = endTime.getMonth() + 1
        let time = {} // {年：[月]}
        let years = []
        for (let i = y2; i >= y; i--) {
          let timearr = []
          years.push(i)
          if(i == y){
            let month = 12
            if(y == y2) month = m2
            for (let j = month; j >= m; j--) {
              timearr.push(j)
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j)
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j)
            }
          }
          time[i] = timearr
        }
        this.timeData = time  // 组装的年月数据
        this.curTime = y2 // 默认选最新一年
        this.curTimeItem = time[y2][0] // 默认选最新一月
        this.curTimeList = years  // 所有年
        this.curTimeItemList = time[y2]  // 默认显示第一年的月份
      })
    },

    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year //  选中的年
      this.curTimeItemList = this.timeData[year]  // 月数组
      this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.currentPage = 1
      this.getMatSharePageList()
    },

    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month
      this.currentPage = 1
      this.getMatSharePageList()
    },

    // 筛选审核状态
    changeCurSharePlat(type) {
      this.examineStatus = type
      this.currentPage = 1
      this.getMatSharePageList()
    },

    // 切换（适用地区）省份
    changeProvince(index,name) {
      if(index === '') {
        this.provinceName = ''
        this.cityName = ''
        this.cityList = []
      }else{
        for (var i = 0; i < this.provinceList.length; i++) {
          if (this.provinceList[i].name == name) {
            this.provinceName = this.provinceList[i].name
            this.cityList = this.provinceList[i].sub
            this.cityName = ''
          }
        }
      }
      this.currentPage = 1
      this.getMatSharePageList()
    },

    // 切换（适用地区）城市
    changeCity(index,name) {
      if(index === '') {
        this.cityName = ''
      }else{
        for (var i = 0; i < this.cityList.length; i++) {
          if (this.cityList[i].name == name) {
            this.cityName = this.cityList[i].name
          }
        }
      }
      this.currentPage = 1
      this.getMatSharePageList()
    },

    // 获取地区（省，市）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.provinceList = res.body
        }
      })
    },

    // 获取(分享)国标分类
    getMatSubClassify(data) {
      return new Promise((resolve,reject) => {
        getMatSubClassify(data).then(res => {
          this.curNormType = ''
          this.curNormTypeItem = ''
          this.normCode = ''
          this.normTypeItem = []
          this.normType = res.body
          resolve()
        })
      })
    },

    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      this.normCode = code
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }
      this.currentPage = 1
      this.getMatSharePageList('pass')
    },

     // 切换国标分类（子项）
    changeNormTypeItem(name,code) {
      this.curNormTypeItem = name
      if (code !== '') {
        this.normCode = code
      } else {
        this.normCode = this.curNormType
      }
      this.currentPage = 1
      this.getMatSharePageList('pass')
    },

    // 跳转审核详情
    toExamineDetail(item) {
      if(item.shareStatus != 2 && item.shareStatus != 4) return
      sessionStorage.setItem('examine_item', JSON.stringify(item))
      this.$router.push({
        path: '/shareManage/shareExamineDetail',
        query: {
          status: item.shareStatus == 2 ? 1 : 2// 1待审核 2审核通过
        }
      })
    },

    // 控制展开审核批注样式
    getRowClassName({row, rowIndex}){
      if (!row.remark) {
          return 'row-expand-cover';
      }
    },

    // 审核记录
    shareRecord(id) {
      getAuditRecord({shareId: id}).then(res => {
        if(res.code === '01') {
          this.tableRecord = res.body
          this.recordDialog = true
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      }).catch(err => {
        this.$message({
          type: 'error',
          message: err.message || '出错了'
        })
      })
    },
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/variables.scss';
  .material-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F6F6F6;
    .screen{
      padding: 0 21px 5px;
      background: #ffffff;
      border-top: 1px solid #f6f6f6;
      .top{
        // border-top: 1px solid #F6F6F6;
        padding: 20px 0;
      }
      .custom-type,
      .norm-type {
        > span {
          margin-right: 15px;
          white-space: nowrap;
        }
        .t-wrap {
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          .no-item {
            margin-bottom: 18px;
            color: $color-minor;
            font-size: 14px;
          }
          ul {
            margin-bottom: 10px;
            &.all-list {
              padding: 5px 12px;
              background: #F3F3F4;
              box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
              border-radius: 5px;
              li {
                padding-top: 8px;
                padding-bottom: 8px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            li {
              cursor: pointer;
              padding-bottom: 8px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
        .el-icon-arrow-up {
          font-size: 16px;
          font-weight: bold;
          &.is-rotate {
            transform: rotate(180deg);
          }
        }
        .is-fold {
          max-height: 50px;
          overflow-y: hidden;
        }
      }
    }
    // 表格
    .detail-table{
      // padding-top: 18px;
      margin-top: 18px;
      padding-bottom: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #ffffff;
      .inquiry{
        background: #FCFCFD;
        .right-btns{
          color: #333333;
          font-size: 16px;
          >div{
            cursor: pointer;
            margin-left: 31px;
            font-family: 'mainfont';
            white-space: nowrap;
            .icons{
              margin-right: 4px;
            }
            .imgs{
              width: 14px;
              height: 14px;
              margin-right: 6px;
              margin-left: 16px;
            }
          }
        }
        .tips{
          width: 23px;
          height: 23px;
          margin: 0 20px 6px 8px;
        }
        .btn{
          width: 112px;
          height: 34px;
          color: #ffffff !important;
          border-radius: 5px;
          font-size: 15px;
          font-family: 'mainfont';
          font-weight: 500;
          &:hover{
            border: 1px solid;
          }
          .el-icon-search{
            margin-right: 5px;
          }
        }
        .btn2{
          background: $color-minor;
          border-color: $color-minor;
          box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        }
        .btn3{
          width: 82px;
          color: $color-primary !important;
          border-color: #3699FF !important;
          &:hover{
            background: #ffffff !important;
            box-shadow: 0px 1px 4px 0px #3699FF;
          }
        }
        .btn-del{
          width: 82px;
          color: #F13A3F !important;
          border-color: #F13A3F;
          &:hover{
            box-shadow: 0px 1px 4px 0px #F13A3F;
            background: #ffffff !important;
          }
        }
      }
      .table-box{
        padding-bottom: 30px;
        .mode-name {
            cursor: pointer;
            color: $color-primary;
        }
        .t-color{
          font-weight: 400;
          color: $table-color;
        }
        .yes{
          color: $color-primary;
        }
        .no{
          color: $color-danger;
        }
        .pass{
          color: #1EB645;
        }
        .wrap{
          width: 166px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .mode-name {
            cursor: pointer;
            color: $color-primary;
              text-align: left;
            >div{
              min-width: 100px;
            }
        }
        .faster-img{
          width: 18px;
          height: 18px;
          margin-left: 5px;
        }
        .files{
          max-width: 65%;
          min-width: 380px;
          .file-box{
            width: 100%;
            flex-wrap: wrap;
            .fileitem{
              margin-right: 6px;
              margin-bottom: 4px;
              .file-img{
                width: 21px;
                height: 20px;
              }
              .file-name{
                margin: 0 25px 0 7px;
                width: 81px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
                font-family: 'mainfont';
              }
            }
          }
        }
      }
    }
    .recordDialog{
      &::v-deep .el-dialog {
        height: 460px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .el-dialog__body {
          flex: 1;
          overflow-y: auto;
          padding-top: 4px;
        }
      }
      .imgs{
        width: 58px;
      }
    }
  }
</style>

<style lang="scss">
  .material-container{
    .flex-cw{
      padding: 2px 0;
      border-bottom: 1px solid #F3F3F4;
    }
    .add-dialog{
      .labeltip{
        .el-table__column-filter-trigger{
          line-height: 1;
          .el-icon-arrow-down{
            font-size: 20px;
            font-weight: bold;
            transform: scale(1)
          }
        }
      }
    }
    .com-label-text{
      padding: 2px 0;
    }
    .is-fold{
      border-bottom: none;
    }
    .top{
      padding: 20px 0;
    }
    .inquiry{
      .btn{
        >span{
          display: flex;
          align-items: center;
        }
      }
    }
    .table-box{
      .icon-wrap{
        .icons{
          cursor: pointer;
          margin-right: 15px;
        }
      }
    }
  }
  .row-expand-cover .el-table__expand-icon{visibility:hidden;}
</style>
