<template>
  <div class="flex-fsb branch-project">
    <div class="b-right">
      <ProjectSet />
    </div>
  </div>
</template>

<script>
import ProjectSet from './components/skillFeature/ProjectSet'

export default {
  components: {
    ProjectSet,
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
  .branch-project {
    margin-top: 7px;
    width: 100%;
    .b-right {
      width: 100%;
      min-height: 700px;
      background: #fff;
      border-radius: 8px;
    }
  }
</style>