<template>
  <div class="supplier-detail">
    <div class="top-content">
      <div class="bg">
        <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>供应商管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/supplier/index' }"
              >供应商库</el-breadcrumb-item
            >
            <el-breadcrumb-item
              ><span class="active">供应商详情</span></el-breadcrumb-item
            >
          </el-breadcrumb>
        </div>
        <img src="@/assets/img/icons/project_stock/bg.png" alt="" />
      </div>
      <div class="info flex-c">
        <img class="seize" src="@/assets/img/v2.0/hetong2.png" alt="" />
        <div class="text-box">
          <p class="top-title">上海亿来金属科技有限公司</p>
          <ul class="flex-c top-ul">
            <li><span>联系人：张浩</span></li>
            <li><span>手机号：13729384938</span></li>
            <li><span>微信号：xxew034</span></li>
            <li><span>QQ号：213213</span></li>
            <li><span>邮箱：213213@qq.com</span></li>
          </ul>
        </div>
      </div>

      <!-- 展开更多 -->
      <div class="show-more" @click="isFold = !isFold">
        <span class="mr-5">{{ isFold ? "收起" : "更多详细信息" }}</span>
        <span
          class="cp el-icon-arrow-down"
          :class="{ 'is-rotate': isFold }"
        ></span>

        <div class="hidden-div" v-if="isFold">
          <div class="hidden-content">
            <ul class="hidden-ul">
              <li class="li-row">
                <span>所在地区：广东·广州</span>
                <span>分类：生产厂家</span>
                <span>法人代表：李丹妮</span>
                <span>注册资金：1000万元</span>
              </li>
              <li>
                <span class="title">主营类目：</span>
                <p>黑色有色金属>圆钢（1285）；黑色有色金属>钢筋（1285）</p>
              </li>
              <li>
                <span class="title">经营范围：</span>
                <p>
                  电缆分支箱、箱式变电站、充气柜的生产与销售；高压柜、低压柜、中置柜、变压器、发电机、仪器仪表、自动化系统、电子节能产品的技术开发与销售；其它国内商业、物资供销业、货物及技
                  术，etc，变电站。
                </p>
              </li>
              <li class="mb-0">
                <span class="title">品牌：</span>
                <p>
                  <span
                    class="brand-span"
                    :style="reColorStyle(idx)"
                    v-for="(it, idx) in brands"
                    :key="it.id"
                  >
                    {{ it.name }}</span
                  >
                </p>
              </li>
            </ul>

            <div class="persons mt-20 flex-csb">
              <div class="person-card flex-c">
                <span class="card-left">张浩</span>
                <ul class="card-right">
                  <li>手机号：13729384938</li>
                  <li>微信号：xxew034</li>
                  <li>QQ号：213213</li>
                  <li>邮箱：213213</li>
                </ul>
              </div>
              <div class="person-card flex-c">
                <span class="card-left">张三丰</span>
                <ul class="card-right">
                  <li>手机号：13729384938</li>
                  <li>微信号：xxew034</li>
                </ul>
              </div>
              <div class="person-card flex-c">
                <span class="card-left">李丹丹</span>
                <ul class="card-right">
                  <li>手机号：13729384938</li>
                  <li>微信号：xxew034</li>
                  <li>QQ号：213213</li>
                  <li>邮箱：213213</li>
                </ul>
              </div>
              <div class="person-card flex-c">
                <span class="card-left">陈丹丹</span>
                <ul class="card-right">
                  <li>手机号：13729384938</li>
                  <li>微信号：xxew034</li>
                  <li>QQ号：213213</li>
                  <li>邮箱：213213</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- 收起 -->
          <div class="show-more hidden-more">
            <span class="mr-5">{{ isFold ? "收起" : "更多详细信息" }}</span>
            <span
              class="cp el-icon-arrow-down"
              :class="{ 'is-rotate': isFold }"
            ></span>
          </div>
        </div>
      </div>
    </div>

    <!-- 顶部筛选 -->
    <div class="screen mt-10">
      <span class="com-tag-span gray">供应商产品</span>
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input
            class="search-ipt"
            placeholder="请输入关键字，如：批次联系人"
            v-model="searchVal"
            @keyup.enter.native="
              currentPage = 1;
              getSupplierPageList();
            "
          />
          <i
            class="el-icon-search"
            @click="
              currentPage = 1;
              getSupplierPageList();
            "
          ></i>
        </div>
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList.length > 0">
            <li
              :class="{ active: curTime == year }"
              v-for="(year, index) in curTimeList"
              :key="index"
              @click="changeCurTime(year)"
            >
              {{ year }}
            </li>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList.length > 0">
            <li
              :class="{ active: curTimeItem === '' }"
              @click="changeCurTimeItem('')"
            >
              全部
            </li>
            <li
              :class="{ active: curTimeItem == month }"
              v-for="(month, index) in curTimeItemList"
              :key="index"
              @click="changeCurTimeItem(month)"
            >
              {{ month }}月
            </li>
          </ul>
        </div>
      </div>
      <!-- 适用地区 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curproList && curproList.length > 0">
            <li
              :class="{ active: curPro === null }"
              @click="changeCurPro(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || morePro"
              :class="{ active: curPro == pro }"
              v-for="(pro, index) in curproList"
              :key="index"
              @click="changeCurPro(pro)"
            >
              {{ pro }}
            </li>
            <span
              class="more"
              v-if="curproList && curproList.length > 8"
              @click="morePro = !morePro"
            >
              {{ morePro ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': morePro }"
              ></span>
            </span>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="curCityList && curCityList.length > 0 && curPro != null"
          >
            <li
              :class="{ active: curCity === null }"
              @click="changeCurCity(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreCity"
              :class="{ active: curCity == item.name }"
              v-for="(item, index) in curCityList"
              :key="item.name"
              @click="changeCurCity(item.name)"
            >
              {{ item.name }}
            </li>
            <span
              class="more"
              v-if="curCityList && curCityList.length > 8"
              @click="moreCity = !moreCity"
            >
              {{ moreCity ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreCity }"
              ></span>
            </span>
          </ul>
        </div>
      </div>
      <!-- 数据类型 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">数据类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: standStatus === null }"
              @click="standFilter(null)"
            >
              全部
            </li>
            <li :class="{ active: standStatus === 1 }" @click="standFilter(1)">
              标准化数据
            </li>
            <li :class="{ active: standStatus === 2 }" @click="standFilter(2)">
              非标准化数据
            </li>
          </ul>
        </div>
      </div>
      <template v-if="moreScreen">
        <!-- 品牌 -->
        <div class="flex-fs norm-type mt-10">
          <span class="com-label-text">品牌</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li
                :class="{ active: curBrand === null }"
                @click="changeCurBrand(null)"
              >
                全部
              </li>
              <li
                v-for="it in brands"
                :key="it.id"
                :class="{ active: curBrand === it.id }"
                @click="changeCurBrand(it.id)"
              >
                {{ it.name }}
              </li>
            </ul>
          </div>
        </div>
        <!-- 档次 -->
        <div class="flex-fs norm-type mt-10">
          <span class="com-label-text">档次</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li
                :class="{ active: curGrade === null }"
                @click="changeCurGrade(null)"
              >
                全部
              </li>
              <li
                v-for="it in grades"
                :key="it.id"
                :class="{ active: curGrade === it.id }"
                @click="changeCurGrade(it.id)"
              >
                {{ it.name }}
              </li>
            </ul>
          </div>
        </div>
        <!-- 自定义分类 -->
        <div class="flex-fs norm-type mt-10">
          <span class="com-label-text">自定义分类</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li
                :class="{ active: curMytype == '' }"
                @click="changeCurMyType('', '')"
              >
                全部
              </li>
              <li
                :class="{ active: curMytype == item.id }"
                v-for="(item, index) in customType"
                :key="index"
                @click="changeCurMyType(index, item.id)"
              >
                {{ item.name }}
              </li>
            </ul>
            <ul
              class="flex-cw all-list"
              v-if="customTypeItem && customTypeItem.length > 0"
            >
              <li
                :class="{ active: curMytypeItem == '' }"
                @click="changeCurMyTypeItem('', '')"
              >
                <span class="com-alt">占位符</span>全部
              </li>
              <li
                :class="{ active: curMytypeItem == item.name }"
                v-for="(item, index) in customTypeItem"
                :key="index"
                @click="changeCurMyTypeItem(item.name, item.id)"
              >
                {{ item.name }}
              </li>
            </ul>
            <ul>
              <li class="no-item">
                <span @click="$router.push('/setting/materialSetting')"
                  >设置分类</span
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- 国标分类 -->
        <div class="flex-fs norm-type">
          <span class="com-label-text">国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{ 'is-fold': isMore }">
              <li
                :class="{ active: curNormType == '' }"
                @click="changeNormType('', '')"
              >
                全部
              </li>
              <li
                :class="{ active: curNormType == item.code }"
                v-for="(item, index) in normType"
                :key="index"
                @click="changeNormType(index, item.code)"
              >
                {{ item.name }}
              </li>
            </ul>
            <ul
              class="flex-cw all-list"
              v-if="normTypeItem && normTypeItem.length > 0"
            >
              <li
                :class="{ active: curNormTypeItem == '' }"
                @click="changeNormTypeItem('', '')"
              >
                <span class="com-alt">占位符</span>全部
              </li>
              <li
                :class="{ active: curNormTypeItem == item.name }"
                v-for="(item, index) in normTypeItem"
                :key="index"
                @click="changeNormTypeItem(item.name, item.code)"
              >
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span
            class="cp el-icon-arrow-up"
            :class="{ 'is-rotate': isMore }"
            @click="isMore = !isMore"
            v-if="normType && normType.length > 0"
          ></span>
        </div>
      </template>

      <!-- 展开更多 -->
      <div class="show-more" @click="moreScreen = !moreScreen">
        <span class="mr-5">{{ moreScreen ? "收起" : "展开" }}</span>
        <span
          class="cp el-icon-arrow-down"
          :class="{ 'is-rotate': moreScreen }"
        ></span>
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="addMaterial">
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />添加材价
          </el-button>
          <el-button class="flex-cc btn btn-del" @click="delMaterial(0)">
            <img
              src="@/assets/img/table/del.png"
              alt=""
              class="el-icon-search"
            />删除
          </el-button>
        </div>
        <div class="flex-c cp" @click="exportFile">
          <img src="@/assets/img/table/export.png" alt="" class="imgs mr-5" />
          <span>导出</span>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" min-width="66px"> </el-table-column>
          <el-table-column label="供应商名称" min-width="160px">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" min-width="100px" label="地区">
          </el-table-column>
          <el-table-column prop="name" min-width="100px" label="分类">
          </el-table-column>
          <el-table-column label="主营类目" min-width="160px">
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="关联品牌" min-width="150px">
          </el-table-column>
          <el-table-column prop="name" label="产品数量" min-width="90px">
          </el-table-column>
          <el-table-column label="联系方式" prop="name" min-width="110px">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.subcName || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="130px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip effect="light" content="编辑" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/edits.png"
                    alt=""
                    @click="addSuppliler(scope.row)"
                  />
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/dels.png"
                    alt=""
                    @click="delSuppliler(scope.row)"
                  />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAreaTree, getCustomClassify } from "@/api/common";
import { getMatApplicableTime, getMatSubClassify } from "@/api/material";
export default {
  name: "supplierDetail",
  data() {
    return {
      isFold: false, // 折叠更多信息
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 1,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableData: [{ name: "测试" }], // 表格数据
      tableLoading: false, // 表格loading
      searchVal: "", // 搜索关键字

      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: "", // 选择适用时间(年)
      curTimeItem: "", // 选择适用时间(月)
      timeData: [], // 组装的年月数据

      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市

      standStatus: null, // 数据类型筛选 1标准 2非标准

      customType: [], // 自定义分类列表
      customTypeItem: [], // 自定义分类列表（子项）
      curMytype: "", // 选中的自定义分类
      curMytypeItem: "", // 选中的自定义分类(子项)
      custypeId: "", // 自定义分类id（调接口用）

      curNormType: "", // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      normTypeItem2: [], // 国标分类列表（子项,调整分类用）
      curNormTypeItem: "", // 选中的国标分类（子项）
      normCode: "", // 国标分类id（调接口用）
      isMore: true, // 展开更多国际分类

      brands: [
        // 品牌
        {
          id: 1,
          name: "欧时力",
        },
        {
          id: 2,
          name: "西门子",
        },
      ],
      curBrand: null, // 选中品牌
      grades: [
        // 档次
        {
          id: 1,
          name: "高档",
        },
        {
          id: 2,
          name: "中高档",
        },
        {
          id: 3,
          name: "中档",
        },
        {
          id: 4,
          name: "一般",
        },
      ],
      curGrade: null, // 选中档次
      colors: ["#037DFF", "#F9A147", "#19ca3b", "#F13A3F", "#909399"],

      moreScreen: false, // 展开更多筛选项
    };
  },
  mounted() {
    this.getMatApplicableTime(true, true); // 获取适用时间
    this.getAreaTreeList(); // 获取省市区
    this.getCustomClassify(); // 自定义分类
  },
  methods: {
    // 添加材价
    addMaterial() {},
    // 删除材价
    delMaterial(row) {
      if (!row) {
        console.log(true);
        if (this.multipleSelection.length > 0) {
        } else {
          this.openAlert();
        }
      }
    },
    // 导出供应商
    exportFile() {
      if (this.multipleSelection.length > 0) {
      } else {
        this.openAlert();
      }
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getSupplierPageList();
    },
    // 获取供应商列表
    async getSupplierPageList(pass) {
      if (!this.curTime) {
        this.tableLoading = false;
        return;
      }
      this.tableLoading = true;

      var applicableDate = this.curTimeItem
        ? new Date(this.curTime, this.curTimeItem - 1)
        : new Date(this.curTime + "");
      var isFormat =
        this.standStatus === null ? null : this.standStatus == 1 ? true : false;
      let data = {
        isYear: this.curTimeItem ? "0" : "1", // 是否单纯年
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        applicableDate: applicableDate, // 适用时间(必填)
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        isPage: "C", // 区分是材价库还是相同材价
        applicableProvince: this.applyProvince,
        applicableCity: this.applyCityName,
      };

      // 国标分类
      if (!pass) await this.getMatSubClassify(data);

      this.tableLoading = false;
    },

    // 适用时间 -- 占位占位占位
    // 获取材价适用时间
    getMatApplicableTime(nopass, callback) {
      getMatApplicableTime().then((res) => {
        if (!res || !res.body.endTime) return;
        let startTime = new Date(res.body.startTime);
        let endTime = new Date(res.body.endTime);
        var y = startTime.getFullYear();
        var m = startTime.getMonth() + 1;
        var y2 = endTime.getFullYear();
        var m2 = endTime.getMonth() + 1;
        let time = {}; // {年：[月]}
        let years = [];
        for (let i = y2; i >= y; i--) {
          let timearr = [];
          years.push(i);
          if (i == y) {
            let month = 12;
            if (y == y2) month = m2;
            for (let j = month; j >= m; j--) {
              timearr.push(j);
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j);
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j);
            }
          }
          time[i] = timearr;
        }
        this.timeData = time; // 组装的年月数据
        this.curTimeList = years; // 所有年
        if (nopass) {
          this.curTime = y2; // 默认选最新一年
          // this.curTimeItem = time[y2][0] // 默认选最新一月
          this.curTimeItem = "";
          this.curTimeItemList = time[y2]; // 默认显示第一年的月份
        } else {
          this.curTimeItemList = time[this.curTime]; // 保留所选月份只更新月份数组
        }

        if (callback) this.getSupplierPageList(); // 材价列表数据
      });
    },
    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year; //  选中的年
      this.curTimeItemList = this.timeData[year]; // 月数组
      // this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.curTimeItem = "";
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month;
      this.currentPage = 1;
      this.getSupplierPageList();
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro;
      this.curCityList = this.areaData[pro];
      this.curCity = null;
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city;
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 获取地区（省，市）
    getAreaTreeList() {
      getAreaTree().then((res) => {
        if (res && res.code === "01") {
          this.commonAreaList = res.body;
          let areaData = []; //  [{省：[{市：[区]}]}]
          let proList = [];
          res.body.forEach((item) => {
            proList.push(item.name);
            let cityarr = [];
            if (item.sub)
              item.sub.forEach((city) => {
                let areaarr = [];
                if (city.sub)
                  city.sub.forEach((area) => {
                    areaarr.push(area.name);
                  });
                let obj = {};
                obj.name = city.name;
                obj.sub = areaarr;
                cityarr.push(obj);
              });
            areaData[item.name] = cityarr;
          });
          this.curproList = proList;
          this.areaData = areaData;
        }
      });
    },

    // 筛选数据类型
    standFilter(type) {
      this.standStatus = type;
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 筛选品牌
    changeCurBrand(brand) {
      this.curBrand = brand;
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 筛选档次
    changeCurGrade(grade) {
      this.curGrade = grade;
      this.currentPage = 1;
      this.getSupplierPageList();
    },

    // 获取(材价)自定义分类
    getCustomClassify() {
      getCustomClassify({ type: 1 }).then((res) => {
        this.customType = res.body;
      });
    },
    // 筛选自定义分类(父项)
    changeCurMyType(index, id) {
      this.customTypeItem = [];
      this.curMytype = id;
      this.curMytypeItem = "";
      this.custypeId = id;
      if (index !== "") {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub;
        }
      }
      this.currentPage = 1;
      this.getSupplierPageList();
    },
    // 筛选自定义分类(子项)
    changeCurMyTypeItem(name, id) {
      this.curMytypeItem = name;
      if (id !== "") {
        this.custypeId = id;
      } else {
        this.custypeId = this.curMytype;
      }
      this.currentPage = 1;
      this.getSupplierPageList();
    },

    // 获取(材价)国标分类
    getMatSubClassify(data) {
      return new Promise((resolve, reject) => {
        getMatSubClassify(data).then((res) => {
          this.curNormType = "";
          this.curNormTypeItem = "";
          this.normCode = "";
          this.normTypeItem = [];
          this.normTypeItem2 = [];
          this.normType = res.body;
          resolve();
        });
      });
    },
    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code;
      this.curNormTypeItem = "";
      this.normCode = code;
      if (index !== "") {
        this.normTypeItem = this.normType[index].sub;
      } else {
        this.normTypeItem = [];
      }
      this.currentPage = 1;
      this.getSupplierPageList("pass");
    },
    // 切换国标分类（子项）
    changeNormTypeItem(name, code) {
      this.curNormTypeItem = name;
      if (code !== "") {
        this.normCode = code;
      } else {
        this.normCode = this.curNormType;
      }
      this.currentPage = 1;
      this.getSupplierPageList("pass");
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
    // 不同颜色
    reColorStyle(index) {
      let idx = index % 5;
      let color = this.colors[idx];
      return {
        border: `1px solid ${color}`,
        color,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.supplier-detail {
  position: relative;
  .top-content {
    margin-top: -37px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
    padding-bottom: 15px;
    .bg {
      position: relative;
      width: 100%;
      height: 36px;
      border-radius: 6px 6px 0 0;
      background: linear-gradient(0deg, #ffffff, #dff5fe);
      .bread {
        position: absolute;
        top: 13px;
        left: 20px;
        color: #303133;
        .el-breadcrumb {
          font-size: 13px;
        }
        .cp:hover {
          color: $color-primary;
        }
        .el-icon {
          margin: 0 10px 0 15px;
          font-weight: bold;
          color: #777;
        }
        .active {
          color: $color-primary;
        }
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 273px;
        height: 200px;
      }
    }
    .info {
      height: 140px;
      background: #fff;
      padding: 0 340px 0 35px;
      border-radius: 0 0 6px 6px;
      border-bottom: 1px solid #f3f3f4;

      .text-box {
        margin-left: 22px;
        .top-title {
          font-size: 22px;
          font-family: Source Han Sans CN;
          font-weight: bold;
          color: #333333;
          line-height: 36px;
          background: url("~@/assets/img/tiao.png") 0 100% no-repeat;
        }
        .top-ul {
          margin-top: 10px;
          li {
            font-family: Source Han Sans CN;
            font-weight: 400;
            background: #f2f9fe;
            padding: 20px;

            span {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 24px;
                background: #ebebeb;
                border-radius: 1px;
                top: 50%;
                transform: translateY(-50%);
                right: -13px;
              }
            }
          }
          li:last-child {
            span {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
    .show-more {
      color: #1789f2;
      position: relative;
    }

    .hidden-div {
      position: absolute;
      top: -15px;
      width: 100%;
      z-index: 99;
      background: #fff;
      color: #333;
      text-align: left;
      

      box-shadow: 0px 15px 20px -15px rgb(170, 167, 167);
      border-radius: 6px 6px 0px 0px;

      .hidden-content {
        padding: 27px 103px 34px 145px;
        border-bottom: 1px solid #F3F3F4;
      }

      .hidden-ul {
        background: #f2f9fe;
        padding: 20px;
        li {
          margin-bottom: 27px;
          display: flex;
          .title {
            min-width: 70px;
          }
        }
        .mb-0 {
          margin-bottom: 0;
        }
        .li-row {
          span {
            margin-right: 114px;
          }
          p {
            display: inline-block;
          }
        }
      }

      .hidden-more {
        margin-top: 20px;
        padding-bottom: 18px;
      }
    }

    .persons {
      .person-card {
        border: 1px solid #e7e7e7;
        border-top: 4px solid #1688f2;
        border-radius: 4px;
        width: 340px;
        height: 170px;

        .card-left {
          font-size: 20px;
          font-family: Microsoft YaHei;
          font-weight: bold;
          padding: 0 20px;

          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 105px;
            background: #a6a6a6;
            opacity: 0.3;
            border-radius: 1px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
          }
        }
        .card-right {
          padding: 0 20px;

          li {
            padding: 8px 0;
          }
        }
      }
    }
  }

  .show-more {
    margin-top: 15px;
    text-align: center;
    > span {
      cursor: pointer;
    }
    .el-icon-arrow-down,
    .el-icon-arrow-right {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      &.is-rotate {
        transform: rotate(180deg);
      }
    }
  }

  .screen {
    padding: 20px 0;
    background: #ffffff;
    border-top: 1px solid #f6f6f6;
    border-radius: 8px;

    .top {
      padding: 20px;
    }

    .norm-type {
      padding: 0 20px;
      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }
      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 6px;
        .el-icon-arrow-right {
          font-size: 12px;
        }
      }
      .is-fold {
        max-height: 48px;
        overflow-y: hidden;
      }
    }
  }

  .sup-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
  }

  .brand-span {
    padding: 7px 28px;
    display: inline-block;
    border: 1px solid #037dff;
    color: #037dff;
    border-radius: 4px;
    text-align: center;
    margin-right: 10px;
    position: relative;
    margin-bottom: 10px;
  }
}
</style>

<style lang="scss">
.supplier-detail {
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}
</style>