<template>
  <div class="seg-project">
    <div class="bg-wrap">
      <div class="flex-csb com-table-label">
        <p class="b-label">项目技术特征配置</p>
      </div>
      <div class="com-search2 com-search3">
        <el-input placeholder="请输入特征名称/编码" v-model="keyword" @keyup.enter.native="searchFun" />
        <i class="el-icon-search" @click="searchFun"></i>
      </div>
      <!-- 一级项目类别 -->
      <div class="flex-fs filter-wrap">
        <span class="nw">筛选项目类别</span>
        <ul class="flex-cw item-ul">
          <li :class="{'active': curOne == null}" @click="changeType(null)">全部</li>
          <li
            v-for="(item, index) in itemOne"
            :class="{'active': curOne === item.code}"
            :key="index"
            @click="changeType(item.code)">
            <span>{{item.name}}</span>
          </li>
        </ul>
        <!-- <div class="item-group flex-cw">
          <div v-for="(item,index) in itemOne"
          :key="index"
          class="check-item flex-cc"
          :class="{'item-active': curOne == item.code}"
          @click="changeType(item.code)">
            {{item.name}}
          </div>
        </div> -->
      </div>
      <!-- 二三级项目类别 -->
      <!-- <div class="item-ul item-wrap">
        <ul class="flex-cw">
          <li :class="{'active': curTwo == '全部'}">
            <span>全部</span>
          </li>
          <li
            :class="{'active': curTwo == item.name}"
            v-for="(item, index) in itemTwo"
            :key="index">
            <span>{{item.name}}</span>
          </li>
        </ul>
        <ul class="flex-cw item-three">
          <li :class="{'active': curThree == '全部'}">
            <span>全部</span>
          </li>
          <li
            :class="{'active': curThree == item.name}"
            v-for="(item, index) in itemThree"
            :key="index">
            <span>{{item.name}}</span>
          </li>
        </ul>
      </div> -->
    </div>

    <div class="bg-wrap">
      <!-- <span class="label-text" style="line-height:28px;font-size:13px;color:#999;">筛选特征类别</span> -->
      <div class="flex-c f-item">
        <span class="label-text">是否启用</span>
        <ul class="flex-c">
          <li
            v-for="(item, index) in enableList"
            :key="index"
            :class="{'active': item == curEnable}"
            @click="changeEnable(item)">
            <span>{{item}}</span>
          </li>
        </ul>
      </div>
      <div class="flex-c f-item">
        <span class="label-text">是否主特征</span>
        <ul class="flex-c">
          <li
            v-for="(item, index) in feature"
            :key="index"
            :class="{'active': item == curFeature}"
            @click="changeFeature(item)">
            <span>{{item}}</span>
          </li>
        </ul>
      </div>
      <div class="flex-c f-item">
        <span class="label-text">特征数据来源</span>
        <ul class="flex-c">
          <li
            v-for="(item, index) in source"
            :key="index"
            :class="{'active': item == curSource}"
            @click="changeSource(item)">
            <span>{{item}}</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- 表格 -->
    <div class="b-content">
      <div class="flex-csb">
        <div class="flex-c p-0 com-operate-wrap">
          <el-button type="primary" class="flex-cc has-primary-btn" @click="tecFeatureSwitchConfig(2, true)">
            <img src="@/assets/img/icons/project_stock/start.png" alt="" class="mr-4">
            <span>启用</span>
          </el-button>
          <el-button type="primary" class="flex-cc has-minor-btn" @click="tecFeatureSwitchConfig(2, false)">
            <img src="@/assets/img/icons/project_stock/disabled_02.png" alt="" class="mr-4">
            <span>禁用</span>
          </el-button>
          <el-button class="flex-cc delete-btn s-btn" @click="delTecFeatureConfig">
            <img src="@/assets/img/icons/dels.png" alt="" class="mr-4">
            <span>删除</span>
          </el-button>
        </div>
        <div class="flex-c mt-29 pr-11">
          <span class="cp add-project" @click="addOrEditFeatureDialog('新增')">
            <img src="@/assets/img/icons/project_stock/add.png" alt="">
            <span> 新增特征</span>
          </span>
        </div>
      </div>
      <div class="mt-11 com-table-wrap">
        <el-table
          ref="multipleTable"
          :data="tableData"
          v-loading="loading"
          tooltip-effect="dark"
          style="width: 100%"
          key="id"
          border
          @selection-change="handleSelectionChange">
          <el-table-column
            type="selection"
            width="66">
          </el-table-column>
          <!-- <el-table-column
            prop="code"
            label="编码">
          </el-table-column> -->
          <el-table-column
            prop="name"
            label="特征名称">
          </el-table-column>
          <el-table-column
            label="是否主特征">
            <template slot-scope="scope">
              <span v-if="scope.row.isMain">是</span>
              <span v-else>否</span>
            </template>
          </el-table-column>
          <el-table-column
            label="特征数据来源">
            <template slot-scope="scope">
              <span v-if="scope.row.source == 1">手动输入</span>
              <span v-if="scope.row.source == 2">系统抓取</span>
              <span v-if="scope.row.source == 3">系统计算</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="categoryName"
            label="所属项目分类">
          </el-table-column>
          <el-table-column
            label="操作">
            <template slot-scope="scope">
              <img class="cp mr-26" src="@/assets/img/icons/edits.png" alt="" @click="addOrEditFeatureDialog('编辑', scope.row)">
              <img class="cp mr-26" src="@/assets/img/icons/project_stock/disabled.png" alt="" v-if="scope.row.isEnable" @click="tecFeatureSwitchConfig(1, false, scope.row)">
              <img class="cp mr-26" src="@/assets/img/icons/project_stock/open.png" alt="" v-else @click="tecFeatureSwitchConfig(1, true, scope.row)">
              <img class="cp" src="@/assets/img/icons/dels.png" alt="" @click="delTecFeatureConfig(1, scope.row)">
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 新增/编辑项目技术特征弹窗 -->
    <el-dialog
      :visible.sync="featureDialog"
      :close-on-click-modal="false"
      :title="curLabel + '项目技术特征'"
      width="460px"
      class="com-dialog com-dialog2 com-input com-radio-wrap">
      <div class="flex-c mb-18" v-if="curLabel === '编辑'">
        <span class="label-text w-80">特征编码</span>
        <span class="d-content">{{featureType2}}</span>
      </div>
      <div class="flex-c mb-18 pr-28">
        <span class="label-text w-80"><span>*</span>项目分类</span>
        <el-select v-model="featureType" placeholder="请选择所属项目分类" @change="changeCode">
          <el-option
            v-for="item in itemOne"
            :key="item.code"
            :label="item.name"
            :value="item.code"
            >
          </el-option>
        </el-select>
      </div>
      <div class="flex-c mb-18 pr-28">
        <span class="label-text w-80"><span>*</span>特征名称</span>
        <el-input v-model="featureName" placeholder="请输入特征名称" maxlength="50" /><span style="white-space:nowrap;padding-left:10px;">{{featureName && featureName.length || 0}}/50</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80"><span>*</span>输入方式</span>
        <el-radio v-model="inputType" label="1">文本</el-radio>
        <el-radio v-model="inputType" label="2" @change="changeOption">选项卡</el-radio>
      </div>
      <div class="flex-fs" v-if="inputType == 2">
        <span class="label-text w-80"><span>*</span>选项设定</span>
        <el-table
          :data="optionList"
          border
          style="width: 100%">
          <el-table-column
            label="序号"
            align="center"
            width="80">
            <template slot-scope="scope">
              <span>{{scope.$index + 1}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="内容"
            align="center">
            <template slot-scope="scope">
              <el-input v-model="scope.row.content" placeholder="请输入内容"></el-input>
            </template>
          </el-table-column>
          <el-table-column
            label="操作"
            align="center"
            width="80">
            <template slot-scope="scope">
              <img class="cp" src="@/assets/img/icons/dels.png" alt="" @click="delOption(scope.$index)">
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="flex-c mb-18" v-if="inputType == 2">
        <span class="label-text w-80 com-alt"><span>*</span>输入方式</span>
        <p class="cp add-option" @click="addOption">+新增选项</p>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80"><span>*</span>是否主特征</span>
        <el-radio v-model="isFeature" label="1">是</el-radio>
        <el-radio v-model="isFeature" label="2">否</el-radio>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text w-80"><span>*</span>数据来源</span>
        <el-radio v-model="isSource" label="1">手动输入</el-radio>
        <el-radio v-model="isSource" label="2" disabled>系统抓取</el-radio>
        <el-radio v-model="isSource" label="3" disabled>系统计算</el-radio>
      </div>
      <!-- <div class="flex-c mb-18">
        <span class="label-text w-80">适用阶段</span>
        <el-checkbox-group v-model="checkedList">
          <el-checkbox
            :label="item.id + ''"
            v-for="item in checkList"
            :key="item.id">{{item.useName}}</el-checkbox>
        </el-checkbox-group>
      </div> -->
      <div class="flex-c mb-18">
        <span class="label-text w-80"><span>*</span>是否启用</span>
        <el-radio v-model="isEnable" label="1">启用</el-radio>
        <el-radio v-model="isEnable" label="2">禁用</el-radio>
      </div>
      <div class="is-edit" v-if="curLabel === '编辑'">
        <p class="mb-7">
          <span>最后修改人</span>
          <span class="ml-20">{{updator}}</span>
        </p>
        <p>
          <span>更新时间</span>
          <span class="ml-33">{{formatDate(updateTime, '1')}}</span>
        </p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="featureDialog = false">取消</el-button>
        <el-button type="primary" :loading="btnLoading" @click="addTecFeatureConfig">确定</el-button>
      </span>
    </el-dialog>
    <!-- 新增/编辑项目技术特征弹窗 end -->
  </div>
</template>

<script>
import {
  addTecFeatureConfig,
  queryTecFeatureList,
  queryProjectTypeTree,
  delTecFeatureConfig,
  tecFeatureSwitchConfig,
} from '@/api/project'
import { formatDate } from '@/utils/common'
export default {
  data() {
    return {
      formatDate: formatDate,
      keyword: null,
      tableData: [],
      loading: false,
      multipleSelection: [],
      totalCount: 0,
      currentPage: 1,
      pageSize: 10,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      itemOne: [],
      itemTwo: [],
      itemThree: [],
      curOne: null,
      curTwo: '居住建筑',
      curThree: '住宅',
      required: ['全部', '是', '否'],
      feature: ['全部', '是', '否'],
      source: ['全部', '手动输入', '系统抓取', '系统计算'],
      curRequired: '全部',
      curFeature: '全部',
      curSource: '全部',
      featureDialog: false,       // 特征弹窗
      curLabel: '新增',           // 当前操作
      featureType: null,
      featureName: null,          // 特征名称
      inputType: '1',             // 输入方式 1文本 2选项卡
      isFeature: '1',            // 是否主特征 1是 2否
      isSource: '1',             // 数据来源 1手动输入，2系统抓取，3系统计算
      checkedList: [],
      isEnable: '1',             // 是否启用 1启用，2禁用
      featureId: null,
      updator: null,
      updateTime: null,
      btnLoading: false,
      optionList: [],
      curEnable: '全部',          // 是否启用
      enableList: ['全部', '是', '否'],
    }
  },
  mounted() {
    this.queryProjectTypeTree()
  },
  computed: {
    checkList() {  // 造价阶段列表
      return this.$store.state.project.stageList;
    }
  },
  methods: {
    // 删除选项
    delOption(index) {
      this.optionList.splice(index, 1)
    },
    // 添加选项
    addOption() {
      this.optionList.push({
        content: ''
      })
    },
    // 切换选项卡
    changeOption() {
      if (this.inputType == 2 && this.optionList.length == 0) {
        this.optionList = []
        this.optionList.push({
          content: ''
        })
      }
    },
    // 启用/禁用技术特征
    tecFeatureSwitchConfig(type, state, item) {
      // type=1单个操作
      let ids = []
      if (type === 1) {
        ids.push(item.id)
      } else {
        if (this.multipleSelection.length === 0) {
          this.openAlert()
          return
        }
        for(let i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      }
      let text = state ? '启用' : '禁用'
      this.$confirm('确定' + text + '该特征吗?', '操作提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        let params = {
          ids: ids.join(','),
          isEnable: state
        }
        tecFeatureSwitchConfig(params).then(res => {
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: text + '成功'
            })
            this.currentPage = 1
            this.queryTecFeatureList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 删除技术特征
    delTecFeatureConfig(type, item) {
      let ids = []
      // type=1单个操作
      if (type === 1) {
        ids.push(item.id)
      } else {
        if (this.multipleSelection.length === 0) {
          this.openAlert()
          return
        }
        for(let i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      }
      this.$confirm('确定删除该特征吗?', '操作提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }).then(() => {
        let params = {
          ids: ids.join(',')
        }
        delTecFeatureConfig(params).then(res => {
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: '删除成功'
            })
            this.currentPage = 1
            this.queryTecFeatureList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 特征数据来源
    changeSource(item) {
      this.curSource = item
      this.currentPage = 1
      this.queryTecFeatureList()
    },
    // 是否主特征
    changeFeature(item) {
      this.curFeature = item
      this.currentPage = 1
      this.queryTecFeatureList()
    },
    // 是否启用
    changeEnable(item) {
      this.curEnable = item
      this.currentPage = 1
      this.queryTecFeatureList()
    },
    // 切换项目类型
    changeType(code) {
      this.curOne = code
      this.currentPage = 1
      this.queryTecFeatureList()
    },
    // 切换项目分类
    changeCode(e) {
      //  不联动
      // this.tableData.forEach(item=>{
      //   if(item.code == e) this.featureType2 = item.typeCode
      // })
    },
    // 查询项目类型树状列表
    queryProjectTypeTree() {
      let params = {
        type: 1
      }
      queryProjectTypeTree(params).then(res => {
        if (res.code === '01') {
          this.itemOne = res.body || []
          // try {
          //   this.curOne = this.itemOne[0].code
          // } catch(err) {
          //   this.curOne = null
          // }
          this.queryTecFeatureList()
        }
      })
    },
    // 查询技术特征配置列表
    queryTecFeatureList() {
      let isMain
      if (this.curFeature == '全部') {
        isMain = null
      } else {
        isMain = this.curFeature == '是' ? true : false
      }
      let source
      switch (this.curSource) {
        case '全部':
          source = null
          break;
        case '手动输入':
          source = 1
          break;
        case '系统抓取':
          source = 2
          break;
        case '系统计算':
          source = 3
          break;
      }
      let curEnable = this.curEnable == '全部' ? null : this.curEnable == '是' ? true : false

      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        type: 1,
        isMain: isMain,
        keyword: this.keyword,
        source: source,
        typeCode: this.curOne,
        isEnable: curEnable, // 是否启用
      }
      this.loading = true
      queryTecFeatureList(data).then(res => {
        this.loading = false
        if (res.code === '01') {
          this.tableData = res.body.list || []
          this.totalCount = res.body.totalCount
        }
      })
    },
    // 新增/编辑技术特征
    addTecFeatureConfig() {
      if (!this.featureType) {
        this.$message({
          type: 'error',
          message: '请选择所属项目分类'
        })
        return
      }
      if (!this.featureName) {
        this.$message({
          type: 'error',
          message: '请输入特征名称'
        })
        return
      }
      let defaultValuesArr = []
      if (this.inputType == 2) {
        for (let i = 0; i < this.optionList.length; i++) {
          if (!this.optionList[i].content) {
            this.$message({
              type: 'error',
              message: '选项卡内容不能为空'
            })
            return
          }

          defaultValuesArr.push(this.optionList[i].content)
        }
      }
      if (this.isFeature === null) {
        this.$message({
          type: 'error',
          message: '请选择是否主特征'
        })
        return
      }
      if (this.isSource === null) {
        this.$message({
          type: 'error',
          message: '请选择数据来源'
        })
        return
      }
      if (this.isEnable === null) {
        this.$message({
          type: 'error',
          message: '请选择是否启用'
        })
        return
      }

      let data = {
        typeCode: this.featureType,
        name: this.featureName,
        isMain: this.isFeature == 1 ? true : false,
        source: parseInt(this.isSource),
        fitStage: this.checkedList.join(','),
        isEnable: this.isEnable == 1 ? true : false,
        type: 1,
        enterManner: parseInt(this.inputType)
      }
      if (this.inputType == 2) {
        data['value'] = defaultValuesArr.join(',')
      }

      if (this.curLabel === '编辑') {
        data.id = this.featureId
      }
      this.btnLoading = true
      addTecFeatureConfig(data).then(res => {
        this.btnLoading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.featureDialog = false
          this.currentPage = 1
          this.queryTecFeatureList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 新增/编辑特征弹窗
    addOrEditFeatureDialog(type, item) {
      this.curLabel = type
      this.featureDialog = true
      if (type == '新增') {
        this.featureType = null
        this.featureName = null
        this.inputType = '1'
        this.isFeature = '1'
        this.isSource = '1'
        this.isEnable = '1'
        this.checkedList = []
      } else {
        this.updator = item.updator
        this.updateTime = item.updateTime
        this.featureId = item.id
        this.featureType = item.code
        this.featureType2 = item.typeCode
        this.featureName = item.name
        this.inputType = item.enterManner + ''
        this.isFeature = item.isMain ? '1' : '2'
        this.isSource = item.source + ''
        this.isEnable = item.isEnable ? '1' : '2'
        this.checkedList = item.stageIds ? item.stageIds.split(',') : []

        // 选项卡数据回显
        if (this.inputType == '2') {
          this.optionList = []
          let defaultValues = item.defaultValues
          if (defaultValues) {
            let list = defaultValues.split(',')
            for (let i = 0; i < list.length; i++) {
              this.optionList.push({
                content: list[i]
              })
            }
          }
        }
      }
    },
    // 搜索
    searchFun() {
      this.currentPage = 1
      this.queryTecFeatureList()
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.queryTecFeatureList()
    },
    // 勾选
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '操作提示', {
        confirmButtonText: '确定',
        type: type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.seg-project {
  width: 100%;
  background: #F6F6F6;
  .add-project {
    color: $color-primary;
    font-weight: bold;
  }
  .bg-wrap {
    margin-bottom: 8px;
    padding: 20px 17px 23px 12px;
    background: #fff;
    border-radius: 8px;
    .label-text {
      color: #333;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .filter-wrap {
    margin-top: 20px;
    > span {
      margin-top: 8px;
      margin-right: 25px;
      color: #333;
      font-size: 12px;
      font-weight: bold;
    }
    .item-group {
      margin-bottom: 10px;
      border-bottom: 1px solid $color-minor;
      box-shadow: 0px 1px 0px 0px rgba(249, 161, 71, 0.3);
      .check-item {
        width: 140px;
        height: 32px;
        color: #BFBFBF;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        &:hover {
          color: $color-minor;
        }
      }
      .item-active {
        color: #ffffff;
        background-image: url('../../../../assets/img/icons/item_bg.png');
        background-size: 140px 32px;
        box-shadow: 0px 2px 0px 0px rgba(249, 161, 71, 0.3);
        border-radius: 1px;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  .item-ul {
    padding: 0 6px;
    li {
      padding: 8px 0;
      margin-right: 33px;
      cursor: pointer;
      color: #767676;
      font-size: 14px;
      &:hover,
      &.active {
        color: $color-minor;
      }
    }
  }
  .item-wrap {
    padding: 8px 12px 5px 66px;
    margin-top: 8px;
    margin-left: 97px;
    background: #F3F3F4;
    .item-three {
      padding: 4px 12px 4px 61px;
      background: #fff;
      border-radius: 4px;
    }
  }
  .f-item {
    height: 39px;
    > span {
      display: block;
      width: 103px;
    }
    ul {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #F3F3F4;
      li {
        margin-right: 33px;
        cursor: pointer;
        &.active,
        &:hover {
          color: $color-minor;
        }
      }
    }
  }
  .b-content {
    padding: 20px 12px 30px 17px;
    background: #fff;
    border-radius: 8px;
  }

  .add-option {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border:  1px solid #EBEEF5;
  }
}
</style>
