<template>
  <div class="add-supplier mt-10">
    <span class="com-tag-span gray">添加供应商</span>
    <el-form
      :model="supplierForm"
      :rules="rules"
      size="small"
      ref="supplierForm"
      label-width="100px"
      class="demo-supplierForm mt-20"
    >
      <el-form-item label="名称" prop="name">
        <el-input
          v-model="supplierForm.name"
          placeholder="请输入名称"
        ></el-input>
      </el-form-item>
      <el-form-item label="地区" prop="province">
        <div class="select-row">
          <el-select
            class="select-pro"
            v-model="supplierForm.province"
            placeholder="请选择省"
          >
            <el-option
              v-for="item in curproList"
              @click.native="selectProvince(item)"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
          <el-select
            class="select-city"
            v-model="supplierForm.city"
            clearable
            placeholder="请选择市"
          >
            <el-option
              v-for="item in cityList"
              :key="item.id"
              :label="item.name"
              :value="item.name"
            >
            </el-option>
          </el-select>
        </div>
      </el-form-item>
      <el-form-item label="主营类目" prop="mainBusiness">
        <el-input
          type="textarea"
          :rows="5"
          maxlength="500"
          show-word-limit
          placeholder="请输入主营类目"
          v-model="supplierForm.mainBusiness"
        >
        </el-input>
      </el-form-item>
      <!-- <el-form-item label="主营类目" prop="national">
        <div
          v-for="(it, idx) in nationals"
          :key="idx"
          :class="['select-row', { 'mt-10': idx > 0 }]"
        >
          <el-select
            class="select-pro"
            v-model="nationals[idx].nationalOne"
            placeholder="请选择国标一级分类"
          >
            <el-option
              label="请选择"
              @click.native="selectNational(null, idx)"
              value=""
            ></el-option>
            <el-option
              v-for="item in nationalOneList"
              @click.native="selectNational(item, idx)"
              :key="item.id"
              :label="item.name"
              :value="item.code"
            >
            </el-option>
          </el-select>
          <el-select
            v-model="nationals[idx].nationalTwo"
            placeholder="请选择国标二级分类"
          >
            <el-option
              v-for="item in nationalTwoList"
              :key="item.id"
              :label="item.name"
              :value="item.code"
            >
            </el-option>
          </el-select>
          <span class="nation-icons">
            <img
              @click="delNation(idx)"
              src="@/assets/img/icons/dels.png"
              class="mr-15 cp add"
              v-if="nationals.length > 1"
              alt=""
            />
            <img
              @click="addNation"
              src="@/assets/img/v2.0/icons/+.png"
              class="cp del"
              v-if="idx == nationals.length - 1"
              alt=""
            />
          </span>
        </div>
      </el-form-item> -->
      <el-form-item label="分类" prop="category">
        <el-radio-group v-model="supplierForm.category">
          <el-radio label="生产厂家">生产厂家</el-radio>
          <el-radio label="经销批发">经销批发</el-radio>
          <el-radio label="商业服务">商业服务</el-radio>
          <el-radio label="招标代理">招标代理</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="法人代表" prop="legalPerson">
        <el-input
          v-model="supplierForm.legalPerson"
          placeholder="请输入法人代表"
        ></el-input>
      </el-form-item>
      <el-form-item label="注册资金" prop="registerCapital">
        <el-input
          v-model="supplierForm.registerCapital"
          placeholder="请输入注册资金"
        ></el-input>
        <span class="capital-unit"> 万元 </span>
      </el-form-item>
      <el-form-item label="联系地址" prop="address">
        <el-input
          v-model="supplierForm.address"
          placeholder="请输入联系地址"
        ></el-input>
      </el-form-item>
      <el-form-item label="品牌" prop="brand">
        <div class="select-row">
          <span
            class="brand-span"
            :style="reColorStyle(idx)"
            v-for="(it, idx) in brands"
            :key="it.id"
          >
            {{ it.name }}
            <img
              @click="delBrand(idx, it.id)"
              class="close cp"
              src="@/assets/img/v2.0/icons/组 33 拷贝.png"
              alt=""
            />
          </span>
          <span @click="addBrand" class="add-span cp">+</span>
        </div>
      </el-form-item>
      <el-form-item label="经营范围" prop="businessScope">
        <el-input
          type="textarea"
          :rows="5"
          maxlength="500"
          show-word-limit
          placeholder="请输入经营范围"
          v-model="supplierForm.businessScope"
        >
        </el-input>
      </el-form-item>
      <el-form-item label="联系方式">
        <div
          v-for="(it, idx) in supplierForm.contactList"
          :key="idx"
          :class="['select-row', { 'mt-10': idx > 0 }]"
        >
          <el-form
            size="small"
            ref="concatForm"
            :model="it"
            label-width="70px"
            class="concat-form"
          >
            <el-form-item
              label="姓名"
              :rules="{
                required: true,
                message: '请输入供应商名称',
                trigger: 'blur',
              }"
              prop="name"
              ><el-input
                v-model="it.name"
                placeholder="请输入联系人姓名"
              ></el-input>
            </el-form-item>
            <el-form-item
              label="手机号"
              prop="phone"
              :rules="[
                {
                  required: true,
                  message: '请输入联系人手机号码',
                  trigger: 'blur',
                },
                { validator: _validatePhone, trigger: 'blur' },
              ]"
            >
              <el-input
                v-model="it.phone"
                placeholder="请输入联系人手机号"
              ></el-input>
            </el-form-item>
            <el-form-item
              label="微信"
              prop="wechat"
              :rules="{ validator: _validateWeChart, trigger: 'blur' }"
            >
              <el-input
                v-model="it.wechat"
                placeholder="请输入联系人微信"
              ></el-input>
            </el-form-item>
            <el-form-item label="QQ" prop="qq">
              <el-input
                type="number"
                v-model="it.qq"
                placeholder="请输入联系人QQ"
              ></el-input>
            </el-form-item>
            <el-form-item
              label="QQ邮箱"
              prop="email"
              :rules="{ validator: _validateEmail, trigger: 'blur' }"
            >
              <el-input
                v-model="it.email"
                placeholder="请输入联系人QQ邮箱"
              ></el-input>
            </el-form-item>
          </el-form>
          <el-radio class="nation-radio" v-model="firstShow" :label="idx"
            >优先显示</el-radio
          >
          <span class="nation-icons">
            <img
              @click="delConcat(idx)"
              src="@/assets/img/icons/dels.png"
              class="mr-15 cp add"
              v-if="supplierForm.contactList.length > 1"
              alt=""
            />
            <img
              @click="addConcat"
              src="@/assets/img/v2.0/icons/+.png"
              class="cp del"
              v-if="idx == supplierForm.contactList.length - 1"
              alt=""
            />
          </span>
        </div>
      </el-form-item>
    </el-form>
    <el-button type="primary" @click="submitForm()" class="btn save-btn"
      >保存</el-button
    >

    <!-- 添加品牌 -->
    <el-dialog
      title="添加品牌"
      :visible.sync="showAddBrand"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="com-dialog com-checkbox">
        <div class="flex-c">
          <span class="label-text ipt-text"><span>*</span>品牌名称</span>
          <el-select
            v-model="isBrand"
            size="medium"
            filterable
            value-key="id"
            placeholder="请选择"
          >
            <el-option
              v-for="item in brandList"
              :key="item.id"
              :label="item.name"
              :value="item"
            >
            </el-option>
          </el-select>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddBrand = false">取消</el-button>
        <el-button type="primary" @click="submitBrand">保存</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getAreaTree } from "@/api/common";
import {
  validatePhone,
  validateWeChart,
  validateEmail,
} from "@/utils/validate.js";
import {
  getSupplierCondition,
  getAllBrandList,
  addOrUpdateSupplier,
  getSupplierInfo,
} from "@/api/supplier";
export default {
  name: "addSupplier",
  data() {
    return {
      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      provinceList: [], // 省份列表
      cityList: [], // 城市列表
      nationalOneList: [], // 国际一级分类
      nationalTwoList: [], // 国际二级分类
      supplierForm: {
        name: "",
        province: "",
        city: "",
        category: null,
        legalPerson: "",
        registerCapital: "",
        address: "",
        businessScope: "",
        contactList: [
          {
            name: "",
            phone: "",
            wechat: "",
            qq: "",
            email: "",
            isTop: true, // 优先显示联系方式
          },
        ],
        mainBusiness: "",
      },
      firstShow: 0, // 优先显示联系方式下标
      nationals: [
        // 填写国际分类
        {
          nationalOne: "",
          nationalTwo: "",
        },
      ],
      brands: [], // 选中品牌
      brandList: [], // 品牌列表
      allBrands: [], // 全部品牌列表
      showAddBrand: false, // 添加关联品牌
      isBrand: null, // 选中品牌名称
      rules: {
        name: [
          { required: true, message: "请输入供应商名称", trigger: "blur" },
        ],
        province: [
          { required: true, message: "该项不能为空", trigger: "change" },
        ],
        city: [{ required: true, message: "该项不能为空", trigger: "change" }],
      },
      colors: ["#037DFF", "#F9A147", "#19ca3b", "#F13A3F", "#909399"],
      count: 1,

      concatObj: {
        name: "",
        phone: "",
        wechat: "",
        qq: "",
        email: "",
        isTop: false, // 优先显示联系方式
      },
      concatRules: {
        name: [
          { required: true, message: "请输入联系人名称", trigger: "blur" },
        ],
        phone: [{ required: true, message: "请输入手机号", trigger: "blur" }],
      },
    };
  },
  computed: {
    supplierId() {
      return this.$route.query.supplierId;
    },
    // 校验手机号码
    _validatePhone() {
      return validatePhone;
    },
    // 校验微信号
    _validateWeChart() {
      return validateWeChart;
    },
    _validateEmail() {
      return validateEmail;
    },
  },
  mounted() {
    this.getAreaTreeList(); // 获取省市区
    this.getSupplierCondition(); // 获取国标分类和自定义分类和城市

    this.getAllBrandList(); // 获取全部品牌列表

    // 编辑-查看供应商详情
    if (this.supplierId) this.getSupplierInfo();
  },
  methods: {
    // 添加联系人
    addConcat() {
      this.supplierForm.contactList.push(this.concatObj);
    },
    // 删除联系人
    delConcat(idx) {
      this.supplierForm.contactList.splice(idx, 1);
    },
    // 添加关联品牌
    addBrand(row) {
      // let obj = {
      //   id: "new" + this.count,
      //   name: "品牌" + this.count,
      // };
      // this.brands.push(obj);
      // this.count++;

      this.showAddBrand = true;
    },
    // 添加关联品牌
    submitBrand() {
      this.brands.push(this.isBrand);
      this.showAddBrand = false;

      // 去掉已选中品牌
      for (let i = 0, l = this.brandList.length; i < l; i++) {
        if (this.brandList[i].id == this.isBrand.id) {
          this.brandList.splice(i, 1);
          break;
        }
      }

      this.isBrand = null;
      console.log(this.brands);
    },
    // 删除品牌
    delBrand(idx, id) {
      this.brands.splice(idx, 1);

      // 添加回去掉的选中品牌
      for (let i = 0, l = this.allBrands.length; i < l; i++) {
        if (this.allBrands[i].id == id) {
          this.brandList.push(this.allBrands[i]);
          break;
        }
      }
    },
    // 添加国际分类
    addNation() {
      let obj = {
        nationalOne: "",
        nationalTwo: "",
      };
      this.nationals.push(obj);
    },
    // 删除国际分类
    delNation(idx) {
      this.nationals.splice(idx, 1);
    },
    // 选择国际分类
    selectNational(item, idx) {
      if (!item) {
        this.nationalTwoList = [];
        this.nationals[idx].nationalTwo = "";
      } else {
        this.nationalTwoList = item.sub;
        this.nationals[idx].nationalTwo = item.sub[0].code;
      }
    },
    // 选择省份
    selectProvince(item) {
      this.cityList = this.areaData[item];
      this.supplierForm.city = this.cityList[0].name;
    },
    // 获取地区（省，市，区）
    getAreaTreeList() {
      getAreaTree().then((res) => {
        if (res && res.code === "01") {
          let areaData = []; //  [{省：[{市：[区]}]}]
          let proList = [];
          res.body.forEach((item) => {
            proList.push(item.name);
            let cityarr = [];
            if (item.sub)
              item.sub.forEach((city) => {
                let areaarr = [];
                if (city.sub)
                  city.sub.forEach((area) => {
                    areaarr.push(area.name);
                  });
                let obj = {};
                obj.name = city.name;
                obj.id = city.id;
                obj.sub = areaarr;
                cityarr.push(obj);
              });
            areaData[item.name] = cityarr;
          });
          this.curproList = proList;
          this.areaData = areaData;
        }
      });
    },
    // 获取国标分类和自定义分类和城市
    getSupplierCondition() {
      getSupplierCondition().then((res) => {
        if (res && res.code == "01") {
          this.nationalOneList = res.body.subClassifyList;
        }
      });
    },
    // 获取全部品牌列表
    getAllBrandList() {
      getAllBrandList().then((res) => {
        console.log("品牌", res);
        if (res && res.code == "01") {
          this.brandList = res.body;
          this.allBrands = JSON.parse(JSON.stringify(res.body));
        }
      });
    },
    
    // 获取供应商详情信息
    getSupplierInfo() {
      getSupplierInfo({ supplierId: this.supplierId }).then((res) => {
        if (res && res.code == "01") {
          console.log("详情", res);
          let { brandIds, brandNames, subcNames, supplierName, ...obj } =
            res.body;
          this.supplierForm = obj;
          this.supplierForm.name = supplierName;

          // 优先显示回显
          let arr = this.supplierForm.contactList;
          for (let i = 0, l = arr.length; i < l; i++) {
            if (arr[i].isTop) {
              this.firstShow = i;
              break;
            }
          }

          // 去掉已选中品牌
          if (brandIds) {
            let list = brandIds.split(",");
            for (let j = 0, l2 = list.length; j < l2; j++) {
              for (let i = 0, l = this.brandList.length; i < l; i++) {
                if (list[j] == this.brandList[i].id) {
                  this.brands.push(this.brandList[i]);
                  this.brandList.splice(i, 1);
                  i--;
                  l--;
                  continue;
                }
              }
            }
          }
        }
      });
    },
    // 提交表单
    submitForm() {
      console.log(this.nationals);
      // 表单基本信息校验
      if (!this.checkForm("supplierForm")) return;
      // 联系人列表校验
      let concats = this.$refs.concatForm;
      for (let i = 0, l = concats.length; i < l; i++) {
        concats[i].validate((valid) => {
          console.log(valid);
          if (!valid) return;
        });
      }

      // 国标分类
      // if (this.nationals.length) {
      //   let arr = this.nationals.map((it) => {
      //     return it.nationalTwo;
      //   });
      //   this.supplierForm.subcids = arr.join();
      // } else {
      //   this.supplierForm.subcids = "";
      // }

      console.log("校验成功", this.supplierForm);
      this.supplierForm.contactList = this.supplierForm.contactList.map(
        (it, idx) => {
          if (idx == this.firstShow) {
            it.isTop = true;
          } else {
            it.isTop = false;
          }
          return it;
        }
      );

      if (this.brands.length) {
        let arr = this.brands.map((it) => it.id);
        this.supplierForm.brandIds = arr.join(",");
      }

      addOrUpdateSupplier(this.supplierForm).then((res) => {
        if (res && res.code == "01") {
          this.$message.success("添加供应商成功！");
          this.$router.push("/supplier/index");
        } else {
          this.$message.error(res.message || "添加失败！");
        }
      });
    },
    // 表单校验
    checkForm(formName) {
      console.log(formName, this.$refs.concatForm);
      let result = false;
      this.$refs[formName].validate((valid) => {
        if (valid) {
          result = true;
        } else {
          console.log("error submit!!");
          result = false;
        }
      });
      return result;
    },
    // 重置表单
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    reColorStyle(index) {
      let idx = index % 5;
      let color = this.colors[idx];
      return {
        border: `1px solid ${color}`,
        color,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.add-supplier {
  background: #fff;
  padding-top: 14px;
  padding-bottom: 30px;
  .demo-supplierForm {
    width: 545px;
    &::v-deep .el-form-item__label {
      font-weight: 400;
      color: #999999;
    }

    .select-row {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      .el-select {
        flex: 1;
      }
      .select-pro {
        margin-right: 10px;
      }
    }

    .el-textarea {
      &::v-deep {
        .el-textarea__inner {
          border: none;
          background: #f6f9fe;
        }
        .el-input__count {
          background: #f6f9fe;
        }
      }
    }

    .nation-icons {
      width: 45px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      right: -70px;
      bottom: 8px;
    }
    .nation-radio {
      width: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      right: -155px;
      top: 8px;
    }
    .capital-unit {
      width: 45px;
      position: absolute;
      margin-left: 25px;
      color: #999999;
    }

    .brand-span {
      width: 101.2px;
      height: 32px;
      border: 1px solid #037dff;
      color: #037dff;
      border-radius: 4px;
      text-align: center;
      margin-right: 10px;
      position: relative;
      margin-bottom: 10px;
      .close {
        position: absolute;
        right: -6px;
        top: -6px;
      }
    }
    .add-span {
      width: 101.2px;
      height: 32px;
      border-radius: 4px;
      border: 1px solid #e5e5e5;
      text-align: center;
      font-size: 20px;
    }

    .concat-form {
      border: 1px solid #e6e6e6;
      padding-top: 15px;
      padding-right: 15px;
      border-radius: 4px;
      width: 445px;
      &::v-deep .el-form-item__label {
        // background: #E6E6E6;
        // border-top-left-radius: 4px;
        // border-bottom-left-radius: 4px;
      }
    }
  }

  .save-btn {
    width: 118px;
    height: 44px;
    margin-left: 35px;
  }

  .el-select {
    width: 100%;
  }
}
</style>

<style lang="scss">
.add-supplier {
  .com-dialog .el-dialog__body {
    padding-top: 20px;
  }
}
</style>