<template>
  <div class="calcula-container">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>新项目智能应用</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/targetApplication/index' }">快速造价</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">新增测算</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <!-- 切换标签 -->
    <div class="mt-10" v-if="stageConfigId != '1'">
      <el-tabs type="border-card" v-model="activeTab" @tab-click="changeTab">
        <el-tab-pane label="单项工程指标" name="单项工程指标"></el-tab-pane>
        <el-tab-pane label="单位工程指标" name="单位工程指标"></el-tab-pane>
        <el-tab-pane label="分部工程指标" name="分部工程指标"></el-tab-pane>
        <el-tab-pane label="主材总造价指标" name="主材总造价指标"></el-tab-pane>
      </el-tabs>
    </div>
    <!-- 主内容 -->
    <div class="tab-content mt-10">
      <!-- 左侧内容 -->
      <div class="content-left">
        <div class="tab-info">
          <div class="title">
            <div class="b-title">快速造价-{{stage}}-{{activeTab}}</div>
          </div>
          <div class="line flex-c">
            <div class="mr-20">测算项目</div>
            <div class="com-label-text">{{specialtyType+'-'+projectType+'-'+engType}}</div>
          </div>
          <div class="line flex-c">
            <div class="mr-20">适用地区</div>
            <div class="com-label-text">{{projectArea}}</div>
          </div>
          <div class="line flex-c">
            <div class="mr-20">测算阶段</div>
            <div class="com-label-text">{{stage}}</div>
          </div>
        </div>
        <div class="main mt-10">
          <!-- 设置 -->
          <div class="title">
            <div class="b-title">快速造价参数设置</div>
          </div>
          <div class="caliber flex-c">
            <div class="tag-p"><span class="r-color">*</span>计算口径</div>
            <div class="flex-csb">
              <el-input class="koujing" v-model="caliber" placeholder="请输入项目计算口径" @input="iptkoujin"></el-input>
              <el-select class="form-unit" v-model="unit" placeholder="单位">
                <el-option v-for="item in unitList" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
            </div>
          </div>
          <p class="tag-p mb-28 mt-10">
            <span>技术特征</span>
          </p>
          <div v-for="(item, key) in featureList" :key="key" class="flex-c div-row mb-20" v-show="key <= 6 || isFold">
            <span class="label-text">{{ item.name }}：</span>
            <div class="div-spans">
              <el-checkbox :indeterminate="featureList[key].indeterminates" v-model="featureList[key].featureAll" @change="conditionCheckAllChange($event, key)" class="all">
                全部
              </el-checkbox>
              <el-checkbox-group v-model="featureList[key].featureChecked" @change="conditionCheckedFeaturesChange($event, key)">
                <el-checkbox v-show="idx <= 7 || item.isShow" v-for="(it, idx) in featureItem(item.defaultValues)" :label="it" :key="item.name + idx + it">
                  {{ it }}
                </el-checkbox>
                <span class="more p-color" @click="setMoreType(item)" v-if="featureItem(item.defaultValues) && featureItem(item.defaultValues).length > 8">
                  {{ item.isShow ? "收起" : "更多" }}
                  <span class="cp  p-color el-icon-arrow-right" :class="{ 'is-rotate': item.isShow}"></span>
                </span>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 展开更多 -->
          <div class="show-more" @click="isFold = !isFold">
            <span>{{isFold?'收起':'展开'}}</span>
            <span class="cp el-icon-arrow-down" :class="{'is-rotate': isFold}"></span>
          </div>
          <div class="flex-c com-time-search tag-p">
            <span class="label-text">换算时间</span>
            <el-date-picker class="ml-10" v-model="scalerDate" value-format="yyyy-MM" type="month" placeholder="选择日期" :picker-options="pickerOptions" @change="changetime">
            </el-date-picker>
          </div>
          <!-- 栏1 -->
          <div class="title flex-csb pt-20">
            <div class="b-title">测算方案</div>
            <div class="add-btn cp" @click="addNewUnitPro" v-if="activeTab == '单位工程指标' || activeTab == '分部工程指标'">
              <img src="@/assets/img/v2.0/icons/add_unit.png" alt="">
              <span>添加单位工程</span>
            </div>
          </div>
          <!-- 1 -->
          <div class="table-box expand-table" v-if="activeTab == '单项工程指标'">
            <el-table ref="multipleTable" :data="tableData1" tooltip-effect="dark" v-loading="tableLoading1" class="table-main" style="width: 100%;" key="tab1type1" highlight-current-row
              @current-change="changeRow">
              <el-table-column label="指标名称" prop="name">
              </el-table-column>
              <el-table-column label="综合经济指标">
                <template slot-scope="scope">
                  <div class="b-color cp" v-if="scope.row.edit">
                    <el-input v-model="scope.row.target" placeholder="请输入综合指标"></el-input>
                  </div>
                  <div class="b-color cp" v-else>{{formatNumber(scope.row.target,true)}}</div>
                </template>
              </el-table-column>
              <el-table-column label="指标合理区间">
                <template slot-scope="scope">
                  <div class="b-color cp">{{scope.row.maxPrice ? (scope.row.minPrice+' ~ '+scope.row.maxPrice) : '--/--'}}</div>
                </template>
              </el-table-column>
              <el-table-column label="造价金额(元)" align="center">
                <template slot-scope="scope">
                  <div class="b-color cp">{{1*(parseFloat(scope.row.target) * caliber).toFixed(2) || 0}}</div>
                </template>
              </el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-tooltip effect="light" content="保存" placement="top" class="mr-30 cp" v-if="scope.row.edit">
                    <img src="@/assets/img/v2.0/icons/save.png" alt="" @click.stop="saveTableData1(scope.row,scope.$index)">
                  </el-tooltip>
                  <el-tooltip effect="light" content="修改" placement="top" class="mr-30 cp" v-else>
                    <img src="@/assets/img/icons/edits.png" alt="" @click.stop="editTableData1(scope.$index)">
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <!-- 2 -->
          <div class="table-box expand-table" v-if="activeTab == '单位工程指标'">
            <el-table ref="multipleTable" :data="tableData1" tooltip-effect="dark" v-loading="tableLoading1" class="table-main" style="width: 100%;" key="tab1type2" highlight-current-row
              @current-change="changeRow">
              <el-table-column label="单位工程名称">
                <template slot-scope="scope">
                  <div class="b-color cp" v-if="scope.row.edit">
                    <el-select v-model="scope.row.name" placeholder="请选择单位工程" @change="changePro2(scope.row,scope.$index)">
                      <el-option v-for="item in projectOptions" :key="item.code" :label="item.useName" :value="item.useName" :disabled="checkedArr2.indexOf(item.useName) > -1">
                      </el-option>
                    </el-select>
                  </div>
                  <div class="b-color cp" v-else>{{scope.row.name}}</div>
                </template>
              </el-table-column>
              <el-table-column label="综合经济指标">
                <template slot-scope="scope">
                  <div class="b-color cp" v-if="scope.row.edit">
                    <el-input v-model="scope.row.target" placeholder="请输入综合指标"></el-input>
                  </div>
                  <div class="b-color cp" v-else>{{formatNumber(scope.row.target,true)}}</div>
                </template>
              </el-table-column>
              <el-table-column label="指标合理区间">
                <template slot-scope="scope">
                  <div class="b-color cp">{{scope.row.maxPrice ? (scope.row.minPrice+' ~ '+scope.row.maxPrice) : '--/--'}}</div>
                </template>
              </el-table-column>
              <el-table-column label="造价金额(元)" align="center">
                <template slot-scope="scope">
                  <div class="b-color cp">{{scope.row.target ? (parseFloat(scope.row.target) * caliber).toFixed(2) : 0}}</div>
                </template>
              </el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-tooltip effect="light" content="保存" placement="top" class="mr-30 cp" v-if="scope.row.edit">
                    <img src="@/assets/img/v2.0/icons/save.png" alt="" @click.stop="saveTableData1(scope.row,scope.$index)">
                  </el-tooltip>
                  <el-tooltip effect="light" content="修改" placement="top" class="mr-30 cp" v-else>
                    <img src="@/assets/img/icons/edits.png" alt="" @click.stop="editTableData1(scope.$index)">
                  </el-tooltip>
                  <el-tooltip effect="light" content="删除" placement="top" class="mr-30 cp">
                    <img src="@/assets/img/table/del.png" alt="" @click.stop="delTableData1(scope.$index)">
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <!-- 3 -->
          <div class="table-box expand-table" v-if="activeTab == '分部工程指标'">
            <el-table ref="multipleTable" :data="tableData1" tooltip-effect="dark" v-loading="tableLoading1" class="table-main" style="width: 100%;" key="tab1type3" :default-expand-all="true"
            >
              <!-- 分部 -->
              <el-table-column type="expand" width="48px">
                <template slot-scope="scope">
                  <el-table :row-key="getSubRowKeys" :expand-row-keys="subExpandRowKeys" @expand-change="subExpandChange" :data="scope.row.children" style="width: 100%" class="sub-expand-table"
                    @row-click="changeRow($event,scope.$index)" :row-class-name="tableRowClassName">
                    <el-table-column label="单位工程" width="168px" prop="">
                    </el-table-column>
                    <el-table-column prop="name" label="分部工程">
                    </el-table-column>
                    <el-table-column label="综合经济指标">
                      <template slot-scope="subScope">
                        <div class="b-color cp" v-if="subScope.row.edit">
                          <el-input v-model="subScope.row.target" placeholder="请输入"></el-input>
                        </div>
                        <div class="b-color cp" v-else>{{subScope.row.target}}</div>
                      </template>
                    </el-table-column>
                    <el-table-column label="指标合理区间">
                      <template slot-scope="subScope">
                        <div class="b-color cp">{{subScope.row.maxPrice ? subScope.row.minPrice + '~' + subScope.row.maxPrice : ''}}</div>
                      </template>
                    </el-table-column>
                    <el-table-column label="造价金额(元)" align="center">
                      <template slot-scope="subScope">
                        <div class="b-color cp">{{subScope.row.target ? (1*(parseFloat(subScope.row.target) * caliber).toFixed(2) || 0).toFixed(2) : ''}}</div>
                      </template>
                    </el-table-column>
                    <el-table-column label="综合占比(%)">
                      <template slot-scope="subScope">
                        <div class="b-color cp flex-c" v-if="subScope.row.edit">
                          <el-input v-model="subScope.row.percent" placeholder="请输入"></el-input>
                        </div>
                        <div class="b-color cp" v-else>{{subScope.row.percent}}</div>
                      </template>
                    </el-table-column>
                    <el-table-column label="占比合理范围">
                      <template slot-scope="subScope">
                        <div class="b-color cp">{{subScope.row.maxPercent ? subScope.row.minPercent + '~' + subScope.row.maxPercent : ''}}</div>
                      </template>
                    </el-table-column>
                    <el-table-column label="操作">
                      <template slot-scope="subScope">
                        <el-tooltip effect="light" content="保存" placement="top" class="mr-30 cp" v-if="subScope.row.edit">
                          <img src="@/assets/img/v2.0/icons/save.png" alt="" @click.stop="saveTableDataExpand(subScope.row,scope.$index,subScope.$index,scope.row)">
                        </el-tooltip>
                        <el-tooltip effect="light" content="修改" placement="top" class="mr-30 cp" v-else>
                          <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click.stop="editTableExpand(scope.$index,subScope.$index)" />
                        </el-tooltip>
                        <el-tooltip effect="light" content="删除" placement="top" class="mr-30 cp">
                          <img src="@/assets/img/table/del.png" alt="" @click.stop="delTableExpand(scope.$index,subScope.$index)">
                        </el-tooltip>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <el-table-column label="单位工程" prop="name" width="130">
              </el-table-column>
              <el-table-column label="分部工程" prop="">
              </el-table-column>
              <el-table-column label="综合经济指标" prop="">
              </el-table-column>
              <el-table-column label="指标合理区间" prop="">
              </el-table-column>
              <el-table-column label="造价金额(元)" align="center">
                <template slot-scope="scope">
                  <div class="b-color cp">{{addUpTotalPrice(scope.row)}}</div>
                </template>
              </el-table-column>
              <el-table-column label="综合占比(%)" prop="">
              </el-table-column>
              <el-table-column label="占比合理范围" prop="">
              </el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-tooltip effect="light" content="添加分部" placement="top" class="mr-30 cp">
                    <img src="@/assets/img/v2.0/icons/add_unit.png" alt="" @click.stop="addBranch(scope.row,scope.$index)">
                  </el-tooltip>
                  <el-tooltip effect="light" content="删除" placement="top" class="mr-30 cp">
                    <img src="@/assets/img/table/del.png" alt="" @click.stop="delTableData2(scope.$index)">
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <!-- 4 -->
          <div class="table-box expand-table" v-if="activeTab == '主材总造价指标'">
            <el-table ref="multipleTable" :data="tableData1" tooltip-effect="dark" v-loading="tableLoading1" class="table-main" style="width: 100%;" key="tab1type4" highlight-current-row
              @current-change="changeRow">
              <el-table-column label="主材名称" prop="name">
              </el-table-column>
              <el-table-column label="综合经济指标">
                <template slot-scope="scope">
                  <div class="b-color cp" v-if="scope.row.edit">
                    <el-input v-model="scope.row.target" placeholder="请输入综合指标"></el-input>
                  </div>
                  <div class="b-color cp" v-else>{{formatNumber(scope.row.target,true)}}</div>
                </template>
              </el-table-column>
              <el-table-column label="指标合理区间">
                <template slot-scope="scope">
                  <div class="b-color cp">{{scope.row.maxPrice ? (scope.row.minPrice+' ~ '+scope.row.maxPrice) : '--/--'}}</div>
                </template>
              </el-table-column>
              <el-table-column label="造价金额(元)" align="center">
                <template slot-scope="scope">
                  <div class="b-color cp">{{1*(parseFloat(scope.row.target) * caliber).toFixed(2) || 0}}</div>
                </template>
              </el-table-column>
              <el-table-column label="综合占比(%)" align="center">
                <template slot-scope="scope">
                  <div class="b-color cp flex-c" v-if="scope.row.edit">
                    <el-input v-model="scope.row.percent" placeholder="请输入综合占比"></el-input>
                  </div>
                  <div class="b-color cp" v-else>{{scope.row.percent}}</div>
                </template>
              </el-table-column>
              <el-table-column label="占比合理范围">
                <template slot-scope="scope">
                  <div class="b-color cp">{{scope.row.maxPercent ? scope.row.minPercent+' ~ '+scope.row.maxPercent : ''}}</div>
                </template>
              </el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-tooltip effect="light" content="保存" placement="top" class="mr-30 cp" v-if="scope.row.edit">
                    <img src="@/assets/img/v2.0/icons/save.png" alt="" @click.stop="saveTableData1(scope.row,scope.$index)">
                  </el-tooltip>
                  <el-tooltip effect="light" content="修改" placement="top" class="mr-30 cp" v-else>
                    <img src="@/assets/img/icons/edits.png" alt="" @click.stop="editTableData1(scope.$index)">
                  </el-tooltip>
                  <el-tooltip effect="light" content="删除" placement="top" class="mr-30 cp">
                    <img src="@/assets/img/table/del.png" alt="" @click.stop="delTableExpand1(scope.$index)">
                  </el-tooltip>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <el-button type="primary" class="flex-cc btn" slot="reference" @click="submitPlan">
            <img src="@/assets/img/table/add.png" alt="" class="el-icon-search">提交测算方案
          </el-button>
          <!-- 栏2 -->
          <template v-if="showRes">
            <div class="title pt-20">
              <div class="b-title">测算结果(换算时间:{{scalerDate ? scalerDate : '无'}})</div>
            </div>
            <!-- 测算结果 -->
            <div class="result-info flex-cc">
              <div class="result-title flex-cc">造价测算结果</div>
              <div class="result-data flex-cc">
                <img src="@/assets/img/v2.0/num_1.png" alt="" class="mr-15">
                <div class="price_box">
                  <div class="prop c1">造价金额 (万元)</div>
                  <div class="price">{{(addup/10000).toFixed(2)}}</div>
                </div>
              </div>
              <div class="result-data flex-cc">
                <img src="@/assets/img/v2.0/num_2.png" alt="" class="mr-15">
                <div class="price_box">
                  <div class="prop c2">计算口径 ({{unit}})</div>
                  <div class="price">{{formatNumber(caliber)}}</div>
                </div>
              </div>
              <div class="result-data flex-cc">
                <img src="@/assets/img/v2.0/num_3.png" alt="" class="mr-15">
                <div class="price_box">
                  <div class="prop c3">平均经济指标 (元/{{unit}})</div>
                  <div class="price">{{(addup/caliber).toFixed(2)}}</div>
                </div>
              </div>
            </div>
            <!-- 浮动率 -->
            <div class="flex-c mb-20">
              <div class="float flex-csb">
                <el-select class="form-unit" v-model="curFloat" placeholder="请选择">
                  <el-option v-for="item in ['上浮','下浮']" :key="item" :label="item" :value="item">
                  </el-option>
                </el-select>
                <el-input class="float-num mr-5" v-model="floatNum" placeholder="请输入浮动率" @input="iptfloat"></el-input>%
              </div>
              <div class="ml-10 flex-cc">
                <img src="@/assets/img/v2.0/icons/red_tip.png" alt="" class="mr-5" />
                <div slot="content" class="r-color">浮动率不能超过50%</div>
              </div>
            </div>
            <div class="result-info flex-cc" v-if="floatNum">
              <div class="result-title result-title2 flex-cc">造价浮动率</div>
              <div class="result-data result-data2 flex-cc">
                <img src="@/assets/img/v2.0/num_4.png" alt="" class="mr-15">
                <div class="price_box">
                  <div class="prop c4">调整后测算金额 (万元)</div>
                  <div class="price">{{(afterAddup/10000).toFixed(2)}}</div>
                </div>
              </div>
              <div class="result-data result-data2 flex-cc">
                <img src="@/assets/img/v2.0/num_5.png" alt="" class="mr-15">
                <div class="price_box">
                  <div class="prop c5">浮动率</div>
                  <div class="price">{{curFloat == '上浮' ? '+' : '-'}}{{floatNum}}%</div>
                </div>
              </div>
              <div class="result-data result-data2 flex-cc">
                <img src="@/assets/img/v2.0/num_6.png" alt="" class="mr-15">
                <div class="price_box">
                  <div class="prop c6">调整后经济指标 (元/{{unit}})</div>
                  <div class="price">{{formatNumber((afterAddup/caliber).toFixed(2))}}</div>
                </div>
              </div>
            </div>
            <!-- 工程造价占比 -->
            <template v-if="activeTab == '单项工程指标'">
              <div class="title flex-csb pt-20">
                <div class="b-title">设置单位工程造价占比</div>
                <div class="add-btn cp" @click="addUnitPro">
                  <img src="@/assets/img/v2.0/icons/add_unit.png" alt="">
                  <span>添加单位工程</span>
                </div>
              </div>
              <div class="table-box">
                <el-table :data="tableData2" tooltip-effect="dark" v-loading="tableLoading2" class="table-main" style="width: 100%;">
                  <el-table-column label="名称">
                    <template slot-scope="scope">
                      <div class="b-color cp" v-if="scope.row.edit">
                        <el-select class="form-unit" v-model="scope.row.name" placeholder="请输入工程" @change="changePro(scope.row,scope.$index)">
                          <el-option v-for="item in projectOptions" :key="item.code" :label="item.useName" :value="item.useName" :disabled="checkedArr.indexOf(item.useName) > -1">
                          </el-option>
                        </el-select>
                      </div>
                      <div class="b-color cp" v-else>{{scope.row.name}}</div>
                    </template>
                  </el-table-column>
                  <el-table-column label="占比">
                    <template slot-scope="scope">
                      <div class="b-color cp flex-c" v-if="scope.row.edit">
                        <el-input v-model="scope.row.percent" placeholder="请输入占比" @input="iptPercent($event,scope.$index)"></el-input> %
                      </div>
                      <div class="b-color cp" v-else>{{scope.row.percent}}%</div>
                    </template>
                  </el-table-column>
                  <el-table-column label="测算金额(元)" align="center">
                    <template slot-scope="scope">
                      <div class="b-color cp">{{formatNumber((scope.row.percent*addup/100).toFixed(2))}}</div>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作">
                    <template slot-scope="scope">
                      <el-tooltip effect="light" content="保存" placement="top" class="mr-30 cp" v-if="scope.row.edit">
                        <img src="@/assets/img/v2.0/icons/save.png" alt="" @click="saveTableData2(scope.row,scope.$index)">
                      </el-tooltip>
                      <el-tooltip effect="light" content="修改" placement="top" class="mr-30 cp" v-else>
                        <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="editTableData2(scope.$index)" />
                      </el-tooltip>
                      <el-tooltip effect="light" content="删除" placement="top" class="mr-30 cp">
                        <img src="@/assets/img/table/del.png" alt="" @click="delUnitPro(scope.$index)">
                      </el-tooltip>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </template>
            <!-- 建设其他费 -->
            <template v-if="stageConfigId == '1' || stageConfigId == '2'">
              <div class="title flex-csb">
                <div class="b-title">设置建设其他费</div>
                <div class="add-btn cp" @click="addOtherFee">
                  <img src="@/assets/img/v2.0/icons/add_unit.png" alt="">
                  <span>添加费用</span>
                </div>
              </div>
              <div class="table-box">
                <el-table :data="tableData3" tooltip-effect="dark" v-loading="tableLoading3" class="table-main" style="width: 100%;">
                  <el-table-column label="名称">
                    <template slot-scope="scope">
                      <div class="b-color cp flex-c" v-if="scope.row.edit">
                        <el-input v-model="scope.row.name" placeholder="请输入名称"></el-input>
                      </div>
                      <div class="b-color cp" v-else>{{scope.row.name}}</div>
                    </template>
                  </el-table-column>
                  <!-- <el-table-column
                    label="费率"
                    align="center">
                    <template slot-scope="scope">
                      <div class="b-color cp flex-c" v-if="scope.row.edit">
                        <el-input v-model="scope.row.percent" placeholder="请输入费率" @input="iptFeepercent($event,scope.$index)"></el-input> %
                      </div>
                      <div class="b-color cp" v-else>{{scope.row.percent}}%</div>
                    </template>
                  </el-table-column> -->
                  <el-table-column label="金额(元)" align="center">
                    <template slot-scope="scope">
                      <div class="b-color cp flex-c" v-if="scope.row.edit">
                        <el-input v-model="scope.row.price" placeholder="请输入金额" @input="iptFee($event,scope.$index)"></el-input>
                      </div>
                      <div class="b-color cp" v-else>{{formatNumber(scope.row.price)}}</div>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作">
                    <template slot-scope="scope">
                      <template>
                        <el-tooltip effect="light" content="保存" placement="top" class="mr-30 cp" v-if="scope.row.edit">
                          <img src="@/assets/img/v2.0/icons/save.png" alt="" @click="saveTableData3(scope.row,scope.$index)">
                        </el-tooltip>
                        <el-tooltip effect="light" content="修改" placement="top" class="mr-30 cp" v-else>
                          <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="editTableData3(scope.$index)" />
                        </el-tooltip>
                      </template>
                      <el-tooltip effect="light" content="删除" placement="top" class="mr-30 cp">
                        <img src="@/assets/img/table/del.png" alt="" @click="delOtherFee(scope.$index)">
                      </el-tooltip>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </template>
            <!-- 保存方案 -->
            <el-button type="primary" class="flex-cc btn" slot="reference" @click="savePlan">
              保存方案
            </el-button>
          </template>
        </div>
      </div>

      <!-- 右侧内容 -->
      <div class="content-right">
        <!-- 计算 -->
        <template v-if="!addAgain">
          <div class="title">
            <div class="b-title">综合指标配置</div>
          </div>
          <div class="target-tip">
            <span>指标推荐</span>
            <span class="blue">【数据源自综合指标库具备造价参考意义的指标】</span>
          </div>
          <!-- 表内容 -->
          <div class="table-box" v-infinite-scroll="loadmore" infinite-scroll-immediate="false" infinite-scroll-disabled="disload" style="max-height: 460px;min-height: 200px;overflow: auto;">
            <el-table :data="tableData4" tooltip-effect="dark" v-loading="tableLoading4" class="table-main text-14" style="width: 100%;">
              <el-table-column label="指标名称">
                <template slot-scope="scope">
                  <div class="b-color cp" @click="toDetail(scope.row)">{{scope.row.name}}</div>
                </template>
              </el-table-column>
              <el-table-column label="综合经济指标">
                <template slot-scope="scope">
                  <div>{{formatNumber(scope.row.target,true)}}</div>
                </template>
              </el-table-column>
              <!-- <el-table-column
                label="换算时间"
                width="80">
                <template slot-scope="scope">
                  <div>{{scope.row.time || '--/--'}}</div>
                </template>
              </el-table-column> -->
              <el-table-column label="操作" width="80" align="center">
                <template slot-scope="scope">
                  <div class="r-color cp" v-if="scope.row.add" @click="cancelTarget(scope.row,scope.$index)">取消</div>
                  <div class="b-color cp" v-else @click="addTarget(scope.row,scope.$index,1)">加入测算</div>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <div class="count-btn cp flex-cc" @click="addAgain = true" :style="proCode ? '' : 'pointer-events: none;background: #ccc;'">重新计算新指标</div>
        </template>
        <!-- 重新计算 -->
        <template v-else>
          <div class="title flex-csb">
            <div class="b-title">重新计算综合指标配置</div>
            <div class="b-color cp" @click="addAgain = false">
              <span class="mr-5">返回</span>
              <img src="@/assets/img/icons/backs.png" alt="" />
            </div>
          </div>
          <div class="sample cp flex-cc" v-if="!firstAdd" @click="sampleDialog = true">查看样本>></div>
          <div class="flex-c mt-20">
            <span class="label-text">时间范围：</span>
            <div class="com-time-search">
              <el-date-picker v-model="startDate" type="month" placeholder="选择日期" value-format="yyyy-MM" :picker-options="pickerOptions1">
              </el-date-picker>
            </div>
            <span class="com-line"></span>
            <div class="com-time-search">
              <el-date-picker v-model="endDate" type="month" placeholder="选择日期" value-format="yyyy-MM" :picker-options="pickerOptions2">
              </el-date-picker>
            </div>
            <!-- <div v-if="!startDate && !endDate" class="ml-10">
              <el-tooltip effect="light" placement="top">
                <img src="@/assets/img/v2.0/icons/red_tip.png" alt="" class="mr-5" />
                <div slot="content" class="r-color">请选择时间范围</div>
              </el-tooltip>
            </div> -->
          </div>
          <div class="flex-c mt-20">
            <span class="label-text">选择算法：</span>
            <div class="select-way">
              <el-select v-model="curWay" placeholder="请选择">
                <el-option v-for="item in wayStatusList" :key="item" :label="item" :value="item">
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="count-btn cp flex-cc" @click="addSample">{{firstAdd ? '开始计算' : '重新计算'}}</div>

          <!-- 表内容 -->
          <div class="table-box" v-if="!firstAdd">
            <el-table :data="tableData5" tooltip-effect="dark" v-loading="tableLoading5" class="table-main" style="width: 100%;">
              <el-table-column label="指标名称">
                <template slot-scope="scope">
                  <div>{{scope.row.name}}</div>
                </template>
              </el-table-column>
              <el-table-column label="综合经济指标">
                <template slot-scope="scope">
                  <div>{{formatNumber(scope.row.calPrice)+scope.row.unit+'/'+scope.row.caliberUnit}}</div>
                </template>
              </el-table-column>
              <el-table-column label="操作" width="70" align="center">
                <template slot-scope="scope">
                  <div class="r-color cp" v-if="scope.row.add" @click="cancelTarget1(scope.row,scope.$index)">取消</div>
                  <div class="b-color cp" v-else @click="addTarget(scope.row,scope.$index,2)">加入测算</div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </template>
      </div>

      <!-- 样本数据弹窗 -->
      <el-dialog :visible.sync="sampleDialog" width="560px" class="com-dialog sampleDialog" :close-on-click-modal="false">
        <div class="table-box">
          <div class="title flex-csb mb-10">
            <div class="b-title">样本数据({{tableData6 && tableData6.length || 0}}个)</div>
            <!-- <div class="back cp" @click="sampleDialog = false">返回</div> -->
          </div>
          <div class="pl-10 mb-10">
            指标名称: {{proName}}
          </div>
          <div style="max-height: 400px;min-height: 200px;overflow: auto;">
            <el-table :data="tableData6" tooltip-effect="dark" v-loading="tableLoading6" class="table-main" style="width: 100%;">
              <el-table-column label="所属项目名称">
                <template slot-scope="scope">
                  <div class="ellipsis1">{{scope.row.name}}</div>
                </template>
              </el-table-column>
              <el-table-column label="造价金额(元)">
                <template slot-scope="scope">
                  <div>{{formatNumber(scope.row.totalPrice)}}</div>
                </template>
              </el-table-column>
              <el-table-column label="经济指标" align="center">
                <template slot-scope="scope">
                  <div class="p-color cp" @click="toTargetDetail(scope.row)">{{formatNumber(scope.row.econStd,true)}}</div>
                </template>
              </el-table-column>
              <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                  <div class="switch">
                    <el-switch v-model="scope.row.isQualified" active-color="#2773FC" inactive-color="#C2C2C2" @change="switchStatus($event,scope.row.id)">
                    </el-switch>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="addAgainDialog = true" :disabled="!tableData6.length">重新计算</el-button>
        </span>
      </el-dialog>

      <!-- 重新计算提示弹窗 -->
      <el-dialog title="操作提示" :visible.sync="addAgainDialog" width="420px" class="com-dialog add-again" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" class="mt-20 mb-20">
        <p class="ml-20">重新计算,则按当前所选样本进行计算!</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addAgainDialog = false">取消</el-button>
          <el-button type="primary" @click="addAgainSample">确定</el-button>
        </span>
      </el-dialog>

      <!-- 保存方案弹窗 -->
      <el-dialog title="保存方案" :visible.sync="savePlanDialog" width="420px" class="com-dialog savedialog" :close-on-click-modal="false">
        <div class="flex-cc">
          <p class="left mr-20"><span class="red">*</span> 方案名称:</p>
          <el-input v-model="planName" placeholder="请输入方案名称"></el-input>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="savePlanDialog = false">取消</el-button>
          <el-button type="primary" @click="fetchSavePlan">确定</el-button>
        </span>
      </el-dialog>

      <!-- 添加单位工程弹窗 -->
      <el-dialog title="操作提示" :visible.sync="addUnitDialog" width="450px" class="com-dialog add-again" :close-on-click-modal="false">
        <div class="select-list com-checkbox">
          <el-checkbox-group v-model="curUnitPro">
            <el-checkbox class="flex-c" :label="item.useName" v-for="item in projectOptions" :key="item.code" :title="item.useName" :disabled="disUnitPro.indexOf(item.useName) > -1">
            </el-checkbox>
          </el-checkbox-group>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addUnitDialog = false">取消</el-button>
          <el-button type="primary" @click="addUnit">确定</el-button>
        </span>
      </el-dialog>

      <!-- 删除单位工程弹窗 -->
      <el-dialog title="操作提示" :visible.sync="delUnitDialog" width="420px" class="com-dialog deldialog" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" class="mt-20 mb-20">
        <p class="ml-20">删除单位工程将会一起删除其所含分部工程<br />确定要删除吗？</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delUnitDialog = false">取消</el-button>
          <el-button type="primary" @click="delUnit">确定</el-button>
        </span>
      </el-dialog>

      <!-- 添加分部工程弹窗 -->
      <el-dialog title="操作提示" :visible.sync="addBranchDialog" width="450px" class="com-dialog add-again" :close-on-click-modal="false">
        <div class="select-list com-checkbox">
          <el-checkbox-group v-model="curApart">
            <el-checkbox class="flex-c" :label="item.name" v-for="item in apartDataList" :key="item.code" :title="item.name" :disabled="disApart.indexOf(item.name) > -1">
            </el-checkbox>
          </el-checkbox-group>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addBranchDialog = false">取消</el-button>
          <el-button type="primary" @click="addPart">确定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import {
  getIndicatorEconConfig,
  getCostPluralMetricsList,
  getSampleList,
  calculation,
  againCalculation,
  saveApi,
  getMakeCalculate,
  getConversionCalculate,
  updateApi
} from '@/api/target'
import { queryNormEngList } from '@/api/project'
import { getTecFeature } from '@/api/targetApplication'

export default {
  name: 'NewCalcula',
  components: {},

  data() {
    return {
      isFold: false, // 折叠更多筛选
      activeTab: '', // 当前测算维度
      stage: '', // 当前测算阶段
      projectArea: '', // 适用地区
      stageConfigId: '', // 当前阶段id
      specialtyType: '', // 专业类型
      projectType: '', // 项目类型
      engType: '', // 工程类型
      engTypeCode: '', // 工程类型code
      specialtyCode: '', // 专业类型code
      proCode: '', // 测算方案选中的code
      proName: '', // 测算方案选中的指标名

      caliber: '', // 计算口径
      unit: '㎡', // 单位
      scalerDate: null, // 换算时间
      unitList: [
        'm',
        '㎡',
        'm³',
        '台',
        't',
        'km',
        '个',
        '根',
        '站',
        '正线公里',
        '延长米'
      ], // 单位列表
      pickerOptions: {
        // 换算时间限制（不可选未来时间）
        disabledDate: time => {
          return time.getTime() > Date.now()
        }
      },

      featureList: [], // 技术特征
      featureChecked: {}, // 选中的技术特征
      featureAll: {}, // 全选
      indeterminates: {}, // 不确定状态

      currentPage: 1, // 分页相关
      pageSize: 10,
      totalPage: 0,
      disload: false, // 是否禁用加载更多
      addAgain: false, // 是否重新计算

      currentPage1: 1, // 分页相关(指标样本)
      pageSize1: 10,
      totalPage1: 0,
      totalCount1: '',
      disload1: false, // 是否禁用加载更多
      ids: [], // 样本指标id数组
      unids: [], // 样本指标id数组(不参与计算)

      expandRowKeys: [],
      getRowKeys(row) {
        return row.id
      },
      subExpandRowKeys: [],
      getSubRowKeys(row) {
        return row.id
      },

      startDate: null, // 开始时间
      endDate: null, // 结束时间
      pickerOptions1: {
        // 开始时间不可大于结束时间
        disabledDate: time => {
          if (this.endDate) {
            const end = this.endDate
            return time.getTime() > new Date(end)
          }
        }
      },
      pickerOptions2: {
        // 结束时间不可小于开始时间
        disabledDate: time => {
          if (this.startDate) {
            const start = this.startDate
            return time.getTime() < new Date(start)
          }
        }
      },
      curWay: '正态分布',
      wayStatusList: ['算术平均', '正态分布', '中位数'],
      firstAdd: true, // 是否第一次计算
      sampleDialog: false, // 是否显示样本数据弹窗
      addAgainDialog: false, // 是否显示重新计算提示弹窗

      showRes: false, // 是否显示测算结果
      curFloat: '上浮', // 测算结果 上浮/下浮
      floatNum: '', // 测算结果 上下浮动率

      tableData1: [], // 测算方案
      tableLoading1: false,
      tableData2: [], // 工程造价占比
      tableLoading2: false,
      tableData3: [], // 建设其他费
      tableLoading3: false,
      tableData4: [], // 综合指标库列表
      tableLoading4: false,
      tableData5: [], // 指标库列表(重新计算指标)
      tableLoading5: false,
      tableData6: [], // 样本数据列表
      tableLoading6: false,
      savePlanDialog: false, // 是否显示保存方案弹窗
      planName: '', // 方案名称
      planId: '', // 方案id

      unitProList: [], // 储存原始单位工程列表
      projectOptions: [], // 单位工程列表
      checkedArr: [], // 已选工程(表2)
      checkedArr2: [], // 已选单位工程
      curUnitPro: [], // 已选工程(表3)
      checkedArr3: [], // 已选单位工程
      disUnitPro: [], // 已选且确定单位工程
      delUnitIndex: '', // 删除的单位工程
      delUnitDialog: false, // 删除单位工程弹窗
      addUnitDialog: false, // 添加单位工程弹窗

      addBranchDialog: false, // 添加分部工程弹窗
      apartDataList: [], // 分部工程列表
      curApart: [], // 选中的分部
      disApart: [], // 已选且确定分部工程
      addPartIdx: '', // 添加分部的单位工程

      partIndex: '', // 所选分部工程的单位工程index
      currowIndex: '', // 加背景色单位工程
    }
  },

  watch: {
    // 监听样本数量
    tableData4: {
      deep: true,
      handler(newVal, oldVal) {
        const arr = this.tableData4.filter(item => {
          return item.add
        })
        if (arr.length < 10) this.curWay = '正态分布'
        if (arr.length < 4) this.curWay = '算数平均'
      }
    }
  },

  computed: {
    addup() {
      if (this.activeTab == '单项工程指标' && this.activeTab == '单位工程指标') {
        return parseFloat(this.tableData1[0].target) * this.caliber || 0
      } else if(this.activeTab == '分部工程指标'){
        let num = 0
        this.tableData1.forEach(item => {
          num += this.addUpTotalPrice(item)*1
        }, 0)
        return num.toFixed(2)
      } else { // 主材总造价指标
        console.log(this.tableData1);
        let num = 0,percent = 0
        this.tableData1.forEach(item => {
          num += (parseFloat(item.target) * this.caliber) || 0
          if(item.percent) percent += item.percent
        }, 0)
        return ((num/percent) * 100 || 0).toFixed(2) || ''
      }
    },

    afterAddup() {
      const num =
        this.curFloat == '上浮'
          ? ((100 + Number(this.floatNum)) / 100).toFixed(2)
          : ((100 - Number(this.floatNum)) / 100).toFixed(2)
      return (num * this.addup).toFixed(2)
    },

    // 分部工程计算金额
    addUpTotalPrice(item) {
      return item => {
        if (item.children && item.children.length) {
          let allNum = 0
          let allPercent = 0
          item.children.forEach(item => {
            if (item.target && this.caliber) {
              allNum += parseFloat(item.target) * this.caliber
            }
            if (item.percent) allPercent += item.percent
          })
          return ((allNum / allPercent) * 100 || 0).toFixed(2) || ''
        } else {
          return 0
        }
      }
    }
  },

  mounted() {
    const query = this.$route.query
    this.stage = query.state
    this.projectArea = query.area || ''
    this.specialtyType = query.specialtyType
    this.projectType = query.projectType
    this.engType = query.engType
    this.engTypeCode = query.engTypeCode
    this.specialtyCode = query.specialtyCode
    this.stageConfigId = query.stageConfigId
    this.activeTab =
      query.curWay == 2
        ? '单位工程指标'
        : query.curWay == 3
          ? '分部工程指标'
          : query.curWay == 4
            ? '主材总造价指标'
            : '单项工程指标'

    this.getTecFeature() // 获取技术特征
    this.getIndicatorEconConfig() // 获取测算方案
    this.queryNormEngList() // 获取项目分类
  },

  methods: {
    // 跳转到指标详情
    toTargetDetail(item) {
      this.$router.push({
        path: '/target/detail',
        query: {
          id: item.id,
          type: 1,
          projectName: item.projectName
        }
      })
    },

    setMoreType(item) {
      if (!item.isShow) {
        this.$set(item, 'isShow', false)
        item.isShow = !item.isShow
      } else {
        item.isShow = !item.isShow
      }
    },
    // 计算口径输入限制（非负数值）
    iptkoujin(e) {
      // 清除"数字"和"."以外的字符
      this.caliber = this.caliber.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.caliber = this.caliber.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.caliber = this.caliber.replace(/\.{2,}/g, '.')
      this.caliber = this.caliber
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.caliber = this.caliber.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
    },

    // 浮动率输入限制（非负数值,不可大于50）
    iptfloat(e) {
      // 清除"数字"和"."以外的字符
      this.floatNum = this.floatNum.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.floatNum = this.floatNum.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.floatNum = this.floatNum.replace(/\.{2,}/g, '.')
      this.floatNum = this.floatNum
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.floatNum = this.floatNum.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
      if (this.floatNum > 50) this.floatNum = 50
    },

    // 造价占比输入限制（非负数值）
    iptPercent(e, index) {
      // 清除"数字"和"."以外的字符
      this.tableData2[index].percent = this.tableData2[index].percent.replace(
        /[^\d.]/g,
        ''
      )
      // 验证第一个字符是数字而不是字符
      this.tableData2[index].percent = this.tableData2[index].percent.replace(
        /^\./g,
        ''
      )
      // 只保留第一个.清除多余的
      this.tableData2[index].percent = this.tableData2[index].percent.replace(
        /\.{2,}/g,
        '.'
      )
      this.tableData2[index].percent = this.tableData2[index].percent
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.tableData2[index].percent = this.tableData2[index].percent.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },

    // 其他费占比输入限制（非负数值）
    iptFeepercent(e, index) {
      // 清除"数字"和"."以外的字符
      this.tableData3[index].percent = this.tableData3[index].percent.replace(
        /[^\d.]/g,
        ''
      )
      // 验证第一个字符是数字而不是字符
      this.tableData3[index].percent = this.tableData3[index].percent.replace(
        /^\./g,
        ''
      )
      // 只保留第一个.清除多余的
      this.tableData3[index].percent = this.tableData3[index].percent.replace(
        /\.{2,}/g,
        '.'
      )
      this.tableData3[index].percent = this.tableData3[index].percent
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.tableData3[index].percent = this.tableData3[index].percent.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },

    // 其他费金额输入限制（非负数值）
    iptFee(e, index) {
      // 清除"数字"和"."以外的字符
      this.tableData3[index].price = this.tableData3[index].price.replace(
        /[^\d.]/g,
        ''
      )
      // 验证第一个字符是数字而不是字符
      this.tableData3[index].price = this.tableData3[index].price.replace(
        /^\./g,
        ''
      )
      // 只保留第一个.清除多余的
      this.tableData3[index].price = this.tableData3[index].price.replace(
        /\.{2,}/g,
        '.'
      )
      this.tableData3[index].price = this.tableData3[index].price
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.tableData3[index].price = this.tableData3[index].price.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
    },

    // 字符串转数组
    featureItem(str) {
      let arr = []
      if (str) arr = str.split(',')
      return arr
    },

    // 获取匹配的技术特征
    getTecFeature() {
      getTecFeature({ code: this.specialtyCode }).then(res => {
        if (res && res.code == '01') {
          this.featureList = res.body
          if (this.featureList && this.featureList.length) {
            for (let i = 0, l = this.featureList.length; i < l; i++) {
              const arr = this.featureList[i].defaultValues.split(',')
              this.$set(this.featureList[i], 'featureArr', arr)
              // $set实现双向绑定，实时更新视图
              this.$set(this.featureList[i], 'featureAll', false)
              this.$set(this.featureList[i], 'indeterminates', false)
              this.$set(this.featureList[i], 'featureChecked', [])
            }
          }
        }
      })
    },

    // 技术特征复选-全选
    conditionCheckAllChange(val, key) {
      const featureArr = val ? this.featureList[key].featureArr : []
      this.$set(this.featureList[key], 'featureChecked', featureArr) // $set实现双向绑定，实时更新视图
      this.featureList[key].indeterminates = false
      this.currentPage = 1
      this.getCostPluralMetricsList()
      this.addAgain = false
    },
    conditionCheckedFeaturesChange(value, key) {
      this.$emit('change', this.featureList[key].featureChecked)
      const checkedCount = this.featureList[key].featureChecked.length
      const featuresLen = this.featureList[key].featureArr.length
      this.featureList[key].featureAll = checkedCount === featuresLen
      this.featureList[key].indeterminates =
        checkedCount > 0 && checkedCount < featuresLen
      this.currentPage = 1
      this.getCostPluralMetricsList()
      this.addAgain = false
    },

    // 获取单位工程
    queryNormEngList() {
      const data = {
        currentPage: 1,
        pageSize: 99,
        pid: 0,
        type: 1 // 1.单位工程 2.分部工程 3.分项工程 4.清单
      }
      queryNormEngList(data).then(res => {
        if (res && res.code == '01') {
          this.projectOptions = res.body.list
        }
      })
    },

    // 切换tab
    changeTab() {
      this.firstAdd = true
      this.showRes = false
      this.addAgain = false
      this.proCode = ''
      this.tableData1 = []
      this.tableData4 = []
      this.tableData5 = []
      this.tableData6 = []
      this.ids = []
      this.removeIds = []
      this.disUnitPro = []
      this.disApart = []
      this.curApart = []
      this.curUnitPro = []
      this.currentPage = 1
      this.getIndicatorEconConfig() // 测算方案
    },

    // 触底加载更多(综合指标)
    loadmore(e) {
      // 表格数据加载完不在请求
      if (this.totalPage <= this.currentPage) {
        this.disload = true
        return
      }
      this.currentPage += 1
      this.getCostPluralMetricsList('concat')
    },

    // 触底加载更多(样本数据)
    loadmore1(e) {
      // 表格数据加载完不在请求
      if (this.totalPage1 <= this.currentPage1) {
        this.disload1 = true
        return
      }
    },

    // 取消指标
    cancelTarget(item, index) {
      this.tableData1.forEach((it, idx) => {
        if (it.code == item.code) {
          this.$set(this.tableData1[idx], 'edit', true)
          this.$set(this.tableData1[idx], 'target', '')
          this.$set(this.tableData1[idx], 'minPrice', '')
          this.$set(this.tableData1[idx], 'maxPrice', '')
        }
      })
      this.$set(this.tableData4[index], 'add', false)
      this.tableData4 = JSON.parse(JSON.stringify(this.tableData4))
    },

    // 换算时间
    changetime() {
      if (!this.scalerDate) return
      if (this.activeTab != '分部工程指标') {
        const itemArr = []
        this.tableData1.forEach((it, idx) => {
          if (it.sampleIds || (it.list && it.list.length)) itemArr.push(it)
        })
        if (itemArr.length) {
          this.getConversionCalculate(itemArr).then(newTargetArr => {
            newTargetArr.forEach((it, idx) => {
              this.tableData1.forEach((item, index) => {
                if (it.code == item.code) {
                  this.$set(this.tableData1[index], 'target', it.target)
                }
              })
            })
          })
        }
      } else {
        const itemArr = []
        this.tableData1.forEach((it, idx) => {
          if (it.children && it.children.length) {
            it.children.forEach(item => {
              if (item.sampleIds || (item.list && item.list.length)) {
                itemArr.push(item)
              }
            })
          }
        })
        if (itemArr.length) {
          this.getConversionCalculate(itemArr).then(newTargetArr => {
            newTargetArr.forEach((it, idx) => {
              this.tableData1.forEach((item, index) => {
                if (item.children && item.children.length) {
                  item.children.forEach((item2, index2) => {
                    if (it.code == item2.code) {
                      this.$set(this.tableData1[index].children[index2],'target',it.target)
                    }
                  })
                }
              })
            })
          })
        }
      }
    },

    // 添加指标
    async addTarget(item, index, type) {
      // type 1计算 2重新计算
      console.log(item)
      this.tableData4 = this.tableData4.map(it => {
        it.add = false
        return it
      })
      this.tableData5 = this.tableData5.map(it => {
        it.add = false
        return it
      })
      let successCode = false

      // 获取换算时间后的经济指标
      let newTarget = ''
      if (this.scalerDate) {
        newTarget = (await this.getConversionCalculate([item]))[0].target
      }

      if (this.activeTab != '分部工程指标') {
        this.tableData1.forEach((it, idx) => {
          if (it.code == item.code) {
            successCode = true
            if (type == 1) {
              var value = JSON.parse(JSON.stringify(this.tableData4[index]))
            } else {
              var value = JSON.parse(JSON.stringify(this.tableData5[index]))
            }
            if (newTarget) value.target = newTarget
            value.name = it.name
            value.id = it.id
            if (this.activeTab == '主材总造价指标') {
              this.getPercent(item.id, 'ZC', type).then(res => {
                value.percent = res.synthesis
                value.minPercent = res.synthesisMin
                value.maxPercent = res.synthesisMax
                this.$set(this.tableData1, idx, value)
                this.$set(this.tableData1[idx], 'edit', true)
                this.tableData4 = JSON.parse(JSON.stringify(this.tableData4))
                this.tableData5 = JSON.parse(JSON.stringify(this.tableData5))
              })
            } else {
              this.$set(this.tableData1, idx, value)
              this.$set(this.tableData1[idx], 'edit', true)
              this.tableData4 = JSON.parse(JSON.stringify(this.tableData4))
              this.tableData5 = JSON.parse(JSON.stringify(this.tableData5))
            }
          }
        })
      } else {
        this.tableData1[this.partIndex].children.forEach((it, idx) => {
          if (it.code == item.code) {
            successCode = true
            if (type == 1) {
              var value = JSON.parse(JSON.stringify(this.tableData4[index]))
            } else {
              var value = JSON.parse(JSON.stringify(this.tableData5[index]))
            }
            if (newTarget) value.target = newTarget
            value.name = it.name
            value.id = it.id
            this.getPercent(item.id, 'FB', type).then(res => {
              value.percent = res.synthesis
              value.minPercent = res.synthesisMin
              value.maxPercent = res.synthesisMax
              this.$set(this.tableData1[this.partIndex].children, idx, value)
              this.$set(
                this.tableData1[this.partIndex].children[idx],
                'edit',
                true
              )
              this.tableData4 = JSON.parse(JSON.stringify(this.tableData4))
              this.tableData5 = JSON.parse(JSON.stringify(this.tableData5))
            })
          }
        })
      }

      if (successCode && type == 1) {
        this.$set(this.tableData4[index], 'add', true)
      }
      if (successCode && type == 2) {
        this.$set(this.tableData5[index], 'add', true)
      }
    },

    // 获取换算时间后的经济指标
    getConversionCalculate(itemArr) {
      return new Promise((resolve, reject) => {
        const conversionReqs = []
        itemArr.forEach(item => {
          let ids = []
          if (item.list && item.list.length) {
            item.list.forEach(it => {
              ids.push(it.id)
            })
          } else {
            ids = item.sampleIds.split(',')
          }
          conversionReqs.push({
            code: item.code,
            coef: item.coef,
            ids: ids && ids.length ? ids : null,
            projectStageUnit: item.projectStageUnit,
            proportion: item.proportion,
            unit: item.unit
          })
        })
        const data = {
          conversionTime: this.scalerDate,
          conversionReqs: conversionReqs
        }
        getConversionCalculate(data).then(res => {
          if (res.code == '01') resolve(res.body)
        })
      })
    },

    // 根据id获取综合占比
    getPercent(id, type, ids) {
      return new Promise((resolve, reject) => {
        const data = {
          type: type
        }
        if (ids && ids == 2) {
          data.ids = this.ids
        } else {
          data.pluralId = id
        }
        getMakeCalculate(data).then(res => {
          resolve(res.body)
        })
      })
    },

    // 取消指标(重新计算)
    cancelTarget1(item, index) {
      this.tableData1.forEach((it, idx) => {
        if (it.code == item.code) {
          this.$set(this.tableData1[idx], 'edit', true)
          this.$set(this.tableData1[idx], 'target', '')
          this.$set(this.tableData1[idx], 'minPrice', '')
          this.$set(this.tableData1[idx], 'maxPrice', '')
        }
      })
      this.$set(this.tableData5[index], 'add', false)
      this.tableData5 = JSON.parse(JSON.stringify(this.tableData5))
    },

    // 获取测算方案(单项)
    getIndicatorEconConfig(code) {
      const type =
        this.activeTab == '单项工程指标'
          ? 'DX'
          : this.activeTab == '单位工程指标'
            ? 'DW'
            : this.activeTab == '分部工程指标'
              ? 'FB'
              : 'ZC'
      const data = {
        engType: this.engTypeCode,
        type: type,
        code: code || null
      }
      getIndicatorEconConfig(data).then(res => {
        if (res.code == '01') {
          if (res.body && res.body.length > 0) {
            if (type == 'DX' || type == 'ZC') {
              if (res.body && res.body.length) {
                res.body.map(item => {
                  return (item.edit = true)
                })
              }
              this.tableData1 = res.body
              this.setCurrent()
              this.proCode = res.body[0].code
              this.proName = res.body[0].name
            } else if (type == 'DW') {
              this.unitProList = res.body
            } else if (type == 'FB') {
              if (res.body && res.body.length) {
                res.body.map(item => {
                  return (item.edit = true)
                })
              }
              this.apartDataList = res.body
            }
          } else {
          }
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 获取综合指标
    getCostPluralMetricsList(type, code) {
      // 分页加载时type为true
      const data = {
        type: 1,
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        city: this.projectArea.split('-')[1],
        date: this.scalerDate,
        engType: this.engType,
        specialtyType: this.specialtyType,
        province: this.projectArea.split('-')[0],
        stageConfigId: this.stageConfigId,
        projectType: this.projectType,
        code: code || this.proCode
      }

      // 技术特征匹配
      if (this.featureList.length) {
        const arr = []
        for (let i = 0, l = this.featureList.length; i < l; i++) {
          if (this.featureList[i].featureChecked.length) {
            const obj = {
              id: this.featureList[i].tecFeatureId,
              featureValue: this.featureList[i].featureChecked.join(',')
            }
            arr.push(obj)
          }
        }
        data.tecFeatureMapReqs = arr
      }

      getCostPluralMetricsList(data).then(res => {
        if (res && res.code == '01') {
          if (type) {
            this.tableData4 = this.tableData4.concat(res.body.list)
          } else {
            this.tableData4 = res.body.list
          }
          this.totalPage = res.body.totalPage
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 选中测算方案第一行
    setCurrent(index) {
      this.$refs.multipleTable.setCurrentRow(index || 0)
    },

    // 切换测算方案改变code
    changeRow(newRow, index) {
      if(this.activeTab == '分部工程指标') {
        this.currowIndex = newRow.idx
      }
      if (newRow && newRow.code) {
        this.proCode = newRow.code
        this.proName = newRow.name
        this.currentPage = 1
        this.getCostPluralMetricsList(null, newRow.code)
        if (index || index === 0) this.partIndex = index
      }
    },

    // 行背景色(分部工程)
    tableRowClassName({row,rowIndex}) {
      row.idx = rowIndex
      if (row.idx === this.currowIndex && row.bigIndex == this.partIndex) {
        return 'blue-row';
      } else {
        return '';
      }
    },

    // 样本数据(略)
    getSampData(type) {
      if (!this.startDate || !this.endDate) return
      const data = {
        currentPage: this.currentPage1,
        pageSize: this.pageSize1,
        type: 1,
        city: this.projectArea.split('-')[1],
        code: this.proCode,
        endDate: this.endDate,
        date: this.scalerDate,
        engType: this.engType,
        projectType: this.projectType,
        province: this.projectArea.split('-')[0],
        specialtyType: this.specialtyType,
        stageConfigId: this.stageConfigId,
        startDate: this.startDate
      }
      // 技术特征匹配
      if (this.featureList.length) {
        const arr = []
        for (let i = 0, l = this.featureList.length; i < l; i++) {
          if (this.featureList[i].featureChecked.length) {
            const obj = {
              id: this.featureList[i].tecFeatureId,
              featureValue: this.featureList[i].featureChecked.join(',')
            }
            arr.push(obj)
          }
        }
        data.tecFeatureMapReqs = arr
      }
      getSampleList(data).then(res => {
        if (res && res.code == '01') {
          if (type) {
            this.tableData6 = this.tableData6.concat(res.body.list)
          } else {
            res.body.list.map(item => {
              item.add = true
              return item
            })
            this.tableData6 = res.body.list
          }
          this.totalPage1 = res.body.totalPage
          this.totalCount1 = res.body.totalCount
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 开始计算(得到样本)
    addSample() {
      // if(!this.startDate || !this.endDate) {
      //   this.$message({
      //     type: 'error',
      //     message: '请先选择时间范围'
      //   })
      //   return
      // }
      if (!this.proCode) return
      const data = {
        calType:
          this.curWay == '算术平均'
            ? 'AM'
            : this.curWay == '正态分布'
              ? 'PN'
              : 'MN',
        type: 1,
        city: this.projectArea.split('-')[1],
        date: this.scalerDate,
        endDate: this.endDate,
        engType: this.engType,
        projectType: this.projectType,
        province: this.projectArea.split('-')[0],
        specialtyType: this.specialtyType,
        stageConfigId: this.stageConfigId,
        startDate: this.startDate,
        code: this.proCode,
        portType: 1
      }
      // 技术特征匹配
      if (this.featureList.length) {
        const arr = []
        for (let i = 0, l = this.featureList.length; i < l; i++) {
          if (this.featureList[i].featureChecked.length) {
            const obj = {
              id: this.featureList[i].tecFeatureId,
              featureValue: this.featureList[i].featureChecked.join(',')
            }
            arr.push(obj)
          }
        }
        data.tecFeatureMapReqs = arr
      }
      calculation(data).then(res => {
        if (res && res.code == '01') {
          if (res.body) {
            this.tableData5 = [res.body]
            this.tableData6 = res.body.list
            const ids = []
            const unids = []
            res.body.list.forEach(item => {
              if (item.isQualified) {
                ids.push(item.id)
              } else {
                unids.push(item.id)
              }
            })
            this.ids = ids
            this.unids = unids
            this.firstAdd = false
            this.$message({
              type: 'success',
              message: res.message || '计算成功'
            })
          } else {
            this.tableData5 = []
            this.tableData6 = []
            this.ids = []
            this.unids = []
          }
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 勾选样本数据
    switchStatus(e, id) {
      if (!e) {
        this.ids.splice(this.ids.indexOf(id), 1)
        this.unids.push(id)
      } else {
        this.unids.splice(this.ids.indexOf(id), 1)
        this.ids.push(id)
      }
    },

    // 重新计算(得到综合指标)
    addAgainSample() {
      // if(!this.startDate || !this.endDate) {
      //   this.$message({
      //     type: 'error',
      //     message: '请先选择时间范围'
      //   })
      //   return
      // }
      if(this.ids.length < 2) {
        this.$message({
          type: 'error',
          message: '样本数量低于2,无法计算'
        })
        this.addAgainDialog = false
        return
      }
      const data = {
        calType:
          this.curWay == '算术平均'
            ? 'AM'
            : this.curWay == '正态分布'
              ? 'PN'
              : 'MN',
        coef: this.curWay == '正态分布' ? 1.5 : 1,
        type: 1,
        conversionTime: this.scalerDate,
        removeIds: this.unids,
        ids: this.ids
      }
      againCalculation(data).then(res => {
        if (res && res.code == '01') {
          this.tableData5 = [res.body]
          this.tableData6 = res.body.list
          const ids = []
          const unids = []
          res.body.list.forEach(item => {
            if (item.isQualified) {
              ids.push(item.id)
            } else {
              unids.push(item.id)
            }
          })
          this.ids = ids
          this.unids = unids
          this.sampleDialog = false
          this.addAgainDialog = false
          this.$message({
            type: 'success',
            message: res.message || '计算成功'
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 编辑测算方案(table1)
    editTableData1(index) {
      this.$set(this.tableData1[index], 'edit', true)
    },

    // 删除测算方案(table1)
    delTableData1(index) {
      this.tableData1.splice(index, 1)
      this.proCode = ''
      this.addAgain = false
      this.tableData4 = []
      this.tableData5 = []
      this.tableData6 = []
    },

    // 删除测算方案
    delTableData2(index) {
      this.delUnitIndex = index
      this.delUnitDialog = true
      this.proCode = ''
      this.addAgain = false
      this.tableData4 = []
      this.tableData5 = []
      this.tableData6 = []
    },

    // 保存测算方案(table1)
    saveTableData1(item, index) {
      if (!item.target) {
        this.$message({
          type: 'error',
          message: '请填写经济指标'
        })
        return
      }
      if(this.activeTab == '主材总造价指标') {
        if(!item.percent) {
          this.$message({
            type: 'error',
            message: '请填写综合占比！'
          })
          return
        }
        let sum = 0
        this.tableData1.forEach(item => {
          sum += item.percent*1 || 0
        })
        console.log(sum);
        if (sum > 100) {
          this.$message({
            type: 'error',
            message: '主材造价占比超过100%，请检查占比配置！'
          })
          return
        }
      }
      this.$set(this.tableData1[index], 'edit', false)
      this.setCurrent(index)
      // let code = this.tableData1[index].code
      // this.getCostPluralMetricsList(null,code)
    },

    // 跳转详情(综合指标详情)
    toDetail(item) {
      const query = {
        id: item.id,
        type: 1
      }

      const routeData = this.$router.resolve({
        name: 'SynthesizeDetail',
        query
      })
      window.open(routeData.href, '_blank')
    },

    // 提交测算方案
    submitPlan() {
      // 无数据验证
      if (!this.tableData1.length) {
        this.$message({
          type: 'error',
          message: '请完善测算方案'
        })
        return
      }
      // 未保存验证
      let saveAll = false
      saveAll = this.tableData1.every(item => {
        return !item.edit
      })
      if (!saveAll) {
        this.$message({
          type: 'error',
          message: '有造价未保存，无法测算结果；请先保存完毕'
        })
        return
      }

      // 参数设置验证
      if (!this.caliber || !this.unit) {
        this.$message({
          type: 'error',
          message: '请完善计算口径'
        })
        return
      }
      this.showRes = true
    },

    // 编辑单位工程(工程造价占比)
    editTableData2(index) {
      this.$set(this.tableData2[index], 'edit', true)
    },

    // 保存单位工程
    saveTableData2(item, index) {
      if (!item.name) {
        this.$message({
          type: 'error',
          message: '请填写名称'
        })
        return
      } else if (!item.percent) {
        this.$message({
          type: 'error',
          message: '请填写占比'
        })
        return
      }
      let addup = 0
      this.tableData2.forEach(item => {
        addup += Number(item.percent)
      })
      if (addup > 100) {
        this.$message({
          type: 'error',
          message: '总占比不得大于100%'
        })
        return
      }
      this.$set(this.tableData2[index], 'edit', false)
    },

    // 添加单位工程
    addUnitPro() {
      let addup = 0
      this.tableData2.forEach(item => {
        addup += Number(item.percent)
      })
      addup = 100 - addup > 0 ? 100 - addup : 0
      this.tableData2.push({
        edit: true,
        name: '',
        percent: addup,
        price: ''
      })
    },

    // 删除单位工程
    delUnitPro(index) {
      this.tableData2.splice(index, 1)
      const checkedArr = []
      this.tableData2.forEach(it => {
        checkedArr.push(it.name)
      })
      this.checkedArr = checkedArr
    },

    // 选择单位工程(造价占比)
    changePro(item, index) {
      this.projectOptions.forEach(it => {
        if (item.name == it.useName) {
          this.$set(this.tableData2[index], 'code', it.code)
        }
      })
      const checkedArr = []
      this.tableData2.forEach(it => {
        checkedArr.push(it.name)
      })
      this.checkedArr = checkedArr
    },

    // 选择单位工程(测算方案)
    changePro2(item, index) {
      this.unitProList.forEach(it => {
        if (item.name == it.name) {
          this.$set(this.tableData1[index], 'code', it.code)
        }
      })
      const checkedArr = []
      this.tableData1.forEach(it => {
        checkedArr.push(it.name)
      })
      this.checkedArr2 = checkedArr
      this.changeRow(item, index)
    },

    // 添加单位工程
    addNewUnitPro() {
      if (this.activeTab == '单位工程指标') {
        const checkedArr = []
        this.tableData1.forEach(it => {
          checkedArr.push(it.name)
        })
        this.checkedArr2 = checkedArr
        this.tableData1.push({
          name: '',
          edit: true,
          target: ''
        })
      } else {
        this.addUnitDialog = true
      }
    },

    // 添加费用(建设其他费)
    addOtherFee() {
      this.tableData3.push({
        edit: true,
        name: '',
        // percent: '',
        price: ''
      })
    },

    // 删除费用
    delOtherFee(index) {
      this.tableData3.splice(index, 1)
    },

    // 编辑建设其他费
    editTableData3(index) {
      this.$set(this.tableData3[index], 'edit', true)
    },

    // 保存建设其他费
    saveTableData3(item, index) {
      if (!item.name) {
        this.$message({
          type: 'error',
          message: '请填写名称'
        })
        return
        // } else if(!item.percent) {
        //   this.$message({
        //     type: 'error',
        //     message: '请填写费率'
        //   })
        //   return
      } else if (!item.price) {
        this.$message({
          type: 'error',
          message: '请填写金额'
        })
        return
      }
      this.$set(this.tableData3[index], 'edit', false)
    },

    // 保存方案
    savePlan() {
      // 验证
      if (!this.caliber || !this.unit) {
        this.$message({
          type: 'error',
          message: '请完善计算口径'
        })
        return
      }

      // 未保存验证
      let saveAll = false
      saveAll = this.tableData1.every(item => {
        return !item.edit
      })
      if (!saveAll) {
        this.$message({
          type: 'error',
          message: '有测算方案未保存，请先保存完毕'
        })
        return
      }

      let saveAll2 = false
      saveAll2 = this.tableData2.every(item => {
        return !item.edit
      })
      if (!saveAll2) {
        this.$message({
          type: 'error',
          message: '有工程造价未保存，请先保存完毕'
        })
        return
      }

      let saveAll3 = false
      saveAll3 = this.tableData3.every(item => {
        return !item.edit
      })
      if (!saveAll3) {
        this.$message({
          type: 'error',
          message: '有建设其他费未保存，请先保存完毕'
        })
        return
      }

      if (this.tableData2.length) {
        let addPercent = 0
        this.tableData2.forEach(item => {
          addPercent += item.percent * 1
        })
        if (addPercent != 100) {
          this.$message({
            type: 'error',
            message: '当前分配的造价占比不满足100%'
          })
          return
        }
      }

      this.savePlanDialog = true
    },

    // 保存方案接口
    fetchSavePlan() {
      if (!this.planName) {
        this.$message({
          type: 'error',
          message: '请填写方案名称'
        })
        return
      }

      const costCalculateOtherPriceReqs = []
      this.tableData3.forEach(item => {
        costCalculateOtherPriceReqs.push({
          name: item.name,
          price: item.price * 1
          // rate: item.percent*1,
        })
      })

      const costCalculateRatioReqs = []
      this.tableData2.forEach(item => {
        costCalculateRatioReqs.push({
          name: item.name,
          code: item.code,
          calculatePrice:
            ((item.percent * this.addup) / 100).toFixed(2) * 1 || null,
          ratio: item.percent * 1
        })
      })

      const costCalculateSchemeReqs = []
      if (this.activeTab != '分部工程指标') {
        this.tableData1.forEach(item => {
          costCalculateSchemeReqs.push({
            code: item.code,
            costPrice: parseFloat(item.target) * this.caliber,
            econIndex: parseFloat(item.target),
            unit: item.unit || null,
            projectStageUnit: item.projectStageUnit || null,
            indexSectionMax: item.maxPrice || null, // 指标合理区间价格大(元)
            indexSectionMin: item.minPrice, // 指标合理区间价格小(元)
            projectName: this.activeTab == '单项工程指标' ? item.name : null,
            unitName: this.activeTab == '单位工程指标' ? item.name : null,
            branchName: this.activeTab == '分部工程指标' ? item.name : null,
            materialsName: this.activeTab == '主材总造价指标' ? item.name : null,
            ratio: item.percent * 1 || null, // 综合占比
            ratioScopeMax: item.maxPercent * 1 || null, // 占比合理范围大
            ratioScopeMin: item.minPercent * 1 // 占比合理范围小
          })
        })
      } else {
        this.tableData1.forEach(it => {
          if (it.children && it.children.length) {
            it.children.forEach(item => {
              costCalculateSchemeReqs.push({
                code: item.code,
                costPrice: parseFloat(item.target) * this.caliber || null,
                econIndex: parseFloat(item.target) || null,
                unit: item.unit || null,
                projectStageUnit: item.projectStageUnit || null,
                indexSectionMax: item.maxPrice || null, // 指标合理区间价格大(元)
                indexSectionMin: item.minPrice, // 指标合理区间价格小(元)
                projectName: this.activeTab == '单项工程指标' ? item.name : null,
                unitName: this.activeTab == '单位工程指标' ? item.name : null,
                branchName: this.activeTab == '分部工程指标' ? item.name : null,
                materialsName: this.activeTab == '主材总造价指标' ? item.name : null,
                ratio: item.percent * 1 || null, // 综合占比
                ratioScopeMax: item.maxPercent * 1 || null, // 占比合理范围大
                ratioScopeMin: item.minPercent * 1 // 占比合理范围小
              })
            })
          }
        })
      }

      const costFeatureMapReqs = []
      for (let i = 0, l = this.featureList.length; i < l; i++) {
        if (this.featureList[i].featureChecked.length) {
          const obj = {
            tecFeatureId: this.featureList[i].tecFeatureId * 1,
            value: this.featureList[i].featureChecked.join(',')
          }
          costFeatureMapReqs.push(obj)
        }
      }
      // 接口
      const data = {
        adjustCalculatePrice: this.afterAddup * 1 || null,
        adjustEconIndex:
          (this.afterAddup / this.caliber).toFixed(2) * 1 || null,
        avgEconIndex: (this.addup / this.caliber).toFixed(2) * 1,
        calculateDime:
          this.activeTab == '单项工程指标'
            ? 1
            : this.activeTab == '单位工程指标'
              ? 2
              : this.activeTab == '分部工程指标'
                ? 3
                : 4,
        caliber: this.caliber,
        caliberUnit: this.unit,
        city: this.projectArea.split('-')[1],
        costPrice: this.addup,
        engType: this.engType,
        floatRate: this.curFloat == '上浮' ? this.floatNum * 1 : -this.floatNum,
        matrixingTime:
          this.activeTab != '分部工程指标' ? this.scalerDate : null,
        name: this.planName,
        projectType: this.projectType,
        province: this.projectArea.split('-')[0],
        specialtyType: this.specialtyType,
        stageConfigId: this.stageConfigId * 1,
        costCalculateOtherPriceReqs, // 建设其他费
        costCalculateRatioReqs, // 单位工程造价占比
        costCalculateSchemeReqs, // 测算方案
        costFeatureMapReqs // 指标技术特征
      }
      // if(this.planId) { // 编辑
      //   data.id = this.planId
      //   updateApi(data).then(res=>{
      //     if (res && res.code == "01") {
      //       this.savePlanDialog = false
      //       this.$message({
      //         type: 'success',
      //         message: res.message || '保存成功'
      //       })
      //     } else {
      //       this.$message({
      //         type: 'error',
      //         message: res.message || '保存失败'
      //       })
      //     }
      //   })
      // } else{ // 新增
      saveApi(data).then(res => {
        if (res && res.code == '01') {
          this.planId = res.body
          this.savePlanDialog = false
          this.$router.push('/targetApplication/index')
          this.$message({
            type: 'success',
            message: res.message || '保存成功'
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message || '保存失败'
          })
        }
      })
      // }
    },

    // 添加单位工程
    addUnit() {
      // 多勾选的项
      this.curUnitPro.forEach(item => {
        if (this.disUnitPro.indexOf(item) == -1) {
          this.projectOptions.forEach(it => {
            if (it.useName == item) {
              it.name = it.useName
              it.children = []
              this.tableData1.push(it)
            }
          })
        }
      })

      this.disUnitPro = [].concat(this.curUnitPro)
      this.addUnitDialog = false
    },

    // 删除单位工程
    delUnit() {
      const idx = this.delUnitIndex
      const name = this.tableData1[idx].name
      this.delUnitDialog = false
      this.tableData1.splice(idx, 1)
      this.curUnitPro.splice(this.curUnitPro.indexOf(name), 1)
      this.disUnitPro.splice(this.disUnitPro.indexOf(name), 1)
    },

    // 添加分部弹窗
    addBranch(item, index) {
      this.getIndicatorEconConfig(item.code)
      this.addPartIdx = index
      this.addBranchDialog = true
    },

    // 确定添加分部工程
    addPart() {
      // 多勾选的项
      this.curApart.forEach(item => {
        if (this.disApart.indexOf(item) == -1) {
          this.apartDataList.forEach(it => {
            if (it.name == item) {
              it.bigIndex = this.addPartIdx
              this.tableData1[this.addPartIdx].children.push(it)
            }
          })
        }
      })

      this.disApart = [].concat(this.curApart)
      this.addBranchDialog = false
    },

    // 删除测算方案(table1拓展项)
    delTableExpand(index, subIndex) {
      const name = this.tableData1[index].children[subIndex].name
      this.tableData1[index].children.splice(subIndex, 1)
      this.curApart.splice(this.curApart.indexOf(name), 1)
      this.disApart.splice(this.disApart.indexOf(name), 1)
      this.$message({
        type: 'success',
        message: '删除成功'
      })
    },

    // 删除测算方案(table1主材)
    delTableExpand1(index) {
      this.tableData1.splice(index, 1)
      this.proCode = ''
      this.addAgain = false
      this.tableData4 = []
      this.tableData5 = []
      this.tableData6 = []
      this.$message({
        type: 'success',
        message: '删除成功'
      })
    },

    // 编辑测算方案(table1拓展项)
    editTableExpand(index, subIndex) {
      this.$set(this.tableData1[index].children[subIndex], 'edit', true)
    },

    // 保存测算方案(table1拓展项)
    saveTableDataExpand(item, index, subIndex, supItem) {
      if (!item.target) {
        this.$message({
          type: 'error',
          message: '请填写经济指标'
        })
        return
      }
      if (!item.percent) {
        this.$message({
          type: 'error',
          message: '请填写综合占比'
        })
        return
      }
      const sum = supItem.children.reduce((pre, cur) => {
        return pre.percent*1 || 0 + cur.percent*1 || 0;
      });
      console.log(sum);
      if (sum > 100) {
        this.$message({
          type: 'error',
          message: '分部工程造价占比超过100%，请检查占比配置！'
        })
        return
      }
      this.$set(this.tableData1[index].children[subIndex], 'edit', false)
      this.tableData1 = JSON.parse(JSON.stringify(this.tableData1))
    },

    // 展开分部
    expandChange(row, expandRows) {
      this.expandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.expandRowKeys.push(row.id) // 每次push进去的是每行的ID
        }
      }
    },

    // 展开分项
    subExpandChange(row, expandRows) {
      this.subExpandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.subExpandRowKeys.push(row.id) // 每次push进去的是每行的ID
          this.getProjectItemInventoryDetailPriceView()
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.calcula-container {
  position: relative;
  .com-bg {
    top: -46px;
  }
  // 主内容
  .tab-content {
    display: flex;
    .content-left {
      // margin-right: 545px;
      flex: 1;
      border-radius: 0 8px 8px 8px;
      > div {
        background: #ffffff;
      }
      .tab-info {
        border-radius: 0px 8px 8px 8px;
        .title {
          padding: 20px 0;
          .b-title {
            margin-left: 0;
          }
        }
        .line {
          color: #999999;
          font-weight: bold;
          font-size: 14px;
          padding: 0 25px 21px;
          .com-label-text {
            font-size: 14px;
          }
        }
      }
      .main {
        border-radius: 8px;
        padding: 20px;
        .tag-p {
          font-weight: bold;
        }
        .b-title {
          margin-left: -20px;
        }
        .add-btn {
          color: #3699ff;
          font-weight: bold;
        }
        .title {
          margin: 0 0 16px;
        }
        .caliber {
          padding: 0 0 15px;
          border-bottom: 1px dotted #ececec;
        }
        .div-spans {
          flex: 1;
          display: flex;
          color: #999999;
          span {
            margin-right: 10px;
            line-height: 25px;
          }
          .all {
            margin-right: 28px !important;
          }
        }
        .com-time-search {
          padding-bottom: 20px;
          border-bottom: 1px dotted #ececec;
        }
        .btn {
          margin: 0 auto;
          display: flex !important;
        }
        .table-box {
          margin-bottom: 40px;
        }
        .expand-table {
          margin-bottom: 14px;
        }
        .result-info {
          width: 100%;
          height: 98px;
          padding-bottom: 19px;
          > div {
            border-radius: 2px;
            margin-right: 4px;
            height: 100%;
          }
          .result-title {
            flex: 1;
            color: #ffffff;
            background: #36cfc9;
          }
          .result-title2 {
            background: #429fff;
          }
          .result-data {
            width: 303px;
            background: #f5f5f5;
            border-top: 4px solid #36cfc9;
            .price_box {
              font-size: 12px;
              line-height: 30px;
              .prop {
                opacity: 0.7;
              }
              .price {
                font-size: 18px;
                font-weight: bold;
                line-height: 30px;
              }
            }
            .c1 {
              color: #649bfd;
            }
            .c2 {
              color: #f4ad64;
            }
            .c3 {
              color: #0facd5;
            }
            .c4 {
              color: #a489d8;
            }
            .c5 {
              color: #36cfc9;
            }
            .c6 {
              color: #f4ad64;
            }
          }
          .result-data2 {
            border-top: 4px solid #429fff;
          }
        }
        .float {
          width: 235px;
          height: 30px;
        }
      }
    }
    .content-right {
      // position: fixed;
      // top: 175px;
      // right: 15px;
      width: 545px;
      margin-left: 8px;
      border-radius: 8px;
      background: #fff;
      padding: 20px;
      .b-title {
        margin-left: -20px;
      }
      .target-tip {
        padding: 20px 0 13px;
        .blue {
          color: $color-primary;
        }
      }
      .b-color {
        color: $color-primary;
      }
      .r-color {
        color: $color-danger;
      }
      .count-btn {
        width: 286px;
        height: 34px;
        background: $color-primary;
        border-radius: 4px;
        color: #ffffff;
        margin: 13px auto 26px;
      }
      .sample {
        width: 501px;
        height: 46px;
        background: rgba(23, 137, 242, 0.1);
        border-radius: 2px;
        margin: 15px auto;
        color: $color-primary;
      }
      .label-text {
        min-width: 90px;
      }

      .com-time-search {
        .el-date-editor.el-input {
          box-shadow: none;
          border: 1px solid #dcdfe6;
          border-radius: 0;
          height: 32px;
        }
        &::v-deep .el-date-editor .el-input__inner {
          border-radius: 0;
          height: 32px;
        }
      }
    }
    .savedialog {
      .left {
        width: 100px;
        .red {
          color: $color-danger;
        }
      }
    }
    .sampleDialog {
      .back {
        color: $color-danger;
        border: 1px solid;
        padding: 5px 25px;
        border-radius: 4px;
      }
    }
  }
}
.more {
  padding-left: 10px;
  color: $color-primary;
  cursor: pointer;
  font-size: 12px;
}
.show-more {
  margin-top: 10px;
  text-align: center;
  > span {
    font-size: 14px !important;
    color: #333 !important;
    cursor: pointer;
  }
}
.el-icon-arrow-down,
.el-icon-arrow-right {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  &.is-rotate {
    transform: rotate(180deg);
  }
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';
.calcula-container {
  .expand-table{
    .blue-row {
      background-color: #ecf5ff !important;
    }
  }

  .deldialog {
    .el-dialog__body {
      text-align: center;
    }
  }
  .el-tabs--border-card {
    border: none !important;
    box-shadow: none !important;
    > .el-tabs__header {
      border-bottom: none;
    }
    .el-tabs__item {
      width: 222px;
      height: 57px;
      line-height: 57px;
      text-align: center;
      border-top: 4px solid #cfcfcf;
      margin-right: 4px;
      background: #f1f1f1;
      padding: 0;
      border-radius: 6px;
      font-size: 15px;
      color: #999999;
      font-weight: bold;
    }
    &.el-tabs--top.el-tabs--border-card > .el-tabs__header .el-tabs__item {
      padding: 0;
    }
    .is-active {
      color: #333333 !important;
      border-right: none;
      border-top-color: $color-primary;
    }
    .el-tabs__content {
      display: none;
    }
  }
  .table-box {
    .el-table {
      font-size: 12px;
      border-radius: 2px;
      .el-table__header th {
        color: #999999;
        background: #eff2f7;
      }
    }
  }
  .select-way {
    .el-input__inner {
      width: 310px;
      height: 32px;
    }
    .el-input__suffix {
      top: 6px;
      right: 16px;
    }
    .is-focus {
      .el-input__suffix {
        top: -2px;
      }
    }
  }
  .caliber {
    .koujing {
      padding-left: 10px;
      .el-input__inner {
        width: 310px;
        height: 32px;
      }
    }
    .form-unit {
      .el-input__inner {
        width: 120px;
        height: 32px;
      }
      .el-input__suffix {
        top: 6px;
        right: 16px;
      }
      .is-focus {
        .el-input__suffix {
          top: -2px;
        }
      }
    }
  }
  .div-spans {
    .el-checkbox__label {
      padding-left: 5px;
    }
  }
  .float {
    .el-input__inner {
      height: 30px;
    }
    .el-input__suffix {
      top: 5px;
      right: 8px;
    }
    .is-focus .el-input__suffix {
      top: -5px;
    }
    .el-select .el-input__inner {
      border-radius: 15px 0 0 15px !important;
      border-right: none;
    }
    .float-num .el-input__inner {
      border-radius: 0 15px 15px 0 !important;
    }
  }
  .sampleDialog .el-dialog__header {
    background: #ffffff;
    .switch {
      width: 200px;
    }
  }
  .add-again {
    .el-dialog__body {
      text-align: center;
    }
  }
  .select-list {
    .el-checkbox {
      width: 126px;
      overflow: hidden;
      text-overflow: ellipsis !important;
      white-space: nowrap;
    }
  }
}
</style>
