<template>
  <div class="step-container">
    <template v-if="!loading">
      <!-- 步骤 -->
      <Step :curActive="curActive" />

      <!-- 步骤1 -->
      <div class="step1" v-if="curActive == 1">
        <div class="title">
          <div class="b-title">请选择快速检测的模式</div>
        </div>
        <div class="choice flex-cc mt-30">
          <div class="left mr-26 flex-cc cp" @click="toStep2(1)">
            <img src="@/assets/img/v2.0/mode1.png" alt="" class="mr-26" />
            <div>
              <div class="title mb-13">项目整体造价快速检测</div>
              <div class="m-text">快速对项目整体造价进行指标预警检测</div>
            </div>
          </div>
          <div class="right flex-cc cp" @click="toStep2(2)" style="pointer-events: none; -webkit-filter: grayscale(1)">
            <img src="@/assets/img/v2.0/mode2.png" alt="" class="mr-26" />
            <div>
              <div class="title mb-13">单项工程造价快速检测</div>
              <div class="m-text">快速对单项工程造价进行指标预警检测</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 步骤2 -->
      <div class="step2 engine-info" v-if="curActive == 2">
        <div class="title">
          <div class="b-title">造价快速检测</div>
        </div>
        <el-form :model="ruleForm" ref="ruleForm" :disabled="!changeing">
          <div class="form-ipt flex-cw">
            <el-form-item prop="projectStatus" v-if="modelType == 1">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">项目类型</span>
                </div>
                <div class="right">
                  <el-cascader @change="changeAddressOrStatus" v-model="ruleForm.projectStatus" :options="projectOptions" :props="optionProps" separator=" " :disabled="!changeing"></el-cascader>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="projectArea">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">{{ modelType == 1 ? "项目" : "单项" }}地点</span>
                </div>
                <div class="right">
                  <el-cascader @change="changeAddressOrStatus" v-model="ruleForm.projectArea" :options="areaOptions" :props="optionProp" separator=" " :disabled="!changeing"></el-cascader>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="stageStatus">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">阶段</span>
                </div>
                <div class="right right-arrow flex-c">
                  <el-select @change="changeAddressOrStatus(1)" v-model="ruleForm.stageStatus" placeholder="请选择" class="select" :disabled="!changeing">
                    <el-option v-for="item in stateList" :key="item.id" :label="item.useName" :value="item.id">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="projectDate" class="project-date">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">价格取定期</span>
                </div>
                <div class="right">
                  <div class="sel-time">
                    <el-date-picker :clearable="false" v-model="ruleForm.projectDate" type="month" :picker-options="pickerOptionsDate" placeholder="年/月" :disabled="!changeing">
                    </el-date-picker>
                  </div>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="addupMode">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">计税依据</span>
                </div>
                <div class="right">
                  <el-select v-model="ruleForm.addupMode" :title="ruleForm.addupMode" no-data-text="请先选择项目地点" placeholder="请选择" :disabled="!changeing">
                    <el-option v-for="item in addupOptions" @click.native="changeStandard(item.listingName)" :key="item.name" :label="item.name" :value="item.name">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="modeStatus">
              <div class="ipt-item flex-c">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">计税方式</span>
                </div>
                <div class="right right-arrow">
                  <el-select v-model="ruleForm.modeStatus" placeholder="请选择" class="select" :disabled="!changeing">
                    <el-option v-for="item in modeList" :key="item.value" :label="item.name" :value="item.value">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
            <el-form-item prop="bore" v-if="modelType == 1">
              <div class="ipt-item flex-csb">
                <div class="left flex-cc">
                  <span class="red">*</span>
                  <span class="title">总建设规模</span>
                </div>
                <div class="flex-csb" style="width: 100%">
                  <el-input class="koujing" v-model="ruleForm.bore" placeholder="请输入单项工程建设规模" @input="iptkoujin" :disabled="!changeing"></el-input>
                  <el-select class="form-unit" v-model="ruleForm.unit" placeholder="单位" :disabled="!changeing">
                    <el-option v-for="item in unitList2" :key="item" :label="item" :value="item">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </el-form-item>
          </div>
        </el-form>
        <div class="flex-cc">
          <el-button type="primary" style="width: 80px" @click="changeing = true" v-if="!changeing">修改</el-button>
          <el-button type="primary" style="width: 80px" :disabled="noAllData" @click="saveData" v-else>保存</el-button>
        </div>
        <!-- 传文件 -->
        <template v-if="showFileTem">
          <div class="title select-title">
            <div class="b-title">请选择需要检测的造价文件</div>
          </div>
          <div class="tips" v-if="modelType == 1">
            <div class="top">
              <img src="@/assets/img/icons/tip-icon.png" alt="" class="tip-img" />
              <span>导入须知</span>
            </div>
            <p>
              1.导入文件：请将每个单位工程报表存储在以专业命名的文件夹中；<br />
              例：土建工程的所有报表，均存储在命名“土建”的文件夹中；多个单位工程，请建立多个专业编码文件夹；<br />
              注：报表格式只支持Excel格式或Xml格式；Excel报表请以“2013国标清单计价报表“为规范，否则上传后会造成识别错误；<br />
              每个报表内应包含：“单位工程**汇总表”、“分部分项工程和单价措施项目清单与计价表”、“综合单价分析表“、“单位工程人材机汇总表”；
            </p>
            <p>
              2.按单项工程单个导入时，请将第1条中按专业的多个文件夹（例：土建工程文件夹+通用安装工程文件夹）一起打包并命名（某某工程）再上传；<br />
              系统会根据文件夹的命名对造价数据解析；
            </p>
            <p>
              3.按单项工程批量导入时，请将第2条中的多个单项工程文件夹一起打包后上传；系统会根据文件夹命名对各个单项工程进行造价数据解析；
            </p>
          </div>
          <div class="tips" style="height: 130px" v-else>
            <div class="top">
              <img src="@/assets/img/icons/tip-icon.png" alt="" class="tip-img" />
              <span>导入单项工程: </span>
            </div>
            <p>1.注：造价文件报表格式只支持Excel格式或Xml格式<br /></p>
            <p>
              2.导入文件：若单位工程下有多个报表，请打包成一个压缩文件后再上传或直接分多次在同一入口上传，系统会自动识别；<br />
              例：安装工程包含：暖通报表、排水报表，请打包成一个压缩包在安装工程入口上传
            </p>
            <p>
              3.Excel报表请以“2013国标清单计价报表“为规范，否则上传后会造成识别错误；<br />
              每个报表内应包含：“单位工程**汇总表”、“分部分项工程和单价措施项目清单与计价表”、“综合单价分析表“、“单位工程人材机汇总表”；
            </p>
          </div>

          <!-- 单项工程 -->
          <template v-if="modelType != 1">
            <div class="flex-fe red cp" style="width: 40%" @click="addNewPro">
              +新增单项工程
            </div>
            <el-form :model="ruleForm" ref="ruleForm">
              <!-- <el-form-item prop="projectStatus">
                <div class="ipt-item flex-c mb-20">
                  <div class="left flex-cc" style="width:100px;">
                    <span class="title">工程类型</span>
                  </div>
                  <div class="right">
                    <el-cascader v-model="ruleForm.projectStatus" :options="projectOptions" :props="optionProps" separator=" "></el-cascader>
                  </div>
                </div>
              </el-form-item> -->
              <el-form-item prop="projectName">
                <div class="ipt-item flex-c mb-20">
                  <div class="left flex-cc" style="width: 100px">
                    <span class="title">单项工程名</span>
                  </div>
                  <div class="right">
                    <el-input v-model="ruleForm.projectName" placeholder="请输入单项工程名"></el-input>
                  </div>
                </div>
              </el-form-item>
              <el-form-item prop="major">
                <div class="ipt-item flex-c mb-20">
                  <div class="left flex-cc" style="width: 100px">
                    <span class="title">选择专业</span>
                  </div>
                  <div class="right">
                    <el-select v-model="ruleForm.major" placeholder="专业" style="width: 450px">
                      <el-option v-for="item in units" :key="item.id" :label="item.stdName" :value="item.code">
                      </el-option>
                    </el-select>
                  </div>
                </div>
              </el-form-item>
            </el-form>
          </template>
          <div class="flex-fsb">
            <div style="width: 32%">
              <div class="import-box flex-cw">
                <div class="import-item flex-c">
                  <img src="@/assets/img/file_msg.png" alt="" class="img" />
                  <div class="right flex-fd-c">
                    <div class="title">选择文件上传</div>
                    <div class="flex-c upload">
                      <div class="u-ipt">
                        {{
                          (File && File.name) ||
                          "请上传（文件会同步储存到文档库）"
                        }}
                      </div>
                      <div class="u-btn flex-cc">导入</div>
                      <input ref="fileElem" class="u-file" type="file" @change="uploadFile($event)" id="reckonFile" :style="
                          File && File.name ? 'width:344px;' : 'width:384px;'
                        " />
                    </div>
                    <div class="flex-c">
                      <p class="tip-text">
                        注：目前导入文件仅支持Excel和XML格式（支持压缩包）
                      </p>
                    </div>
                  </div>
                  <el-tooltip class="com-tooltip" effect="light" content="因各地的造价文件格式有细微区别，若发现文件导入失败，可联系客服" placement="top">
                    <img src="@/assets/img/icons/project_stock/info_a.png" alt="" class="mr-5 ml-5 mt-10" />
                  </el-tooltip>
                </div>
              </div>
            </div>
            <!-- 文件列表 -->
            <div class="file-list" v-if="hasFile && modelType == 1">
              <div class="flex-csb mb-20 pb-20" style="border-bottom: 1px solid #ededed">
                <span class="title">已上传文件</span>
              </div>
              <template v-if="fileList && fileList.length > 0">
                <div class="item-box">
                  <div v-for="(item, index) in fileList" :key="index">
                    <div class="flex-csb file-item">
                      <div class="file-name">
                        <img src="@/assets/img/v2.0/icons/Paperclip 拷贝 3.png" alt="" />
                        {{ item.name }}
                      </div>
                      <img src="@/assets/img/icons/cancel.png" alt="" class="cp" @click="clearFile(item.projectId, index)" />
                    </div>
                  </div>
                </div>
                <div class="cp delbtn flex-cc" @click="clearFile(null, null)">
                  全部删除
                </div>
              </template>
              <div class="nodata-pic" v-else>
                <img src="@/assets/img/nodata.png" alt="" class="img mb-20" />
                <div class="nodata-text">暂无数据</div>
              </div>
            </div>
            <!-- 单项-文件列表 -->
            <div class="file-list" style="margin-top: -160px" v-if="hasFile && modelType != 1">
              <div class="flex-csb mb-20 pb-20" style="border-bottom: 1px solid #ededed">
                <span class="title">已上传文件</span>
              </div>
              <template v-if="fileList && fileList.length > 0">
                <div class="item-box">
                  <div v-for="(item, index) in fileList" :key="index">
                    <div class="flex-csb file-item">
                      <div class="file-name">
                        <img src="@/assets/img/v2.0/icons/Paperclip 拷贝 3.png" alt="" />
                        {{ item.name }}
                      </div>
                      <img src="@/assets/img/icons/cancel.png" alt="" class="cp" @click="clearFile(item.projectId, index)" />
                    </div>
                  </div>
                </div>
                <div class="cp delbtn flex-cc" @click="clearFile(null, null)">
                  全部删除
                </div>
              </template>
              <div class="nodata-pic" v-else>
                <img src="@/assets/img/nodata.png" alt="" class="img mb-20" />
                <div class="nodata-text">暂无数据</div>
              </div>
            </div>
          </div>
          <div class="btns flex-cc">
            <el-button style="width: 80px" @click="curActive = 1">返回</el-button>
            <el-button type="primary" :style="
                fileList && fileList.length > 0
                  ? ''
                  : 'pointer-events: none;background: #ccc;'
              " @click="
                curActive = 3;
                getTableData3();
              ">下一步</el-button>
          </div>
        </template>
      </div>
      <!-- 步骤3 -->
      <div class="step3 edit-info" v-if="curActive == 3">
        <div class="com-operate-wrap" style="margin-left: -30px">
          <div class="b-title">工程标准化</div>
        </div>
        <div class="concent">
          <!-- 左选项卡 -->
          <div class="left-box">
            <div class="left-tab">
              <div v-for="(item, index) in projectSingleList" :key="item.projectName + index" class="check-item flex-cc cp" :class="{ 'item-active': curSingleSort == index }"
                @click="changeSingleSort(index)">
                <div class="item-text ellipsis2">{{ item.projectName }}</div>
                <span class="red-point" v-if="item.status > 0 || !ruleForm3[index].bore || !ruleForm3[index].unit"></span>
              </div>
            </div>
          </div>
          <!-- 右侧内容 -->
          <div class="right-box">
            <div class="top mb-10">
              <!-- 筛选项 -->
              <el-form ref="ruleForm3" class="right-form flex-c" v-if="ruleForm3.length">
                <el-form-item>
                  <div class="ipt-item flex-c mr-44">
                    <div class="left flex-cc">
                      <span class="red">*</span>
                      <span class="title">选择工程分类:</span>
                    </div>
                    <div class="right ml-20">
                      <el-cascader @change="changeAddressOrStatus2" v-model="ruleForm3[curSingleSort].projectStatus" :options="projectOptions" :props="optionProps" :placeholder="'请选择工程分类'">
                      </el-cascader>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <div class="ipt-item flex-c">
                    <div class="left flex-cc">
                      <span class="red">*</span>
                      <span class="title">计算口径:</span>
                    </div>
                    <div class="flex-cc">
                      <el-input class="koujing" v-model="ruleForm3[curSingleSort].bore" placeholder="请输入计算口径" @input="iptkoujin2"></el-input>
                      <el-select class="form-unit" v-model="ruleForm3[curSingleSort].unit" placeholder="单位">
                        <el-option v-for="item in unitList2" :key="item" :label="item" :value="item">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </el-form-item>
              </el-form>
              <div class="item-group flex-cw">
                <div v-for="(item, index) in projectSortList" :key="item.name" class="check-item flex-cc" :class="{ 'item-active': curSort == index }" @click="changeCurSort(index, item)">
                  {{ item.name }}
                </div>
              </div>
            </div>
            <!-- 表内容 -->
            <div class="table-box">
              <el-table border :data="tableData3" tooltip-effect="dark" v-loading="tableLoading3" class="table-main" style="width: 100%">
                <el-table-column align="center" width="66px" label="序号">
                  <template slot-scope="scope">
                    <span>{{ scope.$index + 1 }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="清单编码" prop="projectNum">
                </el-table-column>
                <el-table-column label="清单原名称">
                  <template slot-scope="scope">
                    <span class="title-link" @click="checkItem(scope.row)">{{
                      scope.row.name
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column :key="noSave + 'diff'" width="324px">
                  <template slot="header">
                    <span class="mr-75">选择归属分部工程</span>
                    <el-button type="primary" class="btn" @click="saveProjectItem2" :disabled="noSave">批量保存</el-button>
                  </template>
                  <template slot-scope="scope">
                    <div v-if="scope.row.edit" class="edit-item flex-cc">
                      <div class="flex-cc">
                        <el-select v-model="projectType[scope.$index]" placeholder="工程分级" @change="changeProjectType($event, scope.$index)">
                          <el-option v-for="item in projectList" :key="item.id" :label="item.name" :value="item.code">
                          </el-option>
                        </el-select>
                        <el-select style="margin: 0 10px" v-model="projectTypeItem[scope.$index]" placeholder="工程名称">
                          <el-option v-for="item in projectItemList[scope.$index]" :key="item.id" :label="item.name" :value="item.code">
                          </el-option>
                        </el-select>
                      </div>
                      <img class="icons" src="@/assets/img/table/save.png" alt="" @click="saveProjectItem(scope.row, scope.$index)" />
                    </div>
                    <div class="flex-csb pl-10 pr-12" v-else>
                      <span v-if="scope.row.belongNorm">{{
                        scope.row.belongNorm
                      }}</span>
                      <div class="flex-cc" v-else>--</div>
                      <img class="icons" src="@/assets/img/table/edit.png" alt="" @click="editProjectItem(scope.$index, scope.row)" />
                    </div>
                  </template>
                </el-table-column>
                <el-table-column label="合价（元）">
                  <template slot-scope="scope">
                    {{ formatNumber(scope.row.totalPrice) }}
                  </template>
                </el-table-column>
                <el-table-column label="状态">
                  <template slot-scope="scope">
                    <span v-if="scope.row.status == 1" class="green">正常</span>
                    <span v-if="scope.row.status == 2" class="gray">已处理</span>
                    <span v-if="scope.row.status == 0" class="red">
                      <img class="icons" src="@/assets/img/icons/warn.png" alt="" />
                      <span>异常</span>
                    </span>
                  </template>
                </el-table-column>
                <el-table-column label="原因" width="240px">
                  <template slot-scope="scope">
                    <p class="orange r-hide">{{ scope.row.errorMsg }}</p>
                  </template>
                </el-table-column>
                <el-table-column label="操作" width="160px">
                  <template slot-scope="scope">
                    <div class="icon-wrap">
                      <el-tooltip effect="light" content="查看" placement="top">
                        <img class="icons" src="@/assets/img/icons/details.png" alt="" @click="checkItem(scope.row)" />
                      </el-tooltip>
                      <el-tooltip effect="light" content="修改" placement="top">
                        <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="editItem(scope.row)" />
                      </el-tooltip>
                      <el-tooltip effect="light" content="删除" placement="top">
                        <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="delItem(scope.row)" />
                      </el-tooltip>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
              <!-- 分页 -->
              <div class="flex-csb com-pages-wrap">
                <div class="flex-c left-page">
                  <span>当前显示</span>
                  <div class="flex-cc cur-page">
                    <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                      <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item">
                      </el-option>
                    </el-select>
                  </div>
                  <span>条</span>
                  <span class="total-num">共{{ totalCount }}条数据</span>
                </div>
                <div class="flex-c right-page">
                  <el-pagination background @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount">
                  </el-pagination>
                  <div class="com-page-btn">确定</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 按钮组 -->
        <div class="btns flex-cc">
          <el-button class="mr-10" @click="backOneFun">返回</el-button>
          <el-button type="primary" @click="finishStandard">开始快速检测</el-button>
        </div>
      </div>
      <!-- 步骤4 -->
      <div class="step4" v-if="curActive == 4">
        <p>造价指标快速检测（{{ stageName }}）报告</p>
        <div class="title flex-csb">
          <div class="b-title">指标预警</div>
          <el-button type="primary" class="mr-30" @click="downReport">下载报告</el-button>
        </div>
        <div class="concent mt-30" v-if="step4Data && step4Data.projectStageNameResList">
          <!-- 左选项卡 -->
          <div class="left-box">
            <div class="left-tab">
              <div v-for="(item, index) in step4Data.projectStageNameResList" :key="item.name + index" class="check-item flex-cc cp" :class="{ 'item-active': curSingleSort4 == index }"
                @click="changeSingleSort4(index)">
                <div class="item-text ellipsis2">{{ item.name }}</div>
                <span class="red-point" v-if="hasWarn(item.warningIndicatorResList)"></span>
              </div>
            </div>
          </div>
          <div class="right-box">
            <!-- 表内容 -->
            <div class="table-box">
              <el-table ref="multipleTable" :data="
                  step4Data.projectStageNameResList[curSingleSort4]
                    .warningIndicatorResList || []
                " tooltip-effect="dark" v-loading="tableLoading" class="table-main" style="width: 100%">
                <el-table-column label="序号" width="80px" align="center">
                  <template slot-scope="scope">
                    <div>{{ scope.$index + 1 }}</div>
                  </template>
                </el-table-column>
                <el-table-column label="指标名称">
                  <template slot-scope="scope">
                    <div class="t-color">{{ scope.row.name }}</div>
                  </template>
                </el-table-column>
                <el-table-column label="指标分类">
                  <template slot-scope="scope">
                    <div class="t-color">{{ scope.row.typeName }}</div>
                  </template>
                </el-table-column>
                <el-table-column label="造价金额（元）">
                  <template slot-scope="scope">
                    <span class="t-color">{{
                      formatNumber(scope.row.amount)
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="计算口径">
                  <template slot-scope="scope">
                    <span class="t-color">{{
                      formatNumber(scope.row.calculateTheCaliber, true)
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="经济指标">
                  <template slot-scope="scope">
                    <span class="t-color green" v-if="scope.row.warningResult">{{ formatNumber(scope.row.econStd, true) }}</span>
                    <span class="t-color red" v-else>{{
                      formatNumber(scope.row.econStd, true)
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="预警指标(系统均值)">
                  <template slot-scope="scope">
                    <span class="t-color">{{
                      formatNumber(scope.row.calPrice) +
                      scope.row.unit +
                      "/" +
                      (scope.row.caliberUnit ||
                        (scope.row.econStd &&
                          scope.row.econStd.split("/")[1]) ||
                        "")
                    }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="预警范围">
                  <template slot-scope="scope">
                    <span class="t-color">{{ scope.row.startV }}% ~ {{ scope.row.endV }}%</span>
                  </template>
                </el-table-column>
                <el-table-column label="预警结果">
                  <template slot-scope="scope" v-if="scope.row.warningResult != null">
                    <span class="t-color" v-if="scope.row.warningResult">差异率<span class="cp green" @click="warnInfo(scope.row)">{{ scope.row.warning }}</span>%,指标正常</span>
                    <span class="t-color" v-else>差异率<span class="cp red" @click="warnInfo(scope.row)">{{ scope.row.warning }}</span>%,指标异常</span>
                  </template>
                  <template v-else>
                    <span>无预警</span>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </div>
      </div>

      <!-- 选择定额规范弹窗 -->
      <el-dialog :visible.sync="normListDialog" :close-on-click-modal="false" @close="closeNorm" title="请选择定额规范" width="1460px" class="com-dialog set-list norm-list">
        <div class="select-list com-checkbox">
          <template v-if="addupOptionsNew && addupOptionsNew.length">
            <el-checkbox-group v-model="checkedNormList">
              <el-checkbox class="flex-c" :label="item.id" v-for="(item, index) in addupOptionsNew" :key="index">{{ item.specName }}</el-checkbox>
            </el-checkbox-group>
          </template>
          <div class="ta-center" v-else>
            <img src="@/assets/img/nodata.png" alt="" />
            <p class="nodata-text">暂无数据</p>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="normListDialog = false">取消</el-button>
          <el-button type="primary" @click="comfirmNorm">确定</el-button>
        </span>
      </el-dialog>

      <!-- 查看/编辑清单 -->
      <el-dialog :title="itemDetail[0] && itemDetail[0].isEdit ? '修改清单' : '查看清单'" :visible.sync="showItemListDialog" width="1460px" class="com-dialog my-dialog" :close-on-click-modal="false">
        <div class="dialog-box">
          <el-table border :data="itemDetail" tooltip-effect="dark" class="table-main" style="width: 100%">
            <el-table-column label="清单编码" prop="projectNum">
            </el-table-column>
            <el-table-column label="清单名称" prop="name"> </el-table-column>
            <el-table-column width="280px" label="特征">
              <template slot-scope="scope">
                <div>
                  <span v-if="itemDetail[0] && itemDetail[0].isEdit">
                    <el-input resize="none" type="textarea" :rows="6" placeholder="请填写特征" v-model="itemDetail[0].features">
                    </el-input>
                  </span>
                  <span v-else>{{ scope.row.features }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="单位" prop="unit">
              <template slot-scope="scope">
                <div>
                  <span v-if="itemDetail[0] && itemDetail[0].isEdit">
                    <el-autocomplete v-model="itemDetail[0].unit" value-key="unit" :fetch-suggestions="iptUnit" placeholder="单位"></el-autocomplete>
                  </span>
                  <span v-else>{{ scope.row.unit }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="工程量">
              <template slot-scope="scope">
                <div>
                  <span v-if="itemDetail[0] && itemDetail[0].isEdit">
                    <el-input type="text" v-model="itemDetail[0].count" placeholder="请填写工程量" @input="iptgcl"></el-input>
                  </span>
                  <span v-else>{{ scope.row.count }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="单价（元）">
              <template slot-scope="scope">
                <div>
                  <span v-if="itemDetail[0] && itemDetail[0].isEdit">
                    <el-input type="text" v-model="itemDetail[0].price" placeholder="请填写单价" @input="iptdanjia"></el-input>
                  </span>
                  <span v-else>{{ scope.row.price }}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="合价（元）">
              <template slot-scope="scope">
                {{ formatNumber(scope.row.totalPrice) }}
              </template>
            </el-table-column>
            <el-table-column label="操作">
              <template>
                <div class="icon-wrap">
                  <span class="blue" @click="submitSave" v-if="itemDetail[0] && itemDetail[0].isEdit">保存</span>
                  <span class="org" @click="submitEdit" v-else>修改</span>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-dialog>

      <!-- 无预警方案提示弹窗 -->
      <el-dialog title="操作提示" :visible.sync="showPlanTip" width="420px" align="center" class="com-dialog add-again" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" class="mt-20 mb-20" />
        <p class="ml-20">
          该建筑业态此地点下，暂无指标预警方案，<br />无法进行指标快速检测；
        </p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showPlanTip = false">取消</el-button>
          <el-button type="primary" style="" @click="toSetting">去设置</el-button>
        </span>
      </el-dialog>

      <!-- 无预警方案提示弹窗2 -->
      <el-dialog title="操作提示" :visible.sync="showPlanTip2" width="420px" align="center" class="com-dialog add-again" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" class="mt-20 mb-20" />
        <p class="ml-20">
          未检测到该工程分类下此地区有预警指标可进行检测。<br />需设置配置该地区预警指标
        </p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showPlanTip2 = false">取消</el-button>
          <el-button type="primary" style="" @click="toSetting(2)">去设置>></el-button>
        </span>
      </el-dialog>

      <!-- 上传文件loading弹窗 -->
      <el-dialog title="上传文件" :visible.sync="showSubmitDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false">
        <i class="el-icon-loading loading-icon" alt="" v-if="submitStatus == 1 || submitStatus == 2"></i>
        <img src="@/assets/img/dialog/success.png" alt="" v-if="submitStatus == 3" />
        <img src="@/assets/img/dialog/error.png" alt="" v-if="submitStatus == 4" />
        <p v-if="submitStatus == 1">安全扫描中,请耐心等候...</p>
        <p v-if="submitStatus == 2">正在上传,请耐心等候...</p>
        <p v-if="submitStatus == 3">{{ successMsg || "上传成功" }}</p>
        <p v-if="submitStatus == 4">{{ errorMsg || "上传失败" }}</p>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" :disabled="disaScanBtn" @click="showSubmitDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 删除文件提示弹窗 -->
      <el-dialog title="操作提示" :visible.sync="delFileDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" />
        <p class="line-h">确定清除已导入的文件吗？</p>
        <!-- <p class="red">注：清除文件数据时，会删除本文件关联的材价！</p> -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="delFileDialog = false">取消</el-button>
          <el-button type="primary" @click="submitFileDel" :style="disableBtn ? 'pointer-events: none;opacity:.6' : ''" :loading="delLoading">确定<span v-if="delSecond > 0">({{ delSecond }})</span>
          </el-button>
        </span>
      </el-dialog>

      <!-- 删除清单弹窗 -->
      <el-dialog title="操作提示" :visible.sync="delItemDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" />
        <p class="line-h">
          确定删除该清单吗？<br />删除清单可能会导致造价数据不准，请仔细核查！
        </p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delItemDialog = false">取消</el-button>
          <el-button type="primary" @click="submitDel" :style="disableBtn ? 'pointer-events: none;opacity:.6' : ''">确定<span v-if="delSecond > 0">({{ delSecond }})</span></el-button>
        </span>
      </el-dialog>

      <!-- 处理异常提示弹窗 -->
      <el-dialog title="操作提示" :visible.sync="clearErrDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" />
        <p class="line-h">
          检测到有清单异常未完成处理，请完成！<br />若不完成，该清单将无法参与计算合价、指标等
        </p>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="clearErrDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 返回步骤二拦截弹窗 -->
      <el-dialog title="操作提示" :visible.sync="stopBackOneDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="" />
        <p class="line-h">
          退出页面前，请先完成异常清单处理，否则将影响项目总价计算、指标生成，综合指标计算分析的使用
        </p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="backToOne">强制退出</el-button>
          <el-button type="primary" @click="stopBackOneDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 预警弹窗 -->
      <WarnDialog :tableWarnData="tableWarnData" :showWarnDialog="showWarnDialog" @closeDialog="showWarnDialog = false" />
    </template>

    <!-- 检测中 -->
    <template v-else>
      <div class="loading">
        <div class="top flex-c">
          <template v-if="loadingStatus == 1">
            <div class="loading-box">
              <img src="@/assets/img/dialog/loading1.png" alt="" class="img" />
              <img src="@/assets/img/dialog/loading2.png" alt="" class="img2" />
            </div>
            <p>造价指标预警快速检测......</p>
          </template>
          <template v-else>
            <img src="@/assets/img/dialog/success.png" alt="" class="mr-10" />
            <p>造价指标预警（{{ stageName }}） 快速检测完毕</p>
          </template>
        </div>
        <template v-if="loadingStatus == 2">
          <div class="ing-list">
            <div class="list-item">
              <img src="@/assets/img/v2.0/yujing.png" alt="" />
              <h4 class="blue">指标预警</h4>
              <p class="describe-p gray">全方位对指标进行预警</p>
              <div class="item-box">
                <p class="tag-p">
                  预警指标 <span class="blue">{{ step4Data.number }}</span> 项
                </p>
                <div>
                  其中：
                  <div class="mt-10">
                    <span class="red">{{ step4Data.higher }}</span>项指标高于均值
                  </div>
                  <div class="mt-10">
                    <span class="red">{{ step4Data.lower }}</span>项指标低于均值
                  </div>
                  <div class="mt-10">
                    <span class="red">{{ step4Data.reasonable }}</span>项指标在合理范围内
                  </div>
                </div>
              </div>
            </div>
          </div>
          <el-button type="primary" @click="testReport" class="report-btn">查看检测报告</el-button>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
import WarnDialog from '../project/components/warnDialog'
import {
  presenceWarning,
  quickCheck,
  importDetectFile,
  delProjectInfo,
  createOrUpdateDetectProject,
  downloadReport
} from '@/api/target'
import { getAreaTree } from '@/api/common'
import {
  queryProjectTypeTree,
  delInvInfo,
  updateInvInfo,
  getInventoryList,
  validateNormal,
  queryNormList,
  updateInvAscriptions,
  getCityQuotaConfigList,
  getProjectUnitEngListByStageIds,
  judgmentException,
  setProjectCategories
} from '@/api/newProject'
import Step from './components/step'
import { queryNormEngList } from '@/api/project'

export default {
  name: 'targetTest',
  components: {
    Step,
    WarnDialog
  },

  data() {
    return {
      curActive: 1, // 步骤 czhui
      modelType: 1, // 检测模式 1项目 2工程
      loading: false, // 是否在检测页面
      // projectId: '1162',                                  // 项目id czhui
      // projectStageId: '1312',                             // 项目阶段id czhui
      projectId: '', // 项目id
      projectStageId: '', // 项目阶段id
      stageName: '', // 阶段名

      // step2
      projectOptions: [], // 项目类型列表
      areaOptions: [], // 项目地点列表
      addupOptionsNew: [], // 计税依据列表
      addupOptions: [], // 计价依据列表
      checkedNormList: [], // 选中定额规范列表
      normListDialog: false, // 显示定额规范弹窗
      midInvComputeNorm: '', // 原数据
      checkMidList: [], // 原数据
      ruleForm: {
        // 项目基本信息
        projectStatus: '', // 所选项目类型
        projectArea: '', // 所选项目地点
        stageStatus: '', // 所选造价阶段
        projectDate: '', // 价格取定期
        addupMode: '', // 计税依据
        modeStatus: 1, // 计税方式
        bore: '', // 计算口径
        unit: '㎡', // 单位
        projectName: '', // 单项工程名
        major: '' // 专业
      },
      units: [], // 专业列表
      changeing: true, // 项目资料是否编辑中
      showPlanTip: false, // 是否显示提示弹窗
      showPlanTip2: false, // 是否显示提示弹窗
      optionProps: {
        label: 'name',
        value: 'name',
        children: 'subs'
      }, // 级联选择器配置
      optionProp: {
        label: 'name',
        value: 'name',
        children: 'sub'
      },
      modeList: [
        // 计税方式列表
        { name: '增值税（一般计税方法）', value: 1 },
        { name: '增值税（简易计税方法）', value: 2 },
        { name: '增值税（营业税计税法）', value: 3 }
      ],
      unitList2: [
        'm',
        '㎡',
        'm³',
        '台',
        't',
        'km',
        '个',
        '根',
        '站',
        '正线公里',
        '延长米'
      ], // 单位列表
      pickerOptionsDate: {
        // 时间限制（不可选未来时间）
        disabledDate: time => {
          return time.getTime() > Date.now()
        }
      },
      showFileTem: false, // 是否显示文件模块
      File: null, // 文件
      hasFile: false, // 是否上传过文件
      fileList: [
        // {"projectId":1163,"projectStageId":1313,"engStageId":1312,"name":"I标段 夜景安装工程","same":true,"warningIndicatorResList":null},{"projectId":1164,"projectStageId":1314,"engStageId":1312,"name":"I标段 电梯工程","same":true,"warningIndicatorResList":null},{"projectId":1165,"projectStageId":1315,"engStageId":1312,"name":"I标段 抗震支架工程","same":true,"warningIndicatorResList":null}
      ], // 文件列表 czhui
      showSubmitDialog: false, // 是否显示上传文件loading弹窗
      submitStatus: '', // 1loading 2成功 3失败
      disaScanBtn: true, // 禁用扫描数据弹窗按钮
      delFileDialog: false, // 清除文件弹窗
      delfilestatus: '', // 1单个删除 2全部删除
      delCode: '', // 要删除的文件id
      delIdx: '', // 要删除的文件下标
      delLoading: false, // 删除loading
      delTimer: null, // 删除倒计时
      delSecond: 0, // 删除倒计时秒数
      disableBtn: true, // 禁用删除按钮

      // step3
      newProjectStageId: '', // 步骤三projectStageId
      tableData3: [], // 表格数据
      tableLoading3: false, // loading
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      projectSingleList: [], // 单项工程列表
      curSingleSort: 0, // 所选单项工程index
      projectSortList: [], // 工程类目列表
      curSort: 0, // 所选工程index
      projectType: [], // 选中的工程分级
      projectTypeItem: [], // 选中的工程名称
      projectList: [], // 工程分级列表
      unitList: [
        { unit: 'm' },
        { unit: '㎡' },
        { unit: 'm³' },
        { unit: '台' },
        { unit: 't' },
        { unit: 'km' },
        { unit: '个' },
        { unit: '根' },
        { unit: '站' },
        { unit: '正线公里' },
        { unit: '延长米' }
      ],
      itemDetail: [], // 清单内容
      showItemListDialog: false, // 查看清单内容
      delItemDialog: false, // 删除清单弹窗
      projectItemList: [],
      noSave: true, // 是否允许全部保存
      ruleForm3: [], // bore计算口径 unit单位 projectStatus工程分类
      clearErrDialog: false, // 是否显示处理异常提示弹窗
      stopBackOneDialog: false, // 拦截返回步骤一弹窗

      // step4
      tableLoading: false, // 表格loading
      step4Data: '', // 报告数据
      loadingStatus: '', // 报告状态 1loading 2成功
      curSingleSort4: 0, // 选中的工程
      showWarnDialog: false, // 是否显示预警弹窗
      tableWarnData: '' // 预警弹窗数据
    }
  },

  computed: {
    stateList() {
      // 阶段列表
      let list = this.$store.state.project.stageList
      list = list.filter(item => {
        return item.id != 1 && item.isEnable
      })
      return list
    },

    noAllData() {
      // 是否未完善项目数据
      const ruleForm = this.ruleForm
      let hasAllData
      if (this.modelType == 1) {
        hasAllData =
          ruleForm.projectStatus &&
          ruleForm.projectArea &&
          ruleForm.stageStatus &&
          ruleForm.projectDate &&
          ruleForm.addupMode &&
          ruleForm.modeStatus &&
          ruleForm.bore &&
          ruleForm.unit
      } else {
        hasAllData =
          ruleForm.projectArea &&
          ruleForm.stageStatus &&
          ruleForm.projectDate &&
          ruleForm.addupMode &&
          ruleForm.modeStatus
      }
      return !hasAllData
    }
  },

  watch: {
    // 监听是否可以全部保存
    projectTypeItem: {
      deep: true,
      handler: function(newVal, oldVal) {
        const hasedit = this.tableData3.some((item, index) => {
          return (
            item.edit && this.projectType[index] && this.projectTypeItem[index]
          )
        })
        this.noSave = !hasedit
      }
    }
  },

  mounted() {
    this.ProjectTypeTreeList()
    this.getAreaTree()
    this.queryNormEngList()

    // this.getTableData3() // czhui
  },

  methods: {
    // 选择模式跳转步骤二
    toStep2(type) {
      this.curActive = 2
      this.modelType = type
    },

    // 获取单位工程
    queryNormEngList() {
      const data = {
        currentPage: 1,
        pageSize: 99,
        pid: 0,
        type: 1 // 1.单位工程 2.分部工程 3.分项工程 4.清单
      }
      queryNormEngList(data).then(res => {
        if (res.code == '01') {
          this.units = res.body.list
        }
      })
    },

    // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData()
      formData.append('type', 1)
      queryProjectTypeTree(formData).then(res => {
        if (res.code == '01') {
          this.projectOptions = res.body
        }
      })
      var formData2 = new FormData()
      formData2.append('type', 2)
      queryProjectTypeTree(formData2).then(res => {
        if (res.code == '01') {
          this.addupOptions = res.body
        }
      })
    },

    // 获取项目地点
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.areaOptions = res.body
        }
      })
    },

    // 选中清单计价规范  2013/2008
    changeStandard() {
      this.getCityQuotaConfigList()
    },

    // 关闭选择清单计价规范弹窗
    closeNorm() {
      this.checkedNormList = this.checkMidList
      this.ruleForm.addupMode = this.midInvComputeNorm
      this.normListDialog = false
      if (this.checkedNormList.length <= 0) {
        this.$message.warning('请选择计价依据！')
        this.ruleForm.addupMode = ''
      }
    },

    // 选中定额规范-确定
    comfirmNorm() {
      if (
        this.checkMidList.length > 0 &&
        this.midInvComputeNorm != this.ruleForm.addupMode
      ) {
        for (let i = 0, l = this.checkMidList.length; i < l; i++) {
          for (let j = 0, l2 = this.checkedNormList.length; j < l2; j++) {
            if (this.checkMidList[i] == this.checkedNormList[j]) {
              this.checkedNormList.splice(j, 1)
              j = j - 1
            }
          }
        }
      }
      this.checkMidList = this.checkedNormList
      this.midInvComputeNorm = this.ruleForm.addupMode

      if (this.checkedNormList.length <= 0) {
        this.$message.warning('请选中清单计价规范！')
        return
      }
      this.normListDialog = false
    },

    // 根据城市获取造价定额标准配置列表
    getCityQuotaConfigList() {
      const list =
        this.ruleForm.addupMode == '建设工程工程量清单计价规范（GB50500-2013）'
          ? 1
          : 2
      getCityQuotaConfigList({
        province: this.ruleForm.projectArea[0],
        city: this.ruleForm.projectArea[1],
        listing: list,
        isCity: 'Y'
      }).then(res => {
        if (res.code == '01') {
          this.addupOptionsNew = res.body.list
          this.normListDialog = true
        }
      })
    },

    // 切换项目地点/项目类型/阶段,校验是否存在预警
    changeAddressOrStatus(type) {
      if (type == 1) {
        // 同步阶段名
        const list = this.$store.state.project.stageList
        list.forEach(item => {
          if (item.id == this.ruleForm.stageStatus) { this.stageName = item.useName }
        })
      }
      const ruleForm = this.ruleForm
      if (
        !ruleForm.projectStatus ||
        !ruleForm.projectArea ||
        !ruleForm.stageStatus
      ) { return }
      const data = {
        specialtyType: ruleForm.projectStatus[0],
        projectType: ruleForm.projectStatus[1],
        engType: ruleForm.projectStatus[2],
        province: ruleForm.projectArea[0],
        city: ruleForm.projectArea[1],
        area: ruleForm.projectArea[2],
        stageId: ruleForm.stageStatus
      }
      presenceWarning(data).then(res => {
        if (res.code == '01') {
          if (!res.body) this.showPlanTip = true // 无预警方案
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 切换项目类型校验是否存在预警
    changeAddressOrStatus2() {
      const ruleForm = this.ruleForm
      const projectStatus = this.ruleForm3[this.curSingleSort].projectStatus
      if (!projectStatus) return
      const data = {
        specialtyType: projectStatus[0],
        projectType: projectStatus[1],
        engType: projectStatus[2],
        province: ruleForm.projectArea[0],
        city: ruleForm.projectArea[1],
        area: ruleForm.projectArea[2],
        stageId: ruleForm.stageStatus
      }
      presenceWarning(data).then(res => {
        if (res.code == '01') {
          if (!res.body) this.showPlanTip2 = true // 无预警方案
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },

    // 保存或编辑项目
    saveData() {
      const ruleForm = this.ruleForm
      const data = {
        applicableDate: ruleForm.projectDate,
        province: ruleForm.projectArea[0],
        city: ruleForm.projectArea[1],
        area: ruleForm.projectArea[2],
        specialtyType: ruleForm.projectStatus[0],
        projectType: ruleForm.projectStatus[1],
        engType: ruleForm.projectStatus[2],
        stageId: ruleForm.stageStatus,
        caliber: ruleForm.bore,
        caliberUnit: this.modelType == 1 ? ruleForm.unit : '',
        importMethod: this.modelType == 1,
        invComputeNorm: ruleForm.addupMode,
        quotaComputeNorm: this.checkedNormList.toString() || '',
        taxManner: ruleForm.modeStatus,
        detect: 0,
        projectId: this.projectId,
        projectStageId: this.projectStageId
      }
      createOrUpdateDetectProject(data).then(res => {
        if (res.code == '01') {
          this.changeing = false
          this.showFileTem = true
          this.projectId = res.body.projectId
          this.projectStageId = res.body.projectStageId
          this.$message({
            type: 'success',
            message: res.message || '保存成功'
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message || '保存失败'
          })
        }
      })
    },

    // 计算口径输入限制（非负数值）
    iptkoujin(e) {
      // 清除"数字"和"."以外的字符
      this.ruleForm.bore = this.ruleForm.bore.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.ruleForm.bore = this.ruleForm.bore.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.ruleForm.bore = this.ruleForm.bore.replace(/\.{2,}/g, '.')
      this.ruleForm.bore = this.ruleForm.bore
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
    },

    // 计算口径输入限制（非负数值）
    iptkoujin2(e) {
      // 清除"数字"和"."以外的字符
      this.ruleForm3[this.curSingleSort].bore = this.ruleForm3[
        this.curSingleSort
      ].bore.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.ruleForm3[this.curSingleSort].bore = this.ruleForm3[
        this.curSingleSort
      ].bore.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.ruleForm3[this.curSingleSort].bore = this.ruleForm3[
        this.curSingleSort
      ].bore.replace(/\.{2,}/g, '.')
      this.ruleForm3[this.curSingleSort].bore = this.ruleForm3[
        this.curSingleSort
      ].bore
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
    },

    // 工程量输入限制（非负整数）
    iptgcl(e) {
      // 清除"数字"以外的字符
      this.itemDetail[0].count = this.itemDetail[0].count.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.itemDetail[0].count = this.itemDetail[0].count.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.itemDetail[0].count = this.itemDetail[0].count.replace(
        /\.{2,}/g,
        '.'
      )
      this.itemDetail[0].count = this.itemDetail[0].count
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.itemDetail[0].count = this.itemDetail[0].count.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
      this.itemDetail[0].totalPrice = (
        this.itemDetail[0].price * this.itemDetail[0].count
      ).toFixed(2)
    },

    // 单价输入限制（保留两位小数的非负数值）
    iptdanjia(e) {
      // 清除"数字"和"."以外的字符
      this.itemDetail[0].price = this.itemDetail[0].price.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.itemDetail[0].price = this.itemDetail[0].price.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.itemDetail[0].price = this.itemDetail[0].price.replace(
        /\.{2,}/g,
        '.'
      )
      this.itemDetail[0].price = this.itemDetail[0].price
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入两个小数
      this.itemDetail[0].price = this.itemDetail[0].price.replace(
        /^(\-)*(\d+)\.(\d\d).*$/,
        '$1$2.$3'
      )
      this.itemDetail[0].totalPrice = (
        this.itemDetail[0].price * this.itemDetail[0].count
      ).toFixed(2)
    },

    // 上传文件
    uploadFile(e) {
      var file = e.target.files[0]
      if (
        file.name.indexOf('.xls') > -1 ||
        file.name.indexOf('.xlsx') > -1 ||
        file.name.indexOf('.XLS') > -1 ||
        file.name.indexOf('.XLSX') > -1 ||
        file.name.indexOf('.zip') > -1 ||
        file.name.indexOf('.rar') > -1 ||
        file.name.indexOf('.xml') > -1 ||
        file.name.indexOf('.XML') > -1
      ) {
        this.importInvFile(file)
          .then(res => {
            if (res.code == '01') {
              this.File = file // 文件已上传
              if (res.body && res.body.length > 0) {
                this.addToArr(res.body)
              }
            }
            this.$refs.fileElem.value = null
          })
          .catch(err => {
            this.$refs.fileElem.value = null
          })
      } else {
        this.$message({
          type: 'error',
          message: '系统检测到上传文件格式错误，请检查文件是否有误'
        })
      }
    },

    // 调用文件上传接口
    importInvFile(file) {
      return new Promise((resolve, reject) => {
        this.showSubmitDialog = true
        this.disaScanBtn = true
        this.submitStatus = 1
        var formData = new FormData()
        formData.append('type', 'ENG')
        formData.append('file', file)
        formData.append('projectId', this.projectId)
        formData.append('projectStageId', this.projectStageId)
        setTimeout(() => {
          importDetectFile(formData)
            .then(res => {
              this.disaScanBtn = false
              this.submitStatus = 2
              if (res.code == '01') {
                this.hasFile = true //  标记上传过文件
                this.successMsg = res.message
                this.submitStatus = 3
                resolve(res)
              } else {
                this.submitStatus = 4
                this.errorMsg = res.message
              }
              try {
                this.$refs.fileElem.value = null
              } catch {}
            })
            .catch(err => {
              this.submitStatus = 4
              this.errorMsg = err.message
              this.$refs.fileElem.value = null
            })
        }, 1500)
      })
    },

    // 文件列表添加新文件
    addToArr(newArr) {
      this.fileList = this.fileList.concat(newArr)
    },

    // 清除文件数据
    clearFile(id, index) {
      if (id) {
        this.delCode = id
        this.delIdx = index
        this.delfilestatus = 1
      } else {
        this.delfilestatus = 2
      }
      this.delSecond = 3
      this.disableBtn = true
      this.delFileDialog = true
      this.delTimer = setInterval(() => {
        this.delSecond--
        if (this.delSecond == 0) {
          clearInterval(this.delTimer)
          this.disableBtn = false
        }
      }, 1000)
    },

    // 提交清除文件接口
    submitFileDel() {
      this.delLoading = true
      const projectIds = []
      if (this.delfilestatus == 1) {
        // 单个文件
        projectIds.push(this.delCode)
      } else {
        // 多个文件
        this.fileList.forEach(item => {
          projectIds.push(item.projectId)
        })
      }
      const data = {
        projectIds: projectIds
      }
      delProjectInfo(data)
        .then(res => {
          this.delLoading = false
          this.delFileDialog = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message || '删除成功'
            })
            if (this.delfilestatus == 1) {
              this.fileList.splice(this.delIdx, 1)
            } else {
              this.fileList = []
            }
          } else {
            this.$message({
              type: 'error',
              message: res.message || '删除失败'
            })
          }
        })
        .catch(err => {
          this.delLoading = false
          this.$message({
            type: 'error',
            message: err.message || '删除失败'
          })
        })
    },

    // 获取标准化表格数据
    getTableData3(nofresh) {
      const ids = []
      this.fileList.forEach(item => ids.push(item.projectStageId))
      var formData = new FormData()
      formData.append('projectStageIds', ids.join(','))
      this.getProjectUnitEngListByStageIds(formData).then(res => {
        this.projectSingleList = res.body
        if (nofresh) {
          const idx1 = this.curSingleSort || 0
          const idx2 = this.curSort || 0
          this.getTableData(res.body[idx1].res[idx2].id)
          return
        }
        if (res.body && res.body.length) {
          const ruleForm3 = []
          res.body.forEach(it => {
            ruleForm3.push({
              projectStatus: '',
              unit: '㎡',
              bore: ''
            })
          })
          this.ruleForm3 = ruleForm3

          const idx1 = this.curSingleSort || 0
          const idx2 = this.curSort || 0
          this.projectSortList = res.body[idx1].res
          if (res.body[idx1].res.length) {
            this.getTableData(res.body[idx1].res[idx2].id)
            this.getNormList(res.body[idx1].res[idx2].code)
            this.newProjectStageId = res.body[idx1].projectStageId
            this.judgmentException([this.newProjectStageId]) // 查询异常清单
          }
        }
      })
    },

    // 获取单位工程列表
    getProjectUnitEngListByStageIds(formData) {
      return new Promise(resolve => {
        getProjectUnitEngListByStageIds(formData).then(res => {
          if (res.code == '01') resolve(res)
        })
      })
    },

    // 获取表格数据(清单列表)
    getTableData(unitEngId) {
      if (!unitEngId) unitEngId = this.projectSortList[this.curSort].id
      const data = {
        unitEngId: unitEngId,
        pageSize: this.pageSize,
        currentPage: this.currentPage
      }
      this.tableLoading3 = true

      this.projectType = []
      this.projectTypeItem = []
      getInventoryList(data)
        .then(res => {
          this.tableLoading3 = false
          this.totalCount = res.body.totalCount
          this.tableData3 = res.body.list.map((item, index) => {
            if (item.status == 0) {
              item.edit = true
              if (item.deptCode) {
                setTimeout(() => {
                  this.projectList.forEach(item2 => {
                    if (item2.code == item.deptCode) {
                      this.$set(this.projectType, index, item.deptCode)
                      this.projectItemList[index] = item2.sub
                      item2.sub.forEach(item3 => {
                        if (item3.code == item.itemCode) { this.$set(this.projectTypeItem, index, item.itemCode) }
                      })
                    }
                  })
                }, 300)
              }
            } else {
              item.edit = false
            }
            return item
          })
        })
        .catch(err => {
          this.tableLoading3 = false
        })
    },

    // 获取工程分类列表
    getNormList(code) {
      if (!code) code = this.projectSortList[0].code
      var formData = new FormData()
      formData.append('type', 1)
      formData.append('normCode', code)
      queryNormList(formData).then(res => {
        if (res.body.length > 0) this.projectList = res.body[0].sub
      })
    },

    // 查询工程异常清单
    judgmentException(projectStageIds) {
      const params = {
        projectStageIds: projectStageIds.join(',')
      }
      judgmentException(params).then(res => {
        const errArr = []
        const projectSortList = this.projectSortList
        if (res.code == '01' && res.body && res.body.length > 0) {
          res.body.forEach(item => {
            if (item.status > 0) errArr.push(item.engCode)
          })
          projectSortList.forEach(item => {
            item.hasErr = errArr.indexOf(item.code) > -1
          })
          this.$nextTick(() => {
            this.projectSortList.splice(1, projectSortList)
          })
        }
      })
    },

    // 选择分部工程
    changeProjectType(e, index) {
      this.projectTypeItem[index] = ''
      this.projectList.forEach(item => {
        if (item.code == e) this.projectItemList[index] = item.sub
      })
    },

    // 切换单项工程
    changeSingleSort(index) {
      this.curSingleSort = index
      this.newProjectStageId = this.projectSingleList[index].projectStageId
      this.curSort = 0
      this.currentPage = 1
      this.projectSortList = this.projectSingleList[index].res
      this.getTableData(this.projectSortList[0].id)
      this.getNormList(this.projectSortList[0].code)
      this.judgmentException([this.newProjectStageId])
    },

    // 切换工程
    changeCurSort(index, item) {
      this.curSort = index
      this.projectType = []
      this.projectTypeItem = []
      this.getNormList(item.code)
      setTimeout(() => {
        this.currentPage = 1
        this.getTableData(item.id)
      }, 300)
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTableData()
    },

    // 编辑归属分部
    editProjectItem(index, item) {
      this.projectType[index] = item.deptCode
      this.projectList.forEach(items => {
        if (items.code == item.deptCode) this.projectItemList[index] = items.sub
      })
      this.projectTypeItem[index] = item.itemCode
      this.tableData3[index].edit = !this.tableData3[index].edit
    },

    // 保存归属分部(单个)
    saveProjectItem(item, index) {
      if (!this.projectType[index] || !this.projectTypeItem[index]) {
        this.$message({
          type: 'error',
          message: '请选择归属分部工程'
        })
        return
      }
      const data = [
        {
          deptNormCode: this.projectType[index],
          invId: item.id,
          itemNormCode: this.projectTypeItem[index],
          projectStageId: this.newProjectStageId,
          unitEngId: this.projectSortList[this.curSort].id
        }
      ]
      updateInvAscriptions(data)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message || '保存成功！'
            })
            this.getTableData3('nofresh')
          } else {
            this.$message({
              type: 'error',
              message: res.message || '保存失败！'
            })
          }
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '保存失败！'
          })
        })
      this.tableData3[index].edit = !this.tableData3[index].edit
    },

    // 保存归属分部(所有)
    saveProjectItem2() {
      const arr = []
      this.tableData3.forEach((item, index) => {
        if (
          item.edit &&
          this.projectType[index] &&
          this.projectTypeItem[index]
        ) {
          arr.push({
            deptNormCode: this.projectType[index],
            invId: item.id,
            itemNormCode: this.projectTypeItem[index],
            projectStageId: this.newProjectStageId,
            unitEngId: this.projectSortList[this.curSort].id
          })
        }
      })
      if (arr.length == 0) {
        this.$message({
          type: 'error',
          message: '暂无需要保存的已选分部分项！'
        })
        return
      }
      updateInvAscriptions(arr)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message || '保存成功！'
            })
            this.getTableData3('nofresh')
          } else {
            this.$message({
              type: 'error',
              message: res.message || '保存失败！'
            })
          }
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '保存失败！'
          })
        })
    },

    // 查看按钮
    checkItem(item) {
      item.isEdit = false
      const arr = [] // 新数组可重置表格数据
      arr.push(item)
      this.itemDetail = arr
      this.showItemListDialog = true
    },

    // 修改按钮
    editItem(item) {
      item.isEdit = true
      this.oldPrice = item.totalPrice
      const arr = []
      arr.push(item)
      this.itemDetail = arr
      this.showItemListDialog = true
    },

    // 单位辅助输入
    iptUnit(queryString, cb) {
      cb(this.unitList)
    },

    // 修改清单
    submitEdit() {
      this.itemDetail[0].isEdit = !this.itemDetail[0].isEdit
      this.itemDetail = JSON.parse(JSON.stringify(this.itemDetail))
    },

    // 保存清单
    submitSave() {
      // 判断不为空
      const obj = this.itemDetail[0]
      if (!obj.unit || !obj.count || !obj.price) {
        this.$message({
          type: 'error',
          message: '请完善清单信息'
        })
        return
      }
      // 比较偏差是否大于10%
      const isPass =
        Math.abs(obj.count * obj.price - Number(this.oldPrice)) >
        Number(this.oldPrice) * 0.1
      if (isPass) {
        this.showItemListDialog = false
        this.showPassTip = true
      } else {
        this.requestSave()
      }
    },

    // 保存清单接口
    requestSave() {
      const obj = this.itemDetail[0]
      const data = {
        code: obj.code,
        count: obj.count,
        feature: obj.features,
        invId: obj.id,
        name: obj.name,
        price: obj.price,
        unit: obj.unit
      }
      updateInvInfo(data)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message || '保存成功'
            })
            this.getTableData()
          } else {
            this.$message({
              type: 'error',
              message: res.message || '保存失败'
            })
          }
          this.showItemListDialog = false
          this.showPassTip = false
          this.itemDetail[0].isEdit = !this.itemDetail[0].isEdit
          this.itemDetail = JSON.parse(JSON.stringify(this.itemDetail))
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '保存失败'
          })
          this.showItemListDialog = false
          this.showPassTip = false
          this.itemDetail[0].isEdit = !this.itemDetail[0].isEdit
          this.itemDetail = JSON.parse(JSON.stringify(this.itemDetail))
        })
    },

    // 删除清单
    delItem(item) {
      this.delItemInfo = item
      this.delSecond = 2
      this.disableBtn = true
      this.delItemDialog = true
      this.delTimer = setInterval(() => {
        this.delSecond--
        if (this.delSecond == 0) {
          clearInterval(this.delTimer)
          this.disableBtn = false
        }
      }, 1000)
    },

    // 删除清单接口
    submitDel() {
      var formData = new FormData()
      formData.append('invId', this.delItemInfo.id)
      delInvInfo(formData)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message || '删除成功'
            })
            this.getTableData()
          } else {
            this.$message({
              type: 'error',
              message: res.message || '删除失败'
            })
          }
          this.delItemDialog = false
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '删除失败'
          })
          this.delItemDialog = false
        })
    },

    // 完成标准化校验按钮
    finishStandard() {
      // 校验
      let hasPoint = false
      let hasPoint2 = false
      this.ruleForm3.forEach(item => {
        if (!item.projectStatus || !item.bore || !item.unit) hasPoint = true
      })
      if (hasPoint) {
        this.$message({
          type: 'error',
          message: '工程分类与计算口径为必填'
        })
        return
      }
      this.projectSingleList.forEach(item => {
        if (item.status > 0) hasPoint2 = true
      })
      if (hasPoint2) {
        this.$message({
          type: 'error',
          message: '有清单异常未处理'
        })
        return
      }
      const fetchErr = []
      this.projectSingleList.forEach((item, index) => {
        fetchErr.push(this.standApi(index))
      })
      Promise.all(fetchErr)
        .then(res => {
          this.toStep4()
          this.$message({
            type: 'success',
            message: '校验成功'
          })
        })
        .catch(err => {
          console.log(err)
        })
    },

    // 标准化校验接口
    standApi(idx) {
      return new Promise((resolve, reject) => {
        const item = this.projectSingleList[idx]
        const curItem = this.ruleForm3[idx]
        const data = {
          projectId: item.projectId,
          projectStageId: item.projectStageId,
          specialtyType: curItem.projectStatus[0],
          projectType: curItem.projectStatus[1],
          engType: curItem.projectStatus[2],
          caliber: curItem.bore,
          caliberUnit: curItem.unit
        }
        // 提交项目信息
        this.setProjectCategories(data).then(res => {
          if (res.code == '01') {
            var formdata = new FormData()
            formdata.append('projectStageId', item.projectStageId)
            // 校验
            validateNormal(formdata).then(res => {
              if (res.code == '01') {
                if (res.body !== null) {
                  // 需处理异常
                  this.clearErrDialog = true
                  reject(1)
                } else {
                  resolve(res.message)
                }
              } else {
                reject(2)
              }
            })
          } else {
            reject(3)
          }
        })
      })
    },

    // 提交项目信息
    setProjectCategories(data) {
      return new Promise(resolve => {
        setProjectCategories(data).then(res => {
          if (res.code == '01') resolve(res)
        })
      })
    },

    backOneFun() {
      let nopass = false
      if (this.tableData3.length == 0) {
        nopass = false
        return
      } else if (this.tableData3.length > 0) {
        for (let i = 0; i < this.tableData3.length; i++) {
          if (this.tableData3[i].status == 0) {
            nopass = true
          }
        }
      }
      const noErr = this.projectSortList.every(item => !item.hasErr)
      if (!noErr) nopass = true
      if (nopass) {
        this.stopBackOneDialog = true
      } else {
        this.curActive = 2
      }
    },

    // 返回步骤二
    backToOne() {
      this.stopBackOneDialog = false
      this.curActive = 2
    },

    // 开始快速检测
    toStep4() {
      const ids = []
      this.fileList.forEach(item => ids.push(item.projectStageId))
      const data = {
        projectStageIds: ids
      }
      quickCheck(data).then(res => {
        if (res.code == '01') {
          this.step4Data = res.body
          this.loading = true
          this.loadingStatus = 1
          setTimeout(() => {
            this.loadingStatus = 2
          }, 2000)
        } else {
          this.$message({
            type: 'error',
            message: res.message || '校验失败'
          })
        }
      })
    },

    // 查看检测报告
    testReport() {
      this.loading = false
      this.curActive = 4
    },

    // 下载检测报告
    downReport() {
      const ids = []
      this.fileList.forEach(item => ids.push(item.projectStageId))
      const data = {
        projectStageIds: ids
      }
      downloadReport(data).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '报告.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {
          console.log(err)
        }
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName = sessionStorage.getItem('blob_filename') || '报告.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },

    // 切换单项工程
    changeSingleSort4(index) {
      this.curSingleSort4 = index
    },

    // 是否有预警
    hasWarn(item) {
      return item.some(item => {
        return item.warningResult
      })
    },

    // 查看预警弹窗
    warnInfo(item) {
      console.log(item)
      if (!item) return
      this.showWarnDialog = true
      this.tableWarnData = item
    },

    // 新增单项工程
    addNewPro() {},

    // 跳转到预警设置
    toSetting(type) {
      const query = {}
      if (this.ruleForm) {
        if (this.ruleForm.projectStatus && this.ruleForm.projectStatus.length) {
          query.specialtyType = this.ruleForm.projectStatus[0]
          query.projectType = this.ruleForm.projectStatus[1]
          query.engType = this.ruleForm.projectStatus[2]
        }

        if (this.ruleForm.projectArea && this.ruleForm.projectArea.length) {
          query.province = this.ruleForm.projectArea[0]
          query.city = this.ruleForm.projectArea[1]
          query.area = this.ruleForm.projectArea[2]
        }
      }

      if (type == 2) {
        // 覆盖工程类型
        const projectStatus = this.ruleForm3[this.curSingleSort].projectStatus
        query.specialtyType = projectStatus[0]
        query.projectType = projectStatus[1]
        query.engType = projectStatus[2]
      }

      this.$router.push({
        path: '/targetSet/earlyWarn',
        query
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.loading {
  background: #ffffff;
  text-align: center;
  .report-btn {
    margin: 0 auto 30px;
  }
  .top {
    height: 196px;
    padding: 0 54px;
    background: #eaeffb;
    // border-bottom: 2px solid #3699FF;
    p {
      font-size: 18px;
      font-weight: bold;
    }
    .loading-box {
      width: 90px;
      height: 90px;
      margin: 30px 26px 30px 0;
      position: relative;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .img {
        z-index: 0;
        animation: scanLoading 0.8s linear infinite;
      }
      .img2 {
        z-index: 1;
        animation: scanLoading2 0.8s linear infinite;
      }
      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      @keyframes scanLoading2 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  .ing-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    background: #ffffff;
    .list-item {
      position: relative;
      h4 {
        margin: 0;
        padding: 15px 0;
      }
      .describe-p {
        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .item-box {
        width: 15.6vw;
        height: 194px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        box-shadow: 0px 2px 8px 0px rgba(241, 242, 247, 0.82);
        border-radius: 3px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        .tag-p {
          padding: 20px 0;
        }
      }
    }

    .span-arrow {
      position: absolute;
      right: -6vw;
      top: 10%;
      &::before {
        content: '';
        width: 6vw;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 1px dashed #dcdcdc;
      }
      &::after {
        content: '';
        width: 6vw;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 1px dashed #dcdcdc;
      }
    }
  }
}
.loading-icon {
  font-size: 46px;
  color: $color-primary;
  margin: 20px 0 40px;
}
.step-container {
  .warn-dialog {
    .tag {
      color: #f13a3f;
      width: 60px;
      height: 22px;
      background: #ffd3d5;
      border-radius: 2px;
    }
    .banner {
      color: #ffffff;
      > div {
        width: 196px;
        height: 54px;
        border-radius: 4px;
        padding: 8px 12px;
      }
      .price {
        font-size: 18px;
        margin-top: 3px;
      }
      .gray {
        color: #999999;
      }
      & > div:nth-child(1) {
        background: #36cfc9;
      }
      & > div:nth-child(2) {
        background: $color-minor;
      }
      & > div:nth-child(3) {
        background: #0facd5;
      }
      .res {
        background: $color-primary;
      }
      .warn {
        background: $color-danger;
      }
    }
  }
  .com-dialog .el-checkbox-group {
    justify-content: flex-start;
  }
  .norm-list {
    &::v-deep .el-checkbox {
      width: 460px;
      margin-bottom: 15px;
    }
    &::v-deep .el-checkbox__label {
      width: 450px;
      justify-content: start;
    }
  }
  .step1,
  .step2,
  .step3,
  .step4 {
    padding: 20px 0;
    margin-top: 10px;
    border-radius: 8px;
    background: #ffffff;
  }
  .step1 {
    padding-bottom: 300px;
    .choice {
      & > div {
        width: 648px;
        height: 230px;
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px #e7e7e9;
        border-radius: 8px;
        padding: 6px 26px 6px 0;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
      }
      .m-text {
        font-size: 14px;
        opacity: 0.6;
      }
    }
  }

  // step2
  .engine-info {
    margin-top: 7px;
    background: #ffffff;
    padding: 0 17px 35px;
    border-radius: 6px;
    > .title {
      padding: 30px 0;
      .b-title {
        margin-left: -16px;
      }
    }
    .form-line {
      margin-top: -8px;
      color: #999;
      padding: 0 8px;
    }
    .save-btn {
      border-radius: 6px;
      width: 118px;
      height: 44px;
      line-height: 40px;
      text-align: center;
      margin: 20px auto;
      color: $gray-color;
      border: 1px solid;
      font-size: 15px;
    }
    .edit-stage {
      cursor: pointer;
      color: $color-primary;
    }
    .form-ipt {
      border-radius: 2px;
      margin-bottom: 18px;
      border-left: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;
      .ipt-item {
        // width: 533px;
        width: 100%;
        height: 45px;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        .left {
          min-width: 110px;
          height: 100%;
          background: #eff2f7;
          .red {
            margin-right: 2px;
            margin-top: 6px;
            color: $color-danger;
            font-weight: bold;
          }
          .title {
            font-size: 12px;
            color: $gray-color;
          }
        }
        .right {
          padding: 6px 7px;
          width: 100%;
        }
        .el-select {
          width: 100%;
        }
      }
    }
    .tips {
      height: 155px;
      background: rgba($color: #ededed, $alpha: 0.5);
      border-radius: 4px;
      font-size: 12px;
      color: $color-minor;
      padding: 9px 17px;
      margin-bottom: 18px;
      p {
        line-height: 15px;
      }
      .top {
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        .tip-img {
          width: 25px;
        }
      }
    }
    .others {
      margin-top: 60px;
      .other-title {
        color: #999999;
        margin-bottom: 16px;
      }
      .other-box {
        width: 32%;
        margin: 0 26px 26px 0;
        .import-item {
          width: 100%;
          margin: 0;
        }
      }
    }
    .file-list {
      margin: 0 30px 0;
      padding: 13px 17px;
      width: 32%;
      text-align: center;
      border: 1px solid #ededed;
      border-radius: 4px;
      .nodata-pic {
        text-align: center;
        padding-bottom: 20px;
      }
      .nodata-text {
        color: #cccccc;
      }
      .title {
        font-size: 16px;
      }
      .cp {
        color: $color-danger;
      }
      .delbtn {
        height: 36px;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #ededed;
      }
      .item-box {
        height: 300px;
        overflow: auto;
        .file-item {
          height: 34px;
          padding: 0 25px;
          &:hover {
            background: rgba(186, 216, 248, 0.2);
            border-radius: 4px;
          }
          img {
            width: 12px;
          }
        }
      }
    }
    .import-box {
      min-width: 1600px;
      .red {
        color: $color-danger !important;
      }
      .clear-file {
        width: 48px;
        color: $color-primary;
      }
      .download-file {
        color: $color-minor;
        cursor: pointer;
        font-size: 12px;
      }
      .import-item {
        width: 32%;
        height: 120px;
        background: #ffffff;
        border: 1px solid #ededed;
        border-radius: 4px;
        margin: 0 26px 26px 0;
        padding: 16px;
        box-sizing: border-box;
        &:nth-child(3n) {
          margin-right: 0;
        }
        .img {
          width: 65px;
          height: 86px;
          margin-right: 24px;
        }
        .right {
          width: 100%;
          height: 86px;
          .title {
            font-weight: bold;
            line-height: 30px;
          }
          .upload {
            width: 384px;
            cursor: pointer !important;
            > div {
              position: relative;
              width: 100%;
            }
            .u-ipt {
              padding-left: 10px;
              width: 100%;
              height: 34px;
              line-height: 34px;
              border: 1px solid #b9c6dc;
              border-radius: 4px;
              border-right: none;
              color: #999999;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .u-btn {
              height: 34px;
              width: 100px;
              line-height: 34px;
              text-align: center;
              // color: #fff;
              margin: 4px 0 4px -2px;
              border-radius: 0 4px 4px 0;
              border: 1px solid #b9c6dc;
              .imgs {
                width: 10px;
                height: 10px;
              }
            }
            .u-file {
              position: absolute;
              width: 100%;
              opacity: 0;
              width: 344px;
              height: 42px;
              cursor: pointer;
            }
          }
          .upload2 {
            .u-file {
              width: 384px;
            }
          }
          .upload3 {
            // width: 300px;
            width: 290px;
            .u-file {
              // width: 246px;
              width: 290px;
            }
            .u-ipt {
              // width: 176px;
              width: 290px;
            }
            .u-btn {
              // width: 70px;
              width: 88px;
            }
          }
          .select-remark {
            width: 88px;
            margin-right: 5px;
            height: 34px;
          }
          .tip-text {
            font-size: 12px;
            color: #cccccc;
            line-height: 30px;
          }
        }
      }
    }
  }

  // step3
  .edit-info {
    padding: 25px 36px 66px 14px;
    margin-top: 7px;
    background: #ffffff;
    border-radius: 6px;
  }
  .edit-info,
  .step4 {
    .concent {
      display: flex;
      .red-point {
        position: absolute;
        right: 8px;
        top: 5px;
        width: 7px;
        height: 7px;
        background-color: red;
        border-radius: 50%;
      }
      .left-box {
        width: 180px;
        border-radius: 2px;
        margin-right: 8px;
        background: #ffffff;
        min-width: 180px;
        .left-tab {
          display: flex;
          flex-direction: column;
          align-items: center;
          .check-item {
            height: 44px;
            color: #999;
            width: 100%;
            border-bottom: 1px solid rgba(229, 229, 229, 0.5);
            position: relative;
            padding: 0 14px;
          }
          .item-active {
            color: #fff;
            background: $color-minor;
            position: relative;
            border-radius: 2px;
            &::after {
              display: block;
              content: '';
              width: 0;
              height: 0;
              border-top: 8px solid transparent;
              border-left: 8px solid $color-minor;
              border-bottom: 8px solid transparent;
              position: absolute;
              right: -8px;
              top: 50%;
              margin-top: -8px;
            }
          }
        }
      }
      .right-box {
        flex: 1;
        border-radius: 2px;
        padding-bottom: 66px;
        background: #fff;
        .top {
          background: #fff;
          .right-form {
            padding: 20px 0 0 20px;
            .koujing {
              width: 192px;
              margin-left: 16px;
              margin-right: -2px;
            }
            .form-unit {
              width: 128px;
              padding-right: 7px;
            }
            .ipt-item {
            }
          }
        }
        .table-box {
          padding-bottom: 18px;
          .green {
            color: #1eb645;
          }
          .gray {
            color: #999999;
          }
          .red {
            color: #f13a3f;
          }
          .orange {
            color: #f9a147;
          }
          .icons {
            cursor: pointer;
          }
          .title-link {
            color: $color-primary;
            cursor: pointer;
          }
        }
        .item-group {
          margin-bottom: 10px;
          border-bottom: 1px solid $color-minor;
          box-shadow: 0px 1px 0px 0px rgba(249, 161, 71, 0.3);
          .check-item {
            width: 140px;
            height: 32px;
            color: #bfbfbf;
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            &:hover {
              color: $color-minor;
            }
          }
          .item-active {
            color: #ffffff;
            background-image: url('../../assets/img/icons/item_bg.png');
            background-size: 140px 32px;
            box-shadow: 0px 2px 0px 0px rgba(249, 161, 71, 0.3);
            border-radius: 1px;
            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .step4 {
    > p {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    .b-title {
      margin-left: 0;
    }
    .table-box {
      .red {
        color: $color-danger;
      }
      .green {
        color: #00cc00;
      }
    }
  }
}
.select-title {
  padding-bottom: 18px !important;
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';
.step-container {
  .dialog-box {
    .el-table__row .icon-wrap {
      .blue {
        cursor: pointer;
        color: $color-primary !important;
      }
      .org {
        cursor: pointer;
        color: $color-minor !important;
      }
    }
  }
  .warn-dialog {
    .el-dialog__header {
      background: #ffffff;
    }
    .el-dialog__body {
      border-top: 1px solid #efefef;
    }
  }
  .edit-info {
    .el-input__inner {
      border: 1px solid #b9c6dc !important;
    }
    .el-cascader {
      .el-input__inner {
        border-radius: 20px;
        width: 280px;
      }
    }
    .koujing {
      .el-input__inner {
        border-right: none !important;
        border-radius: 20px 0 0 20px;
      }
    }
    .form-unit {
      .el-input__inner {
        border-radius: 0 20px 20px 0;
      }
    }
    .table-box {
      .has-gutter {
        th {
          background: #eff2f7 !important;
        }
        .cell {
          font-size: 12px;
          color: #999999 !important;
        }
      }
      .icon-wrap {
        .icons {
          cursor: pointer;
          margin-right: 15px;
        }
      }
      .edit-item {
        .el-select {
          .el-input__inner {
            width: 135px;
            height: 34px;
          }
          .el-input__suffix {
            top: 4px !important;
            right: 4px !important;
          }
          .is-focus {
            .el-input__suffix {
              top: 0 !important;
            }
          }
        }
      }
    }
    .btns {
      .el-button--primary {
        padding: 12px 15px;
        width: 143px !important;
      }
    }
    .my-dialog {
      .el-dialog .el-dialog__body {
        .org {
          color: $color-minor;
        }
        .wth {
          width: 73%;
          margin: 0 auto 10px;
        }
        .left {
          width: 83%;
          margin: 0 auto;
          text-align: left;
        }
        .line-h {
          line-height: 20px !important;
        }
        .red {
          color: $color-danger;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
  }
  .engine-info {
    .el-input__inner {
      border: 1px solid #b9c6dc;
    }
    .form-label {
      min-width: 110px;
      height: 48px;
      line-height: 48px;
      background: #eff2f7;
      color: #aaa;
      text-align: center;
      font-size: 12px;
      .required {
        margin-right: 3px;
        color: #f13e43;
        font-size: 14px;
        font-weight: bold;
        vertical-align: middle;
      }
    }
    .form-ver {
      img {
        margin-right: 3px;
      }
      span,
      img {
        vertical-align: middle;
      }
    }
    .right {
      width: 100%;
      .el-cascader {
        width: 100%;
      }
      .el-input input {
        // width: 406px;
        width: 100%;
        height: 34px;
      }
      .el-date-editor {
        .el-input__inner {
          // width: 160px;
          height: 34px;
        }
      }
      .el-input__suffix {
        right: 4px !important;
      }
      .el-input--suffix {
        width: 100%;
        .el-input__prefix {
          right: 4px !important;
          color: #2491f6;
        }
        .el-input__suffix {
          right: 5px !important;
        }
      }
    }
    .koujing {
      min-width: 290px;
      width: 70%;
      padding-left: 7px;
      padding-right: 7px;
    }
    .form-unit {
      width: 128px;
      padding-right: 7px;
    }
    .right-arrow {
      .el-input__suffix {
        top: 4px !important;
      }
      .is-focus {
        .el-input__suffix {
          top: 2px !important;
        }
      }
    }
    .el-form-item {
      margin-bottom: 0 !important;
      width: 33.33%;
    }
    .project-date {
      .right {
        .el-input__suffix {
          right: 25px !important;
        }
      }
    }
    .custom-input {
      .el-input {
        margin: 0 8px;
        height: 34px;
        input {
          height: 34px;
          line-height: 34px;
        }
      }
      .form-unit {
        .el-input {
          margin-left: 0;
        }
      }
      .el-form-item {
        margin-bottom: 0;
        width: 100%;
      }
      .address-wrap {
        .el-select {
          width: 100%;
          input {
            text-indent: 12px;
          }
        }
      }
      .el-select {
        width: 76%;
        .el-input__suffix {
          top: 7px;
        }
      }
      .el-date-editor.el-input,
      .el-date-editor.el-input__inner {
        width: 100%;
      }
      .el-icon-date {
        color: $color-primary;
      }
      .el-form-item {
        width: 33.3333%;
      }
      .el-input__suffix {
        top: 5px !important;
        right: 4px !important;
      }
      .is-focus {
        .el-input__suffix {
          top: 0 !important;
          right: 25px !important;
        }
      }
    }
    .base-ruleForm {
      border-top: 1px solid #e6e6e6;
      border-radius: 2px;
      .row-wrap {
        flex-wrap: wrap;
        .formbox {
          border-bottom: 1px solid #e6e6e6;
          width: 33.33%;
          .el-form-item {
            width: 100%;
          }
        }
        &:last-child {
          border-bottom: 0;
        }
        .form-unit {
          margin-right: 8px;
          width: 45%;
          .el-input {
            margin-left: 0;
          }
        }
        .address-wrap {
          width: 73%;
          img {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            z-index: 99;
          }
        }
        .form-ver {
          img {
            margin-right: 3px;
          }
          span,
          img {
            vertical-align: middle;
          }
        }
        .bt {
          border-top: 1px solid #e6e6e6;
        }
      }
      .wrap-box {
        flex-wrap: wrap;
        border-bottom: none;
        > div {
          width: 33.33%;
          border-bottom: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
        }
        & > div:nth-child(3n) {
          // border-right: none;
        }
      }
      .add-item {
        text-align: center;
        color: $color-minor;
        font-size: 12px;
        font-weight: 600;
        width: 200px;
        > span {
          cursor: pointer;
        }
      }
      .form-label {
        min-width: 110px;
        height: 48px;
        line-height: 48px;
        background: #eff2f7;
        color: #aaa;
        font-size: 12px;
        .required {
          margin-right: 3px;
          color: #f13e43;
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
        }
      }
    }
  }
}
</style>
