<template>
  <div class="upload-cj-container">
    <div class="up-wrap">
      <div class="com-search top-search">
        <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如:名称、编制人" />
        <el-button class="search-btn" @click="searchFunc">搜索</el-button>
      </div>

      <div class="search-type">
        <div class="flex-c">
          <span class="s-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate()" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate()" />
          </div>
        </div>
      </div>

      <div class="com-table">
        <div class="com-operate-wrap">
          <el-button @click="openFeedbackDialog">模板信息反馈</el-button>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableDatalist" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange=$event">
          <el-table-column type="selection" width="55" />
          <el-table-column label="材价上报模板">
            <template slot-scope="scope">
              <div class="cp p-color" @click="skipDetail(scope.row)">{{ scope.row.tempname }}</div>
            </template>
          </el-table-column>
          <el-table-column prop="howPeriod" label="适用周期" />
          <el-table-column prop="updateon" label="模板更新时间" />
          <el-table-column prop="materialcount" label="材料数量" />
          <el-table-column prop="matPriCount" label="已报价材料" />
          <el-table-column label="操作" width="340px">
            <template slot-scope="scope">
              <div class="edit-wrap">
                <el-button size="mini" :disabled="scope.row.buttonStatus === -1" @click="showUploadMaterialPriceDialog(scope.row,false)">上传材价</el-button>
                <el-button size="mini" :disabled="scope.row.buttonStatus === -1" @click="showUploadMaterialPriceDialog(scope.row,true)">上传自定义材价</el-button>
                <el-button size="mini" @click="skipRecord(scope.row)">上传记录</el-button>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 上传材价弹窗 -->
    <el-dialog title="材价上传" :visible.sync="uploadMaterialPriceDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-select">
      <div class="flex-c nw mb-20 com-upload">
        <span class="mr-10">添加文件</span>
        <div class="flex-c">
          <div class="w-298 u-ipt">{{ tempFile.name }}</div>
          <div class="u-btn">添加</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" @change="uploadMaterialFile($event)">
        </div>
      </div>
      <div>
        <span class="mr-10">模板下载</span>
        <span class="cp p-color" @click="downloadTemplate">{{ curTemplate }}</span>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="uploadMaterialPriceDialog = false">取消</el-button>
        <el-button type="primary" @click="confirmUploadMode">上传</el-button>
      </span>
    </el-dialog>
    <!-- 上传材价弹窗 end-->

    <!-- 模板反馈弹窗 -->
    <el-dialog title="模板反馈" :visible.sync="feedbackDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input">
      <!-- <div class="flex-c mb-20">
        <span class="nw mr-10">反馈类型</span>
        <el-select v-model="curFeedback" style="width: 100%;" placeholder="请选择">
          <el-option v-for="item in feedbackList" :key="item.value" :label="item.value" :value="item.key" />
        </el-select>
      </div> -->
      <!-- <div class="flex-c mb-20 com-upload">
        <span class="nw mr-10">添加文件</span>
        <div class="flex-c">
          <div class="w-298 u-ipt">{{ feedbackFile.name }}</div>
          <div class="u-btn">添加</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" @change="uploadFeedbackFile($event)">
        </div>
      </div> -->
      <div class="flex-fs mb-20 mode-item">
        <span class="nw mr-10">反馈详情</span>
        <el-input v-model="feedbackContent" type="textarea" rows="8" resize="none" placeholder="请输入反馈详情" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="feedbackDialog = false">取消</el-button>
        <el-button type="primary" @click="addFeed">确定</el-button>
      </span>
    </el-dialog>
    <!-- 模板反馈弹窗 -->

    <!-- 上传自定义材料结果弹窗 -->
    <el-dialog title="上传自定义材料" :visible.sync="showResDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div v-if="resStatus==3" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/reStandard2.png" alt="" style="margin-bottom:30px;">
        <p>正在安全扫描...</p>
      </div>
      <div v-if="resStatus==1" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/success_img.png" alt="" class="img2">
        <p>导入成功<span class="suc-num2">{{ successCount2 }}</span>条，失败<span class="err-num2">{{ failCount2 }}</span>条</p>
      </div>
      <div v-if="resStatus==2" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/error_img.png" alt="" class="img2">
        <p v-if="errMsg">{{ errMsg }}</p>
        <p v-else>上传失败，请重试</p>
      </div>
      <span v-if="resStatus!=3" slot="footer" class="dialog-footer">
        <el-button v-if="resStatus==1 && failCount2 > 0" style="border:1px solid #2773FC;" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="showResDialog=false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 标准化弹窗 -->
    <ScanLoading v-if="startScan" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading" :err-msg="errMsg2" @confirmScan="confirmScan"
      @downloadErrorList="downloadErrorList" />
  </div>
</template>

<script>
import ScanLoading from '@/components/ScanLoading'
import {
  getUploadMaterialPriceList,
  exportTempFile,
  uploadTempFile,
  getFeedbackType,
  addFeedback,
  uploadFeedFile
} from '@/api/uploadMaterialPrice'
import { downloadErrorExcel, getSysDictList } from '@/api/common'
import { formatDate } from '@/utils/common'

export default {
  name: 'UploadMaterial',
  components: {
    ScanLoading
  },
  data() {
    return {
      resStatus: '', // 上传自定义文件结果 1成功 2失败
      handleSelectionChange: [],
      downloadKey: '',
      errMsg2: undefined,
      downloadKeyLoading: false,
      successCount: 0, // 标准化成功数
      failCount: 0, // 标准化失败数
      scanTimer: null, // 标准化定时器
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      startScan: false, // 开始标准化
      searchVal: '',
      startDate: '',
      endDate: '',
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      uploadMaterialPriceDialog: false, // 上传材价弹框
      confirmLoading: false, // 提交Loading
      tableDatalist: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      curTemplate: '',
      curTemplateId: '',
      cycleId: null,
      isCustomize: null,
      isDownload: false,
      tempFile: {},
      loading: false,
      feedbackDialog: false, // 模板反馈弹窗
      feedbackList: [], // 模板反馈列表
      curFeedback: null,
      feedbackContent: '',
      feedbackFile: {},
      fileUrl: '',
      showResDialog: false,
      custom: '',
      errMsg: undefined
    }
  },
  mounted() {
    this.getUploadMaterialPriceList()
    // this.getFeedback()
    // this.getFeedbackTypes()
  },
  methods: {
    // 选择适用时间
    toggleDate() {
      this.currentPage = 1
      this.getUploadMaterialPriceList()
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then((res) => {
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = (event) => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch((err) => {
          this.downloadKeyLoading = false
        })
    },
    // 标准化完成
    confirmScan() {
      this.startScan = false
      this.uploadMaterialPriceDialog = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
    },
    // 上传模板反馈文件
    uploadFeedbackFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.feedbackFile = file
        this.uploadFeedFile()
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    uploadFeedFile() {
      const formData = new FormData()
      formData.append('matPriceFile', this.feedbackFile)
      uploadFeedFile(formData).then((res) => {
        if (res.code === '01') {
          this.fileUrl = res.body
        }
      })
    },
    openAlert(text, type) {
      var texts = text || '请选择一条数据'
      this.$alert(texts, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    },
    // 模板信息反馈弹窗
    openFeedbackDialog() {
      if (this.handleSelectionChange.length !== 1) {
        this.openAlert()
        return
      }
      this.feedbackDialog = true
      this.feedbackFile = {}
      this.feedbackContent = ''
      this.curFeedback = null
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 获取反馈类型
    // getFeedback() {
    //   var params = {
    //     dictTypeId: 'FEEDBACK_TYPE'
    //   }
    //   getSysDictList(params).then((res) => {
    //     if (res.code == '01') {
    //       this.feedbackList = res.body
    //     }
    //   })
    // },
    // 获取反馈类型
    getFeedbackTypes() {
      getFeedbackType().then((res) => {
        if (res.code === '01') {
          this.feedbackList = res.body
        }
      })
    },
    // 模板下载
    downloadTemplate() {
      if (this.isDownload) {
        return
      }
      var params = {
        tempId: this.curTemplateId,
        isCustomize: this.isCustomize
      }
      this.isDownload = true
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      exportTempFile(params)
        .then((res) => {
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {
            this.isDownload = false
            loading.close()
          }
          // 读取文件成功
          fileReader.onload = (event) => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') ||
              this.curTemplate + '.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            this.isDownload = false
            sessionStorage.removeItem('blob_filename')
            loading.close()
          }
        })
        .catch((err) => {
          this.isDownload = false
          loading.close()
        })
    },
    // 跳转报价记录
    skipRecord(item) {
      this.$router.push({
        path: '/uploadMaterial/materialRecord',
        query: {
          id: item.id,
          name: item.tempname,
          periodId: item.periodid
        }
      })
    },
    // 跳转详情
    skipDetail(item) {
      this.$router.push({
        path: '/uploadMaterial/materialDetail',
        query: {
          id: item.id,
          name: item.tempname
        }
      })
    },
    // 表格选取
    // handleSelectionChange(val) {
    //   this.currentPagemultipleSelection = val
    // },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getUploadMaterialPriceList()
    },
    // 切换分页 end

    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getUploadMaterialPriceList()
    },
    // 搜索 end

    // 获取上传材价列表
    getUploadMaterialPriceList() {
      var data = {
        beginOn: formatDate(this.startDate),
        endOn: formatDate(this.endDate),
        currentPage: this.currentPage,
        keyword: this.searchVal,
        pageSize: this.pageSize
      }
      this.loading = true
      getUploadMaterialPriceList(data)
        .then((res) => {
          this.loading = false
          if (res.code == '01') {
            (this.tableDatalist = res.body.list),
            (this.totalCount = res.body.totalCount)
          }
        })
        .catch((err) => {
          this.loading = false
        })
    },
    // 获取上传材价列表 end

    // 打开上传材价弹框
    showUploadMaterialPriceDialog(item, isCustomize) {
      if (!item.periodid) {
        this.$message({
          type: 'error',
          message: '没有周期，无法上传'
        })
        return
      }
      if (isCustomize) {
        this.custom = 'yes'
      } else {
        this.custom = 'no'
      }
      this.tempFile = {}
      this.uploadMaterialPriceDialog = !this.uploadMaterialPriceDialog
      this.curTemplate = item.tempname
      this.curTemplateId = item.id
      this.cycleId = item.periodid
      this.isCustomize = isCustomize
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 打开上传材价弹框 end

    // 确定上传材价
    confirmUploadMode() {
      if (!this.tempFile || !this.tempFile.size) {
        this.$message({
          type: 'error',
          message: '请上传文件'
        })
        return
      }
      var formData = new FormData()
      formData.append('file', this.tempFile)
      formData.append('tempid', this.curTemplateId)
      formData.append('periodId', this.cycleId)
      formData.append('isCustomize', this.isCustomize)
      if (this.custom === 'yes') {
        this.importFile2(formData)
      } else {
        this.importFile1(formData)
      }
    },
    importFile1(formData) {
      // 接口请求开始标准化效果
      this.startScan = true
      this.scanState = '0'
      this.scanTimer = setTimeout(() => {
        uploadTempFile(formData)
          .then((res) => {
            if (res.code == '01') {
              this.uploadMaterialPriceDialog = false
              this.scanState = '1'
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.successCount
                this.downloadKey = res.body.downloadKey
              } catch (err) {}
              this.getUploadMaterialPriceList()
            } else {
              this.scanState = '2'
              this.errMsg2 = res.message
              // this.$message({
              //   type: 'error',
              //   message: res.message
              // })
            }
          })
          .catch((err) => {
            this.scanState = '2'
          })
      }, this.$store.getters.loadingTime4)
    },
    importFile2(formData) {
      this.uploadMaterialPriceDialog = false
      this.resStatus = 3
      this.showResDialog = true
      uploadTempFile(formData)
        .then((res) => {
          if (res.code == '01') {
            const that = this
            setTimeout(function() {
              that.resStatus = 1
            }, 2500)
            try {
              this.failCount2 = res.body.failCount
              this.successCount2 = res.body.successCount
              this.downloadKey = res.body.downloadKey
            } catch (err) {}
            this.getUploadMaterialPriceList()
          } else {
            this.resStatus = 2
            this.errMsg = res.message
          }
        })
        .catch((err) => {})
    },
    // 确定上传材价
    uploadMaterialFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.tempFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    addFeed() {
      if (!this.feedbackContent.trim()) {
        this.$message({
          type: 'error',
          message: '反馈详情不能为空'
        })
        return
      }
      const data = {
        feedbackContent: this.feedbackContent,
        feedbackType: this.curFeedback,
        fileUrl: this.fileUrl,
        tempId: this.handleSelectionChange[0].id
      }
      addFeedback(data).then((res) => {
        if (res.code === '01') {
          this.feedbackDialog = false
          this.$message({
            type: 'success',
            message: '添加成功'
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-cj-container {
  padding: 0px 20px 10px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #e5f1ff;
  .up-wrap {
    padding: 20px 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 6px;
    .top-search {
      padding-left: 0;
    }
  }
  .search-type {
    padding: 20px 20px 0 20px;
    width: 100%;
    background: none;
    .s-text {
      margin-right: 19px;
      color: #333;
      font-size: 14px;
      white-space: nowrap;
    }
  }

  // .com-dialog {
  //   .label-text {
  //     margin-right: 10px;
  //     white-space: nowrap;
  //     color: #333;
  //     font-size: 14px;
  //     display: block;
  //     text-align: right;
  //     min-width: 80px;
  //     max-width: 80px;
  //     > span {
  //       color: red;
  //     }
  //   }
  //   .cj-upload {
  //     width: 100%;
  //     margin-bottom: 30px;
  //     > span {
  //       margin-right: 20px;
  //       white-space: nowrap;
  //     }
  //     > div {
  //       position: relative;
  //       width: 100%;

  //     }
  //     .u-ipt {
  //       padding: 0 46px 0 10px;
  //       width: 288px;
  //       height: 34px;
  //       line-height: 34px;
  //       border: 1px solid #DCDFE6;
  //       border-radius: 4px;
  //       overflow: hidden;
  //       text-overflow: ellipsis;
  //       white-space: nowrap;
  //       box-sizing: border-box;
  //     }
  //     .u-btn {
  //       max-width: 66px;
  //       min-width: 66px;
  //       height: 34px;
  //       line-height: 34px;
  //       text-align: center;
  //       color: #fff;
  //       background: #2773FC;
  //       border-radius: 0 4px 4px 0;
  //     }
  //     .u-file {
  //       position: absolute;
  //       width: 100%;
  //       opacity: 0;
  //     }
  //     .u-dot {
  //       position: absolute;
  //       top: 1px;
  //       right: 66px;
  //       width: 36px;
  //       height: 32px;
  //       line-height: 27px;
  //       text-align: center;
  //       background: #EDEFF3;
  //       color: #333;
  //       font-size: 14px;
  //       font-weight: bold;
  //     }
  //   }
  // }
}
.com-dialog {
  .redtips {
    // color: $color-danger;
    margin-left: 20px;
  }
  .label-text {
    margin-right: 10px;
    white-space: nowrap;
    color: #333;
    font-size: 14px;
    display: block;
    text-align: right;
    min-width: 90px;
    max-width: 90px;
  }
  .special-text {
    text-align: left;
    min-width: 0;
    width: 80px;
    // margin-right:10px;
  }
  .set-type-wrap {
    .r-color {
      margin-right: 5px;
      font-size: 16px;
    }
    > div {
      text-align: center;
      margin-bottom: 15px;
      > span {
        margin-right: 8px;
        white-space: nowrap;
      }
    }
  }
}
.resultdialog {
  .scan-success2 {
    flex-direction: column;
    padding: 48px 0 20px 0;
    font-size: 14px;
    color: #333;
    .img2 {
      width: 56px;
      height: 56px;
      margin-bottom: 30px;
    }
    .suc-num2 {
      color: #8cc929;
    }
    .err-num2 {
      // color: $color-danger;
    }
  }
}
</style>
<style lang="scss">
.upload-cj-container {
  .search-ipt {
    input {
      width: 100%;
      height: 100%;
    }
  }
  .search-btn {
    padding: 0;
  }
  .top-ca {
    .el-date-editor.el-input {
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
      border-radius: 5px;
    }
    .el-date-editor.el-input,
    .el-date-editor .el-input__inner {
      width: 161px;
      height: 32px;
      border: none;
    }
    .el-input__icon {
      line-height: 32px;
    }
  }
}
</style>
