<template>
  <div class="upload-cj-container">
    <div class="up-wrap">
      <h1>{{tempName}}</h1>  
      <div class="com-search top-search">
        <el-input class="search-ipt" placeholder="搜索关键字，如：材料名称" v-model="searchVal" />
        <el-button class="search-btn" @click="searchFunc">搜索</el-button>
      </div>
      <div class="mb-20 search-type">
        <div class="flex-fs custom-type">
          <span>自定义材料分类</span>
          <div class="t-wrap">
            <ul class="flex-c" v-if="customType && customType.length > 0">
              <li :class="{active: curCustomType === ''}" @click="toggleCustomType('')">全部</li>
              <li 
                :class="{active: curCustomType == item.id}"
                v-for="(item, index) in customType" 
                :key="index"
                @click="toggleCustomType(index)">
                {{item.name}}
              </li>
              <li :class="{active: curCustomType === '0'}" @click="toggleCustomType('0')">未分类</li>
            </ul>
            <ul class="flex-c" v-if="customTypeItem && customTypeItem.length > 0">
              <li 
                :class="{active: curCustomTypeItem === ''}"
                @click="toggleCustomTypeItem('')">
                全部
              </li>
              <li 
                :class="{active: curCustomTypeItem == item.id}"
                v-for="(item, index) in customTypeItem" 
                :key="index"
                @click="toggleCustomTypeItem(item.id)">
                {{item.name}}
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-fs norm-type">
          <span><span class="com-alt">占位符</span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li 
                :class="{active: curNormType == item.code}"
                v-for="(item, index) in normType" 
                :key="index"
                @click="changeNormType(index, item.code)">
                {{item.name}}
              </li>
            </ul>
            <ul class="flex-cw all-list" v-if="normTypeItem.length > 0">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li 
                :class="{active: curNormTypeItem == item.code}"
                v-for="(item, index) in normTypeItem" 
                :key="index"
                @click="changeNormTypeItem(item.code)">
                {{item.name}}
              </li>
            </ul>
          </div>
          <span class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" v-if="normType && normType.length > 0"></span>
        </div>
      </div>

      <div class="table-wrap">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="loading"
          style="width: 100%"
          @selection-change="handleSelectionChange">
          <el-table-column
            type="selection"
            width="96px">
          </el-table-column>
          <el-table-column
            prop="sortNo"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="name"
            label="材料名称">
          </el-table-column>
          <el-table-column
            prop="spec"
            label="规格">
          </el-table-column>
          <el-table-column
            prop="unit"
            label="单位">
          </el-table-column>
          <el-table-column
            prop="customTypeName"
            label="自定义分类">
          </el-table-column>
          <el-table-column
            prop="rationName"
            label="国标分类">
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalPage}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalPage">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { 
  getTempCustomType,
  getTempDetailList,
  getCjType
} from '@/api/uploadMaterialPrice'

export default {
  name: 'ModeDetail',
  data() {
    return {  
      tempName: '',
      id: '',
      searchVal: '',
      currentPage: 1,
      pageSize: 10,
      totalPage: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      customType: [],             // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [],               // 国标分类               
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      isFold: true,
    }
  },
  mounted() {
    this.id = this.$route.query.id
    this.tempName = this.$route.query.name
    this.getData()
    this.getTempDetailList()
  },
  methods: {
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getTempDetailList()
    },
    // 详情列表
    getTempDetailList() {
      var customTypeId = this.curCustomTypeItem === '' ? this.curCustomType : this.curCustomTypeItem 
      var subcId = this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        tempId: this.id,
        customTypeId: customTypeId ? customTypeId : null,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId ? subcId : null,
      }
      this.loading = true
      getTempDetailList(data).then(res => {
        this.loading = false
        if (res.code == '01') {
          this.tableData = res.body.list
          this.totalPage = res.body.totalCount
        }
      }).catch(err => {
        this.loading = false
      })
    },
    // 页面初始数据
    getData() {
      Promise.all([getTempCustomType(), getCjType()]).then(res => {
        // 自定义材料分类
        var data01 = res[0]
        if (data01.code == '01') {
          this.customType = data01.body
        }

        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }
      })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.currentPage = 1
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getTempDetailList()
    },
    changeNormTypeItem(code) {
      this.currentPage = 1
      this.curNormTypeItem = code

      this.getTempDetailList()
    },
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.currentPage = 1
      this.curCustomTypeItem = id

      this.getTempDetailList()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      this.currentPage = 1
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
          this.curCustomTypeItem = ''
        } else {
          this.customTypeItem = this.customType[index].sub
          this.curCustomType = this.customType[index].id
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
        this.curCustomTypeItem = ''
      }

      this.getTempDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTempDetailList()
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-cj-container {
  padding: 0px 20px 10px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #E5F1FF;
  .up-wrap {
    padding: 20px 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 6px;
    h1 {
      margin: 10px 0 30px 0;
      color: #333;
      font-size: 26px;
    }
    .top-search {
      padding-left: 0;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #F7F7F7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        color: #999;
        font-size: 14px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: #2773FC;
            }
            &:hover {
              color: #2773FC;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
}
</style>
