<template>
  <div class="upload-cj-container">
    <div class="up-wrap">
      <h1>{{ curTempleteName }}</h1>
      <!-- 搜索 -->
      <div class="com-search top-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如:名称、编制人" />
        <el-button class="search-btn" @click="searchFunc">搜索</el-button>
      </div>
      <!-- 搜索 end -->
      <!-- 分类 -->
      <div class="search-type">
        <!-- <div class="flex-fs custom-type">
          <span>自定义材料分类</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li
                :class="{active: curCustomType == item}"
                v-for="(item, index) in customType" :key="index">
                {{item}}
              </li>
              <li>未分类</li>
            </ul>
            <ul class="flex-c">
              <li :class="{active: curCustomTypeItem == ''}">全部</li>
              <li
                :class="{active: curCustomTypeItem == item}"
                v-for="(item, index) in customType" :key="index">
                {{item}}
              </li>
            </ul>
          </div>
        </div> -->
        <!-- 国标分类 -->
        <div class="flex-fs norm-type">
          <span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curNormTypeCode == ''}" @click="changeNormType('', '')">全部</li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormTypeCode == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItemCode == ''}" @click="changeNormTypeItem('')">全部</li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItemCode == item.code}" @click="changeNormTypeItem(item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
        </div>
        <!-- 国标分类 end -->
      </div>
      <!-- 分类 -->

      <div class="com-table">
        <div class="com-operate-wrap">
          <el-button :loading="exportLoading" @click="exportFile">导出</el-button>
        </div>
        <!-- 列表 -->
        <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" />
          <el-table-column prop="name" label="材料名称" />
          <el-table-column prop="spec" label="规格" />
          <el-table-column prop="unit" label="单位" />
          <el-table-column prop="subname" label="国标分类" />
          <el-table-column prop="brand" label="品牌" />
          <el-table-column prop="providename" label="厂商" />
          <el-table-column prop="price1" label="价格" />
          <!-- <el-table-column prop="createOn" label="适用时间" /> -->
          <el-table-column prop="createOn" label="上传时间" />
          <el-table-column label="材价图片">
            <template slot-scope="scope">
              <span v-for="(item,index) in scope.row.imgs" :key="index" class="uploadimgs">
                <el-image :src="item" :preview-src-list="scope.row.imgs" />
                <i class="el-icon-error" @click="openDelImg(scope.row,item)" />
              </span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <div class="edit-wrap">
                <!-- <span v-for="(item,index) in scope.row.imgs" :key="index" class="uploadimgs">
                  <el-image :src="item" />
                  <i class="el-icon-error" @click="openDelImg(scope.row,item)" />
                </span> -->
                <span v-if="scope.row.imgs.length <3" @click="openUploadDialog(scope.row)">
                  <el-tooltip effect="light" content="上传图片" placement="top">
                    <img class="icons" src="@/assets/img/icons/img_up.png" alt="">
                  </el-tooltip>
                </span>
                <span @click="showTrend(scope.row)">
                  <el-tooltip effect="light" content="材价趋势" placement="top">
                    <img class="trend-btn" src="@/assets/img/icons/trend_icon.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 列表 end -->
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
        <!-- 列表 end -->
      </div>
    </div>

    <!-- 材价趋势弹窗 -->
    <el-dialog class="com-dialog trend-dialog" title="材价趋势" :visible.sync="trendDialog" :close-on-click-modal="false" width="550px">
      <div id="trendEcharts" class="info-wrap" />

      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="trendDialog = false">确定</el-button>
      </div>
    </el-dialog>
    <!-- 材价趋势弹窗 end -->

    <!-- 上传图片弹窗 -->
    <el-dialog title="上传附件" :visible.sync="showUploadDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog" @closed="uploadLoading = false">
      <div class="flex-c mb-10 com-upload">
        <span class="nw mr-10"><span class="asterisk">*</span>上传附件:</span>
        <div class="flex-c">
          <div class="w-298 u-ipt">{{ feedbackFile.name }}</div>
          <div class="u-btn">添加</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" type="file" class="u-file" accept="image/jpeg,image/png,image/jpg,image/bmp" @change="uploadFeedbackFile($event)">
        </div>
      </div>
      <div class="r-color pl-80">
        * 请上传产品图片
      </div>
      <div class="pl-80">
        * 请上传大小500kb以下、支持jpg.jpeg.png.bmp
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showUploadDialog = false">取消</el-button>
        <el-button type="primary" :loading="uploadLoading" :disabled="uploadLoading" @click="uploadMatPriceImg">确定</el-button>
      </span>
    </el-dialog>
    <!-- 上传图片弹窗 end-->
    <!-- 删除图片弹窗 -->
    <el-dialog title="删除图片" :visible.sync="showDelimgDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false" @closed="delimgloading = false">
      <img src="@/assets/img/confirm.png" alt="">
      <p>你确定要删除图片吗?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelimgDialog = false">取消</el-button>
        <el-button type="primary" :loading="delimgloading" :disabled="delimgloading" @click="deleteMatPriceImg">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import {
  getCjType,
  getUploadList,
  exportCollectDetailList,
  getAnalyzeTrendData,
  uploadMatPriceImg,
  deleteMatPriceImg
} from '@/api/uploadMaterialPrice'
export default {
  name: 'MaterialRecord',
  data() {
    return {
      searchKeyword: '',
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      // customType: ['A分类', 'B分类'],
      // customTypeItem: ['A1分类', 'A2分类', 'A3分类'],
      normType: [],
      normTypeItem: [],
      // curCustomType: 'A分类',
      // curCustomTypeItem: '',
      curNormTypeCode: '',
      curNormTypeItemCode: '',
      curTempleteName: '',
      tableLoading: false,
      id: null,
      periodId: null,
      exportLoading: false,
      trendDialog: false,
      myChart: null,
      chartData: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showUploadDialog: false,
      uploadLoading: false,
      feedbackFile: {},
      zcode: '',
      name: '',
      spec: '',
      unit: '',
      showDelimgDialog: false,
      delimgloading: false,
      delUrl: ''
    }
  },
  mounted() {
    this.curTempleteName = this.$route.query.name
    this.id = this.$route.query.id
    this.periodId = this.$route.query.periodId
    this.getCjType()
  },
  methods: {
    // 上传附件弹窗
    openUploadDialog(item) {
      this.feedbackFile = {}
      this.zcode = item.zcode
      this.name = item.name
      this.spec = item.spec
      this.unit = item.unit
      this.showUploadDialog = true
      this.$refs.fileElem.value = '' // 必须，否则二次选同样的文件不会触发change事件
    },
    // 上传附件
    uploadFeedbackFile(e) {
      const file = e.target.files[0]
      const hasType = ['image/jpeg', 'image/png', 'image/jpg', 'image/bmp']
      if (hasType.indexOf(file.type) === -1) {
        this.$message({
          type: 'error',
          message: '请上传正确格式的图片'
        })
        return
      }
      if (e.target.files[0].size > 500 * 1024) {
        // 限制文件上传大小
        this.$message({
          type: 'error',
          message: '上传单个文件大小不能超过 500kb!'
        })
        return
      }
      console.log(file)
      this.feedbackFile = file
    },
    uploadMatPriceImg() {
      console.log(new Date().getTime())
      if (!this.feedbackFile.size) {
        this.$message({
          type: 'error',
          message: '请上传附件'
        })
        return
      }
      const formData = new FormData()
      formData.append('matPriceFile', this.feedbackFile)
      formData.append('zcode', this.zcode)
      formData.append('name', this.name)
      formData.append('spec', this.spec)
      formData.append('unit', this.unit)
      this.uploadLoading = true
      return uploadMatPriceImg(formData).then((res) => {
        if (res.code === '01') {
          this.showUploadDialog = false
          this.$message({
            type: 'success',
            message: '上传图片成功'
          })
          this.getUploadList()
        }
        // this.uploadLoading = false
      })
    },
    openDelImg(data, item) {
      this.delUrl = ''
      this.delUrl = item
      this.name = data.name
      this.spec = data.spec
      this.unit = data.unit
      this.url = data.delUrl
      this.zcode = data.zcode
      this.showDelimgDialog = true
    },
    // 删除图片
    deleteMatPriceImg() {
      this.delimgloading = true
      const data = {
        name: this.name,
        spec: this.spec,
        unit: this.unit,
        url: this.delUrl,
        zcode: this.zcode
      }
      deleteMatPriceImg(data).then((res) => {
        if (res.code === '01') {
          this.showDelimgDialog = false
          this.$message({
            type: 'success',
            message: '删除图片成功'
          })
          this.getUploadList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 初始化echarts
    initEcharts() {
      // 避免重复初始化
      if (!this.myChart) {
        this.myChart = echarts.init(document.getElementById('trendEcharts'))
      }
      var cycleData = []
      var priceData = []
      for (var i = 0; i < this.chartData.length; i++) {
        cycleData.push('第' + this.chartData[i].applyYear + '期')
        priceData.push(this.chartData[i].price)
      }
      // 滑杆结束区间
      var start = 0
      if (priceData && priceData.length > 5) {
        start = 110 - (5 / priceData.length) * 100
      }
      var option = {
        color: ['#287EF3'],
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          left: '9%',
          right: '9%',
          bottom: '16%',
          containLabel: true
        },
        dataZoom: [
          {
            show: true,
            start: start,
            end: 100
          },
          {
            type: 'inside',
            start: start,
            end: 100
          }
        ],
        xAxis: [
          {
            type: 'category',
            data: cycleData,
            axisTick: {
              alignWithLabel: true,
              show: false
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: '#287EF3'
              }
            },
            axisLabel: {
              color: '#999'
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisLine: {
              show: true,
              lineStyle: {
                color: '#287EF3'
              }
            },
            axisLabel: {
              color: '#999'
            }
          }
        ],
        series: [
          {
            name: '该期数据',
            type: 'bar',
            barWidth: '30%',
            data: priceData
          }
        ]
      }

      this.myChart.setOption(option)
    },
    // 显示趋势
    showTrend(item) {
      var params = {
        zcode: item.zcode,
        name: item.name,
        periodId: this.periodId,
        materialId: item.materialId
      }
      var loading = this.$loading({
        text: '趋势加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      getAnalyzeTrendData(params)
        .then((res) => {
          this.chartData = []
          loading.close()
          if (res.code == '01') {
            this.chartData = res.body
            this.trendDialog = true
            this.$nextTick(() => {
              this.initEcharts()
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch((err) => {
          loading.close()
        })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection == 0) {
        this.openAlert()
        return
      }

      this.$confirm('确定要导出勾选的材价吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        var params = {
          ids: ids
        }
        this.exportLoading = true
        exportCollectDetailList(params)
          .then((res) => {
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = (event) => {
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') ||
                this.curTempleteName + '.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch((err) => {
            this.exportLoading = false
          })
      })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getUploadList()
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.currentPage = 1
      this.curNormTypeCode = code
      this.curNormTypeItemCode = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getUploadList()
    },
    // 切换国标分类子类
    changeNormTypeItem(code) {
      this.currentPage = 1
      this.curNormTypeItemCode = code
      if (code === '') {
        this.normCode = this.curNormTypeCode
      }

      this.getUploadList()
    },
    // 获取材价分类
    getCjType() {
      getCjType().then((res) => {
        if (res.code == '01') {
          // 国标分类
          this.normType = res.body.subcTypes

          this.getUploadList()
        }
      })
    },
    // 获取列表数据
    getUploadList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        id: this.id,
        keyword: this.searchKeyword,
        subcid: this.curNormTypeItemCode
          ? this.curNormTypeItemCode
          : this.curNormTypeCode
      }
      this.tableLoading = true
      getUploadList(data)
        .then((res) => {
          this.tableLoading = false
          if (res.code === '01') {
            this.totalCount = res.body.totalCount
            this.tableData = res.body.list
            console.log(this.tableData)
          }
        })
        .catch((err) => {
          this.tableLoading = false
        })
    },
    // 表格选取
    handleSelectionChange(val) {
      console.log(val)
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getUploadList()
    },
    openAlert() {
      this.$alert('请至少选择一条数据', '提示', {
        confirmButtonText: '确定',
        type: 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-cj-container {
  padding: 0px 20px 10px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #e5f1ff;
  .up-wrap {
    padding: 20px 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 6px;
    h1 {
      margin: 10px 0 30px 0;
      color: #333;
      font-size: 26px;
    }
    .top-search {
      padding-left: 0;
    }
  }
  .search-type {
    padding: 20px 20px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        color: #999;
        font-size: 14px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: #2773fc;
            }
            &:hover {
              color: #2773fc;
            }
          }
        }
      }
    }
  }

  .trend-btn {
    margin-left: 15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .trend-dialog {
    .info-wrap {
      width: 100%;
      height: 338px;
      box-sizing: border-box;
    }
  }
}
.edit-wrap {
  span {
    cursor: pointer;
  }
}
.uploadimgs {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
  img {
    width: 30px;
    height: 30px;
  }
  &:hover {
    .el-icon-error {
      display: block;
    }
  }
  .el-icon-error {
    position: absolute;
    display: none;
    font-size: 14px;
    top: 0px;
    right: -14px;
    z-index: 2;
  }
}
</style>
<style lang="scss">
// 全局常用弹窗（成功/失败/询问等）
.my-dialog {
  .el-dialog__header {
    background: #ffffff !important;
  }
  .el-dialog__body {
    color: #333333;
    text-align: center;
    > img {
      margin: 20px 0 26px;
    }
    .gray_tips {
      font-size: 12px;
      font-weight: 400;
      color: #999999;
      margin-top: 8px;
    }
  }
}
</style>
