<template>
  <div class="ing-content">
    <div class="ing-top">
      <div class="loading-box">
        <img src="@/assets/img/dialog/loading1.png" alt="" class="img" />
        <img src="@/assets/img/dialog/loading2.png" alt="" class="img2" />
      </div>
      <p class="top-tips">广州市第九医院整体迁建施工（预算） 正在检测...</p>
    </div>
    <div class="ing-list">
      <div class="list-item">
        <img src="@/assets/img/v2.0/jiancha.png" alt="" />
        <span class="span-arrow"
        ><img
          class="img-arrow"
          src="@/assets/img/v2.0/icons/circular_arrow.png"
          alt=""
      /></span>
        <h4 class="blue">数据检查</h4>
        <p class="describe-p gray">全面对造价文件数据进行规范检查</p>
        <div class="item-box">
          <p class="tag-p">
            清单数据检测 <span class="blue">147</span> 项，材料数据检测
            <span class="blue">56</span> 项
          </p>
          <p>
            其中清单：<span class="red">1</span>项缺少单位，<span class="red"
              >1</span
            >项缺少工程量
          </p>
        </div>
      </div>

      <div class="list-item">
        <img src="@/assets/img/v2.0/jiance.png" alt="" />
        <span class="span-arrow"
        ><img
          class="img-arrow"
          src="@/assets/img/v2.0/icons/circular_arrow.png"
          alt=""
      /></span>
        <h4 class="blue">特征检测</h4>
        <p class="describe-p gray">全检测项目关键技术特征完整性</p>
        <div class="item-box">
          <p class="tag-p">
            清单数据检测 <span class="blue">147</span> 项，材料数据检测
            <span class="blue">56</span> 项
          </p>
          <p>
            其中清单：<span class="red">1</span>项缺少单位，<span class="red"
              >1</span
            >项缺少工程量
          </p>
        </div>
      </div>

      <div class="list-item">
        <img src="@/assets/img/v2.0/yujing.png" alt="" />
        <h4 class="blue">指标预警</h4>
        <p class="describe-p gray">全方位对指标进行预警</p>
        <div class="item-box">
          <p class="tag-p">
            清单数据检测 <span class="blue">147</span> 项，材料数据检测
            <span class="blue">56</span> 项
          </p>
          <p>
            其中清单：<span class="red">1</span>项缺少单位，<span class="red"
              >1</span
            >项缺少工程量
          </p>
        </div>
      </div>
    </div>

    <el-button type="primary" @click="testReport" class="mb-30">查看检测报告</el-button>
  </div>
</template>

<script>
export default {
  name: "doing",
  data() {
    return {
      projectId: null,
    }
  },
  mounted() {
    this.projectId = this.$route.query.projectId;
  },
  methods: {
    // 体检报告
    testReport() {
      this.$router.push({
        path: "/project/report",
        query: {
          projectId: this.projectId,
        },
      });
    },
  }
};
</script>

<style lang="scss" scoped>
.ing-content {
  background: #fff;
  min-height: calc(100vh - 100px);
  text-align: center;
  .ing-top {
    height: 196px;
    background: #eaeffb;
    display: flex;
    align-items: center;
    padding-left: 54px;

    .loading-box {
      width: 90px;
      height: 90px;
      position: relative;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .img {
        z-index: 0;
        animation: scanLoading 0.8s linear infinite;
      }
      .img2 {
        z-index: 1;
        animation: scanLoading2 0.8s linear infinite;
      }
      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      @keyframes scanLoading2 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .top-tips {
      font-size: 18px;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: #333333;
      margin-left: 30px;
    }
  }

  .ing-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    text-align: center;
    .list-item {
      position: relative;
      h4 {
        margin: 0;
        padding: 15px 0;
      }
      .describe-p {
        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .item-box {
        width: 15.6vw;
        height: 194px;
        background: #ffffff;
        border: 1px solid #eeeeee;
        box-shadow: 0px 2px 8px 0px rgba(241, 242, 247, 0.82);
        border-radius: 3px;
        font-family: Source Han Sans CN;
        font-weight: 400;

        .tag-p {
          padding: 20px 0;
        }
      }
    }

    .span-arrow {
      position: absolute;
      right: -6vw;
      top: 10%;
      &::before {
        content: "";
        width: 6vw;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 1px dashed #DCDCDC;
      }
      &::after {
        content: "";
        width: 6vw;
        height: 1px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 1px dashed #DCDCDC;
      }
    }
  }
}
</style>