<template>
  <div v-if="progressInfo" class="flex-cc progress-box">
    <div class="line" :class="(curActive == 0 && specialActive == 0) ? 'line-gray' : ''"></div>
    <!-- 提交询价 -->
    <div class="flex-cc item">
      <img src="@/assets/img/process/sumbit1.png" alt="" class="icon" v-if="curActive > 0 || specialActive > 0">
      <img src="@/assets/img/process/sumbit1_gray.png" alt="" class="icon" v-else>
      <div class="tips" :style="curActive > 0 || specialActive > 0 ? '' : 'color:#B4B4B4;'">提交询价</div>
      <p v-if="curActive > 0 || specialActive >= 3">{{batchInfo.createOn | timeFilter}}</p>
      <img src="@/assets/img/process/arrow.png" alt="" v-if="curActive > 1 || specialActive >= 3" class="arrow">
      <img src="@/assets/img/process/arrow_gray.png" alt="" class="arrow" v-else>
    </div>
    <!-- 分配中/分析中 -->
    <div class="flex-cc item">
      <el-tooltip placement="bottom" effect="light" :disabled="specialActive != 3 || !(progressInfo && progressInfo.askPici && progressInfo.askPici.context)">
        <div slot="content">
          <div>
            <span style="color: #F9A147;font-size: 14px;margin-bottom: 6px;"> 不通过原因: </span><br />
            <span v-if="progressInfo && progressInfo.askPici && progressInfo.askPici.context">{{progressInfo.askPici.context}}</span>
          </div>
        </div>
        <div>
          <img src="@/assets/img/process/analyse2.png" alt="" class="icon" v-if="curActive >= 1 || specialActive >= 3">
          <img src="@/assets/img/process/analyse2_gray.png" alt="" class="icon" v-else>
          <!-- 附件 -->
          <template v-if="inquiryType && inquiryType == 1">
            <div class="tips" v-if="curActive >= 2 || specialActive > 3">分析完成</div>
            <div class="tips" style="specialActive == 3 ? '' : 'color:#B4B4B4;'" v-else>{{specialActive == 3 ? '正在重新分析(确认不通过)' :  '分析中'}}</div>
            <p v-if="curActive <= 1">
              <span v-if="specialActive == 3">我们会根据反馈重新分析整理，请耐心等待...</span>
              <span  v-if="specialActive != 3 && specialActive < 5">我们正在整理材料，会尽快给您回复，请耐心等待...</span>
            </p>
          </template>
          <!-- 清单 -->
          <template v-else>
            <template v-if="curActive >= 4 || specialActive >= 5">
              <div class="tips">询价分配完成</div>
              <p><span v-if="engineerInfo" @mouseenter="showTip1 = true" @mouseleave="showTip1 = false">询价工程师：{{engineerInfo.name}}</span></p>
            </template>
            <template v-else>
              <div class="tips">分配中</div>
              <p><span v-if="batchInfo">预计完成时间：{{batchInfo.replyTime | timeFilter}}</span></p>
            </template>
          </template>
        </div>
      </el-tooltip>

      <img src="@/assets/img/process/arrow.png" alt="" v-if="curActive >= 4 || specialActive >= 5" class="arrow">
      <img src="@/assets/img/process/arrow_gray.png" alt="" v-else class="arrow">
      <!-- 工程师信息 -->
      <span v-show="showTip1" class="engineer-tip">
        <el-row>
          <el-col class="col-left">
            <img src="@/assets/img/dialog/default_png.png" alt="">
            <span v-if="engineerInfo">{{engineerInfo.name}}</span>
          </el-col>
          <el-col class="col-right">
            <div>职称职级：询价工程师</div>
            <div v-if="engineerInfo">总评星级：<el-rate disabled v-model="engineerInfo.avgScore"></el-rate></div>
              <div class="flex-c" v-if="engineerInfo && engineerInfo.profiles">
                <div style="width: 134px;"> 简介: </div>
                <div class="tip-div">{{engineerInfo.profiles}}</div>
              </div>
          </el-col>
        </el-row>
      </span>
    </div>
    <!-- 附件-待确认清单/待确认/清单确认完成 -->
    <div v-if="inquiryType && inquiryType == 1" class="flex-cc item">
      <img src="@/assets/img/process/confirm3.png" alt="" class="icon" v-if="curActive >= 2 || specialActive > 3">
      <img src="@/assets/img/process/confirm3_gray.png" alt="" class="icon" v-else>

      <div class="tips" v-if="curActive >=3 || specialActive > 3">清单确认完成</div>
      <div class="tips" :style="curActive >= 2 ? '' : 'color:#B4B4B4;'" v-else>{{curActive >= 2 ? '待确认清单' :  '待确认'}}</div>
      <p v-if="curActive == 2" class="to-sure">
        <span>请确认您的询价清单</span>
        <span @click="showComfirmList" class="sure"><br />马上确认 > > </span>
      </p>

      <img src="@/assets/img/process/arrow.png" alt="" v-if="curActive > 3 || specialActive > 3" class="arrow">
      <img src="@/assets/img/process/arrow_gray.png" alt="" v-else class="arrow">
    </div>
    <!-- 附件-待分配/分配中/询价分配完成 -->
    <div v-if="inquiryType && inquiryType == 1" class="flex-cc item">
      <img src="@/assets/img/process/distribution4.png" alt="" class="icon" v-if="curActive >= 3 || specialActive >= 5">
      <img src="@/assets/img/process/distribution4_gray.png" alt="" class="icon" v-else>

      <div class="tips" v-if="curActive >= 4 || specialActive >= 5">询价分配完成</div>
      <div class="tips" :style="curActive >= 3 ? '' : 'color:#B4B4B4;'" v-else>{{curActive >= 3 ? '询价分配中' : '待分配'}}</div>
      <p v-if="curActive == 3" class="to-sure">预计完成时间：{{batchInfo.replyTime | timeFilter}}</p>
      <p v-if="curActive >= 4 || specialActive >= 5" @mouseenter="showTip2 = true" @mouseleave="showTip2 = false">
        询价工程师：<span v-if="engineerInfo">{{engineerInfo.name}}</span>
      </p>

      <img src="@/assets/img/process/arrow.png" alt="" v-if="curActive > 4 || specialActive > 5" class="arrow">
      <img src="@/assets/img/process/arrow_gray.png" alt="" v-else class="arrow">
      <!-- 工程师信息 -->
      <span v-show="showTip2" class="engineer-tip">
          <el-row>
            <el-col class="col-left">
              <img src="@/assets/img/dialog/default_png.png" alt="">
              <span v-if="engineerInfo">{{engineerInfo.name}}</span>
            </el-col>
            <el-col class="col-right">
              <div>职称职级：询价工程师</div>
              <div v-if="engineerInfo">总评星级：<el-rate disabled v-model="engineerInfo.avgScore"></el-rate></div>
              <div class="flex-c" v-if="engineerInfo && engineerInfo.profiles"><div style="width: 158px;"> 简介: </div>{{engineerInfo.profiles}}</div>
            </el-col>
          </el-row>
        </span>
    </div>
    <!-- 询价中/询价完成 -->
    <div class="flex-cc item">
      <img src="@/assets/img/process/inquiry5.png" alt="" class="icon" v-if="curActive >= 4 || specialActive >= 5">
      <img src="@/assets/img/process/inquiry5_gray.png" alt="" class="icon" v-else>
      <!-- 附件 -->
      <template v-if="inquiryType && inquiryType == 1">
        <template  v-if="curActive >= 5 || specialActive >= 5">
          <div class="tips" style="'color:#B4B4B4;'">询价已完成</div>
          <p>
            本次询价共耗时{{batchInfo.expendTime | timeFilter}}<br />
            <span class="sure" @click="showInquiryFinish" v-if="curActive == 5">马上确认 > > </span>
          </p>
        </template>
        <template v-else>
          <div class="tips" :style="curActive >= 4 ? '' : 'color:#B4B4B4;'">询价中</div>
          <p v-if="curActive >= 4">
            <span>报价数：{{batchInfo.recommendNum}}/{{batchInfo.maxRecommendNum}}</span><br /><span> 预计完成时间:</span> {{batchInfo.replyTime | timeFilter}}
          </p>
        </template>
      </template>
      <!-- 清单 -->
      <template v-else>
        <div v-if="curActive >= 5 || specialActive >= 5" class="tips">{{curActive >= 6 || specialActive >= 5 ? '材料询价已完成' : '询价已完成'}}</div>
        <div :style="curActive >= 4 ? '' : 'color:#B4B4B4;'" class="tips" v-else>询价中</div>
        <p v-if="curActive > 5 || specialActive >= 5">本次询价共耗时{{batchInfo.expendTime | timeFilter}}</p>
        <p v-else-if="curActive >= 4">
          报价数：{{batchInfo.recommendNum}}/{{batchInfo.maxRecommendNum}}<br />
          <span v-if="curActive == 4"> 预计完成时间: {{batchInfo.replyTime | timeFilter}}</span>
          <span v-else>{{batchInfo.replyTime | timeFilter}}</span>
          <span class="sure" @click="showInquiryFinish" v-if="curActive == 5"><br />马上确认 > > </span>
        </p>
      </template>

      <img src="@/assets/img/process/arrow.png" alt="" v-if="curActive > 5 || specialActive >= 5" class="arrow">
      <img src="@/assets/img/process/arrow_gray.png" alt="" v-else class="arrow">
    </div>
    <!-- 待评价/马上评价/已评价 -->
    <div class="flex-cc item nomr" @mouseenter="showTip3 = true" @mouseleave="showTip3 = false">
      <img src="@/assets/img/process/comment6.png" alt="" class="icon gray" v-if="curActive > 5 || specialActive >= 5">
      <img src="@/assets/img/process/comment6_gray.png" alt="" class="icon" v-else>
      <div class="tips" :style="(curActive > 5 || specialActive == 5) ? '' : 'color:#B4B4B4;'">{{curActive >= 6 ? "已评价": "待评价"}}</div>
      <p v-if="(curActive > 5 || specialActive == 5) && progressInfo.askPici.frequency != 1"><!--frequency限制只能改一次评论-->
        <span v-if="curActive >= 6 || specialActive == 7" @click="showEvaluate('edit')" class="sure">修改评价 > > </span>
        <span v-else @click="showEvaluate('add')" class="sure">马上评价 > > </span>
      </p>
      <p v-else></p>
      <!-- 评价信息 -->
      <span v-if="showTip3 && evaluateInfo && curActive >= 6" class="engineer-tip">
        <el-row>
          <el-col class="col-left">
            <img src="@/assets/img/dialog/default_png.png" alt="" class="headpic">
            <span>{{evaluateInfo.engName}}</span>
          </el-col>
          <el-col class="col-right tooltip">
            <!-- 评级 -->
            <el-row class="rate-row">
              <el-col><span>准时程度：</span></el-col>
              <el-col><el-rate v-model="evaluateInfo.ontimeScore" disabled></el-rate></el-col>
            </el-row>
            <el-row class="rate-row">
              <el-col><span>准确程度：</span></el-col>
              <el-col><el-rate v-model="evaluateInfo.accurateScore" disabled></el-rate></el-col>
            </el-row>
            <el-row class="rate-row">
              <el-col><span>沟通程度：</span></el-col>
              <el-col><el-rate v-model="evaluateInfo.mannerScore" disabled></el-rate></el-col>
            </el-row>
            <!-- 印象标签 -->
            <el-row>
              <div class="engineer-row row-bottom">
                <span class="row-title">印象标签：</span>
              </div>
              <div class="engineer-row">
                <div v-show="evaluateInfo.grade == 1" class="wrap">
                  <template v-if="itType(it.id)">
                    <el-tag class="mr-5 mb-5" size="medium" v-for="it in excellent" :key="it.id"> {{it.name}} </el-tag>
                  </template>
                </div>
                <div v-show="evaluateInfo.grade == 2" class="wrap">
                  <template v-if="itType(it.id)">
                  <el-tag class="mr-5 mb-5" size="medium" v-for="it in good" :key="it.id"> {{it.name}} </el-tag>
                  </template>
                </div>
                <div v-show="evaluateInfo.grade == 3" class="wrap">
                  <template v-if="itType(it.id)">
                    <el-tag class="mr-5 mb-5" size="medium" v-for="it in bad" :key="it.id"> {{it.name}} </el-tag>
                  </template>
                </div>
              </div>
            </el-row>
            <el-row v-if="evaluateInfo.context">
              <span class="row-title">评语：</span>
              <el-col>{{evaluateInfo.context}}</el-col>
            </el-row>
          </el-col>
        </el-row>
      </span>
    </div>
    <div class="line line2" :class="(curActive < 6 && specialActive < 5 ) ? 'line-gray' : ''"></div>
  </div>
</template>

<script>
import {
  commentTag
} from "@/api/inquiry";
export default {
  props: ['progressInfo','curActive', 'specialActive'],
  data () {
    return {
      showTip1: false,              // 是否展示工程师信息
      showTip2: false,              // 是否展示工程师信息
      showTip3: false,              // 是否展示评价信息
      excellent: [],
      good: [],
      bad: [],
    }
  },
  mounted() {
    console.log(this.curActive,'curActive');
    this.commentTag();
  },
  watch: {
    curActive: function(){
      console.log(this.curActive,'curActive');
    },
    specialActive: function(){
      console.log(this.specialActive,'specialActive');
    }
  },
  filters: {
    timeFilter(time) {
      if (time) {
        return time.split(" ")[0]
      }
    }
  },
  computed: {
    inquiryType() {  // 0:清单询价 1:附件询价
      if (this.progressInfo && this.progressInfo.askPici) {
        return this.progressInfo.askPici.type
      }
    },
    // 批次信息
    batchInfo() {
      if (this.progressInfo && this.progressInfo.askPici) {
        return this.progressInfo.askPici
      }
    },
    // 询价完成信息
    finishFeeVo() {
      if (this.progressInfo && this.progressInfo.finishFeeVo) {
        return this.progressInfo.finishFeeVo
      }
    },
    // 询价信息
    inquiryInfo() {
      if (this.progressInfo && this.progressInfo.askPici.askPriceVo) {
        return this.progressInfo.askPici.askPriceVo
      }
    },
    // 工程师信息
    engineerInfo() {
      if (this.progressInfo && this.progressInfo.piciEengineer) {
        if (this.progressInfo.piciEengineer.avgScore) {
          this.progressInfo.piciEengineer.avgScore = Number(this.progressInfo.piciEengineer.avgScore)
        }
        return this.progressInfo.piciEengineer
      }
    },
    // 工程师评价信息
    evaluateInfo() {
      if (this.progressInfo && this.progressInfo.piciComment) {
        return this.progressInfo.piciComment
      }
    }
  },
  methods: {
    itType(it) {
      let isInfo = true;
      let arr = this.evaluateInfo.commentTagIds.split(';')
      if (arr.length > 0) {
        arr.forEach(item => {
          if (it == item) isInfo = false;
        })
      }
      return isInfo
    },
    // 获取评价印象标签列表
    commentTag() {
      commentTag({grade: 1}).then(res => {
        // console.log('印象标签', res)
        this.excellent = res.body;
      })
      commentTag({grade: 2}).then(res => {
        // console.log('印象标签', res)
        this.good = res.body;
      })
      commentTag({grade: 3}).then(res => {
        // console.log('印象标签', res)
        this.bad = res.body;
      })
    },
    // 显示评价工程师弹窗
    showEvaluate(type) {
      this.$emit("showEvaluate", type);
    },
    // 确认清单列表
    showComfirmList() {
      this.$emit("showComfirmList");
    },
    // 确认询价完成
    showInquiryFinish() {
      this.$emit("showInquiryFinish");
    }
  }
}
</script>

<style lang="scss">
  @import '../../styles/variables.scss';
  .progress-box{
    min-width: 1300px;
    .line{
      width: 80px;
      height: 2px;
      background: #5D9AD3;
      border-radius: 1px;
      margin-top: -110px;
      margin-right: -18px;
    }
    .line2{
      margin-left: -16px;
    }
    .line-gray{
      background: #C9C9C9;
    }
    .item{
      flex-wrap: wrap;
      flex-direction: column;
      position: relative;
      margin-right: 100px;
      text-align: center;
      padding-bottom: 60px;
      width: 114px;
      position: relative;
      .sure{
        font-size: 13px;
        cursor: pointer;
        color: $color-primary;
      }
      .arrow{
        position: absolute;
        top: 36px;
        left: 94px;
      }
      .icon{
        width: 82px;
        height: 82px;
      }
      .tips{
        font-size: 16px;
        font-family: 'mainfont';
        font-weight: bold;
        color: $color-primary;
        margin: 20px 0 11px 0;
      }
      p{
        font-size: 12px;
        font-family: 'mainfont';
        color: #B4B4B4;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 60px;
        min-height: 60px;
        position: absolute;
        left: -43px;
        bottom: 0;
        width: 200px;
      }

      .engineer-tip {
          position: absolute;
          border: 1px solid;
          border-radius: 6px;
          padding: 10px 0;
          background: #fff;
          display: inline-block;
          bottom: 70px;
          left: 50%;
          transform: translateX(-50%);
          width: 360px;
          z-index: 999;
          .el-row {
            display: flex;
            .col-left {
              flex: 1;
              align-items: center;
              min-width: 88px;
              img {
                width: 48px;
                height: 48px;
                margin-bottom: 10px;
              }
              .headpic {
                width: 60px;
                height: 60px;
                margin-top: 30px;
              }
            }
            .col-right {
              flex: 2;
              align-items: flex-start;
            }
            .tip-div {
              padding-right: 10px;
            }
            .el-col {
              display: flex;
              flex-direction: column;

              div {
                margin: 5px 0;
                display: flex;
                align-items: center;
              }
            }
            .tooltip div {
              margin: 2px 0;
            }
            .row-title {
              width: 70px;
            }
            .engineer-row {
              .wrap {
                flex-wrap: wrap;
                width: 200px !important;
              }
            }
          }
        }
    }
    .nomr{
      margin-right: 0;
    }
  }
</style>
