<template>
  <div class="details-container">
    <!-- 面包屑 -->
    <div class="top-content">
      <div class="bg">
        <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item>询价管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/inquiryManage/index' }"
              >询价库</el-breadcrumb-item
            >
            <el-breadcrumb-item
              ><span class="active">项目批次详情</span></el-breadcrumb-item
            >
          </el-breadcrumb>
        </div>

        <img src="@/assets/img/icons/project_stock/bg.png" alt="" />
      </div>
    </div>
    <!-- 顶部信息 -->
    <div class="detail-top">
      <p class="s-title">{{ proName }}</p>
      <div class="o-title">
        <img src="@/assets/img/icons/title_start2.png" style="width:14px;height:14px;" alt="" />
        <span style="font-size:14px;">{{ piciName }}</span>
      </div>
      <div class="top-table" v-if="topTableData">
        <div class="rows flex-c">
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon1.png" alt="" />
            </div>
            <div class="key">报价地区：</div>
            <div class="val">{{ topTableData.offerArea }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon4.png" alt="" />
            </div>
            <div class="key">材料数：</div>
            <div class="val">{{ topTableData.materialCount }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon7.png" alt="" />
            </div>
            <div class="key">报价数：</div>
            <div class="val">{{ topTableData.needCount }}</div>
          </div>
        </div>
        <div class="rows flex-c">
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon2.png" alt="" />
            </div>
            <div class="key">批次联系人：</div>
            <div class="val">{{ topTableData.engineer }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon5.png" alt="" />
            </div>
            <div class="key">手机号码：</div>
            <div class="val">{{ topTableData.mobile }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon8.png" alt="" />
            </div>
            <div class="key">QQ：</div>
            <div class="val">{{ topTableData.qq }}</div>
          </div>
        </div>
        <div class="rows flex-c">
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon3.png" alt="" />
            </div>
            <div class="key">批次附件：</div>
            <div class="flex-c files">
              <div
                v-if="progressInfo && progressInfo.askPici && progressInfo.askPici.uploadFiles && progressInfo.askPici.uploadFiles.length > 0"
                class="flex-c file-box">
                <div
                  v-for="(item, index) in progressInfo.askPici.uploadFiles"
                  :key="index"
                  class="flex-csb fileitem">
                  <template v-if="item">
                    <span class="flex-cc" @click="downloadFile(item.url)">
                      <img src="@/assets/img/icons/file.png" alt="" class="file-img" />
                      <p class="file-name" :title="item.oldFileName">{{ item.oldFileName }}</p>
                    </span>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon6.png" alt="" />
            </div>
            <div class="key">批次备注：</div>
            <div class="val">{{ topTableData.remark }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon9.png" alt="" />
            </div>
            <div class="key">发布账号：</div>
            <div class="val">{{ topTableData.inquiryAccount }}</div>
          </div>
        </div>
      </div>
      <div class="desc flex-csb" v-if="progressInfo && progressInfo.askPici && progressInfo.askPici.replyExplain">
        <div>询价说明: {{progressInfo.askPici.replyExplain}}</div>
        <div>{{progressInfo.askPici.explainCommitOn | filterTime}}</div>
      </div>
      <StepProgress
        v-if="specialActive != 7"
        :curActive="curActive"
        :specialActive="specialActive"
        :progressInfo="progressInfo"
        @showInquiryFinish="showInquiryFinish"
        @showEvaluate="showEvaluate"
        @showComfirmList="showComfirmList"
      />
      <div class="returnDiv" v-else>
        <div class="top orange flex-cc">询价批次已退回</div>
        <div class="bottom flex-cc">
          <span class="orange mr-10"> 退回时间: </span> {{progressInfo.askPici.returnTime}}
          <span class="orange ml-20 mr-10"> 退回原因: </span> {{progressInfo.askPici.returnMsg || '该批次已退回!'}}
        </div>
      </div>
    </div>
    <!-- 表格 -->
    <div class="com-table table-wrap detail-table">
      <div class="flex-c com-operate-wrap inquiry">
        <el-button
          type="primary"
          v-if="showbtn && (curActive == 3 || curActive == 4)"
          class="flex-cc btn btn-rocket"
          @click="urgentInquiry()"
        ></el-button>
        <el-button
          type="primary"
          class="flex-cc btn"
          @click="showExportConfirm('select')"
        >
          <img
            src="@/assets/img/icons/export.png"
            alt=""
            class="el-icon-search"
          />导出
        </el-button>
        <el-button
          type="primary"
          class="flex-cc btn btn2"
          @click="showExportConfirm('all')"
        >
          <img
            src="@/assets/img/icons/export.png"
            alt=""
            class="el-icon-search"
          />全部导出
        </el-button>
        <!-- 下拉 -->
        <div class="flex-c com-select cycle-wrap">
          <span class="com-label-text">询价状态：</span>
          <el-select
            class="com-radius-input"
            v-model="curStatus"
            placeholder="请选择"
            @change="changeStatus"
          >
            <el-option
              v-for="item in statusList"
              :key="item.value"
              :label="item.name"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="com-search2 mb-5 mr-20">
          <el-input
            class="search-ipt"
            placeholder="搜索关键字，如:材料名称"
            v-model="searchVal"
            @keyup.enter.native="search"
          />
          <i class="el-icon-search" @click="search"></i>
        </div>
        <el-button
          type="primary"
          class="flex-cc btn btn2"
          @click="showOfferDialog = true"
          v-if="offerList.length > 0">
          <i alt="" class="el-icon-download" style="font-size:16px;margin-right:3px;"></i>
          报价单下载
        </el-button>
        <el-button
          type="primary"
          v-if="dialogueList && dialogueList.length"
          @click="showRecordDialog = true"
          class="flex-cc btn btn2 record-btn"
        >报价追问记录
        </el-button>
      </div>
      <!-- 表内容 -->
      <div class="table-box" v-if="tableData && tableData.length > 0">
        <el-table
          ref="multipleTable"
          :data="tableData"
          :span-method="objectSpanMethod"
          tooltip-effect="dark"
          v-loading="loading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" width="66px"> </el-table-column>
          <el-table-column prop="name" label="材料名称">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.name }}</span>
              <img
                v-if="scope.row.isUrgent == 1"
                src="@/assets/img/icons/faster.png"
                alt=""
                class="urgent-img"
              />
            </template>
          </el-table-column>
          <el-table-column prop="spec" label="规格型号" width="210px">
            <template slot-scope="scope">
              <span class="t-color wrap">{{ scope.row.spec }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="amount" label="需求量">
          </el-table-column>
          <el-table-column prop="unit" label="单位"></el-table-column>
          <el-table-column prop="quotationNumber" label="报价数">
          </el-table-column>
          <el-table-column prop="quotationUnit" label="报价(单位)">
            <template slot-scope="scope">
              <el-popover
                v-if="scope.row.flowStatue == '2' && curActive != '6' && specialActive != '5' && specialActive != '7'"
                placement="bottom"
                trigger="hover">
                <span>有疑问？<a @click="showQuestion(scope.row)" style="color: #1696f4">马上追问！</a></span>
                <span slot="reference"> {{scope.row.quotationUnit}} </span>
              </el-popover>
              <span v-else> {{scope.row.quotationUnit}} </span>
            </template>
          </el-table-column>
          <el-table-column label="含税/含运费">
            <template slot-scope="scope">
              <div class="flex-cc mode-name">
                <img
                  src="@/assets/img/icons/shui.png"
                  alt=""
                  class="faster-img"
                  v-if="scope.row.hasTax == '1'"
                />
                <img
                  src="@/assets/img/icons/shui_gray.png"
                  alt=""
                  class="faster-img"
                  v-else
                />
                <img
                  src="@/assets/img/icons/yun.png"
                  alt=""
                  class="faster-img"
                  v-if="scope.row.hasCarriage == '1'"
                />
                <img
                  src="@/assets/img/icons/yun_gray.png"
                  alt=""
                  class="faster-img"
                  v-else
                />
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="grade" label="档次">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.grade }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="brand" label="品牌">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.brand || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="ename" label="供应商名称">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.ename || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="备注信息" align="center">
            <template slot-scope="scope">
              <el-tooltip placement="top" effect="light" v-if="scope.row.remark">
                <span slot="content">{{ scope.row.remark }}</span>
                <span class="mode-name">查看</span>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="附件" align="center" v-if="topTableData.inquiryType != '1'">
            <template slot-scope="scope">
              <el-tooltip placement="top" effect="light" v-if="scope.row.uploadFileVos && scope.row.uploadFileVos.length > 0">
                <div class="files-num">{{ scope.row.uploadFileVos.length }}</div>
                <div slot="content" class="flex-c files2">
                  <div class="flex-c file-box">
                    <div v-for="(item, index) in scope.row.uploadFileVos" :key="index" class="flex-cc fileitem" @click="downloadFile(item.filePath)">
                      <img src="@/assets/img/icons/file.png" alt="" class="file-img" />
                      <p class="file-name" :title="item.oldFileName">{{item.oldFileName}}</p>
                    </div>
                  </div>
                </div>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column prop="applyDate" label="状态">
            <template slot-scope="scope">
              <span v-if="scope.row.flowStatue == '1'">询价中</span>
              <span v-else-if="scope.row.flowStatue == '2'">已完成</span>
              <el-tooltip placement="top" effect="light" v-else-if="scope.row.flowStatue == '-1'" :disabled="!scope.row.returnMsg">
                <span>已退回</span>
                <div slot="content">{{scope.row.returnMsg}}</div>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
      <!-- 表格无数据 -->
      <div class="flex-cc nodata" v-else>
        <img src="@/assets/img/nodata.png" alt="" class="img" />
      </div>
    </div>

    <!-- 加急弹窗 -->
    <el-dialog
      :visible.sync="showUrgentDialog"
      class="urgent-dialog none-title"
      width="668px"
    >
      <div class="urgent-content common-content">
        <img src="@/assets/img/dialog/faster1.png" />
        <p v-if="amountInfo" class="mt-20">
          加急该部分询价需要额外消耗<span class="blue"> {{ consumeNum }} </span
          >条询价条数，当前拥有询价条数<span class="red">
            {{ amountInfo.residueInquiryCount }} </span
          >条，<span v-if="amountInfo.residueInquiryCount < consumeNum"
            >询价条数不足。</span
          >
          <span v-else>确认要加急？</span>
        </p>
        <span class="tip-span yellow"
          >注：询价加急后，系统会标记加急的询价，并且工程师将优先处理您的需求</span
        >
        <div class="footer-btns mt-48">
          <el-button @click="showUrgentDialog = false" class="btn btn3"
            >取消</el-button
          >
          <el-button
            @click="inquiryUrgent"
            :loading="urgentloading"
            class="btn"
            type="primary"
            >确定</el-button
          >
        </div>
        <a class="blue" @click="$router.push('/setting/buyCombo/index')"
          >套餐购买</a
        >
      </div>
    </el-dialog>

    <!-- 加急成功弹窗 -->
    <el-dialog
      class="none-title"
      width="460px"
      :visible.sync="showUrgentSuccess"
    >
      <div class="success-content common-content">
        <img src="@/assets/img/dialog/faster2.png" />
        <div class="success-text">
          <img src="@/assets/img/icons/hook.png" />
          <span class="blue">加急成功</span>
        </div>
        <el-button class="btn" @click="showUrgentSuccess = false" type="primary"
          >关闭</el-button
        >
      </div>
    </el-dialog>

    <!-- 导出材料询问弹窗 -->
    <el-dialog
      title="操作提示"
      :visible.sync="showExportDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <img src="@/assets/img/dialog/confirm.png" alt="" />
      <div>
        {{
          isExportType == "select"
            ? "你确定要导出勾选的材料吗？"
            : "你确定要导出全部材料吗？"
        }}
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="confirmExport">确定</el-button>
      </span>
    </el-dialog>

    <!-- 报价单下载弹窗 -->
    <el-dialog
      title="报价单下载"
      :visible.sync="showOfferDialog"
      width="660px"
      class="com-dialog my-dialog offer-dialog"
      :close-on-click-modal="false"
      v-loading="offerLoading">
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="offerList"
          tooltip-effect="dark"
          class="table-main"
          style="width: 100%">
          <el-table-column label="报价单名称">
            <template slot-scope="scope">
              <span class="t-color ellipsis1" :title="scope.row.fileName">{{ scope.row.fileName }}</span>
            </template>
          </el-table-column>
          <el-table-column label="上传时间">
            <template slot-scope="scope">
              <span>{{ scope.row.createOn }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="80" align="center">
            <template slot-scope="scope">
              <el-tooltip placement="top" effect="light">
                <img class="cp" src="@/assets/img/table/import.png" alt="" @click="downloadOffer(scope.row.filePath)" />
                <span slot="content" class="mode-name">下载</span>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showOfferDialog = false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 工程师评价 -->
    <EngineerEvaluationDialgo
      :piciZjtId="topTableData.piciZjtId"
      :engineerInfo="engineerInfo"
      :evaluateInfo="evaluateInfo"
      :showEngineerEvaluation.sync="showEngineerEvaluation"
      :isEvaluateType="isEvaluateType"
      @refreshInfo="getBatchProcessStatus"
    />

    <!-- 确认清单弹窗 -->
    <ConfirmListDialog @refreshInfo="getBatchProcessStatus" :memberId="memberId" :piciId="topTableData.piciZjtId" :inquiryType="topTableData.inquiryType" :proName="topTableData.proName" :piciName="topTableData.piciName" :id="piciId" :showConfirmDialog.sync="showConfirmDialog" />

    <!-- 询价完成确认弹窗 -->
    <InquiryFinishDialog @refreshInfo="getBatchProcessStatus" :askPici="progressInfo.askPici" :piciZjtId="topTableData.piciZjtId" :showFinishDialog.sync="showFinishDialog" />

    <!-- 询价追问弹窗 -->
    <QuestioningDialog @showSuccess="questionSuccess = true" :offerZjtId="offerZjtId" :offerId="offerId" :materialName="materialName" :showQuestionDialog.sync="showQuestionDialog" />

    <!-- 追问成功弹窗 -->
    <el-dialog
      class="none-title"
      width="460px"
      :visible.sync="questionSuccess"
    >
      <div class="success-content common-content">
        <img src="@/assets/img/dialog/success.png" />
        <div class="success-text">
          <span>提交成功</span>
          <p class="question-p">后续将会有工作人员联系您</p>
        </div>
        <el-button class="btn" @click="questionSuccess = false" type="primary"
          >关闭</el-button
        >
      </div>
    </el-dialog>

    <!-- 报价追问记录 -->
    <QuotationRecordDialog @showSuccess="quotationInquiryInformation" :showRecordDialog.sync="showRecordDialog" :dialogueList="dialogueList" />
  </div>
</template>

<script>
import StepProgress from "@/components/StepProgress";
import ConfirmListDialog from "./dialogs/ConfirmListDialog";
import InquiryFinishDialog from "./dialogs/InquiryFinishDialog";
import QuestioningDialog from "./dialogs/QuestioningDialog.vue";
import QuotationRecordDialog from "./dialogs/QuotationRecordDialog.vue";
import EngineerEvaluationDialgo from "./dialogs/EngineerEvaluationDialgo.vue";

import {
  getInquiryInfoById,
  getAuditRecordListById,
  getBatchProcessStatus,
  quotationInquiryInformation
} from "@/api/inquiry";

import {
  selectInquiry,
  exportInquiry,
  inquiryUrgent,
  getTingInformation,
  inquiryDownloadAnnex,
  queryQuotationList,
  quotationDownloadAnnex,
} from "@/api/inquirySetting";

export default {
  name: "InquiryDetails",
  components: {
    StepProgress,
    ConfirmListDialog,
    InquiryFinishDialog,
    QuestioningDialog,
    EngineerEvaluationDialgo,
    QuotationRecordDialog
  },
  data() {
    return {
      topTableData: {}, // 批次详情
      progressInfo: {}, // 批次流程状态信息
      tableData: [], // 表格数据
      loading: false,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      searchVal: "", // 关键字
      statusList: [
        {
          value: "",
          name: "询价状态（全部）",
        },
        // {
        //   value: "询价发起中",
        //   name: "询价发起中",
        // },
        {
          value: "1",
          name: "询价中",
        },
        {
          value: "2",
          name: "已完成",
        },
        {
          value: "-1",
          name: "已退回",
        },
      ], // 状态列表
      curStatus: "", // 选择状态
      piciId: "", // 批次表id
      piciName: "", // 批次名称
      proName: "", // 项目名称
      memberId: "", // 发布账号
      showUrgentDialog: false, // 显示加急弹窗
      showUrgentSuccess: false, // 显示加急成功弹窗
      showExportDialog: false, // 显示导出询问弹窗
      showEngineerEvaluation: false, // 显示评价工程师弹窗
      isExportType: "", // 当前导出类型
      urgentloading: false,
      amountInfo: {}, // 当前账号信息
      showConfirmDialog: false, // 显示确认清单列表
      showFinishDialog: false, // 显示确认询价完成
      showQuestionDialog: false, // 显示询价追问
      isColspan: {},
      isColObj: {},
      isEvaluateType: "",  // 工程师信息编辑还是新增
      materialName: "",  // 当前材价名称
      offerZjtId: "",
      questionSuccess: false,  // 显示追问成功
      dialogueList: [],  // 追问报价记录列表
      showRecordDialog: false,  // 显示追问报价记录
      showbtn: false,   // 是否显示加急按钮
      offerList: [],  // 报价单列表
      showOfferDialog: false, // 报价单下载弹窗
      offerLoading: false,
    };
  },
  mounted() {
    let query = this.$route.query;
    this.piciId = query.piciId;
    this.piciName = query.piciName;
    this.proName = query.proName;
    this.memberId = query.memberId;

    this.getBatchProcessStatus();
    this.getTingInformation();

    this.getInquiryInfoById(true);
    this.selectInquiry();
  },
  filters: {
    gradeFilter(grade) {
      if (grade) {
        switch (grade) {
          case "1":
            return "普通";
          case "2":
            return "中档";
          case "3":
            return "中高档";
          case "4":
            return "高档";
        }
      }
    },
    filterTime(time) {
      if (time) {
        return time.replace(".0", "");
      }
    }
  },
  computed: {
    // start待分析，fenxi分析完成，dtsureS清单确认完成，dtsureF清单确认不通过，
    // assign已分配，replyed询价完成，replyedsure询价完成确认， evaluate评价完成
    // return已退回， daishenhe待审核
    // 主流程
    curActive() {
      if (
        this.progressInfo &&
        this.progressInfo.askPici &&
        this.progressInfo.askPici.flowStatue
      ) {
        let status = this.progressInfo.askPici.flowStatue;
        console.log(status);
        switch (status) {
          case "start"://待分析
            return 1;
          case "fenxi"://分析完成
            return 2;
          case "dtsureS"://清单确认完成
            return 3;
          case "assign"://已分配
            return 4;
          case "replyed"://询价完成
            return 5;
          case "evaluate"://评价完成
            return 6;
        }
      }
      return 0;
    },
    specialActive() {
      if (
        this.progressInfo &&
        this.progressInfo.askPici &&
        this.progressInfo.askPici.flowStatue
      ) {
        let status = this.progressInfo.askPici.flowStatue;
        console.log(status);
        switch (status) {
          case "dtsureF"://清单确认不通过
            return 3;
          case "replyedsure"://询价完成确认
            return 5;
          case "return"://已退回
            return 7;
        }
        return 0;
      }
    },
    // 加急消耗条数
    consumeNum() {
      let len = this.multipleSelection.length;
      let count = 0;
      if (len && len > 0) {
        this.multipleSelection.forEach((it, idx) => {
        if(!it.quotationNumber) return
          count += it.quotationNumber.split('/')[1] * 1
        })
        return Math.ceil(count / 5);
      }
      return 0;
    },
    // 工程师信息
    engineerInfo() {
      if (this.progressInfo && this.progressInfo.piciEengineer) {
        return this.progressInfo.piciEengineer
      }
    },
    // 工程师评价信息
    evaluateInfo() {
      if (this.progressInfo && this.progressInfo.piciComment) {
        return this.progressInfo.piciComment
      }
    },
    offerId() {
      if (this.progressInfo && this.progressInfo.askPici && this.progressInfo.askPici.piciId) {
        return this.progressInfo.askPici.piciId
      }
      return ""
    },
  },
  watch: {
    tableData: {
      deep: true,
      handler: function (arr) {
        this.getColObj();
      },
    },
    offerId: {
      handler: function (id) {
        if (id) {
          setTimeout(()=>{
            this.quotationInquiryInformation();
          },500)
        }
      }
    }
  },
  methods: {
    // 报价单列表
    getQuotationList() {
      let params = {
        memberId: this.memberId,
        piciId: this.topTableData.piciZjtId
      }
      queryQuotationList(params).then(res=>{
        this.offerList = res.body || []
      })
    },

    // 询价状态
    changeStatus() {
      this.selectInquiry();
    },
    // 搜索
    search() {
      this.currentPage = 1
      this.selectInquiry();
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      // this.getUsersList()
      this.selectInquiry();
    },
    // 获取批次详情
    getInquiryInfoById(isFirst) {
      getInquiryInfoById({ id: this.piciId })
        .then((res) => {
          // topTableData
          if (res.code == "01") {
            this.topTableData = res.body;
            if(isFirst) this.getQuotationList()
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
        })
        .catch((err) => {
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },
    // 获取询价详情
    selectInquiry() {
      let data = {
        currentPage: this.currentPage,
        flowStatue: this.curStatus, // 询价状态
        keyword: this.searchVal,
        pageSize: this.pageSize,
        piciId: Number(this.piciId),
      };
      this.loading = true;
      selectInquiry(data)
        .then((res) => {
          if (res.code == "01") {
            this.tableData = res.body.list;
            this.totalCount = res.body.totalCount;
            if(this.tableData.length > 0) this.addupFast()
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
          this.loading = false;
        })
        .catch((err) => {
          this.loading = false;
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },
    // 是否全部加急
    addupFast() {
      let showbtn = true
      showbtn = !this.tableData.every(item=>{
        return item.isUrgent == '1'
      })
      this.showbtn = showbtn
    },
    // 根据批次ID获取审核记录
    getAuditRecordListById() {
      getAuditRecordListById({ id: this.piciId }).then((res) => {
        // console.log("审核记录", res);
      });
    },
    // 显示加急弹窗
    urgentInquiry() {
      if (this.multipleSelection.length == 0) {
        this.openAlert();
        return;
      }
      let repeatData = false
      repeatData = this.multipleSelection.some(item=>{
        return item.isUrgent == '1'
      })
      console.log(repeatData);
      if (repeatData) {
        this.openAlert('您勾选的材料包含已加急的，请重新勾选！','error');
        return;
      }
      this.showUrgentDialog = true;
    },
    // 显示导出二次确认弹窗
    showExportConfirm(type) {
      this.isExportType = type;
      if (this.isExportType == "select") {
        if (this.multipleSelection.length == 0) {
          this.openAlert();
          return;
        }
      }
      this.showExportDialog = true;
    },
    // 确认导出
    confirmExport() {
      if (this.isExportType == "select") {
        this.ExportSelectMaterial();
      } else {
        this.ExportAllMaterial();
      }
    },
    // 导出选中材料
    ExportSelectMaterial() {
      var imIds = "";
      for (var i = 0; i < this.multipleSelection.length; i++) {
        if (i == 0) imIds += this.multipleSelection[i].id;
        else imIds += "," + this.multipleSelection[i].id;
      }

      let params = {
        currentPage: this.currentPage,
        flowStatue: this.curStatus,
        keyword: this.searchVal,
        pageSize: this.pageSize,
        piciId: this.piciId,
        imIds,
      };
      this.exportInquiry(params);
    },
    // 导出全部材价
    ExportAllMaterial() {
      let params = {
        currentPage: 1,
        flowStatue: "",
        keyword: "",
        pageSize: this.pageSize,
        piciId: this.piciId,
      };
      this.exportInquiry(params);
    },
    // 调用导出接口
    exportInquiry(params) {
      exportInquiry(params)
        .then((res) => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: "text/csv;charset=utf-8;" }),
              sessionStorage.getItem("blob_filename") || "材料信息.xls"
            );
            return;
          }
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement("a");
            let _fileName =
              sessionStorage.getItem("blob_filename") || "材料信息.xls";
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          };
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem("blob_filename");
          };

          this.showExportDialog = false;
        })
        .catch((err) => {
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
    // 显示评价工程师弹窗
    showEvaluate(type) {
      this.isEvaluateType = type;
      this.showEngineerEvaluation = true;
    },
    // 获取批次流程状态
    getBatchProcessStatus() {
      // topTableData.inquiryAccount
      getBatchProcessStatus({
        // memberId: this.memberId,
        piciId: this.piciId,
      }).then((res) => {
        if (res && res.code == "01") {
          this.progressInfo = res.body;
        }
      });
    },
    // 询价加急
    inquiryUrgent() {
      var askIds = "";
      for (var i = 0; i < this.multipleSelection.length; i++) {
        if (i == 0) askIds += this.multipleSelection[i].askId;
        else askIds += ";" + this.multipleSelection[i].askId;
      }
      this.urgentloading = true;
      inquiryUrgent({ askIds, memberId: this.memberId, piciId: this.topTableData.piciZjtId })
        .then((res) => {
          if (res && res.code == "01") {
            setTimeout(()=>{
              this.selectInquiry();
              this.getInquiryInfoById();
            },500)
            this.$message({
              type: "success",
              message: "加急选中询价成功！",
            });
            this.showUrgentDialog = false;
            this.showUrgentSuccess = true;
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
          this.urgentloading = false;
        })
        .catch((err) => {
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
          this.urgentloading = false;
        });
    },
    // 获取当前账号信息
    getTingInformation() {
      getTingInformation({ memberId: this.memberId }).then((res) => {
        if (res && res.code == "01") {
          this.amountInfo = res.body;
        }
      });
    },
    // 显示确认清单列表
    showComfirmList() {
      this.showConfirmDialog = true;
    },
    // 显示确认询价完成
    showInquiryFinish() {
      this.showFinishDialog = true;
    },
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex < 6) {
        if (this.tableData[rowIndex - 1]) {
          if (row.id != this.tableData[rowIndex - 1].id) {
            let len = this.isColObj[row.id];
            if (len > 1) {
              return {
                rowspan: len,
                colspan: 1,
              };
            }
          } else {
            return {
              rowspan: 0,
              colspan: 0,
            };
          }
        } else {
          let len = this.isColObj[row.id];
          if (len > 1) {
            return {
              rowspan: len,
              colspan: 1,
            };
          }
        }
      }
    },
    getColObj() {
      if (this.tableData.length > 0) {
        let i = 0;
        const countIds = this.tableData.reduce((acc, cur) => {
          if (cur.id in acc) {
            acc[cur.id]++;
          } else {
            acc[cur.id] = 1;
          }
          return acc;
        }, {});

        this.isColObj = countIds;
      } else {
        this.isColObj = {};
      }
    },
    // 马上追问
    showQuestion(row) {
      this.materialName = row.name;
      this.offerZjtId = row.offerZjtId;
      this.showQuestionDialog = true;
    },
    quotationInquiryInformation() {
      quotationInquiryInformation({
        memberId: this.memberId,
        piciId: this.topTableData.piciZjtId
        // piciId: this.offerId
      }).then(res => {
        if (res.code == '01') {
          this.dialogueList = res.body;
        }
      })
    },

    // 下载附件
    downloadFile(url) {
      let params = {
        imageUrl:url
      }
      inquiryDownloadAnnex(params).then(res=>{
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: "text/csv;charset=utf-8;" }),
            sessionStorage.getItem("blob_filename") || "询价附件.xls"
          );
          return;
        }
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement("a");
          let _fileName =
            sessionStorage.getItem("blob_filename") || "询价附件.xls";
          a.download = _fileName;
          a.href = event.target.result;
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        };
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem("blob_filename");
        };
      }).catch((err) => {
        this.$message({
          type: "error",
          message: err.message || "出错了",
        });
      });
    },

    // 下载报价单
    downloadOffer(url) {
      let params = {
        filePath:url
      }
      this.offerLoading = true
      quotationDownloadAnnex(params).then(res=>{
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: "text/csv;charset=utf-8;" }),
            sessionStorage.getItem("blob_filename") || "报价单.xls"
          );
          return;
        }
        let blob = res;
        // 导出excel
        const fileReader = new FileReader();
        try {
          fileReader.readAsDataURL(blob);
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = (event) => {
          let a = document.createElement("a");
          let _fileName =
            sessionStorage.getItem("blob_filename") || "报价单.xls";
          a.download = _fileName;
          a.href = event.target.result;
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        };
        // 读取完成（成功/失败）
        fileReader.onloadend = (event) => {
          sessionStorage.removeItem("blob_filename");

          this.offerLoading = false
        };
      }).catch((err) => {
        this.offerLoading = false
        this.$message({
          type: "error",
          message: err.message || "出错了",
        });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.details-container {
  width: 100%;
  background: url("../../assets/img/process/process_bg.png") no-repeat;
  background-size: 100%;
  .top-content {
    margin-top: -37px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    .bg {
      position: relative;
      width: 100%;
      height: 50px;
      border-radius: 8px;
      background: linear-gradient(0deg, #ffffff, #dff5fe);
      .bread {
        position: absolute;
        top: 13px;
        left: 20px;
        color: #303133;
        .cp:hover {
          color: $color-primary;
        }
        .el-icon {
          margin: 0 10px 0 15px;
          font-weight: bold;
          color: #777;
        }
        .active {
          color: $color-primary;
        }
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 273px;
        height: 238px;
      }
    }
  }
  .detail-top {
    background-color: #ffffff;
    padding: 6px 82px 31px 38px;
    border-radius: 0 0 6px 6px;
    .s-title {
      margin-top: 10px;
      margin-bottom: 14px;
    }
    .o-title {
      margin-bottom: 20px;
    }
    .desc {
      color: #333;
      font-weight: bold;
      height: 68px;
      padding: 0 100px;
      letter-spacing: 2px;
      word-spacing: 6px;
      border: 2px solid #f6f6f6;
      border-radius: 5px;
      margin-bottom: 50px;
    }
    .returnDiv {
      height: 190px;
      .orange {
        color: $color-minor;
      }
      .top {
        height: 50%;
        font-size: 17px;
        font-weight: 600;
      }
      .bottom {
        font-size: 14px;
      }
    }
    .top-table {
      margin-bottom: 36px;
      border: 1px solid #e6e6e6;
      border-right: none;
      .rows {
        .items {
          flex: 1;
          padding: 25px 29px;
          min-width: 416px;
          max-width: 33.33%;
          max-height: 68px;
          border-right: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;
          .icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          .key {
            font-weight: 400;
            color: $gray-color;
            line-height: 30px;
            margin-right: 28px;
            min-width: 85px;
            max-width: 85px;
          }
          .val {
            font-family: "mainfont";
            font-weight: bold;
            color: $table-color;
          }
          .files {
            max-width: 65%;
            min-width: 280px;
            .file-box {
              width: 100%;
              flex-wrap: wrap;
              .fileitem {
                margin-right: 6px;
                margin-bottom: 4px;
                cursor: pointer;
                .file-img {
                  width: 21px;
                  height: 20px;
                }
                .file-name {
                  margin: 0 25px 0 7px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 81px;
                  font-size: 12px;
                  font-family: "mainfont";
                }
              }
            }
          }
        }
      }
    }
  }
  .detail-table {
    margin-top: 18px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    .inquiry {
      background: #fcfcfd;
      position: relative;
      .btn {
        width: 112px;
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-weight: 400;
        .el-icon-search {
          margin-right: 5px;
        }
      }
      .btn2 {
        background: $color-minor;
        border-color: $color-minor;
      }
      .btn-rocket {
        background: url("../../assets/img/icons/rocket.png") no-repeat;
        background-size: 100%;
        border: none !important;
      }
      .record-btn {
        position: absolute;
        right: 0;
      }
    }
    .table-box {
      padding-bottom: 30px;
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .wrap {
        width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .mode-name {
        cursor: pointer;
        color: $color-primary;
        text-align: left;
        > div {
          min-width: 100px;
        }
      }
      .faster-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }
      .urgent-img {
        width: 44px;
        height: 19px;
        margin-left: 5px;
        vertical-align: middle;
      }
      .files {
        max-width: 65%;
        min-width: 380px;
        .file-box {
          width: 100%;
          flex-wrap: wrap;
          .fileitem {
            margin-right: 6px;
            margin-bottom: 4px;
            .file-img {
              width: 21px;
              height: 20px;
            }
            .file-name {
              margin: 0 25px 0 7px;
              width: 81px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              font-family: "mainfont";
            }
          }
        }
      }

      &::v-deep .cell {
        text-align: center;
      }
    }
  }

  .urgent-dialog {
    .urgent-content {
      img {
        margin-right: 60px;
      }
      p {
        color: #000;
      }
    }

    a {
      margin-top: 20px;
      display: inline-block;
      font-size: 12px;
      padding: 3px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .success-content {
    margin: 20px 0;
    .success-text {
      margin: 15px 0 45px 0;
      img,
      span {
        vertical-align: middle;
      }
      .question-p {
        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #999999;
        line-height: 30px;
      }
    }
  }

  .row-bottom {
    border-bottom: 1px solid #f0f0f0;
  }
}
</style>

<style lang="scss">
@import "../../styles/variables.scss";
.offer-dialog {
  .t-color {
    color: $color-primary;
  }
}
.inquiry {
  .cycle-wrap {
    padding: 20px;
    > span {
      margin-right: 10px;
      min-width: 60px;
      font-weight: 400;
      white-space: nowrap;
    }
    .el-select {
      input {
        width: 281px;
        height: 36px;
      }
    }
  }
  .btn {
    & > span {
      display: flex;
      align-items: center;
    }
  }
}
.table-box {
  .el-table__body {
    .files-num {
      color: #fff;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin: 0 auto;
      background-color: $color-minor;
    }
  }
  .has-gutter {
    font-size: 14px;
  }
  .el-table {
    color: #5f5f5f;
    font-size: 13px;
    font-weight: 400;
  }
}
.none-title {
  &::v-deep .el-dialog {
    border-radius: 4px;
  }

  &::v-deep .el-dialog__header {
    padding: 0;
    .el-dialog__headerbtn {
      top: 10px;
      right: 10px;
      font-size: 18px;
      .el-icon-close:before {
        color: #0b4375;
        font-weight: bold;
      }
    }
  }

  &::v-deep .el-dialog__body {
    border-radius: 4px;
  }

  .common-content {
    text-align: center;
    .tip-span {
      font-size: 12px;
      display: inline-block;
      line-height: 30px;
    }
    .btn {
      padding: 0;
      width: 112px;
      height: 34px;
      line-height: 34px;
      color: #ffffff !important;
      border-radius: 5px;
      font-size: 15px;
      font-family: "mainfont";
      font-weight: 500;
      margin: 0 10px;
      &:hover {
        border: 1px solid;
      }
    }
    .btn1 {
      background: $color-primary !important;
    }
    .btn3 {
      color: $color-primary !important;
      border-color: #3699ff !important;
      &:hover {
        background: #ffffff !important;
        box-shadow: 0px 1px 4px 0px #3699ff;
      }
    }
  }
  .red {
    color: #f13a3f;
  }
  .blue {
    color: #0a7dff;
  }
  .yellow {
    color: #ffaa31;
  }
}
  .el-tooltip__popper {
    .files2 {
      width: 250px;
      .file-box {
        width: 100%;
        flex-wrap: wrap;
        .fileitem {
          margin-right: 6px;
          margin-bottom: 10px;
          width: 100%;
          cursor: pointer;
          .file-img {
            width: 21px;
            height: 20px;
          }
          .file-name {
            margin: 0 25px 0 7px;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            font-family: "mainfont";
          }
        }
      }
    }
  }
</style>
