<template>
  <div class="inquiry-container">
    <div class="com-bg">
      <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>询价管理</el-breadcrumb-item>
          <!-- 草稿 -->
          <template v-if="decide === 1">
            <el-breadcrumb-item :to="{ path: '/inquiryManage/inquiryDrafts' }">草稿箱</el-breadcrumb-item>
          </template>
          <!-- 审核 -->
          <template v-else-if="decide === 0">
            <el-breadcrumb-item :to="{ path: '/inquiryManage/inquiryExamine' }">询价审核</el-breadcrumb-item>
          </template>
          <template v-else>
            <el-breadcrumb-item :to="{ path: '/inquiryManage/index' }">询价库</el-breadcrumb-item>
          </template>
          <el-breadcrumb-item><span class="active">询价</span></el-breadcrumb-item></el-breadcrumb>
      </div>
    </div>
    <div class="up-wrap com-el-tabs">
      <el-tabs v-model="activeName">
        <el-tab-pane label="清单询价" name="detailed" v-if="detailedShow">
          <DetailedInquiry v-if="activeName == 'detailed'" @bindAccount="bindAccount" @toBugPlans="toBugPlans" @selAccount="selAccount" :accountId="accountId" :accountList="accountList" :residueInquiryCount="residueInquiryCount" :tableData="tableData" @toggleAutoState="toggleAutoState" @delSomeMaterial="delSomeMaterial" />
        </el-tab-pane>
        <el-tab-pane label="附件询价" name="enclosure" v-if="enclosureShow">
          <EnclosureInquiry v-if="activeName == 'enclosure'" @bindAccount="bindAccount" @toBugPlans="toBugPlans" @selAccount="selAccount" :accountId="accountId" :accountList="accountList" :residueInquiryCount="residueInquiryCount" :uploadFileList2="uploadFileList2" @addfile="addfile" @delFile="delFile" @iptExplain="iptExplain" :explain="explain" />
        </el-tab-pane>
      </el-tabs>
    </div>

    <!-- 工程信息 -->
    <!-- 工程信息 -->
    <div class="engine-info">
      <div class="tag-title flex-c">
        <div class="b-title">工程信息</div>
        <el-tooltip placement="right-start" effect="light">
          <span class="mode-name"
            ><img
              src="@/assets/img/icons/tips.png"
              alt=""
              class="tip-img"
            />询价说明</span
          >
          <div slot="content" style="line-height: 20px">
            询价说明：<br />
            一个材料一个供应商报价算一条询价，需要消耗1条的询价条数；<br />
            附件询价根据分析后的最终结果收取费用，发布成功预扣5条询价条数作为拆图费，在确认完成询价时候进行退回；<br />
            若附件询价拆图后进行整个批次退回，预扣的5条询价条数不能退回；<br />
            清单询价，系统自动测算回复时间；附件询价，在经过拆图分析后，确认询价清单时候测算回复时间；<br />
            一个批次最多支持1000条材料的清单询价；
          </div>
        </el-tooltip>
      </div>
      <div class="form info-form">
        <div class="flex-c b-input mb-20 project-name">
          <span class="label-text"><span>*</span>项目名称</span>
          <!-- @select="handleSelect" -->
          <el-autocomplete
            v-model="proName"
            value-key="proName"
            :fetch-suggestions="iptProName"
            placeholder="请选择对应项目的名称"
            :maxlength="100"
          ></el-autocomplete>
          <span class="label-text to-new cp" @click="newProjectDialog = true"
            >新建项目</span
          >
        </div>
        <div class="flex-c b-input mb-20">
          <span class="label-text"><span>*</span>批次名称</span>
          <el-input
            v-model="piciName"
            placeholder="请输入批次名称"
            maxlength="100"
          />
        </div>
        <div class="flex-c s-input mb-20">
          <span class="label-text"><span></span><span>*</span>联系人信息</span>
          <div class="input-box">
            <el-input
              v-model="engineer"
              placeholder="请输入姓名"
              maxlength="10"
            />
            <el-input
              v-model="mobile"
              placeholder="请输入手机号"
              maxlength="13"
            />
            <el-input
              v-model="qq"
              placeholder="请输入QQ号"
              @input="checkInput"
              maxlength="20"
            />
          </div>
        </div>
        <div class="flex-c s-select mb-20 region-wrap">
          <span class="label-text"><span></span><span>*</span>地区</span>
          <el-select
            v-model="province"
            placeholder="---省---"
            @change="changeProvince($event)"
          >
            <el-option
              v-for="item in provinceList"
              :key="item.id"
              :label="item.province"
              :value="item.id"
            >
            </el-option>
          </el-select>
          <el-select
            style="margin: 0 10px"
            v-model="city"
            placeholder="---市---"
          >
            <el-option
              v-for="item in cityList"
              :key="item.id"
              :label="item.city"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </div>

        <!-- 加急 -->
        <div class="faster" v-show="activeName == 'detailed'">
          <el-checkbox-group v-model="isUrgent">
            <el-checkbox>
              <div class="isfaster">
                询价加急
                <span class="text"
                  >（加急询价需要额外多收20%的询价条数，不足一条按1条算，不保留小数）</span
                >
              </div>
            </el-checkbox>
          </el-checkbox-group>
          <div class="balance">
            本次询价共需要消耗询价条数<span class="red">{{
              totalNum | addNum(isUrgent)
            }}</span
            >条
          </div>
        </div>
        <div class="faster" v-show="activeName != 'detailed'">
          <div class="balance">
            本批次询价需预扣<span class="red"> {{ totalNum }} </span
            >条询价条数作为拆图费用，若批次不退回，询价完成后会原路退回
          </div>
        </div>
        <div class="flex-cc btns">
          <div class="flex-ccw btn-box">
            <!-- 提交 -->
            <div class="flex-c">
              <el-button :disabled="!agree" @click="sumbitInquire('Drafts')"
                >保存至草稿箱</el-button
              >
              <el-button
                type="primary"
                :disabled="!agree"
                @click="sumbitInquire('Inquire')"
                >提交询价</el-button
              >
            </div>
            <!-- 规则 -->
            <div class="flex-cc agree">
              <el-checkbox v-model="agree" @change="agree"></el-checkbox>
              <p>我已阅读并同意</p>
              <p class="rules cp" @click="showRules = true">
                《询价发布以及个人隐私保护规则》
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 规则弹窗 -->
    <el-dialog
      title="《询价发布以及个人隐私保护规则》"
      :visible.sync="showRules"
      width="660px"
      class="com-dialog my-dialog rule-dialog"
      :close-on-click-modal="false">
      <Rule />
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showRules = false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 提交询价弹窗 -->
    <el-dialog
      :show-close="false"
      title="提交询价"
      :visible.sync="showSubmitDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <i class="el-icon-loading loading-icon" alt="" v-if="submitStatus == 1"></i>
      <img src="@/assets/img/dialog/restand.png" alt="" v-if="submitStatus == 2">
      <img src="@/assets/img/dialog/success.png" alt="" v-if="submitStatus == 3">
      <img src="@/assets/img/dialog/error.png" alt="" v-if="submitStatus == 4">
      <p v-if="submitStatus == 1">正在提交...</p>
      <p v-if="submitStatus == 2">您好，您提交的询价条数达到审核<br />门槛，需要申请上级审核批准</p>
      <p v-if="submitStatus == 3">提交成功</p>
      <p v-if="submitStatus == 4">{{errMsg || '出错了'}}</p>
      <span slot="footer" class="dialog-footer" v-if="submitStatus == 2">
        <el-button @click="showSubmitDialog = false">取消</el-button>
        <el-button type="primary" @click="submitInquireAjax">确定提交</el-button>
      </span>
      <span slot="footer" class="dialog-footer" v-if="submitStatus == 3">
        <el-button @click="reloadPage">新建询价</el-button>
        <el-button type="primary" @click="toDetail">查看批次</el-button>
      </span>
      <span slot="footer" class="dialog-footer" v-if="submitStatus == 4">
        <el-button type="primary" @click="toDraftsDetail">{{piciId ? '去查看' : '确定'}}</el-button>
      </span>
    </el-dialog>

    <!-- 提交审核弹窗 -->
    <el-dialog
      title="保存草稿箱"
      :show-close="false"
      :visible.sync="showDraftsDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/success.png" alt="">
      <p>保存成功</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="reloadPage">新建询价</el-button>
        <el-button type="primary" @click="toDraftsDetail">去查看</el-button>
      </span>
    </el-dialog>

    <!-- 退出页面提示保存弹窗 -->
    <el-dialog
      title="保存"
      :visible.sync="showSaveTipDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p style="line-height:25px;">请先保存至草稿箱,跳转页面会丢失已填信息,<br />是否不保存直接跳转?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSaveTipDialog = false">先去保存</el-button>
        <el-button type="primary" @click="toPage">确定</el-button>
      </span>
    </el-dialog>

    <!-- 提交附件询价提示弹窗 -->
    <el-dialog
      title="提交询价"
      :visible.sync="showTipsDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p>附件询价发布需要预扣<span style="color:red;"> 5 </span>条询价条数作为拆图费，该费用在确认完成询价批次时候会原路退回到发布账号，若拆图后整个批次都退回，则该费用不能退回，是否确认发布附件询价？</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showTipsDialog = false">取消</el-button>
        <el-button type="primary" @click="toSumbitEnclosure">确定提交</el-button>
      </span>
    </el-dialog>

    <!-- 新建项目弹窗 -->
    <el-dialog
      title="新建项目"
      :visible.sync="newProjectDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <el-input v-model="newProName" placeholder="请输入项目名称" maxlength="100" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="newProjectDialog = false">取消</el-button>
        <el-button type="primary" @click="toImportProject">确定</el-button>
      </span>
    </el-dialog>

    <!-- 项目名称校验弹窗 -->
    <el-dialog
      title="新建项目"
      :visible.sync="newProjectDialog2"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <p>该项目名称不存在,是否创建?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="newProjectDialog2 = false">取消</el-button>
        <el-button type="primary" @click="toImportProject">创建</el-button>
      </span>
    </el-dialog>

    <!-- 绑定造价通账号 -->
    <bind-account
      :showBindDialog="showBindDialog"
      @hideDialog="showBindDialog = false"
      @search="getBindAccountList"
    ></bind-account>
  </div>
</template>

<script>
import {
  getProvince,
  getCity,
  addInquireToZjt,
  getUpperLimit,
  addInquireToDrafts,
  getBindAccountList,
  getDraftBoxDetails,
  getContacts,
  selectInquiryItems,
  addInquiryItem,
  getInquiryItem,
} from '@/api/inquirySetting'
import Rule from './components/rule'
import DetailedInquiry from './components/detailedInquiry'
import EnclosureInquiry from './components/enclosureInquiry'
import BindAccount from "../setting/components/BindAccount.vue";
import { validPhone } from '@/utils/common'// 手机号校验等

export default {
  name: 'ToInquiry',
  data() {
    return {
      activeName: 'detailed',                   // detailed & enclosure选项卡
      detailedShow: true,
      enclosureShow: true,
      provinceList: [],                         // 省份
      cityList: [],                             // 城市
      province: '',                             // 选中的省id
      city: '',                                 // 选中的市id
      proName: '',                              // 项目名称
      piciName: '',                             // 批次名称
      engineer: '',                             // 联系人
      mobile: '',                               // 手机
      qq: '',                                   // qq
      isUrgent: false,                          // 是否加急
      agree: true,                              // 是否同意规则
      showRules: false,                         // 是否显示规则弹窗
      errMsg:'',                                // 提交询价报错信息
      totalNum: 1,                              // 报价消耗总条数
      isAudit: false,                           // 判断是否需要审核
      piciId: '',                               // 批次id或批次表ID
      submitStatus: '',                         // 提交状态 1loading 2审核 3成功 4失败
      showSubmitDialog: false,                  // 是否显示提交询价弹窗
      submitData: null,                         // 提交询价参数集合
      showDraftsDialog: false,                  // 是否显示提交草稿弹窗
      showTipsDialog: false,                    // 是否显示附件询价提示弹窗
      residueInquiryCount: 0,                   // 剩余询价条数
      accountList: [],                          // 账号列表
      accountId: '',                            // 选中账号
      tableData: [{                             // 子组件清单询价数据
        name: '',                                 // 材料名称
        spec: '',                                 // 规格
        amount: '1',                              // 需求量
        unit: 'm³',                               // 单位
        grade: '中档',                            // 档次
        brand: '',                                // 品牌
        maxRecommendNum: '1',                     // (需要的)报价数
        carriage: false,                          // 运费
        tax: false,                               // 税费
        remark: '',                               // 备注
        uploadFileVos: [],                       // 附件
      }],
      uploadFileList2: [],                        // 子组件附件询价数据
      decide: '',                                 // 1草稿回显 0审核回显
      timeout: null,                              // 项目查询输入框定时器
      ProjectPageList: [],                        // 可选项目名称列表
      showBindDialog: false,                      // 绑定造价通弹窗
      limtList: [],                               // 账号列表(绑定造价通弹窗)
      curLimt: null,
      curCount: 0,                                // 账号剩余条数
      showSaveTipDialog: false,                   // 是否显示保存提示弹窗
      toName: '',                                 // 跳转页面
      proNameTimer: null,                         // 查询项目防抖定时器
      newProjectDialog: false,                    // 新建项目弹窗
      newProjectDialog2: false,                   // 新建项目弹窗
      newProName: '',                             // 新建项目名称
      explain: '',                                // 附件询价备注
    }
  },

  components: {
    Rule,
    DetailedInquiry,
    EnclosureInquiry,
    BindAccount,
  },

  filters: {
    addNum(val,isUrgent) {
      if(isUrgent) val = Math.ceil(1.2 * val)
      return val
    }
  },

  watch: {
    // 询价总条数:
    // 1.清单询价
    tableData: {
      handler(newVal,oldVal){
        if(this.activeName == 'detailed') { // 清单询价
          let num = 0
          this.tableData.forEach(item=>{
            num += item.maxRecommendNum * 1
          })
          this.totalNum = num
        }
      },
      deep: true
    },
    // 2.附件询价
    uploadFileList2: {
      handler(newVal,oldVal){
        if(this.activeName == 'enclosure') { // 附件询价
          let num = 0
          num = this.uploadFileList2.length > 0 ? 5 : 0
          this.totalNum = num
        }
      },
      deep: true
    },
    // 3.切换页面
    activeName: {
      handler(newVal,oldVal){
        let num = 0
        if(this.activeName == 'detailed') { // 清单询价
          this.tableData.forEach(item=>{
            num += item.maxRecommendNum * 1
          })
          this.totalNum = num
        }
        if(this.activeName == 'enclosure') { // 附件询价
          this.$nextTick(()=>{
            num = this.uploadFileList2.length * 5
            this.totalNum = num
          })
        }
      },
      deep: true
    }
  },

  mounted() {
    this.getProvince() // 获取省
    this.getBindAccountList() // 获取账号
    this.getContacts() // 获取联系人信息回显
    if(this.$route.query.piciId) {
      this.piciId = this.$route.query.piciId
      this.activeName = this.$route.query.type == '1' ? 'enclosure' : 'detailed'
      this.decide = this.$route.query.decide
      setTimeout(()=>{
        this.getDraftBoxDetails() // 请求回显数据
      },100)
    }
  },

  methods: {
    // 编辑备注(附件询价)
    iptExplain(e) {
      this.explain = e
    },

    // 数值校验
    checkInput() {
      // qq只能输入非负整数
      this.qq =  this.qq.replace(/[^\d]/g, "")
    },

    // 输入项目名查询项目列表
    iptProName(queryString, cb) {
      clearTimeout(this.proNameTimer)
      this.proNameTimer = setTimeout(()=>{
        // 获取项目列表
        let params = {
          proName: this.proName
        }
        selectInquiryItems(params).then(res => {
          if (res.code == '01') {
            this.ProjectPageList = res.body
            cb(res.body)
          }
        })
      },1000)
    },

    // 输入搜索项目名称
    // getProject(queryString, cb) {
    //     var restaurants = this.ProjectPageList;
    //     var results = queryString ? restaurants.filter(this.createStateFilter(queryString)) : restaurants;
    //     clearTimeout(this.timeout);
    //     this.timeout = setTimeout(() => {
    //       cb(results);
    //     }, 300);
    // },

    // 筛选项目名称
    // createStateFilter(queryString) {
    //   return (state) => {
    //     return (state.proName.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
    //   };
    // },

    // 通过项目名称获取联系人信息回显
    // handleSelect(item) {
    //   getContacts({proName: item.name}).then(res=>{
    //     if(res.code == '01') {
    //       let data = res.body
    //       this.engineer = data.engineer
    //       this.mobile = data.mobile
    //       this.qq = data.qq
    //       // 省
    //       this.provinceList.forEach(item=>{
    //         if(data.province == item.province) {
    //           this.province = item.id
    //           this.getCity(item.id)
    //         }
    //       })
    //       // 市
    //       setTimeout(()=>{
    //         this.cityList.forEach(item=>{
    //           if(data.city == item.city) this.city = item.id
    //         })
    //       },500)
    //     }
    //   })
    // },

    // 获取联系人信息回显
    getContacts() {
      getContacts().then(res=>{
        if(res.code == '01') {
          let data = res.body
          this.engineer = data.engineer
          this.mobile = data.mobile
          this.qq = data.qq
          // 省
          setTimeout(()=>{
            this.provinceList.forEach(item=>{
              if(data.province == item.province) {
                this.province = item.id
                this.getCity(item.id)
              }
            })
          },100)
          // 市
          setTimeout(()=>{
            this.cityList.forEach(item=>{
              if(data.city == item.city) this.city = item.id
            })
          },500)
        }
      })
    },

    // 获取省
    getProvince() {
      getProvince().then(res=>{
        if(res.code == '01') {
          this.provinceList = res.body
        }
      })
    },

    // 获取绑定账号列表
    getBindAccountList() {
      getBindAccountList().then(res=>{
        if(res.code == '01'){
          let list = res.body
          if(list.length > 0) {
            list.forEach(item=>{ // 默认询价账号
              if(item.isDefault == 1) {
                this.accountId = item.account
                this.residueInquiryCount = item.residueInquiryCount
              }
            })
            if(!this.accountId) {
              this.accountId = list[0].account
              this.residueInquiryCount = list[0].residueInquiryCount
            }
            this.accountList = list
          }
        }
      })
    },

    // 切换账号
    selAccount(e) {
      this.accountList.forEach(item=>{
        if(item.account == e) {
          this.accountId = item.account
          this.residueInquiryCount = item.residueInquiryCount
        }
      })
    },

    // 切换省份
    changeProvince(e){
      this.city = ''
      this.getCity(e)
    },

    // 获取市
    getCity(id) {
      let params = { id }
      getCity(params).then(res=>{
        if(res.code == '01') {
          this.cityList = res.body
        }
      })
    },

    // 添加附件文件
    addfile(file) {
      this.uploadFileList2.push(file)
    },

    // 删除附件文件
    delFile(index) {
      this.uploadFileList2.splice(index,1)
    },

    // 表格费用多选框
    toggleAutoState(val, index, type) {
      this.tableData[index][type] = val
    },

    // 批量删除材料
    delSomeMaterial(delArr) {
      this.tableData = this.tableData.filter((item, index) => {
        return !delArr.includes(index);
      });
      this.$message({type: 'success', message: '删除成功'})
    },

    // 获取草稿箱详情
    getDraftBoxDetails() {
      let params = {
        id: this.piciId
      }
      getDraftBoxDetails(params).then(res=>{
        if(res.code == '01') {
          let data = res.body
          // 省
          this.provinceList.forEach(item=>{
            if(data.province == item.province) {
              this.province = item.id
              this.getCity(item.id)
            }
          })
          // 市
          setTimeout(()=>{
            this.cityList.forEach(item=>{
              if(data.city == item.city) this.city = item.id
            })
          },500)
          // 其他信息
          this.proName = data.proName
          this.piciName = data.piciName
          this.engineer = data.engineer
          this.mobile = data.mobile
          this.qq = data.qq
          this.totalNum = data.needCount
          this.isAudit = data.isAudit == 1 ? true : false
          this.piciId = data.id
          this.accountId = data.memberId
          this.isUrgent = data.isUrgent == 1 ? true : false
          // this.decide = data.decide ? 1 : 0

          // 附件
          let askPriceList = data.askPriceList || data.uploadFileVos
            if(askPriceList && askPriceList.length > 0) {
              if(data.type == 0) { // 清单回显
                  for(let i=0;i<askPriceList.length;i++) {
                    askPriceList[i].grade = askPriceList[i].grade == '2' ? '中档' : askPriceList[i].grade == '3' ? '中高档' : '高档'
                    askPriceList[i].carriage = askPriceList[i].carriage == 1 ? true : false
                    askPriceList[i].tax = askPriceList[i].tax == 1 ? true : false
                    if(askPriceList[i].uploadFileVos && askPriceList[i].uploadFileVos.length > 0) {
                      let arr = []
                      askPriceList[i].uploadFileVos.forEach(item=>{
                        arr.push({
                          fileName: item.oldFileName,
                          size: item.size,
                          file: item
                        })
                      })
                      this.$set(this.askPriceList[i], uploadFileVos, arr);
                    }
                  }
                this.tableData = JSON.parse(JSON.stringify(askPriceList))
              } else { // 附件回显
                let arr = askPriceList || []
                this.uploadFileList2 = arr
                this.explain = data.remark
              }
            }
        }
      })
    },

    // 提交询价(清单/附件)
    sumbitInquire(type) {
      if(this.activeName == 'detailed') { // 清单询价校验
        // 校验必填项
        let isPass = this.tableData.every(item=>{
          return item.name && item.spec && item.amount && item.unit && item.maxRecommendNum
        })
        if(!isPass) {
          this.$message({
            type: 'error',
            message: '请完善材料信息必填项'
          })
          return
        }
      } else { // 附件询价校验
        if(this.uploadFileList2.length == 0) {
          this.$message({
            type: 'error',
            message: '请先上传询价附件'
          })
          return
        }
      }

      // 校验账号
      if(!this.accountId) {
        this.$message({
          type: 'error',
          message: '请选择询价账号'
        })
        return
      }

      // 工程信息校验
      if(type == 'Inquire') { // 草稿非必填
        if(!this.proName){
          this.$message({
            type: 'error',
            message: '请填写项目名称'
          })
          return
        } else if(!this.piciName) {
          this.$message({
            type: 'error',
            message: '请填写批次名称'
          })
          return
        } else if(!this.engineer) {
          this.$message({
            type: 'error',
            message: '请填写联系人'
          })
          return
        } else if(!this.mobile) {
          this.$message({
            type: 'error',
            message: '请填写手机号'
          })
          return
        } else if (!validPhone(this.mobile)) {
          this.$message({
            type: 'error',
            message: '手机号格式错误'
          })
          return
        } else if(!this.qq){
          this.$message({
            type: 'error',
            message: '请填写QQ'
          })
          return
        } else if (!this.province || !this.city) {
          this.$message({
            type: 'error',
            message: '请选择地区'
          })
          return
        }
      }

      // 校验项目名称
      let params = {
        proName: this.proName
      }
      getInquiryItem(params).then(res => {
        if (res.code == '02' && type == 'Inquire') { // 项目名称不存在
          this.newProjectDialog2 = true
        } else {
          // 判断是否需要审核
          let isAudit = false
          getUpperLimit().then(res=>{
            if(res.code == '01') {
              let needCount = this.totalNum
              let totalNum = this.isUrgent && this.activeName == 'detailed' ? Math.ceil(this.totalNum*1.2) : this.totalNum*1
              if(res.body.powerSwitch == 1 && (res.body.amount < totalNum) && this.activeName == 'detailed') { // 附件询价不需要审核
                isAudit = true
              }
              this.isAudit = isAudit

              // 省
              let province , city
              this.provinceList.forEach(item=>{
                if(item.id == this.province) province = item.province
              })
              // 市
              this.cityList.forEach(item=>{
                if(item.id == this.city) city = item.city
              })
              // 材料
              let askPriceList = this.tableData
              let askPriceArr = []
              if(this.activeName == 'detailed') { // 清单询价材料
                for(let i=0;i<askPriceList.length;i++) {
                  let grade = askPriceList[i].grade == "中档" ? '2' : askPriceList[i].grade == "中高档" ? '3' : '4'
                  let {amount,brand,maxRecommendNum,name,remark,spec,unit,uploadFileVos} = askPriceList[i]
                  if(uploadFileVos && uploadFileVos.length > 0)uploadFileVos = uploadFileVos.map(item=>{
                    item = item.file
                    item.filePath = item.imageUrl
                    item.type = 0
                    return item
                  })
                  askPriceArr.push({
                    grade,
                    amount,
                    brand,
                    name,
                    remark,
                    spec,
                    unit,
                    uploadFileVos: uploadFileVos,
                    tax: askPriceList[i].tax ? 1 : 0,
                    carriage: askPriceList[i].carriage ? 1 : 0,
                    maxRecommendNum: maxRecommendNum * 1,
                  })
                }
              } else { // 附件询价材料
                for(let i = 0;i < this.uploadFileList2.length;i++) {
                  this.uploadFileList2[i].filePath = this.uploadFileList2[i].imageUrl || this.uploadFileList2[i].filePath
                  this.uploadFileList2[i].type = 1
                }
              }

              // 账号信息
              let data = {
                province: province,
                city: city,
                proName: this.proName,
                engineer: this.engineer,
                piciName: this.piciName,
                mobile: this.mobile,
                qq: this.qq,
                isUrgent: this.isUrgent ? 1 : 0,
                type: this.activeName == 'detailed' ? 0 : 1,
                memberId: this.accountId,
                isAudit: isAudit ? 1 : 0,
                needCount: needCount,
                id: this.piciId || '',
                // decide: this.decide == '1' ? true : false
              }
              // 添加附件
              if(this.activeName == 'detailed') {
                data.askPriceList = askPriceArr
              } else {
                data.uploadFileVos = this.uploadFileList2
                data.remark = this.explain
              }
              // 保存参数
              this.submitData = data
              // 提交询价
              if(type == 'Inquire') {
                // 弹窗操作
                if(this.activeName == 'detailed') {
                  this.showSubmitDialog = true
                  if(isAudit) { // 审核确认框
                    this.submitStatus = 2
                  } else {
                    this.submitStatus = 1
                    this.submitInquireAjax()
                  }
                } else {
                  this.showTipsDialog = true // 附件询价提示
                }
              } else { // 保存至草稿箱
                this.submitDraftsAjax()
              }
            }
          })
        }
      })
    },

    // 保存至草稿箱
    submitDraftsAjax() {
      let data = this.submitData
      addInquireToDrafts(data).then(res=>{
        if(res.code == '01') {
          this.piciId = res.body
          this.showDraftsDialog = true
        } else {
          this.$message({
            type: 'error',
            message: res.message || '保存失败'
          })
        }
      }).catch(err=>{
        this.$message({
          type: 'error',
          message: err.message || '保存失败'
        })
      })
    },

    // 确认提交附件询价
    toSumbitEnclosure() {
      if(this.isAudit) { // 审核确认框
        this.submitStatus = 2
      } else {
        this.submitStatus = 1
        this.submitInquireAjax()
      }
      this.showTipsDialog = false
      this.showSubmitDialog = true
    },

    // 调用提交询价接口
    submitInquireAjax() {
      let data = this.submitData
      addInquireToZjt(data).then(res=>{
        if(res.code == '01') {
          this.piciId = res.body
          this.submitStatus = 3
          this.getBindAccountList() // 刷新账号与条数
        } else {
          this.errMsg = res.message || '提交失败！网络出错,批次将转至草稿箱'
          this.submitStatus = 4
        }
      }).catch(err=>{
        this.submitStatus = 4
      })
    },

    // 查看批次详情
    toDetail() {
      if(this.isAudit) {
        this.$router.push({
          path: '/inquiryManage/examinePend', // 审核询价批次详情
          query: {
            status: 1, // 待审核
            id: this.piciId,
            piciName: this.piciName,
            proName: this.proName
          }
        })
      } else {
        this.$router.push({
          path: '/inquiryManage/inquiryDetails', // 询价详情
          query: {
            piciId: this.piciId,
            piciName: this.piciName,
            proName: this.proName,
            memberId: this.accountId
          }
        })
      }
    },

    // 查看草稿箱询价详情
    toDraftsDetail() {
      this.showSubmitDialog = false
      this.showDraftsDialog = false
      if(!this.piciId) return
      let type = this.activeName =='detailed' ? 0 : 1
      this.$router.push({
        path: '/inquiryManage/toInquiry',
        query: {
          piciId: this.piciId,
          type: type,         // 询价类型 0清单询价 1附件询价
          decide: 1,          // 1草稿回显 0审核回显
        }
      })
    },

    // 刷新页面(置空数据?)
    reloadPage() {
      this.$router.go(0)
    },

    // 绑定造价通账号
    bindAccount() {
      this.showBindDialog = true
    },

    toPage() {
      if(this.toName == 'BuyComboIndex') {
        this.$router.push('/setting/buyCombo/index')
      } else {
        this.$router.push('/project/importProject')
      }
    },

    // 去购买套餐
    toBugPlans() {
      this.toName = 'BuyComboIndex'
      this.showSaveTipDialog = true
    },

    // 新建项目
    toImportProject() {
      if(!this.proName) {
        this.$message({type:'error',message:'请先填写项目名称'})
        return
      }
      let params = {
        proName: this.proName
      }
      addInquiryItem(params).then(res=>{
        if(res.code == '01') {
          this.newProjectDialog = false
          this.newProjectDialog2 = false
          this.$message({
            type: 'success',
            message: res.message || '新建项目成功'
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message || '新建项目失败'
          })
        }
      }).catch(err=>{
        this.$message({
          type: 'error',
          message: err.message || '新建项目失败'
        })
      })
    },

    // 新标签打开页面
    // test() {
    //   let routeData = this.$router.resolve({
    //     name: "/setting/buyCombo/index",
    //   });
    //   window.open(routeData.href, '_blank');
    // },
  },

  // 退出页面拦截,提示保存草稿
  // beforeRouteLeave (to, from, next) {
  //   if((to.name == 'BuyComboIndex' || to.name == 'ImportProject')) {
  //     return
  //   }
  //   next()
  // }
}
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.inquiry-container {
  margin-top: 18px;
  position: relative;

  .com-bg {
    top: -55px;
  }


  .loading-icon {
    font-size: 46px;
    color: $color-primary;
    margin: 20px 0 40px;
  }
  .scanwin {
    .box {
      width: 210px;
      margin: 10px auto 20px;
      text-align: center;
      .scanimg {
        position: relative;
        margin: 0 auto;
        width: 132px;
        height: 132px;
        background: #ffffff;
        box-shadow: 0px 2px 18px 0px rgba(6, 41, 73, 0.14);
        border-radius: 12px;
        > img {
          width: 104px;
          height: 104px;
        }
        .tip-img {
          margin-top: 5px;
          width: 25px;
        }
        .tipimg {
          display: none;
          opacity: 0;
          width: 185px;
          height: 250px;
          position: absolute;
          right: -200px;
          top: -10px;
          z-index: 2002;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        &:hover {
          .tipimg {
            display: block;
            opacity: 1;
          }
        }
      }
      .tips {
        font-weight: 400;
        line-height: 71px;
        color: #333333;
      }
      .reobtain {
        cursor: pointer;
        color: #1789f2;
      }
      .icons {
        .item {
          font-size: 12px;
          font-weight: 300;
          color: #cdcdcd;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          > img {
            width: 22px;
            height: 22px;
            margin-bottom: 7px;
          }
        }
      }
    }
  }
  .back {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    > button {
      font-size: 15px;
      width: 94px;
      height: 34px;
      border-radius: 5px;
      padding: 0 7px 0 20px;
      color: $color-primary;
      background-size: 16px 16px;
      background: url("../../assets/img/icons/backs.png") 10px 10px no-repeat;
      background-color: #ffffff;
      border-color: $color-primary;
    }
  }
  .up-wrap {
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  // 工程信息
  .engine-info {
    margin-top: 18px;
    background: #ffffff;
    padding-bottom: 20px;
    border-radius: 6px;
    position: inherit;
    .tag-title {
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .desc {
      position: absolute;
      right: 100px;
      top: 40px;
      font-size: 16px;
      color: $color-primary;
    }
    .mode-name {
      font-size: 12px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #bcbcbc;
    }
    .tip-img {
      width: 18px;
      height: 18px;
      margin-left: 10px;
      margin-right: 5px;
    }
    .info-form {
      padding-left: 20px;
      .faster {
        .isfaster {
          color: #666666;
          font-family: "mainfont";
          .text {
            font-size: 12px;
          }
        }
        .balance {
          color: #fcb973;
          margin: 9px 26px;
          .red {
            color: #f50b1b;
          }
        }
      }
      .btns {
        height: 150px;
        padding-bottom: 20px;
        .btn-box {
          flex-direction: column;
          > div {
            button {
              margin-left: 0 !important;
              padding: 0;
              width: 118px;
              height: 44px;
              line-height: 44px;
            }
            button:first-child {
              margin-right: 15px;
              color: #2773fc;
              border: 1px solid #2773fc;
            }
          }
          .agree {
            font-weight: 400;
            color: #666666;
            p:not(.rules) {
              margin: 14px 10px;
            }
            .rules {
              color: #2773fc;
            }
          }
        }
      }
    }
  }
}
</style>

<style lang="scss">
@import "../../styles/variables.scss";
.rule-dialog {
  .el-dialog__body {
    text-align: left;
  }
}
// 询价功能区(供两组件共享)
.inquiry-fun {
  padding: 30px 0;
  font-size: 14px;
  .top {
    .btn {
      width: 112px;
      height: 34px;
      border: 1px solid #1789f2;
      border-radius: 5px;
      font-size: 16px;
      font-family: "mainfont";
      font-weight: 500;
      color: #1789f2;
    }
    .download-temp {
      margin: 0 15px 0 10px;
      font-family: "mainfont";
      text-decoration: underline;
      color: #2773fc;
      cursor: pointer;
    }
    .img {
      width: 23px;
      height: 23px;
      margin: 5px;
    }
    .text {
      font-size: 12px;
      font-family: "mainfont";
      color: #bcbcbc;
    }
  }
  .remark {
    min-width: 80px;
    max-width: 80px;
    margin-right: 4px;
  }
  .bottom {
    margin-top: 20px;
    .title {
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      min-width: 80px;
      max-width: 80px;
      margin-right: 4px;
      > span {
        color: #dc4141;
      }
    }
    .sel {
      margin-right: 15px;
    }
    .balance {
      color: #fcb973;
      margin-right: 30px;
      .red {
        color: #f50b1b;
      }
    }
    .btn1 {
      background: url("../../assets/img/icons/open_account.png") 8px 8px
        no-repeat;
    }
    .btn2 {
      background: url("../../assets/img/icons/buy_plans.png") 8px 8px no-repeat;
    }
    .btns {
      height: 30px;
      background-color: RGBA(231, 243, 254, 1);
      border-radius: 5px;
      padding: 0 7px 0 25px;
      font-weight: 400;
      color: #1789f2;
      background-size: 14px 14px;
      margin-top: 0;
    }
  }
}
.info-form {
  .project-name {
    .el-input {
      width: auto;
    }
    .to-new {
      color: $color-primary;
    }
  }
  .input-box input {
    margin-right: 10px !important;
  }
  
  .s-input {
    .input-box input {
      width: 140px;
    }
  }
}
.up-wrap {
  .el-tabs__nav-scroll {
    background: #f6f6f6;
    .el-tabs__nav {
      padding: 0;
      margin: 0;
      .el-tabs__active-bar {
        display: none;
      }
      .el-tabs__item {
        width: 332px;
        height: 57px;
        margin-right: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        color: $table-color;
        font-family: "mainfont";
        background: #f1f1f1;
        border-radius: 6px 6px 0px 0px;
        border-top: 4px solid #e0e0e0;
      }
      .is-active {
        border-color: #1789f2;
        background: #ffffff;
      }
    }
  }
}
.faster,
.agree {
  .el-checkbox {
    .el-checkbox__inner {
      border-radius: 50% !important;
    }
  }
}
</style>