<template>
  <div class="unit-project">
    <div class="flex-csb com-table-label">
      <p class="b-label">单位工程标准表配置</p>
      <!-- <div class="flex-c">
        <p class="flex-c b-btn" @click="addOrEditUnitProjectDialog('新增')">
          <img src="@/assets/img/icons/project_stock/add.png" alt="" />
          <span>新增单位工程</span>
        </p>
      </div> -->
    </div>
    <div class="com-table-wrap">
      <el-table :data="projectData" style="width: 100%" border>
        <el-table-column prop="code" label="标准化工程编码（国标）">
        </el-table-column>
        <el-table-column prop="stdName" label="标准化名称"> </el-table-column>
        <el-table-column label="自定义名称">
          <template slot-scope="scope">
            <div v-if="scope.row.customName" class="flex-csb">
              <span>{{ scope.row.customName }}</span>
              <el-switch
                class="mr-11"
                v-model="scope.row.enableCustom"
                @change="customChange($event, scope.row)"
              >
              </el-switch>
            </div>
          </template>
        </el-table-column>
        <el-table-column prop="keyword" label="匹配关键词"> </el-table-column>
        <!-- <el-table-column label="前端显示">
          <template slot-scope="scope">
            <div class="flex-csb">
              <span>测试</span>
              <el-switch class="mr-11" v-model="scope.row.state"> </el-switch>
            </div>
          </template>
        </el-table-column> -->
        <el-table-column prop="updator" label="操作人"> </el-table-column>
        <!-- <el-table-column prop="name" label="更新时间"> </el-table-column> -->
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-tooltip effect="light" content="编辑" placement="top">
              <img
                class="cp mr-26"
                src="@/assets/img/icons/edits.png"
                alt=""
                @click="addOrEditUnitProjectDialog('编辑', scope.row)"
              />
            </el-tooltip>
            <el-tooltip effect="light" content="子级" placement="top">
              <img
                class="cp mr-26"
                src="@/assets/img/icons/project_stock/sub.png"
                alt=""
                @click="skipSub(scope.row)"
              />
            </el-tooltip>
            <!-- <el-tooltip effect="light" content="删除" placement="top">
              <img class="cp" @click="delUnitProject(scope.row.id)" src="@/assets/img/icons/dels.png" alt="" />
            </el-tooltip> -->
          </template>
        </el-table-column>
      </el-table>

      <!-- 分页 -->
      <!-- <div class="flex-csb com-pages-wrap">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select
              v-model="params.pageSize"
              placeholder="请选择"
              @change="handleCurrentChange(1)"
            >
              <el-option
                v-for="(item, index) in pageSizeList"
                :key="index"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="params.currentPage"
            :page-size="params.pageSize"
            layout="prev, pager, next, jumper"
            :total="totalCount"
          >
          </el-pagination>
          <div class="com-page-btn">确定</div>
        </div>
      </div> -->
    </div>

    <!-- 删除单位工程弹窗 -->
    <el-dialog
      title="删除"
      :visible.sync="showDelDialog"
      width="460px"
      @close="delid = ''"
      class="com-dialog my-dialog"
      :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p>你确定要删除这条单位工程配置吗？</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delloading" @click="confirmDelMaterial">确定</el-button>
      </span>
    </el-dialog>

    <!-- 新增/编辑单位工程弹窗 -->
    <el-dialog
      :visible.sync="unitProjectDialog"
      :close-on-click-modal="false"
      :title="curLabel + '标准单位工程'"
      width="460px"
      class="com-dialog com-dialog2 com-input com-radio-wrap w-125"
    >
      <div class="flex-c mb-18">
        <span class="label-text"><span>*</span>标准化名称</span>
        <el-input
          v-model="stdName"
          placeholder="请输入标准化名称"
          v-if="curLabel === '新增'"
        />
        <span class="d-content" v-else>{{ stdName }}</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text">自定义名称</span>
        <el-input v-model="customName" placeholder="请输入自定义名称" />
      </div>
      <div class="flex-c mb-18">
        <span class="label-text">是否启用自定义名称</span>
        <el-radio v-model="enableCustom" :label="true">启用</el-radio>
        <el-radio v-model="enableCustom" :label="false">禁用</el-radio>
      </div>
      <div class="flex-c">
        <span class="label-text">匹配关键词</span>
        <el-input
          type="textarea"
          row="6"
          resize="none"
          v-model="keyword"
          placeholder="请输入匹配关键词"
        />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="unitProjectDialog = false">取消</el-button>
        <el-button @click="addOrEditNormEng" :loading="btloading" type="primary"
          >确定</el-button
        >
      </span>
    </el-dialog>
    <!-- 新增/编辑单位工程弹窗 end -->
  </div>
</template>

<script>
import {
  queryNormEngList,
  addNormEngConfig,
  updateEngConfig,
  configCustomName,
  delNormEngConfig
} from "@/api/project";
export default {
  data() {
    return {
      projectData: [],
      unitProjectDialog: false,
      curLabel: "新增", // 当前操作
      stdName: "", // 标准化名称
      customName: "", // 自定义名称
      enableCustom: true, // 自定义名称开关
      keyword: "", // 匹配关键词
      isId: null, // 当前id
      isPid: null, // 当前pid
      btloading: false, // 按钮loading
      params: {
        currentPage: 1,
        keyword: "",
        pageSize: null,
        pid: 0, // 单位工程父级id为0
        type: 1, // 1:单位工程,2:分部工程,3:分项工程,4:清单
      },
      pageSizeList: [10, 20, 30, 40, 50, 100],
      totalCount: 0,
      showDelDialog: false,   // 显示删除单位工程配置弹窗
      delloading: false,      // 删除单位工程配置弹窗loading
    };
  },
  mounted() {
    this.getNormEngList();
  },
  methods: {
    // 跳转分部工程
    skipSub(item) {
      this.$router.push({
        path: '/projectSet/branchProject',
        query: {
          id: item.id,
          type: 2,
          pid: item.id
        }
      })
    },
    // 单位工程配置弹窗
    addOrEditUnitProjectDialog(type, row) {
      this.curLabel = type;
      this.unitProjectDialog = true;

      if (type == "新增") {
        this.stdName = "";
        this.customName = "";
        this.enableCustom = false;
        this.keyword = "";
        this.isId = null;
        this.isPid = null;
      } else {
        this.stdName = row.stdName;
        this.customName = row.customName;
        this.enableCustom = row.enableCustom;
        this.keyword = row.keyword;
        this.isId = row.id;
        this.isPid = row.pid;
      }
    },
    // 显示删除单位工程配置弹窗
    delUnitProject(id) {
      this.showDelDialog = true
      this.isId = id
    },
    // 删除单位工程配置
    confirmDelMaterial() {
      this.delloading = true

      delNormEngConfig({
        ids: this.isId
      }).then(res => {
        this.delloading = false
        if(res.code === '01') {
          this.$message({
            type: 'success',
            message: res.message || '删除成功！'
          })
          this.params.currentPage = 1
          this.getNormEngList();
          this.showDelDialog = false
        } else {
          this.$message({
            type: 'error',
            message: res.message || '删除失败！'
          })
        }
      }).catch(err=>{
        this.delloading = false
        this.$message({
          type: 'error',
          message: err.message || '出错了！'
        })
      })
    },
    // 新增/编辑单位工程配置
    addOrEditNormEng() {
      if (!this.stdName) {
        this.$message({
          type: "error",
          message: "请填写标准化名称",
        });
        return;
      } else if (!this.customName && this.enableCustom) {
        this.$message({
          type: "error",
          message: "启动自定义名称情况下名称不可为空",
        });
        return;
      } else {
        let data = {
          customName: this.customName ? this.customName.trim() : null,
          enableCustom: this.enableCustom,
          keyword: this.keyword ? this.keyword.trim() : null,
          stdName: this.stdName,
          type: 1,
          pid: 0,
        };

        this.btloading = true;

        if (this.curLabel == "新增") {
          addNormEngConfig(data).then((res) => {
            console.log("添加单位工程配置成功", res);
            if (res && res.code == "01") {
              this.unitProjectDialog = false;
              this.$message({
                type: "success",
                message: "添加单位工程配置成功",
              });
              this.getNormEngList();
            }

            this.btloading = false;
          });
        } else {
          data.id = this.isId;
          data.pid = this.isPid;
          updateEngConfig(data).then((res) => {
            console.log("编辑单位工程配置成功", res);
            if (res && res.code == "01") {
              this.unitProjectDialog = false;
              this.$message({
                type: "success",
                message: "编辑单位工程配置成功",
              });
              this.getNormEngList();
            }

            this.btloading = false;
          });
        }
      }
    },
    // 切换分页
    handleCurrentChange(val) {
      this.params.currentPage = val;
      this.getNormEngList();
    },
    // 开启/关闭自定义阶段名称
    customChange(value, row) {
      console.log(value);
      let text = value ? "使用" : "关闭";
      this.$confirm(`确定${text}自定义名称吗？`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          configCustomName({
            enableCustom: value,
            ids: row.id,
            pid: 0,   // 上级id，单位工程列表pid为0
          }).then((res) => {
            if (res && res.code == "01") {
              let message = "";
              if (value) {
                row.enableCustom = true;
                message = "开启成功";
              } else {
                row.enableCustom = false;
                message = "关闭成功";
              }
              // 逻辑操作
              this.$message({
                type: "success",
                message,
              });
            }
          });
        })
        .catch(() => {
          row.enableCustom = !value;
        });
    },
    // 获取工程配置列表
    getNormEngList() {
      queryNormEngList(this.params).then((res) => {
        if (res.code == "01") {
          console.log("工程配置列表", res);
          this.projectData = res.body.list;
          this.totalCount = res.body.totalCount;
        } else {
          this.$message({
            type: "error",
            message: res.message,
          });
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.unit-project {
  margin-top: 7px;
  padding: 22px 24px;
  width: 100%;
  min-height: 700px;
  background: #fff;
  border-radius: 0px 8px 8px 8px;
}
</style>
