<template>
  <div class="permission-container">
    <div class="p-content pt-0">
      <div class="com-bg">
        <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/publicHome' }">进入页</el-breadcrumb-item>
            <el-breadcrumb-item><span class="active">用户管理</span></el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
      <div class="account-container">
        <!-- 列表 -->
        <div class="com-table table-wrap">
          <div class="flex-c com-operate-wrap op-wrap">
            <el-button type="primary" class="flex-cc w-color mb-0" @click="sendMsg">
              <img src="@/assets/img/table/phone.png" alt="" class="el-icon-search va-m">
              <span class="va-m">发送短信</span>
            </el-button>
            <el-button class="flex-cc default-btn mb-0 mr-20" @click="sendEmail">
              <img src="@/assets/img/table/mail.png" alt="" class="el-icon-search va-m">
              <span class="va-m">发送邮件</span>
            </el-button>
            <el-input v-model="input4" placeholder="请输入关键字，如账号、姓名" @keyup.enter.native="searchFunc">
              <i slot="prefix" class="el-input__icon el-icon-search" @click="searchFunc" />
            </el-input>
          </div>

          <div class="flex-c  filtrate-content">
            <span class="mr-30 filtrate">角色筛选</span>
            <ul class="flex-c c-6">
              <li class="mr-30  cp filtrate-item" :class="{'filtrate-color': isTemplateMat === -1}" @click="changeTemplateMat(-1)">全部</li>
              <li v-for="(role,index) in roleGroup" :key="role.id" class="mr-30  cp filtrate-item" :class="{'filtrate-color': index===isTemplateMat }" @click="changeTemplateMat(index,role.id)">
                {{ role.roleName }}
              </li>
            </ul>
          </div>

          <!-- 表内容 -->
          <div class="table-box">
            <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" class="table-main" row-key="id" style="width: 100%;" :header-cell-style="{background:'#F7F7F7'}"
              @selection-change="multipleSelection = $event">
              <el-table-column type="selection" width="66px" :reserve-selection="true" />
              <el-table-column prop="userAccount" label="账号" />
              <el-table-column prop="userName" label="姓名" />
              <el-table-column prop="phone" label="手机号码" />
              <el-table-column prop="department" label="部门" />
              <el-table-column prop="position" label="职位" />
              <el-table-column prop="superiorDepartment" label="直接上级" />
              <el-table-column label="通知记录">
                <template slot-scope="scope">
                  <span class="p-color pointers" @click="openRecordDialog(scope.row)">{{ scope.row.noticeCount }}</span>
                </template>
              </el-table-column>
              <el-table-column prop="roleName" label="角色" />
            </el-table>

            <!-- 分页 -->
            <div class="flex-csb com-pages-wrap">
              <div class="flex-c left-page">
                <span>当前显示</span>
                <div class="flex-cc cur-page">
                  <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                    <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
                  </el-select>
                </div>
                <span>条</span>
                <span class="total-num">共{{ totalCount }}条数据</span>
              </div>
              <div class="flex-c right-page">
                <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
                <div class="com-page-btn">确定</div>
              </div>
            </div>
          </div>
        </div>

        <!-- 发送短信弹窗 -->
        <el-dialog title="发送短信" :visible.sync="showMsgDialog" :close-on-click-modal="false" width="668px" class="com-dialog com-input-width">
          <div class="flex-c mb-20">
            <span class="label-text">收件人：</span>
            <el-input v-model="receiveUsers" disabled />
          </div>
          <div class="flex-c mb-20">
            <span class="label-text"><span>*</span>标题：</span>
            <el-input v-model="msgTitle" maxlength="20" placeholder="请输入消息主题" />
          </div>
          <div class="flex-c mb-20">
            <span class="label-text"><span>*</span>通知模板：</span>
            <el-select v-model="noticeItem" placeholder="请选择通知模板" class="addresser" @change="changeMsgMode">
              <el-option v-for="(item,index) in noticeModeList" :key="item.id" :label="item.sendName" :value="index" />
            </el-select>
            <div class="temSet" @click="gotoSet">模板设置</div>
          </div>
          <!-- <div class="flex-c mb-20 com-radio-wrap">
            <span class="label-text"><span>*</span>通知方式：</span>
            <el-radio v-model="noticeType" label="phone">手机</el-radio>
          </div> -->
          <div class="flex-fs mb-20 mode-item">
            <span class="label-text">通知内容：</span>
            <el-input v-model="msgContent" type="textarea" show-word-limit rows="8" maxlength="500" resize="none" placeholder="请输入内容" />
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="showMsgDialog = false">取消</el-button>
            <el-button type="primary" :loading="msgLoading" @click="submitMsg">确定</el-button>
          </span>
        </el-dialog>

        <!-- 发送邮箱弹窗 -->
        <el-dialog title="发送邮箱" :visible.sync="showEmailDialog" :close-on-click-modal="false" width="668px" class="com-dialog com-input-width">
          <div class="flex-c mb-20">
            <span class="label-text"><span />发件人：</span>
            <el-select v-model="emailSender" placeholder="请选择发件人">
              <el-option v-for="item in emailList" :key="item.id" :label="item.displayName" :value="item.id" />
            </el-select>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text">收件人：</span>
            <el-input v-model="receiveUsers" disabled />
          </div>
          <div class="flex-c mb-20">
            <span class="label-text"><span>*</span>标题：</span>
            <el-input v-model="emailTitle" placeholder="请输入消息主题" />
          </div>
          <div class="flex-c mb-20">
            <span class="label-text"><span>*</span>通知模板：</span>
            <el-select v-model="emailNoticeItem" placeholder="请选择通知模板" class="addresser" @change="changeEmailMode">
              <el-option v-for="(item, index) in emailNoticeModeList" :key="index" :label="item.sendName" :value="index" />
            </el-select>
            <div class="temSet" @click="gotoSet">模板设置</div>
          </div>
          <!-- <div class="flex-c mb-20 com-radio-wrap">
            <span class="label-text"><span>*</span>通知方式：</span>
            <el-radio v-model="emailNoticeType" label="email">邮件</el-radio>
          </div> -->
          <div class="flex-fs mode-item">
            <span class="label-text">通知内容：</span>
            <vue-ueditor-wrap v-model="emailContent" :config="editConfig" />
          </div>
          <div class="rich-label">
            <p>最多只能输入包含富文本标签在内的500个字符</p>
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="showEmailDialog = false">取消</el-button>
            <el-button type="primary" :loading="msgLoading" @click="submitEmail">确定</el-button>
          </span>
        </el-dialog>

        <!-- 通知记录弹窗 -->
        <el-dialog title="通知记录" :visible.sync="showRecordDialog" :close-on-click-modal="false" width="850px" class="com-dialog notice-dialog">
          <el-table ref="multipleTable" v-loading="noticeLoading" :data="noticeList" tooltip-effect="dark" style="width: 100%" :header-cell-style="{background:'#E6E6E6'}">
            <el-table-column label="标题">
              <template slot-scope="scope">
                <span v-html="scope.row.sendTitle" />
              </template>
            </el-table-column>
            <el-table-column label="内容" show-overflow-tooltip>
              <template slot-scope="scope">
                <span class="email-rich-text" v-html="scope.row.sendBody" />
              </template>
            </el-table-column>
            <el-table-column prop="sendType" label="通知方式" />
            <el-table-column label="发送时间">
              <template slot-scope="scope">
                <span>{{ scope.row.createTime | formatTime }}</span>
              </template>
            </el-table-column>
            <!-- <el-table-column prop="creator" label="发送人" /> -->
          </el-table>
          <div v-if="noticeParams.total > 0" class="flex-csb mt-20 com-pages-wrap">
            <div class="left-page" />
            <div class="flex-c right-page">
              <el-pagination background :current-page.sync="noticeParams.currentPage" :page-size="noticeParams.pageSize" layout="prev, pager, next, jumper" :total="noticeParams.total"
                @current-change="toggleNoticePage" />
              <div class="com-page-btn" @click="showRecordDialog = false">确定</div>
            </div>
          </div>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { getEmailPageList, getTemplateListPage } from '@/api/messageTemplate'
import { getRoleList, getUserPageList } from '@/api/user'
import {
  getMessagePageListByUserId,
  sendEmailMessage,
  sendSmsMessage
} from '@/api/userControl'
import VueUeditorWrap from 'vue-ueditor-wrap'
export default {
  components: {
    VueUeditorWrap
  },
  data() {
    return {
      noticeParams: {
        currentPage: 1,
        pageSize: 5,
        userId: '',
        total: 0
      },
      isTemplateMat: -1,
      input4: '',
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [],
      tableData: [], // 账号列表
      noticeList: [], // 通知记录列表
      noticeLoading: false,
      loading: false, // 列表loading
      msgLoading: false,
      showEmailDialog: false,
      emailContent: '', // 邮箱通知内容
      emailNoticeType: 'email', // 通知方式（邮箱）
      emailNoticeItem: '',
      emailNoticeModeList: [], // 邮箱通知模板
      emailTitle: '', // 邮箱标题
      emailSender: null, // 当前选择的发件人
      emailList: [], // 邮箱列表
      // emailSendList: [], // 邮箱发件人列表
      noticeType: 'phone', // 通知方式
      noticeItem: '', // 通知模板
      noticeModeList: [], // 短信通知模板
      msgContent: '', // 短信内容
      msgTitle: '', // 短信标题
      receiveUsers: '', // 短信收件人
      showMsgDialog: false,
      showRecordDialog: false,
      roleId: '',
      roleGroup: [], // 角色组
      editConfig: {
        // uedit配置
        toolbars: [
          ['FullScreen', 'fontsize', 'Source', 'Undo', 'Redo', 'Bold']
        ],
        initialFrameWidth: 508,
        initialFrameHeight: 200,
        maximumWords: 500,
        wordCount: false,
        wordOverFlowMsg: '你输入的字符个数已经超出最大允许值',
        zIndex: 99999,
        elementPathEnabled: false,
        enableAutoSave: false,
        autoHeightEnabled: false,
        UEDITOR_HOME_URL: '/UEditor/'
      }
    }
  },
  mounted() {
    this.getUserList()
    this.getRolePageList()
    this.getEmailPageList()
  },
  methods: {
    gotoSet() {
      this.$router.push({ name: 'messageTemplate' })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getUserList()
    },
    changeTemplateMat(index, id) {
      this.isTemplateMat = index
      this.roleId = id
      this.getUserList()
    },
    // 获取账号消息列表
    getMessagePageListByUserId() {
      var params = {
        currentPage: this.noticeParams.currentPage,
        pageSize: this.noticeParams.pageSize,
        userId: this.noticeParams.userId
      }
      this.noticeLoading = true
      getMessagePageListByUserId(params)
        .then(res => {
          this.noticeLoading = false
          if (res.code === '01') {
            this.noticeList = res.body.list
            this.noticeParams.total = res.body.totalCount
          }
        })
        .catch(err => {
          this.noticeLoading = false
        })
    },
    // 获取邮箱列表（邮箱发送->发件人）
    getEmailPageList() {
      var data = {
        currentPage: 1,
        pageSize: 99999
      }
      getEmailPageList(data).then(res => {
        if (res.code === '01') {
          this.emailList = res.body.list
        }
      })
    },
    toggleNoticePage(currentPage) {
      this.noticeParams.currentPage = currentPage
      // this.getNoticeListPage()
      this.getMessagePageListByUserId()
    },
    openRecordDialog(val) {
      this.showRecordDialog = true
      this.noticeParams.userId = val.id

      // this.getNoticeListPage()
      this.getMessagePageListByUserId()
    },
    // 查询通知模板列表
    getTemplateListPage(type) {
      var data = {
        currentPage: 1,
        pageSize: 99999,
        sendType: type
      }
      getTemplateListPage(data).then(res => {
        if (res.code === '01') {
          if (type === 1) {
            this.noticeModeList = res.body.list
          } else {
            this.emailNoticeModeList = res.body.list
          }
        }
      })
    },
    // 获取账号列表
    getUserList() {
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        roleId: this.roleId,
        keyword: this.input4
      }
      this.loading = true
      getUserPageList(data)
        .then(res => {
          this.loading = false
          if (res.code === '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 获取角色列表
    getRolePageList() {
      const data = {
        roleStatus: 1,
        currentPage: 1,
        pageSize: 99999
      }
      getRoleList(data).then(res => {
        if (res.code === '01') {
          this.roleGroup = res.body.list
        }
      })
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getUserList()
    },
    openAlert(text, type) {
      var texts = text || '请至少选择一条数据'
      this.$alert(texts, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    },
    // 切换短信模板
    changeMsgMode(index) {
      this.msgTitle = this.noticeModeList[index].sendName
      this.msgContent = this.noticeModeList[index].content
    },
    // 发送短信
    submitMsg() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      if (!this.msgTitle) {
        this.$message({
          type: 'error',
          message: '请输入标题'
        })
        return
      }
      // if (!this.noticeItem) {
      //   this.$message({
      //     type: 'error',
      //     message: '请选择通知模板'
      //   })
      //   return
      // }

      var params = {
        ids: ids.join(','),
        title: this.msgTitle,
        sendWay: this.noticeType,
        sendBody: this.msgContent
      }
      this.msgLoading = true
      sendSmsMessage(params)
        .then(res => {
          this.msgLoading = false
          if (res.code === '01') {
            this.multipleSelection = []
            this.showMsgDialog = false
            this.openAlert('发送通知成功！', 'success')
            this.getUsersList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.msgLoading = false
        })
    },
    // 发送短信弹窗
    sendMsg() {
      if (this.multipleSelection.length === 0) {
        this.openAlert()
        return
      }
      var names = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        names.push(this.multipleSelection[i].userName)
      }
      this.receiveUsers = names.join(';')
      this.showMsgDialog = true
      this.msgTitle = ''
      this.noticeItem = ''
      this.msgContent = ''
      // this.getTemplateInfoList(1)
      this.getTemplateListPage(1)
    },
    // 切换邮箱模板
    changeEmailMode(index) {
      this.emailTitle = this.emailNoticeModeList[index].sendName
      this.emailContent = this.emailNoticeModeList[index].content
    },
    // 发送邮箱
    submitEmail() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      if (!this.emailTitle) {
        this.$message({
          type: 'error',
          message: '请输入标题'
        })
        return
      } else if (this.emailContent.length > 500) {
        this.$message({
          type: 'error',
          message: '通知内容不能超过500字符(包含富文本标签)'
        })
        return
      }

      var params = {
        ids: ids.join(','),
        sendUserId: this.emailSender,
        title: this.emailTitle,
        sendWay: this.emailNoticeType,
        sendBody: this.emailContent
      }
      this.msgLoading = true
      sendEmailMessage(params)
        .then(res => {
          this.msgLoading = false
          if (res.code === '01') {
            this.multipleSelection = []
            this.showEmailDialog = false
            this.openAlert('发送通知成功！', 'success')
            this.getUsersList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.msgLoading = false
        })
    },
    // 发送邮箱弹窗
    sendEmail() {
      if (this.multipleSelection.length === 0) {
        this.openAlert()
        return
      }
      var names = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        names.push(this.multipleSelection[i].userName)
      }
      this.receiveUsers = names.join(',')

      this.showEmailDialog = true
      this.emailSender = null
      this.emailTitle = ''
      this.emailNoticeItem = ''
      this.emailContent = ''

      this.getTemplateListPage(2)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
/deep/.has-gutter {
  background-color: red;
}
.account-container {
  width: 100%;
  height: 100%;
  .search-wrap {
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  }
  .table-wrap {
    .op-wrap {
      padding: 30px 0 24px 0;
    }
    .el-icon-search {
      margin-right: 4px;
    }
  }
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}

.permission-container {
  margin-top: 17px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .p-content {
    padding: 35px 25px;
    width: 100%;
    background: #fff;
    position: relative;
    .com-bg {
      top: -54px;
    }
  }
}
.el-input {
  width: 370px;
}
/deep/.el-input--prefix .el-input__inner {
  height: 34px;
  padding-left: 10px;
}

.filtrate-content {
  padding: 6px 0 23px;
  .filtrate {
    color: #5d718c;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
    padding-bottom: 7px;
  }
  .filtrate-item {
    font-size: 14px;
    font-weight: 400;
    font-family: Source Han Sans CN;
    color: #333333;
    padding-bottom: 7px;
    border-bottom: 1px solid #fff;
    &:hover {
      color: #0090d4;
      border-bottom: 1px solid #0090d4;
    }
  }
}

.filtrate-color {
  color: #0090d4 !important;
  border-bottom: 1px solid #0090d4 !important;
}
.temSet {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  // box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
}
.rich-label {
  margin-top: 5px;
  text-align: right;
  color: #999;
  font-size: 12px;
  p {
    margin-right: -20px;
  }
}
.com-input-width {
  /deep/.el-input__inner {
    width: 508px;
  }
}

.addresser {
  /deep/.el-input__inner {
    width: 408px;
  }
}
.flex-c {
  flex-wrap: wrap;
}
</style>

<style lang="scss">
.account-container {
  .com-select {
    .el-select {
      .el-input__inner {
        border-radius: 4px !important;
      }
    }
  }
  .el-dialog__body {
    // padding-left: 10px;
    padding-right: 40px;
  }
}
.email-rich-text {
  div,
  p,
  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
