<template>
  <div class="common-container brand-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <!-- 搜索 -->
      <div class="flex-c top">
        <el-select v-model="queryType" class="select-remark">
          <el-option
            v-for="item in queryTypeList"
            :key="item.id"
            :label="item.name"
            :value="item.id"
          >
          </el-option>
        </el-select>
        <div class="com-search2 mt-20 mb-20">
          <el-input
            class="search-ipt"
            placeholder="请输入名称搜索"
            v-model="keyword"
            @keyup.enter.native="searchFun"
          />
          <i class="el-icon-search" @click="searchFun"></i>
        </div>
      </div>
      <!-- <div class="com-search2 mb-20">
        <el-input
          placeholder="搜索关键字，如：批次联系人"
          v-model="keyword"
          @keyup.enter.native="searchFun"
        />
        <i class="el-icon-search" @click="searchFun"></i>
      </div> -->

      <!-- 档次 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">档次</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curGrade === null }"
              @click="changeGrade(null)"
            >
              全部
            </li>
            <li
              :class="{ active: curGrade == item }"
              v-for="(item, index) in gradeList"
              :key="index"
              @click="changeGrade(item)"
            >
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="addBrand(0)">
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />添加品牌
          </el-button>
          <!-- <el-popover placement="bottom" trigger="click">
            <div class="special-operate-wrap">
              <el-button @click="addBrand(0)">添加单条</el-button>
              <el-button @click="showImportDialog = true">批量添加</el-button>
            </div>
            <el-button type="primary" class="flex-cc btn" slot="reference">
              <img
                src="@/assets/img/table/add.png"
                alt=""
                class="el-icon-search"
              />添加品牌
            </el-button>
          </el-popover> -->

          <el-button class="flex-cc btn btn-del" @click="allDeleteBrand()">
            <img
              src="@/assets/img/table/del.png"
              alt=""
              class="el-icon-search"
            />删除
          </el-button>
        </div>
        <div class="flex-c cp" @click="exportFile">
          <img src="@/assets/img/table/export.png" alt="" class="imgs" />
          <span>导出</span>
        </div>
      </div>

      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          key="id"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" width="46px"> </el-table-column>
          <el-table-column width="80" type="index" label="序号">
          </el-table-column>
          <el-table-column min-width="110px" label="品牌名称" prop="brandName">
            <template slot-scope="scope">
              <span class="b-color cp" @click="toBrandDetail(scope.row)">
                {{ scope.row.brandName }}
              </span>
            </template>
          </el-table-column>
          <el-table-column min-width="90px" label="品牌档次" prop="grade">
          </el-table-column>
          <el-table-column
            min-width="180px"
            label="关联供应商"
            prop="supplierNames"
          >
          </el-table-column>
          <el-table-column min-width="110px" label="产品数量" prop="matCount">
            <template slot-scope="scope">
              <span>{{ scope.row.matCount || "--/--" }}</span>
            </template>
          </el-table-column>

          <el-table-column label="操作" width="200px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip effect="light" content="编辑" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/edits.png"
                    alt=""
                    @click="addBrand(scope.row)"
                  />
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img
                    class="icons"
                    src="@/assets/img/icons/dels.png"
                    alt=""
                    @click="deleteBrand(scope.row)"
                  />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 添加品牌 -->
    <el-dialog
      :title="dialogType + '品牌'"
      :visible.sync="showAddBrand"
      width="460px"
      class="com-dialog addDialog my-dialog"
      @close="clearInfo"
      :close-on-click-modal="false"
    >
      <el-form
        :model="brandForm"
        ref="brandForm"
        label-width="85px"
        class="demo-brandForm"
      >
        <el-form-item
          :rules="{
            required: true,
            message: '请输入品牌名称',
            trigger: 'blur',
          }"
          label="品牌名称"
          prop="name"
        >
          <el-input
            placeholder="请输入品牌名称"
            v-model="brandForm.name"
            size="medium"
          ></el-input>
        </el-form-item>
        <el-form-item label="档次" prop="grade">
          <el-select
            v-model="brandForm.grade"
            clearable
            size="medium"
            placeholder="请选择档次"
          >
            <el-option v-for="it in gradeList" :value="it" :key="it">
              {{ it }}
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="关联供应商" prop="supplierIds">
          <el-select
            size="medium"
            v-model="suppliers"
            filterable
            multiple
            placeholder="请选择"
          >
            <el-option
              v-for="item in allSuppliers"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddBrand = false">取消</el-button>
        <el-button type="primary" v-loading="btnLoading" @click="submitBrand"
          >保存</el-button
        >
      </span>
    </el-dialog>

    <!-- 添加材料弹窗 -->
    <el-dialog
      title="添加材料"
      :visible.sync="showImportDialog"
      :close-on-click-modal="false"
      width="490px"
      class="com-dialog com-select"
    >
      <div class="flex-cwsb com-input export-wrap">
        <div class="flex-c com-radio-wrap com-upload">
          <span class="label-text">导入材料：</span>
          <div class="flex-c">
            <div class="u-ipt" style="width: 240px">
              {{ curCustomFile.name }}
            </div>
            <div class="u-btn">上传</div>
            <div class="u-dot">...</div>
            <input
              ref="fileElem"
              class="u-file"
              type="file"
              @change="uploadCustomFile($event)"
            />
          </div>
        </div>
        <div class="flex-c">
          <span class="label-text">模板下载：</span>
          <span class="u-mode-btn" @click="uploadTemp">材料上传模板</span>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog = false">取消</el-button>
        <el-button type="primary" :loading="importLoading" @click="issueTemp"
          >发布</el-button
        >
      </span>
    </el-dialog>

    <confirm-dialog
      @confirmClick="confirmDelete"
      :isShow.sync="showDeleteDialog"
      contentText="确定要删除选中品牌吗？"
    />
  </div>
</template>

<script>
import {
  getBrandPageList,
  getAllSupplierList,
  addOrUpdateBrand,
  deleteBrand,
  exportBrand,
} from "@/api/supplier";
export default {
  name: "brandIndex",
  data() {
    return {
      queryTypeList: [
        {
          id: 3,
          name: "供应商",
        },
        {
          id: 2,
          name: "产品",
        },
        {
          id: 1,
          name: "品牌",
        },
      ],
      queryType: 3,
      keyword: "",
      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项

      showAddBrand: false,
      brandForm: {
        name: "",
        grade: "",
        supplierIds: "",
      },
      gradeList: ["高档", "中高档", "中档", "一般"],
      curGrade: null, // 选中的档次
      allSuppliers: [], // 全部供应商
      suppliers: [], // 选中的供应商
      btnLoading: false,

      showDeleteDialog: false,
      isId: null,
      delType: 1, // 1、单条 2、多条
      dialogType: "新增",
      showImportDialog: false, // 显示添加材料弹窗
      curCustomFile: {}, // 批量上传文档
      importLoading: false,
    };
  },
  mounted() {
    this.getBrandList(); // 获取品牌库列表
    this.getAllSupplierList(); // 获取全部供应商
  },
  methods: {
    // 表格项是否显示
    showItem(str) {
      return this.checkedList.indexOf(str) != -1;
    },
    // 编辑品牌
    addBrand(row) {
      this.dialogType = "新增";
      if (row) {
        console.log(row, this.brandForm);
        this.dialogType = "编辑";
        this.brandForm.name = row.brandName;
        this.brandForm.grade = row.grade;
        this.brandForm.id = row.id;
        if (row.supplierIds) {
          let arr = row.supplierIds.split(",");
          this.suppliers = arr.map((it) => Number(it));
        }
      }
      this.showAddBrand = true;
    },
    // 批量删除品牌
    allDeleteBrand() {
      this.delType = 2;
      if (this.multipleSelection.length > 0) {
        this.showDeleteDialog = true;
      } else {
        this.openAlert();
      }
    },
    // 删除当前品牌
    deleteBrand(id) {
      this.delType = 1;
      this.isId = id;
      this.showDeleteDialog = true;
    },
    // 确定删除
    confirmDelete() {
      let data = {
        brandIds: this.isId,
      };
      if (this.delType == 2) {
        let arr = this.multipleSelection.map((it) => {
          return it.id;
        });
        data.brandIds = arr.join(",");
      }
      deleteBrand(data).then((res) => {
        if (res && res.code == "01") {
          this.searchFun();
          this.$message({
            type: "success",
            message: "删除该品牌成功！",
          });
        }
      });
    },
    // 导出品牌
    exportFile() {
      if (this.totalCount == 0) {
        this.openAlert("暂无要导出的数据", "info");
        return;
      }

      let text = "全部";

      let data = {
        name: this.keyword,
        grade: this.curGrade,
        queryType: this.queryType, // 查询类型(1、品牌，2、产品，3、供应商)
      };

      if (this.multipleSelection.length > 0) {
        let arr = this.multipleSelection.map((it) => {
          return it.id;
        });

        data.currentPage = this.currentPage;
        data.pageSize = this.pageSize;
        data.ids = arr;
        text = "当前选中";
      }

      this.$confirm(`确定导出${text}数据吗?`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then((res) => {
          exportBrand(data).then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "品牌.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "品牌.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
          });
        })
        .catch((err) => {});
    },
    // 搜索
    searchFun() {
      this.currentPage = 1;
      this.getBrandList();
    },
    // 筛选档次
    changeGrade(name) {
      this.curGrade = name;
      this.searchFun();
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getBrandList();
    },
    // 获取品牌列表
    getBrandList() {
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        name: this.keyword,
        grade: this.curGrade,
        queryType: this.queryType, // 查询类型(1、品牌，2、产品，3、供应商)
      };
      this.tableLoading = true;
      getBrandPageList(data).then((res) => {
        if (res && res.code == "01") {
          console.log("品牌库列表", res);
          this.tableData = res.body.list;
          this.totalCount = res.body.totalCount;
        }
        this.tableLoading = false;
      });
    },
    // 获取全部供应商
    getAllSupplierList() {
      getAllSupplierList().then((res) => {
        if (res && res.code == "01") {
          this.allSuppliers = res.body;
        }
      });
    },
    // 新增或更新品牌信息
    addOrUpdateBrand() {
      if (this.suppliers.length) {
        this.brandForm.supplierIds = this.suppliers.join(",");
      } else {
        this.brandForm.supplierIds = "";
      }
      this.btnLoading = true;
      addOrUpdateBrand(this.brandForm).then((res) => {
        if (res && res.code == "01") {
          this.$message.success(this.dialogType + "品牌成功！");
          this.currentPage = 1;
          this.getBrandList();
          this.showAddBrand = false;
        } else {
          this.$message.error(res.message || "添加失败！");
        }
        this.btnLoading = false;
      });
    },

    clearInfo() {
      this.brandForm.name = "";
      this.brandForm.grade = "";
      this.brandForm.id = null;
      this.supplierIds = "";
      this.suppliers = [];
    },
    submitBrand() {
      this.$refs.brandForm.validate((valid) => {
        if (valid) {
          this.addOrUpdateBrand();
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    // 上传
    uploadCustomFile(e) {
      var file = e.target.files[0];
      if (file.name.indexOf(".xls") > -1 || file.name.indexOf(".xlsx") > -1) {
        this.curCustomFile = file;
      } else {
        this.$message({
          type: "error",
          message: "只支持上传xls或xlsx格式的Excel文件",
        });
      }
    },
    // 下载文件
    uploadTemp() {
      var loading = this.$loading({
        text: "模板下载中...",
        background: "rgba(0, 0, 0, 0.3)",
      });
      uploadTemp()
        .then((res) => {
          console.log(res);
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: "text/csv;charset=utf-8;" }),
              sessionStorage.getItem("blob_filename") || "材料上传模板.xls"
            );
            loading.close();
            return;
          }
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {
            loading.close();
          }
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement("a");
            let _fileName =
              sessionStorage.getItem("blob_filename") || "材料上传模板.xls";
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          };
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem("blob_filename");
            loading.close();
          };
        })
        .catch((err) => {
          loading.close();
        });
    },
    // 发布
    issueTemp() {},

    // 跳转到品牌库详情
    toBrandDetail(row) {
      this.$router.push({
        path: "/supplier/brandDetail",
        query: {
          brandId: row.id,
          brandName: row.brandName,
          grade: row.grade,
          supplierNames: row.supplierNames,
        },
      });
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/busScopePage.scss";
.brand-container {
  .screen {
    padding-bottom: 10px;
  }
  .el-select {
    width: 100%;
  }
  .export-wrap {
    .u-dot {
      right: 100px;
    }
    > div {
      margin-bottom: 15px;
      width: 100%;
      > span {
        margin-right: 8px;
        white-space: nowrap;
      }
    }
    .u-mode-btn {
      color: $color-primary;
      cursor: pointer;
    }
  }
}
</style>
<style lang="scss">
@import "../../styles/busCommPage.scss";
.brand-container {
  .com-dialog .el-dialog__body {
    padding: 20px 30px;
  }

  .export-wrap {
    .el-select {
      width: 100%;
    }
    .el-radio {
      margin-right: 10px;
    }
    .el-radio__label {
      display: none;
    }
  }
}

.search_input {
  .el-input__inner {
    border: none;
  }
}
.search_p {
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid #efefef;
  color: #aaa;
}

.special-operate-wrap {
  button {
    display: block;
    padding: 0;
    margin-right: 0 !important;
    margin-left: 3px;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }
  .el-button + .el-button {
    margin-left: 3px;
  }
}
</style>