<template>
  <div :class="{'has-logo':showLogo}">
    <!-- 折叠按钮 -->
    <logo v-if="showLogo" :collapse="isCollapse" />
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu :default-active="activeMenu" :collapse="isCollapse" :background-color="variables.menuBg" :text-color="variables.menuText" :unique-opened="false"
        :active-text-color="variables.menuActiveText" :collapse-transition="false" mode="vertical">
        <sidebar-item v-for="route in permission_routes" :key="route.path" :item="route" :base-path="route.path" />
      </el-menu>
    </el-scrollbar>
    <!-- 公有云 -->
    <!-- czhui -->
    <!-- <img class="menu-bg" src="@/assets/img/home/menu_bg.png" alt="" v-if="!isCollapse">
    <div class="flex-cc link" @click="toPubilc">
      <span v-if="!isCollapse">进入公有云</span>
      <img class="link-img" src="@/assets/img/home/link.png" alt="" title="进入公有云" :style="isCollapse?'margin-left:54px;':''">
    </div> -->
  </div>
</template>

<script>
import store from '@/store'
import { mapGetters } from 'vuex'
import Logo from './Logo'
import SidebarItem from './SidebarItem'
import variables from '@/styles/variables.scss'
import { publicUrl } from '@/api/common'

export default {
  components: { SidebarItem, Logo },
  computed: {
    ...mapGetters(['sidebar', 'permission_routes']),
    // routes() {
    //   return this.$router.options.routes
    // },
    activeMenu() {
      const route = this.$route
      const { meta, path } = route
      // if set path, the sidebar will highlight the path you set
      if (meta.activeMenu) {
        return meta.activeMenu
      }
      return path
    },
    showLogo() {
      return this.$store.state.settings.sidebarLogo
    },
    variables() {
      return variables
    },
    isCollapse() {
      return !this.sidebar.opened
    }
  },
  methods: {
    // 进入公有云
    toPubilc() {
      const url = publicUrl()
      window.open(url + '?sysUuid=' + this.$store.state.user.sysUuid)
    }
  }
}
</script>
