<template>
  <div class="file-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="com-search2 mb-20">
        <el-input v-model="keyword" placeholder="请输入文件或文件夹名搜索" @keyup.enter.native="searchFun" />
        <i class="el-icon-search" @click="searchFun" />
      </div>
      <!-- 适用时间 -->
      <div class="flex-fs norm-type">
        <span class="s-text com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curDate === null }" @click="changeCurTime(null)">
              全部
            </li>
            <li :class="{ active: curDate === nearWeek }" @click="changeCurTime(1)">
              最近一周
            </li>
            <li :class="{ active: curDate === nearMonth }" @click="changeCurTime(2)">
              最近一月
            </li>
            <li :class="{ active: curDate === nearYear }" @click="changeCurTime(3)">
              最近一年
            </li>
          </ul>
        </div>
      </div>
      <!-- 文件类型 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">文件类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curType === null }" @click="changeCurType(null)">
              全部
            </li>
            <template v-if="fileTypes && fileTypes.length">
              <li v-for="(it, idx) in fileTypes" :key="idx" :class="{ active: curType === it }" @click="changeCurType(it)">
                {{ it }}
              </li>
            </template>
          </ul>
        </div>
      </div>

      <!-- 返回按钮 -->
      <div v-if="hasBack" class="back-btn flex-cc" @click="back">返回</div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="addFolder">
            <img src="@/assets/img/table/add.png" alt="" class="el-icon-search">新建文件夹
          </el-button>
          <el-button type="primary" class="flex-cc btn btn2" @click="uploadFolder">
            <img src="@/assets/img/v2.0/icons/导出.png" alt="" class="el-icon-search">上传
          </el-button>
          <el-button type="primary" class="flex-cc btn btn2" @click="allDownFolder">
            <img src="@/assets/img/v2.0/icons/导入2.png" alt="" class="el-icon-search">下载
          </el-button>
          <el-button class="flex-cc btn btn-del" @click="allDeleteFolder">
            <img src="@/assets/img/table/del.png" alt="" class="el-icon-search">删除
          </el-button>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" min-width="66px" />
          <el-table-column label="名称" min-width="160px">
            <template slot-scope="scope">
              <span v-if="scope.row.fileType == '文件夹'" class="t-color b-color cp" @click="toFileDetail(scope.row)">{{ scope.row.name }}</span>
              <span v-else class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="fileSize" min-width="100px" label="文档大小" />
          <el-table-column prop="fileType" min-width="100px" label="文档类型">
            <template slot-scope="scope">
              <img v-if="scope.row && scope.row.fileType" :title="scope.row.fileType" :src="fileIcom(scope.row.fileType)" alt="">
            </template>
          </el-table-column>
          <el-table-column label="文档来源" min-width="100px">
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.fileSource }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="updateUserName" label="操作人" min-width="100px" />
          <el-table-column prop="updateTime" label="操作时间" min-width="110px">
            <template slot-scope="scope">
              <span>{{ formatDate(scope.row.updateTime, "1") }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="130px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip v-if="scope.row.fileType != '文件夹'" effect="light" content="下载" placement="top">
                  <img class="icons" src="@/assets/img/v2.0/icons/download2.png" alt="" @click="downFolder(scope.row.id)">
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="deleteFolder(scope.row.id)">
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 添加文件夹弹窗 -->
    <el-dialog title="添加文件夹" :visible.sync="showAddFolder" width="460px" class="com-dialog my-dialog file-dialog" :close-on-click-modal="false">
      <div class="com-dialog com-checkbox">
        <div class="flex-c">
          <span class="label-text ipt-text"><span>*</span>文件夹</span>
          <el-input v-model="fileName" placeholder="请输入文件夹名称" />
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddFolder = false">取消</el-button>
        <el-button type="primary" @click="submitFolder">保存</el-button>
      </span>
    </el-dialog>

    <!-- 上传文件 -->
    <el-dialog title="上传文件" :visible.sync="showUploadFolder" width="460px" class="com-dialog my-dialog file-dialog" :close-on-click-modal="false" @closed="fileList = []">
      <el-progress v-show="progressFlag" :percentage="loadProgress" />
      <el-upload ref="upload" class="upload-demo" action="" :multiple="true" :on-change="handleChange" :file-list="fileList" :http-request="uploadRequest" :auto-upload="false">
        <div class="dialog-footer upload-footer">
          <el-button slot="trigger" class="flex-cc btn btn3">
            <i class="el-icon-plus" /> 选取文件
          </el-button>
          <el-button type="primary" class="flex-cc btn" :loading="uploadLoading" @click.stop="uploadRequest">确定</el-button>
        </div>
      </el-upload>
    </el-dialog>

    <confirm-dialog :is-show.sync="showDeleteDialog" content-text="确定要删除文件吗？" @confirmClick="confirmDelete" />
    <confirm-dialog title-text="下载" :is-show.sync="showDownDialog" content-text="确定要下载文件吗？" @confirmClick="confirmDown" />
  </div>
</template>

<script>
import {
  getFilePageList,
  addOrUpdateFolder,
  getFileTypeList,
  deleteFileOrFolder,
  downloadFile,
  uploadFile
} from '@/api/file'
import { formatDate } from '@/utils/common'
export default {
  name: 'CommPage',
  props: {
    sourceChannel: {
      type: Number,
      default: 2
    },
    hasBack: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      formatDate: formatDate,
      keyword: '',
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 1,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableData: [], // 表格数据
      tableLoading: false, // 表格loading

      fileTypes: [], // 文件类型列表
      curType: null, // 选中文件类型
      showAddFolder: false,
      fileName: '',
      showUploadFolder: false,
      curDate: null,

      fileList: [],
      uploadLoading: false,
      progressFlag: false,
      loadProgress: 0,

      showDeleteDialog: false,
      showDownDialog: false,
      isId: null,
      delType: 1, // 1、单条 2、多条

      pid: 0
    }
  },
  computed: {
    nearWeek() {
      // 最近一周
      var end = new Date()
      var year = end.getFullYear()
      var month = end.getMonth() + 1 // 0-11表示1-12月
      var day = end.getDate()
      var startTime = ''

      if (day - 7 <= 0) {
        // 如果在当月7日之前
        var startMonthDay = new Date(year, parseInt(month) - 1, 0).getDate() // 1周前所在月的总天数
        if (month - 1 <= 0) {
          // 如果在当年的1月份
          startTime =
            year -
            1 +
            '-' +
            12 +
            '-' +
            (31 - (7 - day)).toString().padStart(2, '0')
        } else {
          startTime =
            year +
            '-' +
            (month - 1).toString().padStart(2, '0') +
            '-' +
            (startMonthDay - (7 - day)).toString().padStart(2, '0')
        }
      } else {
        startTime =
          year +
          '-' +
          month.toString().padStart(2, '0') +
          '-' +
          (day - 7).toString().padStart(2, '0')
      }
      return startTime
    },
    nearMonth() {
      // 最近一个月
      var end = new Date()
      var year = end.getFullYear()
      var month = end.getMonth() + 1 // 0-11表示1-12月
      var day = end.getDate()
      var startTime = ''

      var endMonthDay = new Date(year, month, 0).getDate() // 当前月的总天数
      if (month - 1 <= 0) {
        // 如果是1月，年数往前推一年<br>
        startTime = year - 1 + '-' + 12 + '-' + day.toString().padStart(2, '0')
      } else {
        var startMonthDay = new Date(year, parseInt(month) - 1, 0).getDate()
        if (startMonthDay < day) {
          // 1个月前所在月的总天数小于现在的天日期
          if (day < endMonthDay) {
            // 当前天日期小于当前月总天数
            startTime =
              year +
              '-' +
              (month - 1).toString().padStart(2, '0') +
              '-' +
              (startMonthDay - (endMonthDay - day)).toString().padStart(2, '0')
          } else {
            startTime =
              year +
              '-' +
              (month - 1).toString().padStart(2, '0') +
              '-' +
              startMonthDay.toString().padStart(2, '0')
          }
        } else {
          startTime =
            year +
            '-' +
            (month - 1).toString().padStart(2, '0') +
            '-' +
            day.toString().padStart(2, '0')
        }
      }
      return startTime
    },
    nearYear() {
      // 最近一年
      var end = new Date()
      var year = end.getFullYear()
      var month = end.getMonth() + 1 // 0-11表示1-12月
      var day = end.getDate()
      var startTime =
        year -
        1 +
        '-' +
        month.toString().padStart(2, '0') +
        '-' +
        day.toString().padStart(2, '0')
      return startTime
    },
    uploadUrl() {
      return '/zx-web/file/uploadFile'
    },
    token() {
      return this.$store.getters.token
    }
  },
  mounted() {
    const id = this.$route.query.pid
    if (id) this.pid = id

    this.getFileTypeList() // 获取文件类型列表

    this.getFilePageList() // 获取文档列表
  },
  methods: {
    // 新建文件夹
    addFolder() {
      this.fileName = ''
      this.showAddFolder = true
    },
    // 提交文件夹
    submitFolder() {
      const data = {
        name: this.fileName,
        pid: this.pid, // 最上级传0
        sourceChannel: this.sourceChannel, // 0其他 1项目库 2材价库 3企业文档
        fileType: this.curType
      }
      addOrUpdateFolder(data).then(res => {
        if (res && res.code == '01') {
          this.showAddFolder = false
          this.searchFun()
        }
      })
    },
    // 批量下载文件
    allDownFolder() {
      this.delType = 2
      if (this.multipleSelection.length > 0) {
        for (let i = 0, l = this.multipleSelection.length; i < l; i++) {
          if (this.multipleSelection[i].fileType == '文件夹') {
            this.openAlert('暂不支持文件夹下载')
            return
          }
        }
        this.delType = 2
        this.showDownDialog = true
      } else {
        this.openAlert()
      }
    },
    // 下载当前文件
    downFolder(id) {
      this.delType = 1
      this.isId = id
      this.showDownDialog = true
    },
    // 确定下载
    confirmDown() {
      if (this.delType == 1) {
        // 单条
        const params = {
          id: this.isId
        }
        this.downloadFile(params)
      } else {
        // 多选
        for (let i = 0, l = this.multipleSelection.length; i < l; i++) {
          const params = {
            id: this.multipleSelection[i].id
          }
          this.downloadFile(params)
        }
      }
    },
    // 下载文件
    downloadFile(params) {
      downloadFile(params)
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res]),
              sessionStorage.getItem('blob_filename')
            )
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName = sessionStorage.getItem('blob_filename')
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => {})
    },
    // 批量删除文件
    allDeleteFolder() {
      this.delType = 2
      if (this.multipleSelection.length > 0) {
        this.showDeleteDialog = true
      } else {
        this.openAlert()
      }
    },
    // 删除当前文件
    deleteFolder(id) {
      this.delType = 1
      this.isId = id
      this.showDeleteDialog = true
    },
    // 确定删除
    confirmDelete() {
      const data = {
        ids: this.isId
      }
      if (this.delType == 2) {
        const arr = this.multipleSelection.map(it => {
          return it.id
        })
        data.ids = arr.join(',')
      }

      deleteFileOrFolder(data).then(res => {
        if (res && res.code == '01') {
          if (this.tableData.length == 1) {
            this.currentPage > 1 ? this.currentPage-- : (this.currentPage = 1)
          }
          this.getFilePageList()
          this.$message({
            type: 'success',
            message: '删除该文件成功！'
          })
        }
      })
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getFilePageList()
    },
    searchFun() {
      this.currentPage = 1
      this.getFilePageList()
    },
    getFilePageList() {
      const data = {
        pageSize: this.pageSize,
        currentPage: this.currentPage,
        sourceChannel: this.sourceChannel, // 0其他 1项目库 2材价库 3企业文档
        fileName: this.keyword,
        fileType: this.curType,
        fileTime: this.curDate,
        pid: this.pid
      }
      getFilePageList(data).then(res => {
        if (res && res.code == '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
          this.getFileTypeList() // 刷新文件类型列表
        }
      })
    },

    // 筛选文件类型
    changeCurType(type) {
      this.curType = type
      this.searchFun()
    },
    // 筛选时间
    changeCurTime(type) {
      if (type) {
        switch (type) {
          case 1:
            this.curDate = this.nearWeek
            break
          case 2:
            this.curDate = this.nearMonth
            break
          case 3:
            this.curDate = this.nearYear
        }
      } else {
        this.curDate = null
      }
      this.searchFun()
    },
    // 文件类型icon
    fileIcom(type) {
      const typeArr = [
        '文件夹',
        'xlsx',
        'txt',
        'docx',
        'pdf',
        'zip',
        'dwg',
        'zip',
        'jpg',
        'ppt',
        'xml'
      ]
      let icon = type
      if (typeArr.indexOf(type) == -1) {
        switch (type) {
          case 'doc':
            icon = 'docx'
            break
          case 'xls':
            icon = 'xlsx'
            break
          case 'pptx':
            icon = 'ppt'
            break
          case 'png':
          case 'bmp':
          case 'gif':
          case 'tif':
            icon = 'jpg'
            break
          default:
            icon = '文件'
        }
      }
      return require('@/assets/img/v2.0/icons/' + icon + '.png')
    },
    // 获取文件类型列表
    getFileTypeList() {
      getFileTypeList({
        // currentPage: 1,
        // pageSize: 999,
        sourceChannel: this.sourceChannel
      }).then(res => {
        if (res && res.code == '01') {
          this.fileTypes = res.body
        }
      })
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据操作'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      }).catch(() => {})
    },
    // 去文件夹详情
    toFileDetail(row) {
      let path = '/file/indexDetail'

      if (this.sourceChannel == 1) {
        path = '/file/projectDetail'
      } else if (this.sourceChannel == 3) {
        path = '/file/businessDetail'
      }

      this.$router.push({
        path,
        query: {
          pid: row.id
        }
      })
    },
    // 上传
    uploadFolder() {
      this.showUploadFolder = true
    },
    handleChange(file, fileList) {
      console.log('change', file, fileList)
      this.fileList = fileList
    },
    // 上传到服务器
    uploadRequest() {
      console.log('触发http-request', this.fileList)

      this.progressFlag = true // 显示进度条
      this.loadProgress = 0
      const interval = setInterval(() => {
        if (this.loadProgress >= 99) {
          clearInterval(interval)
          return
        }
        this.loadProgress += 1
      }, 50)

      this.uploadLoading = true

      var formData = new FormData()
      formData.append('sourceChannel', this.sourceChannel)
      formData.append('pid', this.pid)

      this.fileList.forEach(item => {
        formData.append('files', item.raw, item.raw.name)
      })
      console.log('上传中止', formData)

      uploadFile(formData)
        .then(res => {
          if (res && res.code == '01') {
            console.log('上传成功', res)

            this.progressFlag = false // 隐藏进度条
            this.loadProgress = 100

            this.searchFun()
            this.showUploadFolder = false
          }
          this.uploadLoading = false
        })
        .catch(() => {
          this.$message({
            type: 'error',
            message: '上传失败，请重试'
          })
        })
    },
    // 返回上一级
    back() {
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.file-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f6f6f6;

  .com-search2::v-deep .el-input__inner {
    border: 0;
  }

  .screen {
    padding: 20px 20px 5px 20px;
    background: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    .back-btn {
      width: 82px;
      height: 34px;
      font-size: 15px;
      border-radius: 5px;
      color: $color-danger;
      border: 1px solid;
      position: absolute;
      top: 140px;
      right: 150px;
      cursor: pointer;
    }

    .norm-type {
      margin-top: 10px;

      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }

      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }

        ul {
          margin-bottom: 10px;

          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;

            li {
              padding-top: 8px;
              padding-bottom: 8px;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;

            &.active {
              color: $color-minor;
            }

            &:hover {
              color: $color-minor;
            }
          }
        }
      }

      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 6px;

        .el-icon-arrow-right {
          font-size: 12px;
        }
      }

      .is-fold {
        max-height: 48px;
        overflow-y: hidden;
      }
    }
  }

  .sup-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
  }

  .file-dialog ::v-deep .el-dialog__body {
    text-align: left;
    padding: 0 20px 30px;
  }

  .file-dialog {
    .upload-demo {
      display: flex;
      flex-direction: column-reverse;
    }
    .upload-footer {
      margin: 20px auto 0;
      display: block;
      button {
        border-radius: 5px;
      }
    }
  }
}
</style>

<style lang="scss">
.file-container {
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}
</style>
