<template>
  <div class="index-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2 mt-20 mb-20">
          <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="searchVal" @keyup.enter.native="currentPage=1;getProjectPageList();" />
          <i class="el-icon-search" @click="currentPage=1;getProjectPageList();"></i>
        </div>
      </div>
      <!-- 价格取定期 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">价格取定期</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curTimeList && curTimeList.length > 0">
            <li :class="{active: curTime === null}" @click="changeCurTime(null)">全部</li>
            <li
              v-show="index<=7 || moreYear&&index>7"
              :class="{active: curTime == year}"
              v-for="(year, index) in curTimeList"
              :key="index"
              @click="changeCurTime(year)">
              {{year}}
            </li>
            <span class="more mb-10" v-if="curTimeList && curTimeList.length > 8" @click="moreYear = !moreYear">
              {{moreYear?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': moreYear}"></span>
            </span>
          </ul>
          <ul class="flex-cw all-list" v-if="curTimeItemList && curTimeItemList.length > 0 && curTime != null">
            <li :class="{active: curTimeItem === null}" @click="changeCurTimeItem(null)">全部</li>
            <li
              v-show="index<=7 || moreMonth&&index>7"
              :class="{active: curTimeItem == month}"
              v-for="(month, index) in curTimeItemList"
              :key="index"
              @click="changeCurTimeItem(month)">
              {{month}}月
            </li>
            <span class="more" v-if="curTimeItemList && curTimeItemList.length > 8" @click="moreMonth = !moreMonth">
              {{moreMonth?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': moreMonth}"></span>
            </span>
          </ul>
        </div>
      </div>
      <!-- 项目地点 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">项目地点</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curproList && curproList.length > 0">
            <li :class="{active: curPro === null}" @click="changeCurPro(null)">全部</li>
            <li
              v-show="index<=7 || morePro"
              :class="{active: curPro == pro}"
              v-for="(pro, index) in curproList"
              :key="index"
              @click="changeCurPro(pro)">
              {{pro}}
            </li>
            <span class="more mb-10" v-if="curproList && curproList.length > 8" @click="morePro = !morePro">
              {{morePro?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': morePro}"></span>
            </span>
          </ul>
          <ul class="flex-cw all-list" v-if="curCityList && curCityList.length > 0 && curPro != null">
            <li :class="{active: curCity === null}" @click="changeCurCity(null)">全部</li>
            <li
              v-show="index <= 7 || moreCity"
              :class="{active: curCity == item.name}"
              v-for="(item, index) in curCityList"
              :key="item.name"
              @click="changeCurCity(item.name)">
              {{item.name}}
            </li>
            <span class="more" v-if="curCityList && curCityList.length > 8" @click="moreCity = !moreCity">
              {{moreCity?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': moreCity}"></span>
            </span>
          </ul>
          <ul class="flex-cw all-list ml-10" v-if="curAreaList && curAreaList.length > 0 && curCity != null">
            <li :class="{active: curArea === null}" @click="changeCurArea(null)">全部</li>
            <li
              v-show="index <= 7 || moreArea"
              :class="{active: curArea == area}"
              v-for="(area, index) in curAreaList"
              :key="index"
              @click="changeCurArea(area)">
              {{area}}
            </li>
            <span class="more" v-if="curAreaList && curAreaList.length > 8" @click="moreArea = !moreArea">
              {{moreArea?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': moreArea}"></span>
            </span>
          </ul>
        </div>
      </div>
      <!-- 项目分类 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">项目分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curMajorList && curMajorList.length > 0">
            <li :class="{active: curMajor === null}" @click="changeCurMajor(null)">全部</li>
            <li
              v-show="index<=7 || moreMajor"
              :class="{active: curMajor == item}"
              v-for="(item, index) in curMajorList"
              :key="index"
              @click="changeCurMajor(item)">
              {{item}}
            </li>
            <span class="more mb-10" v-if="curMajorList && curMajorList.length > 8" @click="moreMajor = !moreMajor">
              {{moreMajor?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': moreMajor}"></span>
            </span>
          </ul>
          <ul class="flex-cw  all-list" v-if="curEngList && curEngList.length > 0 && curMajor != null">
            <li :class="{active: curEng === null}" @click="changeCurEng(null)">全部</li>
            <li
              v-show="index<=7 || moreEng"
              :class="{active: curEng == item.name}"
              v-for="(item, index) in curEngList"
              :key="index"
              @click="changeCurEng(item.name)">
              {{item.name}}
            </li>
            <span class="more" v-if="curEngList && curEngList.length > 8" @click="moreEng = !moreEng">
              {{moreEng?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': moreEng}"></span>
            </span>
          </ul>
          <ul class="flex-cw  all-list ml-10" v-if="curBuildList && curBuildList.length > 0 && curEng != null">
            <li :class="{active: curBuild === null}" @click="changeCurBuild(null)">全部</li>
            <li
              v-show="index<=7 || moreBuild"
              :class="{active: curBuild == item.name}"
              v-for="(item, index) in curBuildList"
              :key="index"
              @click="changeCurBuild(item.name)">
              {{item.name}}
            </li>
            <span class="more" v-if="curBuildList && curBuildList.length > 8" @click="moreBuild = !moreBuild">
              {{moreBuild?'收起':'更多'}}
              <span class="cp el-icon-arrow-right" :class="{'is-rotate': moreBuild}"></span>
            </span>
          </ul>
        </div>
      </div>
      <!-- 造价阶段 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">造价阶段</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: stepStatus === null}" @click="stepFilter(null)">全部</li>
            <li :class="{active: stepStatus === item.id}" @click="stepFilter(item.id)" v-for="item in stateList" :key="item.id">{{item.useName}}</li>
          </ul>
        </div>
      </div>
      <div class="more-sort" v-if="isFold">
        <!-- 计税方式 -->
        <div class="flex-fs custom-type">
          <span class="com-label-text">计税方式</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: shuiStatus === null}" @click="shuiFilter(null)">全部</li>
              <li :class="{active: shuiStatus === 1}" @click="shuiFilter(1)">增值税（一般计税方法）</li>
              <li :class="{active: shuiStatus === 2}" @click="shuiFilter(2)">增值税（简易计税方法）</li>
              <li :class="{active: shuiStatus === 3}" @click="shuiFilter(3)">增值税（营业税计税方法）</li>
            </ul>
          </div>
        </div>
        <!-- 总造价 -->
        <div class="flex-fs custom-type">
          <span class="com-label-text mt-5">总造价</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: allpriceStatus === null && !minNum && !maxNum}" @click="allPriceFilter(null)">全部</li>
              <li class="flex-c price-ipt">
                <el-input v-model="minNum" class="numipt" @input="checkprice1"></el-input>
                <div class="ipttext"> ~ </div>
                <el-input v-model="maxNum" class="numipt" @input="checkprice2"></el-input>
                <div class="ipttext">万元</div>
                <div class="ml-5 cp subnum" @click="allPriceFilter('filter')">确定</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 展开更多 -->
      <div class="show-more" @click="isFold = !isFold">
        <span>{{isFold?'收起':'展开'}}</span>
        <span class="cp el-icon-arrow-down" :class="{'is-rotate': isFold}"></span>
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap inquiry">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="setModel(true)">
            <img src="@/assets/img/table/sumbit_white.png" alt="" class="el-icon-search">设置典型
          </el-button>
          <el-button type="primary" class="flex-cc btn btn2" @click="setModel(false)">
            <img src="@/assets/img/table/cancel.png" alt="" class="el-icon-search">取消典型
          </el-button>
          <el-button class="flex-cc btn btn3" @click="exportFile">
            <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search">导出项目
          </el-button>
          <el-button class="flex-cc btn btn3" @click="compareItems">
            <img src="@/assets/img/icons/compare.png" alt="" class="el-icon-search">项目对比
          </el-button>
          <el-button class="flex-cc btn btn-del" @click="delItems">
            <img src="@/assets/img/icons/dels.png" alt="" class="el-icon-search">删除
          </el-button>
        </div>
        <div class="flex-c right-btns">
          <el-checkbox-group v-model="listFilter" class="flex-c">
            <el-checkbox :label="1" @change="changeFilter">典型工程</el-checkbox>
            <el-checkbox :label="2" @change="changeFilter">待完善信息</el-checkbox>
          </el-checkbox-group>
          <div @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting icons"></span>
            <span>列表设置</span>
          </div>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%;"
          :row-class-name="tableRowClassName"
          @filter-change="filterChange"
          @sort-change="handleSortChange"
          @selection-change="multipleSelection = $event">
          <el-table-column
            type="selection"
            width="66px">
          </el-table-column>
          <el-table-column
            width="260px"
            label="项目名称"
            v-if="checkedList.indexOf('项目名称') != -1">
            <template slot-scope="scope">
              <div class="flex-c">
                <p :title="scope.row.name" class="project-name r-hide cp p-color" @click="skipDetail(scope.row)">{{scope.row.name}}</p>
                <el-tooltip effect="light" content="典型" placement="top" class="ml-8" v-if="scope.row.isTypical">
                  <img src="@/assets/img/icons/project_stock/flag.png" alt="" class="ml-8" style="width:14px;">
                </el-tooltip>
                <div v-else style="width:20px;"></div>
                <el-tooltip effect="light" content="项目信息不完整，请补充" placement="top" class="ml-8" v-if="scope.row.warn">
                  <img src="@/assets/img/icons/yellow-tip.png" alt="" style="width:16px;">
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            width="175px"
            label="项目分类"
            v-if="checkedList.indexOf('项目分类') != -1">
            <template slot-scope="scope">
              {{reProjectType(scope.row)}}
              <!-- {{scope.row.specialtyType+'-'+scope.row.projectType+'-'+scope.row.engType}} -->
            </template>
          </el-table-column>
          <el-table-column
            label="造价阶段"
            min-width="100px"
            v-if="checkedList.indexOf('造价阶段') != -1">
            <template slot-scope="scope">
              <span v-if="scope.row.projectStageList && scope.row.projectStageList.length" class="flex-c">
                <template v-for="(it, idx) in scope.row.projectStageList">
                  <!-- <img class="stage-img" :key="it.stageId" :src="bindImg2(it.stageId)" v-if="scope.row.curIndex == idx">
                  <img class="stage-img" :key="it.stageId" :src="bindImg(it.stageId)" v-else @click="stageClick(scope.$index, idx)"> -->
                  <span class="stage-span style1" :key="it.stageId" v-if="scope.row.curIndex == idx">{{bindSpan(it.stageUseName)}}</span>
                  <span class="stage-span style2" :key="it.stageId" v-else @click="stageClick(scope.$index, idx)">{{bindSpan(it.stageUseName)}}</span>
                </template>

                <!-- <el-tooltip effect="light" placement="bottom" class="ml-8" popper-class="tooltip-class" v-if="scope.row.projectStageList && scope.row.projectStageList.length>1">
                  <img src="@/assets/img/table/census.png" alt="" class="ml-8" style="width:16px;height:16px;">
                  <div class="com-table-wrap tooltip-table" slot="content">
                    <el-table
                      :data="scope.row.projectStageList"
                      tooltip-effect="dark"
                      class="table-main"
                      style="width: 100%;"
                      cc
                      @row-click="rowClick($event)">
                      <el-table-column
                        width="80px"
                        label="造价阶段">
                        <template slot-scope="subscope">
                          <span class="blue">{{subscope.row.stageUseName}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        width="110px"
                        label="总造价（元）">
                        <template slot-scope="subscope">
                          <span class="orange">{{subscope.row.totalPrice || '--/--'}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="计算口径">
                        <template slot-scope="subscope">
                          <span class="t-color">{{subscope.row.computeCaliber || '--/--'}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="经济指标">
                        <template slot-scope="subscope">
                          <span class="t-color">{{subscope.row.econStd || '--/--'}}</span>
                        </template>
                      </el-table-column>
                    </el-table>
                  </div>
                </el-tooltip> -->
              </span>

            </template>
          </el-table-column>
          <el-table-column
            min-width="95px"
            label="价格取定期"
            v-if="checkedList.indexOf('价格取定期') != -1">
            <template slot-scope="scope">
              {{scope.row.projectStageList ? formatDate(scope.row.projectStageList[scope.row.index || 0].applicableDate,'4') : ''}}
            </template>
          </el-table-column>
          <el-table-column
            min-width="150px"
            label="项目地点"
            v-if="checkedList.indexOf('项目地点') != -1">
            <template slot-scope="scope">
              {{scope.row.province+scope.row.city+scope.row.area}}
            </template>
          </el-table-column>
          <el-table-column
            :sortable="true"
            min-width="140px"
            label="总造价（元）"
            v-if="checkedList.indexOf('总造价（元）') != -1">
            <template slot-scope="scope">
              <el-tooltip effect="light" content="未完成标准化校验" placement="top" v-if="scope.row.status > 0">
                <img class="icons cp" src="@/assets/img/table/check.png" alt="" @click="toCheck(scope.row)">
              </el-tooltip>
              <span v-else>{{scope.row.projectStageList && scope.row.projectStageList[scope.row.index || 0].totalPrice ? formatNumber(scope.row.projectStageList[scope.row.index || 0].totalPrice) : '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            :filter-multiple="false"
            column-key="data"
            :filters="filterStatus"
            label-class-name="labeltip"
            min-width="100px"
            v-if="checkedList.indexOf('计算口径') != -1">
              <template slot="header">
                <span class="cp flex-c">
                  <span>计算口径{{unitStatus ? '（'+unitStatus+'）' : ''}}</span>
                </span>
              </template>
            <template slot-scope="scope">
              <span>{{scope.row.projectStageList && scope.row.projectStageList[scope.row.index || 0].caliber ? formatNumber(scope.row.projectStageList[scope.row.index || 0].computeCaliber,true) : '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            :sortable="unitStatus?true:false"
            min-width="140px"
            label="经济指标"
            v-if="checkedList.indexOf('经济指标') != -1">
            <template slot-scope="scope">
              <el-tooltip effect="light" placement="top" v-if="bindWarnRes(scope.row)">
                <span slot="content">{{ getWarn(scope.row) }}</span>
                <span :class="'cp '+(scope.row.projectStageList[scope.row.index || 0].indicatorWarningRes.warningResult ? 'rightCol' : 'warnCol')" @click="warnInfo(scope.row)">{{bindEconstd(scope.row)}}</span>
              </el-tooltip>
              <span v-else>{{bindEconstd(scope.row) || '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            min-width="120px"
            label="更新时间"
            v-if="checkedList.indexOf('更新时间') != -1">
            <template slot-scope="scope">
              <span>{{scope.row.updateTime ? formatDate(scope.row.updateTime,1) : '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            min-width="100px"
            label="编制时间"
            v-if="checkedList.indexOf('编制时间') != -1">
            <template slot-scope="scope">
              <span>{{scope.row.projectStageList && scope.row.projectStageList[scope.row.index || 0].plaitTime ? formatDate(scope.row.projectStageList[scope.row.index || 0].plaitTime) : '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            min-width="110px"
            label="建设其他费"
            v-if="checkedList.indexOf('建设其他费') != -1">
            <template slot-scope="scope">
              <span>{{scope.row.otherPrice || '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="业主单位"
            v-if="checkedList.indexOf('业主单位') != -1">
            <template slot-scope="scope">
              <span>{{scope.row.owner || '--/--'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            min-width="110px"
            label="计税方式"
            v-if="checkedList.indexOf('计税方式') != -1">
            <template slot-scope="scope">
              <span>{{scope.row.projectStageList && scope.row.projectStageList[scope.row.index || 0].taxManner == 1 ? '增值税（一般计税方法）' : scope.row.projectStageList && scope.row.projectStageList[scope.row.index || 0].taxManner == 2 ? '增值税（简易计税方法）' : '增值税（营业税计税方法）'}}</span>
            </template>
          </el-table-column>
          <el-table-column
            label="操作"
            width="128px"
            v-if="checkedList.indexOf('操作') != -1">
            <template slot-scope="scope">
                <div class="icon-wrap">
                  <el-tooltip effect="light" content="可视化" placement="top">
                    <img class="icons" src="@/assets/img/table/toview.png" alt="" @click="toViewPage(scope.row)">
                  </el-tooltip>
                  <el-tooltip effect="light" content="导入新阶段" placement="top">
                    <img class="icons" src="@/assets/img/table/import.png" alt="" @click="toNewStage(scope.row)">
                  </el-tooltip>
                </div>
            </template>
          </el-table-column>
        </el-table>
        <div v-if="tableData.length == 0 && !tableLoading" class="no-data">
          当前无项目，请尽快<span class="cp" @click="$router.push('/project/importProject')">【导入项目】</span>，点击跳转
        </div>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>

      <!-- 列表设置弹窗 -->
      <el-dialog
        title="选择要显示的列表内容"
        :visible.sync="showSetListDialog"
        width="450px"
        class="com-dialog set-list"
        :close-on-click-modal="false"
        @close="setCheckedList">
        <div class="select-list com-checkbox">
          <el-checkbox-group v-model="checkedList">
            <el-checkbox
              class="flex-c"
              :label="item"
              v-for="(item, index) in checkList"
              :key="index"></el-checkbox>
          </el-checkbox-group>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="showSetListDialog = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 设置典型询问弹窗 -->
      <el-dialog
        title="操作提示"
        :visible.sync="showSetModelDialog"
        width="460px"
        class="com-dialog my-dialog"
        :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="">
        <div>{{ modelType ? '确定设置选中的为典型项目吗？' : '确定取消所选的典型项目吗？' }}</div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="setModelApi">确定</el-button>
        </span>
      </el-dialog>

      <!-- 删除项目弹窗 -->
      <el-dialog
        title="请选择删除类型"
        :visible.sync="showDelDialog"
        width="460px"
        class="com-dialog my-dialog"
        :close-on-click-modal="false">
        <div class="flex-c">
          <span class="mr-10">请选择删除类型:</span>
          <el-select v-model="deltype" placeholder="请选择">
            <el-option
              v-for="item in dellist"
              :key="item"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </div>
        <div class="flex-c" v-if="deltype == '阶段'">
          <span class="mr-10 mt-8">请选择删除阶段:</span>
          <el-checkbox-group v-model="delCheckList" class="flex-ccw checklists">
            <el-checkbox  v-for="item in stateList" :key="item.id" :label="item.id">{{item.useName}}</el-checkbox>
          </el-checkbox-group>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showDelDialog = false">取消</el-button>
          <el-button type="primary" @click="toDel" :disabled="deltype == '阶段' && delCheckList.length < 1">确定</el-button>
        </span>
      </el-dialog>

      <!-- 删除提示弹窗 -->
      <el-dialog
        title="操作提示"
        :visible.sync="showDelTip"
        width="460px"
        class="com-dialog my-dialog"
        :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="">
        <div>{{ deltype == '项目' ? '确定删除被选中的项目吗？' : '确定删除被选中的项目该阶段吗？' }}</div>
        <div class="red-tips">注：删除项目所有数据同时，会删除所有关联的材价！</div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="delModelApi" :style="disableBtn?'pointer-events: none;opacity:.6':''">确定<span v-if="delSecond>0">({{delSecond}})</span></el-button>
        </span>
      </el-dialog>

      <!-- 可视化提示弹窗 -->
      <el-dialog
        title="操作提示"
        :visible.sync="showViewTip"
        width="460px"
        class="com-dialog my-dialog"
        :close-on-click-modal="false">
        <img src="@/assets/img/dialog/confirm.png" alt="">
        <div class="red-tips">{{errmsg}}</div>
        <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="showViewTip = false">确定</el-button>
        </span>
      </el-dialog>

      <!-- 项目对比弹窗 -->
      <el-dialog
        :visible.sync="compareDialog"
        :close-on-click-modal="false"
        title="选择项目对比"
        width="885px"
        class="com-dialog">
        <div class="dialog-container">
          <div class="flex-c">
            <div class="com-search2">
              <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="keyword" @keyup.enter.native="currentPage2=1;getProjectStageList()" />
              <i class="el-icon-search" @click="currentPage2=1;getProjectStageList()"></i>
            </div>
            <div class="flex-c com-select">
              <div class="dialog-label">价格取定期</div>
              <div class="sel-time">
                <el-date-picker
                  v-model="projectDate"
                  type="month"
                  placeholder="年/月"
                  @change="currentPage2=1;getProjectStageList()">
                </el-date-picker>
              </div>
            </div>
            <div class="flex-c com-select small-select">
              <div class="dialog-label">项目地点</div>
              <el-select v-model="curPro2" placeholder="请选择省" class="mr-10" @change="changeProvince($event)">
                <el-option :value="null">请选择</el-option>
                <el-option
                  v-for="item in commonAreaList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.name">
                </el-option>
              </el-select>
              <el-select v-model="curCity2" placeholder="请选择市" class="mr-10" @change="changeCity()">
                <el-option :value="null">请选择</el-option>
                <el-option
                  v-for="item in commonAreaListItem"
                  :key="item.id"
                  :label="item.name"
                  :value="item.name">
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="flex-c pro-item">
            <div class="item" style="max-width:375px;">项目分类： <span>{{this.type}}</span></div>
            <div class="item">阶段： <span>{{this.state}}</span></div>
            <div class="item">计税方式： <span>{{this.taxManner == 1 ? '增值税（一般计税方法）' : this.taxManner == 2 ?  '增值税（简易计税方法)' : '增值税（营业税计税方法）'}}</span></div>
          </div>
          <!-- 弹窗表格 -->
          <div class="table-box" style="margin-bottom:60px;">
            <el-table
              ref="multipleTable"
              :data="tableData2"
              tooltip-effect="dark"
              v-loading="tableLoading2"
              class="table-main"
              height="350px"
              style="width: 100%;">
              <el-table-column
                label="项目名称"
                prop="name">
              </el-table-column>
              <el-table-column
                :sortable="true"
                :sort-method="sortAllprice2"
                label="总造价">
                <template slot-scope="scope">
                  {{formatNumber(scope.row.totalPrice)}}
                </template>
              </el-table-column>
              <el-table-column
                prop="computeCaliber">
                <template slot="header">
                  <span class="cp flex-c">
                    <span>计算口径</span>
                  </span>
                </template>
              </el-table-column>
              <el-table-column>
                <template slot="header">
                  <span class="cp flex-c">
                    <span>经济指标</span>
                  </span>
                </template>
                <template slot-scope="scope">
                  {{formatNumber(scope.row.econStd,true)}}
                </template>
              </el-table-column>
              <el-table-column
                label="操作">
                <template slot-scope="scope">
                  <span class="red" @click="addCompare(scope.$index,scope.row,false)" v-if="scope.row.compare">取消对比</span>
                  <span class="blue" @click="addCompare(scope.$index,scope.row,true)" v-else>+加入对比</span>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <!-- 底部分页与操作 -->
          <div class="dialog-bottom">
            <!-- 操作 -->
            <div class="flex-csb">
              <div class="added flex-c">
                <div style="width:104px;">已加入项目：</div>
                <div class="addedItem-box flex-cw">
                  <div v-for="(item,index) in addedList.slice(0,6)" :key="index" class="addedItem flex-csb mr-6 mb-5">
                    <p class="nowrap">{{item.name}}</p>
                    <img src="@/assets/img/table/del_gray.png" alt="" class="cp" @click="delitem(index,item.name)">
                  </div>
                </div>
              </div>
              <div class="clear" @click="clearAll">
                <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="">
                <span>清空数据</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 弹窗底部 -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="compareDialog = false">取消</el-button>
          <el-button type="primary" @click="toCompare">确定</el-button>
        </span>
      </el-dialog>

      <!-- 预警弹窗 -->
      <WarnDialog :tableWarnData="tableWarnData" :showWarnDialog="showWarnDialog" @closeDialog="showWarnDialog=false" />
    </div>
  </div>
</template>

<script>
import WarnDialog from "./components/warnDialog";

import {
  getAreaTree,
} from '@/api/common'
import {
  exportProjectPageList,
} from '@/api/project'
import {
  getProjectPageList,
  configTypical,
  delProjectInfo,
  getProjectStageList,
  queryProjectTypeTree,
  getProjectTimeRange,
} from '@/api/newProject'
import { formatDate} from '@/utils/common'
export default {
  name: 'newProject',
  components: {
    WarnDialog,
  },
  data() {
    return {
      formatDate: formatDate,
      currentPage: 1,                                 // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      searchVal: '',                                  // 搜索关键字
      curTimeList: [],                                // 价格取定期列表(年)
      curTimeItemList: [],                            // 价格取定期列表(月)
      curTime: null,                                  // 选择取定期时间(年)
      curTimeItem: null,                              // 选择取定期时间(月)
      timeData: [],                                   // 组装的年月数据
      moreYear: false,                                // 展开年
      moreMonth: false,                               // 展开月
      curproList: [],                                 // 项目地点列表(省)
      curCityList: [],                                // 项目地点列表(市)
      curAreaList: [],                                // 项目地点列表(区)
      areaData: [],                                   // 组装的地区数据
      curPro: null,                                   // 选择项目地点(省)
      curCity: null,                                  // 选择项目地点(市)
      curArea: null,                                  // 选择项目地点(区)
      morePro: false,                                 // 展开省
      moreCity: false,                                // 展开市
      moreArea: false,                                // 展开区
      moreMajor: false,                               // 展开专业
      moreEng: false,                                 // 展开工程
      moreBuild: false,                               // 展开建筑
      stepStatus: null,                               // 造价阶段
      curMajor: null,                                 // 选择的专业（项目分类）
      curBuild: null,                                 // 选择的建筑（项目分类）
      curEng: null,                                   // 选择的工程（项目分类）
      curProjectTypeList: [],                         // 项目分类列表
      curMajorList: [],                               // 专业分类列表
      curEngList: [],                                 // 工程分类列表
      curBuildList: [],                               // 建筑分类列表
      pricingStatus: null,                            // 选择计价方式
      shuiStatus: null,                               // 选择计税方式
      allpriceStatus: null,                           // 选择总造价方式
      minNum: '',                                     // 总造价筛选最小值
      maxNum: '',                                     // 总造价筛选最大值
      isFold: false,                                  // 折叠更多筛选
      tableLoading: true,                             // 表格loading
      filterStatus: [{text: 'm', value: 'm'},{text: '㎡', value: '㎡'}, {text: 'm³', value: 'm³'}, {text: '站', value: '站'}, {text: '个', value: '个'}, {text: '台', value: '台'}, {text: 't', value: 't'}, {text: '根', value: '根'}, {text: '正线公里', value: '正线公里'}, {text: '延长米', value: '延长米'}],
      unitStatus: null,                               // 计算口径单位
      tableData: [],                                  // 表格数据
      oldtableData: [],                               // 表格数据备份
      multipleSelection: [],                          // 已选中的表单项
      listFilter: [],                                 // 筛选表格数据（状态）
      checkedList:
      [
        '项目名称',
        '项目分类',
        '造价阶段',
        '价格取定期',
        '项目地点',
        '总造价（元）',
        '计算口径',
        '经济指标',
        '操作',
      ],                                              // 列表选中的设置项（默认显示项）
      checkList:
      [
        '项目名称',
        '项目分类',
        '造价阶段',
        '价格取定期',
        '项目地点',
        '总造价（元）',
        '计算口径',
        '经济指标',
        '操作',
        '更新时间',
        '编制时间',
        '建设其他费',
        '业主单位',
        '计税方式',
      ],                                              // 表头列表（所有项)
      showSetListDialog: false,                       // 显示列表设置弹窗
      modelIds: '',                                   // 设置典型id集合
      modelType: '',                                  // 设置/取消典型
      showSetModelDialog: false,                      // 设置典型询问弹窗
      delIis: [],                                     // 删除项目id集合
      showDelDialog: false,                           // 删除项目弹窗
      deltype: '',                                    // 删除类型
      dellist: ['项目','阶段'],                        // 删除可选类型
      delCheckList: [],                               // 删除阶段id集合
      showDelTip: false,                              // 删除提示弹窗
      delTimer: null,                                 // 删除提示定时器
      delSecond: 0,                                   // 倒计时秒数
      disableBtn: true,                               // 禁用按钮
      currentPage2: 1,                                 // 分页相关
      pageSize2: 10,
      totalCount2: 0,
      pageSizeList2: [10, 20, 30, 40, 50, 100],

      compareDialog: false,                           // 项目对比弹窗
      keyword: '',                                    // 项目对比弹窗搜索关键字
      projectDate:'',                                 // 价格取定期
      tableData2: [],                                 // 项目对比表格数据
      tableLoading2: false,                           // 表格loading
      commonAreaList: [],                             // 省列表
      commonAreaListItem: [],                         // 市列表
      curPro2: '',                                    // 选择的省
      curCity2: '',                                   // 选择的市
      addedList: [],                                  // 已添加的对比项目
      taxManner: '',                                  // 计税方式
      type: '',                                       // 分类
      state: '',                                      // 阶段
      stateId: '',                                    // 阶段id
      showViewTip: false,                             // 是否显示可视化弹窗
      errmsg: '',
      orderType: '',                                  // null默认 ascending升序 descending降序
      orderDataType: '',                              // 1总造价 2经济指标

      stageIndex: null,                               // 当前鼠标移入图标
      rowIndex: null,                                 // 当前鼠标移入图标当前行
      tableWarnData: '',                              // 预警弹窗数据
      showWarnDialog: false,                          // 是否显示预警弹窗
    }
  },
  created() {
    // 缓存的列表设置
    if (this.userId) {
      let localList = localStorage.getItem('project' + this.userId) || null
      if(localList) this.checkedList = JSON.parse(localList)
    }
  },
  mounted() {
    this.getMatApplicableTime()                       // 获取价格取定期
    this.getAreaTreeList()                            // 获取省市区
    this.getBuildList()                               // 获取项目分类

    // setTimeout(()=>{
      this.getProjectPageList()                       // 获取表格数据
    // },500)

    // 缓存的列表设置
    // let sessionList = sessionStorage.getItem('checkedList') || null
    // if(sessionList) this.checkedList = JSON.parse(sessionList)
  },
  computed: {
    userId() {
      return this.$store.getters.userId;
    },
    stateList() {  // 造价阶段列表
      return this.$store.state.project.stageList;
    },
  },
  methods: {
    bindImg(stageId) {
      return require("@/assets/img/step_0" + stageId + "_link.png")
    },
    bindImg2(stageId) {
      return require("@/assets/img/step_0" + stageId + ".png")
    },
    bindSpan(name) {
      return name.slice(0,1)
    },
    bindEconstd(item) {
      let str = item.projectStageList && item.projectStageList[item.index || 0].econStd ? this.formatNumber(item.projectStageList[item.index || 0].econStd,true) : ''
      return str
    },
    bindWarnRes(item) {
       return item.projectStageList && item.projectStageList[item.index || 0].indicatorWarningRes && item.projectStageList[item.index || 0].indicatorWarningRes.warningResult !== null ? true : false
    },
    iconOver(rowIndex, stageId) {
      // 移入
      console.log('移入');
      this.rowIndex = rowIndex;
      this.stageIndex = stageId;
    },
    iconOut() {
      // 移出
      console.log('移出');
      this.rowIndex = null;
      this.stageIndex = null;
    },
    getWarn(item) {
      let res = item.projectStageList[item.index || 0].indicatorWarningRes
      let econStd = this.formatNumber(res.calPrice)+res.unit+'/'+(item.caliberUnit || (res.econStd && res.econStd.split('/')[1] || ''))
      let str = res.warnModel + '预警(' + econStd + '),指标' + (res.warningResult ? '正常' : '异常') + ',可点击查看预警详情'
      return str
    },
    // 保存列表设置
    setCheckedList() {
      // sessionStorage.setItem('checkedList',JSON.stringify(this.checkedList))

      localStorage.setItem('project' + this.userId,  JSON.stringify(this.checkedList));
    },
    // 项目分类
    reProjectType(row) {
      let result = '';
      if (row) {
        if (row.specialtyType) result += row.specialtyType;
        if (row.projectType) result += ('-'+row.projectType);
        if (row.engType) result += ('-'+row.engType);
        if (!(row.specialtyType || row.projectType || row.engType)) result = '--/--'
      }
      return result;
    },

    // （多选）筛选表格
    changeFilter() {
      setTimeout(()=>{
        this.currentPage = 1
        this.getProjectPageList()
      },300)
    },

    // 跳转详情
    skipDetail(row) {
      let projectStageList = row.projectStageList || []
      let index = row.index || 0
      try {
        row['stageId'] = projectStageList[index].stageId
      } catch(err) {
        row['stageId'] = null
      }
      this.$store.commit('SET_PROJECT_VISIBLE', row)
      this.$router.push('/project/detail')
    },

    // 获取价格取定期
    getMatApplicableTime() {
      getProjectTimeRange().then(res=>{
        if(!res.body.endTime) return
        let startTime =  new Date(res.body.startTime)
        let endTime =  new Date(res.body.endTime)
        var y = startTime.getFullYear()
        var m = startTime.getMonth() + 1
        var y2 = endTime.getFullYear()
        var m2 = endTime.getMonth() + 1
        let time = {} // {年：[月]}
        let years = []
        for (let i = y2; i >= y; i--) {
          let timearr = []
          years.push(i)
          if(i == y){
            let month = 12
            if(y == y2) month = m2
            for (let j = month; j >= m; j--) {
              timearr.push(j)
            }
          } else if (i == y2) {
            for (let j = m2; j >= 1; j--) {
              timearr.push(j)
            }
          } else {
            for (let j = 12; j >= 1; j--) {
              timearr.push(j)
            }
          }
          time[i] = timearr
        }
        this.timeData = time  // 组装的年月数据
        this.curTimeList = years  // 所有年
      })
    },

    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year //  选中的年
      this.curTimeItemList = this.timeData[year]  // 月数组
      this.curTimeItem = null
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 获取地区（省，市，区）
    getAreaTreeList() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.commonAreaList = res.body
          let areaData = [] //  [{省：[{市：[区]}]}]
          let proList = []
          res.body.forEach(item=>{
            proList.push(item.name)
            let cityarr = []
            if(item.sub)item.sub.forEach(city=>{
              let areaarr = []
              if(city.sub)city.sub.forEach(area=>{
                areaarr.push(area.name)
              })
              let obj = {}
              obj.name = city.name
              obj.sub = areaarr
              cityarr.push(obj)
            })
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.curArea = null
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.curCityList.forEach(item=>{
        if(item.name == city) this.curAreaList = item.sub
      })
      this.curArea = null
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 项目地点（改区）
    changeCurArea(area) {
      this.curArea = area
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 获取项目分类
    getBuildList() {
      var formData = new FormData()
      formData.append('type', 1)
      queryProjectTypeTree(formData).then(res => {
        if(res.code == '01') {
          this.curProjectTypeList = res.body

          let curMajorList = []
          this.curProjectTypeList.forEach(item=>{
            curMajorList.push(item.name)
          })
          this.curMajorList = curMajorList
        }
      })
    },

    // 筛选专业分类
    changeCurMajor(type) {
      this.curMajor = type
      this.curProjectTypeList.forEach(item=>{
        if(item.name == type) this.curEngList = item.subs
        this.curEng = null
        this.curBuild = null
      })
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 筛选工程分类
    changeCurEng(type) {
      this.curEng = type
      this.curProjectTypeList.forEach(item=>{
        if(item.name == this.curMajor) item.subs.forEach(item2=>{
          if(item2.name == type)  this.curBuildList = item2.subs
          this.curBuild = null
        })
      })
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 筛选建筑分类
    changeCurBuild(type) {
      this.curBuild = type
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 筛选造价阶段
    stepFilter(step) {
      this.stepStatus = step
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 筛选计税方式
    shuiFilter(type) {
      this.shuiStatus = type
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 总造价
    allPriceFilter(type) {
      if(type === null) {
        this.allpriceStatus = type
        this.minNum = ''
        this.maxNum = ''
      } else {
        if(this.maxNum && +this.minNum > +this.maxNum) {
          this.$message({
            type: 'error',
            message: '最小金额不可大于最大金额'
          })
          return
        }
      }
      this.currentPage = 1
      this.getProjectPageList()
    },

    // 总造价输入限制（保留两位小数的非负数值）
    checkprice1(e){
        // 清除"数字"和"."以外的字符
        this.minNum = this.minNum.replace(/[^\d.]/g, "")
        // 验证第一个字符是数字而不是字符
        this.minNum = this.minNum.replace(/^\./g, "")
        // 只保留第一个.清除多余的
        this.minNum = this.minNum.replace(/\.{2,}/g, ".")
        this.minNum = this.minNum.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".")
        // 只能输入两个小数
        this.minNum = this.minNum.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
    },

    // 总造价输入限制（保留两位小数的非负数值）
    checkprice2(e){
        // 清除"数字"和"."以外的字符
        this.maxNum = this.maxNum.replace(/[^\d.]/g, "")
        // 验证第一个字符是数字而不是字符
        this.maxNum = this.maxNum.replace(/^\./g, "")
        // 只保留第一个.清除多余的
        this.maxNum = this.maxNum.replace(/\.{2,}/g, ".")
        this.maxNum = this.maxNum.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".")
        // 只能输入两个小数
        this.maxNum = this.maxNum.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
    },

    // 查看预警弹窗
    warnInfo(item) {
      let data = item.projectStageList && item.projectStageList[item.index || 0] || ''
      let res = data && data.indicatorWarningRes || ''
      if(!res) return
      this.showWarnDialog = true
      res.econStd = data.econStd
      res.caliberUnit = data.caliberUnit
      this.tableWarnData = res
    },

    // 获取表格数据
    getProjectPageList() {
      this.tableLoading = true
      let month = this.curTimeItem ? this.curTimeItem-1 : null
      let applicableDate = this.curTime ? new Date(this.curTime,month) : null
      let projectType = this.curMajor ? this.curMajor + (this.curEng||'') + (this.curBuild||'') : null
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        applicableDate: applicableDate,
        area: this.curArea,
        caliberUnit: this.unitStatus,
        city: this.curCity,
        endPrice: this.maxNum*10000 || null,
        keyword: this.searchVal || null,
        specialtyType: this.curMajor,
        engType: this.curBuild,
        projectType: this.curEng,
        province: this.curPro,
        stageId: this.stepStatus,
        startPrice: this.minNum*10000 || null,
        taxManner: this.shuiStatus,
        timeUnit: this.curTimeItem ? 'month' : this.curTime ? 'year' : null,
        isTypical: this.listFilter.indexOf(1) > -1 ? true : null,
        isWarn: this.listFilter.indexOf(2) > -1 ? true : null,
        warning: 1, // 预警(仅此处加)
        engineering: false, // 大项目
      }

      getProjectPageList(data).then(res => {
        this.tableLoading = false
        if (res.code == '01') {
          this.tableData = res.body.list
          this.oldtableData = res.body.list
          this.totalCount = res.body.totalCount
          setTimeout(()=>{
            if(this.orderDataType == 1) {
              if(this.orderType == 'ascending') this.handleSortChange(null,'ascending','总造价（元）')
              if(this.orderType == 'descending') this.handleSortChange(null,'descending','总造价（元）')
            } else if(this.orderDataType == 2) {
              if(this.orderType == 'ascending') this.handleSortChange(null,'ascending','经济指标')
              if(this.orderType == 'descending') this.handleSortChange(null,'descending','经济指标')
            }
          },100)
        }else{
          this.$message({
            type: 'error',
            message: res.message || '出错了'
          })
        }
      }).catch(err => {
        this.tableLoading = false
        this.$message({
          type: 'error',
          message: err.message || '出错了'
        })
      })
    },
    // 切换造价阶段 new
    stageClick(index, idx) {
      this.$set(this.tableData[index], 'index', idx);
      this.$set(this.tableData[index], 'curIndex', idx);
    },
    // 切换造价阶段
    rowClick( row ) {
      let tableData = this.tableData
      tableData.forEach(item=>{
        if(item.name == row.name) item.index = row.index
      })
      this.tableData = JSON.parse(JSON.stringify(this.tableData))
      // this.$set( this.tableData[rowIndex], 'index', row.index);
    },
    // 把每一行的索引放进row
    tableRowClassName({ row }) {
      if (!row.curIndex && row.projectStageList && row.projectStageList.length) {
        row.curIndex = 0;
      }
    },

    // 筛选表头计算口径单位
    filterChange(filters){
      try {
        this.unitStatus = filters.data[0]
        this.getProjectPageList()
      } catch{}
    },

    // 总造价排序（废弃）
    sortAllprice(a, b) {
      try{
        let val1 = a.projectStageList[a.index || 0].totalPrice || 0
        let val2 = b.projectStageList[a.index || 0].totalPrice || 0
        if(val1 > val2) {
          return 1
        }else if(val1 < val2){
          return -1
        }else{
          return 0
        }
      }catch{}
    },
    // 总造价手动排序
    handleSortChange(column,order,label) {
      if(this.tableData.length < 1) return
      let labelName = column && column.column.label || label
      let orderType = column && column.order || order
      let arr1 = [],arr2 = []
      if(labelName === '总造价（元）') {
        this.orderDataType = 1
        for(let i = 0; i < this.tableData.length; i++) {
          let item = this.tableData[i]
          if(!item.projectStageList || !item.projectStageList[item.index || 0].totalPrice) arr1.push(item)
          else arr2.push(item)
        }
        arr2 = arr2.sort((a,b) =>{
          return a.projectStageList[a.index || 0].totalPrice - b.projectStageList[b.index || 0].totalPrice
        })
        if(orderType === 'ascending') { // 升序
          this.orderType = 'ascending'
          this.tableData = arr2.concat(arr1)
        } else if(orderType === 'descending') { // 降序
          this.orderType = 'descending'
          this.tableData = arr2.reverse().concat(arr1)
        } else { // null 不排序
          this.orderType = null
          this.tableData = this.oldtableData
        }
      } else if(labelName === '经济指标'){
        this.orderDataType = 2
        for(let i = 0; i < this.tableData.length; i++) {
          let item = this.tableData[i]
          if(!item.projectStageList || !item.projectStageList[item.index || 0].econStd) arr1.push(item)
          else arr2.push(item)
        }
        arr2 = arr2.sort((a,b) =>{
          return a.projectStageList[a.index || 0].econStd.split('元')[0] - b.projectStageList[b.index || 0].econStd.split('元')[0]
        })
        if(orderType === 'ascending') { // 升序
          this.orderType = 'ascending'
          this.tableData = arr2.concat(arr1)
        } else if(orderType === 'descending') { // 降序
          this.orderType = 'descending'
          this.tableData = arr2.reverse().concat(arr1)
          console.log(arr2.reverse().concat(arr1));
          console.log(this.tableData);
        } else { // null 不排序
          this.orderType = null
          this.tableData = this.oldtableData
        }
      }
    },

    // 经济指标排序(废弃)
    sortEconStd(a, b) {
      try{
        let val1 = parseFloat(a.projectStageList[a.index || 0].econStd) || 0
        let val2 = parseFloat(b.projectStageList[a.index || 0].econStd) || 0
        if(val1 && val2) {
          if(val1 > val2) {
            return 1
          }else {
            return -1
          }
        } else {
          return 0
        }
      }catch{}
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getProjectPageList()
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据操作'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 设置/取消典型
    setModel(type) {
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].projectId)
        }
        this.modelIds = ids.join()
        this.modelType = type
        this.showSetModelDialog = true
      } else {
        this.openAlert()
      }
    },

    // 设置典型接口
    setModelApi() {
      var formdata = new FormData()
      formdata.append('projectIds',this.modelIds)
      formdata.append('isTypical',this.modelType)
      configTypical(formdata).then(res=>{
        this.showSetModelDialog = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message || '设置成功'
          })
          this.getProjectPageList()
        }else{
          this.$message({
            type: 'error',
            message: res.message || '设置失败'
          })
        }
      }).catch(err => {
        this.tableLoading = false
        this.$message({
          type: 'error',
          message: err.message || '设置失败'
        })
      })
    },

    // 删除项目
    delItems() {
      if (this.multipleSelection.length > 0) {
        let delIis = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          delIis.push(this.multipleSelection[i].projectId)
        }
        this.delIis = delIis
        this.showDelDialog = true
      } else {
        this.openAlert()
      }
    },

    // 删除提示弹窗
    toDel() {
      if(!this.deltype) {
        this.$message({
            type: 'error',
            message: '请选择删除类型'
          })
        return
      }
      this.showDelDialog=false
      this.showDelTip=true
      this.delSecond = 3
      this.disableBtn = true
      this.delTimer = setInterval(()=>{
        this.delSecond--
        if(this.delSecond==0) {
          clearInterval(this.delTimer)
          this.disableBtn = false
        }
      },1000)
    },

    // 删除项目接口
    delModelApi() {
      let stageIds = null
      if(this.deltype == '阶段') {
        stageIds = this.delCheckList
      }
      let data = {
        projectIds: this.delIis,
        stageIds: stageIds
      }
      delProjectInfo(data).then(res=>{
        this.showDelTip = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message || '删除成功'
          })
          this.delCheckList = []
          this.getProjectPageList()
        }else{
          this.$message({
            type: 'error',
            message: res.message || '删除失败'
          })
        }
      }).catch(err => {
        this.tableLoading = false
        this.$message({
          type: 'error',
          message: err.message || '删除失败'
        })
      })
    },

    // 切换省份
    changeProvince(name) {
      if(name === null) {
        this.curPro2 = ''
        this.curCity2 = ''
        this.commonAreaListItem = []
        this.currentPage2 = 1
        this.getProjectStageList()
        return
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub
          this.curCity2 = this.commonAreaListItem[0].name
          this.currentPage2 = 1
          this.getProjectStageList()
        }
      }
    },

    // 切换城市
    changeCity() {
      this.currentPage2 = 1
      this.getProjectStageList()
    },

    // 切换分页2
    handleCurrentChange2(val) {
      this.currentPage2 = val
      this.getProjectStageList()
    },

    // 导入新阶段
    toNewStage(item) {
      console.log(item);
      this.$router.push({
        path: '/project/importProject',
        query: {
          projectId: item.projectId,
          projectStageId: item.projectStageList[item.index || 0].projectStageId,
          types: 3,
        }
      })
    },

    // 项目对比
    compareItems() {
      // 重置
      this.keyword = ''
      this.projectDate = ''
      this.curPro2 = ''
      this.curCity2 = ''
      this.addedList = []
      this.taxManner = ''
      this.type = ''
      this.state = ''
      this.stateId = ''

      let hasdata = true, hasMoney = true
      if (this.multipleSelection.length > 0 ) {
        if (this.multipleSelection.length > 6 ) {
          this.$message({
            type: 'error',
            message: '最多只能选六条数据操作'
          })
          return
        }
        for(var i = 0; i < this.multipleSelection.length; i++) {
          if(!this.multipleSelection[i].projectStageList) {
            hasdata = false
          }
          try{
            console.log(this.multipleSelection)
            if(this.multipleSelection[i].projectStageList[this.multipleSelection[i].index || 0].schedule != 4) hasMoney = false
          }catch{}
        }
        // 无造价数据
        if(!hasdata) {
          this.$message({
            type: 'error',
            message: '所选项目阶段无造价数据，无法加入对比，请先上传文件！'
          })
          return
        }
        // 无阶段金额
        if(!hasMoney) {
          this.$message({
            type: 'error',
            message: '有项目阶段金额未通过标准化校验，无法加入对比，请重新标准化校验！'
          })
          return
        }

        let taxManner = this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].taxManner
        let type = this.multipleSelection[0].specialtyType + this.multipleSelection[0].projectType + this.multipleSelection[0].engType
        let state = this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].stageUseName
        let stateId = this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].stageId

        let computeCaliberAll = this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].computeCaliber;
        let computeCaliber = computeCaliberAll ? computeCaliberAll.replace(/[\d.,]/g,"") : computeCaliberAll;

        let ispass = this.multipleSelection.every((item) => {
          return item.projectStageList[item.index || 0].taxManner == taxManner
        })
        if (!ispass || !taxManner) {
          this.$message({
            type: 'error',
            message: '请选择相同计税方式'
          })
          return
        }
        let ispass2 = this.multipleSelection.every(item => {
          return (item.specialtyType + item.projectType + item.engType) == type
        })
        if (!ispass2) {
          this.$message({
            type: 'error',
            message: '请选择同行业、同项目阶段对比'
          })
          return
        }
        let ispass3 = this.multipleSelection.every(item => {
          return (item.projectStageList[item.index || 0].stageUseName) == state
        })
        if (!ispass3) {
          this.$message({
            type: 'error',
            message: '请选择同行业、同项目阶段对比'
          })
          return
        }
        let ispass4 = this.multipleSelection.every(item => {
          return (item.projectStageList[item.index || 0].computeCaliber.replace(/[\d.,]/g,"")) == computeCaliber
        })
        if (!ispass4) {
          this.$message({
            type: 'error',
            message: '请选择相同的计算口径单位对比'
          })
          return
        }
        this.taxManner = taxManner || ''
        this.type = (this.multipleSelection[0].specialtyType +'-'+ this.multipleSelection[0].projectType +'-'+ this.multipleSelection[0].engType) || ''
        this.state = state || ''
        this.stateId = stateId || ''
      } else {
        this.$message({
          type: 'error',
          message: '请至少选择一条数据操作'
        })
        return
      }

      this.compareDialog = true
      this.multipleSelection.forEach(item => {
        this.addedList.push(item.projectStageList[item.index || 0])
      })
      this.getProjectStageList()
    },

    // 总造价排序(对比弹窗)
    sortAllprice2(a, b) {
      return a.totalPrice - b.totalPrice;
    },

    // 获取项目阶段列表
    getProjectStageList() {
      let type = this.type.split('-')
      let stageId = this.stateId || null
      let data = {
        currentPage: null,
        pageSize: null,
        applicableDate: this.projectDate || null,
        area: null,
        city: this.curCity2 || null,
        engType: type[2] || null,
        keyword: this.keyword || null,
        projectType: type[1] || null,
        province: this.curPro2 ||null,
        specialtyType: type[0] || null,
        stageId: stageId,
        taxManner: this.taxManner,
        timeUnit: this.projectDate ? 'month' : null,
        unit: this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].caliberUnit
      }
      getProjectStageList(data).then(res => {
        if (res.code == '01') {
          this.tableData2 = res.body.list
          this.totalCount2 = res.body.totalCount

          // 是否已在对比中
          let nameArr = []
          this.addedList.forEach(item=>{
            nameArr.push(item.name)
          })
          this.tableData2.forEach(item=>{
            if(nameArr.indexOf(item.name) > -1) {
              item.compare = true
            } else {
              item.compare = false
            }
          })
        }else{
          this.$message({
            type: 'error',
            message: res.message || '出错了'
          })
        }
      }).catch(err => {
        this.$message({
          type: 'error',
          message: err.message || '出错了'
        })
      })
    },

    // 加入项目对比
    addCompare(index,item,isAdd) {
      if(isAdd) { // 加入对比
        if(this.addedList.length === 6) {
          this.$message({
            type: 'error',
            message: '最多对比6个项目'
          })
          return
        }
        if(this.addedList.length > 0 && this.addedList[0].caliberUnit != item.caliberUnit) {
          this.$message({
            type: 'error',
            message: '请选择相同的计算口径单位对比'
          })
          return
        }
        this.addedList.push(item)
      } else {  //  取消对比
        this.addedList.forEach((items,idx)=>{
          if(items.name == item.name) this.addedList.splice(idx,1)
        })
      }
      this.tableData2[index].compare = !this.tableData2[index].compare
      this.tableData2 = JSON.parse(JSON.stringify(this.tableData2))
    },

    // 清除对比项
    clearAll() {
      this.addedList = []
      this.tableData2.forEach(item => {
        item.compare = false
      })
      this.tableData2 = JSON.parse(JSON.stringify(this.tableData2))
    },

    // 删除对比项
    delitem(index,name) {
      this.addedList.splice(index,1)
      this.tableData2.forEach((item,index2)=>{
        if(item.name == name) {
          this.tableData2[index2].compare = false
        }
      })
      this.tableData2 = JSON.parse(JSON.stringify(this.tableData2))
    },

    // 确定去对比
    toCompare() {
      if(this.addedList.length < 2) {
        this.$message({
          type: 'error',
          message: '请至少选择两个项目进行对比！'
        })
        return
      }
      let projectParams = []
      this.addedList.forEach(item => {
        if(item.projectStageId)projectParams.push(item)
      })
      let params = {
        projectParams: projectParams,  // 项目阶段数据数组
        stageId: this.stateId,      // 阶段id
        stageUseName: this.state, // 阶段名
        specialtyType: this.type.split('-')[0],  // 项目分类1
        projectType: this.type.split('-')[1],  // 项目分类2
        engType: this.type.split('-')[2],  // 项目分类3
        taxManner: this.taxManner,    // 计税：1：增值税（一般计税方法），2：增值税（简易计税方法),3:增值税（营业税计税方法）
      }
      this.$store.commit('SET_PROJECT_COMPARE', params)
      this.$router.push('/project/compareProject')
    },

    // 可视化
    toViewPage(item) {
      if(!item.projectStageList || item.projectStageList[item.index || 0].schedule != 4) {
        this.errmsg = '当前项目无造价数据无法可视化请先上传造价数据！'
        this.showViewTip = true
        return
      }

      try {
        item['stageId'] = item.projectStageList[item.index || 0].stageId
      } catch(err) {
        item['stageId'] = null
      }
      item.projectStageList = [].concat(item.projectStageList[item.index || 0])
      this.$store.commit('SET_PROJECT_VISIBLE', item)
      this.$router.push('/project/projectVisible')
    },

    // 导出
    exportFile() {
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].projectId)
        }
      } else {
        this.openAlert()
        return
      }
      var data = {
        req: ids
      }
      this.$confirm('确定导出当前勾选的项目?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        exportProjectPageList(data).then(res => {
          // ie11文件下载兼容
          if(navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(new Blob([res], { type: 'text/csv;charset=utf-8;' }), sessionStorage.getItem('blob_filename') || '项目.xls')
            return
          }
          let blob = res;
          // 导出excel
          const fileReader = new FileReader();
          try {
            fileReader.readAsDataURL(blob);
          } catch (err) {

          }
          // 读取文件成功
          fileReader.onload = (event) => {
            let a = document.createElement('a');
            let _fileName = sessionStorage.getItem('blob_filename') || '项目.xls';
            a.download = _fileName;
            a.href = event.target.result;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = (event) => {
            sessionStorage.removeItem('blob_filename')
          }
        }).catch(err => {

        })
      })
    },

    // 去标准化校验
    toCheck(item) {
      let data = item.projectStageList[item.index || 0]
      this.$router.push({
        path: '/project/importProject',
        query: {
          projectId: data.projectId,
          projectStageId: data.projectStageId,
          stageId: data.stageId,
          types: 1
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/variables.scss';
  .index-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #F6F6F6;
    .screen{
      padding: 0 21px 5px;
      background: #ffffff;
      >div{
        min-height: 39px;
      }
      .top{
        border-top: 1px solid #F6F6F6;
      }
      .more-sort {
        // margin-top: 30px;
      }
      .show-more{
        margin-top: 10px;
        text-align: center;
        >span {
          cursor: pointer;
        }
        .el-icon-arrow-down,.el-icon-arrow-right {
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          &.is-rotate {
            transform: rotate(180deg);
          }
        }
      }
      .cycle-wrap {
        padding: 20px;
        > span {
          text-align: right;
          margin-right: 10px;
          min-width: 70px;
          font-weight: 400;
          white-space: nowrap;
        }
        .el-select {
          input{
            width: 281px;
            height: 36px;
          }
        }
      }
      .custom-type,
      .norm-type {
        .price-ipt {
          &:hover {
            color: #666 !important;
          }
        }
        .ipttext {
          text-align: center;
          min-width: 40px;
        }
        .subnum {
          min-width: 30px;
          color: $color-primary;
        }
        .more{
          color: $color-primary;
          cursor: pointer;
          font-size: 12px;
        }
        > span {
          margin-right: 15px;
          white-space: nowrap;
          min-width: 72px;
        }
        .t-wrap {
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
          .no-item {
            margin-bottom: 18px;
            color: $color-minor;
            font-size: 14px;
          }
          ul {
            margin-bottom: 10px;
            &.all-list {
              padding: 5px 12px;
              background: #F3F3F4;
              box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
              border-radius: 5px;
              li {
                padding-top: 8px;
                padding-bottom: 8px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            li {
              padding-bottom: 8px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
        .el-icon-arrow-up,.el-icon-arrow-down,.el-icon-arrow-right {
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          &.is-rotate {
            transform: rotate(180deg);
          }
        }
        .is-fold {
          max-height: 50px;
          overflow-y: hidden;
        }
      }
    }
    // 表格
    .detail-table{
      margin-top: 18px;
      padding-bottom: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #ffffff;
      .inquiry{
        background: #FCFCFD;
        flex-wrap: wrap;
        .right-btns{
          color: #333333;
          font-size: 16px;
          >div{
            cursor: pointer;
            margin-left: 31px;
            font-family: 'mainfont';
            white-space: nowrap;
            .icons{
              margin-right: 4px;
            }
            .imgs{
              width: 14px;
              height: 14px;
              margin-right: 6px;
              margin-left: 16px;
            }
          }
        }
        .tips{
          width: 23px;
          height: 23px;
          margin: 0 20px 6px 8px;
        }
        .btn{
          width: 112px;
          height: 34px;
          color: #ffffff !important;
          border-radius: 5px;
          font-size: 15px;
          font-family: 'mainfont';
          font-weight: 500;
          &:hover{
            border: 1px solid;
          }
          .el-icon-search{
            margin-right: 5px;
          }
        }
        .btn2{
          background: $color-minor;
          border-color: $color-minor;
          box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        }
        .btn3{
          color: $color-primary !important;
          border-color: #3699FF !important;
          &:hover{
            background: #ffffff !important;
            box-shadow: 0px 1px 4px 0px #3699FF;
          }
        }
        .btn-del{
          width: 82px;
          color: #F13A3F !important;
          border-color: #F13A3F;
          &:hover{
            box-shadow: 0px 1px 4px 0px #F13A3F;
            background: #ffffff !important;
          }
        }
      }
      .table-box{
        .no-data {
          text-align: center;
          padding: 30px;
          >span {
            color: $color-danger;
          }
        }
        padding-bottom: 30px;
        position: relative;
        .project-name {
          width: 160px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

        }
        .t-color {
          font-weight: 400;
          color: $table-color;
        }
        .wrap {
          width: 166px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .mode-name {
            cursor: pointer;
            color: $color-primary;
              text-align: left;
            >div{
              min-width: 100px;
            }
        }
        .faster-img{
          width: 18px;
          height: 18px;
          margin-left: 5px;
        }
        .files{
          max-width: 65%;
          min-width: 380px;
          .file-box{
            width: 100%;
            flex-wrap: wrap;
            .fileitem{
              margin-right: 6px;
              margin-bottom: 4px;
              .file-img{
                width: 21px;
                height: 20px;
              }
              .file-name{
                margin: 0 25px 0 7px;
                width: 81px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 12px;
                font-family: 'mainfont';
              }
            }
          }
        }
      }

      .stage-img {
        width: 18px;
        margin-right: 5px;
        cursor: pointer;
      }
      .stage-span {
        padding: 4px 3px;
        margin-right: 5px;
        cursor: pointer;
        height: 18px;
        line-height: 18px;
        text-align: center;
        border-radius: 5px;
        font-size: 12px;
      }
      .style1 {
        color: #fff;
        background: #f9a147;
      }
      .style2 {
        color: #f9a147;
        background: #fce5c1;
      }
    }
    .editidalog{
      .ipt-text{
        text-align:right;
        min-width:65px;
        max-width:80px;
        margin-right:10px;
        color: #999999;
      }
      .show-text{
        color: #333333;
      }
      .ta-right{
        color: #999999
      }
    }
    .addDialog{
      .cj-upload {
        width: 100%;
        > div {
          position: relative;
          width: 100%;
        }
        .u-ipt {
          padding-left: 10px;
          width: 100%;
          height: 34px;
          line-height: 34px;
          border: 1px solid #DCDFE6;
          border-radius: 4px;
        }
        .u-btn {
          max-width: 66px;
          min-width: 66px;
          height: 34px;
          line-height: 34px;
          text-align: center;
          color: #fff;
          border-radius: 0 4px 4px 0;
          border: 1px solid #DCDFE6;
          border-left: none;
        }
        .u-file {
          position: absolute;
          width: 100%;
          opacity: 0;
        }
      }
    }
    .redialog{
      .loading-box{
        width: 90px;
        height: 90px;
        margin: 30px auto;
        position: relative;
        >img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .img{
          z-index: 0;
          animation: scanLoading .8s linear infinite;
        }
        .img2{
          z-index: 1;
          animation: scanLoading2 .8s linear infinite;
        }
        @keyframes scanLoading {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(-360deg);
          }
        }
        @keyframes scanLoading2 {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
      .blue-tips{
        color: #1789F2;
        line-height: 30px;
        margin-bottom: 40px;
      }
      .success{
        color: $color-primary;
      }
      .error{
        color: $color-danger;
      }
    }
    .dialog-container {
      .pro-item {
        .item {
          font-weight: bold;
          padding: 10px 50px 10px 0;
          >span {
            font-weight: normal;
          }
        }
      }
      .dialog-bottom {
        position: absolute;
        left: 0;
        bottom: 30px;
        width: 100%;
        height: 110px;
        width: 825px;
        margin: 0 30px 46px;
        .added {
          height: 63px;
          width: 740px;
          font-size: 12px;
          color: #333333;
          .addedItem-box {
            .addedItem {
              width: 128px;
              height: 24px;
              color: #999999;
              background: #EBEBEB;
              border-radius: 12px;
              padding: 7px 9px;
              .nowrap {
                width: 95px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .clear {
          cursor: pointer;
          color: #999999;
          font-size: 12px;
        }
      }
    }
  }
</style>

<style lang="scss">
  @import '../../styles/variables.scss';
  .more {
    .el-icon-arrow-right:before {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .my-dialog {
    .red-tips {
      margin-top: 5px;
      color: $color-danger;
    }
  }
  .checklists {
    width: 288px;
    .el-checkbox {
      width: 50px !important;
      margin: 10px 0 0 !important;
    }
  }
  .tooltip-class {
    .el-table__body-wrapper .el-table__row {
      cursor: pointer !important;
      font-size: 12px;
    }
    &.is-light {
      border: 1px solid #fff;
    }
    .popper__arrow {
      color: #fff;
      background: #fff;
      border: 1px solid #fff;
    }
    .com-table-wrap .el-table .has-gutter th {
      font-size: 12px;
      padding: 11px 0;

      &.is-leaf {
        height: 34px !important;
      }
    }
  }
  .el-tooltip__popper{
    .blue {
      color: $color-primary !important;
    }
    .orange {
      color: $color-minor !important;
    }
  }
  .el-table__header-wrapper {
    .red {
      font-size: 10px;
      color: $color-danger;
      margin-left: 6px;
    }
  }
  .is-leaf {
    height: 59px !important;
  }
  .labeltip{
    display: flex !important;
    align-items: center !important;
    .el-table__column-filter-trigger{
      line-height: 1;
      .el-icon-arrow-down{
        font-size: 14px;
        font-weight: bold;
        transform: scale(1)
      }
    }
  }
  .cp {
    cursor: pointer;
  }
  .sort-img {
    width: 8px;
    height: 10px;
  }
  .dialog-container {
    .com-search2 {
      width: 200px;
      min-width: 200px;
    }
    .dialog-label {
      margin: 20px 6px 20px 16px;
      white-space: nowrap;
    }
    .small-select {
      .el-input--suffix input{
        width: 130px;
      }
    }

    .el-table__row {
      .red {
        cursor: pointer;
        color: $color-danger;
      }
      .blue {
        cursor: pointer;
        color: $color-primary;
      }
    }
  }
  .index-container{
    .flex-cw{
      padding: 2px 0;
      border-bottom: 1px solid #F3F3F4;
    }
    .com-label-text{
      padding: 2px 0;
    }
    .is-fold{
      border-bottom: none;
    }
    .screen .custom-type {
      .ipt-text {
        min-width: 20px;
      }
      .numipt {
        .el-input__inner {
          width: 96px;
          height: 30px;
        }
      }
    }
    .screen .cycle-wrap > span {
      min-width: auto !important;
    }
    .inquiry{
      .btn{
        >span{
          display: flex;
          align-items: center;
        }
      }
    }
    .table-box{
      .icon-wrap{
        .icons{
          cursor: pointer;
          margin-right: 15px;
          vertical-align: middle;
        }
      }
      .warnCol {
        color: $color-danger;
      }
      .rightCol {
        color: #00CC00;
      }
    }
    .set-list{
      .el-dialog__header{
        background-color: #ffffff;
        text-align: center;
        padding-top: 16px;
        .el-dialog__title{
          font-size: 12px;
          color: #333333;
          opacity: 0.3;
          position: relative;
          &::before{
            position: absolute;
            display: block;
            content: "";
            width: 50px;
            height: 1px;
            background: #333333;
            left: -58px;
            opacity: .3;
            top: 6px;
          }
          &::after{
            position: absolute;
            display: block;
            content: "";
            width: 50px;
            height: 1px;
            background: #333333;
            right: -58px;
            opacity: .3;
            top: 6px;
          }
        }
      }
    }
    .editidalog{
      .el-dialog__header{
        background: #ffffff;
      }
      .el-input__inner{
        // width: 310px;
        width: 100%;
        height: 32px;
      }
      .grade-area{
        .el-input--suffix{
          .el-input__suffix{
            top: 5px;
            right: 15px;
          }
        }
        .is-focus{
          .el-input__suffix{
            top: 0px;
          }
        }
        .el-input__inner{
          text-align: center;
        }
      }
      .ipt-area{
        .el-input__inner{
          width: 147px;
          height: 32px;
        }
        .el-input--suffix{
          .el-input__inner{
            text-align: center;
          }
          .el-input__suffix{
            top: 5px;
            right: 15px;
          }
        }
        .is-focus{
          .el-input__suffix{
            top: -1px;
            right: 15px;
          }
        }
      }
      .el-textarea__inner{
        background: #F6F9FE;
        width: 310px;
        height: 98px;
      }
      .ipt-price{
        .el-input-group__append{
          background: #ffffff;
        }
        .el-input-group--append{
          width: 310px;
          .el-input__inner{
            width: 255px;
            color: $color-minor;
          }
        }
      }
    }
    .com-dialog{
      .sel-time{
        width: 160px !important;
        .el-date-editor{
          width: 100%;
          .el-input__inner {
            width: 100%;
          }
        }
        .el-input__icon {
            line-height: 32px;
            color: $color-primary;
        }
      }
    }
  }
</style>
