<template>
  <div class="step-container flex-cc">
    <div class="line line2"></div>
    <div class="item-box">
      <div class="num-box">
        <div class="item flex-cc">1</div>
      </div>
      <div class="text">创建项目</div>
    </div>
    <div class="line" :class="curActive < 2 ? 'line-gray2' : ''"></div>
    <div class="item-box">
      <div class="num-box" :class="curActive < 2 ? 'line-gray' : ''">
        <div class="item flex-cc" >2</div>
      </div>
      <div class="text">导入工程数据</div>
    </div>
    <div class="line" :class="curActive < 3 ? 'line-gray2' : ''"></div>
    <div class="item-box">
      <div class="num-box" :class="curActive < 3 ? 'line-gray' : ''">
        <div class="item flex-cc">3</div>
      </div>
      <div class="text">数据标准化校验</div>
    </div>
    <div class="line line2" :class="curActive < 3 ? 'line-gray2' : ''"></div>
  </div>
</template>

<script>
export default {
  props: ['curActive'],
  data() {
    return {

    }
  },

  methods: {

  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/variables.scss';
  .step-container {
    height: 147px;
    background: #ffffff;
    min-width: 1030px;
    border-radius: 0 0 8px 8px;
    padding-bottom: 24px;
    .line {
      width: 111px;
      height: 2px;
      border-radius: 1px;
      background: $color-minor;
    }
    .line2 {
      width: 314px;
    }
    .item-box {
      text-align: center;
      position: relative;
      .num-box {
        padding: 5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        border: 2px solid $color-minor;
        .item{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: $color-minor;
        }
      }
      .text {
        color: $color-minor;
        margin-top: 8px;
        position: absolute;
        top: 68px;
        left: -18px;
        width: 100px;
        text-align: center;
      }
    }
    .line-gray{
      border-color: #bfbfbf !important;
      .item {
        background: #bfbfbf !important;
      }
    }
    .line-gray2{
      background: #bfbfbf !important;
    }
    .line-gray+.text,.line-gray+.text{
      color: #bfbfbf;
    }
  }
</style>
